openapi: 3.0.1
info:
  description: Bandwidth's Account Management API
  title: Accounts API
  version: 2.0.0
  contact:
    name: Bandwidth Support
    email: support@bandwidth.com
    url: https://support.bandwidth.com
  termsOfService: https://www.bandwidth.com/legal/terms-of-use-bandwidthcom-web-sites/
servers:
  - url: https://api.bandwidth.com/api/v2
    description: Production
paths:
  /accounts/{accountId}:
    get:
      operationId: getAccount
      summary: Retrieve account by ID
      tags:
        - Account
      description: >
        The account is the root resource for many of the operations in the
        Bandwidth App.

        The account is represented by an account ID, which is the resource that
        represents a Bandwidth customer, providing a root resource for all of
        the customer's attributes and services.

        The API calls that are used to manage the details of a customer account,
        and to manage the resources that a Bandwidth customer has access to or
        control over, are accessed through the /accounts resource.

        This API call retrieves information about the account indicated by the
        Account ID.


        **Addresses**: `Address` and `LinkedAddresses`


        - Address 
          - The service address of the account. Historically only US and Canadian addresses supported.
          - `Address` will continue to be populated as long as the address is US/ Canada based and only one linked address exists.
        - LinkedAddresses 
          - A list of address reference IDs that are linked at the account. 
          - These addresses can be fully international.
          - `LinkedAddresses` will replace `Address`, however will continue to be supported for US/ Canada addresses.  
          - A list of **one** address will be supported initially, however this will extend as more address usages are introduced.
          - `LinkedAddresses` can be created and managed through the /addresses resource. See: [Addresses](https://dev.bandwidth.com/apis/numbers-apis/end-user-management/#tag/Addresses/operation/createAddress) for more information.
          - A link to the individual Address API is returned within this object, see `Link`.
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/accountResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/accountNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/accountSystemErrorResponse'
  /accounts/{accountId}/sites:
    post:
      tags:
        - Sub-Accounts (Sites)
      description: Add a Sub-Account (Site) to the account
      summary: Create Sub-Account
      operationId: createSubAccount
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/createSubAccountRequest'
      responses:
        '201':
          $ref: '#/components/responses/subAccountCreatedResponse'
        '400':
          $ref: '#/components/responses/subAccountBadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '409':
          $ref: '#/components/responses/subAccountConflictErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/subAccountSystemErrorResponse'
    get:
      tags:
        - Sub-Accounts (Sites)
      description: Retrieve a list of all Sub-Accounts (Sites) associated with the account
      summary: List Sub-Accounts
      operationId: listSubAccounts
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/phoneNumberCounts'
        - $ref: '#/components/parameters/locationDetails'
        - $ref: '#/components/parameters/summary'
      responses:
        '200':
          $ref: '#/components/responses/subAccountsResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/subAccountsSystemErrorResponse'
  /accounts/{accountId}/sites/{siteId}:
    get:
      tags:
        - Sub-Accounts (Sites)
      description: Retrieves the information associated with the Sub-Account (Site) ID
      summary: Retrieve Sub-Account
      operationId: readSubAccount
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/subAccountResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/subAccountNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/subAccountSystemErrorResponse'
    put:
      tags:
        - Sub-Accounts (Sites)
      description: Updates the contents of Sub-Account (Site)
      summary: Update Sub-Account
      operationId: updateSubAccount
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/createSubAccountRequest'
      responses:
        '200':
          $ref: '#/components/responses/subAccountResponse'
        '400':
          $ref: '#/components/responses/subAccountBadRequestErrorResponsePut'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/subAccountNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/subAccountSystemErrorResponse'
    delete:
      tags:
        - Sub-Accounts (Sites)
      description: >-
        Deletes the Sub-Account (Site). Sub-Accounts (Sites) can only be deleted
        if there are no SIP Peers attached to it
      summary: Delete Sub-Account
      operationId: deleteSubAccount
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/successResponse200'
        '400':
          $ref: '#/components/responses/subAccountCantBeDeletedErrorResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/subAccountNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/subAccountSystemErrorResponse'
  /accounts/{accountId}/sites/{siteId}/sippeers:
    get:
      tags:
        - Locations (SIP Peers)
      description: >-
        Retrieve information about a location (SIP Peer) or set of locations on
        sub-account (site)
      summary: List Locations
      operationId: listLocations
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/locationsResponse'
        '400':
          $ref: '#/components/responses/locationResponseBadRequestType3'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    post:
      tags:
        - Locations (SIP Peers)
      description: >-
        Create Location (SIP Peer).<br>

        Possible errors in response:
        https://dev.bandwidth.com/docs/numbers/errors/#sippeervalidationerror
      summary: Create Location
      operationId: createLocation
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/createLocationRequest'
      responses:
        '201':
          $ref: '#/components/responses/locationCreatedResponse'
        '400':
          $ref: '#/components/responses/locationResponseBadRequestType1'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '409':
          $ref: '#/components/responses/locationResponseConflict'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: '#/components/responses/locationResponseServiceUnavailable'
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}:
    get:
      tags:
        - Locations (SIP Peers)
      description: Retrieves the information associated with the location (SIP Peer) ID
      summary: Retrieve Location
      operationId: readLocation
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/locationResponse'
        '400':
          $ref: '#/components/responses/locationResponseBadRequestType3'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/locationResponseNotFound'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    put:
      tags:
        - Locations (SIP Peers)
      description: >-
        There are a few rules used to eliminate IP address collisions.  The
        primary restriction is on the ability to share Term IP addresses across
        the Bandwidth API structural elements. Essentially...

        <ul>
          <li>Term Addresses cannot be shared anywhere</li>
          <li>VoiceHost and VoiceHostGroup addresses can be shared between locations and can be different than or the same as Term IP Addresses </li>
        </ul>

        If the CallingName field is missing from the payload, CNAM will default
        to false on the location.<br>

        Possible errors in response:
        https://dev.bandwidth.com/docs/numbers/errors/#sippeervalidationerror
      summary: Update Location
      operationId: updateLocation
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/updateLocationRequest'
      responses:
        '200':
          $ref: '#/components/responses/successResponse200'
        '400':
          $ref: '#/components/responses/locationResponseBadRequestType1'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/locationResponseNotFound'
        '409':
          $ref: '#/components/responses/locationResponseConflict'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    delete:
      tags:
        - Locations (SIP Peers)
      description: >-
        Delete Location (SIP Peer). <br>

        Possible errors in response:

        <ul><li>Delete not allowed while a Location (SIP Peer) has SMS
        feature</li></ul>
      summary: Delete Location
      operationId: deleteLocation
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/locationDeleteResponse'
        '400':
          $ref: '#/components/responses/locationResponseBadRequestType2'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/locationResponseNotFound'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/totalSeats:
    get:
      tags:
        - Account
      description: Retrieves the total number of seats on account
      operationId: getAccountTotalSeats
      summary: Retrieve the total number of seats on account
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/totalSeatsResponse'
        '400':
          $ref: '#/components/responses/totalSeatsBadRequestErrorResponse'
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/totalSeats:
    get:
      tags:
        - Locations (SIP Peers)
      description: Retrieves the total number of seats on a Location (SIP Peer)
      operationId: getLocationTotalSeats
      summary: Get Total Seats for Location
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/sippeerTotalSeatsSuccessResponse'
        '400':
          $ref: '#/components/responses/sippeerTotalSeatsBadRequestErrorResponse'
  /admin/data/a2pClasses:
    get:
      tags:
        - Admin Data
      description: Retrieves A2P Classes.
      operationId: readA2pClasses
      summary: List A2pClasses
      responses:
        '200':
          $ref: '#/components/responses/a2pClassListResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/adminDataErrorResponse500'
  /admin/data/a2pClasses/{messageClass}:
    get:
      tags:
        - Admin Data
      description: Retrieve A2P Class.
      operationId: readA2pClass
      summary: Retrieve A2P Class
      parameters:
        - $ref: '#/components/parameters/messageClassPathParam'
      responses:
        '200':
          $ref: '#/components/responses/a2pClassResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/a2pClassNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/adminDataErrorResponse500'
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/associatedOutboundNumbers:
    get:
      tags:
        - Locations (SIP Peers)
      description: >-
        Retrieve list of Associated Outbound Numbers associated with the
        Location. If none exist, an empty list is returned.
      operationId: retrieveSipPeerAssociatedOutboundNumbers
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
        - $ref: '#/components/parameters/paginationPageQueryParam'
        - $ref: '#/components/parameters/paginationSizeQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/associatedOutboundNumbersResponse'
        '400':
          $ref: '#/components/responses/associatedOutboundNumbersResponseBadRequest'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
      summary: List Outbound Numbers by Location
    post:
      tags:
        - Locations (SIP Peers)
      description: Submit a list of new Associated Outbound Numbers.
      operationId: uploadSipPeerAssociatedOutboundNumbers
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/associatedOutboundNumbersRequest'
      responses:
        '200':
          $ref: '#/components/responses/createAssociatedOutboundNumbersResponse'
        '400':
          $ref: '#/components/responses/associatedOutboundNumbersResponseBadRequest'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
      summary: Associate Phone Numbers with a Location
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/associatedOutboundNumbers/{associatedOutboundNumberId}:
    delete:
      tags:
        - Locations (SIP Peers)
      description: Delete Associated Outbound Number from SIP Peer.
      operationId: deleteSipPeerAssociatedOutboundNumbers
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
        - $ref: '#/components/parameters/associatedOutboundNumberIdParam'
      responses:
        '200':
          $ref: '#/components/responses/successResponse200'
        '400':
          $ref: '#/components/responses/associatedOutboundNumbersResponseBadRequest'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/associatedOutboundNumbersResponseNotFound'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
      summary: Delete Number from Location
  /accounts/{accountId}/sites/{siteId}/totalSeats:
    get:
      tags:
        - Sub-Accounts (Sites)
      description: Retrieves the total number of seats on a Sub-Account (Site)
      operationId: getSubAccountTotalSeats
      summary: Retrieve count of UC trunking seats by Sub-Account (Site)
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/subAccountTotalSeatsSuccessResponse'
        '400':
          $ref: '#/components/responses/subAccountTotalSeatsBadRequestErrorResponse'
components:
  parameters:
    accountIdPathParam:
      description: User's account ID.
      example: '1234567'
      in: path
      name: accountId
      required: true
      schema:
        type: string
    phoneNumberCounts:
      name: phoneNumberCounts
      description: >-
        Provides response payload with total phone number count for every
        Sub-Account on Account if specified as true
      in: query
      required: false
      schema:
        type: boolean
        default: false
      example: true
    locationDetails:
      name: locationDetails
      description: >
        Provides a response payload with a list of locations for every
        Sub-Account on Account with fields:   
          <ul>
            <li>LocationId (PeerId)</li>
            <li>LocationName (PeerName)</li>
            <li>Description</li>
            <li>IsDefaultLocation (IsDefaultPeer)</li>
            <li>Address</li>
            <li>FinalDestinationUri</li>
            <li>PremiseTrunks</li>
            <li>CallingName</li>
            <li>SsSendToCustomer</li>
          </ul>  
          <p>Also each Sub-Account will contain a count of locations on it:</p>
          <ul>
            <li>SipPeerCount</li>
          </ul>
      in: query
      required: false
      schema:
        type: boolean
        default: false
      example: true
    summary:
      name: summary
      description: >-
        Provides response payload with list of basic information about every
        Location for every Sub-Account on Account and overrides sipPeerDetails
        parameter if specified as true
      in: query
      required: false
      schema:
        type: boolean
        default: false
      example: true
    subAccountIdPathParam:
      name: siteId
      description: Sub-Account ID
      in: path
      required: true
      schema:
        type: integer
      example: 407
    locationIdPathParam:
      name: sipPeerId
      description: ID of the location
      in: path
      required: true
      schema:
        type: integer
      example: 500017
    messageClassPathParam:
      name: messageClass
      description: Message Class name
      in: path
      required: true
      schema:
        type: string
      example: TestClass
    paginationPageQueryParam:
      description: >-
        Retrievals must be paginated, using page and size indicators.  The page
        parameter contains the page number, e.g. "1" in the case of the first
        page
      example: 1
      in: query
      name: page
      required: true
      schema:
        type: integer
    paginationSizeQueryParam:
      description: >-
        The size parameter indicates the number of Associated Outbound Numbers
        to return in the payload
      example: 10
      in: query
      name: size
      required: true
      schema:
        type: integer
    associatedOutboundNumberIdParam:
      in: path
      name: associatedOutboundNumberId
      required: true
      schema:
        type: integer
  requestBodies:
    createSubAccountRequest:
      description: Sub-Account (Site) Request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/createSubAccountXmlRequest'
          examples:
            Non-UC Example:
              $ref: '#/components/examples/createSubAccountForNonUcXmlExample'
            UC Example:
              $ref: '#/components/examples/createSubAccountForUcXmlExample'
            Global Address Example:
              $ref: '#/components/examples/createSubAccountForGlobalAddressXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/createSubAccountJsonRequest'
          examples:
            Non-UC Example:
              $ref: '#/components/examples/createSubAccountForNonUcJsonExample'
            UC Example:
              $ref: '#/components/examples/createSubAccountForUcJsonExample'
            Global Address Example:
              $ref: >-
                #/components/examples/createSubAccountForGlobalAddressJsonExample
    createLocationRequest:
      description: Create Location (SIP Peer) Request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/createLocationXmlRequest'
          examples:
            createLocationWithVoiceHostsExample:
              $ref: '#/components/examples/createLocationWithVoiceHostsXmlExample'
            createLocationWithVoiceHostGroupsExample:
              $ref: >-
                #/components/examples/createLocationWithVoiceHostGroupsXmlExample
            createLocationWithOriginationRoutePlanExample:
              $ref: >-
                #/components/examples/createLocationWithOriginationRoutePlanXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/createLocationJsonRequest'
          examples:
            createLocationWithVoiceHostsExample:
              $ref: '#/components/examples/createLocationWithVoiceHostsJsonExample'
            createLocationWithVoiceHostGroupsExample:
              $ref: >-
                #/components/examples/createLocationWithVoiceHostGroupsJsonExample
            createLocationWithOriginationRoutePlanExample:
              $ref: >-
                #/components/examples/createLocationWithOriginationRoutePlanJsonExample
    updateLocationRequest:
      description: Update Location (SIP Peer) Request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/updateLocationXmlRequest'
          examples:
            updateLocationExample:
              $ref: '#/components/examples/updateLocationXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/updateLocationJsonRequest'
          examples:
            updateLocationExample:
              $ref: '#/components/examples/updateLocationJsonExample'
    associatedOutboundNumbersRequest:
      content:
        application/xml:
          examples:
            associatedOutboundNumbersRequestExample:
              $ref: >-
                #/components/examples/createAssociatedOutboundNumbersRequestXmlExample
          schema:
            properties:
              AssociatedOutboundNumbers:
                $ref: '#/components/schemas/associatedOutboundNumberRequest'
        application/json:
          examples:
            associatedOutboundNumbersRequestExample:
              $ref: >-
                #/components/examples/createAssociatedOutboundNumbersRequestJsonExample
          schema:
            properties:
              associatedOutboundNumbers:
                type: array
                items:
                  $ref: '#/components/schemas/associatedOutboundNumberRequestJson'
      description: OK
  responses:
    successResponse201:
      description: Created
    successResponse200:
      description: OK
    errorResponse401:
      description: Unauthorized
    errorResponse403:
      description: Forbidden
    errorResponse404:
      description: Not Found
    errorResponse429:
      description: Too Many Requests
    errorResponse500:
      description: Internal Server Error
    totalSeatsResponse:
      description: OK
      content:
        application/xml:
          examples:
            totalSeatsSuccessExample:
              $ref: '#/components/examples/totalSeatsSuccessXmlExample'
          schema:
            $ref: '#/components/schemas/accountUcTrunkingSeats'
        application/json:
          examples:
            totalSeatsSuccessJsonExample:
              $ref: '#/components/examples/totalSeatsSuccessJsonExample'
          schema:
            $ref: '#/components/schemas/accountUcTrunkingSeatsJson'
    totalSeatsBadRequestErrorResponse:
      description: Bad Request
      content:
        application/xml:
          examples:
            totalSeatsErrorExample:
              $ref: '#/components/examples/totalSeatsErrorXmlExample'
          schema:
            $ref: '#/components/schemas/totalSeatsBadResponse'
        application/json:
          examples:
            totalSeatsErrorJsonExample:
              $ref: '#/components/examples/totalSeatsErrorJsonExample'
          schema:
            $ref: '#/components/schemas/responseStatusJson'
    sippeerTotalSeatsSuccessResponse:
      description: OK
      content:
        application/xml:
          examples:
            sippeerTotalSeatsSuccessExample:
              $ref: '#/components/examples/sippeerTotalSeatsSuccessXmlExample'
          schema:
            $ref: '#/components/schemas/sippeerUcTrunkingSeats'
        application/json:
          examples:
            totalSeatsSuccessJsonExample:
              $ref: '#/components/examples/totalSeatsSuccessJsonExample'
          schema:
            $ref: '#/components/schemas/accountUcTrunkingSeatsJson'
    sippeerTotalSeatsBadRequestErrorResponse:
      description: Bad Request
      content:
        application/xml:
          examples:
            sippeerTotalSeatsErrorExample:
              $ref: '#/components/examples/sippeerTotalSeatsErrorXmlExample'
          schema:
            $ref: '#/components/schemas/sippeerTotalSeatsBadResponse'
        application/json:
          examples:
            sippeerTotalSeatsErrorJsonExample:
              $ref: '#/components/examples/totalSeatsErrorJsonExample'
          schema:
            $ref: '#/components/schemas/responseStatusJson'
    accountNotFoundErrorResponse:
      description: Not Found
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/accountErrorResponseXmlWrapper'
          examples:
            accountExample:
              $ref: '#/components/examples/accountNotFoundResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            accountExample:
              $ref: '#/components/examples/accountNotFoundResponseJsonExample'
    accountSystemErrorResponse:
      description: System Error
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/accountErrorResponseXmlWrapper'
          examples:
            accountExample:
              $ref: '#/components/examples/accountSystemErrorResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            accountExample:
              $ref: '#/components/examples/accountSystemErrorResponseJsonExample'
    accountResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/accountResponseXmlWrapper'
          examples:
            accountExample:
              $ref: '#/components/examples/accountResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/accountJson'
          examples:
            accountExample:
              $ref: '#/components/examples/accountResponseJsonExample'
    subAccountTotalSeatsSuccessResponse:
      description: OK
      content:
        application/xml:
          examples:
            totalSeatsSuccessExample:
              $ref: '#/components/examples/subAccountTotalSeatsSuccessXmlExample'
          schema:
            $ref: '#/components/schemas/subAccountUcTrunkingSeats'
        application/json:
          examples:
            totalSeatsSuccessJsonExample:
              $ref: '#/components/examples/totalSeatsSuccessJsonExample'
          schema:
            $ref: '#/components/schemas/accountUcTrunkingSeatsJson'
    subAccountTotalSeatsBadRequestErrorResponse:
      description: Bad Request
      content:
        application/xml:
          examples:
            subAccountTotalSeatsErrorExample:
              $ref: '#/components/examples/subAccountTotalSeatsErrorXmlExample'
          schema:
            $ref: '#/components/schemas/subAccountTotalSeatsBadRequestResponse'
        application/json:
          examples:
            subAccountTotalSeatsErrorJsonExample:
              $ref: '#/components/examples/totalSeatsErrorJsonExample'
          schema:
            $ref: '#/components/schemas/responseStatusJson'
    locationCreatedResponse:
      description: Created
      headers:
        Location:
          description: The URL of the created Location (SIP Peer)
          schema:
            type: string
          example: >-
            https://api.bandwidth.com/api/v2/accounts/1234567/sites/407/sippeers/500017
    locationsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/tnLocationsResponse'
          examples:
            locationsExample:
              $ref: '#/components/examples/locationsXmlExample'
        application/json:
          schema:
            properties:
              locations:
                type: array
                items:
                  $ref: '#/components/schemas/locationJson'
          examples:
            locationsExample:
              $ref: '#/components/examples/locationsJsonExample'
    locationResponse:
      description: OK
      content:
        application/xml:
          schema:
            type: object
            properties:
              SipPeerResponse:
                $ref: '#/components/schemas/locationResponse'
          examples:
            locationExample:
              $ref: '#/components/examples/locationXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/locationJson'
          examples:
            locationExample:
              $ref: '#/components/examples/locationJsonExample'
    locationDeleteResponse:
      description: OK
      content:
        application/xml:
          schema:
            type: object
            properties:
              SipPeerResponse:
                $ref: '#/components/schemas/deleteLocationXmlResponse'
          examples:
            locationExample:
              $ref: '#/components/examples/deleteLocationXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/deleteLocationJsonResponse'
          examples:
            locationExample:
              $ref: '#/components/examples/deleteLocationJsonExample'
    locationResponseBadRequestType1:
      description: Bad Request
      content:
        application/xml:
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <SipPeerResponse>
                   <ResponseStatus>
                      <ErrorCode>13582</ErrorCode>
                      <Description>Enforce option is missing</Description>
                   </ResponseStatus>
                </SipPeerResponse>
          schema:
            $ref: '#/components/schemas/locationResponseBadRequest'
        application/json:
          examples:
            example:
              value:
                errorCode: 13582
                description: Enforce option is missing
          schema:
            $ref: '#/components/schemas/errorResponseJson'
    locationResponseBadRequestType2:
      description: Bad Request
      content:
        application/xml:
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <SipPeerResponse>
                   <ResponseStatus>
                      <ErrorCode>13613</ErrorCode>
                      <Description>Delete not allowed while a Location (SIP Peer) has SMS feature</Description>
                   </ResponseStatus>
                </SipPeerResponse>
          schema:
            $ref: '#/components/schemas/locationResponseBadRequest'
        application/json:
          examples:
            example:
              value:
                errorCode: 13613
                description: Delete not allowed while a Location (SIP Peer) has SMS feature
          schema:
            $ref: '#/components/schemas/errorResponseJson'
    locationResponseBadRequestType3:
      description: Bad Request
      content:
        application/xml:
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <SipPeersResponse>
                   <ResponseStatus>
                      <ErrorCode>4014</ErrorCode>
                      <Description>The SiteId submitted is invalid.</Description>
                   </ResponseStatus>
                </SipPeersResponse>
          schema:
            $ref: '#/components/schemas/locationResponseBadRequest'
        application/json:
          examples:
            example:
              value:
                errorCode: 4014
                description: The SiteId submitted is invalid.
          schema:
            $ref: '#/components/schemas/errorResponseJson'
    locationResponseNotFound:
      description: Not Found
      content:
        application/xml:
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <SipPeerResponse>
                  <ResponseStatus>
                     <ErrorCode>13563</ErrorCode>
                     <Description>Location (Sip Peer) '316167' account '9999999' and sub-account (site) '45' does not exist</Description>
                  </ResponseStatus>
                </SipPeerResponse>
          schema:
            $ref: '#/components/schemas/locationResponseBadRequest'
        application/json:
          examples:
            example:
              value:
                errorCode: 13563
                description: >-
                  Location (Sip Peer) '316167' account '9999999' and sub-account
                  (site) '45' does not exist
          schema:
            $ref: '#/components/schemas/errorResponseJson'
    locationResponseConflict:
      description: Conflict
      content:
        application/xml:
          examples:
            example:
              value: >-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>

                <SipPeerResponse>
                   <ResponseStatus>
                      <ErrorCode>12112</ErrorCode>
                      <Description>The verifiable address closest to the submitted access is included below. Please use that street address or another valid street address in your next request</Description>
                   </ResponseStatus>
                   <AddressErrorDescription>
                      <AddressInconsistencies>Some adjustments are required to allow the address to pass geocoding:
                Specified value - City : "WASHINGTUN" Valid value -
                "WASHINGTON"</AddressInconsistencies>
                      <RecommendedAddress>
                         <AddressLine1>1600 PENNSYLVANIA AVE NW</AddressLine1>
                         <HouseNumber>1600</HouseNumber>
                         <StreetName>PENNSYLVANIA</StreetName>
                         <StreetSuffix>AVE</StreetSuffix>
                         <PostDirectional>NW</PostDirectional>
                         <City>WASHINGTON</City>
                         <StateCode>DC</StateCode>
                         <Zip>20500</Zip>
                         <Country>US</Country>
                      </RecommendedAddress>
                   </AddressErrorDescription>
                </SipPeerResponse>
          schema:
            $ref: '#/components/schemas/locationResponseConflict'
        application/json:
          examples:
            example:
              value:
                errorCode: 13582
                description: Enforce option is missing
                addressInconsistencies: >-
                  Some adjustments are required to allow the address to pass
                  geocoding: Specified value - City : WASHINGTUN Valid value -
                  WASHINGTON
                recommendedAddress:
                  addressLine1: 1600 PENNSYLVANIA AVE NW
                  houseNumber: '1600'
                  streetName: PENNSYLVANIA
                  streetSuffix: AVE
                  postDirectional: NW
                  city: WASHINGTON
                  stateCode: DC
                  zip: '20500'
                  country: US
          schema:
            $ref: '#/components/schemas/locationResponseConflictJson'
    locationResponseServiceUnavailable:
      description: Service unavailable
      content:
        application/xml:
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <SipPeerResponse>
                   <ResponseStatus>
                      <ErrorCode>13566</ErrorCode>
                      <Description>Service is unavailable</Description>
                   </ResponseStatus>
                </SipPeerResponse>
          schema:
            $ref: '#/components/schemas/locationResponseBadRequest'
        application/json:
          examples:
            example:
              value:
                errorCode: 13566
                description: Service is unavailable
          schema:
            $ref: '#/components/schemas/errorResponseJson'
    subAccountCreatedResponse:
      description: Created
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/subAccountResponseXmlWrapper'
          examples:
            siteExample:
              $ref: '#/components/examples/subAccountResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/subAccountJson'
          examples:
            subAccountExample:
              $ref: '#/components/examples/subAccountResponseJsonExample'
    subAccountResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/subAccountResponseXmlWrapper'
          examples:
            siteExample:
              $ref: '#/components/examples/subAccountResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/subAccountJson'
          examples:
            subAccountExample:
              $ref: '#/components/examples/subAccountResponseJsonExample'
    subAccountBadRequestErrorResponse:
      description: Bad Request
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/subAccountErrorResponseXmlWrapper'
          examples:
            siteExample:
              $ref: '#/components/examples/subAccountBadRequestResponseXmlExample'
        application/json:
          schema:
            anyOf:
              - $ref: '#/components/schemas/errorResponseJson'
              - $ref: '#/components/schemas/genericJsonResponse'
          examples:
            subAccountExample:
              $ref: '#/components/examples/subAccountBadRequestResponseJsonExample'
            genericJsonErrorExample:
              $ref: '#/components/examples/genericJsonErrorForSubAccountExamplePost'
    subAccountBadRequestErrorResponsePut:
      description: Bad Request
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/subAccountErrorResponseXmlWrapper'
          examples:
            siteExample:
              $ref: '#/components/examples/subAccountBadRequestResponseXmlExample'
        application/json:
          schema:
            anyOf:
              - $ref: '#/components/schemas/errorResponseJson'
              - $ref: '#/components/schemas/genericJsonResponse'
          examples:
            subAccountExample:
              $ref: '#/components/examples/subAccountBadRequestResponseJsonExample'
            genericJsonErrorExample:
              $ref: '#/components/examples/genericJsonErrorForSubAccountExamplePut'
    subAccountConflictErrorResponse:
      description: Conflict
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/subAccountErrorResponseXmlWrapper'
          examples:
            siteExample:
              $ref: '#/components/examples/subAccountConflictResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            subAccountExample:
              $ref: '#/components/examples/subAccountConflictResponseJsonExample'
    subAccountsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/subAccountsResponseXmlWrapper'
          examples:
            sitesExample:
              $ref: '#/components/examples/subAccountsResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/subAccountsResponseJsonObject'
          examples:
            subAccountsExample:
              $ref: '#/components/examples/subAccountsResponseJsonExample'
    subAccountNotFoundErrorResponse:
      description: Not Found
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/subAccountErrorResponseXmlWrapper'
          examples:
            siteExample:
              $ref: '#/components/examples/subAccountNotFoundResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            subAccountExample:
              $ref: '#/components/examples/subAccountNotFoundResponseJsonExample'
    subAccountCantBeDeletedErrorResponse:
      description: Bad Request
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/subAccountErrorResponseXmlWrapper'
          examples:
            siteExample:
              $ref: '#/components/examples/subAccountCantBeDeletedResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            subAccountExample:
              $ref: '#/components/examples/subAccountCantBeDeletedResponseJsonExample'
    subAccountSystemErrorResponse:
      description: System Error
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/subAccountErrorResponseXmlWrapper'
          examples:
            accountExample:
              $ref: '#/components/examples/subAccountSystemErrorResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            accountExample:
              $ref: '#/components/examples/subAccountSystemErrorResponseJsonExample'
    subAccountsSystemErrorResponse:
      description: System Error
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/subAccountsErrorResponseXmlWrapper'
          examples:
            accountExample:
              $ref: '#/components/examples/subAccountsSystemErrorResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            accountExample:
              $ref: '#/components/examples/subAccountSystemErrorResponseJsonExample'
    a2pClassListResponse:
      description: Ok
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/a2pClassListResponse'
          examples:
            a2pClassListResponseExample:
              $ref: '#/components/examples/a2pClassListResponseExample'
        application/json:
          schema:
            $ref: '#/components/schemas/a2pClassListResponseJson'
          examples:
            a2pClassListResponseExample:
              $ref: '#/components/examples/a2pClassListResponseExampleJson'
    a2pClassResponse:
      description: Ok
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/a2pClassResponse'
          examples:
            a2pClassResponseExample:
              $ref: '#/components/examples/a2pClassResponseExample'
        application/json:
          schema:
            $ref: '#/components/schemas/a2pClassJson'
          examples:
            a2pClassResponseExample:
              $ref: '#/components/examples/a2pClassResponseExampleJson'
    a2pClassNotFoundResponse:
      description: A2P Class not found
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/adminDataErrorResponse'
          examples:
            a2pClassNotFoundExample:
              $ref: '#/components/examples/a2pClassNotFoundExample'
        application/json:
          schema:
            $ref: '#/components/schemas/adminDataErrorResponseJson'
          examples:
            a2pClassNotFoundExample:
              $ref: '#/components/examples/a2pClassNotFoundExampleJson'
    adminDataErrorResponse500:
      description: Internal Server Error
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/adminDataErrorResponse'
          examples:
            adminDataErrorResponse500:
              $ref: '#/components/examples/adminDataErrorResponse500'
        application/json:
          schema:
            $ref: '#/components/schemas/adminDataErrorResponseJson'
          examples:
            adminDataErrorResponse500:
              $ref: '#/components/examples/adminDataErrorResponse500Json'
    associatedOutboundNumbersResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/associatedOutboundNumbersResponseWrapper'
          examples:
            associatedOutboundNumbersExample:
              $ref: '#/components/examples/associatedOutboundNumbersXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/associatedOutboundNumbersResponseJson'
          examples:
            associatedOutboundNumbersExample:
              $ref: '#/components/examples/associatedOutboundNumbersJsonExample'
    createAssociatedOutboundNumbersResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: >-
              #/components/schemas/associatedOutboundNumbersCreateResponseWrapper
          examples:
            associatedOutboundNumbersExample:
              $ref: >-
                #/components/examples/createAssociatedOutboundNumbersResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/associatedOutboundNumbersCreateResponseJson'
          examples:
            associatedOutboundNumbersExample:
              $ref: >-
                #/components/examples/createAssociatedOutboundNumbersResponseJsonExample
    associatedOutboundNumbersResponseBadRequest:
      description: Bad Request
      content:
        application/xml:
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <AssociatedOutboundNumbersResponse>
                   <ResponseStatus>
                      <ErrorCode>4014</ErrorCode>
                      <Description>The SiteId submitted is invalid.</Description>
                   </ResponseStatus>
                </AssociatedOutboundNumbersResponse>
          schema:
            $ref: '#/components/schemas/associatedOutboundNumbersErrorResponse'
        application/json:
          examples:
            example:
              value:
                errorCode: 4014
                description: The SiteId submitted is invalid.
          schema:
            $ref: '#/components/schemas/errorResponseJson'
    associatedOutboundNumbersResponseNotFound:
      description: Not Found
      content:
        application/xml:
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <AssociatedOutboundNumbersResponse>
                   <ResponseStatus>
                      <ErrorCode>13704</ErrorCode>
                      <Description>Outbound Number Id 1 does not exist for location [ID: 500020].</Description>
                   </ResponseStatus>
                </AssociatedOutboundNumbersResponse>
          schema:
            $ref: '#/components/schemas/associatedOutboundNumbersErrorResponse'
        application/json:
          examples:
            example:
              value:
                errorCode: 13704
                description: 'Outbound Number Id 1 does not exist for location [ID: 500020].'
          schema:
            $ref: '#/components/schemas/errorResponseJson'
  examples:
    accountNotFoundResponseXmlExample:
      description: An example of an account not found response in XML format
      value: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <AccountResponse>
          <ResponseStatus>
            <ErrorCode>4022</ErrorCode>
            <Description>Account '14353' does not exist or is locked</Description>
          </ResponseStatus>
        </AccountResponse>
    accountSystemErrorResponseXmlExample:
      description: An example of a system error response in XML format
      value: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <AccountResponse>
          <ResponseStatus>
            <ErrorCode>1010</ErrorCode>
            <Description>Something unexpected happened and has been logged (id=2e91ed6f-53af-4854-a33f-6ebd32f6e9cf). 
              Please contact Bandwidth support with this error ID to resolve the issue with our development team.
            </Description>
          </ResponseStatus>
        </AccountResponse>
    accountResponseXmlExample:
      description: An example of an account response in XML format
      value: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <AccountResponse>
          <Account>
            <AccountId>14</AccountId>
            <AssociatedCatapultAccount>u-ertyhgfd12dcvdhnboklk</AssociatedCatapultAccount>
            <GlobalAccountNumber>BW-7123456</GlobalAccountNumber>
            <CompanyName>CWI Hosting</CompanyName>
            <AccountType>Business</AccountType>
            <NenaId/>
            <CustomerSegment>Trial</CustomerSegment>
            <Status>Active</Status>
            <Tiers>
              <Tier>0</Tier>
            </Tiers>
            <Address>
              <HouseNumber>123</HouseNumber>
              <HouseSuffix>E</HouseSuffix>
              <PreDirectional/>
              <StreetName>Main</StreetName>
              <StreetSuffix>St</StreetSuffix>
              <PostDirectional/>
              <AddressLine2>Apt 12B</AddressLine2>
              <City>Raleigh</City>
              <StateCode>NC</StateCode>
              <Zip>27607</Zip>
              <PlusFour>1234</PlusFour>
              <County>Wake</County>
              <Country>United States</Country>
              <AddressType>Billing</AddressType>
            </Address>
            <LinkedAddresses>
              <LinkedAddress>
                <AddressId>daa9dd0f-de97-4103-8530-b31bf4be8fc0</AddressId>
                <AddressType>Service</AddressType>
                <Link>https://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0</Link>
              </LinkedAddress>
            </LinkedAddresses> 
            <Contact>
              <FirstName>Sanjay</FirstName>
              <LastName>Rao</LastName>
              <Phone>+19195441234</Phone>
              <Email>srao@bandwidth.com</Email>
            </Contact>
            <AltSpid>X455</AltSpid>
            <SPID>9999</SPID>
            <PortCarrierType>WIRELINE</PortCarrierType>
            <TestAccount>false</TestAccount>
            <SupportLevel>Signature</SupportLevel>
          </Account>
        </AccountResponse>
    accountNotFoundResponseJsonExample:
      description: An example of an account not found response in JSON format
      value:
        errorCode: 4022
        description: Account '14353' does not exist or is locked
    accountSystemErrorResponseJsonExample:
      description: An example of a system error response in JSON format
      value:
        errorCode: 1010
        description: >
          Something unexpected happened and has been logged
          (id=5bdf62d9-64f5-4a67-ab32-9117e4fa3001). 

          Please contact Bandwidth support with this error ID to resolve the
          issue with our development team.
    accountResponseJsonExample:
      description: An example of an account response in JSON format
      value:
        accountId: 14
        associatedCatapultAccount: u-ertyhgfd12dcvdhnboklk
        globalAccountNumber: BW-7123456
        companyName: CWI Hosting
        accountType: Business
        customerSegment: Trial
        status: Active
        tiers:
          - 0
        address:
          houseNumber: '123'
          houseSuffix: E
          preDirectional: SE
          streetName: Main
          streetSuffix: St
          postDirectional: NW
          addressLine2: Apt 12B
          city: Raleigh
          stateCode: NC
          zip: '27607'
          plusFour: '1234'
          county: Wake
          country: United States
          addressType: Billing
        linkedAddresses:
          - addressId: daa9dd0f-de97-4103-8530-b31bf4be8fc0
            addressType: Service
            link: >-
              https://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0
        contact:
          firstName: Sanjay
          lastName: Rao
          phoneNumber: '+19195441234'
          email: srao@bandwidth.com
        altSpid: X455
        spid: '9999'
        portCarrierType: WIRELINE
        testAccount: false
        supportLevel: Signature
    totalSeatsSuccessXmlExample:
      description: An example of total seats displayed for an account
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <AccountTotalSeatsResponse>
            <UcTrunkingSeats>
                <TotalCount>12</TotalCount>
            </UcTrunkingSeats>
        </AccountTotalSeatsResponse>
    totalSeatsErrorXmlExample:
      value: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <AccountTotalSeatsResponse>
           <ResponseStatus>
              <ErrorCode>12017</ErrorCode>
              <Description>Account '12346099' does not have product 'UcTrunking'</Description>
           </ResponseStatus>
        </AccountTotalSeatsResponse>
    sippeerTotalSeatsSuccessXmlExample:
      description: An example of total seats displayed for a Location (SIP Peer)
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <SipPeerTotalSeatsResponse>
            <UcTrunkingSeats>
                <TotalCount>12</TotalCount>
            </UcTrunkingSeats>
        </SipPeerTotalSeatsResponse>
    sippeerTotalSeatsErrorXmlExample:
      value: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <SipPeerTotalSeatsResponse>
           <ResponseStatus>
              <ErrorCode>12017</ErrorCode>
              <Description>Account '12346099' does not have product 'UcTrunking'</Description>
           </ResponseStatus>
        </SipPeerTotalSeatsResponse>
    totalSeatsErrorJsonExample:
      description: example
      value:
        errorCode: 12017
        description: Account '14' does not have product 'UcTrunking'
    totalSeatsSuccessJsonExample:
      description: example
      value:
        ucTrunkingSeats:
          phoneNumberCount: 12
    createSubAccountForNonUcXmlExample:
      description: An example of a Sub-Account request for NON-UC accounts
      value: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Site>
           <Name>Raleigh</Name>
           <Description>Test Gateway</Description>
           <CustomerName>BW</CustomerName>
           <Address>
              <HouseNumber>1600</HouseNumber>
              <StreetName>PENNSYLVANIA</StreetName>
              <StreetSuffix>AVE</StreetSuffix>
              <PostDirectional>NW</PostDirectional>
              <City>WASHINGTON</City>
              <StateCode>DC</StateCode>
              <Zip>20006</Zip>
              <Country>US</Country>
           </Address>
           <LinkedAddresses>
              <LinkedAddress>
                <AddressId>daa9dd0f-de97-4103-8530-b31bf4be8fc0</AddressId>
                <AddressType>Service</AddressType>
                <Link>https://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0</Link>
              </LinkedAddress>
           </LinkedAddresses> 
        </Site>
    createSubAccountForUcXmlExample:
      description: An example of a Sub-Account request for UC accounts
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <Site>
           <Name>Raleigh</Name>
           <Description>Test Gateway</Description>
           <CustomerName>BW</CustomerName>
           <Address>
              <HouseNumber>1600</HouseNumber>
              <StreetName>PENNSYLVANIA</StreetName>
              <StreetSuffix>AVE</StreetSuffix>
              <PostDirectional>NW</PostDirectional>
              <City>WASHINGTON</City>
              <StateCode>DC</StateCode>
              <Zip>20006</Zip>
              <Country>US</Country>
           </Address>
           <LinkedAddresses>
              <LinkedAddress>
                <AddressId>daa9dd0f-de97-4103-8530-b31bf4be8fc0</AddressId>
                <AddressType>Service</AddressType>
                <Link>https://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0</Link>
              </LinkedAddress>
           </LinkedAddresses> 
           <UcTrunkingConfiguration>
              <Type>Seats</Type>
              <UsageCategory>UC500</UsageCategory>
           </UcTrunkingConfiguration>
        </Site>
    createSubAccountForGlobalAddressXmlExample:
      description: An example of a Sub-Account request for accounts with global addresses
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <Site>
           <Name>Raleigh</Name>
           <Description>Test Gateway</Description>
           <CustomerName>BW</CustomerName>
           <LinkedAddresses>
             <LinkedAddress>
               <AddressId>daa9dd0f-de97-4103-8530-b31bf4be8fc0</AddressId>
               <AddressType>Service</AddressType>
               <Link>https://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0</Link>
             </LinkedAddress>
           </LinkedAddresses>  
           <UcTrunkingConfiguration>
              <Type>Seats</Type>
              <UsageCategory>UC500</UsageCategory>
           </UcTrunkingConfiguration>
        </Site>
    createSubAccountForNonUcJsonExample:
      description: An example of a Sub-Account request for NON-UC accounts
      value:
        name: Raleigh
        description: Test Gateway
        customerName: BW
        customerProvidedId: '14'
        address:
          houseNumber: '1600'
          streetName: PENNSYLVANIA
          streetSuffix: AVE
          postDirectional: NW
          city: WASHINGTON
          stateCode: DC
          zip: '20006'
          country: US
        linkedAddresses:
          - addressId: daa9dd0f-de97-4103-8530-b31bf4be8fc0
            addressType: Service
            link: >-
              https://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0
    createSubAccountForUcJsonExample:
      description: An example of a Sub-Account request for UC accounts
      value:
        name: Raleigh
        description: Test Gateway
        customerName: BW
        address:
          houseNumber: '1600'
          streetName: PENNSYLVANIA
          streetSuffix: AVE
          postDirectional: NW
          city: WASHINGTON
          stateCode: DC
          zip: '20006'
          country: US
        linkedAddresses:
          - addressId: daa9dd0f-de97-4103-8530-b31bf4be8fc0
            addressType: Service
            link: >-
              https://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0
        ucTrunkingConfiguration:
          type: Seats
          usageCategory: UC500
    createSubAccountForGlobalAddressJsonExample:
      description: An example of a Sub-Account request for accounts with global addresses
      value:
        name: Raleigh
        description: Test Gateway
        customerName: BW
        linkedAddresses:
          - addressId: daa9dd0f-de97-4103-8530-b31bf4be8fc0
            addressType: Service
            link: >-
              https://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0
        ucTrunkingConfiguration:
          type: Seats
          usageCategory: UC500
    subAccountResponseXmlExample:
      description: An example of a Sub-Account response
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <SiteResponse>
           <Site>
              <Id>3013</Id>
              <Name>Raleigh</Name>
              <Description>Test Gateway</Description>
              <CustomerName>BW</CustomerName>
              <CustomerId>14</CustomerId>
              <Address>
                 <HouseNumber>1600</HouseNumber>
                 <StreetName>PENNSYLVANIA</StreetName>
                 <StreetSuffix>AVE</StreetSuffix>
                 <PostDirectional>NW</PostDirectional>
                 <City>WASHINGTON</City>
                 <StateCode>DC</StateCode>
                 <Zip>20006</Zip>
                 <Country>US</Country>
                 <AddressType>Service</AddressType>
              </Address>
              <LinkedAddresses>
                <LinkedAddress>
                  <AddressId>daa9dd0f-de97-4103-8530-b31bf4be8fc0</AddressId>
                  <AddressType>Service</AddressType>
                  <Link>https://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0</Link>
                </LinkedAddress>
              </LinkedAddresses> 
           </Site>
        </SiteResponse>
    subAccountResponseJsonExample:
      description: An example of a Sub-Account response
      value:
        id: 3013
        name: Raleigh
        description: Test Gateway
        customerName: BW
        customerId: '14'
        address:
          houseNumber: '1600'
          streetName: PENNSYLVANIA
          streetSuffix: AVE
          postDirectional: NW
          city: WASHINGTON
          stateCode: DC
          zip: '20006'
          country: US
          addressType: Service
        linkedAddresses:
          - addressId: daa9dd0f-de97-4103-8530-b31bf4be8fc0
            addressType: Service
            link: >-
              https://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0
    subAccountBadRequestResponseXmlExample:
      description: Response body for validation errors
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <SiteResponse>
          <ResponseStatus>
            <ErrorCode>1003</ErrorCode>
            <Description>Name is required</Description>
          </ResponseStatus>
        </SiteResponse>
    subAccountBadRequestResponseJsonExample:
      description: Response body for validation errors
      value:
        errorCode: 12561
        description: name is required
    genericJsonErrorForSubAccountExamplePut:
      description: Error response body for malformed JSON requests
      value:
        errors:
          - code: '1023'
            description: Invalid data type for field 'nme'
            type: >-
              The JSON request body is invalid. Please check your request and
              try again.
        links:
          - href: https://api.bandwidth.com/api/v2/admin/sites/1
            method: PUT
            rel: self
    genericJsonErrorForSubAccountExamplePost:
      description: Error response body for malformed JSON requests
      value:
        errors:
          - code: '1023'
            description: Invalid data type for field 'nme'
            type: >-
              The JSON request body is invalid. Please check your request and
              try again.
        links:
          - href: https://api.bandwidth.com/api/v2/admin/sites
            method: POST
            rel: self
    subAccountConflictResponseXmlExample:
      description: An example of a Sub-Account conflict response
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <SiteResponse>
          <ResponseStatus>
            <ErrorCode>12015</ErrorCode>
            <Description>A Sub-Account (site) with id '15138' already exists</Description>
          </ResponseStatus>
        </SiteResponse>
    subAccountConflictResponseJsonExample:
      description: An example of a Sub-Account conflict response
      value:
        errorCode: 12015
        description: A Sub-Account (site) with id '15138' already exists
    subAccountsResponseXmlExample:
      description: An example of an Sub-Accounts response
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
          <SitesResponse>
            <Sites>
              <Site>
                <Id>50</Id>
                <Name>siteName</Name>
                <Description>siteDescription</Description>
                <UcTrunkingConfiguration>
                  <Type>Seats</Type>
                </UcTrunkingConfiguration>
                <TotalTnCount>0</TotalTnCount>
                <SipPeerCount>0</SipPeerCount>
              </Site>
              <Site>
                <Id>52</Id>
                <Name>siteName</Name>
                <Description>Create for 9900008</Description>
                <UcTrunkingConfiguration>
                  <Type>Seats</Type>
                </UcTrunkingConfiguration>
                <SipPeers>
                  <SipPeer>
                    <PeerId>500197</PeerId>
                    <PeerName>Location 500197</PeerName>
                    <IsDefaultPeer>true</IsDefaultPeer>
                    <TnCount>0</TnCount>
                  </SipPeer>
                </SipPeers>
                <TotalTnCount>10</TotalTnCount>
                <SipPeerCount>1</SipPeerCount>
              </Site>
            </Sites>
          </SitesResponse>
    subAccountsResponseJsonExample:
      description: An example of an Sub-Accounts response
      value:
        subAccounts:
          - id: 399
            name: TestSubAccount1
            description: NewSubAccount
            ucTrunkingConfiguration:
              type: Seats
            totalPhoneNumberCount: 0
            locationCount: 0
          - id: 403
            name: TestSubAccount2
            description: SomeOtherSubAccount
            ucTrunkingConfiguration:
              type: Seats
            totalPhoneNumberCount: 0
            locationCount: 1
            locations:
              - locationId: 500197
                locationName: Location 500197
                isDefaultLocation: true
                phoneNumberCount: 0
    subAccountNotFoundResponseXmlExample:
      description: The Sub-Account was not found for supplied ID
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <SiteResponse>
          <ResponseStatus>
            <ErrorCode>12016</ErrorCode>
            <Description>Sub-Account (Site) '50325432' does not exist</Description>
          </ResponseStatus>
        </SiteResponse>
    subAccountNotFoundResponseJsonExample:
      description: An example of a Sub-Account not found response
      value:
        errorCode: 12016
        description: Sub-Account (Site) '50325432' does not exist
    subAccountCantBeDeletedResponseXmlExample:
      description: An example of a Sub-Account that can't be deleted response
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <SiteResponse>
          <ResponseStatus>
            <ErrorCode>12031</ErrorCode>
            <Description>Please remove all locations before proceeding with this remove.</Description>
          </ResponseStatus>
        </SiteResponse>
    subAccountCantBeDeletedResponseJsonExample:
      description: An example of a Sub-Account that can't be deleted response
      value:
        errorCode: 12031
        description: Please remove all locations before proceeding with this remove.
    subAccountSystemErrorResponseXmlExample:
      description: An example of a system error response
      value: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <SiteResponse>
          <ResponseStatus>
            <ErrorCode>1010</ErrorCode>
            <Description>Something unexpected happened and has been logged (id=2e91ed6f-53af-4854-a33f-6ebd32f6e9cf). 
              Please contact Bandwidth support with this error ID to resolve the issue with our development team.
            </Description>
          </ResponseStatus>
        </SiteResponse>
    subAccountSystemErrorResponseJsonExample:
      description: An example of a system error response
      value:
        errorCode: 1010
        description: >-
          Something unexpected happened and has been logged
          (id=2e91ed6f-53af-4854-a33f-6ebd32f6e9cf). Please contact Bandwidth
          support with this error ID to resolve the issue with our development
          team.
    subAccountsSystemErrorResponseXmlExample:
      description: An example of a system error response
      value: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <SitesResponse>
          <ResponseStatus>
            <ErrorCode>1010</ErrorCode>
            <Description>Something unexpected happened and has been logged (id=2e91ed6f-53af-4854-a33f-6ebd32f6e9cf). 
              Please contact Bandwidth support with this error ID to resolve the issue with our development team.
            </Description>
          </ResponseStatus>
        </SitesResponse>
    locationsXmlExample:
      description: Successful response for retrieving locations.
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <TNSipPeersResponse>
           <SipPeers>
              <SipPeer>
                 <PeerId>304985</PeerId>
                 <PeerName>CNAM-TEST-778</PeerName>
                 <Description>description</Description>
                 <IsDefaultPeer>false</IsDefaultPeer>
                 <VoiceHosts />
                 <VoiceHostGroups />
                 <TerminationHosts />
                 <OriginationRoutePlan />
                 <Address>
                    <HouseNumber>1600</HouseNumber>
                    <HouseSuffix />
                    <PreDirectional />
                    <StreetName>Pennsylvania Avenue Northwest</StreetName>
                    <StreetSuffix />
                    <PostDirectional />
                    <AddressLine2 />
                    <City>Washington</City>
                    <StateCode>DC</StateCode>
                    <Zip>20500</Zip>
                    <PlusFour />
                    <County />
                    <Country>United States</Country>
                    <AddressType>Service</AddressType>
                 </Address>
                 <CallingName>
                    <Display>false</Display>
                    <Enforced>false</Enforced>
                 </CallingName>
              </SipPeer>
           </SipPeers>
        </TNSipPeersResponse>
    locationsJsonExample:
      description: Successful response for retrieving locations.
      value:
        locations:
          - locationId: 304985
            locationName: CNAM-TEST-778
            description: description
            isDefaultLocation: false
            voiceHosts: []
            voiceHostGroups: []
            terminationHosts: []
            originationRoutePlan: {}
            address:
              houseNumber: '1600'
              houseSuffix: ''
              preDirectional: ''
              streetName: Pennsylvania Avenue Northwest
              streetSuffix: ''
              postDirectional: ''
              addressLine2: ''
              city: Washington
              stateCode: DC
              zip: '20500'
              plusFour: ''
              county: ''
              country: United States
              addressType: Service
            callingName:
              display: false
              enforced: false
    createLocationWithVoiceHostsXmlExample:
      description: Create a location with voice hosts.
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <SipPeer>
           <PeerName>name</PeerName>
           <Description>description</Description>
           <IsDefaultPeer>false</IsDefaultPeer>
           <FinalDestinationUri>uri</FinalDestinationUri>
           <VoiceHosts>
              <Host>
                 <HostName>"10.10.10.1"</HostName>
              </Host>
              <Host>
                 <HostName>10.10.10.2</HostName>
              </Host>
           </VoiceHosts>
           <TerminationHosts>
              <TerminationHost>
                 <HostName>2.1.1.9</HostName>
                 <Port>0</Port>
                 <CustomerTrafficAllowed>DOMESTIC</CustomerTrafficAllowed>
              </TerminationHost>
              <TerminationHost>
                 <HostName>2.1.1.96/30</HostName>
                 <Port>0</Port>
                 <CustomerTrafficAllowed>DOMESTIC</CustomerTrafficAllowed>
              </TerminationHost>
           </TerminationHosts>
           <Address>
              <HouseNumber>1600</HouseNumber>
              <HouseSuffix />
              <PreDirectional />
              <StreetName>PENNSYLVANIA AVE NW</StreetName>
              <StreetSuffix />
              <PostDirectional />
              <AddressLine2 />
              <City>WASHINGTON</City>
              <StateCode>DC</StateCode>
              <Zip>20500</Zip>
              <PlusFour />
              <County />
              <Country>United States</Country>
              <AddressType>Service</AddressType>
           </Address>
           <PremiseTrunks>PremiseTrunks</PremiseTrunks>
           <CallingName>
              <Display>true</Display>
              <Enforced>true</Enforced>
           </CallingName>
           <SsSendToCustomer>NONE</SsSendToCustomer>
        </SipPeer>
    createLocationWithVoiceHostsJsonExample:
      description: Create a location with voice hosts.
      value:
        locationName: name
        description: description
        isDefaultLocation: false
        finalDestinationUri: uri
        voiceHosts:
          hosts:
            - hostName: 10.10.10.1
            - hostName: 10.10.10.2
        terminationHosts:
          terminationHosts:
            - hostName: 2.1.1.9
              port: '0'
              customerTrafficAllowed: DOMESTIC
            - hostName: 2.1.1.96/30
              port: '0'
              customerTrafficAllowed: DOMESTIC
        address:
          houseNumber: '1600'
          houseSuffix: ''
          preDirectional: ''
          streetName: PENNSYLVANIA AVE NW
          streetSuffix: ''
          postDirectional: ''
          addressLine2: ''
          city: WASHINGTON
          stateCode: DC
          zip: '20500'
          plusFour: ''
          county: ''
          country: United States
          addressType: Service
        premiseTrunks: PremiseTrunks
        callingName:
          display: true
          enforced: true
        ssSendToCustomer: NONE
    createLocationWithVoiceHostGroupsXmlExample:
      description: Create a location with voice host groups.
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <SipPeer>
           <PeerName>name</PeerName>
           <Description>description</Description>
           <IsDefaultPeer>false</IsDefaultPeer>
           <FinalDestinationUri>uri</FinalDestinationUri>
           <VoiceHostGroups>
              <VoiceHostGroup>
                 <Host>
                    <HostName>10.10.10.1</HostName>
                 </Host>
                 <Host>
                    <HostName>10.10.10.2</HostName>
                 </Host>
              </VoiceHostGroup>
           </VoiceHostGroups>
           <TerminationHosts>
              <TerminationHost>
                 <HostName>2.1.1.9</HostName>
                 <Port>0</Port>
                 <CustomerTrafficAllowed>DOMESTIC</CustomerTrafficAllowed>
              </TerminationHost>
              <TerminationHost>
                 <HostName>2.1.1.96/30</HostName>
                 <Port>0</Port>
                 <CustomerTrafficAllowed>DOMESTIC</CustomerTrafficAllowed>
              </TerminationHost>
           </TerminationHosts>
           <SsSendToCustomer>NONE</SsSendToCustomer>
        </SipPeer>
    createLocationWithVoiceHostGroupsJsonExample:
      description: Create a location with voice host groups.
      value:
        locationName: name
        description: description
        isDefaultLocation: false
        finalDestinationUri: uri
        voiceHostGroups:
          - hosts:
              - hostName: 10.10.10.1
        terminationHosts:
          terminationHosts:
            - hostName: 2.1.1.9
              port: '0'
              customerTrafficAllowed: DOMESTIC
            - hostName: 2.1.1.96/30
              port: '0'
              customerTrafficAllowed: DOMESTIC
        ssSendToCustomer: NONE
    createLocationWithOriginationRoutePlanXmlExample:
      description: Create a location with an origination route plan.
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <SipPeer>
          <PeerName>name</PeerName>
          <Description>description</Description>
          <IsDefaultPeer>false</IsDefaultPeer>
          <OriginationRoutePlan>
              <Route>
                  <Endpoint>6105552502</Endpoint>
                  <Priority>1</Priority>
                  <Weight>100</Weight>
              </Route>
              <Route>
                  <Endpoint>sip:clarkkent@dailyplanet.com</Endpoint>
                  <Priority>2</Priority>
                  <Weight>100</Weight>
              </Route>
              <Route>
                  <Endpoint>192.168.20.21</Endpoint>
                  <Priority>3</Priority>
                  <Weight>50</Weight>
              </Route>
              <Route>
                  <Endpoint>7075552509</Endpoint>
                  <Priority>3</Priority>
                  <Weight>50</Weight>
              </Route>
              <Route>
                  <Endpoint>myhost.bandwidth.example</Endpoint>
                  <Priority>4</Priority>
                  <Weight>100</Weight>
              </Route>
              <Action>asSpecified</Action>
          </OriginationRoutePlan>
          <TerminationHosts>
              <TerminationHost>
                  <HostName>2.1.1.9</HostName>
                  <Port>0</Port>
                  <CustomerTrafficAllowed>DOMESTIC</CustomerTrafficAllowed>
              </TerminationHost>
              <TerminationHost>
                  <HostName>2.1.1.96/30</HostName>
                  <Port>0</Port>
                  <CustomerTrafficAllowed>DOMESTIC</CustomerTrafficAllowed>
              </TerminationHost>
          </TerminationHosts>
        </SipPeer>
    createLocationWithOriginationRoutePlanJsonExample:
      description: Create a location with an origination route plan.
      value:
        locationName: name
        description: description
        isDefaultLocation: false
        originationRoutePlan:
          originationRoutes:
            - endpoint: '6105552502'
              priority: 2
              weight: 100
            - endpoint: sip:clarkkent@dailyplanet.com
              priority: 2
              weight: 100
            - endpoint: 192.168.20.21
              priority: 3
              weight: 50
            - endpoint: '7075552509'
              priority: 3
              weight: 50
            - endpoint: myhost.bandwidth.example
              priority: 4
              weight: 100
        terminationHosts:
          terminationHosts:
            - hostName: 2.1.1.9
              port: '0'
              customerTrafficAllowed: DOMESTIC
            - hostName: 2.1.1.96/30
              port: '0'
              customerTrafficAllowed: DOMESTIC
    locationXmlExample:
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <SipPeerResponse>
           <SipPeer>
              <PeerId>304985</PeerId>
              <PeerName>CNAM-TEST-778</PeerName>
              <Description>description</Description>
              <IsDefaultPeer>false</IsDefaultPeer>
              <VoiceHosts />
              <VoiceHostGroups />
              <TerminationHosts />
              <OriginationRoutePlan />
              <Address>
                 <HouseNumber>1600</HouseNumber>
                 <HouseSuffix />
                 <PreDirectional />
                 <StreetName>PENNSYLVANIA AVE NW</StreetName>
                 <StreetSuffix />
                 <PostDirectional />
                 <AddressLine2 />
                 <City>Washington</City>
                 <StateCode>DC</StateCode>
                 <Zip>20500</Zip>
                 <PlusFour />
                 <County />
                 <Country>United States</Country>
                 <AddressType>Service</AddressType>
              </Address>
              <CallingName>
                 <Display>false</Display>
                 <Enforced>false</Enforced>
              </CallingName>
           </SipPeer>
        </SipPeerResponse>
    locationJsonExample:
      value:
        locationId: 304985
        locationName: CNAM-TEST-778
        description: description
        isDefaultLocation: false
        voiceHosts: []
        voiceHostGroups: []
        terminationHosts: []
        originationRoutePlan: {}
        address:
          houseNumber: '1600'
          houseSuffix: ''
          preDirectional: ''
          streetName: PENNSYLVANIA AVE NW
          streetSuffix: ''
          postDirectional: ''
          addressLine2: ''
          city: Washington
          stateCode: DC
          zip: '20500'
          plusFour: ''
          county: ''
          country: United States
          addressType: Service
        callingName:
          display: false
          enforced: false
    updateLocationXmlExample:
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
          <SipPeer>
             <PeerName>name</PeerName>
             <Description>description</Description>
             <IsDefaultPeer>false</IsDefaultPeer>
             <VoiceHosts>
                <Host>
                   <HostName>10.10.10.1</HostName>
                </Host>
                <Host>
                   <HostName>10.10.10.2</HostName>
                </Host>
             </VoiceHosts>
             <VoiceHostGroups />
             <TerminationHosts>
                <TerminationHost>
                   <HostName>2.1.1.9</HostName>
                   <Port>0</Port>
                   <CustomerTrafficAllowed>DOMESTIC</CustomerTrafficAllowed>
                </TerminationHost>
                <TerminationHost>
                   <HostName>2.1.1.96/30</HostName>
                   <Port>0</Port>
                   <CustomerTrafficAllowed>DOMESTIC</CustomerTrafficAllowed>
                </TerminationHost>
             </TerminationHosts>
             <CallingName>
                <Display>true</Display>
                <Enforced>true</Enforced>
             </CallingName>
          </SipPeer>
    updateLocationJsonExample:
      value:
        locationName: name
        description: description
        isDefaultLocation: false
        finalDestinationUri: uri
        voiceHosts:
          - hostName: 10.10.10.1
          - hostName: 10.10.10.2
        terminationHosts:
          - hostName: 2.1.1.9
            port: '0'
            customerTrafficAllowed: DOMESTIC
          - hostName: 2.1.1.96/30
            port: '0'
            customerTrafficAllowed: DOMESTIC
        callingName:
          display: true
          enforced: true
    deleteLocationXmlExample:
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <SipPeerResponse>
           <SipPeer>
              <PeerId>304985</PeerId>
              <IsDefaultPeer>false</IsDefaultPeer>
              <SsSendToCustomer>NONE</SsSendToCustomer>
           </SipPeer>
        </SipPeerResponse>
    deleteLocationJsonExample:
      value:
        locationId: 304985
        isDefaultLocation: false
        ssSendToCustomer: NONE
    a2pClassListResponseExample:
      description: An example A2P Class list response
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <AdminDataResponse>
          <A2pClassList>
            <A2pClass>
              <MessageClass>TestClass</MessageClass>
              <ClassDescription>This is a test.</ClassDescription>
            </A2pClass>
            <A2pClass>
              <MessageClass>Test_Class</MessageClass>
              <ClassDescription>Another test.</ClassDescription>
            </A2pClass>
          </A2pClassList>
        </AdminDataResponse>
    a2pClassListResponseExampleJson:
      description: An example A2P Class list response
      value:
        a2pClassList:
          - messageClass: TestClass
            classDescription: This is a test.
          - messageClass: Test_Class
            classDescription: Another test.
    a2pClassResponseExample:
      description: An example A2P Class response
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <AdminDataResponse>
          <A2pClass>
            <MessageClass>TestClass</MessageClass>
            <ClassDescription>This is a test.</ClassDescription>
          </A2pClass>
        </AdminDataResponse>
    a2pClassResponseExampleJson:
      description: An example A2P Class response
      value:
        messageClass: TestClass
        classDescription: This is a test.
    a2pClassNotFoundExample:
      description: An example A2P Class not found response
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <AdminDataResponse>
          <ResponseStatus>
            <Description>The resource does not exist</Description>
          </ResponseStatus>
        </AdminDataResponse>
    a2pClassNotFoundExampleJson:
      description: An example A2P Class not found response
      value:
        responseStatus:
          description: The resource does not exist
    adminDataErrorResponse500:
      description: An example Internal Server Error response
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <AdminDataResponse>
          <ResponseStatus>
            <ErrorCode>1000</ErrorCode>
            <Description>Internal Server Error. Please try again.</Description>
          </ResponseStatus>
        </AdminDataResponse>
    adminDataErrorResponse500Json:
      description: An example Internal Server Error response
      value:
        responseStatus:
          errorCode: 1000
          description: Internal Server Error. Please try again.
    associatedOutboundNumbersXmlExample:
      description: An example GET response
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <AssociatedOutboundNumbersResponse>
          <TotalCount>2</TotalCount>
          <AssociatedOutboundNumbers>
            <AssociatedOutboundNumber>
              <Number>+16175551212</Number>
              <Id>123</Id>
            </AssociatedOutboundNumber>
            <AssociatedOutboundNumber>
              <Number>+16175551213</Number>
              <Id>124</Id>
            </AssociatedOutboundNumber>
          </AssociatedOutboundNumbers>
        </AssociatedOutboundNumbersResponse>
    associatedOutboundNumbersJsonExample:
      value:
        totalCount: 2
        associatedOutboundNumbers:
          - phoneNumber: '+16175551212'
            id: 123
          - phoneNumber: '+16175551213'
            id: 124
    createAssociatedOutboundNumbersRequestXmlExample:
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <AssociatedOutboundNumbers>
          <AssociatedOutboundNumber>
            <Number>+16175551212</Number>
          </AssociatedOutboundNumber>
          <AssociatedOutboundNumber>
            <Number>+16175551213</Number>
          </AssociatedOutboundNumber>
        </AssociatedOutboundNumbers>
    createAssociatedOutboundNumbersRequestJsonExample:
      value:
        associatedOutboundNumbers:
          - phoneNumber: '+16175551212'
          - phoneNumber: '+16175551213'
    createAssociatedOutboundNumbersResponseXmlExample:
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <AssociatedOutboundNumbersResponse>
          <SuccessCount>1</SuccessCount>
          <Errors>
            <AssociatedOutboundNumber>
              <Number>+16175551212</Number>
              <ErrorReason>Invalid Number Format</ErrorReason>
            </AssociatedOutboundNumber>
          </Errors>
        </AssociatedOutboundNumbersResponse>
    createAssociatedOutboundNumbersResponseJsonExample:
      value:
        successCount: 1
        errors:
          - phoneNumber: '+16175551212'
            errorReason: Invalid Number Format
    subAccountTotalSeatsSuccessXmlExample:
      description: An example of total seats displayed for a Sub-Account (Site)
      value: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <SiteTotalSeatsResponse>
          <UcTrunkingSeats>
            <TotalCount>16</TotalCount>
          </UcTrunkingSeats>
        </SiteTotalSeatsResponse>
    subAccountTotalSeatsErrorXmlExample:
      value: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <SiteTotalSeatsResponse>
          <ResponseStatus>
            <ErrorCode>12017</ErrorCode>
            <Description>Account '12346099' does not have product 'UcTrunking'</Description>
          </ResponseStatus>
        </SiteTotalSeatsResponse>
  schemas:
    accountJson:
      type: object
      properties:
        accountId:
          $ref: '#/components/schemas/id'
        globalAccountNumber:
          $ref: '#/components/schemas/globalAccountNumber'
        companyName:
          $ref: '#/components/schemas/name'
        contact:
          $ref: '#/components/schemas/contactJson'
        customerSegment:
          $ref: '#/components/schemas/customerSegment'
        tiers:
          type: array
          items:
            $ref: '#/components/schemas/tier'
        accountRelationship:
          $ref: '#/components/schemas/accountRelationship'
        accountType:
          $ref: '#/components/schemas/accountType'
        address:
          $ref: '#/components/schemas/addressJson'
        altSpid:
          $ref: '#/components/schemas/altSpid'
        associatedCatapultAccount:
          $ref: '#/components/schemas/associatedCatapultAccount'
        billingCycle:
          $ref: '#/components/schemas/billingCycle'
        default911Provider:
          $ref: '#/components/schemas/default911Provider'
        externalId:
          $ref: '#/components/schemas/externalId'
        linkedAddresses:
          type: array
          items:
            $ref: '#/components/schemas/linkedAddressJson'
        maxTnsForAutomatedPort:
          $ref: '#/components/schemas/maxTnsForAutomatedPort'
        nenaId:
          $ref: '#/components/schemas/nenaId'
        penaltyType:
          $ref: '#/components/schemas/penaltyType'
        portCarrierType:
          $ref: '#/components/schemas/portCarrierType'
        pricing:
          $ref: '#/components/schemas/pricing'
        spid:
          $ref: '#/components/schemas/spid'
        supportLevel:
          $ref: '#/components/schemas/supportLevel'
    addressJson:
      properties:
        addressLine2:
          $ref: '#/components/schemas/addressLine2'
        addressType:
          $ref: '#/components/schemas/addressType'
        city:
          $ref: '#/components/schemas/city'
        country:
          $ref: '#/components/schemas/country'
        county:
          $ref: '#/components/schemas/county'
        houseNumber:
          $ref: '#/components/schemas/houseNumber'
        housePrefix:
          $ref: '#/components/schemas/housePrefix'
        houseSuffix:
          $ref: '#/components/schemas/houseSuffix'
        latitude:
          $ref: '#/components/schemas/latitude'
        longitude:
          $ref: '#/components/schemas/longitude'
        plusFour:
          $ref: '#/components/schemas/plusFour'
        postDirectional:
          $ref: '#/components/schemas/postDirectional'
        preDirectional:
          $ref: '#/components/schemas/preDirectional'
        stateCode:
          $ref: '#/components/schemas/stateCode'
        streetName:
          $ref: '#/components/schemas/streetName'
        streetSuffix:
          $ref: '#/components/schemas/streetSuffix'
        zip:
          $ref: '#/components/schemas/zip'
      type: object
    contactJson:
      properties:
        firstName:
          $ref: '#/components/schemas/firstName'
        lastName:
          $ref: '#/components/schemas/lastName'
        email:
          $ref: '#/components/schemas/email'
        fax:
          $ref: '#/components/schemas/fax'
        mobile:
          $ref: '#/components/schemas/mobile'
        otherPhone:
          $ref: '#/components/schemas/phone'
        phoneNumber:
          $ref: '#/components/schemas/phone'
        suffix:
          $ref: '#/components/schemas/suffix'
        title:
          $ref: '#/components/schemas/title'
        websiteAddress:
          $ref: '#/components/schemas/websiteAddress'
      type: object
    linkedAddressJson:
      type: object
      properties:
        addressId:
          $ref: '#/components/schemas/addressId'
        addressType:
          $ref: '#/components/schemas/addressType'
        link:
          example: >-
            https://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0
          readOnly: true
          type: string
    genericJsonResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/data'
        errors:
          $ref: '#/components/schemas/errors'
        links:
          $ref: '#/components/schemas/links'
    subAccountForGlobalAddressJson:
      properties:
        name:
          $ref: '#/components/schemas/name'
        description:
          $ref: '#/components/schemas/description'
        linkedAddresses:
          type: array
          items:
            $ref: '#/components/schemas/linkedAddressJson'
        customerProvidedId:
          $ref: '#/components/schemas/customerProvidedId'
        customerName:
          $ref: '#/components/schemas/customName'
    createSubAccountJsonRequest:
      anyOf:
        - $ref: '#/components/schemas/subAccountForNonUcJson'
        - $ref: '#/components/schemas/subAccountForUcJson'
        - $ref: '#/components/schemas/subAccountForGlobalAddressJson'
      type: object
      required:
        - name
    subAccountForNonUcJson:
      type: object
      allOf:
        - $ref: '#/components/schemas/subAccountForGlobalAddressJson'
[...]
