openapi: 3.0.1
info:
  description: Bandwidth's Account Management API
  title: Accounts API
  version: 2.0.0
  contact:
    name: Bandwidth Support
    email: support@bandwidth.com
    url: https://support.bandwidth.com
  termsOfService: https://www.bandwidth.com/legal/terms-of-use-bandwidthcom-web-sites/
servers:
  - url: https://api.bandwidth.com/api/v2
    description: Production
paths:
  /accounts/{accountId}:
    get:
      operationId: getAccount
      summary: Retrieve account by ID
      tags:
        - Account
      description: >
        The account is the root resource for many of the operations in the
        Bandwidth App.

        The account is represented by an account ID, which is the resource that
        represents a Bandwidth customer, providing a root resource for all of
        the customer's attributes and services.

        The API calls that are used to manage the details of a customer account,
        and to manage the resources that a Bandwidth customer has access to or
        control over, are accessed through the /accounts resource.

        This API call retrieves information about the account indicated by the
        Account ID.


        **Addresses**: `Address` and `LinkedAddresses`


        - Address 
          - The service address of the account. Historically only US and Canadian addresses supported.
          - `Address` will continue to be populated as long as the address is US/ Canada based and only one linked address exists.
        - LinkedAddresses 
          - A list of address reference IDs that are linked at the account. 
          - These addresses can be fully international.
          - `LinkedAddresses` will replace `Address`, however will continue to be supported for US/ Canada addresses.  
          - A list of **one** address will be supported initially, however this will extend as more address usages are introduced.
          - `LinkedAddresses` can be created and managed through the /addresses resource. See: [Addresses](https://dev.bandwidth.com/apis/numbers-apis/end-user-management/#tag/Addresses/operation/createAddress) for more information.
          - A link to the individual Address API is returned within this object, see `Link`.
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/accountResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/accountNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/accountSystemErrorResponse'
  /accounts/{accountId}/sites:
    post:
      tags:
        - Sub-Accounts (Sites)
      description: Add a Sub-Account (Site) to the account
      summary: Create Sub-Account
      operationId: createSubAccount
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/createSubAccountRequest'
      responses:
        '201':
          $ref: '#/components/responses/subAccountCreatedResponse'
        '400':
          $ref: '#/components/responses/subAccountBadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '409':
          $ref: '#/components/responses/subAccountConflictErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/subAccountSystemErrorResponse'
    get:
      tags:
        - Sub-Accounts (Sites)
      description: Retrieve a list of all Sub-Accounts (Sites) associated with the account
      summary: List Sub-Accounts
      operationId: listSubAccounts
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/phoneNumberCounts'
        - $ref: '#/components/parameters/locationDetails'
        - $ref: '#/components/parameters/summary'
      responses:
        '200':
          $ref: '#/components/responses/subAccountsResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/subAccountsSystemErrorResponse'
  /accounts/{accountId}/sites/{siteId}:
    get:
      tags:
        - Sub-Accounts (Sites)
      description: Retrieves the information associated with the Sub-Account (Site) ID
      summary: Retrieve Sub-Account
      operationId: getSubAccount
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/subAccountResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/subAccountNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/subAccountSystemErrorResponse'
    put:
      tags:
        - Sub-Accounts (Sites)
      description: Updates the contents of Sub-Account (Site)
      summary: Update Sub-Account
      operationId: updateSubAccount
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/createSubAccountRequest'
      responses:
        '200':
          $ref: '#/components/responses/subAccountResponse'
        '400':
          $ref: '#/components/responses/subAccountBadRequestErrorResponsePut'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/subAccountNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/subAccountSystemErrorResponse'
    delete:
      tags:
        - Sub-Accounts (Sites)
      description: >-
        Deletes the Sub-Account (Site). Sub-Accounts (Sites) can only be deleted
        if there are no SIP Peers attached to it
      summary: Delete Sub-Account
      operationId: deleteSubAccount
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/successResponse200'
        '400':
          $ref: '#/components/responses/subAccountCantBeDeletedErrorResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/subAccountNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/subAccountSystemErrorResponse'
  /accounts/{accountId}/sites/{siteId}/sippeers:
    get:
      tags:
        - Locations (SIP Peers)
      description: >-
        Retrieve information about a location (SIP Peer) or set of locations on
        sub-account (site)
      summary: List Locations
      operationId: listLocations
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/locationsResponse'
        '400':
          $ref: '#/components/responses/locationResponseBadRequestType3'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    post:
      tags:
        - Locations (SIP Peers)
      description: >-
        Create Location (SIP Peer).<br>

        Possible errors in response:
        https://dev.bandwidth.com/docs/numbers/errors/#sippeervalidationerror
      summary: Create Location
      operationId: createLocation
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/createLocationRequest'
      responses:
        '201':
          $ref: '#/components/responses/locationCreatedResponse'
        '400':
          $ref: '#/components/responses/locationResponseBadRequestType1'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '409':
          $ref: '#/components/responses/locationResponseConflict'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: '#/components/responses/locationResponseServiceUnavailable'
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}:
    get:
      tags:
        - Locations (SIP Peers)
      description: Retrieves the information associated with the location (SIP Peer) ID
      summary: Retrieve Location
      operationId: getLocation
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/locationResponse'
        '400':
          $ref: '#/components/responses/locationResponseBadRequestType3'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/locationResponseNotFound'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    put:
      tags:
        - Locations (SIP Peers)
      description: >-
        There are a few rules used to eliminate IP address collisions.  The
        primary restriction is on the ability to share Term IP addresses across
        the Bandwidth API structural elements. Essentially...

        <ul>
          <li>Term Addresses cannot be shared anywhere</li>
          <li>VoiceHost and VoiceHostGroup addresses can be shared between locations and can be different than or the same as Term IP Addresses </li>
        </ul>

        If the CallingName field is missing from the payload, CNAM will default
        to false on the location.<br>

        Possible errors in response:
        https://dev.bandwidth.com/docs/numbers/errors/#sippeervalidationerror
      summary: Update Location
      operationId: updateLocation
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/updateLocationRequest'
      responses:
        '200':
          $ref: '#/components/responses/successResponse200'
        '400':
          $ref: '#/components/responses/locationResponseBadRequestType1'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/locationResponseNotFound'
        '409':
          $ref: '#/components/responses/locationResponseConflict'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    delete:
      tags:
        - Locations (SIP Peers)
      description: >-
        Delete Location (SIP Peer). <br>

        Possible errors in response:

        <ul><li>Delete not allowed while a Location (SIP Peer) has SMS
        feature</li></ul>
      summary: Delete Location
      operationId: deleteLocation
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/locationDeleteResponse'
        '400':
          $ref: '#/components/responses/locationResponseBadRequestType2'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/locationResponseNotFound'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/totalSeats:
    get:
      tags:
        - Account
      description: Retrieves the total number of seats on account
      operationId: getAccountTotalSeats
      summary: Retrieve the total number of seats on account
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/totalSeatsResponse'
        '400':
          $ref: '#/components/responses/totalSeatsBadRequestErrorResponse'
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/totalSeats:
    get:
      tags:
        - Locations (SIP Peers)
      description: Retrieves the total number of seats on a Location (SIP Peer)
      operationId: getLocationTotalSeats
      summary: Get Total Seats for Location
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/sippeerTotalSeatsSuccessResponse'
        '400':
          $ref: '#/components/responses/sippeerTotalSeatsBadRequestErrorResponse'
  /admin/data/a2pClasses:
    get:
      tags:
        - Admin Data
      description: Retrieves A2P Classes.
      operationId: listA2pClasses
      summary: List A2pClasses
      responses:
        '200':
          $ref: '#/components/responses/a2pClassListResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/adminDataErrorResponse500'
  /admin/data/a2pClasses/{messageClass}:
    get:
      tags:
        - Admin Data
      description: Retrieve A2P Class.
      operationId: getA2pClass
      summary: Retrieve A2P Class
      parameters:
        - $ref: '#/components/parameters/messageClassPathParam'
      responses:
        '200':
          $ref: '#/components/responses/a2pClassResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/a2pClassNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/adminDataErrorResponse500'
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/associatedOutboundNumbers:
    get:
      tags:
        - Locations (SIP Peers)
      description: >-
        Retrieve list of Associated Outbound Numbers associated with the
        Location. If none exist, an empty list is returned.
      operationId: listLocationAssociatedOutboundNumbers
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
        - $ref: '#/components/parameters/paginationPageQueryParam'
        - $ref: '#/components/parameters/paginationSizeQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/associatedOutboundNumbersResponse'
        '400':
          $ref: '#/components/responses/associatedOutboundNumbersResponseBadRequest'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
      summary: List Outbound Numbers by Location
    post:
      tags:
        - Locations (SIP Peers)
      description: Submit a list of new Associated Outbound Numbers.
      operationId: createLocationAssociatedOutboundNumbers
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/associatedOutboundNumbersRequest'
      responses:
        '200':
          $ref: '#/components/responses/createAssociatedOutboundNumbersResponse'
        '400':
          $ref: '#/components/responses/associatedOutboundNumbersResponseBadRequest'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
      summary: Associate Phone Numbers with a Location
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/associatedOutboundNumbers/{associatedOutboundNumberId}:
    delete:
      tags:
        - Locations (SIP Peers)
      description: Delete Associated Outbound Number from SIP Peer.
      operationId: deleteLocationAssociatedOutboundNumbers
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
        - $ref: '#/components/parameters/associatedOutboundNumberIdParam'
      responses:
        '200':
          $ref: '#/components/responses/successResponse200'
        '400':
          $ref: '#/components/responses/associatedOutboundNumbersResponseBadRequest'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/associatedOutboundNumbersResponseNotFound'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
      summary: Delete Number from Location
  /accounts/{accountId}/sites/{siteId}/totalSeats:
    get:
      tags:
        - Sub-Accounts (Sites)
      description: Retrieves the total number of seats on a Sub-Account (Site)
      operationId: getSubAccountTotalSeats
      summary: Retrieve count of UC trunking seats by Sub-Account (Site)
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/subAccountTotalSeatsSuccessResponse'
        '400':
          $ref: '#/components/responses/subAccountTotalSeatsBadRequestErrorResponse'
  /accounts/{accountId}/hosts:
    get:
      description: >-
        Retrieve information about the hosts of account, as guided by optional
        search parameters.
      operationId: listHosts
      summary: List hosts on account
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/hostQueryParam'
        - $ref: '#/components/parameters/hostTypeQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/hostsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/products/edgemanagement/settings:
    get:
      description: >-
        Retrieve settings that are provided as part of the Edge Management
        product: The SBC settings that are associated with the account and
        ProductSpecificAccessRestrictions.
      operationId: getAccountEdgemanagementProductSettings
      summary: Retrieve edgemanagement product settings
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getEdgeManagementSettingsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/products/tollfree/settings:
    get:
      description: Retrieve existing tollfree settings on account.
      operationId: getAccountTollfreeProductSettings
      summary: Retrieve tollfree product settings
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getTollFreeSettingsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/products/uctrunking/features/hosted/settings:
    get:
      description: Retrieve existing uctrunking hosted settings on account.
      operationId: getAccountUcTrunkingHostedFeatureSettings
      summary: Retrieve uctrunking product hosted feature settings
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/ucTrunkingHostedSettingsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/ucTrunkingHostedSettingsNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    post:
      description: Creates a UC Trunking hosted (cloud) configuration.
      operationId: createAccountUcTrunkingHostedSettings
      summary: Add uctrunking product hosted feature settings
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/ucTrunkingHostedSettingsRequest'
      responses:
        '200':
          $ref: '#/components/responses/ucTrunkingHostedSettingsResponse'
        '400':
          $ref: >-
            #/components/responses/ucTrunkingHostedSettingsBadRequestErrorResponse
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/ucTrunkingHostedSettingsNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    put:
      description: Updates uctrunking hosted feature settings on account.
      operationId: updateAccountUcTrunkingHostedSettings
      summary: Update uctrunking product hosted feature settings
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/ucTrunkingHostedSettingsRequest'
      responses:
        '200':
          $ref: '#/components/responses/ucTrunkingHostedSettingsResponse'
        '400':
          $ref: >-
            #/components/responses/ucTrunkingHostedSettingsBadRequestErrorResponse
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/ucTrunkingHostedSettingsNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/products/uctrunking/settings:
    get:
      description: Retrieve existing uctrunking settings on account.
      operationId: getAccountUcTrunkingProductSettings
      summary: Retrieve uctrunking product settings
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getUcTrunkingSettingsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/realms:
    get:
      description: Retrieve all Realms for the account
      operationId: listRealms
      summary: List Realms
      tags:
        - SIP Registrar
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/realmFragmentQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/listRealmsResponse'
        '400':
          $ref: '#/components/responses/listRealmsBadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/listRealmsNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    post:
      description: Create a Realm
      operationId: createRealm
      summary: Create Realm
      tags:
        - SIP Registrar
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/createRealmRequest'
      responses:
        '201':
          $ref: '#/components/responses/createRealm201Response'
        '400':
          $ref: '#/components/responses/createRealmBadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: '#/components/responses/createRealmServiceUnavailableErrorResponse'
  /accounts/{accountId}/realms/{realm}:
    parameters:
      - $ref: '#/components/parameters/accountIdPathParam'
      - $ref: '#/components/parameters/realmPathParam'
    get:
      description: Retrieve a Realm associated with the account
      operationId: getRealm
      summary: Retrieve Realm
      tags:
        - SIP Registrar
      responses:
        '200':
          $ref: '#/components/responses/retrieveRealmResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/retrieveRealmNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: '#/components/responses/retrieveRealmServiceUnavailableErrorResponse'
    put:
      description: Update a Realm
      operationId: replaceRealm
      summary: Update Realm
      tags:
        - SIP Registrar
      requestBody:
        $ref: '#/components/requestBodies/updateRealmRequest'
      responses:
        '200':
          $ref: '#/components/responses/updateRealmResponse'
        '400':
          $ref: '#/components/responses/updateRealmBadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: '#/components/responses/updateRealmServiceUnavailableErrorResponse'
    delete:
      description: Delete a Realm
      operationId: deleteRealm
      summary: Delete Realm
      tags:
        - SIP Registrar
      responses:
        '202':
          $ref: '#/components/responses/deleteRealmAcceptedResponse'
        '400':
          $ref: '#/components/responses/deleteRealmBadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/deleteRealmNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: '#/components/responses/deleteRealmServiceUnavailableErrorResponse'
  /accounts/{accountId}/sipcredentials:
    get:
      tags:
        - Sip Registrar
      description: Retrieve all SIP credentials for the account
      summary: Retrieve SIP Credentials
      operationId: listSipCredentials
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/sipCredentialsPageQueryParam'
        - $ref: '#/components/parameters/sipCredentialsSizeQueryParam'
        - $ref: '#/components/parameters/userNameFragmentQueryParam'
        - $ref: '#/components/parameters/domainFragmentQueryParam'
        - $ref: '#/components/parameters/applicationNameFragmentQueryParam'
        - $ref: '#/components/parameters/realmFragmentQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/listSipCredentialsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/listSipCredentialsNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    post:
      tags:
        - Sip Registrar
      description: Create SIP credentials and associate them with the account
      summary: Create SIP Credentials
      operationId: createSipCredentials
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/createSipCredentialsRequest'
      responses:
        '201':
          $ref: '#/components/responses/createSipCredentials201Response'
        '400':
          $ref: '#/components/responses/createSipCredentialsBadRequestResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: >-
            #/components/responses/createSipCredentialsServiceUnavailableResponse
  /accounts/{accountId}/realms/{realmId}/sipcredentials:
    get:
      tags:
        - SIP Registrar
      description: Retrieve all SIP credentials for the account ID and realm ID specified
      operationId: listSipCredentialsOnRealm
      summary: List SIP Credentials On Realm
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/realmIdPathParam'
        - $ref: '#/components/parameters/afterCursorQueryParam'
        - $ref: '#/components/parameters/limitQueryParam'
        - $ref: '#/components/parameters/userNameFragmentQueryParam'
        - $ref: '#/components/parameters/applicationNameFragmentQueryParam'
        - $ref: '#/components/parameters/realmFragmentQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/listSipCredentialsOnRealmResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/listSipCredentialsOnRealmNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    post:
      tags:
        - SIP Registrar
      description: Create SIP credentials on the Realm
      operationId: createSipCredentialsOnRealm
      summary: Create SIP Credentials On Realm
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/realmIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/createSipCredentialsOnRealmRequest'
      responses:
        '201':
          $ref: '#/components/responses/createSipCredentialsOnRealm201Response'
        '400':
          $ref: '#/components/responses/createSipCredentialsOnRealmBadRequestResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: >-
            #/components/responses/createSipCredentialsOnRealmServiceUnavailableResponse
  /accounts/{accountId}/realms/{realmId}/sipcredentials/{credentialId}:
    parameters:
      - $ref: '#/components/parameters/accountIdPathParam'
      - name: realmId
        description: Realm's ID of SIP Credential
        in: path
        required: true
        schema:
          type: string
        example: '22'
      - name: credentialId
        description: ID of SIP Credential
        in: path
        required: true
        schema:
          type: string
        example: '11'
    get:
      tags:
        - Sip Registrar
      description: >-
        Retrieve a SIP credential for the account and realm specified by its
        assigned ID
      operationId: getSipCredentialOnRealm
      summary: Retrieve SIP Credential On Realm
      responses:
        '200':
          $ref: '#/components/responses/retrieveSipCredentialOnRealmResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/retrieveSipCredentialOnRealmNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    put:
      tags:
        - Sip Registrar
      description: Update single SIP credential on the Realm
      operationId: updateSipCredentialOnRealm
      summary: Update SIP Credential On Realm
      requestBody:
        $ref: '#/components/requestBodies/updateSipCredentialOnRealmRequest'
      responses:
        '200':
          $ref: '#/components/responses/retrieveSipCredentialOnRealmResponse'
        '400':
          $ref: '#/components/responses/updateSipCredentialOnRealmBadRequestResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/retrieveSipCredentialOnRealmNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: >-
            #/components/responses/sipCredentialOnRealmServiceUnavailableResponse
    delete:
      tags:
        - Sip Registrar
      description: Delete SIP credential on the Realm
      operationId: deleteSipCredentialOnRealm
      summary: Delete SIP Credential On Realm
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/retrieveSipCredentialOnRealmNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: >-
            #/components/responses/sipCredentialOnRealmServiceUnavailableResponse
  /accounts/{accountId}/sipcredentials/{compositeUserName}:
    parameters:
      - $ref: '#/components/parameters/accountIdPathParam'
      - name: compositeUserName
        description: >-
          Is comprised of the `UserName`, and, if there is a `Domain` part, an @
          followed by the `Domain`
        in: path
        required: true
        schema:
          type: string
        example: '`user` or `user@domain`'
    get:
      tags:
        - Sip Registrar
      description: >-
        Retrieve a SIP credential for the account by unique combination of user
        name and domain
      operationId: getSipCredential
      summary: Retrieve SIP Credential
      responses:
        '200':
          $ref: '#/components/responses/retrieveSipCredentialResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/retrieveSipCredentialNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    put:
      tags:
        - Sip Registrar
      description: >-
        Update single SIP credential.

        It is not possible to change the UserName or the Domain associated with
        the Hash Values. To do so requires deletion of one set of credentials
        and addition of a new set of credentials
      operationId: updateSipCredential
      summary: Update SIP Credential
      requestBody:
        $ref: '#/components/requestBodies/updateSipCredentialRequest'
      responses:
        '200':
          $ref: '#/components/responses/retrieveSipCredentialResponse'
        '400':
          $ref: '#/components/responses/updateSipCredentialBadRequestResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/retrieveSipCredentialNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: '#/components/responses/sipCredentialServiceUnavailableResponse'
    delete:
      tags:
        - Sip Registrar
      description: Delete SIP credential
      operationId: deleteSipCredential
      summary: Delete SIP Credential
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/retrieveSipCredentialNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: '#/components/responses/sipCredentialServiceUnavailableResponse'
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/products/origination/settings:
    get:
      tags:
        - Locations (SIP Peers)
      description: Retrieve Sip Peer Origination settings
      summary: Retrieve Origination Settings for a Location
      operationId: getLocationOriginationSettings
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/retrieveOriginationSettingsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    post:
      tags:
        - Locations (SIP Peers)
      description: Create Sip Peer Origination settings
      summary: Create Origination Settings for a Location
      operationId: createLocationOriginationSettings
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/createOrUpdateOriginationSettingsRequest'
      responses:
        '201':
          $ref: '#/components/responses/createOriginationSettingsResponse'
        '400':
          $ref: '#/components/responses/originationSettingsBadRequestResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    put:
      tags:
        - Locations (SIP Peers)
      description: >-
        Update Sip Peer Origination settings<p>Note: Changing the Voice Protocol
        from SIP to HTTP will remove Voice Hosts or Voice Host Groups and
        Termination Hosts, which are configured using API
        /accounts/{accountId}/sites/{siteId}/sippeers/{sippeerId}.</p>
      summary: Update Origination Settings for a Location
      operationId: updateLocationOriginationSettings
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/createOrUpdateOriginationSettingsRequest'
      responses:
        '200':
          $ref: '#/components/responses/retrieveOriginationSettingsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/products/termination:
    get:
      tags:
        - Locations (SIP Peers)
      description: >-
        Retrieve SIP peer termination products including termination settings
        and termination hosts
      summary: Retrieve Termination Products for a Location
      operationId: getLocationTerminationProducts
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getSipPeerTerminationProductsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: >-
            #/components/responses/sipPeerTerminationProductsInternalErrorResponse
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/products/termination/hosts:
    get:
      tags:
        - Locations (SIP Peers)
      description: Retrieve all termination hosts (gateway IPs and subnets) for a Location
      summary: Retrieve Termination Hosts for a Location
      operationId: getLocationTerminationHosts
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getSipPeerTerminationHostsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/sipPeerTerminationHostsInternalErrorResponse'
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/products/termination/hosts/{gatewayId}:
    get:
      tags:
        - Locations (SIP Peers)
      description: >-
        Retrieve a single termination host (gateway IP or subnet) for a Location
        by ID
      summary: Retrieve a Termination Host for a Location
      operationId: getLocationTerminationHost
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
        - $ref: '#/components/parameters/gatewayIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getSipPeerTerminationHostResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/sipPeerTerminationHostNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/products/termination/hosts/{gatewayId}/settings:
    get:
      tags:
        - Locations (SIP Peers)
      description: >-
        Retrieve all settings (gateway attributes) for a termination host on a
        Location
      summary: Retrieve Termination Host Settings for a Location
      operationId: getLocationTerminationHostSettings
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
        - $ref: '#/components/parameters/gatewayIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getSipPeerTerminationHostSettingsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: >-
            #/components/responses/sipPeerTerminationHostSettingsNotFoundResponse
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/products/termination/hosts/{gatewayId}/settings/{attributeId}:
    get:
      tags:
        - Locations (SIP Peers)
      description: >-
        Retrieve a single setting (gateway attribute) for a termination host on
        a Location by ID
      summary: Retrieve a Termination Host Setting for a Location
      operationId: getLocationTerminationHostSetting
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
        - $ref: '#/components/parameters/gatewayIdPathParam'
        - $ref: '#/components/parameters/attributeIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getSipPeerTerminationHostSettingResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/sipPeerTerminationHostSettingNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/products/termination/settings:
    get:
      tags:
        - Locations (SIP Peers)
      description: Retrieve termination settings for a Location
      summary: Retrieve Termination Settings for a Location
      operationId: getLocationTerminationSettings
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getSipPeerTerminationSettingsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    post:
      tags:
        - Locations (SIP Peers)
      description: Create termination settings for a Location
      summary: Create Termination Settings for a Location
      operationId: createLocationTerminationSettings
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: >-
                numbers.yml#/components/schemas/SipPeerTerminationSettingsRequest
            examples:
              httpVoiceProtocol:
                $ref: >-
                  #/components/examples/sipPeerTerminationSettingsHttpRequestXmlExample
              sipVoiceProtocol:
                $ref: >-
                  #/components/examples/sipPeerTerminationSettingsSipRequestXmlExample
          application/json:
            schema:
              $ref: '#/components/schemas/sipPeerTerminationSettingsRequestJson'
            examples:
              httpVoiceProtocol:
                $ref: >-
                  #/components/examples/sipPeerTerminationSettingsHttpRequestJsonExample
              sipVoiceProtocol:
                $ref: >-
                  #/components/examples/sipPeerTerminationSettingsSipRequestJsonExample
      responses:
        '201':
          $ref: '#/components/responses/createSipPeerTerminationSettingsResponse'
        '400':
          $ref: '#/components/responses/sipPeerTerminationSettingsBadRequestResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    put:
      tags:
        - Locations (SIP Peers)
      description: >-
        Update termination settings for a Location. Note: Changing the Voice
        Protocol from SIP to HTTP will remove Voice Hosts or Voice Host Groups
        and Termination Hosts.
      summary: Update Termination Settings for a Location
      operationId: updateLocationTerminationSettings
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: >-
                numbers.yml#/components/schemas/SipPeerTerminationSettingsRequest
            examples:
              httpVoiceProtocol:
                $ref: >-
                  #/components/examples/sipPeerTerminationSettingsHttpRequestXmlExample
              sipVoiceProtocol:
                $ref: >-
                  #/components/examples/sipPeerTerminationSettingsSipRequestXmlExample
          application/json:
            schema:
              $ref: '#/components/schemas/sipPeerTerminationSettingsRequestJson'
            examples:
              httpVoiceProtocol:
                $ref: >-
                  #/components/examples/sipPeerTerminationSettingsHttpRequestJsonExample
              sipVoiceProtocol:
                $ref: >-
                  #/components/examples/sipPeerTerminationSettingsSipRequestJsonExample
      responses:
        '200':
          $ref: '#/components/responses/updateSipPeerTerminationSettingsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
components:
  parameters:
    accountIdPathParam:
      description: User's account ID.
      example: '1234567'
      in: path
      name: accountId
      required: true
      schema:
        type: string
    phoneNumberCounts:
      name: phoneNumberCounts
      description: >-
        Provides response payload with total phone number count for every
        Sub-Account on Account if specified as true
      in: query
      required: false
      schema:
        type: boolean
        default: false
      example: true
    locationDetails:
      name: locationDetails
      description: >
        Provides a response payload with a list of locations for every
        Sub-Account on Account with fields:   
          <ul>
            <li>LocationId (PeerId)</li>
            <li>LocationName (PeerName)</li>
            <li>Description</li>
            <li>IsDefaultLocation (IsDefaultPeer)</li>
            <li>Address</li>
            <li>FinalDestinationUri</li>
            <li>PremiseTrunks</li>
            <li>CallingName</li>
            <li>SsSendToCustomer</li>
          </ul>  
          <p>Also each Sub-Account will contain a count of locations on it:</p>
          <ul>
            <li>SipPeerCount</li>
          </ul>
      in: query
      required: false
      schema:
        type: boolean
        default: false
      example: true
    summary:
      name: summary
      description: >-
        Provides response payload with list of basic information about every
        Location for every Sub-Account on Account and overrides sipPeerDetails
        parameter if specified as true
      in: query
      required: false
      schema:
        type: boolean
        default: false
      example: true
    subAccountIdPathParam:
      name: siteId
      description: Sub-Account ID
      in: path
      required: true
      schema:
        type: integer
      example: 407
    locationIdPathParam:
      name: sipPeerId
      description: ID of the location
      in: path
      required: true
      schema:
        type: integer
      example: 500017
    gatewayIdPathParam:
      name: gatewayId
      description: ID of the termination host (gateway)
      in: path
      required: true
      schema:
        type: integer
        format: int64
      example: 23
    attributeIdPathParam:
      name: attributeId
      description: ID of the gateway attribute (setting)
      in: path
      required: true
      schema:
        type: integer
        format: int64
      example: 8
    messageClassPathParam:
      name: messageClass
      description: Message Class name
      in: path
      required: true
      schema:
        type: string
      example: TestClass
    paginationPageQueryParam:
      description: >-
        Retrievals must be paginated, using page and size indicators.  The page
        parameter contains the page number, e.g. "1" in the case of the first
        page
      example: 1
      in: query
      name: page
      required: true
      schema:
        type: integer
    paginationSizeQueryParam:
      description: >-
        The size parameter indicates the number of Associated Outbound Numbers
        to return in the payload
      example: 10
      in: query
      name: size
      required: true
      schema:
        type: integer
    associatedOutboundNumberIdParam:
      in: path
      name: associatedOutboundNumberId
      required: true
      schema:
        type: integer
    hostQueryParam:
      description: >-
        <p>An IP address or subnet (CIDR format) associated with the account.
        Filter for subnet applies by exact match.</p>
      example: 47.16.211.63 or 69.22.181.68/30
      in: query
      name: host
      required: false
      schema:
        type: string
    hostTypeQueryParam:
      description: >-
        <p>A status value to filter the hosts returned in the payload. Values
        that can be accepted
        include:</p><ul><li>SMS</li><li>TERMINATION</li><li>ORIGINATION</li></ul>
      example: TERMINATION
      in: query
      name: type
      required: false
      schema:
        type: string
    realmPathParam:
      description: Name or ID of the realm
      example: '22'
      in: path
      name: realm
      required: true
      schema:
        type: string
    realmIdPathParam:
      description: ID of the Realm
      example: '22'
      in: path
      name: realmId
      required: true
      schema:
        type: string
    realmFragmentQueryParam:
      description: The realm fragment
      example: myrealm
      in: query
      name: realmFragment
      required: false
      schema:
        type: string
        maxLength: 64
        minLength: 3
    userNameFragmentQueryParam:
      description: The user name fragment
      example: user32
      in: query
      name: userNameFragment
      required: false
      schema:
        type: string
        maxLength: 64
        minLength: 3
    domainFragmentQueryParam:
      description: The domain fragment
      example: bw.
      in: query
      name: domainFragment
      required: false
      schema:
        type: string
        maxLength: 64
        minLength: 3
    applicationNameFragmentQueryParam:
      description: The application name fragment
      example: myapp
      in: query
      name: applicationNameFragment
      required: false
      schema:
        type: string
        maxLength: 64
        minLength: 3
    sipCredentialsPageQueryParam:
      description: >-
        An ID of the first element in a page.  This value will indicate the
        first value, not the count, of the initial entry in the page being
        requested. It can be an index of SIP credential or a combination of user
        name and domain in form {userName}@{domain}. The initial page is tagged
        with the ID '1'
      example: 3, user321@bw.com
      in: query
      name: page
      required: false
      schema:
        type: string
        default: '1'
    sipCredentialsSizeQueryParam:
      description: The number of items to include in a page
      example: 5000
      in: query
      name: size
      required: false
      schema:
        type: integer
        default: 500
    afterCursorQueryParam:
      description: >-
        An ID of the first element in a page. This value will indicate the first
        value, not the count, of the initial entry in the page being requested.
        It can be an index of SIP credential or a combination of user name and
        domain in form {userName}@{domain}. The initial page is tagged with the
        ID '1'
      example: '3'
      in: query
      name: afterCursor
      required: false
      schema:
        type: string
        default: '1'
    limitQueryParam:
      description: The number of items to include in a page
      example: 5000
      in: query
      name: limit
      required: false
      schema:
        type: integer
        default: 500
  requestBodies:
    createSubAccountRequest:
      description: Sub-Account (Site) Request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/createSubAccountXmlRequest'
          examples:
            Non-UC Example:
              $ref: '#/components/examples/createSubAccountForNonUcXmlExample'
            UC Example:
              $ref: '#/components/examples/createSubAccountForUcXmlExample'
            Global Address Example:
              $ref: '#/components/examples/createSubAccountForGlobalAddressXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/createSubAccountJsonRequest'
          examples:
            Non-UC Example:
              $ref: '#/components/examples/createSubAccountForNonUcJsonExample'
            UC Example:
              $ref: '#/components/examples/createSubAccountForUcJsonExample'
            Global Address Example:
              $ref: >-
                #/components/examples/createSubAccountForGlobalAddressJsonExample
    createLocationRequest:
      description: Create Location (SIP Peer) Request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/createLocationXmlRequest'
          examples:
            createLocationWithVoiceHostsExample:
              $ref: '#/components/examples/createLocationWithVoiceHostsXmlExample'
            createLocationWithVoiceHostGroupsExample:
              $ref: >-
                #/components/examples/createLocationWithVoiceHostGroupsXmlExample
            createLocationWithOriginationRoutePlanExample:
              $ref: >-
                #/components/examples/createLocationWithOriginationRoutePlanXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/createLocationJsonRequest'
          examples:
            createLocationWithVoiceHostsExample:
              $ref: '#/components/examples/createLocationWithVoiceHostsJsonExample'
            createLocationWithVoiceHostGroupsExample:
              $ref: >-
                #/components/examples/createLocationWithVoiceHostGroupsJsonExample
            createLocationWithOriginationRoutePlanExample:
              $ref: >-
                #/components/examples/createLocationWithOriginationRoutePlanJsonExample
    updateLocationRequest:
      description: Update Location (SIP Peer) Request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/updateLocationXmlRequest'
          examples:
            updateLocationExample:
              $ref: '#/components/examples/updateLocationXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/updateLocationJsonRequest'
          examples:
            updateLocationExample:
              $ref: '#/components/examples/updateLocationJsonExample'
    associatedOutboundNumbersRequest:
      content:
        application/xml:
          examples:
            associatedOutboundNumbersRequestExample:
              $ref: >-
                #/components/examples/createAssociatedOutboundNumbersRequestXmlExample
          schema:
            properties:
              AssociatedOutboundNumbers:
                $ref: '#/components/schemas/associatedOutboundNumberRequest'
        application/json:
          examples:
            associatedOutboundNumbersRequestExample:
              $ref: >-
                #/components/examples/createAssociatedOutboundNumbersRequestJsonExample
          schema:
            properties:
              associatedOutboundNumbers:
                type: array
                items:
                  $ref: '#/components/schemas/associatedOutboundNumberRequestJson'
      description: OK
    ucTrunkingHostedSettingsRequest:
      description: UC Trunking hosted (cloud) settings request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ucTrunkingCloudSettingsPayload'
          examples:
            example:
              $ref: '#/components/examples/ucTrunkingHostedSettingsRequestXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/ucTrunkingCloudSettingsPayloadJson'
          examples:
            example:
              $ref: '#/components/examples/ucTrunkingHostedSettingsRequestJsonExample'
    createRealmRequest:
      description: Realm Request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/realmCreateRequest'
          examples:
            example:
              $ref: '#/components/examples/createRealmRequestXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/realmCreateRequestJson'
          examples:
            example:
              $ref: '#/components/examples/createRealmRequestJsonExample'
    updateRealmRequest:
      description: Realm Update Request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/realmUpdateRequest'
          examples:
            example:
              $ref: '#/components/examples/updateRealmRequestXmlExample'
    createSipCredentialsRequest:
      description: SIP Credentials Request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/accountSipCredentialsRequest'
          examples:
            example:
              $ref: '#/components/examples/createSipCredentialsRequestXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/createSipCredentialsOnRealmRequestBodyJson'
          examples:
            example:
              $ref: '#/components/examples/createSipCredentialsRequestJsonExample'
    createSipCredentialsOnRealmRequest:
      description: SIP Credentials Request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/accountSipCredentialsRequest'
          examples:
            example:
              $ref: >-
                #/components/examples/createSipCredentialsOnRealmRequestXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/createSipCredentialsOnRealmRequestBodyJson'
          examples:
            example:
              $ref: >-
                #/components/examples/createSipCredentialsOnRealmRequestJsonExample
    updateSipCredentialOnRealmRequest:
      description: SIP Credential Update Request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipCredentialUpdateRequestXml'
          examples:
            example:
              $ref: >-
                #/components/examples/updateSipCredentialOnRealmRequestXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/updateSipCredentialOnRealmRequestJson'
          examples:
            example:
              $ref: >-
                #/components/examples/updateSipCredentialOnRealmRequestJsonExample
    updateSipCredentialRequest:
      description: SIP Credential Update Request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipCredentialUpdateRequestXml'
          examples:
            example:
              $ref: '#/components/examples/updateSipCredentialRequestXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/updateSipCredentialRequestJson'
          examples:
            example:
              $ref: '#/components/examples/updateSipCredentialRequestJsonExample'
    createOrUpdateOriginationSettingsRequest:
      description: Origination Settings Request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipPeerOriginationSettingsRequestXml'
          examples:
            HTTP Voice protocol:
              $ref: '#/components/examples/createOriginationSettingsHttpXmlExample'
            SIP Voice protocol:
              $ref: '#/components/examples/createOriginationSettingsSipXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/originationSettingsRequestJson'
          examples:
            HTTP Voice protocol:
              $ref: '#/components/examples/createOriginationSettingsHttpJsonExample'
            SIP Voice protocol:
              $ref: '#/components/examples/createOriginationSettingsSipJsonExample'
  responses:
    successResponse201:
      description: Created
    successResponse200:
      description: OK
    errorResponse400:
      description: Bad Request
    errorResponse401:
      description: Unauthorized
    errorResponse403:
      description: Forbidden
    errorResponse404:
      description: Not Found
    errorResponse429:
      description: Too Many Requests
    errorResponse500:
      description: Internal Server Error
    totalSeatsResponse:
      description: OK
      content:
        application/xml:
          examples:
            totalSeatsSuccessExample:
              $ref: '#/components/examples/totalSeatsSuccessXmlExample'
          schema:
            $ref: '#/components/schemas/accountUcTrunkingSeats'
        application/json:
          examples:
            totalSeatsSuccessJsonExample:
              $ref: '#/components/examples/totalSeatsSuccessJsonExample'
          schema:
            $ref: '#/components/schemas/accountUcTrunkingSeatsJson'
    totalSeatsBadRequestErrorResponse:
      description: Bad Request
      content:
        application/xml:
          examples:
            totalSeatsErrorExample:
              $ref: '#/components/examples/totalSeatsErrorXmlExample'
          schema:
            $ref: '#/components/schemas/totalSeatsBadResponse'
        application/json:
          examples:
            totalSeatsErrorJsonExample:
              $ref: '#/components/examples/totalSeatsErrorJsonExample'
          schema:
            $ref: '#/components/schemas/responseStatusJson'
    sippeerTotalSeatsSuccessResponse:
      description: OK
      content:
        application/xml:
          examples:
            sippeerTotalSeatsSuccessExample:
              $ref: '#/components/examples/sippeerTotalSeatsSuccessXmlExample'
          schema:
            $ref: '#/components/schemas/sippeerUcTrunkingSeats'
        application/json:
          examples:
            totalSeatsSuccessJsonExample:
              $ref: '#/components/examples/totalSeatsSuccessJsonExample'
          schema:
            $ref: '#/components/schemas/accountUcTrunkingSeatsJson'
    sippeerTotalSeatsBadRequestErrorResponse:
      description: Bad Request
      content:
        application/xml:
          examples:
            sippeerTotalSeatsErrorExample:
              $ref: '#/components/examples/sippeerTotalSeatsErrorXmlExample'
          schema:
            $ref: '#/components/schemas/sippeerTotalSeatsBadResponse'
        application/json:
          examples:
            sippeerTotalSeatsErrorJsonExample:
              $ref: '#/components/examples/totalSeatsErrorJsonExample'
          schema:
            $ref: '#/components/schemas/responseStatusJson'
    hostsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/siteHostsResponse'
          examples:
            hostsExample:
              $ref: '#/components/examples/hostsXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/subAccountHostsResponseJson'
          examples:
            hostsExample:
              $ref: '#/components/examples/hostsJsonExample'
    getEdgeManagementSettingsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/edgeManagementSettingsResponse'
          examples:
            example:
              $ref: >-
                #/components/examples/getEdgeManagementSettingsResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/edgeManagementSettingsResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/getEdgeManagementSettingsResponseJsonExample
    getTollFreeSettingsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/tollFreeSettingsResponse'
          examples:
            example:
              $ref: '#/components/examples/getTollFreeSettingsResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/tollFreeSettingsResponseJson'
          examples:
            example:
              $ref: '#/components/examples/getTollFreeSettingsResponseJsonExample'
    ucTrunkingHostedSettingsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ucTrunkingCloudSettingsResponse'
          examples:
            example:
              $ref: '#/components/examples/ucTrunkingHostedSettingsResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/ucTrunkingCloudSettingsResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/ucTrunkingHostedSettingsResponseJsonExample
    ucTrunkingHostedSettingsBadRequestErrorResponse:
      description: Bad Request
      content:
        application/xml:
          schema:
            $ref: >-
              #/components/schemas/ucTrunkingCloudSettingsErrorResponseXmlWrapper
          examples:
            example:
              $ref: >-
                #/components/examples/ucTrunkingHostedSettingsBadRequestXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/ucTrunkingHostedSettingsBadRequestJsonExample
    ucTrunkingHostedSettingsNotFoundErrorResponse:
      description: Not Found
      content:
        application/xml:
          schema:
            $ref: >-
              #/components/schemas/ucTrunkingCloudSettingsErrorResponseXmlWrapper
          examples:
            example:
              $ref: '#/components/examples/ucTrunkingHostedSettingsNotFoundXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/ucTrunkingHostedSettingsNotFoundJsonExample
    getUcTrunkingSettingsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ucTrunkingSettingsResponse'
          examples:
            example:
              $ref: '#/components/examples/getUcTrunkingSettingsResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/ucTrunkingSettingsResponseJson'
          examples:
            example:
              $ref: '#/components/examples/getUcTrunkingSettingsResponseJsonExample'
    accountNotFoundErrorResponse:
      description: Not Found
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/accountErrorResponseXmlWrapper'
          examples:
            accountExample:
              $ref: '#/components/examples/accountNotFoundResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            accountExample:
              $ref: '#/components/examples/accountNotFoundResponseJsonExample'
    accountSystemErrorResponse:
      description: System Error
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/accountErrorResponseXmlWrapper'
          examples:
            accountExample:
              $ref: '#/components/examples/accountSystemErrorResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            accountExample:
              $ref: '#/components/examples/accountSystemErrorResponseJsonExample'
    accountResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/accountResponseXmlWrapper'
          examples:
            accountExample:
              $ref: '#/components/examples/accountResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/accountJson'
          examples:
            accountExample:
              $ref: '#/components/examples/accountResponseJsonExample'
    subAccountTotalSeatsSuccessResponse:
      description: OK
      content:
        application/xml:
          examples:
            totalSeatsSuccessExample:
              $ref: '#/components/examples/subAccountTotalSeatsSuccessXmlExample'
          schema:
            $ref: '#/components/schemas/subAccountUcTrunkingSeats'
        application/json:
          examples:
            totalSeatsSuccessJsonExample:
              $ref: '#/components/examples/totalSeatsSuccessJsonExample'
          schema:
            $ref: '#/components/schemas/accountUcTrunkingSeatsJson'
    subAccountTotalSeatsBadRequestErrorResponse:
      description: Bad Request
      content:
        application/xml:
          examples:
            subAccountTotalSeatsErrorExample:
              $ref: '#/components/examples/subAccountTotalSeatsErrorXmlExample'
          schema:
            $ref: '#/components/schemas/subAccountTotalSeatsBadRequestResponse'
        application/json:
          examples:
            subAccountTotalSeatsErrorJsonExample:
              $ref: '#/components/examples/totalSeatsErrorJsonExample'
          schema:
            $ref: '#/components/schemas/responseStatusJson'
    locationCreatedResponse:
      description: Created
      headers:
        Location:
          description: The URL of the created Location (SIP Peer)
          schema:
            type: string
          example: >-
            https://api.bandwidth.com/api/v2/accounts/1234567/sites/407/sippeers/500017
    locationsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/tnLocationsResponse'
          examples:
            locationsExample:
              $ref: '#/components/examples/locationsXmlExample'
        application/json:
          schema:
            properties:
              locations:
                type: array
                items:
                  $ref: '#/components/schemas/locationJson'
          examples:
            locationsExample:
              $ref: '#/components/examples/locationsJsonExample'
    locationResponse:
      description: OK
      content:
        application/xml:
          schema:
            type: object
            properties:
              SipPeerResponse:
                $ref: '#/components/schemas/locationResponse'
          examples:
            locationExample:
              $ref: '#/components/examples/locationXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/locationJson'
          examples:
            locationExample:
              $ref: '#/components/examples/locationJsonExample'
    locationDeleteResponse:
      description: OK
      content:
        application/xml:
          schema:
            type: object
            properties:
              SipPeerResponse:
                $ref: '#/components/schemas/deleteLocationXmlResponse'
          examples:
            locationExample:
              $ref: '#/components/examples/deleteLocationXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/deleteLocationJsonResponse'
          examples:
            locationExample:
              $ref: '#/components/examples/deleteLocationJsonExample'
    locationResponseBadRequestType1:
      description: Bad Request
      content:
        application/xml:
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <SipPeerResponse>
                   <ResponseStatus>
                      <ErrorCode>13582</ErrorCode>
                      <Description>Enforce option is missing</Description>
                   </ResponseStatus>
                </SipPeerResponse>
          schema:
            $ref: '#/components/schemas/locationResponseBadRequest'
        application/json:
          examples:
            example:
              value:
                errorCode: 13582
                description: Enforce option is missing
          schema:
            $ref: '#/components/schemas/errorResponseJson'
    locationResponseBadRequestType2:
      description: Bad Request
      content:
        application/xml:
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <SipPeerResponse>
                   <ResponseStatus>
                      <ErrorCode>13613</ErrorCode>
                      <Description>Delete not allowed while a Location (SIP Peer) has SMS feature</Description>
                   </ResponseStatus>
                </SipPeerResponse>
          schema:
            $ref: '#/components/schemas/locationResponseBadRequest'
        application/json:
          examples:
            example:
              value:
                errorCode: 13613
                description: Delete not allowed while a Location (SIP Peer) has SMS feature
          schema:
            $ref: '#/components/schemas/errorResponseJson'
    locationResponseBadRequestType3:
      description: Bad Request
      content:
        application/xml:
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <SipPeersResponse>
                   <ResponseStatus>
                      <ErrorCode>4014</ErrorCode>
                      <Description>The SiteId submitted is invalid.</Description>
                   </ResponseStatus>
                </SipPeersResponse>
          schema:
            $ref: '#/components/schemas/locationResponseBadRequest'
        application/json:
          examples:
            example:
              value:
                errorCode: 4014
                description: The SiteId submitted is invalid.
          schema:
            $ref: '#/components/schemas/errorResponseJson'
    locationResponseNotFound:
      description: Not Found
      content:
        application/xml:
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <SipPeerResponse>
                  <ResponseStatus>
                     <ErrorCode>13563</ErrorCode>
                     <Description>Location (Sip Peer) '316167' account '9999999' and sub-account (site) '45' does not exist</Description>
                  </ResponseStatus>
                </SipPeerResponse>
          schema:
            $ref: '#/components/schemas/locationResponseBadRequest'
        application/json:
          examples:
            example:
              value:
                errorCode: 13563
                description: >-
                  Location (Sip Peer) '316167' account '9999999' and sub-account
                  (site) '45' does not exist
          schema:
            $ref: '#/components/schemas/errorResponseJson'
    locationResponseConflict:
      description: Conflict
      content:
        application/xml:
          examples:
            example:
              value: >-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>

                <SipPeerResponse>
                   <ResponseStatus>
                      <ErrorCode>12112</ErrorCode>
                      <Description>The verifiable address closest to the submitted access is included below. Please use that street address or another valid street address in your next request</Description>
                   </ResponseStatus>
                   <AddressErrorDescription>
                      <AddressInconsistencies>Some adjustments are required to allow the address to pass geocoding:
                Specified value - City : "WASHINGTUN" Valid value -
                "WASHINGTON"</AddressInconsistencies>
                      <RecommendedAddress>
                         <AddressLine1>1600 PENNSYLVANIA AVE NW</AddressLine1>
                         <HouseNumber>1600</HouseNumber>
                         <StreetName>PENNSYLVANIA</StreetName>
                         <StreetSuffix>AVE</StreetSuffix>
                         <PostDirectional>NW</PostDirectional>
                         <City>WASHINGTON</City>
                         <StateCode>DC</StateCode>
                         <Zip>20500</Zip>
                         <Country>US</Country>
                      </RecommendedAddress>
                   </AddressErrorDescription>
                </SipPeerResponse>
          schema:
            $ref: '#/components/schemas/locationResponseConflict'
        application/json:
          examples:
            example:
              value:
                errorCode: 13582
                description: Enforce option is missing
                addressInconsistencies: >-
                  Some adjustments are required to allow the address to pass
                  geocoding: Specified value - City : WASHINGTUN Valid value -
                  WASHINGTON
                recommendedAddress:
                  addressLine1: 1600 PENNSYLVANIA AVE NW
                  houseNumber: '1600'
                  streetName: PENNSYLVANIA
                  streetSuffix: AVE
                  postDirectional: NW
                  city: WASHINGTON
                  stateCode: DC
                  zip: '20500'
                  country: US
          schema:
            $ref: '#/components/schemas/geoValidationErrorResponseJson'
    locationResponseServiceUnavailable:
      description: Service unavailable
      content:
        application/xml:
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <SipPeerResponse>
                   <ResponseStatus>
                      <ErrorCode>13566</ErrorCode>
                      <Description>Service is unavailable</Description>
                   </ResponseStatus>
                </SipPeerResponse>
          schema:
            $ref: '#/components/schemas/locationResponseBadRequest'
        application/json:
          examples:
            example:
              value:
                errorCode: 13566
                description: Service is unavailable
          schema:
            $ref: '#/components/schemas/errorResponseJson'
    subAccountCreatedResponse:
      description: Created
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/subAccountResponseXmlWrapper'
          examples:
            siteExample:
              $ref: '#/components/examples/subAccountResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/subAccountJson'
          examples:
            subAccountExample:
              $ref: '#/components/examples/subAccountResponseJsonExample'
    subAccountResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/subAccountResponseXmlWrapper'
          examples:
            siteExample:
              $ref: '#/components/examples/subAccountResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/subAccountJson'
          examples:
            subAccountExample:
              $ref: '#/components/examples/subAccountResponseJsonExample'
    subAccountBadRequestErrorResponse:
      description: Bad Request
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/subAccountErrorResponseXmlWrapper'
          examples:
            siteExample:
              $ref: '#/components/examples/subAccountBadRequestResponseXmlExample'
            geoValidationErrorExample:
              $ref: >-
                #/components/examples/subAccountBadRequestGeoValidationXmlExample
        application/json:
          schema:
            anyOf:
              - $ref: '#/components/schemas/errorResponseJson'
              - $ref: '#/components/schemas/genericJsonResponse'
              - $ref: '#/components/schemas/geoValidationErrorResponseJson'
          examples:
            subAccountExample:
              $ref: '#/components/examples/subAccountBadRequestResponseJsonExample'
            genericJsonErrorExample:
              $ref: '#/components/examples/genericJsonErrorForSubAccountExamplePost'
            geoValidationErrorExample:
              $ref: >-
                #/components/examples/subAccountBadRequestGeoValidationJsonExample
    subAccountBadRequestErrorResponsePut:
      description: Bad Request
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/subAccountErrorResponseXmlWrapper'
          examples:
            siteExample:
              $ref: '#/components/examples/subAccountBadRequestResponseXmlExample'
            geoValidationErrorExample:
              $ref: >-
                #/components/examples/subAccountBadRequestGeoValidationXmlExample
        application/json:
          schema:
            anyOf:
              - $ref: '#/components/schemas/errorResponseJson'
              - $ref: '#/components/schemas/genericJsonResponse'
              - $ref: '#/components/schemas/geoValidationErrorResponseJson'
          examples:
            subAccountExample:
              $ref: '#/components/examples/subAccountBadRequestResponseJsonExample'
            genericJsonErrorExample:
              $ref: '#/components/examples/genericJsonErrorForSubAccountExamplePut'
            geoValidationErrorExample:
              $ref: >-
                #/components/examples/subAccountBadRequestGeoValidationJsonExample
    subAccountConflictErrorResponse:
      description: Conflict
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/subAccountErrorResponseXmlWrapper'
          examples:
            siteExample:
              $ref: '#/components/examples/subAccountConflictResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            subAccountExample:
              $ref: '#/components/examples/subAccountConflictResponseJsonExample'
    subAccountsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/subAccountsResponseXmlWrapper'
          examples:
            sitesExample:
              $ref: '#/components/examples/subAccountsResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/subAccountsResponseJsonObject'
          examples:
            subAccountsExample:
              $ref: '#/components/examples/subAccountsResponseJsonExample'
    subAccountNotFoundErrorResponse:
      description: Not Found
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/subAccountErrorResponseXmlWrapper'
          examples:
            siteExample:
              $ref: '#/components/examples/subAccountNotFoundResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            subAccountExample:
              $ref: '#/components/examples/subAccountNotFoundResponseJsonExample'
    subAccountCantBeDeletedErrorResponse:
      description: Bad Request
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/subAccountErrorResponseXmlWrapper'
          examples:
            siteExample:
              $ref: '#/components/examples/subAccountCantBeDeletedResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            subAccountExample:
              $ref: '#/components/examples/subAccountCantBeDeletedResponseJsonExample'
    subAccountSystemErrorResponse:
      description: System Error
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/subAccountErrorResponseXmlWrapper'
          examples:
            accountExample:
              $ref: '#/components/examples/subAccountSystemErrorResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            accountExample:
              $ref: '#/components/examples/subAccountSystemErrorResponseJsonExample'
    subAccountsSystemErrorResponse:
      description: System Error
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/subAccountsErrorResponseXmlWrapper'
          examples:
            accountExample:
              $ref: '#/components/examples/subAccountsSystemErrorResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            accountExample:
              $ref: '#/components/examples/subAccountSystemErrorResponseJsonExample'
    a2pClassListResponse:
      description: Ok
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/a2pClassListResponse'
          examples:
            a2pClassListResponseExample:
              $ref: '#/components/examples/a2pClassListResponseExample'
        application/json:
          schema:
            $ref: '#/components/schemas/a2pClassListResponseJson'
          examples:
            a2pClassListResponseExample:
              $ref: '#/components/examples/a2pClassListResponseExampleJson'
    a2pClassResponse:
      description: Ok
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/a2pClassResponse'
          examples:
            a2pClassResponseExample:
              $ref: '#/components/examples/a2pClassResponseExample'
        application/json:
          schema:
            $ref: '#/components/schemas/a2pClassJson'
          examples:
            a2pClassResponseExample:
              $ref: '#/components/examples/a2pClassResponseExampleJson'
    a2pClassNotFoundResponse:
      description: A2P Class not found
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/adminDataErrorResponse'
          examples:
            a2pClassNotFoundExample:
              $ref: '#/components/examples/a2pClassNotFoundExample'
        application/json:
          schema:
            $ref: '#/components/schemas/adminDataErrorResponseJson'
          examples:
            a2pClassNotFoundExample:
[...]
