openapi: 3.0.0
info:
  title: DASH
  version: 1.0.0
  contact:
    name: Bandwidth Support
  description: >-
    A Bandwidth API to provision and manage emergency address information
    associated with telephone numbers.

    ## Base Path

    `https://service.dashcs.com/dash-api/xml/emergencyprovisioning/v1`
  x-server-configuration:
    default-environment: production
    default-server: default
    environments:
      - name: production
        servers:
          - name: default
            url: https://service.dashcs.com/dash-api/xml/emergencyprovisioning/v1
      - name: staging
        servers:
          - name: default
            url: >-
              https://staging-service.dashcs.com/dash-api/xml/emergencyprovisioning/v1
      - name: custom
        servers:
          - name: default
            url: '{base_url}'
    parameters:
      - name: base_url
        description: ''
        type: string
        example: https://www.example.com
servers:
  - url: https://service.dashcs.com/dash-api/xml/emergencyprovisioning/v1
    description: Production
    variables: {}
  - url: https://staging-service.dashcs.com/dash-api/xml/emergencyprovisioning/v1
    description: Staging
    variables: {}
tags:
  - name: Authentication Check
  - name: URIs
  - name: Locations
paths:
  /authenticationcheck:
    get:
      summary: Authentication Check
      description: >-
        A convenience method that always returns true if credentials passed in
        the authorization header are valid. You can use this to make sure your
        authentication is working.
      operationId: authenticationcheck
      tags:
        - Authentication Check
      responses:
        '200':
          description: OK
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/AuthenticationCheckResponse'
              examples:
                successfulResponse:
                  summary: Successful Response
                  value: >-
                    <ns2:getAuthenticationCheckResponse
                    xmlns:ns2="http://dashcs.com/api/v1/emergency">


                        <AuthValid>true</AuthValid>
                    </ns2:getAuthenticationCheckResponse>
        '401':
          description: Unauthorized
  /uris:
    get:
      tags:
        - URIs
      summary: URIs
      description: >-
        Find all of the URIs belonging to the requesting customer that has
        active emergency services.
      operationId: getUris
      responses:
        '200':
          description: OK
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UrisResponse'
              examples:
                successfulResponse:
                  summary: Successful Response
                  value: >-
                    <ns2:getURIsResponse
                    xmlns:ns2="http://dashcs.com/api/v1/emergency">


                        <URIs>
                            <uris>
                                <callername>Caller One</callername>
                                <uri>tel:19195551234</uri>
                            </uris>
                            <uris>
                                <callername>Caller Two</callername>
                                <uri>tel:19195554321</uri>
                            </uris>
                            <uris>
                                <callername>Caller Three</callername>
                                <uri>tel:19195559876</uri>
                            </uris>
                        </URIs>
                    </ns2:getURIsResponse>
        '401':
          description: Unauthorized
  /locationsbyuri/{uri}:
    get:
      tags:
        - URIs
      summary: Locations by URI
      description: Find all the locations associated with the given URI.
      operationId: getLocationsByUri
      parameters:
        - name: uri
          in: path
          required: true
          description: >-
            The 11 digit phone number for the subscriber. The "tel:" prefix is
            not supported for the URI in this operation.
          schema:
            type: string
          example: '13035551234'
      responses:
        '200':
          description: OK
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetLocationsByUriResponse'
              examples:
                successfulResponse:
                  summary: Successful Response
                  value: >-
                    <ns0:getLocationsByURIResponse
                    xmlns:ns0="http://dashcs.com/api/v1/emergency"
                    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


                        <Locations>
                            <activatedtime>2014-10-08T16:57:48Z</activatedtime>
                            <address1>1855 BLAKE ST</address1>
                            <address2 xsi:nil="true" />
                            <callername>Bandwidth Test User 1</callername>
                            <comments xsi:nil="true" />
                            <community>DENVER</community>
                            <customerorderid xsi:nil="true" />
                            <latitude>39.75302</latitude>
                            <legacydata>
                                <housenumber>1855</housenumber>
                                <predirectional xsi:nil="true" />
                                <streetname>BLAKE ST</streetname>
                                <suite xsi:nil="true" />
                            </legacydata>
                            <locationid>20914831</locationid>
                            <longitude>-104.996203</longitude>
                            <plusfour>1288</plusfour>
                            <postalcode>80202</postalcode>
                            <state>CO</state>
                            <status>
                                <code>PROVISIONED</code>
                                <description>Location is currently provisioned for URI</description>
                            </status>
                            <type>ADDRESS</type>
                            <updatetime>2014-10-08T17:23:49Z</updatetime>
                        </Locations>
                        <Locations>
                            <activatedtime>2014-10-08T16:57:48Z</activatedtime>
                            <address1>2850 ST LAWERENCE AVE</address1>
                            <address2 xsi:nil="true" />
                            <callername>Bandwidth Test User 1</callername>
                            <comments xsi:nil="true" />
                            <community>READING</community>
                            <customerorderid xsi:nil="true" />
                            <latitude>40.331245</latitude>
                            <legacydata>
                                <housenumber>2850</housenumber>
                                <predirectional xsi:nil="true" />
                                <streetname>ST LAWERENCE AVE</streetname>
                                <suite xsi:nil="true" />
                            </legacydata>
                            <locationid>21018169</locationid>
                            <longitude>-75.849602</longitude>
                            <plusfour xsi:nil="true" />
                            <postalcode>19606</postalcode>
                            <state>PA</state>
                            <status>
                                <code>GEOCODED</code>
                                <description>Location is geocoded</description>
                            </status>
                            <type>ADDRESS</type>
                            <updatetime>2015-04-08T23:45:07Z</updatetime>
                        </Locations>
                    </ns0:getLocationsByURIResponse>
        '401':
          description: Unauthorized
  /provisionedlocationbyuri/{uri}:
    get:
      tags:
        - URIs
      summary: Provisioned Location by URI
      description: >-
        Get the provisioned location associated with a URI. You can have
        multiple locations associated with a URI but only one can be provisioned
        at a time.
      operationId: getProvisionedLocationByUri
      parameters:
        - name: uri
          in: path
          required: true
          description: >-
            The 11 digit phone number for the subscriber. The "tel:" prefix is
            not supported for the URI in this operation.
          schema:
            type: string
          example: '13035551234'
      responses:
        '200':
          description: OK
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetProvisionedLocationByUriResponse'
              examples:
                successfulResponse:
                  summary: Successful Response
                  value: >-
                    <ns0:getLocationsByURIResponse
                    xmlns:ns0="http://dashcs.com/api/v1/emergency"
                    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


                        <Location>
                            <activatedtime>2014-10-08T16:57:48Z</activatedtime>
                            <address1>1855 BLAKE ST</address1>
                            <address2 xsi:nil="true" />
                            <callername>Bandwidth Test User 1</callername>
                            <comments xsi:nil="true" />
                            <community>DENVER</community>
                            <customerorderid xsi:nil="true" />
                            <latitude>39.75302</latitude>
                            <legacydata>
                                <housenumber>1855</housenumber>
                                <predirectional xsi:nil="true" />
                                <streetname>BLAKE ST</streetname>
                                <suite xsi:nil="true" />
                            </legacydata>
                            <locationid>20914831</locationid>
                            <longitude>-104.996203</longitude>
                            <plusfour>1288</plusfour>
                            <postalcode>80202</postalcode>
                            <state>CO</state>
                            <status>
                                <code>PROVISIONED</code>
                                <description>Location is currently provisioned for URI</description>
                            </status>
                            <type>ADDRESS</type>
                            <updatetime>2014-10-08T17:23:49Z</updatetime>
                        </Location>
                    </ns0:getLocationsByURIResponse>
        '401':
          description: Unauthorized
  /provisionedlocationhistorybyuri/{uri}:
    get:
      tags:
        - URIs
      summary: Provisoned Location History by URI
      description: Given a URI find the provisioned location and histories.
      operationId: getProvisionedLocationHistoryByUri
      parameters:
        - name: uri
          in: path
          required: true
          description: >-
            The 11 digit phone number for the subscriber. The "tel:" prefix is
            not supported for the URI in this operation.
          schema:
            type: string
          example: '13035551234'
      responses:
        '200':
          description: OK
          content:
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/GetProvisionedLocationHistoryByUriResponse
              examples:
                successfulResponse:
                  summary: Successful Response
                  value: >-
                    <ns2:getProvisionedLocationHistoryByURIResponse
                    xmlns:ns2="http://dashcs.com/api/v1/emergency">


                        <ProvisionedLocations>
                            <activatedtime>2010-11-18T23:19:40Z</activatedtime>
                            <address1>1002 BYRD LN</address1>
                            <address2 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"></address2>
                            <callername>Larry Reeder</callername>
                            <comments xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"></comments>
                            <community>PLEASANTON</community>
                            <customerorderid xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"></customerorderid>
                            <latitude>37.63894</latitude>
                            <legacydata>
                                <housenumber>1002</housenumber>
                                <predirectional xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"></predirectional>
                                <streetname>BYRD LN</streetname>
                                <suite xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"></suite>
                            </legacydata>
                            <locationid xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"></locationid>
                            <longitude>-121.871018</longitude>
                            <plusfour>9706</plusfour>
                            <postalcode>94566</postalcode>
                            <state>CA</state>
                            <status xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"></status>
                            <type>ADDRESS</type>
                            <updatetime>2010-04-20T15:06:16Z</updatetime>
                        </ProvisionedLocations>
                    </ns2:getProvisionedLocationHistoryByURIResponse>
        '401':
          description: Unauthorized
  /validatelocation:
    post:
      tags:
        - Locations
      summary: Validate Location
      description: Validate an address.
      operationId: validateLocation
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/ValidateLocationRequest'
            examples:
              Payload:
                value: |-
                  <validateLocation>
                   <location>
                     <address1>2040 Larimer</address1>
                     <community>Denver</community>
                     <state>CO</state>
                     <postalcode>80205</postalcode>
                     <type>ADDRESS</type>
                   </location>
                  </validateLocation>
        required: true
      responses:
        '200':
          description: OK
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ValidateLocationResponse'
              examples:
                successfulResponse:
                  summary: Successful Response
                  value: >-
                    <ns1:validateLocationResponse
                    xmlns:ns1=”http://dashcs.com/api/v1/emergency”>


                      <Location>
                        <address1>2040 Larimer St</address1>
                        <community>Denver</community>
                        <latitude>39.753439</latitude>
                        <legacydata>
                        <longitude>-104.991949</longitude>
                        <plusfour>2015</plusfour>
                        <postalcode>80205</postalcode>
                        <state>CO</state>
                        <status>
                          <code>GEOCODED</code>
                          <description>Location is geocoded</description>
                        </status>
                        <type>ADDRESS</type>
                     </Location>
                    </ns1:validateLocationResponse>
        '401':
          description: Unauthorized
  /addlocation:
    post:
      tags:
        - Locations
      summary: Add Location
      description: Add a location and associate it with a URI.
      operationId: addLocation
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AddLocationRequest'
            examples:
              Payload:
                value: |-
                  <addLocation>
                    <uri>
                       <uri>13035551236</uri>
                       <callername>Bandwidth Test User 3</callername>
                    </uri>
                    <location>
                      <address1>1860 Blake St</address1>
                      <address2>Suite 420</address2>
                      <community>Denver</community>
                      <postalcode>80202</postalcode>
                      <plusfour></plusfour>
                      <state>CO</state>
                      <type>ADDRESS</type>
                    </location>
                  </addLocation>
        required: true
      responses:
        '200':
          description: OK
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/AddLocationResponse'
              examples:
                successfulResponse:
                  summary: Successful Response
                  value: >-
                    <ns0:addLocationResponse
                    xmlns:ns0="http://dashcs.com/api/v1/emergency"
                    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


                        <Location>
                            <activatedtime>2018-03-12T13:24:26.296Z</activatedtime>
                            <address1>1860 BLAKE ST</address1>
                            <address2>STE 420</address2>
                            <callername>Bandwidth Test User 3</callername>
                            <comments xsi:nil="true" />
                            <community>DENVER</community>
                            <customerorderid xsi:nil="true" />
                            <latitude>39.753095</latitude>
                            <legacydata>
                                <housenumber>1860</housenumber>
                                <predirectional xsi:nil="true" />
                                <streetname>BLAKE ST</streetname>
                                <suite>STE 420</suite>
                            </legacydata>
                            <locationid>67880038</locationid>
                            <longitude>-104.995857</longitude>
                            <plusfour>1228</plusfour>
                            <postalcode>80202</postalcode>
                            <state>CO</state>
                            <status>
                                <code>GEOCODED</code>
                                <description>Location is geocoded</description>
                            </status>
                            <type>ADDRESS</type>
                            <updatetime xsi:nil="true" />
                        </Location>
                    </ns0:addLocationResponse>
        '401':
          description: Unauthorized
  /provisionlocation:
    post:
      tags:
        - Locations
      summary: Provision Location
      description: >-
        Provision a Location with a URI to set it as the address sent to the
        PSAP when the URI dials 911.
      operationId: provisionLocation
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/ProvisionLocationRequest'
            examples:
              Payload:
                value: |-
                  <provisionLocation>
                     <locationid>67880038</locationid>
                  </provisionLocation>
        required: true
      responses:
        '200':
          description: OK
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ProvisionLocationResponse'
              examples:
                successfulResponse:
                  summary: Successful Response
                  value: >-
                    <ns0:provisionLocationResponse
                    xmlns:ns0="http://dashcs.com/api/v1/emergency">


                        <LocationStatus>
                            <code>PROVISIONED</code>
                            <description>Location is currently provisioned for URI</description>
                        </LocationStatus>
                    </ns0:provisionLocationResponse>
        '401':
          description: Unauthorized
  /removelocation:
    post:
      tags:
        - Locations
      summary: Remove Location
      description: Remove a Location.
      operationId: removeLocation
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/RemoveLocationRequest'
            examples:
              Payload:
                value: |-
                  <removeLocation>
                   <locationid>77</locationid>
                  </removeLocation>
        required: true
      responses:
        '200':
          description: OK
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/RemoveLocationResponse'
              examples:
                successfulResponse:
                  summary: Successful Response
                  value: >-
                    <ns0:removeLocationResponse
                    xmlns:ns0="http://dashcs.com/api/v1/emergency">


                        <LocationStatus>
                            <code>REMOVED</code>
                            <description>Location removed from the system</description>
                        </LocationStatus>
                    </ns0:removeLocationResponse>
        '401':
          description: Unauthorized
  /removeuri:
    post:
      tags:
        - URIs
      summary: Remove URI
      description: >-
        Remove a URI. Also remove all locations that were associated with the
        URI
      operationId: removeUri
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/RemoveUriRequest'
            examples:
              Payload:
                value: |-
                  <removeUri>
                     <uri>13035551236</uri>
                  </removeUri>
        required: true
      responses:
        '200':
          description: OK
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/RemoveUriResponse'
              examples:
                successfulResponse:
                  summary: Successful Response
                  value: >-
                    <ns0:removeURIResponse
                    xmlns:ns0="http://dashcs.com/api/v1/emergency">


                        <URIStatus>
                            <code>REMOVED</code>
                            <description>URI removed from system</description>
                        </URIStatus>
                    </ns0:removeURIResponse>
        '401':
          description: Unauthorized
components:
  schemas:
    location:
      type: object
      properties:
        address1:
          type: string
          description: Address Line 1
        address2:
          type: string
          description: Optional Address Line 2
        community:
          type: string
          description: City or Town
        postalcode:
          type: string
          description: Postal or ZIP Code
        plusfour:
          type: string
          description: Optional +4 ZIP digits
        state:
          type: string
          description: State/Province
        type:
          type: string
          description: Location type. Only "ADDRESS" is supported.
    Location:
      type: object
      properties:
        activatedtime:
          type: string
          description: >-
            Time that the most recent address was activated (provisioned) for
            the endpoint (in UTC)
        address1:
          type: string
          description: Address Line 1
        address2:
          type: string
          description: Optional Address Line 2
        callername:
          type: string
          description: Name of subscriber that owns the uri
        comments:
          type: string
          description: >-
            Customer defined comments for this location. This information is NOT
            delivered to the PSAP and is only for customer use.
        community:
          type: string
          description: City or Town
        customerorderid:
          type: string
          description: Unused
        latitude:
          type: string
          description: Latitude of location
        legacydata:
          type: object
          properties:
            housenumber:
              type: string
              description: >-
                Address components for legacy API users. Deprecated for new API
                users.
            predirectional:
              type: string
              description: >-
                Address components for legacy API users. Deprecated for new API
                users.
            streetname:
              type: string
              description: >-
                Address components for legacy API users. Deprecated for new API
                users.
            suite:
              type: string
              description: >-
                Address components for legacy API users. Deprecated for new API
                users.
        locationid:
          type: string
          description: >-
            Customer-provided identifier for this location. If not defined,
            Bandwidth will generate one for new locations.
        longitude:
          type: string
          description: Longitude of location
        plusfour:
          type: string
          description: Optional +4 ZIP digits
        postalcode:
          type: string
          description: Postal or ZIP Code
        state:
          type: string
          description: State/Province
        status:
          type: object
          properties:
            code:
              type: string
              description: Numerical status code
            description:
              type: string
              description: Descriptive text for code
        type:
          type: string
          description: Location type. Only "ADDRESS" is supported.
        updatetime:
          type: string
          description: Last time the endpoint information was updated (in UTC)
    Locations:
      type: object
      properties:
        activatedtime:
          type: string
          description: >-
            Time  that the most recent address was activated (provisioned) for
            the endpoint (in UTC)
        address1:
          type: string
          description: Address Line 1
        address2:
          type: string
          description: Optional Address Line 2
        callername:
          type: string
          description: Name of subscriber that owns the uri
        comments:
          type: string
          description: >-
            Customer defined comments for this location. This information is NOT
            delivered to the PSAP and is only for customer use.
        community:
          type: string
          description: City or Town
        customerorderid:
          type: string
          description: Unused
        latitude:
          type: string
          description: Latitude of location
        legacydata:
          type: object
          properties:
            housenumber:
              type: string
              description: >-
                Address components for legacy API users. Deprecated for new API
                users.
            predirectional:
              type: string
              description: >-
                Address components for legacy API users. Deprecated for new API
                users.
            streetname:
              type: string
              description: >-
                Address components for legacy API users. Deprecated for new API
                users.
            suite:
              type: string
              description: >-
                Address components for legacy API users. Deprecated for new API
                users.
        locationid:
          type: string
          description: >-
            Customer-provided identifier for this location. If not defined,
            Bandwidth will generate one for new locations.
        longitude:
          type: string
          description: Longitude of location
        plusfour:
          type: string
          description: Optional +4 ZIP digits
        postalcode:
          type: string
          description: Postal or ZIP Code
        state:
          type: string
          description: State/Province
        status:
          type: object
          properties:
            code:
              type: string
              description: Numerical status code
            description:
              type: string
              description: Descriptive text for code
        type:
          type: string
          description: Location type. Only "ADDRESS" is supported.
        updatetime:
          type: string
          description: Last time the endpoint information was updated (in UTC)
    ProvisionedLocations:
      type: object
      properties:
        activatedtime:
          type: string
          description: >-
            Time that the most recent address was activated (provisioned) for
            the endpoint (in UTC)
        address1:
          type: string
          description: Address Line 1
        address2:
          type: string
          description: Optional Address Line 2
        callername:
          type: string
          description: Name of subscriber that owns the uri
        comments:
          type: string
          description: >-
            Customer defined comments for this location. This information is NOT
            delivered to the PSAP and is only for customer use.
        community:
          type: string
          description: City or Town
        customerorderid:
          type: string
          description: Unused
        latitude:
          type: string
          description: Latitude of location
        legacydata:
          type: object
          properties:
            housenumber:
              type: string
              description: >-
                Address components for legacy API users. Deprecated for new API
                users.
            predirectional:
              type: string
              description: >-
                Address components for legacy API users. Deprecated for new API
                users.
            streetname:
              type: string
              description: >-
                Address components for legacy API users. Deprecated for new API
                users.
            suite:
              type: string
              description: >-
                Address components for legacy API users. Deprecated for new API
                users.
        locationid:
          type: string
          description: >-
            Customer-provided identifier for this location. If not defined,
            Bandwidth will generate one for new locations.
        longitude:
          type: string
          description: Longitude of location
        plusfour:
          type: string
          description: Optional +4 ZIP digits
        postalcode:
          type: string
          description: Postal or ZIP Code
        state:
          type: string
          description: State/Province
        status:
          type: object
          properties:
            code:
              type: string
              description: Numerical status code
            description:
              type: string
              description: Descriptive text for code
        type:
          type: string
          description: Location type. Only "ADDRESS" is supported.
        updatetime:
          type: string
          description: Last time the endpoint information was updated (in UTC)
    AuthenticationCheckResponse:
      title: getAuthenticationCheckResponse
      type: object
      properties:
        AuthValid:
          type: boolean
          description: Whether or not credentials are valid
    UrisResponse:
      title: getURIsResponse
      type: object
      properties:
        URIs:
          type: object
          properties:
            uris:
              type: object
              properties:
                callername:
                  type: string
                  description: Name of subscriber for the endpoint
                uri:
                  type: string
                  description: >-
                    Effectively the phone number of the subscriber. The URI can
                    include the "tel:" prefix, but it's not required.
    GetLocationsByUriResponse:
      title: getLocationsByUriResponse
      type: array
      items:
        $ref: '#/components/schemas/Locations'
    GetProvisionedLocationByUriResponse:
      title: getProvisionedLocationByUriResponse
      type: object
      properties:
        Location:
          $ref: '#/components/schemas/Location'
    GetProvisionedLocationHistoryByUriResponse:
      title: getProvisionedLocationHistoryByUriResponse
      type: array
      items:
        $ref: '#/components/schemas/ProvisionedLocations'
    ValidateLocationRequest:
      title: validateLocation
      type: object
      properties:
        location:
          $ref: '#/components/schemas/location'
    ValidateLocationResponse:
      title: validateLocationResponse
      type: object
      properties:
        Location:
          $ref: '#/components/schemas/Location'
    AddLocationRequest:
      title: addLocation
      type: object
      properties:
        uri:
          type: object
          properties:
            uri:
              type: string
              description: >-
                Effectively the phone number of the subscriber. The URI can
                include the "tel:" prefix, but it's not required.
            callername:
              type: string
              description: Name of subscriber for the endpoint
        location:
          $ref: '#/components/schemas/location'
    AddLocationResponse:
      title: addLocationResponse
      type: object
      properties:
        Location:
          $ref: '#/components/schemas/Location'
    ProvisionLocationRequest:
      title: provisionLocation
      type: object
      properties:
        locationid:
          type: string
          description: Identifier for this location.
    ProvisionLocationResponse:
      title: provisionLocationResponse
      type: object
      properties:
        LocationStatus:
          type: object
          properties:
            code:
              type: string
              description: Numerical status code
            description:
              type: string
              description: Descriptive text for code
    RemoveLocationRequest:
      title: removeLocation
      type: object
      properties:
        locationid:
          type: string
          description: Identifier for this location.
    RemoveLocationResponse:
      title: removeLocationResponse
      type: object
      properties:
        LocationStatus:
          type: object
          properties:
            code:
              type: string
              description: Numerical status code
            description:
              type: string
              description: Descriptive text for code
    RemoveUriRequest:
      title: removeUri
      type: object
      properties:
        locationid:
          type: string
          description: Identifier for this location.
    RemoveUriResponse:
      title: removeURIResponse
      type: object
      properties:
        URIStatus:
          type: object
          properties:
            code:
              type: string
              description: Numerical status code
            description:
              type: string
              description: Descriptive text for code
  securitySchemes:
    httpBasic:
      type: http
      scheme: basic
security:
  - httpBasic: []
