openapi: 3.0.1
info:
  title: Hosted Number Management
  description: >-
    Bandwidth's Hosted Number Management APIs


    This API provides endpoints to manage hosted telephone numbers, either for
    voice and messaging. 


    Note that specs are still being moved over from the [Numbers
    section](https://dev.bandwidth.com/apis/numbers-apis/numbers)
  contact:
    name: Bandwidth
    url: https://support.bandwidth.com
    email: support@bandwidth.com
  version: 1.0.0
  termsOfService: https://www.bandwidth.com/legal/terms-of-use-bandwidthcom-web-sites/
servers:
  - url: https://api.bandwidth.com/api/v2
    description: Production
security:
  - Basic: []
  - Bearer: []
tags:
  - name: Hosted Messaging
paths:
  /accounts/{accountId}/importPhoneNumberOrders/messaging:
    get:
      tags:
        - Hosted Messaging
      description: >
        Retrieves the importPhoneNumberOrders requests for the given account ID.
        A maximum of 1,000 orders can be retrieved per request. If no date range
        or required query parameter is provided, the order results will be
        limited to the last two years.


        In this table are presented capabilities that are not universally
        available. The following request query parameters are only allowed for
        numbers from specific region/country:

        | Number Region | Request Query Parameter |

        |:--------------|:------------------------|

        |NANP|loaType|
      summary: List Hosted Messaging Orders
      operationId: readImportMessagingPhoneNumberOrders
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/statusQueryParam'
        - $ref: '#/components/parameters/phoneNumberQueryParam'
        - $ref: '#/components/parameters/customerOrderIdQueryParam'
        - $ref: '#/components/parameters/createdDateFromQueryParam'
        - $ref: '#/components/parameters/createdDateToQueryParam'
        - $ref: '#/components/parameters/modifiedDateFromQueryParam'
        - $ref: '#/components/parameters/modifiedDateToQueryParam'
        - $ref: '#/components/parameters/loaTypeQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/getImportMessagingPhoneNumberOrdersResponse'
        '400':
          $ref: >-
            #/components/responses/getImportMessagingPhoneNumberOrders400ErrorResponse
    post:
      tags:
        - Hosted Messaging
      description: >-
        Creates an importPhoneNumberOrder request to add numbers under the given
        sub account ID and location ID as specified in the body.

        A successfully submitted order will have a status of "RECEIVED". A
        successfully completed order will have a status of "COMPLETE" if all of
        the telephone numbers were successfully imported and  "PARTIAL" if some
        of the telephone numbers were imported. A failed order with will have a
        staus of "FAILED" and no telephone numbers would have been imported.


        The following request parameters are only required for numbers from
        specific region/country:

        | Number Region | Request Parameter |

        |:--------------|:------------------------|

        |NANP|LoaAuthorizingPerson|

        |NANP|LoaType|

        |NANP|Subscriber|
      summary: Create Hosted Messaging Order
      operationId: createImportMessagingPhoneNumberOrder
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/postImportMessagingPhoneNumberOrdersRequest'
      responses:
        '201':
          $ref: '#/components/responses/postImportMessagingPhoneNumberOrdersResponse'
        '400':
          $ref: >-
            #/components/responses/postImportMessagingPhoneNumberOrders400ErrorResponse
  /accounts/{accountId}/importPhoneNumberOrders/messaging/{orderId}:
    get:
      tags:
        - Hosted Messaging
      description: >-
        Retrieve an order to import hosted messaging to a phone number by order
        ID
      summary: Get Hosted Messaging Order
      operationId: retrieveImportMessagingPhoneNumberOrder
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getImportMessagingPhoneNumberOrderResponse'
        '400':
          $ref: >-
            #/components/responses/getImportMessagingPhoneNumber400ErrorOrderResponse
  /accounts/{accountId}/importPhoneNumberOrders/messaging/{orderId}/history:
    get:
      tags:
        - Hosted Messaging
      description: Retrieves the history of the specified importPhoneNumberOrder.
      summary: Get Hosted Messaging Order History
      operationId: readImportMessagingPhoneNumberOrderHistory
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      responses:
        '200':
          $ref: >-
            #/components/responses/getImportMessagingPhoneNumberOrdersHistoryResponse
  /accounts/{accountId}/importPhoneNumberOrders/messaging/{orderId}/loas:
    get:
      description: >-
        Retrieves the list of the LOA files associated with the order. Only for
        orders involving NANP numbers.
      operationId: listImportMessagingPhoneNumberOrderLoas
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
        - $ref: '#/components/parameters/metaDataQueryParam'
      responses:
        '200':
          $ref: >-
            #/components/responses/getImportMessagingPhoneNumberOrdersLoasResponse
        '400':
          $ref: >-
            #/components/responses/getImportMessagingPhoneNumberOrdersLoas400ErrorResponse
      summary: List Hosted Messaging Order LOA files
      tags:
        - Hosted Messaging
    post:
      description: >-
        POSTing to the /loas resource will enable the upload of the file.  The
        key attribute to the POST is ensuring that the headers are correctly set
        to support the file upload.<br>

        Query parameter or header documentType can be used to specify type of
        document on upload.

        <p>When uploading documents using the /loas resource, you must specify
        the MIME type of the document being upload using the Content-Type HTTP
        header.</p>

        <p>The LOA document must be uploaded using one of the following MIME
        types:</p>

        <ul>

        <li>application/pdf</li>

        <li>text/plain</li>

        <li>image/jpeg</li>

        <li>image/png</li>

        <li>image/tiff</li>

        <li>text/csv</li>

        <li>application/vnd.ms-excel</li>

        <li>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</li>

        <li>application/msword</li>

        <li>application/vnd.openxmlformats-officedocument.wordprocessingml.document</li>

        </ul>
      operationId: createImportMessagingPhoneNumberOrderLoas
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
        - $ref: '#/components/parameters/documentTypeQueryParam'
      requestBody:
        $ref: >-
          #/components/requestBodies/postImportMessagingPhoneNumberOrdersLoasRequest
      responses:
        '201':
          $ref: >-
            #/components/responses/postImportMessagingPhoneNumberOrdersLoasResponse
      summary: Upload LOA File for Import Phone Number Order [NANP]
      tags:
        - Hosted Messaging
  /accounts/{accountId}/removeImportedPhoneNumberOrders/messaging:
    get:
      tags:
        - Hosted Messaging
      description: >-
        Retrieves the Remove Imported Messaging Tn Orders requests for the given
        account ID.

        A maximum of 1,000 orders can be retrieved per request. If no date range
        or specific query parameter as required is provided, the order results
        will be limited to the last two years.
      summary: List Orders for Removing Hosted Messaging
      operationId: listRemoveImportedTnOrders
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/statusQueryParam'
        - $ref: '#/components/parameters/phoneNumberQueryParam'
        - $ref: '#/components/parameters/customerOrderIdQueryParam'
        - $ref: '#/components/parameters/createdDateFromQueryParam'
        - $ref: '#/components/parameters/createdDateToQueryParam'
        - $ref: '#/components/parameters/removeImportedModifiedDateFromQueryParam'
        - $ref: '#/components/parameters/removeImportedModifiedDateToQueryParam'
      responses:
        '200':
          $ref: >-
            #/components/responses/getRemoveImportedMessagingPhoneNumberOrdersResponse
    post:
      tags:
        - Hosted Messaging
      description: >
        Create an order to remove imported phone numbers for messaging from the
        given account ID. An optional customer ID can be provided in the request
        body to track the order. A successfully submitted order will have a
        status of "PROCESSING". A successfully completed order will have a
        status of "COMPLETE" if all of the phone numbers were successfully
        removed and  "PARTIAL" if some of the phone numbers were removed. A
        failed order will have a status of "FAILED" and no phone numbers would
        have been removed.
      summary: Create Order to Remove Hosted Messaging
      operationId: createRemoveImportedPhoneNumberOrder
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/postRemoveImportedPhoneNumberOrderRequest'
      responses:
        '201':
          $ref: '#/components/responses/postRemoveImportedMessagingTnOrdersResponse'
        '400':
          $ref: >-
            #/components/responses/postRemoveImportedMessagingTnOrders400ErrorResponse
  /accounts/{accountId}/removeImportedPhoneNumberOrders/messaging/{orderId}:
    get:
      tags:
        - Hosted Messaging
      description: Retrieve an order to remove hosted messaging from a phone number by ID
      summary: Get Order to Remove Hosted Messaging
      operationId: retrieveRemoveImportedPhoneNumberOrder
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      responses:
        '200':
          $ref: >-
            #/components/responses/getRemoveImportedMessagingPhoneNumberOrderResponse
        '400':
          $ref: >-
            #/components/responses/getRemoveImportedMessagingPhoneNumberOrder400ErrorResponse
components:
  securitySchemes:
    Basic:
      type: http
      scheme: basic
      description: >-
        Basic authentication is a simple authentication scheme built into the
        HTTP protocol. To use it, send your HTTP requests with an Authorization
        header that contains the word Basic followed by a space and a
        base64-encoded string `username:password`.

        Example: `Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=`
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        Bearer authentication (also called token authentication) is an HTTP
        authentication scheme that involves security 

        tokens called bearer tokens. The name “Bearer authentication” can be
        understood as “give access to the bearer

        of this token.” The client must send this token in the `Authorization`
        header when making requests to

        protected resources.


        - Example: `Authorization: Bearer <token>`


        Where `<token>` should be replaced with the token string without angle
        brackets.


        For more information, see the following guide:
        [Credentials](https://dev.bandwidth.com/docs/account/credentials/management)
  schemas:
    addressXml:
      type: object
      properties:
        HousePrefix:
          description: >-
            The HousePrefix is the non-numeric address number prefix of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        HouseNumber:
          description: >-
            The HouseNumber is the street address number of the ServiceAddress.
            HouseNumber is mandatory for port-in orders in which the
            ServiceAddress is mandatory.
          type: string
        HouseSuffix:
          description: >-
            The HouseSuffix is the non-numeric address number suffix of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        PreDirectional:
          description: >-
            The PreDirectional is the non-numeric street name prefix of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        StreetName:
          description: >-
            The StreetName is mandatory in cases where the ServiceAddress is
            mandatory.
          type: string
        StreetSuffix:
          description: >-
            The StreetSuffix is the street suffix of the ServiceAddress. This
            element is optional when not needed to fully specify the
            ServiceAddress.
          type: string
        PostDirectional:
          description: >-
            The PostDirectional is the street name post directional of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        AddressLine2:
          description: >-
            AddressLine2 is used to specify Unit, Suite, Floor, etc. in the
            Service Address. AddressLine2 is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        City:
          description: City is mandatory in cases where the ServiceAddress is mandatory.
          type: string
        StateCode:
          description: >-
            StateCode is the 2-letter abbreviation of the state of the
            ServiceAddress. StateCode is mandatory in cases where the
            ServiceAddress is mandatory.
          type: string
        Zip:
          description: >-
            Zip is the Zip Code of the ServiceAddress. Zip is mandatory in cases
            where the ServiceAddress is mandatory.
          type: string
        PlusFour:
          description: >-
            PlusFour is the 4 digits that are sometimes suffixed to the Zip
            Code.
          type: string
        County:
          description: The county where the subscriber or business is located.
          type: string
        Country:
          description: >-
            Country is the country of the ServiceAddress. This value will be
            derived from the StateCode, so it should generally be omitted.
          type: string
        ResetAddressFields:
          type: boolean
        Latitude:
          type: string
        Longitude:
          type: string
        AddressType:
          $ref: '#/components/schemas/addressTypeXml'
    address:
      properties:
        addressLine2:
          description: >-
            AddressLine2 is used to specify Unit, Suite, Floor, etc. in the
            Service Address. AddressLine2 is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        addressType:
          $ref: '#/components/schemas/addressType'
        city:
          description: City is mandatory in cases where the ServiceAddress is mandatory.
          type: string
        country:
          description: >-
            Country is the country of the ServiceAddress. This value will be
            derived from the StateCode, so it should generally be omitted.
          type: string
        county:
          description: The county where the subscriber or business is located.
          type: string
        houseNumber:
          description: >-
            The HouseNumber is the street address number of the ServiceAddress.
            HouseNumber is mandatory for port-in orders in which the
            ServiceAddress is mandatory.
          type: string
        housePrefix:
          description: >-
            The HousePrefix is the non-numeric address number prefix of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        houseSuffix:
          description: >-
            The HouseSuffix is the non-numeric address number suffix of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        latitude:
          type: string
        longitude:
          type: string
        plusFour:
          description: >-
            PlusFour is the 4 digits that are sometimes suffixed to the Zip
            Code.
          type: string
        postDirectional:
          description: >-
            The PostDirectional is the street name post directional of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        preDirectional:
          description: >-
            The PreDirectional is the non-numeric street name prefix of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        resetAddressFields:
          type: boolean
        stateCode:
          description: >-
            StateCode is the 2-letter abbreviation of the state of the
            ServiceAddress. StateCode is mandatory in cases where the
            ServiceAddress is mandatory.
          type: string
        streetName:
          description: >-
            The StreetName is mandatory in cases where the ServiceAddress is
            mandatory.
          type: string
        streetSuffix:
          description: >-
            The StreetSuffix is the street suffix of the ServiceAddress. This
            element is optional when not needed to fully specify the
            ServiceAddress.
          type: string
        zip:
          description: >-
            Zip is the Zip Code of the ServiceAddress. Zip is mandatory in cases
            where the ServiceAddress is mandatory.
          type: string
      type: object
    addressTypeXml:
      type: string
      enum:
        - SERVICE
        - BILLING
        - DLDA
        - E911
    addressType:
      enum:
        - SERVICE
        - BILLING
        - DLDA
        - E911
      type: string
    error:
      title: Error
      type: object
      properties:
        phoneNumbers:
          description: List of telephone numbers related to the error
          type: array
          items:
            $ref: '#/components/schemas/phoneNumber'
        code:
          description: A numeric code representing the specific error
          type: integer
        description:
          description: Details about the error
          type: string
    errorXml:
      title: Error
      type: object
      properties:
        TelephoneNumbers:
          description: List of telephone numbers related to the error
          type: array
          items:
            $ref: '#/components/schemas/telephoneNumber'
        Code:
          description: A numeric code representing the specific error
          type: integer
        Description:
          description: Details about the error
          type: string
    fileData:
      properties:
        fileMetaData:
          $ref: '#/components/schemas/fileMetaData'
        fileName:
          description: The name that was associated with the file when it was uploaded.
          type: string
      type: object
    fileDataXml:
      description: Optional metadata associated with the file that was uploaded.
      properties:
        FileMetaData:
          $ref: '#/components/schemas/fileMetaDataXml'
        FileName:
          description: The name that was associated with the file when it was uploaded.
          type: string
      type: object
    fileListResponse:
      properties:
        fileCount:
          description: Total count of files in response.
          type: integer
        fileData:
          description: Optional metadata associated with the file that was uploaded.
          items:
            $ref: '#/components/schemas/fileData'
          type: array
        resultCode:
          description: Result code of fetching the list of files from AWS.
          type: integer
        resultMessage:
          description: Results of the attempt to fetch the list of files.
          type: string
      type: object
    fileListResponseXml:
      properties:
        fileListResponse:
          properties:
            fileCount:
              description: Total count of files in response.
              type: integer
            fileData:
              $ref: '#/components/schemas/fileDataXml'
            resultCode:
              description: Result code of fetching the list of files from AWS.
              type: integer
            resultMessage:
              description: Results of the attempt to fetch the list of files.
              type: string
          type: object
      type: object
    fileMetaData:
      properties:
        documentName:
          description: Name of particular document.
          type: string
        documentType:
          description: Enum of possible file type.
          enum:
            - LOA
            - INVOICE
            - CSR
            - OTHER
          type: string
      type: object
    fileMetaDataXml:
      properties:
        DocumentName:
          description: Name of particular document.
          type: string
        DocumentType:
          description: Enum of possible file type.
          enum:
            - LOA
            - INVOICE
            - CSR
            - OTHER
          type: string
      type: object
    fileUploadResponse:
      properties:
        fileName:
          description: >-
            The (optional) name that was associated with the file when it was
            uploaded.
          type: string
        resultCode:
          description: Result code of fetching the list of files from AWS.
          type: integer
        resultMessage:
          description: Results of the attempt to fetch the list of files.
          type: string
      type: object
    fileUploadResponseXml:
      properties:
        FileUploadResponse:
          properties:
            fileName:
              description: >-
                The (optional) name that was associated with the file when it
                was uploaded.
              type: integer
            resultCode:
              description: Result code of fetching the list of files from AWS.
              type: integer
            resultMessage:
              description: Results of the attempt to fetch the list of files.
              type: string
          type: object
      type: object
    getImportPhoneNumberLoasErrorResponse:
      properties:
        code:
          description: The Bandwidth-defined error code.
          type: integer
          example: 7200
        description:
          description: A description of the error.
          type: string
          example: The order ID was not found
      type: object
    getImportPhoneNumberLoasErrorResponseXml:
      properties:
        ErrorResponse:
          properties:
            irisStatus:
              properties:
                Code:
                  description: The Bandwidth-defined error code.
                  type: integer
                  example: 7200
                Description:
                  description: A description of the error.
                  type: string
                  example: The order ID was not found
              type: object
          type: object
      type: object
    importPhoneNumberOrder:
      type: object
      properties:
        customerOrderId:
          description: >-
            Optional customer-defined reference ID for this order. Only
            alphanumeric values, dashes and spaces are allowed. Max length is
            255 characters. Not unique — Bandwidth applies no uniqueness
            constraint, so multiple orders may share the same value. Each order
            receives its own unique Bandwidth-assigned `orderId`.
          type: string
          example: CustomerOrderId
        phoneNumberCount:
          description: The count of phone numbers in the order.
          type: integer
          example: 2
        orderId:
          description: >-
            The unique identifier string created by Bandwidth to refer to the
            order.
          type: string
          example: 8dc32f09-2329-4c73-b702-526f46b02712
        orderType:
          description: >-
            The type of order. For import phone number orders, this will always
            be import_tn_orders.
          type: string
          enum:
            - import_tn_orders
        orderDate:
          description: The date and time the order was created.
          type: string
          example: '2025-04-22T20:24:11Z'
        accountId:
          description: The account ID the order is associated with.
          type: integer
          example: 14
        userId:
          description: The ID of the user that created the order.
          type: string
          example: systemUser
        lastModifiedDate:
          description: The date and time the order was last modified.
          type: string
          example: '2025-04-22T20:24:11Z'
        orderStatus:
          type: string
          enum:
            - RECEIVED
            - PROCESSING
            - COMPLETE
            - PARTIAL
            - FAILED
    importPhoneNumberOrdersRequest:
      title: ImportTnOrder
      required:
        - phoneNumbers
        - subAccountId
      properties:
        phoneNumbers:
          description: List of telephone numbers to be moved
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/phoneNumber'
        subAccountId:
          description: A sub account ID to which telephone number will be moved
          type: integer
        customerOrderId:
          description: >-
            Optional customer-defined reference ID for this order. Only
            alphanumeric values, dashes and spaces are allowed. Max length is 40
            characters. Not unique — Bandwidth applies no uniqueness constraint,
            so multiple orders may share the same value. Each order receives its
            own unique Bandwidth-assigned `orderId`.
          type: string
        locationId:
          description: >-
            A location ID of provided site to which telephone number will be
            moved
          type: integer
        subscriber:
          description: Subscriber information.
          properties:
            name:
              description: Subscriber business / customer name.
              maxLength: 45
              type: string
            serviceAddress:
              description: address
              properties:
                houseNumber:
                  description: Street address number.
                  type: integer
                streetName:
                  description: Street name.
                  type: string
                city:
                  description: City.
                  type: string
                stateCode:
                  description: Two letter state code.
                  type: string
                zip:
                  description: Zip code.
                  type: string
        loaAuthorizingPerson:
          description: First and last name of person who authorized LOA.
          type: string
        loaType:
          description: Identify the LoaType on TNs.
          type: string
          enum:
            - SUBSCRIBER
            - CARRIER
          default: SUBSCRIBER
    importPhoneNumberOrdersErrorResponse:
      type: object
      properties:
        errorCode:
          description: The Bandwidth-defined error code.
          type: integer
          example: 12512
        description:
          description: A description of the error.
          type: string
          example: Telephone number '"xxxx"' is not valid
    importPhoneNumberOrdersErrorResponseXml:
      type: object
      properties:
        ImportTnOrdersReportResponse:
          $ref: '#/components/schemas/responseStatus'
    importPhoneNumberOrdersResponse:
      type: object
      properties:
        customerOrderId:
          type: string
          description: >-
            The customer-defined reference ID for this order, if one was
            provided at creation. Not unique — Bandwidth applies no uniqueness
            constraint, so multiple orders may share the same value. Each order
            has a distinct Bandwidth-assigned `orderId`.
        orderCreateDate:
          type: string
        accountId:
          type: integer
        createdByUser:
          type: string
        lastModifiedDate:
          type: string
        subAccountId:
          type: integer
        locationId:
          type: integer
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/phoneNumber'
        loaAuthorizingPerson:
          type: string
        loaType:
          type: string
          enum:
            - CARRIER
            - SUBSCRIBER
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/warning'
        subscriber:
          $ref: '#/components/schemas/importPhoneNumberSubscriber'
        processingStatus:
          description: >-
            Status of the Hosted Messaging Order request.


            RECEIVED - Order has been received without errors and will be
            processed through further validation.


            PROCESSING - The order has passed initial validation and is now
            being processed.Order will remain in processing status if any of the
            requested telphone numbers remain pending processing.


            COMPLETE - This implies that this order has been successfully
            processed and hosted messaging has been enabled on all requested
            telephone numbers.


            PARTIAL - This implies that this order has been successfully
            processed and hosted messaging was enabled on all except few of the
            numbers, reasons for same can be found in  Warning section.


            FAILED - This implies that this order has been failed. None of the
            telphone numbers requested were enabled for hosted messaging,
            reasons for same can be found in Errors and Warning section.
          type: string
          enum:
            - RECEIVED
            - PROCESSING
            - COMPLETE
            - PARTIAL
            - FAILED
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error'
        pendingTelephoneNumbers:
          description: List of phone numbers that are pending processing.
          type: array
          items:
            $ref: '#/components/schemas/phoneNumber'
        failedTelephoneNumbers:
          description: >-
            List of phone numbers that failed processing, with reasons detailed
            in the Warning section.
          type: array
          items:
            $ref: '#/components/schemas/phoneNumber'
        successTelephoneNumbers:
          description: List of phone numbers successfully processed.
          type: array
          items:
            $ref: '#/components/schemas/phoneNumber'
    importPhoneNumberOrdersResponseList:
      type: object
      properties:
        totalCount:
          description: The total count of orders returned in the response.
          type: integer
          example: 2
        orders:
          type: array
          items:
            $ref: '#/components/schemas/importPhoneNumberOrder'
    importPhoneNumberSubscriber:
      type: object
      properties:
        name:
          type: string
        serviceAddress:
          $ref: '#/components/schemas/address'
    importTnOrder:
      type: object
      properties:
        CustomerOrderId:
          type: string
          description: >-
            The customer-defined reference ID for this order, if one was
            provided at creation. Not unique — Bandwidth applies no uniqueness
            constraint, so multiple orders may share the same value. Each order
            has a distinct Bandwidth-assigned `orderId`.
        OrderCreateDate:
          type: string
        AccountId:
          type: string
        CreatedByUser:
          type: string
        LastModifiedDate:
          type: string
        SiteId:
          type: string
        SipPeerId:
          type: string
        TelephoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/telephoneNumber'
        LoaAuthorizingPerson:
          type: string
        LoaType:
          type: string
          enum:
            - CARRIER
            - SUBSCRIBER
        Warnings:
          type: array
          items:
            $ref: '#/components/schemas/warningXml'
        Subscriber:
          $ref: '#/components/schemas/importTnSubscriber'
        ProcessingStatus:
          description: >-
            Status of the Hosted Messaging Order request.


            RECEIVED - Order has been received without errors and will be
            processed through further validation.


            PROCESSING - The order has passed initial validation and is now
            being processed.Order will remain in processing status if any of the
            requested telphone numbers remain pending processing.


            COMPLETE - This implies that this order has been successfully
            processed and hosted messaging has been enabled on all requested
            telephone numbers.


            PARTIAL - This implies that this order has been successfully
            processed and hosted messaging was enabled on all except few of the
            numbers, reasons for same can be found in  Warning section.


            FAILED - This implies that this order has been failed. None of the
            telphone numbers requested were enabled for hosted messaging,
            reasons for same can be found in Errors and Warning section.
          type: string
          enum:
            - RECEIVED
            - PROCESSING
            - COMPLETE
            - PARTIAL
            - FAILED
        Errors:
          type: array
          items:
            $ref: '#/components/schemas/errorXml'
        PendingTelephoneNumbers:
          description: List of telephone numbers that are pending processing.
          type: array
          items:
            $ref: '#/components/schemas/telephoneNumber'
        FailedTelephoneNumbers:
          description: >-
            List of telephone numbers that failed processing, with reasons
            detailed in the Warning section.
          type: array
          items:
            $ref: '#/components/schemas/telephoneNumber'
        SuccessTelephoneNumbers:
          description: List of telephone numbers successfully processed.
          type: array
          items:
            $ref: '#/components/schemas/telephoneNumber'
    importTnOrdersError:
      type: object
      properties:
        ImportTnOrdersResponse:
          $ref: '#/components/schemas/responseStatus'
    importTnOrdersRequest:
      title: ImportTnOrder
      properties:
        ImportTnOrder:
          type: object
          required:
            - TelephoneNumbers
            - SiteId
          properties:
            TelephoneNumbers:
              description: List of telephone numbers to be moved
              type: array
              minItems: 1
              items:
                type: object
                properties:
                  TelephoneNumber:
                    description: Ten digit phone number with no dots or dashes
                    type: integer
            SiteId:
              description: A site id to which telephone number will be moved
              type: integer
            CustomerOrderId:
              description: >-
                Optional customer-defined reference ID for this order. Only
                alphanumeric values, dashes and spaces are allowed. Max length
                is 40 characters. Not unique — Bandwidth applies no uniqueness
                constraint, so multiple orders may share the same value. Each
                order receives its own unique Bandwidth-assigned `orderId`.
              type: string
            SipPeerId:
              description: >-
                A sippeer id of provided site to which telephone number will be
                moved
              type: integer
            Subscriber:
              description: Subscriber information.
              properties:
                Name:
                  description: Subscriber business / customer name.
                  maxLength: 45
                  type: string
                ServiceAddress:
                  description: address
                  properties:
                    HouseNumber:
                      description: Street address number.
                      type: integer
                    StreetName:
                      description: Street name.
                      type: string
                    City:
                      description: City.
                      type: string
                    StateCode:
                      description: Two letter state code.
                      type: string
                    Zip:
                      description: Zip code.
                      type: string
            LoaAuthorizingPerson:
              description: First and last name of person who authorized LOA.
              type: string
            LoaType:
              description: Identify the LoaType on TNs.
              type: string
              enum:
                - SUBSCRIBER
                - CARRIER
              default: SUBSCRIBER
    importTnOrdersResponse:
      type: object
      properties:
        ImportTnOrdersResponse:
          type: object
          properties:
            ImportTnOrder:
              $ref: '#/components/schemas/importTnOrder'
    importTnOrdersResponseList:
      type: object
      properties:
        ImportTnOrders:
          type: object
          properties:
            TotalCount:
              type: integer
            ImportTnOrderSummary:
              $ref: '#/components/schemas/importTnOrderSummary'
    getRemoveImportedPhoneNumberOrdersResponse:
      type: object
      properties:
        totalCount:
          description: The total count of orders returned in the response.
          type: integer
          example: 2
        orders:
          type: array
          items:
            $ref: '#/components/schemas/removeImportedPhoneNumberOrderSummary'
    removeImportedTnOrders:
      type: object
      properties:
        TotalCount:
          description: The total count of orders returned in the response.
          type: integer
        RemoveImportedTnOrderSummary:
          type: array
          items:
            $ref: '#/components/schemas/removeImportedTnOrderSummary'
    importTnOrderSummary:
      type: object
      properties:
        CustomerOrderId:
          type: string
          description: >-
            The customer-defined reference ID for this order, if one was
            provided at creation. Not unique — Bandwidth applies no uniqueness
            constraint, so multiple orders may share the same value. Each order
            has a distinct Bandwidth-assigned `orderId`.
        CountsOfTNs:
          type: integer
        OrderId:
          type: string
        OrderType:
          type: string
          enum:
            - import_tn_orders
        OrderDate:
          type: string
        AccountId:
          type: string
        UserId:
          type: string
        LastModifiedDate:
          type: string
        ProcessingStatus:
          type: string
          enum:
            - RECEIVED
            - PROCESSING
            - COMPLETE
            - PARTIAL
            - FAILED
    removeImportedPhoneNumberOrderSummary:
      type: object
      properties:
        customerOrderId:
          type: string
          description: >-
            The customer-defined reference ID for this order, if one was
            provided at creation. Not unique — Bandwidth applies no uniqueness
            constraint, so multiple orders may share the same value. Each order
            has a distinct Bandwidth-assigned `orderId`.
        phoneNumberCount:
          type: integer
        orderId:
          type: string
        orderType:
          type: string
          enum:
            - remove_imported_tn_orders
        orderDate:
          type: string
        accountId:
          type: integer
        userId:
          type: string
        lastModifiedDate:
          type: string
        orderStatus:
          type: string
          enum:
            - RECEIVED
            - PROCESSING
            - COMPLETE
            - PARTIAL
            - FAILED
    removeImportedTnOrderSummary:
      type: object
      properties:
        CustomerOrderId:
          type: string
          description: >-
            The customer-defined reference ID for this order, if one was
            provided at creation. Not unique — Bandwidth applies no uniqueness
            constraint, so multiple orders may share the same value. Each order
            has a distinct Bandwidth-assigned `orderId`.
        CountsOfTNs:
          type: integer
        OrderId:
          type: string
        OrderType:
          type: string
          enum:
            - remove_imported_tn_orders
        OrderDate:
          type: string
        AccountId:
          type: string
        UserId:
          type: string
        LastModifiedDate:
          type: string
        ProcessingStatus:
          type: string
          enum:
            - RECEIVED
            - PROCESSING
            - COMPLETE
            - PARTIAL
            - FAILED
    importTnSubscriber:
      type: object
      properties:
        Name:
          type: string
        ServiceAddress:
          $ref: '#/components/schemas/addressXml'
    orderHistory:
      type: object
      properties:
        orderHistory:
          type: array
          items:
            properties:
              orderDate:
                description: >-
                  This is the date/time when the order history entry was
                  created.
                type: string
              note:
                description: >-
                  This is the order note that accompanied the order history
                  entry.
                type: string
              author:
                description: >-
                  This is the user that initiated the event that caused the
                  order history to be updated.
                type: string
              status:
                description: >-
                  This is the state that the order was in when the order history
                  event occurred.
                type: string
                enum:
                  - RECEIVED
                  - PROCESSING
                  - COMPLETE
                  - PARTIAL
                  - FAILED
    orderHistoryWrapper:
      type: object
      properties:
        OrderHistoryWrapper:
          type: object
          properties:
            OrderHistory:
              $ref: '#/components/schemas/orderHistoryXml'
    orderHistoryXml:
      type: object
      properties:
        OrderDate:
          description: This is the date/time when the order history entry was created.
          type: string
        Note:
          description: This is the order note that accompanied the order history entry.
          type: string
        Author:
          description: >-
            This is the user that initiated the event that caused the order
            history to be updated.
          type: string
        Status:
          description: >-
            This is the state that the order was in when the order history event
            occurred.
          type: string
    phoneNumber:
      description: Telephone Number in E.164 format.
      type: string
    responseStatus:
      type: object
      properties:
        ErrorCode:
          description: Numeric designation of corresponding error
          type: integer
        Description:
          description: 'Detailed explanation about error '
          type: string
    telephoneNumber:
      type: object
      properties:
        TelephoneNumber:
          description: Telephone Number in E.164 format.
          type: string
    warningXml:
      description: >-
        Errors/Warnings that occur during telephone number provisioning for
        messaging, may be requiring user action. For example, a Letter of
        Authorization (LOA) may be needed from the number provider.
      type: object
      title: Warning
      properties:
        Code:
          description: A numerical code representing the specific warning.
          type: integer
        Description:
          description: Details about the issue which may require user attention.
          type: string
        TelephoneNumber:
          $ref: '#/components/schemas/telephoneNumber'
    warning:
      description: >-
        Errors/Warnings that occur during telephone number provisioning for
        messaging, may be requiring user action. For example, a Letter of
        Authorization (LOA) may be needed from the number provider.
      type: object
      properties:
        code:
          description: A numerical code representing the specific warning.
          type: integer
        description:
          description: Details about the issue which may require user attention.
          type: string
        phoneNumber:
          $ref: '#/components/schemas/phoneNumber'
    getRemoveImportedTnOrderResponse:
      properties:
        AccountId:
          type: integer
        CreatedByUser:
          type: string
        CustomerOrderId:
          type: string
          description: >-
            The customer-defined reference ID for this order, if one was
            provided at creation. Not unique — Bandwidth applies no uniqueness
            constraint, so multiple orders may share the same value. Each order
            has a distinct Bandwidth-assigned `orderId`.
        Errors:
          type: array
          items:
            $ref: '#/components/schemas/errorXml'
        LastModifiedDate:
          type: string
        OrderCreateDate:
          type: string
        OrderId:
          type: string
        ProcessingStatus:
          enum:
            - RECEIVED
            - PROCESSING
            - COMPLETE
            - PARTIAL
            - FAILED
          type: string
        TelephoneNumbers:
          items:
            $ref: '#/components/schemas/telephoneNumber'
          type: array
      type: object
    getRemoveImportedPhoneNumberOrderResponse:
      properties:
        accountId:
          type: integer
        createdByUser:
          type: string
        customerOrderId:
          type: string
          description: >-
            The customer-defined reference ID for this order, if one was
            provided at creation. Not unique — Bandwidth applies no uniqueness
            constraint, so multiple orders may share the same value. Each order
            has a distinct Bandwidth-assigned `orderId`.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error'
        lastModifiedDate:
          type: string
        orderCreateDate:
          type: string
        orderId:
          type: string
        processingStatus:
          enum:
            - RECEIVED
            - PROCESSING
            - COMPLETE
            - PARTIAL
            - FAILED
          type: string
        phoneNumbers:
          items:
            $ref: '#/components/schemas/phoneNumber'
          type: array
      type: object
    removeImportedTnOrderErrorResponse:
      type: object
      properties:
        RemoveImportedTnOrdersReportResponse:
          $ref: '#/components/schemas/responseStatus'
    removeImportedPhoneNumberOrdersErrorResponse:
      type: object
      properties:
        errorCode:
          description: The Bandwidth-defined error code.
          type: integer
          example: 1005
        description:
          description: A description of the error.
          type: string
          example: The resource does not exist
    removeImportedPhoneNumberOrderRequest:
      title: RemoveImportedPhoneNumberOrder
      required:
        - phoneNumbers
      properties:
        phoneNumbers:
          description: List of phone numbers to be removed.
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/phoneNumber'
        customerOrderId:
          description: >-
            Optional customer-defined reference ID for this order. Only
            alphanumeric values, dashes and spaces are allowed. Max length is 40
            characters. Not unique — Bandwidth applies no uniqueness constraint,
            so multiple orders may share the same value. Each order receives its
            own unique Bandwidth-assigned `orderId`.
          type: string
    removeImportedTnOrderRequest:
      title: RemoveImportedTnOrder
      required:
        - TelephoneNumbers
      properties:
        TelephoneNumbers:
          description: List of telephone numbers to be removed
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/phoneNumber'
        customerOrderId:
          description: >-
            Optional customer-defined reference ID for this order. Only
            alphanumeric values, dashes and spaces are allowed. Max length is 40
            characters. Not unique — Bandwidth applies no uniqueness constraint,
            so multiple orders may share the same value. Each order receives its
            own unique Bandwidth-assigned `orderId`.
          type: string
    removeImportedTnOrdersResponse:
      properties:
        RemoveImportedTnOrder:
          properties:
            AccountId:
              type: integer
            CreatedByUser:
              type: string
            CustomerOrderId:
              type: string
            Errors:
              type: array
              items:
                $ref: '#/components/schemas/errorXml'
            LastModifiedDate:
              type: string
            OrderCreateDate:
              type: string
            OrderId:
              type: string
            ProcessingStatus:
              enum:
                - RECEIVED
                - PROCESSING
                - COMPLETE
                - PARTIAL
                - FAILED
              type: string
            TelephoneNumbers:
              items:
                $ref: '#/components/schemas/telephoneNumber'
              type: array
          type: object
      type: object
    removeImportedPhoneNumberOrdersResponse:
      properties:
        accountId:
          type: integer
        createdByUser:
          type: string
        customerOrderId:
          type: string
          description: >-
            The customer-defined reference ID for this order, if one was
            provided at creation. Not unique — Bandwidth applies no uniqueness
            constraint, so multiple orders may share the same value. Each order
            has a distinct Bandwidth-assigned `orderId`.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error'
        lastModifiedDate:
          type: string
        orderCreateDate:
          type: string
        orderId:
          type: string
        processingStatus:
          enum:
            - RECEIVED
            - PROCESSING
            - COMPLETE
            - PARTIAL
            - FAILED
          type: string
        phoneNumbers:
          items:
            $ref: '#/components/schemas/phoneNumber'
          type: array
      type: object
  parameters:
    accountIdPathParam:
      description: User's account ID.
      example: '1234567'
      in: path
      name: accountId
      required: true
      schema:
        type: string
    createdDateFromQueryParam:
      name: createdDateFrom
      description: >-
        Checks the order's creation date against this value. Orders that have a
        creation date after this date will be included. Format is yyyy-MM-dd
      in: query
      schema:
        type: string
        format: date
      example: '2013-10-22'
    createdDateToQueryParam:
      name: createdDateTo
      description: >-
        Checks the order's creation date against this value. Orders that have a
        creation date before this date will be included. Format is yyyy-MM-dd
      in: query
      schema:
        type: string
        format: date
      example: '2013-10-25'
    customerOrderIdQueryParam:
      name: customerOrderId
      description: >
        Filter orders by a customer-assigned reference ID. Because
        `customerOrderId` is not unique — Bandwidth applies no uniqueness
        constraint — this query may return multiple orders if the same value was
        used across multiple orders. Each result will have a distinct
        Bandwidth-assigned `orderId`. To retrieve a single specific order, use
        its `orderId` instead.
      in: query
      schema:
        type: string
      example: ABCCorp12345
    documentTypeQueryParam:
      name: documentType
      description: |-
        This query parameter allows you to include the document type metadata
        at the same time you upload the file.
      in: query
      required: false
      schema:
        enum:
          - LOA
          - INVOICE
          - CSR
          - OTHER
        type: string
      example: LOA
    loaTypeQueryParam:
      name: loaType
      description: Indentify the LoaType on phone numbers.
      in: query
      required: false
      schema:
        type: string
        enum:
          - SUBSCRIBER
          - CARRIER
          - ALL
        default: ALL
      example: SUBSCRIBER
    metaDataQueryParam:
      name: metadata
      description: >-
        If true, the response will contain document name and type. If false, the
        response will only list the file names.
      in: query
      required: false
      schema:
        type: boolean
      example: true
    modifiedDateFromQueryParam:
      name: modifiedDateFrom
      description: >-
        For Date-based searches, the starting date of a date range (inclusive)
        that will be used to find Import Phone Number Orders that were modified
        within the date range. It is in the form yyyy-MM-dd.
      in: query
      schema:
        type: string
        format: date
      example: '2013-10-22'
    removeImportedModifiedDateFromQueryParam:
      name: modifiedDateFrom
      description: >-
        For Date-based searches, the starting date of a date range (inclusive)
        that will be used to find Remove Imported Phone Number Orders that were
        modified within the date range. It is in the form yyyy-MM-dd.
      in: query
      schema:
        type: string
        format: date
      example: '2013-10-22'
    modifiedDateToQueryParam:
      name: modifiedDateTo
      description: >-
        For Date-based searches, the ending date of a date range (inclusive)
        that will be used to find Import Phone Number Orders that were modified
        within the date range. It is in the form yyyy-MM-dd.
      in: query
      schema:
        type: string
        format: date
      example: '2013-10-25'
    orderIdPathParam:
      name: orderId
      description: ID of order to retrieve
      in: path
      required: true
      schema:
        type: string
      example: bf1305b8-8998-1111-2222-51ba3ce52d4e
    removeImportedModifiedDateToQueryParam:
      name: modifiedDateTo
      description: >-
        For Date-based searches, the ending date of a date range (inclusive)
        that will be used to find Remove Imported Phone Number Orders that were
        modified within the date range. It is in the form yyyy-MM-dd.
      in: query
      schema:
        type: string
        format: date
      example: '2013-10-25'
    phoneNumberQueryParam:
      name: phoneNumber
      description: A phone number that is referenced in the order
      in: query
      schema:
        type: string
      example: '+19199918388'
    statusQueryParam:
      name: status
      description: The status of the order being searched for.
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          enum:
            - PROCESSING
            - COMPLETE
            - PARTIAL
            - FAILED
  requestBodies:
    postImportMessagingPhoneNumberOrdersLoasRequest:
      content:
        '*/*':
          schema:
            format: binary
            type: string
    postImportMessagingPhoneNumberOrdersRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/importPhoneNumberOrdersRequest'
          examples:
            example:
              value:
                customerOrderId: ICPA123ABC
                subAccountId: 743
                locationId: 303716
                subscriber:
                  - name: ABC Inc.
                    serviceAddress:
                      - houseNumber: 11235
                        streetName: Back
                        city: Denver
                        stateCode: CO
                        zip: 27541
                        county: Canyon
                loaAuthorizingPerson: The Authguy
                loaType: CARRIER
                phoneNumbers:
                  - '+19199918388'
                  - '+14158714245'
                  - '+14352154439'
                  - '+14352154466'
        application/xml:
          schema:
            $ref: '#/components/schemas/importTnOrdersRequest'
          examples:
            example:
              value: |
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <ImportTnOrder>
                  <CustomerOrderId>ICPA123ABC</CustomerOrderId>
                  <SiteId>743</SiteId>
                  <SipPeerId>303716</SipPeerId>
                  <Subscriber>
                    <Name>ABC Inc.</Name>
                    <ServiceAddress>
                      <HouseNumber>11235</HouseNumber>
                      <StreetName>Back</StreetName>
                      <City>Denver</City>
                      <StateCode>CO</StateCode>
                      <Zip>27541</Zip>
                      <County>Canyon</County>
                    </ServiceAddress>
                  </Subscriber>
                  <LoaAuthorizingPerson>The Authguy</LoaAuthorizingPerson>
                  <LoaType>CARRIER</LoaType>
                  <TelephoneNumbers>
                    <TelephoneNumber>+19199918388</TelephoneNumber>
                    <TelephoneNumber>+14158714245</TelephoneNumber>
                    <TelephoneNumber>+14352154439</TelephoneNumber>
                    <TelephoneNumber>+14352154466</TelephoneNumber>
                  </TelephoneNumbers>
                </ImportTnOrder>
    postRemoveImportedPhoneNumberOrderRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/removeImportedPhoneNumberOrderRequest'
          examples:
            example:
              value:
                customerOrderId: ICPA123ABC
                phoneNumbers:
                  - '+19199918388'
                  - '+14158714245'
                  - '+14352154439'
                  - '+14352154466'
        application/xml:
          schema:
            $ref: '#/components/schemas/removeImportedTnOrderRequest'
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <RemoveImportedTnOrder>
                   <CustomerOrderId>ICPA123ABC</CustomerOrderId>
                   <TelephoneNumbers>
                      <TelephoneNumber>+19199918388</TelephoneNumber>
                      <TelephoneNumber>+14158714245</TelephoneNumber>
                      <TelephoneNumber>+14352154439</TelephoneNumber>
                      <TelephoneNumber>+14352154466</TelephoneNumber>
                   </TelephoneNumbers>
                </RemoveImportedTnOrder>
  responses:
    getImportMessagingPhoneNumberOrdersHistoryResponse:
      description: OK
      content:
        application/json:
          examples:
            example:
              value:
                orderHistory:
                  - orderDate: '2015-06-16T14:03:10.225Z'
                    note: Hosted Messaging order is received.
                    author: admin
                    status: RECEIVED
                  - orderDate: '2015-06-16T14:03:10.330Z'
                    note: Hosted Messaging order is processing.
                    author: admin
                    status: PROCESSING
                  - orderDate: '2015-06-16T14:03:10.789Z'
                    note: Hosted Messaging order is partial.
                    author: admin
                    status: PARTIAL
          schema:
            $ref: '#/components/schemas/orderHistory'
        application/xml:
          examples:
            example:
              value: |
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <OrderHistoryWrapper>
                   <OrderHistory>
                     <OrderDate>2015-06-16T14:03:10.225Z</OrderDate>
                     <Note>Import TN order is received.</Note>
                     <Author>admin</Author>
                     <Status>RECEIVED</Status>
                   </OrderHistory>
                   <OrderHistory>
                     <OrderDate>2015-06-16T14:03:10.330Z</OrderDate>
                     <Note>Import TN order is processing.</Note>
                     <Author>admin</Author>
                     <Status>PROCESSING</Status>
                   </OrderHistory>
                   <OrderHistory>
                     <OrderDate>2015-06-16T14:03:10.789Z</OrderDate>
                     <Note>Import TN order is partial.</Note>
                     <Author>admin</Author>
                     <Status>PARTIAL</Status>
                   </OrderHistory>
                 </OrderHistoryWrapper>
          schema:
            $ref: '#/components/schemas/orderHistoryWrapper'
    getImportMessagingPhoneNumberOrdersLoas400ErrorResponse:
      description: Bad Request
      content:
        application/json:
          examples:
            example:
              value:
                code: 7200
                description: The order ID was not found
          schema:
            $ref: '#/components/schemas/getImportPhoneNumberLoasErrorResponse'
        application/xml:
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <ErrorResponse>
                  <irisStatus>
                    <Code>7200</Code>
                    <Description>The order ID was not found</Description>
                  </irisStatus>
                </ErrorResponse>
          schema:
            $ref: '#/components/schemas/getImportPhoneNumberLoasErrorResponseXml'
    getImportMessagingPhoneNumberOrdersLoasResponse:
      description: OK
      content:
        application/json:
          examples:
            withMetaData:
              value:
                fileCount: 1
                fileData:
                  - fileMetaData:
                      documentType: LOA
                      documentName: Document Name
                    fileName: eeceff88-c11e-4bd8-86f3-8e3482888500-1624044440058.pdf
                resultCode: 0
                resultMessage: LOA file list successfully returned
            withoutMetaData:
              value:
                fileCount: 1
                fileNames:
                  - eeceff88-c11e-4bd8-86f3-8e3482888500-1624044440058.pdf
                resultCode: 0
                resultMessage: LOA file list successfully returned
          schema:
            $ref: '#/components/schemas/fileListResponse'
        application/xml:
          examples:
            withMetaData:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <fileListResponse>
                      <fileCount>1</fileCount>
                      <fileData>
                          <FileName>eeceff88-c11e-4bd8-86f3-8e3482888500-1624044440058.pdf</FileName>
                          <FileMetaData>
                                <DocumentType>LOA</DocumentType>
                                <DocumentName>Document Name</DocumentName>
                          </FileMetaData>
                      </fileData>
                      <resultCode>0</resultCode>
                      <resultMessage>LOA file list successfully returned</resultMessage>
                </fileListResponse>
            withoutMetaData:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <fileListResponse>
                      <fileCount>1</fileCount>
                      <fileNames>eeceff88-c11e-4bd8-86f3-8e3482888500-1624044440058.pdf</fileNames>
                      <resultCode>0</resultCode>
                      <resultMessage>LOA file list successfully returned</resultMessage>
                </fileListResponse>
          schema:
            $ref: '#/components/schemas/fileListResponseXml'
    getImportMessagingPhoneNumberOrdersResponse:
      description: OK
      content:
        application/json:
          examples:
            example:
              value:
                totalCount: 2
                orders:
                  - accountId: 14
                    phoneNumberCount: 2
                    customerOrderId: CustomerOrderId
                    userId: systemUser
                    lastModifiedDate: '2019-01-24T11:08:09.770Z'
                    orderDate: '2019-01-24T11:08:09.770Z'
                    orderType: import_tn_orders
                    orderStatus: COMPLETE
                    orderId: 211a103c-5f9c-4117-8833-c574bdc390fd
                  - accountId: 14
                    phoneNumberCount: 1
                    customerOrderId: CustomerOrderId
                    userId: systemUser
                    lastModifiedDate: '2019-01-24T10:43:16.934Z'
                    orderDate: '2019-01-24T10:43:16.934Z'
                    orderType: import_tn_orders
                    orderStatus: PARTIAL
                    orderId: 8dc32f09-2329-4c73-b702-526f46b02712
          schema:
            $ref: '#/components/schemas/importPhoneNumberOrdersResponseList'
        application/xml:
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8"?>
                <ImportTnOrders>
                   <TotalCount>2</TotalCount>
                   <ImportTnOrderSummary>
                      <accountId>14</accountId>
                      <CountOfTNs>1</CountOfTNs>
                      <CustomerOrderId>CustomerOrderId</CustomerOrderId>
                      <userId>systemUser</userId>
                      <lastModifiedDate>2019-01-24T11:08:09.770Z</lastModifiedDate>
                      <OrderDate>2019-01-24T11:08:09.770Z</OrderDate>
                      <OrderType>import_tn_orders</OrderType>
                      <OrderStatus>COMPLETE</OrderStatus>
                      <OrderId>211a103c-5f9c-4117-8833-c574bdc390fd</OrderId>
                   </ImportTnOrderSummary>
                   <ImportTnOrderSummary>
                      <accountId>14</accountId>
                      <CountOfTNs>2</CountOfTNs>
                      <CustomerOrderId>CustomerOrderId</CustomerOrderId>
                      <userId>systemUser</userId>
                      <lastModifiedDate>2019-01-24T10:43:16.934Z</lastModifiedDate>
                      <OrderDate>2019-01-24T10:43:16.934Z</OrderDate>
                      <OrderType>import_tn_orders</OrderType>
                      <OrderStatus>PARTIAL</OrderStatus>
                      <OrderId>8dc32f09-2329-4c73-b702-526f46b02712</OrderId>
                   </ImportTnOrderSummary>
                </ImportTnOrders>
          schema:
            $ref: '#/components/schemas/importTnOrdersResponseList'
    getRemoveImportedMessagingPhoneNumberOrdersResponse:
      description: >-
        The descriptive payload for the Remove Imported Messaging Tn Orders
        query provides information about the orders found by the query,
        including the data associated with the order, the state of the order,
        and a list of the successfully removed Telephone Numbers, and
        descriptions of any encountered errors.
      content:
        application/json:
          examples:
            example:
              value:
                totalCount: 2
                orders:
                  - accountId: 14
                    phoneNumberCount: 2
                    customerOrderId: CustomerOrderId
                    userId: systemUser
                    lastModifiedDate: '2019-01-24T11:08:09.770Z'
                    orderDate: '2019-01-24T11:08:09.770Z'
                    orderType: remove_imported_tn_orders
                    orderStatus: COMPLETE
                    orderId: 211a103c-5f9c-4117-8833-c574bdc390fd
                  - accountId: 14
                    phoneNumberCount: 1
                    customerOrderId: CustomerOrderId
                    userId: systemUser
                    lastModifiedDate: '2019-01-24T10:43:16.934Z'
                    orderDate: '2019-01-24T10:43:16.934Z'
                    orderType: remove_imported_tn_orders
                    orderStatus: PARTIAL
                    orderId: 8dc32f09-2329-4c73-b702-526f46b02712
          schema:
            $ref: '#/components/schemas/getRemoveImportedPhoneNumberOrdersResponse'
        application/xml:
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <RemoveImportedTnOrders>
                   <TotalCount>2</TotalCount>
                   <RemoveImportedTnOrderSummary>
                      <accountId>14</accountId>
                      <CountOfTNs>1</CountOfTNs>
                      <CustomerOrderId>DemoOrder</CustomerOrderId>
                      <userId>systemUser</userId>
                      <lastModifiedDate>2019-01-24T10:40:12.908Z</lastModifiedDate>
                      <OrderDate>2019-01-24T10:40:12.907Z</OrderDate>
                      <OrderType>remove_imported_tn_orders</OrderType>
                      <OrderStatus>COMPLETE</OrderStatus>
                      <OrderId>4f2d090b-ece7-49ab-9c40-06d1425c39c3</OrderId>
                   </RemoveImportedTnOrderSummary>
                   <RemoveImportedTnOrderSummary>
                      <accountId>14</accountId>
                      <CountOfTNs>1</CountOfTNs>
                      <CustomerOrderId>DemoOrder</CustomerOrderId>
                      <userId>systemUser</userId>
                      <lastModifiedDate>2019-01-24T09:38:24.028Z</lastModifiedDate>
                      <OrderDate>2019-01-24T09:38:24.028Z</OrderDate>
                      <OrderType>remove_imported_tn_orders</OrderType>
                      <OrderStatus>PARTIAL</OrderStatus>
                      <OrderId>ca30ea6a-018a-4cae-9d49-3d419fefdbe3</OrderId>
                   </RemoveImportedTnOrderSummary>
                </RemoveImportedTnOrders>
          schema:
            $ref: '#/components/schemas/removeImportedTnOrders'
    getRemoveImportedMessagingPhoneNumberOrderResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/getRemoveImportedPhoneNumberOrderResponse'
          examples:
            example:
              value:
                orderCreateDate: '2018-01-09T02:58:04.615Z'
                accountId: 9900012
                createdByUser: sjm
                orderId: bf1305b8-8998-1111-2222-51ba3ce52d4e
                lastModifiedDate: '2018-01-09T02:58:05.298Z'
                phoneNumbers:
                  - '+12106078250'
                  - '+12109678273'
                  - '+12109678331'
                  - '+12109678337'
                  - '+12266401468'
                processingStatus: PARTIAL
                errors:
                  - code: 7518
                    description: Telephone Number Not Active.
                    phoneNumbers:
                      - '+12262665583'
        application/xml:
          schema:
            $ref: '#/components/schemas/getRemoveImportedTnOrderResponse'
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <RemoveImportedTnOrder>
                   <OrderCreateDate>2018-01-09T02:58:04.615Z</OrderCreateDate>
                   <AccountId>9900012</AccountId>
                   <CreatedByUser>sjm</CreatedByUser>
                   <OrderId>bf1305b8-8998-1111-2222-51ba3ce52d4e</OrderId>
                   <LastModifiedDate>2018-01-09T02:58:05.298Z</LastModifiedDate>
                   <TelephoneNumbers>
                      <TelephoneNumber>+12106078250</TelephoneNumber>
                      <TelephoneNumber>+12109678273</TelephoneNumber>
                      <TelephoneNumber>+12109678331</TelephoneNumber>
                      <TelephoneNumber>+12109678337</TelephoneNumber>
                      <TelephoneNumber>+12266401468</TelephoneNumber>
                   </TelephoneNumbers>
                   <ProcessingStatus>PARTIAL</ProcessingStatus>
                   <Errors>
                      <Error>
                         <Code>7518</Code>
                         <Description>Telephone Number Not Active.</Description>
                         <TelephoneNumbers>
                            <TelephoneNumber>+12262665583</TelephoneNumber>
                         </TelephoneNumbers>
                      </Error>
                   </Errors>
                </RemoveImportedTnOrder>
    getImportMessagingPhoneNumberOrders400ErrorResponse:
      description: Bad Request
      content:
        application/json:
          examples:
            example:
              value:
                errorCode: 12512
                description: Telephone number '"xxxx"' is not valid
          schema:
            $ref: '#/components/schemas/importPhoneNumberOrdersErrorResponse'
        application/xml:
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <ImportTnOrdersReportResponse>
                  <ResponseStatus>
                    <ErrorCode>12512</ErrorCode>
                    <Description>Telephone number '"xxxx"' is not valid</Description>
                    </ResponseStatus>
                  </ImportTnOrdersReportResponse>
          schema:
            $ref: '#/components/schemas/importPhoneNumberOrdersErrorResponseXml'
    getRemoveImportedMessagingPhoneNumberOrder400ErrorResponse:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/removeImportedPhoneNumberOrdersErrorResponse'
          examples:
            example:
              value:
                errorCode: 1005
                description: The resource does not exist
        application/xml:
          schema:
            $ref: '#/components/schemas/removeImportedTnOrderErrorResponse'
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8"?>
                <RemoveImportedTnOrdersReportResponse>
                   <ResponseStatus>
                      <ErrorCode>1005</ErrorCode>
                      <Description>The resource does not exist</Description>
                   </ResponseStatus>
                </RemoveImportedTnOrdersReportResponse>
    getImportMessagingPhoneNumberOrderResponse:
      description: OK
      content:
        application/json:
          examples:
            example:
              value:
                orderCreateDate: '2018-01-09T02:58:04.615Z'
                accountId: 9900012
                createdByUser: sjm
                orderId: bf1305b8-8998-1111-2222-51ba3ce52d4e
                lastModifiedDate: '2018-01-09T02:58:05.298Z'
                subAccountId: 65487
                locationId: 885544
                subscriber:
                  name: First
                  serviceAddress:
                    houseNumber: '11235'
                    streetName: Back
                    city: Denver
                    stateCode: CO
                    zip: '27541'
                    county: Canyon
                loaAuthorizingPerson: The Authguy
                loaType: CARRIER
                phoneNumbers:
                  - '+12106078250'
                  - '+12109678273'
                  - '+12109678331'
                  - '+12109678337'
                  - '+12266401468'
                  - '+12266401469'
                processingStatus: PROCESSING
                warnings:
                  - code: 19101
                    description: >-
                      An error has occurred while updating the Messaging Network
                      routing for this TN
                    phoneNumber: '+12109678337'
                errors:
                  - code: 7518
                    description: Telephone Number Not Active
                    phoneNumbers:
                      - '+12266401469'
                pendingPhoneNumbers:
                  - '+12109678331'
                failedPhoneNumbers:
                  - '+12109678337'
                successPhoneNumbers:
                  - '+12106078250'
                  - '+12109678273'
                  - '+12266401468'
          schema:
            $ref: '#/components/schemas/importPhoneNumberOrdersResponse'
        application/xml:
          examples:
            example:
              value: |
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <ImportTnOrder>
                    <OrderCreateDate>2018-01-09T02:58:04.615Z</OrderCreateDate>
                    <AccountId>9900012</AccountId>
                    <CreatedByUser>sjm</CreatedByUser>
                    <OrderId>bf1305b8-8998-1111-2222-51ba3ce52d4e</OrderId>
                    <LastModifiedDate>2018-01-09T02:58:05.298Z</LastModifiedDate>
                    <SiteId>65487</SiteId>
                    <SipPeerId>885544</SipPeerId>
                    <Subscriber>
                        <Name>First</Name>
                        <ServiceAddress>
                            <HouseNumber>11235</HouseNumber>
                            <StreetName>Back</StreetName>
                            <City>Denver</City>
                            <StateCode>CO</StateCode>
                            <Zip>27541</Zip>
                            <County>Canyon</County>
                        </ServiceAddress>
                    </Subscriber>
                    <LoaAuthorizingPerson>The Authguy</LoaAuthorizingPerson>
                    <LoaType>CARRIER</LoaType>
                    <TelephoneNumbers>
                        <TelephoneNumber>+12106078250</TelephoneNumber>
                        <TelephoneNumber>+12109678273</TelephoneNumber>
                        <TelephoneNumber>+12109678331</TelephoneNumber>
                        <TelephoneNumber>+12109678337</TelephoneNumber>
                        <TelephoneNumber>+12266401468</TelephoneNumber>
                        <TelephoneNumber>+12266401469</TelephoneNumber>
                    </TelephoneNumbers>
                    <ProcessingStatus>PROCESSING</ProcessingStatus>
                    <Warnings>
                        <Warning>
                            <Code>19101</Code>
                            <Description>An error has occurred while updating the Messaging Network routing for this TN</Description>
                            <TelephoneNumber>+12109678337</TelephoneNumber>
                        </Warning>
                    </Warnings>
                    <Errors>
                        <Error>
                            <Code>7518</Code>
                            <Description>Telephone Number Not Active</Description>
                            <TelephoneNumbers>
                                <TelephoneNumber>+12266401469</TelephoneNumber>
                            </TelephoneNumbers>
                        </Error>
                    <Errors>
                    <PendingTelephoneNumbers>
                        <TelephoneNumber>+12109678331</TelephoneNumber>
                    </PendingTelephoneNumbers>
                    <FailedTelephoneNumbers>
                        <TelephoneNumber>+12109678337</TelephoneNumber>
                    </FailedTelephoneNumbers>
                    <SuccessTelephoneNumbers>
                        <TelephoneNumber>+12106078250</TelephoneNumber>
                        <TelephoneNumber>+12109678273</TelephoneNumber>
                        <TelephoneNumber>+12266401468</TelephoneNumber>
                    </SuccessTelephoneNumbers>
                </ImportTnOrder>
          schema:
            $ref: '#/components/schemas/importTnOrdersResponse'
    getImportMessagingPhoneNumber400ErrorOrderResponse:
      description: Bad Request
      content:
        application/json:
          examples:
            example:
              value:
                code: 15523
                description: >-
                  Order '0a8d7f39-ca7b-41a5-b7f4-36c720e9dd05' does not
                  correspond to a given account '1'
          schema:
            $ref: '#/components/schemas/importPhoneNumberOrdersErrorResponse'
        application/xml:
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <ImportTnOrdersReportResponse>
                    <ResponseStatus>
                        <ErrorCode>15523</ErrorCode>
                        <Description>Order '0a8d7f39-ca7b-41a5-b7f4-36c720e9dd05' does not correspond to a given account '1'</Description>
                    </ResponseStatus>
                </ImportTnOrdersReportResponse>
          schema:
            $ref: '#/components/schemas/importPhoneNumberOrdersErrorResponseXml'
    postImportMessagingPhoneNumberOrdersLoasResponse:
      description: Created
      content:
        application/json:
          examples:
            example:
              value:
                filename: 63097af1-37ae-432f-8a0d-9b0e6517a35b-1429550165581.pdf
                resultCode: 0
                resultMessage: >-
                  LOA file uploaded successfully for order
                  63097af1-37ae-432f-8a0d-9b0e6517a35b
          schema:
            $ref: '#/components/schemas/fileUploadResponse'
        application/xml:
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <fileUploadResponse>
                      <filename>63097af1-37ae-432f-8a0d-9b0e6517a35b-1429550165581.pdf</filename>
                      <resultCode>0</resultCode>
                      <resultMessage>LOA file uploaded successfully for order 63097af1-37ae-432f-8a0d-9b0e6517a35b</resultMessage>
                </fileUploadResponse>
          schema:
            $ref: '#/components/schemas/fileUploadResponseXml'
    postImportMessagingPhoneNumberOrdersResponse:
      description: Created
      content:
        application/json:
          examples:
            example:
              value:
                customerOrderId: SJM000001
                orderCreateDate: '2018-01-20T02:59:54.000Z'
                accountId: 9900012
                createdByUser: smckinnon
                orderId: b05de7e6-0cab-4c83-81bb-9379cba8efd0
                lastModifiedDate: '2018-01-20T02:59:54.000Z'
                subAccountId: 202
                locationId: 520565
                subscriber:
                  name: ABC Inc.
                  serviceAddress:
                    houseNumber: '11235'
                    streetName: Back
                    city: Denver
                    stateCode: CO
                    zip: '27541'
                    county: Canyon
                loaAuthorizingPerson: The Authguy
                loaType: CARRIER
                phoneNumbers:
                  - '+19199918388'
                  - '+14158714245'
                  - '+14352154439'
                  - '+14352154466'
                pendingPhoneNumbers:
                  - '+19199918388'
                failedPhoneNumbers: []
                processingStatus: RECEIVED
                errors: []
                warnings: []
          schema:
            $ref: '#/components/schemas/importPhoneNumberOrdersResponse'
        application/xml:
          examples:
            example:
              value: |
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <ImportTnOrdersResponse>
                   <ImportTnOrder>
                     <CustomerOrderId>SJM000001</CustomerOrderId>
                     <OrderCreateDate>2018-01-20T02:59:54.000Z</OrderCreateDate>
                     <AccountId>9900012</AccountId>
                     <CreatedByUser>smckinnon</CreatedByUser>
                     <OrderId>b05de7e6-0cab-4c83-81bb-9379cba8efd0</OrderId>
                     <LastModifiedDate>2018-01-20T02:59:54.000Z</LastModifiedDate>
                     <SiteId>202</SiteId>
                     <SipPeerId>520565</SipPeerId>
                     <Subscriber>
                       <Name>ABC Inc.</Name>
                       <ServiceAddress>
                         <HouseNumber>11235</HouseNumber>
                         <StreetName>Back</StreetName>
                         <City>Denver</City>
                         <StateCode>CO</StateCode>
                         <Zip>27541</Zip>
                         <County>Canyon</County>
                         </ServiceAddress>
                       </Subscriber>
                     <LoaAuthorizingPerson>The Authguy</LoaAuthorizingPerson>
                     <LoaType>CARRIER</LoaType>
                     <TelephoneNumbers>
                       <TelephoneNumber>+19199918388</TelephoneNumber>
                       <TelephoneNumber>+14158714245</TelephoneNumber>
                       <TelephoneNumber>+14352154439</TelephoneNumber>
                       <TelephoneNumber>+14352154466</TelephoneNumber>
                     </TelephoneNumbers>
                     <PendingTelephoneNumbers>
                       <TelephoneNumber>+19199918388</TelephoneNumber>
                       <TelephoneNumber>+14158714245</TelephoneNumber>
                       <TelephoneNumber>+14352154439</TelephoneNumber>
                       <TelephoneNumber>+14352154466</TelephoneNumber>
                     </PendingTelephoneNumbers>
                     <FailedTelephoneNumbers/>
                     <ProcessingStatus>RECEIVED</ProcessingStatus>
                     <Errors/>
                   </ImportTnOrder>
                 </ImportTnOrdersResponse>
          schema:
            $ref: '#/components/schemas/importTnOrdersResponse'
    postImportMessagingPhoneNumberOrders400ErrorResponse:
      description: Bad Request
      content:
        application/json:
          examples:
            example:
              value:
                errorCode: 12512
                description: Telephone number '"xxxx"' is not valid
          schema:
            $ref: '#/components/schemas/importPhoneNumberOrdersErrorResponse'
        application/xml:
          examples:
            example:
              value: |
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <ImportTnOrdersResponse>
                  <ResponseStatus>
                    <ErrorCode>1003</ErrorCode>
                    <Description>SiteId is required</Description>
                  </ResponseStatus>
                </ImportTnOrdersResponse>
          schema:
            $ref: '#/components/schemas/importTnOrdersError'
    postRemoveImportedMessagingTnOrdersResponse:
      description: Created
      content:
        application/json:
          examples:
            example:
              value:
                customerOrderId: SJM000001
                orderCreateDate: '2018-01-20T02:59:54.000Z'
                accountId: 9900012
                createdByUser: smckinnon
                orderId: b05de7e6-0cab-4c83-81bb-9379cba8efd0
                lastModifiedDate: '2018-01-20T02:59:54.000Z'
                phoneNumbers:
                  - '+19199918388'
                  - '+14158714245'
                  - '+14352154439'
                  - '+14352154466'
                processingStatus: RECEIVED
                errors: []
          schema:
            $ref: '#/components/schemas/removeImportedPhoneNumberOrdersResponse'
        application/xml:
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <RemoveImportedTnOrdersResponse>
                   <RemoveImportedTnOrder>
                      <CustomerOrderId>SJM000001</CustomerOrderId>
                      <OrderCreateDate>2018-01-20T02:59:54.000Z</OrderCreateDate>
                      <AccountId>9900012</AccountId>
                      <CreatedByUser>smckinnon</CreatedByUser>
                      <OrderId>b05de7e6-0cab-4c83-81bb-9379cba8efd0</OrderId>
                      <LastModifiedDate>2018-01-20T02:59:54.000Z</LastModifiedDate>
                      <TelephoneNumbers>
                         <TelephoneNumber>+19199918388</TelephoneNumber>
                         <TelephoneNumber>+14158714245</TelephoneNumber>
                         <TelephoneNumber>+14352154439</TelephoneNumber>
                         <TelephoneNumber>+14352154466</TelephoneNumber>
                      </TelephoneNumbers>
                      <ProcessingStatus>RECEIVED</ProcessingStatus>
                      <Errors/>
                   </RemoveImportedTnOrder>
                </RemoveImportedTnOrdersResponse>
          schema:
            $ref: '#/components/schemas/removeImportedTnOrdersResponse'
    postRemoveImportedMessagingTnOrders400ErrorResponse:
      description: Bad Request
      content:
        application/json:
          examples:
            example:
              value:
                processingStatus: FAILED
                errors:
                  - code: 1234
                    description: The customer order id is invalid.
        application/xml:
          examples:
            example:
              value: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <RemoveImportedTnOrdersResponse>
                   <ProcessingStatus>FAILED</ProcessingStatus>
                   <Errors>
                      <Code>1234</Code>
                      <Description>The customer order id is invalid.</Description>
                   </Errors>
                </RemoveImportedTnOrdersResponse>
          schema:
            $ref: '#/components/schemas/removeImportedPhoneNumberOrdersErrorResponse'
