openapi: 3.0.1
info:
  title: Hosted Number Management
  description: >-
    Bandwidth's Hosted Number Management APIs


    This API provides endpoints to manage hosted telephone numbers, either for
    voice and messaging. 


    Note that specs are still being moved over from the [Numbers
    section](https://dev.bandwidth.com/apis/numbers-apis/numbers)
  contact:
    name: Bandwidth
    url: https://support.bandwidth.com
    email: support@bandwidth.com
  version: 1.0.0
  termsOfService: https://www.bandwidth.com/legal/terms-of-use-bandwidthcom-web-sites/
servers:
  - url: https://api.bandwidth.com/api/v2
    description: Production
security:
  - Basic: []
  - Bearer: []
tags:
  - name: Hosted Messaging
  - name: Import TN Checker
  - name: Operator Information
  - name: Hosted Voice
  - name: External TN Orders
paths:
  /accounts/{accountId}/importPhoneNumberOrders/messaging:
    get:
      tags:
        - Hosted Messaging
      description: >
        Retrieves the importPhoneNumberOrders requests for the given account ID.
        A maximum of 1,000 orders can be retrieved per request. If no date range
        or required query parameter is provided, the order results will be
        limited to the last two years.


        In this table are presented capabilities that are not universally
        available. The following request query parameters are only allowed for
        numbers from specific region/country:

        | Number Region | Request Query Parameter |

        |:--------------|:------------------------|

        |NANP|loaType|
      summary: List Hosted Messaging Orders
      operationId: readImportMessagingPhoneNumberOrders
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/statusQueryParam'
        - $ref: '#/components/parameters/phoneNumberQueryParam'
        - $ref: '#/components/parameters/customerOrderIdQueryParam'
        - $ref: '#/components/parameters/createdDateFromQueryParam'
        - $ref: '#/components/parameters/createdDateToQueryParam'
        - $ref: '#/components/parameters/modifiedDateFromQueryParam'
        - $ref: '#/components/parameters/modifiedDateToQueryParam'
        - $ref: '#/components/parameters/loaTypeQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/getImportMessagingPhoneNumberOrdersResponse'
        '400':
          $ref: >-
            #/components/responses/getImportMessagingPhoneNumberOrders400ErrorResponse
    post:
      tags:
        - Hosted Messaging
      description: >-
        Creates an importPhoneNumberOrder request to add numbers under the given
        sub account ID and location ID as specified in the body.

        A successfully submitted order will have a status of "RECEIVED". A
        successfully completed order will have a status of "COMPLETE" if all of
        the telephone numbers were successfully imported and  "PARTIAL" if some
        of the telephone numbers were imported. A failed order with will have a
        staus of "FAILED" and no telephone numbers would have been imported.


        The following request parameters are only required for numbers from
        specific region/country:

        | Number Region | Request Parameter |

        |:--------------|:------------------------|

        |NANP|LoaAuthorizingPerson|

        |NANP|LoaType|

        |NANP|Subscriber|
      summary: Create Hosted Messaging Order
      operationId: createImportMessagingPhoneNumberOrder
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/postImportMessagingPhoneNumberOrdersRequest'
      responses:
        '201':
          $ref: '#/components/responses/postImportMessagingPhoneNumberOrdersResponse'
        '400':
          $ref: >-
            #/components/responses/postImportMessagingPhoneNumberOrders400ErrorResponse
  /accounts/{accountId}/importPhoneNumberOrders/messaging/{orderId}:
    get:
      tags:
        - Hosted Messaging
      description: >-
        Retrieve an order to import hosted messaging to a phone number by order
        ID
      summary: Get Hosted Messaging Order
      operationId: retrieveImportMessagingPhoneNumberOrder
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getImportMessagingPhoneNumberOrderResponse'
        '400':
          $ref: >-
            #/components/responses/getImportMessagingPhoneNumber400ErrorOrderResponse
  /accounts/{accountId}/importPhoneNumberOrders/messaging/{orderId}/history:
    get:
      tags:
        - Hosted Messaging
      description: Retrieves the history of the specified importPhoneNumberOrder.
      summary: Get Hosted Messaging Order History
      operationId: readImportMessagingPhoneNumberOrderHistory
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      responses:
        '200':
          $ref: >-
            #/components/responses/getImportMessagingPhoneNumberOrdersHistoryResponse
  /accounts/{accountId}/importPhoneNumberOrders/messaging/{orderId}/loas:
    get:
      description: >-
        Retrieves the list of the LOA files associated with the order. Only for
        orders involving NANP numbers.
      operationId: listImportMessagingPhoneNumberOrderLoas
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
        - $ref: '#/components/parameters/metaDataQueryParam'
      responses:
        '200':
          $ref: >-
            #/components/responses/getImportMessagingPhoneNumberOrdersLoasResponse
        '400':
          $ref: >-
            #/components/responses/getImportMessagingPhoneNumberOrdersLoas400ErrorResponse
      summary: List Hosted Messaging Order LOA files
      tags:
        - Hosted Messaging
    post:
      description: >-
        POSTing to the /loas resource will enable the upload of the file.  The
        key attribute to the POST is ensuring that the headers are correctly set
        to support the file upload.<br>

        Query parameter or header documentType can be used to specify type of
        document on upload.

        <p>When uploading documents using the /loas resource, you must specify
        the MIME type of the document being upload using the Content-Type HTTP
        header.</p>

        <p>The LOA document must be uploaded using one of the following MIME
        types:</p>

        <ul>

        <li>application/pdf</li>

        <li>text/plain</li>

        <li>image/jpeg</li>

        <li>image/png</li>

        <li>image/tiff</li>

        <li>text/csv</li>

        <li>application/vnd.ms-excel</li>

        <li>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</li>

        <li>application/msword</li>

        <li>application/vnd.openxmlformats-officedocument.wordprocessingml.document</li>

        </ul>
      operationId: createImportMessagingPhoneNumberOrderLoas
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
        - $ref: '#/components/parameters/documentTypeQueryParam'
      requestBody:
        $ref: >-
          #/components/requestBodies/postImportMessagingPhoneNumberOrdersLoasRequest
      responses:
        '201':
          $ref: >-
            #/components/responses/postImportMessagingPhoneNumberOrdersLoasResponse
      summary: Upload LOA File for Import Phone Number Order [NANP]
      tags:
        - Hosted Messaging
  /accounts/{accountId}/removeImportedPhoneNumberOrders/messaging:
    get:
      tags:
        - Hosted Messaging
      description: >-
        Retrieves the Remove Imported Messaging Tn Orders requests for the given
        account ID.

        A maximum of 1,000 orders can be retrieved per request. If no date range
        or specific query parameter as required is provided, the order results
        will be limited to the last two years.
      summary: List Orders for Removing Hosted Messaging
      operationId: listRemoveImportedTnOrders
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/statusQueryParam'
        - $ref: '#/components/parameters/phoneNumberQueryParam'
        - $ref: '#/components/parameters/customerOrderIdQueryParam'
        - $ref: '#/components/parameters/createdDateFromQueryParam'
        - $ref: '#/components/parameters/createdDateToQueryParam'
        - $ref: '#/components/parameters/removeImportedModifiedDateFromQueryParam'
        - $ref: '#/components/parameters/removeImportedModifiedDateToQueryParam'
      responses:
        '200':
          $ref: >-
            #/components/responses/getRemoveImportedMessagingPhoneNumberOrdersResponse
    post:
      tags:
        - Hosted Messaging
      description: >
        Create an order to remove imported phone numbers for messaging from the
        given account ID. An optional customer ID can be provided in the request
        body to track the order. A successfully submitted order will have a
        status of "PROCESSING". A successfully completed order will have a
        status of "COMPLETE" if all of the phone numbers were successfully
        removed and  "PARTIAL" if some of the phone numbers were removed. A
        failed order will have a status of "FAILED" and no phone numbers would
        have been removed.
      summary: Create Order to Remove Hosted Messaging
      operationId: createRemoveImportedPhoneNumberOrder
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/postRemoveImportedPhoneNumberOrderRequest'
      responses:
        '201':
          $ref: '#/components/responses/postRemoveImportedMessagingTnOrdersResponse'
        '400':
          $ref: >-
            #/components/responses/postRemoveImportedMessagingTnOrders400ErrorResponse
  /accounts/{accountId}/removeImportedPhoneNumberOrders/messaging/{orderId}:
    get:
      tags:
        - Hosted Messaging
      description: Retrieve an order to remove hosted messaging from a phone number by ID
      summary: Get Order to Remove Hosted Messaging
      operationId: retrieveRemoveImportedPhoneNumberOrder
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      responses:
        '200':
          $ref: >-
            #/components/responses/getRemoveImportedMessagingPhoneNumberOrderResponse
        '400':
          $ref: >-
            #/components/responses/getRemoveImportedMessagingPhoneNumberOrder400ErrorResponse
  /accounts/{accountId}/importTnChecker:
    post:
      tags:
        - Import TN Checker
      description: >-
        Request importability information on a set of TNs. SipPeerId is an
        optional value. If SipPeerId is not specified, the id of the default
        Sip-Peer for the provided SiteId will be used.
      operationId: createRequestImportTnChecker
      summary: Check Tns importability
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        content:
          application/xml:
            examples:
              example:
                description: example
                value: |-
                  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                  <ImportTnCheckerPayload>
                    <TelephoneNumbers>
                      <TelephoneNumber>+13032281000</TelephoneNumber>
                      <TelephoneNumber>+14109235436</TelephoneNumber>
                      <TelephoneNumber>+14104685864</TelephoneNumber>
                    </TelephoneNumbers>
                    <SiteId>486</SiteId>
                    <SipPeerId>500025</SipPeerId>
                  </ImportTnCheckerPayload>
            schema:
              $ref: '#/components/schemas/importTnCheckerPayload'
          application/json:
            schema:
              $ref: '#/components/schemas/importTnCheckerRequest'
            examples:
              example:
                value:
                  phoneNumbers:
                    - '+13032281000'
                    - '+14109235436'
                    - '+14104685864'
                  subAccountId: 486
                  locationId: 500025
      responses:
        '200':
          description: <p>A successful check has been performed.</p>
          content:
            application/xml:
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <ImportTnCheckerResponse>
                      <ImportTnCheckerPayload>
                        <TelephoneNumbers>
                          <TelephoneNumber>+13032281000</TelephoneNumber>
                        </TelephoneNumbers>
                        <ImportTnErrors>
                          <ImportTnError>
                            <Code>19006</Code>
                            <Description>Bandwidth numbers cannot be imported by this account at this time.</Description>
                            <TelephoneNumbers>
                              <TelephoneNumber>+14109235436</TelephoneNumber>
                              <TelephoneNumber>+14104685864</TelephoneNumber>
                            </TelephoneNumbers>
                          </ImportTnError>
                        </ImportTnErrors>
                      </ImportTnCheckerPayload>
                    </ImportTnCheckerResponse>
              schema:
                $ref: '#/components/schemas/importTnCheckerResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/importTnCheckerJsonResponse'
              examples:
                example:
                  value:
                    phoneNumbers:
                      - '+13032281000'
                    errors:
                      - code: 19006
                        description: >-
                          Bandwidth numbers cannot be imported by this account
                          at this time.
                        phoneNumbers:
                          - '+14109235436'
                          - '+14104685864'
        '400':
          description: >-
            <p>Bad Response - there were errors in evaluating the body of the
            request.</p> <p>Potential errors include:</p><ul><li> List of TNs is
            empty.<li> List of TNs is more than 5000 TNs.<li> The account does
            not have the necessary (IMPORT_TNS) flag.<li> TNs are invalid (they
            are not actual TNs, and there are duplicates).</ul>
          content:
            application/xml:
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <ImportTnCheckerResponse>
                    <Errors>
                      <Code>7201</Code>
                        <Description>+161746052083 is not a valid NANP telephone number.</Description>
                      </Errors>
                      <Errors>
                        <Code>7201</Code>
                        <Description>+161746052082 is not a valid NANP telephone number.</Description>
                      </Errors>
                    </ImportTnCheckerResponse>
              schema:
                $ref: '#/components/schemas/importTnCheckerErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/importTnCheckerErrorJsonResponse'
              examples:
                example:
                  value:
                    errors:
                      - code: 7201
                        description: +161746052083 is not a valid NANP telephone number.
                      - code: 7201
                        description: +161746052082 is not a valid NANP telephone number.
  /accounts/{accountId}/operators:
    post:
      tags:
        - Operator Information
      description: |
        <p>Store an  operator information</p>
      operationId: createOperators
      summary: Create Operator
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/operatorRequest'
      responses:
        '201':
          $ref: '#/components/responses/operatorSuccessfulResponse'
        '400':
          $ref: '#/components/responses/operatorBadRequestError'
        '401':
          $ref: '#/components/responses/operatorUnauthorizedError'
        '403':
          $ref: '#/components/responses/operatorForbiddenError'
        '404':
          $ref: '#/components/responses/operatorNotFoundError'
        '405':
          $ref: '#/components/responses/methodNotSupportedError'
        '415':
          $ref: '#/components/responses/operatorInvalidMediaTypeError'
        '429':
          $ref: '#/components/responses/operatorTooManyRequestsError'
        '500':
          $ref: '#/components/responses/operatorsInternalServerError'
    get:
      tags:
        - Operator Information
      description: |
        <p>Store an operator information</p>
      operationId: listOperators
      summary: List Operators
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/operatorCountryCodeA3QueryParam'
        - $ref: '#/components/parameters/operatorSizeQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/listOperatorsResponse'
        '400':
          $ref: '#/components/responses/operatorBadRequestError'
        '401':
          $ref: '#/components/responses/operatorUnauthorizedError'
        '403':
          $ref: '#/components/responses/operatorForbiddenError'
        '404':
          $ref: '#/components/responses/operatorNotFoundError'
        '405':
          $ref: '#/components/responses/methodNotSupportedError'
        '415':
          $ref: '#/components/responses/operatorInvalidMediaTypeError'
        '429':
          $ref: '#/components/responses/operatorTooManyRequestsError'
        '500':
          $ref: '#/components/responses/operatorsInternalServerError'
  /accounts/{accountId}/operators/{operatorId}:
    patch:
      tags:
        - Operator Information
      description: |
        Update the name and/or routing prefixes for an operator by ID.
      operationId: updateOperator
      summary: Update Operator
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/operatorId'
      requestBody:
        $ref: '#/components/requestBodies/operatorPatchRequest'
      responses:
        '200':
          $ref: '#/components/responses/operatorSuccessfulResponse'
        '400':
          $ref: '#/components/responses/operatorBadRequestError'
        '401':
          $ref: '#/components/responses/operatorUnauthorizedError'
        '403':
          $ref: '#/components/responses/operatorForbiddenError'
        '404':
          $ref: '#/components/responses/operatorNotFoundError'
        '405':
          $ref: '#/components/responses/methodNotSupportedError'
        '415':
          $ref: '#/components/responses/operatorInvalidMediaTypeError'
        '429':
          $ref: '#/components/responses/operatorTooManyRequestsError'
        '500':
          $ref: '#/components/responses/operatorsInternalServerError'
    get:
      tags:
        - Operator Information
      description: |
        <p>Retrieve an operator information</p>
      operationId: getOperator
      summary: Get Operator
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/operatorId'
      responses:
        '200':
          $ref: '#/components/responses/operatorSuccessfulResponse'
        '400':
          $ref: '#/components/responses/operatorBadRequestError'
        '401':
          $ref: '#/components/responses/operatorUnauthorizedError'
        '403':
          $ref: '#/components/responses/operatorForbiddenError'
        '404':
          $ref: '#/components/responses/operatorNotFoundError'
        '405':
          $ref: '#/components/responses/methodNotSupportedError'
        '415':
          $ref: '#/components/responses/operatorInvalidMediaTypeError'
        '429':
          $ref: '#/components/responses/operatorTooManyRequestsError'
        '500':
          $ref: '#/components/responses/operatorsInternalServerError'
  /accounts/{accountId}/importTnOrders/voice:
    get:
      tags:
        - Hosted Voice
      description: >
        Retrieves the ImportVoiceTnOrder requests for the given account ID. A
        maximum of 1,000 orders can be retrieved per request. If no date range
        or specific query parameter (marked by <b class="required">*</b> below)
        is provided, the order results will be limited to the last two years.
      summary: List Import Voice Tn orders
      operationId: readImportVoiceTnOrders
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/statusQueryParam'
        - $ref: '#/components/parameters/tnQueryParam'
        - $ref: '#/components/parameters/customerOrderIdQueryParam'
        - $ref: '#/components/parameters/createdDateFromQueryParam'
        - $ref: '#/components/parameters/createdDateToQueryParam'
        - $ref: '#/components/parameters/modifiedDateFromQueryParam'
        - $ref: '#/components/parameters/modifiedDateToQueryParam'
      responses:
        '200':
          description: >-
            The descriptive payload for the importVoiceTnOrders query provides
            information about the orders found by the query, including the data
            associated with the order, the state of the order, and a list of the
            successfully imported Telephone Numbers, and descriptions of any
            encountered errors.
          content:
            application/xml:
              examples:
                example:
                  value: |
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <ImportVoiceTnOrders>
                       <TotalCount>2</TotalCount>
                       <ImportVoiceTnOrderSummary>
                          <accountId>14</accountId>
                          <CountOfTNs>1</CountOfTNs>
                          <CustomerOrderId>CustomerOrderId</CustomerOrderId>
                          <userId>systemUser</userId>
                          <lastModifiedDate>2019-01-24T11:08:09.770Z</lastModifiedDate>
                          <OrderDate>2019-01-24T11:08:09.770Z</OrderDate>
                          <OrderType>import_voice_tn_orders</OrderType>
                          <OrderStatus>COMPLETE</OrderStatus>
                          <OrderId>211a103c-5f9c-4117-8833-c574bdc390fd</OrderId>
                       </ImportVoiceTnOrderSummary>
                       <ImportVoiceTnOrderSummary>
                          <accountId>14</accountId>
                          <CountOfTNs>2</CountOfTNs>
                          <CustomerOrderId>CustomerOrderId</CustomerOrderId>
                          <userId>systemUser</userId>
                          <lastModifiedDate>2019-01-24T10:43:16.934Z</lastModifiedDate>
                          <OrderDate>2019-01-24T10:43:16.934Z</OrderDate>
                          <OrderType>import_voice_tn_orders</OrderType>
                          <OrderStatus>PARTIAL</OrderStatus>
                          <OrderId>8dc32f09-2329-4c73-b702-526f46b02712</OrderId>
                       </ImportVoiceTnOrderSummary>
                    </ImportVoiceTnOrders>
              schema:
                $ref: '#/components/schemas/importVoiceTnOrdersResponseList'
            application/json:
              schema:
                $ref: '#/components/schemas/importVoiceTnOrdersJsonResponseList'
              examples:
                example:
                  value:
                    totalCount: 2
                    orders:
                      - accountId: 14
                        phoneNumberCount: 1
                        customerOrderId: CustomerOrderId
                        userId: systemUser
                        lastModifiedDate: '2019-01-24T11:08:09.770Z'
                        orderDate: '2019-01-24T11:08:09.770Z'
                        orderType: import_voice_tn_orders
                        orderStatus: COMPLETE
                        orderId: 211a103c-5f9c-4117-8833-c574bdc390fd
                      - accountId: 14
                        phoneNumberCount: 2
                        customerOrderId: CustomerOrderId
                        userId: systemUser
                        lastModifiedDate: '2019-01-24T10:43:16.934Z'
                        orderDate: '2019-01-24T10:43:16.934Z'
                        orderType: import_voice_tn_orders
                        orderStatus: PARTIAL
                        orderId: 8dc32f09-2329-4c73-b702-526f46b02712
    post:
      tags:
        - Hosted Voice
      description: >-
        Creates an ImportVoiceTnOrders request to add numbers under the given
        site ID and sipPeer ID as specified in the body.

        We can either provide the list of telephone numbers or the range(s) of
        telephone numbers in the request.

        A successfully submitted order will have a status of "RECEIVED". A
        successfully completed order will have a status of "COMPLETE" if all of
        the telephone numbers were successfully imported and  "PARTIAL" if some
        of the telephone numbers were imported. A failed order with will have a
        staus of "FAILED" and no telephone numbers would have been imported.
      summary: Import Voice Tn order
      operationId: createImportVoiceTnOrder
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/importVoiceTnOrderRequest'
            examples:
              With telephone numbers list:
                value: |
                  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                  <ImportVoiceTnOrder>
                     <CustomerOrderId>ICPA123ABC</CustomerOrderId>
                     <SiteId>743</SiteId>
                     <SipPeerId>303716</SipPeerId>
                     <VoiceConfigurationPackageId>8826e9fe-1f0a-4cb0-be37-85cad742686c</VoiceConfigurationPackageId>
                     <OperatorId>1</OperatorId>
                     <TelephoneNumbers>
                        <TelephoneNumber>+19199918388</TelephoneNumber>
                        <TelephoneNumber>+14158714245</TelephoneNumber>
                        <TelephoneNumber>+14352154439</TelephoneNumber>
                        <TelephoneNumber>+14352154466</TelephoneNumber>
                     </TelephoneNumbers>
                  </ImportVoiceTnOrder>
              With telephone numbers range:
                value: |
                  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                  <ImportVoiceTnOrder>
                     <CustomerOrderId>ICPA123ABC</CustomerOrderId>
                     <SiteId>743</SiteId>
                     <SipPeerId>303716</SipPeerId>
                     <VoiceConfigurationPackageId>8826e9fe-1f0a-4cb0-be37-85cad742686c</VoiceConfigurationPackageId>
                     <OperatorId>1</OperatorId>
                     <TelephoneNumbersRanges>
                        <TelephoneNumbersRange>
                          <From>+19199918388</From>
                          <To>+19199918400</To>
                        </TelephoneNumbersRange>
                        <TelephoneNumbersRange>
                          <From>+14158714245</From>
                          <To>+14158714252</To>
                        </TelephoneNumbersRange>
                     </TelephoneNumbersRanges>
                  </ImportVoiceTnOrder>
          application/json:
            schema:
              $ref: '#/components/schemas/importVoiceTnOrderJsonRequest'
            examples:
              With telephone numbers list:
                value:
                  customerOrderId: ICPA123ABC
                  subAccountId: 743
                  locationId: 303716
                  voiceConfigurationPackageId: 8826e9fe-1f0a-4cb0-be37-85cad742686c
                  operatorId: 1
                  phoneNumbers:
                    - '+19199918388'
                    - '+14158714245'
                    - '+14352154439'
                    - '+14352154466'
              With telephone numbers range:
                value:
                  customerOrderId: ICPA123ABC
                  subAccountId: 743
                  locationId: 303716
                  voiceConfigurationPackageId: 8826e9fe-1f0a-4cb0-be37-85cad742686c
                  operatorId: 1
                  phoneNumberRanges:
                    - from: '+19199918388'
                      to: '+19199918400'
                    - from: '+14158714245'
                      to: '+14158714252'
      responses:
        '201':
          description: >-
            The order has been created and an order ID will be specified in the
            payload and in the header.
          content:
            application/xml:
              examples:
                With telephone numbers list:
                  value: |
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                      <ImportVoiceTnOrderResponse>
                         <ImportVoiceTnOrder>
                            <CustomerOrderId>SJM000001</CustomerOrderId>
                            <OrderCreateDate>2018-01-20T02:59:54.000Z</OrderCreateDate>
                            <AccountId>9900012</AccountId>
                            <CreatedByUser>smckinnon</CreatedByUser>
                            <OrderId>b05de7e6-0cab-4c83-81bb-9379cba8efd0</OrderId>
                            <LastModifiedDate>2018-01-20T02:59:54.000Z</LastModifiedDate>
                            <SiteId>202</SiteId>
                            <SipPeerId>520565</SipPeerId>
                            <VoiceConfigurationPackageId>8826e9fe-1f0a-4cb0-be37-85cad742686c</VoiceConfigurationPackageId>
                            <OperatorId>1</OperatorId>
                            <TelephoneNumbers>
                               <TelephoneNumber>+19199918388</TelephoneNumber>
                               <TelephoneNumber>+14158714245</TelephoneNumber>
                               <TelephoneNumber>+14352154439</TelephoneNumber>
                               <TelephoneNumber>+14352154466</TelephoneNumber>
                            </TelephoneNumbers>
                            <ProcessingStatus>PROCESSING</ProcessingStatus>
                            <Errors/>
                         </ImportVoiceTnOrder>
                      </ImportVoiceTnOrderResponse>
                With telephone numbers range along with list:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                      <ImportVoiceTnOrderResponse>
                        <ImportVoiceTnOrder>
                           <CustomerOrderId>ICPA123ABC</CustomerOrderId>
                           <SiteId>743</SiteId>
                           <SipPeerId>303716</SipPeerId>
                           <VoiceConfigurationPackageId>8826e9fe-1f0a-4cb0-be37-85cad742686c</VoiceConfigurationPackageId>
                           <OperatorId>1</OperatorId>
                           <TelephoneNumbersRanges>
                              <TelephoneNumbersRange>
                                <From>+12106078250</From>
                                <To>+12109678253</To>
                              </TelephoneNumbersRange>
                              <TelephoneNumbersRange>
                                <From>+12106078910</From>
                                <To>+12109678912</To>
                              </TelephoneNumbersRange>
                           </TelephoneNumbersRanges>
                           <TelephoneNumbers>
                              <TelephoneNumber>+12106078250</TelephoneNumber>
                              <TelephoneNumber>+12106078251</TelephoneNumber>
                              <TelephoneNumber>+12106078252</TelephoneNumber>
                              <TelephoneNumber>+12106078253</TelephoneNumber>
                              <TelephoneNumber>+12106078910</TelephoneNumber>
                              <TelephoneNumber>+12106078911</TelephoneNumber>
                              <TelephoneNumber>+12106078912</TelephoneNumber>
                           </TelephoneNumbers>
                        </ImportVoiceTnOrder>
                    </ImportVoiceTnOrderResponse>
              schema:
                $ref: '#/components/schemas/importVoiceTnOrderResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/importVoiceTnOrderJsonResponse'
              examples:
                example:
                  value:
                    customerOrderId: SJM000001
                    orderCreateDate: '2018-01-20T02:59:54.000Z'
                    accountId: 9900012
                    createdByUser: smckinnon
                    orderId: b05de7e6-0cab-4c83-81bb-9379cba8efd0
                    lastModifiedDate: '2018-01-20T02:59:54.000Z'
                    subAccountId: 202
                    locationId: 520565
                    voiceConfigurationPackageId: 8826e9fe-1f0a-4cb0-be37-85cad742686c
                    operatorId: 1
                    phoneNumbers:
                      - '+19199918388'
                      - '+14158714245'
                      - '+14352154439'
                      - '+14352154466'
                    processingStatus: PROCESSING
                    errors: []
        '400':
          description: The order failed; one of the input parameters is invalid.
          content:
            application/xml:
              examples:
                example:
                  value: |
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <ImportVoiceTnOrderResponse>
                       <ProcessingStatus>FAILED</ProcessingStatus>
                       <Errors>
                          <Code>7309</Code>
                          <Description>The site id was not supplied or is invalid.</Description>
                       </Errors>
                    </ImportVoiceTnOrderResponse>
              schema:
                $ref: '#/components/schemas/importVoiceTnOrderError'
            application/json:
              schema:
                $ref: '#/components/schemas/importVoiceTnOrderJsonError'
              examples:
                example:
                  value:
                    processingStatus: FAILED
                    errorCode: 7309
                    description: The site id was not supplied or is invalid.
        '404':
          description: The order failed; one of the input parameters is invalid.
          content:
            application/xml:
              examples:
                example:
                  value: |
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <ImportVoiceTnOrderResponse>
                       <ProcessingStatus>FAILED</ProcessingStatus>
                       <Errors>
                          <Code>8000</Code>
                          <Description>Operator Info Not Found</Description>
                       </Errors>
                    </ImportVoiceTnOrderResponse>
              schema:
                $ref: '#/components/schemas/importVoiceTnOrderError'
            application/json:
              schema:
                $ref: '#/components/schemas/importVoiceTnOrderJsonError'
              examples:
                example:
                  value:
                    processingStatus: FAILED
                    errorCode: 8000
                    description: Operator Info Not Found
  /accounts/{accountId}/importTnOrders/voice/{orderId}:
    get:
      tags:
        - Hosted Voice
      description: Retrieve information about a importVoiceTnOrder with specified ID.
      summary: Fetch Import Voice Tn order status
      operationId: readImportVoiceTnOrder
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      responses:
        '200':
          description: >-
            The information has been successfully retrieved and displayed in the
            payload.
          content:
            application/xml:
              examples:
                example when order is created with list of telephone numbers:
                  value: |
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <ImportTnOrder>
                       <OrderCreateDate>2018-01-09T02:58:04.615Z</OrderCreateDate>
                       <AccountId>9900012</AccountId>
                       <CreatedByUser>sjm</CreatedByUser>
                       <OrderId>bf1305b8-8998-1111-2222-51ba3ce52d4e</OrderId>
                       <LastModifiedDate>2018-01-09T02:58:05.298Z</LastModifiedDate>
                       <SiteId>65487</SiteId>
                       <SipPeerId>885544</SipPeerId>
                       <TelephoneNumbers>
                          <TelephoneNumber>+12106078250</TelephoneNumber>
                          <TelephoneNumber>+12109678273</TelephoneNumber>
                       </TelephoneNumbers>
                       <ProcessingStatus>PARTIAL</ProcessingStatus>
                       <Errors>
                          <Error>
                             <Code>19013</Code>
                             <Description>Numbers already exist</Description>
                             <TelephoneNumbers>
                                <TelephoneNumber>+12262665583</TelephoneNumber>
                             </TelephoneNumbers>
                          </Error>
                       </Errors>
                    </ImportTnOrder>
              schema:
                $ref: '#/components/schemas/importVoiceTnOrderResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/importVoiceTnOrderJsonResponse'
              examples:
                example:
                  value:
                    orderCreateDate: '2018-01-09T02:58:04.615Z'
                    accountId: 9900012
                    createdByUser: sjm
                    orderId: bf1305b8-8998-1111-2222-51ba3ce52d4e
                    lastModifiedDate: '2018-01-09T02:58:05.298Z'
                    subAccountId: 65487
                    locationId: 885544
                    phoneNumbers:
                      - '+12106078250'
                      - '+12109678273'
                    processingStatus: PARTIAL
                    errors:
                      - code: 19013
                        description: Numbers already exist
                        phoneNumbers:
                          - '+12262665583'
    patch:
      tags:
        - Hosted Voice
      description: >-
        Update the status of a Hosted Voice order, as specified in the body.

        The status can be changed from "SUBMITTED" to either
        "MISSING_REQUIREMENTS" or "APPROVED"
      summary: Update Import Voice Tn order
      operationId: updateImportVoiceTnOrder
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/importVoiceTnOrdersPatchRequest'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/importVoiceTnOrdersPatchBadRequestError'
        '403':
          $ref: '#/components/responses/importVoiceTnOrdersPatchForbiddenError'
  /accounts/{accountId}/importTnOrders/voice/{orderId}/history:
    get:
      tags:
        - Hosted Voice
      description: Retrieves the history of the specified importVoiceTnOrder.
      summary: Fetch Import Voice Tn order history
      operationId: readImportVoiceTnOrderHistory
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      responses:
        '200':
          description: >-
            The history has been successfully retrieved and displayed in the
            payload.
          content:
            application/xml:
              examples:
                example:
                  value: |
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <OrderHistoryWrapper>
                       <OrderHistory>
                          <OrderDate>2015-06-16T14:03:10.225Z</OrderDate>
                          <Note>Import Voice TN order is received.</Note>
                          <Author>admin</Author>
                          <Status>RECEIVED</Status>
                        </OrderHistory>
                        <OrderHistory>
                          <OrderDate>2015-06-16T14:03:10.330Z</OrderDate>
                          <Note>Import TN order is processing.</Note>
                          <Author>admin</Author>
                          <Status>PROCESSING</Status>
                       </OrderHistory>
                       <OrderHistory>
                          <OrderDate>2015-06-16T14:03:10.789Z</OrderDate>
                          <Note>Import Voice TN order is partial.</Note>
                          <Author>admin</Author>
                          <Status>PARTIAL</Status>
                       </OrderHistory>
                    </OrderHistoryWrapper>
              schema:
                $ref: '#/components/schemas/orderHistoryWrapper'
            application/json:
              schema:
                $ref: '#/components/schemas/orderHistory'
              examples:
                example:
                  value:
                    orderHistory:
                      - orderDate: '2015-06-16T14:03:10.225Z'
                        note: Import Voice TN order is received.
                        author: admin
                        status: RECEIVED
                      - orderDate: '2015-06-16T14:03:10.330Z'
                        note: Import TN order is processing.
                        author: admin
                        status: PROCESSING
                      - orderDate: '2015-06-16T14:03:10.789Z'
                        note: Import Voice TN order is partial.
                        author: admin
                        status: PARTIAL
  /importTnOrders/voice:
    get:
      tags:
        - Hosted Voice
      description: Retrieves all importvoicetnorders requests.
      operationId: listImportVoiceTnOrders
      summary: List All Import Voice TN Orders
      parameters:
        - $ref: '#/components/parameters/statusQueryParam'
        - $ref: '#/components/parameters/tnQueryParam'
        - $ref: '#/components/parameters/accountIdQueryParam'
        - $ref: '#/components/parameters/customerOrderIdQueryParam'
        - $ref: '#/components/parameters/createdDateFromQueryParam'
        - $ref: '#/components/parameters/createdDateToQueryParam'
        - $ref: '#/components/parameters/modifiedDateFromQueryParam'
        - $ref: '#/components/parameters/modifiedDateToQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/importVoiceTnOrdersResponse'
  /accounts/{accountId}/removeImportedTnOrders/voice:
    get:
      tags:
        - Hosted Voice
      description: >-
        Retrieves the Remove Imported Voice Tn Orders requests for the given
        account ID.

        A maximum of 1,000 orders can be retrieved per request. If no date range
        or specific query parameter as required is provided, the order results
        will be limited to the last two years.
      summary: List Remove Imported Voice Tn Orders
      operationId: listRemoveImportedVoiceTnOrders
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/statusQueryParam'
        - $ref: '#/components/parameters/tnQueryParam'
        - $ref: '#/components/parameters/customerOrderIdQueryParam'
        - $ref: '#/components/parameters/createdDateFromQueryParam'
        - $ref: '#/components/parameters/createdDateToQueryParam'
        - $ref: '#/components/parameters/modifiedDateFromQueryParam'
        - $ref: '#/components/parameters/modifiedDateToQueryParam'
      responses:
        '200':
          description: >-
            The descriptive payload for the Remove Imported Voice Tn Orders
            query provides information about the orders found by the query,
            including the data associated with the order, the state of the
            order, and a list of the successfully removed Telephone Numbers, and
            descriptions of any encountered errors
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/removeImportedVoiceTnOrders'
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <RemoveImportedVoiceTnOrders>
                       <TotalCount>2</TotalCount>
                       <RemoveImportedVoiceTnOrderSummary>
                          <accountId>14</accountId>
                          <CountOfTNs>1</CountOfTNs>
                          <CustomerOrderId>DemoOrder</CustomerOrderId>
                          <userId>systemUser</userId>
                          <lastModifiedDate>2019-01-24T10:40:12.908Z</lastModifiedDate>
                          <OrderDate>2019-01-24T10:40:12.907Z</OrderDate>
                          <OrderType>remove_imported_voice_tn_orders</OrderType>
                          <OrderStatus>COMPLETE</OrderStatus>
                          <OrderId>4f2d090b-ece7-49ab-9c40-06d1425c39c3</OrderId>
                       </RemoveImportedVoiceTnOrderSummary>
                       <RemoveImportedVoiceTnOrderSummary>
                          <accountId>14</accountId>
                          <CountOfTNs>1</CountOfTNs>
                          <CustomerOrderId>DemoOrder</CustomerOrderId>
                          <userId>systemUser</userId>
                          <lastModifiedDate>2019-01-24T09:38:24.028Z</lastModifiedDate>
                          <OrderDate>2019-01-24T09:38:24.028Z</OrderDate>
                          <OrderType>remove_imported_voice_tn_orders</OrderType>
                          <OrderStatus>PARTIAL</OrderStatus>
                          <OrderId>ca30ea6a-018a-4cae-9d49-3d419fefdbe3</OrderId>
                       </RemoveImportedVoiceTnOrderSummary>
                    </RemoveImportedVoiceTnOrders>
            application/json:
              schema:
                $ref: '#/components/schemas/removeImportedVoiceTnOrdersJsonList'
              examples:
                example:
                  value:
                    totalCount: 2
                    orders:
                      - accountId: 14
                        phoneNumberCount: 1
                        customerOrderId: DemoOrder
                        userId: systemUser
                        lastModifiedDate: '2019-01-24T10:40:12.908Z'
                        orderDate: '2019-01-24T10:40:12.907Z'
                        orderType: remove_imported_voice_tn_orders
                        orderStatus: COMPLETE
                        orderId: 4f2d090b-ece7-49ab-9c40-06d1425c39c3
                      - accountId: 14
                        phoneNumberCount: 1
                        customerOrderId: DemoOrder
                        userId: systemUser
                        lastModifiedDate: '2019-01-24T09:38:24.028Z'
                        orderDate: '2019-01-24T09:38:24.028Z'
                        orderType: remove_imported_voice_tn_orders
                        orderStatus: PARTIAL
                        orderId: ca30ea6a-018a-4cae-9d49-3d419fefdbe3
    post:
      tags:
        - Hosted Voice
      description: >-
        Creates a Remove Imported Voice Tn Orders request to remove imported
        telephone numbers from the given site ID and sippeer ID as specified in
        the body. A successfully submitted order will have a status of
        "PROCESSING". A successfully completed order will have a status of
        "COMPLETE" if all of the telephone numbers were successfully removed
        and  "PARTIAL" if some of the telephone numbers were removed. A failed
        order with will have a status of "FAILED" and no telephone numbers would
        have been removed
      summary: Create Remove Imported Voice Tn Order
      operationId: createRemoveImportedVoiceTnOrder
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/removeImportedVoiceTnOrderRequest'
            examples:
              example:
                value: |-
                  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                  <RemoveImportedVoiceTnOrder>
                     <CustomerOrderId>ICPA123ABC</CustomerOrderId>
                     <TelephoneNumbers>
                        <TelephoneNumber>+19199918388</TelephoneNumber>
                        <TelephoneNumber>+14158714245</TelephoneNumber>
                        <TelephoneNumber>+14352154439</TelephoneNumber>
                        <TelephoneNumber>+14352154466</TelephoneNumber>
                     </TelephoneNumbers>
                  </RemoveImportedVoiceTnOrder>
          application/json:
            schema:
              $ref: '#/components/schemas/removeImportedVoiceTnOrderJsonRequest'
            examples:
              example:
                value:
                  customerOrderId: ICPA123ABC
                  phoneNumbers:
                    - '+19199918388'
                    - '+14158714245'
                    - '+14352154439'
                    - '+14352154466'
      responses:
        '201':
          description: >-
            The order has been created and an order ID will be specified in the
            payload and in the header
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/removeImportedVoiceTnOrderResponse'
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <RemoveImportedVoiceTnOrderResponse>
                       <RemoveImportedVoiceTnOrder>
                          <CustomerOrderId>SJM000001</CustomerOrderId>
                          <OrderCreateDate>2018-01-20T02:59:54.000Z</OrderCreateDate>
                          <AccountId>9900012</AccountId>
                          <CreatedByUser>smckinnon</CreatedByUser>
                          <OrderId>b05de7e6-0cab-4c83-81bb-9379cba8efd0</OrderId>
                          <LastModifiedDate>2018-01-20T02:59:54.000Z</LastModifiedDate>
                          <TelephoneNumbers>
                             <TelephoneNumber>+19199918388</TelephoneNumber>
                             <TelephoneNumber>+14158714245</TelephoneNumber>
                             <TelephoneNumber>+14352154439</TelephoneNumber>
                             <TelephoneNumber>+14352154466</TelephoneNumber>
                          </TelephoneNumbers>
                          <ProcessingStatus>PROCESSING</ProcessingStatus>
                          <Errors />
                       </RemoveImportedVoiceTnOrder>
                    </RemoveImportedVoiceTnOrderResponse>
            application/json:
              schema:
                $ref: '#/components/schemas/removeImportedVoiceTnOrderJsonResponse'
              examples:
                example:
                  value:
                    customerOrderId: SJM000001
                    orderCreateDate: '2018-01-20T02:59:54.000Z'
                    accountId: 9900012
                    createdByUser: smckinnon
                    orderId: b05de7e6-0cab-4c83-81bb-9379cba8efd0
                    lastModifiedDate: '2018-01-20T02:59:54.000Z'
                    phoneNumbers:
                      - '+19199918388'
                      - '+14158714245'
                      - '+14352154439'
                      - '+14352154466'
                    processingStatus: PROCESSING
                    errors: []
        '400':
          description: The order failed. One of the input parameters is invalid.
          content:
            application/xml:
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <RemoveImportedVoiceTnOrderResponse>
                       <ProcessingStatus>FAILED</ProcessingStatus>
                       <Errors>
                          <Code>1234</Code>
                          <Description>The customer order id is invalid.</Description>
                       </Errors>
                    </RemoveImportedVoiceTnOrderResponse>
            application/json:
              schema:
                $ref: '#/components/schemas/removeImportedVoiceTnOrderJsonError'
              examples:
                example:
                  value:
                    processingStatus: FAILED
                    errorCode: 1234
                    description: The customer order id is invalid.
  /accounts/{accountId}/removeImportedTnOrders/voice/{orderId}:
    get:
      tags:
        - Hosted Voice
      description: >-
        Retrieve information about a removeImportedVoiceTnOrder with specified
        ID
      summary: Retrieve Remove Imported Voice Tn Order
      operationId: retrieveRemoveImportedVoiceTnOrder
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      responses:
        '200':
          description: >-
            The information has been successfully retrieved and displayed in the
            payload.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/removeImportedVoiceTnOrderResponse'
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <RemoveImportedVoiceTnOrder>
                       <OrderCreateDate>2018-01-09T02:58:04.615Z</OrderCreateDate>
                       <AccountId>9900012</AccountId>
                       <CreatedByUser>sjm</CreatedByUser>
                       <OrderId>bf1305b8-8998-1111-2222-51ba3ce52d4e</OrderId>
                       <LastModifiedDate>2018-01-09T02:58:05.298Z</LastModifiedDate>
                       <TelephoneNumbers>
                          <TelephoneNumber>+12106078250</TelephoneNumber>
                          <TelephoneNumber>+12109678273</TelephoneNumber>
                          <TelephoneNumber>+12109678331</TelephoneNumber>
                          <TelephoneNumber>+12109678337</TelephoneNumber>
                          <TelephoneNumber>+12266401468</TelephoneNumber>
                       </TelephoneNumbers>
                       <ProcessingStatus>PARTIAL</ProcessingStatus>
                       <Errors>
                          <Error>
                             <Code>7518</Code>
                             <Description>Telephone Number Not Active.</Description>
                             <TelephoneNumbers>
                                <TelephoneNumber>+12262665583</TelephoneNumber>
                             </TelephoneNumbers>
                          </Error>
                       </Errors>
                    </RemoveImportedVoiceTnOrder>
            application/json:
              schema:
                $ref: '#/components/schemas/removeImportedVoiceTnOrderJsonResponse'
              examples:
                example:
                  value:
                    orderCreateDate: '2018-01-09T02:58:04.615Z'
                    accountId: 9900012
                    createdByUser: sjm
                    orderId: bf1305b8-8998-1111-2222-51ba3ce52d4e
                    lastModifiedDate: '2018-01-09T02:58:05.298Z'
                    phoneNumbers:
                      - '+12106078250'
                      - '+12109678273'
                      - '+12109678331'
                      - '+12109678337'
                      - '+12266401468'
                    processingStatus: PARTIAL
                    errors:
                      - code: 7518
                        description: Telephone Number Not Active.
                        phoneNumbers:
                          - '+12262665583'
  /accounts/{accountId}/removeImportedTnOrders/voice/{orderId}/history:
    get:
      tags:
        - Hosted Voice
      description: Retrieves the history of the specified Remove Imported Voice Tn Order
      summary: Retrieve Remove Imported Voice Tn Order history
      operationId: retrieveRemoveImportedVoiceTnOrderHistory
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      responses:
        '200':
          description: >-
            The history has been successfully retrieved and displayed in the
            payload
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/orderHistoryWrapper'
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <OrderHistoryWrapper>
                       <OrderHistory>
                          <OrderDate>2015-06-16T14:03:10.225Z</OrderDate>
                          <Note>Remove Imported Voice TN order is received.</Note>
                          <Author>admin</Author>
                          <Status>RECEIVED</Status>
                       </OrderHistory>
                       <OrderHistory>
                          <OrderDate>2015-06-16T14:03:10.330Z</OrderDate>
                          <Note>Remove Imported TN order is processing.</Note>
                          <Author>admin</Author>
                          <Status>PROCESSING</Status>
                       </OrderHistory>
                       <OrderHistory>
                          <OrderDate>2015-06-16T14:03:10.789Z</OrderDate>
                          <Note>Remove Imported Voice TN order is partial.</Note>
                          <Author>admin</Author>
                          <Status>PARTIAL</Status>
                       </OrderHistory>
                    </OrderHistoryWrapper>
            application/json:
              schema:
                $ref: '#/components/schemas/orderHistory'
              examples:
                example:
                  value:
                    orderHistory:
                      - orderDate: '2015-06-16T14:03:10.225Z'
                        note: Remove Imported Voice TN order is received.
                        author: admin
                        status: RECEIVED
                      - orderDate: '2015-06-16T14:03:10.330Z'
                        note: Remove Imported TN order is processing.
                        author: admin
                        status: PROCESSING
                      - orderDate: '2015-06-16T14:03:10.789Z'
                        note: Remove Imported Voice TN order is partial.
                        author: admin
                        status: PARTIAL
  /removeImportedTnOrders/voice:
    get:
      tags:
        - Hosted Voice
      description: Retrieves all removeimportedvoicetnorders requests.
      operationId: listAllRemoveImportedVoiceTnOrders
      summary: List All Remove Imported Voice TN Orders
      parameters:
        - $ref: '#/components/parameters/statusQueryParam'
        - $ref: '#/components/parameters/tnQueryParam'
        - $ref: '#/components/parameters/accountIdQueryParam'
        - $ref: '#/components/parameters/customerOrderIdQueryParam'
        - $ref: '#/components/parameters/createdDateFromQueryParam'
        - $ref: '#/components/parameters/createdDateToQueryParam'
        - $ref: '#/components/parameters/modifiedDateFromQueryParam'
        - $ref: '#/components/parameters/modifiedDateToQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/removeImportedVoiceTnOrdersResponse'
  /accounts/{accountId}/importTnOrders/voice/{orderId}/documents:
    get:
      summary: List Import Voice Tn order Documents
      operationId: listImportTnOrdersVoiceDocuments
      description: >-
        List all import voice tn order documents. The results are sorted by last
        updated time in reverse chronological order by default without any query
        filters.
      tags:
        - Hosted Voice
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
        - $ref: '#/components/parameters/customReferenceQueryParamEqStartsWith'
      responses:
        '200':
          $ref: '#/components/responses/listHostedVoiceDocumentsSuccess'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/notAllowedError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        '500':
          $ref: '#/components/responses/internalServerError'
    post:
      summary: Add Import Voice Tn order Documents
      operationId: addImportTnOrdersVoiceDocuments
      description: Create an import voice tn order document.
      tags:
        - Hosted Voice
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/addHostedVoiceDocumentRequest'
      responses:
        '201':
          $ref: '#/components/responses/createHostedVoiceDocumentSuccess'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/notAllowedError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /accounts/{accountId}/importTnOrders/voice/{orderId}/documents/{documentId}:
    get:
      summary: Get Import Voice Tn order Documents
      operationId: getImportTnOrdersVoiceDocuments
      description: Get an import voice tn order document.
      tags:
        - Hosted Voice
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
        - $ref: '#/components/parameters/documentIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getHostedVoiceDocumentSuccess'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/notAllowedError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        '500':
          $ref: '#/components/responses/internalServerError'
    put:
      summary: Update Import Voice Tn order Documents
      operationId: updateImportTnOrdersVoiceDocuments
      description: Update an import voice tn order document.
      tags:
        - Hosted Voice
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
        - $ref: '#/components/parameters/documentIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/addHostedVoiceDocumentRequest'
      responses:
        '201':
          $ref: '#/components/responses/createHostedVoiceDocumentSuccess'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/notAllowedError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        '500':
          $ref: '#/components/responses/internalServerError'
    patch:
      summary: Update Import Voice Tn order Document Attributes
      operationId: updateImportTnOrdersVoiceDocumentAttributes
      description: Update an import voice tn order document attributes.
      tags:
        - Hosted Voice
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
        - $ref: '#/components/parameters/documentIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/updateHostedVoiceDocumentRequest'
      responses:
        '200':
          $ref: '#/components/responses/updateHostedVoiceDocumentSuccess'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/notAllowedError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        '500':
          $ref: '#/components/responses/internalServerError'
    delete:
      summary: Delete Import Voice Tn order Documents
      operationId: deleteImportTnOrdersVoiceDocuments
      description: delete an import voice tn order documents.
      tags:
        - Hosted Voice
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
        - $ref: '#/components/parameters/documentIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/deleteHostedVoiceDocumentSuccess'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/notAllowedError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /accounts/{accountId}/externalTns:
    get:
      tags:
        - External TN Orders
      summary: List External TN Orders
      description: >
        Retrieve a list of the External TN orders associated with the account. A
        maximum of 1,000 orders can be retrieved per request. If no date range
        or specific query parameter is provided, the order results will be
        limited to the last two years.
      operationId: listExternalTnOrders
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/statusQueryParam'
        - $ref: '#/components/parameters/tnQueryParam'
        - $ref: '#/components/parameters/customerOrderIdQueryParam'
        - $ref: '#/components/parameters/createdDateFromQueryParam'
        - $ref: '#/components/parameters/createdDateToQueryParam'
        - $ref: '#/components/parameters/orderIdFragmentQueryParam'
        - $ref: '#/components/parameters/actionQueryParam'
        - $ref: '#/components/parameters/loaTypeQueryParam'
        - $ref: '#/components/parameters/modifiedDateFromQueryParam'
        - $ref: '#/components/parameters/modifiedDateToQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/listExternalTnOrdersResponse'
        '404':
          $ref: '#/components/responses/listExternalTnOrders404ErrorResponse'
    post:
      tags:
        - External TN Orders
      summary: Create External TN Order
      description: >
        Create an External TN order to add or remove telephone numbers provided
        by the customer from the Bandwidth network.


        Note: attempting to import a telephone number that is already present in
        the account will not create an error, but will reset all of the
        attributes of that telephone number in the system as if the telephone
        number was being imported for the first time.
      operationId: createExternalTnOrder
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/postExternalTnOrderRequest'
      responses:
        '201':
          $ref: '#/components/responses/createExternalTnOrderResponse'
        '400':
          $ref: '#/components/responses/createExternalTnOrder400ErrorResponse'
  /accounts/{accountId}/externalTns/{orderId}:
    get:
      tags:
        - External TN Orders
      summary: Get External TN Order
      description: Retrieve information about an External TN order with the specified ID.
      operationId: getExternalTnOrder
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getExternalTnOrderResponse'
        '404':
          $ref: '#/components/responses/getExternalTnOrder404ErrorResponse'
  /accounts/{accountId}/externalTns/{orderId}/history:
    get:
      tags:
        - External TN Orders
      summary: Get External TN Order History
      description: Retrieve the history of the specified External TN order.
      operationId: getExternalTnOrderHistory
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getExternalTnOrderHistoryResponse'
        '404':
          $ref: '#/components/responses/getExternalTnOrder404ErrorResponse'
  /accounts/{accountId}/removeImportedTnOrders/{orderId}/history:
    get:
      tags:
        - Hosted Messaging
      summary: Get Remove Imported TN Order History
      description: Retrieve the history of the specified Remove Imported TN order.
      operationId: getRemoveImportedTnOrderHistory
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getRemoveImportedTnOrderHistoryResponse'
        '400':
          $ref: >-
            #/components/responses/getRemoveImportedTnOrderHistory400ErrorResponse
components:
  securitySchemes:
    Basic:
      type: http
      scheme: basic
      description: >-
        Basic authentication is a simple authentication scheme built into the
        HTTP protocol. To use it, send your HTTP requests with an Authorization
        header that contains the word Basic followed by a space and a
        base64-encoded string `username:password`.

        Example: `Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=`
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        Bearer authentication (also called token authentication) is an HTTP
        authentication scheme that involves security 

        tokens called bearer tokens. The name “Bearer authentication” can be
        understood as “give access to the bearer

        of this token.” The client must send this token in the `Authorization`
        header when making requests to

        protected resources.


        - Example: `Authorization: Bearer <token>`


        Where `<token>` should be replaced with the token string without angle
        brackets.


        For more information, see the following guide:
        [Credentials](https://dev.bandwidth.com/docs/account/credentials/management)
  schemas:
    orderStatus:
      type: string
      description: The status of an order.
      enum:
        - RECEIVED
        - PROCESSING
        - COMPLETE
        - PARTIAL
        - FAILED
      example: COMPLETE
    importVoiceProcessingStatus:
      type: string
      description: The processing status of an import voice TN order.
      enum:
        - RECEIVED
        - PROCESSING
        - COMPLETE
        - PARTIAL
        - FAILED
        - MISSING_REQUIREMENTS
      example: PROCESSING
    importVoicePatchStatus:
      type: string
      description: The processing status to set on an import voice TN order.
      enum:
        - APPROVED
        - MISSING_REQUIREMENTS
        - SUBMITTED
      example: APPROVED
    hostedVoiceRequirement:
      type: string
      description: A missing requirement type for a hosted voice order.
      enum:
        - HOSTED_VOICE_DOCUMENTS
      example: HOSTED_VOICE_DOCUMENTS
    hostedVoiceDocumentStatus:
      type: string
      description: The status of a hosted voice document.
      enum:
        - DRAFT
        - SUBMITTED
        - PROCESSING
        - VERIFIED
        - VERIFICATION_FAILED
      example: SUBMITTED
    loaType:
      type: string
      description: The type of LOA authorization.
      enum:
        - CARRIER
        - SUBSCRIBER
      example: CARRIER
    externalTnAction:
      type: string
      description: Whether the order imports or removes telephone numbers.
      enum:
        - IMPORT
        - REMOVE
      example: IMPORT
    documentType:
      type: string
      description: The type of document.
      enum:
        - LOA
        - INVOICE
        - CSR
        - OTHER
      example: LOA
    addressXml:
      type: object
      properties:
        HousePrefix:
          description: >-
            The HousePrefix is the non-numeric address number prefix of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        HouseNumber:
          description: >-
            The HouseNumber is the street address number of the ServiceAddress.
            HouseNumber is mandatory for port-in orders in which the
            ServiceAddress is mandatory.
          type: string
        HouseSuffix:
          description: >-
            The HouseSuffix is the non-numeric address number suffix of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        PreDirectional:
          description: >-
            The PreDirectional is the non-numeric street name prefix of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        StreetName:
          description: >-
            The StreetName is mandatory in cases where the ServiceAddress is
            mandatory.
          type: string
        StreetSuffix:
          description: >-
            The StreetSuffix is the street suffix of the ServiceAddress. This
            element is optional when not needed to fully specify the
            ServiceAddress.
          type: string
        PostDirectional:
          description: >-
            The PostDirectional is the street name post directional of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        AddressLine2:
          description: >-
            AddressLine2 is used to specify Unit, Suite, Floor, etc. in the
            Service Address. AddressLine2 is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        City:
          description: City is mandatory in cases where the ServiceAddress is mandatory.
          type: string
        StateCode:
          description: >-
            StateCode is the 2-letter abbreviation of the state of the
            ServiceAddress. StateCode is mandatory in cases where the
            ServiceAddress is mandatory.
          type: string
        Zip:
          description: >-
            Zip is the Zip Code of the ServiceAddress. Zip is mandatory in cases
            where the ServiceAddress is mandatory.
          type: string
        PlusFour:
          description: >-
            PlusFour is the 4 digits that are sometimes suffixed to the Zip
            Code.
          type: string
        County:
          description: The county where the subscriber or business is located.
          type: string
        Country:
          description: >-
            Country is the country of the ServiceAddress. This value will be
            derived from the StateCode, so it should generally be omitted.
          type: string
        ResetAddressFields:
          type: boolean
        Latitude:
          type: string
        Longitude:
          type: string
        AddressType:
          $ref: '#/components/schemas/addressTypeXml'
    address:
      properties:
        addressLine2:
          description: >-
            AddressLine2 is used to specify Unit, Suite, Floor, etc. in the
            Service Address. AddressLine2 is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        addressType:
          $ref: '#/components/schemas/addressType'
        city:
          description: City is mandatory in cases where the ServiceAddress is mandatory.
          type: string
        country:
          description: >-
            Country is the country of the ServiceAddress. This value will be
            derived from the StateCode, so it should generally be omitted.
          type: string
        county:
          description: The county where the subscriber or business is located.
          type: string
        houseNumber:
          description: >-
            The HouseNumber is the street address number of the ServiceAddress.
            HouseNumber is mandatory for port-in orders in which the
            ServiceAddress is mandatory.
          type: string
        housePrefix:
          description: >-
            The HousePrefix is the non-numeric address number prefix of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        houseSuffix:
          description: >-
            The HouseSuffix is the non-numeric address number suffix of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        latitude:
          type: string
        longitude:
          type: string
        plusFour:
          description: >-
            PlusFour is the 4 digits that are sometimes suffixed to the Zip
            Code.
          type: string
        postDirectional:
          description: >-
            The PostDirectional is the street name post directional of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        preDirectional:
          description: >-
            The PreDirectional is the non-numeric street name prefix of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        resetAddressFields:
          type: boolean
        stateCode:
          description: >-
            StateCode is the 2-letter abbreviation of the state of the
            ServiceAddress. StateCode is mandatory in cases where the
            ServiceAddress is mandatory.
          type: string
        streetName:
          description: >-
            The StreetName is mandatory in cases where the ServiceAddress is
            mandatory.
          type: string
        streetSuffix:
          description: >-
            The StreetSuffix is the street suffix of the ServiceAddress. This
            element is optional when not needed to fully specify the
            ServiceAddress.
          type: string
        zip:
          description: >-
            Zip is the Zip Code of the ServiceAddress. Zip is mandatory in cases
            where the ServiceAddress is mandatory.
          type: string
      type: object
    addressTypeXml:
      type: string
      enum:
        - SERVICE
        - BILLING
        - DLDA
        - E911
    addressType:
      enum:
        - SERVICE
        - BILLING
        - DLDA
        - E911
      type: string
    error:
      title: Error
      type: object
      properties:
        phoneNumbers:
          description: List of telephone numbers related to the error
          type: array
          items:
            $ref: '#/components/schemas/phoneNumber'
        code:
          description: A numeric code representing the specific error
          type: integer
        description:
          description: Details about the error
          type: string
    errorXml:
      title: Error
      type: object
      properties:
        TelephoneNumbers:
          description: List of telephone numbers related to the error
          type: array
          items:
            $ref: '#/components/schemas/telephoneNumber'
        Code:
          description: A numeric code representing the specific error
          type: integer
        Description:
          description: Details about the error
          type: string
    fileData:
      properties:
        fileMetaData:
          $ref: '#/components/schemas/fileMetaData'
        fileName:
          description: The name that was associated with the file when it was uploaded.
          type: string
      type: object
    fileDataXml:
      description: Optional metadata associated with the file that was uploaded.
      properties:
        FileMetaData:
          $ref: '#/components/schemas/fileMetaDataXml'
        FileName:
          description: The name that was associated with the file when it was uploaded.
          type: string
      type: object
    fileListResponse:
      properties:
        fileCount:
          description: Total count of files in response.
          type: integer
        fileData:
          description: Optional metadata associated with the file that was uploaded.
          items:
            $ref: '#/components/schemas/fileData'
          type: array
        resultCode:
          description: Result code of fetching the list of files from AWS.
          type: integer
        resultMessage:
          description: Results of the attempt to fetch the list of files.
          type: string
      type: object
    fileListResponseXml:
      properties:
        fileListResponse:
          properties:
            fileCount:
              description: Total count of files in response.
              type: integer
            fileData:
              $ref: '#/components/schemas/fileDataXml'
            resultCode:
              description: Result code of fetching the list of files from AWS.
              type: integer
            resultMessage:
              description: Results of the attempt to fetch the list of files.
              type: string
          type: object
      type: object
    fileMetaData:
      properties:
        documentName:
          description: Name of particular document.
          type: string
        documentType:
          $ref: '#/components/schemas/documentType'
      type: object
    fileMetaDataXml:
      properties:
        DocumentName:
          description: Name of particular document.
          type: string
        DocumentType:
          $ref: '#/components/schemas/documentType'
      type: object
    fileUploadResponse:
      properties:
        fileName:
          description: >-
            The (optional) name that was associated with the file when it was
            uploaded.
          type: string
        resultCode:
          description: Result code of fetching the list of files from AWS.
          type: integer
        resultMessage:
          description: Results of the attempt to fetch the list of files.
          type: string
      type: object
    fileUploadResponseXml:
      properties:
        FileUploadResponse:
          properties:
            fileName:
              description: >-
                The (optional) name that was associated with the file when it
                was uploaded.
              type: integer
            resultCode:
              description: Result code of fetching the list of files from AWS.
              type: integer
            resultMessage:
              description: Results of the attempt to fetch the list of files.
              type: string
          type: object
      type: object
    getImportPhoneNumberLoasErrorResponse:
      properties:
        code:
          description: The Bandwidth-defined error code.
          type: integer
          example: 7200
        description:
          description: A description of the error.
          type: string
          example: The order ID was not found
      type: object
    getImportPhoneNumberLoasErrorResponseXml:
      properties:
        ErrorResponse:
          properties:
            irisStatus:
              properties:
                Code:
                  description: The Bandwidth-defined error code.
                  type: integer
                  example: 7200
                Description:
                  description: A description of the error.
                  type: string
                  example: The order ID was not found
              type: object
          type: object
      type: object
    importPhoneNumberOrder:
      type: object
      properties:
        customerOrderId:
          description: >-
            Optional customer-defined reference ID for this order. Only
            alphanumeric values, dashes and spaces are allowed. Max length is
            255 characters. Not unique — Bandwidth applies no uniqueness
            constraint, so multiple orders may share the same value. Each order
            receives its own unique Bandwidth-assigned `orderId`.
          type: string
          example: CustomerOrderId
        phoneNumberCount:
          description: The count of phone numbers in the order.
          type: integer
          example: 2
        orderId:
          description: >-
            The unique identifier string created by Bandwidth to refer to the
            order.
          type: string
          example: 8dc32f09-2329-4c73-b702-526f46b02712
        orderType:
          description: >-
            The type of order. For import phone number orders, this will always
            be import_tn_orders.
          type: string
          enum:
            - import_tn_orders
        orderDate:
          description: The date and time the order was created.
          type: string
          example: '2025-04-22T20:24:11Z'
        accountId:
          description: The account ID the order is associated with.
          type: integer
          example: 14
        userId:
          description: The ID of the user that created the order.
          type: string
          example: systemUser
        lastModifiedDate:
          description: The date and time the order was last modified.
          type: string
          example: '2025-04-22T20:24:11Z'
        orderStatus:
          $ref: '#/components/schemas/orderStatus'
    importPhoneNumberOrdersRequest:
      title: ImportTnOrder
      required:
        - phoneNumbers
        - subAccountId
      properties:
        phoneNumbers:
          description: List of telephone numbers to be moved
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/phoneNumber'
        subAccountId:
          description: A sub account ID to which telephone number will be moved
          type: integer
        customerOrderId:
          description: >-
            Optional customer-defined reference ID for this order. Only
            alphanumeric values, dashes and spaces are allowed. Max length is 40
            characters. Not unique — Bandwidth applies no uniqueness constraint,
            so multiple orders may share the same value. Each order receives its
            own unique Bandwidth-assigned `orderId`.
          type: string
        locationId:
          description: >-
            A location ID of provided site to which telephone number will be
            moved
          type: integer
        subscriber:
          description: Subscriber information.
          properties:
            name:
              description: Subscriber business / customer name.
              maxLength: 45
              type: string
            serviceAddress:
              description: address
              properties:
                houseNumber:
                  description: Street address number.
                  type: integer
                streetName:
                  description: Street name.
                  type: string
                city:
                  description: City.
                  type: string
                stateCode:
                  description: Two letter state code.
                  type: string
                zip:
                  description: Zip code.
                  type: string
        loaAuthorizingPerson:
          description: First and last name of person who authorized LOA.
          type: string
        loaType:
          description: Identify the LoaType on TNs.
          allOf:
            - $ref: '#/components/schemas/loaType'
          default: SUBSCRIBER
    importPhoneNumberOrdersErrorResponse:
      type: object
      properties:
        errorCode:
          description: The Bandwidth-defined error code.
          type: integer
          example: 12512
        description:
          description: A description of the error.
          type: string
          example: Telephone number '"xxxx"' is not valid
    importPhoneNumberOrdersErrorResponseXml:
      type: object
      properties:
        ImportTnOrdersReportResponse:
          $ref: '#/components/schemas/responseStatus'
    importPhoneNumberOrdersResponse:
      type: object
      properties:
        customerOrderId:
          type: string
          description: >-
            The customer-defined reference ID for this order, if one was
            provided at creation. Not unique — Bandwidth applies no uniqueness
            constraint, so multiple orders may share the same value. Each order
            has a distinct Bandwidth-assigned `orderId`.
        orderCreateDate:
          type: string
        accountId:
          type: integer
        createdByUser:
          type: string
        lastModifiedDate:
          type: string
        subAccountId:
          type: integer
        locationId:
          type: integer
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/phoneNumber'
        loaAuthorizingPerson:
          type: string
        loaType:
          $ref: '#/components/schemas/loaType'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/warning'
        subscriber:
          $ref: '#/components/schemas/importPhoneNumberSubscriber'
        processingStatus:
          $ref: '#/components/schemas/orderStatus'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error'
        pendingTelephoneNumbers:
          description: List of phone numbers that are pending processing.
          type: array
          items:
            $ref: '#/components/schemas/phoneNumber'
        failedTelephoneNumbers:
          description: >-
            List of phone numbers that failed processing, with reasons detailed
            in the Warning section.
          type: array
          items:
            $ref: '#/components/schemas/phoneNumber'
        successTelephoneNumbers:
          description: List of phone numbers successfully processed.
          type: array
          items:
            $ref: '#/components/schemas/phoneNumber'
    importPhoneNumberOrdersResponseList:
      type: object
      properties:
        totalCount:
          description: The total count of orders returned in the response.
          type: integer
          example: 2
        orders:
          type: array
          items:
            $ref: '#/components/schemas/importPhoneNumberOrder'
    importPhoneNumberSubscriber:
      type: object
      properties:
        name:
          type: string
        serviceAddress:
          $ref: '#/components/schemas/address'
    importTnOrder:
      type: object
      properties:
        CustomerOrderId:
          type: string
          description: >-
            The customer-defined reference ID for this order, if one was
            provided at creation. Not unique — Bandwidth applies no uniqueness
            constraint, so multiple orders may share the same value. Each order
            has a distinct Bandwidth-assigned `orderId`.
        OrderCreateDate:
          type: string
        AccountId:
          type: string
        CreatedByUser:
          type: string
        LastModifiedDate:
          type: string
        SiteId:
          type: string
        SipPeerId:
          type: string
        TelephoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/telephoneNumber'
        LoaAuthorizingPerson:
          type: string
        LoaType:
          $ref: '#/components/schemas/loaType'
        Warnings:
          type: array
          items:
            $ref: '#/components/schemas/warningXml'
        Subscriber:
          $ref: '#/components/schemas/importTnSubscriber'
        ProcessingStatus:
          $ref: '#/components/schemas/orderStatus'
        Errors:
          type: array
          items:
            $ref: '#/components/schemas/errorXml'
        PendingTelephoneNumbers:
          description: List of telephone numbers that are pending processing.
          type: array
          items:
            $ref: '#/components/schemas/telephoneNumber'
        FailedTelephoneNumbers:
          description: >-
            List of telephone numbers that failed processing, with reasons
            detailed in the Warning section.
          type: array
          items:
            $ref: '#/components/schemas/telephoneNumber'
        SuccessTelephoneNumbers:
          description: List of telephone numbers successfully processed.
          type: array
          items:
            $ref: '#/components/schemas/telephoneNumber'
    importTnOrdersError:
      type: object
      properties:
        ImportTnOrdersResponse:
          $ref: '#/components/schemas/responseStatus'
    importTnOrdersRequest:
      title: ImportTnOrder
      properties:
        ImportTnOrder:
          type: object
          required:
            - TelephoneNumbers
            - SiteId
          properties:
            TelephoneNumbers:
              description: List of telephone numbers to be moved
              type: array
              minItems: 1
              items:
                type: object
                properties:
                  TelephoneNumber:
                    description: Ten digit phone number with no dots or dashes
                    type: integer
            SiteId:
              description: A site id to which telephone number will be moved
              type: integer
            CustomerOrderId:
              description: >-
                Optional customer-defined reference ID for this order. Only
                alphanumeric values, dashes and spaces are allowed. Max length
                is 40 characters. Not unique — Bandwidth applies no uniqueness
                constraint, so multiple orders may share the same value. Each
                order receives its own unique Bandwidth-assigned `orderId`.
              type: string
            SipPeerId:
              description: >-
                A sippeer id of provided site to which telephone number will be
                moved
              type: integer
            Subscriber:
              description: Subscriber information.
              properties:
                Name:
                  description: Subscriber business / customer name.
                  maxLength: 45
                  type: string
                ServiceAddress:
                  description: address
                  properties:
                    HouseNumber:
                      description: Street address number.
                      type: integer
                    StreetName:
                      description: Street name.
                      type: string
                    City:
                      description: City.
                      type: string
                    StateCode:
                      description: Two letter state code.
                      type: string
                    Zip:
                      description: Zip code.
                      type: string
            LoaAuthorizingPerson:
              description: First and last name of person who authorized LOA.
              type: string
            LoaType:
              description: Identify the LoaType on TNs.
              type: string
              enum:
                - SUBSCRIBER
                - CARRIER
              default: SUBSCRIBER
    importTnOrdersResponse:
      type: object
      properties:
        ImportTnOrdersResponse:
          type: object
          properties:
            ImportTnOrder:
              $ref: '#/components/schemas/importTnOrder'
    importTnOrdersResponseList:
      type: object
      properties:
        ImportTnOrders:
          type: object
          properties:
            TotalCount:
              type: integer
            ImportTnOrderSummary:
              $ref: '#/components/schemas/importTnOrderSummary'
    getRemoveImportedPhoneNumberOrdersResponse:
      type: object
      properties:
        totalCount:
          description: The total count of orders returned in the response.
          type: integer
          example: 2
        orders:
          type: array
          items:
            $ref: '#/components/schemas/removeImportedPhoneNumberOrderSummary'
    removeImportedTnOrders:
      type: object
      properties:
        TotalCount:
[...]
