openapi: 3.0.1
info:
  title: Insights
  contact:
    name: Bandwidth
  version: 0.1.2
  termsOfService: https://www.bandwidth.com/legal/terms-of-use-bandwidthcom-web-sites/
  description: |-
    The API specification for Bandwidth's Insights platform.

    ## Base URL
    `https://insights.bandwidth.com/api`
servers:
  - url: https://insights.bandwidth.com/api
tags:
  - name: Voice
    description: Call Logs
  - name: Reporting
    description: Reporting Framework
paths:
  /v1/voice/calls:
    get:
      tags:
        - Voice
      summary: List Calls
      description: Returns a list of call events.
      operationId: listCalls
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/callId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/callingNumber'
        - $ref: '#/components/parameters/calledNumber'
        - $ref: '#/components/parameters/callDirection'
        - $ref: '#/components/parameters/callType'
        - $ref: '#/components/parameters/callResult'
        - $ref: '#/components/parameters/hangUpSource'
        - $ref: '#/components/parameters/sipResponseCode'
        - $ref: '#/components/parameters/subAccount'
        - $ref: '#/components/parameters/locationId'
        - $ref: '#/components/parameters/sourceCountryCodeA3'
        - $ref: '#/components/parameters/destinationCountryCodeA3'
        - $ref: '#/components/parameters/sourceIp'
        - $ref: '#/components/parameters/destinationIp'
        - $ref: '#/components/parameters/qualityStatus'
        - $ref: '#/components/parameters/attestationIndicator'
        - $ref: '#/components/parameters/x5u'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/region'
      responses:
        '200':
          $ref: '#/components/responses/listCallsResponse'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/methodNotFoundError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /v1/voice/calls/{callId}:
    get:
      tags:
        - Voice
      summary: Get Call
      description: Returns a single call event.
      operationId: listCall
      parameters:
        - $ref: '#/components/parameters/callIdPath'
        - $ref: '#/components/parameters/region'
      responses:
        '200':
          $ref: '#/components/responses/getCallResponse'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/methodNotFoundError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /v1/reports:
    post:
      tags:
        - Reporting
      description: Create a new report instance.
      operationId: createReport
      summary: Create Report
      requestBody:
        $ref: '#/components/requestBodies/createReportBody'
      responses:
        '200':
          $ref: '#/components/responses/reportStatusResponse'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/methodNotFoundError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        '500':
          $ref: '#/components/responses/internalServerError'
    get:
      tags:
        - Reporting
      description: Get a history of created reports.
      operationId: getReports
      summary: Get Reports
      parameters:
        - $ref: '#/components/parameters/accountIds'
        - $ref: '#/components/parameters/categoryRequired'
      responses:
        '200':
          $ref: '#/components/responses/reportHistoryResponse'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/methodNotFoundError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /v1/reports/{reportId}:
    get:
      tags:
        - Reporting
      description: Get the status of a report.
      operationId: getReportStatus
      summary: Get Report Status
      parameters:
        - $ref: '#/components/parameters/reportIdPath'
      responses:
        '200':
          $ref: '#/components/responses/reportStatusResponse'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/methodNotFoundError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /v1/reports/{reportId}/file:
    get:
      tags:
        - Reporting
      description: Get the file associated with a report.
      operationId: getReportFile
      summary: Get Report File
      parameters:
        - $ref: '#/components/parameters/reportIdPath'
      responses:
        '200':
          $ref: '#/components/responses/reportFileResponse'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/methodNotFoundError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /v1/reportDefinitions:
    get:
      tags:
        - Reporting
      description: Get a list of report definitions.
      operationId: getReportDefinitions
      summary: Get Report Definitions
      parameters:
        - $ref: '#/components/parameters/category'
        - $ref: '#/components/parameters/domain'
        - $ref: '#/components/parameters/reportName'
      responses:
        '200':
          $ref: '#/components/responses/reportDefinitionsResponse'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/methodNotFoundError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        '500':
          $ref: '#/components/responses/internalServerError'
components:
  schemas:
    reportStatusObject:
      title: Create Report Request
      type: object
      properties:
        category:
          $ref: '#/components/schemas/category'
        domain:
          $ref: '#/components/schemas/domain'
        reportName:
          type: string
          example: MDRs
        accountIds:
          type: array
          items:
            type: string
            example: '123456'
          example:
            - '123456'
            - '654321'
        filters:
          $ref: '#/components/schemas/filters'
        region:
          $ref: '#/components/schemas/reportRegion'
        breakdown:
          type: string
          example: campaignId
          description: The filter name to breakdown the report by.
    reportStatus:
      type: object
      properties:
        reportId:
          type: string
          example: 67a95525-4618-418b-ad8b-4ddd8562ad37
          format: uuid
        requestedAt:
          type: string
          format: date-time
          example: 2024-01-18T17:38:37.041Z
        completedAt:
          type: string
          format: date-time
          example: 2024-01-18T17:38:37.041Z
        user:
          type: string
          example: Username
        report:
          $ref: '#/components/schemas/reportStatusObject'
        status:
          $ref: '#/components/schemas/status'
        fileName:
          type: string
          example: report123.zip
    reportDefinitionObject:
      type: object
      properties:
        category:
          $ref: '#/components/schemas/category'
        domain:
          $ref: '#/components/schemas/domain'
        reportName:
          type: string
          example: MDRs
        description:
          type: string
          example: Messaging details for particular snapshot date
        regions:
          type: array
          items:
            $ref: '#/components/schemas/region'
          example:
            - US
            - EU
        maxMonthsBack:
          type: integer
          example: 12
          minimum: 1
          maximum: 24
        filters:
          type: array
          items:
            $ref: '#/components/schemas/rdoFilter'
        breakdowns:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
                example: column_name
    category:
      type: string
      enum:
        - CHARGES
        - NUMBER_DETAILS
        - USAGE
      example: USAGE
    dropdownValues:
      type: object
      properties:
        values:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                example: column_name
    domain:
      type: string
      enum:
        - EMERGENCY
        - MESSAGING
        - VOICE
      example: MESSAGING
    operator:
      type: string
      enum:
        - EQUAL
        - GREATER
        - LESSER
        - LESSER_OR_EQUAL
        - GREATER_OR_EQUAL
        - LIKE
        - IN
        - STARTS_WITH
        - BETWEEN
      example: EQUAL
    status:
      type: string
      enum:
        - COMPLETED
        - FAILED
        - NO_RESULTS
        - PROCESSING
      example: COMPLETED
    validationType:
      type: string
      enum:
        - E164
        - REGEX
        - ISO8601
        - ISO8601_RANGE
        - STRING
        - INTEGER
        - ACCOUNT
      example: E164
    filters:
      description: >-
        Use the Get Report Definitions endpoint to see the filters available for
        a report.
      type: object
      additionalProperties:
        type: array
        items:
          type: string
    rdoFilter:
      type: object
      properties:
        filterName:
          type: string
          example: My Filter
        validationType:
          $ref: '#/components/schemas/validationType'
        dropdownValues:
          type: array
          items:
            $ref: '#/components/schemas/dropdownValues'
        operator:
          $ref: '#/components/schemas/operator'
        validationRegex:
          type: string
          example: ^\\d{10}$
        required:
          type: boolean
          example: true
    call:
      title: Call
      type: object
      properties:
        accountId:
          type: string
          description: CRM ID of the account to get calls from.
          example: '1234567'
        callId:
          type: string
          description: Unique call identifier.
          example: 1234567890abcdefghijklmnopqrstuvwxyz
        startTime:
          type: string
          description: Timestamp of when the call started, conforming to RFC 3339 format.
          example: '2022-05-26T17:05:48.960Z'
        endTime:
          type: string
          description: Timestamp of when the call ended, conforming to RFC 3339 format.
          example: '2022-05-26T17:27:44.400Z'
        duration:
          type: integer
          nullable: true
          description: Length of the call, measured in milliseconds.
          example: 500000
        callingNumber:
          type: string
          nullable: true
          description: |-
            Phone number of the caller who initiated the call.

            Format: E.164 with '+' prefix
          example: '+18185559876'
        calledNumber:
          type: string
          nullable: true
          description: |-
            Phone number of the caller who received the call.

            Format: E.164 with '+' prefix
          example: '+18185551234'
        callDirection:
          $ref: '#/components/schemas/callDirection'
        callType:
          $ref: '#/components/schemas/callType'
        callResult:
          $ref: '#/components/schemas/callResult'
        sipResponseCode:
          type: integer
          description: >-
            Message generated by a user agent server (UAS) or SIP server to
            reply to a request generated by a client. A value of negative one
            (-1) indicates an unknown SIP response.
          example: 200
        sipResponseDescription:
          type: string
          description: A short description of the SIP response.
          example: OK
        cost:
          format: double
          type: number
          nullable: true
          description: >-
            Estimated cost associated with the call. This may not match directly
            to your invoice as this is an estimate. If this value is null it is
            because the cost has not yet been calculated. Cost is usually
            available within a day of call completion.
          example: 0.000123
        subAccount:
          type: string
          nullable: true
          description: Sub-Account ID.
          example: '1234'
        subAccountName:
          type: string
          nullable: true
          description: Sub-Account Name.
          example: Account 1234
        locationId:
          type: string
          nullable: true
          description: Location ID.
          example: '1234'
        locationName:
          type: string
          nullable: true
          description: Location Name.
          example: Location 1234
        sourceCountryCodeA3:
          type: string
          nullable: true
          description: Source Country in A3 format.
          example: USA
        destinationCountryCodeA3:
          type: string
          nullable: true
          description: Destination Country in A3 format.
          example: USA
        sourceIp:
          type: string
          nullable: true
          description: Source ip in ipv4 or ipv6 format.
          example: 168.212.226.204
        destinationIp:
          type: string
          nullable: true
          description: Destination ip in ipv4 or ipv6 format.
          example: 168.212.226.204
        customerJitter:
          type: integer
          nullable: true
          description: >-
            Jitter experienced by the customer during the call, measured in
            milliseconds.
          example: 500
        customerLatency:
          type: integer
          nullable: true
          description: >-
            Latency experienced by the customer during the call, measured in
            milliseconds.
          example: 500
        customerPacketLossPercentage:
          type: number
          nullable: true
          description: Packet loss percentage experienced by the customer during the call.
          example: 50.05
        carrierJitter:
          type: integer
          nullable: true
          description: >-
            Jitter experienced by the carrrier during the call, measured in
            milliseconds.
          example: 500
        carrierLatency:
          type: integer
          nullable: true
          description: >-
            Latency experienced by the carrier during the call, measured in
            milliseconds.
          example: 500
        carrierPacketLossPercentage:
          type: number
          nullable: true
          description: Packet loss percentage experienced by the carrier during the call.
          example: 50.05
        attestationIndicator:
          type: string
          description: STIR/SHAKEN attestation.
          nullable: true
          enum:
            - A
            - B
            - C
          example: A
        x5u:
          type: string
          nullable: true
          description: X5U URL of the certificate’s location.
          example: https://example.com/x5u
        hangUpSource:
          $ref: '#/components/schemas/hangUpSource'
        postDialDelay:
          type: integer
          description: >-
            How long it takes for a calling party to hear a ringback tone after
            initiating a call, measured in milliseconds.
          nullable: true
          example: 0
        packetsSent:
          type: integer
          description: Count of packets sent during transmission.
          nullable: true
          example: 0
        packetsReceived:
          type: integer
          description: Count of packets received during transmission.
          nullable: true
          example: 0
    genericError:
      title: Generic Error
      type: object
      properties:
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
          nullable: true
          example: null
        data:
          type: object
          nullable: true
          example: null
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error'
          nullable: true
      required:
        - links
        - data
        - errors
    callDirection:
      type: string
      description: Direction of call.
      enum:
        - INBOUND
        - INBOUND-FORWARDED
        - OUTBOUND
        - OUTBOUND-FORWARDED
      example: INBOUND
    callType:
      type: string
      description: Type of call.
      enum:
        - EMERGENCY
        - INBOUND-TFOOS
        - INFORMATION
        - INTERNATIONAL
        - INTERNATIONAL-INTERNAL
        - INTERSTATE
        - INTRASTATE
        - INTL-BLOCK
        - LOCAL
        - OPERATOR
        - OTHER-N11
        - SIPURI-EXT
        - TOLLFREE-IN
        - TOLLFREE-OUT
        - UNDETERMINED
      example: LOCAL
    callResult:
      type: string
      description: Call completion status.
      enum:
        - COMPLETE
        - INCOMPLETE
      example: COMPLETE
    attestationIndicator:
      type: array
      items:
        type: string
        enum:
          - A
          - B
          - C
      description: |-
        STIR/SHAKEN attestation.
        Filter Type: Exact Match, Multi Match.

        Example:
          * Exact Match: A
          * Multi Match: A,B
      nullable: true
      example: A
    x5u:
      type: string
      description: |-
        X5U URL of the certificate’s location.
        Filter Type: Exact Match, Text Match

        Example:
          * Exact Match: "https://example.com/x5u"
          * Text Match: "example"
      nullable: true
      example: example
    hangUpSource:
      type: string
      description: Hang up source.
      enum:
        - BANDWIDTH_INTERNAL
        - CALLED_PARTY
        - CALLING_PARTY
      example: CALLED_PARTY
    countryCodeA3:
      type: string
      description: |-
        Filter Type: Exact Match, Multimatch.

        Example:

        * Exact Match: USA
        * Multimatch: USA,IRL

        Format: two-letter (A3) country code .
    ipAddress:
      type: string
      description: |-
        Filter Type: Exact Match.

        Example:

        * Exact Match: 168.212.226.204
        * Exact Match: 2001%3Adb8%3A3333%3A4444%3A5555%3A6666%3A7777%3A8888

        Format: ipv4, ipv6 format ( : is url encoded as %3A)
      example: 168.212.226.204
    qualityStatus:
      type: string
      description: >-
        A combination of Jitter, Latency, and Packet Loss Percentage to
        determine the overall quality of the call. Quality Status filter is only
        available for accounts with Advanced Quality Metrics feature.
      enum:
        - GOOD
        - AVERAGE
        - BAD
      example: GOOD
    region:
      type: string
      enum:
        - US
        - EU
      example: US
      default: US
    reportRegion:
      type: string
      enum:
        - US
        - EU
      example: US
      description: >-
        The region where the report will run. Defaults to the only available
        region. Required if multiple regions are available.
    link:
      title: Link
      type: object
      properties:
        href:
          type: string
          description: URI of the link.
          example: self
        rel:
          type: string
          description: Specifies the relationship between this link and the resource.
          example: https://insights.bandwidth.com/api/v1/resource
    error:
      title: Error
      type: object
      properties:
        description:
          type: string
          description: >-
            A human-readable explanation that SHOULD be specific to this
            occurrence of the problem.
          example: There was an issue with a field in your request body.
      required:
        - description
  parameters:
    accountIds:
      name: accountIds
      in: query
      schema:
        type: array
        items:
          type: string
    categoryRequired:
      name: category
      in: query
      required: true
      schema:
        type: string
        enum:
          - CHARGES
          - NUMBER_DETAILS
          - USAGE
    category:
      name: category
      in: query
      schema:
        type: string
        enum:
          - CHARGES
          - NUMBER_DETAILS
          - USAGE
    domain:
      name: domain
      in: query
      schema:
        type: string
        enum:
          - EMERGENCY
          - MESSAGING
          - VOICE
    reportIdPath:
      name: reportId
      in: path
      description: The ID of the report.
      required: true
      schema:
        type: string
    reportName:
      name: reportName
      in: query
      schema:
        type: string
    accountId:
      name: accountId
      in: query
      description: CRM ID of the account to get calls from.
      schema:
        type: string
        example: '1234567'
    callId:
      name: callId
      in: query
      description: |
        Exact Match, any valid call ID.
      schema:
        type: string
        example: 12345678980abcdefghijklmnopqrstuvwxyz
    callIdPath:
      name: callId
      in: path
      required: true
      description: 'Filter Type: Exact Match, any valid call ID.'
      schema:
        type: string
        example: 12345678980abcdefghijklmnopqrstuvwxyz
    startTime:
      name: startTime
      in: query
      description: >
        Filter Type: Range using gt, gte, lt, and lte.


        Note: If no startTime or endTime is specified, startTime will default to
        the last 24 hours.
      schema:
        type: string
        example: |
          gte:2022-05-26T12:00:00Z
    endTime:
      name: endTime
      in: query
      description: |
        Filter Type: Range using gt, gte, lt, and lte.
      schema:
        type: string
        example: lte:2022-05-26T12:00:50Z
    callingNumber:
      name: callingNumber
      in: query
      description: >-
        Short number exact match, Short number Multimatch, Short number prefix
        match, E.164 exact match, E.164 Multimatch, E.164 prefix match,
        Alphanumeric exact match, Alphanumeric Multimatch, Alphanumeric prefix
        match.


        Example:


        * Short number exact match: 15555551234


        * Short number Multimatch: 1555*,1234*,15555551234,15555554567


        * Short number prefix match: 1555*


        * E.164 exact match: +15555551234


        * E.164 Multimatch: +1555*,+1234*,+15555551234,+15555554567


        * E.164 prefix match: +1555*


        * Alphanumeric exact match: WO1234567


        * Alphanumeric Multimatch: WO1234567, PO4567891, WO*, PO*


        * Alphanumeric prefix match: WO*


        Alphanumeric string of length 1 to 15 characters with optional leading
        '+' (URL encoded as %2B) and optional trailing '*' (indicating prefix
        search)
      schema:
        type: string
        example: '%2B18185559876'
    calledNumber:
      name: calledNumber
      in: query
      description: >-
        Short number exact match, Short number Multimatch, Short number prefix
        match, E.164 exact match, E.164 Multimatch, E.164 prefix match,
        Alphanumeric exact match, Alphanumeric Multimatch, Alphanumeric prefix
        match.


        Example:


        * Short number exact match: 15555551234


        * Short number Multimatch: 1555*,1234*,15555551234,15555554567


        * Short number prefix match: 1555*


        * E.164 exact match: +15555551234


        * E.164 Multimatch: +1555*,+1234*,+15555551234,+15555554567


        * E.164 prefix match: +1555*


        * Alphanumeric exact match: WO1234567


        * Alphanumeric Multimatch: WO1234567, PO4567891, WO*, PO*


        * Alphanumeric prefix match: WO*


        Alphanumeric string of length 1 to 15 characters with optional leading
        '+' (URL encoded as %2B) and optional trailing '*' (indicating prefix
        search)
      schema:
        type: string
        example: '%2B18185551234'
    callDirection:
      name: callDirection
      in: query
      description: |-
        Direction of call.
        Filter Type: Exact Match, Multi Match.

        Example:
          * Exact Match: OUTBOUND

          * Multi Match: OUTBOUND-FORWARDED,OUTBOUND
      schema:
        type: array
        items:
          $ref: '#/components/schemas/callDirection'
    callType:
      name: callType
      in: query
      description: 'Filter Type: Exact Match, any valid call type.'
      schema:
        $ref: '#/components/schemas/callType'
    callResult:
      name: callResult
      in: query
      description: 'Filter Type: Exact Match, any valid call result type.'
      schema:
        $ref: '#/components/schemas/callResult'
    hangUpSource:
      name: hangUpSource
      in: query
      description: 'Filter Type: Exact Match, any valid hang up source.'
      schema:
        $ref: '#/components/schemas/hangUpSource'
    sipResponseCode:
      name: sipResponseCode
      in: query
      description: |-
        Filter Type: Exact Match, Multi Match.

        Example:
          * Exact Match: 200

          * Multi Match: 200, 202
      schema:
        type: array
        items:
          type: string
        example: 200
    subAccount:
      name: subAccount
      in: query
      description: 'Filter Type: Exact Match. Examples: 1234,2345'
      schema:
        type: string
        example: '1234'
    locationId:
      name: locationId
      in: query
      description: 'Filter Type: Exact Match. Examples: 1234,2345'
      schema:
        type: string
        example: '1234'
    sourceCountryCodeA3:
      name: sourceCountryCodeA3
      in: query
      schema:
        $ref: '#/components/schemas/countryCodeA3'
    destinationCountryCodeA3:
      name: destinationCountryCodeA3
      in: query
      schema:
        $ref: '#/components/schemas/countryCodeA3'
    sourceIp:
      name: sourceIp
      in: query
      schema:
        $ref: '#/components/schemas/ipAddress'
    destinationIp:
      name: destinationIp
      in: query
      schema:
        $ref: '#/components/schemas/ipAddress'
    qualityStatus:
      name: qualityStatus
      in: query
      schema:
        $ref: '#/components/schemas/qualityStatus'
    attestationIndicator:
      name: attestationIndicator
      in: query
      schema:
        $ref: '#/components/schemas/attestationIndicator'
    x5u:
      name: x5u
      in: query
      schema:
        $ref: '#/components/schemas/x5u'
    sort:
      name: sort
      in: query
      description: >-
        The field and direction to sort by, combined with a colon. Direction is
        one of asc, desc.
      schema:
        type: string
        example: startTime:desc
    offset:
      name: offset
      in: query
      description: Return records starting at the nth record.
      schema:
        type: integer
        example: 1
    limit:
      name: limit
      in: query
      description: The maximum records to return per page.
      schema:
        type: integer
        example: 50
        default: 100
        minimum: 1
        maximum: 10000
    region:
      name: region
      in: query
      description: 'Filter Type: Exact Match, any valid region.'
      schema:
        $ref: '#/components/schemas/region'
  requestBodies:
    createReportBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/reportStatusObject'
  responses:
    reportStatusResponse:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              links:
                type: array
                items:
                  $ref: '#/components/schemas/link'
                example:
                  - rel: reportDownload
                    href: >-
                      https://insights.bandwidth.com/api/v1/reports/67a95525-4618-418b-ad8b-4ddd8562ad37/file
              data:
                $ref: '#/components/schemas/reportStatus'
              errors:
                type: array
                items:
                  $ref: '#/components/schemas/error'
                example: []
            required:
              - links
              - data
              - errors
    reportFileResponse:
      description: OK
      content:
        application/gzip:
          schema:
            type: string
            format: binary
      headers:
        Content-Disposition:
          schema:
            type: string
            example: attachment; filename="report123.zip"
        Content-Length:
          schema:
            type: integer
            example: 12345
    reportHistoryResponse:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              links:
                type: array
                items:
                  $ref: '#/components/schemas/link'
                example: []
              data:
                type: object
                properties:
                  totalCount:
                    type: integer
                    example: 1
                  reports:
                    type: array
                    items:
                      $ref: '#/components/schemas/reportStatus'
              errors:
                type: array
                items:
                  $ref: '#/components/schemas/error'
                example: []
            required:
              - links
              - data
              - errors
    reportDefinitionsResponse:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              links:
                type: array
                items:
                  $ref: '#/components/schemas/link'
                example: []
              data:
                type: object
                properties:
                  reportDefinitions:
                    type: array
                    items:
                      $ref: '#/components/schemas/reportDefinitionObject'
              errors:
                type: array
                items:
                  $ref: '#/components/schemas/error'
                example: []
            required:
              - links
              - data
              - errors
    listCallsResponse:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              links:
                type: array
                items:
                  $ref: '#/components/schemas/link'
                example:
                  - rel: next
                    href: >-
                      https://insights.bandwidth.com/api/v1/voice/calls?callResult=completed&offset=1&limit=1&sort=startTime:desc
                nullable: true
              data:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: The total count of objects returned in the response.
                    example: 1
                  calls:
                    type: array
                    items:
                      $ref: '#/components/schemas/call'
                nullable: true
              errors:
                type: array
                items:
                  $ref: '#/components/schemas/error'
                nullable: true
                example: null
            required:
              - links
              - data
              - errors
    getCallResponse:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              links:
                type: array
                items:
                  $ref: '#/components/schemas/link'
                nullable: false
                example: []
              data:
                $ref: '#/components/schemas/call'
              errors:
                type: array
                items:
                  $ref: '#/components/schemas/error'
                nullable: false
                example: []
            required:
              - links
              - data
              - errors
    badRequestError:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/genericError'
          examples:
            badRequestErrorExample:
              $ref: '#/components/examples/badRequestErrorExample'
    unauthorizedError:
      description: Unauthorized Account
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/genericError'
          examples:
            unknownAccountErrorExample:
              $ref: '#/components/examples/unauthorizedErrorExample'
    forbiddenError:
      description: Unknown Account
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/genericError'
          examples:
            unknownAccountErrorExample:
              $ref: '#/components/examples/forbiddenErrorExample'
    notFoundError:
      description: Method Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/genericError'
          examples:
            unknownAccountErrorExample:
              $ref: '#/components/examples/notFoundErrorExample'
    methodNotFoundError:
      description: Method Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/genericError'
          examples:
            unknownAccountErrorExample:
              $ref: '#/components/examples/methodNotFoundErrorExample'
    tooManyRequestsError:
      description: Too Many Requests Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/genericError'
          examples:
            unknownAccountErrorExample:
              $ref: '#/components/examples/tooManyRequestsErrorExample'
    internalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/genericError'
          examples:
            unknownAccountErrorExample:
              $ref: '#/components/examples/internalServerErrorExample'
  examples:
    badRequestErrorExample:
      summary: An example of a generic Bad Request Error
      value:
        links: null
        data: null
        errors:
          - description: There was an issue with your request.
    unauthorizedErrorExample:
      summary: An example of a generic Unauthorized Account Error
      value:
        links: null
        data: null
        errors:
          - description: This is an Unauthorized Account.
    forbiddenErrorExample:
      summary: An example of a generic Unknown Account Error
      value:
        links: null
        data: null
        errors:
          - description: This is an Unknown Account.
    notFoundErrorExample:
      summary: An example of a generic Not Found Error
      value:
        links: null
        data: null
        errors:
          - description: >-
              The origin server did not find a current representation for the
              target resource or is not willing to disclose that one exists.
    methodNotFoundErrorExample:
      summary: An example of a generic Method Not Found Error
      value:
        links: null
        data: null
        errors:
          - description: POST is not an allowed method. Method must be GET
    tooManyRequestsErrorExample:
      summary: An example of a generic Too Many Requests Error
      value:
        links: null
        data: null
        errors:
          - description: The user has sent too many requests in a given amount of time.
    internalServerErrorExample:
      summary: An example of a generic Internal Server Error
      value:
        links: null
        data: null
        errors:
          - description: >-
              The server encountered an unexpected condition that prevented it
              from fulfilling the request.
  securitySchemes:
    Basic:
      type: http
      scheme: basic
      description: >-
        Basic authentication is a simple authentication scheme built into the
        HTTP protocol. To use it, send your HTTP requests with an
        `Authorization` header that contains the word `Basic` followed by a
        space and a Base64-encoded string `username:password`.


        - Example: `Authorization: Basic ZGVtbZpwQDU1dzByZA==`
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        Bearer authentication (also called token authentication) is an HTTP
        authentication scheme that involves security tokens called bearer
        tokens. The name “Bearer authentication” can be understood as “give
        access to the bearer of this token.” The client must send this token in
        the `Authorization` header when making requests to protected resources.


        - Example: `Authorization: Bearer <token>`


        Where `<token>` should be replaced with the token string without angle
        brackets.


        For more information, see the following guide:
        [Credentials](https://dev.bandwidth.com/docs/account/credentials/management)
security:
  - Basic: []
  - Bearer: []
