openapi: 3.0.1
info:
  title: Line Features
  description: >-
    Bandwidth's Line Features API


    This API provides endpoints to manage TN Options orders for phone number
    information as well as Line Information Database (LIDB) and 

    Directory Listing/Directory Assistance (DLDA) orders.
  contact:
    name: Bandwidth
    url: https://dev.bandwidth.com/apis/numbers-apis/line-features/
    email: support@bandwidth.com
  version: 1.0.0
  termsOfService: https://www.bandwidth.com/legal/terms-of-service/
servers:
  - url: https://api.bandwidth.com/api/v2
    description: Production
security:
  - Basic: []
  - Bearer: []
paths:
  /accounts/{accountId}/tnoptions:
    get:
      tags:
        - TN Options
      description: >-
        Retrieve a list of the TN Options orders that are associated with the
        account. A maximum of 1,000 orders can be retrieved per request. If no
        date range or specific query parameter (marked by <b>*</b> below) is
        provided, the order results will be limited to the last two years.
      operationId: getTnOptionOrders
      summary: Retrieve list TN Options orders
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/statusQueryParam'
        - $ref: '#/components/parameters/tnQueryParam'
        - $ref: '#/components/parameters/customerOrderIdQueryParam'
        - $ref: '#/components/parameters/modifiedDateFromQueryParam'
        - $ref: '#/components/parameters/modifiedDateToQueryParam'
        - $ref: '#/components/parameters/createdDateFromQueryParam'
        - $ref: '#/components/parameters/createdDateToQueryParam'
        - $ref: '#/components/parameters/lastModifiedAfterQueryParam'
        - $ref: '#/components/parameters/lastModifiedByQueryParam'
        - $ref: '#/components/parameters/orderIdFragmentQueryParam'
        - $ref: '#/components/parameters/orderIdDetailsQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/getTnOptionOrdersSummaryResponse'
        '400':
          $ref: '#/components/responses/getTnOptionOrders400Response'
    post:
      tags:
        - TN Options
      description: >
        Create TN Options order to assign line features to the telephone number.


        **The two data elements in the submission are:**

        - **TnOptionGroups**: A list of TnOptionGroup objects, each containing a
        list of telephone numbers and a set of TN Options to assign to all TNs
        in the list.

        - **CustomerOrderId**: Optional customer-defined reference ID for this
        order. Only alphanumeric values, dashes, and spaces are allowed. Max
        length is 255 characters (JSON) or 40 characters (XML). Not unique —
        Bandwidth applies no uniqueness constraint, so multiple orders may share
        the same value. Each order receives its own unique Bandwidth-assigned
        `orderId`.


        **Valid attributes for TnOptionGroup object:**


        | XML Attribute             | JSON Name               | Product     |
        Number Region | VCP Support        |

        |--------------------------
        |-------------------------|-------------|---------------|--------------------|

        | TelephoneNumbers          | phoneNumbers            |            
        |               | Both               |

        | PortOutPasscode           | portOutPasscode         | Numbers     |
        NANP          | Both               |

        | Protected                 | protected               | Numbers     |
        NANP          | Both               |

        | Sms                       | sms                     | Messaging  
        |               | Both               |

        | A2pSettings               | a2pSettings             | Messaging   |
        NANP          | Both               |

        | NNID                      | nnid                    | Messaging   |
        NANP          | Both               |

        | ESPID                     | espid                   | Voice       |
        NANP          | VCP Disabled Only  |

        | CallForward               | callForward             | Voice      
        |               | VCP Disabled Only  |

        | CallVerificationEnabled   | callVerificationEnabled | Voice       |
        NANP          | VCP Disabled Only  |

        | CallingNameDisplay        | callingNameDisplay      | Voice       |
        NANP          | VCP Disabled Only  |

        | FinalDestinationUri       | finalDestinationUri     | Voice       |
        NANP          | VCP Disabled Only  |

        | NumberFormat              | numberFormat            | Voice       |
        NANP          | VCP Disabled Only  |

        | OriginationRoutePlan      | originationRoutePlan    | Voice       |
        NANP          | VCP Disabled Only  |

        | PindropEnabled            | pindropEnabled          | Voice       |
        NANP          | VCP Disabled Only  |

        | RPIDFormat                | rpidFormat              | Voice       |
        NANP          | VCP Disabled Only  |

        | RewriteUser               | rewriteUser             | Voice       |
        NANP          | VCP Disabled Only  |


        **Valid attributes for A2P Settings object:**


        | XML Attribute             | JSON Name               | Product     |
        Number Region | VCP Support        |

        |--------------------------
        |-------------------------|-------------|---------------|--------------------|

        | CampaignId                | campaignId              | Messaging   |
        NANP          | Both

        | Action                    | action                  | Messaging   |
        NANP          | Both               |


        **Valid attributes for Origination Route Plan object:**


        | XML Attribute             | JSON Name               | Product     |
        Number Region | VCP Support        |

        |--------------------------
        |-------------------------|-------------|---------------|--------------------|

        | Id                        | id                      | Voice       |
        NANP          | VCP Disabled Only  |

        | Action                    | action                  | Voice       |
        NANP          | VCP Disabled Only  |

        | Route (object)            | route                   | Voice       |
        NANP          | VCP Disabled Only  |


        **Valid attributes for Route object:**


        | XML Attribute             | JSON Name               | Product     |
        Number Region | VCP Support        |

        |--------------------------
        |-------------------------|-------------|---------------|--------------------|

        | Name                      | name                    | Voice       |
        NANP          | VCP Disabled Only  |

        | Endpoint                  | endpoint                | Voice       |
        NANP          | VCP Disabled Only  |

        | Priority                  | priority                | Voice       |
        NANP          | VCP Disabled Only  |

        | Weight                    | weight                  | Voice       |
        NANP          | VCP Disabled Only  |

        | EndpointType              | endpointType            | Voice       |
        NANP          | VCP Disabled Only  |



        When attributes tagged NANP are passed in the request body, only North
        American Numbering Plan phone numbers are allowed and updated.


        **Values for each TnOptionGroup object attribute:**

        - **TelephoneNumbers**:  
          - A list of telephone numbers as an array of strings.  
          - Each string is an E.164 formatted telephone number. If not E.164, assumes NANP 10-digit format.
        - **PortOutPasscode**: `[{custom string value} | UNCHANGED |
        SYSTEM_DEFAULT]`

        - **Protected**: `[true | false | UNCHANGED | SYSTEM_DEFAULT]`

        - **Sms**: `[ON | OFF | UNCHANGED]`

        - **NNID**: `[{custom integer value} | UNCHANGED | SYSTEM_DEFAULT]`

        - **CallForward**: `[10-digit phone number (string)  | UNCHANGED |
        SYSTEM_DEFAULT]`

        - **CallVerificationEnabled**: `[true | false]`

        - **CallingNameDisplay**: `[ON | OFF | UNCHANGED | SYSTEM_DEFAULT]`

        - **ESPID**: `[{custom string value} | UNCHANGED | SYSTEM_DEFAULT]`

        - **FinalDestinationUri**: `[{custom string value} | UNCHANGED |
        SYSTEM_DEFAULT]`

        - **NumberFormat**: `[10DIGIT | 11DIGIT | E164 | UNCHANGED |
        SYSTEM_DEFAULT]`

        - **OriginationRoutePlan**: `object`
            - **Id**: UUID that Bandwidth generates to identify the route plan.
            - **Action**: `[UNCHANGED | OFF | AS_SPECIFIED]`
            - **Route**:
                - **Name**: `[{custom string value} | UNCHANGED | SYSTEM_DEFAULT]`
                - **Endpoint**: `[{custom string value} | UNCHANGED | SYSTEM_DEFAULT]`
                - **Priority**: `[1-1000]`
                - **Weight**: `[1-1000]`
                - **EndpointType**: `[TN | IPv4 | SIP | FQDN]`
        - **A2PSettings**: `object`
          - **CampaignId**: `[{custom string value} | UNCHANGED | SYSTEM_DEFAULT]`
          - **Action**: `[UNCHANGED | SYSTEM_DEFAULT | OFF | DELETE | AS_SPECIFIED]`
        - **PindropEnabled**: `[true | false]`

        - **RPIDFormat**: `[10DIGIT | 11DIGIT | E164 | UNCHANGED |
        SYSTEM_DEFAULT]`

        - **RewriteUser**: `[{custom string value} | UNCHANGED |
        SYSTEM_DEFAULT]`

        - For all the above attributes:  
          - `SYSTEM_DEFAULT`: Removes the element profile value, reverting the TN to default system behavior.  
          - `UNCHANGED`: Value remains unchanged (read before write model. Leaving the element out of the payload is equivalent to `UNCHANGED`).

        **A2pSettings attribute actions:**


        | Number attribute | Action value   | Description of
        action                                                                                           
        |

        |------------------|----------------|------------------------------------------------------------------------------------------------------------------|

        | LongCode         | SYSTEM_DEFAULT | Removes the per-TN A2P attributes,
        and it reverts to the Location/SIP Peer
        characteristics.                      |

        | LongCode         | AS_SPECIFIED   | Sets the message class and
        campaign ID - this is the default if
        unspecified.                                     |

        | LongCode         | OFF            | Will set the TN as a 'P' TN. Any
        values for Class or Campaign ID are not
        valid.                                  |

        | LongCode         | DELETE         | Will delete the campaign ID from
        TN. Any values for Class or Campaign ID are not
        valid.                          |

        | LongCode         | UNCHANGED      | Do nothing with respect to
        A2P.                                                                                 
        |

        | TollFree         | SYSTEM_DEFAULT | Removes the per-TN A2P attributes,
        and it reverts to the Location/SIP Peer
        characteristics.                      |

        | TollFree         | AS_SPECIFIED   | Sets the message class and
        campaign ID - this is the default if
        unspecified.                                     |

        | TollFree         | OFF            | If set to is 'ON', this is valid
        for Toll Free numbers. If set to 'OFF', this is invalid for Toll Free
        Numbers.  |

        | TollFree         | UNCHANGED      | Do nothing with respect to
        A2P.                                                                                 
        |
      operationId: createTnOptionOrder
      summary: Create TN Options order
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/tnOptionOrderRequest'
      responses:
        '201':
          $ref: '#/components/responses/tnOptionOrderCreatedResponse'
        '400':
          $ref: '#/components/responses/tnOptionOrder400Response'
  /accounts/{accountId}/tnoptions/{orderId}:
    get:
      tags:
        - TN Options
      description: Retrieve information about a TN Options order with specified ID.
      operationId: getTnOptionOrder
      summary: Retrieve TN Options order
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getTnOptionOrderResponse'
        '400':
          $ref: '#/components/responses/getTnOptionOrder400Response'
  /accounts/{accountId}/tnoptions/{orderId}/history:
    get:
      tags:
        - TN Options
      description: Retrieve the history information associated with an order.
      operationId: getOrderHistory
      summary: Retrieve TN Options order history
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getTnOptionOrderHistory200Response'
        '400':
          $ref: '#/components/responses/badTnOptionRequestError'
        '404':
          $ref: '#/components/responses/getTnOptionOrderHistory404Response'
  /accounts/{accountId}/lidbs:
    get:
      tags:
        - LIDB Orders
      operationId: listLidbOrders
      summary: List LIDB orders
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/requiredTnQueryParam'
        - $ref: '#/components/parameters/lastModifiedAfterQueryParam'
        - $ref: '#/components/parameters/modifiedDateFromQueryParam'
        - $ref: '#/components/parameters/modifiedDateToQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/lidbOrderGet200Response'
        '400':
          $ref: '#/components/responses/lidbOrderGet400Response'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    post:
      tags:
        - LIDB Orders
      operationId: createLidbOrder
      summary: Create LIDB order
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/lidbOrderRequest'
      responses:
        '201':
          $ref: '#/components/responses/lidbOrderPostSuccessResponse'
        '400':
          $ref: '#/components/responses/lidbOrderPostErrorResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/lidbRemovalOrders:
    post:
      tags:
        - LIDB Orders
      operationId: createLidbRemovalOrder
      summary: Create LIDB removal order
      description: >
        This endpoint triggers an overwrite action with our CNAM vendors. The
        overwrite sets the CNAM value to Unknown for the specified phone
        number(s).

        This operation is typically used when the existing CNAM data needs to be
        deleted.
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/lidbRemovalOrderRequest'
      responses:
        '201':
          $ref: '#/components/responses/lidbRemovalOrderPostSuccessResponse'
        '400':
          $ref: '#/components/responses/lidbRemovalOrderPostErrorResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/lidbs/{lidbId}:
    get:
      tags:
        - LIDB Orders
      operationId: readLidbOrder
      summary: Fetch LIDB order status
      description: >
        The descriptive payload for the LIDB Orders query provides a broad range
        of information about the LIDB Order identified in the URL. Included
        amongst the information is:      
          - **errors**: The errors discovered with codes and explanations.
          - **Various Dates**: Such as order creation, modification, and completion dates.
          - **processingStatus** (`RECEIVED`, `PROCESSING`, `COMPLETE`, `PARTIAL`, `FAILED`): The overall status of the order.
          - **lidbPhoneNumberGroups**: List of LidbTnGroup elements that contains a list of TNs with SubscriberInformation, UseType (`RESIDENTIAL` or `BUSINESS`), and Visibility (`PUBLIC` or `PRIVATE`).
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/lidbIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/lidbOrderGetIdResponse'
        '400':
          $ref: '#/components/responses/lidbOrderGetId400Response'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/lidbOrderGetId404Response'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/dldas:
    get:
      tags:
        - DLDA Orders
      operationId: readDldaOrders
      summary: List DLDA orders
      description: >
        Retrieve a list of the DLDA orders that are associated with the account.
        A maximum of 1,000 orders can be retrieved per request. 

        If no date range or specific query parameter is provided, the order
        results will be limited to the last two years. 

        Results can be sorted by a specified field.
      parameters:
        - $ref: '#/components/parameters/accountIdPathParamDlda'
        - $ref: '#/components/parameters/tnQueryParamDlda'
        - $ref: '#/components/parameters/pageStartIdDlda'
        - $ref: '#/components/parameters/resultsPerPageDlda'
        - $ref: '#/components/parameters/searchTextDlda'
      responses:
        '200':
          $ref: '#/components/responses/dldaOrdersGet200Response'
        '400':
          $ref: '#/components/responses/dldaOrderGet400Response'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    post:
      tags:
        - DLDA Orders
      operationId: createDldaOrder
      summary: Create DLDA order
      description: >
        Business Listings: Sorted starting from the beginning of the business
        name. Enter the full business name in the LastName field.Leave the
        FirstName field blank unless there is a non-sorting part of the name,
        which can be placed in FirstName. 

        Example: For "Joe's Pizza, the best pizza in town", use LastName: "Joe's
        Pizza", FirstName: "the best pizza in town". 

        Residential Listings: Sorted by the LastName field as usual.
      parameters:
        - $ref: '#/components/parameters/accountIdPathParamDlda'
      requestBody:
        $ref: '#/components/requestBodies/dldaCreateOrderRequest'
      responses:
        '201':
          $ref: '#/components/responses/dldaOrdersPost201Response'
        '400':
          $ref: '#/components/responses/dldaOrdersPost400Response'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/dldas/{orderId}:
    get:
      tags:
        - DLDA Orders
      operationId: readDldaOrder
      summary: Fetching DLDA order status
      description: Retrieve information about a DLDA Order with specified ID.
      parameters:
        - $ref: '#/components/parameters/accountIdPathParamDlda'
        - $ref: '#/components/parameters/orderIdPathParamDlda'
      responses:
        '200':
          $ref: '#/components/responses/dldaOrderIdGet200Response'
        '400':
          $ref: '#/components/responses/dldaOrderGet400ErrorResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/dldaOrderIdGet404ErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    put:
      tags:
        - DLDA Orders
      operationId: updateDldaOrder
      summary: Update DLDA order
      parameters:
        - $ref: '#/components/parameters/accountIdPathParamDlda'
        - $ref: '#/components/parameters/orderIdPathParamDlda'
      requestBody:
        $ref: '#/components/requestBodies/dldaUpdateOrderRequest'
      responses:
        '200':
          $ref: '#/components/responses/dldaOrdersUpdate200Response'
        '400':
          $ref: '#/components/responses/dldaOrdersUpdate400Response'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/dldas/{orderId}/history:
    get:
      tags:
        - DLDA Orders
      operationId: readDldaOrderHistory
      summary: Fetch DLDA order history
      description: >
        Retrieve the history information associated with a named DLDA order.  

        This indicates the various states that the order has passed through, as
        well as the current state of the order as the last entry.
      parameters:
        - $ref: '#/components/parameters/accountIdPathParamDlda'
        - $ref: '#/components/parameters/orderIdPathParamDlda'
      responses:
        '200':
          $ref: '#/components/responses/dldaOrderIdGetHistory200Response'
        '400':
          $ref: '#/components/responses/dldaOrderGet400ErrorResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/dldaOrderIdGetHistory404ErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
components:
  securitySchemes:
    Basic:
      type: http
      scheme: basic
      description: >-
        Basic authentication is a simple authentication scheme built into the
        HTTP protocol. To use it, send your HTTP requests with an Authorization
        header that contains the word Basic followed by a space and a
        base64-encoded string `username:password`.

        Example: `Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=`
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        Bearer authentication (also called token authentication) is an HTTP
        authentication scheme that involves security 

        tokens called bearer tokens. The name “Bearer authentication” can be
        understood as “give access to the bearer

        of this token.” The client must send this token in the `Authorization`
        header when making requests to

        protected resources.


        - Example: `Authorization: Bearer <token>`


        Where `<token>` should be replaced with the token string without angle
        brackets.


        For more information, see the following guide:
        [Credentials](https://dev.bandwidth.com/docs/account/credentials/management)
  parameters:
    accountIdPathParam:
      name: accountId
      in: path
      required: true
      schema:
        type: integer
        example: 1234567
      description: The unique account associated with the order.
    orderIdPathParam:
      name: orderId
      description: >
        Order ID is the unique identifier for the TN Options order. It is a UUID
        that is generated by Bandwidth when

        the order is created. It can be used to retrieve the details of a
        specific TN Options order.
      in: path
      required: true
      schema:
        type: string
      example: bf1305b8-8998-1111-2222-51ba3ce52d4e
    statusQueryParam:
      name: status
      description: The status of the TN Options order being searched for.
      in: query
      required: false
      schema:
        type: string
        enum:
          - RECEIVED
          - PROCESSING
          - COMPLETE
          - PARTIAL
          - FAILED
      example: PROCESSING
    tnQueryParam:
      name: phoneNumber
      description: |
        A phone number that is referenced in the order.
      in: query
      required: false
      schema:
        type: string
      example: '+19199918388'
    customerOrderIdQueryParam:
      name: customerOrderId
      description: >
        Filter orders by a customer-assigned reference ID. Because
        `customerOrderId` is not unique — Bandwidth applies no uniqueness
        constraint — this query may return multiple orders if the same value was
        used across multiple orders. Each result will have a distinct
        Bandwidth-assigned `orderId`. To retrieve a single specific order, use
        its `orderId` instead.
      in: query
      required: false
      schema:
        type: string
      example: ABCCorp12345
    modifiedDateFromQueryParam:
      name: modifiedDateFrom
      description: >
        For Date-based searches, the starting date of a date range (inclusive)
        that will be used to find TN Options

        orders that were modified within the date range. It is in the form
        yyyy-MM-dd.
      in: query
      required: false
      schema:
        type: string
      example: '2013-10-22'
    modifiedDateToQueryParam:
      name: modifiedDateTo
      description: >
        For Date-based searches, the ending date of a date range (inclusive)
        that will be used to find TN Options orders

        that were modified within the date range.  It is in the form yyyy-MM-dd.
      in: query
      required: false
      schema:
        type: string
      example: '2013-10-25'
    createdDateFromQueryParam:
      name: createdDateFrom
      description: >
        Checks the order's creation date against this value. Orders that have a
        creation date after this date will

        be included. Format is yyyy-MM-dd.
      in: query
      required: false
      schema:
        type: string
      example: '2013-10-22'
    createdDateToQueryParam:
      name: createdDateTo
      description: >
        Checks the order's creation date against this value. Orders that have a
        creation date before this date will

        be included. Format is yyyy-MM-dd.
      in: query
      required: false
      schema:
        type: string
      example: '2013-10-25'
    lastModifiedAfterQueryParam:
      name: lastModifiedAfter
      description: >
        Checks the order's last modified date against this value. Orders that
        have a modification date after this date

        will be included. Format is yyyy-MM-dd.
      in: query
      required: false
      schema:
        type: string
      example: '2013-10-25'
    lastModifiedByQueryParam:
      name: lastModifiedBy
      description: >-
        This is the user-name of the user that last modified the TN Options
        order.
      in: query
      required: false
      schema:
        type: string
      example: smckinnon
    orderIdFragmentQueryParam:
      name: orderIdFragment
      description: >
        <b>*</b> This search parameter represents the internal Bandwidth App API
        ID that has been assigned to

        the TN Options order. This parameter is the first few characters of the
        internal ID - 

        the entire ID does not need to be specified.
      in: query
      required: false
      schema:
        type: string
      example: ed1c0bed-e2
    orderIdDetailsQueryParam:
      name: orderDetails
      description: >-
        If set to true, a list of order details will be displayed instead the
        summary information.
      in: query
      required: false
      schema:
        type: boolean
    lidbIdPathParam:
      name: lidbid
      in: path
      required: true
      description: LIDB order ID
      schema:
        type: string
    requiredTnQueryParam:
      name: phoneNumber
      in: query
      required: true
      description: |
        A phone Number that is referenced in the order
      schema:
        type: string
      example: '+19199918388'
    accountIdPathParamDlda:
      description: User's account ID.
      example: '1234567'
      in: path
      name: accountId
      required: true
      schema:
        type: string
    orderIdPathParamDlda:
      name: orderId
      in: path
      description: DLDA order id
      required: true
      schema:
        type: string
      example: f179237b-c1cb-449d-9590-aaa9d0bf3ca4
    tnQueryParamDlda:
      name: phoneNumber
      description: A phone Number that is referenced in the order
      in: query
      required: true
      schema:
        type: string
      example: '+19199918388'
    resultsPerPageDlda:
      description: The number of items to include in a page.
      example: 5000
      in: query
      name: size
      required: false
      schema:
        default: 500
        type: integer
    pageStartIdDlda:
      description: >-
        An ID of the first element in a page.  This value will indicate the
        first value, not the page number, of the initial entry in the page being
        requested.<br> It can be an id of address. The initial page is tagged
        with the ID `1`.
      example: '3'
      in: query
      name: page
      required: false
      schema:
        default: '1'
        type: string
    searchTextDlda:
      description: The text to search simultaneously through e911locationIds.
      example: name
      in: query
      name: suggestions
      required: false
      schema:
        type: string
  schemas:
    tnOptionOrderJsonRequestVcpDisabled:
      type: object
      title: VCP Disabled TN Options Order Request
      properties:
        customerOrderId:
          type: string
          description: >-
            Optional customer-defined reference ID for this order. Only
            alphanumeric values, dashes, and spaces are allowed. Not unique —
            Bandwidth applies no uniqueness constraint, so multiple orders may
            share the same value. Each order receives its own unique
            Bandwidth-assigned `orderId`.
          maxLength: 255
        tnOptionGroups:
          type: array
          description: >-
            Each group contains a list of telephone numbers and set of TN
            options you want to assign to all TNs in the list
          items:
            $ref: '#/components/schemas/tnOptionGroupJsonVcpDisabledRequest'
    tnOptionOrderJsonRequestVcpEnabled:
      type: object
      title: VCP Enabled TN Options Order Request
      properties:
        customerOrderId:
          type: string
          description: >-
            Optional customer-defined reference ID for this order. Only
            alphanumeric values, dashes, and spaces are allowed. Not unique —
            Bandwidth applies no uniqueness constraint, so multiple orders may
            share the same value. Each order receives its own unique
            Bandwidth-assigned `orderId`.
          maxLength: 255
        tnOptionGroups:
          type: array
          description: >-
            Each group contains list of telephone numbers and set of TN Options
            you want to assign to all TNs in the list
          items:
            $ref: '#/components/schemas/tnOptionGroupJsonVcpEnabled'
    tnOptionGroupJsonVcpEnabled:
      type: object
      properties:
        portOutPasscode:
          anyOf:
            - title: Custom Passcode
              minLength: 4
              maxLength: 10
              pattern: ^[a-zA-Z0-9]+$
              description: |
                Custom alphanumeric value (4-10 chars).
            - title: Enum Values
              type: string
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
        protected:
          type: string
          enum:
            - 'true'
            - 'false'
            - UNCHANGED
            - SYSTEM_DEFAULT
        sms:
          type: string
          enum:
            - 'ON'
            - 'OFF'
            - UNCHANGED
            - SYSTEM_DEFAULT
        a2pSettings:
          $ref: '#/components/schemas/a2pSettingsJson'
        nnid:
          anyOf:
            - title: Custom Value
              type: string
              minLength: 1
              maxLength: 64
            - title: Enum Values
              type: string
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
        phoneNumbers:
          type: array
          items:
            type: string
            description: E-164 TNs
    tnOptionGroupJsonVcpDisabledRequest:
      type: object
      properties:
        numberFormat:
          type: string
          enum:
            - 10DIGIT
            - 11DIGIT
            - E164
            - UNCHANGED
            - SYSTEM_DEFAULT
        rpidFormat:
          type: string
          enum:
            - 10DIGIT
            - 11DIGIT
            - E164
            - UNCHANGED
            - SYSTEM_DEFAULT
        rewriteUser:
          anyOf:
            - type: string
              title: Enum Values
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
            - type: string
              title: Custom Value
              description: >-
                This field must be a string up to 30 characters long, containing
                only letters (a-z, A-Z), digits (0-9),

                and the following symbols: +, @, :, ., (, ), _, ;, ?, =, -. No
                spaces or other special characters are allowed.
              pattern: ^[a-zA-Z0-9+@:.()_;?=-]{0,30}$
        callForward:
          anyOf:
            - type: string
              title: Enum Values
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
            - type: string
              title: Custom Value
              pattern: (\+1[2-9][0-9]{2}[2-9]{6}|[2-9][0-9]{5,17})
              description: >-
                This field must be a string representing a valid call forwarding
                number. It permits either:

                A US number in the format +1NXXNXXXXXX (where N is 2-9, X is
                0-9).

                A number with 6 to 18 digits, starting with a digit 2-9.
        callingNameDisplay:
          type: string
          enum:
            - 'ON'
            - 'OFF'
            - UNCHANGED
            - SYSTEM_DEFAULT
        portOutPasscode:
          anyOf:
            - title: Custom Passcode
              type: string
              minLength: 4
              maxLength: 10
              pattern: ^[a-zA-Z0-9]+$
              description: |
                Custom alphanumeric value (4-10 chars).
            - title: Enum Values
              type: string
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
              description: Special Values
        protected:
          type: string
          enum:
            - 'true'
            - 'false'
            - UNCHANGED
            - SYSTEM_DEFAULT
        sms:
          type: string
          enum:
            - 'ON'
            - 'OFF'
            - UNCHANGED
            - SYSTEM_DEFAULT
        finalDestinationUri:
          anyOf:
            - title: Custom Value
              type: string
              minLength: 10
              maxLength: 60
              description: >
                a 10 digit telephone number or a SIP URI ( without the sip:
                prefix ) in the form address-string@host IP:port, where the host
                IP is an IPv4 address in the standard numerical n.n.n.n. form,
                and the port is numeric, and optional containing [a-z,A-Z,0-9],
                with ':', '.' and '@' to delimit the components of the overall
                string, and less than 60 characters long.
            - title: Enum Values
              type: string
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
        a2pSettings:
          $ref: '#/components/schemas/a2pSettingsJson'
        nnid:
          anyOf:
            - title: Custom Value
              type: string
              minLength: 1
              maxLength: 64
            - title: Enum Values
              type: string
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
        espid:
          anyOf:
            - title: Custom Value
              type: string
              minLength: 1
              maxLength: 64
            - title: Enum Values
              type: string
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
        originationRoutePlan:
          $ref: '#/components/schemas/originationRoutePlanJson'
        pindropEnabled:
          type: string
          enum:
            - 'true'
            - 'false'
        callVerificationEnabled:
          type: string
          enum:
            - 'true'
            - 'false'
        phoneNumbers:
          type: array
          items:
            type: string
            description: E164 TNs
    tnOptionGroupJsonVcpDisabledResponse:
      type: object
      properties:
        numberFormat:
          type: string
          enum:
            - 10DIGIT
            - 11DIGIT
            - E164
            - UNCHANGED
            - SYSTEM_DEFAULT
        rpidFormat:
          type: string
          enum:
            - 10DIGIT
            - 11DIGIT
            - E164
            - UNCHANGED
            - SYSTEM_DEFAULT
        rewriteUser:
          anyOf:
            - type: string
              title: Enum Values
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
            - type: string
              title: Custom Value
              description: >-
                This field must be a string up to 30 characters long, containing
                only letters (a-z, A-Z), digits (0-9),

                and the following symbols: +, @, :, ., (, ), _, ;, ?, =, -. No
                spaces or other special characters are allowed.
              pattern: ^[a-zA-Z0-9+@:.()_;?=-]{0,30}$
        callForward:
          anyOf:
            - type: string
              title: Enum Values
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
            - type: string
              title: Custom Value
              pattern: (\+1[2-9][0-9]{2}[2-9]{6}|[2-9][0-9]{5,17})
              description: >-
                This field must be a string representing a valid call forwarding
                number. It permits either:

                A US number in the format +1NXXNXXXXXX (where N is 2-9, X is
                0-9).

                A number with 6 to 18 digits, starting with a digit 2-9.
        callingNameDisplay:
          type: string
          enum:
            - 'ON'
            - 'OFF'
            - UNCHANGED
            - SYSTEM_DEFAULT
        portOutPasscode:
          anyOf:
            - title: Custom Passcode
              type: string
              minLength: 4
              maxLength: 10
              pattern: ^[a-zA-Z0-9]+$
              description: |
                Custom alphanumeric value (4-10 chars).
            - title: Enum Values
              type: string
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
              description: Special Values
        protected:
          type: string
          enum:
            - 'TRUE'
            - 'FALSE'
            - UNCHANGED
            - SYSTEM_DEFAULT
        sms:
          type: string
          enum:
            - 'ON'
            - 'OFF'
            - UNCHANGED
            - SYSTEM_DEFAULT
        finalDestinationUri:
          anyOf:
            - title: Custom Value
              type: string
              minLength: 10
              maxLength: 60
              description: >
                a 10 digit telephone number or a SIP URI ( without the sip:
                prefix ) in the form address-string@host IP:port, where the host
                IP is an IPv4 address in the standard numerical n.n.n.n. form,
                and the port is numeric, and optional containing [a-z,A-Z,0-9],
                with ':', '.' and '@' to delimit the components of the overall
                string, and less than 60 characters long.
            - title: Enum Values
              type: string
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
        a2pSettings:
          $ref: '#/components/schemas/a2pSettingsJson'
        nnid:
          anyOf:
            - title: Custom Value
              type: string
              minLength: 1
              maxLength: 64
            - title: Enum Values
              type: string
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
        espid:
          anyOf:
            - title: Custom Value
              type: string
              minLength: 1
              maxLength: 64
            - title: Enum Values
              type: string
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
        originationRoutePlan:
          $ref: '#/components/schemas/originationRoutePlanJson'
        pindropEnabled:
          type: string
          enum:
            - 'TRUE'
            - 'FALSE'
        callVerificationEnabled:
          type: string
          enum:
            - 'TRUE'
            - 'FALSE'
        phoneNumbers:
          type: array
          items:
            type: string
            description: E164 TNs
    originationRoutePlanJson:
      type: object
      description: >-
        The originationRoutePlan element consists of an action and a list of
        prioritized and weighted routes that tell Bandwidth where to send phone
        calls to phone numbers associated with the route plan.
      properties:
        id:
          type: string
          format: uuid
        routes:
          type: array
          items:
            $ref: '#/components/schemas/originationRoutePayloadJson'
        action:
          type: string
          enum:
            - UNCHANGED
            - 'OFF'
            - AS_SPECIFIED
    originationRoutePayloadJson:
      type: object
      properties:
        name:
          description: >-
            A friendly name for a route. This is not used for any back-end call
            routing.
          type: string
        endpoint:
          type: string
          description: >
            Must be one of the following: - a NANP 10-digit telephone number - a
            SIP URI - an IPv4 address - a Fully Qualified Domain Name (FQDN)
        priority:
          type: integer
          format: int32
        weight:
          type: integer
          format: int32
        endpointType:
          type: string
          enum:
            - TN
            - IPv4
            - SIP
            - FQDN
    a2pSettingsJson:
      type: object
      properties:
        campaignId:
          type: string
          minLength: 1
          maxLength: 64
        action:
          type: string
          enum:
            - UNCHANGED
            - SYSTEM_DEFAULT
            - 'OFF'
            - DELETE
            - AS_SPECIFIED
    tnOptionOrderJsonResponse:
      type: object
      properties:
        orderId:
          type: string
        accountId:
          type: integer
          format: int32
        lastModifiedDate:
          type: string
        createdByUser:
          type: string
        customerOrderId:
          type: string
          description: >-
            The customer-defined reference ID for this order, if one was
            provided at creation. Not unique — Bandwidth applies no uniqueness
            constraint, so multiple orders may share the same value. Each order
            has a distinct Bandwidth-assigned `orderId`.
        orderCreateDate:
          type: string
        processingStatus:
          type: string
          enum:
            - RECEIVED
            - PROCESSING
            - COMPLETE
            - PARTIAL
            - FAILED
        tnOptionGroups:
          type: array
          items:
            $ref: '#/components/schemas/tnOptionGroupJsonVcpDisabledResponse'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/tnOptionOrderErrorJson'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/tnOptionOrderWarningPayloadJson'
    tnOptionOrderJsonResponsePayload:
      type: object
      title: TnOptionOrder
      properties:
        orderId:
          type: string
        accountId:
          type: integer
          format: int32
        lastModifiedDate:
          type: string
        createdByUser:
          type: string
        customerOrderId:
          type: string
          description: >-
            The customer-defined reference ID for this order, if one was
            provided at creation. Not unique — Bandwidth applies no uniqueness
            constraint, so multiple orders may share the same value. Each order
            has a distinct Bandwidth-assigned `orderId`.
        orderCreateDate:
          type: string
        processingStatus:
          type: string
          enum:
            - RECEIVED
            - PROCESSING
            - COMPLETE
            - PARTIAL
            - FAILED
        tnOptionGroups:
          type: array
          items:
            $ref: '#/components/schemas/tnOptionGroupJsonVcpDisabledResponse'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/tnOptionOrderErrorJson'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/tnOptionOrderWarningPayloadJson'
    tnOptionOrderErrorJson:
      type: object
      title: Error
      properties:
        code:
          type: integer
          format: int32
        description:
          type: string
        phoneNumber:
          type: string
    tnOptionOrderWarningPayloadJson:
      type: object
      title: Warning
      properties:
        phoneNumber:
          type: string
        description:
          type: string
    tnOptionOrderErrorResponseJson:
      type: object
      properties:
        code:
          description: Numeric designation of corresponding error
          type: integer
        description:
          description: 'Detailed explanation about error '
          type: string
    tnOptionOrderReportSummaryJsonResponse:
      type: object
      title: Summary Response
      properties:
        totalCount:
          type: integer
        orders:
          type: array
          title: tnOptionOrderSummary
          items:
            $ref: '#/components/schemas/orderSummaryJson'
    tnOptionOrderReportDetailedJsonResponse:
      type: object
      title: Detailed Response
      properties:
        totalCount:
          type: integer
        orders:
          type: array
          items:
            $ref: '#/components/schemas/tnOptionOrderJsonResponsePayload'
    orderSummaryJson:
      type: object
      properties:
        accountId:
          type: integer
        phoneNumberCount:
          type: integer
        userId:
          type: string
        lastModifiedDate:
          type: string
        orderDate:
          type: string
        orderType:
          type: string
        orderStatus:
          type: string
        orderId:
          type: string
    paginationLinks:
      type: object
      title: Links
      properties:
        first:
          type: string
        next:
          type: string
        previous:
          type: string
        last:
          type: string
    note:
      type: object
      properties:
        Note:
          type: object
          properties:
            Id:
              description: >-
                This is the Order Note identifier that is automatically
                generated by system.
              type: string
            UserId:
              description: >-
                The UserId is authenticated for access to the network via a
                username string.
              type: string
            Description:
              description: This is the Order Note description.
              type: string
            LastDateModifier:
              description: This is the date when Order Note was last modified.
              type: string
    noteJson:
      type: object
      properties:
        note:
          type: object
          properties:
            id:
              description: >-
                This is the Order Note identifier that is automatically
                generated by system.
              type: string
            userId:
              description: >-
                The userId is authenticated for access to the network via a
                username string.
              type: string
            description:
              description: This is the Order Note description.
              type: string
            lastDateModified:
              description: This is the date when Order Note was last modified.
              type: string
    telephoneNumberDetails:
      type: object
      properties:
        States:
          type: array
          xml:
            wrapped: true
          items:
            $ref: '#/components/schemas/stateWithCount'
        RateCenters:
          type: array
          xml:
            wrapped: true
          items:
            $ref: '#/components/schemas/rateCenterWithCount'
        Cities:
          type: array
          xml:
            wrapped: true
          items:
            $ref: '#/components/schemas/cityWithCount'
        Tiers:
          type: array
          xml:
            wrapped: true
          items:
            $ref: '#/components/schemas/tiers'
        Vendors:
          type: array
          xml:
            wrapped: true
          items:
            $ref: '#/components/schemas/vendors'
    stateWithCount:
      type: object
      properties:
        State:
          type: string
        Count:
          type: integer
    rateCenterWithCount:
      type: object
      properties:
        RateCenter:
          type: string
        Count:
          type: integer
    cityWithCount:
      type: object
      properties:
        City:
          type: string
        Count:
          type: integer
    tiers:
      type: object
      properties:
        Tier:
          type: string
        Count:
          type: integer
    vendors:
      type: object
      properties:
        VendorName:
          type: string
        VendorId:
          type: integer
        Count:
          type: integer
    phoneNumberDetails:
      type: object
      properties:
        states:
          type: array
          xml:
            wrapped: true
          items:
            $ref: '#/components/schemas/stateWithCountJson'
        rateCenters:
          type: array
          xml:
            wrapped: true
          items:
            $ref: '#/components/schemas/rateCenterWithCountJson'
        cities:
          type: array
          xml:
            wrapped: true
          items:
            $ref: '#/components/schemas/cityWithCountJson'
        tiers:
          type: array
          xml:
            wrapped: true
          items:
            $ref: '#/components/schemas/tiersJson'
        vendors:
          type: array
          xml:
            wrapped: true
          items:
            $ref: '#/components/schemas/vendorsJson'
    stateWithCountJson:
      type: object
      properties:
        state:
          type: string
        count:
          type: integer
    rateCenterWithCountJson:
      type: object
      properties:
        rateCenter:
          type: string
        count:
          type: integer
    cityWithCountJson:
      type: object
      properties:
        city:
          type: string
        count:
          type: integer
    tiersJson:
      type: object
      properties:
        tier:
          type: string
        count:
          type: integer
    vendorsJson:
      type: object
      properties:
        vendorName:
          type: string
        vendorId:
          type: integer
        count:
          type: integer
    tnOptionOrderReportSummaryResponse:
      type: object
      title: Summary Response
      properties:
        TnOptionOrderReportResponse:
          type: object
          properties:
            TnOptionOrders:
              type: object
              properties:
                TotalCount:
                  type: integer
                TnOptionOrderSummary:
                  $ref: '#/components/schemas/orderSummary'
    tnOptionOrderReportDetailedResponse:
      type: object
      title: Detailed Response
      properties:
        TnOptionOrderReportResponse:
          type: object
          properties:
            TnOptionOrders:
              type: object
              properties:
                TotalCount:
                  type: integer
                TnOptionOrder:
                  $ref: '#/components/schemas/tnOptionOrderResponsePayload'
    retrieveTnOptionOrderResponse:
      type: object
      title: Retrieve TN Options Order Response
      properties:
        TnOptionOrder:
          $ref: '#/components/schemas/tnOptionOrderResponsePayload'
    retrieveTnOptionOrderJsonResponse:
      type: object
      title: Retrieve TN Options Order Response
      $ref: '#/components/schemas/tnOptionOrderJsonResponsePayload'
    tnOptionOrderResponsePayload:
      type: object
      title: TnOptionOrder
      properties:
        OrderId:
          type: string
        AccountId:
          type: integer
          format: int32
        LastModifiedDate:
          type: string
        CreatedByUser:
          type: string
        CustomerOrderId:
          type: string
          description: >-
            The customer-defined reference ID for this order, if one was
            provided at creation. Not unique — Bandwidth applies no uniqueness
            constraint, so multiple orders may share the same value. Each order
            has a distinct Bandwidth-assigned `orderId`.
        OrderCreateDate:
          type: string
        ProcessingStatus:
          type: string
          enum:
            - RECEIVED
            - PROCESSING
            - COMPLETE
            - PARTIAL
            - FAILED
        TnOptionGroups:
          type: object
          properties:
            TnOptionGroup:
              $ref: '#/components/schemas/tnOptionGroupVcpDisabledXml'
        ErrorList:
          type: array
          items:
            $ref: '#/components/schemas/tnOptionOrderError'
        Warnings:
          type: array
          items:
            $ref: '#/components/schemas/tnOptionOrderWarningPayload'
    tnOptionOrderError:
      type: object
      title: Error
      properties:
        Code:
          type: integer
          format: int32
        Description:
          type: string
        TelephoneNumber:
          type: string
    tnOptionOrderWarningPayload:
      type: object
      title: Warning
      properties:
        TelephoneNumber:
          type: string
        Description:
          type: string
    tnOptionGroupVcpEnabledXml:
      type: object
      properties:
        PortOutPasscode:
          anyOf:
            - title: Custom Passcode
              type: string
              minLength: 4
              maxLength: 10
              pattern: ^[a-zA-Z0-9]+$
              description: |
                Custom alphanumeric value (4-10 chars).
            - title: Enum Values
              type: string
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
        Protected:
          type: string
          enum:
            - 'true'
            - 'false'
            - UNCHANGED
            - SYSTEM_DEFAULT
        Sms:
          type: string
          enum:
            - 'ON'
            - 'OFF'
            - UNCHANGED
        A2pSettings:
          $ref: '#/components/schemas/a2pSettings'
        NNID:
          anyOf:
            - title: Custom Value
              type: string
              minLength: 1
              maxLength: 64
            - title: Enum Values
              type: string
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
        TelephoneNumbers:
          type: array
          items:
            type: string
            description: 10-digit TN
            xml:
              name: TelephoneNumber
    tnOptionGroupVcpDisabledXml:
      type: object
      properties:
        NumberFormat:
          type: string
          enum:
            - 10DIGIT
            - 11DIGIT
            - E164
            - UNCHANGED
            - SYSTEM_DEFAULT
        RPIDFormat:
          type: string
          enum:
            - 10DIGIT
            - 11DIGIT
            - E164
            - UNCHANGED
            - SYSTEM_DEFAULT
        RewriteUser:
          anyOf:
            - type: string
              title: Enum Values
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
            - type: string
              title: Custom Value
              description: >-
                This field must be a string up to 30 characters long, containing
                only letters (a-z, A-Z), digits (0-9),

                and the following symbols: +, @, :, ., (, ), _, ;, ?, =, -. No
                spaces or other special characters are allowed.
              pattern: ^[a-zA-Z0-9+@:.()_;?=-]{0,30}$
        CallForward:
          anyOf:
            - type: string
              title: Enum Values
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
            - type: string
              title: Custom Value
              pattern: (\+1[2-9][0-9]{2}[2-9]{6}|[2-9][0-9]{5,17})
              description: >-
                This field must be a string representing a valid call forwarding
                number. It permits either:

                A US number in the format +1NXXNXXXXXX (where N is 2-9, X is
                0-9).

                A number with 6 to 18 digits, starting with a digit 2-9.
        CallingNameDisplay:
          type: string
          enum:
            - 'ON'
            - 'OFF'
            - UNCHANGED
            - SYSTEM_DEFAULT
        PortOutPasscode:
          anyOf:
            - title: Custom Passcode
              type: string
              minLength: 4
              maxLength: 10
              pattern: ^[a-zA-Z0-9]+$
              description: |
                Custom alphanumeric value (4-10 chars).
            - title: Enum Values
              type: string
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
        Protected:
          type: string
          enum:
            - 'true'
            - 'false'
            - UNCHANGED
            - SYSTEM_DEFAULT
        Sms:
          type: string
          enum:
            - 'ON'
            - 'OFF'
            - UNCHANGED
            - SYSTEM_DEFAULT
        FinalDestinationURI:
          anyOf:
            - title: Custom Value
              type: string
              minLength: 10
              maxLength: 60
              description: >
                a 10 digit telephone number or a SIP URI ( without the sip:
                prefix ) in the form address-string@host IP:port, where the host
                IP is an IPv4 address in the standard numerical n.n.n.n. form,
                and the port is numeric, and optional containing [a-z,A-Z,0-9],
                with ':', '.' and '@' to delimit the components of the overall
                string, and less than 60 characters long.
            - title: Enum Values
              type: string
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
        A2pSettings:
          $ref: '#/components/schemas/a2pSettings'
        NNID:
          anyOf:
            - title: Custom Value
              type: string
              minLength: 1
              maxLength: 64
            - title: Enum Values
              type: string
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
        ESPID:
          anyOf:
            - title: Custom Value
              type: string
              minLength: 1
              maxLength: 64
            - title: Enum Values
              type: string
              enum:
                - UNCHANGED
                - SYSTEM_DEFAULT
        OriginationRoutePlan:
          $ref: '#/components/schemas/originationRoutePlan'
        PindropEnabled:
          type: string
          enum:
            - 'true'
            - 'false'
            - UNCHANGED
            - SYSTEM_DEFAULT
        CallVerificationEnabled:
          type: string
          enum:
            - 'true'
            - 'false'
        TelephoneNumbers:
          type: array
          items:
            type: string
            description: 10-digit TN
            xml:
              name: TelephoneNumber
    orderSummary:
      type: object
      properties:
        AccountId:
          type: integer
        UserId:
          type: string
        OrderId:
          type: string
        LastModifiedDate:
          type: string
        CountOfTNs:
          type: integer
        LastModifiedNote:
          $ref: '#/components/schemas/note'
        SuppCount:
          type: integer
        OrderType:
          type: string
        CustomerOrderId:
          type: string
          description: >-
            The customer-defined reference ID for this order, if one was
            provided at creation. Not unique — Bandwidth applies no uniqueness
            constraint, so multiple orders may share the same value. Each order
            has a distinct Bandwidth-assigned `orderId`.
        OrderDate:
          type: string
        OrderStatus:
          type: string
        TelephoneNumberDetails:
          $ref: '#/components/schemas/telephoneNumberDetails'
    tnOptionOrderReportErrorResponse:
      type: object
      title: TnOptionOrderReportResponse
      properties:
        TnOptionOrderReportResponse:
          $ref: '#/components/schemas/responseStatus'
    tnOptionOrderReportErrorResponseWithoutErrorCode:
      type: object
      title: TnOptionOrderReportResponseWithoutErrorCode
      properties:
        TnOptionOrderReportResponse:
          $ref: '#/components/schemas/responseStatusWithoutErrorCode'
    responseStatus:
      type: object
      title: ResponseStatus
      properties:
        ResponseStatus:
          $ref: '#/components/schemas/errorCodeAndDescription'
    responseStatusJson:
      type: object
      properties:
        errorCode:
          description: Numeric designation of corresponding error
          type: integer
        description:
          description: Detailed explanation about error
          type: string
    responseStatusWithoutErrorCode:
      type: object
      title: ResponseStatus
      properties:
        ResponseStatus:
          $ref: '#/components/schemas/description'
    description:
      type: object
      properties:
        Description:
          description: Detailed explanation about error
          type: string
    errorCodeAndDescription:
      type: object
      properties:
        ErrorCode:
          description: Numeric designation of corresponding error
          type: integer
        Description:
          description: 'Detailed explanation about error '
          type: string
    tnOptionOrderReportErrorResponseJson:
      type: object
      title: tnOptionOrderReportResponse
      properties:
        code:
          description: Numeric designation of corresponding error
          type: integer
        description:
          description: Detailed explanation about error
          type: string
    tnOptionOrderReportErrorResponseWithoutErrorCodeJson:
      type: object
      properties:
        description:
          description: Detailed explanation about error
          type: string
    getTnOptionOrderHistoryResponse:
      type: object
      properties:
        OrderHistoryWrapper:
          type: object
          properties:
            OrderHistory:
              $ref: '#/components/schemas/orderHistory'
    orderHistory:
      type: object
      properties:
        OrderDate:
          description: This is the date/time when the order history entry was created.
          type: string
        Note:
          description: This is the order note that accompanied the order history entry.
          type: string
        Author:
          description: >-
            This is the user that initiated the event that caused the order
            history to be updated.
          type: string
        Difference:
          description: SUPP changes difference.
          type: string
        Status:
          description: >-
            This is the state that the order was in when the order history event
            occurred.
          type: string
    orderHistoryJson:
      type: object
      properties:
        orderHistory:
          type: array
          items:
            $ref: '#/components/schemas/orderHistoryEntryJson'
    orderHistoryEntryJson:
      type: object
      properties:
        orderDate:
          description: This is the date/time when the order history entry was created.
          type: string
          format: date-time
        note:
          description: This is the order note that accompanied the order history entry.
          type: string
        author:
          description: >-
            This is the user that initiated the event that caused the order
            history to be updated.
          type: string
        difference:
          description: SUPP changes difference.
          type: string
        status:
          $ref: '#/components/schemas/processingStatus'
    processingStatus:
      type: string
      description: >-
        This is the state that the order was in when the order history event
        occurred.
      enum:
        - RECEIVED
        - PROCESSING
        - PARTIAL
        - COMPLETE
        - FAILED
    originationRoutePlan:
      type: object
      description: >-
        The OriginationRoutePlan element consists of an action and a list of
        prioritized and weighted routes that tell Bandwidth where to send phone
        calls to phone numbers associated with the route plan.
      properties:
        Id:
          type: string
          format: uuid
        Route:
          type: array
          items:
            $ref: '#/components/schemas/originationRoutePayload'
        Action:
          type: string
          enum:
            - UNCHANGED
            - 'OFF'
            - AS_SPECIFIED
    originationRoutePayload:
      type: object
      properties:
        Name:
          description: >-
            A friendly name for a route.  This is not used for any back-end call
            routing.
          type: string
        Endpoint:
          type: string
          description: >
            Must be one of the following: - a NANP 10-digit telephone number - a
            SIP URI - an IPv4 address - a Fully Qualified Domain Name (FQDN)
        Priority:
          type: integer
          format: int32
        Weight:
          type: integer
          format: int32
        EndpointType:
          type: string
          enum:
            - TN
            - IPv4
            - SIP
            - FQDN
    a2pSettings:
      type: object
      properties:
        CampaignId:
          type: string
          minLength: 1
          maxLength: 64
        Action:
          type: string
          enum:
            - UNCHANGED
            - SYSTEM_DEFAULT
            - 'OFF'
            - DELETE
            - AS_SPECIFIED
    tnOptionOrderXmlRequestVcpEnabled:
      type: object
      title: VCP Enabled TN Options Order Request
      properties:
        TnOptionOrder:
          $ref: '#/components/schemas/tnOptionOrderXmlPayloadVcpEnabled'
    tnOptionOrderXmlPayloadVcpEnabled:
      type: object
      title: TnOptionOrder
      properties:
        CustomerOrderId:
          type: string
          description: >-
            Optional customer-defined reference ID for this order. Only
            alphanumeric values, dashes and spaces are allowed. Not unique —
            Bandwidth applies no uniqueness constraint, so multiple orders may
            share the same value. Each order receives its own unique
            Bandwidth-assigned `orderId`.
          maxLength: 255
        TnOptionGroups:
          description: >-
            Each group contains list of telephone numbers and set of TN options
            you want to assign to all TNs in the list
          type: object
          properties:
            TnOptionGroup:
              $ref: '#/components/schemas/tnOptionGroupVcpEnabledXml'
    tnOptionOrderXmlRequestVcpDisabled:
      type: object
      title: VCP Disabled TN Options Order Request
      properties:
        TnOptionOrder:
          $ref: '#/components/schemas/tnOptionOrderXmlPayloadVcpDisabled'
    tnOptionOrderXmlPayloadVcpDisabled:
      type: object
      title: TnOptionOrder
      properties:
        CustomerOrderId:
          type: string
          description: >-
            Optional customer-defined reference ID for this order. Only
            alphanumeric values, dashes and spaces are allowed. Not unique —
            Bandwidth applies no uniqueness constraint, so multiple orders may
            share the same value. Each order receives its own unique
            Bandwidth-assigned `orderId`.
          maxLength: 255
        TnOptionGroups:
          description: >-
            Each group contains list of telephone numbers and set of TN options
            you want to assign to all TNs in the list.
          type: object
          properties:
            TnOptionGroup:
              $ref: '#/components/schemas/tnOptionGroupVcpDisabledXml'
    tnOptionOrderResponse:
      type: object
      properties:
        TnOptionOrderResponse:
          type: object
          properties:
            TnOptionOrder:
              $ref: '#/components/schemas/tnOptionOrderResponsePayload'
    tnOptionOrderErrorResponse:
      type: object
      properties:
        TnOptionOrderResponse:
          $ref: '#/components/schemas/responseStatus'
    genericError:
      title: Generic Error
      type: object
      properties:
        data:
          type: object
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error'
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
      required:
        - data
        - errors
        - links
    error:
      title: Error
      type: object
      properties:
        id:
          type: string
          description: A unique identifier for this particular instance of this problem
          example: optional-error-id
        type:
          $ref: '#/components/schemas/errorType'
        description:
          $ref: '#/components/schemas/errorDescription'
        code:
          $ref: '#/components/schemas/code'
        meta:
          type: object
          description: >-
            A meta object containing application-specific information or
            non-standard metadata about the error
        source:
          $ref: '#/components/schemas/errorSource'
      required:
        - code
        - description
    link:
      title: Link
      description: The URI link details to self or a related resource with the relation
      type: object
      properties:
        href:
          type: string
          description: URI of the link
          example: /resource/uri
        rel:
          type: string
          description: Specifies the relationship between this link and the resource
          example: self
        method:
          type: string
          description: HTTP method to be used
          example: GET
      required:
        - href
        - rel
        - method
    code:
      type: integer
      format: int32
      description: >-
        An application-specific error code for services with extensive error
        scenarios to supplement `description`
      minimum: 4
      example: 51130
    errorDescription:
      type: string
      description: >-
        A human-readable explanation that SHOULD be specific to this occurrence
        of the problem
      example: There was an issue with a field in your request body
    errorType:
      type: string
      description: >-
        A short, human-readable summary of the problem that SHOULD NOT change
        from occurrence to occurrence of the problem
      example: REQUEST_ERROR
    errorSource:
      title: Error Source
      type: object
      properties:
        parameter:
          type: string
          description: A string indicating which URI query parameter caused the error
          example: someParameter
        field:
          type: string
          description: A string indicating which request body field caused the error
          example: someField
        header:
          type: string
          description: A string indicating which header field caused the error
          example: someHeader
        reference:
          type: string
          description: >-
            A string that references a resource ID or path to the resource (or
            non-existent resource) causing the error
          example: /some/reference
    jsonLidbOrderHistoryResponse:
      properties:
        totalCount:
          type: integer
        orders:
          items:
            $ref: '#/components/schemas/jsonOrderSummary'
          type: array
      type: object
    jsonOrderSummary:
      properties:
        accountId:
          type: integer
        phoneNumberCount:
          type: integer
        userId:
          type: string
        lastModifiedDate:
          type: string
          format: date-time
        orderDate:
          type: string
          format: date-time
        orderId:
          type: string
        orderStatus:
          type: string
      type: object
    lidbOrderHistoryResponse:
      properties:
        ResponseSelectWrapper:
          properties:
            ListOrderIdUserIdDate:
              properties:
                OrderIdUserIdDate:
                  items:
                    $ref: '#/components/schemas/orderSummary'
                  type: array
                TotalCount:
                  type: integer
              type: object
          type: object
      type: object
    jsonLidbOrderResponse:
      properties:
        lidbOrderResponse:
          $ref: '#/components/schemas/jsonLidbOrderResponsePayload'
      type: object
    jsonLidbRemovalOrderResponse:
      properties:
        orderId:
          type: string
        processingStatus:
          description: Order status.
          enum:
            - RECEIVED
            - PROCESSING
            - COMPLETE
            - PARTIAL
            - FAILED
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/jsonLidbOrderError'
      type: object
    jsonLidbOrderResponsePayload:
      type: object
      properties:
        orderId:
          type: string
        customerOrderId:
          description: >-
            Optional customer-defined reference ID for this order. Only
            alphanumeric values, dashes and spaces are allowed. Not unique —
            Bandwidth applies no uniqueness constraint, so multiple orders may
            share the same value. Each order receives its own unique
            Bandwidth-assigned `orderId`.
          maxLength: 255
          type: string
        processingStatus:
          description: Order status.
          enum:
            - RECEIVED
            - PROCESSING
            - COMPLETE
            - PARTIAL
            - FAILED
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/jsonLidbOrderError'
        lidbPhoneNumberGroups:
          type: array
          items:
            $ref: '#/components/schemas/jsonLidbDetailTnGroup'
    jsonLidbOrderError:
      properties:
        code:
          format: int32
          type: integer
        description:
          type: string
        phoneNumber:
          type: string
      title: Error
      type: object
    jsonLidbDetailTnGroup:
      properties:
        phoneNumbers:
          description: >-
            A list of phone numbers that will all assume the
            SubscriberInformation that is listed in the payload. In an
            enterprise context it is not uncommon for all of the served
            telephone numbers to use the same string for the Subscriber
            Information.
          items:
            $ref: '#/components/schemas/jsonPhoneNumber'
          type: array
        subscriberInformation:
          description: >-
            This is the field that is displayed to the user receiving the phone
            call from the Telephone numbers in the TelephoneNumberList
          type: string
        useType:
          enum:
            - BUSINESS
            - RESIDENTIAL
          type: string
        visibility:
          description: ' If it is tagged as PRIVATE then the data will be provided, but the display will not be provided on a standard phone call.'
          enum:
            - PUBLIC
            - PRIVATE
          type: string
      required:
        - useType
        - visibility
      title: LidbPhoneNumberGroup
      type: object
    jsonPhoneNumber:
      properties:
        phoneNumber:
          description: Phone Number in E.164 format.
          type: string
      type: object
    lidbOrderResponse:
      properties:
        LidbOrderResponse:
          $ref: '#/components/schemas/lidbOrderResponsePayload'
    lidbOrderResponsePayload:
      properties:
        LidbOrder:
          properties:
            OrderId:
              type: string
            CustomerOrderId:
              description: >-
                The Customer Order ID is an ID assigned by the account owner to
                provide a reference number for the Order. The element is
                optional. Only alphanumeric values, dashes and spaces are
                allowed.
              maxLength: 255
              type: string
            ProcessingStatus:
              type: string
            ErrorList:
              items:
                $ref: '#/components/schemas/lidbOrderError'
              type: array
            LidbTnGroups:
              items:
                $ref: '#/components/schemas/lidbDetailTnGroup'
              type: array
          type: object
      type: object
    lidbOrderPayload:
      properties:
        CustomerOrderId:
          description: >-
            Optional customer-defined reference ID for this order. Only
            alphanumeric values, dashes and spaces are allowed. Not unique —
            Bandwidth applies no uniqueness constraint, so multiple orders may
            share the same value. Each order receives its own unique
            Bandwidth-assigned `orderId`.
          maxLength: 255
          type: string
        LidbTnGroups:
          items:
            $ref: '#/components/schemas/lidbDetailTnGroup'
          type: array
      type: object
    lidbOrderError:
      properties:
        Code:
          format: int32
          type: integer
        Description:
          type: string
        TelephoneNumber:
          type: string
      title: Error
      type: object
    lidbDetailTnGroup:
      properties:
        TelephoneNumbers:
          description: >-
            A list of telephone numbers that will all assume the
            SubscriberInformation that is listed in the payload. In an
            enterprise context it is not uncommon for all of the served
            telephone numbers to use the same string for the Subscriber
            Information.
          items:
            $ref: '#/components/schemas/telephoneNumber'
          type: array
        SubscriberInformation:
          description: >-
            This is the field that is displayed to the user receiving the phone
            call from the Telephone numbers in the TelephoneNumberList
          type: string
        UseType:
          enum:
            - BUSINESS
            - RESIDENTIAL
          type: string
        Visibility:
          description: ' If it is tagged as PRIVATE then the data will be provided, but the display will not be provided on a standard phone call.'
          enum:
            - PUBLIC
            - PRIVATE
          type: string
      required:
        - UseType
        - Visibility
      title: LidbTnGroup
      type: object
    telephoneNumber:
      properties:
        TelephoneNumber:
          description: Simple Telephone Number.
          type: string
      type: object
    lidbOrder:
      properties:
        LidbOrder:
          $ref: '#/components/schemas/lidbOrderPayload'
      type: object
    jsonLidbOrder:
      properties:
        lidbOrder:
          $ref: '#/components/schemas/jsonLidbOrderPayload'
      type: object
    jsonLidbRemovalOrder:
      properties:
        phoneNumbers:
          type: array
          items:
            type: string
      type: object
    jsonLidbOrderPayload:
      properties:
        customerOrderId:
          description: >-
            Optional customer-defined reference ID for this order. Only
            alphanumeric values, dashes and spaces are allowed. Not unique —
            Bandwidth applies no uniqueness constraint, so multiple orders may
            share the same value. Each order receives its own unique
            Bandwidth-assigned `orderId`.
          maxLength: 255
          type: string
        lidbPhoneNumberGroups:
          items:
            $ref: '#/components/schemas/jsonLidbDetailTnGroup'
          type: array
      type: object
    jsonLidbOrderReportErrorResponse:
      properties:
        description:
          description: Detailed explanation about error
          type: string
        errorCode:
          description: Numeric designation of corresponding error
          type: integer
    lidbOrderReportErrorResponse:
      properties:
        LidbOrderReportResponse:
          $ref: '#/components/schemas/responseStatus'
      type: object
    responseSelectWrapper:
      properties:
        ResponseSelectWrapper:
          properties:
            ListOrderIdUserIdDate:
              properties:
                Links:
                  $ref: '#/components/schemas/links'
                OrderIdUserIdDate:
                  items:
                    $ref: '#/components/schemas/orderIdUserIdDate'
                  type: array
                TotalCount:
                  type: integer
              type: object
          type: object
      type: object
    responseSelectWrapperJson:
      properties:
        totalCount:
          type: integer
        links:
          $ref: '#/components/schemas/linksJson'
        orders:
          items:
            $ref: '#/components/schemas/orderIdUserIdDateJson'
          type: array
      type: object
    links:
      items:
        oneOf:
          - $ref: '#/components/schemas/selfLink'
      title: Links
      type: array
    linksJson:
      properties:
        first:
          description: The first (or only) page of results matching the query.
          type: string
        last:
          description: >-
            If more results exist than specified by 'size', this link return the
            last page of result.
          type: string
        next:
          description: >-
            If more results exist than specified by 'size', this link returns
            the next page of 'size' results.
          type: string
        previous:
          description: >-
            If the results are more than one page, this link returns the
            previous page of 'size' results.
          type: string
      type: object
    selfLink:
      properties:
        href:
          description: URI of the link
          example: /self/uri
          type: string
        method:
          description: HTTP method to be used
          example: GET
          type: string
        rel:
          description: Specifies the relationship between this link and the resource.
          example: SelfResource
          type: string
      title: Self Link
      type: object
    orderIdUserIdDate:
      properties:
        CountOfTNs:
          type: integer
        OrderDate:
          type: string
        OrderStatus:
          type: string
        OrderType:
          type: string
        TelephoneNumberDetails:
          $ref: '#/components/schemas/telephoneNumberDetails'
        lastModifiedDate:
          format: date-time
          type: string
        orderId:
          type: string
        userId:
          type: string
      type: object
    orderIdUserIdDateJson:
      properties:
        phoneNumberCount:
          type: integer
        userId:
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        orderType:
          type: string
        orderDate:
          format: date-time
          type: string
        orderId:
          type: string
        orderStatus:
          type: string
        phoneNumberDetails:
          $ref: '#/components/schemas/telephoneNumberDetailsJson'
      type: object
    telephoneNumberDetailsJson:
      properties:
        cities:
          items:
            $ref: '#/components/schemas/cityWithCountJson'
          type: array
        rateCenters:
          items:
            $ref: '#/components/schemas/rateCenterWithCountJson'
          type: array
        states:
          items:
            $ref: '#/components/schemas/stateWithCountJson'
          type: array
        tiers:
          items:
            $ref: '#/components/schemas/tiersJson'
          type: array
        vendors:
          items:
            $ref: '#/components/schemas/vendorsJson'
          type: array
      type: object
    jsonLidbOrderErrorResponse:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/jsonLidbOrderError'
        lidbOrder:
          $ref: '#/components/schemas/jsonLidbOrderPayload'
        status:
          properties:
            code:
              description: Numeric designation of corresponding error
              type: integer
            description:
              description: Detailed explanation about error
              type: string
          type: object
      type: object
    jsonLidbRemovalOrderErrorResponse:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/jsonLidbOrderError'
      type: object
    lidbOrderErrorResponse:
      properties:
        LidbOrderResponse:
          properties:
            ErrorList:
              items:
                $ref: '#/components/schemas/lidbOrderError'
              type: array
            LidbOrder:
              $ref: '#/components/schemas/lidbOrderPayload'
            Status:
              properties:
                Code:
                  description: Numeric designation of corresponding error
                  type: integer
                Description:
                  description: 'Detailed explanation about error '
                  type: string
              type: object
          type: object
      type: object
    dldaOrder:
      properties:
        DldaOrder:
          $ref: '#/components/schemas/dldaOrderPayload'
      type: object
    jsonDldaOrder:
      properties:
        customerOrderId:
          description: >-
            The Customer Order ID is an ID assigned by the account owner to
            provide a reference number for the Order. Only alphanumeric values,
            dashes and spaces are allowed.
          maxLength: 255
          type: string
        deleteDldaPhoneNumberGroups:
          type: string
        dldaPhoneNumberGroups:
          items:
            $ref: '#/components/schemas/jsonDldaPhoneNumberGroup'
          type: array
      type: object
    dldaOrderPayload:
      properties:
        CustomerOrderId:
          description: >-
            The Customer Order ID is an ID assigned by the account owner to
            provide a reference number for the Order. Only alphanumeric values,
            dashes and spaces are allowed.
          maxLength: 255
          type: string
        DeleteDldaTnGroups:
          type: string
        DldaTnGroups:
          items:
            $ref: '#/components/schemas/dldaTnGroup'
          type: array
      type: object
    dldaTnGroup:
      description: AddressType has to be DLDA
      properties:
        Address:
          $ref: '#/components/schemas/address'
        ListAddress:
          type: boolean
        ListingName:
          $ref: '#/components/schemas/dldaListingName'
        ListingType:
          enum:
            - LISTED
            - NON_LISTED
            - NON_PUBLISHED
          type: string
        SubscriberType:
          enum:
            - RESIDENTIAL
            - BUSINESS
          type: string
        TelephoneNumbers:
          description: >-
            A list of telephone numbers you need to bind information from
            payload
          items:
            type: string
            xml:
              name: TelephoneNumber
          type: array
      required:
        - SubscriberType
        - ListingType
        - ListAddress
      type: object
    dldaListingName:
      properties:
        Designation:
          type: string
        FirstName:
          description: Required in case RESIDENTIAL SubscriberType is chosen
          type: string
        FirstName2:
          description: ''
          type: string
        LastName:
          type: string
        PlaceListingAs:
          type: string
        TitleOfAddress:
          type: string
        TitleOfAddress2:
          type: string
        TitleOfAddress2Name2:
          type: string
        TitleOfAddressName2:
          type: string
        TitleOfLineage:
          type: string
        TitleOfLineageName2:
          type: string
      required:
        - LastName
      type: object
    jsonDldaListingName:
      properties:
        designation:
          type: string
        firstName:
          description: Required in case RESIDENTIAL SubscriberType is chosen
          type: string
        firstName2:
          description: ''
          type: string
        lastName:
          type: string
        placeListingAs:
          type: string
        titleOfAddress:
          type: string
        titleOfAddress2:
          type: string
        titleOfAddress2Name2:
          type: string
        titleOfAddressName2:
          type: string
        titleOfLineage:
          type: string
        titleOfLineageName2:
          type: string
      required:
        - LastName
      type: object
    addressType:
      enum:
        - SERVICE
        - BILLING
        - DLDA
        - E911
      type: string
    jsonAddressType:
      enum:
        - SERVICE
        - BILLING
        - DLDA
        - E911
      type: string
    address:
      properties:
        AddressLine2:
          description: >-
            AddressLine2 is used to specify Unit, Suite, Floor, etc. in the
            Service Address. AddressLine2 is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        AddressType:
          $ref: '#/components/schemas/addressType'
        City:
          description: City is mandatory in cases where the ServiceAddress is mandatory.
          type: string
        Country:
          description: >-
            Country is the country of the ServiceAddress. This value will be
            derived from the StateCode, so it should generally be omitted.
          type: string
        County:
          description: The county where the subscriber or business is located.
          type: string
        HouseNumber:
          description: >-
            The HouseNumber is the street address number of the ServiceAddress.
            HouseNumber is mandatory for port-in orders in which the
            ServiceAddress is mandatory.
          type: string
        HousePrefix:
          description: >-
            The HousePrefix is the non-numeric address number prefix of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        HouseSuffix:
          description: >-
            The HouseSuffix is the non-numeric address number suffix of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        Latitude:
          type: string
        Longitude:
          type: string
        PlusFour:
          description: >-
            PlusFour is the 4 digits that are sometimes suffixed to the Zip
            Code.
          type: string
        PostDirectional:
          description: >-
            The PostDirectional is the street name post directional of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        PreDirectional:
          description: >-
            The PreDirectional is the non-numeric street name prefix of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        ResetAddressFields:
          type: boolean
        StateCode:
          description: >-
            StateCode is the 2-letter abbreviation of the state of the
            ServiceAddress. StateCode is mandatory in cases where the
            ServiceAddress is mandatory.
          type: string
        StreetName:
          description: >-
            The StreetName is mandatory in cases where the ServiceAddress is
            mandatory.
          type: string
        StreetSuffix:
          description: >-
            The StreetSuffix is the street suffix of the ServiceAddress. This
            element is optional when not needed to fully specify the
            ServiceAddress.
          type: string
        Zip:
          description: >-
            Zip is the Zip Code of the ServiceAddress. Zip is mandatory in cases
            where the ServiceAddress is mandatory.
          type: string
      type: object
    jsonAddress:
      properties:
        addressLine2:
          description: >-
            AddressLine2 is used to specify Unit, Suite, Floor, etc. in the
            Service Address. AddressLine2 is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        addressType:
          $ref: '#/components/schemas/jsonAddressType'
        city:
          description: City is mandatory in cases where the ServiceAddress is mandatory.
          type: string
        country:
          description: >-
            Country is the country of the ServiceAddress. This value will be
            derived from the StateCode, so it should generally be omitted.
          type: string
        county:
          description: The county where the subscriber or business is located.
          type: string
        houseNumber:
          description: >-
            The HouseNumber is the street address number of the ServiceAddress.
            HouseNumber is mandatory for port-in orders in which the
            ServiceAddress is mandatory.
          type: string
        housePrefix:
          description: >-
            The HousePrefix is the non-numeric address number prefix of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        houseSuffix:
          description: >-
            The HouseSuffix is the non-numeric address number suffix of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        latitude:
          type: string
        longitude:
          type: string
        plusFour:
          description: >-
            PlusFour is the 4 digits that are sometimes suffixed to the Zip
            Code.
          type: string
        postDirectional:
          description: >-
            The PostDirectional is the street name post directional of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        preDirectional:
          description: >-
            The PreDirectional is the non-numeric street name prefix of the
            ServiceAddress. This element is optional when not needed to fully
            specify the ServiceAddress.
          type: string
        resetAddressFields:
          type: boolean
        stateCode:
          description: >-
            StateCode is the 2-letter abbreviation of the state of the
            ServiceAddress. StateCode is mandatory in cases where the
            ServiceAddress is mandatory.
          type: string
        streetName:
          description: >-
            The StreetName is mandatory in cases where the ServiceAddress is
            mandatory.
          type: string
        streetSuffix:
          description: >-
            The StreetSuffix is the street suffix of the ServiceAddress. This
            element is optional when not needed to fully specify the
            ServiceAddress.
          type: string
        zip:
          description: >-
            Zip is the Zip Code of the ServiceAddress. Zip is mandatory in cases
            where the ServiceAddress is mandatory.
          type: string
      type: object
    dldaOrderResponse:
      properties:
        DldaOrderResponse:
          properties:
            DldaOrder:
              $ref: '#/components/schemas/dldaOrderResponsePayload'
[...]
