openapi: 3.0.3
info:
  title: Messaging
  version: 4.3.0
  contact:
    name: Bandwidth
    url: https://support.bandwidth.com
    email: support@bandwidth.com
  termsOfService: https://www.bandwidth.com/legal/terms-of-use-bandwidthcom-web-sites/
  description: |-
    The API Specification for Bandwidth's Messaging Platform

    ## Base URL

    `https://messaging.bandwidth.com/api/v2`
servers:
  - url: https://messaging.bandwidth.com/api/v2
    description: Production
paths:
  /users/{accountId}/media:
    get:
      summary: List Media
      description: Gets a list of your media files. No query parameters are supported.
      operationId: listMedia
      tags:
        - Media
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/continuationToken'
      responses:
        '200':
          $ref: '#/components/responses/listMediaResponse'
        '400':
          $ref: '#/components/responses/messagingBadRequestError'
        '401':
          $ref: '#/components/responses/messagingUnauthorizedError'
        '403':
          $ref: '#/components/responses/messagingForbiddenError'
        '404':
          $ref: '#/components/responses/messagingNotFoundError'
        '406':
          $ref: '#/components/responses/messagingNotAcceptableError'
        '415':
          $ref: '#/components/responses/messagingInvalidMediaTypeError'
        '429':
          $ref: '#/components/responses/messagingTooManyRequestsError'
        '500':
          $ref: '#/components/responses/messagingInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: |-
            curl 'https://messaging.bandwidth.com/api/v2/users/9900000/media' \
              -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=' \
              -H 'Continuation-Token: 1XEi2tsFtLo1JbtLwETnM1ZJ+PqAa8w6ENvC5QKvwyrCDYII663Gy5M4s40owR1tjkuWUif6qbWvFtQJR5/ipqbUnfAqL254LKNlPy6tATCzioKSuHuOqgzloDkSwRtX0LtcL2otHS69hK343m+SjdL+vlj71tT39' \
              -H 'Accept: application/json'
        - lang: C#
          source: |
            using System.Collections.Generic;
            using System.Diagnostics;
            using Bandwidth.Standard.Api;
            using Bandwidth.Standard.Client;
            using Bandwidth.Standard.Model;

            namespace Example
            {
                public class ListMediaExample
                {
                    public static void Main()
                    {
                        Configuration config = new Configuration();
                        config.BasePath = "http://localhost";
                        // Configure HTTP basic authorization: Basic
                        config.Username = "YOUR_USERNAME";
                        config.Password = "YOUR_PASSWORD";

                        var apiInstance = new MediaApi(config);
                        var accountId = 9900000;  // string | Your Bandwidth Account ID.
                        var continuationToken = 1XEi2tsFtLo1JbtLwETnM1ZJ+PqAa8w6ENvC5QKvwyrCDYII663Gy5M4s40owR1tjkuWUif6qbWvFtQJR5/ipqbUnfAqL254LKNlPy6tATCzioKSuHuOqgzloDkSwRtX0LtcL2otHS69hK343m+SjdL+vlj71tT39;  // string | Continuation token used to retrieve subsequent media. (optional) 

                        try
                        {
                            // List Media
                            List<Media> result = apiInstance.ListMedia(accountId, continuationToken);
                            Debug.WriteLine(result);
                        }
                        catch (ApiException  e)
                        {
                            Debug.Print("Exception when calling MediaApi.ListMedia: " + e.Message);
                            Debug.Print("Status Code: " + e.ErrorCode);
                            Debug.Print(e.StackTrace);
                        }
                    }
                }
            }
        - lang: Java
          source: |
            // Import classes:
            import com.bandwidth.sdk.ApiClient;
            import com.bandwidth.sdk.ApiException;
            import com.bandwidth.sdk.Configuration;
            import com.bandwidth.sdk.auth.*;
            import com.bandwidth.sdk.models.*;
            import com.bandwidth.sdk.api.MediaApi;

            public class Example {
              public static void main(String[] args) {
                ApiClient defaultClient = Configuration.getDefaultApiClient();
                defaultClient.setBasePath("http://localhost");
                
                // Configure HTTP basic authorization: Basic
                HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication("Basic");
                Basic.setUsername("YOUR USERNAME");
                Basic.setPassword("YOUR PASSWORD");

                MediaApi apiInstance = new MediaApi(defaultClient);
                String accountId = "9900000"; // String | Your Bandwidth Account ID.
                String continuationToken = "1XEi2tsFtLo1JbtLwETnM1ZJ+PqAa8w6ENvC5QKvwyrCDYII663Gy5M4s40owR1tjkuWUif6qbWvFtQJR5/ipqbUnfAqL254LKNlPy6tATCzioKSuHuOqgzloDkSwRtX0LtcL2otHS69hK343m+SjdL+vlj71tT39"; // String | Continuation token used to retrieve subsequent media.
                try {
                  List<Media> result = apiInstance.listMedia(accountId, continuationToken);
                  System.out.println(result);
                } catch (ApiException e) {
                  System.err.println("Exception when calling MediaApi#listMedia");
                  System.err.println("Status code: " + e.getCode());
                  System.err.println("Reason: " + e.getResponseBody());
                  System.err.println("Response headers: " + e.getResponseHeaders());
                  e.printStackTrace();
                }
              }
            }
        - lang: PHP
          source: |
            <?php

            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";

            $config = new BandwidthLib\Configuration(
                array(
                    'messagingBasicAuthUserName' => $BW_USERNAME,
                    'messagingBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $messagingClient = $client->getMessaging()->getClient();

            try {
                $response = $messagingClient->listMedia($BW_ACCOUNT_ID);
                if (count($response->getResult()) > 0) {
                    print_r($response->getResult()[0]->mediaName);
                }
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            }
        - lang: Python
          source: >
            import bandwidth

            from bandwidth.models.media import Media

            from bandwidth.rest import ApiException

            from pprint import pprint


            # Defining the host is optional and defaults to http://localhost

            # See configuration.py for a list of all supported configuration
            parameters.

            configuration = bandwidth.Configuration(
                host = "http://localhost"
            )


            # The client must configure the authentication and authorization
            parameters

            # in accordance with the API server security policy.

            # Examples for each auth method are provided below, use the example
            that

            # satisfies your auth use case.


            # Configure HTTP basic authorization: Basic

            configuration = bandwidth.Configuration(
                username = os.environ["USERNAME"],
                password = os.environ["PASSWORD"]
            )


            # Enter a context with an instance of the API client

            with bandwidth.ApiClient(configuration) as api_client:
                # Create an instance of the API class
                api_instance = bandwidth.MediaApi(api_client)
                account_id = '9900000' # str | Your Bandwidth Account ID.
                continuation_token = '1XEi2tsFtLo1JbtLwETnM1ZJ+PqAa8w6ENvC5QKvwyrCDYII663Gy5M4s40owR1tjkuWUif6qbWvFtQJR5/ipqbUnfAqL254LKNlPy6tATCzioKSuHuOqgzloDkSwRtX0LtcL2otHS69hK343m+SjdL+vlj71tT39' # str | Continuation token used to retrieve subsequent media. (optional)

                try:
                    # List Media
                    api_response = api_instance.list_media(account_id, continuation_token=continuation_token)
                    print("The response of MediaApi->list_media:\n")
                    pprint(api_response)
                except Exception as e:
                    print("Exception when calling MediaApi->list_media: %s\n" % e)
        - lang: Ruby
          source: |
            require 'time'
            require 'bandwidth-sdk'
            # setup authorization
            Bandwidth.configure do |config|
              # Configure HTTP basic authorization: Basic
              config.username = 'YOUR USERNAME'
              config.password = 'YOUR PASSWORD'
            end

            api_instance = Bandwidth::MediaApi.new
            account_id = '9900000' # String | Your Bandwidth Account ID.
            opts = {
              continuation_token: '1XEi2tsFtLo1JbtLwETnM1ZJ+PqAa8w6ENvC5QKvwyrCDYII663Gy5M4s40owR1tjkuWUif6qbWvFtQJR5/ipqbUnfAqL254LKNlPy6tATCzioKSuHuOqgzloDkSwRtX0LtcL2otHS69hK343m+SjdL+vlj71tT39' # String | Continuation token used to retrieve subsequent media.
            }

            begin
              # List Media
              result = api_instance.list_media(account_id, opts)
              p result
            rescue Bandwidth::ApiError => e
              puts "Error when calling MediaApi->list_media: #{e}"
            end
        - lang: TypeScript
          source: >
            import {
                MediaApi,
                Configuration
            } from 'bandwidth-sdk';


            const configuration = new Configuration();

            const apiInstance = new MediaApi(configuration);


            let accountId: string; //Your Bandwidth Account ID. (default to
            undefined)

            let continuationToken: string; //Continuation token used to retrieve
            subsequent media. (optional) (default to undefined)


            const { status, data } = await apiInstance.listMedia(
                accountId,
                continuationToken
            );
  /users/{accountId}/media/{mediaId}:
    get:
      summary: Get Media
      description: Downloads a media file you previously uploaded.
      operationId: getMedia
      tags:
        - Media
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/mediaId'
      responses:
        '200':
          $ref: '#/components/responses/getMediaResponse'
        '400':
          $ref: '#/components/responses/messagingBadRequestError'
        '401':
          $ref: '#/components/responses/messagingUnauthorizedError'
        '403':
          $ref: '#/components/responses/messagingForbiddenError'
        '404':
          $ref: '#/components/responses/messagingNotFoundError'
        '406':
          $ref: '#/components/responses/messagingNotAcceptableError'
        '415':
          $ref: '#/components/responses/messagingInvalidMediaTypeError'
        '429':
          $ref: '#/components/responses/messagingTooManyRequestsError'
        '500':
          $ref: '#/components/responses/messagingInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl
            'https://messaging.bandwidth.com/api/v2/users/9900000/media/14762070468292kw2fuqty55yp2b2/0/bw.png'
            \
              -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=' \
              -H 'Accept: application/octet-stream'
        - lang: C#
          source: |
            using System.Collections.Generic;
            using System.Diagnostics;
            using Bandwidth.Standard.Api;
            using Bandwidth.Standard.Client;
            using Bandwidth.Standard.Model;

            namespace Example
            {
                public class GetMediaExample
                {
                    public static void Main()
                    {
                        Configuration config = new Configuration();
                        config.BasePath = "http://localhost";
                        // Configure HTTP basic authorization: Basic
                        config.Username = "YOUR_USERNAME";
                        config.Password = "YOUR_PASSWORD";

                        var apiInstance = new MediaApi(config);
                        var accountId = 9900000;  // string | Your Bandwidth Account ID.
                        var mediaId = 14762070468292kw2fuqty55yp2b2/0/bw.png;  // string | Media ID to retrieve.

                        try
                        {
                            // Get Media
                            System.IO.Stream result = apiInstance.GetMedia(accountId, mediaId);
                            Debug.WriteLine(result);
                        }
                        catch (ApiException  e)
                        {
                            Debug.Print("Exception when calling MediaApi.GetMedia: " + e.Message);
                            Debug.Print("Status Code: " + e.ErrorCode);
                            Debug.Print(e.StackTrace);
                        }
                    }
                }
            }
        - lang: Java
          source: |
            // Import classes:
            import com.bandwidth.sdk.ApiClient;
            import com.bandwidth.sdk.ApiException;
            import com.bandwidth.sdk.Configuration;
            import com.bandwidth.sdk.auth.*;
            import com.bandwidth.sdk.models.*;
            import com.bandwidth.sdk.api.MediaApi;

            public class Example {
              public static void main(String[] args) {
                ApiClient defaultClient = Configuration.getDefaultApiClient();
                defaultClient.setBasePath("http://localhost");
                
                // Configure HTTP basic authorization: Basic
                HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication("Basic");
                Basic.setUsername("YOUR USERNAME");
                Basic.setPassword("YOUR PASSWORD");

                MediaApi apiInstance = new MediaApi(defaultClient);
                String accountId = "9900000"; // String | Your Bandwidth Account ID.
                String mediaId = "14762070468292kw2fuqty55yp2b2/0/bw.png"; // String | Media ID to retrieve.
                try {
                  File result = apiInstance.getMedia(accountId, mediaId);
                  System.out.println(result);
                } catch (ApiException e) {
                  System.err.println("Exception when calling MediaApi#getMedia");
                  System.err.println("Status code: " + e.getCode());
                  System.err.println("Reason: " + e.getResponseBody());
                  System.err.println("Response headers: " + e.getResponseHeaders());
                  e.printStackTrace();
                }
              }
            }
        - lang: PHP
          source: |
            <?php

            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";

            $config = new BandwidthLib\Configuration(
                array(
                    'messagingBasicAuthUserName' => $BW_USERNAME,
                    'messagingBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $messagingClient = $client->getMessaging()->getClient();

            $mediaFileName = "media-id-123";

            try {
                $response = $messagingClient->getMedia($BW_ACCOUNT_ID, $mediaFileName);
                $downloadedMediaFile = $response->getResult();
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            }
        - lang: Python
          source: >
            import bandwidth

            from bandwidth.rest import ApiException

            from pprint import pprint


            # Defining the host is optional and defaults to http://localhost

            # See configuration.py for a list of all supported configuration
            parameters.

            configuration = bandwidth.Configuration(
                host = "http://localhost"
            )


            # The client must configure the authentication and authorization
            parameters

            # in accordance with the API server security policy.

            # Examples for each auth method are provided below, use the example
            that

            # satisfies your auth use case.


            # Configure HTTP basic authorization: Basic

            configuration = bandwidth.Configuration(
                username = os.environ["USERNAME"],
                password = os.environ["PASSWORD"]
            )


            # Enter a context with an instance of the API client

            with bandwidth.ApiClient(configuration) as api_client:
                # Create an instance of the API class
                api_instance = bandwidth.MediaApi(api_client)
                account_id = '9900000' # str | Your Bandwidth Account ID.
                media_id = '14762070468292kw2fuqty55yp2b2/0/bw.png' # str | Media ID to retrieve.

                try:
                    # Get Media
                    api_response = api_instance.get_media(account_id, media_id)
                    print("The response of MediaApi->get_media:\n")
                    pprint(api_response)
                except Exception as e:
                    print("Exception when calling MediaApi->get_media: %s\n" % e)
        - lang: Ruby
          source: >
            require 'time'

            require 'bandwidth-sdk'

            # setup authorization

            Bandwidth.configure do |config|
              # Configure HTTP basic authorization: Basic
              config.username = 'YOUR USERNAME'
              config.password = 'YOUR PASSWORD'
            end


            api_instance = Bandwidth::MediaApi.new

            account_id = '9900000' # String | Your Bandwidth Account ID.

            media_id = '14762070468292kw2fuqty55yp2b2/0/bw.png' # String | Media
            ID to retrieve.


            begin
              # Get Media
              result = api_instance.get_media(account_id, media_id)
              p result
            rescue Bandwidth::ApiError => e
              puts "Error when calling MediaApi->get_media: #{e}"
            end
        - lang: TypeScript
          source: >
            import {
                MediaApi,
                Configuration
            } from 'bandwidth-sdk';


            const configuration = new Configuration();

            const apiInstance = new MediaApi(configuration);


            let accountId: string; //Your Bandwidth Account ID. (default to
            undefined)

            let mediaId: string; //Media ID to retrieve. (default to undefined)


            const { status, data } = await apiInstance.getMedia(
                accountId,
                mediaId
            );
    put:
      summary: Upload Media
      description: >-
        Upload a file. You may add headers to the request in order to provide
        some control to your media file.


        If a file is uploaded with the same name as a file that already exists
        under this account, the previous file will be overwritten.


        A list of supported media types can be found
        [here](https://support.bandwidth.com/hc/en-us/articles/360014128994-What-MMS-file-types-are-supported-).
      operationId: uploadMedia
      tags:
        - Media
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/mediaId'
        - $ref: '#/components/parameters/contentType'
        - $ref: '#/components/parameters/cacheControl'
      requestBody:
        $ref: '#/components/requestBodies/uploadMediaRequest'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/messagingBadRequestError'
        '401':
          $ref: '#/components/responses/messagingUnauthorizedError'
        '403':
          $ref: '#/components/responses/messagingForbiddenError'
        '404':
          $ref: '#/components/responses/messagingNotFoundError'
        '406':
          $ref: '#/components/responses/messagingNotAcceptableError'
        '415':
          $ref: '#/components/responses/messagingInvalidMediaTypeError'
        '429':
          $ref: '#/components/responses/messagingTooManyRequestsError'
        '500':
          $ref: '#/components/responses/messagingInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >
            curl -X PUT
            'https://messaging.bandwidth.com/api/v2/users/9900000/media/14762070468292kw2fuqty55yp2b2/0/bw.png'
            \
              -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=' \
              -H 'Content-Type: image/png' \
              --data-binary '@/path/to/image/bw.png'
        - lang: C#
          source: |
            using System.Collections.Generic;
            using System.Diagnostics;
            using Bandwidth.Standard.Api;
            using Bandwidth.Standard.Client;
            using Bandwidth.Standard.Model;

            namespace Example
            {
                public class UploadMediaExample
                {
                    public static void Main()
                    {
                        Configuration config = new Configuration();
                        config.BasePath = "http://localhost";
                        // Configure HTTP basic authorization: Basic
                        config.Username = "YOUR_USERNAME";
                        config.Password = "YOUR_PASSWORD";

                        var apiInstance = new MediaApi(config);
                        var accountId = 9900000;  // string | Your Bandwidth Account ID.
                        var mediaId = 14762070468292kw2fuqty55yp2b2/0/bw.png;  // string | Media ID to retrieve.
                        var body = new System.IO.MemoryStream(System.IO.File.ReadAllBytes("/path/to/file.txt"));  // System.IO.Stream | 
                        var contentType = audio/wav;  // string | The media type of the entity-body. (optional) 
                        var cacheControl = no-cache;  // string | General-header field is used to specify directives that MUST be obeyed by all caching mechanisms along the request/response chain. (optional) 

                        try
                        {
                            // Upload Media
                            apiInstance.UploadMedia(accountId, mediaId, body, contentType, cacheControl);
                        }
                        catch (ApiException  e)
                        {
                            Debug.Print("Exception when calling MediaApi.UploadMedia: " + e.Message);
                            Debug.Print("Status Code: " + e.ErrorCode);
                            Debug.Print(e.StackTrace);
                        }
                    }
                }
            }
        - lang: Java
          source: |
            // Import classes:
            import com.bandwidth.sdk.ApiClient;
            import com.bandwidth.sdk.ApiException;
            import com.bandwidth.sdk.Configuration;
            import com.bandwidth.sdk.auth.*;
            import com.bandwidth.sdk.models.*;
            import com.bandwidth.sdk.api.MediaApi;

            public class Example {
              public static void main(String[] args) {
                ApiClient defaultClient = Configuration.getDefaultApiClient();
                defaultClient.setBasePath("http://localhost");
                
                // Configure HTTP basic authorization: Basic
                HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication("Basic");
                Basic.setUsername("YOUR USERNAME");
                Basic.setPassword("YOUR PASSWORD");

                MediaApi apiInstance = new MediaApi(defaultClient);
                String accountId = "9900000"; // String | Your Bandwidth Account ID.
                String mediaId = "14762070468292kw2fuqty55yp2b2/0/bw.png"; // String | Media ID to retrieve.
                File body = new File("/path/to/file"); // File | 
                String contentType = "audio/wav"; // String | The media type of the entity-body.
                String cacheControl = "no-cache"; // String | General-header field is used to specify directives that MUST be obeyed by all caching mechanisms along the request/response chain.
                try {
                  apiInstance.uploadMedia(accountId, mediaId, body, contentType, cacheControl);
                } catch (ApiException e) {
                  System.err.println("Exception when calling MediaApi#uploadMedia");
                  System.err.println("Status code: " + e.getCode());
                  System.err.println("Reason: " + e.getResponseBody());
                  System.err.println("Response headers: " + e.getResponseHeaders());
                  e.printStackTrace();
                }
              }
            }
        - lang: PHP
          source: >
            <?php


            require "vendor/autoload.php";


            api-username = "api-username";

            api-password = "api-pasword";

            12345 = "12345";


            $config = new BandwidthLib\Configuration(
                array(
                    'messagingBasicAuthUserName' => $BW_USERNAME,
                    'messagingBasicAuthPassword' => $BW_PASSWORD,
                )
            );

            $client = new BandwidthLib\BandwidthClient($config);


            $messagingClient = $client->getMessaging()->getClient();


            $mediaFileName = "sample_file_name";

            $mediaFile = "12345"; //Any binary string will work for the upload.
            This includes file contents


            try {
                $messagingClient->uploadMedia($BW_ACCOUNT_ID, $mediaFileName, $mediaFile);
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            }
        - lang: Python
          source: >
            import bandwidth

            from bandwidth.rest import ApiException

            from pprint import pprint


            # Defining the host is optional and defaults to http://localhost

            # See configuration.py for a list of all supported configuration
            parameters.

            configuration = bandwidth.Configuration(
                host = "http://localhost"
            )


            # The client must configure the authentication and authorization
            parameters

            # in accordance with the API server security policy.

            # Examples for each auth method are provided below, use the example
            that

            # satisfies your auth use case.


            # Configure HTTP basic authorization: Basic

            configuration = bandwidth.Configuration(
                username = os.environ["USERNAME"],
                password = os.environ["PASSWORD"]
            )


            # Enter a context with an instance of the API client

            with bandwidth.ApiClient(configuration) as api_client:
                # Create an instance of the API class
                api_instance = bandwidth.MediaApi(api_client)
                account_id = '9900000' # str | Your Bandwidth Account ID.
                media_id = '14762070468292kw2fuqty55yp2b2/0/bw.png' # str | Media ID to retrieve.
                body = None # bytearray | 
                content_type = 'audio/wav' # str | The media type of the entity-body. (optional)
                cache_control = 'no-cache' # str | General-header field is used to specify directives that MUST be obeyed by all caching mechanisms along the request/response chain. (optional)

                try:
                    # Upload Media
                    api_instance.upload_media(account_id, media_id, body, content_type=content_type, cache_control=cache_control)
                except Exception as e:
                    print("Exception when calling MediaApi->upload_media: %s\n" % e)
        - lang: Ruby
          source: >
            require 'time'

            require 'bandwidth-sdk'

            # setup authorization

            Bandwidth.configure do |config|
              # Configure HTTP basic authorization: Basic
              config.username = 'YOUR USERNAME'
              config.password = 'YOUR PASSWORD'
            end


            api_instance = Bandwidth::MediaApi.new

            account_id = '9900000' # String | Your Bandwidth Account ID.

            media_id = '14762070468292kw2fuqty55yp2b2/0/bw.png' # String | Media
            ID to retrieve.

            body = File.new('/path/to/some/file') # File | 

            opts = {
              content_type: 'audio/wav', # String | The media type of the entity-body.
              cache_control: 'no-cache' # String | General-header field is used to specify directives that MUST be obeyed by all caching mechanisms along the request/response chain.
            }


            begin
              # Upload Media
              api_instance.upload_media(account_id, media_id, body, opts)
            rescue Bandwidth::ApiError => e
              puts "Error when calling MediaApi->upload_media: #{e}"
            end
        - lang: TypeScript
          source: >
            import {
                MediaApi,
                Configuration
            } from 'bandwidth-sdk';


            const configuration = new Configuration();

            const apiInstance = new MediaApi(configuration);


            let accountId: string; //Your Bandwidth Account ID. (default to
            undefined)

            let mediaId: string; //Media ID to retrieve. (default to undefined)

            let body: File; //

            let contentType: string; //The media type of the entity-body.
            (optional) (default to undefined)

            let cacheControl: string; //General-header field is used to specify
            directives that MUST be obeyed by all caching mechanisms along the
            request/response chain. (optional) (default to undefined)


            const { status, data } = await apiInstance.uploadMedia(
                accountId,
                mediaId,
                body,
                contentType,
                cacheControl
            );
    delete:
      summary: Delete Media
      description: |-
        Deletes a media file from Bandwidth API server. Make sure you don't have
        any application scripts still using the media before you delete.

        If you accidentally delete a media file you can immediately upload a new
        file with the same name.
      operationId: deleteMedia
      tags:
        - Media
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/mediaId'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/messagingBadRequestError'
        '401':
          $ref: '#/components/responses/messagingUnauthorizedError'
        '403':
          $ref: '#/components/responses/messagingForbiddenError'
        '404':
          $ref: '#/components/responses/messagingNotFoundError'
        '406':
          $ref: '#/components/responses/messagingNotAcceptableError'
        '415':
          $ref: '#/components/responses/messagingInvalidMediaTypeError'
        '429':
          $ref: '#/components/responses/messagingTooManyRequestsError'
        '500':
          $ref: '#/components/responses/messagingInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl -X DELETE
            'https://messaging.bandwidth.com/api/v2/users/9900000/media/14762070468292kw2fuqty55yp2b2/0/bw.png'
            \
              -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=' \
              -H 'Accept: application/json'
        - lang: C#
          source: |
            using System.Collections.Generic;
            using System.Diagnostics;
            using Bandwidth.Standard.Api;
            using Bandwidth.Standard.Client;
            using Bandwidth.Standard.Model;

            namespace Example
            {
                public class DeleteMediaExample
                {
                    public static void Main()
                    {
                        Configuration config = new Configuration();
                        config.BasePath = "http://localhost";
                        // Configure HTTP basic authorization: Basic
                        config.Username = "YOUR_USERNAME";
                        config.Password = "YOUR_PASSWORD";

                        var apiInstance = new MediaApi(config);
                        var accountId = 9900000;  // string | Your Bandwidth Account ID.
                        var mediaId = 14762070468292kw2fuqty55yp2b2/0/bw.png;  // string | Media ID to retrieve.

                        try
                        {
                            // Delete Media
                            apiInstance.DeleteMedia(accountId, mediaId);
                        }
                        catch (ApiException  e)
                        {
                            Debug.Print("Exception when calling MediaApi.DeleteMedia: " + e.Message);
                            Debug.Print("Status Code: " + e.ErrorCode);
                            Debug.Print(e.StackTrace);
                        }
                    }
                }
            }
        - lang: Java
          source: |
            // Import classes:
            import com.bandwidth.sdk.ApiClient;
            import com.bandwidth.sdk.ApiException;
            import com.bandwidth.sdk.Configuration;
            import com.bandwidth.sdk.auth.*;
            import com.bandwidth.sdk.models.*;
            import com.bandwidth.sdk.api.MediaApi;

            public class Example {
              public static void main(String[] args) {
                ApiClient defaultClient = Configuration.getDefaultApiClient();
                defaultClient.setBasePath("http://localhost");
                
                // Configure HTTP basic authorization: Basic
                HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication("Basic");
                Basic.setUsername("YOUR USERNAME");
                Basic.setPassword("YOUR PASSWORD");

                MediaApi apiInstance = new MediaApi(defaultClient);
                String accountId = "9900000"; // String | Your Bandwidth Account ID.
                String mediaId = "14762070468292kw2fuqty55yp2b2/0/bw.png"; // String | Media ID to retrieve.
                try {
                  apiInstance.deleteMedia(accountId, mediaId);
                } catch (ApiException e) {
                  System.err.println("Exception when calling MediaApi#deleteMedia");
                  System.err.println("Status code: " + e.getCode());
                  System.err.println("Reason: " + e.getResponseBody());
                  System.err.println("Response headers: " + e.getResponseHeaders());
                  e.printStackTrace();
                }
              }
            }
        - lang: PHP
          source: |
            <?php
              
            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";
            1234-asdf = "1234-asdf";
            +15554443333 = "+15554443333";
            +15553334444 = "+15553334444";

            $config = new BandwidthLib\Configuration(
                array(
                    'messagingBasicAuthUserName' => $BW_USERNAME,
                    'messagingBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $messagingClient = $client->getMessaging()->getClient();

            $mediaId = "m-1234";

            try {
                $messagingClient->deleteMedia($BW_ACCOUNT_ID, $mediaId);
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            }
        - lang: Python
          source: >
            import bandwidth

            from bandwidth.rest import ApiException

            from pprint import pprint


            # Defining the host is optional and defaults to http://localhost

            # See configuration.py for a list of all supported configuration
            parameters.

            configuration = bandwidth.Configuration(
                host = "http://localhost"
            )


            # The client must configure the authentication and authorization
            parameters

            # in accordance with the API server security policy.

            # Examples for each auth method are provided below, use the example
            that

            # satisfies your auth use case.


            # Configure HTTP basic authorization: Basic

            configuration = bandwidth.Configuration(
                username = os.environ["USERNAME"],
                password = os.environ["PASSWORD"]
            )


            # Enter a context with an instance of the API client

            with bandwidth.ApiClient(configuration) as api_client:
                # Create an instance of the API class
                api_instance = bandwidth.MediaApi(api_client)
                account_id = '9900000' # str | Your Bandwidth Account ID.
                media_id = '14762070468292kw2fuqty55yp2b2/0/bw.png' # str | Media ID to retrieve.

                try:
                    # Delete Media
                    api_instance.delete_media(account_id, media_id)
                except Exception as e:
                    print("Exception when calling MediaApi->delete_media: %s\n" % e)
        - lang: Ruby
          source: >
            require 'time'

            require 'bandwidth-sdk'

            # setup authorization

            Bandwidth.configure do |config|
              # Configure HTTP basic authorization: Basic
              config.username = 'YOUR USERNAME'
              config.password = 'YOUR PASSWORD'
            end


            api_instance = Bandwidth::MediaApi.new

            account_id = '9900000' # String | Your Bandwidth Account ID.

            media_id = '14762070468292kw2fuqty55yp2b2/0/bw.png' # String | Media
            ID to retrieve.


            begin
              # Delete Media
              api_instance.delete_media(account_id, media_id)
            rescue Bandwidth::ApiError => e
              puts "Error when calling MediaApi->delete_media: #{e}"
            end
        - lang: TypeScript
          source: >
            import {
                MediaApi,
                Configuration
            } from 'bandwidth-sdk';


            const configuration = new Configuration();

            const apiInstance = new MediaApi(configuration);


            let accountId: string; //Your Bandwidth Account ID. (default to
            undefined)

            let mediaId: string; //Media ID to retrieve. (default to undefined)


            const { status, data } = await apiInstance.deleteMedia(
                accountId,
                mediaId
            );
  /users/{accountId}/messages:
    get:
      summary: List Messages
      description: >
        Returns a list of messages based on query parameters.


        **Rate Limit:** This endpoint is rate limited to 3500 requests per 5
        minutes per Source IP address. Exceeding the limit returns HTTP 429 with
        a `Retry-After` header.
      operationId: listMessages
      tags:
        - Messages
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/messageId'
        - $ref: '#/components/parameters/sourceTn'
        - $ref: '#/components/parameters/destinationTn'
        - $ref: '#/components/parameters/messageStatus'
        - $ref: '#/components/parameters/messageDirection'
        - $ref: '#/components/parameters/carrierName'
        - $ref: '#/components/parameters/messageType'
        - $ref: '#/components/parameters/errorCode'
        - $ref: '#/components/parameters/fromDateTime'
        - $ref: '#/components/parameters/toDateTime'
        - $ref: '#/components/parameters/campaignId'
        - $ref: '#/components/parameters/fromBwLatency'
        - $ref: '#/components/parameters/bwQueued'
        - $ref: '#/components/parameters/product'
        - $ref: '#/components/parameters/location'
        - $ref: '#/components/parameters/carrierQueued'
        - $ref: '#/components/parameters/fromCarrierLatency'
        - $ref: '#/components/parameters/callingNumberCountryA3'
        - $ref: '#/components/parameters/calledNumberCountryA3'
        - $ref: '#/components/parameters/fromSegmentCount'
        - $ref: '#/components/parameters/toSegmentCount'
        - $ref: '#/components/parameters/fromMessageSize'
        - $ref: '#/components/parameters/toMessageSize'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/limitTotalCount'
      responses:
        '200':
          $ref: '#/components/responses/listMessagesResponse'
        '400':
          $ref: '#/components/responses/messagingBadRequestError'
        '401':
          $ref: '#/components/responses/messagingUnauthorizedError'
        '403':
          $ref: '#/components/responses/messagingForbiddenError'
        '404':
          $ref: '#/components/responses/messagingNotFoundError'
        '405':
          $ref: '#/components/responses/messagingMethodNotAllowedError'
        '415':
          $ref: '#/components/responses/messagingInvalidMediaTypeError'
        '429':
          $ref: '#/components/responses/listMessagesTooManyRequestsError'
        '500':
          $ref: '#/components/responses/messagingInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl
            'https://messaging.bandwidth.com/api/v2/users/9900000/messages?messageId=9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6&sourceTn=%2B15554443333&destinationTn=%2B15554443333&messageStatus=RECEIVED&messageDirection=INBOUND&carrierName=Verizon&messageType=sms&errorCode=9902&fromDateTime=2022-09-14T18%3A20%3A16.000Z&toDateTime=2022-09-14T18%3A20%3A16.000Z&campaignId=CJEUMDK&sort=sourceTn%3Adesc&pageToken=gdEewhcJLQRB5&limit=50&limitTotalCount=true'
            \
              -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=' \
              -H 'Accept: application/json'
        - lang: C#
          source: |
            using System.Collections.Generic;
            using System.Diagnostics;
            using Bandwidth.Standard.Api;
            using Bandwidth.Standard.Client;
            using Bandwidth.Standard.Model;

            namespace Example
            {
                public class ListMessagesExample
                {
                    public static void Main()
                    {
                        Configuration config = new Configuration();
                        config.BasePath = "http://localhost";
                        // Configure HTTP basic authorization: Basic
                        config.Username = "YOUR_USERNAME";
                        config.Password = "YOUR_PASSWORD";

                        var apiInstance = new MessagesApi(config);
                        var accountId = 9900000;  // string | Your Bandwidth Account ID.
                        var messageId = 9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6;  // string | The ID of the message to search for. Special characters need to be encoded using URL encoding. Message IDs could come in different formats, e.g., 9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6 and 1589228074636lm4k2je7j7jklbn2 are valid message ID formats. Note that you must include at least one query parameter. (optional) 
                        var sourceTn = %2B15554443333;  // string | The phone number that sent the message. Accepted values are: a single full phone number a comma separated list of full phone numbers (maximum of 10) or a single partial phone number (minimum of 5 characters e.g. '%2B1919'). (optional) 
                        var destinationTn = %2B15554443333;  // string | The phone number that received the message. Accepted values are: a single full phone number a comma separated list of full phone numbers (maximum of 10) or a single partial phone number (minimum of 5 characters e.g. '%2B1919'). (optional) 
                        var messageStatus = (MessageStatusEnum) "RECEIVED";  // MessageStatusEnum? | The status of the message. One of RECEIVED QUEUED SENDING SENT FAILED DELIVERED ACCEPTED UNDELIVERED. (optional) 
                        var messageDirection = (ListMessageDirectionEnum) "INBOUND";  // ListMessageDirectionEnum? | The direction of the message. One of INBOUND OUTBOUND. (optional) 
                        var carrierName = Verizon;  // string | The name of the carrier used for this message. Possible values include but are not limited to Verizon and TMobile. Special characters need to be encoded using URL encoding (i.e. AT&T should be passed as AT%26T). (optional) 
                        var messageType = (MessageTypeEnum) "sms";  // MessageTypeEnum? | The type of message. Either sms or mms. (optional) 
                        var errorCode = 9902;  // int? | The error code of the message. (optional) 
                        var fromDateTime = 2022-09-14T18:20:16.000Z;  // string | The start of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days. (optional) 
                        var toDateTime = 2022-09-14T18:20:16.000Z;  // string | The end of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days. (optional) 
                        var campaignId = CJEUMDK;  // string | The campaign ID of the message. (optional) 
                        var sort = sourceTn:desc;  // string | The field and direction to sort by combined with a colon. Direction is either asc or desc. (optional) 
                        var pageToken = gdEewhcJLQRB5;  // string | A base64 encoded value used for pagination of results. (optional) 
                        var limit = 50;  // int? | The maximum records requested in search result. Default 100. The sum of limit and after cannot be more than 10000. (optional) 
                        var limitTotalCount = true;  // bool? | When set to true, the response's totalCount field will have a maximum value of 10,000. When set to false, or excluded, this will give an accurate totalCount of all messages that match the provided filters. If you are experiencing latency, try using this parameter to limit your results. (optional) 

                        try
                        {
                            // List Messages
                            MessagesList result = apiInstance.ListMessages(accountId, messageId, sourceTn, destinationTn, messageStatus, messageDirection, carrierName, messageType, errorCode, fromDateTime, toDateTime, campaignId, sort, pageToken, limit, limitTotalCount);
                            Debug.WriteLine(result);
                        }
                        catch (ApiException  e)
                        {
                            Debug.Print("Exception when calling MessagesApi.ListMessages: " + e.Message);
                            Debug.Print("Status Code: " + e.ErrorCode);
                            Debug.Print(e.StackTrace);
                        }
                    }
                }
            }
        - lang: Java
          source: |
            // Import classes:
            import com.bandwidth.sdk.ApiClient;
            import com.bandwidth.sdk.ApiException;
            import com.bandwidth.sdk.Configuration;
            import com.bandwidth.sdk.auth.*;
            import com.bandwidth.sdk.models.*;
            import com.bandwidth.sdk.api.MessagesApi;

            public class Example {
              public static void main(String[] args) {
                ApiClient defaultClient = Configuration.getDefaultApiClient();
                defaultClient.setBasePath("http://localhost");
                
                // Configure HTTP basic authorization: Basic
                HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication("Basic");
                Basic.setUsername("YOUR USERNAME");
                Basic.setPassword("YOUR PASSWORD");

                MessagesApi apiInstance = new MessagesApi(defaultClient);
                String accountId = "9900000"; // String | Your Bandwidth Account ID.
                String messageId = "9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6"; // String | The ID of the message to search for. Special characters need to be encoded using URL encoding. Message IDs could come in different formats, e.g., 9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6 and 1589228074636lm4k2je7j7jklbn2 are valid message ID formats. Note that you must include at least one query parameter.
                String sourceTn = "%2B15554443333"; // String | The phone number that sent the message. Accepted values are: a single full phone number a comma separated list of full phone numbers (maximum of 10) or a single partial phone number (minimum of 5 characters e.g. '%2B1919').
                String destinationTn = "%2B15554443333"; // String | The phone number that received the message. Accepted values are: a single full phone number a comma separated list of full phone numbers (maximum of 10) or a single partial phone number (minimum of 5 characters e.g. '%2B1919').
                MessageStatusEnum messageStatus = MessageStatusEnum.fromValue("RECEIVED"); // MessageStatusEnum | The status of the message. One of RECEIVED QUEUED SENDING SENT FAILED DELIVERED ACCEPTED UNDELIVERED.
                ListMessageDirectionEnum messageDirection = ListMessageDirectionEnum.fromValue("INBOUND"); // ListMessageDirectionEnum | The direction of the message. One of INBOUND OUTBOUND.
                String carrierName = "Verizon"; // String | The name of the carrier used for this message. Possible values include but are not limited to Verizon and TMobile. Special characters need to be encoded using URL encoding (i.e. AT&T should be passed as AT%26T).
                MessageTypeEnum messageType = MessageTypeEnum.fromValue("sms"); // MessageTypeEnum | The type of message. Either sms or mms.
                Integer errorCode = 9902; // Integer | The error code of the message.
                String fromDateTime = "2022-09-14T18:20:16.000Z"; // String | The start of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days.
                String toDateTime = "2022-09-14T18:20:16.000Z"; // String | The end of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days.
                String campaignId = "CJEUMDK"; // String | The campaign ID of the message.
                String sort = "sourceTn:desc"; // String | The field and direction to sort by combined with a colon. Direction is either asc or desc.
                String pageToken = "gdEewhcJLQRB5"; // String | A base64 encoded value used for pagination of results.
                Integer limit = 50; // Integer | The maximum records requested in search result. Default 100. The sum of limit and after cannot be more than 10000.
                Boolean limitTotalCount = true; // Boolean | When set to true, the response's totalCount field will have a maximum value of 10,000. When set to false, or excluded, this will give an accurate totalCount of all messages that match the provided filters. If you are experiencing latency, try using this parameter to limit your results.
                try {
                  MessagesList result = apiInstance.listMessages(accountId, messageId, sourceTn, destinationTn, messageStatus, messageDirection, carrierName, messageType, errorCode, fromDateTime, toDateTime, campaignId, sort, pageToken, limit, limitTotalCount);
                  System.out.println(result);
                } catch (ApiException e) {
                  System.err.println("Exception when calling MessagesApi#listMessages");
                  System.err.println("Status code: " + e.getCode());
                  System.err.println("Reason: " + e.getResponseBody());
                  System.err.println("Response headers: " + e.getResponseHeaders());
                  e.printStackTrace();
                }
              }
            }
        - lang: PHP
          source: |
            <?php

            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";
            +15554443333 = "+15554443333";

            $config = new BandwidthLib\Configuration(
                array(
                    'messagingBasicAuthUserName' => $BW_USERNAME,
                    'messagingBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $messagingClient = $client->getMessaging()->getClient();

            try {
                $response = $messagingClient->getMessages($BW_ACCOUNT_ID, $sourceTn = $BW_NUMBER);
                print_r($response->getResult()->totalCount);
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            }
        - lang: Python
          source: >
            import bandwidth

            from bandwidth.models.list_message_direction_enum import
            ListMessageDirectionEnum

            from bandwidth.models.message_status_enum import MessageStatusEnum

            from bandwidth.models.message_type_enum import MessageTypeEnum

            from bandwidth.models.messages_list import MessagesList

            from bandwidth.rest import ApiException

            from pprint import pprint


            # Defining the host is optional and defaults to http://localhost

            # See configuration.py for a list of all supported configuration
            parameters.

            configuration = bandwidth.Configuration(
                host = "http://localhost"
            )


            # The client must configure the authentication and authorization
            parameters

            # in accordance with the API server security policy.

            # Examples for each auth method are provided below, use the example
            that

            # satisfies your auth use case.


            # Configure HTTP basic authorization: Basic

            configuration = bandwidth.Configuration(
                username = os.environ["USERNAME"],
                password = os.environ["PASSWORD"]
            )


            # Enter a context with an instance of the API client

            with bandwidth.ApiClient(configuration) as api_client:
                # Create an instance of the API class
                api_instance = bandwidth.MessagesApi(api_client)
                account_id = '9900000' # str | Your Bandwidth Account ID.
                message_id = '9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6' # str | The ID of the message to search for. Special characters need to be encoded using URL encoding. Message IDs could come in different formats, e.g., 9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6 and 1589228074636lm4k2je7j7jklbn2 are valid message ID formats. Note that you must include at least one query parameter. (optional)
                source_tn = '%2B15554443333' # str | The phone number that sent the message. Accepted values are: a single full phone number a comma separated list of full phone numbers (maximum of 10) or a single partial phone number (minimum of 5 characters e.g. '%2B1919'). (optional)
                destination_tn = '%2B15554443333' # str | The phone number that received the message. Accepted values are: a single full phone number a comma separated list of full phone numbers (maximum of 10) or a single partial phone number (minimum of 5 characters e.g. '%2B1919'). (optional)
                message_status = bandwidth.MessageStatusEnum() # MessageStatusEnum | The status of the message. One of RECEIVED QUEUED SENDING SENT FAILED DELIVERED ACCEPTED UNDELIVERED. (optional)
                message_direction = bandwidth.ListMessageDirectionEnum() # ListMessageDirectionEnum | The direction of the message. One of INBOUND OUTBOUND. (optional)
                carrier_name = 'Verizon' # str | The name of the carrier used for this message. Possible values include but are not limited to Verizon and TMobile. Special characters need to be encoded using URL encoding (i.e. AT&T should be passed as AT%26T). (optional)
                message_type = bandwidth.MessageTypeEnum() # MessageTypeEnum | The type of message. Either sms or mms. (optional)
                error_code = 9902 # int | The error code of the message. (optional)
                from_date_time = '2022-09-14T18:20:16.000Z' # str | The start of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days. (optional)
                to_date_time = '2022-09-14T18:20:16.000Z' # str | The end of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days. (optional)
                campaign_id = 'CJEUMDK' # str | The campaign ID of the message. (optional)
                sort = 'sourceTn:desc' # str | The field and direction to sort by combined with a colon. Direction is either asc or desc. (optional)
                page_token = 'gdEewhcJLQRB5' # str | A base64 encoded value used for pagination of results. (optional)
                limit = 50 # int | The maximum records requested in search result. Default 100. The sum of limit and after cannot be more than 10000. (optional)
                limit_total_count = true # bool | When set to true, the response's totalCount field will have a maximum value of 10,000. When set to false, or excluded, this will give an accurate totalCount of all messages that match the provided filters. If you are experiencing latency, try using this parameter to limit your results. (optional)

                try:
                    # List Messages
                    api_response = api_instance.list_messages(account_id, message_id=message_id, source_tn=source_tn, destination_tn=destination_tn, message_status=message_status, message_direction=message_direction, carrier_name=carrier_name, message_type=message_type, error_code=error_code, from_date_time=from_date_time, to_date_time=to_date_time, campaign_id=campaign_id, sort=sort, page_token=page_token, limit=limit, limit_total_count=limit_total_count)
                    print("The response of MessagesApi->list_messages:\n")
                    pprint(api_response)
                except Exception as e:
                    print("Exception when calling MessagesApi->list_messages: %s\n" % e)
        - lang: Ruby
          source: |
            require 'time'
            require 'bandwidth-sdk'
            # setup authorization
            Bandwidth.configure do |config|
              # Configure HTTP basic authorization: Basic
              config.username = 'YOUR USERNAME'
              config.password = 'YOUR PASSWORD'
            end

            api_instance = Bandwidth::MessagesApi.new
            account_id = '9900000' # String | Your Bandwidth Account ID.
            opts = {
              message_id: '9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6', # String | The ID of the message to search for. Special characters need to be encoded using URL encoding. Message IDs could come in different formats, e.g., 9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6 and 1589228074636lm4k2je7j7jklbn2 are valid message ID formats. Note that you must include at least one query parameter.
              source_tn: '%2B15554443333', # String | The phone number that sent the message. Accepted values are: a single full phone number a comma separated list of full phone numbers (maximum of 10) or a single partial phone number (minimum of 5 characters e.g. '%2B1919').
              destination_tn: '%2B15554443333', # String | The phone number that received the message. Accepted values are: a single full phone number a comma separated list of full phone numbers (maximum of 10) or a single partial phone number (minimum of 5 characters e.g. '%2B1919').
              message_status: Bandwidth::MessageStatusEnum::RECEIVED, # MessageStatusEnum | The status of the message. One of RECEIVED QUEUED SENDING SENT FAILED DELIVERED ACCEPTED UNDELIVERED.
              message_direction: Bandwidth::ListMessageDirectionEnum::INBOUND, # ListMessageDirectionEnum | The direction of the message. One of INBOUND OUTBOUND.
              carrier_name: 'Verizon', # String | The name of the carrier used for this message. Possible values include but are not limited to Verizon and TMobile. Special characters need to be encoded using URL encoding (i.e. AT&T should be passed as AT%26T).
              message_type: Bandwidth::MessageTypeEnum::SMS, # MessageTypeEnum | The type of message. Either sms or mms.
              error_code: 9902, # Integer | The error code of the message.
              from_date_time: '2022-09-14T18:20:16.000Z', # String | The start of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days.
              to_date_time: '2022-09-14T18:20:16.000Z', # String | The end of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days.
              campaign_id: 'CJEUMDK', # String | The campaign ID of the message.
              sort: 'sourceTn:desc', # String | The field and direction to sort by combined with a colon. Direction is either asc or desc.
              page_token: 'gdEewhcJLQRB5', # String | A base64 encoded value used for pagination of results.
              limit: 50, # Integer | The maximum records requested in search result. Default 100. The sum of limit and after cannot be more than 10000.
              limit_total_count: true # Boolean | When set to true, the response's totalCount field will have a maximum value of 10,000. When set to false, or excluded, this will give an accurate totalCount of all messages that match the provided filters. If you are experiencing latency, try using this parameter to limit your results.
            }

            begin
              # List Messages
              result = api_instance.list_messages(account_id, opts)
              p result
            rescue Bandwidth::ApiError => e
              puts "Error when calling MessagesApi->list_messages: #{e}"
            end
        - lang: TypeScript
          source: >
            import {
                MessagesApi,
                Configuration
            } from 'bandwidth-sdk';


            const configuration = new Configuration();

            const apiInstance = new MessagesApi(configuration);


            let accountId: string; //Your Bandwidth Account ID. (default to
            undefined)

            let messageId: string; //The ID of the message to search for.
            Special characters need to be encoded using URL encoding. Message
            IDs could come in different formats, e.g.,
            9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6 and
            1589228074636lm4k2je7j7jklbn2 are valid message ID formats. Note
            that you must include at least one query parameter. (optional)
            (default to undefined)

            let sourceTn: string; //The phone number that sent the message.
            Accepted values are: a single full phone number a comma separated
            list of full phone numbers (maximum of 10) or a single partial phone
            number (minimum of 5 characters e.g. \'%2B1919\'). (optional)
            (default to undefined)

            let destinationTn: string; //The phone number that received the
            message. Accepted values are: a single full phone number a comma
            separated list of full phone numbers (maximum of 10) or a single
            partial phone number (minimum of 5 characters e.g. \'%2B1919\').
            (optional) (default to undefined)

            let messageStatus: MessageStatusEnum; //The status of the message.
            One of RECEIVED QUEUED SENDING SENT FAILED DELIVERED ACCEPTED
            UNDELIVERED. (optional) (default to undefined)

            let messageDirection: ListMessageDirectionEnum; //The direction of
            the message. One of INBOUND OUTBOUND. (optional) (default to
            undefined)

            let carrierName: string; //The name of the carrier used for this
            message. Possible values include but are not limited to Verizon and
            TMobile. Special characters need to be encoded using URL encoding
            (i.e. AT&T should be passed as AT%26T). (optional) (default to
            undefined)

            let messageType: MessageTypeEnum; //The type of message. Either sms
            or mms. (optional) (default to undefined)

            let errorCode: number; //The error code of the message. (optional)
            (default to undefined)

            let fromDateTime: string; //The start of the date range to search in
            ISO 8601 format. Uses the message receive time. The date range to
            search in is currently 14 days. (optional) (default to undefined)

            let toDateTime: string; //The end of the date range to search in ISO
            8601 format. Uses the message receive time. The date range to search
            in is currently 14 days. (optional) (default to undefined)

            let campaignId: string; //The campaign ID of the message. (optional)
            (default to undefined)

            let sort: string; //The field and direction to sort by combined with
            a colon. Direction is either asc or desc. (optional) (default to
            undefined)

            let pageToken: string; //A base64 encoded value used for pagination
            of results. (optional) (default to undefined)

            let limit: number; //The maximum records requested in search result.
            Default 100. The sum of limit and after cannot be more than 10000.
            (optional) (default to undefined)

            let limitTotalCount: boolean; //When set to true, the response\'s
            totalCount field will have a maximum value of 10,000. When set to
            false, or excluded, this will give an accurate totalCount of all
            messages that match the provided filters. If you are experiencing
            latency, try using this parameter to limit your results. (optional)
            (default to undefined)


            const { status, data } = await apiInstance.listMessages(
                accountId,
                messageId,
                sourceTn,
                destinationTn,
                messageStatus,
                messageDirection,
                carrierName,
                messageType,
                errorCode,
                fromDateTime,
                toDateTime,
                campaignId,
                sort,
                pageToken,
                limit,
                limitTotalCount
            );
    post:
      summary: Create Message
      description: >-
        Endpoint for sending text messages and picture messages using V2
        messaging.
      operationId: createMessage
      tags:
        - Messages
      parameters:
        - $ref: '#/components/parameters/accountId'
      requestBody:
        $ref: '#/components/requestBodies/createMessageRequest'
      responses:
        '202':
          $ref: '#/components/responses/createMessageResponse'
        '400':
          $ref: '#/components/responses/createMessageBadRequestError'
        '401':
          $ref: '#/components/responses/messagingUnauthorizedError'
        '403':
          $ref: '#/components/responses/messagingForbiddenError'
        '404':
          $ref: '#/components/responses/messagingNotFoundError'
        '405':
          $ref: '#/components/responses/messagingMethodNotAllowedError'
        '406':
          $ref: '#/components/responses/messagingNotAcceptableError'
        '415':
          $ref: '#/components/responses/messagingInvalidMediaTypeError'
        '429':
          $ref: '#/components/responses/messagingTooManyRequestsError'
        '500':
          $ref: '#/components/responses/messagingInternalServerError'
      callbacks:
        statusCallback:
          $ref: '#/components/callbacks/statusCallback'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl 'https://messaging.bandwidth.com/api/v2/users/9900000/messages'
            \
              -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=' \
              -H 'Content-Type: application/json' \
              -H 'Accept: application/json' \
              -d '{
                "applicationId": "93de2206-9669-4e07-948d-329f4b722ee2",
                "to": [
                  "+15554443333",
                  "+15552223333"
                ],
                "from": "+15551113333",
                "text": "Hello world",
                "media": [
                  "https://dev.bandwidth.com/images/bandwidth-logo.png",
                  "https://dev.bandwidth.com/images/github_logo.png"
                ],
                "tag": "custom string",
                "priority": "default",
                "expiration": "2021-02-01T11:29:18-05:00"
              }'
        - lang: C#
          source: |
            using System.Collections.Generic;
            using System.Diagnostics;
            using Bandwidth.Standard.Api;
            using Bandwidth.Standard.Client;
            using Bandwidth.Standard.Model;

            namespace Example
            {
                public class CreateMessageExample
                {
                    public static void Main()
                    {
                        Configuration config = new Configuration();
                        config.BasePath = "http://localhost";
                        // Configure HTTP basic authorization: Basic
                        config.Username = "YOUR_USERNAME";
                        config.Password = "YOUR_PASSWORD";

                        var apiInstance = new MessagesApi(config);
                        var accountId = 9900000;  // string | Your Bandwidth Account ID.
                        var messageRequest = new MessageRequest(); // MessageRequest | 

                        try
                        {
                            // Create Message
                            Message result = apiInstance.CreateMessage(accountId, messageRequest);
                            Debug.WriteLine(result);
                        }
                        catch (ApiException  e)
                        {
                            Debug.Print("Exception when calling MessagesApi.CreateMessage: " + e.Message);
                            Debug.Print("Status Code: " + e.ErrorCode);
                            Debug.Print(e.StackTrace);
                        }
                    }
                }
            }
        - lang: Java
          source: |
            // Import classes:
            import com.bandwidth.sdk.ApiClient;
            import com.bandwidth.sdk.ApiException;
            import com.bandwidth.sdk.Configuration;
            import com.bandwidth.sdk.auth.*;
            import com.bandwidth.sdk.models.*;
            import com.bandwidth.sdk.api.MessagesApi;

            public class Example {
              public static void main(String[] args) {
                ApiClient defaultClient = Configuration.getDefaultApiClient();
                defaultClient.setBasePath("http://localhost");
                
                // Configure HTTP basic authorization: Basic
                HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication("Basic");
                Basic.setUsername("YOUR USERNAME");
                Basic.setPassword("YOUR PASSWORD");

                MessagesApi apiInstance = new MessagesApi(defaultClient);
                String accountId = "9900000"; // String | Your Bandwidth Account ID.
                MessageRequest messageRequest = new MessageRequest(); // MessageRequest | 
                try {
                  Message result = apiInstance.createMessage(accountId, messageRequest);
                  System.out.println(result);
                } catch (ApiException e) {
                  System.err.println("Exception when calling MessagesApi#createMessage");
                  System.err.println("Status code: " + e.getCode());
                  System.err.println("Reason: " + e.getResponseBody());
                  System.err.println("Response headers: " + e.getResponseHeaders());
                  e.printStackTrace();
                }
              }
            }
        - lang: PHP
          source: |
            <?php

            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";
            1234-asdf = "1234-asdf";
            +15554443333 = "+15554443333";
            +15553334444 = "+15553334444";

            $config = new BandwidthLib\Configuration(
                array(
                    'messagingBasicAuthUserName' => $BW_USERNAME,
                    'messagingBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $messagingClient = $client->getMessaging()->getClient();

            $body = new BandwidthLib\Messaging\Models\MessageRequest();
            $body->from = $BW_NUMBER;
            $body->to = array($USER_NUMBER);
            $body->applicationId = $BW_MESSAGING_APPLICATION_ID;
            $body->text = "Hello world";

            try {
                $response = $messagingClient->createMessage($BW_ACCOUNT_ID, $body);
                print_r($response->getResult()->id);
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            }
        - lang: Python
          source: >
            import bandwidth

            from bandwidth.models.message import Message

            from bandwidth.models.message_request import MessageRequest

            from bandwidth.rest import ApiException

            from pprint import pprint


            # Defining the host is optional and defaults to http://localhost

            # See configuration.py for a list of all supported configuration
            parameters.

            configuration = bandwidth.Configuration(
                host = "http://localhost"
            )


            # The client must configure the authentication and authorization
            parameters

            # in accordance with the API server security policy.

            # Examples for each auth method are provided below, use the example
            that

            # satisfies your auth use case.


            # Configure HTTP basic authorization: Basic

            configuration = bandwidth.Configuration(
                username = os.environ["USERNAME"],
                password = os.environ["PASSWORD"]
            )


            # Enter a context with an instance of the API client

            with bandwidth.ApiClient(configuration) as api_client:
                # Create an instance of the API class
                api_instance = bandwidth.MessagesApi(api_client)
                account_id = '9900000' # str | Your Bandwidth Account ID.
                message_request = bandwidth.MessageRequest() # MessageRequest | 

                try:
                    # Create Message
                    api_response = api_instance.create_message(account_id, message_request)
                    print("The response of MessagesApi->create_message:\n")
                    pprint(api_response)
                except Exception as e:
                    print("Exception when calling MessagesApi->create_message: %s\n" % e)
        - lang: Ruby
          source: >
            require 'time'

            require 'bandwidth-sdk'

            # setup authorization

            Bandwidth.configure do |config|
              # Configure HTTP basic authorization: Basic
              config.username = 'YOUR USERNAME'
              config.password = 'YOUR PASSWORD'
            end


            api_instance = Bandwidth::MessagesApi.new

            account_id = '9900000' # String | Your Bandwidth Account ID.

            message_request = Bandwidth::MessageRequest.new({application_id:
            '93de2206-9669-4e07-948d-329f4b722ee2', to: ["+15554443333",
            "+15552223333"], from: '+15551113333'}) # MessageRequest | 


            begin
              # Create Message
              result = api_instance.create_message(account_id, message_request)
              p result
            rescue Bandwidth::ApiError => e
              puts "Error when calling MessagesApi->create_message: #{e}"
            end
        - lang: TypeScript
          source: >
            import {
                MessagesApi,
                Configuration,
                MessageRequest
            } from 'bandwidth-sdk';


            const configuration = new Configuration();

            const apiInstance = new MessagesApi(configuration);


            let accountId: string; //Your Bandwidth Account ID. (default to
            undefined)

            let messageRequest: MessageRequest; //


            const { status, data } = await apiInstance.createMessage(
                accountId,
                messageRequest
            );
  /users/{accountId}/messages/multiChannel:
    post:
      summary: Create Multi-Channel Message
      description: Endpoint for sending Multi-Channel messages.
      operationId: createMultiChannelMessage
      parameters:
        - $ref: '#/components/parameters/accountId'
      tags:
        - Multi-Channel
      requestBody:
        $ref: '#/components/requestBodies/createMultiChannelMessageRequest'
      responses:
        '202':
          $ref: '#/components/responses/createMultiChannelMessageResponse'
        '400':
          $ref: '#/components/responses/multiChannelBadRequestError'
        '401':
          $ref: '#/components/responses/multiChannelUnauthorizedError'
        '403':
          $ref: '#/components/responses/multiChannelForbiddenError'
        '404':
          $ref: '#/components/responses/multiChannelNotFoundError'
        '405':
          $ref: '#/components/responses/multiChannelMethodNotAllowedError'
        '406':
          $ref: '#/components/responses/multiChannelNotAcceptableError'
        '415':
          $ref: '#/components/responses/multiChannelInvalidMediaTypeError'
        '429':
          $ref: '#/components/responses/multiChannelTooManyRequestsError'
        '500':
          $ref: '#/components/responses/multiChannelInternalServerError'
      callbacks:
        statusCallback:
          $ref: '#/components/callbacks/statusCallback'
      x-badges:
        - name: Beta
          color: '#076EA8'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl
            'https://messaging.bandwidth.com/api/v2/users/9900000/messages/multiChannel'
            \
              -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=' \
              -H 'Content-Type: application/json' \
              -H 'Accept: application/json' \
              -d '{
                "to": "+15552223333",
                "channelList": [
                  {
                    "from": "BandwidthRBM",
                    "applicationId": "93de2206-9669-4e07-948d-329f4b722ee2",
                    "channel": "RBM",
                    "content": {
                      "text": "Hello world",
                      "suggestions": [
                        {
                          "type": "REPLY",
                          "text": "Hello World",
                          "postBackData": "SGVsbG8gd29ybGQ="
                        },
                        {
                          "type": "REPLY",
                          "text": "Hello World",
                          "postBackData": "SGVsbG8gd29ybGQ="
                        }
                      ]
                    }
                  },
                  {
                    "from": "BandwidthRBM",
                    "applicationId": "93de2206-9669-4e07-948d-329f4b722ee2",
                    "channel": "RBM",
                    "content": {
                      "text": "Hello world",
                      "suggestions": [
                        {
                          "type": "REPLY",
                          "text": "Hello World",
                          "postBackData": "SGVsbG8gd29ybGQ="
                        },
                        {
                          "type": "REPLY",
                          "text": "Hello World",
                          "postBackData": "SGVsbG8gd29ybGQ="
                        }
                      ]
                    }
                  }
                ],
                "tag": "custom string",
                "priority": "default",
                "expiration": "2021-02-01T11:29:18-05:00"
              }'
components:
  parameters:
    accountId:
      in: path
      name: accountId
      required: true
      schema:
        type: string
      description: Your Bandwidth Account ID.
      example: '9900000'
    mediaId:
      in: path
      name: mediaId
      required: true
      description: Media ID to retrieve.
      example: 14762070468292kw2fuqty55yp2b2/0/bw.png
      schema:
        type: string
    contentType:
      in: header
      name: Content-Type
      style: simple
      explode: false
      description: The media type of the entity-body.
      example: audio/wav
      schema:
        type: string
    cacheControl:
      in: header
      name: Cache-Control
      style: simple
      explode: false
      description: >-
        General-header field is used to specify directives that MUST be obeyed
        by all caching mechanisms along the request/response chain.
      example: no-cache
      schema:
        type: string
    continuationToken:
      in: header
      name: Continuation-Token
      description: Continuation token used to retrieve subsequent media.
      example: >-
        1XEi2tsFtLo1JbtLwETnM1ZJ+PqAa8w6ENvC5QKvwyrCDYII663Gy5M4s40owR1tjkuWUif6qbWvFtQJR5/ipqbUnfAqL254LKNlPy6tATCzioKSuHuOqgzloDkSwRtX0LtcL2otHS69hK343m+SjdL+vlj71tT39
      schema:
        type: string
    messageId:
      in: query
      name: messageId
      required: false
      description: >-
        The ID of the message to search for. Special characters need to be
        encoded using URL encoding. Message IDs could come in different formats,
        e.g., 9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6 and
        1589228074636lm4k2je7j7jklbn2 are valid message ID formats. Note that
        you must include at least one query parameter.
      example: 9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6
      schema:
        type: string
    sourceTn:
      in: query
      name: sourceTn
      required: false
      description: >-
        The phone number that sent the message. Accepted values are: a single
        full phone number a comma separated list of full phone numbers (maximum
        of 10) or a single partial phone number (minimum of 5 characters e.g.
        '%2B1919').
      example: '%2B15554443333'
      schema:
        type: string
    destinationTn:
      in: query
      name: destinationTn
      required: false
      description: >-
        The phone number that received the message. Accepted values are: a
        single full phone number a comma separated list of full phone numbers
        (maximum of 10) or a single partial phone number (minimum of 5
        characters e.g. '%2B1919').
      example: '%2B15554443333'
      schema:
        type: string
    messageStatus:
      in: query
      name: messageStatus
      required: false
      description: >-
        The status of the message. One of RECEIVED QUEUED SENDING SENT FAILED
        DELIVERED ACCEPTED UNDELIVERED.
      schema:
        $ref: '#/components/schemas/messageStatusEnum'
    messageDirection:
      in: query
      name: messageDirection
      required: false
      description: The direction of the message. One of INBOUND OUTBOUND.
      schema:
        $ref: '#/components/schemas/listMessageDirectionEnum'
    carrierName:
      in: query
      name: carrierName
      required: false
      description: >-
        The name of the carrier used for this message. Possible values include
        but are not limited to Verizon and TMobile. Special characters need to
        be encoded using URL encoding (i.e. AT&T should be passed as AT%26T).
      example: Verizon
      schema:
        type: string
    messageType:
      in: query
      name: messageType
      required: false
      description: The type of message. Either sms or mms.
      schema:
        $ref: '#/components/schemas/messageTypeEnum'
    errorCode:
      in: query
      name: errorCode
      required: false
      description: The error code of the message.
      example: 9902
      schema:
        type: integer
    fromDateTime:
      in: query
      name: fromDateTime
      required: false
      description: >-
        The start of the date range to search in ISO 8601 format. Uses the
        message receive time. The date range to search in is currently 14 days.
      example: 2022-09-14T18:20:16.000Z
      schema:
        type: string
    toDateTime:
      in: query
      name: toDateTime
      required: false
      description: >-
        The end of the date range to search in ISO 8601 format. Uses the message
        receive time. The date range to search in is currently 14 days.
      example: 2022-09-14T18:20:16.000Z
      schema:
        type: string
    campaignId:
      in: query
      name: campaignId
      required: false
      description: The campaign ID of the message.
      example: CJEUMDK
      schema:
        type: string
    fromBwLatency:
      in: query
      name: fromBwLatency
      required: false
      description: >-
        The minimum Bandwidth latency of the message in seconds. Only available
        for accounts with the Advanced Quality Metrics feature enabled.
      example: 5
      schema:
        type: integer
    bwQueued:
      in: query
      name: bwQueued
      required: false
      description: >-
        A boolean value indicating whether the message is queued in the
        Bandwidth network.
      example: true
      schema:
        type: boolean
    product:
      in: query
      name: product
      required: false
      description: Messaging product associated with the message.
      example: P2P
      schema:
        $ref: '#/components/schemas/productTypeEnum'
    location:
      in: query
      name: location
      required: false
      description: Location Id associated with the message.
      example: 123ABC
      schema:
        type: string
    carrierQueued:
      in: query
      name: carrierQueued
      required: false
      description: >-
        A boolean value indicating whether the message is queued in the carrier
        network. Only available for OUTBOUND messages from accounts with the
        Advanced Quality Metrics feature enabled.
      example: true
      schema:
        type: boolean
    fromCarrierLatency:
      in: query
      name: fromCarrierLatency
      required: false
      description: >-
        The minimum carrier latency of the message in seconds. Only available
        for OUTBOUND messages from accounts with the Advanced Quality Metrics
        feature enabled.
      example: 50
      schema:
        type: integer
    callingNumberCountryA3:
      in: query
      name: callingNumberCountryA3
      required: false
      description: Calling number country in A3 format.
      example: USA
      schema:
        type: string
    calledNumberCountryA3:
      in: query
      name: calledNumberCountryA3
      required: false
      description: Called number country in A3 format.
      example: USA
      schema:
        type: string
    fromSegmentCount:
      in: query
      name: fromSegmentCount
      required: false
      description: Segment count (start range).
      example: 1
      schema:
        type: integer
    toSegmentCount:
      in: query
      name: toSegmentCount
      required: false
      description: Segment count (end range).
      example: 3
      schema:
        type: integer
    fromMessageSize:
      in: query
      name: fromMessageSize
      required: false
      description: Message size (start range).
      example: 100
      schema:
        type: integer
    toMessageSize:
      in: query
      name: toMessageSize
      required: false
      description: Message size (end range).
      example: 120
      schema:
        type: integer
    sort:
      in: query
      name: sort
      required: false
      description: >-
        The field and direction to sort by combined with a colon. Direction is
        either asc or desc.
      example: sourceTn:desc
      schema:
        type: string
    pageToken:
      in: query
      name: pageToken
      required: false
      description: A base64 encoded value used for pagination of results.
      example: gdEewhcJLQRB5
      schema:
        type: string
    limit:
      in: query
      name: limit
      required: false
      description: >-
        The maximum records requested in search result. Default 100. The sum of
        limit and after cannot be more than 10000.
      schema:
        type: integer
      example: 50
    limitTotalCount:
      in: query
      name: limitTotalCount
      required: false
      description: >-
        When set to true, the response's totalCount field will have a maximum
        value of 10,000. When set to false, or excluded, this will give an
        accurate totalCount of all messages that match the provided filters. If
        you are experiencing latency, try using this parameter to limit your
        results.
      example: true
      schema:
        type: boolean
  schemas:
    applicationId:
      type: string
      description: >-
        The ID of the Application your from number or senderId is associated
        with in the Bandwidth App.
      example: 93de2206-9669-4e07-948d-329f4b722ee2
    priorityEnum:
      type: string
      description: >-
        Specifies the message's sending priority with respect to other messages
        in your account. For best results and optimal throughput, reserve the
        'high' priority setting for critical messages only.
      enum:
        - default
        - high
      example: default
    messageStatusEnum:
      type: string
      description: >-
        The status of the message. One of RECEIVED QUEUED SENDING SENT FAILED
        DELIVERED ACCEPTED UNDELIVERED.
      enum:
        - RECEIVED
        - QUEUED
        - SENDING
        - SENT
        - FAILED
        - DELIVERED
        - ACCEPTED
        - UNDELIVERED
      example: RECEIVED
    listMessageDirectionEnum:
      type: string
      description: The direction of the message. One of INBOUND OUTBOUND.
      enum:
        - INBOUND
        - OUTBOUND
      example: INBOUND
    messageDirectionEnum:
      type: string
      description: The direction of the message. One of in out.
      enum:
        - in
        - out
      example: in
    messageTypeEnum:
      type: string
      description: The type of message. Either SMS or MMS.
      enum:
        - sms
        - mms
        - rcs
      example: sms
    productTypeEnum:
      type: string
      description: The type of product associated with the message.
      enum:
        - LOCAL_A2P
        - P2P
        - SHORT_CODE_REACH
        - TOLL_FREE
        - HOSTED_SHORT_CODE
        - ALPHA_NUMERIC
        - RBM_MEDIA
        - RBM_RICH
        - RBM_CONVERSATIONAL
      example: P2P
    fieldError:
      type: object
      properties:
        fieldName:
          type: string
          description: The name of the field that contains the error
          example: from
        description:
          type: string
          description: The error associated with the field
          example: >-
            '+invalid' must be replaced with a valid E164 formatted telephone
            number
    messagesList:
      title: MessagesList
      type: object
      properties:
        totalCount:
          type: integer
          description: >-
            The total number of messages matched by the search. When the request
            has limitTotalCount set to true this value is limited to 10,000.
          example: 100
        pageInfo:
          $ref: '#/components/schemas/pageInfo'
        messages:
          type: array
          items:
            $ref: '#/components/schemas/listMessageItem'
    listMessageItem:
      title: listMessageItem
      type: object
      properties:
        messageId:
          type: string
          description: The message id
          example: 1589228074636lm4k2je7j7jklbn2
        accountId:
          type: string
          description: The account id associated with this message.
          example: '9900000'
        sourceTn:
          type: string
          description: The source phone number of the message.
          example: '+15554443333'
        destinationTn:
          type: string
          description: The recipient phone number of the message.
          example: '+15554442222'
        messageStatus:
          $ref: '#/components/schemas/messageStatusEnum'
        messageDirection:
          $ref: '#/components/schemas/listMessageDirectionEnum'
        messageType:
          $ref: '#/components/schemas/messageTypeEnum'
        segmentCount:
          $ref: '#/components/schemas/segmentCount'
        errorCode:
          type: integer
          description: The numeric error code of the message.
          example: 9902
        receiveTime:
          type: string
          format: date-time
          description: The ISO 8601 datetime of the message.
          example: 2020-04-07T14:03:07.000Z
        carrierName:
          type: string
          nullable: true
          description: >-
            The name of the carrier. Not currently supported for MMS coming
            soon.
          example: other
        messageSize:
          type: integer
          description: The size of the message including message content and headers.
          nullable: true
          example: 27
        messageLength:
          type: integer
          description: The length of the message content.
          example: 18
        attachmentCount:
          type: integer
          description: The number of attachments the message has.
          nullable: true
          example: 1
        recipientCount:
          type: integer
          description: The number of recipients the message has.
          nullable: true
          example: 1
        campaignClass:
          type: string
          description: The campaign class of the message if it has one.
          nullable: true
          example: T
        campaignId:
          type: string
          description: The campaign ID of the message if it has one.
          nullable: true
          example: CJEUMDK
        bwLatency:
          type: integer
          description: >-
            The Bandwidth latency of the message in seconds. Only available for
            accounts with the Advanced Quality Metrics feature enabled.
          nullable: true
          example: 20
        carrierLatency:
          type: integer
          description: >-
            The carrier latency of the message in seconds. Only available for
            OUTBOUND messages from accounts with the Advanced Quality Metrics
            feature enabled.
          nullable: true
          example: 20
        callingNumberCountryA3:
          type: string
          description: The A3 country code of the calling number.
          nullable: true
          example: USA
        calledNumberCountryA3:
          type: string
          description: The A3 country code of the called number.
          nullable: true
          example: USA
        product:
          type: string
          description: The messaging product associated with the message.
          nullable: true
          example: P2P
        location:
          type: string
          description: The location ID associated with this message.
          nullable: true
          example: 123ID
    pageInfo:
      title: PageInfo
      type: object
      properties:
        prevPage:
          type: string
          description: The link to the previous page for pagination.
          example: >-
            https://messaging.bandwidth.com/api/v2/users/accountId/messages?messageStatus=DLR_EXPIRED&nextPage=DLAPE902
        nextPage:
          type: string
          description: The link to the next page for pagination.
          example: >-
            https://messaging.bandwidth.com/api/v2/users/accountId/messages?messageStatus=DLR_EXPIRED&prevPage=GL83PD3C
        prevPageToken:
          type: string
          description: The isolated pagination token for the previous page.
          example: DLAPE902
        nextPageToken:
          type: string
          description: The isolated pagination token for the next page.
          example: GL83PD3C
    messagingRequestError:
      title: MessagingRequestError
      type: object
      properties:
        type:
          type: string
        description:
          type: string
      required:
        - type
        - description
    createMessageRequestError:
      title: CreateMessageRequestError
      type: object
      properties:
        type:
          type: string
        description:
          type: string
        fieldErrors:
          type: array
          items:
            $ref: '#/components/schemas/fieldError'
      required:
        - type
        - description
    id:
      type: string
      description: The ID of the message.
      example: 1589228074636lm4k2je7j7jklbn2
    media:
      title: Media
      type: object
      properties:
        content:
          type: string
        contentLength:
          type: integer
          example: 1024
        mediaName:
          type: string
          example: image.png
    segmentCount:
      type: integer
      description: >-
        The number of segments the user's message is broken into before sending
        over carrier networks.
      example: 1
    tag:
      title: Tag
      type: string
      description: >-
        A custom string that will be included in callback events of the message.
        Max 1024 characters.
      example: custom string
    expiration:
      type: string
      format: date-time
      description: >-
        A string with the date/time value that the message will automatically
        expire by. This must be a valid RFC-3339 value, e.g.,
[...]
