openapi: 3.1.0
info:
  title: My Numbers
  description: >-
    Bandwidth's My Numbers API - Read-only inventory and reporting endpoints for
    phone numbers in your account.
  contact:
    name: Bandwidth
    url: https://dev.bandwidth.com/apis/numbers-apis/my-numbers
    email: support@bandwidth.com
  version: 1.0.0
  termsOfService: https://www.bandwidth.com/legal/terms-of-service/
servers:
  - url: https://api.bandwidth.com/api/v2
    description: Production
security:
  - Basic: []
  - Bearer: []
paths:
  /accounts/{accountId}/inserviceNumbers:
    get:
      description: >-
        Retrieves a list of in-service phone numbers associated with the account
        ID.


        In this table are presented capabilities that are not universally
        available. The following request query parameters are only allowed for
        numbers from specific region/country:

        | Number Region | Request Query Parameter |

        |:--------------|:------------------------|

        |NANP|city|

        |NANP|tier|

        |NANP|npaNxx|

        |NANP|npaNxxx|

        |NANP|lata|

        |NANP|state|

        |NANP|ratecenter|


        When the  query parameters listed in the table above are passed, only in
        service North American Numbering Plan phone numbers are returned.
      operationId: ReadInserviceTns
      parameters:
        - $ref: '#/components/parameters/AccountIdPathParam'
        - $ref: '#/components/parameters/pageQueryParam'
        - $ref: '#/components/parameters/sizeQueryParam'
        - $ref: '#/components/parameters/startDateQueryParam'
        - $ref: '#/components/parameters/endDateQueryParam'
        - $ref: '#/components/parameters/countryCodeA3QueryParam'
        - $ref: '#/components/parameters/phoneNumberTypeQueryParam'
        - $ref: '#/components/parameters/areaCodeQueryParam'
        - $ref: '#/components/parameters/cityQueryParam'
        - $ref: '#/components/parameters/tierQueryParam'
        - description: >-
            <p>The 6-digit prefix associated with the TN.</p><ul><li>Allowed
            number ranges for NPA are [2-9] for the first digit and [0-9] for
            both the second and third digits.</li><li>Allowed number ranges for
            NXX are [2-9] for the first digit and [0-9] for both the second and
            third digits.</li></ul>
          example: 919859
          in: query
          name: npaNxx
          required: false
          schema:
            type: integer
        - description: >-
            <p>The 7-digit prefix associated with the TN.</p><ul><li>Allowed
            number ranges for NPA are [2-9] for the first digit and [0-9] for
            both the second and third digits.</li><li>Allowed number ranges for
            NXXX are [2-9] for the first digit and [0-9] the rest of the (X)
            digits.</li></ul>
          in: query
          name: npaNxxx
          required: false
          schema:
            type: integer
        - description: >-
            A Rate Center search filter - all returned TNs will be in the
            entered Rate Center.  Typically this is a 3 or 5 digit value.
          example: 435
          in: query
          name: lata
          required: false
          schema:
            type: integer
        - description: >-
            A State search filter - all returned TNs will be in the entered
            State.  This is a 2-character State or Province abbreviation.
          example: TX
          in: query
          name: state
          required: false
          schema:
            type: string
        - description: >-
            A Rate Center search filter - all returned TNs will be in the
            entered Rate Center.  This `ratecenter` must be combined with a
            `state` in the query.  If State is not included in the query then
            the query will fail.
          example: PLANO
          in: query
          name: ratecenter
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/phoneNumberListResponse'
              example:
                totalCount: 59
                links:
                  first: >-
                    https://api.bandwidth.com/api/v2/accounts/12345/inserviceNumbers?page=1&size=15
                  next: >-
                    https://api.bandwidth.com/api/v2/accounts/12345/inserviceNumbers?page=%2B18043814905&size=15
                phoneNumbers:
                  - '+18043024183'
                  - '+18042121778'
                  - '+18042146066'
                  - '+18043814903'
                  - '+18043814905'
            application/xml:
              examples:
                example:
                  description: example
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <TNs>
                       <TotalCount>59</TotalCount>
                       <Links>
                          <first>( a link goes here )</first>
                          <next>( a link goes here )</next>
                       </Links>
                       <TelephoneNumbers>
                          <Count>15</Count>
                          <TelephoneNumber>+18043024183</TelephoneNumber>
                          <TelephoneNumber>+18042121778</TelephoneNumber>
                          <TelephoneNumber>+18042146066</TelephoneNumber>
                          <TelephoneNumber>+18043814903</TelephoneNumber>
                          <TelephoneNumber>+18043814905</TelephoneNumber>
                          <TelephoneNumber>+18043814864</TelephoneNumber>
                          <TelephoneNumber>+18043326094</TelephoneNumber>
                          <TelephoneNumber>+18042121771</TelephoneNumber>
                          <TelephoneNumber>+18043024182</TelephoneNumber>
                          <TelephoneNumber>+18043814900</TelephoneNumber>
                          <TelephoneNumber>+18047672642</TelephoneNumber>
                          <TelephoneNumber>+18043024368</TelephoneNumber>
                          <TelephoneNumber>+18042147950</TelephoneNumber>
                          <TelephoneNumber>+18043169931</TelephoneNumber>
                          <TelephoneNumber>+18043325302</TelephoneNumber>
                       </TelephoneNumbers>
                    </TNs>
              schema:
                $ref: '#/components/schemas/accountTelephoneNumbersHistoryResponse'
          description: OK
        '204':
          content:
            application/xml: {}
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INVALID_REQUEST
                message: Bad request
                description: The request parameters are invalid.
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          content:
            application/xml: {}
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INTERNAL_ERROR
                message: Internal server error
                description: An unexpected error occurred.
          description: Internal Server Error
      summary: List in-service phone numbers
      tags:
        - My Numbers
  /accounts/{accountId}/inserviceNumbers/totals:
    get:
      description: Returns the total number of in-service numbers for the given account.
      operationId: ReadInserviceTnsCount
      parameters:
        - $ref: '#/components/parameters/AccountIdPathParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/phoneNumberCountResponse'
              example:
                count: 62
            application/xml:
              examples:
                example:
                  description: example
                  value: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<Quantity>\n\t    <Count>62</Count>\n</Quantity>"
              schema:
                $ref: '#/components/schemas/telephoneNumberTotalsHistory'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INVALID_REQUEST
                message: Bad request
                description: The request parameters are invalid.
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: NOT_FOUND
                message: Resource not found
                description: The requested resource was not found.
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INTERNAL_ERROR
                message: Internal server error
                description: An unexpected error occurred.
          description: Internal Server Error
      summary: Get in-service phone number count
      tags:
        - My Numbers
  /accounts/{accountId}/inserviceNumbers/{tn}:
    get:
      description: >-
        Check if a given phone number is in service. Returns a 200 OK with no
        body if the number is in-service on the account, and a 404 Not Found if
        the number is not in-service on the account.
      operationId: ReadInserviceTn
      parameters:
        - $ref: '#/components/parameters/AccountIdPathParam'
        - description: The telephone number to check
          example: '+18043024183'
          in: path
          name: tn
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
      summary: Get in-service phone number
      tags:
        - My Numbers
  /accounts/{accountId}/discnumbers:
    get:
      description: >-
        Retrieves a list of disconnected numbers associated with the account.
        There are optional search parameters to limit the discNumbers payload
      operationId: GetDisconnectedTns
      parameters:
        - $ref: '#/components/parameters/AccountIdPathParam'
        - $ref: '#/components/parameters/pageQueryParam'
        - $ref: '#/components/parameters/sizeQueryParam'
        - $ref: '#/components/parameters/startDateQueryParam'
        - $ref: '#/components/parameters/endDateQueryParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/phoneNumberListResponse'
              example:
                totalCount: 2
                phoneNumbers:
                  - '+14158714245'
                  - '+14352154439'
            application/xml:
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <TNs>
                      <TotalCount>2</TotalCount>
                      <TelephoneNumbers>
                        <Count>2</Count>
                        <TelephoneNumber>+14158714245</TelephoneNumber>
                        <TelephoneNumber>+14352154439</TelephoneNumber>
                      </TelephoneNumbers>
                    </TNs>
              schema:
                $ref: '#/components/schemas/tNs'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INVALID_REQUEST
                message: Bad request
                description: The request parameters are invalid.
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: NOT_FOUND
                message: Resource not found
                description: The requested resource was not found.
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INTERNAL_ERROR
                message: Internal server error
                description: An unexpected error occurred.
          description: Internal Server Error
      summary: List disconnected phone numbers
      tags:
        - My Numbers
  /accounts/{accountId}/discnumbers/totals:
    get:
      description: Retrieves a total number of disconnects.
      operationId: GetTotalNumberDisconnects
      parameters:
        - $ref: '#/components/parameters/AccountIdPathParam'
        - $ref: '#/components/parameters/startDateQueryParam'
        - $ref: '#/components/parameters/endDateQueryParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/phoneNumberCountResponse'
              example:
                count: 4
            application/xml:
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <Quantity>
                      <Count>4</Count>
                    </Quantity>
              schema:
                $ref: '#/components/schemas/quantity'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INVALID_REQUEST
                message: Bad request
                description: The request parameters are invalid.
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: NOT_FOUND
                message: Resource not found
                description: The requested resource was not found.
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INTERNAL_ERROR
                message: Internal server error
                description: An unexpected error occurred.
          description: Internal Server Error
      summary: Get disconnected phone number count
      tags:
        - My Numbers
  /accounts/{accountId}/sites/{siteId}/inserviceNumbers:
    get:
      description: >-
        Retrieves all the telephone numbers currently in-service for the given
        Site.


        In this table are presented capabilities that are not universally
        available. The following request query parameters are only allowed for
        numbers from specific region/country:

        | Number Region | Request Query Parameter |

        |:--------------|:------------------------|

        |NANP|city|

        |NANP|tier|

        |NANP|npaNxx|

        |NANP|npaNxxx|

        |NANP|lata|

        |NANP|state|

        |NANP|ratecenter|


        When the  query parameters listed in the table above are passed, only in
        service North American Numbering Plan phone numbers are returned.
      operationId: RetrieveSiteInserviceNumbers
      parameters:
        - $ref: '#/components/parameters/AccountIdPathParam'
        - $ref: '#/components/parameters/SiteIdPathParam'
        - $ref: '#/components/parameters/pageQueryParam'
        - $ref: '#/components/parameters/sizeQueryParam'
        - $ref: '#/components/parameters/startDateQueryParam'
        - $ref: '#/components/parameters/endDateQueryParam'
        - $ref: '#/components/parameters/countryCodeA3QueryParam'
        - $ref: '#/components/parameters/phoneNumberTypeQueryParam'
        - $ref: '#/components/parameters/areaCodeQueryParam'
        - $ref: '#/components/parameters/cityQueryParam'
        - $ref: '#/components/parameters/tierQueryParam'
        - description: >-
            <p>The 6-digit prefix associated with the TN.</p><ul><li>Allowed
            number ranges for NPA are [2-9] for the first digit and [0-9] for
            both the second and third digits.</li><li>Allowed number ranges for
            NXX are [2-9] for the first digit and [0-9] for both the second and
            third digits.</li></ul>
          example: 919859
          in: query
          name: npaNxx
          required: false
          schema:
            type: integer
        - description: >-
            <p>The 7-digit prefix associated with the TN.</p><ul><li>Allowed
            number ranges for NPA are [2-9] for the first digit and [0-9] for
            both the second and third digits.</li><li>Allowed number ranges for
            NXXX are [2-9] for the first digit and [0-9] the rest of the (X)
            digits.</li></ul>
          in: query
          name: npaNxxx
          required: false
          schema:
            type: integer
        - description: >-
            A Rate Center search filter - all returned TNs will be in the
            entered Rate Center.  Typically this is a 3 or 5 digit value.
          example: 435
          in: query
          name: lata
          required: false
          schema:
            type: integer
        - description: >-
            A Rate Center search filter - all returned TNs will be in the
            entered Rate Center.  This `ratecenter` must be combined with a
            `state` in the query.  If State is not included in the query then
            the query will fail.
          example: PLANO
          in: query
          name: rateCenter
          required: false
          schema:
            type: string
        - description: >-
            A State search filter - all returned TNs will be in the entered
            State.  This is a 2-character State or Province abbreviation.
          example: TX
          in: query
          name: state
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/phoneNumberListResponse'
              example:
                totalCount: 54
                links:
                  first: >-
                    https://api.bandwidth.com/api/v2/accounts/12345/sites/407/inserviceNumbers?page=1&size=3
                  next: >-
                    https://api.bandwidth.com/api/v2/accounts/12345/sites/407/inserviceNumbers?page=%2B14352161523&size=3
                phoneNumbers:
                  - '+14352154855'
                  - '+14352154870'
                  - '+14352161523'
            application/xml:
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <TNs>
                       <TotalCount>54</TotalCount>
                       <Links>
                          <first>
                             <!-- SNIP -->
                          </first>
                          <next>
                             <!-- SNIP -->
                          </next>
                       </Links>
                       <TelephoneNumbers>
                          <Count>3</Count>
                          <TelephoneNumber>+14352154855</TelephoneNumber>
                          <!-- SNIP -->
                          <TelephoneNumber>+14352161523</TelephoneNumber>
                       </TelephoneNumbers>
                    </TNs>
              schema:
                $ref: '#/components/schemas/accountTelephoneNumbersHistoryResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INVALID_REQUEST
                message: Bad request
                description: The request parameters are invalid.
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: NOT_FOUND
                message: Resource not found
                description: The requested resource was not found.
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INTERNAL_ERROR
                message: Internal server error
                description: An unexpected error occurred.
          description: Internal Server Error
      summary: List sub-account in-service phone numbers
      tags:
        - My Numbers
  /accounts/{accountId}/sites/{siteId}/totaltns:
    get:
      description: Retrieves Site telephone numbers total count
      operationId: RetrieveSiteTnsCount
      parameters:
        - $ref: '#/components/parameters/AccountIdPathParam'
        - description: ID of the Site to retrieve count of TNs
          example: '407'
          in: path
          name: siteId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subAccountPhoneNumberCountResponse'
              example:
                totalCount: 26
            application/xml:
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <SiteTNsResponse>
                       <SiteTNs>
                          <TotalCount>26</TotalCount>
                       </SiteTNs>
                    </SiteTNsResponse>
              schema:
                $ref: '#/components/schemas/siteTNsResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INVALID_REQUEST
                message: Bad request
                description: The request parameters are invalid.
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: NOT_FOUND
                message: Resource not found
                description: The requested resource was not found.
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INTERNAL_ERROR
                message: Internal server error
                description: An unexpected error occurred.
          description: Internal Server Error
      summary: Get sub-account phone number count
      tags:
        - My Numbers
  /accounts/{accountId}/sites/{siteId}/sippeers/{sippeerId}/tns:
    get:
      description: >-
        Retrieve information about a Telephone number or set of Telephone
        numbers
      operationId: ReadSipPeerTns
      parameters:
        - $ref: '#/components/parameters/AccountIdPathParam'
        - $ref: '#/components/parameters/SiteIdPathParam'
        - $ref: '#/components/parameters/SipPeerTnsPageQueryParam'
        - $ref: '#/components/parameters/SipPeerTnsSizeQueryParam'
        - description: ID of the Sip Peer to retrieve TNs information
          example: '500017'
          in: path
          name: sippeerId
          required: true
          schema:
            type: string
        - description: >-
            If the value is false SipPeerTelephoneNumber will contain FullNumber
            tags only. This makes processing faster
          example: false
          in: query
          name: includeAttributes
          required: false
          schema:
            default: true
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locationPhoneNumbersResponse'
              example:
                links:
                  first: >-
                    https://api.bandwidth.com/api/v2/accounts/12345/sites/407/sippeers/500017/tns?page=1&size=3
                  next: >-
                    https://api.bandwidth.com/api/v2/accounts/12345/sites/407/sippeers/500017/tns?page=%2B12053161118&size=3
                phoneNumbers:
                  - phoneNumber: '+12052160148'
                    callingNameDisplay: true
                    phoneNumberAttributes:
                      - Protected
                      - External
                      - Imported
                    messagingSettings:
                      smsEnabled: true
                  - phoneNumber: '+12053161118'
                    callingNameDisplay: false
                    messagingSettings:
                      smsEnabled: true
                  - phoneNumber: '+12053160118'
                    callForward: '+12014563025'
                    callingNameDisplay: false
            application/xml:
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <SipPeerTelephoneNumbersResponse>
                       <Links>
                          <first>( a link goes here )</first>
                          <next>( a link goes here )</next>
                       </Links>
                       <SipPeerTelephoneNumbers>
                          <SipPeerTelephoneNumber>
                             <FullNumber>+12052160148</FullNumber>
                             <CallingNameDisplay>true</CallingNameDisplay>
                             <TnAttributes>
                                <TnAttribute>Protected</TnAttribute>
                                <TnAttribute>External</TnAttribute>
                                <TnAttribute>Imported</TnAttribute>
                             </TnAttributes>
                             <MessagingSettings>
                                <SmsEnabled>true</SmsEnabled>
                             </MessagingSettings>
                          </SipPeerTelephoneNumber>
                          <SipPeerTelephoneNumber>
                             <FullNumber>+12053161118</FullNumber>
                             <CallingNameDisplay>false</CallingNameDisplay>
                             <MessagingSettings>
                                <SmsEnabled>true</SmsEnabled>
                             </MessagingSettings>
                          </SipPeerTelephoneNumber>
                          <SipPeerTelephoneNumber>
                             <FullNumber>+12053160118</FullNumber>
                             <CallForward>+12014563025</CallForward>
                             <CallingNameDisplay>false</CallingNameDisplay>
                          </SipPeerTelephoneNumber>
                       </SipPeerTelephoneNumbers>
                    </SipPeerTelephoneNumbersResponse>
              schema:
                $ref: '#/components/schemas/sipPeerTelephoneNumbersResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INVALID_REQUEST
                message: Bad request
                description: The request parameters are invalid.
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: NOT_FOUND
                message: Resource not found
                description: The requested resource was not found.
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INTERNAL_ERROR
                message: Internal server error
                description: An unexpected error occurred.
          description: Internal Server Error
      summary: List location phone numbers
      tags:
        - My Numbers
  /accounts/{accountId}/sites/{siteId}/sippeers/{sippeerId}/tns/{tn}:
    get:
      description: Retrieve information about telephone number on Sip Peer.
      operationId: ReadSipPeerTn
      parameters:
        - $ref: '#/components/parameters/AccountIdPathParam'
        - $ref: '#/components/parameters/SiteIdPathParam'
        - description: ID of the Sip Peer to retrieve TN information
          example: '500017'
          in: path
          name: sippeerId
          required: true
          schema:
            type: string
        - description: A E.164 Telephone Number
          example: '+15209072451'
          in: path
          name: tn
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locationPhoneNumberItem'
              example:
                phoneNumber: '+15209072451'
                callForward: '+17042661720'
                callingNameDisplay: true
                phoneNumberAttributes:
                  - Protected
                  - External
                  - Imported
                messagingSettings:
                  smsEnabled: true
            application/xml:
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <SipPeerTelephoneNumberResponse>
                        <SipPeerTelephoneNumber>
                            <FullNumber>+15209072451</FullNumber>
                            <CallForward>+17042661720</CallForward>
                            <CallingNameDisplay>true</CallingNameDisplay>
                            <TnAttributes>
                                <TnAttribute>Protected</TnAttribute>
                                <TnAttribute>External</TnAttribute>
                                <TnAttribute>Imported</TnAttribute>
                            </TnAttributes>
                            <MessagingSettings>
                                <SmsEnabled>true</SmsEnabled>
                            </MessagingSettings>
                        </SipPeerTelephoneNumber>
                    </SipPeerTelephoneNumberResponse>
              schema:
                $ref: '#/components/schemas/sipPeerTelephoneNumberResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INVALID_REQUEST
                message: Bad request
                description: The request parameters are invalid.
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: NOT_FOUND
                message: Resource not found
                description: The requested resource was not found.
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INTERNAL_ERROR
                message: Internal server error
                description: An unexpected error occurred.
          description: Internal Server Error
      summary: Get location phone number
      tags:
        - My Numbers
  /accounts/{accountId}/sites/{siteId}/sippeers/{sippeerId}/totaltns:
    get:
      description: Retrieve count of Telephone numbers for Sip Peer
      operationId: RetrieveSipPeerTnsCount
      parameters:
        - $ref: '#/components/parameters/AccountIdPathParam'
        - $ref: '#/components/parameters/SiteIdPathParam'
        - description: ID of the Sip Peer to retrieve TNs count
          example: '500017'
          in: path
          name: sippeerId
          required: true
          schema:
            type: string
        - description: Telephone number feature
          example:
            - DLDA
          in: query
          name: feature
          required: false
          schema:
            items:
              enum:
                - LIDB
                - DLDA
                - DA
              type: string
            type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locationPhoneNumbersCountResponse'
              example:
                totalCount: 10004
                cnamCount: 4
                lidbCount: 0
                dldaCount: 9999
                daCount: 0
            application/xml:
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <SipPeerTelephoneNumbersCountResponse>
                       <SipPeerTelephoneNumbersCount>
                          <SipPeerTelephoneNumbersCount>10004</SipPeerTelephoneNumbersCount>
                          <CnamTelephoneNumbersCount>4</CnamTelephoneNumbersCount>
                          <LidbTelephoneNumbersCount>0</LidbTelephoneNumbersCount>
                          <DldaTelephoneNumbersCount>9999</DldaTelephoneNumbersCount>
                          <DaTelephoneNumbersCount>0</DaTelephoneNumbersCount>
                       </SipPeerTelephoneNumbersCount>
                    </SipPeerTelephoneNumbersCountResponse>
              schema:
                $ref: '#/components/schemas/sipPeerTelephoneNumbersCountResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INVALID_REQUEST
                message: Bad request
                description: The request parameters are invalid.
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: NOT_FOUND
                message: Resource not found
                description: The requested resource was not found.
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INTERNAL_ERROR
                message: Internal server error
                description: An unexpected error occurred.
          description: Internal Server Error
      summary: Get location phone number count
      tags:
        - My Numbers
  /tns:
    get:
      description: >-
        Retrieve information about one or more Telephone Numbers (TNs), where
        the TNs are chosen based on the search parameters provided in the API
        Call.


        In this table are presented capabilities that are not universally
        available. The following request query parameters are only allowed for
        numbers from specific region/country:

        | Number Region | Request Query Parameter |

        |:--------------|:------------------------|

        |NANP|city|

        |NANP|tier|

        |NANP|npaNxx|

        |NANP|npaNxxx|

        |NANP|lata|

        |NANP|state|

        |NANP|ratecenter|


        When the  query parameters listed in the table above are passed, only in
        service North American Numbering Plan phone numbers are returned.
      operationId: ListTnsByGet
      parameters:
        - $ref: '#/components/parameters/pageQueryParam'
        - $ref: '#/components/parameters/sizeQueryParam'
        - $ref: '#/components/parameters/countryCodeA3QueryParam'
        - $ref: '#/components/parameters/phoneNumberTypeQueryParam'
        - $ref: '#/components/parameters/areaCodeQueryParam'
        - $ref: '#/components/parameters/cityQueryParam'
        - $ref: '#/components/parameters/tierQueryParam'
        - description: The internal account id assigned to the customer that "owns" the TN.
          example: 5000125
          in: query
          name: accountId
          required: false
          schema:
            type: integer
        - description: A E.164 TN.
          example: '+19199918388'
          in: query
          name: fullNumber
          required: false
          schema:
            type: string
        - description: >-
            An IP address or subnet (CIDR format) associated with the TN. Filter
            for subnet applies by exact match.
          example: 47.16.211.63 or 69.22.181.68/30
          in: query
          name: host
          required: false
          schema:
            type: string
        - description: A service type value to filter the TNs returned in the payload.
          example: E911
          in: query
          name: service
          required: false
          schema:
            enum:
              - E911
              - Voice
              - Hosted_E911
            type: string
        - description: >-
            <p>The 6-digit prefix associated with the TN.</p><ul><li>Allowed
            number ranges for NPA are [2-9] for the first digit and [0-9] for
            both the second and third digits.</li><li>Allowed number ranges for
            NXX are [2-9] for the first digit and [0-9] for both the second and
            third digits.</li></ul>
          example: 919859
          in: query
          name: npaNxx
          required: false
          schema:
            type: integer
        - description: >-
            <p>The 7-digit prefix associated with the TN.</p><ul><li>Allowed
            number ranges for NPA are [2-9] for the first digit and [0-9] for
            both the second and third digits.</li><li>Allowed number ranges for
            NXXX are [2-9] for the first digit and [0-9] the rest of the (X)
            digits.</li></ul>
          in: query
          name: npaNxxx
          required: false
          schema:
            type: integer
        - description: >-
            A Rate Center search filter - all returned TNs will be in the
            entered Rate Center.  Typically this is a 3 or 5 digit value.
          example: 435
          in: query
          name: lata
          required: false
          schema:
            type: integer
        - description: >-
            A Rate Center search filter - all returned TNs will be in the
            entered Rate Center.  This `ratecenter` must be combined with a
            `state` in the query.  If State is not included in the query then
            the query will fail.
          example: PLANO
          in: query
          name: rateCenter
          required: false
          schema:
            type: string
        - description: >-
            A State search filter - all returned TNs will be in the entered
            State.  This is a 2-character State or Province abbreviation.
          example: TX
          in: query
          name: state
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Domestic and international phone numbers:
                  value:
                    links:
                      first: https://api.bandwidth.com:443/api/v2/tns?page=1&size=2
                      next: >-
                        https://api.bandwidth.com:443/api/v2/tns?page=%2B390541605183&size=2
                    phoneNumberCount: 2
                    phoneNumbers:
                      - accountId: 12346158
                        country: FRA
                        countryCodeA3: FRA
                        isHostedVoice: false
                        isOnNetVendor: true
                        lastModified: '2020-03-03T15:30:07.000Z'
                        phoneNumber: '+33140289561'
                        phoneNumberType: GEOGRAPHIC
                        status: Inservice
                      - accountId: 101
                        city: JERSEY CITY
                        countryCodeA3: USA
                        isHostedVoice: false
                        isOnNetVendor: true
                        lastModified: '2019-01-02T20:00:42.000Z'
                        lata: 224
                        phoneNumber: '+12018391002'
                        phoneNumberType: GEOGRAPHIC
                        rateCenter: JERSEYCITY
                        state: NJ
                        status: Inservice
                        tier: 0
                        vendorId: 49
                        vendorName: Bandwidth CLEC
                Phone number with hosted E911:
                  value:
                    links:
                      first: >-
                        https://localhost:8443/api/v2/tns?page=1&size=2500&fullNumber=2019721155
                    phoneNumberCount: 1
                    phoneNumbers:
                      - accountId: 12346186
                        city: RIDGEWOOD
                        countryCodeA3: USA
                        features:
                          - accountId: 12346186
                            address:
                              addressType: E911
                              city: RALEIGH
                              houseNumber: '3670613170'
                              houseSuffix: ''
                              latitude: '35.848359'
                              longitude: '-75.000000'
                              plusFour: '5244'
                              stateCode: NC
                              streetName: MAIN CAMPUS
                              streetSuffix: DR
                              zip: '27606'
                            callerName: EWBurM9hG4
                            featureType: e911
                            lastE911OrderOutcome: SUCCESS
                            locationAddress: false
                            phoneNumber: '+12019721155'
                            status: Success
                        isHostedVoice: false
                        isOnNetVendor: true
                        lastModified: '2019-01-02T20:00:42.000Z'
                        lata: 224
                        phoneNumber: '+12019721155'
                        phoneNumberType: GEOGRAPHIC
                        rateCenter: RIDGEWOOD
                        state: NJ
                        status: Inservice
                        tier: 0
                        vendorId: 49
                        vendorName: Bandwidth CLEC
              schema:
                $ref: '#/components/schemas/telephoneNumbersHistoryResponseJson'
            application/xml:
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <TelephoneNumbersResponse>
                        <TelephoneNumberCount>5</TelephoneNumberCount>
                        <Links>
                            <first>Link=&lt;https://api.bandwidth.com:443/v1.0/tns?account=9500012&amp;page=1&amp;size=500&gt;;rel="first";</first>
                            <next>Link=&lt;https://api.bandwidth.com:443/v1.0/tns?account=9500012&amp;page=+12012082912&amp;size=500&gt;;rel="next";</next>
                        </Links>
                        <TelephoneNumbers>
                            <TelephoneNumber>
                                <City>CARY</City>
                                <Lata>426</Lata>
                                <State>NC</State>
                                <FullNumber>+19192381138</FullNumber>
                                <Tier>0</Tier>
                                <VendorId>49</VendorId>
                                <VendorName>Bandwidth CLEC</VendorName>
                              <RateCenter>CARY</RateCenter>
                                <Status>Inservice</Status>
                                <AccountId>9900008</AccountId>
                                <LastModified>2013-12-05T05:58:27.000Z</LastModified>
                                <InServiceDate>2013-12-05T05:58:27.000Z</InServiceDate>
                            </TelephoneNumber>
                            <TelephoneNumber>
                                <City>CARY</City>
                                <Lata>426</Lata>
                                <State>NC</State>
                                <FullNumber>+19192381139</FullNumber>
                                <Tier>0</Tier>
                                <VendorId>49</VendorId>
                                <VendorName>Bandwidth CLEC</VendorName>
                                <RateCenter>CARY</RateCenter>
                                <Status>Inservice</Status>
                                <AccountId>9900000</AccountId>
                                <LastModified>2013-12-05T05:58:27.000Z</LastModified>
                                <InServiceDate>2013-12-05T05:58:27.000Z</InServiceDate>
                            </TelephoneNumber>
                            <TelephoneNumber>
                                <City>CARY</City>
                                <Lata>426</Lata>
                                <State>NC</State>
                                <FullNumber>+19192381141</FullNumber>
                                <Tier>0</Tier>
                                <VendorId>49</VendorId>
                                <VendorName>Bandwidth CLEC</VendorName>
                                <RateCenter>CARY</RateCenter>
                                <Status>Inservice</Status>
                                <AccountId>9900000</AccountId>
                                <LastModified>2013-12-05T05:58:27.000Z</LastModified>
                                <InServiceDate>2013-12-05T05:58:27.000Z</InServiceDate>
                            </TelephoneNumber>
                            <TelephoneNumber>
                                <City>CARY</City>
                                <Lata>426</Lata>
                                <State>NC</State>
                                <FullNumber>+19192381142</FullNumber>
                                <Tier>0</Tier>
                                <VendorId>49</VendorId>
                                <VendorName>Bandwidth CLEC</VendorName>
                                <RateCenter>CARY</RateCenter>
                                <Status>Inservice</Status>
                                <AccountId>9900000</AccountId>
                                <LastModified>2013-12-05T05:58:27.000Z</LastModified>
                                <InServiceDate>2013-12-05T05:58:27.000Z</InServiceDate>
                            </TelephoneNumber>
                            <TelephoneNumber>
                                <City>CARY</City>
                                <Lata>426</Lata>
                                <State>NC</State>
                                <FullNumber>+19192381144</FullNumber>
                                <Tier>0</Tier>
                                <VendorId>49</VendorId>
                                <VendorName>Bandwidth CLEC</VendorName>
                                <RateCenter>CARY</RateCenter>
                                <Status>Aging</Status>
                                <AccountId>753</AccountId>
                                <LastModified>2013-12-05T05:58:27.000Z</LastModified>
                                <InServiceDate>2013-12-05T05:58:27.000Z</InServiceDate>
                            </TelephoneNumber>
                        </TelephoneNumbers>
                    </TelephoneNumbersResponse>
              schema:
                $ref: '#/components/schemas/telephoneNumbersHistoryResponse'
          description: >-
            The descriptive payload for the TNs query provides information about
            the TN(s) that were found in the Query. Links to assist in
            pagination are also provided.
        '400':
          content:
            application/json:
              examples:
                InvalidNpaNxxQueryParamExample:
                  value:
                    description: The NPA_NXX '876345' is invalid
                    errorCode: 15511
              schema:
                $ref: '#/components/schemas/telephoneNumbersErrorResponseJson'
            application/xml:
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <TelephoneNumbersResponse>
                        <ResponseStatus>
                            <ErrorCode>15511</ErrorCode>
                            <Description>The NPA_NXX '9192384' is invalid</Description>
                        </ResponseStatus>
                    </TelephoneNumbersResponse>
              schema:
                $ref: '#/components/schemas/telephoneNumbersErrorResponse'
          description: Bad Request
      summary: List phone numbers
      tags:
        - My Numbers
    post:
      description: >-
        Retrieve information about one or more Telephone Numbers (TNs), where
        the TNs are specified in POST body.


        In this table are presented capabilities that are not universally
        available. The following request query parameters are only allowed for
        numbers from specific region/country:

        | Number Region | Request Query Parameter |

        |:--------------|:------------------------|

        |NANP|city|

        |NANP|tier|

        |NANP|npaNxx|

        |NANP|npaNxxx|

        |NANP|lata|

        |NANP|state|

        |NANP|ratecenter|


        When the  query parameters listed in the table above are passed, only in
        service North American Numbering Plan phone numbers are returned.
      operationId: ListTnsByPost
      parameters:
        - description: A service type value to filter the TNs returned in the payload.
          example: Voice
          in: query
          name: service
          required: false
          schema:
            enum:
              - Voice
              - Hosted_Voice
              - Messaging
              - Hosted_Messaging
              - E911
              - Hosted_E911
            type: string
      requestBody:
        content:
          application/json:
            example:
              phoneNumbers:
                - '+13172000285'
                - '+13172000207'
                - '+13172000000'
                - '+13172000100'
                - '+13172110285'
                - '+13172100285'
                - '+199999999999'
                - '+111111111111'
            schema:
              $ref: '#/components/schemas/tnsPostJson'
          application/xml:
            examples:
              example:
                value: |-
                  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                  <TnList>
                      <Tn>+13172000285</Tn>
                      <Tn>+13172000207</Tn>
                      <Tn>+13172000000</Tn>
                      <Tn>+13172000100</Tn>
                      <Tn>+13172110285</Tn>
                      <Tn>+13172100285</Tn>
                      <Tn>+199999999999</Tn>
                      <Tn>+111111111111</Tn>
                  </TnList>
            schema:
              $ref: '#/components/schemas/tnListRequest'
      responses:
        '200':
          content:
            application/json:
              example:
                errors:
                  - code: 15608
                    description: Input contains invalid Telephone Numbers
                    phoneNumbers:
                      - '+111111111111'
                      - '+199999999999'
                  - code: 15610
                    description: Telephone Numbers cannot be found on accounts
                    phoneNumbers:
                      - '+13172110285'
                      - '+13172100285'
                links:
                  first: https://api.bandwidth.com/api/tns
                phoneNumberCount: 5
                phoneNumbers:
                  - accountId: 753
                    city: INDIANAPOLIS
                    countryCodeA3: USA
                    isHostedVoice: false
                    lastModified: '2016-11-16T19:34:22Z'
                    lata: 336
                    phoneNumber: '+13172000000'
                    phoneNumberType: GEOGRAPHIC
                    rateCenter: INDIANAPLS
                    state: IN
                    status: Available
                    tier: 0
                    vendorId: 49
                    vendorName: Bandwidth CLEC
                  - accountId: 14
                    city: INDIANAPOLIS
                    countryCodeA3: USA
                    isHostedVoice: false
                    lastModified: '2016-11-16T19:34:22Z'
                    lata: 336
                    phoneNumber: '+13172000500'
                    phoneNumberType: GEOGRAPHIC
                    rateCenter: INDIANAPLS
                    state: IN
                    status: Aging
                    tier: 0
                    vendorId: 49
                    vendorName: Bandwidth CLEC
                  - accountId: 753
                    city: INDIANAPOLIS
                    countryCodeA3: USA
                    isHostedVoice: false
                    lastModified: '2016-11-16T19:34:22Z'
                    lata: 336
                    phoneNumber: '+13172000100'
                    phoneNumberType: GEOGRAPHIC
                    rateCenter: INDIANAPLS
                    state: IN
                    status: Available
                    tier: 0
                    vendorId: 49
                    vendorName: Bandwidth CLEC
                  - accountId: 753
                    city: INDIANAPOLIS
                    countryCodeA3: USA
                    isHostedVoice: false
                    lastModified: '2016-11-16T19:34:22Z'
                    lata: 336
                    phoneNumber: '+13172000207'
                    phoneNumberType: GEOGRAPHIC
                    rateCenter: INDIANAPLS
                    state: IN
                    status: Available
                    tier: 0
                    vendorId: 49
                    vendorName: Bandwidth CLEC
                  - accountId: 753
                    city: INDIANAPOLIS
                    countryCodeA3: USA
                    isHostedVoice: false
                    lastModified: '2016-11-16T19:34:22Z'
                    lata: 336
                    phoneNumber: '+13172000285'
                    phoneNumberType: GEOGRAPHIC
                    rateCenter: INDIANAPLS
                    state: IN
                    status: Available
                    tier: 0
                    vendorId: 49
                    vendorName: Bandwidth CLEC
              schema:
                $ref: '#/components/schemas/telephoneNumbersHistoryResponseJson'
            application/xml:
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <TelephoneNumbersResponse>
                        <TelephoneNumberCount>4</TelephoneNumberCount>
                        <Links>
                            <first>https://api.bandwidth.com/api/tns</first>
                        </Links>
                        <TelephoneNumbers>
                            <TelephoneNumber>
                                <City>INDIANAPOLIS</City>
                                <Lata>336</Lata>
                                <State>IN</State>
                                <FullNumber>+13172000000</FullNumber>
                                <Tier>0</Tier>
                                <VendorId>49</VendorId>
                                <VendorName>Bandwidth CLEC</VendorName>
                                <RateCenter>INDIANAPLS</RateCenter>
                                <Status>Available</Status>
                                <AccountId>753</AccountId>
                                <LastModified>2016-11-16T19:34:22.000Z</LastModified>
                            </TelephoneNumber>
                            <TelephoneNumber>
                                <City>INDIANAPOLIS</City>
                                <Lata>336</Lata>
                                <State>IN</State>
                                <FullNumber>+13172000500</FullNumber>
                                <Tier>0</Tier>
                                <VendorId>49</VendorId>
                                <VendorName>Bandwidth CLEC</VendorName>
                                <RateCenter>INDIANAPLS</RateCenter>
                                <Status>Aging</Status>
                                <AccountId>14</AccountId>
                                <LastModified>2016-11-16T19:34:22.000Z</LastModified>
                            </TelephoneNumber>
                            <TelephoneNumber>
                                <City>INDIANAPOLIS</City>
                                <Lata>336</Lata>
                                <State>IN</State>
                                <FullNumber>+13172000100</FullNumber>
                                <Tier>0</Tier>
                                <VendorId>49</VendorId>
                                <VendorName>Bandwidth CLEC</VendorName>
                                <RateCenter>INDIANAPLS</RateCenter>
                                <Status>Available</Status>
                                <AccountId>753</AccountId>
                                <LastModified>2016-11-16T19:34:22.000Z</LastModified>
                            </TelephoneNumber>
                            <TelephoneNumber>
                                <City>INDIANAPOLIS</City>
                                <Lata>336</Lata>
                                <State>IN</State>
                                <FullNumber>+13172000207</FullNumber>
                                <Tier>0</Tier>
                                <VendorId>49</VendorId>
                                <VendorName>Bandwidth CLEC</VendorName>
                                <RateCenter>INDIANAPLS</RateCenter>
                                <Status>Available</Status>
                                <AccountId>753</AccountId>
                                <LastModified>2016-11-16T19:34:22.000Z</LastModified>
                            </TelephoneNumber>
                            <TelephoneNumber>
                                <City>INDIANAPOLIS</City>
                                <Lata>336</Lata>
                                <State>IN</State>
                                <FullNumber>+13172000285</FullNumber>
                                <Tier>0</Tier>
                                <VendorId>49</VendorId>
                                <VendorName>Bandwidth CLEC</VendorName>
                                <RateCenter>INDIANAPLS</RateCenter>
                                <Status>Available</Status>
                                <AccountId>753</AccountId>
                                <LastModified>2016-11-16T19:34:22.000Z</LastModified>
                            </TelephoneNumber>
                        </TelephoneNumbers>
                        <ErrorList>
                            <Error>
                                <Code>15608</Code>
                                <Description>Input contains invalid Telephone Numbers</Description>
                                <TelephoneNumbers>
                                    <TelephoneNumber>+111111111111</TelephoneNumber>
                                    <TelephoneNumber>+199999999999</TelephoneNumber>
                                </TelephoneNumbers>
                            </Error>
                            <Error>
                                <Code>15610</Code>
                                <Description>Telephone Numbers cannot be found on accounts</Description>
                                <TelephoneNumbers>
                                    <TelephoneNumber>+13172110285</TelephoneNumber>
                                    <TelephoneNumber>+13172100285</TelephoneNumber>
                                </TelephoneNumbers>
                            </Error>
                        </ErrorList>
                    </TelephoneNumbersResponse>
              schema:
                $ref: '#/components/schemas/telephoneNumbersHistoryResponse'
          description: OK
        '400':
          content:
            application/json:
              example:
                responseStatus:
                  description: >-
                    The count of Telephone numbers in POST body exceeds the
                    maximum size of 20
                  errorCode: 15607
              schema:
                $ref: '#/components/schemas/telephoneNumbersErrorResponseJson'
            application/xml:
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <TelephoneNumbersResponse>
                        <ResponseStatus>
                            <ErrorCode>15607</ErrorCode>
                            <Description>The count of Telephone numbers in POST body exceeds the maximum size of 2500</Description>
                        </ResponseStatus>
                    </TelephoneNumbersResponse>
              schema:
                $ref: '#/components/schemas/telephoneNumbersErrorResponse'
          description: Bad Request
      summary: List phone numbers
      tags:
        - My Numbers
  /tns/{tn}:
    get:
      description: Retrieves the telephone number's information.
      operationId: RetrieveTn
      parameters:
        - description: ''
          example: '+19199918388'
          in: path
          name: tn
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/phoneNumberStatusResponse'
              example:
                phoneNumber: '+12012035013'
                status: Inservice
                lastModifiedDate: '2014-03-25T12:55:11Z'
                orderCreateDate: '2014-03-25T12:55:11.810Z'
                orderId: cf79d3c3-21b7-4db7-9867-273a1867f934
                orderType: NEW_NUMBER_ORDER
                inServiceDate: '2014-03-25T12:55:11.810Z'
                subAccountId: '2409'
                accountId: '8000273'
            application/xml:
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <TelephoneNumberResponse>
                      <TelephoneNumber>+12012035013</TelephoneNumber>
                      <Status>Inservice</Status>
                      <LastModifiedDate>2014-03-25 12:55:11.0</LastModifiedDate>
                      <OrderCreateDate>2014-03-25T12:55:11.810Z</OrderCreateDate>
                      <OrderId>cf79d3c3-21b7-4db7-9867-273a1867f934</OrderId>
                      <OrderType>NEW_NUMBER_ORDER</OrderType>
                      <InServiceDate>2014-03-25T12:55:11.810Z</InServiceDate>
                      <SiteId>2409</SiteId>
                      <AccountId>8000273</AccountId>
                    </TelephoneNumberResponse>
              schema:
                $ref: '#/components/schemas/telephoneNumberStatusShortWrapper'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INVALID_REQUEST
                message: Bad request
                description: The request parameters are invalid.
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: NOT_FOUND
                message: Resource not found
                description: The requested resource was not found.
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INTERNAL_ERROR
                message: Internal server error
                description: An unexpected error occurred.
          description: Internal Server Error
      summary: Get phone number
      tags:
        - My Numbers
  /tns/{tn}/availableNnRoutes:
    get:
      description: Retrieves information about available NnRoutes for the phone number.
      operationId: RetrieveRouteForThatTn
      parameters:
        - description: ''
          example: '+19199918388'
          in: path
          name: tn
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/availableNnRoutesResponse'
              example:
                nnRoutes:
                  - nnid: '101601'
                    name: USA Mobility
                  - nnid: '102787'
                    name: Globe Wireless - Bandwidth.com - SVR
            application/xml:
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <AvailableNnRoutes>
                      <NNRoute>
                        <Nnid>101601</Nnid>
                        <Name>USA Mobility</Name>
                      </NNRoute>
                      <NNRoute>
                        <Nnid>102787</Nnid>
                        <Name>Globe Wireless - Bandwidth.com - SVR</Name>
                      </NNRoute>
                    </AvailableNnRoutes>
              schema:
                $ref: '#/components/schemas/telephoneNumberAvailableNnRoutesResponse'
          description: OK
        '400':
          content:
            application/xml:
              examples:
                example:
                  description: example
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <AvailableNnRoutes>
                      <ResponseStatus>
                        <ErrorCode>12512</ErrorCode>
                        <Description>Telephone number '123456789' is not valid</Description>
                      </ResponseStatus>
                    </AvailableNnRoutes>
              schema:
                $ref: >-
                  #/components/schemas/telephoneNumberAvailableNnRoutesErrorResponse
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: NOT_FOUND
                message: Resource not found
                description: The requested resource was not found.
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INTERNAL_ERROR
                message: Internal server error
                description: An unexpected error occurred.
          description: Internal Server Error
      summary: List NN routes for phone number
      tags:
        - My Numbers
  /tns/{tn}/e911:
    get:
      description: Retrieves the e911 information associated with that telephone number
      operationId: RetrieveTnE911Info
      parameters:
        - description: A 10 Digit TN
          example: '+19199918388'
          in: path
          name: tn
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tnE911Response'
              example:
                address:
                  name: Test address
                  houseNumber: '900'
                  streetName: MAIN CAMPUS DR
                  city: RALEIGH
                  stateCode: NC
                  zip: '27606'
                  plusFour: '5214'
                emergencyNotificationGroup:
                  identifier: 63865500-0904-46b1-9b4f-7bd237a26363
                  description: Building 5, 5th Floor.
            application/xml:
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <TnE911AddressResponse>
                       <Address>
                          <Name>Test address</Name>
                          <City>RALEIGH</City>
                          <HouseNumber>900</HouseNumber>
                          <StateCode>NC</StateCode>
                          <StreetName>MAIN CAMPUS DR</StreetName>
                          <Zip>27606</Zip>
                          <PlusFour>5214</PlusFour>
                       </Address>
                       <EmergencyNotificationGroup>
                          <Identifier>63865500-0904-46b1-9b4f-7bd237a26363</Identifier>
                          <Description>Building 5, 5th Floor.</Description>
                       </EmergencyNotificationGroup>
                    </TnE911AddressResponse>
              schema:
                $ref: '#/components/schemas/tnE911AddressResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INVALID_REQUEST
                message: Bad request
                description: The request parameters are invalid.
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: NOT_FOUND
                message: Resource not found
                description: The requested resource was not found.
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INTERNAL_ERROR
                message: Internal server error
                description: An unexpected error occurred.
          description: Internal Server Error
      summary: Get E911 address for phone number
      tags:
        - My Numbers
  /tns/{tn}/lata:
    get:
      description: Retrieves the lata associated with that telephone number.
      operationId: RetrieveLataForThatTn
      parameters:
        - description: ''
          example: '+19199918388'
          in: path
          name: tn
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tnLataResponse'
              example:
                lata: '224'
            application/xml:
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <TelephoneNumberResponse>
                      <TelephoneNumberDetails>
                        <Lata>224</Lata>
                      </TelephoneNumberDetails>
                    </TelephoneNumberResponse>
              schema:
                $ref: '#/components/schemas/telephoneNumberLataResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INVALID_REQUEST
                message: Bad request
                description: The request parameters are invalid.
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: NOT_FOUND
                message: Resource not found
                description: The requested resource was not found.
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INTERNAL_ERROR
                message: Internal server error
                description: An unexpected error occurred.
          description: Internal Server Error
      summary: Get LATA for phone number
      tags:
        - My Numbers
  /tns/{tn}/lca:
    get:
      description: Retrieves the LCAs associated with that telephone number.
      operationId: RetrieveLCAForThatTn
      parameters:
        - description: ''
          example: '+19199918388'
          in: path
          name: tn
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tnLcaResponse'
              example:
                npaNxx:
                  - '201202'
                  - '201203'
                  - '201206'
                  - '973930'
                  - '973931'
                  - '973955'
                location:
                  rateCenters:
                    - state: NJ
                      rateCenters:
                        - CLIFFSIDE
                        - DUMONT
                        - UNION CITY
                        - WESTWOOD
            application/xml:
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <SearchResult>
                      <ListofNPANXX>
                        <NPANXX>201202</NPANXX>
                        <NPANXX>201203</NPANXX>
                        <NPANXX>201206</NPANXX>
                        <!-- SNIP -->
                        <NPANXX>973930</NPANXX>
                        <NPANXX>973931</NPANXX>
                        <NPANXX>973955</NPANXX>
                      </ListofNPANXX>
                      <Location>
                        <RateCenters>
                         <State>NJ</State>
                          <RCs>
                           <RC>CLIFFSIDE</RC>
                           <RC>DUMONT</RC>
                           <!-- SNIP -->
                           <RC>UNION CITY</RC>
                           <RC>WESTWOOD</RC>
                         </RCs>
                        </RateCenters>
                      </Location>
                    </SearchResult>
              schema:
                $ref: '#/components/schemas/npaNxxRcLcaSearchResult'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INVALID_REQUEST
                message: Bad request
                description: The request parameters are invalid.
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: NOT_FOUND
                message: Resource not found
                description: The requested resource was not found.
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INTERNAL_ERROR
                message: Internal server error
                description: An unexpected error occurred.
          description: Internal Server Error
      summary: Get LCA for phone number
      tags:
        - My Numbers
  /tns/{tn}/ratecenter:
    get:
      description: Retrieves the rate centers associated with that telephone number.
      operationId: RetrieveRateCenterForThatTn
      parameters:
        - description: ''
          example: '+19199918388'
          in: path
          name: tn
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tnRateCenterResponse'
              example:
                state: NJ
                rateCenter: HACKENSACK
            application/xml:
              examples:
                example:
                  description: example
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <TelephoneNumberResponse>
                      <TelephoneNumberDetails>
                        <State>NJ</State>
                        <RateCenter>HACKENSACK</RateCenter>
                      </TelephoneNumberDetails>
                    </TelephoneNumberResponse>
              schema:
                $ref: '#/components/schemas/telephoneNumberRateCenterResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INVALID_REQUEST
                message: Bad request
                description: The request parameters are invalid.
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: NOT_FOUND
                message: Resource not found
                description: The requested resource was not found.
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INTERNAL_ERROR
                message: Internal server error
                description: An unexpected error occurred.
          description: Internal Server Error
      summary: Get rate center for phone number
      tags:
        - My Numbers
  /tns/{tn}/sippeers:
    get:
      description: Retrieves the sippeers associated with that telephone number.
      operationId: RetrieveSippeerForThatTn
      parameters:
        - description: ''
          example: '+19199918388'
          in: path
          name: tn
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tnLocationResponse'
              example:
                locationId: 305643
                locationName: PeerOneSiteThree
            application/xml:
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <SipPeer>
                      <Id>305643</Id>
                      <Name>PeerOneSiteThree</Name>
                    </SipPeer>
              schema:
                $ref: '#/components/schemas/tnSipPeer'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INVALID_REQUEST
                message: Bad request
                description: The request parameters are invalid.
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: NOT_FOUND
                message: Resource not found
                description: The requested resource was not found.
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INTERNAL_ERROR
                message: Internal server error
                description: An unexpected error occurred.
          description: Internal Server Error
      summary: Get location for phone number
      tags:
        - My Numbers
  /tns/{tn}/sites:
    get:
      description: Retrieves the sites associated with that telephone number
      operationId: RetrieveSiteForThatTn
      parameters:
        - description: ''
          example: '+19199918388'
          in: path
          name: tn
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tnSubAccountResponse'
              example:
                subAccountId: 2409
                subAccountName: siteName
            application/xml:
              examples:
                example:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <Site>
                        <Id>2409</Id>
                        <Name>siteName</Name>
                      </Site>
              schema:
                $ref: '#/components/schemas/tnSite'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INVALID_REQUEST
                message: Bad request
                description: The request parameters are invalid.
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: NOT_FOUND
                message: Resource not found
                description: The requested resource was not found.
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myNumbersErrorResponse'
              example:
                code: INTERNAL_ERROR
                message: Internal server error
                description: An unexpected error occurred.
          description: Internal Server Error
      summary: Get sub-account for phone number
      tags:
        - My Numbers
  /tns/{tn}/tndetails:
    get:
      description: >-
        Retrieves detailed information about the phone number.


        In this table are presented capabilities that are not universally
        available. The following response body attributes are only returned for
        numbers from specific region/country:

        | Number Region | Response Body Attributes |

        |:--------------|:------------------------|

        |NANP|LATA|

        |NANP|State|

        |NANP|RateCenter|

        |NANP|E911|


        These parameters are only applicable and hence returned in response body
        for North American Numbering Plan phone numbers.
      operationId: RetrieveTnDetails
      parameters:
        - description: ''
          example: '+19199918388'
          in: path
          name: tn
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Non-NANP details:
                  value:
                    accountId: 12345678
                    country: FR
                    countryCodeA3: FRA
                    inServiceDate: '2020-03-03T15:30:07.518Z'
                    isOnNetVendor: true
                    lastModified: '2020-03-03T15:30:07Z'
                    location:
                      isDefaultLocation: false
                      locationId: 500001
                      locationName: location01
                    phoneNumber: '+33140289562'
                    phoneNumberType: GEOGRAPHIC
                    requirementsPackageId: 55f9f932-6136-48cf-a724-401ec8fe5ff2
                    serviceTypes:
                      - Voice
                    status: Inservice
                    subAccount:
                      id: 123
                      name: subAccount
                    vendorId: 49
                    vendorName: Bandwidth CLEC
                Phone Number details with Hosted Voice, Hosted Messaging, and Hosted E911:
                  description: >-
                    Phone Number details with Voice, Hosted messaging and Hosted
                    E911 on different accounts
                  value:
                    accountId: 12346167
                    city: GUSTINE
                    countryCodeA3: USA
                    hostedPhoneNumberDetails:
                      - accountId: 12346168
                        location:
                          isDefaultLocation: true
                          locationId: 500034
                          locationName: locatione0fDdHYzRb
                        messagingSettings:
                          a2pState: SYSTEM_DEFAULT
                          phoneNumberDetailsNnRoute:
                            name: 9417
                            nnid: 112233
                          smsEnabled: true
                        phoneNumberAttributes:
                          - Hosted
                        serviceTypes:
                          - Hosted Messaging
                        subAccount:
                          id: 495
                          name: subAccount_1KU9l
                      - accountId: 12346169
                        features:
                          - accountId: 12346169
                            address:
                              addressType: E911
                              city: RALEIGH
                              houseNumber: 6518
                              houseSuffix: ''
                              latitude: 35.848359
                              longitude: -75
                              plusFour: 5244
                              stateCode: NC
                              streetName: MAIN CAMPUS
                              streetSuffix: DR
                              zip: 27606
                            callerName: ojjucTKANd
                            featureType: e911
                            lastE911OrderOutcome: SUCCESS
                            locationAddress: false
                            status: Success
                        phoneNumberAttributes:
                          - Hosted
                        serviceTypes:
                          - Hosted E911
                    isOnNetVendor: true
                    lastModified: '2021-02-10T11:22:57Z'
                    lata: 738
                    location:
                      isDefaultLocation: true
                      locationId: 500033
                      locationName: locationBxxygpCJrw
                    phoneNumber: '+12092151016'
                    phoneNumberAttributes:
                      - Hosted
                    phoneNumberType: GEOGRAPHIC
                    rateCenter: GUSTINE
                    serviceTypes:
                      - Voice
                    state: CA
                    status: Inservice
                    subAccount:
                      id: 494
                      name: subAccount_WDSZl
                    tier: 0
                    vendorId: 49
                    vendorName: Bandwidth CLEC
                Phone Number details with Voice and OperatorId and OperatorCode:
                  value:
                    accountId: 12346167
                    city: London
                    countryCodeA3: FRA
                    hostedPhoneNumberDetails:
                      - accountId: 12346168
                        location:
                          isDefaultLocation: true
                          locationId: 500034
                          locationName: locatione0fDdHYzRb
                        messagingSettings:
                          a2pState: SYSTEM_DEFAULT
                          phoneNumberDetailsNnRoute:
                            name: 9417
                            nnid: 112233
                          smsEnabled: true
                        phoneNumberAttributes:
                          - Hosted
                        serviceTypes:
                          - Hosted Messaging
                        subAccount:
                          id: 495
                          name: subAccount_1KU9l
                      - accountId: 12346168
                        location:
                          isDefaultLocation: true
                          locationId: 500034
                          locationName: locatione0fDdHYzRb
                        phoneNumberAttributes:
                          - Hosted
                        serviceTypes:
                          - Hosted Voice
                        subAccount:
                          id: 495
                          name: subAccount_1KU9l
                      - accountId: 12346169
                        features:
                          - accountId: 12346169
                            address:
                              addressType: E911
                              city: RALEIGH
                              houseNumber: 6518
                              houseSuffix: ''
                              latitude: 35.848359
                              longitude: -75
                              plusFour: 5244
                              stateCode: NC
                              streetName: MAIN CAMPUS
                              streetSuffix: DR
                              zip: 27606
                            callerName: ojjucTKANd
                            featureType: e911
                            lastE911OrderOutcome: SUCCESS
                            locationAddress: false
                            phoneNumberAttributes:
                              - Hosted
                            status: Success
                        serviceTypes:
                          - Hosted E911
                    isHostedVoice: true
                    isOnNetVendor: true
                    lastModified: '2021-02-10T11:22:57Z'
                    location:
                      isDefaultLocation: true
                      locationId: 500033
                      locationName: locationBxxygpCJrw
                    operatorCode: VOXB
                    operatorId: '12345'
                    phoneNumber: '+33575210286'
                    phoneNumberAttributes:
                      - Hosted
                    phoneNumberType: GEOGRAPHIC
                    rateCenter: GUSTINE
                    serviceTypes:
                      - Voice
                    status: Inservice
                    subAccount:
                      id: 494
                      name: subAccount_WDSZl
                    tier: 0
                    vendorId: 49
                    vendorName: Bandwidth CLEC
                Shared Phone Number details:
                  value:
                    accountId: 14
                    city: JERSEY CITY
                    countryCodeA3: USA
                    features:
                      - accountId: 14
                        address:
                          city: RALEIGH
                          country: United States
                          emergencyNotificationGroup:
                            description: Building A
                            identifier: 625e3ad9-c95e-4148-b2f7-d47a8dbdd0d9
                          houseNumber: 901
                          plusFour: 5244
                          stateCode: NC
                          streetName: MAIN CAMPUS
                          streetSuffix: DR
                          zip: 27606
                        callerName: Test CallerName
                        featureType: e911
                        locationAddress: false
                        status: Success
                      - featureType: lidb
                        status: Pending
                        subscriberInformation: Fred
                        useType: BUSINESS
                        visibility: PUBLIC
                      - address:
                          addressType: Dlda
                          city: New York
                          country: United States
                          houseNumber: 12
                          stateCode: NY
                          streetName: ELM
                          zip: 10007
                        featureType: dlda
                        listAddress: true
                        listingName:
                          firstName: Joe
                          lastName: Smith
                        listingType: LISTED
                        status: Success
                        subscriberType: BUSINESS
                    hostedPhoneNumberDetails:
                      - accountId: 12346160
                        location:
                          isDefaultLocation: true
                          locationId: 500026
                          locationName: locationemhlO
                        messagingSettings:
                          a2pState: OVERRIDDEN
                          campaignFullyProvisioned: true
                          campaignId: CVWGTGE
                          messageClass: A
                          phoneNumberDetailsNnRoute:
                            name: 7ae5LXMn
                            nnid: 2183991
                          smsEnabled: true
                        phoneNumberAttributes:
                          - Hosted
                        serviceTypes:
                          - Hosted Messaging
                        subAccount:
                          id: 487
                          name: subAccount_Mw4FX
                    inServiceDate: '2014-07-30T11:29:37Z'
                    isOnNetVendor: true
                    lastModified: '2014-07-30T11:29:37Z'
                    lata: 224
                    location:
                      isDefaultLocation: true
                      locationId: 500014
                      locationName: a2750fad-3
                    phoneNumber: '+12018981023'
                    phoneNumberAttributes:
                      - Hosted
                    phoneNumberType: GEOGRAPHIC
                    rateCenter: JERSEYCITY
                    serviceTypes:
                      - Voice
                    state: NJ
                    status: Inservice
                    subAccount:
                      id: 479
                      name: subAccount_9b08f
                    tier: 0
                    vendorId: 49
                    vendorName: Bandwidth CLEC
                Simple response:
                  value:
                    accountId: 14
                    city: JERSEY CITY
                    countryCodeA3: USA
                    features:
                      - acountId: 14
                        address:
                          addressType: E911
                          city: RALEIGH
                          houseNumber: 901
                          houseSuffix: ''
                          plusFour: 5244
                          stateCode: NC
                          streetName: MAIN CAMPUS
                          streetSuffix: DR
                          zip: 27606
                        callerName: Test CallerName
                        featureType: e911
                        locationAddress: false
                        status: Success
                    inServiceDate: '2014-07-30T11:29:37Z'
                    isOnNetVendor: true
                    lastModified: '2014-07-30T11:29:37Z'
                    lata: 224
                    location:
                      isDefaultLocation: true
                      locationId: 500014
                      locationName: a2750fad-3
                    phoneNumber: '+12018981023'
                    phoneNumberType: GEOGRAPHIC
                    rateCenter: JERSEYCITY
                    serviceTypes:
                      - Voice
                      - Messaging
                    state: NJ
                    status: Inservice
                    subAccount:
                      id: 479
                      name: subAccount_9b08f
                    tier: 0
[...]
