openapi: 3.0.1
info:
  title: Number Acquisition
  description: >-
    Bandwidth's Number Acquisition API


    This API provides endpoints to order phone numbers via a New Number Order
    and to import previously acquired telephone numbers into an account via an
    Import to Account Orders order.
  contact:
    name: Bandwidth
    url: https://dev.bandwidth.com/apis/numbers-apis/number-acquisition/
    email: support@bandwidth.com
  version: 1.0.0
  termsOfService: https://www.bandwidth.com/legal/terms-of-service/
servers:
  - url: https://api.bandwidth.com/api/v2
    description: Production
security:
  - Basic: []
  - Bearer: []
paths:
  /accounts/{accountId}/orders:
    get:
      description: >-
        Retrieve order IDs and order details for previously attempted new phone
        number orders. A maximum of 1,000 orders can be retrieved per request.
        If no date range or specific query parameter (marked by <b
        class="required">*</b> below) is provided, the order results will be
        limited to the last two years.

        <p>This request will return a list of the orders that match the criteria
        imposed by the provided query parameters.  The orders list contains a
        detailed description of each order.  Notice that the first elements of
        the payload provide link information that can be used to page through a
        paginated list of orders.  Pagination can be controlled by use of the
        size and page query parameters.</p>

        <p>This order returns a <code>204: No Content</code> when the endpoint
        finds no results matching the parameters provided.</p>
      operationId: listNewPhoneNumberOrders
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/requiredPageQueryParam'
        - $ref: '#/components/parameters/requiredSizeQueryParam'
        - $ref: '#/components/parameters/startDateQueryParam'
        - $ref: '#/components/parameters/endDateQueryParam'
        - $ref: '#/components/parameters/customerOrderIdQueryParam'
        - $ref: '#/components/parameters/newPhoneNumberOrderStatusQueryParam'
        - $ref: '#/components/parameters/userIdQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/listNewPhoneNumberOrders200Response'
        '204':
          $ref: '#/components/responses/listNewPhoneNumberOrders204Response'
        '400':
          $ref: '#/components/responses/listNewPhoneNumberOrders400Response'
      summary: List New Number Orders
      tags:
        - New Number Orders
    post:
      description: >-
        <span>A POST to the /orders resource is used to request that the system
        provide one or more phone number(s) for use by the account. The post
        creates a new number order record to preserve the request, as well as
        the response of the Bandwidth App API to the request.  A well-formed
        POST on the /orders resource will create an order record, and return an
        order ID string that can be used to uniquely identify the new number
        order request. 


        Capabilities that are not universally available are defined in the table
        below. The following request schemas and parameters are only allowed for
        numbers from specific region/country:

        | Number Region | Request Object Type | Request Parameter |

        |:--------------|:------------------|------------------|

        |NANP|rateCenterSearchAndOrderType|-|

        |NANP|areaCodeSearchAndOrderType|-|

        |NANP|npaNxxSearchAndOrderType|-|

        |NANP|tollFreeWildCharSearchAndOrderType|-|

        |NANP|tollFreeVanitySearchAndOrderType|-|

        |NANP|lataSearchAndOrderType|-|

        |NANP|zipSearchAndOrderType|-|

        |NANP|citySearchAndOrderType|-|

        |NANP|stateSearchAndOrderType|-|

        |NANP|combinedSearchAndOrderType|-|

        |NANP|-|backOrderRequested|

        |NANP|-|closeOrder|

        |NANP|-|protected TnAttribute|

        |NANP|-|reservationIdList in ExistingTelephoneNumberOrderType schema|


        <p>Please visit <a
        href='/docs/numbers/guides/searchingForNumbers/'>Guides and
        Tutorials</a> to learn more.</p>
      operationId: createNewPhoneNumberOrder
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/createNewPhoneNumberOrderRequest'
      responses:
        '201':
          $ref: '#/components/responses/createNewPhoneNumberOrder201Response'
        '400':
          $ref: '#/components/responses/createNewPhoneNumberOrder400Response'
      summary: Create New Number Orders
      tags:
        - New Number Orders
  /accounts/{accountId}/orders/totals:
    get:
      description: Retrieves a total number of phone number orders.
      operationId: getTotalOrdersByStatus
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/statusQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/newNumberOrderTotalsResponse200'
      summary: Get New Number Order Phone Number Count Totals
      tags:
        - New Number Orders
  /accounts/{accountId}/orders/{orderId}:
    get:
      description: >-
        Get all of the details associated with an identified order. <p>Please
        visit <a href='/docs/numbers/guides/searchingForNumbers/'>Guides and
        Tutorials</a> to learn more.</p>
      operationId: getNewPhoneNumberOrder
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
        - $ref: >-
            #/components/parameters/newPhoneNumberOrderPhoneNumberDetailQueryParam
      responses:
        '200':
          $ref: '#/components/responses/retrieveNewPhoneNumberOrder200Response'
        '404':
          $ref: '#/components/responses/retrieveNewPhoneNumberOrder404Response'
      summary: Get New Number Order Details
      tags:
        - New Number Orders
    put:
      description: >-
        For orders that support Backorder capabilities, new number orders may
        stay in backordered state while the order is filled. While in this state
        it is possible to update the modifiable fields in the record, as well as
        to request that backorder processing of the order be ended.

        The fields that can be updated are...


        <ul>

        <li>The order name</li>

        <li>The customer order ID</li>

        <li>The backordered state.</li>

        </ul>


        Specifying a &lt;CloseOrder&gt; element (XML) or "closeOrder" key (JSON)
        with a value of true will cancel the backorder request, leaving the
        currently ordered numbers on the account.  No further numbers will be
        added to the account as a result of the order.
      operationId: updateNewPhoneNumberOrder
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/updateNewPhoneNumberOrderRequest'
      responses:
        '200':
          $ref: '#/components/responses/updateNewPhoneNumberOrder200Response'
        '400':
          $ref: '#/components/responses/updateNewPhoneNumberOrder400Response'
        '404':
          $ref: '#/components/responses/updateNewPhoneNumberOrder404Response'
      summary: Update New Number Order
      tags:
        - New Number Orders
  /accounts/{accountId}/orders/{orderId}/areaCodes:
    get:
      description: Retrieves the area codes of the phone numbers from the specified order.
      operationId: listOrderAreaCodes
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/newNumberOrderAreaCodesResponse200'
      summary: List New Number Order Area Codes [NANP]
      tags:
        - New Number Orders
  /accounts/{accountId}/orders/{orderId}/history:
    get:
      description: Retrieve a full history of updates and changes associated with an order.
      operationId: getOrderHistory
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getNewNumberOrderHistoryResponse200'
        '404':
          $ref: '#/components/responses/getNewNumberOrderHistoryResponse404'
      summary: Get New Number Order History
      tags:
        - New Number Orders
  /accounts/{accountId}/orders/{orderId}/notes:
    get:
      description: >-
        Retrieve all notes associated with the order.

        <p>This order returns a <code>204: No Content</code> when the endpoint
        finds no results matching the parameters provided.</p>
      operationId: listOrderNotes
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/newNumberOrderNotesGetResponse200'
        '204':
          $ref: '#/components/responses/newNumberOrderNotesGetResponse204'
      summary: List New Number Order Notes
      tags:
        - New Number Orders
    post:
      description: >-
        Add a note to an order. This causes a notification to be sent to
        Bandwidth Operations, so that they may assist as necessary. A note may
        be up to 500 characters in length.
      operationId: createOrderNote
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/postNewNumberOrderNotesRequest'
      responses:
        '201':
          $ref: '#/components/responses/newNumberOrderNotesPostResponse201'
        '400':
          $ref: '#/components/responses/newNumberOrderNotesPostResponse400'
      summary: Create New Number Order Note
      tags:
        - New Number Orders
  /accounts/{accountId}/orders/{orderId}/notes/{noteId}:
    put:
      description: Update a specified note. Notes may only be updated, not deleted.
      operationId: updateOrderNote
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
        - $ref: '#/components/parameters/noteIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/putNewNumberOrderNotesRequest'
      responses:
        '200':
          $ref: '#/components/responses/putNewNumberOrderNotesResponse200'
        '400':
          $ref: '#/components/responses/putNewNumberOrderNotesResponse400'
      summary: Update New Number Order Note
      tags:
        - New Number Orders
  /accounts/{accountId}/orders/{orderId}/npaNxx:
    get:
      description: Retrieves the Npa-Nxx of the phone numbers from the specified order.
      operationId: listOrderNpaNxx
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getNewNumberOrderNpaNxxResponse200'
      summary: List New Number Order Npa-Nxx [NANP]
      tags:
        - New Number Orders
  /accounts/{accountId}/orders/{orderId}/tns:
    get:
      description: >-
        Returns a list of phone numbers associated with the ID of a given new
        number order.
      operationId: listOrderTns
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getNewNumberOrderTnListResponse200'
        '404':
          $ref: '#/components/responses/getNewNumberOrderTnListResponse404'
      summary: List Phone Numbers from a New Number Order
      tags:
        - New Number Orders
  /accounts/{accountId}/orders/{orderId}/totals:
    get:
      description: >-
        Retrieves the total quantity of phone numbers from the specified new
        number order.
      operationId: getOrderTotals
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/orderIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getNewNumberOrderIdTotalsResponse200'
      summary: Get Quantity Of Phone Numbers In New Number Order
      tags:
        - New Number Orders
  /cities:
    get:
      description: >-
        The /cities resource returns all the cities in the indicated state that
        are supported from a coverage perspective and, if requested, that
        contain orderable inventory. The values returned indicate the names of
        the cities and, if <b>available</b> is specified, then returns the
        available inventory by city. Note that the mapping between rate center
        and city is not completely predictable because multiple cities can be
        served by a single rate center and it may take multiple rate centers to
        serve a city. The rate centers results are more predictable because they
        are defined strictly in telecommunication terms. The rate centers and
        cities API calls return information about the Bandwidth CLEC network,
        including coverage data, indicating both the extent of on-net and
        off-net coverage, as well as number availability, again from an on-net
        and off-net perspective. The rules are as follows: <ul><li>If
        supported=true is specified, then the coverage or availability is
        reported for the Bandwidth CLEC only.</li><li>If supported is omitted or
        false, then the coverage or availability is reported for the combination
        of the Bandwidth CLEC and our partners.</li><li>If available=true is
        specified, then only rate centers in which we have available numbers are
        reported.</li><li>If available is omitted or false, then all rate
        centers within the scope defined by supported will be
        returned.</li></ul>These rules apply to both the /rateCenters and
        /cities API calls. <table border="1" cellpadding="0" cellspacing="0">
        <tbody> <tr> <td valign="top"> </td> <td valign="top"> Supported = true
        </td> <td valign="top"> Supported is missing </td> </tr> <tr> <td
        valign="top"> available = true </td> <td valign="top"> Available numbers
        within the Bandwidth CLEC network </td> <td valign="top"> Available
        numbers within the Bandwidth CLEC network combined with our partner
        networks </td> </tr> <tr> <td valign="top"> available is missing </td>
        <td valign="top"> Coverage in the Bandwidth CLEC </td> <td valign="top">
        Coverage of the combined Bandwidth CLEC + Partner networks </td> </tr>
        </tbody> </table>
      operationId: listCities
      parameters:
        - $ref: '#/components/parameters/stateQueryParam'
        - $ref: '#/components/parameters/availableCityQueryParam'
        - $ref: '#/components/parameters/supportedQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/listCities200Response'
        '400':
          $ref: '#/components/responses/listCities400Response'
        '500':
          $ref: '#/components/responses/listCities500Response'
      summary: List Cities [NANP]
      tags:
        - Coverage
  /rateCenters:
    get:
      description: >-
        The rateCenters resource returns all the rate centers in the indicated
        state that are supported from a coverage perspective and, if requested,
        that contain orderable inventory. The values returned indicate the names
        of the rate centers and, if the query parameter <b>available</b> is
        specified, then returns the available inventory by rate center. The rate
        centers API call returns information about the Bandwidth CLEC network,
        including coverage data, indicating both the extent of on-net and
        off-net coverage, as well as number availability, again from an on-net
        and off-net perspective. The rules are as follows: <ul><li>If
        supported=true is specified, then the coverage or availability is
        reported for the Bandwidth CLEC only.</li><li>If supported=true is
        omitted or false, then the coverage or availability is reported for the
        combination of the Bandwidth CLEC and our partners.</li><li>If
        available=true is specified, then only rate centers in which we have
        available numbers are reported.</li><li>If available is omitted or
        false, then all rate centers within the scope defined by supported will
        be returned.</li></ul>These rules apply to both the /rateCenters and
        /cities API calls. <table border="1" cellpadding="0" cellspacing="0">
        <tbody> <tr> <td valign="top"> </td> <td valign="top"> Supported = true
        </td> <td valign="top"> Supported is missing </td> </tr> <tr> <td
        valign="top"> available = true </td> <td valign="top"> Available numbers
        within the Bandwidth CLEC network </td> <td valign="top"> Available
        numbers within the Bandwidth CLEC network combined with our partner
        networks </td> </tr> <tr> <td valign="top"> available is missing </td>
        <td valign="top"> Coverage in the Bandwidth CLEC </td> <td valign="top">
        Coverage of the combined Bandwidth CLEC + Partner networks </td> </tr>
        </tbody> </table>
      operationId: listRateCenters
      parameters:
        - $ref: '#/components/parameters/stateQueryParam'
        - $ref: '#/components/parameters/availableRateCenterQueryParam'
        - $ref: '#/components/parameters/supportedQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/listRateCenters200Response'
        '400':
          $ref: '#/components/responses/listRateCenters400Response'
        '500':
          $ref: '#/components/responses/listRateCenters500Response'
      summary: List Rate Centers
      tags:
        - Coverage
  /coveredRateCenters:
    get:
      description: >-
        The Covered Rate Centers API returns information about the Bandwidth
        CLEC network, including coverage data. This indicates the extent of
        on-net and off-net coverage, as well as number availability.
      operationId: listCoveredRateCenters
      parameters:
        - $ref: '#/components/parameters/pageQueryParam'
        - $ref: '#/components/parameters/sizeQueryParam'
        - $ref: '#/components/parameters/embedQueryParam'
        - $ref: '#/components/parameters/optionalStateQueryParam'
        - $ref: '#/components/parameters/abbreviationQueryParam'
        - $ref: '#/components/parameters/nameQueryParam'
        - $ref: '#/components/parameters/zipQueryParam'
        - $ref: '#/components/parameters/cityQueryParam'
        - $ref: '#/components/parameters/lataQueryParam'
        - $ref: '#/components/parameters/tierQueryParam'
        - $ref: '#/components/parameters/npaQueryParam'
        - $ref: '#/components/parameters/npaNxxQueryParam'
        - $ref: '#/components/parameters/npaNxxXQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/listCoveredRateCenters200Response'
        '204':
          $ref: '#/components/responses/listCoveredRateCenters204Response'
        '303':
          $ref: '#/components/responses/listCoveredRateCenters303Response'
        '400':
          $ref: '#/components/responses/listCoveredRateCenters400Response'
        '500':
          $ref: '#/components/responses/listCoveredRateCenters500Response'
      summary: List Covered Rate Centers
      tags:
        - Coverage
  /coveredRateCenters/{rateCenterId}:
    get:
      description: Get information about a covered rate center by ID.
      operationId: getCoveredRateCenter
      parameters:
        - $ref: '#/components/parameters/rateCenterIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getCoveredRateCenter200Response'
        '404':
          $ref: '#/components/responses/getCoveredRateCenter404Response'
      summary: Get Covered Rate Center
      tags:
        - Coverage
  /accounts/{accountId}/availableNpaNxx:
    get:
      description: Retrieves a list of available Npa-Nxx phone numbers.
      operationId: getAvailableNpaNxx
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/areaCodeQueryParam'
        - $ref: '#/components/parameters/optionalStateQueryParam'
        - $ref: '#/components/parameters/quantityQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/getAvailableNpaNxx200Response'
        '400':
          $ref: '#/components/responses/getAvailableNpaNxx400Response'
        '404':
          $ref: '#/components/responses/getAvailableNpaNxx404Response'
      summary: List Available NPA-NXX Phone Numbers [NANP]
      tags:
        - Coverage
  /accounts/{accountId}/importToAccount:
    get:
      tags:
        - Import to Account Orders
      description: >
        Retrieve a list of the Import to Account orders that have previously
        been performed on the account. The query must always specify pagination
        parameters (size, page). The results can also be optionally limited with
        start date and end date. Returns a 204 if no results are found.
      summary: List Import to Account Orders
      operationId: listImportToAccountOrders
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/requiredPageQueryParam'
        - $ref: '#/components/parameters/requiredSizeQueryParam'
        - $ref: '#/components/parameters/startDateQueryParam'
        - $ref: '#/components/parameters/endDateQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/listImportToAccountOrders200Response'
        '204':
          $ref: '#/components/responses/importToAccount204Response'
        '400':
          $ref: '#/components/responses/listImportToAccountOrders400Response'
        '401':
          $ref: '#/components/responses/importToAccountUnauthorized401Response'
        '403':
          $ref: '#/components/responses/importToAccountForbidden403Response'
        '404':
          $ref: '#/components/responses/importToAccountNotFound404Response'
        '405':
          $ref: '#/components/responses/importToAccount405Response'
        '429':
          $ref: '#/components/responses/importToAccountTooManyRequests429Response'
        '500':
          $ref: '#/components/responses/importToAccount500Response'
  /accounts/{accountId}/importToAccount/{orderId}:
    get:
      tags:
        - Import to Account Orders
      description: >-
        Retrieve information about an Import to Account order with the specified
        ID.
      summary: Fetch Import to Account Order Status
      operationId: getImportToAccountOrder
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/importToAccountOrderIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/importToAccountNumberOrderResponseForGet'
        '401':
          $ref: '#/components/responses/importToAccountUnauthorized401Response'
        '403':
          $ref: '#/components/responses/importToAccountForbidden403Response'
        '404':
          $ref: '#/components/responses/getImportToAccountOrder404Response'
        '405':
          $ref: '#/components/responses/importToAccount405Response'
        '429':
          $ref: '#/components/responses/importToAccountTooManyRequests429Response'
        '500':
          $ref: '#/components/responses/importToAccount500Response'
  /accounts/{accountId}/importToAccount/{orderId}/history:
    get:
      tags:
        - Import to Account Orders
      description: Retrieves the history of the specified Import to Account order.
      summary: Fetch Import to Account Order History
      operationId: getImportToAccountOrderHistory
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/importToAccountOrderIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getImportToAccountOrderHistory200Response'
        '401':
          $ref: '#/components/responses/importToAccountUnauthorized401Response'
        '403':
          $ref: '#/components/responses/importToAccountForbidden403Response'
        '404':
          $ref: '#/components/responses/importToAccountNotFound404Response'
        '405':
          $ref: '#/components/responses/importToAccount405Response'
        '429':
          $ref: '#/components/responses/importToAccountTooManyRequests429Response'
        '500':
          $ref: '#/components/responses/importToAccount500Response'
  /accounts/{accountId}/importToAccount/batches:
    get:
      tags:
        - Import to Account Orders
      description: >-
        The batches resource enumerates all of the batches that have been used
        for importing numbers into an account.

        If there is the need to import a large number of telephone numbers into
        an account, the import is submitted as a <b>batch</b>, which is a
        collection of submissions that are held together by a batch ID. This
        batch of orders can subsequently be retrieved by retrieving all of the
        orders that share a batch ID. Returns a 204 if no results are found.
      summary: List Import to Account Order Batches
      operationId: listImportToAccountOrderBatches
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/listImportToAccountOrderBatches200Response'
        '204':
          $ref: '#/components/responses/importToAccount204Response'
        '401':
          $ref: '#/components/responses/importToAccountUnauthorized401Response'
        '403':
          $ref: '#/components/responses/importToAccountForbidden403Response'
        '404':
          $ref: '#/components/responses/importToAccountNotFound404Response'
        '405':
          $ref: '#/components/responses/importToAccount405Response'
        '429':
          $ref: '#/components/responses/importToAccountTooManyRequests429Response'
        '500':
          $ref: '#/components/responses/importToAccount500Response'
  /accounts/{accountId}/importToAccount/batches/{batchId}:
    get:
      tags:
        - Import to Account Orders
      description: >-
        A batch ID identifies a specific batch of one or more orders that
        constitute a complete import of a (potentially large number of)
        telephone numbers. Retrieving the information associated with a specific
        batch ID describes the orders that were included in that batch, and the
        status and ID of those orders. Returns a 204 if no results are found.
      summary: Fetch Import to Account Orders Status by Batch ID
      operationId: listImportToAccountOrdersByBatchId
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/batchIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getImportToAccountOrdersByBatchId200Response'
        '204':
          $ref: '#/components/responses/importToAccount204Response'
        '401':
          $ref: '#/components/responses/importToAccountUnauthorized401Response'
        '403':
          $ref: '#/components/responses/importToAccountForbidden403Response'
        '404':
          $ref: '#/components/responses/importToAccountNotFound404Response'
        '405':
          $ref: '#/components/responses/importToAccount405Response'
        '429':
          $ref: '#/components/responses/importToAccountTooManyRequests429Response'
        '500':
          $ref: '#/components/responses/importToAccount500Response'
components:
  parameters:
    accountIdPathParam:
      description: User's account ID.
      example: '1234567'
      in: path
      name: accountId
      required: true
      schema:
        type: string
    requiredPageQueryParam:
      description: >-
        An ID of the first element in a page.  This value will indicate the
        first value, not the page number, of the initial entry in the page being
        requested. The initial page is tagged with the ID `1` as a convention.
      in: query
      name: page
      required: true
      schema:
        default: 1
        example: 1
        type: integer
    startDateQueryParam:
      description: >-
        The starting date of a search in yy-mm-dd format. startdate and enddate
        <strong>must</strong> be used as a pair.
      in: query
      name: startDate
      required: false
      schema:
        example: 22-10-31
        type: string
    requiredSizeQueryParam:
      description: The number of elements to retrieve
      in: query
      name: size
      required: true
      schema:
        example: 30
        type: integer
    endDateQueryParam:
      description: >-
        The ending date of a search in yy-mm-dd format. startdate and enddate
        <strong>must</strong> be used as a pair.
      in: query
      name: endDate
      required: false
      schema:
        example: 23-10-31
        type: string
    customerOrderIdQueryParam:
      description: >
        Filter orders by a customer-assigned reference ID. Because
        `customerOrderId` is not unique — Bandwidth applies no uniqueness
        constraint — this query may return multiple orders if the same value was
        used across multiple orders. Each result will have a distinct
        Bandwidth-assigned `orderId`. To retrieve a single specific order, use
        its `orderId` instead.
      example: ABCCorp12345
      in: query
      name: customerOrderId
      schema:
        type: string
    newPhoneNumberOrderStatusQueryParam:
      description: The status of the orders that should be in the returned set
      example: BACKORDERED
      in: query
      name: status
      required: false
      schema:
        $ref: '#/components/schemas/visibleOrderStatusJson'
    userIdQueryParam:
      description: The userId that submitted the order
      in: query
      name: userId
      schema:
        example: testUser
        type: string
    orderIdPathParam:
      description: ID of order to retrieve
      example: bf1305b8-8998-1111-2222-51ba3ce52d4e
      in: path
      name: orderId
      required: true
      schema:
        type: string
    importToAccountOrderIdPathParam:
      description: Import to Account order's ID.
      in: path
      name: orderId
      required: true
      schema:
        type: string
      example: 093a9f9b-1a78-4e47-b6e2-776a484596f4
    batchIdPathParam:
      description: Import to Account order's batch ID.
      in: path
      name: batchId
      required: true
      schema:
        type: string
      example: 093a9f9b-1a78-4e47-b6e2-776a484596f4
    newPhoneNumberOrderPhoneNumberDetailQueryParam:
      description: >-
        if true, an extended payload describing details about the ordered phone
        numbers will be provided
      example: true
      in: query
      name: tndetail
      required: false
      schema:
        default: false
        type: boolean
    statusQueryParam:
      description: >-
        The status of an order. Possible values are RECEIVED, COMPLETE, PARTIAL,
        BACKORDERED, FAILED, and PROCESSING.
      in: query
      name: status
      schema:
        type: string
    noteIdPathParam:
      description: Note ID
      example: '123'
      in: path
      name: noteId
      required: true
      schema:
        type: string
    stateQueryParam:
      name: state
      description: A 2 character state code.
      in: query
      required: true
      schema:
        type: string
      example: NC
    availableCityQueryParam:
      name: available
      description: >-
        If set to true, the payload includes the quantity of the available phone
        numbers in that city.
      in: query
      required: false
      schema:
        type: boolean
      example: true
    supportedQueryParam:
      name: supported
      description: >-
        If set to true, the payload will show rate centers that Bandwidth serves
        directly.
      in: query
      required: false
      schema:
        type: boolean
      example: true
    availableRateCenterQueryParam:
      name: available
      description: >-
        If set to true, the payload includes the quantity of the available phone
        numbers in that rate center.
      in: query
      required: false
      schema:
        type: boolean
      example: true
    pageQueryParam:
      name: page
      description: >-
        The starting value for a paginated response. The default is '1',
        indicating the first page of results.
      in: query
      required: true
      schema:
        type: number
      example: 1
    sizeQueryParam:
      name: size
      description: The number of rate centers to include in a paginated result payload.
      in: query
      required: true
      schema:
        type: number
      example: 50
    embedQueryParam:
      name: embed
      description: >-
        A set of fields to be included in the response. Lists of zip codes,
        cities, vendors, NpaNxxXs, and counts of available or limited available
        phone numbers are not included for each rate center by default. For
        example, if the payload should contain a list of the cities covered by
        the rate centers, then embed=cities would be included as a query
        parameter. A list of vendors is available only for admin users. No
        filter parameters are supported if LocalRateCenters is specified. In
        this case, only size, page, and any other embed parameters are
        supported.
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
    abbreviationQueryParam:
      name: abbreviation
      description: A rate center's abbreviation.
      in: query
      required: false
      schema:
        type: string
      example: BARTLESVL
    nameQueryParam:
      name: name
      description: The name of a rate center.
      in: query
      required: false
      schema:
        type: string
      example: BARTLESVILLE
    zipQueryParam:
      name: zip
      description: A 5 digit ZIP code of the area covered by the rate center.
      in: query
      required: false
      schema:
        type: string
      example: '74029'
    cityQueryParam:
      name: city
      description: The name of a city covered by the rate center.
      in: query
      required: false
      schema:
        type: string
      example: DEWEY
    lataQueryParam:
      name: lata
      description: A 3 or 5 digit rate center's LATA.
      in: query
      required: false
      schema:
        type: number
      example: 538
    tierQueryParam:
      name: tier
      description: The tier associated with covered rate center; a value from 0 to 5.
      in: query
      required: false
      schema:
        type: number
      example: 0
    npaQueryParam:
      name: npa
      description: The 3 digit NPA or area code covered by the rate center.
      in: query
      required: false
      schema:
        type: number
      example: 918
    npaNxxQueryParam:
      name: npaNxx
      description: The 6 digits NPA and NXX values covered by the rate center.
      in: query
      required: false
      schema:
        type: number
      example: 918886
    npaNxxXQueryParam:
      name: npaNxxX
      description: >-
        The 7 digits of the NPA, NXX, and thousands-block values covered by the
        rate center.
      in: query
      required: false
      schema:
        type: number
      example: 9188862
    optionalStateQueryParam:
      name: state
      description: A 2 character state code
      in: query
      required: false
      schema:
        type: string
      example: OK
    rateCenterIdPathParam:
      name: rateCenterId
      in: path
      required: true
      schema:
        type: string
    areaCodeQueryParam:
      name: areaCode
      description: >-
        The allowed number ranges are [2-9] for the first digit and [0-9] for
        both the second and third digits.
      in: query
      required: false
      schema:
        type: string
      example: '919'
    quantityQueryParam:
      name: quantity
      description: >-
        Filters out any Npa-Nxx grouped phone numbers whose quantity falls short
        of the given quantity.
      in: query
      required: false
      schema:
        type: integer
      example: 150
  requestBodies:
    createNewPhoneNumberOrderRequest:
      content:
        application/json:
          examples:
            combinedSearchAndOrderType (local vanity) [NANP]:
              $ref: >-
                #/components/examples/createNewPhoneNumberOrderCombinedSearchAndOrderLocalVanityNanpJsonExample
            combinedSearchAndOrderType (protected status) [NANP]:
              $ref: >-
                #/components/examples/createNewPhoneNumberOrderCombinedSearchAndOrderProtectedStatusNanpJsonExample
            combinedSearchAndOrderType [NANP]:
              $ref: >-
                #/components/examples/createNewPhoneNumberOrderCombinedSearchAndOrderNanpJsonExample
            existingPhoneNumberOrderType:
              $ref: >-
                #/components/examples/createNewPhoneNumberOrderExistingPhoneNumberOrderTypeJsonExample
          schema:
            $ref: '#/components/schemas/createNewPhoneNumberOrderRequestSchemaJson'
        application/xml:
          examples:
            AreaCodeSearchAndOrderType [NANP]:
              $ref: >-
                #/components/examples/createNewPhoneNumberOrderAreaCodeSearchAndOrderNanpXmlExample
            CitySearchAndOrderType [NANP]:
              $ref: >-
                #/components/examples/createNewPhoneNumberOrderCitySearchAndOrderNanpXmlExample
            CombinedSearchAndOrderType (local vanity) [NANP]:
              $ref: >-
                #/components/examples/createNewPhoneNumberOrderCombinedSearchAndOrderLocalVanityNanpXmlExample
            CombinedSearchAndOrderType (protected status) [NANP]:
              $ref: >-
                #/components/examples/createNewPhoneNumberOrderCombinedSearchAndOrderProtectedStatusNanpXmlExample
            CombinedSearchAndOrderType [NANP]:
              $ref: >-
                #/components/examples/createNewPhoneNumberOrderCombinedSearchAndOrderNanpXmlExample
            ExistingTelephoneNumberOrderType:
              $ref: >-
                #/components/examples/createNewPhoneNumberOrderExistingTelephoneNumberOrderTypeXmlExample
            General:
              $ref: '#/components/examples/createNewPhoneNumberOrderGeneralXmlExample'
            LATASearchAndOrderType [NANP]:
              $ref: >-
                #/components/examples/createNewPhoneNumberOrderLataSearchAndOrderNanpXmlExample
            NPANXXSearchAndOrderType [NANP]:
              $ref: >-
                #/components/examples/createNewPhoneNumberOrderNpaNxxSearchAndOrderNanpXmlExample
            RateCenterSearchAndOrderType [NANP]:
              $ref: >-
                #/components/examples/createNewPhoneNumberOrderRateCenterSearchAndOrderNanpXmlExample
            StateSearchAndOrderType [NANP]:
              $ref: >-
                #/components/examples/createNewPhoneNumberOrderStateSearchAndOrderNanpXmlExample
            TollFreeVanitySearchAndOrderType [NANP]:
              $ref: >-
                #/components/examples/createNewPhoneNumberOrderTollFreeVanitySearchAndOrderNanpXmlExample
            TollFreeWildCharSearchAndOrderType [NANP]:
              $ref: >-
                #/components/examples/createNewPhoneNumberOrderTollFreeWildCharSearchAndOrderNanpXmlExample
            ZIPSearchAndOrderType [NANP]:
              $ref: >-
                #/components/examples/createNewPhoneNumberOrderZipSearchAndOrderNanpXmlExample
          schema:
            oneOf:
              - $ref: '#/components/schemas/existingTelephoneNumberOrder'
              - $ref: '#/components/schemas/rateCenterSearchAndOrderNanp'
              - $ref: '#/components/schemas/areaCodeSearchAndOrderNanp'
              - $ref: '#/components/schemas/npaNxxSearchAndOrderNanp'
              - $ref: '#/components/schemas/tollFreeWildCharSearchAndOrderNanp'
              - $ref: '#/components/schemas/tollFreeVanitySearchAndOrderNanp'
              - $ref: '#/components/schemas/lataSearchAndOrderNanp'
              - $ref: '#/components/schemas/zipSearchAndOrderNanp'
              - $ref: '#/components/schemas/citySearchAndOrderNanp'
              - $ref: '#/components/schemas/stateSearchAndOrderNanp'
              - $ref: '#/components/schemas/combinedSearchAndOrderNanp'
    updateNewPhoneNumberOrderRequest:
      content:
        application/json:
          examples:
            example:
              $ref: '#/components/examples/updateNewPhoneNumberOrderJsonExample'
          schema:
            $ref: '#/components/schemas/updateNewPhoneNumberOrderJson'
        application/xml:
          examples:
            example:
              $ref: '#/components/examples/updateNewPhoneNumberOrderXmlExample'
          schema:
            $ref: '#/components/schemas/orderUpdate'
    postNewNumberOrderNotesRequest:
      content:
        application/xml:
          examples:
            example:
              $ref: '#/components/examples/postNewNumberOrderNotesRequestXmlExample'
          schema:
            $ref: '#/components/schemas/note'
    putNewNumberOrderNotesRequest:
      content:
        application/xml:
          examples:
            example:
              $ref: '#/components/examples/putNewNumberOrderNotesRequestXmlExample'
          schema:
            $ref: '#/components/schemas/note'
  examples:
    createNewPhoneNumberOrderCombinedSearchAndOrderLocalVanityNanpJsonExample:
      description: >-
        Specify areaCode and localVanity to order phone numbers matching a
        specific alphanumeric pattern between 4 and 7 characters long.

        Limitations: areaCode is required when searching for a local vanity
        number. No other parameter combinations are allowed here. This order
        type is unsupported with backOrderRequested=true.
      value:
        backOrderRequested: false
        customerOrderId: SJM00004
        orderType:
          areaCode: '617'
          endsIn: false
          localVanity: newcars
          quantity: 1
          type: combinedSearchAndOrderType
        subAccountId: 743
        tags:
          - tagName: customerId
            tagValue: 11111111-1111-1111-1111-111111111111
    createNewPhoneNumberOrderCombinedSearchAndOrderProtectedStatusNanpJsonExample:
      description: combinedSearchAndOrderType on a number in Protected status
      value:
        backOrderRequested: false
        customerOrderId: SJM00005
        orderType:
          city: RALEIGH
          enableLCA: false
          npaNxx: '919439'
          quantity: 1
          state: NC
          type: combinedSearchAndOrderType
        partialAllowed: false
        phoneNumberAttributes:
          - PROTECTED
        subAccountId: 743
        tags:
          - tagName: customerId
            tagValue: 11111111-1111-1111-1111-111111111111
    createNewPhoneNumberOrderCombinedSearchAndOrderNanpJsonExample:
      description: >-
        Specify any combination of: areaCode, rateCenter, state, npaNxx,
        npaNxxX, lata, city, and zip, with the following limitations: areaCode,
        npaNxx and npaNxxX are mutually exclusive; LCA search is supported only
        for one of the following criteria: npaNxx, npaNxxX, rateCenter and
        state; if city or rateCenter is specified, then state is required.
      value:
        backOrderRequested: false
        customerOrderId: SJM00003
        orderType:
          areaCode: '617'
          city: RALEIGH
          enableLCA: false
          lata: '224'
          quantity: 1
          rateCenter: RALEIGH
          state: NC
          type: combinedSearchAndOrderType
          zip: '27606'
        partialAllowed: false
        subAccountId: 743
        tags:
          - tagName: customerId
            tagValue: 11111111-1111-1111-1111-111111111111
    createNewPhoneNumberOrderExistingPhoneNumberOrderTypeJsonExample:
      description: >-
        Order a set of phone numbers known to be available. Typically, when the
        numbers have been found and/or reserved using a separate
        availableNumbers search. If the numbers have previously been reserved, a
        reservation ID must be included for each number.
      value:
        autoActivate: true
        customerOrderId: SJM00002
        orderType:
          phoneNumbers:
            - '+19193752369'
            - '+19193752720'
          reservationIds:
            - a8e7d1f9-2c5a-4e3b-8f1c-5d9a7b3e1f02
            - b4f6c8a1-7e9d-4023-95b7-1a6c4d8e3f5a
          type: existingPhoneNumberOrderType
        partialAllowed: false
        tags:
          - tagName: customerId
            tagValue: 11111111-1111-1111-1111-111111111111
        requirementsPackageId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        subAccountId: 873
        voiceConfigurationPackageId: d21315af-9b5b-4b45-a6f4-9106cbfe87d1
        voiceIntegrationIds:
          - 5fa85f64-5717-4562-b3fc-2c963f66afa6
          - 5fa85f64-5717-4562-b3fc-2c963f66afa7
    createNewPhoneNumberOrderAreaCodeSearchAndOrderNanpXmlExample:
      description: >-
        Allowed ranges ~ [2-9] for the first digit and [0, 9] for both the
        second and third digits.
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <Order>
            <CustomerOrderId>123456789</CustomerOrderId>
            <Name>Area Code Order</Name>
            <BackOrderRequested>false</BackOrderRequested>
            <AreaCodeSearchAndOrderType>
                <AreaCode>435</AreaCode>
                <Quantity>1</Quantity>
            </AreaCodeSearchAndOrderType>
            <PartialAllowed>true</PartialAllowed>
            <SiteId>743</SiteId>
            <VoiceConfigurationPackageId>d21315af-9b5b-4b45-a6f4-9106cbfe87d1</VoiceConfigurationPackageId>
            <RequirementsPackageId>3fa85f64-5717-4562-b3fc-2c963f66afa6</RequirementsPackageId>
            <VoiceIntegrationIds>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa6</VoiceIntegrationId>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa7</VoiceIntegrationId>
            </VoiceIntegrationIds>
            <AutoActivate>true</AutoActivate>
            <Tags>
              <Tag>
                <TagName>customerId</TagName>
                <TagValue>11111111-1111-1111-1111-111111111111</TagValue>
              </Tag>
            </Tags>
        </Order>
    createNewPhoneNumberOrderCitySearchAndOrderNanpXmlExample:
      description: Specify the City and State to be ordered from.
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <Order>
            <CustomerOrderId>123456789</CustomerOrderId>
            <Name>Area Code Order</Name>
            <BackOrderRequested>false</BackOrderRequested>
            <CitySearchAndOrderType>
                <Quantity>1</Quantity>
                <City>RALEIGH</City>
                <State>NC</State>
            </CitySearchAndOrderType>
            <PartialAllowed>true</PartialAllowed>
            <SiteId>743</SiteId>
            <VoiceConfigurationPackageId>d21315af-9b5b-4b45-a6f4-9106cbfe87d1</VoiceConfigurationPackageId>
            <RequirementsPackageId>3fa85f64-5717-4562-b3fc-2c963f66afa6</RequirementsPackageId>
            <VoiceIntegrationIds>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa6</VoiceIntegrationId>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa7</VoiceIntegrationId>
            </VoiceIntegrationIds>
            <AutoActivate>true</AutoActivate>
            <Tags>
              <Tag>
                <TagName>customerId</TagName>
                <TagValue>11111111-1111-1111-1111-111111111111</TagValue>
              </Tag>
            </Tags>
        </Order>
    createNewPhoneNumberOrderCombinedSearchAndOrderLocalVanityNanpXmlExample:
      description: >-
        Specify AreaCode and LocalVanity to order phone numbers matching a
        specific alphanumeric pattern between 4 and 7 characters long.

        Limitations: AreaCode is always required. No parameter combinations are
        allowed here/ This order type is unsupported with
        BackOrderRequested=true.
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <Order>
            <CustomerOrderId>123456789</CustomerOrderId>
            <Name>Local Vanity Order</Name>
            <CombinedSearchAndOrderType>
                <AreaCode>617</AreaCode>
                <LocalVanity>newcars</LocalVanity>
                <Quantity>1</Quantity>
                <EndsIn>false</EndsIn>
            </CombinedSearchAndOrderType>
            <SiteId>743</SiteId>
            <VoiceConfigurationPackageId>d21315af-9b5b-4b45-a6f4-9106cbfe87d1</VoiceConfigurationPackageId>
            <RequirementsPackageId>3fa85f64-5717-4562-b3fc-2c963f66afa6</RequirementsPackageId>
            <VoiceIntegrationIds>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa6</VoiceIntegrationId>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa7</VoiceIntegrationId>
            </VoiceIntegrationIds>
            <AutoActivate>true</AutoActivate>
            <Tags>
              <Tag>
                <TagName>customerId</TagName>
                <TagValue>11111111-1111-1111-1111-111111111111</TagValue>
              </Tag>
            </Tags>
        </Order>
    createNewPhoneNumberOrderCombinedSearchAndOrderProtectedStatusNanpXmlExample:
      description: CombinedSearchAndOrderType with established Protected status
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <Order>
            <CustomerOrderId>123456789</CustomerOrderId>
            <Name>Area Code Order</Name>
            <BackOrderRequested>false</BackOrderRequested>
            <CombinedSearchAndOrderType>
                <NpaNxx>919439</NpaNxx>
                <City>RALEIGH</City>
                <State>NC</State>
                <EnableLCA>false</EnableLCA>
                <Quantity>1</Quantity>
            </CombinedSearchAndOrderType>
            <TnAttributes>
                    <TnAttribute>Protected</TnAttribute>
                    <TnAttribute>External</TnAttribute>
                    <TnAttribute>Imported</TnAttribute>
            </TnAttributes>
            <PartialAllowed>true</PartialAllowed>
            <SiteId>743</SiteId>
            <VoiceConfigurationPackageId>d21315af-9b5b-4b45-a6f4-9106cbfe87d1</VoiceConfigurationPackageId>
            <RequirementsPackageId>3fa85f64-5717-4562-b3fc-2c963f66afa6</RequirementsPackageId>
            <VoiceIntegrationIds>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa6</VoiceIntegrationId>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa7</VoiceIntegrationId>
            </VoiceIntegrationIds>
            <AutoActivate>true</AutoActivate>
            <Tags>
              <Tag>
                <TagName>customerId</TagName>
                <TagValue>11111111-1111-1111-1111-111111111111</TagValue>
              </Tag>
            </Tags>
        </Order>
    createNewPhoneNumberOrderCombinedSearchAndOrderNanpXmlExample:
      description: >-
        Specify the any combination of: AreaCode, RateCenter, State, NpaNxx,
        NpaNxxX, Lata, City, Zip. But with following limitations: AreaCode,
        NpaNxx and NpaNxxX are mutually exclusive, LCA search is supported only
        for one of the following criteria: NpaNxx, NpaNxxX, RateCenter and
        State. If City or RateCenter is specified, then State is required.
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <Order>
            <CustomerOrderId>123456789</CustomerOrderId>
            <Name>Area Code Order</Name>
            <BackOrderRequested>false</BackOrderRequested>
            <CombinedSearchAndOrderType>
                <Quantity>1</Quantity>
                <AreaCode>617</AreaCode>
                <RateCenter>RALEIGH</RateCenter>
                <State>NC</State>
                <NpaNxx>919439</NpaNxx>
                <NpaNxxX>9194391</NpaNxxX>
                <Lata>224</Lata>
                <City>RALEIGH</City>
                <Zip>27606</Zip>
                <EnableLCA>false</EnableLCA>
            </CombinedSearchAndOrderType>
            <PartialAllowed>true</PartialAllowed>
            <SiteId>743</SiteId>
            <VoiceConfigurationPackageId>d21315af-9b5b-4b45-a6f4-9106cbfe87d1</VoiceConfigurationPackageId>
            <RequirementsPackageId>3fa85f64-5717-4562-b3fc-2c963f66afa6</RequirementsPackageId>
            <VoiceIntegrationIds>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa6</VoiceIntegrationId>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa7</VoiceIntegrationId>
            </VoiceIntegrationIds>
            <AutoActivate>true</AutoActivate>
            <Tags>
              <Tag>
                <TagName>customerId</TagName>
                <TagValue>11111111-1111-1111-1111-111111111111</TagValue>
              </Tag>
            </Tags>
        </Order>
    createNewPhoneNumberOrderExistingTelephoneNumberOrderTypeXmlExample:
      description: >-
        Order a set of phone numbers known to be available. This often results
        if the numbers have been found using a separate availableNumbers search.
        If the numbers have previously been reserved, a reservation ID must be
        included
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <Order>
            <CustomerOrderId>123456789</CustomerOrderId>
            <Name>Existing Number Order</Name>
            <ExistingTelephoneNumberOrderType>
                <TelephoneNumberList>
                    <TelephoneNumber>+19193752369</TelephoneNumber>
                    <TelephoneNumber>+19193752720</TelephoneNumber>
                    <TelephoneNumber>+19193752648</TelephoneNumber>
                </TelephoneNumberList>
                <ReservationIdList>
                    <ReservationId>[GUID]</ReservationId>
                    <ReservationId>[GUID]</ReservationId>
                </ReservationIdList>
            </ExistingTelephoneNumberOrderType>
            <SiteId>743</SiteId>
            <VoiceConfigurationPackageId>d21315af-9b5b-4b45-a6f4-9106cbfe87d1</VoiceConfigurationPackageId>
            <RequirementsPackageId>3fa85f64-5717-4562-b3fc-2c963f66afa6</RequirementsPackageId>
            <VoiceIntegrationIds>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa6</VoiceIntegrationId>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa7</VoiceIntegrationId>
            </VoiceIntegrationIds>
            <AutoActivate>true</AutoActivate>
            <Tags>
              <Tag>
                <TagName>customerId</TagName>
                <TagValue>11111111-1111-1111-1111-111111111111</TagValue>
              </Tag>
            </Tags>
        </Order>
    createNewPhoneNumberOrderGeneralXmlExample:
      description: The 'wrapper' Request Payload'
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <Order>
            <CustomerOrderId>SJM00001</CustomerOrderId>
            <!--
                There are various types of orders, all of which are submitted in the 'xxxOrderType'
                element of the Order Request payload. Replace
                this comment to create a complete payload that includes the order type and the
                common elements.
                Take a look at the example payloads as well.
            -->
            <SiteId>202</SiteId>
            <PeerId>518824</PeerId>
            <VoiceConfigurationPackageId>d21315af-9b5b-4b45-a6f4-9106cbfe87d1</VoiceConfigurationPackageId>
            <RequirementsPackageId>3fa85f64-5717-4562-b3fc-2c963f66afa6</RequirementsPackageId>
            <VoiceIntegrationIds>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa6</VoiceIntegrationId>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa7</VoiceIntegrationId>
            </VoiceIntegrationIds>
            <AutoActivate>true</AutoActivate>
            <TnAttributes/>
            <Tags>
              <Tag>
                <TagName>customerId</TagName>
                <TagValue>11111111-1111-1111-1111-111111111111</TagValue>
              </Tag>
            </Tags>
        </Order>
    createNewPhoneNumberOrderLataSearchAndOrderNanpXmlExample:
      description: Specify the LATA to order phone numbers from.
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <Order>
            <CustomerOrderId>123456789</CustomerOrderId>
            <Name>Area Code Order</Name>
            <BackOrderRequested>false</BackOrderRequested>
            <LATASearchAndOrderType>
                <Quantity>1</Quantity>
                <Lata>224</Lata>
            </LATASearchAndOrderType>
            <PartialAllowed>true</PartialAllowed>
            <SiteId>743</SiteId>
            <VoiceConfigurationPackageId>d21315af-9b5b-4b45-a6f4-9106cbfe87d1</VoiceConfigurationPackageId>
            <RequirementsPackageId>3fa85f64-5717-4562-b3fc-2c963f66afa6</RequirementsPackageId>
            <VoiceIntegrationIds>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa6</VoiceIntegrationId>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa7</VoiceIntegrationId>
            </VoiceIntegrationIds>
            <AutoActivate>true</AutoActivate>
            <Tags>
              <Tag>
                <TagName>customerId</TagName>
                <TagValue>11111111-1111-1111-1111-111111111111</TagValue>
              </Tag>
            </Tags>
        </Order>
    createNewPhoneNumberOrderNpaNxxSearchAndOrderNanpXmlExample:
      description: >-
        Specify the NpaNxx combination to be ordered. Valid Npa values ~ [2-9]
        for the first digit, and [0-9] for both the second and third digits.
        Valid Nxx values ~ [2-9] for the first digit, and [0-9] for both the
        second and third digits. A similar approach is viable for NPANXXXX. The
        EnableLCA flag turns LCA search on or off.


        Limitations:

        These order types are unsupported with BackOrderRequested=true
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <Order>
            <CustomerOrderId>123456789</CustomerOrderId>
            <Name>Area Code Order</Name>
            <BackOrderRequested>false</BackOrderRequested>
            <NPANXXSearchAndOrderType>
                <NpaNxx>919439</NpaNxx>
                <EnableTNDetail>true</EnableTNDetail>
                <EnableLCA>false</EnableLCA>
                <Quantity>1</Quantity>
            </NPANXXSearchAndOrderType>
            <PartialAllowed>true</PartialAllowed>
            <SiteId>743</SiteId>
            <VoiceConfigurationPackageId>d21315af-9b5b-4b45-a6f4-9106cbfe87d1</VoiceConfigurationPackageId>
            <RequirementsPackageId>3fa85f64-5717-4562-b3fc-2c963f66afa6</RequirementsPackageId>
            <VoiceIntegrationIds>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa6</VoiceIntegrationId>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa7</VoiceIntegrationId>
            </VoiceIntegrationIds>
            <AutoActivate>true</AutoActivate>
            <Tags>
              <Tag>
                <TagName>customerId</TagName>
                <TagValue>11111111-1111-1111-1111-111111111111</TagValue>
              </Tag>
            </Tags>
        </Order>
    createNewPhoneNumberOrderRateCenterSearchAndOrderNanpXmlExample:
      description: Specify the Rate Center and the State.
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <Order>
            <CustomerOrderId>123456789</CustomerOrderId>
            <Name>Area Code Order</Name>
            <BackOrderRequested>false</BackOrderRequested>
            <RateCenterSearchAndOrderType>
                <RateCenter>RALEIGH</RateCenter>
                <State>NC</State>
                <Quantity>1</Quantity>
            </RateCenterSearchAndOrderType>
            <PartialAllowed>true</PartialAllowed>
            <SiteId>743</SiteId>
            <VoiceConfigurationPackageId>d21315af-9b5b-4b45-a6f4-9106cbfe87d1</VoiceConfigurationPackageId>
            <RequirementsPackageId>3fa85f64-5717-4562-b3fc-2c963f66afa6</RequirementsPackageId>
            <VoiceIntegrationIds>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa6</VoiceIntegrationId>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa7</VoiceIntegrationId>
            </VoiceIntegrationIds>
            <AutoActivate>true</AutoActivate>
            <Tags>
              <Tag>
                <TagName>customerId</TagName>
                <TagValue>11111111-1111-1111-1111-111111111111</TagValue>
              </Tag>
            </Tags>
        </Order>
    createNewPhoneNumberOrderStateSearchAndOrderNanpXmlExample:
      description: Specify the State to be searched for phone numbers.
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <Order>
            <CustomerOrderId>123456789</CustomerOrderId>
            <Name>Area Code Order</Name>
            <BackOrderRequested>false</BackOrderRequested>
            <StateSearchAndOrderType>
                <Quantity>1</Quantity>
                <State>NC</State>
            </StateSearchAndOrderType>
            <PartialAllowed>true</PartialAllowed>
            <SiteId>743</SiteId>
            <VoiceConfigurationPackageId>d21315af-9b5b-4b45-a6f4-9106cbfe87d1</VoiceConfigurationPackageId>
            <RequirementsPackageId>3fa85f64-5717-4562-b3fc-2c963f66afa6</RequirementsPackageId>
            <VoiceIntegrationIds>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa6</VoiceIntegrationId>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa7</VoiceIntegrationId>
            </VoiceIntegrationIds>
            <AutoActivate>true</AutoActivate>
            <Tags>
              <Tag>
                <TagName>customerId</TagName>
                <TagValue>11111111-1111-1111-1111-111111111111</TagValue>
              </Tag>
            </Tags>
        </Order>
    createNewPhoneNumberOrderTollFreeVanitySearchAndOrderNanpXmlExample:
      description: >-
        Specify a Toll Free Vanity search, where the numbers ordered match a
        specific alphanumeric pattern between 4 and 7 characters long.
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <Order>
            <CustomerOrderId>123456789</CustomerOrderId>
            <Name>Area Code Order</Name>
            <BackOrderRequested>false</BackOrderRequested>
            <TollFreeVanitySearchAndOrderType>
                <Quantity>1</Quantity>
                <TollFreeVanity>newcars</TollFreeVanity>
            </TollFreeVanitySearchAndOrderType>
            <PartialAllowed>true</PartialAllowed>
            <SiteId>743</SiteId>
            <VoiceConfigurationPackageId>d21315af-9b5b-4b45-a6f4-9106cbfe87d1</VoiceConfigurationPackageId>
            <RequirementsPackageId>3fa85f64-5717-4562-b3fc-2c963f66afa6</RequirementsPackageId>
            <VoiceIntegrationIds>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa6</VoiceIntegrationId>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa7</VoiceIntegrationId>
            </VoiceIntegrationIds>
            <AutoActivate>true</AutoActivate>
            <Tags>
              <Tag>
                <TagName>customerId</TagName>
                <TagValue>11111111-1111-1111-1111-111111111111</TagValue>
              </Tag>
            </Tags>
        </Order>
    createNewPhoneNumberOrderTollFreeWildCharSearchAndOrderNanpXmlExample:
      description: >-
        Specify the Toll Free wild card pattern. To be ordered, comprised of 3
        digits beginning with '8'. Examples are 8**, 87*, etc.
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <Order>
            <CustomerOrderId>123456789</CustomerOrderId>
            <Name>Area Code Order</Name>
            <BackOrderRequested>false</BackOrderRequested>
            <TollFreeWildCharSearchAndOrderType>
                <Quantity>1</Quantity>
                <TollFreeWildCardPattern>8**</TollFreeWildCardPattern>
            </TollFreeWildCharSearchAndOrderType>
            <PartialAllowed>true</PartialAllowed>
            <SiteId>743</SiteId>
            <VoiceConfigurationPackageId>d21315af-9b5b-4b45-a6f4-9106cbfe87d1</VoiceConfigurationPackageId>
            <RequirementsPackageId>3fa85f64-5717-4562-b3fc-2c963f66afa6</RequirementsPackageId>
            <VoiceIntegrationIds>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa6</VoiceIntegrationId>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa7</VoiceIntegrationId>
            </VoiceIntegrationIds>
            <AutoActivate>true</AutoActivate>
            <Tags>
              <Tag>
                <TagName>customerId</TagName>
                <TagValue>11111111-1111-1111-1111-111111111111</TagValue>
              </Tag>
            </Tags>
        </Order>
    createNewPhoneNumberOrderZipSearchAndOrderNanpXmlExample:
      description: Specify the Zip Code to be ordered from.
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <Order>
            <CustomerOrderId>123456789</CustomerOrderId>
            <Name>Area Code Order</Name>
            <BackOrderRequested>false</BackOrderRequested>
            <ZIPSearchAndOrderType>
                <Quantity>1</Quantity>
                <Zip>27606</Zip>
            </ZIPSearchAndOrderType>
            <PartialAllowed>true</PartialAllowed>
            <SiteId>743</SiteId>
            <VoiceConfigurationPackageId>d21315af-9b5b-4b45-a6f4-9106cbfe87d1</VoiceConfigurationPackageId>
            <RequirementsPackageId>3fa85f64-5717-4562-b3fc-2c963f66afa6</RequirementsPackageId>
            <VoiceIntegrationIds>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa6</VoiceIntegrationId>
              <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa7</VoiceIntegrationId>
            </VoiceIntegrationIds>
            <AutoActivate>true</AutoActivate>
            <Tags>
              <Tag>
                <TagName>customerId</TagName>
                <TagValue>11111111-1111-1111-1111-111111111111</TagValue>
              </Tag>
            </Tags>
        </Order>
    updateNewPhoneNumberOrderJsonExample:
      description: Request to update an existing New Number Order using Json
      value:
        closeOrder: true
        customerOrderId: '123456789'
    updateNewPhoneNumberOrderXmlExample:
      description: Request to update an existing New Number Order using XML
      value: >-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>

        <Order>
            <Name>Available Phone Number order</Name>    
            <CustomerOrderId>123456789</CustomerOrderId>
        <!-- Only alphanumeric values, dashes and spaces are allowed. Max length
        is 40 characters. -->
            <CloseOrder>true</CloseOrder>
        </Order>
    postNewNumberOrderNotesRequestXmlExample:
      description: Request to add a note to a New Number Order using XML
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <Note>
            <UserId>userId</UserId>
            <!-- note the userId must match the logged-in user -->
            <Description>note text</Description>
        </Note>
    putNewNumberOrderNotesRequestXmlExample:
      description: Request to update a note on a New Number Order using XML
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <Note>
            <UserId>userId</UserId>
            <Description>note text</Description>
        </Note>
    listNewPhoneNumberOrders200ResponseJsonExample:
      description: Ok response example for listing New Phone Number Orders using Json
      value:
        links:
          first: >-
            https://api.bandwidth.com/api/v2/accounts/12346165/orders?size=2&page=1
          next: >-
            https://api.bandwidth.com/api/v2/accounts/12346165/orders?size=2&page=021f0877-55b4-4605-ad8e-a38f531dd33e
        orders:
          - accountId: 12346165
            customerOrderId: generatedByProto
            lastModifiedDate: '2025-05-13T18:46:28.237Z'
            orderDate: '2025-05-13T18:46:26.989Z'
            orderId: 6f628cdc-cb4c-4e6f-a79d-e61236442cb7
            orderStatus: COMPLETE
            voiceIntegrationIds:
              - 5fa85f64-5717-4562-b3fc-2c963f66afa6
              - 5fa85f64-5717-4562-b3fc-2c963f66afa7
            bulkNumberSyncId: d21315af-9b5b-4b45-a6f4-9106cbfe87d1
            orderType: new_number
            phoneNumberCount: 1
            phoneNumberDetails:
              cities:
                - city: MANHATTAN
                  count: 1
              rateCenters:
                - count: 1
                  rateCenter: NWYRCYZN01
              states:
                - count: 1
                  state: NY
              tiers:
                - count: 1
                  tier: 0
              vendors:
                - count: 1
                  vendorId: 49
                  vendorName: Bandwidth CLEC
            summary: 1 number ordered in (212)
            tags:
              - tagName: customerId
                tagValue: 11111111-1111-1111-1111-111111111111
            userId: user1
          - accountId: 12346165
            customerOrderId: testCustomerOrderId
            lastModifiedDate: '2025-05-13T18:35:59.845Z'
            orderDate: '2025-05-13T18:35:58.337Z'
            orderId: 5e94e722-6624-48b0-a742-612603c2c781
            orderStatus: COMPLETE
            voiceIntegrationIds:
              - 5fa85f64-5717-4562-b3fc-2c963f66afa6
              - 5fa85f64-5717-4562-b3fc-2c963f66afa7
            bulkNumberSyncId: d21315af-9b5b-4b45-a6f4-9106cbfe87d2
            orderType: new_number
            phoneNumberCount: 3
            phoneNumberDetails:
              cities:
                - city: WASHINGTON
                  count: 3
              rateCenters:
                - count: 3
                  rateCenter: WSHNGTNZN1
              states:
                - count: 3
                  state: DC
              tiers:
                - count: 3
                  tier: 0
              vendors:
                - count: 3
                  vendorId: 49
                  vendorName: Bandwidth CLEC
            summary: 3 numbers ordered in (202)
            tags:
              - tagName: customerId
                tagValue: 11111111-1111-1111-1111-111111111111
            userId: user1
        totalCount: 3
    listNewPhoneNumberOrders200ResponseXmlExample:
      description: Ok response example for listing New Phone Number Orders using XML
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ResponseSelectWrapper>
            <ListOrderIdUserIdDate>
                <TotalCount>122</TotalCount>
                <Links>
                <first>
                    <!-- Link=<https://api.bandwidth.com 443/v1.0/accounts/9900012/orders?page=1&size=3>;rel="first"; -->
                </first>
                <next>
                    <!-- Link=<https://api.bandwidth.com 443/v1.0/accounts/9900012/orders?page=cbdcfc94-81b1-4ce9-8b6d-f8d6b85381ba&size=3>;rel="next"; -->
                </next>
                </Links>
                <OrderIdUserIdDate>
                    <CountOfTNs>1</CountOfTNs>
                    <lastModifiedDate>2013-12-20T06</lastModifiedDate>
                    <OrderDate>2013-12-20T06</OrderDate>
                    <orderId>c5d8d076-345c-45d7-87b3-803a35cca89b</orderId>
                    <OrderStatus>COMPLETE</OrderStatus>
                    <VoiceIntegrationIds>
                      <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa6</VoiceIntegrationId>
                      <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa7</VoiceIntegrationId>
                    </VoiceIntegrationIds>
                    <BulkNumberSyncId>d21315af-9b5b-4b45-a6f4-9106cbfe87d1</BulkNumberSyncId>
                    <Tags>
                      <Tag>
                        <TagName>customerId</TagName>
                        <TagValue>11111111-1111-1111-1111-111111111111</TagValue>
                      </Tag>
                    </Tags>
                    <TelephoneNumberDetails>
                        <States>
                            <StateWithCount>
                                <State>VA</State>
                                <Count>1</Count>
                            </StateWithCount>
                        </States>
                        <RateCenters>
                            <RateCenterWithCount>
                                <Count>1</Count>
                                <RateCenter>LADYSMITH</RateCenter>
                            </RateCenterWithCount>
                        </RateCenters>
                        <Cities>
                            <CityWithCount>
                                <City>LADYSMITH</City>
                                <Count>1</Count>
                            </CityWithCount>
                        </Cities>
                        <Tiers>
                            <TierWithCount>
                                <Tier>0</Tier>
                                <Count>1</Count>
                            </TierWithCount>
                        </Tiers>
                        <Vendors>
                            <VendorWithCount>
                                <VendorId>49</VendorId>
                                <VendorName>Bandwidth CLEC</VendorName>
                                <Count>1</Count>
                            </VendorWithCount>
                        </Vendors>
                    </TelephoneNumberDetails>
                    <userId>bwc_user</userId>
                </OrderIdUserIdDate>
                <OrderIdUserIdDate>
                    <CountOfTNs>0</CountOfTNs>
                    <lastModifiedDate>2013-11-05T17</lastModifiedDate>
                    <OrderDate>2013-11-05T17</OrderDate>
                    <orderId>27da9f39-81f3-44ed-80ce-05ddf2db612d</orderId>
                    <OrderStatus>FAILED</OrderStatus>
                    <userId>wandedemo_user</userId>
                </OrderIdUserIdDate>
                <OrderIdUserIdDate>
                    <CountOfTNs>1</CountOfTNs>
                    <lastModifiedDate>2013-12-11T20</lastModifiedDate>
                    <OrderDate>2013-12-11T20</OrderDate>
                    <orderId>2bab589e-2cda-453b-9999-8f35441d4a1a</orderId>
                    <OrderStatus>COMPLETE</OrderStatus>
                    <VoiceIntegrationIds>
                      <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa6</VoiceIntegrationId>
                      <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa7</VoiceIntegrationId>
                    </VoiceIntegrationIds>
                    <BulkNumberSyncId>d21315af-9b5b-4b45-a6f4-9106cbfe87d1</BulkNumberSyncId>
                    <Tags>
                      <Tag>
                        <TagName>customerId</TagName>
                        <TagValue>11111111-1111-1111-1111-111111111111</TagValue>
                      </Tag>
                    </Tags>
                    <TelephoneNumberDetails>
                        <!-- SNIP -->
                    </TelephoneNumberDetails>
                    <userId>bwc_user</userId>
                </OrderIdUserIdDate>
            </ListOrderIdUserIdDate>
        </ResponseSelectWrapper>
    listNewPhoneNumberOrders400ResponseJsonExample:
      description: >-
        Bad request response example for listing New Phone Number Orders using
        Json
      value:
        code: 400
        description: Please verify that your PAGE search input parameter is correct.
    listNewPhoneNumberOrders400ResponseXmlExample:
      description: >-
        Bad request response example for listing New Phone Number Orders using
        XML
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ErrorResponse>
            <Code>400</Code>
            <Description>Please verify that your PAGE search input parameter is correct.</Description>
        </ErrorResponse>
    createNewPhoneNumberOrder201ResponseCombinedSearchAndOrderTypeJsonExample:
      description: >-
        Created response example for creating a New Phone Number Order using
        combinedSearchAndOrderType in Json
      value:
        order:
          autoActivate: true
          backOrderRequested: false
          id: d79121c4-e4af-4569-ae07-b7f51587c952
          orderCreateDate: '2025-05-06T17:58:29.964Z'
          orderType:
            enableLCA: true
            quantity: 3
            rateCenter: JERSEYCITY
            state: NJ
            type: combinedSearchAndOrderType
          partialAllowed: true
          subAccountId: 491
          voiceIntegrationIds:
            - 5fa85f64-5717-4562-b3fc-2c963f66afa6
            - 5fa85f64-5717-4562-b3fc-2c963f66afa7
          bulkNumberSyncId: d21315af-9b5b-4b45-a6f4-9106cbfe87d1
          tags:
            - tagName: customerId
              tagValue: 11111111-1111-1111-1111-111111111111
        orderStatus: RECEIVED
    createNewPhoneNumberOrder201ResponseExistingPhoneNumberOrderTypeJsonExample:
      description: >-
        Created response example for creating a New Phone Number Order using
        existingPhoneNumberOrderType in Json
      value:
        order:
          autoActivate: true
          backOrderRequested: false
          closeOrder: true
          id: 20b21632-4fac-4ccc-9477-520d416182da
          orderCreateDate: '2025-05-06T15:52:18.546Z'
          orderType:
            phoneNumbers:
              - '+19894551000'
            reservationIds:
              - 943dd7d4-8c84-49f4-8704-b17963438106
            type: existingPhoneNumberOrderType
          partialAllowed: true
          subAccountId: 490
          voiceIntegrationIds:
            - 5fa85f64-5717-4562-b3fc-2c963f66afa6
            - 5fa85f64-5717-4562-b3fc-2c963f66afa7
          bulkNumberSyncId: d21315af-9b5b-4b45-a6f4-9106cbfe87d1
          tags:
            - tagName: customerId
              tagValue: 11111111-1111-1111-1111-111111111111
        orderStatus: RECEIVED
    createNewPhoneNumberOrder201ResponseXmlExample:
      description: Created response example for creating a New Phone Number Order using XML
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <OrderResponse>
            <Order>
                <CustomerOrderId>123456789</CustomerOrderId>
                <id>34adcd9f-2c4a-4631-9dae-d1f318ed57bc</id>
                <Name>Zip Order</Name>
                <OrderCreateDate>2014-07-11T17:13:57.788Z</OrderCreateDate>
                <AutoActivate>true</AutoActivate>
                <BackOrderRequested>false</BackOrderRequested>
                <ZIPSearchAndOrderType>
                    <Quantity>1</Quantity>
                    <Zip>27606</Zip>
                </ZIPSearchAndOrderType>
                <TnAttributes>
                        <TnAttribute>Protected</TnAttribute>
                        <TnAttribute>External</TnAttribute>
                        <TnAttribute>Imported</TnAttribute>
                </TnAttributes>
                <PartialAllowed>true</PartialAllowed>
                <VoiceConfigurationPackageId>d21315af-9b5b-4b45-a6f4-9106cbfe87d1</VoiceConfigurationPackageId>
                <RequirementsPackageId>3fa85f64-5717-4562-b3fc-2c963f66afa6</RequirementsPackageId>
                <VoiceIntegrationIds>
                  <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa6</VoiceIntegrationId>
                  <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa7</VoiceIntegrationId>
                </VoiceIntegrationIds>
                <BulkNumberSyncId>d21315af-9b5b-4b45-a6f4-9106cbfe87d1</BulkNumberSyncId>
                <SiteId>3013</SiteId>
                <Tags>
                  <Tag>
                    <TagName>customerId</TagName>
                    <TagValue>11111111-1111-1111-1111-111111111111</TagValue>
                  </Tag>
                </Tags>
            </Order>
        </OrderResponse>
    createNewPhoneNumberOrder400ResponseJsonExample:
      description: >-
        Bad request response example for creating a New Phone Number Order using
        Json
      value:
        errors:
          - code: 5016
            description: The SiteId submitted is invalid.
        order:
          autoActivate: true
          backOrderRequested: false
          orderCreateDate: '2025-05-06T17:57:47.268Z'
          orderType:
            enableLCA: true
            quantity: 3
            rateCenter: JERSEYCITY
            state: NJ
            type: combinedSearchAndOrderType
          partialAllowed: true
          subAccountId: 491
        orderStatus: FAILED
    createNewPhoneNumberOrder400ResponseXmlExample:
      description: >-
        Bad request response example for creating a New Phone Number Order using
        XML
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <OrderResponse>
            <ErrorList>
                <Error>
                    <Code>5016</Code>
                    <Description>The SiteId submitted is invalid.</Description>
                </Error>
            </ErrorList>
            <Order>
                <CustomerOrderId>123456789</CustomerOrderId>
                <Name>Area Code Order</Name>
                <OrderCreateDate>2014-07-08T14:29:13.174Z</OrderCreateDate>
                <AutoActivate>true</AutoActivate>
                <BackOrderRequested>false</BackOrderRequested>
                <AreaCodeSearchAndOrderType>
                    <AreaCode>435</AreaCode>
                    <Quantity>1</Quantity>
                </AreaCodeSearchAndOrderType>
                <TnAttributes>
                        <TnAttribute>Protected</TnAttribute>
                        <TnAttribute>External</TnAttribute>
                        <TnAttribute>Imported</TnAttribute>
                </TnAttributes>
                <PartialAllowed>true</PartialAllowed>
                <SiteId>763</SiteId>
            </Order>
        </OrderResponse>
    retrieveNewPhoneNumberOrder200ResponseCombinedSearchAndOrderSuccessfulJsonExample:
      description: A combinedSearchAndOrderType that was successfully completed
      value:
        completedPhoneNumbers:
          - '2018391014'
          - '2018391015'
          - '2018391016'
        completedQuantity: 3
        createdByUser: systemUser
        failedQuantity: 0
        lastModifiedDate: '2025-05-06T18:00:13.411Z'
        order:
          autoActivate: true
          backOrderRequested: false
          customerOrderId: testCustomerOrderId
          locationId: 500030
          name: Test CombinedSearchAndOrder
          orderCreateDate: '2025-05-06T18:00:12.912Z'
          orderType:
            enableLCA: true
            quantity: 3
            rateCenter: JERSEYCITY
            state: NJ
            type: combinedSearchAndOrderType
          partialAllowed: true
          subAccountId: 491
          voiceIntegrationIds:
            - 5fa85f64-5717-4562-b3fc-2c963f66afa6
            - 5fa85f64-5717-4562-b3fc-2c963f66afa7
          bulkNumberSyncId: d21315af-9b5b-4b45-a6f4-9106cbfe87d1
          tags:
            - tagName: customerId
              tagValue: 11111111-1111-1111-1111-111111111111
        orderCompleteDate: '2025-05-06T18:00:13.408Z'
        orderStatus: COMPLETE
        serviceActivationOrderId: efc3d704-6dfa-4c9d-a43a-3f0e59d2c591
        serviceActivationOrderStatus: COMPLETE
        summary: 3 numbers ordered in (201)
    retrieveNewPhoneNumberOrder200ResponseCombinedSearchAndOrderUnsuccessfulJsonExample:
      description: >-
        A combinedSearchAndOrderType that was unable to fulfill phone numbers
        that matched the request criteria
      value:
        completedPhoneNumbers: []
        completedQuantity: 0
        createdByUser: systemUser
        errors:
          - code: 5017
            description: >-
              Only a partial quantity of the total phone numbers ordered could
              be fulfilled
        failedQuantity: 50
        lastModifiedDate: '2025-05-15T13:20:18.693Z'
        order:
          autoActivate: true
          backOrderRequested: false
          customerOrderId: testCustomerOrderId
          locationId: 500034
          name: Test CombinedSearchAndOrder
          orderCreateDate: '2025-05-15T13:20:18.366Z'
          orderType:
            areaCode: '201'
            enableLCA: false
            localVanity: 101k
            quantity: 50
            type: combinedSearchAndOrderType
          partialAllowed: false
          subAccountId: 495
          voiceIntegrationIds:
            - 5fa85f64-5717-4562-b3fc-2c963f66afa6
            - 5fa85f64-5717-4562-b3fc-2c963f66afa7
          tags:
            - tagName: customerId
              tagValue: 11111111-1111-1111-1111-111111111111
        orderCompleteDate: '2025-05-15T13:20:18.692Z'
        orderStatus: FAILED
        summary: 50 numbers requested
    retrieveNewPhoneNumberOrder200ResponseExistingPhoneNumberOrderSuccessfulJsonExample:
      value:
        completedPhoneNumbers:
          - '9894551000'
        completedQuantity: 1
        createdByUser: systemUser
        failedQuantity: 0
        lastModifiedDate: '2025-05-06T15:52:19.038Z'
        order:
          autoActivate: true
          backOrderRequested: false
          closeOrder: true
          locationId: 500029
          orderCreateDate: '2025-05-06T15:52:18.546Z'
          orderType:
            phoneNumbers:
              - '+19894551000'
            type: existingPhoneNumberOrderType
          partialAllowed: true
          subAccountId: 490
          voiceIntegrationIds:
            - 5fa85f64-5717-4562-b3fc-2c963f66afa6
            - 5fa85f64-5717-4562-b3fc-2c963f66afa7
          bulkNumberSyncId: d21315af-9b5b-4b45-a6f4-9106cbfe87d1
          tags:
            - tagName: customerId
              tagValue: 11111111-1111-1111-1111-111111111111
        orderCompleteDate: '2025-05-06T15:52:19.038Z'
        orderStatus: COMPLETE
        serviceActivationOrderId: efc3d704-6dfa-4c9d-a43a-3f0e59d2c591
        serviceActivationOrderStatus: COMPLETE
        summary: 1 number ordered in (989)
    retrieveNewPhoneNumberOrder200ResponseXmlExample:
      description: Ok response example for retrieving a New Phone Number Order using XML
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <OrderResponse>
            <CompletedQuantity>1</CompletedQuantity>
            <CreatedByUser>jbm</CreatedByUser>
            <LastModifiedDate>2014-01-06T19:09:44.027Z</LastModifiedDate>
            <OrderCompleteDate>2014-01-06T19:09:44.041Z</OrderCompleteDate>
            <Order>
                <CustomerOrderId>123456789</CustomerOrderId>
                <Name>Area Code Order</Name>
                <OrderCreateDate>2014-01-06T19:09:43.695Z</OrderCreateDate>
                <PeerId>303716</PeerId>
                <BackOrderRequested>false</BackOrderRequested>
                <AreaCodeSearchAndOrderType>
                    <AreaCode>804</AreaCode>
                    <Quantity>1</Quantity>
                </AreaCodeSearchAndOrderType>
                <TnAttributes>
                        <TnAttribute>Protected</TnAttribute>
                        <TnAttribute>External</TnAttribute>
                        <TnAttribute>Imported</TnAttribute>
                </TnAttributes>
                <PartialAllowed>true</PartialAllowed>
                <SiteId>743</SiteId>
                <VoiceConfigurationPackageId>d21315af-9b5b-4b45-a6f4-9106cbfe87d1</VoiceConfigurationPackageId>
                <RequirementsPackageId>3fa85f64-5717-4562-b3fc-2c963f66afa6</RequirementsPackageId>
                <VoiceIntegrationIds>
                  <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa6</VoiceIntegrationId>
                  <VoiceIntegrationId>5fa85f64-5717-4562-b3fc-2c963f66afa7</VoiceIntegrationId>
                </VoiceIntegrationIds>
                <BulkNumberSyncId>d21315af-9b5b-4b45-a6f4-9106cbfe87d1</BulkNumberSyncId>
                <AutoActivate>true</AutoActivate>
                <Tags>
                  <Tag>
                    <TagName>customerId</TagName>
                    <TagValue>11111111-1111-1111-1111-111111111111</TagValue>
                  </Tag>
                </Tags>
            </Order>
            <OrderStatus>COMPLETE</OrderStatus>
            <CompletedNumbers>
                <TelephoneNumber>
                    <FullNumber>+18042105666</FullNumber>
                </TelephoneNumber>
            </CompletedNumbers>
            <ServiceActivationOrderId>efc3d704-6dfa-4c9d-a43a-3f0e59d2c591</ServiceActivationOrderId>
            <ServiceActivationOrderStatus>COMPLETE</ServiceActivationOrderStatus>
            <FailedQuantity>0</FailedQuantity>
        </OrderResponse>
    retrieveNewPhoneNumberOrder404ResponseJsonExample:
      description: >-
        Not found response example for retrieving a New Phone Number Order using
        Json
      value:
        code: 404
        description: Order with such id was not found.
    retrieveNewPhoneNumberOrder404ResponseXmlExample:
      description: >-
        Not found response example for retrieving a New Phone Number Order using
        XML
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ErrorResponse>
            <irisStatus>
                <Code>404</Code>
                <Description>Order with such id was not found.</Description>
            </irisStatus>
        </ErrorResponse>
    updateNewPhoneNumberOrder404ResponseJsonExample:
      description: >-
        Not found response example for updating a New Phone Number Order using
        Json
      value:
        errors:
          - code: 5035
            description: >-
              Order ID is invalid. Please check the order ID that you have
              submitted in your request is correct.
        orderStatus: FAILED
    updateNewPhoneNumberOrder404ResponseXmlExample:
      description: >-
        Not found response example for updating a New Phone Number Order using
        XML
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <OrderResponse>
          <ErrorList>
            <Error>
              <Code>5035</Code>
              <Description>Order ID is invalid. Please check the order ID that you have submitted in your request is correct.</Description>
            </Error>
          </ErrorList>
          <OrderStatus>FAILED</OrderStatus>
        </OrderResponse>
    getNewNumberOrderHistoryResponse200XmlExample:
      description: Ok response example for retrieving New Number Order History using XML
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <OrderHistoryWrapper>
            <OrderHistory>
                <OrderDate>2014-05-20T14:21:43.937Z</OrderDate>
                <Note>Order backordered - awaiting additional numbers</Note>
                <Author>System</Author>
                <Status>BACKORDERED</Status>
            </OrderHistory>
            <OrderHistory>
                <OrderDate>2014-05-20T14:24:43.428Z</OrderDate>
                <Note>Order backordered - awaiting additional numbers</Note>
                <Author>System</Author>
                <Status>BACKORDERED</Status>
                <Difference>CustomerOrderId : "" --&gt; hello</Difference>
            </OrderHistory>
        </OrderHistoryWrapper>
    getNewNumberOrderHistoryResponse200JsonExample:
      description: Ok response example for retrieving New Number Order History using Json
      value:
        orderHistory:
          - orderDate: '2014-05-20T14:21:43.937Z'
            note: Order backordered - awaiting additional numbers
            author: System
            status: BACKORDERED
          - orderDate: '2014-05-20T14:24:43.428Z'
            note: Order backordered - awaiting additional numbers
            author: System
            status: BACKORDERED
    getNewNumberOrderHistoryResponse404XmlExample:
      description: >-
        Not found response example for retrieving New Number Order History using
        XML
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ErrorResponse>
            <ResponseStatus>
                <Description>The resource does not exist</Description>
            </ResponseStatus>
        </ErrorResponse>
    getNewNumberOrderHistoryResponse404JsonExample:
      description: >-
        Not found response example for retrieving New Number Order History using
        Json
      value:
        description: Not Found
    newNumberOrderTotalsResponse200XmlExample:
      description: Ok response example for retrieving New Number Order Totals using XML
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ResponseSelectWrapper>
            <ListOrderIdUserIdDate>
                <TotalCount>122</TotalCount>
            </ListOrderIdUserIdDate>
        </ResponseSelectWrapper>
    newNumberOrderAreaCodesResponse200XmlExample:
      description: Ok response example for retrieving New Number Order Area Codes using XML
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <TelephoneDetailsReports>
            <TelephoneDetailsReport>
                <AreaCode>888</AreaCode>
                <Count>1</Count>
            </TelephoneDetailsReport>
        </TelephoneDetailsReports>
    newNumberOrderNotesGetResponse200XmlExample:
      description: Ok response example for retrieving New Number Order Notes using XML
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <Notes>
            <Note>
                <Id>87037</Id>
                <UserId>jbm</UserId>
                <Description>This is a test note</Description>
                <LastDateModifier>2014-11-16T04:01:10.000Z</LastDateModifier>
            </Note>
            <Note>
                <Id>87039</Id>
                <UserId>smckinnon</UserId>
                <Description>This is a second test note</Description>
                <LastDateModifier>2014-11-16T04:08:46.000Z</LastDateModifier>
            </Note>
        </Notes>
    newNumberOrderNotesPostResponse400XmlExample:
      description: >-
        Bad request response example for adding a note to a New Number Order
        using XML
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <NoteResponse>
            <ResponseStatus>
                <ErrorCode>12501</ErrorCode>
                <Description>Username is required</Description>
            </ResponseStatus>
        </NoteResponse>
    getNewNumberOrderTnListResponse200JsonExample:
      description: Ok response example for retrieving New Number Order TN List using Json
      value:
        count: 5
        phoneNumbers:
          - '+14349335313'
          - '+14349335314'
          - '+14349335315'
          - '+14349335316'
          - '+14349335317'
    getNewNumberOrderTnListResponse200XmlExample:
      description: Ok response example for retrieving New Number Order TN List using XML
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <TelephoneNumbers>
          <Count>1</Count>
          <TelephoneNumber>+18042105666</TelephoneNumber>
        </TelephoneNumbers>
    getNewNumberOrderTnListResponse404JsonExample:
      description: >-
        Not found response example for retrieving New Number Order TN List using
        Json
      value:
        description: Order ID does not correspond to a given account.
        errorCode: 404
    getNewNumberOrderTnListResponse404XmlExample:
      description: >-
        Not found response example for retrieving New Number Order TN List using
        XML
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ErrorResponse>
          <irisStatus>
            <ErrorCode>404</ErrorCode>
            <Description>Order ID does not correspond to a given account.</Description>
          </irisStatus>
        </ErrorResponse>
    putNewNumberOrderNotesResponse400XmlExample:
      description: >-
        Bad request response example for updating a note on a New Number Order
        using XML
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <NoteResponse>
            <ResponseStatus>
                <ErrorCode>12501</ErrorCode>
                <Description>Username is required</Description>
            </ResponseStatus>
        </NoteResponse>
    getNewNumberOrderNpaNxxResponse200XmlExample:
      description: Ok response example for retrieving New Number Order NPA-NXXs using XML
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <TelephoneDetailsReports>
            <TelephoneDetailsReport>
                <NPA-NXX>888424</NPA-NXX>
                <Count>1</Count>
            </TelephoneDetailsReport>
        </TelephoneDetailsReports>
    getNewNumberOrderIdTotalsResponse200XmlExample:
      description: Ok response example for retrieving New Number Order ID Totals using XML
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <TelephoneDetailsReports>
            <TelephoneDetailsReport>
                <Count>1</Count>
            </TelephoneDetailsReport>
        </TelephoneDetailsReports>
    listCities200ResponseJsonSimpleExample:
      value:
        resultCount: 8
        cities:
          - rcAbbreviation: DOUGLAS
            name: ADAMS
          - rcAbbreviation: FILLEY
            name: ADAMS
          - rcAbbreviation: AINSWORTH
            name: AINSWORTH
          - rcAbbreviation: LONG PINE
            name: AINSWORTH
          - rcAbbreviation: ODELL
            name: WYMORE
          - rcAbbreviation: BRADSHAW
            name: YORK
          - rcAbbreviation: YORK
            name: YORK
          - rcAbbreviation: WACO
            name: YORK
    listCities200ResponseJsonWithCountExample:
      value:
        resultCount: 9
        cities:
          - rcAbbreviation: FILLEY
            availablePhoneNumberCount: 266
            name: ADAMS
          - rcAbbreviation: DOUGLAS
            availablePhoneNumberCount: 378
            name: ADAMS
          - rcAbbreviation: WAKEFIELD
            availablePhoneNumberCount: 272
            name: ALLEN
[...]
