openapi: 3.0.1
info:
  description: >-
    Bandwidth's Product Settings API manages account-level product settings for
    Edge Management, Toll-Free, and UC Trunking.

    It also covers the SIP trunking and voice provisioning resources that
    support those products, including hosts, realms, SIP credentials, and
    location (SIP peer) level origination and termination settings.
  title: Product Settings API
  version: 1.0.0
  contact:
    name: Bandwidth Support
    email: support@bandwidth.com
    url: https://support.bandwidth.com
  termsOfService: https://www.bandwidth.com/legal/terms-of-use-bandwidthcom-web-sites/
servers:
  - url: https://api.bandwidth.com/api/v2
    description: Production
paths:
  /accounts/{accountId}/hosts:
    get:
      description: >-
        Retrieve information about the hosts of account, as guided by optional
        search parameters.
      operationId: listHosts
      summary: List hosts on account
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/hostQueryParam'
        - $ref: '#/components/parameters/hostTypeQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/hostsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/products/edgemanagement/settings:
    get:
      description: >-
        Retrieve settings that are provided as part of the Edge Management
        product: The SBC settings that are associated with the account and
        ProductSpecificAccessRestrictions.
      operationId: getAccountEdgemanagementProductSettings
      summary: Retrieve edgemanagement product settings
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getEdgeManagementSettingsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/products/tollfree/settings:
    get:
      description: Retrieve existing tollfree settings on account.
      operationId: getAccountTollfreeProductSettings
      summary: Retrieve tollfree product settings
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getTollFreeSettingsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/products/uctrunking/features/hosted/settings:
    get:
      description: Retrieve existing uctrunking hosted settings on account.
      operationId: getAccountUcTrunkingHostedFeatureSettings
      summary: Retrieve uctrunking product hosted feature settings
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/ucTrunkingHostedSettingsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/ucTrunkingHostedSettingsNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    post:
      description: Creates a UC Trunking hosted (cloud) configuration.
      operationId: createAccountUcTrunkingHostedSettings
      summary: Add uctrunking product hosted feature settings
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/ucTrunkingHostedSettingsRequest'
      responses:
        '200':
          $ref: '#/components/responses/ucTrunkingHostedSettingsResponse'
        '400':
          $ref: >-
            #/components/responses/ucTrunkingHostedSettingsBadRequestErrorResponse
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/ucTrunkingHostedSettingsNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    put:
      description: Updates uctrunking hosted feature settings on account.
      operationId: updateAccountUcTrunkingHostedSettings
      summary: Update uctrunking product hosted feature settings
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/ucTrunkingHostedSettingsRequest'
      responses:
        '200':
          $ref: '#/components/responses/ucTrunkingHostedSettingsResponse'
        '400':
          $ref: >-
            #/components/responses/ucTrunkingHostedSettingsBadRequestErrorResponse
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/ucTrunkingHostedSettingsNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/products/uctrunking/settings:
    get:
      description: Retrieve existing uctrunking settings on account.
      operationId: getAccountUcTrunkingProductSettings
      summary: Retrieve uctrunking product settings
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getUcTrunkingSettingsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/realms:
    get:
      description: Retrieve all Realms for the account
      operationId: listRealms
      summary: List Realms
      tags:
        - SIP Registrar
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/realmFragmentQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/listRealmsResponse'
        '400':
          $ref: '#/components/responses/listRealmsBadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/listRealmsNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    post:
      description: Create a Realm
      operationId: createRealm
      summary: Create Realm
      tags:
        - SIP Registrar
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/createRealmRequest'
      responses:
        '201':
          $ref: '#/components/responses/createRealm201Response'
        '400':
          $ref: '#/components/responses/createRealmBadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: '#/components/responses/createRealmServiceUnavailableErrorResponse'
  /accounts/{accountId}/realms/{realm}:
    parameters:
      - $ref: '#/components/parameters/accountIdPathParam'
      - $ref: '#/components/parameters/realmPathParam'
    get:
      description: Retrieve a Realm associated with the account
      operationId: getRealm
      summary: Retrieve Realm
      tags:
        - SIP Registrar
      responses:
        '200':
          $ref: '#/components/responses/retrieveRealmResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/retrieveRealmNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: '#/components/responses/retrieveRealmServiceUnavailableErrorResponse'
    put:
      description: Update a Realm
      operationId: replaceRealm
      summary: Update Realm
      tags:
        - SIP Registrar
      requestBody:
        $ref: '#/components/requestBodies/updateRealmRequest'
      responses:
        '200':
          $ref: '#/components/responses/updateRealmResponse'
        '400':
          $ref: '#/components/responses/updateRealmBadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: '#/components/responses/updateRealmServiceUnavailableErrorResponse'
    delete:
      description: Delete a Realm
      operationId: deleteRealm
      summary: Delete Realm
      tags:
        - SIP Registrar
      responses:
        '202':
          $ref: '#/components/responses/deleteRealmAcceptedResponse'
        '400':
          $ref: '#/components/responses/deleteRealmBadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/deleteRealmNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: '#/components/responses/deleteRealmServiceUnavailableErrorResponse'
  /accounts/{accountId}/sipcredentials:
    get:
      tags:
        - SIP Registrar
      description: Retrieve all SIP credentials for the account
      summary: Retrieve SIP Credentials
      operationId: listSipCredentials
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/sipCredentialsPageQueryParam'
        - $ref: '#/components/parameters/sipCredentialsSizeQueryParam'
        - $ref: '#/components/parameters/userNameFragmentQueryParam'
        - $ref: '#/components/parameters/domainFragmentQueryParam'
        - $ref: '#/components/parameters/applicationNameFragmentQueryParam'
        - $ref: '#/components/parameters/realmFragmentQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/listSipCredentialsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/listSipCredentialsNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    post:
      tags:
        - SIP Registrar
      description: Create SIP credentials and associate them with the account
      summary: Create SIP Credentials
      operationId: createSipCredentials
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/createSipCredentialsRequest'
      responses:
        '201':
          $ref: '#/components/responses/createSipCredentials201Response'
        '400':
          $ref: '#/components/responses/createSipCredentialsBadRequestResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: >-
            #/components/responses/createSipCredentialsServiceUnavailableResponse
  /accounts/{accountId}/realms/{realmId}/sipcredentials:
    get:
      tags:
        - SIP Registrar
      description: Retrieve all SIP credentials for the account ID and realm ID specified
      operationId: listSipCredentialsOnRealm
      summary: List SIP Credentials On Realm
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/realmIdPathParam'
        - $ref: '#/components/parameters/afterCursorQueryParam'
        - $ref: '#/components/parameters/limitQueryParam'
        - $ref: '#/components/parameters/userNameFragmentQueryParam'
        - $ref: '#/components/parameters/applicationNameFragmentQueryParam'
        - $ref: '#/components/parameters/realmFragmentQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/listSipCredentialsOnRealmResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/listSipCredentialsOnRealmNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    post:
      tags:
        - SIP Registrar
      description: Create SIP credentials on the Realm
      operationId: createSipCredentialsOnRealm
      summary: Create SIP Credentials On Realm
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/realmIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/createSipCredentialsOnRealmRequest'
      responses:
        '201':
          $ref: '#/components/responses/createSipCredentialsOnRealm201Response'
        '400':
          $ref: '#/components/responses/createSipCredentialsOnRealmBadRequestResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: >-
            #/components/responses/createSipCredentialsOnRealmServiceUnavailableResponse
  /accounts/{accountId}/realms/{realmId}/sipcredentials/{credentialId}:
    parameters:
      - $ref: '#/components/parameters/accountIdPathParam'
      - name: realmId
        description: Realm's ID of SIP Credential
        in: path
        required: true
        schema:
          type: string
        example: '22'
      - name: credentialId
        description: ID of SIP Credential
        in: path
        required: true
        schema:
          type: string
        example: '11'
    get:
      tags:
        - SIP Registrar
      description: >-
        Retrieve a SIP credential for the account and realm specified by its
        assigned ID
      operationId: getSipCredentialOnRealm
      summary: Retrieve SIP Credential On Realm
      responses:
        '200':
          $ref: '#/components/responses/retrieveSipCredentialOnRealmResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/retrieveSipCredentialOnRealmNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    put:
      tags:
        - SIP Registrar
      description: Update single SIP credential on the Realm
      operationId: updateSipCredentialOnRealm
      summary: Update SIP Credential On Realm
      requestBody:
        $ref: '#/components/requestBodies/updateSipCredentialOnRealmRequest'
      responses:
        '200':
          $ref: '#/components/responses/retrieveSipCredentialOnRealmResponse'
        '400':
          $ref: '#/components/responses/updateSipCredentialOnRealmBadRequestResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/retrieveSipCredentialOnRealmNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: >-
            #/components/responses/sipCredentialOnRealmServiceUnavailableResponse
    delete:
      tags:
        - SIP Registrar
      description: Delete SIP credential on the Realm
      operationId: deleteSipCredentialOnRealm
      summary: Delete SIP Credential On Realm
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/retrieveSipCredentialOnRealmNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: >-
            #/components/responses/sipCredentialOnRealmServiceUnavailableResponse
  /accounts/{accountId}/sipcredentials/{compositeUserName}:
    parameters:
      - $ref: '#/components/parameters/accountIdPathParam'
      - name: compositeUserName
        description: >-
          Is comprised of the `UserName`, and, if there is a `Domain` part, an @
          followed by the `Domain`
        in: path
        required: true
        schema:
          type: string
        example: '`user` or `user@domain`'
    get:
      tags:
        - SIP Registrar
      description: >-
        Retrieve a SIP credential for the account by unique combination of user
        name and domain
      operationId: getSipCredential
      summary: Retrieve SIP Credential
      responses:
        '200':
          $ref: '#/components/responses/retrieveSipCredentialResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/retrieveSipCredentialNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    put:
      tags:
        - SIP Registrar
      description: >-
        Update single SIP credential.

        It is not possible to change the UserName or the Domain associated with
        the Hash Values. To do so requires deletion of one set of credentials
        and addition of a new set of credentials
      operationId: updateSipCredential
      summary: Update SIP Credential
      requestBody:
        $ref: '#/components/requestBodies/updateSipCredentialRequest'
      responses:
        '200':
          $ref: '#/components/responses/retrieveSipCredentialResponse'
        '400':
          $ref: '#/components/responses/updateSipCredentialBadRequestResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/retrieveSipCredentialNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: '#/components/responses/sipCredentialServiceUnavailableResponse'
    delete:
      tags:
        - SIP Registrar
      description: Delete SIP credential
      operationId: deleteSipCredential
      summary: Delete SIP Credential
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/retrieveSipCredentialNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
        '503':
          $ref: '#/components/responses/sipCredentialServiceUnavailableResponse'
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/products/origination/settings:
    get:
      tags:
        - Locations (SIP Peers)
      description: Retrieve Sip Peer Origination settings
      summary: Retrieve Origination Settings for a Location
      operationId: getLocationOriginationSettings
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/retrieveOriginationSettingsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    post:
      tags:
        - Locations (SIP Peers)
      description: Create Sip Peer Origination settings
      summary: Create Origination Settings for a Location
      operationId: createLocationOriginationSettings
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/createOrUpdateOriginationSettingsRequest'
      responses:
        '201':
          $ref: '#/components/responses/createOriginationSettingsResponse'
        '400':
          $ref: '#/components/responses/originationSettingsBadRequestResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    put:
      tags:
        - Locations (SIP Peers)
      description: >-
        Update Sip Peer Origination settings<p>Note: Changing the Voice Protocol
        from SIP to HTTP will remove Voice Hosts or Voice Host Groups and
        Termination Hosts, which are configured using API
        /accounts/{accountId}/sites/{siteId}/sippeers/{sippeerId}.</p>
      summary: Update Origination Settings for a Location
      operationId: updateLocationOriginationSettings
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/createOrUpdateOriginationSettingsRequest'
      responses:
        '200':
          $ref: '#/components/responses/retrieveOriginationSettingsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/products/termination:
    get:
      tags:
        - Locations (SIP Peers)
      description: >-
        Retrieve SIP peer termination products including termination settings
        and termination hosts
      summary: Retrieve Termination Products for a Location
      operationId: getLocationTerminationProducts
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getSipPeerTerminationProductsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: >-
            #/components/responses/sipPeerTerminationProductsInternalErrorResponse
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/products/termination/hosts:
    get:
      tags:
        - Locations (SIP Peers)
      description: Retrieve all termination hosts (gateway IPs and subnets) for a Location
      summary: Retrieve Termination Hosts for a Location
      operationId: getLocationTerminationHosts
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getSipPeerTerminationHostsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/sipPeerTerminationHostsInternalErrorResponse'
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/products/termination/hosts/{gatewayId}:
    get:
      tags:
        - Locations (SIP Peers)
      description: >-
        Retrieve a single termination host (gateway IP or subnet) for a Location
        by ID
      summary: Retrieve a Termination Host for a Location
      operationId: getLocationTerminationHost
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
        - $ref: '#/components/parameters/gatewayIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getSipPeerTerminationHostResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/sipPeerTerminationHostNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/products/termination/hosts/{gatewayId}/settings:
    get:
      tags:
        - Locations (SIP Peers)
      description: >-
        Retrieve all settings (gateway attributes) for a termination host on a
        Location
      summary: Retrieve Termination Host Settings for a Location
      operationId: getLocationTerminationHostSettings
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
        - $ref: '#/components/parameters/gatewayIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getSipPeerTerminationHostSettingsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: >-
            #/components/responses/sipPeerTerminationHostSettingsNotFoundResponse
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/products/termination/hosts/{gatewayId}/settings/{attributeId}:
    get:
      tags:
        - Locations (SIP Peers)
      description: >-
        Retrieve a single setting (gateway attribute) for a termination host on
        a Location by ID
      summary: Retrieve a Termination Host Setting for a Location
      operationId: getLocationTerminationHostSetting
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
        - $ref: '#/components/parameters/gatewayIdPathParam'
        - $ref: '#/components/parameters/attributeIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getSipPeerTerminationHostSettingResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/sipPeerTerminationHostSettingNotFoundResponse'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
  /accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/products/termination/settings:
    get:
      tags:
        - Locations (SIP Peers)
      description: Retrieve termination settings for a Location
      summary: Retrieve Termination Settings for a Location
      operationId: getLocationTerminationSettings
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/getSipPeerTerminationSettingsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    post:
      tags:
        - Locations (SIP Peers)
      description: Create termination settings for a Location
      summary: Create Termination Settings for a Location
      operationId: createLocationTerminationSettings
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: >-
                numbers.yml#/components/schemas/SipPeerTerminationSettingsRequest
            examples:
              httpVoiceProtocol:
                $ref: >-
                  #/components/examples/sipPeerTerminationSettingsHttpRequestXmlExample
              sipVoiceProtocol:
                $ref: >-
                  #/components/examples/sipPeerTerminationSettingsSipRequestXmlExample
          application/json:
            schema:
              $ref: '#/components/schemas/sipPeerTerminationSettingsRequestJson'
            examples:
              httpVoiceProtocol:
                $ref: >-
                  #/components/examples/sipPeerTerminationSettingsHttpRequestJsonExample
              sipVoiceProtocol:
                $ref: >-
                  #/components/examples/sipPeerTerminationSettingsSipRequestJsonExample
      responses:
        '201':
          $ref: '#/components/responses/createSipPeerTerminationSettingsResponse'
        '400':
          $ref: '#/components/responses/sipPeerTerminationSettingsBadRequestResponse'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
    put:
      tags:
        - Locations (SIP Peers)
      description: >-
        Update termination settings for a Location. Note: Changing the Voice
        Protocol from SIP to HTTP will remove Voice Hosts or Voice Host Groups
        and Termination Hosts.
      summary: Update Termination Settings for a Location
      operationId: updateLocationTerminationSettings
      parameters:
        - $ref: '#/components/parameters/accountIdPathParam'
        - $ref: '#/components/parameters/subAccountIdPathParam'
        - $ref: '#/components/parameters/locationIdPathParam'
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: >-
                numbers.yml#/components/schemas/SipPeerTerminationSettingsRequest
            examples:
              httpVoiceProtocol:
                $ref: >-
                  #/components/examples/sipPeerTerminationSettingsHttpRequestXmlExample
              sipVoiceProtocol:
                $ref: >-
                  #/components/examples/sipPeerTerminationSettingsSipRequestXmlExample
          application/json:
            schema:
              $ref: '#/components/schemas/sipPeerTerminationSettingsRequestJson'
            examples:
              httpVoiceProtocol:
                $ref: >-
                  #/components/examples/sipPeerTerminationSettingsHttpRequestJsonExample
              sipVoiceProtocol:
                $ref: >-
                  #/components/examples/sipPeerTerminationSettingsSipRequestJsonExample
      responses:
        '200':
          $ref: '#/components/responses/updateSipPeerTerminationSettingsResponse'
        '400':
          $ref: '#/components/responses/errorResponse400'
        '401':
          $ref: '#/components/responses/errorResponse401'
        '403':
          $ref: '#/components/responses/errorResponse403'
        '404':
          $ref: '#/components/responses/errorResponse404'
        '429':
          $ref: '#/components/responses/errorResponse429'
        '500':
          $ref: '#/components/responses/errorResponse500'
components:
  parameters:
    accountIdPathParam:
      description: User's account ID.
      example: '1234567'
      in: path
      name: accountId
      required: true
      schema:
        type: string
    subAccountIdPathParam:
      name: siteId
      description: Sub-Account ID
      in: path
      required: true
      schema:
        type: integer
      example: 407
    locationIdPathParam:
      name: sipPeerId
      description: ID of the location
      in: path
      required: true
      schema:
        type: integer
      example: 500017
    gatewayIdPathParam:
      name: gatewayId
      description: ID of the termination host (gateway)
      in: path
      required: true
      schema:
        type: integer
        format: int64
      example: 23
    attributeIdPathParam:
      name: attributeId
      description: ID of the gateway attribute (setting)
      in: path
      required: true
      schema:
        type: integer
        format: int64
      example: 8
    hostQueryParam:
      description: >-
        <p>An IP address or subnet (CIDR format) associated with the account.
        Filter for subnet applies by exact match.</p>
      example: 47.16.211.63 or 69.22.181.68/30
      in: query
      name: host
      required: false
      schema:
        type: string
    hostTypeQueryParam:
      description: >-
        <p>A status value to filter the hosts returned in the payload. Values
        that can be accepted
        include:</p><ul><li>SMS</li><li>TERMINATION</li><li>ORIGINATION</li></ul>
      example: TERMINATION
      in: query
      name: type
      required: false
      schema:
        type: string
    realmPathParam:
      description: Name or ID of the realm
      example: '22'
      in: path
      name: realm
      required: true
      schema:
        type: string
    realmIdPathParam:
      description: ID of the Realm
      example: '22'
      in: path
      name: realmId
      required: true
      schema:
        type: string
    realmFragmentQueryParam:
      description: The realm fragment
      example: myrealm
      in: query
      name: realmFragment
      required: false
      schema:
        type: string
        maxLength: 64
        minLength: 3
    userNameFragmentQueryParam:
      description: The user name fragment
      example: user32
      in: query
      name: userNameFragment
      required: false
      schema:
        type: string
        maxLength: 64
        minLength: 3
    domainFragmentQueryParam:
      description: The domain fragment
      example: bw.
      in: query
      name: domainFragment
      required: false
      schema:
        type: string
        maxLength: 64
        minLength: 3
    applicationNameFragmentQueryParam:
      description: The application name fragment
      example: myapp
      in: query
      name: applicationNameFragment
      required: false
      schema:
        type: string
        maxLength: 64
        minLength: 3
    sipCredentialsPageQueryParam:
      description: >-
        An ID of the first element in a page.  This value will indicate the
        first value, not the count, of the initial entry in the page being
        requested. It can be an index of SIP credential or a combination of user
        name and domain in form {userName}@{domain}. The initial page is tagged
        with the ID '1'
      example: 3, user321@bw.com
      in: query
      name: page
      required: false
      schema:
        type: string
        default: '1'
    sipCredentialsSizeQueryParam:
      description: The number of items to include in a page
      example: 5000
      in: query
      name: size
      required: false
      schema:
        type: integer
        default: 500
    afterCursorQueryParam:
      description: >-
        An ID of the first element in a page. This value will indicate the first
        value, not the count, of the initial entry in the page being requested.
        It can be an index of SIP credential or a combination of user name and
        domain in form {userName}@{domain}. The initial page is tagged with the
        ID '1'
      example: '3'
      in: query
      name: afterCursor
      required: false
      schema:
        type: string
        default: '1'
    limitQueryParam:
      description: The number of items to include in a page
      example: 5000
      in: query
      name: limit
      required: false
      schema:
        type: integer
        default: 500
  requestBodies:
    ucTrunkingHostedSettingsRequest:
      description: UC Trunking hosted (cloud) settings request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ucTrunkingCloudSettingsPayload'
          examples:
            example:
              $ref: '#/components/examples/ucTrunkingHostedSettingsRequestXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/ucTrunkingCloudSettingsPayloadJson'
          examples:
            example:
              $ref: '#/components/examples/ucTrunkingHostedSettingsRequestJsonExample'
    createRealmRequest:
      description: Realm Request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/realmCreateRequest'
          examples:
            example:
              $ref: '#/components/examples/createRealmRequestXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/realmCreateRequestJson'
          examples:
            example:
              $ref: '#/components/examples/createRealmRequestJsonExample'
    updateRealmRequest:
      description: Realm Update Request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/realmUpdateRequest'
          examples:
            example:
              $ref: '#/components/examples/updateRealmRequestXmlExample'
    createSipCredentialsRequest:
      description: SIP Credentials Request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/accountSipCredentialsRequest'
          examples:
            example:
              $ref: '#/components/examples/createSipCredentialsRequestXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/createSipCredentialsOnRealmRequestBodyJson'
          examples:
            example:
              $ref: '#/components/examples/createSipCredentialsRequestJsonExample'
    createSipCredentialsOnRealmRequest:
      description: SIP Credentials Request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/accountSipCredentialsRequest'
          examples:
            example:
              $ref: >-
                #/components/examples/createSipCredentialsOnRealmRequestXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/createSipCredentialsOnRealmRequestBodyJson'
          examples:
            example:
              $ref: >-
                #/components/examples/createSipCredentialsOnRealmRequestJsonExample
    updateSipCredentialOnRealmRequest:
      description: SIP Credential Update Request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipCredentialUpdateRequestXml'
          examples:
            example:
              $ref: >-
                #/components/examples/updateSipCredentialOnRealmRequestXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/updateSipCredentialOnRealmRequestJson'
          examples:
            example:
              $ref: >-
                #/components/examples/updateSipCredentialOnRealmRequestJsonExample
    updateSipCredentialRequest:
      description: SIP Credential Update Request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipCredentialUpdateRequestXml'
          examples:
            example:
              $ref: '#/components/examples/updateSipCredentialRequestXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/updateSipCredentialRequestJson'
          examples:
            example:
              $ref: '#/components/examples/updateSipCredentialRequestJsonExample'
    createOrUpdateOriginationSettingsRequest:
      description: Origination Settings Request
      required: true
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipPeerOriginationSettingsRequestXml'
          examples:
            HTTP Voice protocol:
              $ref: '#/components/examples/createOriginationSettingsHttpXmlExample'
            SIP Voice protocol:
              $ref: '#/components/examples/createOriginationSettingsSipXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/originationSettingsRequestJson'
          examples:
            HTTP Voice protocol:
              $ref: '#/components/examples/createOriginationSettingsHttpJsonExample'
            SIP Voice protocol:
              $ref: '#/components/examples/createOriginationSettingsSipJsonExample'
  responses:
    errorResponse400:
      description: Bad Request
    errorResponse401:
      description: Unauthorized
    errorResponse403:
      description: Forbidden
    errorResponse404:
      description: Not Found
    errorResponse429:
      description: Too Many Requests
    errorResponse500:
      description: Internal Server Error
    hostsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/siteHostsResponse'
          examples:
            hostsExample:
              $ref: '#/components/examples/hostsXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/subAccountHostsResponseJson'
          examples:
            hostsExample:
              $ref: '#/components/examples/hostsJsonExample'
    getEdgeManagementSettingsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/edgeManagementSettingsResponse'
          examples:
            example:
              $ref: >-
                #/components/examples/getEdgeManagementSettingsResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/edgeManagementSettingsResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/getEdgeManagementSettingsResponseJsonExample
    getTollFreeSettingsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/tollFreeSettingsResponse'
          examples:
            example:
              $ref: '#/components/examples/getTollFreeSettingsResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/tollFreeSettingsResponseJson'
          examples:
            example:
              $ref: '#/components/examples/getTollFreeSettingsResponseJsonExample'
    ucTrunkingHostedSettingsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ucTrunkingCloudSettingsResponse'
          examples:
            example:
              $ref: '#/components/examples/ucTrunkingHostedSettingsResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/ucTrunkingCloudSettingsResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/ucTrunkingHostedSettingsResponseJsonExample
    ucTrunkingHostedSettingsBadRequestErrorResponse:
      description: Bad Request
      content:
        application/xml:
          schema:
            $ref: >-
              #/components/schemas/ucTrunkingCloudSettingsErrorResponseXmlWrapper
          examples:
            example:
              $ref: >-
                #/components/examples/ucTrunkingHostedSettingsBadRequestXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/ucTrunkingHostedSettingsBadRequestJsonExample
    ucTrunkingHostedSettingsNotFoundErrorResponse:
      description: Not Found
      content:
        application/xml:
          schema:
            $ref: >-
              #/components/schemas/ucTrunkingCloudSettingsErrorResponseXmlWrapper
          examples:
            example:
              $ref: '#/components/examples/ucTrunkingHostedSettingsNotFoundXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/ucTrunkingHostedSettingsNotFoundJsonExample
    getUcTrunkingSettingsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ucTrunkingSettingsResponse'
          examples:
            example:
              $ref: '#/components/examples/getUcTrunkingSettingsResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/ucTrunkingSettingsResponseJson'
          examples:
            example:
              $ref: '#/components/examples/getUcTrunkingSettingsResponseJsonExample'
    listRealmsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/realmsResponse'
          examples:
            example:
              $ref: '#/components/examples/listRealmsResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/realmsResponseJson'
          examples:
            example:
              $ref: '#/components/examples/listRealmsResponseJsonExample'
    listRealmsBadRequestErrorResponse:
      description: Bad Request
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/realmsErrorResponseXmlWrapper'
          examples:
            example:
              $ref: >-
                #/components/examples/listRealmsBadRequestErrorResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/listRealmsBadRequestErrorResponseJsonExample
    listRealmsNotFoundErrorResponse:
      description: Not Found
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/realmsErrorResponseXmlWrapper'
          examples:
            example:
              $ref: '#/components/examples/listRealmsNotFoundErrorResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: '#/components/examples/listRealmsNotFoundErrorResponseJsonExample'
    createRealm201Response:
      description: Created
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/realmResponse'
          examples:
            example:
              $ref: '#/components/examples/createRealm201ResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/realmResponseJson'
          examples:
            example:
              $ref: '#/components/examples/createRealm201ResponseJsonExample'
    createRealmBadRequestErrorResponse:
      description: Bad Request
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/realmErrorResponseXmlWrapper'
          examples:
            example:
              $ref: >-
                #/components/examples/createRealmBadRequestErrorResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/createRealmBadRequestErrorResponseJsonExample
    createRealmServiceUnavailableErrorResponse:
      description: Service Unavailable
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/realmErrorResponseXmlWrapper'
          examples:
            example:
              $ref: >-
                #/components/examples/createRealmServiceUnavailableErrorResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/createRealmServiceUnavailableErrorResponseJsonExample
    retrieveRealmResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/realmResponse'
          examples:
            example:
              $ref: '#/components/examples/retrieveRealmResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/realmResponseJson'
          examples:
            example:
              $ref: '#/components/examples/retrieveRealmResponseJsonExample'
    retrieveRealmNotFoundErrorResponse:
      description: Not Found
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/realmErrorResponseXmlWrapper'
          examples:
            example:
              $ref: >-
                #/components/examples/retrieveRealmNotFoundErrorResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/retrieveRealmNotFoundErrorResponseJsonExample
    retrieveRealmServiceUnavailableErrorResponse:
      description: Service Unavailable
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/realmErrorResponseXmlWrapper'
          examples:
            example:
              $ref: >-
                #/components/examples/retrieveRealmServiceUnavailableErrorResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/retrieveRealmServiceUnavailableErrorResponseJsonExample
    deleteRealmAcceptedResponse:
      description: Accepted
    deleteRealmBadRequestErrorResponse:
      description: Bad Request
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/realmErrorResponseXmlWrapper'
          examples:
            example:
              $ref: >-
                #/components/examples/deleteRealmBadRequestErrorResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/deleteRealmBadRequestErrorResponseJsonExample
    deleteRealmNotFoundErrorResponse:
      description: Not Found
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/realmErrorResponseXmlWrapper'
          examples:
            example:
              $ref: '#/components/examples/deleteRealmNotFoundErrorResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/deleteRealmNotFoundErrorResponseJsonExample
    deleteRealmServiceUnavailableErrorResponse:
      description: Service Unavailable
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/realmErrorResponseXmlWrapper'
          examples:
            example:
              $ref: >-
                #/components/examples/deleteRealmServiceUnavailableErrorResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/deleteRealmServiceUnavailableErrorResponseJsonExample
    updateRealmResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/realmResponse'
          examples:
            example:
              $ref: '#/components/examples/updateRealmResponseXmlExample'
    updateRealmBadRequestErrorResponse:
      description: Bad Request
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/realmErrorResponseXmlWrapper'
          examples:
            example:
              $ref: >-
                #/components/examples/updateRealmBadRequestErrorResponseXmlExample
    updateRealmServiceUnavailableErrorResponse:
      description: Service Unavailable
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/realmErrorResponseXmlWrapper'
          examples:
            example:
              $ref: >-
                #/components/examples/updateRealmServiceUnavailableErrorResponseXmlExample
    listSipCredentialsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/realmSipCredentialsResponseXml'
          examples:
            example:
              $ref: '#/components/examples/listSipCredentialsResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/listSipCredentialsOnRealmResponseJson'
          examples:
            example:
              $ref: '#/components/examples/listSipCredentialsResponseJsonExample'
    listSipCredentialsNotFoundResponse:
      description: Not Found
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipCredentialErrorResponseXmlWrapper'
          examples:
            example:
              $ref: >-
                #/components/examples/listSipCredentialsNotFoundResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/listSipCredentialsNotFoundResponseJsonExample
    createSipCredentials201Response:
      description: Created
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipCredentialsCreatedResponseXml'
          examples:
            example:
              $ref: '#/components/examples/createSipCredentials201ResponseXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/createSipCredentialsOnRealmResponseJson'
          examples:
            example:
              $ref: '#/components/examples/createSipCredentials201ResponseJsonExample'
    createSipCredentialsBadRequestResponse:
      description: Bad Request
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipCredentialsCreatedResponseXml'
          examples:
            example:
              $ref: >-
                #/components/examples/createSipCredentialsBadRequestResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/createSipCredentialsBadRequestResponseJsonExample
    createSipCredentialsServiceUnavailableResponse:
      description: Service Unavailable
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipCredentialErrorResponseXmlWrapper'
          examples:
            example:
              $ref: >-
                #/components/examples/createSipCredentialsServiceUnavailableResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/createSipCredentialsServiceUnavailableResponseJsonExample
    listSipCredentialsOnRealmResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/realmSipCredentialsResponseXml'
          examples:
            example:
              $ref: >-
                #/components/examples/listSipCredentialsOnRealmResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/listSipCredentialsOnRealmResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/listSipCredentialsOnRealmResponseJsonExample
    listSipCredentialsOnRealmNotFoundResponse:
      description: Not Found
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipCredentialErrorResponseXmlWrapper'
          examples:
            example:
              $ref: >-
                #/components/examples/listSipCredentialsOnRealmNotFoundResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/listSipCredentialsOnRealmNotFoundResponseJsonExample
    createSipCredentialsOnRealm201Response:
      description: Created
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipCredentialsCreatedResponseXml'
          examples:
            example:
              $ref: >-
                #/components/examples/createSipCredentialsOnRealm201ResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/createSipCredentialsOnRealmResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/createSipCredentialsOnRealm201ResponseJsonExample
    createSipCredentialsOnRealmBadRequestResponse:
      description: Bad Request
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipCredentialsCreatedResponseXml'
          examples:
            example:
              $ref: >-
                #/components/examples/createSipCredentialsOnRealmBadRequestResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/createSipCredentialsOnRealmBadRequestResponseJsonExample
    createSipCredentialsOnRealmServiceUnavailableResponse:
      description: Service Unavailable
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipCredentialErrorResponseXmlWrapper'
          examples:
            example:
              $ref: >-
                #/components/examples/createSipCredentialsOnRealmServiceUnavailableResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/createSipCredentialsOnRealmServiceUnavailableResponseJsonExample
    retrieveSipCredentialOnRealmResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipCredentialResponseXml'
          examples:
            example:
              $ref: >-
                #/components/examples/retrieveSipCredentialOnRealmResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/retrieveSipCredentialOnRealmResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/retrieveSipCredentialOnRealmResponseJsonExample
    retrieveSipCredentialOnRealmNotFoundResponse:
      description: Not Found
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipCredentialErrorResponseXmlWrapper'
          examples:
            example:
              $ref: >-
                #/components/examples/retrieveSipCredentialOnRealmNotFoundResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/retrieveSipCredentialOnRealmNotFoundResponseJsonExample
    updateSipCredentialOnRealmBadRequestResponse:
      description: Bad Request
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipCredentialErrorResponseXmlWrapper'
          examples:
            example:
              $ref: >-
                #/components/examples/updateSipCredentialOnRealmBadRequestResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/updateSipCredentialOnRealmBadRequestResponseJsonExample
    sipCredentialOnRealmServiceUnavailableResponse:
      description: Service Unavailable
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipCredentialErrorResponseXmlWrapper'
          examples:
            example:
              $ref: >-
                #/components/examples/sipCredentialOnRealmServiceUnavailableResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/sipCredentialOnRealmServiceUnavailableResponseJsonExample
    retrieveSipCredentialResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipCredentialResponseXml'
          examples:
            With separated UserName and Domain:
              $ref: >-
                #/components/examples/retrieveSipCredentialResponseXmlExampleSeparated
            With aggregated UserName and Domain:
              $ref: >-
                #/components/examples/retrieveSipCredentialResponseXmlExampleAggregated
        application/json:
          schema:
            $ref: '#/components/schemas/retrieveSipCredentialOnRealmResponseJson'
          examples:
            With separated UserName and Domain:
              $ref: >-
                #/components/examples/retrieveSipCredentialResponseJsonExampleSeparated
            With aggregated UserName and Domain:
              $ref: >-
                #/components/examples/retrieveSipCredentialResponseJsonExampleAggregated
    retrieveSipCredentialNotFoundResponse:
      description: Not Found
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipCredentialErrorResponseXmlWrapper'
          examples:
            example:
              $ref: >-
                #/components/examples/retrieveSipCredentialNotFoundResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/retrieveSipCredentialNotFoundResponseJsonExample
    updateSipCredentialBadRequestResponse:
      description: Bad Request
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipCredentialErrorResponseXmlWrapper'
          examples:
            example:
              $ref: >-
                #/components/examples/updateSipCredentialBadRequestResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/updateSipCredentialBadRequestResponseJsonExample
    sipCredentialServiceUnavailableResponse:
      description: Service Unavailable
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipCredentialErrorResponseXmlWrapper'
          examples:
            example:
              $ref: >-
                #/components/examples/sipCredentialServiceUnavailableResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/sipCredentialServiceUnavailableResponseJsonExample
    retrieveOriginationSettingsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipPeerOriginationSettingsResponseXml'
          examples:
            HTTP Voice protocol:
              $ref: '#/components/examples/retrieveOriginationSettingsHttpXmlExample'
            SIP Voice protocol:
              $ref: '#/components/examples/retrieveOriginationSettingsSipXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/originationSettingsResponseJson'
          examples:
            HTTP Voice protocol:
              $ref: '#/components/examples/retrieveOriginationSettingsHttpJsonExample'
            SIP Voice protocol:
              $ref: '#/components/examples/retrieveOriginationSettingsSipJsonExample'
    createOriginationSettingsResponse:
      description: Created
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipPeerOriginationSettingsResponseXml'
          examples:
            example:
              $ref: '#/components/examples/createOriginationSettings201XmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/originationSettingsResponseJson'
          examples:
            example:
              $ref: '#/components/examples/createOriginationSettings201JsonExample'
    originationSettingsBadRequestResponse:
      description: Bad Request
      content:
        application/xml:
          schema:
            type: object
          examples:
            example:
              $ref: '#/components/examples/originationSettings400XmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: '#/components/examples/originationSettings400JsonExample'
    getSipPeerTerminationProductsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/sipPeerTerminationProductsResponseXml'
          examples:
            example:
              $ref: '#/components/examples/getSipPeerTerminationProductsXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/sipPeerTerminationProductsResponseJson'
          examples:
            example:
              $ref: '#/components/examples/getSipPeerTerminationProductsJsonExample'
    sipPeerTerminationProductsInternalErrorResponse:
      description: Internal Server Error
      content:
        application/xml:
          schema:
            type: object
          examples:
            example:
              $ref: >-
                #/components/examples/sipPeerTerminationProductsInternalErrorXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/sipPeerTerminationProductsInternalErrorJsonExample
    getSipPeerTerminationHostsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: numbers.yml#/components/schemas/SipPeerGatewayIpsResponse
          examples:
            example:
              $ref: '#/components/examples/getSipPeerTerminationHostsXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/sipPeerGatewayIpsResponseJson'
          examples:
            example:
              $ref: '#/components/examples/getSipPeerTerminationHostsJsonExample'
    sipPeerTerminationHostsInternalErrorResponse:
      description: Internal Server Error
      content:
        application/xml:
          schema:
            type: object
          examples:
            example:
              $ref: >-
                #/components/examples/sipPeerTerminationHostsInternalErrorXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/sipPeerTerminationHostsInternalErrorJsonExample
    getSipPeerTerminationHostResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: numbers.yml#/components/schemas/SipPeerGatewayIpResponse
          examples:
            example:
              $ref: '#/components/examples/getSipPeerTerminationHostXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/sipPeerGatewayIpResponseJson'
          examples:
            example:
              $ref: '#/components/examples/getSipPeerTerminationHostJsonExample'
    sipPeerTerminationHostNotFoundResponse:
      description: Not Found
      content:
        application/xml:
          schema:
            type: object
          examples:
            example:
              $ref: '#/components/examples/sipPeerTerminationHostNotFoundXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: '#/components/examples/sipPeerTerminationHostNotFoundJsonExample'
    getSipPeerTerminationHostSettingsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: numbers.yml#/components/schemas/SipPeerGatewayAttributesResponse
          examples:
            example:
              $ref: >-
                #/components/examples/getSipPeerTerminationHostSettingsXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/sipPeerGatewayAttributesResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/getSipPeerTerminationHostSettingsJsonExample
    sipPeerTerminationHostSettingsNotFoundResponse:
      description: Not Found
      content:
        application/xml:
          schema:
            type: object
          examples:
            example:
              $ref: >-
                #/components/examples/sipPeerTerminationHostSettingsNotFoundXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/sipPeerTerminationHostSettingsNotFoundJsonExample
    getSipPeerTerminationHostSettingResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: numbers.yml#/components/schemas/SipPeerGatewayAttributeResponse
          examples:
            example:
              $ref: '#/components/examples/getSipPeerTerminationHostSettingXmlExample'
        application/json:
          schema:
            $ref: '#/components/schemas/sipPeerGatewayAttributeResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/getSipPeerTerminationHostSettingJsonExample
    sipPeerTerminationHostSettingNotFoundResponse:
      description: Not Found
      content:
        application/xml:
          schema:
            type: object
          examples:
            example:
              $ref: >-
                #/components/examples/sipPeerTerminationHostSettingNotFoundXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/sipPeerTerminationHostSettingNotFoundJsonExample
    getSipPeerTerminationSettingsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: numbers.yml#/components/schemas/SipPeerTerminationSettingsResponse
          examples:
            httpVoiceProtocol:
              $ref: >-
                #/components/examples/sipPeerTerminationSettingsHttpResponseXmlExample
            sipVoiceProtocol:
              $ref: >-
                #/components/examples/sipPeerTerminationSettingsSipResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/sipPeerTerminationSettingsResponseJson'
          examples:
            httpVoiceProtocol:
              $ref: >-
                #/components/examples/sipPeerTerminationSettingsHttpResponseJsonExample
            sipVoiceProtocol:
              $ref: >-
                #/components/examples/sipPeerTerminationSettingsSipResponseJsonExample
    createSipPeerTerminationSettingsResponse:
      description: Created
      content:
        application/xml:
          schema:
            $ref: numbers.yml#/components/schemas/SipPeerTerminationSettingsResponse
          examples:
            example:
              $ref: >-
                #/components/examples/sipPeerTerminationSettingsHttpResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/sipPeerTerminationSettingsResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/sipPeerTerminationSettingsHttpResponseJsonExample
    sipPeerTerminationSettingsBadRequestResponse:
      description: Bad Request
      content:
        application/xml:
          schema:
            type: object
          examples:
            example:
              $ref: >-
                #/components/examples/sipPeerTerminationSettingsBadRequestXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponseJson'
          examples:
            example:
              $ref: >-
                #/components/examples/sipPeerTerminationSettingsBadRequestJsonExample
    updateSipPeerTerminationSettingsResponse:
      description: OK
      content:
        application/xml:
          schema:
            $ref: numbers.yml#/components/schemas/SipPeerTerminationSettingsResponse
          examples:
            httpVoiceProtocol:
              $ref: >-
                #/components/examples/sipPeerTerminationSettingsHttpResponseXmlExample
            sipVoiceProtocol:
              $ref: >-
                #/components/examples/sipPeerTerminationSettingsSipResponseXmlExample
        application/json:
          schema:
            $ref: '#/components/schemas/sipPeerTerminationSettingsResponseJson'
          examples:
            httpVoiceProtocol:
              $ref: >-
                #/components/examples/sipPeerTerminationSettingsHttpResponseJsonExample
            sipVoiceProtocol:
              $ref: >-
                #/components/examples/sipPeerTerminationSettingsSipResponseJsonExample
  examples:
    hostsXmlExample:
      description: A successful result that contains the response data in XML format
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <SiteHostsResponse>
          <SiteHosts>
            <SiteHost>
              <SiteId>5</SiteId>
              <SipPeerHosts>
                <SipPeerHost>
                  <SipPeerId>500146</SipPeerId>
                  <SmsHosts/>
                  <VoiceHosts>
                    <Host>
                      <HostName>47.16.211.63</HostName>
                    </Host>
                  </VoiceHosts>
                  <TerminationHosts/>
                </SipPeerHost>
              </SipPeerHosts>
            </SiteHost>
          </SiteHosts>
        </SiteHostsResponse>
    hostsJsonExample:
      description: A successful result that contains the response data in JSON format
      value:
        subAccountHosts:
          - subAccountId: 5
            locationHosts:
              - locationId: 500146
                smsHosts: {}
                voiceHosts:
                  hosts:
                    - hostName: 47.16.211.63
                terminationHosts: {}
    getEdgeManagementSettingsResponseXmlExample:
      description: A successful result that contains the response data in XML format
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
         <EdgeManagementSettings>
          <SbcSettings>
            <TrunkGroupId>Trunkgroupidfortheaccounttraffic</TrunkGroupId>
            <NodeGroupName>East Coast 01</NodeGroupName>
          </SbcSettings>
          <ProductSpecificAccessRestrictions>
            <AccessRestriction>
              <RestrictedProduct>Termination</RestrictedProduct>
              <RestrictedAccessTypes>
                <RestrictedAccessType>ExampleType</RestrictedAccessType>
              </RestrictedAccessTypes>
            </AccessRestriction>
          </ProductSpecificAccessRestrictions>
        </EdgeManagementSettings>
    getEdgeManagementSettingsResponseJsonExample:
      description: A successful result that contains the response data in JSON format
      value:
        edgeManagementSettings:
          sbcSettings:
            trunkGroupId: Trunkgroupidfortheaccounttraffic
            nodeGroupName: East Coast 01
          productSpecificAccessRestrictions:
            - restrictedProduct: Termination
              restrictedAccessTypes:
                - ExampleType
    getTollFreeSettingsResponseXmlExample:
      description: A successful result that contains the response data in XML format
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <TollFreeSettingsResponse>
          <DefaultRespOrgId>JYT01</DefaultRespOrgId>
          <TollFreeSettings>
            <RespOrgException>true</RespOrgException>
            <RespOrgIdList>
              <RespOrgId>SFD01</RespOrgId>
            </RespOrgIdList>
            <TollFreeTemplateAssignmentsSearch>true</TollFreeTemplateAssignmentsSearch>
          </TollFreeSettings>
        </TollFreeSettingsResponse>
    getTollFreeSettingsResponseJsonExample:
      description: A successful result that contains the response data in JSON format
      value:
        tollFreeSettings:
          respOrgException: true
          respOrgIds:
            - SFD01
          tollFreeTemplateAssignmentsSearch: true
        targetBandwidthRespOrgId: JYT01
    ucTrunkingHostedSettingsResponseXmlExample:
      description: A successful result that contains the response data in XML format
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <UcTrunkingCloudSettingsResponse>
          <UcTrunkingCloudSettings>
            <BiDirectionalTrunks>200</BiDirectionalTrunks>
          </UcTrunkingCloudSettings>
        </UcTrunkingCloudSettingsResponse>
    ucTrunkingHostedSettingsResponseJsonExample:
      description: A successful result that contains the response data in JSON format
      value:
        ucTrunkingCloudSettings:
          biDirectionalTrunks: '200'
    ucTrunkingHostedSettingsRequestXmlExample:
      description: An example request in XML format
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <UcTrunkingCloudSettings>
          <BiDirectionalTrunks>200</BiDirectionalTrunks>
        </UcTrunkingCloudSettings>
    ucTrunkingHostedSettingsRequestJsonExample:
      description: An example request in JSON format
      value:
        biDirectionalTrunks: '200'
    ucTrunkingHostedSettingsBadRequestXmlExample:
      description: Bad Request
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <UcTrunkingCloudSettingsResponse>
          <ResponseStatus>
            <ErrorCode>12609</ErrorCode>
            <Description>The supplied value of 201 is more than the allowed max value of 200</Description>
          </ResponseStatus>
        </UcTrunkingCloudSettingsResponse>
    ucTrunkingHostedSettingsBadRequestJsonExample:
      description: Bad Request
      value:
        errorCode: 12609
        description: The supplied value of 201 is more than the allowed max value of 200
    ucTrunkingHostedSettingsNotFoundXmlExample:
      description: Not Found
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <UcTrunkingCloudSettingsResponse>
          <ResponseStatus>
            <ErrorCode>12034</ErrorCode>
            <Description>UcTrunking product has not been configured</Description>
          </ResponseStatus>
        </UcTrunkingCloudSettingsResponse>
    ucTrunkingHostedSettingsNotFoundJsonExample:
      description: Not Found
      value:
        errorCode: 12034
        description: UcTrunking product has not been configured
    getUcTrunkingSettingsResponseXmlExample:
      description: A successful result that contains the response data in XML format
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <UcTrunkingSettingsResponse>
          <UcTrunkingSettings>
            <PartnerType>AGENT</PartnerType>
            <MaxUcTrunks>40</MaxUcTrunks>
            <BillingType>DNIS</BillingType>
            <CustomerTrafficAllowed>ALL</CustomerTrafficAllowed>
            <UsageCategory>UC500</UsageCategory>
            <TrunkAllocationRules>
              <TrunkAllocationRule>
                <LowerBound>1</LowerBound>
                <Ratio>1</Ratio>
              </TrunkAllocationRule>
              <TrunkAllocationRule>
                <LowerBound>10</LowerBound>
                <Ratio>2</Ratio>
              </TrunkAllocationRule>
              <TrunkAllocationRule>
                <LowerBound>15</LowerBound>
                <Ratio>5</Ratio>
              </TrunkAllocationRule>
            </TrunkAllocationRules>
          </UcTrunkingSettings>
        </UcTrunkingSettingsResponse>
    getUcTrunkingSettingsResponseJsonExample:
      description: A successful result that contains the response data in JSON format
      value:
        ucTrunkingSettings:
          partnerType: AGENT
          maxUcTrunks: 40
          billingType: DNIS
          customerTrafficAllowed: ALL
          usageCategory: UC500
          trunkAllocationRules:
            - lowerBound: 1
              ratio: 1
            - lowerBound: 10
              ratio: 2
            - lowerBound: 15
              ratio: 5
    listRealmsResponseXmlExample:
      description: A successful result that contains the list of Realms in XML format
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <RealmsResponse>
           <Realms>
              <Realm>
                 <Id>22</Id>
                 <Realm>myrealm123.abc123.auth.bandwidth.com</Realm>
                 <Default>true</Default>
                 <Description>Test Realm 123</Description>
                 <SipCredentialCount>3</SipCredentialCount>
                 <Status>ACTIVE</Status>
                 <TrunkInfo>
                    <TrunkId>66b4d27e68cc01462d6f0e6f</TrunkId>
                    <CapabilityPipeId>33d864f7-37e9-46c3-aeb1-40702719ff5c</CapabilityPipeId>
                 </TrunkInfo>
              </Realm>
              <Realm>
                 <Id>31</Id>
                 <Realm>myrealm234.abc123.auth.bandwidth.com</Realm>
                 <Default>false</Default>
                 <Description>Test Realm 234</Description>
                 <SipCredentialCount>6</SipCredentialCount>
                 <Status>ACTIVE</Status>
                 <TrunkInfo>
                    <TrunkId>66b4d27e68cc01462d6f0e6f</TrunkId>
                    <CapabilityPipeId>33d864f7-37e9-46c3-aeb1-40702719ff5c</CapabilityPipeId>
                 </TrunkInfo>
              </Realm>
           </Realms>
        </RealmsResponse>
    listRealmsResponseJsonExample:
      description: A successful result that contains the list of Realms in JSON format
      value:
        realms:
          - id: 22
            realm: myrealm123.abc123.auth.bandwidth.com
            default: true
            description: Test Realm 123
            sipCredentialCount: 3
            status: ACTIVE
            trunkInfo:
              trunkId: 66b4d27e68cc01462d6f0e6f
              capabilityPipeId: 33d864f7-37e9-46c3-aeb1-40702719ff5c
          - id: 31
            realm: myrealm234.abc123.auth.bandwidth.com
            default: false
            description: Test Realm 234
            sipCredentialCount: 6
            status: ACTIVE
            trunkInfo:
              trunkId: 66b4d27e68cc01462d6f0e6f
              capabilityPipeId: 33d864f7-37e9-46c3-aeb1-40702719ff5c
    createRealmRequestXmlExample:
      description: An example Realm creation request in XML format
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <Realm>
           <Realm>realm123</Realm>
           <Description>This is realm #123</Description>
           <Default>true</Default>
           <TrunkInfo>
              <TrunkId>66b4d27e68cc01462d6f0e6f</TrunkId>
              <CapabilityPipeId>33d864f7-37e9-46c3-aeb1-40702719ff5c</CapabilityPipeId>
           </TrunkInfo>
        </Realm>
    createRealmRequestJsonExample:
      description: An example Realm creation request in JSON format
      value:
        realm: realm123
        description: This is realm
        default: true
        trunkInfo:
          trunkId: 66b4d27e68cc01462d6f0e6f
          capabilityPipeId: 33d864f7-37e9-46c3-aeb1-40702719ff5c
    createRealm201ResponseXmlExample:
      description: A successful Realm creation result in XML format
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <RealmResponse>
           <Realm>
              <Id>22</Id>
              <Realm>realm123.abc123.auth.bandwidth.com</Realm>
              <Description>This is realm #123</Description>
              <Default>true</Default>
              <SipCredentialCount>0</SipCredentialCount>
              <Status>CREATE_PENDING</Status>
              <TrunkInfo>
                 <TrunkId>66b4d27e68cc01462d6f0e6f</TrunkId>
                 <CapabilityPipeId>33d864f7-37e9-46c3-aeb1-40702719ff5c</CapabilityPipeId>
              </TrunkInfo>
           </Realm>
        </RealmResponse>
    createRealm201ResponseJsonExample:
      description: A successful Realm creation result in JSON format
      value:
        realm:
          id: 22
          realm: realm123.abc123.auth.bandwidth.com
          description: This is realm
          default: true
          sipCredentialCount: 0
          status: CREATE_PENDING
          trunkInfo:
            trunkId: 66b4d27e68cc01462d6f0e6f
            capabilityPipeId: 33d864f7-37e9-46c3-aeb1-40702719ff5c
    listRealmsBadRequestErrorResponseXmlExample:
      description: An example of a bad request response in XML format
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <RealmsResponse>
           <ResponseStatus>
              <ErrorCode>33011</ErrorCode>
              <Description>realmfragment should contain at least 3 characters.</Description>
           </ResponseStatus>
        </RealmsResponse>
    listRealmsBadRequestErrorResponseJsonExample:
      description: An example of a bad request response in JSON format
      value:
        errorCode: 33011
        description: realmfragment should contain at least 3 characters.
    listRealmsNotFoundErrorResponseXmlExample:
      description: An example of a not found response in XML format
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <RealmsResponse>
           <ResponseStatus>
              <ErrorCode>4022</ErrorCode>
              <Description>Account '2' does not exist or is locked</Description>
           </ResponseStatus>
        </RealmsResponse>
    listRealmsNotFoundErrorResponseJsonExample:
      description: An example of a not found response in JSON format
      value:
        errorCode: 4022
        description: Account '2' does not exist or is locked
    createRealmBadRequestErrorResponseXmlExample:
      description: An example of a bad request response in XML format
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <RealmResponse>
           <ResponseStatus>
              <ErrorCode>33003</ErrorCode>
              <Description>Realm 'realmmmmmmmmmmmmmmmmmmmmmmmmmmm' is too long (30 characters max)</Description>
           </ResponseStatus>
        </RealmResponse>
    createRealmBadRequestErrorResponseJsonExample:
      description: An example of a bad request response in JSON format
      value:
        errorCode: 33003
        description: >-
          Realm 'realmmmmmmmmmmmmmmmmmmmmmmmmmmm' is too long (30 characters
          max)
    createRealmServiceUnavailableErrorResponseXmlExample:
      description: An example of a service unavailable response in XML format
      value: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RealmResponse>
           <ResponseStatus>
              <Description>Service is Unavailable</Description>
           </ResponseStatus>
        </RealmResponse>
    createRealmServiceUnavailableErrorResponseJsonExample:
      description: An example of a service unavailable response in JSON format
      value:
        description: Service is Unavailable
    retrieveRealmResponseXmlExample:
      description: A successful Realm retrieval result in XML format
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <RealmResponse>
           <Realm>
              <Id>22</Id>
              <Realm>realm123.abc123.auth.bandwidth.com</Realm>
              <Description>This is realm #123</Description>
              <Default>false</Default>
              <SipCredentialCount>15</SipCredentialCount>
              <Status>ACTIVE</Status>
              <TrunkInfo>
                 <TrunkId>66b4d27e68cc01462d6f0e6f</TrunkId>
                 <CapabilityPipeId>33d864f7-37e9-46c3-aeb1-40702719ff5c</CapabilityPipeId>
              </TrunkInfo>
           </Realm>
        </RealmResponse>
    retrieveRealmResponseJsonExample:
      description: A successful Realm retrieval result in JSON format
      value:
        realm:
          id: 22
          realm: realm123.abc123.auth.bandwidth.com
          description: This is realm
          default: false
          sipCredentialCount: 15
          status: ACTIVE
          trunkInfo:
            trunkId: 66b4d27e68cc01462d6f0e6f
            capabilityPipeId: 33d864f7-37e9-46c3-aeb1-40702719ff5c
    retrieveRealmNotFoundErrorResponseXmlExample:
      description: An example of a not found response in XML format
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <RealmResponse>
           <ResponseStatus>
              <Description>The resource does not exist</Description>
           </ResponseStatus>
        </RealmResponse>
    retrieveRealmNotFoundErrorResponseJsonExample:
      description: An example of a not found response in JSON format
      value:
        description: The resource does not exist
    retrieveRealmServiceUnavailableErrorResponseXmlExample:
      description: An example of a service unavailable response in XML format
      value: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RealmResponse>
           <ResponseStatus>
              <Description>Service is Unavailable</Description>
           </ResponseStatus>
        </RealmResponse>
    retrieveRealmServiceUnavailableErrorResponseJsonExample:
      description: An example of a service unavailable response in JSON format
      value:
        description: Service is Unavailable
    deleteRealmBadRequestErrorResponseXmlExample:
      description: An example of a bad request response in XML format
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <RealmResponse>
           <ResponseStatus>
              <ErrorCode>33006</ErrorCode>
              <Description>Cannot delete default Realm. Please assign a new Realm to be the default.</Description>
           </ResponseStatus>
        </RealmResponse>
    deleteRealmBadRequestErrorResponseJsonExample:
      description: An example of a bad request response in JSON format
      value:
        errorCode: 33006
        description: >-
          Cannot delete default Realm. Please assign a new Realm to be the
          default.
    deleteRealmNotFoundErrorResponseXmlExample:
      description: An example of a not found response in XML format
      value: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <RealmResponse>
           <ResponseStatus>
              <ErrorCode>33001</ErrorCode>
              <Description>Realm 'realmxyz' was not found</Description>
           </ResponseStatus>
        </RealmResponse>
    deleteRealmNotFoundErrorResponseJsonExample:
      description: An example of a not found response in JSON format
      value:
        errorCode: 33001
        description: Realm 'realmxyz' was not found
    deleteRealmServiceUnavailableErrorResponseXmlExample:
[...]
