openapi: 3.0.3
info:
  title: Voice
  version: 4.1.0
  contact:
    name: Bandwidth
    url: https://support.bandwidth.com
    email: support@bandwidth.com
  termsOfService: https://www.bandwidth.com/legal/terms-of-use-bandwidthcom-web-sites/
  description: |-
    The API Specification for Bandwidth's Programmable Voice Platform

    ## Base URL

    `https://voice.bandwidth.com/api/v2`
servers:
  - url: https://voice.bandwidth.com/api/v2
    description: Production
paths:
  /accounts/{accountId}/calls:
    post:
      tags:
        - Calls
      summary: Create Call
      description: >-
        Creates an outbound phone call.


        All calls are initially queued. Your outbound calls will initiated at a
        specific dequeueing rate, enabling your application to "fire and forget"
        when creating calls. Queued calls may not be modified until they are
        dequeued and placed, but may be removed from your queue on demand.


        <b>Please note:</b> Calls submitted to your queue will be placed
        approximately in order, but exact ordering is not guaranteed.
      operationId: createCall
      parameters:
        - $ref: '#/components/parameters/accountId'
      requestBody:
        $ref: '#/components/requestBodies/createCallRequest'
      responses:
        '201':
          $ref: '#/components/responses/createCallResponse'
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: |-
            curl 'https://voice.bandwidth.com/api/v2/accounts/9900000/calls' \
              -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=' \
              -H 'Content-Type: application/json' \
              -H 'Accept: application/json' \
              -d '{
                "answerUrl": "https://www.myCallbackServer.example/webhooks/answer",
                "applicationId": "1234-qwer-5679-tyui",
                "from": "+15555551212",
                "to": "+19195551234",
                "privacy": false,
                "displayName": "John Doe",
                "uui": "eyJhbGciOiJIUzI1NiJ9.WyJoaSJd.-znkjYyCkgz4djmHUPSXl9YrJ6Nix_XvmlwKGFh5ERM;encoding=jwt,aGVsbG8gd29ybGQ;encoding=base64",
                "answerMethod": "POST",
                "username": "mySecretUsername",
                "password": "mySecretPassword1!",
                "answerFallbackUrl": "https://www.myFallbackServer.example/webhooks/answer",
                "answerFallbackMethod": "POST",
                "fallbackUsername": "mySecretUsername",
                "fallbackPassword": "mySecretPassword1!",
                "disconnectUrl": "https://www.myCallbackServer.example/webhooks/disconnect",
                "disconnectMethod": "POST",
                "callTimeout": 30,
                "callbackTimeout": 15,
                "machineDetection": {
                  "mode": "async",
                  "detectionTimeout": 15,
                  "silenceTimeout": 10,
                  "speechThreshold": 10,
                  "speechEndThreshold": 5,
                  "machineSpeechEndThreshold": 5,
                  "delayResult": false,
                  "callbackUrl": "https://myServer.example/bandwidth/webhooks/machineDetectionComplete",
                  "callbackMethod": "POST",
                  "username": "mySecretUsername",
                  "password": "mySecretPassword1!",
                  "fallbackUrl": "https://myFallbackServer.example/bandwidth/webhooks/machineDetectionComplete",
                  "fallbackMethod": "POST",
                  "fallbackUsername": "mySecretUsername",
                  "fallbackPassword": "mySecretPassword1!"
                },
                "priority": 5,
                "tag": "arbitrary text here"
              }'
        - lang: C#
          source: |
            using System.Collections.Generic;
            using System.Diagnostics;
            using Bandwidth.Standard.Api;
            using Bandwidth.Standard.Client;
            using Bandwidth.Standard.Model;

            namespace Example
            {
                public class CreateCallExample
                {
                    public static void Main()
                    {
                        Configuration config = new Configuration();
                        config.BasePath = "http://localhost";
                        // Configure HTTP basic authorization: Basic
                        config.Username = "YOUR_USERNAME";
                        config.Password = "YOUR_PASSWORD";

                        var apiInstance = new CallsApi(config);
                        var accountId = 9900000;  // string | Your Bandwidth Account ID.
                        var createCall = new CreateCall(); // CreateCall | JSON object containing information to create an outbound call

                        try
                        {
                            // Create Call
                            CreateCallResponse result = apiInstance.CreateCall(accountId, createCall);
                            Debug.WriteLine(result);
                        }
                        catch (ApiException  e)
                        {
                            Debug.Print("Exception when calling CallsApi.CreateCall: " + e.Message);
                            Debug.Print("Status Code: " + e.ErrorCode);
                            Debug.Print(e.StackTrace);
                        }
                    }
                }
            }
        - lang: Java
          source: |
            // Import classes:
            import com.bandwidth.sdk.ApiClient;
            import com.bandwidth.sdk.ApiException;
            import com.bandwidth.sdk.Configuration;
            import com.bandwidth.sdk.auth.*;
            import com.bandwidth.sdk.models.*;
            import com.bandwidth.sdk.api.CallsApi;

            public class Example {
              public static void main(String[] args) {
                ApiClient defaultClient = Configuration.getDefaultApiClient();
                defaultClient.setBasePath("http://localhost");
                
                // Configure HTTP basic authorization: Basic
                HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication("Basic");
                Basic.setUsername("YOUR USERNAME");
                Basic.setPassword("YOUR PASSWORD");

                CallsApi apiInstance = new CallsApi(defaultClient);
                String accountId = "9900000"; // String | Your Bandwidth Account ID.
                CreateCall createCall = new CreateCall(); // CreateCall | JSON object containing information to create an outbound call
                try {
                  CreateCallResponse result = apiInstance.createCall(accountId, createCall);
                  System.out.println(result);
                } catch (ApiException e) {
                  System.err.println("Exception when calling CallsApi#createCall");
                  System.err.println("Status code: " + e.getCode());
                  System.err.println("Reason: " + e.getResponseBody());
                  System.err.println("Response headers: " + e.getResponseHeaders());
                  e.printStackTrace();
                }
              }
            }
        - lang: PHP
          source: |
            <?php
              
            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";
            1234-qwer = "1234-qwer";
            +15554443333 = "+15554443333";
            +15553334444 = "+15553334444";
            $VOICE_CALLBACK_URL = "https://sample.com";

            $config = new BandwidthLib\Configuration(
                array(
                    'voiceBasicAuthUserName' => $BW_USERNAME,
                    'voiceBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $voiceClient = $client->getVoice()->getClient();

            $body = new BandwidthLib\Voice\Models\CreateCallRequest();
            $body->from = $BW_NUMBER;
            $body->to = $USER_NUMBER;
            $body->answerUrl = $VOICE_CALLBACK_URL;
            $body->applicationId = $BW_VOICE_APPLICATION_ID;

            try {
                $response = $voiceClient->createCall($BW_ACCOUNT_ID, $body);
                print_r($response->getResult()->callId);
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            } 
        - lang: Python
          source: >
            import bandwidth

            from bandwidth.models.create_call import CreateCall

            from bandwidth.models.create_call_response import CreateCallResponse

            from bandwidth.rest import ApiException

            from pprint import pprint


            # Defining the host is optional and defaults to http://localhost

            # See configuration.py for a list of all supported configuration
            parameters.

            configuration = bandwidth.Configuration(
                host = "http://localhost"
            )


            # The client must configure the authentication and authorization
            parameters

            # in accordance with the API server security policy.

            # Examples for each auth method are provided below, use the example
            that

            # satisfies your auth use case.


            # Configure HTTP basic authorization: Basic

            configuration = bandwidth.Configuration(
                username = os.environ["USERNAME"],
                password = os.environ["PASSWORD"]
            )


            # Enter a context with an instance of the API client

            with bandwidth.ApiClient(configuration) as api_client:
                # Create an instance of the API class
                api_instance = bandwidth.CallsApi(api_client)
                account_id = '9900000' # str | Your Bandwidth Account ID.
                create_call = bandwidth.CreateCall() # CreateCall | JSON object containing information to create an outbound call

                try:
                    # Create Call
                    api_response = api_instance.create_call(account_id, create_call)
                    print("The response of CallsApi->create_call:\n")
                    pprint(api_response)
                except Exception as e:
                    print("Exception when calling CallsApi->create_call: %s\n" % e)
        - lang: Ruby
          source: >
            require 'time'

            require 'bandwidth-sdk'

            # setup authorization

            Bandwidth.configure do |config|
              # Configure HTTP basic authorization: Basic
              config.username = 'YOUR USERNAME'
              config.password = 'YOUR PASSWORD'
            end


            api_instance = Bandwidth::CallsApi.new

            account_id = '9900000' # String | Your Bandwidth Account ID.

            create_call = Bandwidth::CreateCall.new({to: '+19195551234', from:
            '+15555551212', application_id: '1234-qwer-5679-tyui', answer_url:
            'https://www.myCallbackServer.example/webhooks/answer'}) #
            CreateCall | JSON object containing information to create an
            outbound call


            begin
              # Create Call
              result = api_instance.create_call(account_id, create_call)
              p result
            rescue Bandwidth::ApiError => e
              puts "Error when calling CallsApi->create_call: #{e}"
            end
        - lang: TypeScript
          source: >
            import {
                CallsApi,
                Configuration,
                CreateCall
            } from 'bandwidth-sdk';


            const configuration = new Configuration();

            const apiInstance = new CallsApi(configuration);


            let accountId: string; //Your Bandwidth Account ID. (default to
            undefined)

            let createCall: CreateCall; //JSON object containing information to
            create an outbound call


            const { status, data } = await apiInstance.createCall(
                accountId,
                createCall
            );
    get:
      tags:
        - Calls
      summary: Get Calls
      description: >-
        Returns a max of 10000 calls, sorted by `createdTime` from oldest to
        newest.


        **NOTE:** If the number of calls in the account is bigger than
        `pageSize`, a `Link` header (with format `<{url}>; rel="next"`) will be
        returned in the response. The url can be used to retrieve the next page
        of call records.

        Also, call information is kept for 7 days after the calls are hung up.
        If you attempt to retrieve information for a call that is older than 7
        days, you will get an empty array [] in response.
      operationId: listCalls
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/to'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/minStartTimeCalls'
        - $ref: '#/components/parameters/maxStartTimeCalls'
        - $ref: '#/components/parameters/disconnectCause'
        - $ref: '#/components/parameters/pageSizeCalls'
        - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          $ref: '#/components/responses/listCallsResponse'
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl
            'https://voice.bandwidth.com/api/v2/accounts/9900000/calls?to=%2b19195551234&from=%2b19195554321&minStartTime=2022-06-21T19%3A13%3A21Z&maxStartTime=2022-06-21T19%3A13%3A21Z&disconnectCause=hangup&pageSize=500&pageToken=eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9'
            \
              -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=' \
              -H 'Accept: application/json'
        - lang: C#
          source: |
            using System.Collections.Generic;
            using System.Diagnostics;
            using Bandwidth.Standard.Api;
            using Bandwidth.Standard.Client;
            using Bandwidth.Standard.Model;

            namespace Example
            {
                public class ListCallsExample
                {
                    public static void Main()
                    {
                        Configuration config = new Configuration();
                        config.BasePath = "http://localhost";
                        // Configure HTTP basic authorization: Basic
                        config.Username = "YOUR_USERNAME";
                        config.Password = "YOUR_PASSWORD";

                        var apiInstance = new CallsApi(config);
                        var accountId = 9900000;  // string | Your Bandwidth Account ID.
                        var to = %2b19195551234;  // string | Filter results by the `to` field. (optional) 
                        var from = %2b19195554321;  // string | Filter results by the `from` field. (optional) 
                        var minStartTime = 2022-06-21T19:13:21Z;  // string | Filter results to calls which have a `startTime` after or including `minStartTime` (in ISO8601 format). (optional) 
                        var maxStartTime = 2022-06-21T19:13:21Z;  // string | Filter results to calls which have a `startTime` before or including `maxStartTime` (in ISO8601 format). (optional) 
                        var disconnectCause = hangup;  // string | Filter results to calls with specified call Disconnect Cause. (optional) 
                        var pageSize = 500;  // int? | Specifies the max number of calls that will be returned. (optional)  (default to 1000)
                        var pageToken = eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9;  // string | Not intended for explicit use. To use pagination, follow the links in the `Link` header of the response, as indicated in the endpoint description. (optional) 

                        try
                        {
                            // Get Calls
                            List<CallState> result = apiInstance.ListCalls(accountId, to, from, minStartTime, maxStartTime, disconnectCause, pageSize, pageToken);
                            Debug.WriteLine(result);
                        }
                        catch (ApiException  e)
                        {
                            Debug.Print("Exception when calling CallsApi.ListCalls: " + e.Message);
                            Debug.Print("Status Code: " + e.ErrorCode);
                            Debug.Print(e.StackTrace);
                        }
                    }
                }
            }
        - lang: Java
          source: |
            // Import classes:
            import com.bandwidth.sdk.ApiClient;
            import com.bandwidth.sdk.ApiException;
            import com.bandwidth.sdk.Configuration;
            import com.bandwidth.sdk.auth.*;
            import com.bandwidth.sdk.models.*;
            import com.bandwidth.sdk.api.CallsApi;

            public class Example {
              public static void main(String[] args) {
                ApiClient defaultClient = Configuration.getDefaultApiClient();
                defaultClient.setBasePath("http://localhost");
                
                // Configure HTTP basic authorization: Basic
                HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication("Basic");
                Basic.setUsername("YOUR USERNAME");
                Basic.setPassword("YOUR PASSWORD");

                CallsApi apiInstance = new CallsApi(defaultClient);
                String accountId = "9900000"; // String | Your Bandwidth Account ID.
                String to = "%2b19195551234"; // String | Filter results by the `to` field.
                String from = "%2b19195554321"; // String | Filter results by the `from` field.
                String minStartTime = "2022-06-21T19:13:21Z"; // String | Filter results to calls which have a `startTime` after or including `minStartTime` (in ISO8601 format).
                String maxStartTime = "2022-06-21T19:13:21Z"; // String | Filter results to calls which have a `startTime` before or including `maxStartTime` (in ISO8601 format).
                String disconnectCause = "hangup"; // String | Filter results to calls with specified call Disconnect Cause.
                Integer pageSize = 1000; // Integer | Specifies the max number of calls that will be returned.
                String pageToken = "eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9"; // String | Not intended for explicit use. To use pagination, follow the links in the `Link` header of the response, as indicated in the endpoint description.
                try {
                  List<CallState> result = apiInstance.listCalls(accountId, to, from, minStartTime, maxStartTime, disconnectCause, pageSize, pageToken);
                  System.out.println(result);
                } catch (ApiException e) {
                  System.err.println("Exception when calling CallsApi#listCalls");
                  System.err.println("Status code: " + e.getCode());
                  System.err.println("Reason: " + e.getResponseBody());
                  System.err.println("Response headers: " + e.getResponseHeaders());
                  e.printStackTrace();
                }
              }
            }
        - lang: Python
          source: >
            import bandwidth

            from bandwidth.models.call_state import CallState

            from bandwidth.rest import ApiException

            from pprint import pprint


            # Defining the host is optional and defaults to http://localhost

            # See configuration.py for a list of all supported configuration
            parameters.

            configuration = bandwidth.Configuration(
                host = "http://localhost"
            )


            # The client must configure the authentication and authorization
            parameters

            # in accordance with the API server security policy.

            # Examples for each auth method are provided below, use the example
            that

            # satisfies your auth use case.


            # Configure HTTP basic authorization: Basic

            configuration = bandwidth.Configuration(
                username = os.environ["USERNAME"],
                password = os.environ["PASSWORD"]
            )


            # Enter a context with an instance of the API client

            with bandwidth.ApiClient(configuration) as api_client:
                # Create an instance of the API class
                api_instance = bandwidth.CallsApi(api_client)
                account_id = '9900000' # str | Your Bandwidth Account ID.
                to = '%2b19195551234' # str | Filter results by the `to` field. (optional)
                var_from = '%2b19195554321' # str | Filter results by the `from` field. (optional)
                min_start_time = '2022-06-21T19:13:21Z' # str | Filter results to calls which have a `startTime` after or including `minStartTime` (in ISO8601 format). (optional)
                max_start_time = '2022-06-21T19:13:21Z' # str | Filter results to calls which have a `startTime` before or including `maxStartTime` (in ISO8601 format). (optional)
                disconnect_cause = 'hangup' # str | Filter results to calls with specified call Disconnect Cause. (optional)
                page_size = 1000 # int | Specifies the max number of calls that will be returned. (optional) (default to 1000)
                page_token = 'eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9' # str | Not intended for explicit use. To use pagination, follow the links in the `Link` header of the response, as indicated in the endpoint description. (optional)

                try:
                    # Get Calls
                    api_response = api_instance.list_calls(account_id, to=to, var_from=var_from, min_start_time=min_start_time, max_start_time=max_start_time, disconnect_cause=disconnect_cause, page_size=page_size, page_token=page_token)
                    print("The response of CallsApi->list_calls:\n")
                    pprint(api_response)
                except Exception as e:
                    print("Exception when calling CallsApi->list_calls: %s\n" % e)
        - lang: Ruby
          source: |
            require 'time'
            require 'bandwidth-sdk'
            # setup authorization
            Bandwidth.configure do |config|
              # Configure HTTP basic authorization: Basic
              config.username = 'YOUR USERNAME'
              config.password = 'YOUR PASSWORD'
            end

            api_instance = Bandwidth::CallsApi.new
            account_id = '9900000' # String | Your Bandwidth Account ID.
            opts = {
              to: '%2b19195551234', # String | Filter results by the `to` field.
              from: '%2b19195554321', # String | Filter results by the `from` field.
              min_start_time: '2022-06-21T19:13:21Z', # String | Filter results to calls which have a `startTime` after or including `minStartTime` (in ISO8601 format).
              max_start_time: '2022-06-21T19:13:21Z', # String | Filter results to calls which have a `startTime` before or including `maxStartTime` (in ISO8601 format).
              disconnect_cause: 'hangup', # String | Filter results to calls with specified call Disconnect Cause.
              page_size: 500, # Integer | Specifies the max number of calls that will be returned.
              page_token: 'eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9' # String | Not intended for explicit use. To use pagination, follow the links in the `Link` header of the response, as indicated in the endpoint description.
            }

            begin
              # Get Calls
              result = api_instance.list_calls(account_id, opts)
              p result
            rescue Bandwidth::ApiError => e
              puts "Error when calling CallsApi->list_calls: #{e}"
            end
        - lang: TypeScript
          source: >
            import {
                CallsApi,
                Configuration
            } from 'bandwidth-sdk';


            const configuration = new Configuration();

            const apiInstance = new CallsApi(configuration);


            let accountId: string; //Your Bandwidth Account ID. (default to
            undefined)

            let to: string; //Filter results by the `to` field. (optional)
            (default to undefined)

            let from: string; //Filter results by the `from` field. (optional)
            (default to undefined)

            let minStartTime: string; //Filter results to calls which have a
            `startTime` after or including `minStartTime` (in ISO8601 format).
            (optional) (default to undefined)

            let maxStartTime: string; //Filter results to calls which have a
            `startTime` before or including `maxStartTime` (in ISO8601 format).
            (optional) (default to undefined)

            let disconnectCause: string; //Filter results to calls with
            specified call Disconnect Cause. (optional) (default to undefined)

            let pageSize: number; //Specifies the max number of calls that will
            be returned. (optional) (default to 1000)

            let pageToken: string; //Not intended for explicit use. To use
            pagination, follow the links in the `Link` header of the response,
            as indicated in the endpoint description. (optional) (default to
            undefined)


            const { status, data } = await apiInstance.listCalls(
                accountId,
                to,
                from,
                minStartTime,
                maxStartTime,
                disconnectCause,
                pageSize,
                pageToken
            );
  /accounts/{accountId}/calls/{callId}:
    get:
      tags:
        - Calls
      summary: Get Call State Information
      description: >-
        Retrieve the current state of a specific call. This information is
        near-realtime, so it may take a few minutes for your call to be
        accessible using this endpoint.


        **Note**: Call information is kept for 7 days after the calls are hung
        up. If you attempt to retrieve information for a call that is older than
        7 days, you will get an HTTP 404 response.
      operationId: getCallState
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/callId'
      responses:
        '200':
          $ref: '#/components/responses/getCallStateResponse'
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl
            'https://voice.bandwidth.com/api/v2/accounts/9900000/calls/c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85'
            \
              -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=' \
              -H 'Accept: application/json'
        - lang: C#
          source: |
            using System.Collections.Generic;
            using System.Diagnostics;
            using Bandwidth.Standard.Api;
            using Bandwidth.Standard.Client;
            using Bandwidth.Standard.Model;

            namespace Example
            {
                public class GetCallStateExample
                {
                    public static void Main()
                    {
                        Configuration config = new Configuration();
                        config.BasePath = "http://localhost";
                        // Configure HTTP basic authorization: Basic
                        config.Username = "YOUR_USERNAME";
                        config.Password = "YOUR_PASSWORD";

                        var apiInstance = new CallsApi(config);
                        var accountId = 9900000;  // string | Your Bandwidth Account ID.
                        var callId = c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85;  // string | Programmable Voice API Call ID.

                        try
                        {
                            // Get Call State Information
                            CallState result = apiInstance.GetCallState(accountId, callId);
                            Debug.WriteLine(result);
                        }
                        catch (ApiException  e)
                        {
                            Debug.Print("Exception when calling CallsApi.GetCallState: " + e.Message);
                            Debug.Print("Status Code: " + e.ErrorCode);
                            Debug.Print(e.StackTrace);
                        }
                    }
                }
            }
        - lang: Java
          source: |
            // Import classes:
            import com.bandwidth.sdk.ApiClient;
            import com.bandwidth.sdk.ApiException;
            import com.bandwidth.sdk.Configuration;
            import com.bandwidth.sdk.auth.*;
            import com.bandwidth.sdk.models.*;
            import com.bandwidth.sdk.api.CallsApi;

            public class Example {
              public static void main(String[] args) {
                ApiClient defaultClient = Configuration.getDefaultApiClient();
                defaultClient.setBasePath("http://localhost");
                
                // Configure HTTP basic authorization: Basic
                HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication("Basic");
                Basic.setUsername("YOUR USERNAME");
                Basic.setPassword("YOUR PASSWORD");

                CallsApi apiInstance = new CallsApi(defaultClient);
                String accountId = "9900000"; // String | Your Bandwidth Account ID.
                String callId = "c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85"; // String | Programmable Voice API Call ID.
                try {
                  CallState result = apiInstance.getCallState(accountId, callId);
                  System.out.println(result);
                } catch (ApiException e) {
                  System.err.println("Exception when calling CallsApi#getCallState");
                  System.err.println("Status code: " + e.getCode());
                  System.err.println("Reason: " + e.getResponseBody());
                  System.err.println("Response headers: " + e.getResponseHeaders());
                  e.printStackTrace();
                }
              }
            }
        - lang: PHP
          source: |
            <?php

            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";

            $config = new BandwidthLib\Configuration(
                array(
                    'voiceBasicAuthUserName' => $BW_USERNAME,
                    'voiceBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $voiceClient = $client->getVoice()->getClient();

            $callId = "c-1234";

            try {
                $response = $voiceClient->getCall($BW_ACCOUNT_ID, $callId);
                print_r($response->getResult()->state);
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            }
        - lang: Python
          source: >
            import bandwidth

            from bandwidth.models.call_state import CallState

            from bandwidth.rest import ApiException

            from pprint import pprint


            # Defining the host is optional and defaults to http://localhost

            # See configuration.py for a list of all supported configuration
            parameters.

            configuration = bandwidth.Configuration(
                host = "http://localhost"
            )


            # The client must configure the authentication and authorization
            parameters

            # in accordance with the API server security policy.

            # Examples for each auth method are provided below, use the example
            that

            # satisfies your auth use case.


            # Configure HTTP basic authorization: Basic

            configuration = bandwidth.Configuration(
                username = os.environ["USERNAME"],
                password = os.environ["PASSWORD"]
            )


            # Enter a context with an instance of the API client

            with bandwidth.ApiClient(configuration) as api_client:
                # Create an instance of the API class
                api_instance = bandwidth.CallsApi(api_client)
                account_id = '9900000' # str | Your Bandwidth Account ID.
                call_id = 'c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85' # str | Programmable Voice API Call ID.

                try:
                    # Get Call State Information
                    api_response = api_instance.get_call_state(account_id, call_id)
                    print("The response of CallsApi->get_call_state:\n")
                    pprint(api_response)
                except Exception as e:
                    print("Exception when calling CallsApi->get_call_state: %s\n" % e)
        - lang: Ruby
          source: >
            require 'time'

            require 'bandwidth-sdk'

            # setup authorization

            Bandwidth.configure do |config|
              # Configure HTTP basic authorization: Basic
              config.username = 'YOUR USERNAME'
              config.password = 'YOUR PASSWORD'
            end


            api_instance = Bandwidth::CallsApi.new

            account_id = '9900000' # String | Your Bandwidth Account ID.

            call_id = 'c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85' # String
            | Programmable Voice API Call ID.


            begin
              # Get Call State Information
              result = api_instance.get_call_state(account_id, call_id)
              p result
            rescue Bandwidth::ApiError => e
              puts "Error when calling CallsApi->get_call_state: #{e}"
            end
        - lang: TypeScript
          source: >
            import {
                CallsApi,
                Configuration
            } from 'bandwidth-sdk';


            const configuration = new Configuration();

            const apiInstance = new CallsApi(configuration);


            let accountId: string; //Your Bandwidth Account ID. (default to
            undefined)

            let callId: string; //Programmable Voice API Call ID. (default to
            undefined)


            const { status, data } = await apiInstance.getCallState(
                accountId,
                callId
            );
    post:
      tags:
        - Calls
      summary: Update Call
      description: >-
        Interrupts and redirects a call to a different URL that should return a
        BXML document.
      operationId: updateCall
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/callId'
      requestBody:
        $ref: '#/components/requestBodies/updateCallRequest'
      responses:
        '200':
          $ref: '#/components/responses/updateCallResponse'
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '409':
          $ref: '#/components/responses/voiceConflictError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl
            'https://voice.bandwidth.com/api/v2/accounts/9900000/calls/c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85'
            \
              -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=' \
              -H 'Content-Type: application/json' \
              -H 'Accept: application/json' \
              -d '{
                "state": "completed",
                "redirectUrl": "https://myServer.example/bandwidth/webhooks/redirect",
                "redirectMethod": "POST",
                "username": "mySecretUsername",
                "password": "mySecretPassword1!",
                "redirectFallbackUrl": "https://myFallbackServer.example/bandwidth/webhooks/redirect",
                "redirectFallbackMethod": "POST",
                "fallbackUsername": "mySecretUsername",
                "fallbackPassword": "mySecretPassword1!",
                "tag": "My Custom Tag"
              }'
        - lang: C#
          source: |
            using System.Collections.Generic;
            using System.Diagnostics;
            using Bandwidth.Standard.Api;
            using Bandwidth.Standard.Client;
            using Bandwidth.Standard.Model;

            namespace Example
            {
                public class UpdateCallExample
                {
                    public static void Main()
                    {
                        Configuration config = new Configuration();
                        config.BasePath = "http://localhost";
                        // Configure HTTP basic authorization: Basic
                        config.Username = "YOUR_USERNAME";
                        config.Password = "YOUR_PASSWORD";

                        var apiInstance = new CallsApi(config);
                        var accountId = 9900000;  // string | Your Bandwidth Account ID.
                        var callId = c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85;  // string | Programmable Voice API Call ID.
                        var updateCall = new UpdateCall(); // UpdateCall | JSON object containing information to redirect an existing call to a new BXML document

                        try
                        {
                            // Update Call
                            apiInstance.UpdateCall(accountId, callId, updateCall);
                        }
                        catch (ApiException  e)
                        {
                            Debug.Print("Exception when calling CallsApi.UpdateCall: " + e.Message);
                            Debug.Print("Status Code: " + e.ErrorCode);
                            Debug.Print(e.StackTrace);
                        }
                    }
                }
            }
        - lang: Java
          source: |
            // Import classes:
            import com.bandwidth.sdk.ApiClient;
            import com.bandwidth.sdk.ApiException;
            import com.bandwidth.sdk.Configuration;
            import com.bandwidth.sdk.auth.*;
            import com.bandwidth.sdk.models.*;
            import com.bandwidth.sdk.api.CallsApi;

            public class Example {
              public static void main(String[] args) {
                ApiClient defaultClient = Configuration.getDefaultApiClient();
                defaultClient.setBasePath("http://localhost");
                
                // Configure HTTP basic authorization: Basic
                HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication("Basic");
                Basic.setUsername("YOUR USERNAME");
                Basic.setPassword("YOUR PASSWORD");

                CallsApi apiInstance = new CallsApi(defaultClient);
                String accountId = "9900000"; // String | Your Bandwidth Account ID.
                String callId = "c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85"; // String | Programmable Voice API Call ID.
                UpdateCall updateCall = new UpdateCall(); // UpdateCall | JSON object containing information to redirect an existing call to a new BXML document
                try {
                  apiInstance.updateCall(accountId, callId, updateCall);
                } catch (ApiException e) {
                  System.err.println("Exception when calling CallsApi#updateCall");
                  System.err.println("Status code: " + e.getCode());
                  System.err.println("Reason: " + e.getResponseBody());
                  System.err.println("Response headers: " + e.getResponseHeaders());
                  e.printStackTrace();
                }
              }
            }
        - lang: PHP
          source: |
            <?php

            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";

            $config = new BandwidthLib\Configuration(
                array(
                    'voiceBasicAuthUserName' => $BW_USERNAME,
                    'voiceBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $voiceClient = $client->getVoice()->getClient();

            $callId = "c-1234";

            $body = new BandwidthLib\Voice\Models\ModifyCallRequest();
            $body->redirectUrl = "http://www.myapp.com/new";
            $body->state = "active";

            try {
                $voiceClient->modifyCall($BW_ACCOUNT_ID, $callId, $body);
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            }
        - lang: Python
          source: >
            import bandwidth

            from bandwidth.models.update_call import UpdateCall

            from bandwidth.rest import ApiException

            from pprint import pprint


            # Defining the host is optional and defaults to http://localhost

            # See configuration.py for a list of all supported configuration
            parameters.

            configuration = bandwidth.Configuration(
                host = "http://localhost"
            )


            # The client must configure the authentication and authorization
            parameters

            # in accordance with the API server security policy.

            # Examples for each auth method are provided below, use the example
            that

            # satisfies your auth use case.


            # Configure HTTP basic authorization: Basic

            configuration = bandwidth.Configuration(
                username = os.environ["USERNAME"],
                password = os.environ["PASSWORD"]
            )


            # Enter a context with an instance of the API client

            with bandwidth.ApiClient(configuration) as api_client:
                # Create an instance of the API class
                api_instance = bandwidth.CallsApi(api_client)
                account_id = '9900000' # str | Your Bandwidth Account ID.
                call_id = 'c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85' # str | Programmable Voice API Call ID.
                update_call = bandwidth.UpdateCall() # UpdateCall | JSON object containing information to redirect an existing call to a new BXML document

                try:
                    # Update Call
                    api_instance.update_call(account_id, call_id, update_call)
                except Exception as e:
                    print("Exception when calling CallsApi->update_call: %s\n" % e)
        - lang: Ruby
          source: >
            require 'time'

            require 'bandwidth-sdk'

            # setup authorization

            Bandwidth.configure do |config|
              # Configure HTTP basic authorization: Basic
              config.username = 'YOUR USERNAME'
              config.password = 'YOUR PASSWORD'
            end


            api_instance = Bandwidth::CallsApi.new

            account_id = '9900000' # String | Your Bandwidth Account ID.

            call_id = 'c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85' # String
            | Programmable Voice API Call ID.

            update_call = Bandwidth::UpdateCall.new # UpdateCall | JSON object
            containing information to redirect an existing call to a new BXML
            document


            begin
              # Update Call
              api_instance.update_call(account_id, call_id, update_call)
            rescue Bandwidth::ApiError => e
              puts "Error when calling CallsApi->update_call: #{e}"
            end
        - lang: TypeScript
          source: >
            import {
                CallsApi,
                Configuration,
                UpdateCall
            } from 'bandwidth-sdk';


            const configuration = new Configuration();

            const apiInstance = new CallsApi(configuration);


            let accountId: string; //Your Bandwidth Account ID. (default to
            undefined)

            let callId: string; //Programmable Voice API Call ID. (default to
            undefined)

            let updateCall: UpdateCall; //JSON object containing information to
            redirect an existing call to a new BXML document


            const { status, data } = await apiInstance.updateCall(
                accountId,
                callId,
                updateCall
            );
  /accounts/{accountId}/calls/{callId}/bxml:
    put:
      tags:
        - Calls
      summary: Update Call BXML
      description: Interrupts and replaces an active call's BXML document.
      operationId: updateCallBxml
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/callId'
      requestBody:
        $ref: '#/components/requestBodies/updateCallBxmlRequest'
      responses:
        '204':
          description: Call BXML was successfully replaced.
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '409':
          $ref: '#/components/responses/voiceConflictError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl -X PUT
            'https://voice.bandwidth.com/api/v2/accounts/9900000/calls/c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85/bxml'
            \
              -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=' \
              -H 'Content-Type: application/xml' \
              -H 'Accept: application/json' \
              -d '<?xml version="1.0" encoding="UTF-8"?>
              <element><?xml version=\"1.0\" encoding=\"UTF-8\"?>
              <Bxml>
                <SpeakSentence>This is a test sentence.</SpeakSentence>
              </Bxml></element>'
        - lang: C#
          source: |
            using System.Collections.Generic;
            using System.Diagnostics;
            using Bandwidth.Standard.Api;
            using Bandwidth.Standard.Client;
            using Bandwidth.Standard.Model;

            namespace Example
            {
                public class UpdateCallBxmlExample
                {
                    public static void Main()
                    {
                        Configuration config = new Configuration();
                        config.BasePath = "http://localhost";
                        // Configure HTTP basic authorization: Basic
                        config.Username = "YOUR_USERNAME";
                        config.Password = "YOUR_PASSWORD";

                        var apiInstance = new CallsApi(config);
                        var accountId = 9900000;  // string | Your Bandwidth Account ID.
                        var callId = c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85;  // string | Programmable Voice API Call ID.
                        var body = <?xml version=\"1.0\" encoding=\"UTF-8\"?>
            <Bxml>
              <SpeakSentence>This is a test sentence.</SpeakSentence>
            </Bxml>;  // string | 

                        try
                        {
                            // Update Call BXML
                            apiInstance.UpdateCallBxml(accountId, callId, body);
                        }
                        catch (ApiException  e)
                        {
                            Debug.Print("Exception when calling CallsApi.UpdateCallBxml: " + e.Message);
                            Debug.Print("Status Code: " + e.ErrorCode);
                            Debug.Print(e.StackTrace);
                        }
                    }
                }
            }
        - lang: Java
          source: |
            // Import classes:
            import com.bandwidth.sdk.ApiClient;
            import com.bandwidth.sdk.ApiException;
            import com.bandwidth.sdk.Configuration;
            import com.bandwidth.sdk.auth.*;
            import com.bandwidth.sdk.models.*;
            import com.bandwidth.sdk.api.CallsApi;

            public class Example {
              public static void main(String[] args) {
                ApiClient defaultClient = Configuration.getDefaultApiClient();
                defaultClient.setBasePath("http://localhost");
                
                // Configure HTTP basic authorization: Basic
                HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication("Basic");
                Basic.setUsername("YOUR USERNAME");
                Basic.setPassword("YOUR PASSWORD");

                CallsApi apiInstance = new CallsApi(defaultClient);
                String accountId = "9900000"; // String | Your Bandwidth Account ID.
                String callId = "c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85"; // String | Programmable Voice API Call ID.
                String body = <?xml version=\"1.0\" encoding=\"UTF-8\"?>
            <Bxml>
              <SpeakSentence>This is a test sentence.</SpeakSentence>
            </Bxml>; // String | 
                try {
                  apiInstance.updateCallBxml(accountId, callId, body);
                } catch (ApiException e) {
                  System.err.println("Exception when calling CallsApi#updateCallBxml");
                  System.err.println("Status code: " + e.getCode());
                  System.err.println("Reason: " + e.getResponseBody());
                  System.err.println("Response headers: " + e.getResponseHeaders());
                  e.printStackTrace();
                }
              }
            }
        - lang: Python
          source: >
            import bandwidth

            from bandwidth.rest import ApiException

            from pprint import pprint


            # Defining the host is optional and defaults to http://localhost

            # See configuration.py for a list of all supported configuration
            parameters.

            configuration = bandwidth.Configuration(
                host = "http://localhost"
            )


            # The client must configure the authentication and authorization
            parameters

            # in accordance with the API server security policy.

            # Examples for each auth method are provided below, use the example
            that

            # satisfies your auth use case.


            # Configure HTTP basic authorization: Basic

            configuration = bandwidth.Configuration(
                username = os.environ["USERNAME"],
                password = os.environ["PASSWORD"]
            )


            # Enter a context with an instance of the API client

            with bandwidth.ApiClient(configuration) as api_client:
                # Create an instance of the API class
                api_instance = bandwidth.CallsApi(api_client)
                account_id = '9900000' # str | Your Bandwidth Account ID.
                call_id = 'c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85' # str | Programmable Voice API Call ID.
                body = <?xml version=\"1.0\" encoding=\"UTF-8\"?>
            <Bxml>
              <SpeakSentence>This is a test sentence.</SpeakSentence>
            </Bxml> # str | 

                try:
                    # Update Call BXML
                    api_instance.update_call_bxml(account_id, call_id, body)
                except Exception as e:
                    print("Exception when calling CallsApi->update_call_bxml: %s\n" % e)
        - lang: Ruby
          source: >
            require 'time'

            require 'bandwidth-sdk'

            # setup authorization

            Bandwidth.configure do |config|
              # Configure HTTP basic authorization: Basic
              config.username = 'YOUR USERNAME'
              config.password = 'YOUR PASSWORD'
            end


            api_instance = Bandwidth::CallsApi.new

            account_id = '9900000' # String | Your Bandwidth Account ID.

            call_id = 'c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85' # String
            | Programmable Voice API Call ID.

            body = '<?xml version=\"1.0\" encoding=\"UTF-8\"?>

            <Bxml>
              <SpeakSentence>This is a test sentence.</SpeakSentence>
            </Bxml>' # String | 


            begin
              # Update Call BXML
              api_instance.update_call_bxml(account_id, call_id, body)
            rescue Bandwidth::ApiError => e
              puts "Error when calling CallsApi->update_call_bxml: #{e}"
            end
        - lang: TypeScript
          source: >
            import {
                CallsApi,
                Configuration
            } from 'bandwidth-sdk';


            const configuration = new Configuration();

            const apiInstance = new CallsApi(configuration);


            let accountId: string; //Your Bandwidth Account ID. (default to
            undefined)

            let callId: string; //Programmable Voice API Call ID. (default to
            undefined)

            let body: string; //


            const { status, data } = await apiInstance.updateCallBxml(
                accountId,
                callId,
                body
            );
  /accounts/{accountId}/conferences:
    get:
      tags:
        - Conferences
      summary: Get Conferences
      description: >-
        Returns a max of 1000 conferences, sorted by `createdTime` from oldest
        to newest.


        **NOTE:** If the number of conferences in the account is bigger than
        `pageSize`, a `Link` header (with format `<{url}>; rel="next"`) will be
        returned in the response. The url can be used to retrieve the next page
        of conference records.
      operationId: listConferences
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/minCreatedTime'
        - $ref: '#/components/parameters/maxCreatedTime'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          $ref: '#/components/responses/listConferencesResponse'
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl
            'https://voice.bandwidth.com/api/v2/accounts/9900000/conferences?name=my-custom-name&minCreatedTime=2022-06-21T19%3A13%3A21Z&maxCreatedTime=2022-06-21T19%3A13%3A21Z&pageSize=500&pageToken=eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9'
            \
              -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=' \
              -H 'Accept: application/json'
        - lang: C#
          source: |
            using System.Collections.Generic;
            using System.Diagnostics;
            using Bandwidth.Standard.Api;
            using Bandwidth.Standard.Client;
            using Bandwidth.Standard.Model;

            namespace Example
            {
                public class ListConferencesExample
                {
                    public static void Main()
                    {
                        Configuration config = new Configuration();
                        config.BasePath = "http://localhost";
                        // Configure HTTP basic authorization: Basic
                        config.Username = "YOUR_USERNAME";
                        config.Password = "YOUR_PASSWORD";

                        var apiInstance = new ConferencesApi(config);
                        var accountId = 9900000;  // string | Your Bandwidth Account ID.
                        var name = my-custom-name;  // string | Filter results by the `name` field. (optional) 
                        var minCreatedTime = 2022-06-21T19:13:21Z;  // string | Filter results to conferences which have a `createdTime` after or at `minCreatedTime` (in ISO8601 format). (optional) 
                        var maxCreatedTime = 2022-06-21T19:13:21Z;  // string | Filter results to conferences which have a `createdTime` before or at `maxCreatedTime` (in ISO8601 format). (optional) 
                        var pageSize = 500;  // int? | Specifies the max number of conferences that will be returned. (optional)  (default to 1000)
                        var pageToken = eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9;  // string | Not intended for explicit use. To use pagination, follow the links in the `Link` header of the response, as indicated in the endpoint description. (optional) 

                        try
                        {
                            // Get Conferences
                            List<Conference> result = apiInstance.ListConferences(accountId, name, minCreatedTime, maxCreatedTime, pageSize, pageToken);
                            Debug.WriteLine(result);
                        }
                        catch (ApiException  e)
                        {
                            Debug.Print("Exception when calling ConferencesApi.ListConferences: " + e.Message);
                            Debug.Print("Status Code: " + e.ErrorCode);
                            Debug.Print(e.StackTrace);
                        }
                    }
                }
            }
        - lang: Java
          source: |
            // Import classes:
            import com.bandwidth.sdk.ApiClient;
            import com.bandwidth.sdk.ApiException;
            import com.bandwidth.sdk.Configuration;
            import com.bandwidth.sdk.auth.*;
            import com.bandwidth.sdk.models.*;
            import com.bandwidth.sdk.api.ConferencesApi;

            public class Example {
              public static void main(String[] args) {
                ApiClient defaultClient = Configuration.getDefaultApiClient();
                defaultClient.setBasePath("http://localhost");
                
                // Configure HTTP basic authorization: Basic
                HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication("Basic");
                Basic.setUsername("YOUR USERNAME");
                Basic.setPassword("YOUR PASSWORD");

                ConferencesApi apiInstance = new ConferencesApi(defaultClient);
                String accountId = "9900000"; // String | Your Bandwidth Account ID.
                String name = "my-custom-name"; // String | Filter results by the `name` field.
                String minCreatedTime = "2022-06-21T19:13:21Z"; // String | Filter results to conferences which have a `createdTime` after or at `minCreatedTime` (in ISO8601 format).
                String maxCreatedTime = "2022-06-21T19:13:21Z"; // String | Filter results to conferences which have a `createdTime` before or at `maxCreatedTime` (in ISO8601 format).
                Integer pageSize = 1000; // Integer | Specifies the max number of conferences that will be returned.
                String pageToken = "eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9"; // String | Not intended for explicit use. To use pagination, follow the links in the `Link` header of the response, as indicated in the endpoint description.
                try {
                  List<Conference> result = apiInstance.listConferences(accountId, name, minCreatedTime, maxCreatedTime, pageSize, pageToken);
                  System.out.println(result);
                } catch (ApiException e) {
                  System.err.println("Exception when calling ConferencesApi#listConferences");
                  System.err.println("Status code: " + e.getCode());
                  System.err.println("Reason: " + e.getResponseBody());
                  System.err.println("Response headers: " + e.getResponseHeaders());
                  e.printStackTrace();
                }
              }
            }
        - lang: PHP
          source: |
            <?php

            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";

            $config = new BandwidthLib\Configuration(
                array(
                    'voiceBasicAuthUserName' => $BW_USERNAME,
                    'voiceBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $voiceClient = $client->getVoice()->getClient();

            try {
                $response = $voiceClient->getConferences($BW_ACCOUNT_ID);
                if (count($response->getResult()) > 0) {
                    print_r($response->getResult()[0]->id);
                }
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            }
        - lang: Python
          source: >
            import bandwidth

            from bandwidth.models.conference import Conference

            from bandwidth.rest import ApiException

            from pprint import pprint


            # Defining the host is optional and defaults to http://localhost

            # See configuration.py for a list of all supported configuration
            parameters.

            configuration = bandwidth.Configuration(
                host = "http://localhost"
            )


            # The client must configure the authentication and authorization
            parameters

            # in accordance with the API server security policy.

            # Examples for each auth method are provided below, use the example
            that

            # satisfies your auth use case.


            # Configure HTTP basic authorization: Basic

            configuration = bandwidth.Configuration(
                username = os.environ["USERNAME"],
                password = os.environ["PASSWORD"]
            )


            # Enter a context with an instance of the API client

            with bandwidth.ApiClient(configuration) as api_client:
                # Create an instance of the API class
                api_instance = bandwidth.ConferencesApi(api_client)
                account_id = '9900000' # str | Your Bandwidth Account ID.
                name = 'my-custom-name' # str | Filter results by the `name` field. (optional)
                min_created_time = '2022-06-21T19:13:21Z' # str | Filter results to conferences which have a `createdTime` after or at `minCreatedTime` (in ISO8601 format). (optional)
                max_created_time = '2022-06-21T19:13:21Z' # str | Filter results to conferences which have a `createdTime` before or at `maxCreatedTime` (in ISO8601 format). (optional)
                page_size = 1000 # int | Specifies the max number of conferences that will be returned. (optional) (default to 1000)
                page_token = 'eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9' # str | Not intended for explicit use. To use pagination, follow the links in the `Link` header of the response, as indicated in the endpoint description. (optional)

                try:
                    # Get Conferences
                    api_response = api_instance.list_conferences(account_id, name=name, min_created_time=min_created_time, max_created_time=max_created_time, page_size=page_size, page_token=page_token)
                    print("The response of ConferencesApi->list_conferences:\n")
                    pprint(api_response)
                except Exception as e:
                    print("Exception when calling ConferencesApi->list_conferences: %s\n" % e)
        - lang: Ruby
          source: |
            require 'time'
            require 'bandwidth-sdk'
            # setup authorization
            Bandwidth.configure do |config|
              # Configure HTTP basic authorization: Basic
              config.username = 'YOUR USERNAME'
              config.password = 'YOUR PASSWORD'
            end

            api_instance = Bandwidth::ConferencesApi.new
            account_id = '9900000' # String | Your Bandwidth Account ID.
            opts = {
              name: 'my-custom-name', # String | Filter results by the `name` field.
              min_created_time: '2022-06-21T19:13:21Z', # String | Filter results to conferences which have a `createdTime` after or at `minCreatedTime` (in ISO8601 format).
              max_created_time: '2022-06-21T19:13:21Z', # String | Filter results to conferences which have a `createdTime` before or at `maxCreatedTime` (in ISO8601 format).
              page_size: 500, # Integer | Specifies the max number of conferences that will be returned.
              page_token: 'eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9' # String | Not intended for explicit use. To use pagination, follow the links in the `Link` header of the response, as indicated in the endpoint description.
            }

            begin
              # Get Conferences
              result = api_instance.list_conferences(account_id, opts)
              p result
            rescue Bandwidth::ApiError => e
              puts "Error when calling ConferencesApi->list_conferences: #{e}"
            end
        - lang: TypeScript
          source: >
            import {
                ConferencesApi,
                Configuration
            } from 'bandwidth-sdk';


            const configuration = new Configuration();

            const apiInstance = new ConferencesApi(configuration);


            let accountId: string; //Your Bandwidth Account ID. (default to
            undefined)

            let name: string; //Filter results by the `name` field. (optional)
            (default to undefined)

            let minCreatedTime: string; //Filter results to conferences which
            have a `createdTime` after or at `minCreatedTime` (in ISO8601
            format). (optional) (default to undefined)

            let maxCreatedTime: string; //Filter results to conferences which
            have a `createdTime` before or at `maxCreatedTime` (in ISO8601
            format). (optional) (default to undefined)

            let pageSize: number; //Specifies the max number of conferences that
            will be returned. (optional) (default to 1000)

            let pageToken: string; //Not intended for explicit use. To use
            pagination, follow the links in the `Link` header of the response,
            as indicated in the endpoint description. (optional) (default to
            undefined)


            const { status, data } = await apiInstance.listConferences(
                accountId,
                name,
                minCreatedTime,
                maxCreatedTime,
                pageSize,
                pageToken
            );
  /accounts/{accountId}/conferences/{conferenceId}:
    get:
      tags:
        - Conferences
      summary: Get Conference Information
      description: Returns information about the specified conference.
      operationId: getConference
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/conferenceId'
      responses:
        '200':
          $ref: '#/components/responses/getConferenceResponse'
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl
            'https://voice.bandwidth.com/api/v2/accounts/9900000/conferences/conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9'
            \
              -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=' \
              -H 'Accept: application/json'
        - lang: C#
          source: |
            using System.Collections.Generic;
            using System.Diagnostics;
            using Bandwidth.Standard.Api;
            using Bandwidth.Standard.Client;
            using Bandwidth.Standard.Model;

            namespace Example
            {
                public class GetConferenceExample
                {
                    public static void Main()
                    {
                        Configuration config = new Configuration();
                        config.BasePath = "http://localhost";
                        // Configure HTTP basic authorization: Basic
                        config.Username = "YOUR_USERNAME";
                        config.Password = "YOUR_PASSWORD";

                        var apiInstance = new ConferencesApi(config);
                        var accountId = 9900000;  // string | Your Bandwidth Account ID.
                        var conferenceId = conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9;  // string | Programmable Voice API Conference ID.

                        try
                        {
                            // Get Conference Information
                            Conference result = apiInstance.GetConference(accountId, conferenceId);
                            Debug.WriteLine(result);
                        }
                        catch (ApiException  e)
                        {
                            Debug.Print("Exception when calling ConferencesApi.GetConference: " + e.Message);
                            Debug.Print("Status Code: " + e.ErrorCode);
                            Debug.Print(e.StackTrace);
                        }
                    }
                }
            }
        - lang: Java
          source: |
            // Import classes:
            import com.bandwidth.sdk.ApiClient;
            import com.bandwidth.sdk.ApiException;
            import com.bandwidth.sdk.Configuration;
            import com.bandwidth.sdk.auth.*;
            import com.bandwidth.sdk.models.*;
            import com.bandwidth.sdk.api.ConferencesApi;

            public class Example {
              public static void main(String[] args) {
                ApiClient defaultClient = Configuration.getDefaultApiClient();
                defaultClient.setBasePath("http://localhost");
                
                // Configure HTTP basic authorization: Basic
                HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication("Basic");
                Basic.setUsername("YOUR USERNAME");
                Basic.setPassword("YOUR PASSWORD");

                ConferencesApi apiInstance = new ConferencesApi(defaultClient);
                String accountId = "9900000"; // String | Your Bandwidth Account ID.
                String conferenceId = "conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9"; // String | Programmable Voice API Conference ID.
                try {
                  Conference result = apiInstance.getConference(accountId, conferenceId);
                  System.out.println(result);
                } catch (ApiException e) {
                  System.err.println("Exception when calling ConferencesApi#getConference");
                  System.err.println("Status code: " + e.getCode());
                  System.err.println("Reason: " + e.getResponseBody());
                  System.err.println("Response headers: " + e.getResponseHeaders());
                  e.printStackTrace();
                }
              }
            }
        - lang: PHP
          source: |
            <?php

            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";

            $config = new BandwidthLib\Configuration(
                array(
                    'voiceBasicAuthUserName' => $BW_USERNAME,
                    'voiceBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $voiceClient = $client->getVoice()->getClient();

            $conferenceId = "conf-1234";

            try {
                $response = $voiceClient->getConference($BW_ACCOUNT_ID, $conferenceId);
                print_r($response->getResult()->name);
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            }
        - lang: Python
          source: >
            import bandwidth

            from bandwidth.models.conference import Conference

            from bandwidth.rest import ApiException

            from pprint import pprint


            # Defining the host is optional and defaults to http://localhost

            # See configuration.py for a list of all supported configuration
            parameters.

            configuration = bandwidth.Configuration(
                host = "http://localhost"
            )


            # The client must configure the authentication and authorization
            parameters

            # in accordance with the API server security policy.

            # Examples for each auth method are provided below, use the example
            that

            # satisfies your auth use case.


            # Configure HTTP basic authorization: Basic

            configuration = bandwidth.Configuration(
                username = os.environ["USERNAME"],
                password = os.environ["PASSWORD"]
            )


            # Enter a context with an instance of the API client

            with bandwidth.ApiClient(configuration) as api_client:
                # Create an instance of the API class
                api_instance = bandwidth.ConferencesApi(api_client)
                account_id = '9900000' # str | Your Bandwidth Account ID.
                conference_id = 'conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9' # str | Programmable Voice API Conference ID.

                try:
                    # Get Conference Information
                    api_response = api_instance.get_conference(account_id, conference_id)
                    print("The response of ConferencesApi->get_conference:\n")
                    pprint(api_response)
                except Exception as e:
                    print("Exception when calling ConferencesApi->get_conference: %s\n" % e)
        - lang: Ruby
          source: >
            require 'time'

            require 'bandwidth-sdk'

            # setup authorization

            Bandwidth.configure do |config|
              # Configure HTTP basic authorization: Basic
              config.username = 'YOUR USERNAME'
              config.password = 'YOUR PASSWORD'
            end


            api_instance = Bandwidth::ConferencesApi.new

            account_id = '9900000' # String | Your Bandwidth Account ID.

            conference_id = 'conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9'
            # String | Programmable Voice API Conference ID.


            begin
              # Get Conference Information
              result = api_instance.get_conference(account_id, conference_id)
              p result
            rescue Bandwidth::ApiError => e
              puts "Error when calling ConferencesApi->get_conference: #{e}"
            end
        - lang: TypeScript
          source: >
            import {
                ConferencesApi,
                Configuration
            } from 'bandwidth-sdk';


            const configuration = new Configuration();

            const apiInstance = new ConferencesApi(configuration);


            let accountId: string; //Your Bandwidth Account ID. (default to
            undefined)

            let conferenceId: string; //Programmable Voice API Conference ID.
            (default to undefined)


            const { status, data } = await apiInstance.getConference(
                accountId,
                conferenceId
            );
    post:
      tags:
        - Conferences
      summary: Update Conference
      description: Update the conference state.
      operationId: updateConference
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/conferenceId'
      requestBody:
        $ref: '#/components/requestBodies/updateConferenceRequest'
      responses:
        '204':
          description: Conference was successfully modified.
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl
            'https://voice.bandwidth.com/api/v2/accounts/9900000/conferences/conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9'
            \
              -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=' \
              -H 'Content-Type: application/json' \
              -H 'Accept: application/json' \
              -d '{
                "status": "completed",
                "redirectUrl": "https://myServer.example/bandwidth/webhooks/conferenceRedirect",
                "redirectMethod": "POST",
                "username": "mySecretUsername",
                "password": "mySecretPassword1!",
                "redirectFallbackUrl": "https://myFallbackServer.example/bandwidth/webhooks/conferenceRedirect",
                "redirectFallbackMethod": "POST",
                "fallbackUsername": "mySecretUsername",
                "fallbackPassword": "mySecretPassword1!"
              }'
        - lang: C#
          source: |
            using System.Collections.Generic;
            using System.Diagnostics;
            using Bandwidth.Standard.Api;
            using Bandwidth.Standard.Client;
            using Bandwidth.Standard.Model;

            namespace Example
            {
                public class UpdateConferenceExample
                {
                    public static void Main()
                    {
                        Configuration config = new Configuration();
                        config.BasePath = "http://localhost";
                        // Configure HTTP basic authorization: Basic
                        config.Username = "YOUR_USERNAME";
                        config.Password = "YOUR_PASSWORD";

                        var apiInstance = new ConferencesApi(config);
                        var accountId = 9900000;  // string | Your Bandwidth Account ID.
                        var conferenceId = conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9;  // string | Programmable Voice API Conference ID.
                        var updateConference = new UpdateConference(); // UpdateConference | 

                        try
                        {
                            // Update Conference
                            apiInstance.UpdateConference(accountId, conferenceId, updateConference);
                        }
                        catch (ApiException  e)
                        {
                            Debug.Print("Exception when calling ConferencesApi.UpdateConference: " + e.Message);
                            Debug.Print("Status Code: " + e.ErrorCode);
                            Debug.Print(e.StackTrace);
                        }
                    }
                }
            }
        - lang: Java
          source: |
            // Import classes:
            import com.bandwidth.sdk.ApiClient;
            import com.bandwidth.sdk.ApiException;
            import com.bandwidth.sdk.Configuration;
            import com.bandwidth.sdk.auth.*;
            import com.bandwidth.sdk.models.*;
            import com.bandwidth.sdk.api.ConferencesApi;

            public class Example {
              public static void main(String[] args) {
                ApiClient defaultClient = Configuration.getDefaultApiClient();
                defaultClient.setBasePath("http://localhost");
                
                // Configure HTTP basic authorization: Basic
                HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication("Basic");
                Basic.setUsername("YOUR USERNAME");
                Basic.setPassword("YOUR PASSWORD");

                ConferencesApi apiInstance = new ConferencesApi(defaultClient);
                String accountId = "9900000"; // String | Your Bandwidth Account ID.
                String conferenceId = "conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9"; // String | Programmable Voice API Conference ID.
                UpdateConference updateConference = new UpdateConference(); // UpdateConference | 
                try {
                  apiInstance.updateConference(accountId, conferenceId, updateConference);
                } catch (ApiException e) {
                  System.err.println("Exception when calling ConferencesApi#updateConference");
                  System.err.println("Status code: " + e.getCode());
                  System.err.println("Reason: " + e.getResponseBody());
                  System.err.println("Response headers: " + e.getResponseHeaders());
                  e.printStackTrace();
                }
              }
            }
        - lang: PHP
          source: |
            <?php
              
            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";

            $config = new BandwidthLib\Configuration(
                array(
                    'voiceBasicAuthUserName' => $BW_USERNAME,
                    'voiceBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $voiceClient = $client->getVoice()->getClient();

            $conferenceId = "conf-1234";

            $body = new BandwidthLib\Voice\Models\ModifyConferenceRequest();
            $body->state = "active";

            try {
                $voiceClient->modifyConference($BW_ACCOUNT_ID, $conferenceId, $body);
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            }
        - lang: Python
          source: >
            import bandwidth

            from bandwidth.models.update_conference import UpdateConference

            from bandwidth.rest import ApiException

            from pprint import pprint


            # Defining the host is optional and defaults to http://localhost

            # See configuration.py for a list of all supported configuration
            parameters.

            configuration = bandwidth.Configuration(
                host = "http://localhost"
            )


            # The client must configure the authentication and authorization
            parameters

            # in accordance with the API server security policy.

            # Examples for each auth method are provided below, use the example
            that

            # satisfies your auth use case.


            # Configure HTTP basic authorization: Basic

            configuration = bandwidth.Configuration(
                username = os.environ["USERNAME"],
                password = os.environ["PASSWORD"]
            )


            # Enter a context with an instance of the API client

            with bandwidth.ApiClient(configuration) as api_client:
                # Create an instance of the API class
                api_instance = bandwidth.ConferencesApi(api_client)
                account_id = '9900000' # str | Your Bandwidth Account ID.
                conference_id = 'conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9' # str | Programmable Voice API Conference ID.
                update_conference = bandwidth.UpdateConference() # UpdateConference | 

                try:
                    # Update Conference
                    api_instance.update_conference(account_id, conference_id, update_conference)
                except Exception as e:
                    print("Exception when calling ConferencesApi->update_conference: %s\n" % e)
        - lang: Ruby
          source: >
            require 'time'

            require 'bandwidth-sdk'

            # setup authorization

            Bandwidth.configure do |config|
              # Configure HTTP basic authorization: Basic
              config.username = 'YOUR USERNAME'
              config.password = 'YOUR PASSWORD'
            end


            api_instance = Bandwidth::ConferencesApi.new

            account_id = '9900000' # String | Your Bandwidth Account ID.

            conference_id = 'conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9'
            # String | Programmable Voice API Conference ID.

            update_conference = Bandwidth::UpdateConference.new #
            UpdateConference | 


            begin
              # Update Conference
              api_instance.update_conference(account_id, conference_id, update_conference)
            rescue Bandwidth::ApiError => e
              puts "Error when calling ConferencesApi->update_conference: #{e}"
            end
        - lang: TypeScript
          source: >
            import {
                ConferencesApi,
                Configuration,
                UpdateConference
            } from 'bandwidth-sdk';


            const configuration = new Configuration();

            const apiInstance = new ConferencesApi(configuration);


            let accountId: string; //Your Bandwidth Account ID. (default to
            undefined)

            let conferenceId: string; //Programmable Voice API Conference ID.
            (default to undefined)

            let updateConference: UpdateConference; //


            const { status, data } = await apiInstance.updateConference(
                accountId,
                conferenceId,
                updateConference
            );
  /accounts/{accountId}/conferences/{conferenceId}/bxml:
    put:
      tags:
        - Conferences
      summary: Update Conference BXML
      description: Update the conference BXML document.
      operationId: updateConferenceBxml
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/conferenceId'
      requestBody:
        $ref: '#/components/requestBodies/updateConferenceBxmlRequest'
      responses:
        '204':
          description: Conference successfully modified.
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >-
            curl -X PUT
            'https://voice.bandwidth.com/api/v2/accounts/9900000/conferences/conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9/bxml'
            \
              -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=' \
              -H 'Content-Type: application/xml' \
              -H 'Accept: application/json' \
              -d '<element><?xml version="1.0" encoding="UTF-8"?>
              <Bxml>
                  <StopRecording/>
              </Bxml></element>'
        - lang: C#
          source: |
            using System.Collections.Generic;
            using System.Diagnostics;
            using Bandwidth.Standard.Api;
            using Bandwidth.Standard.Client;
            using Bandwidth.Standard.Model;

            namespace Example
            {
                public class UpdateConferenceBxmlExample
                {
                    public static void Main()
                    {
                        Configuration config = new Configuration();
                        config.BasePath = "http://localhost";
                        // Configure HTTP basic authorization: Basic
                        config.Username = "YOUR_USERNAME";
                        config.Password = "YOUR_PASSWORD";

                        var apiInstance = new ConferencesApi(config);
                        var accountId = 9900000;  // string | Your Bandwidth Account ID.
                        var conferenceId = conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9;  // string | Programmable Voice API Conference ID.
                        var body = <?xml version="1.0" encoding="UTF-8"?>
            <Bxml>
                <StopRecording/>
            </Bxml>;  // string | 

                        try
                        {
                            // Update Conference BXML
                            apiInstance.UpdateConferenceBxml(accountId, conferenceId, body);
                        }
                        catch (ApiException  e)
                        {
                            Debug.Print("Exception when calling ConferencesApi.UpdateConferenceBxml: " + e.Message);
                            Debug.Print("Status Code: " + e.ErrorCode);
                            Debug.Print(e.StackTrace);
                        }
                    }
                }
            }
        - lang: Java
          source: |
            // Import classes:
            import com.bandwidth.sdk.ApiClient;
            import com.bandwidth.sdk.ApiException;
            import com.bandwidth.sdk.Configuration;
            import com.bandwidth.sdk.auth.*;
            import com.bandwidth.sdk.models.*;
            import com.bandwidth.sdk.api.ConferencesApi;

            public class Example {
              public static void main(String[] args) {
                ApiClient defaultClient = Configuration.getDefaultApiClient();
                defaultClient.setBasePath("http://localhost");
                
                // Configure HTTP basic authorization: Basic
                HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication("Basic");
                Basic.setUsername("YOUR USERNAME");
                Basic.setPassword("YOUR PASSWORD");

                ConferencesApi apiInstance = new ConferencesApi(defaultClient);
                String accountId = "9900000"; // String | Your Bandwidth Account ID.
                String conferenceId = "conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9"; // String | Programmable Voice API Conference ID.
                String body = <?xml version="1.0" encoding="UTF-8"?>
            <Bxml>
                <StopRecording/>
            </Bxml>; // String | 
                try {
                  apiInstance.updateConferenceBxml(accountId, conferenceId, body);
                } catch (ApiException e) {
                  System.err.println("Exception when calling ConferencesApi#updateConferenceBxml");
                  System.err.println("Status code: " + e.getCode());
                  System.err.println("Reason: " + e.getResponseBody());
                  System.err.println("Response headers: " + e.getResponseHeaders());
                  e.printStackTrace();
                }
              }
            }
        - lang: Python
          source: >
            import bandwidth

            from bandwidth.rest import ApiException

            from pprint import pprint


            # Defining the host is optional and defaults to http://localhost

            # See configuration.py for a list of all supported configuration
            parameters.

            configuration = bandwidth.Configuration(
                host = "http://localhost"
            )


            # The client must configure the authentication and authorization
            parameters

            # in accordance with the API server security policy.

            # Examples for each auth method are provided below, use the example
            that

            # satisfies your auth use case.


            # Configure HTTP basic authorization: Basic

            configuration = bandwidth.Configuration(
                username = os.environ["USERNAME"],
                password = os.environ["PASSWORD"]
            )


            # Enter a context with an instance of the API client

            with bandwidth.ApiClient(configuration) as api_client:
                # Create an instance of the API class
                api_instance = bandwidth.ConferencesApi(api_client)
                account_id = '9900000' # str | Your Bandwidth Account ID.
                conference_id = 'conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9' # str | Programmable Voice API Conference ID.
                body = <?xml version="1.0" encoding="UTF-8"?>
            <Bxml>
                <StopRecording/>
            </Bxml> # str | 

                try:
                    # Update Conference BXML
                    api_instance.update_conference_bxml(account_id, conference_id, body)
                except Exception as e:
                    print("Exception when calling ConferencesApi->update_conference_bxml: %s\n" % e)
        - lang: Ruby
          source: >
            require 'time'

            require 'bandwidth-sdk'

            # setup authorization

            Bandwidth.configure do |config|
              # Configure HTTP basic authorization: Basic
              config.username = 'YOUR USERNAME'
              config.password = 'YOUR PASSWORD'
            end


            api_instance = Bandwidth::ConferencesApi.new

            account_id = '9900000' # String | Your Bandwidth Account ID.

            conference_id = 'conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9'
            # String | Programmable Voice API Conference ID.

            body = '<?xml version="1.0" encoding="UTF-8"?>

            <Bxml>
                <StopRecording/>
            </Bxml>' # String | 


            begin
              # Update Conference BXML
              api_instance.update_conference_bxml(account_id, conference_id, body)
            rescue Bandwidth::ApiError => e
              puts "Error when calling ConferencesApi->update_conference_bxml: #{e}"
            end
        - lang: TypeScript
          source: >
            import {
                ConferencesApi,
                Configuration
            } from 'bandwidth-sdk';


            const configuration = new Configuration();

            const apiInstance = new ConferencesApi(configuration);


            let accountId: string; //Your Bandwidth Account ID. (default to
            undefined)

            let conferenceId: string; //Programmable Voice API Conference ID.
            (default to undefined)

            let body: string; //


            const { status, data } = await apiInstance.updateConferenceBxml(
                accountId,
                conferenceId,
                body
            );
  /accounts/{accountId}/conferences/{conferenceId}/members/{memberId}:
    get:
      tags:
        - Conferences
      summary: Get Conference Member
      description: Returns information about the specified conference member.
      operationId: getConferenceMember
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/conferenceId'
        - $ref: '#/components/parameters/memberId'
      responses:
        '200':
          $ref: '#/components/responses/getConferenceMemberResponse'
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
[...]
