{"openapi":"3.0.1","info":{"description":"Bandwidth\u0027s Account Management API","title":"Accounts API","version":"2.0.0","contact":{"name":"Bandwidth Support","email":"support@bandwidth.com","url":"https://support.bandwidth.com"},"termsOfService":"https://www.bandwidth.com/legal/terms-of-use-bandwidthcom-web-sites/"},"servers":[{"url":"https://api.bandwidth.com/api/v2","description":"Production"}],"paths":{"/accounts/{accountId}":{"get":{"operationId":"getAccount","summary":"Retrieve account by ID","tags":["Account"],"description":"The account is the root resource for many of the operations in the Bandwidth App.\nThe account is represented by an account ID, which is the resource that represents a Bandwidth customer, providing a root resource for all of the customer\u0027s attributes and services.\nThe API calls that are used to manage the details of a customer account, and to manage the resources that a Bandwidth customer has access to or control over, are accessed through the /accounts resource.\nThis API call retrieves information about the account indicated by the Account ID.\n\n**Addresses**: \u0060Address\u0060 and \u0060LinkedAddresses\u0060\n\n- Address \n  - The service address of the account. Historically only US and Canadian addresses supported.\n  - \u0060Address\u0060 will continue to be populated as long as the address is US/ Canada based and only one linked address exists.\n- LinkedAddresses \n  - A list of address reference IDs that are linked at the account. \n  - These addresses can be fully international.\n  - \u0060LinkedAddresses\u0060 will replace \u0060Address\u0060, however will continue to be supported for US/ Canada addresses.  \n  - A list of **one** address will be supported initially, however this will extend as more address usages are introduced.\n  - \u0060LinkedAddresses\u0060 can be created and managed through the /addresses resource. See: [Addresses](https://dev.bandwidth.com/apis/numbers-apis/end-user-management/#tag/Addresses/operation/createAddress) for more information.\n  - A link to the individual Address API is returned within this object, see \u0060Link\u0060.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/accountResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/accountNotFoundErrorResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/accountSystemErrorResponse"}}}},"/accounts/{accountId}/sites":{"post":{"tags":["Sub-Accounts (Sites)"],"description":"Add a Sub-Account (Site) to the account","summary":"Create Sub-Account","operationId":"createSubAccount","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/createSubAccountRequest"},"responses":{"201":{"$ref":"#/components/responses/subAccountCreatedResponse"},"400":{"$ref":"#/components/responses/subAccountBadRequestErrorResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"409":{"$ref":"#/components/responses/subAccountConflictErrorResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/subAccountSystemErrorResponse"}}},"get":{"tags":["Sub-Accounts (Sites)"],"description":"Retrieve a list of all Sub-Accounts (Sites) associated with the account","summary":"List Sub-Accounts","operationId":"listSubAccounts","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/phoneNumberCounts"},{"$ref":"#/components/parameters/locationDetails"},{"$ref":"#/components/parameters/summary"}],"responses":{"200":{"$ref":"#/components/responses/subAccountsResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/subAccountsSystemErrorResponse"}}}},"/accounts/{accountId}/sites/{siteId}":{"get":{"tags":["Sub-Accounts (Sites)"],"description":"Retrieves the information associated with the Sub-Account (Site) ID","summary":"Retrieve Sub-Account","operationId":"readSubAccount","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/subAccountResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/subAccountNotFoundErrorResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/subAccountSystemErrorResponse"}}},"put":{"tags":["Sub-Accounts (Sites)"],"description":"Updates the contents of Sub-Account (Site)","summary":"Update Sub-Account","operationId":"updateSubAccount","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/createSubAccountRequest"},"responses":{"200":{"$ref":"#/components/responses/subAccountResponse"},"400":{"$ref":"#/components/responses/subAccountBadRequestErrorResponsePut"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/subAccountNotFoundErrorResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/subAccountSystemErrorResponse"}}},"delete":{"tags":["Sub-Accounts (Sites)"],"description":"Deletes the Sub-Account (Site). Sub-Accounts (Sites) can only be deleted if there are no SIP Peers attached to it","summary":"Delete Sub-Account","operationId":"deleteSubAccount","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/successResponse200"},"400":{"$ref":"#/components/responses/subAccountCantBeDeletedErrorResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/subAccountNotFoundErrorResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/subAccountSystemErrorResponse"}}}},"/accounts/{accountId}/sites/{siteId}/sippeers":{"get":{"tags":["Locations (SIP Peers)"],"description":"Retrieve information about a location (SIP Peer) or set of locations on sub-account (site)","summary":"List Locations","operationId":"listLocations","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/locationsResponse"},"400":{"$ref":"#/components/responses/locationResponseBadRequestType3"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}},"post":{"tags":["Locations (SIP Peers)"],"description":"Create Location (SIP Peer).\u003Cbr\u003E\nPossible errors in response: https://dev.bandwidth.com/docs/numbers/errors/#sippeervalidationerror","summary":"Create Location","operationId":"createLocation","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/createLocationRequest"},"responses":{"201":{"$ref":"#/components/responses/locationCreatedResponse"},"400":{"$ref":"#/components/responses/locationResponseBadRequestType1"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"409":{"$ref":"#/components/responses/locationResponseConflict"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/locationResponseServiceUnavailable"}}}},"/accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}":{"get":{"tags":["Locations (SIP Peers)"],"description":"Retrieves the information associated with the location (SIP Peer) ID","summary":"Retrieve Location","operationId":"readLocation","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"},{"$ref":"#/components/parameters/locationIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/locationResponse"},"400":{"$ref":"#/components/responses/locationResponseBadRequestType3"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/locationResponseNotFound"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}},"put":{"tags":["Locations (SIP Peers)"],"description":"There are a few rules used to eliminate IP address collisions.  The primary restriction is on the ability to share Term IP addresses across the Bandwidth API structural elements. Essentially...\n\u003Cul\u003E\n  \u003Cli\u003ETerm Addresses cannot be shared anywhere\u003C/li\u003E\n  \u003Cli\u003EVoiceHost and VoiceHostGroup addresses can be shared between locations and can be different than or the same as Term IP Addresses \u003C/li\u003E\n\u003C/ul\u003E\nIf the CallingName field is missing from the payload, CNAM will default to false on the location.\u003Cbr\u003E\nPossible errors in response: https://dev.bandwidth.com/docs/numbers/errors/#sippeervalidationerror","summary":"Update Location","operationId":"updateLocation","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"},{"$ref":"#/components/parameters/locationIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/updateLocationRequest"},"responses":{"200":{"$ref":"#/components/responses/successResponse200"},"400":{"$ref":"#/components/responses/locationResponseBadRequestType1"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/locationResponseNotFound"},"409":{"$ref":"#/components/responses/locationResponseConflict"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}},"delete":{"tags":["Locations (SIP Peers)"],"description":"Delete Location (SIP Peer). \u003Cbr\u003E\nPossible errors in response:\n\u003Cul\u003E\u003Cli\u003EDelete not allowed while a Location (SIP Peer) has SMS feature\u003C/li\u003E\u003C/ul\u003E","summary":"Delete Location","operationId":"deleteLocation","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"},{"$ref":"#/components/parameters/locationIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/locationDeleteResponse"},"400":{"$ref":"#/components/responses/locationResponseBadRequestType2"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/locationResponseNotFound"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}}},"/accounts/{accountId}/totalSeats":{"get":{"tags":["Account"],"description":"Retrieves the total number of seats on account","operationId":"getAccountTotalSeats","summary":"Retrieve the total number of seats on account","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/totalSeatsResponse"},"400":{"$ref":"#/components/responses/totalSeatsBadRequestErrorResponse"}}}},"/accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/totalSeats":{"get":{"tags":["Locations (SIP Peers)"],"description":"Retrieves the total number of seats on a Location (SIP Peer)","operationId":"getLocationTotalSeats","summary":"Get Total Seats for Location","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"},{"$ref":"#/components/parameters/locationIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/sippeerTotalSeatsSuccessResponse"},"400":{"$ref":"#/components/responses/sippeerTotalSeatsBadRequestErrorResponse"}}}},"/admin/data/a2pClasses":{"get":{"tags":["Admin Data"],"description":"Retrieves A2P Classes.","operationId":"readA2pClasses","summary":"List A2pClasses","responses":{"200":{"$ref":"#/components/responses/a2pClassListResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/adminDataErrorResponse500"}}}},"/admin/data/a2pClasses/{messageClass}":{"get":{"tags":["Admin Data"],"description":"Retrieve A2P Class.","operationId":"readA2pClass","summary":"Retrieve A2P Class","parameters":[{"$ref":"#/components/parameters/messageClassPathParam"}],"responses":{"200":{"$ref":"#/components/responses/a2pClassResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/a2pClassNotFoundResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/adminDataErrorResponse500"}}}},"/accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/associatedOutboundNumbers":{"get":{"tags":["Locations (SIP Peers)"],"description":"Retrieve list of Associated Outbound Numbers associated with the Location. If none exist, an empty list is returned.","operationId":"retrieveSipPeerAssociatedOutboundNumbers","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"},{"$ref":"#/components/parameters/locationIdPathParam"},{"$ref":"#/components/parameters/paginationPageQueryParam"},{"$ref":"#/components/parameters/paginationSizeQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/associatedOutboundNumbersResponse"},"400":{"$ref":"#/components/responses/associatedOutboundNumbersResponseBadRequest"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}},"summary":"List Outbound Numbers by Location"},"post":{"tags":["Locations (SIP Peers)"],"description":"Submit a list of new Associated Outbound Numbers.","operationId":"uploadSipPeerAssociatedOutboundNumbers","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"},{"$ref":"#/components/parameters/locationIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/associatedOutboundNumbersRequest"},"responses":{"200":{"$ref":"#/components/responses/createAssociatedOutboundNumbersResponse"},"400":{"$ref":"#/components/responses/associatedOutboundNumbersResponseBadRequest"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}},"summary":"Associate Phone Numbers with a Location"}},"/accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/associatedOutboundNumbers/{associatedOutboundNumberId}":{"delete":{"tags":["Locations (SIP Peers)"],"description":"Delete Associated Outbound Number from SIP Peer.","operationId":"deleteSipPeerAssociatedOutboundNumbers","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"},{"$ref":"#/components/parameters/locationIdPathParam"},{"$ref":"#/components/parameters/associatedOutboundNumberIdParam"}],"responses":{"200":{"$ref":"#/components/responses/successResponse200"},"400":{"$ref":"#/components/responses/associatedOutboundNumbersResponseBadRequest"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/associatedOutboundNumbersResponseNotFound"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}},"summary":"Delete Number from Location"}},"/accounts/{accountId}/sites/{siteId}/totalSeats":{"get":{"tags":["Sub-Accounts (Sites)"],"description":"Retrieves the total number of seats on a Sub-Account (Site)","operationId":"getSubAccountTotalSeats","summary":"Retrieve count of UC trunking seats by Sub-Account (Site)","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/subAccountTotalSeatsSuccessResponse"},"400":{"$ref":"#/components/responses/subAccountTotalSeatsBadRequestErrorResponse"}}}}},"components":{"parameters":{"accountIdPathParam":{"description":"User\u0027s account ID.","example":1234567,"in":"path","name":"accountId","required":true,"schema":{"type":"string"}},"phoneNumberCounts":{"name":"phoneNumberCounts","description":"Provides response payload with total phone number count for every Sub-Account on Account if specified as true","in":"query","required":false,"schema":{"type":"boolean","default":false},"example":true},"locationDetails":{"name":"locationDetails","description":"Provides a response payload with a list of locations for every Sub-Account on Account with fields:   \n  \u003Cul\u003E\n    \u003Cli\u003ELocationId (PeerId)\u003C/li\u003E\n    \u003Cli\u003ELocationName (PeerName)\u003C/li\u003E\n    \u003Cli\u003EDescription\u003C/li\u003E\n    \u003Cli\u003EIsDefaultLocation (IsDefaultPeer)\u003C/li\u003E\n    \u003Cli\u003EAddress\u003C/li\u003E\n    \u003Cli\u003EFinalDestinationUri\u003C/li\u003E\n    \u003Cli\u003EPremiseTrunks\u003C/li\u003E\n    \u003Cli\u003ECallingName\u003C/li\u003E\n    \u003Cli\u003ESsSendToCustomer\u003C/li\u003E\n  \u003C/ul\u003E  \n  \u003Cp\u003EAlso each Sub-Account will contain a count of locations on it:\u003C/p\u003E\n  \u003Cul\u003E\n    \u003Cli\u003ESipPeerCount\u003C/li\u003E\n  \u003C/ul\u003E\n","in":"query","required":false,"schema":{"type":"boolean","default":false},"example":true},"summary":{"name":"summary","description":"Provides response payload with list of basic information about every Location for every Sub-Account on Account and overrides sipPeerDetails parameter if specified as true","in":"query","required":false,"schema":{"type":"boolean","default":false},"example":true},"subAccountIdPathParam":{"name":"siteId","description":"Sub-Account ID","in":"path","required":true,"schema":{"type":"integer"},"example":407},"locationIdPathParam":{"name":"sipPeerId","description":"ID of the location","in":"path","required":true,"schema":{"type":"integer"},"example":500017},"messageClassPathParam":{"name":"messageClass","description":"Message Class name","in":"path","required":true,"schema":{"type":"string"},"example":"TestClass"},"paginationPageQueryParam":{"description":"Retrievals must be paginated, using page and size indicators.  The page parameter contains the page number, e.g. \u00221\u0022 in the case of the first page","example":1,"in":"query","name":"page","required":true,"schema":{"type":"integer"}},"paginationSizeQueryParam":{"description":"The size parameter indicates the number of Associated Outbound Numbers to return in the payload","example":10,"in":"query","name":"size","required":true,"schema":{"type":"integer"}},"associatedOutboundNumberIdParam":{"in":"path","name":"associatedOutboundNumberId","required":true,"schema":{"type":"integer"}}},"requestBodies":{"createSubAccountRequest":{"description":"Sub-Account (Site) Request","required":true,"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/createSubAccountXmlRequest"},"examples":{"Non-UC Example":{"$ref":"#/components/examples/createSubAccountForNonUcXmlExample"},"UC Example":{"$ref":"#/components/examples/createSubAccountForUcXmlExample"},"Global Address Example":{"$ref":"#/components/examples/createSubAccountForGlobalAddressXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/createSubAccountJsonRequest"},"examples":{"Non-UC Example":{"$ref":"#/components/examples/createSubAccountForNonUcJsonExample"},"UC Example":{"$ref":"#/components/examples/createSubAccountForUcJsonExample"},"Global Address Example":{"$ref":"#/components/examples/createSubAccountForGlobalAddressJsonExample"}}}}},"createLocationRequest":{"description":"Create Location (SIP Peer) Request","required":true,"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/createLocationXmlRequest"},"examples":{"createLocationWithVoiceHostsExample":{"$ref":"#/components/examples/createLocationWithVoiceHostsXmlExample"},"createLocationWithVoiceHostGroupsExample":{"$ref":"#/components/examples/createLocationWithVoiceHostGroupsXmlExample"},"createLocationWithOriginationRoutePlanExample":{"$ref":"#/components/examples/createLocationWithOriginationRoutePlanXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/createLocationJsonRequest"},"examples":{"createLocationWithVoiceHostsExample":{"$ref":"#/components/examples/createLocationWithVoiceHostsJsonExample"},"createLocationWithVoiceHostGroupsExample":{"$ref":"#/components/examples/createLocationWithVoiceHostGroupsJsonExample"},"createLocationWithOriginationRoutePlanExample":{"$ref":"#/components/examples/createLocationWithOriginationRoutePlanJsonExample"}}}}},"updateLocationRequest":{"description":"Update Location (SIP Peer) Request","required":true,"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/updateLocationXmlRequest"},"examples":{"updateLocationExample":{"$ref":"#/components/examples/updateLocationXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/updateLocationJsonRequest"},"examples":{"updateLocationExample":{"$ref":"#/components/examples/updateLocationJsonExample"}}}}},"associatedOutboundNumbersRequest":{"content":{"application/xml":{"examples":{"associatedOutboundNumbersRequestExample":{"$ref":"#/components/examples/createAssociatedOutboundNumbersRequestXmlExample"}},"schema":{"properties":{"AssociatedOutboundNumbers":{"$ref":"#/components/schemas/associatedOutboundNumberRequest"}}}},"application/json":{"examples":{"associatedOutboundNumbersRequestExample":{"$ref":"#/components/examples/createAssociatedOutboundNumbersRequestJsonExample"}},"schema":{"properties":{"associatedOutboundNumbers":{"type":"array","items":{"$ref":"#/components/schemas/associatedOutboundNumberRequestJson"}}}}}},"description":"OK"}},"responses":{"successResponse201":{"description":"Created"},"successResponse200":{"description":"OK"},"errorResponse401":{"description":"Unauthorized"},"errorResponse403":{"description":"Forbidden"},"errorResponse404":{"description":"Not Found"},"errorResponse429":{"description":"Too Many Requests"},"errorResponse500":{"description":"Internal Server Error"},"totalSeatsResponse":{"description":"OK","content":{"application/xml":{"examples":{"totalSeatsSuccessExample":{"$ref":"#/components/examples/totalSeatsSuccessXmlExample"}},"schema":{"$ref":"#/components/schemas/accountUcTrunkingSeats"}},"application/json":{"examples":{"totalSeatsSuccessJsonExample":{"$ref":"#/components/examples/totalSeatsSuccessJsonExample"}},"schema":{"$ref":"#/components/schemas/accountUcTrunkingSeatsJson"}}}},"totalSeatsBadRequestErrorResponse":{"description":"Bad Request","content":{"application/xml":{"examples":{"totalSeatsErrorExample":{"$ref":"#/components/examples/totalSeatsErrorXmlExample"}},"schema":{"$ref":"#/components/schemas/totalSeatsBadResponse"}},"application/json":{"examples":{"totalSeatsErrorJsonExample":{"$ref":"#/components/examples/totalSeatsErrorJsonExample"}},"schema":{"$ref":"#/components/schemas/responseStatusJson"}}}},"sippeerTotalSeatsSuccessResponse":{"description":"OK","content":{"application/xml":{"examples":{"sippeerTotalSeatsSuccessExample":{"$ref":"#/components/examples/sippeerTotalSeatsSuccessXmlExample"}},"schema":{"$ref":"#/components/schemas/sippeerUcTrunkingSeats"}},"application/json":{"examples":{"totalSeatsSuccessJsonExample":{"$ref":"#/components/examples/totalSeatsSuccessJsonExample"}},"schema":{"$ref":"#/components/schemas/accountUcTrunkingSeatsJson"}}}},"sippeerTotalSeatsBadRequestErrorResponse":{"description":"Bad Request","content":{"application/xml":{"examples":{"sippeerTotalSeatsErrorExample":{"$ref":"#/components/examples/sippeerTotalSeatsErrorXmlExample"}},"schema":{"$ref":"#/components/schemas/sippeerTotalSeatsBadResponse"}},"application/json":{"examples":{"sippeerTotalSeatsErrorJsonExample":{"$ref":"#/components/examples/totalSeatsErrorJsonExample"}},"schema":{"$ref":"#/components/schemas/responseStatusJson"}}}},"accountNotFoundErrorResponse":{"description":"Not Found","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/accountErrorResponseXmlWrapper"},"examples":{"accountExample":{"$ref":"#/components/examples/accountNotFoundResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"accountExample":{"$ref":"#/components/examples/accountNotFoundResponseJsonExample"}}}}},"accountSystemErrorResponse":{"description":"System Error","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/accountErrorResponseXmlWrapper"},"examples":{"accountExample":{"$ref":"#/components/examples/accountSystemErrorResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"accountExample":{"$ref":"#/components/examples/accountSystemErrorResponseJsonExample"}}}}},"accountResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/accountResponseXmlWrapper"},"examples":{"accountExample":{"$ref":"#/components/examples/accountResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/accountJson"},"examples":{"accountExample":{"$ref":"#/components/examples/accountResponseJsonExample"}}}}},"subAccountTotalSeatsSuccessResponse":{"description":"OK","content":{"application/xml":{"examples":{"totalSeatsSuccessExample":{"$ref":"#/components/examples/subAccountTotalSeatsSuccessXmlExample"}},"schema":{"$ref":"#/components/schemas/subAccountUcTrunkingSeats"}},"application/json":{"examples":{"totalSeatsSuccessJsonExample":{"$ref":"#/components/examples/totalSeatsSuccessJsonExample"}},"schema":{"$ref":"#/components/schemas/accountUcTrunkingSeatsJson"}}}},"subAccountTotalSeatsBadRequestErrorResponse":{"description":"Bad Request","content":{"application/xml":{"examples":{"subAccountTotalSeatsErrorExample":{"$ref":"#/components/examples/subAccountTotalSeatsErrorXmlExample"}},"schema":{"$ref":"#/components/schemas/subAccountTotalSeatsBadRequestResponse"}},"application/json":{"examples":{"subAccountTotalSeatsErrorJsonExample":{"$ref":"#/components/examples/totalSeatsErrorJsonExample"}},"schema":{"$ref":"#/components/schemas/responseStatusJson"}}}},"locationCreatedResponse":{"description":"Created","headers":{"Location":{"description":"The URL of the created Location (SIP Peer)","schema":{"type":"string"},"example":"https://api.bandwidth.com/api/v2/accounts/1234567/sites/407/sippeers/500017"}}},"locationsResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/tnLocationsResponse"},"examples":{"locationsExample":{"$ref":"#/components/examples/locationsXmlExample"}}},"application/json":{"schema":{"properties":{"locations":{"type":"array","items":{"$ref":"#/components/schemas/locationJson"}}}},"examples":{"locationsExample":{"$ref":"#/components/examples/locationsJsonExample"}}}}},"locationResponse":{"description":"OK","content":{"application/xml":{"schema":{"type":"object","properties":{"SipPeerResponse":{"$ref":"#/components/schemas/locationResponse"}}},"examples":{"locationExample":{"$ref":"#/components/examples/locationXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/locationJson"},"examples":{"locationExample":{"$ref":"#/components/examples/locationJsonExample"}}}}},"locationDeleteResponse":{"description":"OK","content":{"application/xml":{"schema":{"type":"object","properties":{"SipPeerResponse":{"$ref":"#/components/schemas/deleteLocationXmlResponse"}}},"examples":{"locationExample":{"$ref":"#/components/examples/deleteLocationXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/deleteLocationJsonResponse"},"examples":{"locationExample":{"$ref":"#/components/examples/deleteLocationJsonExample"}}}}},"locationResponseBadRequestType1":{"description":"Bad Request","content":{"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipPeerResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CErrorCode\u003E13582\u003C/ErrorCode\u003E\n      \u003CDescription\u003EEnforce option is missing\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/SipPeerResponse\u003E"}},"schema":{"$ref":"#/components/schemas/locationResponseBadRequest"}},"application/json":{"examples":{"example":{"value":{"errorCode":13582,"description":"Enforce option is missing"}}},"schema":{"$ref":"#/components/schemas/errorResponseJson"}}}},"locationResponseBadRequestType2":{"description":"Bad Request","content":{"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipPeerResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CErrorCode\u003E13613\u003C/ErrorCode\u003E\n      \u003CDescription\u003EDelete not allowed while a Location (SIP Peer) has SMS feature\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/SipPeerResponse\u003E"}},"schema":{"$ref":"#/components/schemas/locationResponseBadRequest"}},"application/json":{"examples":{"example":{"value":{"errorCode":13613,"description":"Delete not allowed while a Location (SIP Peer) has SMS feature"}}},"schema":{"$ref":"#/components/schemas/errorResponseJson"}}}},"locationResponseBadRequestType3":{"description":"Bad Request","content":{"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipPeersResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CErrorCode\u003E4014\u003C/ErrorCode\u003E\n      \u003CDescription\u003EThe SiteId submitted is invalid.\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/SipPeersResponse\u003E"}},"schema":{"$ref":"#/components/schemas/locationResponseBadRequest"}},"application/json":{"examples":{"example":{"value":{"errorCode":4014,"description":"The SiteId submitted is invalid."}}},"schema":{"$ref":"#/components/schemas/errorResponseJson"}}}},"locationResponseNotFound":{"description":"Not Found","content":{"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipPeerResponse\u003E\n  \u003CResponseStatus\u003E\n     \u003CErrorCode\u003E13563\u003C/ErrorCode\u003E\n     \u003CDescription\u003ELocation (Sip Peer) \u0027316167\u0027 account \u00279999999\u0027 and sub-account (site) \u002745\u0027 does not exist\u003C/Description\u003E\n  \u003C/ResponseStatus\u003E\n\u003C/SipPeerResponse\u003E"}},"schema":{"$ref":"#/components/schemas/locationResponseBadRequest"}},"application/json":{"examples":{"example":{"value":{"errorCode":13563,"description":"Location (Sip Peer) \u0027316167\u0027 account \u00279999999\u0027 and sub-account (site) \u002745\u0027 does not exist"}}},"schema":{"$ref":"#/components/schemas/errorResponseJson"}}}},"locationResponseConflict":{"description":"Conflict","content":{"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipPeerResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CErrorCode\u003E12112\u003C/ErrorCode\u003E\n      \u003CDescription\u003EThe verifiable address closest to the submitted access is included below. Please use that street address or another valid street address in your next request\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n   \u003CAddressErrorDescription\u003E\n      \u003CAddressInconsistencies\u003ESome adjustments are required to allow the address to pass geocoding:\nSpecified value - City : \u0022WASHINGTUN\u0022 Valid value - \u0022WASHINGTON\u0022\u003C/AddressInconsistencies\u003E\n      \u003CRecommendedAddress\u003E\n         \u003CAddressLine1\u003E1600 PENNSYLVANIA AVE NW\u003C/AddressLine1\u003E\n         \u003CHouseNumber\u003E1600\u003C/HouseNumber\u003E\n         \u003CStreetName\u003EPENNSYLVANIA\u003C/StreetName\u003E\n         \u003CStreetSuffix\u003EAVE\u003C/StreetSuffix\u003E\n         \u003CPostDirectional\u003ENW\u003C/PostDirectional\u003E\n         \u003CCity\u003EWASHINGTON\u003C/City\u003E\n         \u003CStateCode\u003EDC\u003C/StateCode\u003E\n         \u003CZip\u003E20500\u003C/Zip\u003E\n         \u003CCountry\u003EUS\u003C/Country\u003E\n      \u003C/RecommendedAddress\u003E\n   \u003C/AddressErrorDescription\u003E\n\u003C/SipPeerResponse\u003E"}},"schema":{"$ref":"#/components/schemas/locationResponseConflict"}},"application/json":{"examples":{"example":{"value":{"errorCode":13582,"description":"Enforce option is missing","addressInconsistencies":"Some adjustments are required to allow the address to pass geocoding: Specified value - City : WASHINGTUN Valid value - WASHINGTON","recommendedAddress":{"addressLine1":"1600 PENNSYLVANIA AVE NW","houseNumber":1600,"streetName":"PENNSYLVANIA","streetSuffix":"AVE","postDirectional":"NW","city":"WASHINGTON","stateCode":"DC","zip":20500,"country":"US"}}}},"schema":{"$ref":"#/components/schemas/locationResponseConflictJson"}}}},"locationResponseServiceUnavailable":{"description":"Service unavailable","content":{"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipPeerResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CErrorCode\u003E13566\u003C/ErrorCode\u003E\n      \u003CDescription\u003EService is unavailable\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/SipPeerResponse\u003E"}},"schema":{"$ref":"#/components/schemas/locationResponseBadRequest"}},"application/json":{"examples":{"example":{"value":{"errorCode":13566,"description":"Service is unavailable"}}},"schema":{"$ref":"#/components/schemas/errorResponseJson"}}}},"subAccountCreatedResponse":{"description":"Created","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/subAccountResponseXmlWrapper"},"examples":{"siteExample":{"$ref":"#/components/examples/subAccountResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/subAccountJson"},"examples":{"subAccountExample":{"$ref":"#/components/examples/subAccountResponseJsonExample"}}}}},"subAccountResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/subAccountResponseXmlWrapper"},"examples":{"siteExample":{"$ref":"#/components/examples/subAccountResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/subAccountJson"},"examples":{"subAccountExample":{"$ref":"#/components/examples/subAccountResponseJsonExample"}}}}},"subAccountBadRequestErrorResponse":{"description":"Bad Request","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/subAccountErrorResponseXmlWrapper"},"examples":{"siteExample":{"$ref":"#/components/examples/subAccountBadRequestResponseXmlExample"}}},"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/errorResponseJson"},{"$ref":"#/components/schemas/genericJsonResponse"}]},"examples":{"subAccountExample":{"$ref":"#/components/examples/subAccountBadRequestResponseJsonExample"},"genericJsonErrorExample":{"$ref":"#/components/examples/genericJsonErrorForSubAccountExamplePost"}}}}},"subAccountBadRequestErrorResponsePut":{"description":"Bad Request","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/subAccountErrorResponseXmlWrapper"},"examples":{"siteExample":{"$ref":"#/components/examples/subAccountBadRequestResponseXmlExample"}}},"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/errorResponseJson"},{"$ref":"#/components/schemas/genericJsonResponse"}]},"examples":{"subAccountExample":{"$ref":"#/components/examples/subAccountBadRequestResponseJsonExample"},"genericJsonErrorExample":{"$ref":"#/components/examples/genericJsonErrorForSubAccountExamplePut"}}}}},"subAccountConflictErrorResponse":{"description":"Conflict","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/subAccountErrorResponseXmlWrapper"},"examples":{"siteExample":{"$ref":"#/components/examples/subAccountConflictResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"subAccountExample":{"$ref":"#/components/examples/subAccountConflictResponseJsonExample"}}}}},"subAccountsResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/subAccountsResponseXmlWrapper"},"examples":{"sitesExample":{"$ref":"#/components/examples/subAccountsResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/subAccountsResponseJsonObject"},"examples":{"subAccountsExample":{"$ref":"#/components/examples/subAccountsResponseJsonExample"}}}}},"subAccountNotFoundErrorResponse":{"description":"Not Found","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/subAccountErrorResponseXmlWrapper"},"examples":{"siteExample":{"$ref":"#/components/examples/subAccountNotFoundResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"subAccountExample":{"$ref":"#/components/examples/subAccountNotFoundResponseJsonExample"}}}}},"subAccountCantBeDeletedErrorResponse":{"description":"Bad Request","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/subAccountErrorResponseXmlWrapper"},"examples":{"siteExample":{"$ref":"#/components/examples/subAccountCantBeDeletedResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"subAccountExample":{"$ref":"#/components/examples/subAccountCantBeDeletedResponseJsonExample"}}}}},"subAccountSystemErrorResponse":{"description":"System Error","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/subAccountErrorResponseXmlWrapper"},"examples":{"accountExample":{"$ref":"#/components/examples/subAccountSystemErrorResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"accountExample":{"$ref":"#/components/examples/subAccountSystemErrorResponseJsonExample"}}}}},"subAccountsSystemErrorResponse":{"description":"System Error","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/subAccountsErrorResponseXmlWrapper"},"examples":{"accountExample":{"$ref":"#/components/examples/subAccountsSystemErrorResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"accountExample":{"$ref":"#/components/examples/subAccountSystemErrorResponseJsonExample"}}}}},"a2pClassListResponse":{"description":"Ok","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/a2pClassListResponse"},"examples":{"a2pClassListResponseExample":{"$ref":"#/components/examples/a2pClassListResponseExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/a2pClassListResponseJson"},"examples":{"a2pClassListResponseExample":{"$ref":"#/components/examples/a2pClassListResponseExampleJson"}}}}},"a2pClassResponse":{"description":"Ok","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/a2pClassResponse"},"examples":{"a2pClassResponseExample":{"$ref":"#/components/examples/a2pClassResponseExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/a2pClassJson"},"examples":{"a2pClassResponseExample":{"$ref":"#/components/examples/a2pClassResponseExampleJson"}}}}},"a2pClassNotFoundResponse":{"description":"A2P Class not found","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/adminDataErrorResponse"},"examples":{"a2pClassNotFoundExample":{"$ref":"#/components/examples/a2pClassNotFoundExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/adminDataErrorResponseJson"},"examples":{"a2pClassNotFoundExample":{"$ref":"#/components/examples/a2pClassNotFoundExampleJson"}}}}},"adminDataErrorResponse500":{"description":"Internal Server Error","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/adminDataErrorResponse"},"examples":{"adminDataErrorResponse500":{"$ref":"#/components/examples/adminDataErrorResponse500"}}},"application/json":{"schema":{"$ref":"#/components/schemas/adminDataErrorResponseJson"},"examples":{"adminDataErrorResponse500":{"$ref":"#/components/examples/adminDataErrorResponse500Json"}}}}},"associatedOutboundNumbersResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/associatedOutboundNumbersResponseWrapper"},"examples":{"associatedOutboundNumbersExample":{"$ref":"#/components/examples/associatedOutboundNumbersXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/associatedOutboundNumbersResponseJson"},"examples":{"associatedOutboundNumbersExample":{"$ref":"#/components/examples/associatedOutboundNumbersJsonExample"}}}}},"createAssociatedOutboundNumbersResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/associatedOutboundNumbersCreateResponseWrapper"},"examples":{"associatedOutboundNumbersExample":{"$ref":"#/components/examples/createAssociatedOutboundNumbersResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/associatedOutboundNumbersCreateResponseJson"},"examples":{"associatedOutboundNumbersExample":{"$ref":"#/components/examples/createAssociatedOutboundNumbersResponseJsonExample"}}}}},"associatedOutboundNumbersResponseBadRequest":{"description":"Bad Request","content":{"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CAssociatedOutboundNumbersResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CErrorCode\u003E4014\u003C/ErrorCode\u003E\n      \u003CDescription\u003EThe SiteId submitted is invalid.\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/AssociatedOutboundNumbersResponse\u003E"}},"schema":{"$ref":"#/components/schemas/associatedOutboundNumbersErrorResponse"}},"application/json":{"examples":{"example":{"value":{"errorCode":4014,"description":"The SiteId submitted is invalid."}}},"schema":{"$ref":"#/components/schemas/errorResponseJson"}}}},"associatedOutboundNumbersResponseNotFound":{"description":"Not Found","content":{"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CAssociatedOutboundNumbersResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CErrorCode\u003E13704\u003C/ErrorCode\u003E\n      \u003CDescription\u003EOutbound Number Id 1 does not exist for location [ID: 500020].\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/AssociatedOutboundNumbersResponse\u003E"}},"schema":{"$ref":"#/components/schemas/associatedOutboundNumbersErrorResponse"}},"application/json":{"examples":{"example":{"value":{"errorCode":13704,"description":"Outbound Number Id 1 does not exist for location [ID: 500020]."}}},"schema":{"$ref":"#/components/schemas/errorResponseJson"}}}}},"examples":{"accountNotFoundResponseXmlExample":{"description":"An example of an account not found response in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CAccountResponse\u003E\n  \u003CResponseStatus\u003E\n    \u003CErrorCode\u003E4022\u003C/ErrorCode\u003E\n    \u003CDescription\u003EAccount \u002714353\u0027 does not exist or is locked\u003C/Description\u003E\n  \u003C/ResponseStatus\u003E\n\u003C/AccountResponse\u003E\n"},"accountSystemErrorResponseXmlExample":{"description":"An example of a system error response in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CAccountResponse\u003E\n  \u003CResponseStatus\u003E\n    \u003CErrorCode\u003E1010\u003C/ErrorCode\u003E\n    \u003CDescription\u003ESomething unexpected happened and has been logged (id=2e91ed6f-53af-4854-a33f-6ebd32f6e9cf). \n      Please contact Bandwidth support with this error ID to resolve the issue with our development team.\n    \u003C/Description\u003E\n  \u003C/ResponseStatus\u003E\n\u003C/AccountResponse\u003E\n"},"accountResponseXmlExample":{"description":"An example of an account response in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CAccountResponse\u003E\n  \u003CAccount\u003E\n    \u003CAccountId\u003E14\u003C/AccountId\u003E\n    \u003CAssociatedCatapultAccount\u003Eu-ertyhgfd12dcvdhnboklk\u003C/AssociatedCatapultAccount\u003E\n    \u003CGlobalAccountNumber\u003EBW-7123456\u003C/GlobalAccountNumber\u003E\n    \u003CCompanyName\u003ECWI Hosting\u003C/CompanyName\u003E\n    \u003CAccountType\u003EBusiness\u003C/AccountType\u003E\n    \u003CNenaId/\u003E\n    \u003CCustomerSegment\u003ETrial\u003C/CustomerSegment\u003E\n    \u003CStatus\u003EActive\u003C/Status\u003E\n    \u003CTiers\u003E\n      \u003CTier\u003E0\u003C/Tier\u003E\n    \u003C/Tiers\u003E\n    \u003CAddress\u003E\n      \u003CHouseNumber\u003E123\u003C/HouseNumber\u003E\n      \u003CHouseSuffix\u003EE\u003C/HouseSuffix\u003E\n      \u003CPreDirectional/\u003E\n      \u003CStreetName\u003EMain\u003C/StreetName\u003E\n      \u003CStreetSuffix\u003ESt\u003C/StreetSuffix\u003E\n      \u003CPostDirectional/\u003E\n      \u003CAddressLine2\u003EApt 12B\u003C/AddressLine2\u003E\n      \u003CCity\u003ERaleigh\u003C/City\u003E\n      \u003CStateCode\u003ENC\u003C/StateCode\u003E\n      \u003CZip\u003E27607\u003C/Zip\u003E\n      \u003CPlusFour\u003E1234\u003C/PlusFour\u003E\n      \u003CCounty\u003EWake\u003C/County\u003E\n      \u003CCountry\u003EUnited States\u003C/Country\u003E\n      \u003CAddressType\u003EBilling\u003C/AddressType\u003E\n    \u003C/Address\u003E\n    \u003CLinkedAddresses\u003E\n      \u003CLinkedAddress\u003E\n        \u003CAddressId\u003Edaa9dd0f-de97-4103-8530-b31bf4be8fc0\u003C/AddressId\u003E\n        \u003CAddressType\u003EService\u003C/AddressType\u003E\n        \u003CLink\u003Ehttps://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0\u003C/Link\u003E\n      \u003C/LinkedAddress\u003E\n    \u003C/LinkedAddresses\u003E \n    \u003CContact\u003E\n      \u003CFirstName\u003ESanjay\u003C/FirstName\u003E\n      \u003CLastName\u003ERao\u003C/LastName\u003E\n      \u003CPhone\u003E\u002B19195441234\u003C/Phone\u003E\n      \u003CEmail\u003Esrao@bandwidth.com\u003C/Email\u003E\n    \u003C/Contact\u003E\n    \u003CAltSpid\u003EX455\u003C/AltSpid\u003E\n    \u003CSPID\u003E9999\u003C/SPID\u003E\n    \u003CPortCarrierType\u003EWIRELINE\u003C/PortCarrierType\u003E\n    \u003CTestAccount\u003Efalse\u003C/TestAccount\u003E\n    \u003CSupportLevel\u003ESignature\u003C/SupportLevel\u003E\n  \u003C/Account\u003E\n\u003C/AccountResponse\u003E\n"},"accountNotFoundResponseJsonExample":{"description":"An example of an account not found response in JSON format","value":{"errorCode":4022,"description":"Account \u002714353\u0027 does not exist or is locked"}},"accountSystemErrorResponseJsonExample":{"description":"An example of a system error response in JSON format","value":{"errorCode":1010,"description":"Something unexpected happened and has been logged (id=5bdf62d9-64f5-4a67-ab32-9117e4fa3001). \nPlease contact Bandwidth support with this error ID to resolve the issue with our development team.\n"}},"accountResponseJsonExample":{"description":"An example of an account response in JSON format","value":{"accountId":14,"associatedCatapultAccount":"u-ertyhgfd12dcvdhnboklk","globalAccountNumber":"BW-7123456","companyName":"CWI Hosting","accountType":"Business","customerSegment":"Trial","status":"Active","tiers":[0],"address":{"houseNumber":123,"houseSuffix":"E","preDirectional":"SE","streetName":"Main","streetSuffix":"St","postDirectional":"NW","addressLine2":"Apt 12B","city":"Raleigh","stateCode":"NC","zip":27607,"plusFour":1234,"county":"Wake","country":"United States","addressType":"Billing"},"linkedAddresses":[{"addressId":"daa9dd0f-de97-4103-8530-b31bf4be8fc0","addressType":"Service","link":"https://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0"}],"contact":{"firstName":"Sanjay","lastName":"Rao","phoneNumber":19195441234,"email":"srao@bandwidth.com"},"altSpid":"X455","spid":9999,"portCarrierType":"WIRELINE","testAccount":false,"supportLevel":"Signature"}},"totalSeatsSuccessXmlExample":{"description":"An example of total seats displayed for an account","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CAccountTotalSeatsResponse\u003E\n    \u003CUcTrunkingSeats\u003E\n        \u003CTotalCount\u003E12\u003C/TotalCount\u003E\n    \u003C/UcTrunkingSeats\u003E\n\u003C/AccountTotalSeatsResponse\u003E"},"totalSeatsErrorXmlExample":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n\u003CAccountTotalSeatsResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CErrorCode\u003E12017\u003C/ErrorCode\u003E\n      \u003CDescription\u003EAccount \u002712346099\u0027 does not have product \u0027UcTrunking\u0027\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/AccountTotalSeatsResponse\u003E"},"sippeerTotalSeatsSuccessXmlExample":{"description":"An example of total seats displayed for a Location (SIP Peer)","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipPeerTotalSeatsResponse\u003E\n    \u003CUcTrunkingSeats\u003E\n        \u003CTotalCount\u003E12\u003C/TotalCount\u003E\n    \u003C/UcTrunkingSeats\u003E\n\u003C/SipPeerTotalSeatsResponse\u003E"},"sippeerTotalSeatsErrorXmlExample":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n\u003CSipPeerTotalSeatsResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CErrorCode\u003E12017\u003C/ErrorCode\u003E\n      \u003CDescription\u003EAccount \u002712346099\u0027 does not have product \u0027UcTrunking\u0027\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/SipPeerTotalSeatsResponse\u003E"},"totalSeatsErrorJsonExample":{"description":"example","value":{"errorCode":12017,"description":"Account \u002714\u0027 does not have product \u0027UcTrunking\u0027"}},"totalSeatsSuccessJsonExample":{"description":"example","value":{"ucTrunkingSeats":{"phoneNumberCount":12}}},"createSubAccountForNonUcXmlExample":{"description":"An example of a Sub-Account request for NON-UC accounts","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n\u003CSite\u003E\n   \u003CName\u003ERaleigh\u003C/Name\u003E\n   \u003CDescription\u003ETest Gateway\u003C/Description\u003E\n   \u003CCustomerName\u003EBW\u003C/CustomerName\u003E\n   \u003CAddress\u003E\n      \u003CHouseNumber\u003E1600\u003C/HouseNumber\u003E\n      \u003CStreetName\u003EPENNSYLVANIA\u003C/StreetName\u003E\n      \u003CStreetSuffix\u003EAVE\u003C/StreetSuffix\u003E\n      \u003CPostDirectional\u003ENW\u003C/PostDirectional\u003E\n      \u003CCity\u003EWASHINGTON\u003C/City\u003E\n      \u003CStateCode\u003EDC\u003C/StateCode\u003E\n      \u003CZip\u003E20006\u003C/Zip\u003E\n      \u003CCountry\u003EUS\u003C/Country\u003E\n   \u003C/Address\u003E\n   \u003CLinkedAddresses\u003E\n      \u003CLinkedAddress\u003E\n        \u003CAddressId\u003Edaa9dd0f-de97-4103-8530-b31bf4be8fc0\u003C/AddressId\u003E\n        \u003CAddressType\u003EService\u003C/AddressType\u003E\n        \u003CLink\u003Ehttps://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0\u003C/Link\u003E\n      \u003C/LinkedAddress\u003E\n   \u003C/LinkedAddresses\u003E \n\u003C/Site\u003E"},"createSubAccountForUcXmlExample":{"description":"An example of a Sub-Account request for UC accounts","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSite\u003E\n   \u003CName\u003ERaleigh\u003C/Name\u003E\n   \u003CDescription\u003ETest Gateway\u003C/Description\u003E\n   \u003CCustomerName\u003EBW\u003C/CustomerName\u003E\n   \u003CAddress\u003E\n      \u003CHouseNumber\u003E1600\u003C/HouseNumber\u003E\n      \u003CStreetName\u003EPENNSYLVANIA\u003C/StreetName\u003E\n      \u003CStreetSuffix\u003EAVE\u003C/StreetSuffix\u003E\n      \u003CPostDirectional\u003ENW\u003C/PostDirectional\u003E\n      \u003CCity\u003EWASHINGTON\u003C/City\u003E\n      \u003CStateCode\u003EDC\u003C/StateCode\u003E\n      \u003CZip\u003E20006\u003C/Zip\u003E\n      \u003CCountry\u003EUS\u003C/Country\u003E\n   \u003C/Address\u003E\n   \u003CLinkedAddresses\u003E\n      \u003CLinkedAddress\u003E\n        \u003CAddressId\u003Edaa9dd0f-de97-4103-8530-b31bf4be8fc0\u003C/AddressId\u003E\n        \u003CAddressType\u003EService\u003C/AddressType\u003E\n        \u003CLink\u003Ehttps://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0\u003C/Link\u003E\n      \u003C/LinkedAddress\u003E\n   \u003C/LinkedAddresses\u003E \n   \u003CUcTrunkingConfiguration\u003E\n      \u003CType\u003ESeats\u003C/Type\u003E\n      \u003CUsageCategory\u003EUC500\u003C/UsageCategory\u003E\n   \u003C/UcTrunkingConfiguration\u003E\n\u003C/Site\u003E"},"createSubAccountForGlobalAddressXmlExample":{"description":"An example of a Sub-Account request for accounts with global addresses","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSite\u003E\n   \u003CName\u003ERaleigh\u003C/Name\u003E\n   \u003CDescription\u003ETest Gateway\u003C/Description\u003E\n   \u003CCustomerName\u003EBW\u003C/CustomerName\u003E\n   \u003CLinkedAddresses\u003E\n     \u003CLinkedAddress\u003E\n       \u003CAddressId\u003Edaa9dd0f-de97-4103-8530-b31bf4be8fc0\u003C/AddressId\u003E\n       \u003CAddressType\u003EService\u003C/AddressType\u003E\n       \u003CLink\u003Ehttps://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0\u003C/Link\u003E\n     \u003C/LinkedAddress\u003E\n   \u003C/LinkedAddresses\u003E  \n   \u003CUcTrunkingConfiguration\u003E\n      \u003CType\u003ESeats\u003C/Type\u003E\n      \u003CUsageCategory\u003EUC500\u003C/UsageCategory\u003E\n   \u003C/UcTrunkingConfiguration\u003E\n\u003C/Site\u003E"},"createSubAccountForNonUcJsonExample":{"description":"An example of a Sub-Account request for NON-UC accounts","value":{"name":"Raleigh","description":"Test Gateway","customerName":"BW","customerProvidedId":14,"address":{"houseNumber":1600,"streetName":"PENNSYLVANIA","streetSuffix":"AVE","postDirectional":"NW","city":"WASHINGTON","stateCode":"DC","zip":20006,"country":"US"},"linkedAddresses":[{"addressId":"daa9dd0f-de97-4103-8530-b31bf4be8fc0","addressType":"Service","link":"https://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0"}]}},"createSubAccountForUcJsonExample":{"description":"An example of a Sub-Account request for UC accounts","value":{"name":"Raleigh","description":"Test Gateway","customerName":"BW","address":{"houseNumber":1600,"streetName":"PENNSYLVANIA","streetSuffix":"AVE","postDirectional":"NW","city":"WASHINGTON","stateCode":"DC","zip":20006,"country":"US"},"linkedAddresses":[{"addressId":"daa9dd0f-de97-4103-8530-b31bf4be8fc0","addressType":"Service","link":"https://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0"}],"ucTrunkingConfiguration":{"type":"Seats","usageCategory":"UC500"}}},"createSubAccountForGlobalAddressJsonExample":{"description":"An example of a Sub-Account request for accounts with global addresses","value":{"name":"Raleigh","description":"Test Gateway","customerName":"BW","linkedAddresses":[{"addressId":"daa9dd0f-de97-4103-8530-b31bf4be8fc0","addressType":"Service","link":"https://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0"}],"ucTrunkingConfiguration":{"type":"Seats","usageCategory":"UC500"}}},"subAccountResponseXmlExample":{"description":"An example of a Sub-Account response","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSiteResponse\u003E\n   \u003CSite\u003E\n      \u003CId\u003E3013\u003C/Id\u003E\n      \u003CName\u003ERaleigh\u003C/Name\u003E\n      \u003CDescription\u003ETest Gateway\u003C/Description\u003E\n      \u003CCustomerName\u003EBW\u003C/CustomerName\u003E\n      \u003CCustomerId\u003E14\u003C/CustomerId\u003E\n      \u003CAddress\u003E\n         \u003CHouseNumber\u003E1600\u003C/HouseNumber\u003E\n         \u003CStreetName\u003EPENNSYLVANIA\u003C/StreetName\u003E\n         \u003CStreetSuffix\u003EAVE\u003C/StreetSuffix\u003E\n         \u003CPostDirectional\u003ENW\u003C/PostDirectional\u003E\n         \u003CCity\u003EWASHINGTON\u003C/City\u003E\n         \u003CStateCode\u003EDC\u003C/StateCode\u003E\n         \u003CZip\u003E20006\u003C/Zip\u003E\n         \u003CCountry\u003EUS\u003C/Country\u003E\n         \u003CAddressType\u003EService\u003C/AddressType\u003E\n      \u003C/Address\u003E\n      \u003CLinkedAddresses\u003E\n        \u003CLinkedAddress\u003E\n          \u003CAddressId\u003Edaa9dd0f-de97-4103-8530-b31bf4be8fc0\u003C/AddressId\u003E\n          \u003CAddressType\u003EService\u003C/AddressType\u003E\n          \u003CLink\u003Ehttps://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0\u003C/Link\u003E\n        \u003C/LinkedAddress\u003E\n      \u003C/LinkedAddresses\u003E \n   \u003C/Site\u003E\n\u003C/SiteResponse\u003E"},"subAccountResponseJsonExample":{"description":"An example of a Sub-Account response","value":{"id":3013,"name":"Raleigh","description":"Test Gateway","customerName":"BW","customerId":14,"address":{"houseNumber":1600,"streetName":"PENNSYLVANIA","streetSuffix":"AVE","postDirectional":"NW","city":"WASHINGTON","stateCode":"DC","zip":20006,"country":"US","addressType":"Service"},"linkedAddresses":[{"addressId":"daa9dd0f-de97-4103-8530-b31bf4be8fc0","addressType":"Service","link":"https://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0"}]}},"subAccountBadRequestResponseXmlExample":{"description":"Response body for validation errors","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSiteResponse\u003E\n  \u003CResponseStatus\u003E\n    \u003CErrorCode\u003E1003\u003C/ErrorCode\u003E\n    \u003CDescription\u003EName is required\u003C/Description\u003E\n  \u003C/ResponseStatus\u003E\n\u003C/SiteResponse\u003E"},"subAccountBadRequestResponseJsonExample":{"description":"Response body for validation errors","value":{"errorCode":12561,"description":"name is required"}},"genericJsonErrorForSubAccountExamplePut":{"description":"Error response body for malformed JSON requests","value":{"errors":[{"code":1023,"description":"Invalid data type for field \u0027nme\u0027","type":"The JSON request body is invalid. Please check your request and try again."}],"links":[{"href":"https://api.bandwidth.com/api/v2/admin/sites/1","method":"PUT","rel":"self"}]}},"genericJsonErrorForSubAccountExamplePost":{"description":"Error response body for malformed JSON requests","value":{"errors":[{"code":1023,"description":"Invalid data type for field \u0027nme\u0027","type":"The JSON request body is invalid. Please check your request and try again."}],"links":[{"href":"https://api.bandwidth.com/api/v2/admin/sites","method":"POST","rel":"self"}]}},"subAccountConflictResponseXmlExample":{"description":"An example of a Sub-Account conflict response","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSiteResponse\u003E\n  \u003CResponseStatus\u003E\n    \u003CErrorCode\u003E12015\u003C/ErrorCode\u003E\n    \u003CDescription\u003EA Sub-Account (site) with id \u002715138\u0027 already exists\u003C/Description\u003E\n  \u003C/ResponseStatus\u003E\n\u003C/SiteResponse\u003E"},"subAccountConflictResponseJsonExample":{"description":"An example of a Sub-Account conflict response","value":{"errorCode":12015,"description":"A Sub-Account (site) with id \u002715138\u0027 already exists"}},"subAccountsResponseXmlExample":{"description":"An example of an Sub-Accounts response","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n  \u003CSitesResponse\u003E\n    \u003CSites\u003E\n      \u003CSite\u003E\n        \u003CId\u003E50\u003C/Id\u003E\n        \u003CName\u003EsiteName\u003C/Name\u003E\n        \u003CDescription\u003EsiteDescription\u003C/Description\u003E\n        \u003CUcTrunkingConfiguration\u003E\n          \u003CType\u003ESeats\u003C/Type\u003E\n        \u003C/UcTrunkingConfiguration\u003E\n        \u003CTotalTnCount\u003E0\u003C/TotalTnCount\u003E\n        \u003CSipPeerCount\u003E0\u003C/SipPeerCount\u003E\n      \u003C/Site\u003E\n      \u003CSite\u003E\n        \u003CId\u003E52\u003C/Id\u003E\n        \u003CName\u003EsiteName\u003C/Name\u003E\n        \u003CDescription\u003ECreate for 9900008\u003C/Description\u003E\n        \u003CUcTrunkingConfiguration\u003E\n          \u003CType\u003ESeats\u003C/Type\u003E\n        \u003C/UcTrunkingConfiguration\u003E\n        \u003CSipPeers\u003E\n          \u003CSipPeer\u003E\n            \u003CPeerId\u003E500197\u003C/PeerId\u003E\n            \u003CPeerName\u003ELocation 500197\u003C/PeerName\u003E\n            \u003CIsDefaultPeer\u003Etrue\u003C/IsDefaultPeer\u003E\n            \u003CTnCount\u003E0\u003C/TnCount\u003E\n          \u003C/SipPeer\u003E\n        \u003C/SipPeers\u003E\n        \u003CTotalTnCount\u003E10\u003C/TotalTnCount\u003E\n        \u003CSipPeerCount\u003E1\u003C/SipPeerCount\u003E\n      \u003C/Site\u003E\n    \u003C/Sites\u003E\n  \u003C/SitesResponse\u003E"},"subAccountsResponseJsonExample":{"description":"An example of an Sub-Accounts response","value":{"subAccounts":[{"id":399,"name":"TestSubAccount1","description":"NewSubAccount","ucTrunkingConfiguration":{"type":"Seats"},"totalPhoneNumberCount":0,"locationCount":0},{"id":403,"name":"TestSubAccount2","description":"SomeOtherSubAccount","ucTrunkingConfiguration":{"type":"Seats"},"totalPhoneNumberCount":0,"locationCount":1,"locations":[{"locationId":500197,"locationName":"Location 500197","isDefaultLocation":true,"phoneNumberCount":0}]}]}},"subAccountNotFoundResponseXmlExample":{"description":"The Sub-Account was not found for supplied ID","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSiteResponse\u003E\n  \u003CResponseStatus\u003E\n    \u003CErrorCode\u003E12016\u003C/ErrorCode\u003E\n    \u003CDescription\u003ESub-Account (Site) \u002750325432\u0027 does not exist\u003C/Description\u003E\n  \u003C/ResponseStatus\u003E\n\u003C/SiteResponse\u003E"},"subAccountNotFoundResponseJsonExample":{"description":"An example of a Sub-Account not found response","value":{"errorCode":12016,"description":"Sub-Account (Site) \u002750325432\u0027 does not exist"}},"subAccountCantBeDeletedResponseXmlExample":{"description":"An example of a Sub-Account that can\u0027t be deleted response","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSiteResponse\u003E\n  \u003CResponseStatus\u003E\n    \u003CErrorCode\u003E12031\u003C/ErrorCode\u003E\n    \u003CDescription\u003EPlease remove all locations before proceeding with this remove.\u003C/Description\u003E\n  \u003C/ResponseStatus\u003E\n\u003C/SiteResponse\u003E"},"subAccountCantBeDeletedResponseJsonExample":{"description":"An example of a Sub-Account that can\u0027t be deleted response","value":{"errorCode":12031,"description":"Please remove all locations before proceeding with this remove."}},"subAccountSystemErrorResponseXmlExample":{"description":"An example of a system error response","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSiteResponse\u003E\n  \u003CResponseStatus\u003E\n    \u003CErrorCode\u003E1010\u003C/ErrorCode\u003E\n    \u003CDescription\u003ESomething unexpected happened and has been logged (id=2e91ed6f-53af-4854-a33f-6ebd32f6e9cf). \n      Please contact Bandwidth support with this error ID to resolve the issue with our development team.\n    \u003C/Description\u003E\n  \u003C/ResponseStatus\u003E\n\u003C/SiteResponse\u003E\n"},"subAccountSystemErrorResponseJsonExample":{"description":"An example of a system error response","value":{"errorCode":1010,"description":"Something unexpected happened and has been logged (id=2e91ed6f-53af-4854-a33f-6ebd32f6e9cf). Please contact Bandwidth support with this error ID to resolve the issue with our development team."}},"subAccountsSystemErrorResponseXmlExample":{"description":"An example of a system error response","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSitesResponse\u003E\n  \u003CResponseStatus\u003E\n    \u003CErrorCode\u003E1010\u003C/ErrorCode\u003E\n    \u003CDescription\u003ESomething unexpected happened and has been logged (id=2e91ed6f-53af-4854-a33f-6ebd32f6e9cf). \n      Please contact Bandwidth support with this error ID to resolve the issue with our development team.\n    \u003C/Description\u003E\n  \u003C/ResponseStatus\u003E\n\u003C/SitesResponse\u003E\n"},"locationsXmlExample":{"description":"Successful response for retrieving locations.","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTNSipPeersResponse\u003E\n   \u003CSipPeers\u003E\n      \u003CSipPeer\u003E\n         \u003CPeerId\u003E304985\u003C/PeerId\u003E\n         \u003CPeerName\u003ECNAM-TEST-778\u003C/PeerName\u003E\n         \u003CDescription\u003Edescription\u003C/Description\u003E\n         \u003CIsDefaultPeer\u003Efalse\u003C/IsDefaultPeer\u003E\n         \u003CVoiceHosts /\u003E\n         \u003CVoiceHostGroups /\u003E\n         \u003CTerminationHosts /\u003E\n         \u003COriginationRoutePlan /\u003E\n         \u003CAddress\u003E\n            \u003CHouseNumber\u003E1600\u003C/HouseNumber\u003E\n            \u003CHouseSuffix /\u003E\n            \u003CPreDirectional /\u003E\n            \u003CStreetName\u003EPennsylvania Avenue Northwest\u003C/StreetName\u003E\n            \u003CStreetSuffix /\u003E\n            \u003CPostDirectional /\u003E\n            \u003CAddressLine2 /\u003E\n            \u003CCity\u003EWashington\u003C/City\u003E\n            \u003CStateCode\u003EDC\u003C/StateCode\u003E\n            \u003CZip\u003E20500\u003C/Zip\u003E\n            \u003CPlusFour /\u003E\n            \u003CCounty /\u003E\n            \u003CCountry\u003EUnited States\u003C/Country\u003E\n            \u003CAddressType\u003EService\u003C/AddressType\u003E\n         \u003C/Address\u003E\n         \u003CCallingName\u003E\n            \u003CDisplay\u003Efalse\u003C/Display\u003E\n            \u003CEnforced\u003Efalse\u003C/Enforced\u003E\n         \u003C/CallingName\u003E\n      \u003C/SipPeer\u003E\n   \u003C/SipPeers\u003E\n\u003C/TNSipPeersResponse\u003E"},"locationsJsonExample":{"description":"Successful response for retrieving locations.","value":{"locations":[{"locationId":304985,"locationName":"CNAM-TEST-778","description":"description","isDefaultLocation":false,"voiceHosts":[],"voiceHostGroups":[],"terminationHosts":[],"originationRoutePlan":{},"address":{"houseNumber":1600,"houseSuffix":"","preDirectional":"","streetName":"Pennsylvania Avenue Northwest","streetSuffix":"","postDirectional":"","addressLine2":"","city":"Washington","stateCode":"DC","zip":20500,"plusFour":"","county":"","country":"United States","addressType":"Service"},"callingName":{"display":false,"enforced":false}}]}},"createLocationWithVoiceHostsXmlExample":{"description":"Create a location with voice hosts.","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipPeer\u003E\n   \u003CPeerName\u003Ename\u003C/PeerName\u003E\n   \u003CDescription\u003Edescription\u003C/Description\u003E\n   \u003CIsDefaultPeer\u003Efalse\u003C/IsDefaultPeer\u003E\n   \u003CFinalDestinationUri\u003Euri\u003C/FinalDestinationUri\u003E\n   \u003CVoiceHosts\u003E\n      \u003CHost\u003E\n         \u003CHostName\u003E\u002210.10.10.1\u0022\u003C/HostName\u003E\n      \u003C/Host\u003E\n      \u003CHost\u003E\n         \u003CHostName\u003E10.10.10.2\u003C/HostName\u003E\n      \u003C/Host\u003E\n   \u003C/VoiceHosts\u003E\n   \u003CTerminationHosts\u003E\n      \u003CTerminationHost\u003E\n         \u003CHostName\u003E2.1.1.9\u003C/HostName\u003E\n         \u003CPort\u003E0\u003C/Port\u003E\n         \u003CCustomerTrafficAllowed\u003EDOMESTIC\u003C/CustomerTrafficAllowed\u003E\n      \u003C/TerminationHost\u003E\n      \u003CTerminationHost\u003E\n         \u003CHostName\u003E2.1.1.96/30\u003C/HostName\u003E\n         \u003CPort\u003E0\u003C/Port\u003E\n         \u003CCustomerTrafficAllowed\u003EDOMESTIC\u003C/CustomerTrafficAllowed\u003E\n      \u003C/TerminationHost\u003E\n   \u003C/TerminationHosts\u003E\n   \u003CAddress\u003E\n      \u003CHouseNumber\u003E1600\u003C/HouseNumber\u003E\n      \u003CHouseSuffix /\u003E\n      \u003CPreDirectional /\u003E\n      \u003CStreetName\u003EPENNSYLVANIA AVE NW\u003C/StreetName\u003E\n      \u003CStreetSuffix /\u003E\n      \u003CPostDirectional /\u003E\n      \u003CAddressLine2 /\u003E\n      \u003CCity\u003EWASHINGTON\u003C/City\u003E\n      \u003CStateCode\u003EDC\u003C/StateCode\u003E\n      \u003CZip\u003E20500\u003C/Zip\u003E\n      \u003CPlusFour /\u003E\n      \u003CCounty /\u003E\n      \u003CCountry\u003EUnited States\u003C/Country\u003E\n      \u003CAddressType\u003EService\u003C/AddressType\u003E\n   \u003C/Address\u003E\n   \u003CPremiseTrunks\u003EPremiseTrunks\u003C/PremiseTrunks\u003E\n   \u003CCallingName\u003E\n      \u003CDisplay\u003Etrue\u003C/Display\u003E\n      \u003CEnforced\u003Etrue\u003C/Enforced\u003E\n   \u003C/CallingName\u003E\n   \u003CSsSendToCustomer\u003ENONE\u003C/SsSendToCustomer\u003E\n\u003C/SipPeer\u003E"},"createLocationWithVoiceHostsJsonExample":{"description":"Create a location with voice hosts.","value":{"locationName":"name","description":"description","isDefaultLocation":false,"finalDestinationUri":"uri","voiceHosts":{"hosts":[{"hostName":"10.10.10.1"},{"hostName":"10.10.10.2"}]},"terminationHosts":{"terminationHosts":[{"hostName":"2.1.1.9","port":0,"customerTrafficAllowed":"DOMESTIC"},{"hostName":"2.1.1.96/30","port":0,"customerTrafficAllowed":"DOMESTIC"}]},"address":{"houseNumber":1600,"houseSuffix":"","preDirectional":"","streetName":"PENNSYLVANIA AVE NW","streetSuffix":"","postDirectional":"","addressLine2":"","city":"WASHINGTON","stateCode":"DC","zip":20500,"plusFour":"","county":"","country":"United States","addressType":"Service"},"premiseTrunks":"PremiseTrunks","callingName":{"display":true,"enforced":true},"ssSendToCustomer":"NONE"}},"createLocationWithVoiceHostGroupsXmlExample":{"description":"Create a location with voice host groups.","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipPeer\u003E\n   \u003CPeerName\u003Ename\u003C/PeerName\u003E\n   \u003CDescription\u003Edescription\u003C/Description\u003E\n   \u003CIsDefaultPeer\u003Efalse\u003C/IsDefaultPeer\u003E\n   \u003CFinalDestinationUri\u003Euri\u003C/FinalDestinationUri\u003E\n   \u003CVoiceHostGroups\u003E\n      \u003CVoiceHostGroup\u003E\n         \u003CHost\u003E\n            \u003CHostName\u003E10.10.10.1\u003C/HostName\u003E\n         \u003C/Host\u003E\n         \u003CHost\u003E\n            \u003CHostName\u003E10.10.10.2\u003C/HostName\u003E\n         \u003C/Host\u003E\n      \u003C/VoiceHostGroup\u003E\n   \u003C/VoiceHostGroups\u003E\n   \u003CTerminationHosts\u003E\n      \u003CTerminationHost\u003E\n         \u003CHostName\u003E2.1.1.9\u003C/HostName\u003E\n         \u003CPort\u003E0\u003C/Port\u003E\n         \u003CCustomerTrafficAllowed\u003EDOMESTIC\u003C/CustomerTrafficAllowed\u003E\n      \u003C/TerminationHost\u003E\n      \u003CTerminationHost\u003E\n         \u003CHostName\u003E2.1.1.96/30\u003C/HostName\u003E\n         \u003CPort\u003E0\u003C/Port\u003E\n         \u003CCustomerTrafficAllowed\u003EDOMESTIC\u003C/CustomerTrafficAllowed\u003E\n      \u003C/TerminationHost\u003E\n   \u003C/TerminationHosts\u003E\n   \u003CSsSendToCustomer\u003ENONE\u003C/SsSendToCustomer\u003E\n\u003C/SipPeer\u003E"},"createLocationWithVoiceHostGroupsJsonExample":{"description":"Create a location with voice host groups.","value":{"locationName":"name","description":"description","isDefaultLocation":false,"finalDestinationUri":"uri","voiceHostGroups":[{"hosts":[{"hostName":"10.10.10.1"}]}],"terminationHosts":{"terminationHosts":[{"hostName":"2.1.1.9","port":0,"customerTrafficAllowed":"DOMESTIC"},{"hostName":"2.1.1.96/30","port":0,"customerTrafficAllowed":"DOMESTIC"}]},"ssSendToCustomer":"NONE"}},"createLocationWithOriginationRoutePlanXmlExample":{"description":"Create a location with an origination route plan.","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipPeer\u003E\n  \u003CPeerName\u003Ename\u003C/PeerName\u003E\n  \u003CDescription\u003Edescription\u003C/Description\u003E\n  \u003CIsDefaultPeer\u003Efalse\u003C/IsDefaultPeer\u003E\n  \u003COriginationRoutePlan\u003E\n      \u003CRoute\u003E\n          \u003CEndpoint\u003E6105552502\u003C/Endpoint\u003E\n          \u003CPriority\u003E1\u003C/Priority\u003E\n          \u003CWeight\u003E100\u003C/Weight\u003E\n      \u003C/Route\u003E\n      \u003CRoute\u003E\n          \u003CEndpoint\u003Esip:clarkkent@dailyplanet.com\u003C/Endpoint\u003E\n          \u003CPriority\u003E2\u003C/Priority\u003E\n          \u003CWeight\u003E100\u003C/Weight\u003E\n      \u003C/Route\u003E\n      \u003CRoute\u003E\n          \u003CEndpoint\u003E192.168.20.21\u003C/Endpoint\u003E\n          \u003CPriority\u003E3\u003C/Priority\u003E\n          \u003CWeight\u003E50\u003C/Weight\u003E\n      \u003C/Route\u003E\n      \u003CRoute\u003E\n          \u003CEndpoint\u003E7075552509\u003C/Endpoint\u003E\n          \u003CPriority\u003E3\u003C/Priority\u003E\n          \u003CWeight\u003E50\u003C/Weight\u003E\n      \u003C/Route\u003E\n      \u003CRoute\u003E\n          \u003CEndpoint\u003Emyhost.bandwidth.example\u003C/Endpoint\u003E\n          \u003CPriority\u003E4\u003C/Priority\u003E\n          \u003CWeight\u003E100\u003C/Weight\u003E\n      \u003C/Route\u003E\n      \u003CAction\u003EasSpecified\u003C/Action\u003E\n  \u003C/OriginationRoutePlan\u003E\n  \u003CTerminationHosts\u003E\n      \u003CTerminationHost\u003E\n          \u003CHostName\u003E2.1.1.9\u003C/HostName\u003E\n          \u003CPort\u003E0\u003C/Port\u003E\n          \u003CCustomerTrafficAllowed\u003EDOMESTIC\u003C/CustomerTrafficAllowed\u003E\n      \u003C/TerminationHost\u003E\n      \u003CTerminationHost\u003E\n          \u003CHostName\u003E2.1.1.96/30\u003C/HostName\u003E\n          \u003CPort\u003E0\u003C/Port\u003E\n          \u003CCustomerTrafficAllowed\u003EDOMESTIC\u003C/CustomerTrafficAllowed\u003E\n      \u003C/TerminationHost\u003E\n  \u003C/TerminationHosts\u003E\n\u003C/SipPeer\u003E"},"createLocationWithOriginationRoutePlanJsonExample":{"description":"Create a location with an origination route plan.","value":{"locationName":"name","description":"description","isDefaultLocation":false,"originationRoutePlan":{"originationRoutes":[{"endpoint":6105552502,"priority":2,"weight":100},{"endpoint":"sip:clarkkent@dailyplanet.com","priority":2,"weight":100},{"endpoint":"192.168.20.21","priority":3,"weight":50},{"endpoint":7075552509,"priority":3,"weight":50},{"endpoint":"myhost.bandwidth.example","priority":4,"weight":100}]},"terminationHosts":{"terminationHosts":[{"hostName":"2.1.1.9","port":0,"customerTrafficAllowed":"DOMESTIC"},{"hostName":"2.1.1.96/30","port":0,"customerTrafficAllowed":"DOMESTIC"}]}}},"locationXmlExample":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipPeerResponse\u003E\n   \u003CSipPeer\u003E\n      \u003CPeerId\u003E304985\u003C/PeerId\u003E\n      \u003CPeerName\u003ECNAM-TEST-778\u003C/PeerName\u003E\n      \u003CDescription\u003Edescription\u003C/Description\u003E\n      \u003CIsDefaultPeer\u003Efalse\u003C/IsDefaultPeer\u003E\n      \u003CVoiceHosts /\u003E\n      \u003CVoiceHostGroups /\u003E\n      \u003CTerminationHosts /\u003E\n      \u003COriginationRoutePlan /\u003E\n      \u003CAddress\u003E\n         \u003CHouseNumber\u003E1600\u003C/HouseNumber\u003E\n         \u003CHouseSuffix /\u003E\n         \u003CPreDirectional /\u003E\n         \u003CStreetName\u003EPENNSYLVANIA AVE NW\u003C/StreetName\u003E\n         \u003CStreetSuffix /\u003E\n         \u003CPostDirectional /\u003E\n         \u003CAddressLine2 /\u003E\n         \u003CCity\u003EWashington\u003C/City\u003E\n         \u003CStateCode\u003EDC\u003C/StateCode\u003E\n         \u003CZip\u003E20500\u003C/Zip\u003E\n         \u003CPlusFour /\u003E\n         \u003CCounty /\u003E\n         \u003CCountry\u003EUnited States\u003C/Country\u003E\n         \u003CAddressType\u003EService\u003C/AddressType\u003E\n      \u003C/Address\u003E\n      \u003CCallingName\u003E\n         \u003CDisplay\u003Efalse\u003C/Display\u003E\n         \u003CEnforced\u003Efalse\u003C/Enforced\u003E\n      \u003C/CallingName\u003E\n   \u003C/SipPeer\u003E\n\u003C/SipPeerResponse\u003E"},"locationJsonExample":{"value":{"locationId":304985,"locationName":"CNAM-TEST-778","description":"description","isDefaultLocation":false,"voiceHosts":[],"voiceHostGroups":[],"terminationHosts":[],"originationRoutePlan":{},"address":{"houseNumber":1600,"houseSuffix":"","preDirectional":"","streetName":"PENNSYLVANIA AVE NW","streetSuffix":"","postDirectional":"","addressLine2":"","city":"Washington","stateCode":"DC","zip":20500,"plusFour":"","county":"","country":"United States","addressType":"Service"},"callingName":{"display":false,"enforced":false}}},"updateLocationXmlExample":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n  \u003CSipPeer\u003E\n     \u003CPeerName\u003Ename\u003C/PeerName\u003E\n     \u003CDescription\u003Edescription\u003C/Description\u003E\n     \u003CIsDefaultPeer\u003Efalse\u003C/IsDefaultPeer\u003E\n     \u003CVoiceHosts\u003E\n        \u003CHost\u003E\n           \u003CHostName\u003E10.10.10.1\u003C/HostName\u003E\n        \u003C/Host\u003E\n        \u003CHost\u003E\n           \u003CHostName\u003E10.10.10.2\u003C/HostName\u003E\n        \u003C/Host\u003E\n     \u003C/VoiceHosts\u003E\n     \u003CVoiceHostGroups /\u003E\n     \u003CTerminationHosts\u003E\n        \u003CTerminationHost\u003E\n           \u003CHostName\u003E2.1.1.9\u003C/HostName\u003E\n           \u003CPort\u003E0\u003C/Port\u003E\n           \u003CCustomerTrafficAllowed\u003EDOMESTIC\u003C/CustomerTrafficAllowed\u003E\n        \u003C/TerminationHost\u003E\n        \u003CTerminationHost\u003E\n           \u003CHostName\u003E2.1.1.96/30\u003C/HostName\u003E\n           \u003CPort\u003E0\u003C/Port\u003E\n           \u003CCustomerTrafficAllowed\u003EDOMESTIC\u003C/CustomerTrafficAllowed\u003E\n        \u003C/TerminationHost\u003E\n     \u003C/TerminationHosts\u003E\n     \u003CCallingName\u003E\n        \u003CDisplay\u003Etrue\u003C/Display\u003E\n        \u003CEnforced\u003Etrue\u003C/Enforced\u003E\n     \u003C/CallingName\u003E\n  \u003C/SipPeer\u003E"},"updateLocationJsonExample":{"value":{"locationName":"name","description":"description","isDefaultLocation":false,"finalDestinationUri":"uri","voiceHosts":[{"hostName":"10.10.10.1"},{"hostName":"10.10.10.2"}],"terminationHosts":[{"hostName":"2.1.1.9","port":0,"customerTrafficAllowed":"DOMESTIC"},{"hostName":"2.1.1.96/30","port":0,"customerTrafficAllowed":"DOMESTIC"}],"callingName":{"display":true,"enforced":true}}},"deleteLocationXmlExample":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipPeerResponse\u003E\n   \u003CSipPeer\u003E\n      \u003CPeerId\u003E304985\u003C/PeerId\u003E\n      \u003CIsDefaultPeer\u003Efalse\u003C/IsDefaultPeer\u003E\n      \u003CSsSendToCustomer\u003ENONE\u003C/SsSendToCustomer\u003E\n   \u003C/SipPeer\u003E\n\u003C/SipPeerResponse\u003E"},"deleteLocationJsonExample":{"value":{"locationId":304985,"isDefaultLocation":false,"ssSendToCustomer":"NONE"}},"a2pClassListResponseExample":{"description":"An example A2P Class list response","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CAdminDataResponse\u003E\n  \u003CA2pClassList\u003E\n    \u003CA2pClass\u003E\n      \u003CMessageClass\u003ETestClass\u003C/MessageClass\u003E\n      \u003CClassDescription\u003EThis is a test.\u003C/ClassDescription\u003E\n    \u003C/A2pClass\u003E\n    \u003CA2pClass\u003E\n      \u003CMessageClass\u003ETest_Class\u003C/MessageClass\u003E\n      \u003CClassDescription\u003EAnother test.\u003C/ClassDescription\u003E\n    \u003C/A2pClass\u003E\n  \u003C/A2pClassList\u003E\n\u003C/AdminDataResponse\u003E"},"a2pClassListResponseExampleJson":{"description":"An example A2P Class list response","value":{"a2pClassList":[{"messageClass":"TestClass","classDescription":"This is a test."},{"messageClass":"Test_Class","classDescription":"Another test."}]}},"a2pClassResponseExample":{"description":"An example A2P Class response","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CAdminDataResponse\u003E\n  \u003CA2pClass\u003E\n    \u003CMessageClass\u003ETestClass\u003C/MessageClass\u003E\n    \u003CClassDescription\u003EThis is a test.\u003C/ClassDescription\u003E\n  \u003C/A2pClass\u003E\n\u003C/AdminDataResponse\u003E"},"a2pClassResponseExampleJson":{"description":"An example A2P Class response","value":{"messageClass":"TestClass","classDescription":"This is a test."}},"a2pClassNotFoundExample":{"description":"An example A2P Class not found response","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CAdminDataResponse\u003E\n  \u003CResponseStatus\u003E\n    \u003CDescription\u003EThe resource does not exist\u003C/Description\u003E\n  \u003C/ResponseStatus\u003E\n\u003C/AdminDataResponse\u003E"},"a2pClassNotFoundExampleJson":{"description":"An example A2P Class not found response","value":{"responseStatus":{"description":"The resource does not exist"}}},"adminDataErrorResponse500":{"description":"An example Internal Server Error response","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CAdminDataResponse\u003E\n  \u003CResponseStatus\u003E\n    \u003CErrorCode\u003E1000\u003C/ErrorCode\u003E\n    \u003CDescription\u003EInternal Server Error. Please try again.\u003C/Description\u003E\n  \u003C/ResponseStatus\u003E\n\u003C/AdminDataResponse\u003E"},"adminDataErrorResponse500Json":{"description":"An example Internal Server Error response","value":{"responseStatus":{"errorCode":1000,"description":"Internal Server Error. Please try again."}}},"associatedOutboundNumbersXmlExample":{"description":"An example GET response","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CAssociatedOutboundNumbersResponse\u003E\n  \u003CTotalCount\u003E2\u003C/TotalCount\u003E\n  \u003CAssociatedOutboundNumbers\u003E\n    \u003CAssociatedOutboundNumber\u003E\n      \u003CNumber\u003E\u002B16175551212\u003C/Number\u003E\n      \u003CId\u003E123\u003C/Id\u003E\n    \u003C/AssociatedOutboundNumber\u003E\n    \u003CAssociatedOutboundNumber\u003E\n      \u003CNumber\u003E\u002B16175551213\u003C/Number\u003E\n      \u003CId\u003E124\u003C/Id\u003E\n    \u003C/AssociatedOutboundNumber\u003E\n  \u003C/AssociatedOutboundNumbers\u003E\n\u003C/AssociatedOutboundNumbersResponse\u003E"},"associatedOutboundNumbersJsonExample":{"value":{"totalCount":2,"associatedOutboundNumbers":[{"phoneNumber":16175551212,"id":123},{"phoneNumber":16175551213,"id":124}]}},"createAssociatedOutboundNumbersRequestXmlExample":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CAssociatedOutboundNumbers\u003E\n  \u003CAssociatedOutboundNumber\u003E\n    \u003CNumber\u003E\u002B16175551212\u003C/Number\u003E\n  \u003C/AssociatedOutboundNumber\u003E\n  \u003CAssociatedOutboundNumber\u003E\n    \u003CNumber\u003E\u002B16175551213\u003C/Number\u003E\n  \u003C/AssociatedOutboundNumber\u003E\n\u003C/AssociatedOutboundNumbers\u003E"},"createAssociatedOutboundNumbersRequestJsonExample":{"value":{"associatedOutboundNumbers":[{"phoneNumber":16175551212},{"phoneNumber":16175551213}]}},"createAssociatedOutboundNumbersResponseXmlExample":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CAssociatedOutboundNumbersResponse\u003E\n  \u003CSuccessCount\u003E1\u003C/SuccessCount\u003E\n  \u003CErrors\u003E\n    \u003CAssociatedOutboundNumber\u003E\n      \u003CNumber\u003E\u002B16175551212\u003C/Number\u003E\n      \u003CErrorReason\u003EInvalid Number Format\u003C/ErrorReason\u003E\n    \u003C/AssociatedOutboundNumber\u003E\n  \u003C/Errors\u003E\n\u003C/AssociatedOutboundNumbersResponse\u003E"},"createAssociatedOutboundNumbersResponseJsonExample":{"value":{"successCount":1,"errors":[{"phoneNumber":16175551212,"errorReason":"Invalid Number Format"}]}},"subAccountTotalSeatsSuccessXmlExample":{"description":"An example of total seats displayed for a Sub-Account (Site)","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n\u003CSiteTotalSeatsResponse\u003E\n  \u003CUcTrunkingSeats\u003E\n    \u003CTotalCount\u003E16\u003C/TotalCount\u003E\n  \u003C/UcTrunkingSeats\u003E\n\u003C/SiteTotalSeatsResponse\u003E"},"subAccountTotalSeatsErrorXmlExample":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n\u003CSiteTotalSeatsResponse\u003E\n  \u003CResponseStatus\u003E\n    \u003CErrorCode\u003E12017\u003C/ErrorCode\u003E\n    \u003CDescription\u003EAccount \u002712346099\u0027 does not have product \u0027UcTrunking\u0027\u003C/Description\u003E\n  \u003C/ResponseStatus\u003E\n\u003C/SiteTotalSeatsResponse\u003E"}},"schemas":{"accountJson":{"type":"object","properties":{"accountId":{"$ref":"#/components/schemas/id"},"globalAccountNumber":{"$ref":"#/components/schemas/globalAccountNumber"},"companyName":{"$ref":"#/components/schemas/name"},"contact":{"$ref":"#/components/schemas/contactJson"},"customerSegment":{"$ref":"#/components/schemas/customerSegment"},"tiers":{"type":"array","items":{"$ref":"#/components/schemas/tier"}},"accountRelationship":{"$ref":"#/components/schemas/accountRelationship"},"accountType":{"$ref":"#/components/schemas/accountType"},"address":{"$ref":"#/components/schemas/addressJson"},"altSpid":{"$ref":"#/components/schemas/altSpid"},"associatedCatapultAccount":{"$ref":"#/components/schemas/associatedCatapultAccount"},"billingCycle":{"$ref":"#/components/schemas/billingCycle"},"default911Provider":{"$ref":"#/components/schemas/default911Provider"},"externalId":{"$ref":"#/components/schemas/externalId"},"linkedAddresses":{"type":"array","items":{"$ref":"#/components/schemas/linkedAddressJson"}},"maxTnsForAutomatedPort":{"$ref":"#/components/schemas/maxTnsForAutomatedPort"},"nenaId":{"$ref":"#/components/schemas/nenaId"},"penaltyType":{"$ref":"#/components/schemas/penaltyType"},"portCarrierType":{"$ref":"#/components/schemas/portCarrierType"},"pricing":{"$ref":"#/components/schemas/pricing"},"spid":{"$ref":"#/components/schemas/spid"},"supportLevel":{"$ref":"#/components/schemas/supportLevel"}}},"addressJson":{"properties":{"addressLine2":{"$ref":"#/components/schemas/addressLine2"},"addressType":{"$ref":"#/components/schemas/addressType"},"city":{"$ref":"#/components/schemas/city"},"country":{"$ref":"#/components/schemas/country"},"county":{"$ref":"#/components/schemas/county"},"houseNumber":{"$ref":"#/components/schemas/houseNumber"},"housePrefix":{"$ref":"#/components/schemas/housePrefix"},"houseSuffix":{"$ref":"#/components/schemas/houseSuffix"},"latitude":{"$ref":"#/components/schemas/latitude"},"longitude":{"$ref":"#/components/schemas/longitude"},"plusFour":{"$ref":"#/components/schemas/plusFour"},"postDirectional":{"$ref":"#/components/schemas/postDirectional"},"preDirectional":{"$ref":"#/components/schemas/preDirectional"},"stateCode":{"$ref":"#/components/schemas/stateCode"},"streetName":{"$ref":"#/components/schemas/streetName"},"streetSuffix":{"$ref":"#/components/schemas/streetSuffix"},"zip":{"$ref":"#/components/schemas/zip"}},"type":"object"},"contactJson":{"properties":{"firstName":{"$ref":"#/components/schemas/firstName"},"lastName":{"$ref":"#/components/schemas/lastName"},"email":{"$ref":"#/components/schemas/email"},"fax":{"$ref":"#/components/schemas/fax"},"mobile":{"$ref":"#/components/schemas/mobile"},"otherPhone":{"$ref":"#/components/schemas/phone"},"phoneNumber":{"$ref":"#/components/schemas/phone"},"suffix":{"$ref":"#/components/schemas/suffix"},"title":{"$ref":"#/components/schemas/title"},"websiteAddress":{"$ref":"#/components/schemas/websiteAddress"}},"type":"object"},"linkedAddressJson":{"type":"object","properties":{"addressId":{"$ref":"#/components/schemas/addressId"},"addressType":{"$ref":"#/components/schemas/addressType"},"link":{"example":"https://api.bandwidth.com/api/v2/accounts/14/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0","readOnly":true,"type":"string"}}},"genericJsonResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/data"},"errors":{"$ref":"#/components/schemas/errors"},"links":{"$ref":"#/components/schemas/links"}}},"subAccountForGlobalAddressJson":{"properties":{"name":{"$ref":"#/components/schemas/name"},"description":{"$ref":"#/components/schemas/description"},"linkedAddresses":{"type":"array","items":{"$ref":"#/components/schemas/linkedAddressJson"}},"customerProvidedId":{"$ref":"#/components/schemas/customerProvidedId"},"customerName":{"$ref":"#/components/schemas/customName"}}},"createSubAccountJsonRequest":{"anyOf":[{"$ref":"#/components/schemas/subAccountForNonUcJson"},{"$ref":"#/components/schemas/subAccountForUcJson"},{"$ref":"#/components/schemas/subAccountForGlobalAddressJson"}],"type":"object","required":["name"]},"subAccountForNonUcJson":{"type":"object","allOf":[{"$ref":"#/components/schemas/subAccountForGlobalAddressJson"}],"properties":{"address":{"$ref":"#/components/schemas/addressJson"}}},"subAccountForUcJson":{"allOf":[{"$ref":"#/components/schemas/subAccountForGlobalAddressJson"}],"required":["ucTrunkingConfiguration"],"properties":{"address":{"$ref":"#/components/schemas/addressJson"},"ucTrunkingConfiguration":{"description":"For UC Trunking accounts the UcTrunkingConfiguration element describes the kind of UC trunking that is provided. The Type parameter is one of Seats, Premise, or Cloud, and the UsageCategory parameter is one of UC250, UC500 or UC1000.","type":"object","properties":{"type":{"$ref":"#/components/schemas/ucType"},"usageCategory":{"$ref":"#/components/schemas/ucUsageCategory"}}}}},"subAccountJson":{"type":"object","allOf":[{"$ref":"#/components/schemas/subAccountForGlobalAddressJson"}],"properties":{"id":{"$ref":"#/components/schemas/id"},"address":{"$ref":"#/components/schemas/addressJson"},"ucTrunkingConfiguration":{"description":"For UC Trunking accounts the UcTrunkingConfiguration element describes the kind of UC trunking that is provided. The Type parameter is one of Seats, Premise, or Cloud, and the UsageCategory parameter is one of UC250, UC500 or UC1000.","type":"object","properties":{"type":{"$ref":"#/components/schemas/ucType"},"usageCategory":{"$ref":"#/components/schemas/ucUsageCategory"}}}}},"subAccountsResponseJsonObject":{"type":"object","properties":{"subAccounts":{"type":"array","items":{"$ref":"#/components/schemas/subAccountsJson"}}}},"subAccountsJson":{"properties":{"id":{"$ref":"#/components/schemas/id"},"name":{"$ref":"#/components/schemas/name"},"description":{"$ref":"#/components/schemas/description"},"ucTrunkingConfiguration":{"properties":{"Type":{"$ref":"#/components/schemas/ucType"}}},"locations":{"type":"array","items":{"$ref":"#/components/schemas/locationForSubAccountsJson"}},"totalPhoneNumberCount":{"$ref":"#/components/schemas/count"},"locationCount":{"$ref":"#/components/schemas/count"}}},"locationForSubAccountsJson":{"type":"object","properties":{"locationId":{"$ref":"#/components/schemas/id"},"locationName":{"$ref":"#/components/schemas/name"},"description":{"$ref":"#/components/schemas/description"},"phoneNumberCount":{"$ref":"#/components/schemas/count"},"isDefaultLocation":{"$ref":"#/components/schemas/isDefaultLocation"}}},"locationJson":{"type":"object","properties":{"locationId":{"$ref":"#/components/schemas/id"},"locationName":{"$ref":"#/components/schemas/name"},"description":{"$ref":"#/components/schemas/description"},"isDefaultLocation":{"$ref":"#/components/schemas/isDefaultLocation"},"finalDestinationUri":{"$ref":"#/components/schemas/finalDestinationUri"},"voiceHosts":{"description":"These addresses, comprised of HostName and optional Port, are used by the Bandwidth network to send calls to for Origination services. The VoiceHosts list of IP addresses used for an active/standby address selection mechanism, where the first address is attempted, followed by the second address and so on. Except under failure situations the first address in the list is preferred. Maximum of 10 hosts - can be IP address or Fully Qualified Domain Name","properties":{"hosts":{"type":"array","items":{"$ref":"#/components/schemas/hostJson"}}}},"voiceHostGroups":{"description":"The VoiceHostGroups element is comprised of one VoiceHostGroup element, which is used to randomly distribute traffic amongst up to 10 IP addresses. Failover behavior is retained within the group","type":"array","items":{"type":"object","properties":{"hosts":{"type":"array","items":{"$ref":"#/components/schemas/hostJson"}}}}},"originationRoutePlan":{"$ref":"#/components/schemas/originationRoutePlanJson"},"terminationHosts":{"x-internal":true,"description":"These addresses, comprised of IP or Subnet(CIDR format) and optional Port, are used by the Bandwidth network to send calls to for Termination services. Maximum of 10 hosts - can be IP address or subnets. In case of subnet you should specify NetworkAddress of subnet as IP","properties":{"terminationHosts":{"type":"array","items":{"$ref":"#/components/schemas/locationTerminationHostJson"}}}},"products":{"type":"array","items":{"type":"string","enum":["Origination","Termination","MESSAGING","E911","TollFree","UcTrunking","EdgeManagement","CORE","Iris","NumberManagement","Analytics","CampaignManagement"]}},"address":{"$ref":"#/components/schemas/addressJson"},"premiseTrunks":{"$ref":"#/components/schemas/premiseTrunks"},"callingName":{"$ref":"#/components/schemas/locationLineOptionDtoJson"},"suggestedAddresses":{"type":"array","items":{"$ref":"#/components/schemas/addressJson"}},"phoneNumberCount":{"$ref":"#/components/schemas/count"},"ssSendToCustomer":{"$ref":"#/components/schemas/ssSendToCustomer"},"pindropEnabled":{"$ref":"#/components/schemas/pindropEnabled"},"callVerificationEnabled":{"$ref":"#/components/schemas/callVerificationEnabled"}}},"hostJson":{"type":"object","properties":{"hostName":{"$ref":"#/components/schemas/hostName"},"port":{"$ref":"#/components/schemas/port"}}},"originationRoutePlanJson":{"type":"object","description":"The OriginationRoutePlan element consists of an action and a list of prioritized and weighted routes that tell Bandwidth where to send phone calls to phone numbers associated with the route plan.","properties":{"id":{"$ref":"#/components/schemas/originationRoutePlanId"},"originationRoutes":{"type":"array","items":{"$ref":"#/components/schemas/originationRoutePayloadJson"}},"action":{"$ref":"#/components/schemas/originationRoutePlanAction"}}},"originationRoutePayloadJson":{"type":"object","properties":{"name":{"$ref":"#/components/schemas/originationRoutePayloadName"},"endpoint":{"$ref":"#/components/schemas/originationRoutePayloadEndpoint"},"priority":{"$ref":"#/components/schemas/originationRoutePayloadPriority"},"weight":{"$ref":"#/components/schemas/originationRoutePayloadWeight"},"endpointType":{"$ref":"#/components/schemas/originationRoutePayloadEndpointType"}}},"locationTerminationHostJson":{"type":"object","properties":{"hostName":{"$ref":"#/components/schemas/hostName"},"port":{"$ref":"#/components/schemas/port"},"customerTrafficAllowed":{"$ref":"#/components/schemas/customerTrafficAllowed"}}},"locationLineOptionDtoJson":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/locationLineOptionDtoDisplay"},"enforced":{"$ref":"#/components/schemas/locationLineOptionDtoEnforced"}}},"createLocationJsonRequest":{"type":"object","required":["locationName"],"properties":{"locationName":{"$ref":"#/components/schemas/name"},"description":{"$ref":"#/components/schemas/description"},"isDefaultLocation":{"$ref":"#/components/schemas/isDefaultLocation"},"finalDestinationUri":{"$ref":"#/components/schemas/finalDestinationUri"},"voiceHosts":{"description":"These addresses, comprised of a \u0060hostName\u0060 and an optional \u0060port\u0060, are used by the Bandwidth network to send calls for origination services. The voiceHosts list of IP addresses are used for an active/standby address selection mechanism, where the first address is attempted, followed by the second address, and so on. Except under failure situations, the first address in the list is preferred. Maximum of 10 hosts - can be IP address or a fully qualified domain name.","properties":{"hosts":{"type":"array","items":{"$ref":"#/components/schemas/hostJson"}}}},"voiceHostGroups":{"description":"The VoiceHostGroups element is comprised of one VoiceHostGroup element, which is used to randomly distribute traffic amongst up to 10 IP addresses. Failover behavior is retained within the group","type":"array","items":{"type":"object","properties":{"hosts":{"type":"array","items":{"$ref":"#/com
[...]
