{"openapi":"3.0.0","info":{"title":"DASH","version":"1.0.0","contact":{"name":"Bandwidth Support"},"description":"A Bandwidth API to provision and manage emergency address information associated with telephone numbers.\n## Base Path\n\u0060https://service.dashcs.com/dash-api/xml/emergencyprovisioning/v1\u0060","x-server-configuration":{"default-environment":"production","default-server":"default","environments":[{"name":"production","servers":[{"name":"default","url":"https://service.dashcs.com/dash-api/xml/emergencyprovisioning/v1"}]},{"name":"staging","servers":[{"name":"default","url":"https://staging-service.dashcs.com/dash-api/xml/emergencyprovisioning/v1"}]},{"name":"custom","servers":[{"name":"default","url":"{base_url}"}]}],"parameters":[{"name":"base_url","description":"","type":"string","example":"https://www.example.com"}]}},"servers":[{"url":"https://service.dashcs.com/dash-api/xml/emergencyprovisioning/v1","description":"Production","variables":{}},{"url":"https://staging-service.dashcs.com/dash-api/xml/emergencyprovisioning/v1","description":"Staging","variables":{}}],"tags":[{"name":"Authentication Check"},{"name":"URIs"},{"name":"Locations"}],"paths":{"/authenticationcheck":{"get":{"summary":"Authentication Check","description":"A convenience method that always returns true if credentials passed in the authorization header are valid. You can use this to make sure your authentication is working.","operationId":"authenticationcheck","tags":["Authentication Check"],"responses":{"200":{"description":"OK","content":{"text/xml":{"schema":{"$ref":"#/components/schemas/AuthenticationCheckResponse"},"examples":{"successfulResponse":{"summary":"Successful Response","value":"\u003Cns2:getAuthenticationCheckResponse xmlns:ns2=\u0022http://dashcs.com/api/v1/emergency\u0022\u003E\n\n\n    \u003CAuthValid\u003Etrue\u003C/AuthValid\u003E\n\u003C/ns2:getAuthenticationCheckResponse\u003E"}}}}},"401":{"description":"Unauthorized"}}}},"/uris":{"get":{"tags":["URIs"],"summary":"URIs","description":"Find all of the URIs belonging to the requesting customer that has active emergency services.","operationId":"getUris","responses":{"200":{"description":"OK","content":{"text/xml":{"schema":{"$ref":"#/components/schemas/UrisResponse"},"examples":{"successfulResponse":{"summary":"Successful Response","value":"\u003Cns2:getURIsResponse xmlns:ns2=\u0022http://dashcs.com/api/v1/emergency\u0022\u003E\n\n\n    \u003CURIs\u003E\n        \u003Curis\u003E\n            \u003Ccallername\u003ECaller One\u003C/callername\u003E\n            \u003Curi\u003Etel:19195551234\u003C/uri\u003E\n        \u003C/uris\u003E\n        \u003Curis\u003E\n            \u003Ccallername\u003ECaller Two\u003C/callername\u003E\n            \u003Curi\u003Etel:19195554321\u003C/uri\u003E\n        \u003C/uris\u003E\n        \u003Curis\u003E\n            \u003Ccallername\u003ECaller Three\u003C/callername\u003E\n            \u003Curi\u003Etel:19195559876\u003C/uri\u003E\n        \u003C/uris\u003E\n    \u003C/URIs\u003E\n\u003C/ns2:getURIsResponse\u003E"}}}}},"401":{"description":"Unauthorized"}}}},"/locationsbyuri/{uri}":{"get":{"tags":["URIs"],"summary":"Locations by URI","description":"Find all the locations associated with the given URI.","operationId":"getLocationsByUri","parameters":[{"name":"uri","in":"path","required":true,"description":"The 11 digit phone number for the subscriber. The \u0022tel:\u0022 prefix is not supported for the URI in this operation.","schema":{"type":"string"},"example":"13035551234"}],"responses":{"200":{"description":"OK","content":{"text/xml":{"schema":{"$ref":"#/components/schemas/GetLocationsByUriResponse"},"examples":{"successfulResponse":{"summary":"Successful Response","value":"\u003Cns0:getLocationsByURIResponse xmlns:ns0=\u0022http://dashcs.com/api/v1/emergency\u0022 xmlns:xsi=\u0022http://www.w3.org/2001/XMLSchema-instance\u0022\u003E\n\n\n    \u003CLocations\u003E\n        \u003Cactivatedtime\u003E2014-10-08T16:57:48Z\u003C/activatedtime\u003E\n        \u003Caddress1\u003E1855 BLAKE ST\u003C/address1\u003E\n        \u003Caddress2 xsi:nil=\u0022true\u0022 /\u003E\n        \u003Ccallername\u003EBandwidth Test User 1\u003C/callername\u003E\n        \u003Ccomments xsi:nil=\u0022true\u0022 /\u003E\n        \u003Ccommunity\u003EDENVER\u003C/community\u003E\n        \u003Ccustomerorderid xsi:nil=\u0022true\u0022 /\u003E\n        \u003Clatitude\u003E39.75302\u003C/latitude\u003E\n        \u003Clegacydata\u003E\n            \u003Chousenumber\u003E1855\u003C/housenumber\u003E\n            \u003Cpredirectional xsi:nil=\u0022true\u0022 /\u003E\n            \u003Cstreetname\u003EBLAKE ST\u003C/streetname\u003E\n            \u003Csuite xsi:nil=\u0022true\u0022 /\u003E\n        \u003C/legacydata\u003E\n        \u003Clocationid\u003E20914831\u003C/locationid\u003E\n        \u003Clongitude\u003E-104.996203\u003C/longitude\u003E\n        \u003Cplusfour\u003E1288\u003C/plusfour\u003E\n        \u003Cpostalcode\u003E80202\u003C/postalcode\u003E\n        \u003Cstate\u003ECO\u003C/state\u003E\n        \u003Cstatus\u003E\n            \u003Ccode\u003EPROVISIONED\u003C/code\u003E\n            \u003Cdescription\u003ELocation is currently provisioned for URI\u003C/description\u003E\n        \u003C/status\u003E\n        \u003Ctype\u003EADDRESS\u003C/type\u003E\n        \u003Cupdatetime\u003E2014-10-08T17:23:49Z\u003C/updatetime\u003E\n    \u003C/Locations\u003E\n    \u003CLocations\u003E\n        \u003Cactivatedtime\u003E2014-10-08T16:57:48Z\u003C/activatedtime\u003E\n        \u003Caddress1\u003E2850 ST LAWERENCE AVE\u003C/address1\u003E\n        \u003Caddress2 xsi:nil=\u0022true\u0022 /\u003E\n        \u003Ccallername\u003EBandwidth Test User 1\u003C/callername\u003E\n        \u003Ccomments xsi:nil=\u0022true\u0022 /\u003E\n        \u003Ccommunity\u003EREADING\u003C/community\u003E\n        \u003Ccustomerorderid xsi:nil=\u0022true\u0022 /\u003E\n        \u003Clatitude\u003E40.331245\u003C/latitude\u003E\n        \u003Clegacydata\u003E\n            \u003Chousenumber\u003E2850\u003C/housenumber\u003E\n            \u003Cpredirectional xsi:nil=\u0022true\u0022 /\u003E\n            \u003Cstreetname\u003EST LAWERENCE AVE\u003C/streetname\u003E\n            \u003Csuite xsi:nil=\u0022true\u0022 /\u003E\n        \u003C/legacydata\u003E\n        \u003Clocationid\u003E21018169\u003C/locationid\u003E\n        \u003Clongitude\u003E-75.849602\u003C/longitude\u003E\n        \u003Cplusfour xsi:nil=\u0022true\u0022 /\u003E\n        \u003Cpostalcode\u003E19606\u003C/postalcode\u003E\n        \u003Cstate\u003EPA\u003C/state\u003E\n        \u003Cstatus\u003E\n            \u003Ccode\u003EGEOCODED\u003C/code\u003E\n            \u003Cdescription\u003ELocation is geocoded\u003C/description\u003E\n        \u003C/status\u003E\n        \u003Ctype\u003EADDRESS\u003C/type\u003E\n        \u003Cupdatetime\u003E2015-04-08T23:45:07Z\u003C/updatetime\u003E\n    \u003C/Locations\u003E\n\u003C/ns0:getLocationsByURIResponse\u003E"}}}}},"401":{"description":"Unauthorized"}}}},"/provisionedlocationbyuri/{uri}":{"get":{"tags":["URIs"],"summary":"Provisioned Location by URI","description":"Get the provisioned location associated with a URI. You can have multiple locations associated with a URI but only one can be provisioned at a time.","operationId":"getProvisionedLocationByUri","parameters":[{"name":"uri","in":"path","required":true,"description":"The 11 digit phone number for the subscriber. The \u0022tel:\u0022 prefix is not supported for the URI in this operation.","schema":{"type":"string"},"example":"13035551234"}],"responses":{"200":{"description":"OK","content":{"text/xml":{"schema":{"$ref":"#/components/schemas/GetProvisionedLocationByUriResponse"},"examples":{"successfulResponse":{"summary":"Successful Response","value":"\u003Cns0:getLocationsByURIResponse xmlns:ns0=\u0022http://dashcs.com/api/v1/emergency\u0022 xmlns:xsi=\u0022http://www.w3.org/2001/XMLSchema-instance\u0022\u003E\n\n\n    \u003CLocation\u003E\n        \u003Cactivatedtime\u003E2014-10-08T16:57:48Z\u003C/activatedtime\u003E\n        \u003Caddress1\u003E1855 BLAKE ST\u003C/address1\u003E\n        \u003Caddress2 xsi:nil=\u0022true\u0022 /\u003E\n        \u003Ccallername\u003EBandwidth Test User 1\u003C/callername\u003E\n        \u003Ccomments xsi:nil=\u0022true\u0022 /\u003E\n        \u003Ccommunity\u003EDENVER\u003C/community\u003E\n        \u003Ccustomerorderid xsi:nil=\u0022true\u0022 /\u003E\n        \u003Clatitude\u003E39.75302\u003C/latitude\u003E\n        \u003Clegacydata\u003E\n            \u003Chousenumber\u003E1855\u003C/housenumber\u003E\n            \u003Cpredirectional xsi:nil=\u0022true\u0022 /\u003E\n            \u003Cstreetname\u003EBLAKE ST\u003C/streetname\u003E\n            \u003Csuite xsi:nil=\u0022true\u0022 /\u003E\n        \u003C/legacydata\u003E\n        \u003Clocationid\u003E20914831\u003C/locationid\u003E\n        \u003Clongitude\u003E-104.996203\u003C/longitude\u003E\n        \u003Cplusfour\u003E1288\u003C/plusfour\u003E\n        \u003Cpostalcode\u003E80202\u003C/postalcode\u003E\n        \u003Cstate\u003ECO\u003C/state\u003E\n        \u003Cstatus\u003E\n            \u003Ccode\u003EPROVISIONED\u003C/code\u003E\n            \u003Cdescription\u003ELocation is currently provisioned for URI\u003C/description\u003E\n        \u003C/status\u003E\n        \u003Ctype\u003EADDRESS\u003C/type\u003E\n        \u003Cupdatetime\u003E2014-10-08T17:23:49Z\u003C/updatetime\u003E\n    \u003C/Location\u003E\n\u003C/ns0:getLocationsByURIResponse\u003E"}}}}},"401":{"description":"Unauthorized"}}}},"/provisionedlocationhistorybyuri/{uri}":{"get":{"tags":["URIs"],"summary":"Provisoned Location History by URI","description":"Given a URI find the provisioned location and histories.","operationId":"getProvisionedLocationHistoryByUri","parameters":[{"name":"uri","in":"path","required":true,"description":"The 11 digit phone number for the subscriber. The \u0022tel:\u0022 prefix is not supported for the URI in this operation.","schema":{"type":"string"},"example":"13035551234"}],"responses":{"200":{"description":"OK","content":{"text/xml":{"schema":{"$ref":"#/components/schemas/GetProvisionedLocationHistoryByUriResponse"},"examples":{"successfulResponse":{"summary":"Successful Response","value":"\u003Cns2:getProvisionedLocationHistoryByURIResponse xmlns:ns2=\u0022http://dashcs.com/api/v1/emergency\u0022\u003E\n\n\n    \u003CProvisionedLocations\u003E\n        \u003Cactivatedtime\u003E2010-11-18T23:19:40Z\u003C/activatedtime\u003E\n        \u003Caddress1\u003E1002 BYRD LN\u003C/address1\u003E\n        \u003Caddress2 xmlns:xsi=\u0022http://www.w3.org/2001/XMLSchema-instance\u0022 xsi:nil=\u0022true\u0022\u003E\u003C/address2\u003E\n        \u003Ccallername\u003ELarry Reeder\u003C/callername\u003E\n        \u003Ccomments xmlns:xsi=\u0022http://www.w3.org/2001/XMLSchema-instance\u0022 xsi:nil=\u0022true\u0022\u003E\u003C/comments\u003E\n        \u003Ccommunity\u003EPLEASANTON\u003C/community\u003E\n        \u003Ccustomerorderid xmlns:xsi=\u0022http://www.w3.org/2001/XMLSchema-instance\u0022 xsi:nil=\u0022true\u0022\u003E\u003C/customerorderid\u003E\n        \u003Clatitude\u003E37.63894\u003C/latitude\u003E\n        \u003Clegacydata\u003E\n            \u003Chousenumber\u003E1002\u003C/housenumber\u003E\n            \u003Cpredirectional xmlns:xsi=\u0022http://www.w3.org/2001/XMLSchema-instance\u0022 xsi:nil=\u0022true\u0022\u003E\u003C/predirectional\u003E\n            \u003Cstreetname\u003EBYRD LN\u003C/streetname\u003E\n            \u003Csuite xmlns:xsi=\u0022http://www.w3.org/2001/XMLSchema-instance\u0022 xsi:nil=\u0022true\u0022\u003E\u003C/suite\u003E\n        \u003C/legacydata\u003E\n        \u003Clocationid xmlns:xsi=\u0022http://www.w3.org/2001/XMLSchema-instance\u0022 xsi:nil=\u0022true\u0022\u003E\u003C/locationid\u003E\n        \u003Clongitude\u003E-121.871018\u003C/longitude\u003E\n        \u003Cplusfour\u003E9706\u003C/plusfour\u003E\n        \u003Cpostalcode\u003E94566\u003C/postalcode\u003E\n        \u003Cstate\u003ECA\u003C/state\u003E\n        \u003Cstatus xmlns:xsi=\u0022http://www.w3.org/2001/XMLSchema-instance\u0022 xsi:nil=\u0022true\u0022\u003E\u003C/status\u003E\n        \u003Ctype\u003EADDRESS\u003C/type\u003E\n        \u003Cupdatetime\u003E2010-04-20T15:06:16Z\u003C/updatetime\u003E\n    \u003C/ProvisionedLocations\u003E\n\u003C/ns2:getProvisionedLocationHistoryByURIResponse\u003E"}}}}},"401":{"description":"Unauthorized"}}}},"/validatelocation":{"post":{"tags":["Locations"],"summary":"Validate Location","description":"Validate an address.","operationId":"validateLocation","requestBody":{"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ValidateLocationRequest"},"examples":{"Payload":{"value":"\u003CvalidateLocation\u003E\n \u003Clocation\u003E\n   \u003Caddress1\u003E2040 Larimer\u003C/address1\u003E\n   \u003Ccommunity\u003EDenver\u003C/community\u003E\n   \u003Cstate\u003ECO\u003C/state\u003E\n   \u003Cpostalcode\u003E80205\u003C/postalcode\u003E\n   \u003Ctype\u003EADDRESS\u003C/type\u003E\n \u003C/location\u003E\n\u003C/validateLocation\u003E"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/xml":{"schema":{"$ref":"#/components/schemas/ValidateLocationResponse"},"examples":{"successfulResponse":{"summary":"Successful Response","value":"\u003Cns1:validateLocationResponse xmlns:ns1=\u201Dhttp://dashcs.com/api/v1/emergency\u201D\u003E\n\n\n  \u003CLocation\u003E\n    \u003Caddress1\u003E2040 Larimer St\u003C/address1\u003E\n    \u003Ccommunity\u003EDenver\u003C/community\u003E\n    \u003Clatitude\u003E39.753439\u003C/latitude\u003E\n    \u003Clegacydata\u003E\n    \u003Clongitude\u003E-104.991949\u003C/longitude\u003E\n    \u003Cplusfour\u003E2015\u003C/plusfour\u003E\n    \u003Cpostalcode\u003E80205\u003C/postalcode\u003E\n    \u003Cstate\u003ECO\u003C/state\u003E\n    \u003Cstatus\u003E\n      \u003Ccode\u003EGEOCODED\u003C/code\u003E\n      \u003Cdescription\u003ELocation is geocoded\u003C/description\u003E\n    \u003C/status\u003E\n    \u003Ctype\u003EADDRESS\u003C/type\u003E\n \u003C/Location\u003E\n\u003C/ns1:validateLocationResponse\u003E"}}}}},"401":{"description":"Unauthorized"}}}},"/addlocation":{"post":{"tags":["Locations"],"summary":"Add Location","description":"Add a location and associate it with a URI.","operationId":"addLocation","requestBody":{"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/AddLocationRequest"},"examples":{"Payload":{"value":"\u003CaddLocation\u003E\n  \u003Curi\u003E\n     \u003Curi\u003E13035551236\u003C/uri\u003E\n     \u003Ccallername\u003EBandwidth Test User 3\u003C/callername\u003E\n  \u003C/uri\u003E\n  \u003Clocation\u003E\n    \u003Caddress1\u003E1860 Blake St\u003C/address1\u003E\n    \u003Caddress2\u003ESuite 420\u003C/address2\u003E\n    \u003Ccommunity\u003EDenver\u003C/community\u003E\n    \u003Cpostalcode\u003E80202\u003C/postalcode\u003E\n    \u003Cplusfour\u003E\u003C/plusfour\u003E\n    \u003Cstate\u003ECO\u003C/state\u003E\n    \u003Ctype\u003EADDRESS\u003C/type\u003E\n  \u003C/location\u003E\n\u003C/addLocation\u003E"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/xml":{"schema":{"$ref":"#/components/schemas/AddLocationResponse"},"examples":{"successfulResponse":{"summary":"Successful Response","value":"\u003Cns0:addLocationResponse xmlns:ns0=\u0022http://dashcs.com/api/v1/emergency\u0022 xmlns:xsi=\u0022http://www.w3.org/2001/XMLSchema-instance\u0022\u003E\n\n\n    \u003CLocation\u003E\n        \u003Cactivatedtime\u003E2018-03-12T13:24:26.296Z\u003C/activatedtime\u003E\n        \u003Caddress1\u003E1860 BLAKE ST\u003C/address1\u003E\n        \u003Caddress2\u003ESTE 420\u003C/address2\u003E\n        \u003Ccallername\u003EBandwidth Test User 3\u003C/callername\u003E\n        \u003Ccomments xsi:nil=\u0022true\u0022 /\u003E\n        \u003Ccommunity\u003EDENVER\u003C/community\u003E\n        \u003Ccustomerorderid xsi:nil=\u0022true\u0022 /\u003E\n        \u003Clatitude\u003E39.753095\u003C/latitude\u003E\n        \u003Clegacydata\u003E\n            \u003Chousenumber\u003E1860\u003C/housenumber\u003E\n            \u003Cpredirectional xsi:nil=\u0022true\u0022 /\u003E\n            \u003Cstreetname\u003EBLAKE ST\u003C/streetname\u003E\n            \u003Csuite\u003ESTE 420\u003C/suite\u003E\n        \u003C/legacydata\u003E\n        \u003Clocationid\u003E67880038\u003C/locationid\u003E\n        \u003Clongitude\u003E-104.995857\u003C/longitude\u003E\n        \u003Cplusfour\u003E1228\u003C/plusfour\u003E\n        \u003Cpostalcode\u003E80202\u003C/postalcode\u003E\n        \u003Cstate\u003ECO\u003C/state\u003E\n        \u003Cstatus\u003E\n            \u003Ccode\u003EGEOCODED\u003C/code\u003E\n            \u003Cdescription\u003ELocation is geocoded\u003C/description\u003E\n        \u003C/status\u003E\n        \u003Ctype\u003EADDRESS\u003C/type\u003E\n        \u003Cupdatetime xsi:nil=\u0022true\u0022 /\u003E\n    \u003C/Location\u003E\n\u003C/ns0:addLocationResponse\u003E"}}}}},"401":{"description":"Unauthorized"}}}},"/provisionlocation":{"post":{"tags":["Locations"],"summary":"Provision Location","description":"Provision a Location with a URI to set it as the address sent to the PSAP when the URI dials 911.","operationId":"provisionLocation","requestBody":{"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ProvisionLocationRequest"},"examples":{"Payload":{"value":"\u003CprovisionLocation\u003E\n   \u003Clocationid\u003E67880038\u003C/locationid\u003E\n\u003C/provisionLocation\u003E"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/xml":{"schema":{"$ref":"#/components/schemas/ProvisionLocationResponse"},"examples":{"successfulResponse":{"summary":"Successful Response","value":"\u003Cns0:provisionLocationResponse xmlns:ns0=\u0022http://dashcs.com/api/v1/emergency\u0022\u003E\n\n\n    \u003CLocationStatus\u003E\n        \u003Ccode\u003EPROVISIONED\u003C/code\u003E\n        \u003Cdescription\u003ELocation is currently provisioned for URI\u003C/description\u003E\n    \u003C/LocationStatus\u003E\n\u003C/ns0:provisionLocationResponse\u003E"}}}}},"401":{"description":"Unauthorized"}}}},"/removelocation":{"post":{"tags":["Locations"],"summary":"Remove Location","description":"Remove a Location.","operationId":"removeLocation","requestBody":{"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/RemoveLocationRequest"},"examples":{"Payload":{"value":"\u003CremoveLocation\u003E\n \u003Clocationid\u003E77\u003C/locationid\u003E\n\u003C/removeLocation\u003E"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/xml":{"schema":{"$ref":"#/components/schemas/RemoveLocationResponse"},"examples":{"successfulResponse":{"summary":"Successful Response","value":"\u003Cns0:removeLocationResponse xmlns:ns0=\u0022http://dashcs.com/api/v1/emergency\u0022\u003E\n\n\n    \u003CLocationStatus\u003E\n        \u003Ccode\u003EREMOVED\u003C/code\u003E\n        \u003Cdescription\u003ELocation removed from the system\u003C/description\u003E\n    \u003C/LocationStatus\u003E\n\u003C/ns0:removeLocationResponse\u003E"}}}}},"401":{"description":"Unauthorized"}}}},"/removeuri":{"post":{"tags":["URIs"],"summary":"Remove URI","description":"Remove a URI. Also remove all locations that were associated with the URI","operationId":"removeUri","requestBody":{"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/RemoveUriRequest"},"examples":{"Payload":{"value":"\u003CremoveUri\u003E\n   \u003Curi\u003E13035551236\u003C/uri\u003E\n\u003C/removeUri\u003E"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/xml":{"schema":{"$ref":"#/components/schemas/RemoveUriResponse"},"examples":{"successfulResponse":{"summary":"Successful Response","value":"\u003Cns0:removeURIResponse xmlns:ns0=\u0022http://dashcs.com/api/v1/emergency\u0022\u003E\n\n\n    \u003CURIStatus\u003E\n        \u003Ccode\u003EREMOVED\u003C/code\u003E\n        \u003Cdescription\u003EURI removed from system\u003C/description\u003E\n    \u003C/URIStatus\u003E\n\u003C/ns0:removeURIResponse\u003E"}}}}},"401":{"description":"Unauthorized"}}}}},"components":{"schemas":{"location":{"type":"object","properties":{"address1":{"type":"string","description":"Address Line 1"},"address2":{"type":"string","description":"Optional Address Line 2"},"community":{"type":"string","description":"City or Town"},"postalcode":{"type":"string","description":"Postal or ZIP Code"},"plusfour":{"type":"string","description":"Optional \u002B4 ZIP digits"},"state":{"type":"string","description":"State/Province"},"type":{"type":"string","description":"Location type. Only \u0022ADDRESS\u0022 is supported."}}},"Location":{"type":"object","properties":{"activatedtime":{"type":"string","description":"Time that the most recent address was activated (provisioned) for the endpoint (in UTC)"},"address1":{"type":"string","description":"Address Line 1"},"address2":{"type":"string","description":"Optional Address Line 2"},"callername":{"type":"string","description":"Name of subscriber that owns the uri"},"comments":{"type":"string","description":"Customer defined comments for this location. This information is NOT delivered to the PSAP and is only for customer use."},"community":{"type":"string","description":"City or Town"},"customerorderid":{"type":"string","description":"Unused"},"latitude":{"type":"string","description":"Latitude of location"},"legacydata":{"type":"object","properties":{"housenumber":{"type":"string","description":"Address components for legacy API users. Deprecated for new API users."},"predirectional":{"type":"string","description":"Address components for legacy API users. Deprecated for new API users."},"streetname":{"type":"string","description":"Address components for legacy API users. Deprecated for new API users."},"suite":{"type":"string","description":"Address components for legacy API users. Deprecated for new API users."}}},"locationid":{"type":"string","description":"Customer-provided identifier for this location. If not defined, Bandwidth will generate one for new locations."},"longitude":{"type":"string","description":"Longitude of location"},"plusfour":{"type":"string","description":"Optional \u002B4 ZIP digits"},"postalcode":{"type":"string","description":"Postal or ZIP Code"},"state":{"type":"string","description":"State/Province"},"status":{"type":"object","properties":{"code":{"type":"string","description":"Numerical status code"},"description":{"type":"string","description":"Descriptive text for code"}}},"type":{"type":"string","description":"Location type. Only \u0022ADDRESS\u0022 is supported."},"updatetime":{"type":"string","description":"Last time the endpoint information was updated (in UTC)"}}},"Locations":{"type":"object","properties":{"activatedtime":{"type":"string","description":"Time  that the most recent address was activated (provisioned) for the endpoint (in UTC)"},"address1":{"type":"string","description":"Address Line 1"},"address2":{"type":"string","description":"Optional Address Line 2"},"callername":{"type":"string","description":"Name of subscriber that owns the uri"},"comments":{"type":"string","description":"Customer defined comments for this location. This information is NOT delivered to the PSAP and is only for customer use."},"community":{"type":"string","description":"City or Town"},"customerorderid":{"type":"string","description":"Unused"},"latitude":{"type":"string","description":"Latitude of location"},"legacydata":{"type":"object","properties":{"housenumber":{"type":"string","description":"Address components for legacy API users. Deprecated for new API users."},"predirectional":{"type":"string","description":"Address components for legacy API users. Deprecated for new API users."},"streetname":{"type":"string","description":"Address components for legacy API users. Deprecated for new API users."},"suite":{"type":"string","description":"Address components for legacy API users. Deprecated for new API users."}}},"locationid":{"type":"string","description":"Customer-provided identifier for this location. If not defined, Bandwidth will generate one for new locations."},"longitude":{"type":"string","description":"Longitude of location"},"plusfour":{"type":"string","description":"Optional \u002B4 ZIP digits"},"postalcode":{"type":"string","description":"Postal or ZIP Code"},"state":{"type":"string","description":"State/Province"},"status":{"type":"object","properties":{"code":{"type":"string","description":"Numerical status code"},"description":{"type":"string","description":"Descriptive text for code"}}},"type":{"type":"string","description":"Location type. Only \u0022ADDRESS\u0022 is supported."},"updatetime":{"type":"string","description":"Last time the endpoint information was updated (in UTC)"}}},"ProvisionedLocations":{"type":"object","properties":{"activatedtime":{"type":"string","description":"Time that the most recent address was activated (provisioned) for the endpoint (in UTC)"},"address1":{"type":"string","description":"Address Line 1"},"address2":{"type":"string","description":"Optional Address Line 2"},"callername":{"type":"string","description":"Name of subscriber that owns the uri"},"comments":{"type":"string","description":"Customer defined comments for this location. This information is NOT delivered to the PSAP and is only for customer use."},"community":{"type":"string","description":"City or Town"},"customerorderid":{"type":"string","description":"Unused"},"latitude":{"type":"string","description":"Latitude of location"},"legacydata":{"type":"object","properties":{"housenumber":{"type":"string","description":"Address components for legacy API users. Deprecated for new API users."},"predirectional":{"type":"string","description":"Address components for legacy API users. Deprecated for new API users."},"streetname":{"type":"string","description":"Address components for legacy API users. Deprecated for new API users."},"suite":{"type":"string","description":"Address components for legacy API users. Deprecated for new API users."}}},"locationid":{"type":"string","description":"Customer-provided identifier for this location. If not defined, Bandwidth will generate one for new locations."},"longitude":{"type":"string","description":"Longitude of location"},"plusfour":{"type":"string","description":"Optional \u002B4 ZIP digits"},"postalcode":{"type":"string","description":"Postal or ZIP Code"},"state":{"type":"string","description":"State/Province"},"status":{"type":"object","properties":{"code":{"type":"string","description":"Numerical status code"},"description":{"type":"string","description":"Descriptive text for code"}}},"type":{"type":"string","description":"Location type. Only \u0022ADDRESS\u0022 is supported."},"updatetime":{"type":"string","description":"Last time the endpoint information was updated (in UTC)"}}},"AuthenticationCheckResponse":{"title":"getAuthenticationCheckResponse","type":"object","properties":{"AuthValid":{"type":"boolean","description":"Whether or not credentials are valid"}}},"UrisResponse":{"title":"getURIsResponse","type":"object","properties":{"URIs":{"type":"object","properties":{"uris":{"type":"object","properties":{"callername":{"type":"string","description":"Name of subscriber for the endpoint"},"uri":{"type":"string","description":"Effectively the phone number of the subscriber. The URI can include the \u0022tel:\u0022 prefix, but it\u0027s not required."}}}}}}},"GetLocationsByUriResponse":{"title":"getLocationsByUriResponse","type":"array","items":{"$ref":"#/components/schemas/Locations"}},"GetProvisionedLocationByUriResponse":{"title":"getProvisionedLocationByUriResponse","type":"object","properties":{"Location":{"$ref":"#/components/schemas/Location"}}},"GetProvisionedLocationHistoryByUriResponse":{"title":"getProvisionedLocationHistoryByUriResponse","type":"array","items":{"$ref":"#/components/schemas/ProvisionedLocations"}},"ValidateLocationRequest":{"title":"validateLocation","type":"object","properties":{"location":{"$ref":"#/components/schemas/location"}}},"ValidateLocationResponse":{"title":"validateLocationResponse","type":"object","properties":{"Location":{"$ref":"#/components/schemas/Location"}}},"AddLocationRequest":{"title":"addLocation","type":"object","properties":{"uri":{"type":"object","properties":{"uri":{"type":"string","description":"Effectively the phone number of the subscriber. The URI can include the \u0022tel:\u0022 prefix, but it\u0027s not required."},"callername":{"type":"string","description":"Name of subscriber for the endpoint"}}},"location":{"$ref":"#/components/schemas/location"}}},"AddLocationResponse":{"title":"addLocationResponse","type":"object","properties":{"Location":{"$ref":"#/components/schemas/Location"}}},"ProvisionLocationRequest":{"title":"provisionLocation","type":"object","properties":{"locationid":{"type":"string","description":"Identifier for this location."}}},"ProvisionLocationResponse":{"title":"provisionLocationResponse","type":"object","properties":{"LocationStatus":{"type":"object","properties":{"code":{"type":"string","description":"Numerical status code"},"description":{"type":"string","description":"Descriptive text for code"}}}}},"RemoveLocationRequest":{"title":"removeLocation","type":"object","properties":{"locationid":{"type":"string","description":"Identifier for this location."}}},"RemoveLocationResponse":{"title":"removeLocationResponse","type":"object","properties":{"LocationStatus":{"type":"object","properties":{"code":{"type":"string","description":"Numerical status code"},"description":{"type":"string","description":"Descriptive text for code"}}}}},"RemoveUriRequest":{"title":"removeUri","type":"object","properties":{"locationid":{"type":"string","description":"Identifier for this location."}}},"RemoveUriResponse":{"title":"removeURIResponse","type":"object","properties":{"URIStatus":{"type":"object","properties":{"code":{"type":"string","description":"Numerical status code"},"description":{"type":"string","description":"Descriptive text for code"}}}}}},"securitySchemes":{"httpBasic":{"type":"http","scheme":"basic"}}},"security":[{"httpBasic":[]}]}