{"openapi":"3.1.0","info":{"title":"End User Management","description":"Bandwidth\u0027s End User Management API allows you to manage addresses,\nvalidate them, and handle compliance requirements for end users.\n\n  - Addresses Management\n  - Compliance\n  - Requirements Packages","version":"1.0.0","contact":{"name":"Bandwidth","url":"https://support.bandwidth.com","email":"support@bandwidth.com"},"termsOfService":"https://www.bandwidth.com/legal/terms-of-use-bandwidthcom-web-sites/"},"servers":[{"url":"https://api.bandwidth.com/api/v2","description":"Production"}],"paths":{"/addresses/fields/{countryCodeA3}":{"get":{"summary":"Get Address Fields","operationId":"getAddressFields","description":"Get a list of address fields that is supported as per the country and feature specific requirements.","tags":["Addresses"],"parameters":[{"$ref":"#/components/parameters/countryCodeA3PathParam"}],"responses":{"200":{"$ref":"#/components/responses/getAddressFieldsResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/addresses/validator":{"post":{"summary":"Validate Address","operationId":"validateAddress","description":"Returns features that will NOT work for the entered address. Please note that independent features/services may have additional validation and absence from excludedFeatures does not guarantee that the address will be valid for the feature/service.","tags":["Addresses"],"parameters":[{"$ref":"#/components/parameters/accountId"}],"requestBody":{"$ref":"#/components/requestBodies/validateAddressRequest"},"responses":{"200":{"$ref":"#/components/responses/validateAddressResponse"},"400":{"$ref":"#/components/responses/validateAddressBadRequestResponse"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/addresses":{"get":{"summary":"List Addresses","operationId":"listAddresses","description":"List all addresses. The results are sorted by last updated time in reverse chronological order by default without any query filters.","tags":["Addresses"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/addressCustomReferenceQueryParamEqStartsWithContains"},{"$ref":"#/components/parameters/countryCodeA3QueryParamEq"},{"$ref":"#/components/parameters/cityQueryParamEqStartsWith"},{"$ref":"#/components/parameters/postalCodeQueryParamEqStartsWithContains"},{"$ref":"#/components/parameters/geoValidationStatusQueryParamEq"},{"$ref":"#/components/parameters/addressFieldsQueryParamContains"},{"$ref":"#/components/parameters/afterCursorQueryParam"},{"$ref":"#/components/parameters/limitQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/listAddressesResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}},"post":{"summary":"Create Address","operationId":"createAddress","description":"Create an address. Use GET /addresses/fields for full list of country specific address fields.","tags":["Addresses"],"parameters":[{"$ref":"#/components/parameters/accountId"}],"requestBody":{"$ref":"#/components/requestBodies/createAddressRequest"},"responses":{"201":{"$ref":"#/components/responses/createAddressResponse"},"400":{"$ref":"#/components/responses/createAddressBadRequestResponse"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/addresses/{addressId}":{"get":{"summary":"Get Address","operationId":"getAddress","description":"Get an address.","tags":["Addresses"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/addressIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getAddressResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}},"patch":{"summary":"Update Address","operationId":"updateAddress","description":"Update an address. Use GET /addresses/fields for full list of country specific address fields that can be updated.","tags":["Addresses"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/addressIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/updateAddressRequest"},"responses":{"200":{"$ref":"#/components/responses/updateAddressResponse"},"400":{"$ref":"#/components/responses/updateAddressBadRequestResponse"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/addresses/{countryCodeA3}/cityInfo":{"get":{"summary":"List City Info","operationId":"listCityInfo","description":"List city info search results.\n\nAllowed search parameter combinations:\n* city[startsWith]=Aalen\n* postalCode[startsWith]=734\n* city[eq]=Aalen\u0026postalCode[startsWith]=734\n","tags":["Addresses"],"parameters":[{"$ref":"#/components/parameters/cityInfoCountryCodeA3PathParam"},{"$ref":"#/components/parameters/cityInfoCityQueryParamEqStartsWith"},{"$ref":"#/components/parameters/cityInfoPostalCodeQueryParamStartsWith"}],"responses":{"200":{"$ref":"#/components/responses/listCityInfoResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/compliance/documentTypes":{"get":{"summary":"List Document Types","operationId":"listDocumentTypes","description":"List of all accepted document types and their metadata requirements.\nWhen \u003Ca href=\u0027#tag/Compliance/operation/addComplianceDocument\u0027\u003Eadding a document\u003C/a\u003E,\nthe \u0027fields\u0027 properties indicated as required are mandatory.\n","tags":["Compliance"],"responses":{"200":{"$ref":"#/components/responses/listDocumentTypesResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedEUMSError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/compliance/endUserTypes":{"get":{"summary":"List End User Types","operationId":"listEndUserTypes","description":"List of all End user types and the accepted metadata information.\nWhen \u003Ca href=\u0027#tag/Compliance/operation/createComplianceEndUser\u0027\u003Ecreating an End user\u003C/a\u003E,\nthe \u0027fields\u0027 properties indicated as required are mandatory.\n","tags":["Compliance"],"responses":{"200":{"$ref":"#/components/responses/listEndUserTypesResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedEUMSError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/compliance/requirements":{"get":{"summary":"List End User Activation Requirements","operationId":"listEndUserActivationRequirements","description":"Lists all requirements required to validate an End user and activate services.\nRequirements are set by - country, phone number type and End user type.\n\nThe fields mentioned above can also be used in a hierarchical manner to search for requirements.\nThis means that the country field is mandatory when filtering based on phone number type, and similarly,\nboth country and phone number type fields are mandatory when filtering for End user type.\n\nNote: The \u0027fields\u0027 properties in End user requirements and accepted documents indicated as\nrequired are mandatory to provide in the attached End user and document type assets before\nsubmitting a requirement package.\n\nExplore all available fields for End user using\n\u003Ca href=\u0027#tag/Compliance/operation/listEndUserTypes\u0027\u003Elist End user types\u003C/a\u003E\nand for document using \u003Ca href=\u0027#tag/Compliance/operation/listDocumentTypes\u0027\u003Elist document types\u003C/a\u003E.\n","tags":["Compliance"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/countryCodeA3QueryParamEq"},{"$ref":"#/components/parameters/phoneNumberTypeQueryParamEq"},{"$ref":"#/components/parameters/rpEndUserTypeQueryParamEq"}],"responses":{"200":{"$ref":"#/components/responses/listRequirementsResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedEUMSError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/compliance/documents/{documentId}":{"get":{"summary":"Get Compliance Document Metadata","operationId":"getComplianceDocumentMetadata","description":"Get all the metadata details of the uploaded document.","tags":["Compliance"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/documentIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getComplianceDocumentResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedEUMSError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}},"patch":{"summary":"Update Compliance Document Metadata and Files","operationId":"updateComplianceDocument","description":"Modify document data and file. Updates are only allowed in \u0060DRAFT\u0060 and \u0060VERIFICATION_FAILED\u0060 state.","tags":["Compliance"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/documentIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/updateComplianceDocumentRequest"},"responses":{"200":{"$ref":"#/components/responses/patchComplianceDocumentResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedEUMSError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/compliance/documents/{documentId}/fileContent":{"get":{"summary":"Download Compliance Document","operationId":"downloadComplianceDocuments","description":"Download document using the document id.\nDownload will fail if \u0027fileContentExists\u0027 from get document metadata is false.\n","tags":["Compliance"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/documentIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/downloadDocumentResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedEUMSError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/compliance/documents":{"post":{"summary":"Create Compliance Document","operationId":"createComplianceDocument","description":"Upload a document with metadata as part of any compliance requirements.\nOne document can be used only in one requirement package.\nTo successfully create a document, please provide all the mandatory fields\nmarked in \u003Ca href=\u0027#tag/Compliance/operation/listDocumentTypes\u0027\u003Elist document types\u003C/a\u003E.\nTo successfully submit a requirement package with this document, find all required fields\nusing \u003Ca href=\u0027#tag/Compliance/operation/listEndUserActivationRequirements\u0027\u003Elist End user activation requirements\u003C/a\u003E.\nThe document can be created with minimum fields mentioned in list document types and attached to the requirement package.\nAfter this, metadata can be updated using \u003Ca href=\u0027#tag/Compliance/operation/updateComplianceDocument\u0027\u003Eupdate document\u003C/a\u003E\nbefore submitting the requirement package.\n\nSupported file formats: pdf, jpeg, png, doc, docx.\nThe maximum file size currently supported is 5 MB.\n","tags":["Compliance"],"parameters":[{"$ref":"#/components/parameters/accountId"}],"requestBody":{"$ref":"#/components/requestBodies/addComplianceDocumentRequest"},"responses":{"201":{"$ref":"#/components/responses/addComplianceDocumentResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedEUMSError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/compliance/endUsers":{"get":{"summary":"List Compliance End Users","operationId":"listComplianceEndUsers","description":"List all End users of an account.\nThe results are sorted by last updated time in reverse chronological order by default without any query filters.\n\nThe following filters can be used to filter the result\n* End User Type\n* End User Type and End User Name\n* Custom Reference\n\nAlso, the results can be sorted by following fields\n* End User Name\n* Custom Reference\n","tags":["Compliance"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/endUserTypeQueryParamEq"},{"$ref":"#/components/parameters/endUserNameQueryParam"},{"$ref":"#/components/parameters/customReferenceQueryParam"},{"$ref":"#/components/parameters/rpLimitQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/listEndUsersResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedEUMSError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}},"post":{"summary":"Create Compliance End User","operationId":"createComplianceEndUser","description":"Create an End user.\nThis newly created End user can be attached to multiple requirement packages.\nAn End user resource can be created with minimum required fields.\nPlease find all minimum required fields for an End user type\nusing \u003Ca href=\u0027#tag/Compliance/operation/listEndUserTypes\u0027\u003Elist End user types\u003C/a\u003E.\nIf this End user is to be attached to multiple requirement packages,\nplease provide all mandatory fields common to all the requirement packages where this End\nuser needs to be attached before submitting one of the associated requirement packages.\nFind all required fields for End user for all the requirement packages where this End user needs to be\nattached using \u003Ca href=\u0027#tag/Compliance/operation/listEndUserActivationRequirements\u0027\u003Elist End user activation requirements\u003C/a\u003E.\nEnd user metadata can be updated with extra required fields after creation\nusing \u003Ca href=\u0027#tag/Compliance/operation/updateComplianceEndUser\u0027\u003Eupdate End user\u003C/a\u003E.\n","tags":["Compliance"],"parameters":[{"$ref":"#/components/parameters/accountId"}],"requestBody":{"$ref":"#/components/requestBodies/postRequirementsPackageEndUserBody"},"responses":{"201":{"$ref":"#/components/responses/createEndUserResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedEUMSError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/compliance/endUsers/{endUserId}":{"get":{"summary":"Get Compliance End User","operationId":"getComplianceEndUser","description":"Retrieve an End User by ID.","tags":["Compliance"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/endUserIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getEndUserResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedEUMSError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}},"patch":{"summary":"Update Compliance End User","operationId":"updateComplianceEndUser","description":"Update End user\u0027s details except \u0060type\u0060.\nUpdates are only allowed in \u0060DRAFT\u0060 and \u0060VERIFICATION_FAILED\u0060 state.\nPlease note that once an End user\u0027s fields have been provided, it can be edited, but can\u0027t be cleared or removed.\n","tags":["Compliance"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/endUserIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/patchRequirementsPackageEndUserBody"},"responses":{"200":{"$ref":"#/components/responses/updateEndUserResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedEUMSError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/compliance/requirementsPackages":{"get":{"summary":"List Requirements Packages","operationId":"listRequirementsPackages","description":"List all requirements packages.\nThe results are sorted by last updated time in reverse chronological order by default without any query filters.\n\nFollowing filters can be used to filter the result\n* Country Code : List requirements packages based on the country code.\n* Phone Number Type : List requirements packages based on the phone number type.\n* End user Type : List requirements packages based on the End user type.\n* Custom Reference : List requirements packages based on the custom reference.\n* Status : List requirements packages based on the status.\n","tags":["Requirements Packages"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/rpCountryCodeA3QueryParamEq"},{"$ref":"#/components/parameters/rpPhoneNumberTypeQueryParamEq"},{"$ref":"#/components/parameters/rpEndUserTypeQueryParamEq"},{"$ref":"#/components/parameters/statusQueryParamEq"},{"$ref":"#/components/parameters/rpCustomReferenceQueryParamStartsWith"},{"$ref":"#/components/parameters/rpLimitQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/listRequirementsPackageResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedEUMSError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}},"post":{"summary":"Create Requirements Package","operationId":"createRequirementsPackage","description":"Create a requirements package with a set of requirements.\nNote: Country, Phone Number Type and End User Type cannot be changed once created.\n","tags":["Requirements Packages"],"parameters":[{"$ref":"#/components/parameters/accountId"}],"requestBody":{"$ref":"#/components/requestBodies/postRequirementsPackageBody"},"responses":{"201":{"$ref":"#/components/responses/createRequirementsPackageResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedEUMSError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/compliance/requirementsPackages/{requirementsPackageId}":{"get":{"summary":"Get Requirements Package","operationId":"getRequirementsPackage","description":"Retrieve a requirements package using the id.","tags":["Requirements Packages"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/requirementsPackageIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getRequirementsPackageResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedEUMSError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}},"patch":{"summary":"Update Requirements Package","operationId":"patchRequirementsPackage","description":"Update Requirements package status to \u0060SUBMITTED\u0060 to submit a package.\n* \u0027acknowledgements\u0027 is required for submitting the package with \u0027allDetailsAccurate\u0027 set to true.\n* Once submitted, all associated assets will be locked and cannot be modified.\nUpdate custom reference, email, or callback.\n","tags":["Requirements Packages"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/requirementsPackageIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/patchRequirementsPackageBody"},"responses":{"200":{"$ref":"#/components/responses/updateRequirementsPackageResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedEUMSError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}},"delete":{"summary":"Delete Requirements Package","operationId":"deleteRequirementsPackage","description":"Delete the requirements package.\n* If any phone number is linked, you need to unlink it to delete the requirements package.\n* If there is activation history linked to a phone number in the requirements package, you cannot delete the requirements package.\n* Once deleted, the associated endUser and documents will be deleted and cannot be recovered.\n* Deletion is allowed in the \u0060DRAFT\u0060,\u0060DISABLED\u0060,\u0060SUBMITTED\u0060,\u0060VERIFIED\u0060,\u0060VERIFICATION_FAILED\u0060,\u0060AUTO_VALIDATED\u0060 states.\n","tags":["Requirements Packages"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/requirementsPackageIdPathParam"}],"responses":{"204":{"description":"No Content"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedEUMSError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"409":{"$ref":"#/components/responses/conflictError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/compliance/requirementsPackages/{requirementsPackageId}/assets":{"get":{"summary":"Get Requirements Package Assets","operationId":"getRequirementsPackageAssets","description":"Retrieve all assets attached to the requirements package with their details","tags":["Requirements Packages"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/requirementsPackageIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getRequirementsPackageAssetsResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedEUMSError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}},"post":{"summary":"Attach Requirements Package Asset","operationId":"attachRequirementsPackageAsset","description":"Attach an asset to the requirements package.\n","tags":["Requirements Packages"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/requirementsPackageIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/postRequirementsPackageAssetsBody"},"responses":{"201":{"$ref":"#/components/responses/createRequirementsPackageAssetResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedEUMSError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/compliance/requirementsPackages/{requirementsPackageId}/assets/{assetId}":{"delete":{"summary":"Detach Requirements Package Asset","operationId":"detachRequirementsPackageAsset","description":"Detach an asset from the requirements package.","tags":["Requirements Packages"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/requirementsPackageIdPathParam"},{"$ref":"#/components/parameters/requirementsPackageAssetIdPathParam"}],"responses":{"204":{"description":"No Content"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedEUMSError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/compliance/numberActivation/validator":{"post":{"summary":"Validate Number Activation","operationId":"validateNumberActivation","description":"Validate number activation requirements.","tags":["Requirements Packages"],"parameters":[{"$ref":"#/components/parameters/accountId"}],"requestBody":{"$ref":"#/components/requestBodies/postNumberActivationValidatorBody"},"responses":{"200":{"$ref":"#/components/responses/validateNumberActivationResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedEUMSError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/compliance/requirementsPackages/{requirementsPackageId}/history":{"get":{"tags":["Requirements Packages"],"summary":"Get Requirements Package History","operationId":"getRequirementsPackageHistory","description":"Get the history of a requirements package.","parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/requirementsPackageIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getRequirementsPackageHistoryResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedEUMSError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/compliance/requirementsPackages/{requirementsPackageId}/phoneNumbers/bulk":{"post":{"description":"Add, remove, or move a max of 5000 phone numbers to or from a requirements package.","operationId":"manageRequirementsPackageNumbers","parameters":[{"$ref":"#/components/parameters/accountIdInteger"},{"$ref":"#/components/parameters/requirementsPackageIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/postComplianceRequirementsPackageBulkRequestBody"},"responses":{"200":{"$ref":"#/components/responses/complianceRequirementsPackageBulkResponseSuccess"},"400":{"$ref":"#/components/responses/complianceRequirementsPackageBulkBadRequestError"},"401":{"$ref":"#/components/responses/unauthorizedErrorBasic"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/complianceRequirementsPackageBulkResourceNotFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"409":{"$ref":"#/components/responses/conflictError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerErrorComplianceRps"}},"summary":"Add, Move, or Remove Numbers from a Requirements Package","tags":["Requirements Packages"]}},"/accounts/{accountId}/compliance/admin/requirementsPackages/{requirementsPackageId}/legacy":{"patch":{"description":"Update Requirements package status to \u0060VERIFIED\u0060 to submit a legacy address.\nThis will execute the validations and store the failures but will not fail the update. Only an admin can perform this operation.\n* \u0027acknowledgements\u0027 is required for submitting the package with \u0027allDetailsAccurate\u0027 set to true.\n* Once submitted, all associated assets will be locked and cannot be modified.\nUpdate custom reference, email, or callback.\n","operationId":"updateLegacyRequirementsPackage","parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/requirementsPackageIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/patchMigrationRequirementsPackageBody"},"responses":{"200":{"$ref":"#/components/responses/updateMigrationRequirementsPackageSuccess"},"400":{"$ref":"#/components/responses/badRequestErrorComplianceRps"},"401":{"$ref":"#/components/responses/unauthorizedErrorBasic"},"403":{"$ref":"#/components/responses/forbiddenErrorComplianceRps"},"404":{"$ref":"#/components/responses/notFoundErrorComplianceRps"},"405":{"$ref":"#/components/responses/notAllowedErrorComplianceRps"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerErrorComplianceRps"}},"summary":"Submit Legacy Requirements Package","tags":["Requirements Packages"]}},"/accounts/{accountId}/compliance/requirementsPackages/{requirementsPackageId}/phoneNumbers":{"delete":{"description":"Accept the requirements package ID and delete all telephone numbers associated with the package. All numbers associated with the package should be deactivated first.","operationId":"deleteAllTelephoneNumbers","parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/requirementsPackageIdPathParam"}],"responses":{"204":{"description":"No Content"},"401":{"$ref":"#/components/responses/unauthorizedErrorBasic"},"404":{"$ref":"#/components/responses/complianceRequirementsPackageResourceNotFoundError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerErrorComplianceRps"}},"summary":"Remove all Telephone Numbers on a single Requirements Package","tags":["Requirements Packages"]},"get":{"description":"Accepts the requirements package ID and get all telephone numbers associated with the package.","operationId":"getPhoneNumbers","parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/requirementsPackageIdPathParam"},{"$ref":"#/components/parameters/pageQueryParam"},{"$ref":"#/components/parameters/sizeQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/complianceRequirementsPaginationResponseSuccess"},"401":{"$ref":"#/components/responses/unauthorizedErrorBasic"},"404":{"$ref":"#/components/responses/complianceRequirementsPaginationResourceNotFoundError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerErrorComplianceRps"}},"summary":"Get all Telephone Numbers of Requirements Package","tags":["Requirements Packages"]}}},"components":{"parameters":{"accountId":{"in":"path","name":"accountId","required":true,"schema":{"type":"string"},"description":"Your Bandwidth Account ID.","example":"9900000"},"accountIdInteger":{"in":"path","name":"accountId","required":true,"schema":{"type":"integer"},"description":"Your Bandwidth Account ID.","example":9900000},"addressIdPathParam":{"in":"path","name":"addressId","required":true,"schema":{"type":"string","example":"daa9dd0f-de97-4103-8530-b31bf4be8fc0"},"description":"The Address ID."},"cityInfoCountryCodeA3PathParam":{"name":"countryCodeA3","description":"Country Code A3.","in":"path","required":true,"schema":{"type":"string"},"example":"DEU"},"countryCodeA3PathParam":{"name":"countryCodeA3","description":"Country Code A3","in":"path","required":true,"schema":{"type":"string"},"example":"FRA"},"cityInfoCityQueryParamEqStartsWith":{"in":"query","name":"city","required":false,"style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/queryParamStringEqStartsWith"},"examples":{"eq":{"value":{"eq":"Aalen"}},"startsWith":{"value":{"startsWith":"Aal"}}},"description":"The name of the city. The system defaults to return all cities when the query parameter is not passed. The countryCodeA3 is a required parameter with city. Some phone number types like TOLL_FREE may not have any associated cities."},"cityInfoPostalCodeQueryParamStartsWith":{"in":"query","name":"postalCode","required":false,"style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/queryParamStringStartsWith"},"examples":{"startsWith":{"value":{"startsWith":"734"}}},"description":"The postal code of the address. The system defaults to return all\npostal codes when the query parameter is not passed. The countryCodeA3 is\na required parameter with postalCode.\n"},"addressCustomReferenceQueryParamEqStartsWithContains":{"in":"query","name":"customReference","required":false,"style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/queryParamStringEqStartsWithContains"},"examples":{"eq":{"value":{"eq":"home_office"}},"startsWith":{"value":{"startsWith":"home"}},"contains":{"value":{"contains":"office"}}},"description":"Custom reference enables flexible search operations including exact matches (eq),\nprefix-based searches (startsWith), and substring-based searches (contains).\n"},"geoValidationStatusQueryParamEq":{"in":"query","name":"geoValidationStatus","required":false,"style":"deepObject","explode":true,"schema":{"type":"object","properties":{"eq":{"$ref":"#/components/schemas/geoValidationStatusEnum"}}},"example":{"eq":"GEO_VALID"},"description":"Geo validation status which can be one of:\n  GEO_VALID, NOT_GEO_VALID, or NOT_GEO_VALIDATED.\n"},"countryCodeA3QueryParamEq":{"in":"query","name":"countryCodeA3","required":false,"style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/queryParamStringEq"},"example":{"eq":"USA"},"description":"Country code of the address in ISO 3166-1 alpha-3 format."},"cityQueryParamEqStartsWith":{"in":"query","name":"city","required":false,"style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/queryParamStringEqStartsWithContains"},"examples":{"eq":{"value":{"eq":"Seattle"}},"startsWith":{"value":{"startsWith":"Seat"}},"contains":{"value":{"contains":"eattl"}}},"description":"The name of the city. The system defaults to return all cities when the query parameter is not passed. The countryCodeA3 is a required parameter with city. Some phone number types like TOLL_FREE may not have any associated cities."},"postalCodeQueryParamEqStartsWithContains":{"in":"query","name":"postalCode","required":false,"style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/queryParamStringEqStartsWithContains"},"examples":{"eq":{"value":{"eq":"98072"}},"startsWith":{"value":{"startsWith":"9807"}},"contains":{"value":{"contains":"807"}}},"description":"The postal code of the address. The system defaults to return all postal codes when the query parameter is not passed. The countryCodeA3 is a required parameter with postalCode."},"addressFieldsQueryParamContains":{"description":"Any of the location-related fields in the address can be used.","examples":{"contains":{"value":{"contains":"123 Main"}}},"explode":true,"in":"query","name":"addressFields","required":false,"schema":{"$ref":"#/components/schemas/queryParamStringContains"}},"afterCursorQueryParam":{"in":"query","name":"afterCursor","required":false,"schema":{"type":"string"},"example":"ArAnD0m1d","description":"Returns the page after the last record on the current page."},"limitQueryParam":{"in":"query","name":"limit","required":false,"schema":{"type":"integer","default":10,"minimum":1,"maximum":100,"example":50},"description":"Limit the number of returned records."},"endUserIdPathParam":{"name":"endUserId","description":"EndUser ID","in":"path","required":true,"schema":{"type":"string"},"example":"dcb9dd0f-de97-4103-8530-b31bf4be8fc0"},"endUserTypeQueryParamEq":{"in":"query","name":"type","required":false,"style":"deepObject","explode":true,"schema":{"type":"object","properties":{"eq":{"$ref":"#/components/schemas/endUserTypeEnum"}}},"example":{"eq":"BUSINESS"},"description":"The type of end user."},"rpEndUserTypeQueryParamEq":{"in":"query","name":"endUserType","required":false,"style":"deepObject","explode":true,"schema":{"type":"object","properties":{"eq":{"$ref":"#/components/schemas/endUserTypeEnum"}}},"example":{"eq":"RESIDENTIAL"},"description":"The type of end user."},"endUserNameQueryParam":{"in":"query","name":"endUserName","required":false,"style":"deepObject","explode":true,"schema":{"type":"object","allOf":[{"$ref":"#/components/schemas/queryParamStringStartsWith"},{"type":"object","properties":{"sort":{"$ref":"#/components/schemas/sortEnum"}}}]},"examples":{"RESIDENTIAL":{"value":{"startsWith":"Adam"}},"BUSINESS":{"value":{"startsWith":"Alphabet"}}},"description":"The End user name in order \u0027FirstName LastName\u0027 or \u0027Business Name\u0027"},"rpLimitQueryParam":{"in":"query","name":"limit","required":false,"schema":{"type":"integer","default":10,"minimum":1,"maximum":100,"example":50},"description":"Limit the number of returned records."},"customReferenceQueryParam":{"in":"query","name":"customReference","required":false,"style":"deepObject","explode":true,"schema":{"type":"object","allOf":[{"$ref":"#/components/schemas/queryParamStringStartsWith"},{"type":"object","properties":{"sort":{"$ref":"#/components/schemas/sortEnum"}}}]},"example":{"startsWith":"home"},"description":"Custom reference filter, and can be combined with \u0027customReference[sort]\u0027"},"documentIdPathParam":{"in":"path","name":"documentId","required":true,"schema":{"type":"string"},"example":"ArAnD0m1d","description":"Document ID."},"phoneNumberTypeQueryParamEq":{"in":"query","name":"phoneNumberType","style":"deepObject","explode":true,"schema":{"type":"object","properties":{"eq":{"$ref":"#/components/schemas/phoneNumberTypeEnum"}}},"example":{"eq":"GEOGRAPHIC"},"description":"The type of phone number."},"requirementsPackageAssetIdPathParam":{"name":"assetId","description":"Requirements package asset Id","in":"path","required":true,"schema":{"type":"string"},"example":"925e38bb-6d09-4b25-9828-afcbe9417e53"},"statusQueryParamEq":{"in":"query","name":"status","description":"The status of the item","required":false,"style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/queryParamStringEq"},"example":{"eq":"VERIFIED"}},"rpCustomReferenceQueryParamStartsWith":{"in":"query","name":"customReference","description":"Filter by customReference(startsWith).","required":false,"style":"deepObject","explode":true,"schema":{"type":"object","properties":{"startsWith":{"minLength":1,"maxLength":100}}},"example":{"startsWith":"home"}},"rpCountryCodeA3QueryParamEq":{"in":"query","name":"countryCodeA3","description":"Country code of the address in ISO 3166-1 alpha-3 format.","required":false,"style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/queryParamStringEq"},"example":{"eq":"USA"}},"rpPhoneNumberTypeQueryParamEq":{"in":"query","name":"phoneNumberType","description":"The type of phone number.","required":false,"style":"deepObject","explode":true,"schema":{"type":"object","properties":{"eq":{"$ref":"#/components/schemas/phoneNumberTypeEnum"}}},"example":{"eq":"GEOGRAPHIC"}},"requirementsPackageIdPathParam":{"name":"requirementsPackageId","description":"Requirements Package ID","in":"path","required":true,"schema":{"type":"string"},"example":"815e38bb-6d09-4b25-9828-afcbe9417e53"},"pageQueryParam":{"description":"An ID of the first element in a page.  This value will indicate the first value, not the page number, of the initial entry in the page being requested. The initial page is tagged with the ID \u00601\u0060 as a convention.","in":"query","name":"page","required":false,"schema":{"default":1,"example":1,"type":"integer"}},"sizeQueryParam":{"description":"The number of elements to retrieve","in":"query","name":"size","required":false,"schema":{"example":30,"type":"integer"}}},"requestBodies":{"createAddressRequest":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/createAddressRequestData"}}}},"updateAddressRequest":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/updateAddressData"}}}},"validateAddressRequest":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/validateAddressRequestData"}}}},"patchRequirementsPackageEndUserBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/endUserData"}],"properties":{"type":{"readOnly":true}}},"examples":{"patchEndUserBodyBasicExample":{"$ref":"#/components/examples/patchEndUserBodyBasicExample"}}}}},"postRequirementsPackageEndUserBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/endUserData"}],"required":["type"]}}}},"addComplianceDocumentRequest":{"description":"Add a document with any metadata","content":{"multipart/form-data":{"schema":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/complianceDocumentData"},"file":{"type":"string","format":"binary"}}},"encoding":{"file":{"contentType":"application/pdf, image/jpeg, image/jpg, image/png, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document","style":"deepObject","explode":true},"metadata":{"contentType":"application/json"}}}}},"updateComplianceDocumentRequest":{"description":"Update document data along with any new file change. Type cannot be modified","content":{"multipart/form-data":{"schema":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/complianceDocumentUpdateData"},"file":{"type":"string","format":"binary"}}}}}},"postNumberActivationValidatorBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/numberActivationRequirementsSet"}}}},"postRequirementsPackageAssetsBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/assetData"}],"required":["assetReferenceId","assetType"]},"examples":{"postRequirementsPackageAssetBodyBasicExample":{"$ref":"#/components/examples/postRequirementsPackageAssetBodyBasicExample"}}}}},"patchRequirementsPackageBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/requirementsPackageData"},{"type":"object","properties":{"countryCodeA3":{"readOnly":true},"phoneNumberType":{"readOnly":true},"endUserType":{"readOnly":true},"status":{"description":"Status change to requirement package. Only allowed value is SUBMITTED","type":"string","example":"SUBMITTED"}}}],"example":{"customReference":"home_office","email":"foo@bar.com","status":"SUBMITTED"}}}}},"postRequirementsPackageBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/requirementsPackageData"}],"required":["countryCodeA3","phoneNumberType","endUserType"]}}}},"postComplianceRequirementsPackageBulkRequestBody":{"content":{"application/json":{"examples":{"requestAddActionExample":{"summary":"Add action request example","$ref":"#/components/examples/complianceRequirementsPackageBulkRequestAddActionExample"},"requestRemoveActionExample":{"summary":"Remove action request example","$ref":"#/components/examples/complianceRequirementsPackageBulkRequestRemoveActionExample"},"requestMoveActionExample":{"summary":"Move action request example","$ref":"#/components/examples/complianceRequirementsPackageBulkRequestMoveActionExample"}},"schema":{"$ref":"#/components/schemas/complianceRequirementsPackageBulkRequest"}}}},"patchMigrationRequirementsPackageBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/legacyRequirementsPackageData"}],"example":{"customReference":"vb_runscope","email":"vbrunscope@gmail.com","status":"VERIFIED"},"properties":{"countryCodeA3":{"readOnly":true},"endUserType":{"readOnly":true},"phoneNumberType":{"readOnly":true},"status":{"description":"Status change to requirement package. Only allowed value is VERIFIED","example":"VERIFIED","readOnly":false,"type":"string"}},"required":["status","email","customReference"]}}}}},"responses":{"createAddressResponse":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/createUpdateAddressResponse"}}}},"listCityInfoResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listCityInfoResponse"}}}},"updateAddressResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/createUpdateAddressResponse"}}}},"getAddressResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericAddressResponse"}}}},"listAddressesResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listAddressesResponse"}}}},"validateAddressResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/validateAddressResponse"}}}},"getAddressFieldsResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/getAddressFieldsResponse"}}}},"createAddressBadRequestResponse":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/addressBadRequest"},"examples":{"badRequestAddressSuggestionExample":{"$ref":"#/components/examples/geoValidationAddressSuggestionExample"},"badRequestAddressMissingGeoValidationFeatureExample":{"$ref":"#/components/examples/geoValidationDisabledExample"}}}}},"validateAddressBadRequestResponse":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"badRequestErrorExample":{"$ref":"#/components/examples/geoValidationAddressSuggestionExample"}}}}},"badRequestError":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"badRequestErrorExample":{"$ref":"#/components/examples/badRequestErrorExample"}}}}},"notFoundError":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"notFoundErrorExample":{"$ref":"#/components/examples/notFoundErrorExample"}}}}},"methodNotAllowedError":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"methodNotAllowedErrorExample":{"$ref":"#/components/examples/methodNotAllowedErrorExample"}}}}},"tooManyRequestsError":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"tooManyRequestsErrorExample":{"$ref":"#/components/examples/tooManyRequestsErrorExample"}}}}},"internalServerError":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"internalServerErrorExample":{"$ref":"#/components/examples/internalServerErrorExample"}}}}},"forbiddenError":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"forbiddenErrorExample":{"$ref":"#/components/examples/forbiddenErrorExample"}}}}},"unauthorizedError":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"unauthorizedErrorExample":{"$ref":"#/components/examples/unauthorizedErrorExample"}}}}},"conflictError":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"unknownAccountErrorExample":{"$ref":"#/components/examples/conflictErrorExample"}}}}},"updateAddressBadRequestResponse":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/updateGeoValidationStatusSuggestionAddressResponse"}}}},"updateEndUserResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/endUserResponse"}}}},"getEndUserResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/endUserGetByIdResponse"}}}},"createEndUserResponse":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/endUserResponse"}}}},"listEndUsersResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/endUserListResponse"}}}},"addComplianceDocumentResponse":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/createUpdateComplianceDocumentResponse"}}}},"downloadDocumentResponse":{"description":"OK","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"listRequirementsResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/requirementsListResponse"}}}},"getComplianceDocumentResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/getComplianceDocumentResponse"}}}},"patchComplianceDocumentResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/patchComplianceDocumentResponse"}}}},"listEndUserTypesResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/endUserTypesListResponse"}}}},"listDocumentTypesResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/documentTypesListResponse"}}}},"unauthorizedEUMSError":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedComplianceResponse"}}}},"validateNumberActivationResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/numberActivationValidatorResponse"}}}},"getRequirementsPackageHistoryResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/requirementsPackageHistoryResponse"}}}},"createRequirementsPackageAssetResponse":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/requirementsPackageAssetsPostResponse"}}}},"listRequirementsPackageResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/requirementsPackageListResponse"}}}},"getRequirementsPackageAssetsResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/requirementsPackageAssetsGetResponse"}}}},"updateRequirementsPackageResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/requirementsPackageCreateUpdateResponse"},"examples":{"requirementsPackageResponseExample":{"$ref":"#/components/examples/requirementsPackageResponseExample"}}}}},"createRequirementsPackageResponse":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/requirementsPackageCreateUpdateResponse"},"examples":{"requirementsPackageResponseExample":{"$ref":"#/components/examples/requirementsPackageResponseExample"}}}}},"getRequirementsPackageResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/requirementsPackageGetResponse"},"examples":{"requirementsPackageResponseExample":{"$ref":"#/components/examples/requirementsPackageResponseExample"}}}}},"complianceRequirementsPackageBulkResponseSuccess":{"content":{"application/json":{"examples":{"successAddActionExample":{"summary":"Add action success response example","$ref":"#/components/examples/complianceRequirementsPackageBulkResponseAddActionExample"},"successRemoveActionExample":{"summary":"Remove action success response example","$ref":"#/components/examples/complianceRequirementsPackageBulkResponseRemoveActionExample"},"successMoveActionExample":{"summary":"Move action success response example","$ref":"#/components/examples/complianceRequirementsPackageBulkResponseMoveActionExample"}},"schema":{"$ref":"#/components/schemas/complianceRequirementsPackageBulkResponse"}}},"description":"OK"},"complianceRequirementsPackageBulkBadRequestError":{"content":{"application/json":{"examples":{"badRequestAddExample":{"summary":"Add action bad request response","$ref":"#/components/examples/complianceRequirementsPackageBulkBadRequestAddActionExample"},"badRequestRemoveExample":{"summary":"Remove action bad request response","$ref":"#/components/examples/complianceRequirementsPackageBulkBadRequestRemoveActionExample"},"badRequestMoveExample":{"summary":"Move action bad request response","$ref":"#/components/examples/complianceRequirementsPackageBulkBadRequestMoveActionExample"}},"schema":{"$ref":"#/components/schemas/complianceRequirementsPackageBulkBadRequest"}}},"description":"Bad Request"},"complianceRequirementsPackageBulkResourceNotFoundError":{"content":{"application/json":{"examples":{"notFoundExample":{"$ref":"#/components/examples/complianceRequirementsPackageBulkResourceNotFoundExample"}},"schema":{"$ref":"#/components/schemas/complianceRequirementsPackageBulkResourceNotFound"}}},"description":"Not Found"},"unauthorizedErrorBasic":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"unauthorizedErrorExample":{"$ref":"#/components/examples/unauthorizedErrorExample"}}}}},"internalServerErrorComplianceRps":{"content":{"application/json":{"examples":{"internalServerErrorExample":{"$ref":"#/components/examples/internalServerErrorExampleComplianceRps"}},"schema":{"$ref":"#/components/schemas/genericError"}}},"description":"Internal Server Error"},"badRequestErrorComplianceRps":{"content":{"application/json":{"examples":{"badRequestErrorExample":{"$ref":"#/components/examples/badRequestErrorExampleComplianceRps"}},"schema":{"$ref":"#/components/schemas/genericError"}}},"description":"Bad Request"},"complianceRequirementsPackageResourceNotFoundError":{"content":{"application/json":{"examples":{"notFoundExample":{"$ref":"#/components/examples/complianceRequirementsPackageResourceNotFoundExample"}},"schema":{"$ref":"#/components/schemas/complianceRequirementsPackageResourceNotFound"}}},"description":"Not Found"},"complianceRequirementsPaginationResourceNotFoundError":{"content":{"application/json":{"examples":{"notFoundExample":{"$ref":"#/components/examples/complianceRequirementsPaginationResourceNotFoundExample"}},"schema":{"$ref":"#/components/schemas/complianceRequirementsPackageResourceNotFound"}}},"description":"Not Found"},"complianceRequirementsPaginationResponseSuccess":{"content":{"application/json":{"examples":{"successExample":{"$ref":"#/components/examples/complianceRequirementsPaginationResponseExample"}},"schema":{"$ref":"#/components/schemas/complianceRequirementsPaginationResponse"}}},"description":"OK"},"forbiddenErrorComplianceRps":{"content":{"application/json":{"examples":{"forbiddenErrorExample":{"$ref":"#/components/examples/forbiddenErrorExampleComplianceRps"}},"schema":{"$ref":"#/components/schemas/genericError"}}},"description":"Forbidden"},"notAllowedErrorComplianceRps":{"content":{"application/json":{"examples":{"notAllowedErrorExample":{"$ref":"#/components/examples/notAllowedErrorExampleComplianceRps"}},"schema":{"$ref":"#/components/schemas/genericError"}}},"description":"Method Not Allowed"},"notFoundErrorComplianceRps":{"content":{"application/json":{"examples":{"notFoundErrorExample":{"$ref":"#/components/examples/notFoundErrorExampleComplianceRps"}},"schema":{"$ref":"#/components/schemas/genericError"}}},"description":"Not Found"},"updateMigrationRequirementsPackageSuccess":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/migrationRequirementsPackageCreateUpdateResponse"}}},"description":"OK"}},"schemas":{"sortEnum":{"type":"string","enum":["ASC","DESC"]},"geoValidationStatusEnum":{"type":"string","enum":["GEO_VALID","NOT_GEO_VALID","NOT_GEO_VALIDATED"],"description":"The geo validation status of the address.\n- \u0060GEO_VALID\u0060: The address is valid and geo validated.\n- \u0060NOT_GEO_VALID\u0060: The address is not valid or geo validated.\n- \u0060NOT_GEO_VALIDATED\u0060: The address has not been geo validated yet.\n"},"endUserTypeEnum":{"type":"string","description":"The type of end user","enum":["BUSINESS","RESIDENTIAL","SOLE_PROPRIETOR"],"example":"BUSINESS"},"phoneNumberTypeEnum":{"type":"string","description":"The type of phone number.","enum":["GEOGRAPHIC","NATIONAL","MOBILE","TOLL_FREE","SHARED_COST"],"example":"GEOGRAPHIC"},"endUserType":{"description":"Type of end user. Values - BUSINESS, RESIDENTIAL, SOLE_PROPRIETOR","example":"BUSINESS","type":"string"},"phoneNumberTypeString":{"description":"Type of the phone number. Values - GEOGRAPHIC, NATIONAL, MOBILE, TOLL_FREE, SHARED_COST","example":"GEOGRAPHIC","type":"string"},"createAddressRequestData":{"allOf":[{"$ref":"#/components/schemas/validateAddressRequestData"},{"type":"object","properties":{"geoValidation":{"$ref":"#/components/schemas/geoValidation"}}}]},"addressRequestData":{"type":"object","properties":{"customReference":{"$ref":"#/components/schemas/customReference"},"countryCodeA3":{"$ref":"#/components/schemas/countryCodeA3"},"addressLine1":{"$ref":"#/components/schemas/addressLine1"},"addressLine2":{"$ref":"#/components/schemas/addressLine2"},"city":{"$ref":"#/components/schemas/addressCity"},"stateAbbreviation":{"$ref":"#/components/schemas/stateAbbreviation"},"postalCode":{"$ref":"#/components/schemas/postalCode"}}},"addressId":{"type":"string","description":"Address ID","example":"daa9dd0f-de97-4103-8530-b31bf4be8fc0"},"customReference":{"type":"string","minLength":1,"maxLength":100,"description":"A custom reference name.\nIt can be used for your own reference to the item to easily identify one of your customers,\nrequirements package, enduser etc.\n","example":"home_office"},"countryCodeA3":{"type":"string","description":"Country code of the address in ISO 3166-1 alpha-3 format.","example":"USA"},"addressLine1":{"type":"string","description":"The first line of the address.","example":"123 Main St"},"addressLine2":{"type":"string","description":"The second line of the address.","example":"Suite 200"},"stateAbbreviation":{"type":"string","description":"The state abbreviation of the address.","example":"WA"},"geoValidation":{"type":"object","properties":{"required":{"type":"boolean","description":"Flag to indicate if the address should be geo validated or\nnot. By default the value is set to true.\n","example":true},"createOnFailure":{"type":"boolean","description":"Flag to indicate if the address should be created even if geo\nvalidation fails. \u0027false\u0027 indicates that the creation request will fail\nand \u201CsuggestedAddresses\u201D will be provided in the response. By default\nthe value is set to false.\n","example":false}}},"unsupportedFeatures":{"description":"Excluded Features","type":"array","items":{"type":"object","properties":{"featureName":{"$ref":"#/components/schemas/featureNameEnum"},"addressCriteria":{"type":"array","items":{"type":"object","properties":{"description":{"type":"string","description":"A human-readable explanation that SHOULD be specific\nto this occurrence of the problem\n","example":"Field \u0027province\u0027 is optional, but is required for the feature \u0027REQUIREMENTS_PACKAGE\u0027\n"}}}}}}},"featureNameEnum":{"type":"string","description":"A unique identifier for feature.","enum":["REQUIREMENTS_PACKAGE","EMERGENCY","PORTING"]},"addressFieldSchema":{"type":"object","properties":{"fieldName":{"type":"string","description":"The address field to be provided.","example":"postalCode"},"friendlyName":{"type":"string","description":"The friendly name of the address field.","example":"Postal code"},"description":{"type":"string","description":"The description of the address field.","example":"Enter the 5-digit ZIP code for your location. You can also enter\na 9-digit ZIP\u002B4 code. For example, 27607 or 27607-6789 are valid ZIP codes.\n"},"type":{"$ref":"#/components/schemas/fieldType"},"maxLength":{"$ref":"#/components/schemas/fieldMaxLength"},"required":{"type":"boolean","description":"The address field is required or optional","example":true},"changeable":{"type":"boolean","description":"The address field value can be updated or not","example":false},"usedBy":{"type":"array","items":{"type":"object","properties":{"feature":{"type":"string","description":"Feature name","example":"REQUIREMENTS_PACKAGE"},"required":{"type":"boolean","description":"The address field is required or optional for the feature","example":true}}}}}},"validateAddressRequestData":{"type":"object","allOf":[{"$ref":"#/components/schemas/addressRequestData"},{"type":"object","properties":{"geoValidation":{"$ref":"#/components/schemas/geoValidation"}}}]},"updateAddressData":{"type":"object","properties":{"customReference":{"$ref":"#/components/schemas/customReference"},"geoValidation":{"$ref":"#/components/schemas/geoValidation"}}},"validateAddressResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/addressFieldsLink"}},"data":{"type":"object","properties":{"address":{"$ref":"#/components/schemas/validateAddressResponseData"},"geoValidationStatus":{"$ref":"#/components/schemas/geoValidationStatusEnum"},"excludedFeatures":{"$ref":"#/components/schemas/unsupportedFeatures"}}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}}}},"getAddressFieldsResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/addressFieldsLink"}},"data":{"type":"object","properties":{"addressFields":{"type":"array","items":{"$ref":"#/components/schemas/addressFieldSchema"}}}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}}}},"addressCity":{"type":"string","description":"The city of the address.","example":"Seattle"},"fieldType":{"type":"string","description":"The data type of the field","example":"string"},"fieldMaxLength":{"type":"integer","description":"The length of the field","example":256},"postalCode":{"type":"string","description":"The postal code of the address.","example":"98104"},"createdDateTime":{"type":"string","description":"The date and time this object was created in ISO 8601 format","example":"2024-03-11T04:09:25.399Z"},"updatedDateTime":{"type":"string","description":"The date and time this object was last updated in ISO 8601 format","example":"2024-03-11T04:09:25.399Z"},"errorCode":{"type":"integer","format":"int32","description":"An application-specific error code for services with extensive\nerror scenarios to supplement \u0060description\u0060\n","minimum":4,"example":51130},"errorDescription":{"type":"string","description":"A human-readable explanation that SHOULD be specific to this occurrence\nof the problem\n","example":"There was an issue with a field in your request body"},"errorType":{"type":"string","description":"A short, human-readable summary of the problem that SHOULD NOT\nchange from occurrence to occurrence of the problem\n","example":"REQUEST_ERROR"},"errorSource":{"type":"object","properties":{"parameter":{"type":"string","description":"A string indicating which URI query parameter caused the error","example":"someParameter"},"field":{"type":"string","description":"A string indicating which request body field caused the error","example":"someField"},"header":{"type":"string","description":"A string indicating which header field caused the error","example":"someHeader"},"reference":{"type":"string","description":"A string that references a resource ID or path to the resource\n(or non-existent resource) causing the error\n","example":"/some/reference"}}},"queryParamStringEqStartsWith":{"type":"object","properties":{"eq":{"type":"string"},"startsWith":{"type":"string"}}},"queryParamStringContains":{"type":"object","properties":{"contains":{"type":"string"}}},"queryParamStringEqStartsWithContains":{"type":"object","properties":{"contains":{"type":"string"},"eq":{"type":"string"},"startsWith":{"type":"string"}}},"queryParamStringEq":{"type":"object","properties":{"eq":{"type":"string"}}},"genericError":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}},"data":{"type":"object","nullable":true},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}}},"required":["links","data","errors"]},"updateGeoValidationStatusSuggestionAddressResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}},"data":{"type":"object","properties":{"address":{"$ref":"#/components/schemas/validateAddressResponseData"}}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"},"example":[{"code":205617,"description":"Address provided is not geo-valid.\nPlease refer suggestedAddresses for a list of geo valid addresses\n","meta":{"suggestedAddresses":[{"city":"SEATTLE","countryCodeA3":"USA","stateAbbreviation":"WA","postalCode":"98104","addressLine1":"123 S MAIN ST STE 200"}]}}]}}},"createUpdateAddressResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/createUpdateAddressLink"}},"data":{"type":"object","properties":{"address":{"$ref":"#/components/schemas/addressResponseData"}}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}}}},"listAddressesResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/addressListLink"}},"data":{"type":"array","items":{"$ref":"#/components/schemas/listAddressesResponseData"}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}}}},"genericAddressResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/addressByIdLink"}},"data":{"type":"object","properties":{"address":{"$ref":"#/components/schemas/addressResponseData"}}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}}}},"listCityInfoResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/cityInfoListLink"}},"data":{"type":"array","items":{"$ref":"#/components/schemas/cityInfoData"}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}}}},"addressResponseData":{"allOf":[{"$ref":"#/components/schemas/validateAddressResponseData"},{"type":"object","properties":{"geoValidationStatus":{"$ref":"#/components/schemas/geoValidationStatusEnum"},"addressId":{"$ref":"#/components/schemas/addressId"},"createdDateTime":{"$ref":"#/components/schemas/createdDateTime"},"updatedDateTime":{"$ref":"#/components/schemas/updatedDateTime"}}}]},"listAddressesResponseData":{"type":"object","properties":{"address":{"$ref":"#/components/schemas/addressResponseData"}}},"validateAddressResponseData":{"type":"object","properties":{"customReference":{"$ref":"#/components/schemas/customReference"},"countryCodeA3":{"$ref":"#/components/schemas/countryCodeA3"},"addressLine1":{"$ref":"#/components/schemas/addressLine1"},"addressLine2":{"$ref":"#/components/schemas/addressLine2"},"city":{"$ref":"#/components/schemas/addressCity"},"stateAbbreviation":{"$ref":"#/components/schemas/stateAbbreviation"},"postalCode":{"$ref":"#/components/schemas/postalCode"}}},"cityInfoData":{"type":"array","items":{"type":"object","properties":{"city":{"type":"string","description":"The name of the city.","example":"Seattle"},"postalCode":{"type":"string","description":"The postal code of the address.","example":"98104"}}}},"link":{"description":"The URI link details to self or a related resource with the relation","type":"object","properties":{"href":{"type":"string","description":"URI of the link","example":"/resource/uri"},"rel":{"type":"string","description":"Specifies the relationship between this link and the resource","example":"self"},"method":{"type":"string","description":"HTTP method to be used","example":"GET"}},"required":["href","rel","method"]},"getNumberActivationValidatorLink":{"description":"The URI link details to self or a related resource with the relation","type":"object","properties":{"href":{"type":"string","description":"URI of the link","example":"https://api.bandwidth.com/api/v2/accounts/9900000/compliance/numberActivation/validator"},"rel":{"type":"string","description":"Specifies the relationship between this link and the resource","example":"self"},"method":{"type":"string","description":"HTTP method to be used","example":"GET"}},"required":["href","rel","method"]},"getRequirementsPackagesHistoryLink":{"description":"The URI link details to self or a related resource with the relation","type":"object","properties":{"href":{"type":"string","description":"URI of the link","example":"https://api.bandwidth.com/api/v2/accounts/9900000/compliance/requirementsPackages/815e38bb-6d09-4b25-9828-afcbe9417e53/history"},"rel":{"type":"string","description":"Specifies the relationship between this link and the resource","example":"self"},"method":{"type":"string","description":"HTTP method to be used","example":"GET"}},"required":["href","rel","method"]},"getRequirementPackageAssetsLink":{"description":"The URI link details to self or a related resource with the relation","type":"object","properties":{"href":{"type":"string","description":"URI of the link","example":"https://api.bandwidth.com/api/v2/accounts/9900000/compliance/requirementsPackages/815e38bb-6d09-4b25-9828-afcbe9417e53/assets"},"rel":{"type":"string","description":"Specifies the relationship between this link and the resource","example":"self"},"method":{"type":"string","description":"HTTP method to be used","example":"GET"}},"required":["href","rel","method"]},"createUpdateEndUserLink":{"description":"The URI link details to self or a related resource with the relation","type":"object","properties":{"href":{"type":"string","description":"URI of the link","example":"https://api.bandwidth.com/api/v2/accounts/9900000/compliance/endUsers/dcb9dd0f-de97-4103-8530-b31bf4be8fc0"},"rel":{"type":"string","description":"Specifies the relationship between this link and the resource","example":"get-end-user"},"method":{"type":"string","description":"HTTP method to be used","example":"GET"}},"required":["href","rel","method"]},"getEndUserByIdEndUserLink":{"description":"The URI link details to self or a related resource with the relation","type":"object","properties":{"href":{"type":"string","description":"URI of the link","example":"https://api.bandwidth.com/api/v2/accounts/9900000/compliance/endUsers/dcb9dd0f-de97-4103-8530-b31bf4be8fc0"},"rel":{"type":"string","description":"Specifies the relationship between this link and the resource","example":"self"},"method":{"type":"string","description":"HTTP method to be used","example":"GET"}},"required":["href","rel","method"]},"getEndUserListLink":{"description":"The URI link details to self or a related resource with the relation","type":"object","properties":{"href":{"type":"string","description":"URI of the link","example":"https://api.bandwidth.com/api/v2/accounts/9900000/compliance/endUsers"},"rel":{"type":"string","description":"Specifies the relationship between this link and the resource","example":"self"},"method":{"type":"string","description":"HTTP method to be used","example":"GET"}},"required":["href","rel","method"]},"getRequirementsListLink":{"description":"The URI link details to self or a related resource with the relation","type":"object","properties":{"href":{"type":"string","description":"URI of the link","example":"https://api.bandwidth.com/api/v2/accounts/9900000/compliance/requirements"},"rel":{"type":"string","description":"Specifies the relationship between this link and the resource","example":"self"},"method":{"type":"string","description":"HTTP method to be used","example":"POST"}},"required":["href","rel","method"]},"getRequirementsPackageLink":{"description":"The URI link details to self or a related resource with the relation","type":"object","properties":{"href":{"type":"string","description":"URI of the link","example":"https://api.bandwidth.com/api/v2/accounts/9900000/compliance/requirementsPackages?limit=10\u0026afterCursor=cGs9UlBHIzEmc2s9MjI3ZDU5YjYtYTdlNy00NGI5LWE2ODAtZGU4OTQxZGFhMmI5JnVwZGF0ZWREYXRlVGltZT0xNzU3NjYzNDA0NzY0"},"rel":{"type":"string","description":"Specifies the relationship between this link and the resource","example":"self"},"method":{"type":"string","description":"HTTP method to be used","example":"GET"}},"required":["href","rel","method"]},"createUpdateDocumentLink":{"description":"The URI link details to self or a related resource with the relation","type":"object","properties":{"href":{"type":"string","description":"URI of the link","example":"https://api.bandwidth.com/api/v2/accounts/9900000/compliance/documents/ArAnD0m1d"},"rel":{"type":"string","description":"Specifies the relationship between this link and the resource","example":"get-document"},"method":{"type":"string","description":"HTTP method to be used","example":"GET"}},"required":["href","rel","method"]},"getDocumentLink":{"description":"The URI link details to self or a related resource with the relation","type":"object","properties":{"href":{"type":"string","description":"URI of the link","example":"https://api.bandwidth.com/api/v2/accounts/9900000/compliance/documents/ArAnD0m1d"},"rel":{"type":"string","description":"Specifies the relationship between this link and the resource","example":"self"},"method":{"type":"string","description":"HTTP method to be used","example":"GET"}},"required":["href","rel","method"]},"patchDocumentLink":{"description":"The URI link details to self or a related resource with the relation","type":"object","properties":{"href":{"type":"string","description":"URI of the link","example":"https://api.bandwidth.com/api/v2/accounts/9900000/compliance/documents/ArAnD0m1d"},"rel":{"type":"string","description":"Specifies the relationship between this link and the resource","example":"get-document"},"method":{"type":"string","description":"HTTP method to be used","example":"GET"}},"required":["href","rel","method"]},"cityInfoListLink":{"description":"The URI link details to self or a related resource with the relation","type":"object","properties":{"href":{"type":"string","description":"URI of the link","example":"https://api.bandwidth.com/api/v2/addresses/DEU/cityInfo"},"rel":{"type":"string","description":"Specifies the relationship between this link and the resource","example":"self"},"method":{"type":"string","description":"HTTP method to be used","example":"GET"}},"required":["href","rel","method"]},"createUpdateAddressLink":{"description":"The URI link details to self or a related resource with the relation","type":"object","properties":{"href":{"type":"string","description":"URI of the link","example":"https://api.bandwidth.com/api/v2/accounts/9900000/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0"},"rel":{"type":"string","description":"Specifies the relationship between this link and the resource","example":"get-address"},"method":{"type":"string","description":"HTTP method to be used","example":"GET"}},"required":["href","rel","method"]},"addressFieldsLink":{"description":"The URI link details to self or a related resource with the relation","type":"object","properties":{"href":{"type":"string","description":"URI of the link","example":"https://api.bandwidth.com/api/v2/addresses"},"rel":{"type":"string","description":"Specifies the relationship between this link and the resource","example":"create-address"},"method":{"type":"string","description":"HTTP method to be used","example":"POST"}},"required":["href","rel","method"]},"addressListLink":{"description":"The URI link details to self or a related resource with the relation","type":"object","properties":{"href":{"type":"string","description":"URI of the link","example":"https://api.bandwidth.com/api/v2/accounts/9900000/addresses"},"rel":{"type":"string","description":"Specifies the relationship between this link and the resource","example":"self"},"method":{"type":"string","description":"HTTP method to be used","example":"GET"}},"required":["href","rel","method"]},"addressByIdLink":{"description":"The URI link details to self or a related resource with the relation","type":"object","properties":{"href":{"type":"string","description":"URI of the link","example":"https://api.bandwidth.com/api/v2/accounts/9900000/addresses/daa9dd0f-de97-4103-8530-b31bf4be8fc0"},"rel":{"type":"string","description":"Specifies the relationship between this link and the resource","example":"self"},"method":{"type":"string","description":"HTTP method to be used","example":"GET"}},"required":["href","rel","method"]},"error":{"type":"object","properties":{"id":{"type":"string","description":"A unique identifier for this particular instance of this problem","example":"optional-error-id"},"type":{"$ref":"#/components/schemas/errorType"},"description":{"$ref":"#/components/schemas/errorDescription"},"code":{"$ref":"#/components/schemas/errorCode"},"meta":{"type":"object","description":"A meta object containing application-specific information or non-standard metadata about the error"},"source":{"$ref":"#/components/schemas/errorSource"}},"required":["code","description"]},"errorWithoutSourceAndId":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/errorType"},"description":{"$ref":"#/components/schemas/errorDescription"},"code":{"$ref":"#/components/schemas/errorCode"},"meta":{"type":"object","description":"A meta object containing application-specific information or non-standard metadata about the error","properties":{"phoneNumbers":{"type":"array","items":{"type":"string"}}}}},"required":["code","description"]},"addressBadRequest":{"description":"addressBadRequest","type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}},"data":{"type":"object","nullable":true},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}}}},"complianceDocumentUpdateData":{"description":"Metadata of updated document","type":"object","properties":{"customReference":{"$ref":"#/components/schemas/customReference"},"description":{"$ref":"#/components/schemas/documentDescription"},"fields":{"$ref":"#/components/schemas/fields"}}},"endUserResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/createUpdateEndUserLink"}},"data":{"$ref":"#/components/schemas/endUserData"},"errors":{"$ref":"#/components/schemas/errors"}}},"endUserGetByIdResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/getEndUserByIdEndUserLink"}},"data":{"$ref":"#/components/schemas/endUserData"},"errors":{"$ref":"#/components/schemas/errors"}}},"endUserListResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/getEndUserListLink"}},"data":{"type":"array","items":{"$ref":"#/components/schemas/endUserData"}},"errors":{"$ref":"#/components/schemas/errors"}}},"createUpdateComplianceDocumentResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/createUpdateDocumentLink"}},"data":{"$ref":"#/components/schemas/complianceDocumentResponseData"},"errors":{"$ref":"#/components/schemas/errors"}}},"requirementsListResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/getRequirementsListLink"},"example":[{"href":"https://api.bandwidth.com/api/v2/accounts/9900000/compliance/requirementsPackages","rel":"create-requirements-package","method":"POST"},{"href":"https://api.bandwidth.com/api/v2/accounts/9900000/compliance/requirementsPackages","rel":"self","method":"GET"}]},"data":{"type":"array","items":{"$ref":"#/components/schemas/requirementData"}},"errors":{"$ref":"#/components/schemas/errors"}}},"getComplianceDocumentResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/getDocumentLink"}},"data":{"$ref":"#/components/schemas/complianceDocumentResponseData"},"errors":{"$ref":"#/components/schemas/errors"}}},"patchComplianceDocumentResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/patchDocumentLink"}},"data":{"$ref":"#/components/schemas/complianceDocumentResponseData"},"errors":{"$ref":"#/components/schemas/errors"}}},"endUserTypesListResponse":{"description":"Response with all End user type details","type":"object","properties":{"links":{"type":"array","items":{"type":"string"},"example":[]},"data":{"type":"array","items":{"$ref":"#/components/schemas/endUserTypeData"}},"errors":{"$ref":"#/components/schemas/errors"}}},"documentTypesListResponse":{"description":"Response with all document type details","type":"object","properties":{"links":{"type":"array","items":{"type":"string"},"example":[]},"data":{"type":"array","items":{"$ref":"#/components/schemas/documentTypeData"}},"errors":{"$ref":"#/components/schemas/errors"}}},"complianceDocumentResponseData":{"allOf":[{"$ref":"#/components/schemas/complianceDocumentData"},{"type":"object","properties":{"documentId":{"$ref":"#/components/schemas/documentId"},"status":{"$ref":"#/components/schemas/documentStatusEnum"},"fileContentExists":{"$ref":"#/components/schemas/fileContentExists"},"createdDateTime":{"$ref":"#/components/schemas/createdDateTime"},"updatedDateTime":{"$ref":"#/components/schemas/updatedDateTime"},"fileName":{"$ref":"#/components/schemas/fileName"}}}]},"complianceDocumentData":{"type":"object","properties":{"customReference":{"$ref":"#/components/schemas/customReference"},"type":{"$ref":"#/components/schemas/complianceDocumentType"},"description":{"$ref":"#/components/schemas/complianceDocumentDescription"},"fields":{"$ref":"#/components/schemas/fields"}}},"fileContentExists":{"type":"boolean","description":"Indicates if file exists on system","example":false},"documentId":{"type":"string","description":"Unique identifier of the document","format":"uuid","example":"daa9dd0f-de97-4103-8530-b31bf4be8fc0"},"documentStatusEnum":{"type":"string","description":"Document Statuses","enum":["DRAFT","SUBMITTED","PROCESSING","VERIFIED","VERIFICATION_FAILED"],"example":"SUBMITTED"},"complianceDocumentType":{"type":"string","description":"Unique name representing the type of document","example":"tradeLicense"},"documentDescription":{"type":"string","description":"Description about the document","example":"Letter of Authorization"},"complianceDocumentDescription":{"type":"string","description":"Description about the document","maxLength":1000,"example":"Trade License"},"fileName":{"type":"string"},"queryParamStringStartsWith":{"type":"object","properties":{"startsWith":{"type":"string"}}},"unauthorizedComplianceResponse":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64","description":"Epoch timestamp of the error occurrence.","example":1742186541633},"status":{"type":"integer","example":401,"description":"HTTP status code."},"error":{"type":"string","description":"Error message.","example":"Unauthorized"},"path":{"type":"string","description":"The request path that caused the error.","example":"/api/v2/self-resource"}},"required":["timestamp","status","error","path"]},"requirementData":{"type":"object","properties":{"countryCodeA3":{"$ref":"#/components/schemas/countryCodeA3String"},"phoneNumberType":{"$ref":"#/components/schemas/phoneNumberTypeEnum"},"endUserType":{"$ref":"#/components/schemas/endUserTypeEnum"},"requirement":{"$ref":"#/components/schemas/requirement"}}},"endUserTypeData":{"description":"EndUser type specification","type":"object","properties":{"type":{"$ref":"#/components/schemas/endUserTypeEnum"},"fields":{"description":"List of all accepted End user fields","type":"array","items":{"$ref":"#/components/schemas/endUserField"},"example":[{"fieldName":"salutation","friendlyName":"Salutation","type":"String","values":["MR","MRS"],"required":true},{"fieldName":"firstName","friendlyName":"First Name","type":"String","maxLength":300,"required":true},{"friendlyName":"Tax ID Number","fieldName":"taxIdNumber","type":"String","maxLength":300,"required":false}]}}},"endUserData":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/endUserTypeEnum"},"customReference":{"$ref":"#/components/schemas/customReference"},"fields":{"$ref":"#/components/schemas/fields"},"endUserId":{"$ref":"#/components/schemas/endUserId"},"status":{"$ref":"#/components/schemas/endUserStatusEnum"},"createdDateTime":{"$ref":"#/components/schemas/createdDateTime"},"updatedDateTime":{"$ref":"#/components/schemas/updatedDateTime"}}},"endUserId":{"type":"string","description":"Unique identifier of the endUser","format":"uuid","readOnly":true,"example":"dcb9dd0f-de97-4103-8530-b31bf4be8fc0"},"endUserStatusEnum":{"type":"string","description":"End user status","enum":["DRAFT","SUBMITTED","VERIFIED","VERIFICATION_FAILED"],"example":"DRAFT"},"countryCodeA3String":{"type":"string","description":"Country code in ISO 3166-1 alpha-3 format","example":"FRA"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"},"nullable":true},"requirement":{"description":"The details of different requirements","type":"object","properties":{"endUser":{"$ref":"#/components/schemas/endUserRequirement"},"address":{"$ref":"#/components/schemas/addressRequirement"},"supportingDocuments":{"description":"List of all document requirements","type":"array","items":{"$ref":"#/components/schemas/supportingDocumentsRequirement"}}}},"endUserRequirement":{"description":"EndUser requirement specification","type":"object","properties":{"type":{"$ref":"#/components/schemas/endUserTypeEnum"},"fields":{"description":"List of all accepted end user fields","type":"array","items":{"$ref":"#/components/schemas/endUserField"}}}},"addressRequirement":{"description":"Address requirement specification","type":"object","properties":{"location":{"$ref":"#/components/schemas/addressLocationEnum"}}},"addressLocationEnum":{"type":"string","description":"The address location","enum":["LOCAL","NATIONAL","WORLDWIDE"],"example":"NATIONAL"},"supportingDocumentsRequirement":{"description":"Document requirement specification","type":"object","properties":{"name":{"description":"The name of the document","type":"string","example":"Business registration"},"type":{"$ref":"#/components/schemas/supportingDocumentTypeEnum"},"description":{"description":"A small description about the document","type":"string","example":"The business registration document"},"acceptedDocuments":{"description":"List of document types accepted against the supporting document","type":"array","items":{"$ref":"#/components/schemas/documentTypeData"}}}},"supportingDocumentTypeEnum":{"type":"string","description":"The type of the supporting document","enum":["ADDRESS","IDENTITY"],"example":"ADDRESS"},"documentTypeData":{"description":"Document type specification","type":"object","properties":{"type":{"description":"Unique name indicating the type of the document","type":"string","example":"businessRegistration"},"friendlyName":{"description":"Human readable description of the document","type":"string","example":"Business registration"},"fields":{"description":"List of all accepted document fields","type":"array","items":{"$ref":"#/components/schemas/endUserField"},"example":[{"fieldName":"companyName","friendlyName":"Company Name","type":"String","maxLength":500},{"fieldName":"issueDate","friendlyName":"Issue Date","type":"Date"}]}}},"fields":{"type":"object","description":"Field is a key value pair of attribute name and value. All Date or Number type values should be provided as a \u0027string\u0027. Format for the Date type is YYYY-MM-DD.","additionalProperties":{"type":"string"},"example":{"firstName":"First Name","issueDate":"2020-11-23","validity":"120"}},"endUserField":{"description":"Field information","type":"object","properties":{"friendlyName":{"type":"string","description":"Human readable description of the field","example":"Salutation"},"fieldName":{"type":"string","description":"Unique name of the field","example":"salutation"},"type":{"type":"string","description":"The data type of the field","example":"String"},"values":{"type":"array","description":"Provides accepted values for the field. Not Applicable when type value is \u0027Date\u0027.","items":{"type":"string"},"example":["Mr.","Mrs."]},"required":{"description":"Specifies if the field is mandatory","type":"boolean","example":true},"maxLength":{"description":"Maximum allowed character length of the field. Not Applicable when type value is \u0027Date\u0027 or values are provided.","type":"integer","example":10}}},"numberActivationValidatorResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/getNumberActivationValidatorLink"}},"data":{"$ref":"#/components/schemas/numberActivationValidatorResult"},"errors":{"$ref":"#/components/schemas/errors"}}},"requirementsPackageHistoryResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/getRequirementsPackagesHistoryLink"}},"data":{"type":"array","items":{"$ref":"#/components/schemas/requirementsPackageHistoryData"}},"errors":{"$ref":"#/components/schemas/errors"}}},"requirementsPackageAssetsPostResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/getRequirementPackageAssetsLink"}},"data":{"$ref":"#/components/schemas/assetData"},"errors":{"$ref":"#/components/schemas/errors"}}},"requirementsPackageListResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/getRequirementsPackageLink"}},"data":{"type":"array","items":{"$ref":"#/components/schemas/requirementsPackageData"}},"errors":{"$ref":"#/components/schemas/errors"}}},"requirementsPackageAssetsGetResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/getRequirementPackageAssetsLink"}},"data":{"type":"array","items":{"$ref":"#/components/schemas/assetGetData"}},"errors":{"$ref":"#/components/schemas/errors"}}},"requirementsPackageCreateUpdateResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}},"data":{"$ref":"#/components/schemas/requirementsPackageData"},"errors":{"$ref":"#/components/schemas/errors"}}},"requirementsPackageGetResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}},"data":{"$ref":"#/components/schemas/requirementsPackageData"},"errors":{"$ref":"#/components/schemas/errors"}}},"numberActivationValidatorResult":{"description":"Details of requirements for number activation validation.\nActivatable indicates the TN is valid and can be provisioned or linked to a service.\nNot-Activatable indicates the TN cannot be linked for activation.\n","type":"object","properties":{"requirementsSets":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/numberActivationRequirementsData"},{"type":"object","properties":{"status":{"$ref":"#/components/schemas/requirementsPackageStatusEnum"},"result":{"description":"Details of results of number activation validation","type":"object","properties":{"activatable":{"$ref":"#/components/schemas/numberActivationResultData"},"notActivatable":{"$ref":"#/components/schemas/numberActivationResultData"}}}}}]}}}},"assetData":{"description":"Asset information with associated asset data","type":"object","properties":{"assetId":{"description":"Unique id of the asset","readOnly":true,"type":"string","example":"93ac73e8-20a7-95ec-bd32-4e8270e66c31"},"assetType":{"$ref":"#/components/schemas/assetTypeEnum"},"assetReferenceId":{"description":"Id of the referenced asset object","type":"string","example":"05ee3231-ad80-4fc5-9c13-68ffc26846a5"},"assetReferenceData":{"description":"Details of the referenced asset object. It can corresponds to an address, endUser or document","readOnly":true,"oneOf":[{"$ref":"#/components/schemas/createAddressRequestData"},{"$ref":"#/components/schemas/complianceDocumentResponseData"},{"$ref":"#/components/schemas/endUserData"}]},"createdDateTime":{"allOf":[{"$ref":"#/components/schemas/createdDateTime"}],"readOnly":true},"updatedDateTime":{"allOf":[{"$ref":"#/components/schemas/updatedDateTime"}],"readOnly":true}}},"assetTypeEnum":{"type":"string","description":"Type of the asset","enum":["ADDRESS","END_USER","DOCUMENT"],"example":"ADDRESS"},"assetGetData":{"description":"Asset information with associated asset data","type":"object","properties":{"assetId":{"description":"Unique id of the asset","readOnly":true,"type":"string","example":"93ac73e8-20a7-95ec-bd32-4e8270e66c31"},"assetReferenceId":{"description":"Id of the referenced asset object","type":"string","example":"05ee3231-ad80-4fc5-9c13-68ffc26846a5"},"assetType":{"$ref":"#/components/schemas/assetTypeEnum"},"assetReferenceData":{"description":"Details of the referenced asset object. It can corresponds to an address, endUser or document","readOnly":true,"oneOf":[{"$ref":"#/components/schemas/addressResponseAssetData"},{"$ref":"#/components/schemas/endUserResponseAssetData"},{"$ref":"#/components/schemas/complianceDocumentResponseData"}]},"createdDateTime":{"allOf":[{"$ref":"#/components/schemas/createdDateTime"}],"readOnly":true},"updatedDateTime":{"allOf":[{"$ref":"#/components/schemas/updatedDateTime"}],"readOnly":true}}},"requirementsPackageHistoryData":{"description":"History of the Requirements package","type":"object","properties":{"status":{"$ref":"#/components/schemas/requirementsPackageStatusEnum"},"customReference":{"type":"string","description":"The customReference of the requirements package"},"email":{"type":"string","format":"email","description":"The email provided as part of the requirements"},"callbacks":{"type":"string","format":"uri","description":"The callback provided as part of the requirements"},"dateTime":{"type":"string","format":"date-time","description":"The date and time of the requirements package event in ISO 8601 format","example":"2015-03-11T04:09:25.399Z"},"author":{"type":"string","description":"The name of the user who performed the requirements package event","example":"Bandwidth User"},"remarks":{"type":"string","description":"The remarks, if any, provided by the author along with the requirements package event","maxLength":5000,"example":"Remarks provided by user"},"allDetailsAccurate":{"type":"boolean","description":"The confirmation on accuracy of data submitted at the time of the requirements package event","example":true}}},"requirementsPackageStatusEnum":{"type":"string","description":"Status of the Requirements package","enum":["DRAFT","SUBMITTED","VERIFIED","VERIFICATION_FAILED","DISABLED","AUTO_VALIDATED"],"example":"SUBMITTED"},"requirementsPackageData":{"description":"Details of the Requirements package","type":"object","properties":{"requirementsPackageId":{"allOf":[{"$ref":"#/components/schemas/requirementsPackageId"}],"readOnly":true},"countryCodeA3":{"$ref":"#/components/schemas/countryCodeA3String"},"phoneNumberType":{"$ref":"#/components/schemas/phoneNumberTypeEnum"},"endUserType":{"$ref":"#/components/schemas/end
[...]
