{"openapi":"3.0.1","info":{"title":"Hosted Number Management","description":"Bandwidth\u0027s Hosted Number Management APIs\n\nThis API provides endpoints to manage hosted telephone numbers, either for voice and messaging. \n\nNote that specs are still being moved over from the [Numbers section](https://dev.bandwidth.com/apis/numbers-apis/numbers)","contact":{"name":"Bandwidth","url":"https://support.bandwidth.com","email":"support@bandwidth.com"},"version":"1.0.0","termsOfService":"https://www.bandwidth.com/legal/terms-of-use-bandwidthcom-web-sites/"},"servers":[{"url":"https://api.bandwidth.com/api/v2","description":"Production"}],"security":[{"Basic":[]},{"Bearer":[]}],"tags":[{"name":"Hosted Messaging"},{"name":"Import TN Checker"},{"name":"Operator Information"},{"name":"Hosted Voice"},{"name":"External TN Orders"}],"paths":{"/accounts/{accountId}/importPhoneNumberOrders/messaging":{"get":{"tags":["Hosted Messaging"],"description":"Retrieves the importPhoneNumberOrders requests for the given account ID. A maximum of 1,000 orders can be retrieved per request. If no date range or required query parameter is provided, the order results will be limited to the last two years.\n\nIn this table are presented capabilities that are not universally available. The following request query parameters are only allowed for numbers from specific region/country:\n| Number Region | Request Query Parameter |\n|:--------------|:------------------------|\n|NANP|loaType|\n","summary":"List Hosted Messaging Orders","operationId":"readImportMessagingPhoneNumberOrders","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/statusQueryParam"},{"$ref":"#/components/parameters/phoneNumberQueryParam"},{"$ref":"#/components/parameters/customerOrderIdQueryParam"},{"$ref":"#/components/parameters/createdDateFromQueryParam"},{"$ref":"#/components/parameters/createdDateToQueryParam"},{"$ref":"#/components/parameters/modifiedDateFromQueryParam"},{"$ref":"#/components/parameters/modifiedDateToQueryParam"},{"$ref":"#/components/parameters/loaTypeQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/getImportMessagingPhoneNumberOrdersResponse"},"400":{"$ref":"#/components/responses/getImportMessagingPhoneNumberOrders400ErrorResponse"}}},"post":{"tags":["Hosted Messaging"],"description":"Creates an importPhoneNumberOrder request to add numbers under the given sub account ID and location ID as specified in the body.\nA successfully submitted order will have a status of \u0022RECEIVED\u0022. A successfully completed order will have a status of \u0022COMPLETE\u0022 if all of the telephone numbers were successfully imported and  \u0022PARTIAL\u0022 if some of the telephone numbers were imported. A failed order with will have a staus of \u0022FAILED\u0022 and no telephone numbers would have been imported.\n\nThe following request parameters are only required for numbers from specific region/country:\n| Number Region | Request Parameter |\n|:--------------|:------------------------|\n|NANP|LoaAuthorizingPerson|\n|NANP|LoaType|\n|NANP|Subscriber|","summary":"Create Hosted Messaging Order","operationId":"createImportMessagingPhoneNumberOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/postImportMessagingPhoneNumberOrdersRequest"},"responses":{"201":{"$ref":"#/components/responses/postImportMessagingPhoneNumberOrdersResponse"},"400":{"$ref":"#/components/responses/postImportMessagingPhoneNumberOrders400ErrorResponse"}}}},"/accounts/{accountId}/importPhoneNumberOrders/messaging/{orderId}":{"get":{"tags":["Hosted Messaging"],"description":"Retrieve an order to import hosted messaging to a phone number by order ID","summary":"Get Hosted Messaging Order","operationId":"retrieveImportMessagingPhoneNumberOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getImportMessagingPhoneNumberOrderResponse"},"400":{"$ref":"#/components/responses/getImportMessagingPhoneNumber400ErrorOrderResponse"}}}},"/accounts/{accountId}/importPhoneNumberOrders/messaging/{orderId}/history":{"get":{"tags":["Hosted Messaging"],"description":"Retrieves the history of the specified importPhoneNumberOrder.","summary":"Get Hosted Messaging Order History","operationId":"readImportMessagingPhoneNumberOrderHistory","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getImportMessagingPhoneNumberOrdersHistoryResponse"}}}},"/accounts/{accountId}/importPhoneNumberOrders/messaging/{orderId}/loas":{"get":{"description":"Retrieves the list of the LOA files associated with the order. Only for orders involving NANP numbers.","operationId":"listImportMessagingPhoneNumberOrderLoas","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"},{"$ref":"#/components/parameters/metaDataQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/getImportMessagingPhoneNumberOrdersLoasResponse"},"400":{"$ref":"#/components/responses/getImportMessagingPhoneNumberOrdersLoas400ErrorResponse"}},"summary":"List Hosted Messaging Order LOA files","tags":["Hosted Messaging"]},"post":{"description":"POSTing to the /loas resource will enable the upload of the file.  The key attribute to the POST is ensuring that the headers are correctly set to support the file upload.\u003Cbr\u003E\nQuery parameter or header documentType can be used to specify type of document on upload.\n\u003Cp\u003EWhen uploading documents using the /loas resource, you must specify the MIME type of the document being upload using the Content-Type HTTP header.\u003C/p\u003E\n\u003Cp\u003EThe LOA document must be uploaded using one of the following MIME types:\u003C/p\u003E\n\u003Cul\u003E\n\u003Cli\u003Eapplication/pdf\u003C/li\u003E\n\u003Cli\u003Etext/plain\u003C/li\u003E\n\u003Cli\u003Eimage/jpeg\u003C/li\u003E\n\u003Cli\u003Eimage/png\u003C/li\u003E\n\u003Cli\u003Eimage/tiff\u003C/li\u003E\n\u003Cli\u003Etext/csv\u003C/li\u003E\n\u003Cli\u003Eapplication/vnd.ms-excel\u003C/li\u003E\n\u003Cli\u003Eapplication/vnd.openxmlformats-officedocument.spreadsheetml.sheet\u003C/li\u003E\n\u003Cli\u003Eapplication/msword\u003C/li\u003E\n\u003Cli\u003Eapplication/vnd.openxmlformats-officedocument.wordprocessingml.document\u003C/li\u003E\n\u003C/ul\u003E","operationId":"createImportMessagingPhoneNumberOrderLoas","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"},{"$ref":"#/components/parameters/documentTypeQueryParam"}],"requestBody":{"$ref":"#/components/requestBodies/postImportMessagingPhoneNumberOrdersLoasRequest"},"responses":{"201":{"$ref":"#/components/responses/postImportMessagingPhoneNumberOrdersLoasResponse"}},"summary":"Upload LOA File for Import Phone Number Order [NANP]","tags":["Hosted Messaging"]}},"/accounts/{accountId}/removeImportedPhoneNumberOrders/messaging":{"get":{"tags":["Hosted Messaging"],"description":"Retrieves the Remove Imported Messaging Tn Orders requests for the given account ID.\nA maximum of 1,000 orders can be retrieved per request. If no date range or specific query parameter as required is provided, the order results will be limited to the last two years.","summary":"List Orders for Removing Hosted Messaging","operationId":"listRemoveImportedTnOrders","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/statusQueryParam"},{"$ref":"#/components/parameters/phoneNumberQueryParam"},{"$ref":"#/components/parameters/customerOrderIdQueryParam"},{"$ref":"#/components/parameters/createdDateFromQueryParam"},{"$ref":"#/components/parameters/createdDateToQueryParam"},{"$ref":"#/components/parameters/removeImportedModifiedDateFromQueryParam"},{"$ref":"#/components/parameters/removeImportedModifiedDateToQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/getRemoveImportedMessagingPhoneNumberOrdersResponse"}}},"post":{"tags":["Hosted Messaging"],"description":"Create an order to remove imported phone numbers for messaging from the given account ID. An optional customer ID can be provided in the request body to track the order. A successfully submitted order will have a status of \u0022PROCESSING\u0022. A successfully completed order will have a status of \u0022COMPLETE\u0022 if all of the phone numbers were successfully removed and  \u0022PARTIAL\u0022 if some of the phone numbers were removed. A failed order will have a status of \u0022FAILED\u0022 and no phone numbers would have been removed.\n","summary":"Create Order to Remove Hosted Messaging","operationId":"createRemoveImportedPhoneNumberOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/postRemoveImportedPhoneNumberOrderRequest"},"responses":{"201":{"$ref":"#/components/responses/postRemoveImportedMessagingTnOrdersResponse"},"400":{"$ref":"#/components/responses/postRemoveImportedMessagingTnOrders400ErrorResponse"}}}},"/accounts/{accountId}/removeImportedPhoneNumberOrders/messaging/{orderId}":{"get":{"tags":["Hosted Messaging"],"description":"Retrieve an order to remove hosted messaging from a phone number by ID","summary":"Get Order to Remove Hosted Messaging","operationId":"retrieveRemoveImportedPhoneNumberOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getRemoveImportedMessagingPhoneNumberOrderResponse"},"400":{"$ref":"#/components/responses/getRemoveImportedMessagingPhoneNumberOrder400ErrorResponse"}}}},"/accounts/{accountId}/importTnChecker":{"post":{"tags":["Import TN Checker"],"description":"Request importability information on a set of TNs. SipPeerId is an optional value. If SipPeerId is not specified, the id of the default Sip-Peer for the provided SiteId will be used.","operationId":"createRequestImportTnChecker","summary":"Check Tns importability","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"content":{"application/xml":{"examples":{"example":{"description":"example","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CImportTnCheckerPayload\u003E\n  \u003CTelephoneNumbers\u003E\n    \u003CTelephoneNumber\u003E\u002B13032281000\u003C/TelephoneNumber\u003E\n    \u003CTelephoneNumber\u003E\u002B14109235436\u003C/TelephoneNumber\u003E\n    \u003CTelephoneNumber\u003E\u002B14104685864\u003C/TelephoneNumber\u003E\n  \u003C/TelephoneNumbers\u003E\n  \u003CSiteId\u003E486\u003C/SiteId\u003E\n  \u003CSipPeerId\u003E500025\u003C/SipPeerId\u003E\n\u003C/ImportTnCheckerPayload\u003E"}},"schema":{"$ref":"#/components/schemas/importTnCheckerPayload"}},"application/json":{"schema":{"$ref":"#/components/schemas/importTnCheckerRequest"},"examples":{"example":{"value":{"phoneNumbers":["\u002B13032281000","\u002B14109235436","\u002B14104685864"],"subAccountId":486,"locationId":500025}}}}}},"responses":{"200":{"description":"\u003Cp\u003EA successful check has been performed.\u003C/p\u003E","content":{"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CImportTnCheckerResponse\u003E\n  \u003CImportTnCheckerPayload\u003E\n    \u003CTelephoneNumbers\u003E\n      \u003CTelephoneNumber\u003E\u002B13032281000\u003C/TelephoneNumber\u003E\n    \u003C/TelephoneNumbers\u003E\n    \u003CImportTnErrors\u003E\n      \u003CImportTnError\u003E\n        \u003CCode\u003E19006\u003C/Code\u003E\n        \u003CDescription\u003EBandwidth numbers cannot be imported by this account at this time.\u003C/Description\u003E\n        \u003CTelephoneNumbers\u003E\n          \u003CTelephoneNumber\u003E\u002B14109235436\u003C/TelephoneNumber\u003E\n          \u003CTelephoneNumber\u003E\u002B14104685864\u003C/TelephoneNumber\u003E\n        \u003C/TelephoneNumbers\u003E\n      \u003C/ImportTnError\u003E\n    \u003C/ImportTnErrors\u003E\n  \u003C/ImportTnCheckerPayload\u003E\n\u003C/ImportTnCheckerResponse\u003E"}},"schema":{"$ref":"#/components/schemas/importTnCheckerResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/importTnCheckerJsonResponse"},"examples":{"example":{"value":{"phoneNumbers":["\u002B13032281000"],"errors":[{"code":19006,"description":"Bandwidth numbers cannot be imported by this account at this time.","phoneNumbers":["\u002B14109235436","\u002B14104685864"]}]}}}}}},"400":{"description":"\u003Cp\u003EBad Response - there were errors in evaluating the body of the request.\u003C/p\u003E \u003Cp\u003EPotential errors include:\u003C/p\u003E\u003Cul\u003E\u003Cli\u003E List of TNs is empty.\u003Cli\u003E List of TNs is more than 5000 TNs.\u003Cli\u003E The account does not have the necessary (IMPORT_TNS) flag.\u003Cli\u003E TNs are invalid (they are not actual TNs, and there are duplicates).\u003C/ul\u003E","content":{"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CImportTnCheckerResponse\u003E\n\u003CErrors\u003E\n  \u003CCode\u003E7201\u003C/Code\u003E\n    \u003CDescription\u003E\u002B161746052083 is not a valid NANP telephone number.\u003C/Description\u003E\n  \u003C/Errors\u003E\n  \u003CErrors\u003E\n    \u003CCode\u003E7201\u003C/Code\u003E\n    \u003CDescription\u003E\u002B161746052082 is not a valid NANP telephone number.\u003C/Description\u003E\n  \u003C/Errors\u003E\n\u003C/ImportTnCheckerResponse\u003E"}},"schema":{"$ref":"#/components/schemas/importTnCheckerErrorResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/importTnCheckerErrorJsonResponse"},"examples":{"example":{"value":{"errors":[{"code":7201,"description":"\u002B161746052083 is not a valid NANP telephone number."},{"code":7201,"description":"\u002B161746052082 is not a valid NANP telephone number."}]}}}}}}}}},"/accounts/{accountId}/operators":{"post":{"tags":["Operator Information"],"description":"\u003Cp\u003EStore an  operator information\u003C/p\u003E\n","operationId":"createOperators","summary":"Create Operator","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/operatorRequest"},"responses":{"201":{"$ref":"#/components/responses/operatorSuccessfulResponse"},"400":{"$ref":"#/components/responses/operatorBadRequestError"},"401":{"$ref":"#/components/responses/operatorUnauthorizedError"},"403":{"$ref":"#/components/responses/operatorForbiddenError"},"404":{"$ref":"#/components/responses/operatorNotFoundError"},"405":{"$ref":"#/components/responses/methodNotSupportedError"},"415":{"$ref":"#/components/responses/operatorInvalidMediaTypeError"},"429":{"$ref":"#/components/responses/operatorTooManyRequestsError"},"500":{"$ref":"#/components/responses/operatorsInternalServerError"}}},"get":{"tags":["Operator Information"],"description":"\u003Cp\u003EStore an operator information\u003C/p\u003E\n","operationId":"listOperators","summary":"List Operators","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/operatorCountryCodeA3QueryParam"},{"$ref":"#/components/parameters/operatorSizeQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/listOperatorsResponse"},"400":{"$ref":"#/components/responses/operatorBadRequestError"},"401":{"$ref":"#/components/responses/operatorUnauthorizedError"},"403":{"$ref":"#/components/responses/operatorForbiddenError"},"404":{"$ref":"#/components/responses/operatorNotFoundError"},"405":{"$ref":"#/components/responses/methodNotSupportedError"},"415":{"$ref":"#/components/responses/operatorInvalidMediaTypeError"},"429":{"$ref":"#/components/responses/operatorTooManyRequestsError"},"500":{"$ref":"#/components/responses/operatorsInternalServerError"}}}},"/accounts/{accountId}/operators/{operatorId}":{"patch":{"tags":["Operator Information"],"description":"Update the name and/or routing prefixes for an operator by ID.\n","operationId":"updateOperator","summary":"Update Operator","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/operatorId"}],"requestBody":{"$ref":"#/components/requestBodies/operatorPatchRequest"},"responses":{"200":{"$ref":"#/components/responses/operatorSuccessfulResponse"},"400":{"$ref":"#/components/responses/operatorBadRequestError"},"401":{"$ref":"#/components/responses/operatorUnauthorizedError"},"403":{"$ref":"#/components/responses/operatorForbiddenError"},"404":{"$ref":"#/components/responses/operatorNotFoundError"},"405":{"$ref":"#/components/responses/methodNotSupportedError"},"415":{"$ref":"#/components/responses/operatorInvalidMediaTypeError"},"429":{"$ref":"#/components/responses/operatorTooManyRequestsError"},"500":{"$ref":"#/components/responses/operatorsInternalServerError"}}},"get":{"tags":["Operator Information"],"description":"\u003Cp\u003ERetrieve an operator information\u003C/p\u003E\n","operationId":"getOperator","summary":"Get Operator","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/operatorId"}],"responses":{"200":{"$ref":"#/components/responses/operatorSuccessfulResponse"},"400":{"$ref":"#/components/responses/operatorBadRequestError"},"401":{"$ref":"#/components/responses/operatorUnauthorizedError"},"403":{"$ref":"#/components/responses/operatorForbiddenError"},"404":{"$ref":"#/components/responses/operatorNotFoundError"},"405":{"$ref":"#/components/responses/methodNotSupportedError"},"415":{"$ref":"#/components/responses/operatorInvalidMediaTypeError"},"429":{"$ref":"#/components/responses/operatorTooManyRequestsError"},"500":{"$ref":"#/components/responses/operatorsInternalServerError"}}}},"/accounts/{accountId}/importTnOrders/voice":{"get":{"tags":["Hosted Voice"],"description":"Retrieves the ImportVoiceTnOrder requests for the given account ID. A maximum of 1,000 orders can be retrieved per request. If no date range or specific query parameter (marked by \u003Cb class=\u0022required\u0022\u003E*\u003C/b\u003E below) is provided, the order results will be limited to the last two years.\n","summary":"List Import Voice Tn orders","operationId":"readImportVoiceTnOrders","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/statusQueryParam"},{"$ref":"#/components/parameters/tnQueryParam"},{"$ref":"#/components/parameters/customerOrderIdQueryParam"},{"$ref":"#/components/parameters/createdDateFromQueryParam"},{"$ref":"#/components/parameters/createdDateToQueryParam"},{"$ref":"#/components/parameters/modifiedDateFromQueryParam"},{"$ref":"#/components/parameters/modifiedDateToQueryParam"}],"responses":{"200":{"description":"The descriptive payload for the importVoiceTnOrders query provides information about the orders found by the query, including the data associated with the order, the state of the order, and a list of the successfully imported Telephone Numbers, and descriptions of any encountered errors.","content":{"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CImportVoiceTnOrders\u003E\n   \u003CTotalCount\u003E2\u003C/TotalCount\u003E\n   \u003CImportVoiceTnOrderSummary\u003E\n      \u003CaccountId\u003E14\u003C/accountId\u003E\n      \u003CCountOfTNs\u003E1\u003C/CountOfTNs\u003E\n      \u003CCustomerOrderId\u003ECustomerOrderId\u003C/CustomerOrderId\u003E\n      \u003CuserId\u003EsystemUser\u003C/userId\u003E\n      \u003ClastModifiedDate\u003E2019-01-24T11:08:09.770Z\u003C/lastModifiedDate\u003E\n      \u003COrderDate\u003E2019-01-24T11:08:09.770Z\u003C/OrderDate\u003E\n      \u003COrderType\u003Eimport_voice_tn_orders\u003C/OrderType\u003E\n      \u003COrderStatus\u003ECOMPLETE\u003C/OrderStatus\u003E\n      \u003COrderId\u003E211a103c-5f9c-4117-8833-c574bdc390fd\u003C/OrderId\u003E\n   \u003C/ImportVoiceTnOrderSummary\u003E\n   \u003CImportVoiceTnOrderSummary\u003E\n      \u003CaccountId\u003E14\u003C/accountId\u003E\n      \u003CCountOfTNs\u003E2\u003C/CountOfTNs\u003E\n      \u003CCustomerOrderId\u003ECustomerOrderId\u003C/CustomerOrderId\u003E\n      \u003CuserId\u003EsystemUser\u003C/userId\u003E\n      \u003ClastModifiedDate\u003E2019-01-24T10:43:16.934Z\u003C/lastModifiedDate\u003E\n      \u003COrderDate\u003E2019-01-24T10:43:16.934Z\u003C/OrderDate\u003E\n      \u003COrderType\u003Eimport_voice_tn_orders\u003C/OrderType\u003E\n      \u003COrderStatus\u003EPARTIAL\u003C/OrderStatus\u003E\n      \u003COrderId\u003E8dc32f09-2329-4c73-b702-526f46b02712\u003C/OrderId\u003E\n   \u003C/ImportVoiceTnOrderSummary\u003E\n\u003C/ImportVoiceTnOrders\u003E\n"}},"schema":{"$ref":"#/components/schemas/importVoiceTnOrdersResponseList"}},"application/json":{"schema":{"$ref":"#/components/schemas/importVoiceTnOrdersJsonResponseList"},"examples":{"example":{"value":{"totalCount":2,"orders":[{"accountId":14,"phoneNumberCount":1,"customerOrderId":"CustomerOrderId","userId":"systemUser","lastModifiedDate":"2019-01-24T11:08:09.770Z","orderDate":"2019-01-24T11:08:09.770Z","orderType":"import_voice_tn_orders","orderStatus":"COMPLETE","orderId":"211a103c-5f9c-4117-8833-c574bdc390fd"},{"accountId":14,"phoneNumberCount":2,"customerOrderId":"CustomerOrderId","userId":"systemUser","lastModifiedDate":"2019-01-24T10:43:16.934Z","orderDate":"2019-01-24T10:43:16.934Z","orderType":"import_voice_tn_orders","orderStatus":"PARTIAL","orderId":"8dc32f09-2329-4c73-b702-526f46b02712"}]}}}}}}}},"post":{"tags":["Hosted Voice"],"description":"Creates an ImportVoiceTnOrders request to add numbers under the given site ID and sipPeer ID as specified in the body.\nWe can either provide the list of telephone numbers or the range(s) of telephone numbers in the request.\nA successfully submitted order will have a status of \u0022RECEIVED\u0022. A successfully completed order will have a status of \u0022COMPLETE\u0022 if all of the telephone numbers were successfully imported and  \u0022PARTIAL\u0022 if some of the telephone numbers were imported. A failed order with will have a staus of \u0022FAILED\u0022 and no telephone numbers would have been imported.","summary":"Import Voice Tn order","operationId":"createImportVoiceTnOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/importVoiceTnOrderRequest"},"examples":{"With telephone numbers list":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CImportVoiceTnOrder\u003E\n   \u003CCustomerOrderId\u003EICPA123ABC\u003C/CustomerOrderId\u003E\n   \u003CSiteId\u003E743\u003C/SiteId\u003E\n   \u003CSipPeerId\u003E303716\u003C/SipPeerId\u003E\n   \u003CVoiceConfigurationPackageId\u003E8826e9fe-1f0a-4cb0-be37-85cad742686c\u003C/VoiceConfigurationPackageId\u003E\n   \u003COperatorId\u003E1\u003C/OperatorId\u003E\n   \u003CTelephoneNumbers\u003E\n      \u003CTelephoneNumber\u003E\u002B19199918388\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B14158714245\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B14352154439\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B14352154466\u003C/TelephoneNumber\u003E\n   \u003C/TelephoneNumbers\u003E\n\u003C/ImportVoiceTnOrder\u003E\n"},"With telephone numbers range":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CImportVoiceTnOrder\u003E\n   \u003CCustomerOrderId\u003EICPA123ABC\u003C/CustomerOrderId\u003E\n   \u003CSiteId\u003E743\u003C/SiteId\u003E\n   \u003CSipPeerId\u003E303716\u003C/SipPeerId\u003E\n   \u003CVoiceConfigurationPackageId\u003E8826e9fe-1f0a-4cb0-be37-85cad742686c\u003C/VoiceConfigurationPackageId\u003E\n   \u003COperatorId\u003E1\u003C/OperatorId\u003E\n   \u003CTelephoneNumbersRanges\u003E\n      \u003CTelephoneNumbersRange\u003E\n        \u003CFrom\u003E\u002B19199918388\u003C/From\u003E\n        \u003CTo\u003E\u002B19199918400\u003C/To\u003E\n      \u003C/TelephoneNumbersRange\u003E\n      \u003CTelephoneNumbersRange\u003E\n        \u003CFrom\u003E\u002B14158714245\u003C/From\u003E\n        \u003CTo\u003E\u002B14158714252\u003C/To\u003E\n      \u003C/TelephoneNumbersRange\u003E\n   \u003C/TelephoneNumbersRanges\u003E\n\u003C/ImportVoiceTnOrder\u003E\n"}}},"application/json":{"schema":{"$ref":"#/components/schemas/importVoiceTnOrderJsonRequest"},"examples":{"With telephone numbers list":{"value":{"customerOrderId":"ICPA123ABC","subAccountId":743,"locationId":303716,"voiceConfigurationPackageId":"8826e9fe-1f0a-4cb0-be37-85cad742686c","operatorId":1,"phoneNumbers":["\u002B19199918388","\u002B14158714245","\u002B14352154439","\u002B14352154466"]}},"With telephone numbers range":{"value":{"customerOrderId":"ICPA123ABC","subAccountId":743,"locationId":303716,"voiceConfigurationPackageId":"8826e9fe-1f0a-4cb0-be37-85cad742686c","operatorId":1,"phoneNumberRanges":[{"from":"\u002B19199918388","to":"\u002B19199918400"},{"from":"\u002B14158714245","to":"\u002B14158714252"}]}}}}}},"responses":{"201":{"description":"The order has been created and an order ID will be specified in the payload and in the header.","content":{"application/xml":{"examples":{"With telephone numbers list":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n  \u003CImportVoiceTnOrderResponse\u003E\n     \u003CImportVoiceTnOrder\u003E\n        \u003CCustomerOrderId\u003ESJM000001\u003C/CustomerOrderId\u003E\n        \u003COrderCreateDate\u003E2018-01-20T02:59:54.000Z\u003C/OrderCreateDate\u003E\n        \u003CAccountId\u003E9900012\u003C/AccountId\u003E\n        \u003CCreatedByUser\u003Esmckinnon\u003C/CreatedByUser\u003E\n        \u003COrderId\u003Eb05de7e6-0cab-4c83-81bb-9379cba8efd0\u003C/OrderId\u003E\n        \u003CLastModifiedDate\u003E2018-01-20T02:59:54.000Z\u003C/LastModifiedDate\u003E\n        \u003CSiteId\u003E202\u003C/SiteId\u003E\n        \u003CSipPeerId\u003E520565\u003C/SipPeerId\u003E\n        \u003CVoiceConfigurationPackageId\u003E8826e9fe-1f0a-4cb0-be37-85cad742686c\u003C/VoiceConfigurationPackageId\u003E\n        \u003COperatorId\u003E1\u003C/OperatorId\u003E\n        \u003CTelephoneNumbers\u003E\n           \u003CTelephoneNumber\u003E\u002B19199918388\u003C/TelephoneNumber\u003E\n           \u003CTelephoneNumber\u003E\u002B14158714245\u003C/TelephoneNumber\u003E\n           \u003CTelephoneNumber\u003E\u002B14352154439\u003C/TelephoneNumber\u003E\n           \u003CTelephoneNumber\u003E\u002B14352154466\u003C/TelephoneNumber\u003E\n        \u003C/TelephoneNumbers\u003E\n        \u003CProcessingStatus\u003EPROCESSING\u003C/ProcessingStatus\u003E\n        \u003CErrors/\u003E\n     \u003C/ImportVoiceTnOrder\u003E\n  \u003C/ImportVoiceTnOrderResponse\u003E\n"},"With telephone numbers range along with list":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n  \u003CImportVoiceTnOrderResponse\u003E\n    \u003CImportVoiceTnOrder\u003E\n       \u003CCustomerOrderId\u003EICPA123ABC\u003C/CustomerOrderId\u003E\n       \u003CSiteId\u003E743\u003C/SiteId\u003E\n       \u003CSipPeerId\u003E303716\u003C/SipPeerId\u003E\n       \u003CVoiceConfigurationPackageId\u003E8826e9fe-1f0a-4cb0-be37-85cad742686c\u003C/VoiceConfigurationPackageId\u003E\n       \u003COperatorId\u003E1\u003C/OperatorId\u003E\n       \u003CTelephoneNumbersRanges\u003E\n          \u003CTelephoneNumbersRange\u003E\n            \u003CFrom\u003E\u002B12106078250\u003C/From\u003E\n            \u003CTo\u003E\u002B12109678253\u003C/To\u003E\n          \u003C/TelephoneNumbersRange\u003E\n          \u003CTelephoneNumbersRange\u003E\n            \u003CFrom\u003E\u002B12106078910\u003C/From\u003E\n            \u003CTo\u003E\u002B12109678912\u003C/To\u003E\n          \u003C/TelephoneNumbersRange\u003E\n       \u003C/TelephoneNumbersRanges\u003E\n       \u003CTelephoneNumbers\u003E\n          \u003CTelephoneNumber\u003E\u002B12106078250\u003C/TelephoneNumber\u003E\n          \u003CTelephoneNumber\u003E\u002B12106078251\u003C/TelephoneNumber\u003E\n          \u003CTelephoneNumber\u003E\u002B12106078252\u003C/TelephoneNumber\u003E\n          \u003CTelephoneNumber\u003E\u002B12106078253\u003C/TelephoneNumber\u003E\n          \u003CTelephoneNumber\u003E\u002B12106078910\u003C/TelephoneNumber\u003E\n          \u003CTelephoneNumber\u003E\u002B12106078911\u003C/TelephoneNumber\u003E\n          \u003CTelephoneNumber\u003E\u002B12106078912\u003C/TelephoneNumber\u003E\n       \u003C/TelephoneNumbers\u003E\n    \u003C/ImportVoiceTnOrder\u003E\n\u003C/ImportVoiceTnOrderResponse\u003E"}},"schema":{"$ref":"#/components/schemas/importVoiceTnOrderResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/importVoiceTnOrderJsonResponse"},"examples":{"example":{"value":{"customerOrderId":"SJM000001","orderCreateDate":"2018-01-20T02:59:54.000Z","accountId":9900012,"createdByUser":"smckinnon","orderId":"b05de7e6-0cab-4c83-81bb-9379cba8efd0","lastModifiedDate":"2018-01-20T02:59:54.000Z","subAccountId":202,"locationId":520565,"voiceConfigurationPackageId":"8826e9fe-1f0a-4cb0-be37-85cad742686c","operatorId":1,"phoneNumbers":["\u002B19199918388","\u002B14158714245","\u002B14352154439","\u002B14352154466"],"processingStatus":"PROCESSING","errors":[]}}}}}},"400":{"description":"The order failed; one of the input parameters is invalid.","content":{"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CImportVoiceTnOrderResponse\u003E\n   \u003CProcessingStatus\u003EFAILED\u003C/ProcessingStatus\u003E\n   \u003CErrors\u003E\n      \u003CCode\u003E7309\u003C/Code\u003E\n      \u003CDescription\u003EThe site id was not supplied or is invalid.\u003C/Description\u003E\n   \u003C/Errors\u003E\n\u003C/ImportVoiceTnOrderResponse\u003E\n"}},"schema":{"$ref":"#/components/schemas/importVoiceTnOrderError"}},"application/json":{"schema":{"$ref":"#/components/schemas/importVoiceTnOrderJsonError"},"examples":{"example":{"value":{"processingStatus":"FAILED","errorCode":7309,"description":"The site id was not supplied or is invalid."}}}}}},"404":{"description":"The order failed; one of the input parameters is invalid.","content":{"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CImportVoiceTnOrderResponse\u003E\n   \u003CProcessingStatus\u003EFAILED\u003C/ProcessingStatus\u003E\n   \u003CErrors\u003E\n      \u003CCode\u003E8000\u003C/Code\u003E\n      \u003CDescription\u003EOperator Info Not Found\u003C/Description\u003E\n   \u003C/Errors\u003E\n\u003C/ImportVoiceTnOrderResponse\u003E\n"}},"schema":{"$ref":"#/components/schemas/importVoiceTnOrderError"}},"application/json":{"schema":{"$ref":"#/components/schemas/importVoiceTnOrderJsonError"},"examples":{"example":{"value":{"processingStatus":"FAILED","errorCode":8000,"description":"Operator Info Not Found"}}}}}}}}},"/accounts/{accountId}/importTnOrders/voice/{orderId}":{"get":{"tags":["Hosted Voice"],"description":"Retrieve information about a importVoiceTnOrder with specified ID.","summary":"Fetch Import Voice Tn order status","operationId":"readImportVoiceTnOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"description":"The information has been successfully retrieved and displayed in the payload.","content":{"application/xml":{"examples":{"example when order is created with list of telephone numbers":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CImportTnOrder\u003E\n   \u003COrderCreateDate\u003E2018-01-09T02:58:04.615Z\u003C/OrderCreateDate\u003E\n   \u003CAccountId\u003E9900012\u003C/AccountId\u003E\n   \u003CCreatedByUser\u003Esjm\u003C/CreatedByUser\u003E\n   \u003COrderId\u003Ebf1305b8-8998-1111-2222-51ba3ce52d4e\u003C/OrderId\u003E\n   \u003CLastModifiedDate\u003E2018-01-09T02:58:05.298Z\u003C/LastModifiedDate\u003E\n   \u003CSiteId\u003E65487\u003C/SiteId\u003E\n   \u003CSipPeerId\u003E885544\u003C/SipPeerId\u003E\n   \u003CTelephoneNumbers\u003E\n      \u003CTelephoneNumber\u003E\u002B12106078250\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B12109678273\u003C/TelephoneNumber\u003E\n   \u003C/TelephoneNumbers\u003E\n   \u003CProcessingStatus\u003EPARTIAL\u003C/ProcessingStatus\u003E\n   \u003CErrors\u003E\n      \u003CError\u003E\n         \u003CCode\u003E19013\u003C/Code\u003E\n         \u003CDescription\u003ENumbers already exist\u003C/Description\u003E\n         \u003CTelephoneNumbers\u003E\n            \u003CTelephoneNumber\u003E\u002B12262665583\u003C/TelephoneNumber\u003E\n         \u003C/TelephoneNumbers\u003E\n      \u003C/Error\u003E\n   \u003C/Errors\u003E\n\u003C/ImportTnOrder\u003E\n"}},"schema":{"$ref":"#/components/schemas/importVoiceTnOrderResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/importVoiceTnOrderJsonResponse"},"examples":{"example":{"value":{"orderCreateDate":"2018-01-09T02:58:04.615Z","accountId":9900012,"createdByUser":"sjm","orderId":"bf1305b8-8998-1111-2222-51ba3ce52d4e","lastModifiedDate":"2018-01-09T02:58:05.298Z","subAccountId":65487,"locationId":885544,"phoneNumbers":["\u002B12106078250","\u002B12109678273"],"processingStatus":"PARTIAL","errors":[{"code":19013,"description":"Numbers already exist","phoneNumbers":["\u002B12262665583"]}]}}}}}}}},"patch":{"tags":["Hosted Voice"],"description":"Update the status of a Hosted Voice order, as specified in the body.\nThe status can be changed from \u0022SUBMITTED\u0022 to either \u0022MISSING_REQUIREMENTS\u0022 or \u0022APPROVED\u0022","summary":"Update Import Voice Tn order","operationId":"updateImportVoiceTnOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/importVoiceTnOrdersPatchRequest"},"responses":{"204":{"description":"No Content"},"400":{"$ref":"#/components/responses/importVoiceTnOrdersPatchBadRequestError"},"403":{"$ref":"#/components/responses/importVoiceTnOrdersPatchForbiddenError"}}}},"/accounts/{accountId}/importTnOrders/voice/{orderId}/history":{"get":{"tags":["Hosted Voice"],"description":"Retrieves the history of the specified importVoiceTnOrder.","summary":"Fetch Import Voice Tn order history","operationId":"readImportVoiceTnOrderHistory","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"description":"The history has been successfully retrieved and displayed in the payload.","content":{"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrderHistoryWrapper\u003E\n   \u003COrderHistory\u003E\n      \u003COrderDate\u003E2015-06-16T14:03:10.225Z\u003C/OrderDate\u003E\n      \u003CNote\u003EImport Voice TN order is received.\u003C/Note\u003E\n      \u003CAuthor\u003Eadmin\u003C/Author\u003E\n      \u003CStatus\u003ERECEIVED\u003C/Status\u003E\n    \u003C/OrderHistory\u003E\n    \u003COrderHistory\u003E\n      \u003COrderDate\u003E2015-06-16T14:03:10.330Z\u003C/OrderDate\u003E\n      \u003CNote\u003EImport TN order is processing.\u003C/Note\u003E\n      \u003CAuthor\u003Eadmin\u003C/Author\u003E\n      \u003CStatus\u003EPROCESSING\u003C/Status\u003E\n   \u003C/OrderHistory\u003E\n   \u003COrderHistory\u003E\n      \u003COrderDate\u003E2015-06-16T14:03:10.789Z\u003C/OrderDate\u003E\n      \u003CNote\u003EImport Voice TN order is partial.\u003C/Note\u003E\n      \u003CAuthor\u003Eadmin\u003C/Author\u003E\n      \u003CStatus\u003EPARTIAL\u003C/Status\u003E\n   \u003C/OrderHistory\u003E\n\u003C/OrderHistoryWrapper\u003E\n"}},"schema":{"$ref":"#/components/schemas/orderHistoryWrapper"}},"application/json":{"schema":{"$ref":"#/components/schemas/orderHistory"},"examples":{"example":{"value":{"orderHistory":[{"orderDate":"2015-06-16T14:03:10.225Z","note":"Import Voice TN order is received.","author":"admin","status":"RECEIVED"},{"orderDate":"2015-06-16T14:03:10.330Z","note":"Import TN order is processing.","author":"admin","status":"PROCESSING"},{"orderDate":"2015-06-16T14:03:10.789Z","note":"Import Voice TN order is partial.","author":"admin","status":"PARTIAL"}]}}}}}}}}},"/importTnOrders/voice":{"get":{"tags":["Hosted Voice"],"description":"Retrieves all importvoicetnorders requests.","operationId":"listImportVoiceTnOrders","summary":"List All Import Voice TN Orders","parameters":[{"$ref":"#/components/parameters/statusQueryParam"},{"$ref":"#/components/parameters/tnQueryParam"},{"$ref":"#/components/parameters/accountIdQueryParam"},{"$ref":"#/components/parameters/customerOrderIdQueryParam"},{"$ref":"#/components/parameters/createdDateFromQueryParam"},{"$ref":"#/components/parameters/createdDateToQueryParam"},{"$ref":"#/components/parameters/modifiedDateFromQueryParam"},{"$ref":"#/components/parameters/modifiedDateToQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/importVoiceTnOrdersResponse"}}}},"/accounts/{accountId}/removeImportedTnOrders/voice":{"get":{"tags":["Hosted Voice"],"description":"Retrieves the Remove Imported Voice Tn Orders requests for the given account ID.\nA maximum of 1,000 orders can be retrieved per request. If no date range or specific query parameter as required is provided, the order results will be limited to the last two years.","summary":"List Remove Imported Voice Tn Orders","operationId":"listRemoveImportedVoiceTnOrders","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/statusQueryParam"},{"$ref":"#/components/parameters/tnQueryParam"},{"$ref":"#/components/parameters/customerOrderIdQueryParam"},{"$ref":"#/components/parameters/createdDateFromQueryParam"},{"$ref":"#/components/parameters/createdDateToQueryParam"},{"$ref":"#/components/parameters/modifiedDateFromQueryParam"},{"$ref":"#/components/parameters/modifiedDateToQueryParam"}],"responses":{"200":{"description":"The descriptive payload for the Remove Imported Voice Tn Orders query provides information about the orders found by the query, including the data associated with the order, the state of the order, and a list of the successfully removed Telephone Numbers, and descriptions of any encountered errors","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/removeImportedVoiceTnOrders"},"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRemoveImportedVoiceTnOrders\u003E\n   \u003CTotalCount\u003E2\u003C/TotalCount\u003E\n   \u003CRemoveImportedVoiceTnOrderSummary\u003E\n      \u003CaccountId\u003E14\u003C/accountId\u003E\n      \u003CCountOfTNs\u003E1\u003C/CountOfTNs\u003E\n      \u003CCustomerOrderId\u003EDemoOrder\u003C/CustomerOrderId\u003E\n      \u003CuserId\u003EsystemUser\u003C/userId\u003E\n      \u003ClastModifiedDate\u003E2019-01-24T10:40:12.908Z\u003C/lastModifiedDate\u003E\n      \u003COrderDate\u003E2019-01-24T10:40:12.907Z\u003C/OrderDate\u003E\n      \u003COrderType\u003Eremove_imported_voice_tn_orders\u003C/OrderType\u003E\n      \u003COrderStatus\u003ECOMPLETE\u003C/OrderStatus\u003E\n      \u003COrderId\u003E4f2d090b-ece7-49ab-9c40-06d1425c39c3\u003C/OrderId\u003E\n   \u003C/RemoveImportedVoiceTnOrderSummary\u003E\n   \u003CRemoveImportedVoiceTnOrderSummary\u003E\n      \u003CaccountId\u003E14\u003C/accountId\u003E\n      \u003CCountOfTNs\u003E1\u003C/CountOfTNs\u003E\n      \u003CCustomerOrderId\u003EDemoOrder\u003C/CustomerOrderId\u003E\n      \u003CuserId\u003EsystemUser\u003C/userId\u003E\n      \u003ClastModifiedDate\u003E2019-01-24T09:38:24.028Z\u003C/lastModifiedDate\u003E\n      \u003COrderDate\u003E2019-01-24T09:38:24.028Z\u003C/OrderDate\u003E\n      \u003COrderType\u003Eremove_imported_voice_tn_orders\u003C/OrderType\u003E\n      \u003COrderStatus\u003EPARTIAL\u003C/OrderStatus\u003E\n      \u003COrderId\u003Eca30ea6a-018a-4cae-9d49-3d419fefdbe3\u003C/OrderId\u003E\n   \u003C/RemoveImportedVoiceTnOrderSummary\u003E\n\u003C/RemoveImportedVoiceTnOrders\u003E"}}},"application/json":{"schema":{"$ref":"#/components/schemas/removeImportedVoiceTnOrdersJsonList"},"examples":{"example":{"value":{"totalCount":2,"orders":[{"accountId":14,"phoneNumberCount":1,"customerOrderId":"DemoOrder","userId":"systemUser","lastModifiedDate":"2019-01-24T10:40:12.908Z","orderDate":"2019-01-24T10:40:12.907Z","orderType":"remove_imported_voice_tn_orders","orderStatus":"COMPLETE","orderId":"4f2d090b-ece7-49ab-9c40-06d1425c39c3"},{"accountId":14,"phoneNumberCount":1,"customerOrderId":"DemoOrder","userId":"systemUser","lastModifiedDate":"2019-01-24T09:38:24.028Z","orderDate":"2019-01-24T09:38:24.028Z","orderType":"remove_imported_voice_tn_orders","orderStatus":"PARTIAL","orderId":"ca30ea6a-018a-4cae-9d49-3d419fefdbe3"}]}}}}}}}},"post":{"tags":["Hosted Voice"],"description":"Creates a Remove Imported Voice Tn Orders request to remove imported telephone numbers from the given site ID and sippeer ID as specified in the body. A successfully submitted order will have a status of \u0022PROCESSING\u0022. A successfully completed order will have a status of \u0022COMPLETE\u0022 if all of the telephone numbers were successfully removed and  \u0022PARTIAL\u0022 if some of the telephone numbers were removed. A failed order with will have a status of \u0022FAILED\u0022 and no telephone numbers would have been removed","summary":"Create Remove Imported Voice Tn Order","operationId":"createRemoveImportedVoiceTnOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/removeImportedVoiceTnOrderRequest"},"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRemoveImportedVoiceTnOrder\u003E\n   \u003CCustomerOrderId\u003EICPA123ABC\u003C/CustomerOrderId\u003E\n   \u003CTelephoneNumbers\u003E\n      \u003CTelephoneNumber\u003E\u002B19199918388\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B14158714245\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B14352154439\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B14352154466\u003C/TelephoneNumber\u003E\n   \u003C/TelephoneNumbers\u003E\n\u003C/RemoveImportedVoiceTnOrder\u003E"}}},"application/json":{"schema":{"$ref":"#/components/schemas/removeImportedVoiceTnOrderJsonRequest"},"examples":{"example":{"value":{"customerOrderId":"ICPA123ABC","phoneNumbers":["\u002B19199918388","\u002B14158714245","\u002B14352154439","\u002B14352154466"]}}}}}},"responses":{"201":{"description":"The order has been created and an order ID will be specified in the payload and in the header","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/removeImportedVoiceTnOrderResponse"},"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRemoveImportedVoiceTnOrderResponse\u003E\n   \u003CRemoveImportedVoiceTnOrder\u003E\n      \u003CCustomerOrderId\u003ESJM000001\u003C/CustomerOrderId\u003E\n      \u003COrderCreateDate\u003E2018-01-20T02:59:54.000Z\u003C/OrderCreateDate\u003E\n      \u003CAccountId\u003E9900012\u003C/AccountId\u003E\n      \u003CCreatedByUser\u003Esmckinnon\u003C/CreatedByUser\u003E\n      \u003COrderId\u003Eb05de7e6-0cab-4c83-81bb-9379cba8efd0\u003C/OrderId\u003E\n      \u003CLastModifiedDate\u003E2018-01-20T02:59:54.000Z\u003C/LastModifiedDate\u003E\n      \u003CTelephoneNumbers\u003E\n         \u003CTelephoneNumber\u003E\u002B19199918388\u003C/TelephoneNumber\u003E\n         \u003CTelephoneNumber\u003E\u002B14158714245\u003C/TelephoneNumber\u003E\n         \u003CTelephoneNumber\u003E\u002B14352154439\u003C/TelephoneNumber\u003E\n         \u003CTelephoneNumber\u003E\u002B14352154466\u003C/TelephoneNumber\u003E\n      \u003C/TelephoneNumbers\u003E\n      \u003CProcessingStatus\u003EPROCESSING\u003C/ProcessingStatus\u003E\n      \u003CErrors /\u003E\n   \u003C/RemoveImportedVoiceTnOrder\u003E\n\u003C/RemoveImportedVoiceTnOrderResponse\u003E"}}},"application/json":{"schema":{"$ref":"#/components/schemas/removeImportedVoiceTnOrderJsonResponse"},"examples":{"example":{"value":{"customerOrderId":"SJM000001","orderCreateDate":"2018-01-20T02:59:54.000Z","accountId":9900012,"createdByUser":"smckinnon","orderId":"b05de7e6-0cab-4c83-81bb-9379cba8efd0","lastModifiedDate":"2018-01-20T02:59:54.000Z","phoneNumbers":["\u002B19199918388","\u002B14158714245","\u002B14352154439","\u002B14352154466"],"processingStatus":"PROCESSING","errors":[]}}}}}},"400":{"description":"The order failed. One of the input parameters is invalid.","content":{"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRemoveImportedVoiceTnOrderResponse\u003E\n   \u003CProcessingStatus\u003EFAILED\u003C/ProcessingStatus\u003E\n   \u003CErrors\u003E\n      \u003CCode\u003E1234\u003C/Code\u003E\n      \u003CDescription\u003EThe customer order id is invalid.\u003C/Description\u003E\n   \u003C/Errors\u003E\n\u003C/RemoveImportedVoiceTnOrderResponse\u003E"}}},"application/json":{"schema":{"$ref":"#/components/schemas/removeImportedVoiceTnOrderJsonError"},"examples":{"example":{"value":{"processingStatus":"FAILED","errorCode":1234,"description":"The customer order id is invalid."}}}}}}}}},"/accounts/{accountId}/removeImportedTnOrders/voice/{orderId}":{"get":{"tags":["Hosted Voice"],"description":"Retrieve information about a removeImportedVoiceTnOrder with specified ID","summary":"Retrieve Remove Imported Voice Tn Order","operationId":"retrieveRemoveImportedVoiceTnOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"description":"The information has been successfully retrieved and displayed in the payload.","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/removeImportedVoiceTnOrderResponse"},"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRemoveImportedVoiceTnOrder\u003E\n   \u003COrderCreateDate\u003E2018-01-09T02:58:04.615Z\u003C/OrderCreateDate\u003E\n   \u003CAccountId\u003E9900012\u003C/AccountId\u003E\n   \u003CCreatedByUser\u003Esjm\u003C/CreatedByUser\u003E\n   \u003COrderId\u003Ebf1305b8-8998-1111-2222-51ba3ce52d4e\u003C/OrderId\u003E\n   \u003CLastModifiedDate\u003E2018-01-09T02:58:05.298Z\u003C/LastModifiedDate\u003E\n   \u003CTelephoneNumbers\u003E\n      \u003CTelephoneNumber\u003E\u002B12106078250\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B12109678273\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B12109678331\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B12109678337\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B12266401468\u003C/TelephoneNumber\u003E\n   \u003C/TelephoneNumbers\u003E\n   \u003CProcessingStatus\u003EPARTIAL\u003C/ProcessingStatus\u003E\n   \u003CErrors\u003E\n      \u003CError\u003E\n         \u003CCode\u003E7518\u003C/Code\u003E\n         \u003CDescription\u003ETelephone Number Not Active.\u003C/Description\u003E\n         \u003CTelephoneNumbers\u003E\n            \u003CTelephoneNumber\u003E\u002B12262665583\u003C/TelephoneNumber\u003E\n         \u003C/TelephoneNumbers\u003E\n      \u003C/Error\u003E\n   \u003C/Errors\u003E\n\u003C/RemoveImportedVoiceTnOrder\u003E"}}},"application/json":{"schema":{"$ref":"#/components/schemas/removeImportedVoiceTnOrderJsonResponse"},"examples":{"example":{"value":{"orderCreateDate":"2018-01-09T02:58:04.615Z","accountId":9900012,"createdByUser":"sjm","orderId":"bf1305b8-8998-1111-2222-51ba3ce52d4e","lastModifiedDate":"2018-01-09T02:58:05.298Z","phoneNumbers":["\u002B12106078250","\u002B12109678273","\u002B12109678331","\u002B12109678337","\u002B12266401468"],"processingStatus":"PARTIAL","errors":[{"code":7518,"description":"Telephone Number Not Active.","phoneNumbers":["\u002B12262665583"]}]}}}}}}}}},"/accounts/{accountId}/removeImportedTnOrders/voice/{orderId}/history":{"get":{"tags":["Hosted Voice"],"description":"Retrieves the history of the specified Remove Imported Voice Tn Order","summary":"Retrieve Remove Imported Voice Tn Order history","operationId":"retrieveRemoveImportedVoiceTnOrderHistory","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"description":"The history has been successfully retrieved and displayed in the payload","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/orderHistoryWrapper"},"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrderHistoryWrapper\u003E\n   \u003COrderHistory\u003E\n      \u003COrderDate\u003E2015-06-16T14:03:10.225Z\u003C/OrderDate\u003E\n      \u003CNote\u003ERemove Imported Voice TN order is received.\u003C/Note\u003E\n      \u003CAuthor\u003Eadmin\u003C/Author\u003E\n      \u003CStatus\u003ERECEIVED\u003C/Status\u003E\n   \u003C/OrderHistory\u003E\n   \u003COrderHistory\u003E\n      \u003COrderDate\u003E2015-06-16T14:03:10.330Z\u003C/OrderDate\u003E\n      \u003CNote\u003ERemove Imported TN order is processing.\u003C/Note\u003E\n      \u003CAuthor\u003Eadmin\u003C/Author\u003E\n      \u003CStatus\u003EPROCESSING\u003C/Status\u003E\n   \u003C/OrderHistory\u003E\n   \u003COrderHistory\u003E\n      \u003COrderDate\u003E2015-06-16T14:03:10.789Z\u003C/OrderDate\u003E\n      \u003CNote\u003ERemove Imported Voice TN order is partial.\u003C/Note\u003E\n      \u003CAuthor\u003Eadmin\u003C/Author\u003E\n      \u003CStatus\u003EPARTIAL\u003C/Status\u003E\n   \u003C/OrderHistory\u003E\n\u003C/OrderHistoryWrapper\u003E"}}},"application/json":{"schema":{"$ref":"#/components/schemas/orderHistory"},"examples":{"example":{"value":{"orderHistory":[{"orderDate":"2015-06-16T14:03:10.225Z","note":"Remove Imported Voice TN order is received.","author":"admin","status":"RECEIVED"},{"orderDate":"2015-06-16T14:03:10.330Z","note":"Remove Imported TN order is processing.","author":"admin","status":"PROCESSING"},{"orderDate":"2015-06-16T14:03:10.789Z","note":"Remove Imported Voice TN order is partial.","author":"admin","status":"PARTIAL"}]}}}}}}}}},"/removeImportedTnOrders/voice":{"get":{"tags":["Hosted Voice"],"description":"Retrieves all removeimportedvoicetnorders requests.","operationId":"listAllRemoveImportedVoiceTnOrders","summary":"List All Remove Imported Voice TN Orders","parameters":[{"$ref":"#/components/parameters/statusQueryParam"},{"$ref":"#/components/parameters/tnQueryParam"},{"$ref":"#/components/parameters/accountIdQueryParam"},{"$ref":"#/components/parameters/customerOrderIdQueryParam"},{"$ref":"#/components/parameters/createdDateFromQueryParam"},{"$ref":"#/components/parameters/createdDateToQueryParam"},{"$ref":"#/components/parameters/modifiedDateFromQueryParam"},{"$ref":"#/components/parameters/modifiedDateToQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/removeImportedVoiceTnOrdersResponse"}}}},"/accounts/{accountId}/importTnOrders/voice/{orderId}/documents":{"get":{"summary":"List Import Voice Tn order Documents","operationId":"listImportTnOrdersVoiceDocuments","description":"List all import voice tn order documents. The results are sorted by last updated time in reverse chronological order by default without any query filters.","tags":["Hosted Voice"],"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"},{"$ref":"#/components/parameters/customReferenceQueryParamEqStartsWith"}],"responses":{"200":{"$ref":"#/components/responses/listHostedVoiceDocumentsSuccess"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/notAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}},"post":{"summary":"Add Import Voice Tn order Documents","operationId":"addImportTnOrdersVoiceDocuments","description":"Create an import voice tn order document.","tags":["Hosted Voice"],"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/addHostedVoiceDocumentRequest"},"responses":{"201":{"$ref":"#/components/responses/createHostedVoiceDocumentSuccess"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/notAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/importTnOrders/voice/{orderId}/documents/{documentId}":{"get":{"summary":"Get Import Voice Tn order Documents","operationId":"getImportTnOrdersVoiceDocuments","description":"Get an import voice tn order document.","tags":["Hosted Voice"],"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"},{"$ref":"#/components/parameters/documentIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getHostedVoiceDocumentSuccess"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/notAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}},"put":{"summary":"Update Import Voice Tn order Documents","operationId":"updateImportTnOrdersVoiceDocuments","description":"Update an import voice tn order document.","tags":["Hosted Voice"],"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"},{"$ref":"#/components/parameters/documentIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/addHostedVoiceDocumentRequest"},"responses":{"201":{"$ref":"#/components/responses/createHostedVoiceDocumentSuccess"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/notAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}},"patch":{"summary":"Update Import Voice Tn order Document Attributes","operationId":"updateImportTnOrdersVoiceDocumentAttributes","description":"Update an import voice tn order document attributes.","tags":["Hosted Voice"],"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"},{"$ref":"#/components/parameters/documentIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/updateHostedVoiceDocumentRequest"},"responses":{"200":{"$ref":"#/components/responses/updateHostedVoiceDocumentSuccess"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/notAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}},"delete":{"summary":"Delete Import Voice Tn order Documents","operationId":"deleteImportTnOrdersVoiceDocuments","description":"delete an import voice tn order documents.","tags":["Hosted Voice"],"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"},{"$ref":"#/components/parameters/documentIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/deleteHostedVoiceDocumentSuccess"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/notAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/externalTns":{"get":{"tags":["External TN Orders"],"summary":"List External TN Orders","description":"Retrieve a list of the External TN orders associated with the account. A maximum of 1,000 orders can be retrieved per request. If no date range or specific query parameter is provided, the order results will be limited to the last two years.\n","operationId":"listExternalTnOrders","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/statusQueryParam"},{"$ref":"#/components/parameters/tnQueryParam"},{"$ref":"#/components/parameters/customerOrderIdQueryParam"},{"$ref":"#/components/parameters/createdDateFromQueryParam"},{"$ref":"#/components/parameters/createdDateToQueryParam"},{"$ref":"#/components/parameters/orderIdFragmentQueryParam"},{"$ref":"#/components/parameters/actionQueryParam"},{"$ref":"#/components/parameters/loaTypeQueryParam"},{"$ref":"#/components/parameters/modifiedDateFromQueryParam"},{"$ref":"#/components/parameters/modifiedDateToQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/listExternalTnOrdersResponse"},"404":{"$ref":"#/components/responses/listExternalTnOrders404ErrorResponse"}}},"post":{"tags":["External TN Orders"],"summary":"Create External TN Order","description":"Create an External TN order to add or remove telephone numbers provided by the customer from the Bandwidth network.\n\nNote: attempting to import a telephone number that is already present in the account will not create an error, but will reset all of the attributes of that telephone number in the system as if the telephone number was being imported for the first time.\n","operationId":"createExternalTnOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/postExternalTnOrderRequest"},"responses":{"201":{"$ref":"#/components/responses/createExternalTnOrderResponse"},"400":{"$ref":"#/components/responses/createExternalTnOrder400ErrorResponse"}}}},"/accounts/{accountId}/externalTns/{orderId}":{"get":{"tags":["External TN Orders"],"summary":"Get External TN Order","description":"Retrieve information about an External TN order with the specified ID.","operationId":"getExternalTnOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getExternalTnOrderResponse"},"404":{"$ref":"#/components/responses/getExternalTnOrder404ErrorResponse"}}}},"/accounts/{accountId}/externalTns/{orderId}/history":{"get":{"tags":["External TN Orders"],"summary":"Get External TN Order History","description":"Retrieve the history of the specified External TN order.","operationId":"getExternalTnOrderHistory","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getExternalTnOrderHistoryResponse"},"404":{"$ref":"#/components/responses/getExternalTnOrder404ErrorResponse"}}}},"/accounts/{accountId}/removeImportedTnOrders/{orderId}/history":{"get":{"tags":["Hosted Messaging"],"summary":"Get Remove Imported TN Order History","description":"Retrieve the history of the specified Remove Imported TN order.","operationId":"getRemoveImportedTnOrderHistory","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getRemoveImportedTnOrderHistoryResponse"},"400":{"$ref":"#/components/responses/getRemoveImportedTnOrderHistory400ErrorResponse"}}}}},"components":{"securitySchemes":{"Basic":{"type":"http","scheme":"basic","description":"Basic authentication is a simple authentication scheme built into the HTTP protocol. To use it, send your HTTP requests with an Authorization header that contains the word Basic followed by a space and a base64-encoded string \u0060username:password\u0060.\nExample: \u0060Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0060"},"Bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Bearer authentication (also called token authentication) is an HTTP authentication scheme that involves security \ntokens called bearer tokens. The name \u201CBearer authentication\u201D can be understood as \u201Cgive access to the bearer\nof this token.\u201D The client must send this token in the \u0060Authorization\u0060 header when making requests to\nprotected resources.\n\n- Example: \u0060Authorization: Bearer \u003Ctoken\u003E\u0060\n\nWhere \u0060\u003Ctoken\u003E\u0060 should be replaced with the token string without angle brackets.\n\nFor more information, see the following guide: [Credentials](https://dev.bandwidth.com/docs/account/credentials/management)"}},"schemas":{"orderStatus":{"type":"string","description":"The status of an order.","enum":["RECEIVED","PROCESSING","COMPLETE","PARTIAL","FAILED"],"example":"COMPLETE"},"importVoiceProcessingStatus":{"type":"string","description":"The processing status of an import voice TN order.","enum":["RECEIVED","PROCESSING","COMPLETE","PARTIAL","FAILED","MISSING_REQUIREMENTS"],"example":"PROCESSING"},"importVoicePatchStatus":{"type":"string","description":"The processing status to set on an import voice TN order.","enum":["APPROVED","MISSING_REQUIREMENTS","SUBMITTED"],"example":"APPROVED"},"hostedVoiceRequirement":{"type":"string","description":"A missing requirement type for a hosted voice order.","enum":["HOSTED_VOICE_DOCUMENTS"],"example":"HOSTED_VOICE_DOCUMENTS"},"hostedVoiceDocumentStatus":{"type":"string","description":"The status of a hosted voice document.","enum":["DRAFT","SUBMITTED","PROCESSING","VERIFIED","VERIFICATION_FAILED"],"example":"SUBMITTED"},"loaType":{"type":"string","description":"The type of LOA authorization.","enum":["CARRIER","SUBSCRIBER"],"example":"CARRIER"},"externalTnAction":{"type":"string","description":"Whether the order imports or removes telephone numbers.","enum":["IMPORT","REMOVE"],"example":"IMPORT"},"documentType":{"type":"string","description":"The type of document.","enum":["LOA","INVOICE","CSR","OTHER"],"example":"LOA"},"addressXml":{"type":"object","properties":{"HousePrefix":{"description":"The HousePrefix is the non-numeric address number prefix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"HouseNumber":{"description":"The HouseNumber is the street address number of the ServiceAddress. HouseNumber is mandatory for port-in orders in which the ServiceAddress is mandatory.","type":"string"},"HouseSuffix":{"description":"The HouseSuffix is the non-numeric address number suffix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"PreDirectional":{"description":"The PreDirectional is the non-numeric street name prefix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"StreetName":{"description":"The StreetName is mandatory in cases where the ServiceAddress is mandatory.","type":"string"},"StreetSuffix":{"description":"The StreetSuffix is the street suffix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"PostDirectional":{"description":"The PostDirectional is the street name post directional of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"AddressLine2":{"description":"AddressLine2 is used to specify Unit, Suite, Floor, etc. in the Service Address. AddressLine2 is optional when not needed to fully specify the ServiceAddress.","type":"string"},"City":{"description":"City is mandatory in cases where the ServiceAddress is mandatory.","type":"string"},"StateCode":{"description":"StateCode is the 2-letter abbreviation of the state of the ServiceAddress. StateCode is mandatory in cases where the ServiceAddress is mandatory.","type":"string"},"Zip":{"description":"Zip is the Zip Code of the ServiceAddress. Zip is mandatory in cases where the ServiceAddress is mandatory.","type":"string"},"PlusFour":{"description":"PlusFour is the 4 digits that are sometimes suffixed to the Zip Code.","type":"string"},"County":{"description":"The county where the subscriber or business is located.","type":"string"},"Country":{"description":"Country is the country of the ServiceAddress. This value will be derived from the StateCode, so it should generally be omitted.","type":"string"},"ResetAddressFields":{"type":"boolean"},"Latitude":{"type":"string"},"Longitude":{"type":"string"},"AddressType":{"$ref":"#/components/schemas/addressTypeXml"}}},"address":{"properties":{"addressLine2":{"description":"AddressLine2 is used to specify Unit, Suite, Floor, etc. in the Service Address. AddressLine2 is optional when not needed to fully specify the ServiceAddress.","type":"string"},"addressType":{"$ref":"#/components/schemas/addressType"},"city":{"description":"City is mandatory in cases where the ServiceAddress is mandatory.","type":"string"},"country":{"description":"Country is the country of the ServiceAddress. This value will be derived from the StateCode, so it should generally be omitted.","type":"string"},"county":{"description":"The county where the subscriber or business is located.","type":"string"},"houseNumber":{"description":"The HouseNumber is the street address number of the ServiceAddress. HouseNumber is mandatory for port-in orders in which the ServiceAddress is mandatory.","type":"string"},"housePrefix":{"description":"The HousePrefix is the non-numeric address number prefix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"houseSuffix":{"description":"The HouseSuffix is the non-numeric address number suffix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"latitude":{"type":"string"},"longitude":{"type":"string"},"plusFour":{"description":"PlusFour is the 4 digits that are sometimes suffixed to the Zip Code.","type":"string"},"postDirectional":{"description":"The PostDirectional is the street name post directional of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"preDirectional":{"description":"The PreDirectional is the non-numeric street name prefix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"resetAddressFields":{"type":"boolean"},"stateCode":{"description":"StateCode is the 2-letter abbreviation of the state of the ServiceAddress. StateCode is mandatory in cases where the ServiceAddress is mandatory.","type":"string"},"streetName":{"description":"The StreetName is mandatory in cases where the ServiceAddress is mandatory.","type":"string"},"streetSuffix":{"description":"The StreetSuffix is the street suffix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"zip":{"description":"Zip is the Zip Code of the ServiceAddress. Zip is mandatory in cases where the ServiceAddress is mandatory.","type":"string"}},"type":"object"},"addressTypeXml":{"type":"string","enum":["SERVICE","BILLING","DLDA","E911"]},"addressType":{"enum":["SERVICE","BILLING","DLDA","E911"],"type":"string"},"error":{"title":"Error","type":"object","properties":{"phoneNumbers":{"description":"List of telephone numbers related to the error","type":"array","items":{"$ref":"#/components/schemas/phoneNumber"}},"code":{"description":"A numeric code representing the specific error","type":"integer"},"description":{"description":"Details about the error","type":"string"}}},"errorXml":{"title":"Error","type":"object","properties":{"TelephoneNumbers":{"description":"List of telephone numbers related to the error","type":"array","items":{"$ref":"#/components/schemas/telephoneNumber"}},"Code":{"description":"A numeric code representing the specific error","type":"integer"},"Description":{"description":"Details about the error","type":"string"}}},"fileData":{"properties":{"fileMetaData":{"$ref":"#/components/schemas/fileMetaData"},"fileName":{"description":"The name that was associated with the file when it was uploaded.","type":"string"}},"type":"object"},"fileDataXml":{"description":"Optional metadata associated with the file that was uploaded.","properties":{"FileMetaData":{"$ref":"#/components/schemas/fileMetaDataXml"},"FileName":{"description":"The name that was associated with the file when it was uploaded.","type":"string"}},"type":"object"},"fileListResponse":{"properties":{"fileCount":{"description":"Total count of files in response.","type":"integer"},"fileData":{"description":"Optional metadata associated with the file that was uploaded.","items":{"$ref":"#/components/schemas/fileData"},"type":"array"},"resultCode":{"description":"Result code of fetching the list of files from AWS.","type":"integer"},"resultMessage":{"description":"Results of the attempt to fetch the list of files.","type":"string"}},"type":"object"},"fileListResponseXml":{"properties":{"fileListResponse":{"properties":{"fileCount":{"description":"Total count of files in response.","type":"integer"},"fileData":{"$ref":"#/components/schemas/fileDataXml"},"resultCode":{"description":"Result code of fetching the list of files from AWS.","type":"integer"},"resultMessage":{"description":"Results of the attempt to fetch the list of files.","type":"string"}},"type":"object"}},"type":"object"},"fileMetaData":{"properties":{"documentName":{"description":"Name of particular document.","type":"string"},"documentType":{"$ref":"#/components/schemas/documentType"}},"type":"object"},"fileMetaDataXml":{"properties":{"DocumentName":{"description":"Name of particular document.","type":"string"},"DocumentType":{"$ref":"#/components/schemas/documentType"}},"type":"object"},"fileUploadResponse":{"properties":{"fileName":{"description":"The (optional) name that was associated with the file when it was uploaded.","type":"string"},"resultCode":{"description":"Result code of fetching the list of files from AWS.","type":"integer"},"resultMessage":{"description":"Results of the attempt to fetch the list of files.","type":"string"}},"type":"object"},"fileUploadResponseXml":{"properties":{"FileUploadResponse":{"properties":{"fileName":{"description":"The (optional) name that was associated with the file when it was uploaded.","type":"integer"},"resultCode":{"description":"Result code of fetching the list of files from AWS.","type":"integer"},"resultMessage":{"description":"Results of the attempt to fetch the list of files.","type":"string"}},"type":"object"}},"type":"object"},"getImportPhoneNumberLoasErrorResponse":{"properties":{"code":{"description":"The Bandwidth-defined error code.","type":"integer","example":7200},"description":{"description":"A description of the error.","type":"string","example":"The order ID was not found"}},"type":"object"},"getImportPhoneNumberLoasErrorResponseXml":{"properties":{"ErrorResponse":{"properties":{"irisStatus":{"properties":{"Code":{"description":"The Bandwidth-defined error code.","type":"integer","example":7200},"Description":{"description":"A description of the error.","type":"string","example":"The order ID was not found"}},"type":"object"}},"type":"object"}},"type":"object"},"importPhoneNumberOrder":{"type":"object","properties":{"customerOrderId":{"description":"Optional customer-defined reference ID for this order. Only alphanumeric values, dashes and spaces are allowed. Max length is 255 characters. Not unique \u2014 Bandwidth applies no uniqueness constraint, so multiple orders may share the same value. Each order receives its own unique Bandwidth-assigned \u0060orderId\u0060.","type":"string","example":"CustomerOrderId"},"phoneNumberCount":{"description":"The count of phone numbers in the order.","type":"integer","example":2},"orderId":{"description":"The unique identifier string created by Bandwidth to refer to the order.","type":"string","example":"8dc32f09-2329-4c73-b702-526f46b02712"},"orderType":{"description":"The type of order. For import phone number orders, this will always be import_tn_orders.","type":"string","enum":["import_tn_orders"]},"orderDate":{"description":"The date and time the order was created.","type":"string","example":"2025-04-22T20:24:11Z"},"accountId":{"description":"The account ID the order is associated with.","type":"integer","example":14},"userId":{"description":"The ID of the user that created the order.","type":"string","example":"systemUser"},"lastModifiedDate":{"description":"The date and time the order was last modified.","type":"string","example":"2025-04-22T20:24:11Z"},"orderStatus":{"$ref":"#/components/schemas/orderStatus"}}},"importPhoneNumberOrdersRequest":{"title":"ImportTnOrder","required":["phoneNumbers","subAccountId"],"properties":{"phoneNumbers":{"description":"List of telephone numbers to be moved","type":"array","minItems":1,"items":{"$ref":"#/components/schemas/phoneNumber"}},"subAccountId":{"description":"A sub account ID to which telephone number will be moved","type":"integer"},"customerOrderId":{"description":"Optional customer-defined reference ID for this order. Only alphanumeric values, dashes and spaces are allowed. Max length is 40 characters. Not unique \u2014 Bandwidth applies no uniqueness constraint, so multiple orders may share the same value. Each order receives its own unique Bandwidth-assigned \u0060orderId\u0060.","type":"string"},"locationId":{"description":"A location ID of provided site to which telephone number will be moved","type":"integer"},"subscriber":{"description":"Subscriber information.","properties":{"name":{"description":"Subscriber business / customer name.","maxLength":45,"type":"string"},"serviceAddress":{"description":"address","properties":{"houseNumber":{"description":"Street address number.","type":"integer"},"streetName":{"description":"Street name.","type":"string"},"city":{"description":"City.","type":"string"},"stateCode":{"description":"Two letter state code.","type":"string"},"zip":{"description":"Zip code.","type":"string"}}}}},"loaAuthorizingPerson":{"description":"First and last name of person who authorized LOA.","type":"string"},"loaType":{"description":"Identify the LoaType on TNs.","allOf":[{"$ref":"#/components/schemas/loaType"}],"default":"SUBSCRIBER"}}},"importPhoneNumberOrdersErrorResponse":{"type":"object","properties":{"errorCode":{"description":"The Bandwidth-defined error code.","type":"integer","example":12512},"description":{"description":"A description of the error.","type":"string","example":"Telephone number \u0027\u0022xxxx\u0022\u0027 is not valid"}}},"importPhoneNumberOrdersErrorResponseXml":{"type":"object","properties":{"ImportTnOrdersReportResponse":{"$ref":"#/components/schemas/responseStatus"}}},"importPhoneNumberOrdersResponse":{"type":"object","properties":{"customerOrderId":{"type":"string","description":"The customer-defined reference ID for this order, if one was provided at creation. Not unique \u2014 Bandwidth applies no uniqueness constraint, so multiple orders may share the same value. Each order has a distinct Bandwidth-assigned \u0060orderId\u0060."},"orderCreateDate":{"type":"string"},"accountId":{"type":"integer"},"createdByUser":{"type":"string"},"lastModifiedDate":{"type":"string"},"subAccountId":{"type":"integer"},"locationId":{"type":"integer"},"phoneNumbers":{"type":"array","items":{"$ref":"#/components/schemas/phoneNumber"}},"loaAuthorizingPerson":{"type":"string"},"loaType":{"$ref":"#/components/schemas/loaType"},"warnings":{"type":"array","items":{"$ref":"#/components/schemas/warning"}},"subscriber":{"$ref":"#/components/schemas/importPhoneNumberSubscriber"},"processingStatus":{"$ref":"#/components/schemas/orderStatus"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}},"pendingTelephoneNumbers":{"description":"List of phone numbers that are pending processing.","type":"array","items":{"$ref":"#/components/schemas/phoneNumber"}},"failedTelephoneNumbers":{"description":"List of phone numbers that failed processing, with reasons detailed in the Warning section.","type":"array","items":{"$ref":"#/components/schemas/phoneNumber"}},"successTelephoneNumbers":{"description":"List of phone numbers successfully processed.","type":"array","items":{"$ref":"#/components/schemas/phoneNumber"}}}},"importPhoneNumberOrdersResponseList":{"type":"object","properties":{"totalCount":{"description":"The total count of orders returned in the response.","type":"integer","example":2},"orders":{"type":"array","items":{"$ref":"#/components/schemas/importPhoneNumberOrder"}}}},"importPhoneNumberSubscriber":{"type":"object","properties":{"name":{"type":"string"},"serviceAddress":{"$ref":"#/components/schemas/address"}}},"importTnOrder":{"type":"object","properties":{"CustomerOrderId":{"type":"string","description":"The customer-defined reference ID for this order, if one was provided at creation. Not unique \u2014 Bandwidth applies no uniqueness constraint, so multiple orders may share the same value. Each order has a distinct Bandwidth-assigned \u0060orderId\u0060."},"OrderCreateDate":{"type":"string"},"AccountId":{"type":"string"},"CreatedByUser":{"type":"string"},"LastModifiedDate":{"type":"string"},"SiteId":{"type":"string"},"SipPeerId":{"type":"string"},"TelephoneNumbers":{"type":"array","items":{"$ref":"#/components/schemas/telephoneNumber"}},"LoaAuthorizingPerson":{"type":"string"},"LoaType":{"$ref":"#/components/schemas/loaType"},"Warnings":{"type":"array","items":{"$ref":"#/components/schemas/warningXml"}},"Subscriber":{"$ref":"#/components/schemas/importTnSubscriber"},"ProcessingStatus":{"$ref":"#/components/schemas/orderStatus"},"Errors":{"type":"array","items":{"$ref":"#/components/schemas/errorXml"}},"PendingTelephoneNumbers":{"description":"List of telephone numbers that are pending processing.","type":"array","items":{"$ref":"#/components/schemas/telephoneNumber"}},"FailedTelephoneNumbers":{"description":"List of telephone numbers that failed processing, with reasons detailed in the Warning section.","type":"array","items":{"$ref":"#/components/schemas/telephoneNumber"}},"SuccessTelephoneNumbers":{"description":"List of telephone numbers successfully processed.","type":"array","items":{"$ref":"#/components/schemas/telephoneNumber"}}}},"importTnOrdersError":{"type":"object","properties":{"ImportTnOrdersResponse":{"$ref":"#/components/schemas/responseStatus"}}},"importTnOrdersRequest":{"title":"ImportTnOrder","properties":{"ImportTnOrder":{"type":"object","required":["TelephoneNumbers","SiteId"],"properties":{"TelephoneNumbers":{"description":"List of telephone numbers to be moved","type":"array","minItems":1,"items":{"type":"object","properties":{"TelephoneNumber":{"description":"Ten digit phone number with no dots or dashes","type":"integer"}}}},"SiteId":{"description":"A site id to which telephone number will be moved","type":"integer"},"CustomerOrderId":{"description":"Optional customer-defined reference ID for this order. Only alphanumeric values, dashes and spaces are allowed. Max length is 40 characters. Not unique \u2014 Bandwidth applies no uniqueness constraint, so multiple orders may share the same value. Each order receives its own unique Bandwidth-assigned \u0060orderId\u0060.","type":"string"},"SipPeerId":{"description":"A sippeer id of provided site to which telephone number will be moved","type":"integer"},"Subscriber":{"description":"Subscriber information.","properties":{"Name":{"description":"Subscriber business / customer name.","maxLength":45,"type":"string"},"ServiceAddress":{"description":"address","properties":{"HouseNumber":{"description":"Street address number.","type":"integer"},"StreetName":{"description":"Street name.","type":"string"},"City":{"description":"City.","type":"string"},"StateCode":{"description":"Two letter state code.","type":"string"},"Zip":{"description":"Zip code.","type":"string"}}}}},"LoaAuthorizingPerson":{"description":"First and last name of person who authorized LOA.","type":"string"},"LoaType":{"description":"Identify the LoaType on TNs.","type":"string","enum":["SUBSCRIBER","CARRIER"],"default":"SUBSCRIBER"}}}}},"importTnOrdersResponse":{"type":"object","properties":{"ImportTnOrdersResponse":{"type":"object","properties":{"ImportTnOrder":{"$ref":"#/components/schemas/importTnOrder"}}}}},"importTnOrdersResponseList":{"type":"object","properties":{"ImportTnOrders":{"type":"object","properties":{"TotalCount":{"type":"integer"},"ImportTnOrderSummary":{"$ref":"#/components/schemas/importTnOrderSummary"}}}}},"getRemoveImportedPhoneNumberOrdersResponse":{"type":"object","properties":{"totalCount":{"description":"The total count of orders returned in the response.","type":"integer","example":2},"orders":{"type":"array","items":{"$ref":"#/components/schemas/removeImportedPhoneNumberOrderSummary"}}}},"removeImportedTnOrders":{"type":"object","properties":{"TotalCount":{"description":"The total count of orders returned in the response.","type":"integer"},"RemoveImportedTnOrderSummary":{"type":"array","items":{"$ref":"#/components/schemas/removeImportedTnOrderSummary"}}}},"importTnOrderSummary":{"type":"object","properties":{"CustomerOrderId":{"type":"string","description":"The customer-defined reference ID for this order, if one was provided at creation. Not unique \u2014 Bandwidth applies no uniqueness constraint, so multiple orders may share the same value. Each order has a distinct Bandwidth-assigned \u0060orderId\u0060."},"CountsOfTNs":{"type":"integer"},"OrderId":{"type":"string"},"OrderType":{"type":"string","enum":["import_tn_orders"]},"OrderDate":{"type":"string"},"AccountId":{"type":"string"},"UserId":{"type":"string"},"LastModifiedDate":{"type":"string"},"ProcessingStatus":{"$ref":"#/components/schemas/orderStatus"}}},"removeImportedPhoneNumberOrderSummary":{"type":"object","properties":{"customerOrderId":{"type":"string","description":"The customer-defined reference ID for this order, if one was provided at creation. Not unique \u2014 Bandwidth applies no uniqueness constraint, so multiple orders may share the same value. Each order has a distinct Bandwidth-assigned \u0060orderId\u0060."},"phoneNumberCount":{"type":"integer"},"orderId":{"type":"string"},"orderType":{"type":"string","enum":["remove_imported_tn_orders"]},"orderDate":{"type":"string"},"accountId":{"type":"integer"},"userId":{"type":"string"},"lastModifiedDate":{"type":"string"},"orderStatus":{"$ref":"#/components/schemas/orderStatus"}}},"removeImportedTnOrderSummary":{"type":"object","properties":{"CustomerOrderId":{"type":"string","description":"The customer-defined reference ID for this order, if one was provided at creation. Not unique \u2014 Bandwidth applies no uniqueness constraint, so multiple orders may share the same value. Each order has a distinct Bandwidth-assigned \u0060orderId\u0060."},"CountsOfTNs":{"type":"integer"},"OrderId":{"type":"string"},"OrderType":{"type":"string","enum":["remove_imported_tn_orders"]},"OrderDate":{"type":"string"},"AccountId":{"type":"string"},"UserId":{"type":"string"},"LastModifiedDate":{"type":"string"},"ProcessingStatus":{"$ref":"#/components/schemas/orderStatus"}}},"importTnSubscriber":{"type":"object","properties":{"Name":{"type":"string"},"ServiceAddress":{"$ref":"#/components/schemas/addressXml"}}},"orderHistory":{"type":"object","properties":{"orderHistory":{"type":"array","items":{"properties":{"orderDate":{"description":"This is the date/time when the order history entry was created.","type":"string"},"note":{"description":"This is the order note that accompanied the order history entry.","type":"string"},"author":{"description":"This is the user that initiated the event that caused the order history to be updated.","type":"string"},"status":{"$ref":"#/components/schemas/orderStatus"}}}}}},"orderHistoryWrapper":{"type":"object","properties":{"OrderHistoryWrapper":{"type":"object","properties":{"OrderHistory":{"$ref":"#/components/schemas/orderHistoryXml"}}}}},"orderHistoryXml":{"type":"object","properties":{"OrderDate":{"description":"This is the date/time when the order history entry was created.","type":"string"},"Note":{"description":"This is the order note that accompanied the order history entry.","type":"string"},"Author":{"description":"This is the user that initiated the event that caused the order history to be updated.","type":"string"},"Status":{"description":"This is the state that the order was in when the order history event occurred.","type":"string"}}},"phoneNumber":{"description":"Telephone Number in E.164 format.","type":"string"},"responseStatus":{"type":"object","properties":{"ErrorCode":{"description":"Numeric designation of corresponding error","type":"integer"},"Description":{"description":"Detailed explanation about error ","type":"string"}}},"telephoneNumber":{"type":"object","properties":{"TelephoneNumber":{"description":"Telephone Number in E.164 format.","type":"string"}}},"warningXml":{"description":"Errors/Warnings that occur during telephone number provisioning for messaging, may be requiring user action. For example, a Letter of Authorization (LOA) may be needed from the number provider.","type":"object","title":"Warning","properties":{"Code":{"description":"A numerical code representing the specific warning.","type":"integer"},"Description":{"description":"Details about the issue which may require user attention.","type":"string"},"TelephoneNumber":{"$ref":"#/components/schemas/telephoneNumber"}}},"warning":{"description":"Errors/Warnings that occur during telephone number provisioning for messaging, may be requiring user action. For example, a Letter of Authorization (LOA) may be needed from the number provider.","type":"object","properties":{"code":{"description":"A numerical code representing the specific warning.","type":"integer"},"description":{"description":"Details about the issue which may require user attention.","type":"string"},"phoneNumber":{"$ref":"#/components/schemas/phoneNumber"}}},"getRemoveImportedTnOrderResponse":{"properties":{"AccountId":{"type":"integer"},"CreatedByUser":{"type":"string"},"CustomerOrderId":{"type":"string","description":"The customer-defined reference ID for this order, if one was provided at creation. Not unique \u2014 Bandwidth applies no uniqueness constraint, so multiple orders may share the same value. Each order has a distinct Bandwidth-assigned \u0060orderId\u0060."},"Errors":{"type":"array","items":{"$ref":"#/components/schemas/errorXml"}},"LastModifiedDate":{"type":"string"},"OrderCreateDate":{"type":"string"},"OrderId":{"type":"string"},"ProcessingStatus":{"$ref":"#/components/schemas/orderStatus"},"TelephoneNumbers":{"items":{"$ref":"#/components/schemas/telephoneNumber"},"type":"array"}},"type":"object"},"getRemoveImportedPhoneNumberOrderResponse":{"properties":{"accountId":{"type":"integer"},"createdByUser":{"type":"string"},"customerOrderId":{"type":"string","description":"The customer-defined reference ID for this order, if one was provided at creation. Not unique \u2014 Bandwidth applies no uniqueness constraint, so multiple orders may share the same value. Each order has a distinct Bandwidth-assigned \u0060orderId\u0060."},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}},"lastModifiedDate":{"type":"string"},"orderCreateDate":{"type":"string"},"orderId":{"type":"string"},"processingStatus":{"$ref":"#/components/schemas/orderStatus"},"phoneNumbers":{"items":{"$ref":"#/components/schemas/phoneNumber"},"type":"array"}},"type":"object"},"removeImportedTnOrderErrorResponse":{"type":"object","properties":{"RemoveImportedTnOrdersReportResponse":{"$ref":"#/components/schemas/responseStatus"}}},"removeImportedPhoneNumberOrdersErrorResponse":{"type":"object","properties":{"errorCode":{"description":"The Bandwidth-defined error code.","type":"integer","example":1005},"description":{"description":"A description of the error.","type":"string","example":"The resource does not exist"}}},"removeImportedPhoneNumberOrderRequest":{"title":"RemoveImportedPhoneNumberOrder","required":["phoneNumbers"],"properties":{"phoneNumbers":{"description":"List of phone numbers to be removed.","type":"array","minItems":1,"items":{"$ref":"#/components/schemas/phoneNumber"}},"customerOrderId":{"description":"Optional customer-defined reference ID for this order. Only alphanumeric values, dashes and spaces are allowed. Max length is 40 characters. Not unique \u2014 Bandwidth applies no uniqueness constraint, so multiple orders may share the same value. Each order receives its own unique Bandwidth-assigned \u0060orderId\u0060.","type":"string"}}},"removeImportedTnOrderRequest":{"title":"RemoveImportedTnOrder","required":["TelephoneNumbers"],"properties":{"TelephoneNumbers":{"description":"List of telephone numbers to be removed","type":"array","minItems":1,"items":{"$ref":"#/components/schemas/phoneNumber"}},"customerOrderId":{"description":"Optional customer-defined reference ID for this order. Only alphanumeric values, dashes and spaces are allowed. Max length is 40 characters. Not unique \u2014 Bandwidth applies no uniqueness constraint, so multiple orders may share the same value. Each order receives its own unique Bandwidth-assigned \u0060orderId\u0060.","type":"string"}}},"removeImportedTnOrdersResponse":{"properties":{"RemoveImportedTnOrder":{"properties":{"AccountId":{"type":"integer"},"CreatedByUser":{"type":"string"},"CustomerOrderId":{"type":"string"},"Errors":{"type":"array","items":{"$ref":"#/components/schemas/errorXml"}},"LastModifiedDate":{"type":"string"},"OrderCreateDate":{"type":"string"},"OrderId":{"type":"string"},"ProcessingStatus":{"$ref":"#/components/schemas/orderStatus"},"TelephoneNumbers":{"items":{"$ref":"#/components/schemas/telephoneNumber"},"type":"array"}},"type":"object"}},"type":"object"},"removeImportedPhoneNumberOrdersResponse":{"properties":{"accountId":{"type":"integer"},"createdByUser":{"type":"string"},"customerOrderId":{"type":"string","description":"The customer-defined reference ID for this order, if one was provided at creation. Not unique \u2014 Bandwidth applies no uniqueness constraint, so multiple orders may share the same value. Each order has a distinct Bandwidth-assigned \u0060orderId\u0060."},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}},"lastModifiedDate":{"type":"string"},"orderCreateDate":{"type":"string"},"orderId":{"type":"string"},"processingStatus":{"$ref":"#/components/schemas/orderStatus"},"phoneNumbers":{"items":{"$ref":"#/components/schemas/phoneNumber"},"type":"array"}},"type":"object"},"importTnCheckerPayload":{"type":"object","properties":{"ImportTnCheckerPayload":{"type":"object","properties":{"SiteId":{"type":"integer","format":"int32"},"SipPeerId":{"type":"integer","format":"int32"},"TelephoneNumbers":{"type":"array","items":{"$ref":"#/components/schemas/telephoneNumber"}}}}}},"importTnCheckerResponse":{"type":"object","properties":{"ImportTnCheckerResponse":{"type":"object","properties":{"ImportTnCheckerPayload":{"type":"object","properties":{"TelephoneNumbers":{"type":"array","items":{"$ref":"#/components/schemas/telephoneNumber"}},"ImportTnErrors":{"type":"array","items":{"$ref":"#/components/schemas/importTnError"}}}}}}}},"importTnError":{"type":"object","properties":{"Code":{"type":"integer"},"Description":{"type":"string"},"TelephoneNumbers":{"type":"array","items":{"$ref":"#/components/schemas/telephoneNumber"}}}},"importTnCheckerErrorResponse":{"type":"object","properties":{"ImportTnCheckerResponse":{"type":"object","properties":{"Errors":{"type":"array","items":{"title":"Error","properties":{"Code":{"type":"integer"},"Description":{"type":"string"}}}}}}}},"importVoiceTnOrdersResponseList":{"type":"object","properties":{"ImportVoiceTnOrders":{"type":"object","properties":{"TotalCount":{"type":"integer"},"ImportVoiceTnOrderSummary":{"$ref":"#/components/schemas/importVoiceTnOrderSummary"}}}}},"importVoiceTnOrderSummary":{"type":"object","properties":{"CustomerOrderId":{"type":"string","description":"The customer-defined reference ID for this order, if one was provided at creation. Not unique \u2014 Bandwidth applies no uniqueness constraint, so multiple orders may share the same value. Each order has a distinct Bandwidth-assigned \u0060orderId\u0060."},"CountsOfTNs":{"type":"integer"},"OrderType":{"type":"string","enum":["import_voice_tn_orders"]},"OrderDate":{"type":"string"},"AccountId":{"type":"string"},"UserId":{"type":"string"},"LastModifiedDate":{"type":"string"},"ProcessingStatus":{"$ref":"#/components/schemas/orderStatus"}}},"importVoiceTnOrderRequest":{"title":"ImportVoiceTnOrder","properties":{"ImportVoiceTnOrder":{"type":"object","required":["SiteId"],"properties":{"TelephoneNumbers":{"description":"List of telephone numbers to be moved","type":"array","minItems":1,"items":{"type":"object","properties":{"TelephoneNumber":{"description":"Ten digit phone number with no dots or dashes","type":"integer"}}}},"TelephoneNumbersRanges":{"description":"Ranges of telephone numbers to be moved","type":"array","minItems":1,"items":{"type":"object","properties":{"TelephoneNumbersRange":{"description":"Range of telephone numbers","properties":{"From":{"description":"First phone number of the range. Ten digit with no dots or dashes","type":"integer"},"To":{"description":"Last phone number of the range. Ten digit with no dots or dashes","type":"integer"}}}}}},"SiteId":{"description":"A site id to which telephone number will be moved","type":"integer"},"CustomerOrderId":{"description":"Optional customer-defined reference ID for this order. Only alphanumeric values, dashes and spaces are allowed. Not unique \u2014 Bandwidth applies no uniqueness constraint, so multiple orders may share the same value. Each order receives its own unique Bandwidth-assigned \u0060orderId\u0060.","type":"string"},"SipPeerId":{"description":"A sippeer id of provided site to which telephone number will be moved","type":"integer"},"OperatorId":{"description":"An operator id to link the request with the operator info.","type":"integer"},"VoiceConfigurationPackageId":{"description":"The voice config\u0027s id to accept vcp in request.","type":"string"}}}}},"importVoiceTnOrderResponse":{"type":"object","properties":{"ImportVoiceTnOrderResponse":{"type":"object","properties":{"ImportVoiceTnOrder":{"$ref":"#/components/schemas/importVoiceTnOrder"}}}}},"importVoiceTnOrder":{"type":"object","properties":{"CustomerOrderId":{"type":"string","description":"The customer-defined reference ID for this order, if one was provided at creation. Not unique \u2014 Bandwidth applies no uniqueness constraint, so multiple orders may share the same value. Each order has a distinct Bandwidth-assigned \u0060orderId\u0060."},"OrderCreateDate":{"type":"string"},"AccountId":{"type":"string"},"CreatedByUser":{"type":"string"},"LastModifiedDate":{"type":"string"},"SiteId":{"type":"string"},"SipPeerId":{"type":"string"},"OperatorId":{"type":"integer"},"VoiceConfigurationPackageId":{"type":"string"},"TelephoneNumbers":{"type":"array","items":{"$ref":"#/components/schemas/telephoneNumber"}},"ProcessingStatus":{"$ref":"#/components/schemas/importVoiceProcessingStatus"},"MissingRequirements":{"type":"array","description":"List of Missing Requirements, needed to be fulfilled by the user before this voice order can be submitted.","items":{"$ref":"#/components/schemas/hostedVoiceMissingRequirement"}},"Errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}}}},"hostedVoiceMissingRequirement":{"type":"object","properties":{"Requirement":{"$ref":"#/components/schemas/hostedVoiceRequirement"},"Description":{"description":"Additional data describing the nature of the missing requirement","type":"string"}}},"importVoiceTnOrdersPatchRequest":{"title":"UpdateImportVoiceTnOrder","properties":{"ImportVoiceTnOrder":{"type":"object","required":["ProcessingStatus"],"properties":{"ProcessingStatus":{"$ref":"#/components/schemas/importVoicePatchStatus"}}}}},"importVoiceTnOrderError":{"type":"object","properties":{"ImportVoiceTnOrderResponse":{"$ref":"#/components/schemas/responseStatus"}}},"removeImportedVoiceTnOrders":{"type":"object","properties":{"TotalCount":{"type":"integer"},"Links":{"$ref":"#/components/schemas/paginationLinks"},"RemoveImportedVoiceTnOrderSummary":{"type":"array","items":{"$ref":"#/components/schemas/voiceOrderSummary"}}}},"paginationLinks":{"type":"object","title":"Links","properties":{"first":{"type":"string"},"next":{"type":"string"},"previous":{"type":"string"},"last":{"type":"string"}}},"voiceOrderSummary":{"type":"object","properties":{"accountId":{"type":"integer"},"userId":{"type":"string"},"OrderId":{"type":"string"},"lastModifiedDate":{"type":"string"},"CountOfTNs":{"type":"integer"},"OrderType":{"type":"string"},"CustomerOrderId":{"type":"string","description":"The customer-defined reference ID for this order, if one was provided at creation. Not unique \u2014 Bandwidth applies no uniqueness constraint, so multiple orders may share the same value. Each order has a distinct Bandwidth-assigned \u0060orderId\u0060."},"OrderDate":{"type":"string"},"OrderStatus":{"type":"string"}}},"removeImportedVoiceTnOrderRequest":{"required":["TelephoneNumbers"],"title":"RemoveImportedVoiceTnOrder","properties":{"CustomerOrderId":{"type":"string","description":"Optional customer-defined reference ID for this order. Only alphanumeric values, dashes and spaces are allowed. Not unique \u2014 Bandwidth applies no uniqueness constraint, so multiple orders may share the same value. Each order receives its own unique Bandwidth-assigned \u0060orderId\u0060.","maxLength":255},"TelephoneNumbers":{"description":"Ten digit phone number with no dots or dashes. One or more is required. Use a PhoneNumber tag for each phone number in the list","type":"array","minItems":1,"items":{"$ref":"#/components/schemas/telephoneNumber"}}}},"removeImportedVoiceTnOrderResponse":
[...]
