{"openapi":"3.0.1","info":{"title":"Hosted Number Management","description":"Bandwidth\u0027s Hosted Number Management APIs\n\nThis API provides endpoints to manage hosted telephone numbers, either for voice and messaging. \n\nNote that specs are still being moved over from the [Numbers section](https://dev.bandwidth.com/apis/numbers-apis/numbers)","contact":{"name":"Bandwidth","url":"https://support.bandwidth.com","email":"support@bandwidth.com"},"version":"1.0.0","termsOfService":"https://www.bandwidth.com/legal/terms-of-use-bandwidthcom-web-sites/"},"servers":[{"url":"https://api.bandwidth.com/api/v2","description":"Production"}],"security":[{"Basic":[]},{"Bearer":[]}],"tags":[{"name":"Hosted Number Management"},{"name":"Hosted Messaging"}],"paths":{"/accounts/{accountId}/importPhoneNumberOrders/messaging":{"get":{"tags":["Hosted Messaging"],"description":"Retrieves the importPhoneNumberOrders requests for the given account ID. A maximum of 1,000 orders can be retrieved per request. If no date range or required query parameter is provided, the order results will be limited to the last two years.\n\nIn this table are presented capabilities that are not universally available. The following request query parameters are only allowed for numbers from specific region/country:\n| Number Region | Request Query Parameter |\n|:--------------|:------------------------|\n|NANP|loaType|\n","summary":"List Hosted Messaging Orders","operationId":"readImportMessagingPhoneNumberOrders","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/statusQueryParam"},{"$ref":"#/components/parameters/phoneNumberQueryParam"},{"$ref":"#/components/parameters/customerOrderIdQueryParam"},{"$ref":"#/components/parameters/createdDateFromQueryParam"},{"$ref":"#/components/parameters/createdDateToQueryParam"},{"$ref":"#/components/parameters/modifiedDateFromQueryParam"},{"$ref":"#/components/parameters/modifiedDateToQueryParam"},{"$ref":"#/components/parameters/loaTypeQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/getImportMessagingPhoneNumberOrdersResponse"},"400":{"$ref":"#/components/responses/getImportMessagingPhoneNumberOrders400ErrorResponse"}}},"post":{"tags":["Hosted Messaging"],"description":"Creates an importPhoneNumberOrder request to add numbers under the given sub account ID and location ID as specified in the body.\nA successfully submitted order will have a status of \u0022RECEIVED\u0022. A successfully completed order will have a status of \u0022COMPLETE\u0022 if all of the telephone numbers were successfully imported and  \u0022PARTIAL\u0022 if some of the telephone numbers were imported. A failed order with will have a staus of \u0022FAILED\u0022 and no telephone numbers would have been imported.\n\nThe following request parameters are only required for numbers from specific region/country:\n| Number Region | Request Parameter |\n|:--------------|:------------------------|\n|NANP|LoaAuthorizingPerson|\n|NANP|LoaType|\n|NANP|Subscriber|","summary":"Create Hosted Messaging Order","operationId":"createImportMessagingPhoneNumberOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/postImportMessagingPhoneNumberOrdersRequest"},"responses":{"201":{"$ref":"#/components/responses/postImportMessagingPhoneNumberOrdersResponse"},"400":{"$ref":"#/components/responses/postImportMessagingPhoneNumberOrders400ErrorResponse"}}}},"/accounts/{accountId}/importPhoneNumberOrders/messaging/{orderId}":{"get":{"tags":["Hosted Messaging"],"description":"Retrieve an order to import hosted messaging to a phone number by order ID","summary":"Get Hosted Messaging Order","operationId":"retrieveImportMessagingPhoneNumberOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getImportMessagingPhoneNumberOrderResponse"},"400":{"$ref":"#/components/responses/getImportMessagingPhoneNumber400ErrorOrderResponse"}}}},"/accounts/{accountId}/importPhoneNumberOrders/messaging/{orderId}/history":{"get":{"tags":["Hosted Messaging"],"description":"Retrieves the history of the specified importPhoneNumberOrder.","summary":"Get Hosted Messaging Order History","operationId":"readImportMessagingPhoneNumberOrderHistory","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getImportMessagingPhoneNumberOrdersHistoryResponse"}}}},"/accounts/{accountId}/importPhoneNumberOrders/messaging/{orderId}/loas":{"get":{"description":"Retrieves the list of the LOA files associated with the order. Only for orders involving NANP numbers.","operationId":"listImportMessagingPhoneNumberOrderLoas","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"},{"$ref":"#/components/parameters/metaDataQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/getImportMessagingPhoneNumberOrdersLoasResponse"},"400":{"$ref":"#/components/responses/getImportMessagingPhoneNumberOrdersLoas400ErrorResponse"}},"summary":"List Hosted Messaging Order LOA files","tags":["Hosted Messaging"]},"post":{"description":"POSTing to the /loas resource will enable the upload of the file.  The key attribute to the POST is ensuring that the headers are correctly set to support the file upload.\u003Cbr\u003E\nQuery parameter or header documentType can be used to specify type of document on upload.\n\u003Cp\u003EWhen uploading documents using the /loas resource, you must specify the MIME type of the document being upload using the Content-Type HTTP header.\u003C/p\u003E\n\u003Cp\u003EThe LOA document must be uploaded using one of the following MIME types:\u003C/p\u003E\n\u003Cul\u003E\n\u003Cli\u003Eapplication/pdf\u003C/li\u003E\n\u003Cli\u003Etext/plain\u003C/li\u003E\n\u003Cli\u003Eimage/jpeg\u003C/li\u003E\n\u003Cli\u003Eimage/png\u003C/li\u003E\n\u003Cli\u003Eimage/tiff\u003C/li\u003E\n\u003Cli\u003Etext/csv\u003C/li\u003E\n\u003Cli\u003Eapplication/vnd.ms-excel\u003C/li\u003E\n\u003Cli\u003Eapplication/vnd.openxmlformats-officedocument.spreadsheetml.sheet\u003C/li\u003E\n\u003Cli\u003Eapplication/msword\u003C/li\u003E\n\u003Cli\u003Eapplication/vnd.openxmlformats-officedocument.wordprocessingml.document\u003C/li\u003E\n\u003C/ul\u003E","operationId":"createImportMessagingPhoneNumberOrderLoas","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"},{"$ref":"#/components/parameters/documentTypeQueryParam"}],"requestBody":{"$ref":"#/components/requestBodies/postImportMessagingPhoneNumberOrdersLoasRequest"},"responses":{"201":{"$ref":"#/components/responses/postImportMessagingPhoneNumberOrdersLoasResponse"}},"summary":"Upload LOA File for Import Phone Number Order [NANP]","tags":["Hosted Messaging"]}},"/accounts/{accountId}/removeImportedPhoneNumberOrders/messaging":{"get":{"tags":["Hosted Messaging"],"description":"Retrieves the Remove Imported Messaging Tn Orders requests for the given account ID.\nA maximum of 1,000 orders can be retrieved per request. If no date range or specific query parameter as required is provided, the order results will be limited to the last two years.","summary":"List Orders for Removing Hosted Messaging","operationId":"listRemoveImportedTnOrders","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/statusQueryParam"},{"$ref":"#/components/parameters/phoneNumberQueryParam"},{"$ref":"#/components/parameters/customerOrderIdQueryParam"},{"$ref":"#/components/parameters/createdDateFromQueryParam"},{"$ref":"#/components/parameters/createdDateToQueryParam"},{"$ref":"#/components/parameters/removeImportedModifiedDateFromQueryParam"},{"$ref":"#/components/parameters/removeImportedModifiedDateToQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/getRemoveImportedMessagingPhoneNumberOrdersResponse"}}},"post":{"tags":["Hosted Messaging"],"description":"Create an order to remove imported phone numbers for messaging from the given account ID. An optional customer ID can be provided in the request body to track the order. A successfully submitted order will have a status of \u0022PROCESSING\u0022. A successfully completed order will have a status of \u0022COMPLETE\u0022 if all of the phone numbers were successfully removed and  \u0022PARTIAL\u0022 if some of the phone numbers were removed. A failed order will have a status of \u0022FAILED\u0022 and no phone numbers would have been removed.\n","summary":"Create Order to Remove Hosted Messaging","operationId":"createRemoveImportedPhoneNumberOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/postRemoveImportedPhoneNumberOrderRequest"},"responses":{"201":{"$ref":"#/components/responses/postRemoveImportedMessagingTnOrdersResponse"},"400":{"$ref":"#/components/responses/postRemoveImportedMessagingTnOrders400ErrorResponse"}}}},"/accounts/{accountId}/removeImportedPhoneNumberOrders/messaging/{orderId}":{"get":{"tags":["Hosted Messaging"],"description":"Retrieve an order to remove hosted messaging from a phone number by ID","summary":"Get Order to Remove Hosted Messaging","operationId":"retrieveRemoveImportedPhoneNumberOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getRemoveImportedMessagingPhoneNumberOrderResponse"},"400":{"$ref":"#/components/responses/getRemoveImportedMessagingPhoneNumberOrder400ErrorResponse"}}}}},"components":{"securitySchemes":{"Basic":{"type":"http","scheme":"basic","description":"Basic authentication is a simple authentication scheme built into the HTTP protocol. To use it, send your HTTP requests with an Authorization header that contains the word Basic followed by a space and a base64-encoded string \u0060username:password\u0060.\nExample: \u0060Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0060"},"Bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Bearer authentication (also called token authentication) is an HTTP authentication scheme that involves security \ntokens called bearer tokens. The name \u201CBearer authentication\u201D can be understood as \u201Cgive access to the bearer\nof this token.\u201D The client must send this token in the \u0060Authorization\u0060 header when making requests to\nprotected resources.\n\n- Example: \u0060Authorization: Bearer \u003Ctoken\u003E\u0060\n\nWhere \u0060\u003Ctoken\u003E\u0060 should be replaced with the token string without angle brackets.\n\nFor more information, see the following guide: [Credentials](https://dev.bandwidth.com/docs/account/credentials/management)"}},"schemas":{"addressXml":{"type":"object","properties":{"HousePrefix":{"description":"The HousePrefix is the non-numeric address number prefix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"HouseNumber":{"description":"The HouseNumber is the street address number of the ServiceAddress. HouseNumber is mandatory for port-in orders in which the ServiceAddress is mandatory.","type":"string"},"HouseSuffix":{"description":"The HouseSuffix is the non-numeric address number suffix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"PreDirectional":{"description":"The PreDirectional is the non-numeric street name prefix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"StreetName":{"description":"The StreetName is mandatory in cases where the ServiceAddress is mandatory.","type":"string"},"StreetSuffix":{"description":"The StreetSuffix is the street suffix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"PostDirectional":{"description":"The PostDirectional is the street name post directional of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"AddressLine2":{"description":"AddressLine2 is used to specify Unit, Suite, Floor, etc. in the Service Address. AddressLine2 is optional when not needed to fully specify the ServiceAddress.","type":"string"},"City":{"description":"City is mandatory in cases where the ServiceAddress is mandatory.","type":"string"},"StateCode":{"description":"StateCode is the 2-letter abbreviation of the state of the ServiceAddress. StateCode is mandatory in cases where the ServiceAddress is mandatory.","type":"string"},"Zip":{"description":"Zip is the Zip Code of the ServiceAddress. Zip is mandatory in cases where the ServiceAddress is mandatory.","type":"string"},"PlusFour":{"description":"PlusFour is the 4 digits that are sometimes suffixed to the Zip Code.","type":"string"},"County":{"description":"The county where the subscriber or business is located.","type":"string"},"Country":{"description":"Country is the country of the ServiceAddress. This value will be derived from the StateCode, so it should generally be omitted.","type":"string"},"ResetAddressFields":{"type":"boolean"},"Latitude":{"type":"string"},"Longitude":{"type":"string"},"AddressType":{"$ref":"#/components/schemas/addressTypeXml"}}},"address":{"properties":{"addressLine2":{"description":"AddressLine2 is used to specify Unit, Suite, Floor, etc. in the Service Address. AddressLine2 is optional when not needed to fully specify the ServiceAddress.","type":"string"},"addressType":{"$ref":"#/components/schemas/addressType"},"city":{"description":"City is mandatory in cases where the ServiceAddress is mandatory.","type":"string"},"country":{"description":"Country is the country of the ServiceAddress. This value will be derived from the StateCode, so it should generally be omitted.","type":"string"},"county":{"description":"The county where the subscriber or business is located.","type":"string"},"houseNumber":{"description":"The HouseNumber is the street address number of the ServiceAddress. HouseNumber is mandatory for port-in orders in which the ServiceAddress is mandatory.","type":"string"},"housePrefix":{"description":"The HousePrefix is the non-numeric address number prefix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"houseSuffix":{"description":"The HouseSuffix is the non-numeric address number suffix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"latitude":{"type":"string"},"longitude":{"type":"string"},"plusFour":{"description":"PlusFour is the 4 digits that are sometimes suffixed to the Zip Code.","type":"string"},"postDirectional":{"description":"The PostDirectional is the street name post directional of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"preDirectional":{"description":"The PreDirectional is the non-numeric street name prefix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"resetAddressFields":{"type":"boolean"},"stateCode":{"description":"StateCode is the 2-letter abbreviation of the state of the ServiceAddress. StateCode is mandatory in cases where the ServiceAddress is mandatory.","type":"string"},"streetName":{"description":"The StreetName is mandatory in cases where the ServiceAddress is mandatory.","type":"string"},"streetSuffix":{"description":"The StreetSuffix is the street suffix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"zip":{"description":"Zip is the Zip Code of the ServiceAddress. Zip is mandatory in cases where the ServiceAddress is mandatory.","type":"string"}},"type":"object"},"addressTypeXml":{"type":"string","enum":["SERVICE","BILLING","DLDA","E911"]},"addressType":{"enum":["SERVICE","BILLING","DLDA","E911"],"type":"string"},"error":{"title":"Error","type":"object","properties":{"phoneNumbers":{"description":"List of telephone numbers related to the error","type":"array","items":{"$ref":"#/components/schemas/phoneNumber"}},"code":{"description":"A numeric code representing the specific error","type":"integer"},"description":{"description":"Details about the error","type":"string"}}},"errorXml":{"title":"Error","type":"object","properties":{"TelephoneNumbers":{"description":"List of telephone numbers related to the error","type":"array","items":{"$ref":"#/components/schemas/telephoneNumber"}},"Code":{"description":"A numeric code representing the specific error","type":"integer"},"Description":{"description":"Details about the error","type":"string"}}},"fileData":{"properties":{"fileMetaData":{"$ref":"#/components/schemas/fileMetaData"},"fileName":{"description":"The name that was associated with the file when it was uploaded.","type":"string"}},"type":"object"},"fileDataXml":{"description":"Optional metadata associated with the file that was uploaded.","properties":{"FileMetaData":{"$ref":"#/components/schemas/fileMetaDataXml"},"FileName":{"description":"The name that was associated with the file when it was uploaded.","type":"string"}},"type":"object"},"fileListResponse":{"properties":{"fileCount":{"description":"Total count of files in response.","type":"integer"},"fileData":{"description":"Optional metadata associated with the file that was uploaded.","items":{"$ref":"#/components/schemas/fileData"},"type":"array"},"resultCode":{"description":"Result code of fetching the list of files from AWS.","type":"integer"},"resultMessage":{"description":"Results of the attempt to fetch the list of files.","type":"string"}},"type":"object"},"fileListResponseXml":{"properties":{"fileListResponse":{"properties":{"fileCount":{"description":"Total count of files in response.","type":"integer"},"fileData":{"$ref":"#/components/schemas/fileDataXml"},"resultCode":{"description":"Result code of fetching the list of files from AWS.","type":"integer"},"resultMessage":{"description":"Results of the attempt to fetch the list of files.","type":"string"}},"type":"object"}},"type":"object"},"fileMetaData":{"properties":{"documentName":{"description":"Name of particular document.","type":"string"},"documentType":{"description":"Enum of possible file type.","enum":["LOA","INVOICE","CSR","OTHER"],"type":"string"}},"type":"object"},"fileMetaDataXml":{"properties":{"DocumentName":{"description":"Name of particular document.","type":"string"},"DocumentType":{"description":"Enum of possible file type.","enum":["LOA","INVOICE","CSR","OTHER"],"type":"string"}},"type":"object"},"fileUploadResponse":{"properties":{"fileName":{"description":"The (optional) name that was associated with the file when it was uploaded.","type":"string"},"resultCode":{"description":"Result code of fetching the list of files from AWS.","type":"integer"},"resultMessage":{"description":"Results of the attempt to fetch the list of files.","type":"string"}},"type":"object"},"fileUploadResponseXml":{"properties":{"FileUploadResponse":{"properties":{"fileName":{"description":"The (optional) name that was associated with the file when it was uploaded.","type":"integer"},"resultCode":{"description":"Result code of fetching the list of files from AWS.","type":"integer"},"resultMessage":{"description":"Results of the attempt to fetch the list of files.","type":"string"}},"type":"object"}},"type":"object"},"getImportPhoneNumberLoasErrorResponse":{"properties":{"code":{"description":"The Bandwidth-defined error code.","type":"integer","example":7200},"description":{"description":"A description of the error.","type":"string","example":"The order ID was not found"}},"type":"object"},"getImportPhoneNumberLoasErrorResponseXml":{"properties":{"ErrorResponse":{"properties":{"irisStatus":{"properties":{"Code":{"description":"The Bandwidth-defined error code.","type":"integer","example":7200},"Description":{"description":"A description of the error.","type":"string","example":"The order ID was not found"}},"type":"object"}},"type":"object"}},"type":"object"},"importPhoneNumberOrder":{"type":"object","properties":{"customerOrderId":{"description":"Internal customer order id for tracking the order. Only alphanumeric values, dashes and spaces are allowed. Max length is 255 characters.","type":"string","example":"CustomerOrderId"},"phoneNumberCount":{"description":"The count of phone numbers in the order.","type":"integer","example":2},"orderId":{"description":"The unique identifier string created by Bandwidth to refer to the order.","type":"string","example":"8dc32f09-2329-4c73-b702-526f46b02712"},"orderType":{"description":"The type of order. For import phone number orders, this will always be import_tn_orders.","type":"string","enum":["import_tn_orders"]},"orderDate":{"description":"The date and time the order was created.","type":"string","example":"2025-04-22T20:24:11Z"},"accountId":{"description":"The account ID the order is associated with.","type":"integer","example":14},"userId":{"description":"The ID of the user that created the order.","type":"string","example":"systemUser"},"lastModifiedDate":{"description":"The date and time the order was last modified.","type":"string","example":"2025-04-22T20:24:11Z"},"orderStatus":{"type":"string","enum":["RECEIVED","PROCESSING","COMPLETE","PARTIAL","FAILED"]}}},"importPhoneNumberOrdersRequest":{"title":"ImportTnOrder","required":["phoneNumbers","subAccountId"],"properties":{"phoneNumbers":{"description":"List of telephone numbers to be moved","type":"array","minItems":1,"items":{"$ref":"#/components/schemas/phoneNumber"}},"subAccountId":{"description":"A sub account ID to which telephone number will be moved","type":"integer"},"customerOrderId":{"description":"Internal customer order id for tracking the order. Only alphanumeric values, dashes and spaces are allowed. Max length is 40 characters","type":"string"},"locationId":{"description":"A location ID of provided site to which telephone number will be moved","type":"integer"},"subscriber":{"description":"Subscriber information.","properties":{"name":{"description":"Subscriber business / customer name.","maxLength":45,"type":"string"},"serviceAddress":{"description":"address","properties":{"houseNumber":{"description":"Street address number.","type":"integer"},"streetName":{"description":"Street name.","type":"string"},"city":{"description":"City.","type":"string"},"stateCode":{"description":"Two letter state code.","type":"string"},"zip":{"description":"Zip code.","type":"string"}}}}},"loaAuthorizingPerson":{"description":"First and last name of person who authorized LOA.","type":"string"},"loaType":{"description":"Identify the LoaType on TNs.","type":"string","enum":["SUBSCRIBER","CARRIER"],"default":"SUBSCRIBER"}}},"importPhoneNumberOrdersErrorResponse":{"type":"object","properties":{"errorCode":{"description":"The Bandwidth-defined error code.","type":"integer","example":12512},"description":{"description":"A description of the error.","type":"string","example":"Telephone number \u0027\u0022xxxx\u0022\u0027 is not valid"}}},"importPhoneNumberOrdersErrorResponseXml":{"type":"object","properties":{"ImportTnOrdersReportResponse":{"$ref":"#/components/schemas/responseStatus"}}},"importPhoneNumberOrdersResponse":{"type":"object","properties":{"customerOrderId":{"type":"string"},"orderCreateDate":{"type":"string"},"accountId":{"type":"integer"},"createdByUser":{"type":"string"},"lastModifiedDate":{"type":"string"},"subAccountId":{"type":"integer"},"locationId":{"type":"integer"},"phoneNumbers":{"type":"array","items":{"$ref":"#/components/schemas/phoneNumber"}},"loaAuthorizingPerson":{"type":"string"},"loaType":{"type":"string","enum":["CARRIER","SUBSCRIBER"]},"warnings":{"type":"array","items":{"$ref":"#/components/schemas/warning"}},"subscriber":{"$ref":"#/components/schemas/importPhoneNumberSubscriber"},"processingStatus":{"description":"Status of the Hosted Messaging Order request.\n\nRECEIVED - Order has been received without errors and will be processed through further validation.\n\nPROCESSING - The order has passed initial validation and is now being processed.Order will remain in processing status if any of the requested telphone numbers remain pending processing.\n\nCOMPLETE - This implies that this order has been successfully processed and hosted messaging has been enabled on all requested telephone numbers.\n\nPARTIAL - This implies that this order has been successfully processed and hosted messaging was enabled on all except few of the numbers, reasons for same can be found in  Warning section.\n\nFAILED - This implies that this order has been failed. None of the telphone numbers requested were enabled for hosted messaging, reasons for same can be found in Errors and Warning section.","type":"string","enum":["RECEIVED","PROCESSING","COMPLETE","PARTIAL","FAILED"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}},"pendingTelephoneNumbers":{"description":"List of phone numbers that are pending processing.","type":"array","items":{"$ref":"#/components/schemas/phoneNumber"}},"failedTelephoneNumbers":{"description":"List of phone numbers that failed processing, with reasons detailed in the Warning section.","type":"array","items":{"$ref":"#/components/schemas/phoneNumber"}},"successTelephoneNumbers":{"description":"List of phone numbers successfully processed.","type":"array","items":{"$ref":"#/components/schemas/phoneNumber"}}}},"importPhoneNumberOrdersResponseList":{"type":"object","properties":{"totalCount":{"description":"The total count of orders returned in the response.","type":"integer","example":2},"orders":{"type":"array","items":{"$ref":"#/components/schemas/importPhoneNumberOrder"}}}},"importPhoneNumberSubscriber":{"type":"object","properties":{"name":{"type":"string"},"serviceAddress":{"$ref":"#/components/schemas/address"}}},"importTnOrder":{"type":"object","properties":{"CustomerOrderId":{"type":"string"},"OrderCreateDate":{"type":"string"},"AccountId":{"type":"string"},"CreatedByUser":{"type":"string"},"LastModifiedDate":{"type":"string"},"SiteId":{"type":"string"},"SipPeerId":{"type":"string"},"TelephoneNumbers":{"type":"array","items":{"$ref":"#/components/schemas/telephoneNumber"}},"LoaAuthorizingPerson":{"type":"string"},"LoaType":{"type":"string","enum":["CARRIER","SUBSCRIBER"]},"Warnings":{"type":"array","items":{"$ref":"#/components/schemas/warningXml"}},"Subscriber":{"$ref":"#/components/schemas/importTnSubscriber"},"ProcessingStatus":{"description":"Status of the Hosted Messaging Order request.\n\nRECEIVED - Order has been received without errors and will be processed through further validation.\n\nPROCESSING - The order has passed initial validation and is now being processed.Order will remain in processing status if any of the requested telphone numbers remain pending processing.\n\nCOMPLETE - This implies that this order has been successfully processed and hosted messaging has been enabled on all requested telephone numbers.\n\nPARTIAL - This implies that this order has been successfully processed and hosted messaging was enabled on all except few of the numbers, reasons for same can be found in  Warning section.\n\nFAILED - This implies that this order has been failed. None of the telphone numbers requested were enabled for hosted messaging, reasons for same can be found in Errors and Warning section.","type":"string","enum":["RECEIVED","PROCESSING","COMPLETE","PARTIAL","FAILED"]},"Errors":{"type":"array","items":{"$ref":"#/components/schemas/errorXml"}},"PendingTelephoneNumbers":{"description":"List of telephone numbers that are pending processing.","type":"array","items":{"$ref":"#/components/schemas/telephoneNumber"}},"FailedTelephoneNumbers":{"description":"List of telephone numbers that failed processing, with reasons detailed in the Warning section.","type":"array","items":{"$ref":"#/components/schemas/telephoneNumber"}},"SuccessTelephoneNumbers":{"description":"List of telephone numbers successfully processed.","type":"array","items":{"$ref":"#/components/schemas/telephoneNumber"}}}},"importTnOrdersError":{"type":"object","properties":{"ImportTnOrdersResponse":{"$ref":"#/components/schemas/responseStatus"}}},"importTnOrdersRequest":{"title":"ImportTnOrder","properties":{"ImportTnOrder":{"type":"object","required":["TelephoneNumbers","SiteId"],"properties":{"TelephoneNumbers":{"description":"List of telephone numbers to be moved","type":"array","minItems":1,"items":{"type":"object","properties":{"TelephoneNumber":{"description":"Ten digit phone number with no dots or dashes","type":"integer"}}}},"SiteId":{"description":"A site id to which telephone number will be moved","type":"integer"},"CustomerOrderId":{"description":"Internal customer order id for tracking the order. Only alphanumeric values, dashes and spaces are allowed. Max length is 40 characters","type":"string"},"SipPeerId":{"description":"A sippeer id of provided site to which telephone number will be moved","type":"integer"},"Subscriber":{"description":"Subscriber information.","properties":{"Name":{"description":"Subscriber business / customer name.","maxLength":45,"type":"string"},"ServiceAddress":{"description":"address","properties":{"HouseNumber":{"description":"Street address number.","type":"integer"},"StreetName":{"description":"Street name.","type":"string"},"City":{"description":"City.","type":"string"},"StateCode":{"description":"Two letter state code.","type":"string"},"Zip":{"description":"Zip code.","type":"string"}}}}},"LoaAuthorizingPerson":{"description":"First and last name of person who authorized LOA.","type":"string"},"LoaType":{"description":"Identify the LoaType on TNs.","type":"string","enum":["SUBSCRIBER","CARRIER"],"default":"SUBSCRIBER"}}}}},"importTnOrdersResponse":{"type":"object","properties":{"ImportTnOrdersResponse":{"type":"object","properties":{"ImportTnOrder":{"$ref":"#/components/schemas/importTnOrder"}}}}},"importTnOrdersResponseList":{"type":"object","properties":{"ImportTnOrders":{"type":"object","properties":{"TotalCount":{"type":"integer"},"ImportTnOrderSummary":{"$ref":"#/components/schemas/importTnOrderSummary"}}}}},"getRemoveImportedPhoneNumberOrdersResponse":{"type":"object","properties":{"totalCount":{"description":"The total count of orders returned in the response.","type":"integer","example":2},"orders":{"type":"array","items":{"$ref":"#/components/schemas/removeImportedPhoneNumberOrderSummary"}}}},"removeImportedTnOrders":{"type":"object","properties":{"TotalCount":{"description":"The total count of orders returned in the response.","type":"integer"},"RemoveImportedTnOrderSummary":{"type":"array","items":{"$ref":"#/components/schemas/removeImportedTnOrderSummary"}}}},"importTnOrderSummary":{"type":"object","properties":{"CustomerOrderId":{"type":"string"},"CountsOfTNs":{"type":"integer"},"OrderId":{"type":"string"},"OrderType":{"type":"string","enum":["import_tn_orders"]},"OrderDate":{"type":"string"},"AccountId":{"type":"string"},"UserId":{"type":"string"},"LastModifiedDate":{"type":"string"},"ProcessingStatus":{"type":"string","enum":["RECEIVED","PROCESSING","COMPLETE","PARTIAL","FAILED"]}}},"removeImportedPhoneNumberOrderSummary":{"type":"object","properties":{"customerOrderId":{"type":"string"},"phoneNumberCount":{"type":"integer"},"orderId":{"type":"string"},"orderType":{"type":"string","enum":["remove_imported_tn_orders"]},"orderDate":{"type":"string"},"accountId":{"type":"integer"},"userId":{"type":"string"},"lastModifiedDate":{"type":"string"},"orderStatus":{"type":"string","enum":["RECEIVED","PROCESSING","COMPLETE","PARTIAL","FAILED"]}}},"removeImportedTnOrderSummary":{"type":"object","properties":{"CustomerOrderId":{"type":"string"},"CountsOfTNs":{"type":"integer"},"OrderId":{"type":"string"},"OrderType":{"type":"string","enum":["remove_imported_tn_orders"]},"OrderDate":{"type":"string"},"AccountId":{"type":"string"},"UserId":{"type":"string"},"LastModifiedDate":{"type":"string"},"ProcessingStatus":{"type":"string","enum":["RECEIVED","PROCESSING","COMPLETE","PARTIAL","FAILED"]}}},"importTnSubscriber":{"type":"object","properties":{"Name":{"type":"string"},"ServiceAddress":{"$ref":"#/components/schemas/addressXml"}}},"orderHistory":{"type":"object","properties":{"orderHistory":{"type":"array","items":{"properties":{"orderDate":{"description":"This is the date/time when the order history entry was created.","type":"string"},"note":{"description":"This is the order note that accompanied the order history entry.","type":"string"},"author":{"description":"This is the user that initiated the event that caused the order history to be updated.","type":"string"},"status":{"description":"This is the state that the order was in when the order history event occurred.","type":"string","enum":["RECEIVED","PROCESSING","COMPLETE","PARTIAL","FAILED"]}}}}}},"orderHistoryWrapper":{"type":"object","properties":{"OrderHistoryWrapper":{"type":"object","properties":{"OrderHistory":{"$ref":"#/components/schemas/orderHistoryXml"}}}}},"orderHistoryXml":{"type":"object","properties":{"OrderDate":{"description":"This is the date/time when the order history entry was created.","type":"string"},"Note":{"description":"This is the order note that accompanied the order history entry.","type":"string"},"Author":{"description":"This is the user that initiated the event that caused the order history to be updated.","type":"string"},"Status":{"description":"This is the state that the order was in when the order history event occurred.","type":"string"}}},"phoneNumber":{"description":"Telephone Number in E.164 format.","type":"string"},"responseStatus":{"type":"object","properties":{"ErrorCode":{"description":"Numeric designation of corresponding error","type":"integer"},"Description":{"description":"Detailed explanation about error ","type":"string"}}},"telephoneNumber":{"type":"object","properties":{"TelephoneNumber":{"description":"Telephone Number in E.164 format.","type":"string"}}},"warningXml":{"description":"Errors/Warnings that occur during telephone number provisioning for messaging, may be requiring user action. For example, a Letter of Authorization (LOA) may be needed from the number provider.","type":"object","title":"Warning","properties":{"Code":{"description":"A numerical code representing the specific warning.","type":"integer"},"Description":{"description":"Details about the issue which may require user attention.","type":"string"},"TelephoneNumber":{"$ref":"#/components/schemas/telephoneNumber"}}},"warning":{"description":"Errors/Warnings that occur during telephone number provisioning for messaging, may be requiring user action. For example, a Letter of Authorization (LOA) may be needed from the number provider.","type":"object","properties":{"code":{"description":"A numerical code representing the specific warning.","type":"integer"},"description":{"description":"Details about the issue which may require user attention.","type":"string"},"phoneNumber":{"$ref":"#/components/schemas/phoneNumber"}}},"getRemoveImportedTnOrderResponse":{"properties":{"AccountId":{"type":"integer"},"CreatedByUser":{"type":"string"},"CustomerOrderId":{"type":"string"},"Errors":{"type":"array","items":{"$ref":"#/components/schemas/errorXml"}},"LastModifiedDate":{"type":"string"},"OrderCreateDate":{"type":"string"},"OrderId":{"type":"string"},"ProcessingStatus":{"enum":["RECEIVED","PROCESSING","COMPLETE","PARTIAL","FAILED"],"type":"string"},"TelephoneNumbers":{"items":{"$ref":"#/components/schemas/telephoneNumber"},"type":"array"}},"type":"object"},"getRemoveImportedPhoneNumberOrderResponse":{"properties":{"accountId":{"type":"integer"},"createdByUser":{"type":"string"},"customerOrderId":{"type":"string"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}},"lastModifiedDate":{"type":"string"},"orderCreateDate":{"type":"string"},"orderId":{"type":"string"},"processingStatus":{"enum":["RECEIVED","PROCESSING","COMPLETE","PARTIAL","FAILED"],"type":"string"},"phoneNumbers":{"items":{"$ref":"#/components/schemas/phoneNumber"},"type":"array"}},"type":"object"},"removeImportedTnOrderErrorResponse":{"type":"object","properties":{"RemoveImportedTnOrdersReportResponse":{"$ref":"#/components/schemas/responseStatus"}}},"removeImportedPhoneNumberOrdersErrorResponse":{"type":"object","properties":{"errorCode":{"description":"The Bandwidth-defined error code.","type":"integer","example":1005},"description":{"description":"A description of the error.","type":"string","example":"The resource does not exist"}}},"removeImportedPhoneNumberOrderRequest":{"title":"RemoveImportedPhoneNumberOrder","required":["phoneNumbers"],"properties":{"phoneNumbers":{"description":"List of phone numbers to be removed.","type":"array","minItems":1,"items":{"$ref":"#/components/schemas/phoneNumber"}},"customerOrderId":{"description":"Internal customer order ID for tracking the order. Only alphanumeric values, dashes and spaces are allowed. Max length is 40 characters","type":"string"}}},"removeImportedTnOrderRequest":{"title":"RemoveImportedTnOrder","required":["TelephoneNumbers"],"properties":{"TelephoneNumbers":{"description":"List of telephone numbers to be removed","type":"array","minItems":1,"items":{"$ref":"#/components/schemas/phoneNumber"}},"customerOrderId":{"description":"Internal customer order ID for tracking the order. Only alphanumeric values, dashes and spaces are allowed. Max length is 40 characters","type":"string"}}},"removeImportedTnOrdersResponse":{"properties":{"RemoveImportedTnOrder":{"properties":{"AccountId":{"type":"integer"},"CreatedByUser":{"type":"string"},"CustomerOrderId":{"type":"string"},"Errors":{"type":"array","items":{"$ref":"#/components/schemas/errorXml"}},"LastModifiedDate":{"type":"string"},"OrderCreateDate":{"type":"string"},"OrderId":{"type":"string"},"ProcessingStatus":{"enum":["RECEIVED","PROCESSING","COMPLETE","PARTIAL","FAILED"],"type":"string"},"TelephoneNumbers":{"items":{"$ref":"#/components/schemas/telephoneNumber"},"type":"array"}},"type":"object"}},"type":"object"},"removeImportedPhoneNumberOrdersResponse":{"properties":{"accountId":{"type":"integer"},"createdByUser":{"type":"string"},"customerOrderId":{"type":"string"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}},"lastModifiedDate":{"type":"string"},"orderCreateDate":{"type":"string"},"orderId":{"type":"string"},"processingStatus":{"enum":["RECEIVED","PROCESSING","COMPLETE","PARTIAL","FAILED"],"type":"string"},"phoneNumbers":{"items":{"$ref":"#/components/schemas/phoneNumber"},"type":"array"}},"type":"object"}},"parameters":{"accountIdPathParam":{"description":"User\u0027s account ID.","example":1234567,"in":"path","name":"accountId","required":true,"schema":{"type":"string"}},"createdDateFromQueryParam":{"name":"createdDateFrom","description":"Checks the order\u0027s creation date against this value. Orders that have a creation date after this date will be included. Format is yyyy-MM-dd","in":"query","schema":{"type":"string","format":"date"},"example":"2013-10-22"},"createdDateToQueryParam":{"name":"createdDateTo","description":"Checks the order\u0027s creation date against this value. Orders that have a creation date before this date will be included. Format is yyyy-MM-dd","in":"query","schema":{"type":"string","format":"date"},"example":"2013-10-25"},"customerOrderIdQueryParam":{"name":"customerOrderId","description":"The Customer Order ID is an ID assigned by the account owner to provide a reference number for the order.","in":"query","schema":{"type":"string"},"example":"ABCCorp12345"},"documentTypeQueryParam":{"name":"documentType","description":"This query parameter allows you to include the document type metadata\nat the same time you upload the file.","in":"query","required":false,"schema":{"enum":["LOA","INVOICE","CSR","OTHER"],"type":"string"},"example":"LOA"},"loaTypeQueryParam":{"name":"loaType","description":"Indentify the LoaType on phone numbers.","in":"query","required":false,"schema":{"type":"string","enum":["SUBSCRIBER","CARRIER","ALL"],"default":"ALL"},"example":"SUBSCRIBER"},"metaDataQueryParam":{"name":"metadata","description":"If true, the response will contain document name and type. If false, the response will only list the file names.","in":"query","required":false,"schema":{"type":"boolean"},"example":true},"modifiedDateFromQueryParam":{"name":"modifiedDateFrom","description":"For Date-based searches, the starting date of a date range (inclusive) that will be used to find Import Phone Number Orders that were modified within the date range. It is in the form yyyy-MM-dd.","in":"query","schema":{"type":"string","format":"date"},"example":"2013-10-22"},"removeImportedModifiedDateFromQueryParam":{"name":"modifiedDateFrom","description":"For Date-based searches, the starting date of a date range (inclusive) that will be used to find Remove Imported Phone Number Orders that were modified within the date range. It is in the form yyyy-MM-dd.","in":"query","schema":{"type":"string","format":"date"},"example":"2013-10-22"},"modifiedDateToQueryParam":{"name":"modifiedDateTo","description":"For Date-based searches, the ending date of a date range (inclusive) that will be used to find Import Phone Number Orders that were modified within the date range. It is in the form yyyy-MM-dd.","in":"query","schema":{"type":"string","format":"date"},"example":"2013-10-25"},"orderIdPathParam":{"name":"orderId","description":"ID of order to retrieve","in":"path","required":true,"schema":{"type":"string"},"example":"bf1305b8-8998-1111-2222-51ba3ce52d4e"},"removeImportedModifiedDateToQueryParam":{"name":"modifiedDateTo","description":"For Date-based searches, the ending date of a date range (inclusive) that will be used to find Remove Imported Phone Number Orders that were modified within the date range. It is in the form yyyy-MM-dd.","in":"query","schema":{"type":"string","format":"date"},"example":"2013-10-25"},"phoneNumberQueryParam":{"name":"phoneNumber","description":"A phone number that is referenced in the order","in":"query","schema":{"type":"string"},"example":19199918388},"statusQueryParam":{"name":"status","description":"The status of the order being searched for.","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["PROCESSING","COMPLETE","PARTIAL","FAILED"]}}}},"requestBodies":{"postImportMessagingPhoneNumberOrdersLoasRequest":{"content":{"*/*":{"schema":{"format":"binary","type":"string"}}}},"postImportMessagingPhoneNumberOrdersRequest":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/importPhoneNumberOrdersRequest"},"examples":{"example":{"value":{"customerOrderId":"ICPA123ABC","subAccountId":743,"locationId":303716,"subscriber":[{"name":"ABC Inc.","serviceAddress":[{"houseNumber":11235,"streetName":"Back","city":"Denver","stateCode":"CO","zip":27541,"county":"Canyon"}]}],"loaAuthorizingPerson":"The Authguy","loaType":"CARRIER","phoneNumbers":[19199918388,14158714245,14352154439,14352154466]}}}},"application/xml":{"schema":{"$ref":"#/components/schemas/importTnOrdersRequest"},"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CImportTnOrder\u003E\n  \u003CCustomerOrderId\u003EICPA123ABC\u003C/CustomerOrderId\u003E\n  \u003CSiteId\u003E743\u003C/SiteId\u003E\n  \u003CSipPeerId\u003E303716\u003C/SipPeerId\u003E\n  \u003CSubscriber\u003E\n    \u003CName\u003EABC Inc.\u003C/Name\u003E\n    \u003CServiceAddress\u003E\n      \u003CHouseNumber\u003E11235\u003C/HouseNumber\u003E\n      \u003CStreetName\u003EBack\u003C/StreetName\u003E\n      \u003CCity\u003EDenver\u003C/City\u003E\n      \u003CStateCode\u003ECO\u003C/StateCode\u003E\n      \u003CZip\u003E27541\u003C/Zip\u003E\n      \u003CCounty\u003ECanyon\u003C/County\u003E\n    \u003C/ServiceAddress\u003E\n  \u003C/Subscriber\u003E\n  \u003CLoaAuthorizingPerson\u003EThe Authguy\u003C/LoaAuthorizingPerson\u003E\n  \u003CLoaType\u003ECARRIER\u003C/LoaType\u003E\n  \u003CTelephoneNumbers\u003E\n    \u003CTelephoneNumber\u003E\u002B19199918388\u003C/TelephoneNumber\u003E\n    \u003CTelephoneNumber\u003E\u002B14158714245\u003C/TelephoneNumber\u003E\n    \u003CTelephoneNumber\u003E\u002B14352154439\u003C/TelephoneNumber\u003E\n    \u003CTelephoneNumber\u003E\u002B14352154466\u003C/TelephoneNumber\u003E\n  \u003C/TelephoneNumbers\u003E\n\u003C/ImportTnOrder\u003E\n"}}}}},"postRemoveImportedPhoneNumberOrderRequest":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/removeImportedPhoneNumberOrderRequest"},"examples":{"example":{"value":{"customerOrderId":"ICPA123ABC","phoneNumbers":[19199918388,14158714245,14352154439,14352154466]}}}},"application/xml":{"schema":{"$ref":"#/components/schemas/removeImportedTnOrderRequest"},"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRemoveImportedTnOrder\u003E\n   \u003CCustomerOrderId\u003EICPA123ABC\u003C/CustomerOrderId\u003E\n   \u003CTelephoneNumbers\u003E\n      \u003CTelephoneNumber\u003E\u002B19199918388\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B14158714245\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B14352154439\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B14352154466\u003C/TelephoneNumber\u003E\n   \u003C/TelephoneNumbers\u003E\n\u003C/RemoveImportedTnOrder\u003E"}}}}}},"responses":{"getImportMessagingPhoneNumberOrdersHistoryResponse":{"description":"OK","content":{"application/json":{"examples":{"example":{"value":{"orderHistory":[{"orderDate":"2015-06-16T14:03:10.225Z","note":"Hosted Messaging order is received.","author":"admin","status":"RECEIVED"},{"orderDate":"2015-06-16T14:03:10.330Z","note":"Hosted Messaging order is processing.","author":"admin","status":"PROCESSING"},{"orderDate":"2015-06-16T14:03:10.789Z","note":"Hosted Messaging order is partial.","author":"admin","status":"PARTIAL"}]}}},"schema":{"$ref":"#/components/schemas/orderHistory"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrderHistoryWrapper\u003E\n   \u003COrderHistory\u003E\n     \u003COrderDate\u003E2015-06-16T14:03:10.225Z\u003C/OrderDate\u003E\n     \u003CNote\u003EImport TN order is received.\u003C/Note\u003E\n     \u003CAuthor\u003Eadmin\u003C/Author\u003E\n     \u003CStatus\u003ERECEIVED\u003C/Status\u003E\n   \u003C/OrderHistory\u003E\n   \u003COrderHistory\u003E\n     \u003COrderDate\u003E2015-06-16T14:03:10.330Z\u003C/OrderDate\u003E\n     \u003CNote\u003EImport TN order is processing.\u003C/Note\u003E\n     \u003CAuthor\u003Eadmin\u003C/Author\u003E\n     \u003CStatus\u003EPROCESSING\u003C/Status\u003E\n   \u003C/OrderHistory\u003E\n   \u003COrderHistory\u003E\n     \u003COrderDate\u003E2015-06-16T14:03:10.789Z\u003C/OrderDate\u003E\n     \u003CNote\u003EImport TN order is partial.\u003C/Note\u003E\n     \u003CAuthor\u003Eadmin\u003C/Author\u003E\n     \u003CStatus\u003EPARTIAL\u003C/Status\u003E\n   \u003C/OrderHistory\u003E\n \u003C/OrderHistoryWrapper\u003E\n"}},"schema":{"$ref":"#/components/schemas/orderHistoryWrapper"}}}},"getImportMessagingPhoneNumberOrdersLoas400ErrorResponse":{"description":"Bad Request","content":{"application/json":{"examples":{"example":{"value":{"code":7200,"description":"The order ID was not found"}}},"schema":{"$ref":"#/components/schemas/getImportPhoneNumberLoasErrorResponse"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CErrorResponse\u003E\n  \u003CirisStatus\u003E\n    \u003CCode\u003E7200\u003C/Code\u003E\n    \u003CDescription\u003EThe order ID was not found\u003C/Description\u003E\n  \u003C/irisStatus\u003E\n\u003C/ErrorResponse\u003E"}},"schema":{"$ref":"#/components/schemas/getImportPhoneNumberLoasErrorResponseXml"}}}},"getImportMessagingPhoneNumberOrdersLoasResponse":{"description":"OK","content":{"application/json":{"examples":{"withMetaData":{"value":{"fileCount":1,"fileData":[{"fileMetaData":{"documentType":"LOA","documentName":"Document Name"},"fileName":"eeceff88-c11e-4bd8-86f3-8e3482888500-1624044440058.pdf"}],"resultCode":0,"resultMessage":"LOA file list successfully returned"}},"withoutMetaData":{"value":{"fileCount":1,"fileNames":["eeceff88-c11e-4bd8-86f3-8e3482888500-1624044440058.pdf"],"resultCode":0,"resultMessage":"LOA file list successfully returned"}}},"schema":{"$ref":"#/components/schemas/fileListResponse"}},"application/xml":{"examples":{"withMetaData":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CfileListResponse\u003E\n      \u003CfileCount\u003E1\u003C/fileCount\u003E\n      \u003CfileData\u003E\n          \u003CFileName\u003Eeeceff88-c11e-4bd8-86f3-8e3482888500-1624044440058.pdf\u003C/FileName\u003E\n          \u003CFileMetaData\u003E\n                \u003CDocumentType\u003ELOA\u003C/DocumentType\u003E\n                \u003CDocumentName\u003EDocument Name\u003C/DocumentName\u003E\n          \u003C/FileMetaData\u003E\n      \u003C/fileData\u003E\n      \u003CresultCode\u003E0\u003C/resultCode\u003E\n      \u003CresultMessage\u003ELOA file list successfully returned\u003C/resultMessage\u003E\n\u003C/fileListResponse\u003E"},"withoutMetaData":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CfileListResponse\u003E\n      \u003CfileCount\u003E1\u003C/fileCount\u003E\n      \u003CfileNames\u003Eeeceff88-c11e-4bd8-86f3-8e3482888500-1624044440058.pdf\u003C/fileNames\u003E\n      \u003CresultCode\u003E0\u003C/resultCode\u003E\n      \u003CresultMessage\u003ELOA file list successfully returned\u003C/resultMessage\u003E\n\u003C/fileListResponse\u003E"}},"schema":{"$ref":"#/components/schemas/fileListResponseXml"}}}},"getImportMessagingPhoneNumberOrdersResponse":{"description":"OK","content":{"application/json":{"examples":{"example":{"value":{"totalCount":2,"orders":[{"accountId":14,"phoneNumberCount":2,"customerOrderId":"CustomerOrderId","userId":"systemUser","lastModifiedDate":"2019-01-24T11:08:09.770Z","orderDate":"2019-01-24T11:08:09.770Z","orderType":"import_tn_orders","orderStatus":"COMPLETE","orderId":"211a103c-5f9c-4117-8833-c574bdc390fd"},{"accountId":14,"phoneNumberCount":1,"customerOrderId":"CustomerOrderId","userId":"systemUser","lastModifiedDate":"2019-01-24T10:43:16.934Z","orderDate":"2019-01-24T10:43:16.934Z","orderType":"import_tn_orders","orderStatus":"PARTIAL","orderId":"8dc32f09-2329-4c73-b702-526f46b02712"}]}}},"schema":{"$ref":"#/components/schemas/importPhoneNumberOrdersResponseList"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n\u003CImportTnOrders\u003E\n   \u003CTotalCount\u003E2\u003C/TotalCount\u003E\n   \u003CImportTnOrderSummary\u003E\n      \u003CaccountId\u003E14\u003C/accountId\u003E\n      \u003CCountOfTNs\u003E1\u003C/CountOfTNs\u003E\n      \u003CCustomerOrderId\u003ECustomerOrderId\u003C/CustomerOrderId\u003E\n      \u003CuserId\u003EsystemUser\u003C/userId\u003E\n      \u003ClastModifiedDate\u003E2019-01-24T11:08:09.770Z\u003C/lastModifiedDate\u003E\n      \u003COrderDate\u003E2019-01-24T11:08:09.770Z\u003C/OrderDate\u003E\n      \u003COrderType\u003Eimport_tn_orders\u003C/OrderType\u003E\n      \u003COrderStatus\u003ECOMPLETE\u003C/OrderStatus\u003E\n      \u003COrderId\u003E211a103c-5f9c-4117-8833-c574bdc390fd\u003C/OrderId\u003E\n   \u003C/ImportTnOrderSummary\u003E\n   \u003CImportTnOrderSummary\u003E\n      \u003CaccountId\u003E14\u003C/accountId\u003E\n      \u003CCountOfTNs\u003E2\u003C/CountOfTNs\u003E\n      \u003CCustomerOrderId\u003ECustomerOrderId\u003C/CustomerOrderId\u003E\n      \u003CuserId\u003EsystemUser\u003C/userId\u003E\n      \u003ClastModifiedDate\u003E2019-01-24T10:43:16.934Z\u003C/lastModifiedDate\u003E\n      \u003COrderDate\u003E2019-01-24T10:43:16.934Z\u003C/OrderDate\u003E\n      \u003COrderType\u003Eimport_tn_orders\u003C/OrderType\u003E\n      \u003COrderStatus\u003EPARTIAL\u003C/OrderStatus\u003E\n      \u003COrderId\u003E8dc32f09-2329-4c73-b702-526f46b02712\u003C/OrderId\u003E\n   \u003C/ImportTnOrderSummary\u003E\n\u003C/ImportTnOrders\u003E"}},"schema":{"$ref":"#/components/schemas/importTnOrdersResponseList"}}}},"getRemoveImportedMessagingPhoneNumberOrdersResponse":{"description":"The descriptive payload for the Remove Imported Messaging Tn Orders query provides information about the orders found by the query, including the data associated with the order, the state of the order, and a list of the successfully removed Telephone Numbers, and descriptions of any encountered errors.","content":{"application/json":{"examples":{"example":{"value":{"totalCount":2,"orders":[{"accountId":14,"phoneNumberCount":2,"customerOrderId":"CustomerOrderId","userId":"systemUser","lastModifiedDate":"2019-01-24T11:08:09.770Z","orderDate":"2019-01-24T11:08:09.770Z","orderType":"remove_imported_tn_orders","orderStatus":"COMPLETE","orderId":"211a103c-5f9c-4117-8833-c574bdc390fd"},{"accountId":14,"phoneNumberCount":1,"customerOrderId":"CustomerOrderId","userId":"systemUser","lastModifiedDate":"2019-01-24T10:43:16.934Z","orderDate":"2019-01-24T10:43:16.934Z","orderType":"remove_imported_tn_orders","orderStatus":"PARTIAL","orderId":"8dc32f09-2329-4c73-b702-526f46b02712"}]}}},"schema":{"$ref":"#/components/schemas/getRemoveImportedPhoneNumberOrdersResponse"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRemoveImportedTnOrders\u003E\n   \u003CTotalCount\u003E2\u003C/TotalCount\u003E\n   \u003CRemoveImportedTnOrderSummary\u003E\n      \u003CaccountId\u003E14\u003C/accountId\u003E\n      \u003CCountOfTNs\u003E1\u003C/CountOfTNs\u003E\n      \u003CCustomerOrderId\u003EDemoOrder\u003C/CustomerOrderId\u003E\n      \u003CuserId\u003EsystemUser\u003C/userId\u003E\n      \u003ClastModifiedDate\u003E2019-01-24T10:40:12.908Z\u003C/lastModifiedDate\u003E\n      \u003COrderDate\u003E2019-01-24T10:40:12.907Z\u003C/OrderDate\u003E\n      \u003COrderType\u003Eremove_imported_tn_orders\u003C/OrderType\u003E\n      \u003COrderStatus\u003ECOMPLETE\u003C/OrderStatus\u003E\n      \u003COrderId\u003E4f2d090b-ece7-49ab-9c40-06d1425c39c3\u003C/OrderId\u003E\n   \u003C/RemoveImportedTnOrderSummary\u003E\n   \u003CRemoveImportedTnOrderSummary\u003E\n      \u003CaccountId\u003E14\u003C/accountId\u003E\n      \u003CCountOfTNs\u003E1\u003C/CountOfTNs\u003E\n      \u003CCustomerOrderId\u003EDemoOrder\u003C/CustomerOrderId\u003E\n      \u003CuserId\u003EsystemUser\u003C/userId\u003E\n      \u003ClastModifiedDate\u003E2019-01-24T09:38:24.028Z\u003C/lastModifiedDate\u003E\n      \u003COrderDate\u003E2019-01-24T09:38:24.028Z\u003C/OrderDate\u003E\n      \u003COrderType\u003Eremove_imported_tn_orders\u003C/OrderType\u003E\n      \u003COrderStatus\u003EPARTIAL\u003C/OrderStatus\u003E\n      \u003COrderId\u003Eca30ea6a-018a-4cae-9d49-3d419fefdbe3\u003C/OrderId\u003E\n   \u003C/RemoveImportedTnOrderSummary\u003E\n\u003C/RemoveImportedTnOrders\u003E"}},"schema":{"$ref":"#/components/schemas/removeImportedTnOrders"}}}},"getRemoveImportedMessagingPhoneNumberOrderResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/getRemoveImportedPhoneNumberOrderResponse"},"examples":{"example":{"value":{"orderCreateDate":"2018-01-09T02:58:04.615Z","accountId":9900012,"createdByUser":"sjm","orderId":"bf1305b8-8998-1111-2222-51ba3ce52d4e","lastModifiedDate":"2018-01-09T02:58:05.298Z","phoneNumbers":[12106078250,12109678273,12109678331,12109678337,12266401468],"processingStatus":"PARTIAL","errors":[{"code":7518,"description":"Telephone Number Not Active.","phoneNumbers":[12262665583]}]}}}},"application/xml":{"schema":{"$ref":"#/components/schemas/getRemoveImportedTnOrderResponse"},"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRemoveImportedTnOrder\u003E\n   \u003COrderCreateDate\u003E2018-01-09T02:58:04.615Z\u003C/OrderCreateDate\u003E\n   \u003CAccountId\u003E9900012\u003C/AccountId\u003E\n   \u003CCreatedByUser\u003Esjm\u003C/CreatedByUser\u003E\n   \u003COrderId\u003Ebf1305b8-8998-1111-2222-51ba3ce52d4e\u003C/OrderId\u003E\n   \u003CLastModifiedDate\u003E2018-01-09T02:58:05.298Z\u003C/LastModifiedDate\u003E\n   \u003CTelephoneNumbers\u003E\n      \u003CTelephoneNumber\u003E\u002B12106078250\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B12109678273\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B12109678331\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B12109678337\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B12266401468\u003C/TelephoneNumber\u003E\n   \u003C/TelephoneNumbers\u003E\n   \u003CProcessingStatus\u003EPARTIAL\u003C/ProcessingStatus\u003E\n   \u003CErrors\u003E\n      \u003CError\u003E\n         \u003CCode\u003E7518\u003C/Code\u003E\n         \u003CDescription\u003ETelephone Number Not Active.\u003C/Description\u003E\n         \u003CTelephoneNumbers\u003E\n            \u003CTelephoneNumber\u003E\u002B12262665583\u003C/TelephoneNumber\u003E\n         \u003C/TelephoneNumbers\u003E\n      \u003C/Error\u003E\n   \u003C/Errors\u003E\n\u003C/RemoveImportedTnOrder\u003E"}}}}},"getImportMessagingPhoneNumberOrders400ErrorResponse":{"description":"Bad Request","content":{"application/json":{"examples":{"example":{"value":{"errorCode":12512,"description":"Telephone number \u0027\u0022xxxx\u0022\u0027 is not valid"}}},"schema":{"$ref":"#/components/schemas/importPhoneNumberOrdersErrorResponse"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CImportTnOrdersReportResponse\u003E\n  \u003CResponseStatus\u003E\n    \u003CErrorCode\u003E12512\u003C/ErrorCode\u003E\n    \u003CDescription\u003ETelephone number \u0027\u0022xxxx\u0022\u0027 is not valid\u003C/Description\u003E\n    \u003C/ResponseStatus\u003E\n  \u003C/ImportTnOrdersReportResponse\u003E"}},"schema":{"$ref":"#/components/schemas/importPhoneNumberOrdersErrorResponseXml"}}}},"getRemoveImportedMessagingPhoneNumberOrder400ErrorResponse":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/removeImportedPhoneNumberOrdersErrorResponse"},"examples":{"example":{"value":{"errorCode":1005,"description":"The resource does not exist"}}}},"application/xml":{"schema":{"$ref":"#/components/schemas/removeImportedTnOrderErrorResponse"},"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n\u003CRemoveImportedTnOrdersReportResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CErrorCode\u003E1005\u003C/ErrorCode\u003E\n      \u003CDescription\u003EThe resource does not exist\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/RemoveImportedTnOrdersReportResponse\u003E"}}}}},"getImportMessagingPhoneNumberOrderResponse":{"description":"OK","content":{"application/json":{"examples":{"example":{"value":{"orderCreateDate":"2018-01-09T02:58:04.615Z","accountId":9900012,"createdByUser":"sjm","orderId":"bf1305b8-8998-1111-2222-51ba3ce52d4e","lastModifiedDate":"2018-01-09T02:58:05.298Z","subAccountId":65487,"locationId":885544,"subscriber":{"name":"First","serviceAddress":{"houseNumber":11235,"streetName":"Back","city":"Denver","stateCode":"CO","zip":27541,"county":"Canyon"}},"loaAuthorizingPerson":"The Authguy","loaType":"CARRIER","phoneNumbers":[12106078250,12109678273,12109678331,12109678337,12266401468,12266401469],"processingStatus":"PROCESSING","warnings":[{"code":19101,"description":"An error has occurred while updating the Messaging Network routing for this TN","phoneNumber":12109678337}],"errors":[{"code":7518,"description":"Telephone Number Not Active","phoneNumbers":[12266401469]}],"pendingPhoneNumbers":[12109678331],"failedPhoneNumbers":[12109678337],"successPhoneNumbers":[12106078250,12109678273,12266401468]}}},"schema":{"$ref":"#/components/schemas/importPhoneNumberOrdersResponse"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CImportTnOrder\u003E\n    \u003COrderCreateDate\u003E2018-01-09T02:58:04.615Z\u003C/OrderCreateDate\u003E\n    \u003CAccountId\u003E9900012\u003C/AccountId\u003E\n    \u003CCreatedByUser\u003Esjm\u003C/CreatedByUser\u003E\n    \u003COrderId\u003Ebf1305b8-8998-1111-2222-51ba3ce52d4e\u003C/OrderId\u003E\n    \u003CLastModifiedDate\u003E2018-01-09T02:58:05.298Z\u003C/LastModifiedDate\u003E\n    \u003CSiteId\u003E65487\u003C/SiteId\u003E\n    \u003CSipPeerId\u003E885544\u003C/SipPeerId\u003E\n    \u003CSubscriber\u003E\n        \u003CName\u003EFirst\u003C/Name\u003E\n        \u003CServiceAddress\u003E\n            \u003CHouseNumber\u003E11235\u003C/HouseNumber\u003E\n            \u003CStreetName\u003EBack\u003C/StreetName\u003E\n            \u003CCity\u003EDenver\u003C/City\u003E\n            \u003CStateCode\u003ECO\u003C/StateCode\u003E\n            \u003CZip\u003E27541\u003C/Zip\u003E\n            \u003CCounty\u003ECanyon\u003C/County\u003E\n        \u003C/ServiceAddress\u003E\n    \u003C/Subscriber\u003E\n    \u003CLoaAuthorizingPerson\u003EThe Authguy\u003C/LoaAuthorizingPerson\u003E\n    \u003CLoaType\u003ECARRIER\u003C/LoaType\u003E\n    \u003CTelephoneNumbers\u003E\n        \u003CTelephoneNumber\u003E\u002B12106078250\u003C/TelephoneNumber\u003E\n        \u003CTelephoneNumber\u003E\u002B12109678273\u003C/TelephoneNumber\u003E\n        \u003CTelephoneNumber\u003E\u002B12109678331\u003C/TelephoneNumber\u003E\n        \u003CTelephoneNumber\u003E\u002B12109678337\u003C/TelephoneNumber\u003E\n        \u003CTelephoneNumber\u003E\u002B12266401468\u003C/TelephoneNumber\u003E\n        \u003CTelephoneNumber\u003E\u002B12266401469\u003C/TelephoneNumber\u003E\n    \u003C/TelephoneNumbers\u003E\n    \u003CProcessingStatus\u003EPROCESSING\u003C/ProcessingStatus\u003E\n    \u003CWarnings\u003E\n        \u003CWarning\u003E\n            \u003CCode\u003E19101\u003C/Code\u003E\n            \u003CDescription\u003EAn error has occurred while updating the Messaging Network routing for this TN\u003C/Description\u003E\n            \u003CTelephoneNumber\u003E\u002B12109678337\u003C/TelephoneNumber\u003E\n        \u003C/Warning\u003E\n    \u003C/Warnings\u003E\n    \u003CErrors\u003E\n        \u003CError\u003E\n            \u003CCode\u003E7518\u003C/Code\u003E\n            \u003CDescription\u003ETelephone Number Not Active\u003C/Description\u003E\n            \u003CTelephoneNumbers\u003E\n                \u003CTelephoneNumber\u003E\u002B12266401469\u003C/TelephoneNumber\u003E\n            \u003C/TelephoneNumbers\u003E\n        \u003C/Error\u003E\n    \u003CErrors\u003E\n    \u003CPendingTelephoneNumbers\u003E\n        \u003CTelephoneNumber\u003E\u002B12109678331\u003C/TelephoneNumber\u003E\n    \u003C/PendingTelephoneNumbers\u003E\n    \u003CFailedTelephoneNumbers\u003E\n        \u003CTelephoneNumber\u003E\u002B12109678337\u003C/TelephoneNumber\u003E\n    \u003C/FailedTelephoneNumbers\u003E\n    \u003CSuccessTelephoneNumbers\u003E\n        \u003CTelephoneNumber\u003E\u002B12106078250\u003C/TelephoneNumber\u003E\n        \u003CTelephoneNumber\u003E\u002B12109678273\u003C/TelephoneNumber\u003E\n        \u003CTelephoneNumber\u003E\u002B12266401468\u003C/TelephoneNumber\u003E\n    \u003C/SuccessTelephoneNumbers\u003E\n\u003C/ImportTnOrder\u003E\n"}},"schema":{"$ref":"#/components/schemas/importTnOrdersResponse"}}}},"getImportMessagingPhoneNumber400ErrorOrderResponse":{"description":"Bad Request","content":{"application/json":{"examples":{"example":{"value":{"code":15523,"description":"Order \u00270a8d7f39-ca7b-41a5-b7f4-36c720e9dd05\u0027 does not correspond to a given account \u00271\u0027"}}},"schema":{"$ref":"#/components/schemas/importPhoneNumberOrdersErrorResponse"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CImportTnOrdersReportResponse\u003E\n    \u003CResponseStatus\u003E\n        \u003CErrorCode\u003E15523\u003C/ErrorCode\u003E\n        \u003CDescription\u003EOrder \u00270a8d7f39-ca7b-41a5-b7f4-36c720e9dd05\u0027 does not correspond to a given account \u00271\u0027\u003C/Description\u003E\n    \u003C/ResponseStatus\u003E\n\u003C/ImportTnOrdersReportResponse\u003E"}},"schema":{"$ref":"#/components/schemas/importPhoneNumberOrdersErrorResponseXml"}}}},"postImportMessagingPhoneNumberOrdersLoasResponse":{"description":"Created","content":{"application/json":{"examples":{"example":{"value":{"filename":"63097af1-37ae-432f-8a0d-9b0e6517a35b-1429550165581.pdf","resultCode":0,"resultMessage":"LOA file uploaded successfully for order 63097af1-37ae-432f-8a0d-9b0e6517a35b"}}},"schema":{"$ref":"#/components/schemas/fileUploadResponse"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CfileUploadResponse\u003E\n      \u003Cfilename\u003E63097af1-37ae-432f-8a0d-9b0e6517a35b-1429550165581.pdf\u003C/filename\u003E\n      \u003CresultCode\u003E0\u003C/resultCode\u003E\n      \u003CresultMessage\u003ELOA file uploaded successfully for order 63097af1-37ae-432f-8a0d-9b0e6517a35b\u003C/resultMessage\u003E\n\u003C/fileUploadResponse\u003E"}},"schema":{"$ref":"#/components/schemas/fileUploadResponseXml"}}}},"postImportMessagingPhoneNumberOrdersResponse":{"description":"Created","content":{"application/json":{"examples":{"example":{"value":{"customerOrderId":"SJM000001","orderCreateDate":"2018-01-20T02:59:54.000Z","accountId":9900012,"createdByUser":"smckinnon","orderId":"b05de7e6-0cab-4c83-81bb-9379cba8efd0","lastModifiedDate":"2018-01-20T02:59:54.000Z","subAccountId":202,"locationId":520565,"subscriber":{"name":"ABC Inc.","serviceAddress":{"houseNumber":11235,"streetName":"Back","city":"Denver","stateCode":"CO","zip":27541,"county":"Canyon"}},"loaAuthorizingPerson":"The Authguy","loaType":"CARRIER","phoneNumbers":[19199918388,14158714245,14352154439,14352154466],"pendingPhoneNumbers":[19199918388],"failedPhoneNumbers":[],"processingStatus":"RECEIVED","errors":[],"warnings":[]}}},"schema":{"$ref":"#/components/schemas/importPhoneNumberOrdersResponse"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CImportTnOrdersResponse\u003E\n   \u003CImportTnOrder\u003E\n     \u003CCustomerOrderId\u003ESJM000001\u003C/CustomerOrderId\u003E\n     \u003COrderCreateDate\u003E2018-01-20T02:59:54.000Z\u003C/OrderCreateDate\u003E\n     \u003CAccountId\u003E9900012\u003C/AccountId\u003E\n     \u003CCreatedByUser\u003Esmckinnon\u003C/CreatedByUser\u003E\n     \u003COrderId\u003Eb05de7e6-0cab-4c83-81bb-9379cba8efd0\u003C/OrderId\u003E\n     \u003CLastModifiedDate\u003E2018-01-20T02:59:54.000Z\u003C/LastModifiedDate\u003E\n     \u003CSiteId\u003E202\u003C/SiteId\u003E\n     \u003CSipPeerId\u003E520565\u003C/SipPeerId\u003E\n     \u003CSubscriber\u003E\n       \u003CName\u003EABC Inc.\u003C/Name\u003E\n       \u003CServiceAddress\u003E\n         \u003CHouseNumber\u003E11235\u003C/HouseNumber\u003E\n         \u003CStreetName\u003EBack\u003C/StreetName\u003E\n         \u003CCity\u003EDenver\u003C/City\u003E\n         \u003CStateCode\u003ECO\u003C/StateCode\u003E\n         \u003CZip\u003E27541\u003C/Zip\u003E\n         \u003CCounty\u003ECanyon\u003C/County\u003E\n         \u003C/ServiceAddress\u003E\n       \u003C/Subscriber\u003E\n     \u003CLoaAuthorizingPerson\u003EThe Authguy\u003C/LoaAuthorizingPerson\u003E\n     \u003CLoaType\u003ECARRIER\u003C/LoaType\u003E\n     \u003CTelephoneNumbers\u003E\n       \u003CTelephoneNumber\u003E\u002B19199918388\u003C/TelephoneNumber\u003E\n       \u003CTelephoneNumber\u003E\u002B14158714245\u003C/TelephoneNumber\u003E\n       \u003CTelephoneNumber\u003E\u002B14352154439\u003C/TelephoneNumber\u003E\n       \u003CTelephoneNumber\u003E\u002B14352154466\u003C/TelephoneNumber\u003E\n     \u003C/TelephoneNumbers\u003E\n     \u003CPendingTelephoneNumbers\u003E\n       \u003CTelephoneNumber\u003E\u002B19199918388\u003C/TelephoneNumber\u003E\n       \u003CTelephoneNumber\u003E\u002B14158714245\u003C/TelephoneNumber\u003E\n       \u003CTelephoneNumber\u003E\u002B14352154439\u003C/TelephoneNumber\u003E\n       \u003CTelephoneNumber\u003E\u002B14352154466\u003C/TelephoneNumber\u003E\n     \u003C/PendingTelephoneNumbers\u003E\n     \u003CFailedTelephoneNumbers/\u003E\n     \u003CProcessingStatus\u003ERECEIVED\u003C/ProcessingStatus\u003E\n     \u003CErrors/\u003E\n   \u003C/ImportTnOrder\u003E\n \u003C/ImportTnOrdersResponse\u003E\n"}},"schema":{"$ref":"#/components/schemas/importTnOrdersResponse"}}}},"postImportMessagingPhoneNumberOrders400ErrorResponse":{"description":"Bad Request","content":{"application/json":{"examples":{"example":{"value":{"errorCode":12512,"description":"Telephone number \u0027\u0022xxxx\u0022\u0027 is not valid"}}},"schema":{"$ref":"#/components/schemas/importPhoneNumberOrdersErrorResponse"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CImportTnOrdersResponse\u003E\n  \u003CResponseStatus\u003E\n    \u003CErrorCode\u003E1003\u003C/ErrorCode\u003E\n    \u003CDescription\u003ESiteId is required\u003C/Description\u003E\n  \u003C/ResponseStatus\u003E\n\u003C/ImportTnOrdersResponse\u003E\n"}},"schema":{"$ref":"#/components/schemas/importTnOrdersError"}}}},"postRemoveImportedMessagingTnOrdersResponse":{"description":"Created","content":{"application/json":{"examples":{"example":{"value":{"customerOrderId":"SJM000001","orderCreateDate":"2018-01-20T02:59:54.000Z","accountId":9900012,"createdByUser":"smckinnon","orderId":"b05de7e6-0cab-4c83-81bb-9379cba8efd0","lastModifiedDate":"2018-01-20T02:59:54.000Z","phoneNumbers":[19199918388,14158714245,14352154439,14352154466],"processingStatus":"RECEIVED","errors":[]}}},"schema":{"$ref":"#/components/schemas/removeImportedPhoneNumberOrdersResponse"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRemoveImportedTnOrdersResponse\u003E\n   \u003CRemoveImportedTnOrder\u003E\n      \u003CCustomerOrderId\u003ESJM000001\u003C/CustomerOrderId\u003E\n      \u003COrderCreateDate\u003E2018-01-20T02:59:54.000Z\u003C/OrderCreateDate\u003E\n      \u003CAccountId\u003E9900012\u003C/AccountId\u003E\n      \u003CCreatedByUser\u003Esmckinnon\u003C/CreatedByUser\u003E\n      \u003COrderId\u003Eb05de7e6-0cab-4c83-81bb-9379cba8efd0\u003C/OrderId\u003E\n      \u003CLastModifiedDate\u003E2018-01-20T02:59:54.000Z\u003C/LastModifiedDate\u003E\n      \u003CTelephoneNumbers\u003E\n         \u003CTelephoneNumber\u003E\u002B19199918388\u003C/TelephoneNumber\u003E\n         \u003CTelephoneNumber\u003E\u002B14158714245\u003C/TelephoneNumber\u003E\n         \u003CTelephoneNumber\u003E\u002B14352154439\u003C/TelephoneNumber\u003E\n         \u003CTelephoneNumber\u003E\u002B14352154466\u003C/TelephoneNumber\u003E\n      \u003C/TelephoneNumbers\u003E\n      \u003CProcessingStatus\u003ERECEIVED\u003C/ProcessingStatus\u003E\n      \u003CErrors/\u003E\n   \u003C/RemoveImportedTnOrder\u003E\n\u003C/RemoveImportedTnOrdersResponse\u003E"}},"schema":{"$ref":"#/components/schemas/removeImportedTnOrdersResponse"}}}},"postRemoveImportedMessagingTnOrders400ErrorResponse":{"description":"Bad Request","content":{"application/json":{"examples":{"example":{"value":{"processingStatus":"FAILED","errors":[{"code":1234,"description":"The customer order id is invalid."}]}}}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRemoveImportedTnOrdersResponse\u003E\n   \u003CProcessingStatus\u003EFAILED\u003C/ProcessingStatus\u003E\n   \u003CErrors\u003E\n      \u003CCode\u003E1234\u003C/Code\u003E\n      \u003CDescription\u003EThe customer order id is invalid.\u003C/Description\u003E\n   \u003C/Errors\u003E\n\u003C/RemoveImportedTnOrdersResponse\u003E"}},"schema":{"$ref":"#/components/schemas/removeImportedPhoneNumberOrdersErrorResponse"}}}}}}}