{"openapi":"3.0.1","info":{"title":"Insights","contact":{"name":"Bandwidth"},"version":"0.1.2","termsOfService":"https://www.bandwidth.com/legal/terms-of-use-bandwidthcom-web-sites/","description":"The API specification for Bandwidth\u0027s Insights platform.\n\n## Base URL\n\u0060https://insights.bandwidth.com/api\u0060"},"servers":[{"url":"https://insights.bandwidth.com/api"}],"tags":[{"name":"Voice","description":"Call Logs"},{"name":"Reporting v1","description":"Asynchronous report generation \u2014 create a report, poll its status, and download the file."},{"name":"Reporting v2","description":"Synchronous Reports API \u2014 discover report definitions and fetch results in a single call."}],"paths":{"/v1/voice/calls":{"get":{"tags":["Voice"],"summary":"List Calls","description":"Returns a list of call events.","operationId":"listCalls","parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/callId"},{"$ref":"#/components/parameters/startTime"},{"$ref":"#/components/parameters/endTime"},{"$ref":"#/components/parameters/callingNumber"},{"$ref":"#/components/parameters/calledNumber"},{"$ref":"#/components/parameters/callDirection"},{"$ref":"#/components/parameters/callType"},{"$ref":"#/components/parameters/callResult"},{"$ref":"#/components/parameters/hangUpSource"},{"$ref":"#/components/parameters/sipResponseCode"},{"$ref":"#/components/parameters/subAccount"},{"$ref":"#/components/parameters/locationId"},{"$ref":"#/components/parameters/sourceCountryCodeA3"},{"$ref":"#/components/parameters/destinationCountryCodeA3"},{"$ref":"#/components/parameters/sourceIp"},{"$ref":"#/components/parameters/destinationIp"},{"$ref":"#/components/parameters/qualityStatus"},{"$ref":"#/components/parameters/attestationIndicator"},{"$ref":"#/components/parameters/x5u"},{"$ref":"#/components/parameters/sort"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/region"}],"responses":{"200":{"$ref":"#/components/responses/listCallsResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotFoundError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/v1/voice/calls/{callId}":{"get":{"tags":["Voice"],"summary":"Get Call","description":"Returns a single call event.","operationId":"listCall","parameters":[{"$ref":"#/components/parameters/callIdPath"},{"$ref":"#/components/parameters/callIdEncoding"},{"$ref":"#/components/parameters/region"}],"responses":{"200":{"$ref":"#/components/responses/getCallResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotFoundError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/v1/monitors/voice/call-data":{"get":{"summary":"List Call Data","description":"Retrieves an aggregated summary of call data based on the provided filters. This api is only available for accounts with Monitoring API feature.\n\nThe summary returned is broken down into time \u0027slices\u0027 depending on the time range requested.\nThe granularity is calculated based on:\n * 0-24 hours: hour\n * 25 hours - 7 days: day\n * 8 days - 30 days: week\n * 31\u002B days: month\n\nThrough the use of various query parameters, users can filter the call data by direction, phone numbers, sub-account, call result, SIP response codes, call type, hang-up source, and country.\n\nOccasionally, underlying data may take longer than expected to load. To avoid connection timeouts, the API will return a \u0060503 Service Unavailable\u0060 response in these cases, with an error message indicating that the data is still loading. If you receive a \u0060503\u0060, retry your request immediately with the exact same parameters.","operationId":"getCallData","tags":["Voice"],"parameters":[{"$ref":"#/components/parameters/monitorAccountId"},{"$ref":"#/components/parameters/monitorDirection"},{"$ref":"#/components/parameters/monitorTimestamp"},{"$ref":"#/components/parameters/monitorFromPhoneNumber"},{"$ref":"#/components/parameters/monitorToPhoneNumber"},{"$ref":"#/components/parameters/monitorSubAccount"},{"$ref":"#/components/parameters/monitorCallResult"},{"$ref":"#/components/parameters/monitorResponseCode"},{"$ref":"#/components/parameters/monitorCallType"},{"$ref":"#/components/parameters/monitorHangUpSource"},{"$ref":"#/components/parameters/monitorSourceCountryCodeA3"},{"$ref":"#/components/parameters/monitorDestinationCountryCodeA3"}],"responses":{"200":{"$ref":"#/components/responses/getMonitorTotalCallsResponseOk"},"400":{"$ref":"#/components/responses/monitorBadRequestError"},"401":{"$ref":"#/components/responses/monitorUnauthorizedError"},"403":{"$ref":"#/components/responses/monitorForbiddenError"},"404":{"$ref":"#/components/responses/monitorNotFoundError"},"405":{"$ref":"#/components/responses/monitorMethodNotFoundError"},"429":{"$ref":"#/components/responses/monitorTooManyRequestsError"},"500":{"$ref":"#/components/responses/monitorInternalServerError"},"503":{"$ref":"#/components/responses/monitorServiceUnavailableError"}}}},"/v1/monitors/voice/minutes-of-use":{"get":{"summary":"List Minutes Of Use","description":"Retrieves an aggregated summary of minutes of use based on the provided filters. This api is only available for accounts with Monitoring API feature.\n\nThe summary returned is broken down into time \u0027slices\u0027 depending on the time range requested.\nThe granularity is calculated based on:\n * 0-24 hours: hour\n * 25 hours - 7 days: day\n * 8 days - 30 days: week\n * 31\u002B days: month\n\nThrough the use of various query parameters, users can filter the data by direction, phone numbers, sub-account, call result, SIP response codes, call type, hang-up source, and country.\n\nOccasionally, underlying data may take longer than expected to load. To avoid connection timeouts, the API will return a \u0060503 Service Unavailable\u0060 response in these cases, with an error message indicating that the data is still loading. If you receive a \u0060503\u0060, retry your request immediately with the exact same parameters.","operationId":"getMinutesOfUseData","tags":["Voice"],"parameters":[{"$ref":"#/components/parameters/monitorAccountId"},{"$ref":"#/components/parameters/monitorDirection"},{"$ref":"#/components/parameters/monitorTimestamp"},{"$ref":"#/components/parameters/monitorFromPhoneNumber"},{"$ref":"#/components/parameters/monitorToPhoneNumber"},{"$ref":"#/components/parameters/monitorSubAccount"},{"$ref":"#/components/parameters/monitorCallResult"},{"$ref":"#/components/parameters/monitorResponseCode"},{"$ref":"#/components/parameters/monitorCallType"},{"$ref":"#/components/parameters/monitorHangUpSource"},{"$ref":"#/components/parameters/monitorSourceCountryCodeA3"},{"$ref":"#/components/parameters/monitorDestinationCountryCodeA3"}],"responses":{"200":{"$ref":"#/components/responses/getMonitorMinutesOfUseResponseOk"},"400":{"$ref":"#/components/responses/monitorBadRequestError"},"401":{"$ref":"#/components/responses/monitorUnauthorizedError"},"403":{"$ref":"#/components/responses/monitorForbiddenError"},"404":{"$ref":"#/components/responses/monitorNotFoundError"},"405":{"$ref":"#/components/responses/monitorMethodNotFoundError"},"429":{"$ref":"#/components/responses/monitorTooManyRequestsError"},"500":{"$ref":"#/components/responses/monitorInternalServerError"},"503":{"$ref":"#/components/responses/monitorServiceUnavailableError"}}}},"/v1/monitors/voice/connection-rates":{"get":{"summary":"List Connection Rates","description":"Retrieves an aggregated summary of connection rate based on the provided filters. This api is only available for accounts with Monitoring API feature.\n\nThe summary returned is broken down into time \u0027slices\u0027 depending on the time range requested.\nThe granularity is calculated based on:\n * 0-24 hours: hour\n * 25 hours - 7 days: day\n * 8 days - 30 days: week\n * 31\u002B days: month\n\nThrough the use of various query parameters, users can filter the data by direction, phone numbers, sub-account, call result, SIP response codes, call type, hang-up source, and country.\n\nOccasionally, underlying data may take longer than expected to load. To avoid connection timeouts, the API will return a \u0060503 Service Unavailable\u0060 response in these cases, with an error message indicating that the data is still loading. If you receive a \u0060503\u0060, retry your request immediately with the exact same parameters.","operationId":"getConnectionRateData","tags":["Voice"],"parameters":[{"$ref":"#/components/parameters/monitorAccountId"},{"$ref":"#/components/parameters/monitorDirection"},{"$ref":"#/components/parameters/monitorTimestamp"},{"$ref":"#/components/parameters/monitorFromPhoneNumber"},{"$ref":"#/components/parameters/monitorToPhoneNumber"},{"$ref":"#/components/parameters/monitorSubAccount"},{"$ref":"#/components/parameters/monitorCallResult"},{"$ref":"#/components/parameters/monitorResponseCode"},{"$ref":"#/components/parameters/monitorCallType"},{"$ref":"#/components/parameters/monitorHangUpSource"},{"$ref":"#/components/parameters/monitorSourceCountryCodeA3"},{"$ref":"#/components/parameters/monitorDestinationCountryCodeA3"}],"responses":{"200":{"$ref":"#/components/responses/getMonitorConnectionRateResponseOk"},"400":{"$ref":"#/components/responses/monitorBadRequestError"},"401":{"$ref":"#/components/responses/monitorUnauthorizedError"},"403":{"$ref":"#/components/responses/monitorForbiddenError"},"404":{"$ref":"#/components/responses/monitorNotFoundError"},"405":{"$ref":"#/components/responses/monitorMethodNotFoundError"},"429":{"$ref":"#/components/responses/monitorTooManyRequestsError"},"500":{"$ref":"#/components/responses/monitorInternalServerError"},"503":{"$ref":"#/components/responses/monitorServiceUnavailableError"}}}},"/v1/monitors/voice/completed-calls":{"get":{"summary":"List Completed Calls","description":"Retrieves an aggregated summary of completed calls based on the provided filters. The call count is grouped by hangup source. This api is only available for accounts with Monitoring API feature.\n\nThe summary returned is broken down into time \u0027slices\u0027 depending on the time range requested.\nThe granularity is calculated based on:\n * 0-24 hours: hour\n * 25 hours - 7 days: day\n * 8 days - 30 days: week\n * 31\u002B days: month\n\nThrough the use of various query parameters, users can filter the data by direction, phone numbers, sub-account, call result, SIP response codes, call type, hang-up source, and country.\n\nOccasionally, underlying data may take longer than expected to load. To avoid connection timeouts, the API will return a \u0060503 Service Unavailable\u0060 response in these cases, with an error message indicating that the data is still loading. If you receive a \u0060503\u0060, retry your request immediately with the exact same parameters.","operationId":"getCompletedCallsData","tags":["Voice"],"parameters":[{"$ref":"#/components/parameters/monitorAccountId"},{"$ref":"#/components/parameters/monitorDirection"},{"$ref":"#/components/parameters/monitorTimestamp"},{"$ref":"#/components/parameters/monitorFromPhoneNumber"},{"$ref":"#/components/parameters/monitorToPhoneNumber"},{"$ref":"#/components/parameters/monitorSubAccount"},{"$ref":"#/components/parameters/monitorCallResult"},{"$ref":"#/components/parameters/monitorResponseCode"},{"$ref":"#/components/parameters/monitorCallType"},{"$ref":"#/components/parameters/monitorHangUpSource"},{"$ref":"#/components/parameters/monitorSourceCountryCodeA3"},{"$ref":"#/components/parameters/monitorDestinationCountryCodeA3"}],"responses":{"200":{"$ref":"#/components/responses/getMonitorCompletedCallsResponseOk"},"400":{"$ref":"#/components/responses/monitorBadRequestError"},"401":{"$ref":"#/components/responses/monitorUnauthorizedError"},"403":{"$ref":"#/components/responses/monitorForbiddenError"},"404":{"$ref":"#/components/responses/monitorNotFoundError"},"405":{"$ref":"#/components/responses/monitorMethodNotFoundError"},"429":{"$ref":"#/components/responses/monitorTooManyRequestsError"},"500":{"$ref":"#/components/responses/monitorInternalServerError"},"503":{"$ref":"#/components/responses/monitorServiceUnavailableError"}}}},"/v1/monitors/voice/failed-calls":{"get":{"summary":"List Failed Calls","description":"Retrieves an aggregated summary of failed calls based on the provided filters. This api is only available for accounts with Monitoring API feature.\n\nThe summary returned is broken down into time \u0027slices\u0027 depending on the time range requested.\nThe granularity is calculated based on:\n * 0-24 hours: hour\n * 25 hours - 7 days: day\n * 8 days - 30 days: week\n * 31\u002B days: month\n\nThrough the use of various query parameters, users can filter the data by direction, phone numbers, sub-account, SIP response codes, call type, hang-up source, and country.\n\nOccasionally, underlying data may take longer than expected to load. To avoid connection timeouts, the API will return a \u0060503 Service Unavailable\u0060 response in these cases, with an error message indicating that the data is still loading. If you receive a \u0060503\u0060, retry your request immediately with the exact same parameters.","operationId":"getFailedCallsData","tags":["Voice"],"parameters":[{"$ref":"#/components/parameters/monitorAccountId"},{"$ref":"#/components/parameters/monitorDirection"},{"$ref":"#/components/parameters/monitorTimestamp"},{"$ref":"#/components/parameters/monitorFromPhoneNumber"},{"$ref":"#/components/parameters/monitorToPhoneNumber"},{"$ref":"#/components/parameters/monitorSubAccount"},{"$ref":"#/components/parameters/monitorResponseCode"},{"$ref":"#/components/parameters/monitorCallType"},{"$ref":"#/components/parameters/monitorHangUpSource"},{"$ref":"#/components/parameters/monitorSourceCountryCodeA3"},{"$ref":"#/components/parameters/monitorDestinationCountryCodeA3"}],"responses":{"200":{"$ref":"#/components/responses/getMonitorFailedCallsResponseOk"},"400":{"$ref":"#/components/responses/monitorBadRequestError"},"401":{"$ref":"#/components/responses/monitorUnauthorizedError"},"403":{"$ref":"#/components/responses/monitorForbiddenError"},"404":{"$ref":"#/components/responses/monitorNotFoundError"},"405":{"$ref":"#/components/responses/monitorMethodNotFoundError"},"429":{"$ref":"#/components/responses/monitorTooManyRequestsError"},"500":{"$ref":"#/components/responses/monitorInternalServerError"},"503":{"$ref":"#/components/responses/monitorServiceUnavailableError"}}}},"/v1/monitors/voice/error-percentages":{"get":{"summary":"List Error Percentages","description":"Retrieves an aggregated summary of error percentage based on the provided filters. This api is only available for accounts with Monitoring API feature.\n\nThe summary returned is broken down into time \u0027slices\u0027 depending on the time range requested.\nThe granularity is calculated based on:\n * 0-24 hours: hour\n * 25 hours - 7 days: day\n * 8 days - 30 days: week\n * 31\u002B days: month\n\nThrough the use of various query parameters, users can filter the data by direction, phone numbers, sub-account, SIP response codes, call type, hang-up source, and country.\n\nOccasionally, underlying data may take longer than expected to load. To avoid connection timeouts, the API will return a \u0060503 Service Unavailable\u0060 response in these cases, with an error message indicating that the data is still loading. If you receive a \u0060503\u0060, retry your request immediately with the exact same parameters.","operationId":"getErrorPercentageData","tags":["Voice"],"parameters":[{"$ref":"#/components/parameters/monitorAccountId"},{"$ref":"#/components/parameters/monitorDirection"},{"$ref":"#/components/parameters/monitorTimestamp"},{"$ref":"#/components/parameters/monitorFromPhoneNumber"},{"$ref":"#/components/parameters/monitorToPhoneNumber"},{"$ref":"#/components/parameters/monitorSubAccount"},{"$ref":"#/components/parameters/monitorResponseCode"},{"$ref":"#/components/parameters/monitorCallType"},{"$ref":"#/components/parameters/monitorHangUpSource"},{"$ref":"#/components/parameters/monitorSourceCountryCodeA3"},{"$ref":"#/components/parameters/monitorDestinationCountryCodeA3"}],"responses":{"200":{"$ref":"#/components/responses/getMonitorErrorPercentageResponseOk"},"400":{"$ref":"#/components/responses/monitorBadRequestError"},"401":{"$ref":"#/components/responses/monitorUnauthorizedError"},"403":{"$ref":"#/components/responses/monitorForbiddenError"},"404":{"$ref":"#/components/responses/monitorNotFoundError"},"405":{"$ref":"#/components/responses/monitorMethodNotFoundError"},"429":{"$ref":"#/components/responses/monitorTooManyRequestsError"},"500":{"$ref":"#/components/responses/monitorInternalServerError"},"503":{"$ref":"#/components/responses/monitorServiceUnavailableError"}}}},"/v1/monitors/voice/average-durations":{"get":{"summary":"List Average Call Durations","description":"Retrieves an aggregated summary of average call duration in seconds based on the provided filters. This api is only available for accounts with Monitoring API feature.\n\nThe summary returned is broken down into time \u0027slices\u0027 depending on the time range requested.\nThe granularity is calculated based on:\n * 0-24 hours: hour\n * 25 hours - 7 days: day\n * 8 days - 30 days: week\n * 31\u002B days: month\n\nThrough the use of various query parameters, users can filter the data by direction, phone numbers, sub-account, call type, hang-up source, and country.\n\nOccasionally, underlying data may take longer than expected to load. To avoid connection timeouts, the API will return a \u0060503 Service Unavailable\u0060 response in these cases, with an error message indicating that the data is still loading. If you receive a \u0060503\u0060, retry your request immediately with the exact same parameters.","operationId":"getAverageDurationData","tags":["Voice"],"parameters":[{"$ref":"#/components/parameters/monitorAccountId"},{"$ref":"#/components/parameters/monitorDirection"},{"$ref":"#/components/parameters/monitorTimestamp"},{"$ref":"#/components/parameters/monitorFromPhoneNumber"},{"$ref":"#/components/parameters/monitorToPhoneNumber"},{"$ref":"#/components/parameters/monitorSubAccount"},{"$ref":"#/components/parameters/monitorCallType"},{"$ref":"#/components/parameters/monitorHangUpSource"},{"$ref":"#/components/parameters/monitorSourceCountryCodeA3"},{"$ref":"#/components/parameters/monitorDestinationCountryCodeA3"}],"responses":{"200":{"$ref":"#/components/responses/getMonitorAverageDurationResponseOk"},"400":{"$ref":"#/components/responses/monitorBadRequestError"},"401":{"$ref":"#/components/responses/monitorUnauthorizedError"},"403":{"$ref":"#/components/responses/monitorForbiddenError"},"404":{"$ref":"#/components/responses/monitorNotFoundError"},"405":{"$ref":"#/components/responses/monitorMethodNotFoundError"},"429":{"$ref":"#/components/responses/monitorTooManyRequestsError"},"500":{"$ref":"#/components/responses/monitorInternalServerError"},"503":{"$ref":"#/components/responses/monitorServiceUnavailableError"}}}},"/v1/monitors/voice/short-calls":{"get":{"summary":"List Short Calls","description":"Retrieves an aggregated summary of short calls, including both call counts and percentages, based on the provided filters. This api is only available for accounts with Monitoring API feature.\n\nThe summary returned is broken down into time \u0027slices\u0027 depending on the time range requested.\nThe granularity is calculated based on:\n * 0-24 hours: hour\n * 25 hours - 7 days: day\n * 8 days - 30 days: week\n * 31\u002B days: month\n\nThrough the use of various query parameters, users can filter the data by direction, phone numbers, sub-account, call type, hang-up source, and country.\n\nOccasionally, underlying data may take longer than expected to load. To avoid connection timeouts, the API will return a \u0060503 Service Unavailable\u0060 response in these cases, with an error message indicating that the data is still loading. If you receive a \u0060503\u0060, retry your request immediately with the exact same parameters.","operationId":"getShortCallsData","tags":["Voice"],"parameters":[{"$ref":"#/components/parameters/monitorAccountId"},{"$ref":"#/components/parameters/monitorDirection"},{"$ref":"#/components/parameters/monitorTimestamp"},{"$ref":"#/components/parameters/monitorFromPhoneNumber"},{"$ref":"#/components/parameters/monitorToPhoneNumber"},{"$ref":"#/components/parameters/monitorSubAccount"},{"$ref":"#/components/parameters/monitorCallType"},{"$ref":"#/components/parameters/monitorHangUpSource"},{"$ref":"#/components/parameters/monitorSourceCountryCodeA3"},{"$ref":"#/components/parameters/monitorDestinationCountryCodeA3"}],"responses":{"200":{"$ref":"#/components/responses/getMonitorTotalShortCallsResponseOk"},"400":{"$ref":"#/components/responses/monitorBadRequestError"},"401":{"$ref":"#/components/responses/monitorUnauthorizedError"},"403":{"$ref":"#/components/responses/monitorForbiddenError"},"404":{"$ref":"#/components/responses/monitorNotFoundError"},"405":{"$ref":"#/components/responses/monitorMethodNotFoundError"},"429":{"$ref":"#/components/responses/monitorTooManyRequestsError"},"500":{"$ref":"#/components/responses/monitorInternalServerError"},"503":{"$ref":"#/components/responses/monitorServiceUnavailableError"}}}},"/v1/monitors/voice/network-efficiency-ratios":{"get":{"summary":"List Network Efficiency Ratios","description":"Retrieves an aggregated summary of Network Efficiency Ratio (NER) based on the provided filters. This api is only available for accounts with Monitoring API feature.\n\nThe summary returned is broken down into time \u0027slices\u0027 depending on the time range requested.\nThe granularity is calculated based on:\n * 0-24 hours: hour\n * 25 hours - 7 days: day\n * 8 days - 30 days: week\n * 31\u002B days: month\n\nThrough the use of various query parameters, users can filter the data by direction, phone numbers, sub-account, call result, SIP response codes, call type, hang-up source, and country.\n\nOccasionally, underlying data may take longer than expected to load. To avoid connection timeouts, the API will return a \u0060503 Service Unavailable\u0060 response in these cases, with an error message indicating that the data is still loading. If you receive a \u0060503\u0060, retry your request immediately with the exact same parameters.","operationId":"getNerData","tags":["Voice"],"parameters":[{"$ref":"#/components/parameters/monitorAccountId"},{"$ref":"#/components/parameters/monitorDirection"},{"$ref":"#/components/parameters/monitorTimestamp"},{"$ref":"#/components/parameters/monitorFromPhoneNumber"},{"$ref":"#/components/parameters/monitorToPhoneNumber"},{"$ref":"#/components/parameters/monitorSubAccount"},{"$ref":"#/components/parameters/monitorCallResult"},{"$ref":"#/components/parameters/monitorResponseCode"},{"$ref":"#/components/parameters/monitorCallType"},{"$ref":"#/components/parameters/monitorHangUpSource"},{"$ref":"#/components/parameters/monitorSourceCountryCodeA3"},{"$ref":"#/components/parameters/monitorDestinationCountryCodeA3"}],"responses":{"200":{"$ref":"#/components/responses/getMonitorNetworkEfficiencyRatioResponseOk"},"400":{"$ref":"#/components/responses/monitorBadRequestError"},"401":{"$ref":"#/components/responses/monitorUnauthorizedError"},"403":{"$ref":"#/components/responses/monitorForbiddenError"},"404":{"$ref":"#/components/responses/monitorNotFoundError"},"405":{"$ref":"#/components/responses/monitorMethodNotFoundError"},"429":{"$ref":"#/components/responses/monitorTooManyRequestsError"},"500":{"$ref":"#/components/responses/monitorInternalServerError"},"503":{"$ref":"#/components/responses/monitorServiceUnavailableError"}}}},"/v1/monitors/voice/calls-per-second":{"get":{"summary":"List Calls Per Second","description":"Retrieves an aggregated summary of calls per second based on the provided filters. This api is only available for accounts with Monitoring API feature.\n\nThe summary returned is broken down into time \u0027slices\u0027 depending on the time range requested.\nThe granularity is calculated based on:\n * 0-24 hours: hour\n * 25 hours - 7 days: day\n * 8 days - 30 days: week\n * 31\u002B days: month\n\nThrough the use of various query parameters, users can filter the data by phone numbers, sub-account, call type, hang-up source, and country.\n\nOccasionally, underlying data may take longer than expected to load. To avoid connection timeouts, the API will return a \u0060503 Service Unavailable\u0060 response in these cases, with an error message indicating that the data is still loading. If you receive a \u0060503\u0060, retry your request immediately with the exact same parameters.","operationId":"getCallsPerSecondData","tags":["Voice"],"parameters":[{"$ref":"#/components/parameters/monitorAccountId"},{"$ref":"#/components/parameters/monitorTimestamp"},{"$ref":"#/components/parameters/monitorFromPhoneNumber"},{"$ref":"#/components/parameters/monitorToPhoneNumber"},{"$ref":"#/components/parameters/monitorSubAccount"},{"$ref":"#/components/parameters/monitorCallType"},{"$ref":"#/components/parameters/monitorHangUpSource"},{"$ref":"#/components/parameters/monitorSourceCountryCodeA3"},{"$ref":"#/components/parameters/monitorDestinationCountryCodeA3"}],"responses":{"200":{"$ref":"#/components/responses/getMonitorCallsPerSecondResponseOk"},"400":{"$ref":"#/components/responses/monitorBadRequestError"},"401":{"$ref":"#/components/responses/monitorUnauthorizedError"},"403":{"$ref":"#/components/responses/monitorForbiddenError"},"404":{"$ref":"#/components/responses/monitorNotFoundError"},"405":{"$ref":"#/components/responses/monitorMethodNotFoundError"},"429":{"$ref":"#/components/responses/monitorTooManyRequestsError"},"500":{"$ref":"#/components/responses/monitorInternalServerError"},"503":{"$ref":"#/components/responses/monitorServiceUnavailableError"}}}},"/v1/monitors/voice/concurrent-calls":{"get":{"summary":"List Concurrent Calls","description":"Retrieves an aggregated summary of concurrent calls based on the provided filters. This api is only available for accounts with Monitoring API feature.\n\nThe summary returned is broken down into time \u0027slices\u0027 depending on the time range requested.\nThe granularity is calculated based on:\n * 0-24 hours: hour\n * 25 hours - 7 days: day\n * 8 days - 30 days: week\n * 31\u002B days: month\n\nThrough the use of various query parameters, users can filter the data by phone numbers, sub-account, call type, hang-up source, and country.\n\nOccasionally, underlying data may take longer than expected to load. To avoid connection timeouts, the API will return a \u0060503 Service Unavailable\u0060 response in these cases, with an error message indicating that the data is still loading. If you receive a \u0060503\u0060, retry your request immediately with the exact same parameters.","operationId":"getConcurrentCallsData","tags":["Voice"],"parameters":[{"$ref":"#/components/parameters/monitorAccountId"},{"$ref":"#/components/parameters/monitorTimestamp"},{"$ref":"#/components/parameters/monitorFromPhoneNumber"},{"$ref":"#/components/parameters/monitorToPhoneNumber"},{"$ref":"#/components/parameters/monitorSubAccount"},{"$ref":"#/components/parameters/monitorCallType"},{"$ref":"#/components/parameters/monitorHangUpSource"},{"$ref":"#/components/parameters/monitorSourceCountryCodeA3"},{"$ref":"#/components/parameters/monitorDestinationCountryCodeA3"}],"responses":{"200":{"$ref":"#/components/responses/getMonitorConcurrentCallsResponseOk"},"400":{"$ref":"#/components/responses/monitorBadRequestError"},"401":{"$ref":"#/components/responses/monitorUnauthorizedError"},"403":{"$ref":"#/components/responses/monitorForbiddenError"},"404":{"$ref":"#/components/responses/monitorNotFoundError"},"405":{"$ref":"#/components/responses/monitorMethodNotFoundError"},"429":{"$ref":"#/components/responses/monitorTooManyRequestsError"},"500":{"$ref":"#/components/responses/monitorInternalServerError"},"503":{"$ref":"#/components/responses/monitorServiceUnavailableError"}}}},"/v1/reports":{"post":{"tags":["Reporting v1"],"description":"Create a new report instance.","operationId":"createReport","summary":"Create Report","requestBody":{"$ref":"#/components/requestBodies/createReportBody"},"responses":{"200":{"$ref":"#/components/responses/reportStatusResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotFoundError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}},"get":{"tags":["Reporting v1"],"description":"Get a history of created reports.","operationId":"getReports","summary":"Get Reports","parameters":[{"$ref":"#/components/parameters/accountIds"},{"$ref":"#/components/parameters/categoryRequired"}],"responses":{"200":{"$ref":"#/components/responses/reportHistoryResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotFoundError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/v1/reports/{reportId}":{"get":{"tags":["Reporting v1"],"description":"Get the status of a report.","operationId":"getReportStatus","summary":"Get Report Status","parameters":[{"$ref":"#/components/parameters/reportIdPath"}],"responses":{"200":{"$ref":"#/components/responses/reportStatusResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotFoundError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/v1/reports/{reportId}/file":{"get":{"tags":["Reporting v1"],"description":"Get the file associated with a report.","operationId":"getReportFile","summary":"Get Report File","parameters":[{"$ref":"#/components/parameters/reportIdPath"}],"responses":{"200":{"$ref":"#/components/responses/reportFileResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotFoundError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/v1/reportDefinitions":{"get":{"tags":["Reporting v1"],"description":"Get a list of report definitions.","operationId":"getReportDefinitions","summary":"Get Report Definitions","parameters":[{"$ref":"#/components/parameters/category"},{"$ref":"#/components/parameters/domain"},{"$ref":"#/components/parameters/reportName"}],"responses":{"200":{"$ref":"#/components/responses/reportDefinitionsResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotFoundError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/v2/report-definitions":{"get":{"tags":["Reporting v2"],"summary":"Get Report Definitions","description":"Lists the report definitions available to your account. A report definition is a template for a report you can run \u2014 it describes the report\u0027s category and domain, the filter parameters it accepts (with the operators and value types valid for each), the fields returned in each result row, and the execution flows it supports (\u0060supportedModes\u0060).\n\nUse this endpoint to discover which reports you can run and to obtain each report\u0027s \u0060reportDefinitionId\u0060. Narrow the list with the \u0060category\u0060, \u0060domain\u0060, and \u0060reportName\u0060 query parameters; results are paginated via \u0060offset\u0060 and \u0060limit\u0060.\n\nThis is the starting point of the synchronous reporting workflow: list definitions here, fetch a single definition to inspect its filters in detail, then request its results.\n\nThis API currently supports the synchronous (\u0060SYNC\u0060) flow, so only report definitions that can be run synchronously are returned; definitions that use the asynchronous (\u0060ASYNC\u0060) flow are not available through this API.\n\nThis API is only available to accounts with access to the synchronous reports functionality.","operationId":"listReportDefinitions","x-rate-limit":{"maxRequestsPerDay":100},"parameters":[{"$ref":"#/components/parameters/category"},{"$ref":"#/components/parameters/domain"},{"$ref":"#/components/parameters/reportName"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/limit"}],"responses":{"200":{"$ref":"#/components/responses/paginatedReportDefinitionsResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotFoundError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/v2/report-definitions/{reportDefinitionId}":{"get":{"tags":["Reporting v2"],"summary":"Get Report Definition","description":"Returns the full definition of a single report, identified by its \u0060reportDefinitionId\u0060. The response contains everything needed to run the report: its category and domain, the regions it covers, the maximum historical range available (\u0060maxMonthsBack\u0060), the complete list of filter parameters \u2014 with their supported operators, value types, and whether each is required \u2014 the output fields returned in each result row, and the execution flows it supports (\u0060supportedModes\u0060).\n\nCall this after discovering a report via \u0060GET /v2/report-definitions\u0060 to learn exactly how to construct a results request for it.\n\nThis API currently supports the synchronous (\u0060SYNC\u0060) flow, so a report definition that cannot be run synchronously is not retrievable through this endpoint.\n\nThis API is only available to accounts with access to the synchronous reports functionality.","operationId":"getReportDefinition","x-rate-limit":{"maxRequestsPerDay":100},"parameters":[{"$ref":"#/components/parameters/reportDefIdPath"}],"responses":{"200":{"$ref":"#/components/responses/paginatedReportDefinitionResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotFoundError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/v2/report-definitions/{reportDefinitionId}/results":{"post":{"tags":["Reporting v2"],"summary":"Generate Report Results","description":"Runs the report identified by \u0060reportDefinitionId\u0060 and returns its rows synchronously in the response \u2014 there is no job to poll and no file to download. The query criteria supplied in the request body are validated against the report\u0027s definition: at least one criterion is required, and some reports require specific parameters (for example a time range, or a \u0060region\u0060 when the report spans more than one region).\n\nResults are returned a page at a time \u2014 use \u0060pageSize\u0060 and \u0060pageNumber\u0060 to control paging, and follow the pagination links in the response to fetch subsequent pages.\n\nBefore calling this endpoint, use \u0060GET /v2/report-definitions/{reportDefinitionId}\u0060 to discover the available filter parameters, operators, value types, and required fields, then pass matching criteria here.\n\nOnly report definitions that support the synchronous (\u0060SYNC\u0060) flow can be run through this endpoint. This API is only available to accounts with access to the synchronous reports functionality.","operationId":"createReportResults","x-rate-limit":{"maxRequestsPerDay":100},"parameters":[{"$ref":"#/components/parameters/reportDefIdPath"}],"requestBody":{"$ref":"#/components/requestBodies/paginatedReportRequestBody"},"responses":{"200":{"$ref":"#/components/responses/paginatedResultResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotFoundError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}}},"components":{"schemas":{"callIdEncoding":{"type":"string","enum":["RAW","BASE64_URL"],"example":"BASE64_URL","default":"RAW"},"monitorDirection":{"type":"object","properties":{"eq":{"type":"string","enum":["INBOUND","OUTBOUND"],"description":"Filter call data to only inbound or outbound calls."}},"example":{"eq":"INBOUND"}},"monitorTimestampRange":{"type":"object","properties":{"gte":{"type":"string","format":"date-time","description":"Greater than or equal to the specified date and time (start of range)."},"lte":{"type":"string","format":"date-time","description":"Less than or equal to the specified date and time (end of range)."}},"example":{"gte":"2026-02-17T14:30:00\u002B02:00","lte":"2026-02-24T14:30:00\u002B02:00"}},"monitorPhoneNumberList":{"type":"object","properties":{"eq":{"type":"string","description":"Comma-separated list of phone numbers in E.164 format","example":"\u002B353123456,\u002B353987654"}}},"monitorSubAccount":{"type":"object","properties":{"eq":{"type":"string","description":"Sub-Account ID"}},"example":{"eq":1234}},"monitorCallResult":{"type":"object","properties":{"eq":{"type":"string","enum":["COMPLETED","INCOMPLETE"],"description":"Filter results by call completion status."}},"example":{"eq":"COMPLETED"}},"monitorResponseCode":{"type":"object","properties":{"eq":{"type":"string","description":"Comma-separated list of SIP response codes","example":"200,202"}}},"monitorCallType":{"type":"object","properties":{"eq":{"type":"string","enum":["EMERGENCY","INBOUND_TFOOS","INFORMATION","INTERNATIONAL","INTERNATIONAL_INTERNAL","INTERSTATE","INTRASTATE","INTL_BLOCK","LOCAL","OPERATOR","OTHER_N11","SIPURI_EXT","TOLLFREE_IN","TOLLFREE_OUT","UNDETERMINED"],"description":"Filter results by call type."}},"example":{"eq":"INTERNATIONAL"}},"monitorHangUpSourceResponse":{"type":"string","enum":["CALLED_PARTY","CALLING_PARTY","BANDWIDTH_INTERNAL"],"example":"CALLED_PARTY"},"monitorHangUpSource":{"type":"object","properties":{"eq":{"type":"string","enum":["CALLED_PARTY","CALLING_PARTY","BANDWIDTH_INTERNAL"],"description":"Filter results by hang up source."}},"example":{"eq":"CALLED_PARTY"}},"monitorCountry":{"type":"object","properties":{"eq":{"type":"string","description":"Comma-separated list of ISO A3 country codes","example":"USA,CAN"}}},"monitorAccountId":{"type":"object","properties":{"eq":{"type":"string","description":"CRM ID of the account to get calls data from."}},"example":{"eq":1234567}},"reportStatusObject":{"title":"Create Report Request","type":"object","properties":{"category":{"$ref":"#/components/schemas/category"},"domain":{"$ref":"#/components/schemas/domain"},"reportName":{"type":"string","example":"MDRs"},"accountIds":{"type":"array","items":{"type":"string","example":123456},"example":[123456,654321]},"filters":{"$ref":"#/components/schemas/filters"},"region":{"$ref":"#/components/schemas/reportRegion"},"breakdown":{"type":"string","example":"campaignId","description":"The filter name to breakdown the report by."}}},"reportStatus":{"type":"object","properties":{"reportId":{"type":"string","example":"67a95525-4618-418b-ad8b-4ddd8562ad37","format":"uuid"},"requestedAt":{"type":"string","format":"date-time","example":"2024-01-18T17:38:37.041Z"},"completedAt":{"type":"string","format":"date-time","example":"2024-01-18T17:38:37.041Z"},"user":{"type":"string","example":"Username"},"report":{"$ref":"#/components/schemas/reportStatusObject"},"status":{"$ref":"#/components/schemas/status"},"fileName":{"type":"string","example":"report123.zip"}}},"reportDefinitionObject":{"type":"object","properties":{"category":{"$ref":"#/components/schemas/category"},"domain":{"$ref":"#/components/schemas/domain"},"reportName":{"type":"string","example":"MDRs"},"description":{"type":"string","example":"Messaging details for particular snapshot date"},"regions":{"type":"array","items":{"$ref":"#/components/schemas/region"},"example":["US","EU"]},"maxMonthsBack":{"type":"integer","example":12,"minimum":1,"maximum":24},"filters":{"type":"array","items":{"$ref":"#/components/schemas/rdoFilter"}},"breakdowns":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string","example":"column_name"}}}}}},"paginatedReportDefinitionObject":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Unique identifier for the report definition. Use this ID to fetch the full definition via \u0060GET /v2/report-definitions/{reportDefinitionId}\u0060 or to retrieve results via \u0060POST /v2/report-definitions/{reportDefinitionId}/results\u0060.","example":"6d4f848a-9543-4e18-b580-2621c9525892"},"category":{"$ref":"#/components/schemas/category"},"domain":{"$ref":"#/components/schemas/domain"},"reportName":{"type":"string","description":"Human-readable name of the report.","example":"CDRs"},"description":{"type":"string","description":"Detailed description of the report and its data.","example":"Call Detail Records provides details for all the Voice calls associated with your account."},"regions":{"type":"array","description":"Regions where this report is available.","items":{"$ref":"#/components/schemas/region"},"example":["US","EU"]},"maxMonthsBack":{"type":"integer","description":"Maximum number of months of historical data available for this report.","example":12,"minimum":1,"maximum":24},"filters":{"type":"array","description":"List of filter definitions that can be applied when retrieving results for this report.","items":{"$ref":"#/components/schemas/paginatedRdoFilter"}},"outputFields":{"type":"array","description":"The fields returned in each result row from \u0060POST /v2/report-definitions/{reportDefinitionId}/results\u0060.","items":{"$ref":"#/components/schemas/paginatedOutputField"}},"supportedModes":{"type":"array","description":"The execution flows this report definition supports.\n\u0060SYNC\u0060 returns results inline from \u0060POST /v2/report-definitions/{reportDefinitionId}/results\u0060.\n\u0060ASYNC\u0060 is generated via the report instance flow and retrieved as a file.","items":{"$ref":"#/components/schemas/supportedMode"},"minItems":1,"example":["SYNC"]}},"required":["id","category","domain","reportName","description","regions","maxMonthsBack","filters","outputFields","supportedModes"]},"paginatedResultRow":{"type":"object","description":"A single row of report results. The field names and types are dynamic and depend on the report definition. Use GET /v2/report-definitions/{reportDefinitionId} to discover available fields for a given report.\n","additionalProperties":true},"paginatedOutputField":{"type":"object","description":"Describes a single output field returned in each result row.","properties":{"fieldName":{"type":"string","description":"The field name as it appears in the result row.","example":"customerId"},"fieldType":{"$ref":"#/components/schemas/paginatedFieldType"}},"required":["fieldName","fieldType"]},"paginatedPageMeta":{"type":"object","description":"Pagination metadata for the current response page.","properties":{"pageSize":{"type":"integer","description":"Number of results per page.","example":50},"totalElements":{"type":"integer","description":"Total number of items in the collection.","example":1},"totalPages":{"type":"integer","description":"Total number of pages.","example":1},"pageNumber":{"type":"integer","description":"Current page number (zero-indexed).","example":0}},"required":["pageSize","totalElements","totalPages","pageNumber"]},"category":{"type":"string","description":"The category classification of the report definition.","enum":["CHARGES","NUMBER_DETAILS","USAGE"],"example":"USAGE"},"dropdownValues":{"type":"object","properties":{"values":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","example":"column_name"}}}}}},"domain":{"type":"string","description":"The product domain the report definition belongs to.","enum":["EMERGENCY","MESSAGING","VOICE"],"example":"MESSAGING"},"operator":{"type":"string","enum":["EQUAL","GREATER","LESSER","LESSER_OR_EQUAL","GREATER_OR_EQUAL","LIKE","IN","STARTS_WITH","BETWEEN"],"example":"EQUAL"},"paginatedFieldType":{"type":"string","description":"The data type of a report output field.","enum":["STRING","INTEGER","NUMBER","BOOLEAN"],"example":"STRING"},"supportedMode":{"type":"string","description":"An execution flow that a report definition can be run in.","enum":["SYNC","ASYNC"],"example":"SYNC"},"paginatedOperator":{"type":"string","enum":["EQUAL","GREATER","LESSER","LESSER_OR_EQUAL","GREATER_OR_EQUAL","LIKE","IN","CONTAINS","STARTS_WITH","BETWEEN"],"description":"Comparison operator applied to \u0060values\u0060 against \u0060parameter\u0060.\n  - \u0060EQUAL\u0060 (\u0060=\u0060) \u2014 exact match; single value.\n  - \u0060GREATER\u0060 (\u0060\u003E\u0060) \u2014 strictly greater than; single value.\n  - \u0060LESSER\u0060 (\u0060\u003C\u0060) \u2014 strictly less than; single value.\n  - \u0060LESSER_OR_EQUAL\u0060 (\u0060\u003C=\u0060) \u2014 less than or equal to; single value.\n  - \u0060GREATER_OR_EQUAL\u0060 (\u0060\u003E=\u0060) \u2014 greater than or equal to; single value.\n  - \u0060LIKE\u0060 \u2014 SQL-style pattern match; single value.\n  - \u0060IN\u0060 \u2014 value matches any in the list; one or more values.\n  - \u0060CONTAINS\u0060 \u2014 substring match; single value.\n  - \u0060STARTS_WITH\u0060 \u2014 prefix match; single value.\n  - \u0060BETWEEN\u0060 \u2014 inclusive range; exactly two values \u0060[lower, upper]\u0060.","example":"STARTS_WITH"},"paginatedReportFilter":{"type":"object","required":["parameter","operator","values"],"properties":{"parameter":{"type":"string","description":"Name of the parameter to filter on. Must match a \u0060filterName\u0060 returned by\n\u0060GET /v2/report-definitions/{reportDefinitionId}\u0060.","example":"fromNumber"},"operator":{"$ref":"#/components/schemas/paginatedOperator"},"values":{"type":"array","minItems":1,"description":"Operand value(s) for the operator, always serialized as strings (the server\nparses each value according to the parameter\u0027s declared type from the report\ndefinition). Most operators take a single value; \u0060IN\u0060 accepts one or more;\n\u0060BETWEEN\u0060 expects exactly two values \u0060[lower, upper]\u0060.","items":{"type":"string"},"example":[1919]}}},"paginatedReportRequest":{"type":"object","required":["queryCriteria"],"description":"Request body for generating report results. Query criteria target\nparameters defined by the report definition; pagination is controlled via\n\u0060pageSize\u0060 and \u0060pageNumber\u0060.","properties":{"queryCriteria":{"type":"array","minItems":1,"description":"List of criteria to apply to the report. At least one criterion is required;\nindividual reports may require specific parameters \u2014 call\n\u0060GET /v2/report-definitions/{reportDefinitionId}\u0060 to see which\nparameters are marked \u0060required: true\u0060 for that report.\nWhen a report supports more than one region (see \u0060regions\u0060 on the report\ndefinition), a \u0060region\u0060 criterion must also be supplied.","items":{"$ref":"#/components/schemas/paginatedReportFilter"}},"pageSize":{"type":"integer","nullable":true,"minimum":1,"maximum":1000,"default":50,"description":"Number of rows to return per page.","example":50},"pageNumber":{"type":"integer","nullable":true,"minimum":0,"default":0,"description":"Zero-based index of the page to return.","example":10}},"example":{"queryCriteria":[{"parameter":"region","operator":"EQUAL","values":["US"]},{"parameter":"accountIds","operator":"IN","values":[9900000,9900001]},{"parameter":"callInviteTime","operator":"BETWEEN","values":["2026-01-01T00:00:00.000Z","2026-01-31T23:59:59.999Z"]},{"parameter":"fromNumber","operator":"STARTS_WITH","values":[1919]},{"parameter":"callDirection","operator":"IN","values":["inbound","outbound"]}],"pageSize":50,"pageNumber":0}},"status":{"type":"string","enum":["COMPLETED","FAILED","NO_RESULTS","PROCESSING"],"example":"COMPLETED"},"validationType":{"type":"string","description":"The validation rule applied to a filter value; a value that does not satisfy its rule is rejected with a 400.\n\n- \u0060E164\u0060: a phone number in E.164 format, e.g. \u0060\u0022\u002B12345678901\u0022\u0060.\n- \u0060REGEX\u0060: a string matching the filter\u0027s own \u0060validationRegex\u0060, e.g. \u0060\u0022matchingValue\u0022\u0060.\n- \u0060ISO8601\u0060: a full date-time with millisecond precision, e.g. \u0060\u00222023-12-30T23:59:59.000Z\u0022\u0060.\n- \u0060ISO8601_RANGE\u0060: a start and end date-time (millisecond precision), used with \u0060BETWEEN\u0060, e.g. \u0060[\u00222023-12-01T00:00:00.000Z\u0022, \u00222023-12-31T23:59:59.000Z\u0022]\u0060.\n- \u0060ISO8601_YEAR_MONTH\u0060: a year and month, e.g. \u0060\u00222023-12\u0022\u0060.\n- \u0060ISO8601_DATE\u0060: a calendar date, e.g. \u0060\u00222023-12-31\u0022\u0060.\n- \u0060STRING\u0060: any string, e.g. \u0060\u0022someString\u0022\u0060.\n- \u0060INTEGER\u0060: an integer, e.g. \u0060123\u0060.\n- \u0060ACCOUNT\u0060: a customer account ID, e.g. \u0060\u00229900000\u0022\u0060.\n\nThe \u0060ISO8601*\u0060 types are also bounded by the report\u0027s \u0060maxMonthsBack\u0060.","enum":["E164","REGEX","ISO8601","ISO8601_RANGE","ISO8601_YEAR_MONTH","ISO8601_DATE","STRING","INTEGER","ACCOUNT"],"example":"STRING"},"filters":{"description":"Use the Get Report Definitions endpoint to see the filters available for a report.","type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}},"rdoFilter":{"type":"object","properties":{"filterName":{"type":"string","example":"My Filter"},"validationType":{"$ref":"#/components/schemas/validationType"},"dropdownValues":{"type":"array","items":{"$ref":"#/components/schemas/dropdownValues"}},"operator":{"$ref":"#/components/schemas/operator"},"validationRegex":{"type":"string","example":"^\\\\d{10}$"},"required":{"type":"boolean","example":true}}},"paginatedRdoFilter":{"oneOf":[{"title":"EnumeratedFilter","description":"A filter whose valid values are listed in allowedValues. The caller can provide one of the listed values.","type":"object","properties":{"filterName":{"type":"string","description":"The name of the filter field as used in the \u0060queryCriteria\u0060 request body.","example":"callDirection"},"allowedValues":{"type":"array","description":"Allowed values for this filter. The caller can supply one of the listed values.","items":{"type":"string"},"example":["inbound","outbound"]},"operator":{"$ref":"#/components/schemas/paginatedOperator"},"required":{"type":"boolean","nullable":true,"description":"Indicates whether this filter must be supplied by the caller.","example":false}},"required":["filterName","allowedValues","operator"]},{"title":"ValidationTypeFilter","description":"A filter validated by type, with an optional regex constraint. Use when valid values are not a fixed enumerable set.","type":"object","properties":{"filterName":{"type":"string","description":"The name of the filter field as used in the \u0060queryCriteria\u0060 request body.","example":"callInviteTime"},"validationType":{"$ref":"#/components/schemas/validationType"},"validationRegex":{"type":"string","nullable":true,"description":"Regular expression pattern the filter value must match. Only applicable when validationType is REGEX.","example":"^\\\\d{10}$"},"operator":{"$ref":"#/components/schemas/paginatedOperator"},"required":{"type":"boolean","nullable":true,"description":"Indicates whether this filter must be supplied by the caller.","example":true}},"required":["filterName","validationType","operator"]}]},"call":{"title":"Call","type":"object","properties":{"accountId":{"type":"string","description":"CRM ID of the account to get calls from.","example":1234567},"callId":{"type":"string","description":"Unique call identifier.","example":"1234567890abcdefghijklmnopqrstuvwxyz"},"startTime":{"type":"string","description":"Timestamp of when the call started, conforming to RFC 3339 format.","example":"2022-05-26T17:05:48.960Z"},"endTime":{"type":"string","description":"Timestamp of when the call ended, conforming to RFC 3339 format.","example":"2022-05-26T17:27:44.400Z"},"duration":{"type":"integer","nullable":true,"description":"Length of the call, measured in milliseconds.","example":500000},"callingNumber":{"type":"string","nullable":true,"description":"Phone number of the caller who initiated the call.\n\nFormat: E.164 with \u0027\u002B\u0027 prefix","example":18185559876},"calledNumber":{"type":"string","nullable":true,"description":"Phone number of the caller who received the call.\n\nFormat: E.164 with \u0027\u002B\u0027 prefix","example":18185551234},"callDirection":{"$ref":"#/components/schemas/callDirection"},"callType":{"$ref":"#/components/schemas/callType"},"callResult":{"$ref":"#/components/schemas/callResult"},"sipResponseCode":{"type":"integer","description":"Message generated by a user agent server (UAS) or SIP server to reply to a request generated by a client. A value of negative one (-1) indicates an unknown SIP response.","example":200},"sipResponseDescription":{"type":"string","description":"A short description of the SIP response.","example":"OK"},"cost":{"format":"double","type":"number","nullable":true,"description":"Estimated cost associated with the call. This may not match directly to your invoice as this is an estimate. If this value is null it is because the cost has not yet been calculated. Cost is usually available within a day of call completion.","example":0.000123},"subAccount":{"type":"string","nullable":true,"description":"Sub-Account ID.","example":1234},"subAccountName":{"type":"string","nullable":true,"description":"Sub-Account Name.","example":"Account 1234"},"locationId":{"type":"string","nullable":true,"description":"Location ID.","example":1234},"locationName":{"type":"string","nullable":true,"description":"Location Name.","example":"Location 1234"},"sourceCountryCodeA3":{"type":"string","nullable":true,"description":"Source Country in A3 format.","example":"USA"},"destinationCountryCodeA3":{"type":"string","nullable":true,"description":"Destination Country in A3 format.","example":"USA"},"sourceIp":{"type":"string","nullable":true,"description":"Source ip in ipv4 or ipv6 format.","example":"168.212.226.204"},"destinationIp":{"type":"string","nullable":true,"description":"Destination ip in ipv4 or ipv6 format.","example":"168.212.226.204"},"customerJitter":{"type":"integer","nullable":true,"description":"Jitter experienced by the customer during the call, measured in milliseconds.","example":500},"customerLatency":{"type":"integer","nullable":true,"description":"Latency experienced by the customer during the call, measured in milliseconds.","example":500},"customerPacketLossPercentage":{"type":"number","nullable":true,"description":"Packet loss percentage experienced by the customer during the call.","example":50.05},"carrierJitter":{"type":"integer","nullable":true,"description":"Jitter experienced by the carrrier during the call, measured in milliseconds.","example":500},"carrierLatency":{"type":"integer","nullable":true,"description":"Latency experienced by the carrier during the call, measured in milliseconds.","example":500},"carrierPacketLossPercentage":{"type":"number","nullable":true,"description":"Packet loss percentage experienced by the carrier during the call.","example":50.05},"attestationIndicator":{"type":"string","description":"STIR/SHAKEN attestation.","nullable":true,"enum":["A","B","C"],"example":"A"},"x5u":{"type":"string","nullable":true,"description":"X5U URL of the certificate\u2019s location.","example":"https://example.com/x5u"},"hangUpSource":{"$ref":"#/components/schemas/hangUpSource"},"postDialDelay":{"type":"integer","description":"How long it takes for a calling party to hear a ringback tone after initiating a call, measured in milliseconds.","nullable":true,"example":0},"packetsSent":{"type":"integer","description":"Count of packets sent during transmission.","nullable":true,"example":0},"packetsReceived":{"type":"integer","description":"Count of packets received during transmission.","nullable":true,"example":0}}},"genericError":{"title":"Generic Error","type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/link"},"nullable":true,"example":null},"data":{"type":"object","nullable":true,"example":null},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"},"nullable":true}},"required":["links","data","errors"]},"monitorGenericError":{"title":"Generic Error","type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/link"},"nullable":true,"example":null},"data":{"type":"object","nullable":true,"example":null},"errors":{"type":"array","items":{"$ref":"#/components/schemas/monitorError"},"nullable":true}},"required":["links","data","errors"]},"callDirection":{"type":"string","description":"Direction of call.","enum":["INBOUND","INBOUND-FORWARDED","OUTBOUND","OUTBOUND-FORWARDED"],"example":"INBOUND"},"callType":{"type":"string","description":"Type of call.","enum":["EMERGENCY","INBOUND-TFOOS","INFORMATION","INTERNATIONAL","INTERNATIONAL-INTERNAL","INTERSTATE","INTRASTATE","INTL-BLOCK","LOCAL","OPERATOR","OTHER-N11","SIPURI-EXT","TOLLFREE-IN","TOLLFREE-OUT","UNDETERMINED"],"example":"LOCAL"},"callResult":{"type":"string","description":"Call completion status.","enum":["COMPLETE","INCOMPLETE"],"example":"COMPLETE"},"attestationIndicator":{"type":"array","items":{"type":"string","enum":["A","B","C"]},"description":"STIR/SHAKEN attestation.\nFilter Type: Exact Match, Multi Match.\n\nExample:\n  * Exact Match: A\n  * Multi Match: A,B","nullable":true,"example":"A"},"x5u":{"type":"string","description":"X5U URL of the certificate\u2019s location.\nFilter Type: Exact Match, Text Match\n\nExample:\n  * Exact Match: \u0022https://example.com/x5u\u0022\n  * Text Match: \u0022example\u0022","nullable":true,"example":"example"},"hangUpSource":{"type":"string","description":"Hang up source.","enum":["BANDWIDTH_INTERNAL","CALLED_PARTY","CALLING_PARTY"],"example":"CALLED_PARTY"},"countryCodeA3":{"type":"string","description":"Filter Type: Exact Match, Multimatch.\n\nExample:\n\n* Exact Match: USA\n* Multimatch: USA,IRL\n\nFormat: two-letter (A3) country code ."},"ipAddress":{"type":"string","description":"Filter Type: Exact Match.\n\nExample:\n\n* Exact Match: 168.212.226.204\n* Exact Match: 2001%3Adb8%3A3333%3A4444%3A5555%3A6666%3A7777%3A8888\n\nFormat: ipv4, ipv6 format ( : is url encoded as %3A)","example":"168.212.226.204"},"qualityStatus":{"type":"string","description":"A combination of Jitter, Latency, and Packet Loss Percentage to determine the overall quality of the call. Quality Status filter is only available for accounts with Advanced Quality Metrics feature.","enum":["GOOD","AVERAGE","BAD"],"example":"GOOD"},"region":{"type":"string","enum":["US","EU"],"example":"US","default":"US"},"reportRegion":{"type":"string","enum":["US","EU"],"example":"US","description":"The region where the report will run. Defaults to the only available region. Required if multiple regions are available."},"link":{"title":"Link","type":"object","properties":{"href":{"type":"string","description":"URI of the link.","example":"self"},"rel":{"type":"string","description":"Specifies the relationship between this link and the resource.","example":"https://insights.bandwidth.com/api/v1/resource"},"method":{"type":"string","description":"HTTP method to use when following this link. Omitted for GET links.","example":"POST"}}},"error":{"title":"Error","type":"object","properties":{"description":{"type":"string","description":"A human-readable explanation that SHOULD be specific to this occurrence of the problem.","example":"There was an issue with a field in your request body."}},"required":["description"]},"monitorError":{"title":"Error","type":"object","properties":{"type":{"type":"string","description":"A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem.","example":"REQUEST_ERROR"},"description":{"type":"string","description":"A human-readable explanation that SHOULD be specific to this occurrence of the problem.","example":"There was an issue with a field in your request body."}},"required":["description"]},"monitorSliceDataCallCount":{"title":"Monitor Slice Data - Call Count","type":"object","properties":{"callCount":{"type":"integer","example":1200}},"required":["callCount"]},"monitorSliceDataMinutesOfUse":{"title":"Monitor Slice Data - Minutes of Use","type":"object","properties":{"minutesOfUse":{"type":"number","format":"float","example":1250.5}},"required":["minutesOfUse"]},"monitorSliceDataConnectionRate":{"title":"Monitor Slice Data - Connection Rate","type":"object","properties":{"connectionRate":{"type":"number","format":"float","minimum":0,"maximum":100,"example":95.5,"description":"Connection rate as a percentage (0-100)"}},"required":["connectionRate"]},"monitorSliceDataCompletedCalls":{"title":"Monitor Slice Data - Completed Calls","type":"object","properties":{"connectedCallCount":{"type":"integer","example":1150,"description":"Number of successfully connected calls"},"hangupSource":{"$ref":"#/components/schemas/monitorHangUpSourceResponse"}},"required":["connectedCallCount","hangupSource"]},"monitorSliceDataFailedCalls":{"title":"Monitor Slice Data - Failed Calls","type":"object","properties":{"failedCallCount":{"type":"integer","example":50,"description":"Number of failed calls"},"callRelease":{"type":"string","example":486,"description":"SIP response code indicating the reason for call failure"}},"required":["failedCallCount","callRelease"]},"monitorSliceDataErrorPercentage":{"title":"Monitor Slice Data - Error Percentage","type":"object","properties":{"errorFourXPercentage":{"type":"number","format":"float","minimum":0,"maximum":100,"example":2.5,"description":"Percentage of 4XX errors (0-100)"},"errorFiveXPercentage":{"type":"number","format":"float","minimum":0,"maximum":100,"example":1.2,"description":"Percentage of 5XX errors (0-100)"},"errorSixXPercentage":{"type":"number","format":"float","minimum":0,"maximum":100,"example":0.3,"description":"Percentage of 6XX errors (0-100)"}},"required":["errorFourXPercentage","errorFiveXPercentage","errorSixXPercentage"]},"monitorSliceDataAverageDuration":{"title":"Monitor Slice Data - Average Duration","type":"object","properties":{"averageDuration":{"type":"number","format":"float","example":125.5,"description":"Average call duration in seconds"}},"required":["averageDuration"]},"monitorSliceDataTotalShortCalls":{"title":"Monitor Slice Data - Short Calls","type":"object","properties":{"callsLessThanOrEqualTo6Seconds":{"type":"integer","example":45,"description":"Total number of calls less than or equal to 6 seconds"},"callsLessThanOrEqualTo60Seconds":{"type":"integer","example":320,"description":"Total number of calls less than or equal to 60 seconds"},"callPercentageLessThanOrEqualTo6Seconds":{"type":"number","format":"float","minimum":0,"maximum":100,"example":3.75,"description":"Percentage of calls less than or equal to 6 seconds (0-100)"},"callPercentageLessThanOrEqualTo60Seconds":{"type":"number","format":"float","minimum":0,"maximum":100,"example":26.67,"description":"Percentage of calls less than or equal to 60 seconds (0-100)"}},"required":["callsLessThanOrEqualTo6Seconds","callsLessThanOrEqualTo60Seconds","callPercentageLessThanOrEqualTo6Seconds","callPercentageLessThanOrEqualTo60Seconds"]},"monitorSliceDataNetworkEfficiencyRatio":{"title":"Monitor Slice Data - Network Efficiency Ratio","type":"object","properties":{"networkEfficiencyRatio":{"type":"number","format":"float","minimum":0,"maximum":100,"example":95.5,"description":"Network Efficiency Ratio (NER) percentage (0-100)"}},"required":["networkEfficiencyRatio"]},"monitorSliceDataCallsPerSecond":{"title":"Monitor Slice Data - Calls Per Second","type":"object","properties":{"outboundCallCount":{"type":"integer","example":650,"description":"Number of outbound calls per second"},"inboundCallCount":{"type":"integer","example":600,"description":"Number of inbound calls per second"}},"required":["outboundCallCount","inboundCallCount"]},"monitorSliceDataConcurrentCalls":{"title":"Monitor Slice Data - Concurrent Calls","type":"object","properties":{"outboundCallCount":{"type":"integer","example":25,"description":"Number of concurrent outbound calls"},"inboundCallCount":{"type":"integer","example":20,"description":"Number of concurrent inbound calls"}},"required":["outboundCallCount","inboundCallCount"]},"monitorSliceBase":{"title":"Monitor Slice Base","type":"object","properties":{"timestamp":{"type":"string","format":"date-time","example":"2024-06-01T00:00:00.000"},"data":{"type":"object"}},"required":["timestamp","data"]},"monitorSliceCallCount":{"title":"Monitor Slice - Call Count","allOf":[{"$ref":"#/components/schemas/monitorSliceBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/monitorSliceDataCallCount"}}}]},"monitorSliceMinutesOfUse":{"title":"Monitor Slice - Minutes of Use","allOf":[{"$ref":"#/components/schemas/monitorSliceBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/monitorSliceDataMinutesOfUse"}}}]},"monitorSliceConnectionRate":{"title":"Monitor Slice - Connection Rate","allOf":[{"$ref":"#/components/schemas/monitorSliceBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/monitorSliceDataConnectionRate"}}}]},"monitorSliceCompletedCalls":{"title":"Monitor Slice - Completed Calls","allOf":[{"$ref":"#/components/schemas/monitorSliceBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/monitorSliceDataCompletedCalls"}}}]},"monitorSliceFailedCalls":{"title":"Monitor Slice - Failed Calls","allOf":[{"$ref":"#/components/schemas/monitorSliceBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/monitorSliceDataFailedCalls"}}}]},"monitorSliceErrorPercentage":{"title":"Monitor Slice - Error Percentage","allOf":[{"$ref":"#/components/schemas/monitorSliceBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/monitorSliceDataErrorPercentage"}}}]},"monitorSliceAverageDuration":{"title":"Monitor Slice - Average Duration","allOf":[{"$ref":"#/components/schemas/monitorSliceBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/monitorSliceDataAverageDuration"}}}]},"monitorSliceTotalShortCalls":{"title":"Monitor Slice - Total Short Calls","allOf":[{"$ref":"#/components/schemas/monitorSliceBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/monitorSliceDataTotalShortCalls"}}}]},"monitorSliceNetworkEfficiencyRatio":{"title":"Monitor Slice - Network Efficiency Ratio","allOf":[{"$ref":"#/components/schemas/monitorSliceBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/monitorSliceDataNetworkEfficiencyRatio"}}}]},"monitorSliceCallsPerSecond":{"title":"Monitor Slice - Calls Per Second","allOf":[{"$ref":"#/components/schemas/monitorSliceBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/monitorSliceDataCallsPerSecond"}}}]},"monitorSliceConcurrentCalls":{"title":"Monitor Slice - Concurrent Calls","allOf":[{"$ref":"#/components/schemas/monitorSliceBase"},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/monitorSliceDataConcurrentCalls"}}}]},"monitorDataBase":{"title":"Monitor Data Base","type":"object","properties":{"start":{"type":"string","format":"date-time","example":"2024-06-01T00:00:00.000"},"end":{"type":"string","format":"date-time","example":"2024-06-03T00:00:00.000"},"granularity":{"type":"string","enum":["HOUR","DAY","WEEK","MONTH"],"example":"DAY"},"slices":{"type":"array","items":{"type":"object"}}},"required":["start","end","granularity","slices"]},"monitorResponseDataCallCount":{"title":"Monitor Response Data - Call Count","allOf":[{"$ref":"#/components/schemas/monitorDataBase"},{"type":"object","properties":{"slices":{"type":"array","items":{"$ref":"#/components/schemas/monitorSliceCallCount"}}}}]},"monitorResponseDataMinutesOfUse":{"title":"Monitor Response Data - Minutes of Use","allOf":[{"$ref":"#/components/schemas/monitorDataBase"},{"type":"object","properties":{"slices":{"type":"array","items":{"$ref":"#/components/schemas/monitorSliceMinutesOfUse"}}}}]},"monitorResponseDataConnectionRate":{"title":"Monitor Response Data - Connection Rate","allOf":[{"$ref":"#/components/schemas/monitorDataBase"},{"type":"object","properties":{"slices":{"type":"array","items":{"$ref":"#/components/schemas/monitorSliceConnectionRate"}}}}]},"monitorResponseDataCompletedCalls":{"title":"Monitor Response Data - Completed Calls","allOf":[{"$ref":"#/components/schemas/monitorDataBase"},{"type":"object","properties":{"slices":{"type":"array","items":{"$ref":"#/components/schemas/monitorSliceCompletedCalls"}}}}]},"monitorResponseDataFailedCalls":{"title":"Monitor Response Data - Failed Calls","allOf":[{"$ref":"#/components/schemas/monitorDataBase"},{"type":"object","properties":{"slices":{"type":"array","items":{"$ref":"#/components/schemas/monitorSliceFailedCalls"}}}}]},"monitorResponseDataErrorPercentage":{"title":"Monitor Response Data - Error Percentage","allOf":[{"$ref":"#/components/schemas/monitorDataBase"},{"type":"object","properties":{"slices":{"type":"array","items":{"$ref":"#/components/schemas/monitorSliceErrorPercentage"}}}}]},"monitorResponseDataAverageDuration":{"title":"Monitor Response Data - Average Duration","allOf":[{"$ref":"#/components/schemas/monitorDataBase"},{"type":"object","properties":{"slices":{"type":"array","items":{"$ref":"#/components/schemas/monitorSliceAverageDuration"}}}}]},"monitorResponseDataTotalShortCalls":{"title":"Monitor Response Data - Total Short Calls","allOf":[{"$ref":"#/components/schemas/monitorDataBase"},{"type":"object","properties":{"slices":{"type":"array","items":{"$ref":"#/components/schemas/monitorSliceTotalShortCalls"}}}}]},"monitorResponseDataNetworkEfficiencyRatio":{"title":"Monitor Response Data - Network Efficiency Ratio","allOf":[{"$ref":"#/components/schemas/monitorDataBase"},{"type":"object","properties":{"slices":{"type":"array","items":{"$ref":"#/components/schemas/monitorSliceNetworkEfficiencyRatio"}}}}]},"monitorResponseDataCallsPerSecond":{"title":"Monitor Response Data - Calls Per Second","allOf":[{"$ref":"#/components/schemas/monitorDataBase"},{"type":"object","properties":{"slices":{"type":"array","items":{"$ref":"#/components/schemas/monitorSliceCallsPerSecond"}}}}]},"monitorResponseDataConcurrentCalls":{"title":"Monitor Response Data - Concurrent Calls","allOf":[{"$ref":"#/components/schemas/monitorDataBase"},{"type":"object","properties":{"slices":{"type":"array","items":{"$ref":"#/components/schemas/monitorSliceConcurrentCalls"}}}}]}},"parameters":{"monitorDirection":{"name":"direction","in":"query","description":"Filter call data to only inbound or outbound calls.\nIf not provided, both inbound and outbound calls are returned in the results.","style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/monitorDirection"}},"monitorTimestamp":{"name":"timestamp","in":"query","description":"Timestamp range filter for the time range to return records for.\nUse \u0060gte\u0060 for the beginning of the range (defaults to \u00277 days ago\u0027 if not specified).\nUse \u0060lte\u0060 for the end of the range (defaults to \u0027now\u0027 if not specified).\nValues should include timezone, else UTC will be assumed.\nNote, results will only be returned going back up to one year.\nA larger timespan, difference between \u0060gte\u0060 and \u0060lte\u0060 will make the results less granular, for example a timespan of a few days, results will be hourly, whilst a timespan of months, result will be monthly.","style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/monitorTimestampRange"}},"monitorFromPhoneNumber":{"name":"fromPhoneNumber","in":"query","description":"Filter results by originating phone number(s) in E.164 format (e.g. \u0060\u002B353123456\u0060).\nAccepts a comma-separated list of numbers.\n**Warning:** Using this parameter may result in dramatically slower responses.\nTo improve performance, use additional query parameters to reduce the scope of your query.","style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/monitorPhoneNumberList"}},"monitorToPhoneNumber":{"name":"toPhoneNumber","in":"query","description":"Filter results by destination phone number(s) in E.164 format (e.g. \u0060\u002B353123456\u0060).\nAccepts a comma-separated list of numbers.\n**Warning:** Using this parameter may result in dramatically slower responses.\nTo improve performance, use additional query parameters to reduce the scope of your query.","style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/monitorPhoneNumberList"}},"monitorSubAccount":{"name":"subAccount","in":"query","description":"Filter results by Sub-Account ID.\nThe user making this API call must have access to the specified sub-account.","style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/monitorSubAccount"}},"monitorCallResult":{"name":"callResult","in":"query","description":"Filter results by call completion status.\nAccepts a single value: \u0060COMPLETED\u0060 or \u0060INCOMPLETE\u0060.\nIf not provided, results for all call results will be returned.","style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/monitorCallResult"}},"monitorResponseCode":{"name":"responseCode","in":"query","description":"List of SIP response codes to filter for.\nThese are three digit codes, i.e. regex pattern \u0060\\d{3}\u0060.\nIf not set, then all response codes are included.","style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/monitorResponseCode"}},"monitorCallType":{"name":"callType","in":"query","description":"Filter results by call type.\nAccepts a single value: \u0060NATIONAL\u0060, \u0060INTERNATIONAL\u0060, \u0060EMERGENCY\u0060 Etc.\nIf not provided, results for all call types will be returned.","style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/monitorCallType"}},"monitorHangUpSource":{"name":"hangUpSource","in":"query","description":"Filter results by hang up source.\nAccepts a single value: \u0060CALLED_PARTY\u0060 or \u0060CALLING_PARTY\u0060.\nIf not provided, results for all hang up sources will be returned.","style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/monitorHangUpSource"}},"monitorSourceCountryCodeA3":{"name":"sourceCountryCodeA3","in":"query","description":"Filter results by source country.\nAccepts a comma-separated list of ISO A3 country codes (e.g. \u0060USA\u0060, \u0060CAN\u0060).\nIf not provided, results for all source countries will be returned.","style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/monitorCountry"}},"monitorDestinationCountryCodeA3":{"name":"destinationCountryCodeA3","in":"query","description":"Filter results by destination country.\nAccepts a comma-separated list of ISO A3 country codes (e.g. \u0060USA\u0060, \u0060CAN\u0060).\nIf not provided, results for all destination countries will be returned.","style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/monitorCountry"}},"monitorAccountId":{"name":"accountId","in":"query","required":true,"description":"CRM ID of the account to get calls data from.","style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/monitorAccountId"}},"accountIds":{"name":"accountIds","in":"query","schema":{"type":"array","items":{"type":"string"}}},"categoryRequired":{"name":"category","in":"query","required":true,"schema":{"$ref":"#/components/schemas/category"}},"category":{"name":"category","in":"query","description":"Filter report definitions by category classification.","schema":{"$ref":"#/components/schemas/category"}},"domain":{"name":"domain","in":"query","description":"Filter report definitions by product domain.","schema":{"$ref":"#/components/schemas/domain"}},"reportIdPath":{"name":"reportId","in":"path","description":"The ID of the report.","required":true,"schema":{"type":"string"}},"reportDefIdPath":{"name":"reportDefinitionId","in":"path","description":"The UUID of the report definition.","required":true,"schema":{"type":"string","format":"uuid","example":"6d4f848a-9543-4e18-b580-2621c9525892"}},"reportName":{"name":"reportName","in":"query","description":"Filter report definitions by exact report name.","schema":{"type":"string"}},"accountId":{"name":"accountId","in":"query","description":"CRM ID of the account to get calls from.","schema":{"type":"string","example":1234567}},"callId":{"name":"callId","in":"query","description":"Exact Match, any valid call ID.\n","schema":{"type":"string","example":"12345678980abcdefghijklmnopqrstuvwxyz"}},"callIdPath":{"name":"callId","in":"path","required":true,"description":"Filter Type: Exact Match, any valid call ID.\n\nBy default this is treated as a plain string. If the call ID contains characters that are not\npermitted in a URL path (notably \u0060/\u0060), pass it as a base64url (RFC 4648 \u00A75) encoded string and\nset the \u0060callIdEncoding\u0060 query parameter to \u0060BASE64_URL\u0060 so it is decoded before lookup.","schema":{"type":"string","example":"12345678980abcdefghijklmnopqrstuvwxyz"}},"callIdEncoding":{"name":"callIdEncoding","in":"query","required":false,"description":"Opt-in encoding applied to the \u0060callId\u0060 path parameter. When set to \u0060BASE64_URL\u0060, the\n\u0060callId\u0060 is decoded as a base64url (RFC 4648 \u00A75) string before lookup. This allows call IDs\ncontaining characters that are not permitted in a URL path (notably \u0060/\u0060) to be passed safely.\n\nWhen omitted or set to \u0060RAW\u0060, the \u0060callId\u0060 is used verbatim. Standard Base64 is not supported because its\n\u0060\u002B\u0060 and \u0060/\u0060 characters would reintroduce the path-encoding problem.","schema":{"$ref":"#/components/schemas/callIdEncoding"}},"startTime":{"name":"startTime","in":"query","description":"Filter Type: Range using gt, gte, lt, and lte.\n\nNote: If no startTime or endTime is specified, startTime will default to the last 24 hours.\n","schema":{"type":"string","example":"gte:2022-05-26T12:00:00Z\n"}},"endTime":{"name":"endTime","in":"query","description":"Filter Type: Range using gt, gte, lt, and lte.\n","schema":{"type":"string","example":"lte:2022-05-26T12:00:50Z"}},"callingNumber":{"name":"callingNumber","in":"query","description":"Short number exact match, Short number Multimatch, Short number prefix match, E.164 exact match, E.164 Multimatch, E.164 prefix match, Alphanumeric exact match, Alphanumeric Multimatch, Alphanumeric prefix match.\n\nExample:\n\n* Short number exact match: 15555551234\n\n* Short number Multimatch: 1555*,1234*,15555551234,15555554567\n\n* Short number prefix match: 1555*\n\n* E.164 exact match: \u002B15555551234\n\n* E.164 Multimatch: \u002B1555*,\u002B1234*,\u002B15555551234,\u002B15555554567\n\n* E.164 prefix match: \u002B1555*\n\n* Alphanumeric exact match: WO1234567\n\n* Alphanumeric Multimatch: WO1234567, PO4567891, WO*, PO*\n\n* Alphanumeric prefix match: WO*\n\nAlphanumeric string of length 1 to 15 characters with optional leading \u0027\u002B\u0027 (URL encoded as %2B) and optional trailing \u0027*\u0027 (indicating prefix search)","schema":{"type":"string","example":"%2B18185559876"}},"calledNumber":{"name":"calledNumber","in":"query","description":"Short number exact match, Short number Multimatch, Short number prefix match, E.164 exact match, E.164 Multimatch, E.164 prefix match, Alphanumeric exact match, Alphanumeric Multimatch, Alphanumeric prefix match.\n\nExample:\n\n* Short number exact match: 15555551234\n\n* Short number Multimatch: 1555*,1234*,15555551234,15555554567\n\n* Short number prefix match: 1555*\n\n* E.164 exact match: \u002B15555551234\n\n* E.164 Multimatch: \u002B1555*,\u002B1234*,\u002B15555551234,\u002B15555554567\n\n* E.164 prefix match: \u002B1555*\n\n* Alphanumeric exact match: WO1234567\n\n* Alphanumeric Multimatch: WO1234567, PO4567891, WO*, PO*\n\n* Alphanumeric prefix match: WO*\n\nAlphanumeric string of length 1 to 15 characters with optional leading \u0027\u002B\u0027 (URL encoded as %2B) and optional trailing \u0027*\u0027 (indicating prefix search)","schema":{"type":"string","example":"%2B18185551234"}},"callDirection":{"name":"callDirection","in":"query","description":"Direction of call.\nFilter Type: Exact Match, Multi Match.\n\nExample:\n  * Exact Match: OUTBOUND\n\n  * Multi Match: OUTBOUND-FORWARDED,OUTBOUND","schema":{"type":"array","items":{"$ref":"#/components/schemas/callDirection"}}},"callType":{"name":"callType","in":"query","description":"Filter Type: Exact Match, any valid call type.","schema":{"$ref":"#/components/schemas/callType"}},"callResult":{"name":"callResult","in":"query","description":"Filter Type: Exact Match, any valid call result type.","schema":{"$ref":"#/components/schemas/callResult"}},"hangUpSource":{"name":"hangUpSource","in":"query","description":"Filter Type: Exact Match, any valid hang up source.","schema":{"$ref":"#/components/schemas/hangUpSource"}},"sipResponseCode":{"name":"sipResponseCode","in":"query","description":"Filter Type: Exact Match, Multi Match.\n\nExample:\n  * Exact Match: 200\n\n  * Multi Match: 200, 202","schema":{"type":"array","items":{"type":"string"},"example":200}},"subAccount":{"name":"subAccount","in":"query","description":"Filter Type: Exact Match. Examples: 1234,2345","schema":{"type":"string","example":1234}},"locationId":{"name":"locationId","in":"query","description":"Filter Type: Exact Match. Examples: 1234,2345","schema":{"type":"string","example":1234}},"sourceCountryCodeA3":{"name":"sourceCountryCodeA3","in":"query","schema":{"$ref":"#/components/schemas/countryCodeA3"}},"destinationCountryCodeA3":{"name":"destinationCountryCodeA3","in":"query","schema":{"$ref":"#/components/schemas/countryCodeA3"}},"sourceIp":{"name":"sourceIp","in":"query","schema":{"$ref":"#/components/schemas/ipAddress"}},"destinationIp":{"name":"destinationIp","in":"query","schema":{"$ref":"#/components/schemas/ipAddress"}},"qualityStatus":{"name":"qualityStatus","in":"query","schema":{"$ref":"#/components/schemas/qualityStatus"}},"attestationIndicator":{"name":"attestationIndicator","in":"query","schema":{"$ref":"#/components/schemas/attestationIndicator"}},"x5u":{"name":"x5u","in":"query","schema":{"$ref":"#/components/schemas/x5u"}},"sort":{"name":"sort","in":"query","description":"The field and direction to sort by, combined with a colon. Direction is one of asc, desc.","schema":{"type":"string","example":"startTime:desc"}},"offset":{"name":"offset","in":"query","description":"Return records starting at the nth record.","schema":{"type":"integer","example":1}},"limit":{"name":"limit","in":"query","description":"The maximum records to return per page.","schema":{"type":"integer","example":50,"default":100,"minimum":1,"maximum":10000}},"region":{"name":"region","in":"query","description":"Filter Type: Exact Match, any valid region.","schema":{"$ref":"#/components/schemas/region"}}},"requestBodies":{"createReportBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/reportStatusObject"}}}},"paginatedReportRequestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/paginatedReportRequest"}}}}},"responses":{"reportStatusResponse":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/link"},"example":[{"rel":"reportDownload","href":"https://insights.bandwidth.com/api/v1/reports/67a95525-4618-418b-ad8b-4ddd8562ad37/file"}]},"data":{"$ref":"#/components/schemas/reportStatus"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"},"example":[]}},"required":["links","data","errors"]}}}},"reportFileResponse":{"description":"OK","content":{"application/gzip":{"schema":{"type":"string","format":"binary"}}},"headers":{"Content-Disposition":{"schema":{"type":"string","example":"attachment; filename=\u0022report123.zip\u0022"}},"Content-Length":{"schema":{"type":"integer","example":12345}}}},"reportHistoryResponse":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/link"},"example":[]},"data":{"type":"object","properties":{"totalCount":{"type":"integer","example":1},"reports":{"type":"array","items":{"$ref":"#/components/schemas/reportStatus"}}}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"},"example":[]}},"required":["links","data","errors"]}}}},"reportDefinitionsResponse":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/link"},"example":[]},"data":{"type":"object","properties":{"reportDefinitions":{"type":"array","items":{"$ref":"#/components/schemas/reportDefinitionObject"}}}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"},"example":[]}},"required":["links","data","errors"]}}}},"paginatedResultResponse":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"links":{"type":"array","nullable":true,"description":"HATEOAS navigation links for this resource. Null on error responses.","items":{"$ref":"#/components/schemas/link"}},"data":{"type":"object","nullable":true,"description":"The result payload for this response.","properties":{"results":{"type":"array","nullable":true,"description":"The result rows for the requested report definition.","items":{"$ref":"#/components/schemas/paginatedResultRow"}}}},"page":{"$ref":"#/components/schemas/paginatedPageMeta"},"errors":{"type":"array","nullable":true,"description":"List of errors encountered while processing the request.","items":{"$ref":"#/components/schemas/error"}}},"required":["links","data","page","errors"]},"examples":{"cdrExample":{"summary":"Call Detail Records (CDRs) result","value":{"links":[{"rel":"self","href":"https://insights.bandwidth.com/api/v2/report-definitions/6d4f848a-9543-4e18-b580-2621c9525892/results","method":"POST"},{"rel":"first","href":"https://insights.bandwidth.com/api/v2/report-definitions/6d4f848a-9543-4e18-b580-2621c9525892/results","method":"POST"},{"rel":"last","href":"https://insights.bandwidth.com/api/v2/report-definitions/6d4f848a-9543-4e18-b580-2621c9525892/results","method":"POST"}],"data":{"results":[{"customerId":1234567,"callDate":"2024-01-15","uniqueRecordId":"abc123xyz","callId":"1234567890abcdefghijklmnopqrstuvwxyz","callStartTime":"2024-01-15T17:05:48.960Z","duration":120,"responseCode":200,"result":"COMPLETED","destinationPhoneNumber":15554443333,"destinationCountryCodeA3":"USA","sourcePhoneNumber":15554442222,"sourceCountryCodeA3":"USA","direction":"outbound","hangUpSource":"CALLED_PARTY","attestation":"A","postDialDelay":350,"packetsSent":9600,"packetsReceived":9598}]},"page":{"pageSize":50,"totalElements":1,"totalPages":1,"pageNumber":0},"errors":[]}}}}}},"paginatedReportDefinitionsResponse":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"links":{"type":"array","nullable":true,"description":"HATEOAS navigation links for this resource. Null on error responses.","items":{"$ref":"#/components/schemas/link"}},"data":{"type":"object","nullable":true,"description":"The result payload for this response.","properties":{"reportDefinitions":{"type":"array","nullable":true,"description":"The list of report definitions available to your account.","items":{"$ref":"#/components/schemas/paginatedReportDefinitionObject"}}}},"page":{"$ref":"#/components/schemas/paginatedPageMeta"},"errors":{"type":"array","nullable":true,"description":"List of errors encountered while processing the request.","items":{"$ref":"#/components/schemas/error"}}},"required":["links","data","page","errors"]},"examples":{"cdrExample":{"summary":"Report definitions including CDRs","value":{"links":[{"rel":"self","href":"https://insights.bandwidth.com/api/v2/report-definitions?offset=0\u0026limit=50"},{"rel":"first","href":"https://insights.bandwidth.com/api/v2/report-definitions?limit=50"},{"rel":"last","href":"https://insights.bandwidth.com/api/v2/report-definitions?offset=0\u0026limit=50"}],"data":{"reportDefinitions":[{"id":"6d4f848a-9543-4e18-b580-2621c9525892","category":"USAGE","domain":"VOICE","reportName":"Call Detail Records (CDRs)","description":"Call Detail Records (CDRs) provides details for all the Voice calls associated with your account. Data may be delayed by a few hours.","regions":["US","EU"],"maxMonthsBack":12,"filters":[{"filterName":"accountIds","validationType":"INTEGER","operator":"IN","required":true},{"filterName":"callInviteTime","validationType":"ISO8601","operator":"GREATER_OR_EQUAL","required":true},{"filterName":"callInviteTime","validationType":"ISO8601","operator":"LESSER_OR_EQUAL","required":true},{"filterName":"callingCountryCodeA3","validationType":"STRING","operator":"IN","required":false},{"filterName":"calledCountryCodeA3","validationType":"STRING","operator":"IN","required":false},{"filterName":"callDirection","operator":"EQUAL","required":false,"allowedValues":["inbound","outbound"]},{"filterName":"sipResponseCode","validationType":"INTEGER","operator":"EQUAL","required":false},{"filterName":"hangUpSource","operator":"EQUAL","required":false,"allowedValues":["CALLED_PARTY","CALLING_PARTY","INTERNAL"]},{"filterName":"attestation","operator":"EQUAL","required":false,"allowedValues":["A","B","C"]}],"outputFields":[{"fieldName":"customerId","fieldType":"STRING"},{"fieldName":"callDate","fieldType":"STRING"},{"fieldName":"uniqueRecordId","fieldType":"STRING"},{"fieldName":"callId","fieldType":"STRING"},{"fieldName":"callStartTime","fieldType":"STRING"},{"fieldName":"duration","fieldType":"INTEGER"},{"fieldName":"responseCode","fieldType":"INTEGER"},{"fieldName":"result","fieldType":"STRING"},{"fieldName":"destinationPhoneNumber","fieldType":"STRING"},{"fieldName":"destinationCountryCodeA3","fieldType":"STRING"},{"fieldName":"sourcePhoneNumber","fieldType":"STRING"},{"fieldName":"sourceCountryCodeA3","fieldType":"STRING"},{"fieldName":"direction","fieldType":"STRING"},{"fieldName":"hangUpSource","fieldType":"STRING"},{"fieldName":"attestation","fieldType":"STRING"},{"fieldName":"postDialDelay","fieldType":"INTEGER"},{"fieldName":"packetsSent","fieldType":"INTEGER"},{"fieldName":"packetsReceived","fieldType":"INTEGER"}],"supportedModes":["SYNC"]}]},"page":{"pageSize":50,"totalElements":1,"totalPages":1,"pageNumber":0},"errors":[]}}}}}},"paginatedReportDefinitionResponse":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"links":{"type":"array","nullable":true,"description":"HATEOAS navigation links for this resource. Null on error responses.","items":{"$ref":"#/components/schemas/link"}},"data":{"description":"The report definition object.","type":"object","nullable":true,"allOf":[{"$ref":"#/components/schemas/paginatedReportDefinitionObject"}]},"errors":{"type":"array","nullable":true,"description":"List of errors encountered while processing the request.","items":{"$ref":"#/components/schemas/error"}}},"required":["links","data","errors"]},"examples":{"cdrExample":{"summary":"CDRs report definition","value":{"links":[{"rel":"self","href":"https://insights.bandwidth.com/api/v2/report-definitions/6d4f848a-9543-4e18-b580-2621c9525892"}],"data":{"id":"6d4f848a-9543-4e18-b580-2621c9525892","category":"USAGE","domain":"VOICE","reportName":"Call Detail Records (CDRs)","description":"Call Detail Records (CDRs) provides details for all the Voice calls associated with your account. Data may be delayed by a few hours.","regions":["US","EU"],"maxMonthsBack":12,"filters":[{"filterName":"accountIds","validationType":"INTEGER","operator":"IN","required":true},{"filterName":"callInviteTime","validationType":"ISO8601","operator":"GREATER_OR_EQUAL","required":true},{"filterName":"callDirection","operator":"EQUAL","required":false,"allowedValues":["inbound","outbound"]}],"outputFields":[{"fieldName":"customerId","fieldType":"STRING"},{"fieldName":"duration","fieldType":"INTEGER"}],"supportedModes":["SYNC"]},"errors":[]}}}}}},"listCallsResponse":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/link"},"example":[{"rel":"next","href":"https://insights.bandwidth.com/api/v1/voice/calls?callResult=completed\u0026offset=1\u0026limit=1\u0026sort=startTime:desc"}],"nullable":true},"data":{"type":"object","properties":{"totalCount":{"type":"integer","description":"The total count of objects returned in the response.","example":1},"calls":{"type":"array","items":{"$ref":"#/components/schemas/call"}}},"nullable":true},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"},"nullable":true,"example":null}},"required":["links","data","errors"]}}}},"getCallResponse":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/link"},"nullable":false,"example":[]},"data":{"$ref":"#/components/schemas/call"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"},"nullable":false,"example":[]}},"required":["links","data","errors"]}}}},"badRequestError":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"badRequestErrorExample":{"$ref":"#/components/examples/badRequestErrorExample"}}}}},"unauthorizedError":{"description":"Unauthorized Account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"unknownAccountErrorExample":{"$ref":"#/components/examples/unauthorizedErrorExample"}}}}},"forbiddenError":{"description":"Unknown Account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"unknownAccountErrorExample":{"$ref":"#/components/examples/forbiddenErrorExample"}}}}},"notFoundError":{"description":"Method Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"unknownAccountErrorExample":{"$ref":"#/components/examples/notFoundErrorExample"}}}}},"methodNotFoundError":{"description":"Method Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"unknownAccountErrorExample":{"$ref":"#/components/examples/methodNotFoundErrorExample"}}}}},"tooManyRequestsError":{"description":"Too Many Requests Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"unknownAccountErrorExample":{"$ref":"#/components/examples/tooManyRequestsErrorExample"}}}}},"internalServerError":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"unknownAccountErrorExample":{"$ref":"#/components/examples/internalServerErrorExample"}}}}},"monitorBadRequestError":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/monitorGenericError"},"example":{"links":[],"data":null,"errors":[{"type":"bad-request","description":"There was an issue with your request."}]}}}},"monitorUnauthorizedError":{"description":"Unauthorized Account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/monitorGenericError"},"example":{"links":[],"data":null,"errors":[{"type":"authentication-credentials","description":"This is an Unauthorized Account."}]}}}},"monitorForbiddenError":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/monitorGenericError"},"example":{"links":[],"data":null,"errors":[{"type":"resource-permissions","description":"This is an Unknown Account."}]}}}},"monitorNotFoundError":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/monitorGenericError"},"example":{"links":[],"data":null,"errors":[{"type":"resource-not-found","description":"The origin server did not find a current representation for the target resource or is not willing to disclose that one exists."}]}}}},"monitorMethodNotFoundError":{"description":"Method Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/monitorGenericError"},"example":{"links":[],"data":null,"errors":[{"type":"http-method-not-supported","description":"POST is not an allowed method. Method must be GET"}]}}}},"monitorTooManyRequestsError":{"description":"Too Many Requests Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/monitorGenericError"},"example":{"links":[],"data":null,"errors":[{"type":"rate-limiting","description":"The user has sent too many requests in a given amount of time."}]}}}},"monitorInternalServerError":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/monitorGenericError"},"example":{"links":[],"data":null,"errors":[{"type":"internal-server-error","description":"The server encountered an unexpected condition that prevented it from fulfilling the request."}]}}}},"monitorServiceUnavailableError":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/monitorGenericError"},"example":{"links":[],"data":null,"errors":[{"type":"service-unavailable","description":"Query is still processing. Please try again."}]}}}},"getMonitorTotal
[...]
