{"openapi":"3.0.1","info":{"title":"Line Features","description":"Bandwidth\u0027s Line Features API\n\nThis API provides endpoints to manage TN Options orders for phone number information as well as Line Information Database (LIDB) and \nDirectory Listing/Directory Assistance (DLDA) orders. ","contact":{"name":"Bandwidth","url":"https://dev.bandwidth.com/apis/numbers-apis/line-features/","email":"support@bandwidth.com"},"version":"1.0.0","termsOfService":"https://www.bandwidth.com/legal/terms-of-service/"},"servers":[{"url":"https://api.bandwidth.com/api/v2","description":"Production"}],"security":[{"Basic":[]},{"Bearer":[]}],"paths":{"/accounts/{accountId}/tnoptions":{"get":{"tags":["TN Options"],"description":"Retrieve a list of the TN Options orders that are associated with the account. A maximum of 1,000 orders can be retrieved per request. If no date range or specific query parameter (marked by \u003Cb\u003E*\u003C/b\u003E below) is provided, the order results will be limited to the last two years.","operationId":"getTnOptionOrders","summary":"Retrieve list TN Options orders","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/statusQueryParam"},{"$ref":"#/components/parameters/tnQueryParam"},{"$ref":"#/components/parameters/customerOrderIdQueryParam"},{"$ref":"#/components/parameters/modifiedDateFromQueryParam"},{"$ref":"#/components/parameters/modifiedDateToQueryParam"},{"$ref":"#/components/parameters/createdDateFromQueryParam"},{"$ref":"#/components/parameters/createdDateToQueryParam"},{"$ref":"#/components/parameters/lastModifiedAfterQueryParam"},{"$ref":"#/components/parameters/lastModifiedByQueryParam"},{"$ref":"#/components/parameters/orderIdFragmentQueryParam"},{"$ref":"#/components/parameters/orderIdDetailsQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/getTnOptionOrdersSummaryResponse"},"400":{"$ref":"#/components/responses/getTnOptionOrders400Response"}}},"post":{"tags":["TN Options"],"description":"Create TN Options order to assign line features to the telephone number.\n\n**The two data elements in the submission are:**\n- **TnOptionGroups**: A list of TnOptionGroup objects, each containing a list of telephone numbers and a set of TN Options to assign to all TNs in the list.\n- **CustomerOrderId**: Optional value for ID set by customer. Only alphanumeric values, dashes, and spaces are allowed. Max length is 255 characters.\n\n**Valid attributes for TnOptionGroup object:**\n\n| XML Attribute             | JSON Name               | Product     | Number Region | VCP Support        |\n|-------------------------- |-------------------------|-------------|---------------|--------------------|\n| TelephoneNumbers          | phoneNumbers            |             |               | Both               |\n| PortOutPasscode           | portOutPasscode         | Numbers     | NANP          | Both               |\n| Protected                 | protected               | Numbers     | NANP          | Both               |\n| Sms                       | sms                     | Messaging   |               | Both               |\n| A2pSettings               | a2pSettings             | Messaging   | NANP          | Both               |\n| NNID                      | nnid                    | Messaging   | NANP          | Both               |\n| ESPID                     | espid                   | Voice       | NANP          | VCP Disabled Only  |\n| CallForward               | callForward             | Voice       |               | VCP Disabled Only  |\n| CallVerificationEnabled   | callVerificationEnabled | Voice       | NANP          | VCP Disabled Only  |\n| CallingNameDisplay        | callingNameDisplay      | Voice       | NANP          | VCP Disabled Only  |\n| FinalDestinationUri       | finalDestinationUri     | Voice       | NANP          | VCP Disabled Only  |\n| NumberFormat              | numberFormat            | Voice       | NANP          | VCP Disabled Only  |\n| OriginationRoutePlan      | originationRoutePlan    | Voice       | NANP          | VCP Disabled Only  |\n| PindropEnabled            | pindropEnabled          | Voice       | NANP          | VCP Disabled Only  |\n| RPIDFormat                | rpidFormat              | Voice       | NANP          | VCP Disabled Only  |\n| RewriteUser               | rewriteUser             | Voice       | NANP          | VCP Disabled Only  |\n\n**Valid attributes for A2P Settings object:**\n\n| XML Attribute             | JSON Name               | Product     | Number Region | VCP Support        |\n|-------------------------- |-------------------------|-------------|---------------|--------------------|\n| CampaignId                | campaignId              | Messaging   | NANP          | Both\n| Action                    | action                  | Messaging   | NANP          | Both               |\n\n**Valid attributes for Origination Route Plan object:**\n\n| XML Attribute             | JSON Name               | Product     | Number Region | VCP Support        |\n|-------------------------- |-------------------------|-------------|---------------|--------------------|\n| Id                        | id                      | Voice       | NANP          | VCP Disabled Only  |\n| Action                    | action                  | Voice       | NANP          | VCP Disabled Only  |\n| Route (object)            | route                   | Voice       | NANP          | VCP Disabled Only  |\n\n**Valid attributes for Route object:**\n\n| XML Attribute             | JSON Name               | Product     | Number Region | VCP Support        |\n|-------------------------- |-------------------------|-------------|---------------|--------------------|\n| Name                      | name                    | Voice       | NANP          | VCP Disabled Only  |\n| Endpoint                  | endpoint                | Voice       | NANP          | VCP Disabled Only  |\n| Priority                  | priority                | Voice       | NANP          | VCP Disabled Only  |\n| Weight                    | weight                  | Voice       | NANP          | VCP Disabled Only  |\n| EndpointType              | endpointType            | Voice       | NANP          | VCP Disabled Only  |\n\n\nWhen attributes tagged NANP are passed in the request body, only North American Numbering Plan phone numbers are allowed and updated.\n\n**Values for each TnOptionGroup object attribute:**\n- **TelephoneNumbers**:  \n  - A list of telephone numbers as an array of strings.  \n  - Each string is an E.164 formatted telephone number. If not E.164, assumes NANP 10-digit format.\n- **PortOutPasscode**: \u0060[{custom string value} | UNCHANGED | SYSTEM_DEFAULT]\u0060\n- **Protected**: \u0060[true | false | UNCHANGED | SYSTEM_DEFAULT]\u0060\n- **Sms**: \u0060[ON | OFF | UNCHANGED]\u0060\n- **NNID**: \u0060[{custom integer value} | UNCHANGED | SYSTEM_DEFAULT]\u0060\n- **CallForward**: \u0060[10-digit phone number (string)  | UNCHANGED | SYSTEM_DEFAULT]\u0060\n- **CallVerificationEnabled**: \u0060[true | false]\u0060\n- **CallingNameDisplay**: \u0060[ON | OFF | UNCHANGED | SYSTEM_DEFAULT]\u0060\n- **ESPID**: \u0060[{custom string value} | UNCHANGED | SYSTEM_DEFAULT]\u0060\n- **FinalDestinationUri**: \u0060[{custom string value} | UNCHANGED | SYSTEM_DEFAULT]\u0060\n- **NumberFormat**: \u0060[10DIGIT | 11DIGIT | E164 | UNCHANGED | SYSTEM_DEFAULT]\u0060\n- **OriginationRoutePlan**: \u0060object\u0060\n    - **Id**: UUID that Bandwidth generates to identify the route plan.\n    - **Action**: \u0060[UNCHANGED | OFF | AS_SPECIFIED]\u0060\n    - **Route**:\n        - **Name**: \u0060[{custom string value} | UNCHANGED | SYSTEM_DEFAULT]\u0060\n        - **Endpoint**: \u0060[{custom string value} | UNCHANGED | SYSTEM_DEFAULT]\u0060\n        - **Priority**: \u0060[1-1000]\u0060\n        - **Weight**: \u0060[1-1000]\u0060\n        - **EndpointType**: \u0060[TN | IPv4 | SIP | FQDN]\u0060\n- **A2PSettings**: \u0060object\u0060\n  - **CampaignId**: \u0060[{custom string value} | UNCHANGED | SYSTEM_DEFAULT]\u0060\n  - **Action**: \u0060[UNCHANGED | SYSTEM_DEFAULT | OFF | DELETE | AS_SPECIFIED]\u0060\n- **PindropEnabled**: \u0060[true | false]\u0060\n- **RPIDFormat**: \u0060[10DIGIT | 11DIGIT | E164 | UNCHANGED | SYSTEM_DEFAULT]\u0060\n- **RewriteUser**: \u0060[{custom string value} | UNCHANGED | SYSTEM_DEFAULT]\u0060\n- For all the above attributes:  \n  - \u0060SYSTEM_DEFAULT\u0060: Removes the element profile value, reverting the TN to default system behavior.  \n  - \u0060UNCHANGED\u0060: Value remains unchanged (read before write model. Leaving the element out of the payload is equivalent to \u0060UNCHANGED\u0060).\n\n**A2pSettings attribute actions:**\n\n| Number attribute | Action value   | Description of action                                                                                            |\n|------------------|----------------|------------------------------------------------------------------------------------------------------------------|\n| LongCode         | SYSTEM_DEFAULT | Removes the per-TN A2P attributes, and it reverts to the Location/SIP Peer characteristics.                      |\n| LongCode         | AS_SPECIFIED   | Sets the message class and campaign ID - this is the default if unspecified.                                     |\n| LongCode         | OFF            | Will set the TN as a \u0027P\u0027 TN. Any values for Class or Campaign ID are not valid.                                  |\n| LongCode         | DELETE         | Will delete the campaign ID from TN. Any values for Class or Campaign ID are not valid.                          |\n| LongCode         | UNCHANGED      | Do nothing with respect to A2P.                                                                                  |\n| TollFree         | SYSTEM_DEFAULT | Removes the per-TN A2P attributes, and it reverts to the Location/SIP Peer characteristics.                      |\n| TollFree         | AS_SPECIFIED   | Sets the message class and campaign ID - this is the default if unspecified.                                     |\n| TollFree         | OFF            | If set to is \u0027ON\u0027, this is valid for Toll Free numbers. If set to \u0027OFF\u0027, this is invalid for Toll Free Numbers.  |\n| TollFree         | UNCHANGED      | Do nothing with respect to A2P.                                                                                  |\n","operationId":"createTnOptionOrder","summary":"Create TN Options order","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/tnOptionOrderRequest"},"responses":{"201":{"$ref":"#/components/responses/tnOptionOrderCreatedResponse"},"400":{"$ref":"#/components/responses/tnOptionOrder400Response"}}}},"/accounts/{accountId}/tnoptions/{orderId}":{"get":{"tags":["TN Options"],"description":"Retrieve information about a TN Options order with specified ID.","operationId":"getTnOptionOrder","summary":"Retrieve TN Options order","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getTnOptionOrderResponse"},"400":{"$ref":"#/components/responses/getTnOptionOrder400Response"}}}},"/accounts/{accountId}/tnoptions/{orderId}/history":{"get":{"tags":["TN Options"],"description":"Retrieve the history information associated with an order.","operationId":"getOrderHistory","summary":"Retrieve TN Options order history","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getTnOptionOrderHistory200Response"},"400":{"$ref":"#/components/responses/badTnOptionRequestError"},"404":{"$ref":"#/components/responses/getTnOptionOrderHistory404Response"}}}},"/accounts/{accountId}/lidbs":{"get":{"tags":["LIDB Orders"],"operationId":"listLidbOrders","summary":"List LIDB orders","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/requiredTnQueryParam"},{"$ref":"#/components/parameters/lastModifiedAfterQueryParam"},{"$ref":"#/components/parameters/modifiedDateFromQueryParam"},{"$ref":"#/components/parameters/modifiedDateToQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/lidbOrderGet200Response"},"400":{"$ref":"#/components/responses/lidbOrderGet400Response"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}},"post":{"tags":["LIDB Orders"],"operationId":"createLidbOrder","summary":"Create LIDB order","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/lidbOrderRequest"},"responses":{"201":{"$ref":"#/components/responses/lidbOrderPostSuccessResponse"},"400":{"$ref":"#/components/responses/lidbOrderPostErrorResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}}},"/accounts/{accountId}/lidbRemovalOrders":{"post":{"tags":["LIDB Orders"],"operationId":"createLidbRemovalOrder","summary":"Create LIDB removal order","description":"This endpoint triggers an overwrite action with our CNAM vendors. The overwrite sets the CNAM value to Unknown for the specified phone number(s).\nThis operation is typically used when the existing CNAM data needs to be deleted.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/lidbRemovalOrderRequest"},"responses":{"201":{"$ref":"#/components/responses/lidbRemovalOrderPostSuccessResponse"},"400":{"$ref":"#/components/responses/lidbRemovalOrderPostErrorResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}}},"/accounts/{accountId}/lidbs/{lidbId}":{"get":{"tags":["LIDB Orders"],"operationId":"readLidbOrder","summary":"Fetch LIDB order status","description":"The descriptive payload for the LIDB Orders query provides a broad range of information about the LIDB Order identified in the URL. Included amongst the information is:      \n  - **errors**: The errors discovered with codes and explanations.\n  - **Various Dates**: Such as order creation, modification, and completion dates.\n  - **processingStatus** (\u0060RECEIVED\u0060, \u0060PROCESSING\u0060, \u0060COMPLETE\u0060, \u0060PARTIAL\u0060, \u0060FAILED\u0060): The overall status of the order.\n  - **lidbPhoneNumberGroups**: List of LidbTnGroup elements that contains a list of TNs with SubscriberInformation, UseType (\u0060RESIDENTIAL\u0060 or \u0060BUSINESS\u0060), and Visibility (\u0060PUBLIC\u0060 or \u0060PRIVATE\u0060).\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/lidbIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/lidbOrderGetIdResponse"},"400":{"$ref":"#/components/responses/lidbOrderGetId400Response"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/lidbOrderGetId404Response"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}}},"/accounts/{accountId}/dldas":{"get":{"tags":["DLDA Orders"],"operationId":"readDldaOrders","summary":"List DLDA orders","description":"Retrieve a list of the DLDA orders that are associated with the account. A maximum of 1,000 orders can be retrieved per request. \nIf no date range or specific query parameter is provided, the order results will be limited to the last two years. \nResults can be sorted by a specified field.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParamDlda"},{"$ref":"#/components/parameters/tnQueryParamDlda"},{"$ref":"#/components/parameters/pageStartIdDlda"},{"$ref":"#/components/parameters/resultsPerPageDlda"},{"$ref":"#/components/parameters/searchTextDlda"}],"responses":{"200":{"$ref":"#/components/responses/dldaOrdersGet200Response"},"400":{"$ref":"#/components/responses/dldaOrderGet400Response"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}},"post":{"tags":["DLDA Orders"],"operationId":"createDldaOrder","summary":"Create DLDA order","description":"Business Listings: Sorted starting from the beginning of the business name. Enter the full business name in the LastName field.Leave the FirstName field blank unless there is a non-sorting part of the name, which can be placed in FirstName. \nExample: For \u0022Joe\u0027s Pizza, the best pizza in town\u0022, use LastName: \u0022Joe\u0027s Pizza\u0022, FirstName: \u0022the best pizza in town\u0022. \nResidential Listings: Sorted by the LastName field as usual.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParamDlda"}],"requestBody":{"$ref":"#/components/requestBodies/dldaCreateOrderRequest"},"responses":{"201":{"$ref":"#/components/responses/dldaOrdersPost201Response"},"400":{"$ref":"#/components/responses/dldaOrdersPost400Response"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}}},"/accounts/{accountId}/dldas/{orderId}":{"get":{"tags":["DLDA Orders"],"operationId":"readDldaOrder","summary":"Fetching DLDA order status","description":"Retrieve information about a DLDA Order with specified ID.","parameters":[{"$ref":"#/components/parameters/accountIdPathParamDlda"},{"$ref":"#/components/parameters/orderIdPathParamDlda"}],"responses":{"200":{"$ref":"#/components/responses/dldaOrderIdGet200Response"},"400":{"$ref":"#/components/responses/dldaOrderGet400ErrorResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/dldaOrderIdGet404ErrorResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}},"put":{"tags":["DLDA Orders"],"operationId":"updateDldaOrder","summary":"Update DLDA order","parameters":[{"$ref":"#/components/parameters/accountIdPathParamDlda"},{"$ref":"#/components/parameters/orderIdPathParamDlda"}],"requestBody":{"$ref":"#/components/requestBodies/dldaUpdateOrderRequest"},"responses":{"200":{"$ref":"#/components/responses/dldaOrdersUpdate200Response"},"400":{"$ref":"#/components/responses/dldaOrdersUpdate400Response"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}}},"/accounts/{accountId}/dldas/{orderId}/history":{"get":{"tags":["DLDA Orders"],"operationId":"readDldaOrderHistory","summary":"Fetch DLDA order history","description":"Retrieve the history information associated with a named DLDA order.  \nThis indicates the various states that the order has passed through, as well as the current state of the order as the last entry.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParamDlda"},{"$ref":"#/components/parameters/orderIdPathParamDlda"}],"responses":{"200":{"$ref":"#/components/responses/dldaOrderIdGetHistory200Response"},"400":{"$ref":"#/components/responses/dldaOrderGet400ErrorResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/dldaOrderIdGetHistory404ErrorResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}}}},"components":{"securitySchemes":{"Basic":{"type":"http","scheme":"basic","description":"Basic authentication is a simple authentication scheme built into the HTTP protocol. To use it, send your HTTP requests with an Authorization header that contains the word Basic followed by a space and a base64-encoded string \u0060username:password\u0060.\nExample: \u0060Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0060"},"Bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Bearer authentication (also called token authentication) is an HTTP authentication scheme that involves security \ntokens called bearer tokens. The name \u201CBearer authentication\u201D can be understood as \u201Cgive access to the bearer\nof this token.\u201D The client must send this token in the \u0060Authorization\u0060 header when making requests to\nprotected resources.\n\n- Example: \u0060Authorization: Bearer \u003Ctoken\u003E\u0060\n\nWhere \u0060\u003Ctoken\u003E\u0060 should be replaced with the token string without angle brackets.\n\nFor more information, see the following guide: [Credentials](https://dev.bandwidth.com/docs/account/credentials/management)"}},"parameters":{"accountIdPathParam":{"name":"accountId","in":"path","required":true,"schema":{"type":"integer","example":1234567},"description":"The unique account associated with the order."},"orderIdPathParam":{"name":"orderId","description":"Order ID is the unique identifier for the TN Options order. It is a UUID that is generated by Bandwidth when\nthe order is created. It can be used to retrieve the details of a specific TN Options order.\n","in":"path","required":true,"schema":{"type":"string"},"example":"bf1305b8-8998-1111-2222-51ba3ce52d4e"},"statusQueryParam":{"name":"status","description":"The status of the TN Options order being searched for.","in":"query","required":false,"schema":{"type":"string","enum":["RECEIVED","PROCESSING","COMPLETE","PARTIAL","FAILED"]},"example":"PROCESSING"},"tnQueryParam":{"name":"phoneNumber","description":"A phone number that is referenced in the order.\n","in":"query","required":false,"schema":{"type":"string"},"example":19199918388},"customerOrderIdQueryParam":{"name":"customerOrderId","description":"\u003Cb\u003E*\u003C/b\u003E The Customer Order ID is an ID assigned by the account owner to provide a reference number for the TN Options order.\n","in":"query","required":false,"schema":{"type":"string"},"example":"ABCCorp12345"},"modifiedDateFromQueryParam":{"name":"modifiedDateFrom","description":"For Date-based searches, the starting date of a date range (inclusive) that will be used to find TN Options\norders that were modified within the date range. It is in the form yyyy-MM-dd.\n","in":"query","required":false,"schema":{"type":"string"},"example":"2013-10-22"},"modifiedDateToQueryParam":{"name":"modifiedDateTo","description":"For Date-based searches, the ending date of a date range (inclusive) that will be used to find TN Options orders\nthat were modified within the date range.  It is in the form yyyy-MM-dd.\n","in":"query","required":false,"schema":{"type":"string"},"example":"2013-10-25"},"createdDateFromQueryParam":{"name":"createdDateFrom","description":"Checks the order\u0027s creation date against this value. Orders that have a creation date after this date will\nbe included. Format is yyyy-MM-dd.\n","in":"query","required":false,"schema":{"type":"string"},"example":"2013-10-22"},"createdDateToQueryParam":{"name":"createdDateTo","description":"Checks the order\u0027s creation date against this value. Orders that have a creation date before this date will\nbe included. Format is yyyy-MM-dd.\n","in":"query","required":false,"schema":{"type":"string"},"example":"2013-10-25"},"lastModifiedAfterQueryParam":{"name":"lastModifiedAfter","description":"Checks the order\u0027s last modified date against this value. Orders that have a modification date after this date\nwill be included. Format is yyyy-MM-dd.\n","in":"query","required":false,"schema":{"type":"string"},"example":"2013-10-25"},"lastModifiedByQueryParam":{"name":"lastModifiedBy","description":"This is the user-name of the user that last modified the TN Options order.","in":"query","required":false,"schema":{"type":"string"},"example":"smckinnon"},"orderIdFragmentQueryParam":{"name":"orderIdFragment","description":"\u003Cb\u003E*\u003C/b\u003E This search parameter represents the internal Bandwidth App API ID that has been assigned to\nthe TN Options order. This parameter is the first few characters of the internal ID - \nthe entire ID does not need to be specified.\n","in":"query","required":false,"schema":{"type":"string"},"example":"ed1c0bed-e2"},"orderIdDetailsQueryParam":{"name":"orderDetails","description":"If set to true, a list of order details will be displayed instead the summary information.","in":"query","required":false,"schema":{"type":"boolean"}},"lidbIdPathParam":{"name":"lidbid","in":"path","required":true,"description":"LIDB order ID","schema":{"type":"string"}},"requiredTnQueryParam":{"name":"phoneNumber","in":"query","required":true,"description":"A phone Number that is referenced in the order\n","schema":{"type":"string"},"example":19199918388},"accountIdPathParamDlda":{"description":"User\u0027s account ID.","example":1234567,"in":"path","name":"accountId","required":true,"schema":{"type":"string"}},"orderIdPathParamDlda":{"name":"orderId","in":"path","description":"DLDA order id","required":true,"schema":{"type":"string"},"example":"f179237b-c1cb-449d-9590-aaa9d0bf3ca4"},"tnQueryParamDlda":{"name":"phoneNumber","description":"A phone Number that is referenced in the order","in":"query","required":true,"schema":{"type":"string"},"example":19199918388},"resultsPerPageDlda":{"description":"The number of items to include in a page.","example":5000,"in":"query","name":"size","required":false,"schema":{"default":500,"type":"integer"}},"pageStartIdDlda":{"description":"An ID of the first element in a page.  This value will indicate the first value, not the page number, of the initial entry in the page being requested.\u003Cbr\u003E It can be an id of address. The initial page is tagged with the ID \u00601\u0060.","example":3,"in":"query","name":"page","required":false,"schema":{"default":1,"type":"string"}},"searchTextDlda":{"description":"The text to search simultaneously through e911locationIds.","example":"name","in":"query","name":"suggestions","required":false,"schema":{"type":"string"}}},"schemas":{"tnOptionOrderJsonRequestVcpDisabled":{"type":"object","title":"VCP Disabled TN Options Order Request","properties":{"customerOrderId":{"type":"string","description":"Optional value for ID set by customer. Only alphanumeric values, dashes and spaces are allowed.","maxLength":255},"tnOptionGroups":{"type":"array","description":"Each group contains a list of telephone numbers and set of TN options you want to assign to all TNs in the list","items":{"$ref":"#/components/schemas/tnOptionGroupJsonVcpDisabledRequest"}}}},"tnOptionOrderJsonRequestVcpEnabled":{"type":"object","title":"VCP Enabled TN Options Order Request","properties":{"customerOrderId":{"type":"string","description":"Optional value for ID set by customer. Only alphanumeric values, dashes and spaces are allowed.","maxLength":255},"tnOptionGroups":{"type":"array","description":"Each group contains list of telephone numbers and set of TN Options you want to assign to all TNs in the list","items":{"$ref":"#/components/schemas/tnOptionGroupJsonVcpEnabled"}}}},"tnOptionGroupJsonVcpEnabled":{"type":"object","properties":{"portOutPasscode":{"anyOf":[{"title":"Custom Passcode","minLength":4,"maxLength":10,"pattern":"^[a-zA-Z0-9]\u002B$","description":"Custom alphanumeric value (4-10 chars).\n"},{"title":"Enum Values","type":"string","enum":["UNCHANGED","SYSTEM_DEFAULT"]}]},"protected":{"type":"string","enum":[true,false,"UNCHANGED","SYSTEM_DEFAULT"]},"sms":{"type":"string","enum":["ON","OFF","UNCHANGED","SYSTEM_DEFAULT"]},"a2pSettings":{"$ref":"#/components/schemas/a2pSettingsJson"},"nnid":{"anyOf":[{"title":"Custom Value","type":"string","minLength":1,"maxLength":64},{"title":"Enum Values","type":"string","enum":["UNCHANGED","SYSTEM_DEFAULT"]}]},"phoneNumbers":{"type":"array","items":{"type":"string","description":"E-164 TNs"}}}},"tnOptionGroupJsonVcpDisabledRequest":{"type":"object","properties":{"numberFormat":{"type":"string","enum":["10DIGIT","11DIGIT","E164","UNCHANGED","SYSTEM_DEFAULT"]},"rpidFormat":{"type":"string","enum":["10DIGIT","11DIGIT","E164","UNCHANGED","SYSTEM_DEFAULT"]},"rewriteUser":{"anyOf":[{"type":"string","title":"Enum Values","enum":["UNCHANGED","SYSTEM_DEFAULT"]},{"type":"string","title":"Custom Value","description":"This field must be a string up to 30 characters long, containing only letters (a-z, A-Z), digits (0-9),\nand the following symbols: \u002B, @, :, ., (, ), _, ;, ?, =, -. No spaces or other special characters are allowed.","pattern":"^[a-zA-Z0-9\u002B@:.()_;?=-]{0,30}$"}]},"callForward":{"anyOf":[{"type":"string","title":"Enum Values","enum":["UNCHANGED","SYSTEM_DEFAULT"]},{"type":"string","title":"Custom Value","pattern":"(\\\u002B1[2-9][0-9]{2}[2-9]{6}|[2-9][0-9]{5,17})","description":"This field must be a string representing a valid call forwarding number. It permits either:\nA US number in the format \u002B1NXXNXXXXXX (where N is 2-9, X is 0-9).\nA number with 6 to 18 digits, starting with a digit 2-9."}]},"callingNameDisplay":{"type":"string","enum":["ON","OFF","UNCHANGED","SYSTEM_DEFAULT"]},"portOutPasscode":{"anyOf":[{"title":"Custom Passcode","type":"string","minLength":4,"maxLength":10,"pattern":"^[a-zA-Z0-9]\u002B$","description":"Custom alphanumeric value (4-10 chars).\n"},{"title":"Enum Values","type":"string","enum":["UNCHANGED","SYSTEM_DEFAULT"],"description":"Special Values"}]},"protected":{"type":"string","enum":[true,false,"UNCHANGED","SYSTEM_DEFAULT"]},"sms":{"type":"string","enum":["ON","OFF","UNCHANGED","SYSTEM_DEFAULT"]},"finalDestinationUri":{"anyOf":[{"title":"Custom Value","type":"string","minLength":10,"maxLength":60,"description":"a 10 digit telephone number or a SIP URI ( without the sip: prefix ) in the form address-string@host IP:port, where the host IP is an IPv4 address in the standard numerical n.n.n.n. form, and the port is numeric, and optional containing [a-z,A-Z,0-9], with \u0027:\u0027, \u0027.\u0027 and \u0027@\u0027 to delimit the components of the overall string, and less than 60 characters long.\n"},{"title":"Enum Values","type":"string","enum":["UNCHANGED","SYSTEM_DEFAULT"]}]},"a2pSettings":{"$ref":"#/components/schemas/a2pSettingsJson"},"nnid":{"anyOf":[{"title":"Custom Value","type":"string","minLength":1,"maxLength":64},{"title":"Enum Values","type":"string","enum":["UNCHANGED","SYSTEM_DEFAULT"]}]},"espid":{"anyOf":[{"title":"Custom Value","type":"string","minLength":1,"maxLength":64},{"title":"Enum Values","type":"string","enum":["UNCHANGED","SYSTEM_DEFAULT"]}]},"originationRoutePlan":{"$ref":"#/components/schemas/originationRoutePlanJson"},"pindropEnabled":{"type":"string","enum":[true,false]},"callVerificationEnabled":{"type":"string","enum":[true,false]},"phoneNumbers":{"type":"array","items":{"type":"string","description":"E164 TNs"}}}},"tnOptionGroupJsonVcpDisabledResponse":{"type":"object","properties":{"numberFormat":{"type":"string","enum":["10DIGIT","11DIGIT","E164","UNCHANGED","SYSTEM_DEFAULT"]},"rpidFormat":{"type":"string","enum":["10DIGIT","11DIGIT","E164","UNCHANGED","SYSTEM_DEFAULT"]},"rewriteUser":{"anyOf":[{"type":"string","title":"Enum Values","enum":["UNCHANGED","SYSTEM_DEFAULT"]},{"type":"string","title":"Custom Value","description":"This field must be a string up to 30 characters long, containing only letters (a-z, A-Z), digits (0-9),\nand the following symbols: \u002B, @, :, ., (, ), _, ;, ?, =, -. No spaces or other special characters are allowed.","pattern":"^[a-zA-Z0-9\u002B@:.()_;?=-]{0,30}$"}]},"callForward":{"anyOf":[{"type":"string","title":"Enum Values","enum":["UNCHANGED","SYSTEM_DEFAULT"]},{"type":"string","title":"Custom Value","pattern":"(\\\u002B1[2-9][0-9]{2}[2-9]{6}|[2-9][0-9]{5,17})","description":"This field must be a string representing a valid call forwarding number. It permits either:\nA US number in the format \u002B1NXXNXXXXXX (where N is 2-9, X is 0-9).\nA number with 6 to 18 digits, starting with a digit 2-9."}]},"callingNameDisplay":{"type":"string","enum":["ON","OFF","UNCHANGED","SYSTEM_DEFAULT"]},"portOutPasscode":{"anyOf":[{"title":"Custom Passcode","type":"string","minLength":4,"maxLength":10,"pattern":"^[a-zA-Z0-9]\u002B$","description":"Custom alphanumeric value (4-10 chars).\n"},{"title":"Enum Values","type":"string","enum":["UNCHANGED","SYSTEM_DEFAULT"],"description":"Special Values"}]},"protected":{"type":"string","enum":[true,false,"UNCHANGED","SYSTEM_DEFAULT"]},"sms":{"type":"string","enum":["ON","OFF","UNCHANGED","SYSTEM_DEFAULT"]},"finalDestinationUri":{"anyOf":[{"title":"Custom Value","type":"string","minLength":10,"maxLength":60,"description":"a 10 digit telephone number or a SIP URI ( without the sip: prefix ) in the form address-string@host IP:port, where the host IP is an IPv4 address in the standard numerical n.n.n.n. form, and the port is numeric, and optional containing [a-z,A-Z,0-9], with \u0027:\u0027, \u0027.\u0027 and \u0027@\u0027 to delimit the components of the overall string, and less than 60 characters long.\n"},{"title":"Enum Values","type":"string","enum":["UNCHANGED","SYSTEM_DEFAULT"]}]},"a2pSettings":{"$ref":"#/components/schemas/a2pSettingsJson"},"nnid":{"anyOf":[{"title":"Custom Value","type":"string","minLength":1,"maxLength":64},{"title":"Enum Values","type":"string","enum":["UNCHANGED","SYSTEM_DEFAULT"]}]},"espid":{"anyOf":[{"title":"Custom Value","type":"string","minLength":1,"maxLength":64},{"title":"Enum Values","type":"string","enum":["UNCHANGED","SYSTEM_DEFAULT"]}]},"originationRoutePlan":{"$ref":"#/components/schemas/originationRoutePlanJson"},"pindropEnabled":{"type":"string","enum":[true,false]},"callVerificationEnabled":{"type":"string","enum":[true,false]},"phoneNumbers":{"type":"array","items":{"type":"string","description":"E164 TNs"}}}},"originationRoutePlanJson":{"type":"object","description":"The originationRoutePlan element consists of an action and a list of prioritized and weighted routes that tell Bandwidth where to send phone calls to phone numbers associated with the route plan.","properties":{"id":{"type":"string","format":"uuid"},"routes":{"type":"array","items":{"$ref":"#/components/schemas/originationRoutePayloadJson"}},"action":{"type":"string","enum":["UNCHANGED","OFF","AS_SPECIFIED"]}}},"originationRoutePayloadJson":{"type":"object","properties":{"name":{"description":"A friendly name for a route. This is not used for any back-end call routing.","type":"string"},"endpoint":{"type":"string","description":"Must be one of the following: - a NANP 10-digit telephone number - a SIP URI - an IPv4 address - a Fully Qualified Domain Name (FQDN)\n"},"priority":{"type":"integer","format":"int32"},"weight":{"type":"integer","format":"int32"},"endpointType":{"type":"string","enum":["TN","IPv4","SIP","FQDN"]}}},"a2pSettingsJson":{"type":"object","properties":{"campaignId":{"type":"string","minLength":1,"maxLength":64},"action":{"type":"string","enum":["UNCHANGED","SYSTEM_DEFAULT","OFF","DELETE","AS_SPECIFIED"]}}},"tnOptionOrderJsonResponse":{"type":"object","properties":{"orderId":{"type":"string"},"accountId":{"type":"integer","format":"int32"},"lastModifiedDate":{"type":"string"},"createdByUser":{"type":"string"},"customerOrderId":{"type":"string"},"orderCreateDate":{"type":"string"},"processingStatus":{"type":"string","enum":["RECEIVED","PROCESSING","COMPLETE","PARTIAL","FAILED"]},"tnOptionGroups":{"type":"array","items":{"$ref":"#/components/schemas/tnOptionGroupJsonVcpDisabledResponse"}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/tnOptionOrderErrorJson"}},"warnings":{"type":"array","items":{"$ref":"#/components/schemas/tnOptionOrderWarningPayloadJson"}}}},"tnOptionOrderJsonResponsePayload":{"type":"object","title":"TnOptionOrder","properties":{"orderId":{"type":"string"},"accountId":{"type":"integer","format":"int32"},"lastModifiedDate":{"type":"string"},"createdByUser":{"type":"string"},"customerOrderId":{"type":"string"},"orderCreateDate":{"type":"string"},"processingStatus":{"type":"string","enum":["RECEIVED","PROCESSING","COMPLETE","PARTIAL","FAILED"]},"tnOptionGroups":{"type":"array","items":{"$ref":"#/components/schemas/tnOptionGroupJsonVcpDisabledResponse"}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/tnOptionOrderErrorJson"}},"warnings":{"type":"array","items":{"$ref":"#/components/schemas/tnOptionOrderWarningPayloadJson"}}}},"tnOptionOrderErrorJson":{"type":"object","title":"Error","properties":{"code":{"type":"integer","format":"int32"},"description":{"type":"string"},"phoneNumber":{"type":"string"}}},"tnOptionOrderWarningPayloadJson":{"type":"object","title":"Warning","properties":{"phoneNumber":{"type":"string"},"description":{"type":"string"}}},"tnOptionOrderErrorResponseJson":{"type":"object","properties":{"code":{"description":"Numeric designation of corresponding error","type":"integer"},"description":{"description":"Detailed explanation about error ","type":"string"}}},"tnOptionOrderReportSummaryJsonResponse":{"type":"object","title":"Summary Response","properties":{"totalCount":{"type":"integer"},"orders":{"type":"array","title":"tnOptionOrderSummary","items":{"$ref":"#/components/schemas/orderSummaryJson"}}}},"tnOptionOrderReportDetailedJsonResponse":{"type":"object","title":"Detailed Response","properties":{"totalCount":{"type":"integer"},"orders":{"type":"array","items":{"$ref":"#/components/schemas/tnOptionOrderJsonResponsePayload"}}}},"orderSummaryJson":{"type":"object","properties":{"accountId":{"type":"integer"},"phoneNumberCount":{"type":"integer"},"userId":{"type":"string"},"lastModifiedDate":{"type":"string"},"orderDate":{"type":"string"},"orderType":{"type":"string"},"orderStatus":{"type":"string"},"orderId":{"type":"string"}}},"paginationLinks":{"type":"object","title":"Links","properties":{"first":{"type":"string"},"next":{"type":"string"},"previous":{"type":"string"},"last":{"type":"string"}}},"note":{"type":"object","properties":{"Note":{"type":"object","properties":{"Id":{"description":"This is the Order Note identifier that is automatically generated by system.","type":"string"},"UserId":{"description":"The UserId is authenticated for access to the network via a username string.","type":"string"},"Description":{"description":"This is the Order Note description.","type":"string"},"LastDateModifier":{"description":"This is the date when Order Note was last modified.","type":"string"}}}}},"noteJson":{"type":"object","properties":{"note":{"type":"object","properties":{"id":{"description":"This is the Order Note identifier that is automatically generated by system.","type":"string"},"userId":{"description":"The userId is authenticated for access to the network via a username string.","type":"string"},"description":{"description":"This is the Order Note description.","type":"string"},"lastDateModified":{"description":"This is the date when Order Note was last modified.","type":"string"}}}}},"telephoneNumberDetails":{"type":"object","properties":{"States":{"type":"array","xml":{"wrapped":true},"items":{"$ref":"#/components/schemas/stateWithCount"}},"RateCenters":{"type":"array","xml":{"wrapped":true},"items":{"$ref":"#/components/schemas/rateCenterWithCount"}},"Cities":{"type":"array","xml":{"wrapped":true},"items":{"$ref":"#/components/schemas/cityWithCount"}},"Tiers":{"type":"array","xml":{"wrapped":true},"items":{"$ref":"#/components/schemas/tiers"}},"Vendors":{"type":"array","xml":{"wrapped":true},"items":{"$ref":"#/components/schemas/vendors"}}}},"stateWithCount":{"type":"object","properties":{"State":{"type":"string"},"Count":{"type":"integer"}}},"rateCenterWithCount":{"type":"object","properties":{"RateCenter":{"type":"string"},"Count":{"type":"integer"}}},"cityWithCount":{"type":"object","properties":{"City":{"type":"string"},"Count":{"type":"integer"}}},"tiers":{"type":"object","properties":{"Tier":{"type":"string"},"Count":{"type":"integer"}}},"vendors":{"type":"object","properties":{"VendorName":{"type":"string"},"VendorId":{"type":"integer"},"Count":{"type":"integer"}}},"phoneNumberDetails":{"type":"object","properties":{"states":{"type":"array","xml":{"wrapped":true},"items":{"$ref":"#/components/schemas/stateWithCountJson"}},"rateCenters":{"type":"array","xml":{"wrapped":true},"items":{"$ref":"#/components/schemas/rateCenterWithCountJson"}},"cities":{"type":"array","xml":{"wrapped":true},"items":{"$ref":"#/components/schemas/cityWithCountJson"}},"tiers":{"type":"array","xml":{"wrapped":true},"items":{"$ref":"#/components/schemas/tiersJson"}},"vendors":{"type":"array","xml":{"wrapped":true},"items":{"$ref":"#/components/schemas/vendorsJson"}}}},"stateWithCountJson":{"type":"object","properties":{"state":{"type":"string"},"count":{"type":"integer"}}},"rateCenterWithCountJson":{"type":"object","properties":{"rateCenter":{"type":"string"},"count":{"type":"integer"}}},"cityWithCountJson":{"type":"object","properties":{"city":{"type":"string"},"count":{"type":"integer"}}},"tiersJson":{"type":"object","properties":{"tier":{"type":"string"},"count":{"type":"integer"}}},"vendorsJson":{"type":"object","properties":{"vendorName":{"type":"string"},"vendorId":{"type":"integer"},"count":{"type":"integer"}}},"tnOptionOrderReportSummaryResponse":{"type":"object","title":"Summary Response","properties":{"TnOptionOrderReportResponse":{"type":"object","properties":{"TnOptionOrders":{"type":"object","properties":{"TotalCount":{"type":"integer"},"TnOptionOrderSummary":{"$ref":"#/components/schemas/orderSummary"}}}}}}},"tnOptionOrderReportDetailedResponse":{"type":"object","title":"Detailed Response","properties":{"TnOptionOrderReportResponse":{"type":"object","properties":{"TnOptionOrders":{"type":"object","properties":{"TotalCount":{"type":"integer"},"TnOptionOrder":{"$ref":"#/components/schemas/tnOptionOrderResponsePayload"}}}}}}},"retrieveTnOptionOrderResponse":{"type":"object","title":"Retrieve TN Options Order Response","properties":{"TnOptionOrder":{"$ref":"#/components/schemas/tnOptionOrderResponsePayload"}}},"retrieveTnOptionOrderJsonResponse":{"type":"object","title":"Retrieve TN Options Order Response","$ref":"#/components/schemas/tnOptionOrderJsonResponsePayload"},"tnOptionOrderResponsePayload":{"type":"object","title":"TnOptionOrder","properties":{"OrderId":{"type":"string"},"AccountId":{"type":"integer","format":"int32"},"LastModifiedDate":{"type":"string"},"CreatedByUser":{"type":"string"},"CustomerOrderId":{"type":"string"},"OrderCreateDate":{"type":"string"},"ProcessingStatus":{"type":"string","enum":["RECEIVED","PROCESSING","COMPLETE","PARTIAL","FAILED"]},"TnOptionGroups":{"type":"object","properties":{"TnOptionGroup":{"$ref":"#/components/schemas/tnOptionGroupVcpDisabledXml"}}},"ErrorList":{"type":"array","items":{"$ref":"#/components/schemas/tnOptionOrderError"}},"Warnings":{"type":"array","items":{"$ref":"#/components/schemas/tnOptionOrderWarningPayload"}}}},"tnOptionOrderError":{"type":"object","title":"Error","properties":{"Code":{"type":"integer","format":"int32"},"Description":{"type":"string"},"TelephoneNumber":{"type":"string"}}},"tnOptionOrderWarningPayload":{"type":"object","title":"Warning","properties":{"TelephoneNumber":{"type":"string"},"Description":{"type":"string"}}},"tnOptionGroupVcpEnabledXml":{"type":"object","properties":{"PortOutPasscode":{"anyOf":[{"title":"Custom Passcode","type":"string","minLength":4,"maxLength":10,"pattern":"^[a-zA-Z0-9]\u002B$","description":"Custom alphanumeric value (4-10 chars).\n"},{"title":"Enum Values","type":"string","enum":["UNCHANGED","SYSTEM_DEFAULT"]}]},"Protected":{"type":"string","enum":[true,false,"UNCHANGED","SYSTEM_DEFAULT"]},"Sms":{"type":"string","enum":["ON","OFF","UNCHANGED"]},"A2pSettings":{"$ref":"#/components/schemas/a2pSettings"},"NNID":{"anyOf":[{"title":"Custom Value","type":"string","minLength":1,"maxLength":64},{"title":"Enum Values","type":"string","enum":["UNCHANGED","SYSTEM_DEFAULT"]}]},"TelephoneNumbers":{"type":"array","items":{"type":"string","description":"10-digit TN","xml":{"name":"TelephoneNumber"}}}}},"tnOptionGroupVcpDisabledXml":{"type":"object","properties":{"NumberFormat":{"type":"string","enum":["10DIGIT","11DIGIT","E164","UNCHANGED","SYSTEM_DEFAULT"]},"RPIDFormat":{"type":"string","enum":["10DIGIT","11DIGIT","E164","UNCHANGED","SYSTEM_DEFAULT"]},"RewriteUser":{"anyOf":[{"type":"string","title":"Enum Values","enum":["UNCHANGED","SYSTEM_DEFAULT"]},{"type":"string","title":"Custom Value","description":"This field must be a string up to 30 characters long, containing only letters (a-z, A-Z), digits (0-9),\nand the following symbols: \u002B, @, :, ., (, ), _, ;, ?, =, -. No spaces or other special characters are allowed.","pattern":"^[a-zA-Z0-9\u002B@:.()_;?=-]{0,30}$"}]},"CallForward":{"anyOf":[{"type":"string","title":"Enum Values","enum":["UNCHANGED","SYSTEM_DEFAULT"]},{"type":"string","title":"Custom Value","pattern":"(\\\u002B1[2-9][0-9]{2}[2-9]{6}|[2-9][0-9]{5,17})","description":"This field must be a string representing a valid call forwarding number. It permits either:\nA US number in the format \u002B1NXXNXXXXXX (where N is 2-9, X is 0-9).\nA number with 6 to 18 digits, starting with a digit 2-9."}]},"CallingNameDisplay":{"type":"string","enum":["ON","OFF","UNCHANGED","SYSTEM_DEFAULT"]},"PortOutPasscode":{"anyOf":[{"title":"Custom Passcode","type":"string","minLength":4,"maxLength":10,"pattern":"^[a-zA-Z0-9]\u002B$","description":"Custom alphanumeric value (4-10 chars).\n"},{"title":"Enum Values","type":"string","enum":["UNCHANGED","SYSTEM_DEFAULT"]}]},"Protected":{"type":"string","enum":[true,false,"UNCHANGED","SYSTEM_DEFAULT"]},"Sms":{"type":"string","enum":["ON","OFF","UNCHANGED","SYSTEM_DEFAULT"]},"FinalDestinationURI":{"anyOf":[{"title":"Custom Value","type":"string","minLength":10,"maxLength":60,"description":"a 10 digit telephone number or a SIP URI ( without the sip: prefix ) in the form address-string@host IP:port, where the host IP is an IPv4 address in the standard numerical n.n.n.n. form, and the port is numeric, and optional containing [a-z,A-Z,0-9], with \u0027:\u0027, \u0027.\u0027 and \u0027@\u0027 to delimit the components of the overall string, and less than 60 characters long.\n"},{"title":"Enum Values","type":"string","enum":["UNCHANGED","SYSTEM_DEFAULT"]}]},"A2pSettings":{"$ref":"#/components/schemas/a2pSettings"},"NNID":{"anyOf":[{"title":"Custom Value","type":"string","minLength":1,"maxLength":64},{"title":"Enum Values","type":"string","enum":["UNCHANGED","SYSTEM_DEFAULT"]}]},"ESPID":{"anyOf":[{"title":"Custom Value","type":"string","minLength":1,"maxLength":64},{"title":"Enum Values","type":"string","enum":["UNCHANGED","SYSTEM_DEFAULT"]}]},"OriginationRoutePlan":{"$ref":"#/components/schemas/originationRoutePlan"},"PindropEnabled":{"type":"string","enum":[true,false,"UNCHANGED","SYSTEM_DEFAULT"]},"CallVerificationEnabled":{"type":"string","enum":[true,false]},"TelephoneNumbers":{"type":"array","items":{"type":"string","description":"10-digit TN","xml":{"name":"TelephoneNumber"}}}}},"orderSummary":{"type":"object","properties":{"AccountId":{"type":"integer"},"UserId":{"type":"string"},"OrderId":{"type":"string"},"LastModifiedDate":{"type":"string"},"CountOfTNs":{"type":"integer"},"LastModifiedNote":{"$ref":"#/components/schemas/note"},"SuppCount":{"type":"integer"},"OrderType":{"type":"string"},"CustomerOrderId":{"type":"string"},"OrderDate":{"type":"string"},"OrderStatus":{"type":"string"},"TelephoneNumberDetails":{"$ref":"#/components/schemas/telephoneNumberDetails"}}},"tnOptionOrderReportErrorResponse":{"type":"object","title":"TnOptionOrderReportResponse","properties":{"TnOptionOrderReportResponse":{"$ref":"#/components/schemas/responseStatus"}}},"tnOptionOrderReportErrorResponseWithoutErrorCode":{"type":"object","title":"TnOptionOrderReportResponseWithoutErrorCode","properties":{"TnOptionOrderReportResponse":{"$ref":"#/components/schemas/responseStatusWithoutErrorCode"}}},"responseStatus":{"type":"object","title":"ResponseStatus","properties":{"ResponseStatus":{"$ref":"#/components/schemas/errorCodeAndDescription"}}},"responseStatusJson":{"type":"object","properties":{"errorCode":{"description":"Numeric designation of corresponding error","type":"integer"},"description":{"description":"Detailed explanation about error","type":"string"}}},"responseStatusWithoutErrorCode":{"type":"object","title":"ResponseStatus","properties":{"ResponseStatus":{"$ref":"#/components/schemas/description"}}},"description":{"type":"object","properties":{"Description":{"description":"Detailed explanation about error","type":"string"}}},"errorCodeAndDescription":{"type":"object","properties":{"ErrorCode":{"description":"Numeric designation of corresponding error","type":"integer"},"Description":{"description":"Detailed explanation about error ","type":"string"}}},"tnOptionOrderReportErrorResponseJson":{"type":"object","title":"tnOptionOrderReportResponse","properties":{"code":{"description":"Numeric designation of corresponding error","type":"integer"},"description":{"description":"Detailed explanation about error","type":"string"}}},"tnOptionOrderReportErrorResponseWithoutErrorCodeJson":{"type":"object","properties":{"description":{"description":"Detailed explanation about error","type":"string"}}},"getTnOptionOrderHistoryResponse":{"type":"object","properties":{"OrderHistoryWrapper":{"type":"object","properties":{"OrderHistory":{"$ref":"#/components/schemas/orderHistory"}}}}},"orderHistory":{"type":"object","properties":{"OrderDate":{"description":"This is the date/time when the order history entry was created.","type":"string"},"Note":{"description":"This is the order note that accompanied the order history entry.","type":"string"},"Author":{"description":"This is the user that initiated the event that caused the order history to be updated.","type":"string"},"Difference":{"description":"SUPP changes difference.","type":"string"},"Status":{"description":"This is the state that the order was in when the order history event occurred.","type":"string"}}},"orderHistoryJson":{"type":"object","properties":{"orderHistory":{"type":"array","items":{"$ref":"#/components/schemas/orderHistoryEntryJson"}}}},"orderHistoryEntryJson":{"type":"object","properties":{"orderDate":{"description":"This is the date/time when the order history entry was created.","type":"string","format":"date-time"},"note":{"description":"This is the order note that accompanied the order history entry.","type":"string"},"author":{"description":"This is the user that initiated the event that caused the order history to be updated.","type":"string"},"difference":{"description":"SUPP changes difference.","type":"string"},"status":{"$ref":"#/components/schemas/processingStatus"}}},"processingStatus":{"type":"string","description":"This is the state that the order was in when the order history event occurred.","enum":["RECEIVED","PROCESSING","PARTIAL","COMPLETE","FAILED"]},"originationRoutePlan":{"type":"object","description":"The OriginationRoutePlan element consists of an action and a list of prioritized and weighted routes that tell Bandwidth where to send phone calls to phone numbers associated with the route plan.","properties":{"Id":{"type":"string","format":"uuid"},"Route":{"type":"array","items":{"$ref":"#/components/schemas/originationRoutePayload"}},"Action":{"type":"string","enum":["UNCHANGED","OFF","AS_SPECIFIED"]}}},"originationRoutePayload":{"type":"object","properties":{"Name":{"description":"A friendly name for a route.  This is not used for any back-end call routing.","type":"string"},"Endpoint":{"type":"string","description":"Must be one of the following: - a NANP 10-digit telephone number - a SIP URI - an IPv4 address - a Fully Qualified Domain Name (FQDN)\n"},"Priority":{"type":"integer","format":"int32"},"Weight":{"type":"integer","format":"int32"},"EndpointType":{"type":"string","enum":["TN","IPv4","SIP","FQDN"]}}},"a2pSettings":{"type":"object","properties":{"CampaignId":{"type":"string","minLength":1,"maxLength":64},"Action":{"type":"string","enum":["UNCHANGED","SYSTEM_DEFAULT","OFF","DELETE","AS_SPECIFIED"]}}},"tnOptionOrderXmlRequestVcpEnabled":{"type":"object","title":"VCP Enabled TN Options Order Request","properties":{"TnOptionOrder":{"$ref":"#/components/schemas/tnOptionOrderXmlPayloadVcpEnabled"}}},"tnOptionOrderXmlPayloadVcpEnabled":{"type":"object","title":"TnOptionOrder","properties":{"CustomerOrderId":{"type":"string","description":"Optional value for ID set by customer. Only alphanumeric values, dashes and spaces are allowed","maxLength":40},"TnOptionGroups":{"description":"Each group contains list of telephone numbers and set of TN options you want to assign to all TNs in the list","type":"object","properties":{"TnOptionGroup":{"$ref":"#/components/schemas/tnOptionGroupVcpEnabledXml"}}}}},"tnOptionOrderXmlRequestVcpDisabled":{"type":"object","title":"VCP Disabled TN Options Order Request","properties":{"TnOptionOrder":{"$ref":"#/components/schemas/tnOptionOrderXmlPayloadVcpDisabled"}}},"tnOptionOrderXmlPayloadVcpDisabled":{"type":"object","title":"TnOptionOrder","properties":{"CustomerOrderId":{"type":"string","description":"Optional value for ID set by customer. Only alphanumeric values, dashes and spaces are allowed.","maxLength":40},"TnOptionGroups":{"description":"Each group contains list of telephone numbers and set of TN options you want to assign to all TNs in the list.","type":"object","properties":{"TnOptionGroup":{"$ref":"#/components/schemas/tnOptionGroupVcpDisabledXml"}}}}},"tnOptionOrderResponse":{"type":"object","properties":{"TnOptionOrderResponse":{"type":"object","properties":{"TnOptionOrder":{"$ref":"#/components/schemas/tnOptionOrderResponsePayload"}}}}},"tnOptionOrderErrorResponse":{"type":"object","properties":{"TnOptionOrderResponse":{"$ref":"#/components/schemas/responseStatus"}}},"genericError":{"title":"Generic Error","type":"object","properties":{"data":{"type":"object","nullable":true},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}},"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}}},"required":["data","errors","links"]},"error":{"title":"Error","type":"object","properties":{"id":{"type":"string","description":"A unique identifier for this particular instance of this problem","example":"optional-error-id"},"type":{"$ref":"#/components/schemas/errorType"},"description":{"$ref":"#/components/schemas/errorDescription"},"code":{"$ref":"#/components/schemas/code"},"meta":{"type":"object","description":"A meta object containing application-specific information or non-standard metadata about the error"},"source":{"$ref":"#/components/schemas/errorSource"}},"required":["code","description"]},"link":{"title":"Link","description":"The URI link details to self or a related resource with the relation","type":"object","properties":{"href":{"type":"string","description":"URI of the link","example":"/resource/uri"},"rel":{"type":"string","description":"Specifies the relationship between this link and the resource","example":"self"},"method":{"type":"string","description":"HTTP method to be used","example":"GET"}},"required":["href","rel","method"]},"code":{"type":"integer","format":"int32","description":"An application-specific error code for services with extensive error scenarios to supplement \u0060description\u0060","minimum":4,"example":51130},"errorDescription":{"type":"string","description":"A human-readable explanation that SHOULD be specific to this occurrence of the problem","example":"There was an issue with a field in your request body"},"errorType":{"type":"string","description":"A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem","example":"REQUEST_ERROR"},"errorSource":{"title":"Error Source","type":"object","properties":{"parameter":{"type":"string","description":"A string indicating which URI query parameter caused the error","example":"someParameter"},"field":{"type":"string","description":"A string indicating which request body field caused the error","example":"someField"},"header":{"type":"string","description":"A string indicating which header field caused the error","example":"someHeader"},"reference":{"type":"string","description":"A string that references a resource ID or path to the resource (or non-existent resource) causing the error","example":"/some/reference"}}},"jsonLidbOrderHistoryResponse":{"properties":{"totalCount":{"type":"integer"},"orders":{"items":{"$ref":"#/components/schemas/jsonOrderSummary"},"type":"array"}},"type":"object"},"jsonOrderSummary":{"properties":{"accountId":{"type":"integer"},"phoneNumberCount":{"type":"integer"},"userId":{"type":"string"},"lastModifiedDate":{"type":"string","format":"date-time"},"orderDate":{"type":"string","format":"date-time"},"orderId":{"type":"string"},"orderStatus":{"type":"string"}},"type":"object"},"lidbOrderHistoryResponse":{"properties":{"ResponseSelectWrapper":{"properties":{"ListOrderIdUserIdDate":{"properties":{"OrderIdUserIdDate":{"items":{"$ref":"#/components/schemas/orderSummary"},"type":"array"},"TotalCount":{"type":"integer"}},"type":"object"}},"type":"object"}},"type":"object"},"jsonLidbOrderResponse":{"properties":{"lidbOrderResponse":{"$ref":"#/components/schemas/jsonLidbOrderResponsePayload"}},"type":"object"},"jsonLidbRemovalOrderResponse":{"properties":{"orderId":{"type":"string"},"processingStatus":{"description":"Order status.","enum":["RECEIVED","PROCESSING","COMPLETE","PARTIAL","FAILED"],"type":"string"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/jsonLidbOrderError"}}},"type":"object"},"jsonLidbOrderResponsePayload":{"type":"object","properties":{"orderId":{"type":"string"},"customerOrderId":{"description":"The Customer Order ID is an ID assigned by the account owner to provide a reference number for the Order. The element is optional. Only alphanumeric values, dashes and spaces are allowed.","maxLength":40,"type":"string"},"processingStatus":{"description":"Order status.","enum":["RECEIVED","PROCESSING","COMPLETE","PARTIAL","FAILED"],"type":"string"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/jsonLidbOrderError"}},"lidbPhoneNumberGroups":{"type":"array","items":{"$ref":"#/components/schemas/jsonLidbDetailTnGroup"}}}},"jsonLidbOrderError":{"properties":{"code":{"format":"int32","type":"integer"},"description":{"type":"string"},"phoneNumber":{"type":"string"}},"title":"Error","type":"object"},"jsonLidbDetailTnGroup":{"properties":{"phoneNumbers":{"description":"A list of phone numbers that will all assume the SubscriberInformation that is listed in the payload. In an enterprise context it is not uncommon for all of the served telephone numbers to use the same string for the Subscriber Information.","items":{"$ref":"#/components/schemas/jsonPhoneNumber"},"type":"array"},"subscriberInformation":{"description":"This is the field that is displayed to the user receiving the phone call from the Telephone numbers in the TelephoneNumberList","type":"string"},"useType":{"enum":["BUSINESS","RESIDENTIAL"],"type":"string"},"visibility":{"description":" If it is tagged as PRIVATE then the data will be provided, but the display will not be provided on a standard phone call.","enum":["PUBLIC","PRIVATE"],"type":"string"}},"required":["useType","visibility"],"title":"LidbPhoneNumberGroup","type":"object"},"jsonPhoneNumber":{"properties":{"phoneNumber":{"description":"Phone Number in E.164 format.","type":"string"}},"type":"object"},"lidbOrderResponse":{"properties":{"LidbOrderResponse":{"$ref":"#/components/schemas/lidbOrderResponsePayload"}}},"lidbOrderResponsePayload":{"properties":{"LidbOrder":{"properties":{"OrderId":{"type":"string"},"CustomerOrderId":{"description":"The Customer Order ID is an ID assigned by the account owner to provide a reference number for the Order. The element is optional. Only alphanumeric values, dashes and spaces are allowed.","maxLength":40,"type":"string"},"ProcessingStatus":{"type":"string"},"ErrorList":{"items":{"$ref":"#/components/schemas/lidbOrderError"},"type":"array"},"LidbTnGroups":{"items":{"$ref":"#/components/schemas/lidbDetailTnGroup"},"type":"array"}},"type":"object"}},"type":"object"},"lidbOrderPayload":{"properties":{"CustomerOrderId":{"description":"The Customer Order ID is an ID assigned by the account owner to provide a reference number for the Order. The element is optional. Only alphanumeric values, dashes and spaces are allowed.","maxLength":40,"type":"string"},"LidbTnGroups":{"items":{"$ref":"#/components/schemas/lidbDetailTnGroup"},"type":"array"}},"type":"object"},"lidbOrderError":{"properties":{"Code":{"format":"int32","type":"integer"},"Description":{"type":"string"},"TelephoneNumber":{"type":"string"}},"title":"Error","type":"object"},"lidbDetailTnGroup":{"properties":{"TelephoneNumbers":{"description":"A list of telephone numbers that will all assume the SubscriberInformation that is listed in the payload. In an enterprise context it is not uncommon for all of the served telephone numbers to use the same string for the Subscriber Information.","items":{"$ref":"#/components/schemas/telephoneNumber"},"type":"array"},"SubscriberInformation":{"description":"This is the field that is displayed to the user receiving the phone call from the Telephone numbers in the TelephoneNumberList","type":"string"},"UseType":{"enum":["BUSINESS","RESIDENTIAL"],"type":"string"},"Visibility":{"description":" If it is tagged as PRIVATE then the data will be provided, but the display will not be provided on a standard phone call.","enum":["PUBLIC","PRIVATE"],"type":"string"}},"required":["UseType","Visibility"],"title":"LidbTnGroup","type":"object"},"telephoneNumber":{"properties":{"TelephoneNumber":{"description":"Simple Telephone Number.","type":"string"}},"type":"object"},"lidbOrder":{"properties":{"LidbOrder":{"$ref":"#/components/schemas/lidbOrderPayload"}},"type":"object"},"jsonLidbOrder":{"properties":{"lidbOrder":{"$ref":"#/components/schemas/jsonLidbOrderPayload"}},"type":"object"},"jsonLidbRemovalOrder":{"properties":{"phoneNumbers":{"type":"array","items":{"type":"string"}}},"type":"object"},"jsonLidbOrderPayload":{"properties":{"customerOrderId":{"description":"The Customer Order ID is an ID assigned by the account owner to provide a reference number for the Order. The element is optional. Only alphanumeric values, dashes and spaces are allowed.","maxLength":40,"type":"string"},"lidbPhoneNumberGroups":{"items":{"$ref":"#/components/schemas/jsonLidbDetailTnGroup"},"type":"array"}},"type":"object"},"jsonLidbOrderReportErrorResponse":{"properties":{"description":{"description":"Detailed explanation about error","type":"string"},"errorCode":{"description":"Numeric designation of corresponding error","type":"integer"}}},"lidbOrderReportErrorResponse":{"properties":{"LidbOrderReportResponse":{"$ref":"#/components/schemas/responseStatus"}},"type":"object"},"responseSelectWrapper":{"properties":{"ResponseSelectWrapper":{"properties":{"ListOrderIdUserIdDate":{"properties":{"Links":{"$ref":"#/components/schemas/links"},"OrderIdUserIdDate":{"items":{"$ref":"#/components/schemas/orderIdUserIdDate"},"type":"array"},"TotalCount":{"type":"integer"}},"type":"object"}},"type":"object"}},"type":"object"},"responseSelectWrapperJson":{"properties":{"totalCount":{"type":"integer"},"links":{"$ref":"#/components/schemas/linksJson"},"orders":{"items":{"$ref":"#/components/schemas/orderIdUserIdDateJson"},"type":"array"}},"type":"object"},"links":{"items":{"oneOf":[{"$ref":"#/components/schemas/selfLink"}]},"title":"Links","type":"array"},"linksJson":{"properties":{"first":{"description":"The first (or only) page of results matching the query.","type":"string"},"last":{"description":"If more results exist than specified by \u0027size\u0027, this link return the last page of result.","type":"string"},"next":{"description":"If more results exist than specified by \u0027size\u0027, this link returns the next page of \u0027size\u0027 results.","type":"string"},"previous":{"description":"If the results are more than one page, this link returns the previous page of \u0027size\u0027 results.","type":"string"}},"type":"object"},"selfLink":{"properties":{"href":{"description":"URI of the link","example":"/self/uri","type":"string"},"method":{"description":"HTTP method to be used","example":"GET","type":"string"},"rel":{"description":"Specifies the relationship between this link and the resource.","example":"SelfResource","type":"string"}},"title":"Self Link","type":"object"},"orderIdUserIdDate":{"properties":{"CountOfTNs":{"type":"integer"},"OrderDate":{"type":"string"},"OrderStatus":{"type":"string"},"OrderType":{"type":"string"},"TelephoneNumberDetails":{"$ref":"#/components/schemas/telephoneNumberDetails"},"lastModifiedDate":{"format":"date-time","type":"string"},"orderId":{"type":"string"},"userId":{"type":"string"}},"type":"object"},"orderIdUserIdDateJson":{"properties":{"phoneNumberCount":{"type":"integer"},"userId":{"type":"string"},"lastModifiedDate":{"format":"date-time","type":"string"},"orderType":{"type":"string"},"orderDate":{"format":"date-time","type":"string"},"orderId":{"type":"string"},"orderStatus":{"type":"string"},"phoneNumberDetails":{"$ref":"#/components/schemas/telephoneNumberDetailsJson"}},"type":"object"},"telephoneNumberDetailsJson":{"properties":{"cities":{"items":{"$ref":"#/components/schemas/cityWithCountJson"},"type":"array"},"rateCenters":{"items":{"$ref":"#/components/schemas/rateCenterWithCountJson"},"type":"array"},"states":{"items":{"$ref":"#/components/schemas/stateWithCountJson"},"type":"array"},"tiers":{"items":{"$ref":"#/components/schemas/tiersJson"},"type":"array"},"vendors":{"items":{"$ref":"#/components/schemas/vendorsJson"},"type":"array"}},"type":"object"},"jsonLidbOrderErrorResponse":{"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/jsonLidbOrderError"}},"lidbOrder":{"$ref":"#/components/schemas/jsonLidbOrderPayload"},"status":{"properties":{"code":{"description":"Numeric designation of corresponding error","type":"integer"},"description":{"description":"Detailed explanation about error","type":"string"}},"type":"object"}},"type":"object"},"jsonLidbRemovalOrderErrorResponse":{"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/jsonLidbOrderError"}}},"type":"object"},"lidbOrderErrorResponse":{"properties":{"LidbOrderResponse":{"properties":{"ErrorList":{"items":{"$ref":"#/components/schemas/lidbOrderError"},"type":"array"},"LidbOrder":{"$ref":"#/components/schemas/lidbOrderPayload"},"Status":{"properties":{"Code":{"description":"Numeric designation of corresponding error","type":"integer"},"Description":{"description":"Detailed explanation about error ","type":"string"}},"type":"object"}},"type":"object"}},"type":"object"},"dldaOrder":{"properties":{"DldaOrder":{"$ref":"#/components/schemas/dldaOrderPayload"}},"type":"object"},"jsonDldaOrder":{"properties":{"customerOrderId":{"description":"The Customer Order ID is an ID assigned by the account owner to provide a reference number for the Order. Only alphanumeric values, dashes and spaces are allowed.","maxLength":40,"type":"string"},"deleteDldaPhoneNumberGroups":{"type":"string"},"dldaPhoneNumberGroups":{"items":{"$ref":"#/components/schemas/jsonDldaPhoneNumberGroup"},"type":"array"}},"type":"object"},"dldaOrderPayload":{"properties":{"CustomerOrderId":{"description":"The Customer Order ID is an ID assigned by the account owner to provide a reference number for the Order. Only alphanumeric values, dashes and spaces are allowed.","maxLength":40,"type":"string"},"DeleteDldaTnGroups":{"type":"string"},"DldaTnGroups":{"items":{"$ref":"#/components/schemas/dldaTnGroup"},"type":"array"}},"type":"object"},"dldaTnGroup":{"description":"AddressType has to be DLDA","properties":{"Address":{"$ref":"#/components/schemas/address"},"ListAddress":{"type":"boolean"},"ListingName":{"$ref":"#/components/schemas/dldaListingName"},"ListingType":{"enum":["LISTED","NON_LISTED","NON_PUBLISHED"],"type":"string"},"SubscriberType":{"enum":["RESIDENTIAL","BUSINESS"],"type":"string"},"TelephoneNumbers":{"description":"A list of telephone numbers you need to bind information from payload","items":{"type":"string","xml":{"name":"TelephoneNumber"}},"type":"array"}},"required":["SubscriberType","ListingType","ListAddress"],"type":"object"},"dldaListingName":{"properties":{"Designation":{"type":"string"},"FirstName":{"description":"Required in case RESIDENTIAL SubscriberType is chosen","type":"string"},"FirstName2":{"description":"","type":"string"},"LastName":{"type":"string"},"PlaceListingAs":{"type":"string"},"TitleOfAddress":{"type":"string"},"TitleOfAddress2":{"type":"string"},"TitleOfAddress2Name2":{"type":"string"},"TitleOfAddressName2":{"type":"string"},"TitleOfLineage":{"type":"string"},"TitleOfLineageName2":{"type":"string"}},"required":["LastName"],"type":"object"},"jsonDldaListingName":{"properties":{"designation":{"type":"string"},"firstName":{"description":"Required in case RESIDENTIAL SubscriberType is chosen","type":"string"},"firstName2":{"description":"","type":"string"},"lastName":{"type":"string"},"placeListingAs":{"type":"string"},"titleOfAddress":{"type":"string"},"titleOfAddress2":{"type":"string"},"titleOfAddress2Name2":{"type":"string"},"titleOfAddressName2":{"type":"string"},"titleOfLineage":{"type":"string"},"titleOfLineageName2":{"type":"string"}},"required":["LastName"],"type":"object"},"addressType":{"enum":["SERVICE","BILLING","DLDA","E911"],"type":"string"},"jsonAddressType":{"enum":["SERVICE","BILLING","DLDA","E911"],"type":"string"},"address":{"properties":{"AddressLine2":{"description":"AddressLine2 is used to specify Unit, Suite, Floor, etc. in the Service Address. AddressLine2 is optional when not needed to fully specify the ServiceAddress.","type":"string"},"AddressType":{"$ref":"#/components/schemas/addressType"},"City":{"description":"City is mandatory in cases where the ServiceAddress is mandatory.","type":"string"},"Country":{"description":"Country is the country of the ServiceAddress. This value will be derived from the StateCode, so it should generally be omitted.","type":"string"},"County":{"description":"The county where the subscriber or business is located.","type":"string"},"HouseNumber":{"description":"The HouseNumber is the street address number of the ServiceAddress. HouseNumber is mandatory for port-in orders in which the ServiceAddress is mandatory.","type":"string"},"HousePrefix":{"description":"The HousePrefix is the non-numeric address number prefix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"HouseSuffix":{"description":"The HouseSuffix is the non-numeric address number suffix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"Latitude":{"type":"string"},"Longitude":{"type":"string"},"PlusFour":{"description":"PlusFour is the 4 digits that are sometimes suffixed to the Zip Code.","type":"string"},"PostDirectional":{"description":"The PostDirectional is the street name post directional of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"PreDirectional":{"description":"The PreDirectional is the non-numeric street name prefix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"ResetAddressFields":{"type":"boolean"},"StateCode":{"description":"StateCode is the 2-letter abbreviation of the state of the ServiceAddress. StateCode is mandatory in cases where the ServiceAddress is mandatory.","type":"string"},"StreetName":{"description":"The StreetName is mandatory in cases where the ServiceAddress is mandatory.","type":"string"},"StreetSuffix":{"description":"The StreetSuffix is the street suffix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"Zip":{"description":"Zip is the Zip Code of the ServiceAddress. Zip is mandatory in cases where the ServiceAddress is mandatory.","type":"string"}},"type":"object"},"jsonAddress":{"properties":{"addressLine2":{"description":"AddressLine2 is used to specify Unit, Suite, Floor, etc. in the Service Address. AddressLine2 is optional when not needed to fully specify the ServiceAddress.","type":"string"},"addressType":{"$ref":"#/components/schemas/jsonAddressType"},"city":{"description":"City is mandatory in cases where the ServiceAddress is mandatory.","type":"string"},"country":{"description":"Country is the country of the ServiceAddress. This value will be derived from the StateCode, so it should generally be omitted.","type":"string"},"county":{"description":"The county where the subscriber or business is located.","type":"string"},"houseNumber":{"description":"The HouseNumber is the street address number of the ServiceAddress. HouseNumber is mandatory for port-in orders in which the ServiceAddress is mandatory.","type":"string"},"housePrefix":{"description":"The HousePrefix is the non-numeric address number prefix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"houseSuffix":{"description":"The HouseSuffix is the non-numeric address number suffix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"latitude":{"type":"string"},"longitude":{"type":"string"},"plusFour":{"description":"PlusFour is the 4 digits that are sometimes suffixed to the Zip Code.","type":"string"},"postDirectional":{"description":"The PostDirectional is the street name post directional of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"preDirectional":{"description":"The PreDirectional is the non-numeric street name prefix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"resetAddressFields":{"type":"boolean"},"stateCode":{"description":"StateCode is the 2-letter abbreviation of the state of the ServiceAddress. StateCode is mandatory in cases where the ServiceAddress is mandatory.","type":"string"},"streetName":{"description":"The StreetName is mandatory in cases where the ServiceAddress is mandatory.","type":"string"},"streetSuffix":{"description":"The StreetSuffix is the street suffix of the ServiceAddress. This element is optional when not needed to fully specify the ServiceAddress.","type":"string"},"zip":{"description":"Zip is the Zip Code of the ServiceAddress. Zip is mandatory in cases where the ServiceAddress is mandatory.","type":"string"}},"type":"object"},"dldaOrderResponse":{"properties":{"DldaOrderResponse":{"properties":{"DldaOrder":{"$ref":"#/components/schemas/dldaOrderResponsePayload"}},"type":"object"}},"type":"object"},"jsonDldaOrderResponse":{"properties":{"dldaOrderResponse":{"properties":{"dldaOrder":{"$ref":"#/components/schemas/jsonDldaOrderResponsePayload"}},"type":"object"}},"type":"object"},"dldaOrderResponsePayload":{"properties":{"AccountId":{"type":"integer"},"CreatedByUser":{"type":"string"},"CustomerOrderId":{"description":"The Customer Order ID is an ID assigned by the account owner to provide a reference number for the Order. Only alphanumeric values, dashes and spaces are allowed.","maxLength":40,"type":"string"},"DldaTnGroups":{"items":{"$ref":"#/components/schemas/dldaTnGroup"},"type":"array"},"ErrorList":{"type":"array","items":{"properties":{"Error":{"type":"object","properties":{"Code":{"type":"integer","format":"int32"},"TelephoneNumber":{"type":"string"},"Description":{"type":"string"}}}}}},"LastModifiedDate":{"format":"date-time","type":"string"},"OrderCreateDate":{"type":"string"},"OrderId":{"type":"string"},"ProcessingStatus":{"type":"string"}},"type":"object"},"jsonDldaOrderResponsePayload":{"properties":{"customerOrderId":{"description":"The Customer Order ID is an ID assigned by the account owner to provide a reference number for the Order. Only alphanumeric values, dashes and spaces are allowed.","maxLength":40,"type":"string"},"orderCreateDate":{"type":"string"},"accountId":{"type":"integer"},"createdByUser":{"type":"string"},"orderId":{"type":"string"},"lastModifiedDate":{"format":"date-time","type":"string"},"errors":{"type":"array","items":{"properties":{"error":{"type":"object","properties":{"phoneNumber":{"type":"string"},"code":{"type":"integer","format":"int32"},"description":{"type":"string"}}}}}},"processingStatus":{"description":"Order status.","enum":["RECEIVED","PROCESSING","COMPLETE","PARTIAL","FAILED"],"type":"string"},"dldaPhoneNumberGroups":{"items":{"$ref":"#/components/schemas/jsonDldaPhoneNumberGroup"},"type":"array"}},"type":"object"},"jsonDldaPhoneNumberGroup":{"description":"AddressType has to be DLDA","properties":{"phoneNumbers":{"description":"A list of phone numbers you need to bind information from payload","items":{"type":"string","xml":{"name":"phoneNumber"}},"type":"array"},"subscriberType":{"enum":["RESIDENTIAL","BUSINESS"],"type":"string"},"listingType":{"enum":["LISTED","NON_LISTED","NON_PUBLISHED"],"type":"string"},"listingName":{"$ref":"#/components/schemas/jsonDldaListingName"},"listAddress":{"type":"boolean"},"address":{"$ref":"#/components/schemas/jsonAddress"}}},"dldaOrderErrorResponse":{"type":"object","properties":{"DldaOrderResponse":{"type":"object","properties":{"DldaOrder":{"$ref":"#/components/schemas/dldaOrderResponsePayload"},"ResponseStatus":{"$ref":"#/components/schemas/responseStatus"}}}}},"jsonDldaOrderErrorResponse":{"type":"object","properties":{"errorCode":{"description":"Numeric designation of corresponding error","type":"integer"},"description":{"description":"Detailed explanation about error","type":"string"},"dldaOrder":{"$ref":"#/components/schemas/jsonDldaOrderResponsePayload"}}},"dldaOrderErrorNotFoundResponse":{"properties":{"DldaOrderResponse":{"$ref":"#/components/schemas/responseStatus"}},"type":"object"},"jsonDldaOrderErrorNotFoundResponse":{"properties":{"dldaOrderResponse":{"$ref":"#/components/schemas/responseStatusJson"}},"type":"object"},"dldaOrderReportErrorResponse":{"properties":{"DldaOrderReportResponse":{"$ref":"#/components/schemas/responseStatus"}},"type":"object"},"jsonDldaOrderReportErrorResponse":{"properties":{"dldaOrderReportResponse":{"$ref":"#/components/schemas/responseStatusJson"}},"type":"object"},"orderHistoryWrapper":{"properties":{"OrderHistoryWrapper":{"properties":{"OrderHistory":{"$ref":"#/components/schemas/orderHistory"}},"type":"object"}},"type":"object"},"jsonOrderHistoryWrapper":{"properties":{"orderHistory":{"type":"object","properties":{"orderDate":{"description":"This is the date/time when the order history entry was created.","format":"date-time","type":"string"},"note":{"description":"This is the order note that accompanied the order history entry.","type":"string"},"author":{"description":"This is the user that initiated the event that caused the order history to be updated.","type":"string"},"status":{"description":"This is the state that the order was in when the order history event occurred.","type":"string"}}}},"type":"object"}},"requestBodies":{"tnOptionOrderRequest":{"content":{"application/xml":{"schema":{"anyOf":[{"$ref":"#/components/schemas/tnOptionOrderXmlRequestVcpDisabled"},{"$ref":"#/components/schemas/tnOptionOrderXmlRequestVcpEnabled"}]},"examples":{"createTnOptionOrderXmlRequestExampleVcpDisabled":{"$ref":"#/components/examples/createTnOptionOrderXmlRequestExampleVcpDisabled"},"createTnOptionOrderXmlRequestExampleVcpEnabled":{"$ref":"#/components/examples/createTnOptionOrderXmlRequestExampleVcpEnabled"}}},"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/tnOptionOrderJsonRequestVcpDisabled"},{"$ref":"#/components/schemas/tnOptionOrderJsonRequestVcpEnabled"}]},"examples":{"createTnOptionJsonRequestExampleVcpDisabled":{"$ref":"#/components/examples/createTnOptionJsonRequestExampleVcpDisabled"},"createTnOptionJsonRequestExampleVcpEnabled":{"$ref":"#/components/examples/createTnOptionJsonRequestExampleVcpEnabled"}}}}},"lidbOrderRequest":{"content":{"application/xml":{"examples":{"lidbOrderPostXmlPayloadExample":{"$ref":"#/components/examples/lidbOrderPostXmlPayloadExample"}},"schema":{"$ref":"#/components/schemas/lidbOrder"}},"application/json":{"examples":{"lidbOrderPostJsonPayloadExample":{"$ref":"#/components/examples/lidbOrderPostJsonPayloadExample"}},"schema":{"$ref":"#/components/schemas/jsonLidbOrder"}}}},"lidbRemovalOrderRequest":{"content":{"application/json":{"examples":{"lidbRemovalOrderJsonPayloadExample":{"$ref":"#/components/examples/lidbRemovalOrderJsonPayloadExample"}},"schema":{"$ref":"#/components/schemas/jsonLidbRemovalOrder"}}}},"dldaCreateOrderRequest":{"content":{"application/xml":{"examples":{"dldaOrderPostXmlPayloadExample":{"$ref":"#/components/examples/dldaOrderPostXmlPayloadExample"}},"schema":{"$ref":"#/components/schemas/dldaOrder"}},"application/json":{"examples":{"dldaOrderPostJsonPayloadExample":{"$ref":"#/components/examples/dldaOrderPostJsonPayloadExample"}},"schema":{"$ref":"#/components/schemas/jsonDldaOrder"}}}},"dldaUpdateOrderRequest":{"content":{"application/xml":{"examples":{"dldaOrderUpdateXmlPayloadExample":{"$ref":"#/components/examples/dldaOrderUpdateXmlPayloadExample"}},"schema":{"$ref":"#/components/schemas/dldaOrder"}},"application/json":{"examples":{"dldaOrderUpdateJsonPayloadExample":{"$ref":"#/components/examples/dldaOrderUpdateJsonPayloadExample"}},"schema":{"$ref":"#/components/schemas/jsonDldaOrder"}}}}},"responses":{"tnOptionOrderCreatedResponse":{"description":"Created","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/tnOptionOrderResponse"},"examples":{"createTnOptionXmlResponseExample":{"$ref":"#/components/examples/createTnOptionXmlResponseExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/tnOptionOrderJsonResponse"},"examples":{"createTnOptionJsonResponseExample":{"$ref":"#/components/examples/createTnOptionJsonResponseExample"}}}}},"tnOptionOrder400Response":{"description":"Bad Request","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/tnOptionOrderErrorResponse"},"examples":{"createTnOptionXmlErrorResponseExample":{"$ref":"#/components/examples/createTnOptionXmlErrorResponseExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/tnOptionOrderErrorResponseJson"},"examples":{"createTnOptionJsonErrorResponseExample":{"$ref":"#/components/examples/createTnOptionJsonErrorResponseExample"}}}}},"getTnOptionOrdersSummaryResponse":{"description":"The descriptive payload for the TN Options orders query provides a broad range of information about the TN Options\norders found by the query, including the data associated with the order, the state of the order, and details\nabout the order if it was successful.\n","content":{"application/xml":{"schema":{"anyOf":[{"$ref":"#/components/schemas/tnOptionOrderReportSummaryResponse"},{"$ref":"#/components/schemas/tnOptionOrderReportDetailedResponse"}]},"examples":{"TnOptionOrderReportSummaryResponseExample":{"$ref":"#/components/examples/getTnOptionOrderReportSummaryResponseXmlExample"},"TnOptionOrderReportDetailedResponseExample":{"$ref":"#/components/examples/getTnOptionOrderReportDetailedResponseXmlExample"}}},"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/tnOptionOrderReportSummaryJsonResponse"},{"$ref":"#/components/schemas/tnOptionOrderReportDetailedJsonResponse"}]},"examples":{"tnOptionOrderReportSummaryResponseExample":{"$ref":"#/components/examples/getTnOptionOrderReportSummaryJsonResponseExample"},"tnOptionOrderReportDetailedResponseExample":{"$ref":"#/components/examples/getTnOptionOrderReportDetailedJsonResponseExample"}}}}},"getTnOptionOrders400Response":{"description":"Bad Request","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/tnOptionOrderReportErrorResponse"},"examples":{"getTnOptionOrders400ResponseExample":{"$ref":"#/components/examples/getTnOptionOrders400ResponseExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/tnOptionOrderReportErrorResponseJson"},"examples":{"getTnOptionOrders400JsonResponseExample":{"$ref":"#/components/examples/getTnOptionOrders400JsonResponseExample"}}}}},"getTnOptionOrderResponse":{"description":"The descriptive payload for the TN Options orders query provides a broad range of information about the TN Options\norder identified in the URL. Included amongst the information is:\n\n- **ErrorList**: The errors discovered with codes and explanations.\n- **Warnings**: The warnings discovered with explanations.\n- **ProcessingStatus** (\u0060RECEIVED\u0060, \u0060PROCESSING\u0060, \u0060COMPLETE\u0060, \u0060PARTIAL\u0060, \u0060FAILED\u0060): The overall status of the order.\n","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/retrieveTnOptionOrderResponse"},"examples":{"getTnOptionOrderDetailedResponseExample":{"$ref":"#/components/examples/retrieveTnOptionOrderResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/retrieveTnOptionOrderJsonResponse"},"examples":{"getTnOptionOrderDetailedJsonResponseExample":{"$ref":"#/components/examples/retrieveTnOptionOrderJsonResponseExample"}}}}},"getTnOptionOrder400Response":{"description":"Bad Request","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/tnOptionOrderReportErrorResponse"},"examples":{"getTnOptionOrder400ResponseExample":{"$ref":"#/components/examples/getTnOptionOrder400ResponseExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/tnOptionOrderReportErrorResponseJson"},"examples":{"getTnOptionOrder400ResponseJsonExample":{"$ref":"#/components/examples/getTnOptionOrder400ResponseJsonExample"}}}}},"getTnOptionOrderHistory200Response":{"description":"The history payload is a set of history records. Each record contains:\n\n- **OrderDate**: The date that the order history event happened.\n- **Status**: The new state of the TN Options order (\u0060RECEIVED\u0060, \u0060PROCESSING\u0060, \u0060COMPLETE\u0060, \u0060PARTIAL\u0060, \u0060FAILED\u0060).\n- **Note**: A note or additional information included with the state change.\n- **Author**: The user ID that implemented the state change.\n","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/getTnOptionOrderHistoryResponse"},"examples":{"getTnOptionOrderHistoryResponseExample":{"$ref":"#/components/examples/getTnOptionOrderHistoryResponseExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/orderHistoryJson"},"examples":{"getTnOptionOrderHistoryJsonResponseExample":{"$ref":"#/components/examples/getTnOptionOrderHistoryJsonResponseExample"}}}}},"getTnOptionOrderHistory404Response":{"description":"Not Found","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/tnOptionOrderReportErrorResponseWithoutErrorCode"},"examples":{"getTnOptionOrderHistory404ResponseExample":{"$ref":"#/components/examples/tnOptionOrderReportErrorResponseWithoutErrorCodeExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/tnOptionOrderReportErrorResponseWithoutErrorCodeJson"},"examples":{"getTnOptionOrderHistory404JsonResponseExample":{"$ref":"#/components/examples/tnOptionOrderReportErrorResponseWithoutErrorCodeExampleJson"}}}}},"badRequestError":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"badRequestErrorExample":{"$ref":"#/components/examples/badRequestErrorExample"}}}}},"badTnOptionRequestError":{"description":"Bad Request","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/tnOptionOrderReportErrorResponse"},"examples":{"badTnOptionRequestErrorExample":{"$ref":"#/components/examples/getTnOptionOrderHistory400ResponseExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/tnOptionOrderReportErrorResponseJson"},"examples":{"badRequestErrorExample":{"$ref":"#/components/examples/getTnOptionOrderHistory400ResponseJsonExample"}}}}},"lidbOrderGet200Response":{"content":{"application/json":{"examples":{"example":{"description":"Example JSON response","value":{"orders":[{"accountId":9999999,"phoneNumberCount":0,"userId":"team_ua","lastModifiedDate":"2014-02-25T16:02:43.195Z","orderDate":"2014-02-25T16:02:43.195Z","orderType":"lidb","orderId":"abe36738-6929-4c6f-926c-88e534e2d46f","orderStatus":"FAILED"}],"totalCount":2122}}},"schema":{"$ref":"#/components/schemas/jsonLidbOrderHistoryResponse"}},"application/xml":{"examples":{"example":{"description":"example","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CResponseSelectWrapper\u003E\n    \u003CListOrderIdUserIdDate\u003E\n        \u003CTotalCount\u003E2122\u003C/TotalCount\u003E\n        \u003COrderIdUserIdDate\u003E\n            \u003CaccountId\u003E9999999\u003C/accountId\u003E\n            \u003CCountOfTNs\u003E0\u003C/CountOfTNs\u003E\n            \u003ClastModifiedDate\u003E2014-02-25T16:02:43.195Z\u003C/lastModifiedDate\u003E\n            \u003COrderType\u003Elidb\u003C/OrderType\u003E\n            \u003COrderDate\u003E2014-02-25T16:02:43.195Z\u003C/OrderDate\u003E\n            \u003CorderId\u003Eabe36738-6929-4c6f-926c-88e534e2d46f\u003C/orderId\u003E\n            \u003COrderStatus\u003EFAILED\u003C/OrderStatus\u003E\n            \u003CTelephoneNumberDetails/\u003E\n            \u003CuserId\u003Eteam_ua\u003C/userId\u003E\n        \u003C/OrderIdUserIdDate\u003E\n        \u003COrderIdUserIdDate\u003E\n            \u003CaccountId\u003E9999999\u003C/accountId\u003E\n            \u003CCountOfTNs\u003E0\u003C/CountOfTNs\u003E\n            \u003ClastModifiedDate\u003E2014-02-25T16:02:39.021Z\u003C/lastModifiedDate\u003E\n            \u003COrderType\u003Elidb\u003C/OrderType\u003E\n            \u003COrderDate\u003E2014-02-25T16:02:39.021Z\u003C/OrderDate\u003E\n            \u003CorderId\u003Eba5b6297-139b-4430-aab0-9ff02c4362f4\u003C/orderId\u003E\n            \u003COrderStatus\u003EFAILED\u003C/OrderStatus\u003E\n            \u003CuserId\u003Eteam_ua\u003C/userId\u003E\n        \u003C/OrderIdUserIdDate\u003E\n    \u003C/ListOrderIdUserIdDate\u003E\n\u003C/ResponseSelectWrapper\u003E"}},"schema":{"$ref":"#/components/schemas/lidbOrderHistoryResponse"}}},"description":"OK"},"lidbOrderPostSuccessResponse":{"content":{"application/json":{"examples":{"lidbOrderGetExample":{"$ref":"#/components/examples/lidbOrderCreatedJsonResponseExample"}},"schema":{"$ref":"#/components/schemas/jsonLidbOrderResponse"}},"application/xml":{"examples":{"lidbOrderGetExample":{"$ref":"#/components/examples/lidbOrderCreatedXmlResponseExample"}},"schema":{"$ref":"#/components/schemas/lidbOrderResponse"}}},"description":"Created"},"lidbRemovalOrderPostSuccessResponse":{"content":{"application/json":{"examples":{"lidbRemovalOrderExample":{"$ref":"#/components/examples/lidbRemovalOrderJsonResponseExample"}},"schema":{"$ref":"#/components/schemas/jsonLidbRemovalOrderResponse"}}},"description":"Created"},"lidbOrderPostErrorResponse":{"content":{"application/json":{"examples":{"lidbOrderGetExample":{"$ref":"#/components/examples/lidbOrderCreatedJsonErrorResponseExample"}},"schema":{"$ref":"#/components/schemas/jsonLidbOrderErrorResponse"}},"application/xml":{"examples":{"lidbOrderGetExample":{"$ref":"#/components/examples/lidbOrderCreatedXmlErrorResponseExample"}},"schema":{"$ref":"#/components/schemas/lidbOrderErrorResponse"}}},"description":"Bad Request"},"lidbRemovalOrderPostErrorResponse":{"content":{"application/json":{"examples":{"lidbRemovalOrderJsonErrorResponseExample":{"$ref":"#/components/examples/lidbRemovalOrderJsonErrorResponseExample"}},"schema":{"$ref":"#/components/schemas/jsonLidbRemovalOrderErrorResponse"}}},"description":"Bad Request"},"lidbOrderGetIdResponse":{"description":"OK","content":{"application/json":{"examples":{"example":{"description":"Example JSON response","value":{"createdByUser":"jbm","customerOrderId":"testCustomerOrderId","errors":[],"lastModifiedDate":"2014-02-20T19:33:17.6Z","lidbPhoneNumberGroups":[{"fullNumber":8042105618,"phoneNumbers":[{"phoneNumber":4082213311}],"subscriberInformation":"Fred","useType":"BUSINESS","visibility":"PRIVATE"},{"fullNumber":8042105760,"phoneNumbers":[{"phoneNumber":4082212850},{"phoneNumber":4082213310}],"subscriberInformation":"Fred","useType":"RESIDENTIAL","visibility":"PUBLIC"}],"orderCompleteDate":"2014-02-20T19:33:17.6Z","orderCreateDate":"2014-05-28T14:46:21.724Z","orderId":"255bda29-fc57-44e8-a6c2-59b45388c6d0","processingStatus":"RECEIVED"}}},"schema":{"$ref":"#/components/schemas/jsonLidbOrderResponsePayload"}},"application/xml":{"examples":{"example":{"description":"example","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CLidbOrder\u003E\n    \u003CCustomerOrderId\u003EtestCustomerOrderId\u003C/CustomerOrderId\u003E\n    \u003CorderId\u003E255bda29-fc57-44e8-a6c2-59b45388c6d0\u003C/orderId\u003E\n    \u003COrderCreateDate\u003E2014-05-28T14:46:21.724Z\u003C/OrderCreateDate\u003E\n    \u003CProcessingStatus\u003ERECEIVED\u003C/ProcessingStatus\u003E\n    \u003CCreatedByUser\u003Ejbm\u003C/CreatedByUser\u003E\n    \u003CLastModifiedDate\u003E2014-02-20T19:33:17.600Z\u003C/LastModifiedDate\u003E\n    \u003COrderCompleteDate\u003E2014-02-20T19:33:17.600Z\u003C/OrderCompleteDate\u003E\n    \u003CErrorList/\u003E\n    \u003CLidbTnGroups\u003E\n        \u003CLidbTnGroup\u003E\n            \u003CTelephoneNumbers\u003E\n                \u003CTelephoneNumber\u003E4082213311\u003C/TelephoneNumber\u003E\n            \u003C/TelephoneNumbers\u003E\n            \u003CFullNumber\u003E8042105618\u003C/FullNumber\u003E\n            \u003CSubscriberInformation\u003EFred\u003C/SubscriberInformation\u003E\n            \u003CUseType\u003EBUSINESS\u003C/UseType\u003E\n            \u003CVisibility\u003EPRIVATE\u003C/Visibility\u003E\n        \u003C/LidbTnGroup\u003E\n        \u003CLidbTnGroup\u003E\n            \u003CTelephoneNumbers\u003E\n                \u003CTelephoneNumber\u003E4082212850\u003C/TelephoneNumber\u003E\n                \u003CTelephoneNumber\u003E4082213310\u003C/TelephoneNumber\u003E\n            \u003C/TelephoneNumbers\u003E\n            \u003CFullNumber\u003E8042105760\u003C/FullNumber\u003E\n            \u003CSubscriberInformation\u003EFred\u003C/SubscriberInformation\u003E\n            \u003CUseType\u003ERESIDENTIAL\u003C/UseType\u003E\n            \u003CVisibility\u003EPUBLIC\u003C/Visibility\u003E\n        \u003C/LidbTnGroup\u003E\n    \u003C/LidbTnGroups\u003E\n\u003C/LidbOrder\u003E"}},"schema":{"$ref":"#/components/schemas/lidbOrderResponsePayload"}}}},"lidbOrderGetId404Response":{"content":{"application/json":{"examples":{"example":{"description":"LIDB Order not found","value":{"errorCode":15523,"description":"The resource does not exist"}}},"schema":{"$ref":"#/components/schemas/jsonLidbOrderReportErrorResponse"}},"application/xml":{"examples":{"example":{"description":"example","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CLidbOrderReportResponse\u003E\n    \u003CResponseStatus\u003E\n        \u003CDescription\u003EThe resource does not exist\u003C/Description\u003E\n    \u003C/ResponseStatus\u003E\n\u003C/LidbOrderReportResponse\u003E"}},"schema":{"$ref":"#/components/schemas/lidbOrderReportErrorResponse"}}},"description":"Not Found"},"lidbOrderGetId400Response":{"description":"Bad Request","content":{"application/json":{"examples":{"example":{"value":{"errorCode":1008,"description":"\u0027fcdde5a-2426-47ef-b309-33eb019c10a7\u0027 is not a valid UUID"}}},"schema":{"$ref":"#/components/schemas/jsonLidbOrderReportErrorResponse"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CLidbOrderReportResponse\u003E\n    \u003CResponseStatus\u003E\n      \u003CErrorCode\u003E1008\u003C/ErrorCode\u003E\n      \u003CDescription\u003E\u0027fcdde5a-2426-47ef-b309-33eb019c10a7\u0027 is not a valid UUID\u003C/Description\u003E\n    \u003C/ResponseStatus\u003E\n\u003C/LidbOrderReportResponse\u003E"}},"schema":{"$ref":"#/components/schemas/responseStatus"}}}},"dldaOrderGet400ErrorResponse":{"description":"Bad Request","content":{"application/json":{"examples":{"example":{"value":{"errorCode":1008,"description":"\u0027fcdde5a-2426-47ef-b309-33eb019c10a7\u0027 is not a valid UUID"}}},"schema":{"$ref":"#/components/schemas/jsonDldaOrderReportErrorResponse"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CDldaOrderReportResponse\u003E\n  \u003CResponseStatus\u003E\n    \u003CErrorCode\u003E1008\u003C/ErrorCode\u003E\n    \u003CDescription\u003E\u0027fcdde5a-2426-47ef-b309-33eb019c10a7\u0027 is not a valid UUID\u003C/Description\u003E\n  \u003C/ResponseStatus\u003E\n\u003C/DldaOrderReportResponse\u003E"}},"schema":{"$ref":"#/components/schemas/responseStatus"}}}},"lidbOrderGet400Response":{"description":"Bad Request","content":{"application/json":{"examples":{"example":{"value":{"errorCode":12512,"description":"Telephone number \u002744374333407787b\u0027 is not valid"}}},"schema":{"$ref":"#/components/schemas/jsonLidbOrderReportErrorResponse"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CLidbOrderReportResponse\u003E\n  \u003CResponseStatus\u003E\n    \u003CErrorCode\u003E12512\u003C/ErrorCode\u003E\n    \u003CDescription\u003ETelephone number \u002744374333407787b\u0027 is not valid\u003C/Description\u003E\n  \u003C/ResponseStatus\u003E\n\u003C/LidbOrderReportResponse\u003E"}},"schema":{"$ref":"#/components/schemas/lidbOrderReportErrorResponse"}}}},"dldaOrderGet400Response":{"description":"Bad Request","content":{"application/json":{"examples":{"example":{"value":{"errorCode":12512,"description":"Telephone number \u002744374333407787b\u0027 is not valid"}}},"schema":{"$ref":"#/components/schemas/jsonDldaOrderReportErrorResponse"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CDldaOrderReportResponse\u003E\n  \u003CResponseStatus\u003E\n    \u003CErrorCode\u003E12512\u003C/ErrorCode\u003E\n    \u003CDescription\u003ETelephone number \u0027 7834563789387\u0027 is not valid\u003C/Description\u003E\n  \u003C/ResponseStatus\u003E\n\u003C/DldaOrderRe
[...]
