{"openapi":"3.0.3","info":{"title":"Messaging","version":"4.3.0","contact":{"name":"Bandwidth","url":"https://www.bandwidth.com/support","email":"ticketing@bandwidth.com"},"termsOfService":"https://www.bandwidth.com/legal/terms-of-use-bandwidthcom-web-sites/","description":"The API Specification for Bandwidth\u0027s Messaging Platform\n\n## Base URL\n\n\u0060https://messaging.bandwidth.com/api/v2\u0060"},"servers":[{"url":"https://messaging.bandwidth.com/api/v2","description":"Production"}],"paths":{"/users/{accountId}/media":{"get":{"summary":"List Media","description":"Gets a list of your media files. No query parameters are supported.","operationId":"listMedia","tags":["Media"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/continuationToken"}],"responses":{"200":{"$ref":"#/components/responses/listMediaResponse"},"400":{"$ref":"#/components/responses/messagingBadRequestError"},"401":{"$ref":"#/components/responses/messagingUnauthorizedError"},"403":{"$ref":"#/components/responses/messagingForbiddenError"},"404":{"$ref":"#/components/responses/messagingNotFoundError"},"406":{"$ref":"#/components/responses/messagingNotAcceptableError"},"415":{"$ref":"#/components/responses/messagingInvalidMediaTypeError"},"429":{"$ref":"#/components/responses/messagingTooManyRequestsError"},"500":{"$ref":"#/components/responses/messagingInternalServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl \u0027https://messaging.bandwidth.com/api/v2/users/9900000/media\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Continuation-Token: 1XEi2tsFtLo1JbtLwETnM1ZJ\u002BPqAa8w6ENvC5QKvwyrCDYII663Gy5M4s40owR1tjkuWUif6qbWvFtQJR5/ipqbUnfAqL254LKNlPy6tATCzioKSuHuOqgzloDkSwRtX0LtcL2otHS69hK343m\u002BSjdL\u002Bvlj71tT39\u0027 \\\n  -H \u0027Accept: application/json\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class ListMediaExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new MediaApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var continuationToken = 1XEi2tsFtLo1JbtLwETnM1ZJ\u002BPqAa8w6ENvC5QKvwyrCDYII663Gy5M4s40owR1tjkuWUif6qbWvFtQJR5/ipqbUnfAqL254LKNlPy6tATCzioKSuHuOqgzloDkSwRtX0LtcL2otHS69hK343m\u002BSjdL\u002Bvlj71tT39;  // string | Continuation token used to retrieve subsequent media. (optional) \n\n            try\n            {\n                // List Media\n                List\u003CMedia\u003E result = apiInstance.ListMedia(accountId, continuationToken);\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling MediaApi.ListMedia: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.MediaApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    MediaApi apiInstance = new MediaApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    String continuationToken = \u00221XEi2tsFtLo1JbtLwETnM1ZJ\u002BPqAa8w6ENvC5QKvwyrCDYII663Gy5M4s40owR1tjkuWUif6qbWvFtQJR5/ipqbUnfAqL254LKNlPy6tATCzioKSuHuOqgzloDkSwRtX0LtcL2otHS69hK343m\u002BSjdL\u002Bvlj71tT39\u0022; // String | Continuation token used to retrieve subsequent media.\n    try {\n      List\u003CMedia\u003E result = apiInstance.listMedia(accountId, continuationToken);\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling MediaApi#listMedia\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"PHP","source":"\u003C?php\n\nrequire \u0022vendor/autoload.php\u0022;\n\napi-username = \u0022api-username\u0022;\napi-password = \u0022api-pasword\u0022;\n12345 = \u002212345\u0022;\n\n$config = new BandwidthLib\\Configuration(\n    array(\n        \u0027messagingBasicAuthUserName\u0027 =\u003E $BW_USERNAME,\n        \u0027messagingBasicAuthPassword\u0027 =\u003E $BW_PASSWORD,\n    )\n);\n$client = new BandwidthLib\\BandwidthClient($config);\n\n$messagingClient = $client-\u003EgetMessaging()-\u003EgetClient();\n\ntry {\n    $response = $messagingClient-\u003ElistMedia($BW_ACCOUNT_ID);\n    if (count($response-\u003EgetResult()) \u003E 0) {\n        print_r($response-\u003EgetResult()[0]-\u003EmediaName);\n    }\n} catch (BandwidthLib\\APIException $e) {\n    print_r($e-\u003EgetResponseCode());\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.models.media import Media\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.MediaApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    continuation_token = \u00271XEi2tsFtLo1JbtLwETnM1ZJ\u002BPqAa8w6ENvC5QKvwyrCDYII663Gy5M4s40owR1tjkuWUif6qbWvFtQJR5/ipqbUnfAqL254LKNlPy6tATCzioKSuHuOqgzloDkSwRtX0LtcL2otHS69hK343m\u002BSjdL\u002Bvlj71tT39\u0027 # str | Continuation token used to retrieve subsequent media. (optional)\n\n    try:\n        # List Media\n        api_response = api_instance.list_media(account_id, continuation_token=continuation_token)\n        print(\u0022The response of MediaApi-\u003Elist_media:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling MediaApi-\u003Elist_media: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::MediaApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\nopts = {\n  continuation_token: \u00271XEi2tsFtLo1JbtLwETnM1ZJ\u002BPqAa8w6ENvC5QKvwyrCDYII663Gy5M4s40owR1tjkuWUif6qbWvFtQJR5/ipqbUnfAqL254LKNlPy6tATCzioKSuHuOqgzloDkSwRtX0LtcL2otHS69hK343m\u002BSjdL\u002Bvlj71tT39\u0027 # String | Continuation token used to retrieve subsequent media.\n}\n\nbegin\n  # List Media\n  result = api_instance.list_media(account_id, opts)\n  p result\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling MediaApi-\u003Elist_media: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    MediaApi,\n    Configuration\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new MediaApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet continuationToken: string; //Continuation token used to retrieve subsequent media. (optional) (default to undefined)\n\nconst { status, data } = await apiInstance.listMedia(\n    accountId,\n    continuationToken\n);\n"}]}},"/users/{accountId}/media/{mediaId}":{"get":{"summary":"Get Media","description":"Downloads a media file you previously uploaded.","operationId":"getMedia","tags":["Media"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/mediaId"}],"responses":{"200":{"$ref":"#/components/responses/getMediaResponse"},"400":{"$ref":"#/components/responses/messagingBadRequestError"},"401":{"$ref":"#/components/responses/messagingUnauthorizedError"},"403":{"$ref":"#/components/responses/messagingForbiddenError"},"404":{"$ref":"#/components/responses/messagingNotFoundError"},"406":{"$ref":"#/components/responses/messagingNotAcceptableError"},"415":{"$ref":"#/components/responses/messagingInvalidMediaTypeError"},"429":{"$ref":"#/components/responses/messagingTooManyRequestsError"},"500":{"$ref":"#/components/responses/messagingInternalServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl \u0027https://messaging.bandwidth.com/api/v2/users/9900000/media/14762070468292kw2fuqty55yp2b2/0/bw.png\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Accept: application/octet-stream\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class GetMediaExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new MediaApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var mediaId = 14762070468292kw2fuqty55yp2b2/0/bw.png;  // string | Media ID to retrieve.\n\n            try\n            {\n                // Get Media\n                System.IO.Stream result = apiInstance.GetMedia(accountId, mediaId);\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling MediaApi.GetMedia: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.MediaApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    MediaApi apiInstance = new MediaApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    String mediaId = \u002214762070468292kw2fuqty55yp2b2/0/bw.png\u0022; // String | Media ID to retrieve.\n    try {\n      File result = apiInstance.getMedia(accountId, mediaId);\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling MediaApi#getMedia\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"PHP","source":"\u003C?php\n\nrequire \u0022vendor/autoload.php\u0022;\n\napi-username = \u0022api-username\u0022;\napi-password = \u0022api-pasword\u0022;\n12345 = \u002212345\u0022;\n\n$config = new BandwidthLib\\Configuration(\n    array(\n        \u0027messagingBasicAuthUserName\u0027 =\u003E $BW_USERNAME,\n        \u0027messagingBasicAuthPassword\u0027 =\u003E $BW_PASSWORD,\n    )\n);\n$client = new BandwidthLib\\BandwidthClient($config);\n\n$messagingClient = $client-\u003EgetMessaging()-\u003EgetClient();\n\n$mediaFileName = \u0022media-id-123\u0022;\n\ntry {\n    $response = $messagingClient-\u003EgetMedia($BW_ACCOUNT_ID, $mediaFileName);\n    $downloadedMediaFile = $response-\u003EgetResult();\n} catch (BandwidthLib\\APIException $e) {\n    print_r($e-\u003EgetResponseCode());\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.MediaApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    media_id = \u002714762070468292kw2fuqty55yp2b2/0/bw.png\u0027 # str | Media ID to retrieve.\n\n    try:\n        # Get Media\n        api_response = api_instance.get_media(account_id, media_id)\n        print(\u0022The response of MediaApi-\u003Eget_media:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling MediaApi-\u003Eget_media: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::MediaApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\nmedia_id = \u002714762070468292kw2fuqty55yp2b2/0/bw.png\u0027 # String | Media ID to retrieve.\n\nbegin\n  # Get Media\n  result = api_instance.get_media(account_id, media_id)\n  p result\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling MediaApi-\u003Eget_media: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    MediaApi,\n    Configuration\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new MediaApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet mediaId: string; //Media ID to retrieve. (default to undefined)\n\nconst { status, data } = await apiInstance.getMedia(\n    accountId,\n    mediaId\n);\n"}]},"put":{"summary":"Upload Media","description":"Upload a file. You may add headers to the request in order to provide some control to your media file.\n\nIf a file is uploaded with the same name as a file that already exists under this account, the previous file will be overwritten.\n\nA list of supported media types can be found at [Bandwidth Support](https://www.bandwidth.com/support/en/articles/12823220-what-mms-file-types-are-supported).","operationId":"uploadMedia","tags":["Media"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/mediaId"},{"$ref":"#/components/parameters/contentType"},{"$ref":"#/components/parameters/cacheControl"}],"requestBody":{"$ref":"#/components/requestBodies/uploadMediaRequest"},"responses":{"204":{"description":"No Content"},"400":{"$ref":"#/components/responses/messagingBadRequestError"},"401":{"$ref":"#/components/responses/messagingUnauthorizedError"},"403":{"$ref":"#/components/responses/messagingForbiddenError"},"404":{"$ref":"#/components/responses/messagingNotFoundError"},"406":{"$ref":"#/components/responses/messagingNotAcceptableError"},"415":{"$ref":"#/components/responses/messagingInvalidMediaTypeError"},"429":{"$ref":"#/components/responses/messagingTooManyRequestsError"},"500":{"$ref":"#/components/responses/messagingInternalServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X PUT \u0027https://messaging.bandwidth.com/api/v2/users/9900000/media/14762070468292kw2fuqty55yp2b2/0/bw.png\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Content-Type: image/png\u0027 \\\n  --data-binary \u0027@/path/to/image/bw.png\u0027\n"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class UploadMediaExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new MediaApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var mediaId = 14762070468292kw2fuqty55yp2b2/0/bw.png;  // string | Media ID to retrieve.\n            var body = new System.IO.MemoryStream(System.IO.File.ReadAllBytes(\u0022/path/to/file.txt\u0022));  // System.IO.Stream | \n            var contentType = audio/wav;  // string | The media type of the entity-body. (optional) \n            var cacheControl = no-cache;  // string | General-header field is used to specify directives that MUST be obeyed by all caching mechanisms along the request/response chain. (optional) \n\n            try\n            {\n                // Upload Media\n                apiInstance.UploadMedia(accountId, mediaId, body, contentType, cacheControl);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling MediaApi.UploadMedia: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.MediaApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    MediaApi apiInstance = new MediaApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    String mediaId = \u002214762070468292kw2fuqty55yp2b2/0/bw.png\u0022; // String | Media ID to retrieve.\n    File body = new File(\u0022/path/to/file\u0022); // File | \n    String contentType = \u0022audio/wav\u0022; // String | The media type of the entity-body.\n    String cacheControl = \u0022no-cache\u0022; // String | General-header field is used to specify directives that MUST be obeyed by all caching mechanisms along the request/response chain.\n    try {\n      apiInstance.uploadMedia(accountId, mediaId, body, contentType, cacheControl);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling MediaApi#uploadMedia\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"PHP","source":"\u003C?php\n\nrequire \u0022vendor/autoload.php\u0022;\n\napi-username = \u0022api-username\u0022;\napi-password = \u0022api-pasword\u0022;\n12345 = \u002212345\u0022;\n\n$config = new BandwidthLib\\Configuration(\n    array(\n        \u0027messagingBasicAuthUserName\u0027 =\u003E $BW_USERNAME,\n        \u0027messagingBasicAuthPassword\u0027 =\u003E $BW_PASSWORD,\n    )\n);\n$client = new BandwidthLib\\BandwidthClient($config);\n\n$messagingClient = $client-\u003EgetMessaging()-\u003EgetClient();\n\n$mediaFileName = \u0022sample_file_name\u0022;\n$mediaFile = \u002212345\u0022; //Any binary string will work for the upload. This includes file contents\n\ntry {\n    $messagingClient-\u003EuploadMedia($BW_ACCOUNT_ID, $mediaFileName, $mediaFile);\n} catch (BandwidthLib\\APIException $e) {\n    print_r($e-\u003EgetResponseCode());\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.MediaApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    media_id = \u002714762070468292kw2fuqty55yp2b2/0/bw.png\u0027 # str | Media ID to retrieve.\n    body = None # bytearray | \n    content_type = \u0027audio/wav\u0027 # str | The media type of the entity-body. (optional)\n    cache_control = \u0027no-cache\u0027 # str | General-header field is used to specify directives that MUST be obeyed by all caching mechanisms along the request/response chain. (optional)\n\n    try:\n        # Upload Media\n        api_instance.upload_media(account_id, media_id, body, content_type=content_type, cache_control=cache_control)\n    except Exception as e:\n        print(\u0022Exception when calling MediaApi-\u003Eupload_media: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::MediaApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\nmedia_id = \u002714762070468292kw2fuqty55yp2b2/0/bw.png\u0027 # String | Media ID to retrieve.\nbody = File.new(\u0027/path/to/some/file\u0027) # File | \nopts = {\n  content_type: \u0027audio/wav\u0027, # String | The media type of the entity-body.\n  cache_control: \u0027no-cache\u0027 # String | General-header field is used to specify directives that MUST be obeyed by all caching mechanisms along the request/response chain.\n}\n\nbegin\n  # Upload Media\n  api_instance.upload_media(account_id, media_id, body, opts)\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling MediaApi-\u003Eupload_media: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    MediaApi,\n    Configuration\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new MediaApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet mediaId: string; //Media ID to retrieve. (default to undefined)\nlet body: File; //\nlet contentType: string; //The media type of the entity-body. (optional) (default to undefined)\nlet cacheControl: string; //General-header field is used to specify directives that MUST be obeyed by all caching mechanisms along the request/response chain. (optional) (default to undefined)\n\nconst { status, data } = await apiInstance.uploadMedia(\n    accountId,\n    mediaId,\n    body,\n    contentType,\n    cacheControl\n);\n"}]},"delete":{"summary":"Delete Media","description":"Deletes a media file from Bandwidth API server. Make sure you don\u0027t have\nany application scripts still using the media before you delete.\n\nIf you accidentally delete a media file you can immediately upload a new\nfile with the same name.","operationId":"deleteMedia","tags":["Media"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/mediaId"}],"responses":{"204":{"description":"No Content"},"400":{"$ref":"#/components/responses/messagingBadRequestError"},"401":{"$ref":"#/components/responses/messagingUnauthorizedError"},"403":{"$ref":"#/components/responses/messagingForbiddenError"},"404":{"$ref":"#/components/responses/messagingNotFoundError"},"406":{"$ref":"#/components/responses/messagingNotAcceptableError"},"415":{"$ref":"#/components/responses/messagingInvalidMediaTypeError"},"429":{"$ref":"#/components/responses/messagingTooManyRequestsError"},"500":{"$ref":"#/components/responses/messagingInternalServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X DELETE \u0027https://messaging.bandwidth.com/api/v2/users/9900000/media/14762070468292kw2fuqty55yp2b2/0/bw.png\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Accept: application/json\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class DeleteMediaExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new MediaApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var mediaId = 14762070468292kw2fuqty55yp2b2/0/bw.png;  // string | Media ID to retrieve.\n\n            try\n            {\n                // Delete Media\n                apiInstance.DeleteMedia(accountId, mediaId);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling MediaApi.DeleteMedia: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.MediaApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    MediaApi apiInstance = new MediaApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    String mediaId = \u002214762070468292kw2fuqty55yp2b2/0/bw.png\u0022; // String | Media ID to retrieve.\n    try {\n      apiInstance.deleteMedia(accountId, mediaId);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling MediaApi#deleteMedia\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"PHP","source":"\u003C?php\n  \nrequire \u0022vendor/autoload.php\u0022;\n\napi-username = \u0022api-username\u0022;\napi-password = \u0022api-pasword\u0022;\n12345 = \u002212345\u0022;\n1234-asdf = \u00221234-asdf\u0022;\n\u002B15554443333 = \u0022\u002B15554443333\u0022;\n\u002B15553334444 = \u0022\u002B15553334444\u0022;\n\n$config = new BandwidthLib\\Configuration(\n    array(\n        \u0027messagingBasicAuthUserName\u0027 =\u003E $BW_USERNAME,\n        \u0027messagingBasicAuthPassword\u0027 =\u003E $BW_PASSWORD,\n    )\n);\n$client = new BandwidthLib\\BandwidthClient($config);\n\n$messagingClient = $client-\u003EgetMessaging()-\u003EgetClient();\n\n$mediaId = \u0022m-1234\u0022;\n\ntry {\n    $messagingClient-\u003EdeleteMedia($BW_ACCOUNT_ID, $mediaId);\n} catch (BandwidthLib\\APIException $e) {\n    print_r($e-\u003EgetResponseCode());\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.MediaApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    media_id = \u002714762070468292kw2fuqty55yp2b2/0/bw.png\u0027 # str | Media ID to retrieve.\n\n    try:\n        # Delete Media\n        api_instance.delete_media(account_id, media_id)\n    except Exception as e:\n        print(\u0022Exception when calling MediaApi-\u003Edelete_media: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::MediaApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\nmedia_id = \u002714762070468292kw2fuqty55yp2b2/0/bw.png\u0027 # String | Media ID to retrieve.\n\nbegin\n  # Delete Media\n  api_instance.delete_media(account_id, media_id)\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling MediaApi-\u003Edelete_media: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    MediaApi,\n    Configuration\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new MediaApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet mediaId: string; //Media ID to retrieve. (default to undefined)\n\nconst { status, data } = await apiInstance.deleteMedia(\n    accountId,\n    mediaId\n);\n"}]}},"/users/{accountId}/messages":{"get":{"summary":"List Messages","description":"Returns a list of messages based on query parameters.\n\n**Rate Limit:** This endpoint is rate limited to 3500 requests per 5 minutes per Source IP address. Exceeding the limit returns HTTP 429 with a \u0060Retry-After\u0060 header.\n","operationId":"listMessages","tags":["Messages"],"parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/messageId"},{"$ref":"#/components/parameters/sourceTn"},{"$ref":"#/components/parameters/destinationTn"},{"$ref":"#/components/parameters/messageStatus"},{"$ref":"#/components/parameters/messageDirection"},{"$ref":"#/components/parameters/carrierName"},{"$ref":"#/components/parameters/messageType"},{"$ref":"#/components/parameters/errorCode"},{"$ref":"#/components/parameters/fromDateTime"},{"$ref":"#/components/parameters/toDateTime"},{"$ref":"#/components/parameters/campaignId"},{"$ref":"#/components/parameters/fromBwLatency"},{"$ref":"#/components/parameters/bwQueued"},{"$ref":"#/components/parameters/product"},{"$ref":"#/components/parameters/location"},{"$ref":"#/components/parameters/carrierQueued"},{"$ref":"#/components/parameters/fromCarrierLatency"},{"$ref":"#/components/parameters/callingNumberCountryA3"},{"$ref":"#/components/parameters/calledNumberCountryA3"},{"$ref":"#/components/parameters/fromSegmentCount"},{"$ref":"#/components/parameters/toSegmentCount"},{"$ref":"#/components/parameters/fromMessageSize"},{"$ref":"#/components/parameters/toMessageSize"},{"$ref":"#/components/parameters/sort"},{"$ref":"#/components/parameters/pageToken"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/limitTotalCount"}],"responses":{"200":{"$ref":"#/components/responses/listMessagesResponse"},"400":{"$ref":"#/components/responses/messagingBadRequestError"},"401":{"$ref":"#/components/responses/messagingUnauthorizedError"},"403":{"$ref":"#/components/responses/messagingForbiddenError"},"404":{"$ref":"#/components/responses/messagingNotFoundError"},"405":{"$ref":"#/components/responses/messagingMethodNotAllowedError"},"415":{"$ref":"#/components/responses/messagingInvalidMediaTypeError"},"429":{"$ref":"#/components/responses/listMessagesTooManyRequestsError"},"500":{"$ref":"#/components/responses/messagingInternalServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl \u0027https://messaging.bandwidth.com/api/v2/users/9900000/messages?messageId=9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6\u0026sourceTn=%2B15554443333\u0026destinationTn=%2B15554443333\u0026messageStatus=RECEIVED\u0026messageDirection=INBOUND\u0026carrierName=Verizon\u0026messageType=sms\u0026errorCode=9902\u0026fromDateTime=2022-09-14T18%3A20%3A16.000Z\u0026toDateTime=2022-09-14T18%3A20%3A16.000Z\u0026campaignId=CJEUMDK\u0026sort=sourceTn%3Adesc\u0026pageToken=gdEewhcJLQRB5\u0026limit=50\u0026limitTotalCount=true\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Accept: application/json\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class ListMessagesExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new MessagesApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var messageId = 9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6;  // string | The ID of the message to search for. Special characters need to be encoded using URL encoding. Message IDs could come in different formats, e.g., 9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6 and 1589228074636lm4k2je7j7jklbn2 are valid message ID formats. Note that you must include at least one query parameter. (optional) \n            var sourceTn = %2B15554443333;  // string | The phone number that sent the message. Accepted values are: a single full phone number a comma separated list of full phone numbers (maximum of 10) or a single partial phone number (minimum of 5 characters e.g. \u0027%2B1919\u0027). (optional) \n            var destinationTn = %2B15554443333;  // string | The phone number that received the message. Accepted values are: a single full phone number a comma separated list of full phone numbers (maximum of 10) or a single partial phone number (minimum of 5 characters e.g. \u0027%2B1919\u0027). (optional) \n            var messageStatus = (MessageStatusEnum) \u0022RECEIVED\u0022;  // MessageStatusEnum? | The status of the message. One of RECEIVED QUEUED SENDING SENT FAILED DELIVERED ACCEPTED UNDELIVERED. (optional) \n            var messageDirection = (ListMessageDirectionEnum) \u0022INBOUND\u0022;  // ListMessageDirectionEnum? | The direction of the message. One of INBOUND OUTBOUND. (optional) \n            var carrierName = Verizon;  // string | The name of the carrier used for this message. Possible values include but are not limited to Verizon and TMobile. Special characters need to be encoded using URL encoding (i.e. AT\u0026T should be passed as AT%26T). (optional) \n            var messageType = (MessageTypeEnum) \u0022sms\u0022;  // MessageTypeEnum? | The type of message. Either sms or mms. (optional) \n            var errorCode = 9902;  // int? | The error code of the message. (optional) \n            var fromDateTime = 2022-09-14T18:20:16.000Z;  // string | The start of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days. (optional) \n            var toDateTime = 2022-09-14T18:20:16.000Z;  // string | The end of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days. (optional) \n            var campaignId = CJEUMDK;  // string | The campaign ID of the message. (optional) \n            var sort = sourceTn:desc;  // string | The field and direction to sort by combined with a colon. Direction is either asc or desc. (optional) \n            var pageToken = gdEewhcJLQRB5;  // string | A base64 encoded value used for pagination of results. (optional) \n            var limit = 50;  // int? | The maximum records requested in search result. Default 100. The sum of limit and after cannot be more than 10000. (optional) \n            var limitTotalCount = true;  // bool? | When set to true, the response\u0027s totalCount field will have a maximum value of 10,000. When set to false, or excluded, this will give an accurate totalCount of all messages that match the provided filters. If you are experiencing latency, try using this parameter to limit your results. (optional) \n\n            try\n            {\n                // List Messages\n                MessagesList result = apiInstance.ListMessages(accountId, messageId, sourceTn, destinationTn, messageStatus, messageDirection, carrierName, messageType, errorCode, fromDateTime, toDateTime, campaignId, sort, pageToken, limit, limitTotalCount);\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling MessagesApi.ListMessages: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.MessagesApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    MessagesApi apiInstance = new MessagesApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    String messageId = \u00229e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6\u0022; // String | The ID of the message to search for. Special characters need to be encoded using URL encoding. Message IDs could come in different formats, e.g., 9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6 and 1589228074636lm4k2je7j7jklbn2 are valid message ID formats. Note that you must include at least one query parameter.\n    String sourceTn = \u0022%2B15554443333\u0022; // String | The phone number that sent the message. Accepted values are: a single full phone number a comma separated list of full phone numbers (maximum of 10) or a single partial phone number (minimum of 5 characters e.g. \u0027%2B1919\u0027).\n    String destinationTn = \u0022%2B15554443333\u0022; // String | The phone number that received the message. Accepted values are: a single full phone number a comma separated list of full phone numbers (maximum of 10) or a single partial phone number (minimum of 5 characters e.g. \u0027%2B1919\u0027).\n    MessageStatusEnum messageStatus = MessageStatusEnum.fromValue(\u0022RECEIVED\u0022); // MessageStatusEnum | The status of the message. One of RECEIVED QUEUED SENDING SENT FAILED DELIVERED ACCEPTED UNDELIVERED.\n    ListMessageDirectionEnum messageDirection = ListMessageDirectionEnum.fromValue(\u0022INBOUND\u0022); // ListMessageDirectionEnum | The direction of the message. One of INBOUND OUTBOUND.\n    String carrierName = \u0022Verizon\u0022; // String | The name of the carrier used for this message. Possible values include but are not limited to Verizon and TMobile. Special characters need to be encoded using URL encoding (i.e. AT\u0026T should be passed as AT%26T).\n    MessageTypeEnum messageType = MessageTypeEnum.fromValue(\u0022sms\u0022); // MessageTypeEnum | The type of message. Either sms or mms.\n    Integer errorCode = 9902; // Integer | The error code of the message.\n    String fromDateTime = \u00222022-09-14T18:20:16.000Z\u0022; // String | The start of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days.\n    String toDateTime = \u00222022-09-14T18:20:16.000Z\u0022; // String | The end of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days.\n    String campaignId = \u0022CJEUMDK\u0022; // String | The campaign ID of the message.\n    String sort = \u0022sourceTn:desc\u0022; // String | The field and direction to sort by combined with a colon. Direction is either asc or desc.\n    String pageToken = \u0022gdEewhcJLQRB5\u0022; // String | A base64 encoded value used for pagination of results.\n    Integer limit = 50; // Integer | The maximum records requested in search result. Default 100. The sum of limit and after cannot be more than 10000.\n    Boolean limitTotalCount = true; // Boolean | When set to true, the response\u0027s totalCount field will have a maximum value of 10,000. When set to false, or excluded, this will give an accurate totalCount of all messages that match the provided filters. If you are experiencing latency, try using this parameter to limit your results.\n    try {\n      MessagesList result = apiInstance.listMessages(accountId, messageId, sourceTn, destinationTn, messageStatus, messageDirection, carrierName, messageType, errorCode, fromDateTime, toDateTime, campaignId, sort, pageToken, limit, limitTotalCount);\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling MessagesApi#listMessages\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"PHP","source":"\u003C?php\n\nrequire \u0022vendor/autoload.php\u0022;\n\napi-username = \u0022api-username\u0022;\napi-password = \u0022api-pasword\u0022;\n12345 = \u002212345\u0022;\n\u002B15554443333 = \u0022\u002B15554443333\u0022;\n\n$config = new BandwidthLib\\Configuration(\n    array(\n        \u0027messagingBasicAuthUserName\u0027 =\u003E $BW_USERNAME,\n        \u0027messagingBasicAuthPassword\u0027 =\u003E $BW_PASSWORD,\n    )\n);\n$client = new BandwidthLib\\BandwidthClient($config);\n\n$messagingClient = $client-\u003EgetMessaging()-\u003EgetClient();\n\ntry {\n    $response = $messagingClient-\u003EgetMessages($BW_ACCOUNT_ID, $sourceTn = $BW_NUMBER);\n    print_r($response-\u003EgetResult()-\u003EtotalCount);\n} catch (BandwidthLib\\APIException $e) {\n    print_r($e-\u003EgetResponseCode());\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.models.list_message_direction_enum import ListMessageDirectionEnum\nfrom bandwidth.models.message_status_enum import MessageStatusEnum\nfrom bandwidth.models.message_type_enum import MessageTypeEnum\nfrom bandwidth.models.messages_list import MessagesList\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.MessagesApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    message_id = \u00279e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6\u0027 # str | The ID of the message to search for. Special characters need to be encoded using URL encoding. Message IDs could come in different formats, e.g., 9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6 and 1589228074636lm4k2je7j7jklbn2 are valid message ID formats. Note that you must include at least one query parameter. (optional)\n    source_tn = \u0027%2B15554443333\u0027 # str | The phone number that sent the message. Accepted values are: a single full phone number a comma separated list of full phone numbers (maximum of 10) or a single partial phone number (minimum of 5 characters e.g. \u0027%2B1919\u0027). (optional)\n    destination_tn = \u0027%2B15554443333\u0027 # str | The phone number that received the message. Accepted values are: a single full phone number a comma separated list of full phone numbers (maximum of 10) or a single partial phone number (minimum of 5 characters e.g. \u0027%2B1919\u0027). (optional)\n    message_status = bandwidth.MessageStatusEnum() # MessageStatusEnum | The status of the message. One of RECEIVED QUEUED SENDING SENT FAILED DELIVERED ACCEPTED UNDELIVERED. (optional)\n    message_direction = bandwidth.ListMessageDirectionEnum() # ListMessageDirectionEnum | The direction of the message. One of INBOUND OUTBOUND. (optional)\n    carrier_name = \u0027Verizon\u0027 # str | The name of the carrier used for this message. Possible values include but are not limited to Verizon and TMobile. Special characters need to be encoded using URL encoding (i.e. AT\u0026T should be passed as AT%26T). (optional)\n    message_type = bandwidth.MessageTypeEnum() # MessageTypeEnum | The type of message. Either sms or mms. (optional)\n    error_code = 9902 # int | The error code of the message. (optional)\n    from_date_time = \u00272022-09-14T18:20:16.000Z\u0027 # str | The start of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days. (optional)\n    to_date_time = \u00272022-09-14T18:20:16.000Z\u0027 # str | The end of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days. (optional)\n    campaign_id = \u0027CJEUMDK\u0027 # str | The campaign ID of the message. (optional)\n    sort = \u0027sourceTn:desc\u0027 # str | The field and direction to sort by combined with a colon. Direction is either asc or desc. (optional)\n    page_token = \u0027gdEewhcJLQRB5\u0027 # str | A base64 encoded value used for pagination of results. (optional)\n    limit = 50 # int | The maximum records requested in search result. Default 100. The sum of limit and after cannot be more than 10000. (optional)\n    limit_total_count = true # bool | When set to true, the response\u0027s totalCount field will have a maximum value of 10,000. When set to false, or excluded, this will give an accurate totalCount of all messages that match the provided filters. If you are experiencing latency, try using this parameter to limit your results. (optional)\n\n    try:\n        # List Messages\n        api_response = api_instance.list_messages(account_id, message_id=message_id, source_tn=source_tn, destination_tn=destination_tn, message_status=message_status, message_direction=message_direction, carrier_name=carrier_name, message_type=message_type, error_code=error_code, from_date_time=from_date_time, to_date_time=to_date_time, campaign_id=campaign_id, sort=sort, page_token=page_token, limit=limit, limit_total_count=limit_total_count)\n        print(\u0022The response of MessagesApi-\u003Elist_messages:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling MessagesApi-\u003Elist_messages: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::MessagesApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\nopts = {\n  message_id: \u00279e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6\u0027, # String | The ID of the message to search for. Special characters need to be encoded using URL encoding. Message IDs could come in different formats, e.g., 9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6 and 1589228074636lm4k2je7j7jklbn2 are valid message ID formats. Note that you must include at least one query parameter.\n  source_tn: \u0027%2B15554443333\u0027, # String | The phone number that sent the message. Accepted values are: a single full phone number a comma separated list of full phone numbers (maximum of 10) or a single partial phone number (minimum of 5 characters e.g. \u0027%2B1919\u0027).\n  destination_tn: \u0027%2B15554443333\u0027, # String | The phone number that received the message. Accepted values are: a single full phone number a comma separated list of full phone numbers (maximum of 10) or a single partial phone number (minimum of 5 characters e.g. \u0027%2B1919\u0027).\n  message_status: Bandwidth::MessageStatusEnum::RECEIVED, # MessageStatusEnum | The status of the message. One of RECEIVED QUEUED SENDING SENT FAILED DELIVERED ACCEPTED UNDELIVERED.\n  message_direction: Bandwidth::ListMessageDirectionEnum::INBOUND, # ListMessageDirectionEnum | The direction of the message. One of INBOUND OUTBOUND.\n  carrier_name: \u0027Verizon\u0027, # String | The name of the carrier used for this message. Possible values include but are not limited to Verizon and TMobile. Special characters need to be encoded using URL encoding (i.e. AT\u0026T should be passed as AT%26T).\n  message_type: Bandwidth::MessageTypeEnum::SMS, # MessageTypeEnum | The type of message. Either sms or mms.\n  error_code: 9902, # Integer | The error code of the message.\n  from_date_time: \u00272022-09-14T18:20:16.000Z\u0027, # String | The start of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days.\n  to_date_time: \u00272022-09-14T18:20:16.000Z\u0027, # String | The end of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days.\n  campaign_id: \u0027CJEUMDK\u0027, # String | The campaign ID of the message.\n  sort: \u0027sourceTn:desc\u0027, # String | The field and direction to sort by combined with a colon. Direction is either asc or desc.\n  page_token: \u0027gdEewhcJLQRB5\u0027, # String | A base64 encoded value used for pagination of results.\n  limit: 50, # Integer | The maximum records requested in search result. Default 100. The sum of limit and after cannot be more than 10000.\n  limit_total_count: true # Boolean | When set to true, the response\u0027s totalCount field will have a maximum value of 10,000. When set to false, or excluded, this will give an accurate totalCount of all messages that match the provided filters. If you are experiencing latency, try using this parameter to limit your results.\n}\n\nbegin\n  # List Messages\n  result = api_instance.list_messages(account_id, opts)\n  p result\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling MessagesApi-\u003Elist_messages: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    MessagesApi,\n    Configuration\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new MessagesApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet messageId: string; //The ID of the message to search for. Special characters need to be encoded using URL encoding. Message IDs could come in different formats, e.g., 9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6 and 1589228074636lm4k2je7j7jklbn2 are valid message ID formats. Note that you must include at least one query parameter. (optional) (default to undefined)\nlet sourceTn: string; //The phone number that sent the message. Accepted values are: a single full phone number a comma separated list of full phone numbers (maximum of 10) or a single partial phone number (minimum of 5 characters e.g. \\\u0027%2B1919\\\u0027). (optional) (default to undefined)\nlet destinationTn: string; //The phone number that received the message. Accepted values are: a single full phone number a comma separated list of full phone numbers (maximum of 10) or a single partial phone number (minimum of 5 characters e.g. \\\u0027%2B1919\\\u0027). (optional) (default to undefined)\nlet messageStatus: MessageStatusEnum; //The status of the message. One of RECEIVED QUEUED SENDING SENT FAILED DELIVERED ACCEPTED UNDELIVERED. (optional) (default to undefined)\nlet messageDirection: ListMessageDirectionEnum; //The direction of the message. One of INBOUND OUTBOUND. (optional) (default to undefined)\nlet carrierName: string; //The name of the carrier used for this message. Possible values include but are not limited to Verizon and TMobile. Special characters need to be encoded using URL encoding (i.e. AT\u0026T should be passed as AT%26T). (optional) (default to undefined)\nlet messageType: MessageTypeEnum; //The type of message. Either sms or mms. (optional) (default to undefined)\nlet errorCode: number; //The error code of the message. (optional) (default to undefined)\nlet fromDateTime: string; //The start of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days. (optional) (default to undefined)\nlet toDateTime: string; //The end of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days. (optional) (default to undefined)\nlet campaignId: string; //The campaign ID of the message. (optional) (default to undefined)\nlet sort: string; //The field and direction to sort by combined with a colon. Direction is either asc or desc. (optional) (default to undefined)\nlet pageToken: string; //A base64 encoded value used for pagination of results. (optional) (default to undefined)\nlet limit: number; //The maximum records requested in search result. Default 100. The sum of limit and after cannot be more than 10000. (optional) (default to undefined)\nlet limitTotalCount: boolean; //When set to true, the response\\\u0027s totalCount field will have a maximum value of 10,000. When set to false, or excluded, this will give an accurate totalCount of all messages that match the provided filters. If you are experiencing latency, try using this parameter to limit your results. (optional) (default to undefined)\n\nconst { status, data } = await apiInstance.listMessages(\n    accountId,\n    messageId,\n    sourceTn,\n    destinationTn,\n    messageStatus,\n    messageDirection,\n    carrierName,\n    messageType,\n    errorCode,\n    fromDateTime,\n    toDateTime,\n    campaignId,\n    sort,\n    pageToken,\n    limit,\n    limitTotalCount\n);\n"}]},"post":{"summary":"Create Message","description":"Endpoint for sending text messages and picture messages using V2 messaging.","operationId":"createMessage","tags":["Messages"],"parameters":[{"$ref":"#/components/parameters/accountId"}],"requestBody":{"$ref":"#/components/requestBodies/createMessageRequest"},"responses":{"202":{"$ref":"#/components/responses/createMessageResponse"},"400":{"$ref":"#/components/responses/createMessageBadRequestError"},"401":{"$ref":"#/components/responses/messagingUnauthorizedError"},"403":{"$ref":"#/components/responses/messagingForbiddenError"},"404":{"$ref":"#/components/responses/messagingNotFoundError"},"405":{"$ref":"#/components/responses/messagingMethodNotAllowedError"},"406":{"$ref":"#/components/responses/messagingNotAcceptableError"},"415":{"$ref":"#/components/responses/messagingInvalidMediaTypeError"},"429":{"$ref":"#/components/responses/messagingTooManyRequestsError"},"500":{"$ref":"#/components/responses/messagingInternalServerError"}},"callbacks":{"statusCallback":{"$ref":"#/components/callbacks/statusCallback"}},"x-codeSamples":[{"lang":"cURL","source":"curl \u0027https://messaging.bandwidth.com/api/v2/users/9900000/messages\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Content-Type: application/json\u0027 \\\n  -H \u0027Accept: application/json\u0027 \\\n  -d \u0027{\n    \u0022applicationId\u0022: \u002293de2206-9669-4e07-948d-329f4b722ee2\u0022,\n    \u0022to\u0022: [\n      \u0022\u002B15554443333\u0022,\n      \u0022\u002B15552223333\u0022\n    ],\n    \u0022from\u0022: \u0022\u002B15551113333\u0022,\n    \u0022text\u0022: \u0022Hello world\u0022,\n    \u0022media\u0022: [\n      \u0022https://dev.bandwidth.com/images/bandwidth-logo.png\u0022,\n      \u0022https://dev.bandwidth.com/images/github_logo.png\u0022\n    ],\n    \u0022tag\u0022: \u0022custom string\u0022,\n    \u0022priority\u0022: \u0022default\u0022,\n    \u0022expiration\u0022: \u00222021-02-01T11:29:18-05:00\u0022\n  }\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class CreateMessageExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new MessagesApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var messageRequest = new MessageRequest(); // MessageRequest | \n\n            try\n            {\n                // Create Message\n                Message result = apiInstance.CreateMessage(accountId, messageRequest);\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling MessagesApi.CreateMessage: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.MessagesApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    MessagesApi apiInstance = new MessagesApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    MessageRequest messageRequest = new MessageRequest(); // MessageRequest | \n    try {\n      Message result = apiInstance.createMessage(accountId, messageRequest);\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling MessagesApi#createMessage\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"PHP","source":"\u003C?php\n\nrequire \u0022vendor/autoload.php\u0022;\n\napi-username = \u0022api-username\u0022;\napi-password = \u0022api-pasword\u0022;\n12345 = \u002212345\u0022;\n1234-asdf = \u00221234-asdf\u0022;\n\u002B15554443333 = \u0022\u002B15554443333\u0022;\n\u002B15553334444 = \u0022\u002B15553334444\u0022;\n\n$config = new BandwidthLib\\Configuration(\n    array(\n        \u0027messagingBasicAuthUserName\u0027 =\u003E $BW_USERNAME,\n        \u0027messagingBasicAuthPassword\u0027 =\u003E $BW_PASSWORD,\n    )\n);\n$client = new BandwidthLib\\BandwidthClient($config);\n\n$messagingClient = $client-\u003EgetMessaging()-\u003EgetClient();\n\n$body = new BandwidthLib\\Messaging\\Models\\MessageRequest();\n$body-\u003Efrom = $BW_NUMBER;\n$body-\u003Eto = array($USER_NUMBER);\n$body-\u003EapplicationId = $BW_MESSAGING_APPLICATION_ID;\n$body-\u003Etext = \u0022Hello world\u0022;\n\ntry {\n    $response = $messagingClient-\u003EcreateMessage($BW_ACCOUNT_ID, $body);\n    print_r($response-\u003EgetResult()-\u003Eid);\n} catch (BandwidthLib\\APIException $e) {\n    print_r($e-\u003EgetResponseCode());\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.models.message import Message\nfrom bandwidth.models.message_request import MessageRequest\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.MessagesApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    message_request = bandwidth.MessageRequest() # MessageRequest | \n\n    try:\n        # Create Message\n        api_response = api_instance.create_message(account_id, message_request)\n        print(\u0022The response of MessagesApi-\u003Ecreate_message:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling MessagesApi-\u003Ecreate_message: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::MessagesApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\nmessage_request = Bandwidth::MessageRequest.new({application_id: \u002793de2206-9669-4e07-948d-329f4b722ee2\u0027, to: [\u0022\u002B15554443333\u0022, \u0022\u002B15552223333\u0022], from: \u0027\u002B15551113333\u0027}) # MessageRequest | \n\nbegin\n  # Create Message\n  result = api_instance.create_message(account_id, message_request)\n  p result\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling MessagesApi-\u003Ecreate_message: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    MessagesApi,\n    Configuration,\n    MessageRequest\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new MessagesApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet messageRequest: MessageRequest; //\n\nconst { status, data } = await apiInstance.createMessage(\n    accountId,\n    messageRequest\n);\n"}]}},"/users/{accountId}/messages/multiChannel":{"post":{"summary":"Create Multi-Channel Message","description":"Endpoint for sending Multi-Channel messages.","operationId":"createMultiChannelMessage","parameters":[{"$ref":"#/components/parameters/accountId"}],"tags":["Multi-Channel"],"requestBody":{"$ref":"#/components/requestBodies/createMultiChannelMessageRequest"},"responses":{"202":{"$ref":"#/components/responses/createMultiChannelMessageResponse"},"400":{"$ref":"#/components/responses/multiChannelBadRequestError"},"401":{"$ref":"#/components/responses/multiChannelUnauthorizedError"},"403":{"$ref":"#/components/responses/multiChannelForbiddenError"},"404":{"$ref":"#/components/responses/multiChannelNotFoundError"},"405":{"$ref":"#/components/responses/multiChannelMethodNotAllowedError"},"406":{"$ref":"#/components/responses/multiChannelNotAcceptableError"},"415":{"$ref":"#/components/responses/multiChannelInvalidMediaTypeError"},"429":{"$ref":"#/components/responses/multiChannelTooManyRequestsError"},"500":{"$ref":"#/components/responses/multiChannelInternalServerError"}},"callbacks":{"statusCallback":{"$ref":"#/components/callbacks/statusCallback"}},"x-badges":[{"name":"Beta","color":"#076EA8"}],"x-codeSamples":[{"lang":"cURL","source":"curl \u0027https://messaging.bandwidth.com/api/v2/users/9900000/messages/multiChannel\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Content-Type: application/json\u0027 \\\n  -H \u0027Accept: application/json\u0027 \\\n  -d \u0027{\n    \u0022to\u0022: \u0022\u002B15552223333\u0022,\n    \u0022channelList\u0022: [\n      {\n        \u0022from\u0022: \u0022BandwidthRBM\u0022,\n        \u0022applicationId\u0022: \u002293de2206-9669-4e07-948d-329f4b722ee2\u0022,\n        \u0022channel\u0022: \u0022RBM\u0022,\n        \u0022content\u0022: {\n          \u0022text\u0022: \u0022Hello world\u0022,\n          \u0022suggestions\u0022: [\n            {\n              \u0022type\u0022: \u0022REPLY\u0022,\n              \u0022text\u0022: \u0022Hello World\u0022,\n              \u0022postBackData\u0022: \u0022SGVsbG8gd29ybGQ=\u0022\n            },\n            {\n              \u0022type\u0022: \u0022REPLY\u0022,\n              \u0022text\u0022: \u0022Hello World\u0022,\n              \u0022postBackData\u0022: \u0022SGVsbG8gd29ybGQ=\u0022\n            }\n          ]\n        }\n      },\n      {\n        \u0022from\u0022: \u0022BandwidthRBM\u0022,\n        \u0022applicationId\u0022: \u002293de2206-9669-4e07-948d-329f4b722ee2\u0022,\n        \u0022channel\u0022: \u0022RBM\u0022,\n        \u0022content\u0022: {\n          \u0022text\u0022: \u0022Hello world\u0022,\n          \u0022suggestions\u0022: [\n            {\n              \u0022type\u0022: \u0022REPLY\u0022,\n              \u0022text\u0022: \u0022Hello World\u0022,\n              \u0022postBackData\u0022: \u0022SGVsbG8gd29ybGQ=\u0022\n            },\n            {\n              \u0022type\u0022: \u0022REPLY\u0022,\n              \u0022text\u0022: \u0022Hello World\u0022,\n              \u0022postBackData\u0022: \u0022SGVsbG8gd29ybGQ=\u0022\n            }\n          ]\n        }\n      }\n    ],\n    \u0022tag\u0022: \u0022custom string\u0022,\n    \u0022priority\u0022: \u0022default\u0022,\n    \u0022expiration\u0022: \u00222021-02-01T11:29:18-05:00\u0022\n  }\u0027"}]}}},"components":{"parameters":{"accountId":{"in":"path","name":"accountId","required":true,"schema":{"type":"string"},"description":"Your Bandwidth Account ID.","example":"9900000"},"mediaId":{"in":"path","name":"mediaId","required":true,"description":"Media ID to retrieve.","example":"14762070468292kw2fuqty55yp2b2/0/bw.png","schema":{"type":"string"}},"contentType":{"in":"header","name":"Content-Type","style":"simple","explode":false,"description":"The media type of the entity-body.","example":"audio/wav","schema":{"type":"string"}},"cacheControl":{"in":"header","name":"Cache-Control","style":"simple","explode":false,"description":"General-header field is used to specify directives that MUST be obeyed by all caching mechanisms along the request/response chain.","example":"no-cache","schema":{"type":"string"}},"continuationToken":{"in":"header","name":"Continuation-Token","description":"Continuation token used to retrieve subsequent media.","example":"1XEi2tsFtLo1JbtLwETnM1ZJ\u002BPqAa8w6ENvC5QKvwyrCDYII663Gy5M4s40owR1tjkuWUif6qbWvFtQJR5/ipqbUnfAqL254LKNlPy6tATCzioKSuHuOqgzloDkSwRtX0LtcL2otHS69hK343m\u002BSjdL\u002Bvlj71tT39","schema":{"type":"string"}},"messageId":{"in":"query","name":"messageId","required":false,"description":"The ID of the message to search for. Special characters need to be encoded using URL encoding. Message IDs could come in different formats, e.g., 9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6 and 1589228074636lm4k2je7j7jklbn2 are valid message ID formats. Note that you must include at least one query parameter.","example":"9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6","schema":{"type":"string"}},"sourceTn":{"in":"query","name":"sourceTn","required":false,"description":"The phone number that sent the message. Accepted values are: a single full phone number a comma separated list of full phone numbers (maximum of 10) or a single partial phone number (minimum of 5 characters e.g. \u0027%2B1919\u0027).","example":"%2B15554443333","schema":{"type":"string"}},"destinationTn":{"in":"query","name":"destinationTn","required":false,"description":"The phone number that received the message. Accepted values are: a single full phone number a comma separated list of full phone numbers (maximum of 10) or a single partial phone number (minimum of 5 characters e.g. \u0027%2B1919\u0027).","example":"%2B15554443333","schema":{"type":"string"}},"messageStatus":{"in":"query","name":"messageStatus","required":false,"description":"The status of the message. One of RECEIVED QUEUED SENDING SENT FAILED DELIVERED ACCEPTED UNDELIVERED.","schema":{"$ref":"#/components/schemas/messageStatusEnum"}},"messageDirection":{"in":"query","name":"messageDirection","required":false,"description":"The direction of the message. One of INBOUND OUTBOUND.","schema":{"$ref":"#/components/schemas/listMessageDirectionEnum"}},"carrierName":{"in":"query","name":"carrierName","required":false,"description":"The name of the carrier used for this message. Possible values include but are not limited to Verizon and TMobile. Special characters need to be encoded using URL encoding (i.e. AT\u0026T should be passed as AT%26T).","example":"Verizon","schema":{"type":"string"}},"messageType":{"in":"query","name":"messageType","required":false,"description":"The type of message. Either sms or mms.","schema":{"$ref":"#/components/schemas/messageTypeEnum"}},"errorCode":{"in":"query","name":"errorCode","required":false,"description":"The error code of the message.","example":9902,"schema":{"type":"integer"}},"fromDateTime":{"in":"query","name":"fromDateTime","required":false,"description":"The start of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days.","example":"2022-09-14T18:20:16.000Z","schema":{"type":"string"}},"toDateTime":{"in":"query","name":"toDateTime","required":false,"description":"The end of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days.","example":"2022-09-14T18:20:16.000Z","schema":{"type":"string"}},"campaignId":{"in":"query","name":"campaignId","required":false,"description":"The campaign ID of the message.","example":"CJEUMDK","schema":{"type":"string"}},"fromBwLatency":{"in":"query","name":"fromBwLatency","required":false,"description":"The minimum Bandwidth latency of the message in seconds. Only available for accounts with the Advanced Quality Metrics feature enabled.","example":5,"schema":{"type":"integer"}},"bwQueued":{"in":"query","name":"bwQueued","required":false,"description":"A boolean value indicating whether the message is queued in the Bandwidth network.","example":true,"schema":{"type":"boolean"}},"product":{"in":"query","name":"product","required":false,"description":"Messaging product associated with the message.","example":"P2P","schema":{"$ref":"#/components/schemas/productTypeEnum"}},"location":{"in":"query","name":"location","required":false,"description":"Location Id associated with the message.","example":"123ABC","schema":{"type":"string"}},"carrierQueued":{"in":"query","name":"carrierQueued","required":false,"description":"A boolean value indicating whether the message is queued in the carrier network. Only available for OUTBOUND messages from accounts with the Advanced Quality Metrics feature enabled.","example":true,"schema":{"type":"boolean"}},"fromCarrierLatency":{"in":"query","name":"fromCarrierLatency","required":false,"description":"The minimum carrier latency of the message in seconds. Only available for OUTBOUND messages from accounts with the Advanced Quality Metrics feature enabled.","example":50,"schema":{"type":"integer"}},"callingNumberCountryA3":{"in":"query","name":"callingNumberCountryA3","required":false,"description":"Calling number country in A3 format.","example":"USA","schema":{"type":"string"}},"calledNumberCountryA3":{"in":"query","name":"calledNumberCountryA3","required":false,"description":"Called number country in A3 format.","example":"USA","schema":{"type":"string"}},"fromSegmentCount":{"in":"query","name":"fromSegmentCount","required":false,"description":"Segment count (start range).","example":1,"schema":{"type":"integer"}},"toSegmentCount":{"in":"query","name":"toSegmentCount","required":false,"description":"Segment count (end range).","example":3,"schema":{"type":"integer"}},"fromMessageSize":{"in":"query","name":"fromMessageSize","required":false,"description":"Message size (start range).","example":100,"schema":{"type":"integer"}},"toMessageSize":{"in":"query","name":"toMessageSize","required":false,"description":"Message size (end range).","example":120,"schema":{"type":"integer"}},"sort":{"in":"query","name":"sort","required":false,"description":"The field and direction to sort by combined with a colon. Direction is either asc or desc.","example":"sourceTn:desc","schema":{"type":"string"}},"pageToken":{"in":"query","name":"pageToken","required":false,"description":"A base64 encoded value used for pagination of results.","example":"gdEewhcJLQRB5","schema":{"type":"string"}},"limit":{"in":"query","name":"limit","required":false,"description":"The maximum records requested in search result. Default 100. The sum of limit and after cannot be more than 10000.","schema":{"type":"integer"},"example":50},"limitTotalCount":{"in":"query","name":"limitTotalCount","required":false,"description":"When set to true, the response\u0027s totalCount field will have a maximum value of 10,000. When set to false, or excluded, this will give an accurate totalCount of all messages that match the provided filters. If you are experiencing latency, try using this parameter to limit your results.","example":true,"schema":{"type":"boolean"}}},"schemas":{"applicationId":{"type":"string","description":"The ID of the Application your from number or senderId is associated with in the Bandwidth App.","example":"93de2206-9669-4e07-948d-329f4b722ee2"},"priorityEnum":{"type":"string","description":"Specifies the message\u0027s sending priority with respect to other messages in your account. For best results and optimal throughput, reserve the \u0027high\u0027 priority setting for critical messages only.","enum":["default","high"],"example":"default"},"messageStatusEnum":{"type":"string","description":"The status of the message. One of RECEIVED QUEUED SENDING SENT FAILED DELIVERED ACCEPTED UNDELIVERED.","enum":["RECEIVED","QUEUED","SENDING","SENT","FAILED","DELIVERED","ACCEPTED","UNDELIVERED"],"example":"RECEIVED"},"listMessageDirectionEnum":{"type":"string","description":"The direction of the message. One of INBOUND OUTBOUND.","enum":["INBOUND","OUTBOUND"],"example":"INBOUND"},"messageDirectionEnum":{"type":"string","description":"The direction of the message. One of in out.","enum":["in","out"],"example":"in"},"messageTypeEnum":{"type":"string","description":"The type of message. Either SMS or MMS.","enum":["sms","mms","rcs"],"example":"sms"},"productTypeEnum":{"type":"string","description":"The type of product associated with the message.","enum":["LOCAL_A2P","P2P","SHORT_CODE_REACH","TOLL_FREE","HOSTED_SHORT_CODE","ALPHA_NUMERIC","RBM_MEDIA","RBM_RICH","RBM_CONVERSATIONAL"],"example":"P2P"},"fieldError":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field that contains the error","example":"from"},"description":{"type":"string","description":"The error associated with the field","example":"\u0027\u002Binvalid\u0027 must be replaced with a valid E164 formatted telephone number"}}},"messagesList":{"title":"MessagesList","type":"object","properties":{"totalCount":{"type":"integer","description":"The total number of messages matched by the search. When the request has limitTotalCount set to true this value is limited to 10,000.","example":100},"pageInfo":{"$ref":"#/components/schemas/pageInfo"},"messages":{"type":"array","items":{"$ref":"#/components/schemas/listMessageItem"}}}},"listMessageItem":{"title":"listMessageItem","type":"object","properties":{"messageId":{"type":"string","description":"The message id","example":"1589228074636lm4k2je7j7jklbn2"},"accountId":{"type":"string","description":"The account id associated with this message.","example":"9900000"},"sourceTn":{"type":"string","description":"The source phone number of the message.","example":"\u002B15554443333"},"destinationTn":{"type":"string","description":"The recipient phone number of the message.","example":"\u002B15554442222"},"messageStatus":{"$ref":"#/components/schemas/messageStatusEnum"},"messageDirection":{"$ref":"#/components/schemas/listMessageDirectionEnum"},"messageType":{"$ref":"#/components/schemas/messageTypeEnum"},"segmentCount":{"$ref":"#/components/schemas/segmentCount"},"errorCode":{"type":"integer","description":"The numeric error code of the message.","example":9902},"receiveTime":{"type":"string","format":"date-time","description":"The ISO 8601 datetime of the message.","example":"2020-04-07T14:03:07.000Z"},"carrierName":{"type":"string","nullable":true,"description":"The name of the carrier. Not currently supported for MMS coming soon.","example":"other"},"messageSize":{"type":"integer","description":"The size of the message including message content and headers.","nullable":true,"example":27},"messageLength":{"type":"integer","description":"The length of the message content.","example":18},"attachmentCount":{"type":"integer","description":"The number of attachments the message has.","nullable":true,"example":1},"recipientCount":{"type":"integer","description":"The number of recipients the message has.","nullable":true,"example":1},"campaignClass":{"type":"string","description":"The campaign class of the message if it has one.","nullable":true,"example":"T"},"campaignId":{"type":"string","description":"The campaign ID of the message if it has one.","nullable":true,"example":"CJEUMDK"},"bwLatency":{"type":"integer","description":"The Bandwidth latency of the message in seconds. Only available for accounts with the Advanced Quality Metrics feature enabled.","nullable":true,"example":20},"carrierLatency":{"type":"integer","description":"The carrier latency of the message in seconds. Only available for OUTBOUND messages from accounts with the Advanced Quality Metrics feature enabled.","nullable":true,"example":20},"callingNumberCountryA3":{"type":"string","description":"The A3 country code of the calling number.","nullable":true,"example":"USA"},"calledNumberCountryA3":{"type":"string","description":"The A3 country code of the called number.","nullable":true,"example":"USA"},"product":{"type":"string","description":"The messaging product associated with the message.","nullable":true,"example":"P2P"},"location":{"type":"string","description":"The location ID associated with this message.","nullable":true,"example":"123ID"}}},"pageInfo":{"title":"PageInfo","type":"object","properties":{"prevPage":{"type":"string","description":"The link to the previous page for pagination.","example":"https://messaging.bandwidth.com/api/v2/users/accountId/messages?messageStatus=DLR_EXPIRED\u0026nextPage=DLAPE902"},"nextPage":{"type":"string","description":"The link to the next page for pagination.","example":"https://messaging.bandwidth.com/api/v2/users/accountId/messages?messageStatus=DLR_EXPIRED\u0026prevPage=GL83PD3C"},"prevPageToken":{"type":"string","description":"The isolated pagination token for the previous page.","example":"DLAPE902"},"nextPageToken":{"type":"string","description":"The isolated pagination token for the next page.","example":"GL83PD3C"}}},"messagingRequestError":{"title":"MessagingRequestError","type":"object","properties":{"type":{"type":"string"},"description":{"type":"string"}},"required":["type","description"]},"createMessageRequestError":{"title":"CreateMessageRequestError","type":"object","properties":{"type":{"type":"string"},"description":{"type":"string"},"fieldErrors":{"type":"array","items":{"$ref":"#/components/schemas/fieldError"}}},"required":["type","description"]},"id":{"type":"string","description":"The ID of the message.","example":"1589228074636lm4k2je7j7jklbn2"},"media":{"title":"Media","type":"object","properties":{"content":{"type":"string"},"contentLength":{"type":"integer","example":1024},"mediaName":{"type":"string","example":"image.png"}}},"segmentCount":{"type":"integer","description":"The number of segments the user\u0027s message is broken into before sending over carrier networks.","example":1},"tag":{"title":"Tag","type":"string","description":"A custom string that will be included in callback events of the message. Max 1024 characters.","example":"custom string"},"expiration":{"type":"string","format":"date-time","description":"A string with the date/time value that the message will automatically expire by. This must be a valid RFC-3339 value, e.g., 2021-03-14T01:59:26Z or 2021-03-13T20:59:26-05:00. Must be a date-time in the future.","example":"2021-02-01T11:29:18-05:00"},"carrierName":{"type":"string","description":"The name of the Authorized Message Provider (AMP) that handled this message. \nIn the US, this is the carrier that the message was sent to.\nThis field is present only when this account feature has been enabled.","example":"AT\u0026T"},"message":{"title":"Message","type":"object","properties":{"id":{"type":"string","description":"The id of the message.","example":"1589228074636lm4k2je7j7jklbn2"},"owner":{"type":"string","description":"The Bandwidth phone number associated with the message.","example":"\u002B15554443333"},"applicationId":{"$ref":"#/components/schemas/applicationId"},"time":{"type":"string","format":"date-time","description":"The datetime stamp of the message in ISO 8601","example":"2024-12-02T20:15:57.278Z"},"segmentCount":{"$ref":"#/components/schemas/segmentCount"},"direction":{"$ref":"#/components/schemas/messageDirectionEnum"},"to":{"uniqueItems":true,"type":"array","items":{"type":"string"},"description":"The phone number recipients of the message.","example":["\u002B15552223333"]},"from":{"type":"string","description":"The phone number the message was sent from.","example":"\u002B15553332222"},"media":{"uniqueItems":true,"type":"array","items":{"type":"string"},"description":"The list of media URLs sent in the message. Including a \u0060filename\u0060 field in the \u0060Content-Disposition\u0060 header of the media linked with a URL will set the displayed file name. This is a best practice to ensure that your media has a readable file name.","example":["https://dev.bandwidth.com/images/bandwidth-logo.png"]},"text":{"type":"string","description":"The contents of the message.","example":"Hello world"},"tag":{"$ref":"#/components/schemas/tag"},"priority":{"$ref":"#/components/schemas/priorityEnum"},"expiration":{"$ref":"#/components/schemas/expiration"}}},"messageRequest":{"title":"MessageRequest","type":"object","required":["applicationId","to","from"],"properties":{"applicationId":{"$ref":"#/components/schemas/applicationId"},"to":{"uniqueItems":true,"type":"array","description":"The phone number(s) the message should be sent to in E164 format.","example":["\u002B15554443333","\u002B15552223333"],"items":{"type":"string"}},"from":{"type":"string","description":"Either an alphanumeric sender ID or the sender\u0027s Bandwidth phone number in E.164 format, which must be hosted within Bandwidth and linked to the account that is generating the message. \nAlphanumeric Sender IDs can contain up to 11 characters, upper-case letters A-Z, lower-case letters a-z, numbers 0-9, space, hyphen -, plus \u002B, underscore _ and ampersand \u0026. Alphanumeric Sender IDs must contain at least one letter.","example":"\u002B15551113333"},"text":{"$ref":"#/components/schemas/messageText"},"media":{"$ref":"#/components/schemas/messageMedia"},"tag":{"$ref":"#/components/schemas/tag"},"priority":{"$ref":"#/components/schemas/priorityEnum"},"expiration":{"$ref":"#/components/schemas/expiration"}}},"messageText":{"type":"string","description":"The contents of the text message. Must be 2048 characters or less.","maxLength":2048,"example":"Hello world"},"messageMedia":{"type":"array","items":{"type":"string","format":"uri","maxLength":4096},"description":"A list of URLs to include as media attachments as part of the message.\nEach URL can be at most 4096 characters.","example":["https://dev.bandwidth.com/images/bandwidth-logo.png","https://dev.bandwidth.com/images/github_logo.png"]},"createMultiChannelMessageResponse":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/link"},"example":[]},"data":{"$ref":"#/components/schemas/multiChannelMessageResponseData"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/errorObject"},"example":[]}}},"multiChannelError":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/link"},"example":[]},"data":{"type":"object","nullable":true,"example":null},"errors":{"type":"array","items":{"$ref":"#/components/schemas/errorObject"}}}},"link":{"type":"object","properties":{"rel":{"type":"string"},"href":{"type":"string"}}},"errorObject":{"type":"object","properties":{"type":{"description":"A concise summary of the error used for categorization.","type":"string"},"description":{"description":"A detailed explanation of the error.","type":"string"},"source":{"$ref":"#/components/schemas/errorSource"}},"required":["type","description","source"]},"errorSource":{"title":"Error Source","type":"object","description":"Specifies relevant sources of the error, if any.","properties":{"parameter":{"type":"string","description":"The relevant URI query parameter causing the error"},"field":{"type":"string","description":"The request body field that led to the error"},"header":{"type":"string","description":"The header field that contributed to the error"},"reference":{"type":"string","description":"A resource ID or path linked to the error"}}},"multiChannelMessageChannelEnum":{"description":"The channel of the multi-channel message.","type":"string","enum":["RBM","SMS","MMS"],"example":"RBM"},"multiChannelSenderId":{"type":"string","description":"The sender ID of the message. This could be an alphanumeric sender ID.","example":"BandwidthRBM"},"multiChannelDestination":{"type":"string","description":"The phone number the message should be sent to in E164 format.","example":"\u002B15552223333"},"multiChannelDestinations":{"uniqueItems":true,"type":"array","description":"The destination phone number(s) of the message, in E164 format.","example":["\u002B15554443333"],"items":{"type":"string"}},"rbmMessageContentText":{"title":"RBM Text","type":"object","properties":{"text":{"type":"string","description":"The text associated with the message. Must be 3270 characters or less","maxLength":3270,"example":"Hello world"},"suggestions":{"$ref":"#/components/schemas/multiChannelFullActions"}},"required":["text"]},"rbmMediaHeightEnum":{"type":"string","description":"The height of the media.","enum":["SHORT","MEDIUM","TALL"],"example":"SHORT"},"rbmMessageContentFile":{"title":"RBM Rich Media File","type":"object","properties":{"fileUrl":{"type":"string","format":"uri","description":"The URL of the media file. 100MB is the maximum file size.","example":"https://dev.bandwidth.com/images/bandwidth-logo.png","maxLength":1000},"thumbnailUrl":{"type":"string","format":"uri","description":"The URL of the thumbnail image. Applies only to video file media.","example":"https://dev.bandwidth.com/images/bandwidth-logo.png","maxLength":1000}},"required":["fileUrl"]},"mmsMessageContentFile":{"title":"MMS Media File","type":"object","properties":{"fileUrl":{"type":"string","format":"uri","description":"The URL of a media attachment.\n\nFor MMS, the API limits file size to 3.5MB. Specific carriers and channels may have a smaller limit that could cause a large file to fail, see more at [Bandwidth Support](https://www.bandwidth.com/support/en/articles/12823216-what-are-the-mms-file-size-limits) for more details.","example":"https://dev.bandwidth.com/images/bandwidth-logo.png","maxLength":1000}},"required":["fileUrl"]},"rbmMessageMedia":{"title":"RBM Media","type":"object","properties":{"media":{"type":"array","items":{"$ref":"#/components/schemas/rbmMessageContentFile"}},"suggestions":{"$ref":"#/components/schemas/multiChannelFullActions"}},"required":["media"]},"rbmCardContent":{"type":"object","properties":{"title":{"type":"string","description":"The title of the card. Must be 200 characters or less.","maxLength":200,"example":"Bandwidth"},"description":{"type":"string","description":"The description of the card. Must be 2000 characters or less.","maxLength":2000,"example":"Bandwidth is a communications platform as a service (CPaaS) company."},"media":{"allOf":[{"$ref":"#/components/schemas/rbmMessageContentFile"},{"type":"object","properties":{"height":{"$ref":"#/components/schemas/rbmMediaHeightEnum"}}}],"required":["height"]},"suggestions":{"description":"An array of suggested actions for the recipient that will be displayed on the rich card.","type":"array","items":{"$ref":"#/components/schemas/multiChannelAction"},"maxItems":4}}},"rbmStandaloneCard":{"title":"Standalone Card","type":"object","properties":{"orientation":{"$ref":"#/components/schemas/standaloneCardOrientationEnum"},"thumbnailImageAlignment":{"$ref":"#/components/schemas/thumbnailAlignmentEnum"},"cardContent":{"$ref":"#/components/schemas/rbmCardContent"},"suggestions":{"$ref":"#/components/schemas/multiChannelFullActions"}},"required":["orientation","thumbnailImageAlignment","cardContent"]},"standaloneCardOrientationEnum":{"type":"string","enum":["HORIZONTAL","VERTICAL"],"example":"VERTICAL"},"thumbnailAlignmentEnum":{"type":"string","description":"The alignment of the thumbnail image in the card. Only applicable if the card using horizontal orientation.","enum":["LEFT","RIGHT"],"example":"LEFT"},"rbmMessageCarouselCard":{"title":"Carousel","type":"object","properties":{"cardWidth":{"$ref":"#/components/schemas/cardWidthEnum"},"cardContents":{"type":"array","items":{"$ref":"#/components/schemas/rbmCardContent"},"maxItems":10},"suggestions":{"$ref":"#/components/schemas/multiChannelFullActions"}},"required":["cardContents","cardWidth"]},"cardWidthEnum":{"type":"string","enum":["SMALL","MEDIUM"],"example":"SMALL"},"smsMessageContent":{"title":"SMS Text","type":"object","properties":{"text":{"$ref":"#/components/schemas/messageText"}},"required":["text"]},"mmsMessageContent":{"title":"MMS Message","type":"object","properties":{"text":{"$ref":"#/components/schemas/messageText"},"media":{"type":"array","items":{"$ref":"#/components/schemas/mmsMessageContentFile"}}}},"rbmMessageContentRichCard":{"title":"RBM Rich Card","oneOf":[{"$ref":"#/components/schemas/rbmStandaloneCard"},{"$ref":"#/components/schemas/rbmMessageCarouselCard"}]},"rbmActionTypeEnum":{"type":"string","enum":["REPLY","DIAL_PHONE","SHOW_LOCATION","CREATE_CALENDAR_EVENT","OPEN_URL","REQUEST_LOCATION"],"example":"REPLY"},"rbmOpenUrlEnum":{"type":"string","description":"Specifies how the URL should be opened on a mobile device.\n- \u0060BROWSER\u0060 Opens the URL in the device\u0027s default browser. If application is not set or the device doesn\u2019t support WebView, this option is used by default. \n- \u0060WEBVIEW\u0060 Opens the URL in an in-app WebView.","enum":["BROWSER","WEBVIEW"],"example":"WEBVIEW"},"rbmWebViewEnum":{"type":"string","description":"Defines the layout of the WebView on a mobile device. It must be defined when application is set to \u0060WEBVIEW\u0060\n- \u0060FULL\u0060 WebView takes the full screen. \n- \u0060HALF\u0060 WebView takes half of the screen.\n- \u0060TALL\u0060 WebView takes three-quarters of the screen.","enum":["FULL","HALF","TALL"]},"rbmActionText":{"title":"Text","type":"string","description":"Displayed text for user to click","maxLength":25,"example":"Hello world"},"rbmActionPostbackData":{"title":"Post Back Data","type":"string","format":"byte","description":"Base64 payload the customer receives when the reply is clicked.","maxLength":2048,"example":"SGVsbG8gd29ybGQ="},"rbmActionBase":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/rbmActionTypeEnum"},"text":{"$ref":"#/components/schemas/rbmActionText"},"postbackData":{"$ref":"#/components/schemas/rbmActionPostbackData"}},"required":["text","postbackData","type"]},"rbmActionDial":{"allOf":[{"$ref":"#/components/schemas/rbmActionBase"},{"title":"Dial Phone","type":"object","properties":{"phoneNumber":{"type":"string","description":"The phone number to dial. Must be E164 format.","example":"\u002B15552223333"}},"required":["phoneNumber"]}]},"rbmActionViewLocation":{"allOf":[{"$ref":"#/components/schemas/rbmActionBase"},{"title":"Show Location","type":"object","properties":{"latitude":{"type":"string","format":"double","description":"The latitude of the location.","example":"37.7749"},"longitude":{"type":"string","format":"double","description":"The longitude of the location.","example":"-122.4194"},"label":{"type":"string","description":"The label of the location.","example":"San Francisco","maxLength":100}},"required":["latitude","longitude"]}]},"multiChannelActionCalendarEvent":{"allOf":[{"$ref":"#/components/schemas/rbmActionBase"},{"title":"Calendar Event","type":"object","properties":{"title":{"type":"string","description":"The title of the event.","example":"Meeting with John","maxLength":100},"startTime":{"type":"string","format":"date-time","description":"The start time of the event.","example":"2022-09-14T18:20:16.000Z"},"endTime":{"type":"string","format":"date-time","description":"The end time of the event.","example":"2022-09-14T18:20:16.000Z"},"description":{"type":"string","description":"The description of the event.","example":"Discuss the new project","maxLength":500}},"required":["title","startTime","endTime"]}]},"rbmActionOpenUrl":{"allOf":[{"$ref":"#/components/schemas/rbmActionBase"},{"title":"Open URL","type":"object","properties":{"url":{"type":"string","format":"uri","description":"The URL to open in browser.","example":"https://dev.bandwidth.com","maxLength":2048},"application":{"$ref":"#/components/schemas/rbmOpenUrlEnum"},"webviewViewMode":{"$ref":"#/components/schemas/rbmWebViewEnum"}},"required":["url"]}]},"multiChannelFullActions":{"type":"array","description":"An array of
[...]
