{"openapi":"3.0.3","info":{"title":"Multi-Factor Authentication","description":"Bandwidth\u0027s Two-Factor Authentication service\n\n## Base Path\n\n\u003Ccode\u003Ehttps://mfa.bandwidth.com/api/v1\u003C/code\u003E","contact":{"name":"Bandwidth Support","email":"support@bandwidth.com","url":"https://support.bandwidth.com"},"termsOfService":"https://www.bandwidth.com/legal/terms-of-use-bandwidthcom-web-sites/","version":"3.1.0"},"servers":[{"url":"https://mfa.bandwidth.com/api/v1","description":"Production"}],"paths":{"/accounts/{accountId}/code/voice":{"post":{"tags":["MFA"],"summary":"Voice Authentication Code","description":"Send an MFA Code via a phone call.","operationId":"generateVoiceCode","parameters":[{"$ref":"#/components/parameters/accountId"}],"requestBody":{"$ref":"#/components/requestBodies/codeRequest"},"responses":{"200":{"$ref":"#/components/responses/voiceCodeResponse"},"400":{"$ref":"#/components/responses/mfaBadRequestError"},"401":{"$ref":"#/components/responses/mfaUnauthorizedError"},"403":{"$ref":"#/components/responses/mfaForbiddenError"},"500":{"$ref":"#/components/responses/mfaInternalServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl \u0027https://mfa.bandwidth.com/api/v1/accounts/9900000/code/voice\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Content-Type: application/json\u0027 \\\n  -H \u0027Accept: application/json\u0027 \\\n  -d \u0027{\n    \u0022to\u0022: \u0022\u002B19195551234\u0022,\n    \u0022from\u0022: \u0022\u002B19195554321\u0022,\n    \u0022applicationId\u0022: \u002266fd98ae-ac8d-a00f-7fcd-ba3280aeb9b1\u0022,\n    \u0022message\u0022: \u0022Your temporary {NAME} {SCOPE} code is {CODE}\u0022,\n    \u0022digits\u0022: 6,\n    \u0022scope\u0022: \u00222FA\u0022\n  }\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class GenerateVoiceCodeExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new MFAApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var codeRequest = new CodeRequest(); // CodeRequest | MFA code request body.\n\n            try\n            {\n                // Voice Authentication Code\n                VoiceCodeResponse result = apiInstance.GenerateVoiceCode(accountId, codeRequest);\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling MFAApi.GenerateVoiceCode: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.MfaApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    MfaApi apiInstance = new MfaApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    CodeRequest codeRequest = new CodeRequest(); // CodeRequest | MFA code request body.\n    try {\n      VoiceCodeResponse result = apiInstance.generateVoiceCode(accountId, codeRequest);\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling MfaApi#generateVoiceCode\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"PHP","source":"\u003C?php\n\nrequire \u0022vendor/autoload.php\u0022;\n\napi-username = \u0022api-username\u0022;\napi-password = \u0022api-pasword\u0022;\n12345 = \u002212345\u0022;\n1234-qwer = \u00221234-qwer\u0022;\n\u002B15554443333 = \u0022\u002B15554443333\u0022;\n\u002B15553334444 = \u0022\u002B15553334444\u0022;\n\n$config = new BandwidthLib\\Configuration(\n    array(\n        \u0027multiFactorAuthBasicAuthUserName\u0027 =\u003E $BW_USERNAME,\n        \u0027multiFactorAuthBasicAuthPassword\u0027 =\u003E $BW_PASSWORD,\n    )\n);\n$client = new BandwidthLib\\BandwidthClient($config);\n\n$mfaClient = $client-\u003EgetMultiFactorAuth()-\u003EgetMFA();\n\n$body = new BandwidthLib\\MultiFactorAuth\\Models\\TwoFactorCodeRequestSchema();\n$body-\u003Efrom = $BW_MFA_NUMBER;\n$body-\u003Eto = $USER_NUMBER;\n$body-\u003EapplicationId = $BW_MFA_VOICE_APPLICATION_ID;\n$body-\u003Escope = \u0022scope\u0022;\n$body-\u003Edigits = 6;\n$body-\u003Emessage = \u0022Your temporary {NAME} {SCOPE} code is {CODE}\u0022;\n\ntry {\n    $mfaClient-\u003EcreateVoiceTwoFactor($BW_ACCOUNT_ID, $body);\n} catch (BandwidthLib\\APIException $e) {\n    print_r($e-\u003EgetResponseCode());\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.models.code_request import CodeRequest\nfrom bandwidth.models.voice_code_response import VoiceCodeResponse\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.MFAApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    code_request = bandwidth.CodeRequest() # CodeRequest | MFA code request body.\n\n    try:\n        # Voice Authentication Code\n        api_response = api_instance.generate_voice_code(account_id, code_request)\n        print(\u0022The response of MFAApi-\u003Egenerate_voice_code:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling MFAApi-\u003Egenerate_voice_code: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::MFAApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\ncode_request = Bandwidth::CodeRequest.new({to: \u0027\u002B19195551234\u0027, from: \u0027\u002B19195554321\u0027, application_id: \u002766fd98ae-ac8d-a00f-7fcd-ba3280aeb9b1\u0027, message: \u0027Your temporary {NAME} {SCOPE} code is {CODE}\u0027, digits: 6}) # CodeRequest | MFA code request body.\n\nbegin\n  # Voice Authentication Code\n  result = api_instance.generate_voice_code(account_id, code_request)\n  p result\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling MFAApi-\u003Egenerate_voice_code: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    MFAApi,\n    Configuration,\n    CodeRequest\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new MFAApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet codeRequest: CodeRequest; //MFA code request body.\n\nconst { status, data } = await apiInstance.generateVoiceCode(\n    accountId,\n    codeRequest\n);\n"}]}},"/accounts/{accountId}/code/messaging":{"post":{"tags":["MFA"],"summary":"Messaging Authentication Code","description":"Send an MFA code via text message (SMS).","operationId":"generateMessagingCode","parameters":[{"$ref":"#/components/parameters/accountId"}],"requestBody":{"$ref":"#/components/requestBodies/codeRequest"},"responses":{"200":{"$ref":"#/components/responses/messagingCodeResponse"},"400":{"$ref":"#/components/responses/mfaBadRequestError"},"401":{"$ref":"#/components/responses/mfaUnauthorizedError"},"403":{"$ref":"#/components/responses/mfaForbiddenError"},"500":{"$ref":"#/components/responses/mfaInternalServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl \u0027https://mfa.bandwidth.com/api/v1/accounts/9900000/code/messaging\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Content-Type: application/json\u0027 \\\n  -H \u0027Accept: application/json\u0027 \\\n  -d \u0027{\n    \u0022to\u0022: \u0022\u002B19195551234\u0022,\n    \u0022from\u0022: \u0022\u002B19195554321\u0022,\n    \u0022applicationId\u0022: \u002266fd98ae-ac8d-a00f-7fcd-ba3280aeb9b1\u0022,\n    \u0022message\u0022: \u0022Your temporary {NAME} {SCOPE} code is {CODE}\u0022,\n    \u0022digits\u0022: 6,\n    \u0022scope\u0022: \u00222FA\u0022\n  }\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class GenerateMessagingCodeExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new MFAApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var codeRequest = new CodeRequest(); // CodeRequest | MFA code request body.\n\n            try\n            {\n                // Messaging Authentication Code\n                MessagingCodeResponse result = apiInstance.GenerateMessagingCode(accountId, codeRequest);\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling MFAApi.GenerateMessagingCode: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.MfaApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    MfaApi apiInstance = new MfaApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    CodeRequest codeRequest = new CodeRequest(); // CodeRequest | MFA code request body.\n    try {\n      MessagingCodeResponse result = apiInstance.generateMessagingCode(accountId, codeRequest);\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling MfaApi#generateMessagingCode\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"PHP","source":"\u003C?php\n\nrequire \u0022vendor/autoload.php\u0022;\n\napi-username = \u0022api-username\u0022;\napi-password = \u0022api-pasword\u0022;\n12345 = \u002212345\u0022;\n1234-asdf = \u00221234-asdf\u0022;\n\u002B15554443333 = \u0022\u002B15554443333\u0022;\n\u002B15553334444 = \u0022\u002B15553334444\u0022;\n\n$config = new BandwidthLib\\Configuration(\n    array(\n        \u0027multiFactorAuthBasicAuthUserName\u0027 =\u003E $BW_USERNAME,\n        \u0027multiFactorAuthBasicAuthPassword\u0027 =\u003E $BW_PASSWORD,\n    )\n);\n$client = new BandwidthLib\\BandwidthClient($config);\n\n$mfaClient = $client-\u003EgetMultiFactorAuth()-\u003EgetMFA();\n\n$body = new BandwidthLib\\MultiFactorAuth\\Models\\TwoFactorCodeRequestSchema();\n$body-\u003Efrom = $BW_MFA_NUMBER;\n$body-\u003Eto = $USER_NUMBER;\n$body-\u003EapplicationId = $BW_MFA_MESSAGING_APPLICATION_ID;\n$body-\u003Escope = \u0022scope\u0022;\n$body-\u003Edigits = 6;\n$body-\u003Emessage = \u0022Your temporary {NAME} {SCOPE} code is {CODE}\u0022;\n\ntry {\n    $mfaClient-\u003EcreateMessagingTwoFactor($BW_ACCOUNT_ID, $body);\n} catch (BandwidthLib\\APIException $e) {\n    print_r($e-\u003EgetResponseCode());\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.models.code_request import CodeRequest\nfrom bandwidth.models.messaging_code_response import MessagingCodeResponse\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.MFAApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    code_request = bandwidth.CodeRequest() # CodeRequest | MFA code request body.\n\n    try:\n        # Messaging Authentication Code\n        api_response = api_instance.generate_messaging_code(account_id, code_request)\n        print(\u0022The response of MFAApi-\u003Egenerate_messaging_code:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling MFAApi-\u003Egenerate_messaging_code: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::MFAApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\ncode_request = Bandwidth::CodeRequest.new({to: \u0027\u002B19195551234\u0027, from: \u0027\u002B19195554321\u0027, application_id: \u002766fd98ae-ac8d-a00f-7fcd-ba3280aeb9b1\u0027, message: \u0027Your temporary {NAME} {SCOPE} code is {CODE}\u0027, digits: 6}) # CodeRequest | MFA code request body.\n\nbegin\n  # Messaging Authentication Code\n  result = api_instance.generate_messaging_code(account_id, code_request)\n  p result\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling MFAApi-\u003Egenerate_messaging_code: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    MFAApi,\n    Configuration,\n    CodeRequest\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new MFAApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet codeRequest: CodeRequest; //MFA code request body.\n\nconst { status, data } = await apiInstance.generateMessagingCode(\n    accountId,\n    codeRequest\n);\n"}]}},"/accounts/{accountId}/code/verify":{"post":{"tags":["MFA"],"summary":"Verify Authentication Code","description":"Verify a previously sent MFA code.","operationId":"verifyCode","parameters":[{"$ref":"#/components/parameters/accountId"}],"requestBody":{"$ref":"#/components/requestBodies/codeVerify"},"responses":{"200":{"$ref":"#/components/responses/verifyCodeResponse"},"400":{"$ref":"#/components/responses/mfaBadRequestError"},"401":{"$ref":"#/components/responses/mfaUnauthorizedError"},"403":{"$ref":"#/components/responses/mfaForbiddenError"},"429":{"$ref":"#/components/responses/mfaTooManyRequestsError"},"500":{"$ref":"#/components/responses/mfaInternalServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl \u0027https://mfa.bandwidth.com/api/v1/accounts/9900000/code/verify\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Content-Type: application/json\u0027 \\\n  -H \u0027Accept: application/json\u0027 \\\n  -d \u0027{\n    \u0022to\u0022: \u0022\u002B19195551234\u0022,\n    \u0022expirationTimeInMinutes\u0022: 3,\n    \u0022code\u0022: \u0022123456\u0022,\n    \u0022scope\u0022: \u00222FA\u0022\n  }\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class VerifyCodeExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new MFAApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var verifyCodeRequest = new VerifyCodeRequest(); // VerifyCodeRequest | MFA code verify request body.\n\n            try\n            {\n                // Verify Authentication Code\n                VerifyCodeResponse result = apiInstance.VerifyCode(accountId, verifyCodeRequest);\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling MFAApi.VerifyCode: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.MfaApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    MfaApi apiInstance = new MfaApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    VerifyCodeRequest verifyCodeRequest = new VerifyCodeRequest(); // VerifyCodeRequest | MFA code verify request body.\n    try {\n      VerifyCodeResponse result = apiInstance.verifyCode(accountId, verifyCodeRequest);\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling MfaApi#verifyCode\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"PHP","source":"\u003C?php\n  \nrequire \u0022vendor/autoload.php\u0022;\n\napi-username = \u0022api-username\u0022;\napi-password = \u0022api-pasword\u0022;\n12345 = \u002212345\u0022;\n1234-asdf = \u00221234-asdf\u0022;\n//$BW_MFA_MESSAGING_APPLICATION_ID = getenv(\u0022BW_MFA_MESSAGING_APPLICATION_ID\u0022);\n//Both voice and messaging application IDs can be used. The verify request\n//must have the same ID as the code request.\n\u002B15554443333 = \u0022\u002B15554443333\u0022;\n\u002B15553334444 = \u0022\u002B15553334444\u0022;\n\n$config = new BandwidthLib\\Configuration(\n    array(\n        \u0027multiFactorAuthBasicAuthUserName\u0027 =\u003E $BW_USERNAME,\n        \u0027multiFactorAuthBasicAuthPassword\u0027 =\u003E $BW_PASSWORD,\n    )\n);\n$client = new BandwidthLib\\BandwidthClient($config);\n\n$mfaClient = $client-\u003EgetMultiFactorAuth()-\u003EgetMFA();\n\n$body = new BandwidthLib\\MultiFactorAuth\\Models\\TwoFactorVerifyRequestSchema();\n$body-\u003Efrom = $BW_MFA_NUMBER;\n$body-\u003Eto = $USER_NUMBER;\n$body-\u003EapplicationId = $BW_MFA_MESSAGING_APPLICATION_ID;\n//$body-\u003EapplicationId = 1234-qwer;\n$body-\u003Escope = \u0022scope\u0022;\n$body-\u003Ecode = \u0022123456\u0022; //This is the user\u0027s input to validate\n$body-\u003Edigits = 6;\n$body-\u003EexpirationTimeInMinutes = 3;\n\ntry {\n    $response = $mfaClient-\u003EcreateVerifyTwoFactor($BW_ACCOUNT_ID, $body);\n    print_r($response-\u003EgetResult()-\u003Evalid);\n} catch (BandwidthLib\\APIException $e) {\n    print_r($e-\u003EgetResponseCode());\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.models.verify_code_request import VerifyCodeRequest\nfrom bandwidth.models.verify_code_response import VerifyCodeResponse\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.MFAApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    verify_code_request = bandwidth.VerifyCodeRequest() # VerifyCodeRequest | MFA code verify request body.\n\n    try:\n        # Verify Authentication Code\n        api_response = api_instance.verify_code(account_id, verify_code_request)\n        print(\u0022The response of MFAApi-\u003Everify_code:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling MFAApi-\u003Everify_code: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::MFAApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\nverify_code_request = Bandwidth::VerifyCodeRequest.new({to: \u0027\u002B19195551234\u0027, expiration_time_in_minutes: 3, code: \u0027123456\u0027}) # VerifyCodeRequest | MFA code verify request body.\n\nbegin\n  # Verify Authentication Code\n  result = api_instance.verify_code(account_id, verify_code_request)\n  p result\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling MFAApi-\u003Everify_code: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    MFAApi,\n    Configuration,\n    VerifyCodeRequest\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new MFAApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet verifyCodeRequest: VerifyCodeRequest; //MFA code verify request body.\n\nconst { status, data } = await apiInstance.verifyCode(\n    accountId,\n    verifyCodeRequest\n);\n"}]}}},"components":{"schemas":{"codeRequest":{"type":"object","properties":{"to":{"type":"string","description":"The phone number to send the mfa code to.","pattern":"^\\\u002B[1-9]\\d{1,14}$","example":"\u002B19195551234"},"from":{"type":"string","description":"The application phone number, the sender of the mfa code.","pattern":"^\\\u002B[1-9]\\d{1,14}$","maxLength":32,"example":"\u002B19195554321"},"applicationId":{"type":"string","description":"The application unique ID, obtained from Bandwidth.","maxLength":50,"example":"66fd98ae-ac8d-a00f-7fcd-ba3280aeb9b1"},"scope":{"type":"string","description":"An optional field to denote what scope or action the mfa code is addressing.  If not supplied, defaults to \u00222FA\u0022.","maxLength":25,"example":"2FA"},"message":{"type":"string","description":"The message format of the mfa code.  There are three values that the system will replace \u0022{CODE}\u0022, \u0022{NAME}\u0022, \u0022{SCOPE}\u0022.  The \u0022{SCOPE}\u0022 and \u0022{NAME} value template are optional, while \u0022{CODE}\u0022 must be supplied.  As the name would suggest, code will be replace with the actual mfa code.  Name is replaced with the application name, configured during provisioning of mfa.  The scope value is the same value sent during the call and partitioned by the server.","maxLength":2048,"example":"Your temporary {NAME} {SCOPE} code is {CODE}"},"digits":{"type":"integer","description":"The number of digits for your mfa code.  The valid number ranges from 2 to 8, inclusively.","minimum":4,"maximum":8,"example":6}},"required":["to","from","applicationId","message","digits"]},"voiceCodeResponse":{"type":"object","properties":{"callId":{"type":"string","description":"Programmable Voice API Call ID.","example":"c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85"}}},"messagingCodeResponse":{"type":"object","properties":{"messageId":{"type":"string","description":"Messaging API Message ID.","example":"1589228074636lm4k2je7j7jklbn2"}}},"verifyCodeRequest":{"type":"object","properties":{"to":{"type":"string","description":"The phone number to send the mfa code to.","pattern":"^\\\u002B[1-9]\\d{1,14}$","example":"\u002B19195551234"},"scope":{"type":"string","description":"An optional field to denote what scope or action the mfa code is addressing.  If not supplied, defaults to \u00222FA\u0022.","example":"2FA"},"expirationTimeInMinutes":{"type":"number","description":"The time period, in minutes, to validate the mfa code.  By setting this to 3 minutes, it will mean any code generated within the last 3 minutes are still valid.  The valid range for expiration time is between 0 and 15 minutes, exclusively and inclusively, respectively.","minimum":1,"maximum":15,"example":3},"code":{"type":"string","description":"The generated mfa code to check if valid.","minLength":4,"maxLength":8,"example":"123456"}},"required":["to","expirationTimeInMinutes","code"]},"verifyCodeResponse":{"type":"object","properties":{"valid":{"type":"boolean","description":"Whether or not the supplied code is valid.","example":true}}},"mfaRequestError":{"type":"object","properties":{"error":{"type":"string","description":"A message describing the error with your request.","example":"400 Request is malformed or invalid"},"requestId":{"type":"string","description":"The associated requestId from AWS.","example":"354cc8a3-6701-461e-8fa7-8671703dd898"}}},"mfaUnauthorizedRequestError":{"type":"object","properties":{"message":{"type":"string","description":"Unauthorized","example":"Unauthorized"}}},"mfaForbiddenRequestError":{"type":"object","properties":{"message":{"type":"string","description":"The message containing the reason behind the request being forbidden.","example":"Missing Authentication Token"}}}},"responses":{"voiceCodeResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/voiceCodeResponse"}}}},"messagingCodeResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/messagingCodeResponse"}}}},"verifyCodeResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/verifyCodeResponse"}}}},"mfaBadRequestError":{"description":"Bad Request","headers":{},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/mfaRequestError"}}}},"mfaUnauthorizedError":{"description":"Unauthorized","headers":{},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/mfaUnauthorizedRequestError"}}}},"mfaForbiddenError":{"description":"Forbidden","headers":{},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/mfaForbiddenRequestError"}}}},"mfaTooManyRequestsError":{"description":"Too Many Requests","headers":{},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/mfaRequestError"}}}},"mfaInternalServerError":{"description":"Internal Server Error","headers":{},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/mfaRequestError"}}}}},"parameters":{"accountId":{"in":"path","name":"accountId","required":true,"schema":{"type":"string"},"description":"Your Bandwidth Account ID.","example":"9900000"}},"requestBodies":{"codeRequest":{"description":"MFA code request body.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/codeRequest"}}}},"codeVerify":{"description":"MFA code verify request body.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/verifyCodeRequest"}}}}},"securitySchemes":{"Basic":{"type":"http","scheme":"basic","description":"Basic authentication is a simple authentication scheme built into the HTTP protocol. To use it, send your HTTP requests with an \u0060Authorization\u0060 header that contains the word \u0060Basic\u0060 followed by a space and a Base64-encoded string \u0060username:password\u0060.\n\n- Example: \u0060Authorization: Basic ZGVtbZpwQDU1dzByZA==\u0060"},"OAuth2":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"https://api.bandwidth.com/api/v1/oauth2/token","scopes":{}}}}}},"security":[{"Basic":[]},{"OAuth2":[]}],"tags":[{"name":"MFA"}]}