{"openapi":"3.1.0","info":{"title":"My Numbers","description":"Bandwidth\u0027s My Numbers API - Read-only inventory and reporting endpoints for phone numbers in your account.","contact":{"name":"Bandwidth","url":"https://dev.bandwidth.com/apis/numbers-apis/my-numbers","email":"support@bandwidth.com"},"version":"1.0.0","termsOfService":"https://www.bandwidth.com/legal/terms-of-service/"},"servers":[{"url":"https://api.bandwidth.com/api/v2","description":"Production"}],"security":[{"Basic":[]},{"Bearer":[]}],"paths":{"/accounts/{accountId}/inserviceNumbers":{"get":{"description":"Retrieves a list of in-service phone numbers associated with the account ID.\n\nIn this table are presented capabilities that are not universally available. The following request query parameters are only allowed for numbers from specific region/country:\n| Number Region | Request Query Parameter |\n|:--------------|:------------------------|\n|NANP|city|\n|NANP|tier|\n|NANP|npaNxx|\n|NANP|npaNxxx|\n|NANP|lata|\n|NANP|state|\n|NANP|ratecenter|\n\nWhen the  query parameters listed in the table above are passed, only in service North American Numbering Plan phone numbers are returned.","operationId":"ReadInserviceTns","parameters":[{"$ref":"#/components/parameters/AccountIdPathParam"},{"$ref":"#/components/parameters/pageQueryParam"},{"$ref":"#/components/parameters/sizeQueryParam"},{"$ref":"#/components/parameters/startDateQueryParam"},{"$ref":"#/components/parameters/endDateQueryParam"},{"$ref":"#/components/parameters/countryCodeA3QueryParam"},{"$ref":"#/components/parameters/phoneNumberTypeQueryParam"},{"$ref":"#/components/parameters/areaCodeQueryParam"},{"$ref":"#/components/parameters/cityQueryParam"},{"$ref":"#/components/parameters/tierQueryParam"},{"description":"\u003Cp\u003EThe 6-digit prefix associated with the TN.\u003C/p\u003E\u003Cul\u003E\u003Cli\u003EAllowed number ranges for NPA are [2-9] for the first digit and [0-9] for both the second and third digits.\u003C/li\u003E\u003Cli\u003EAllowed number ranges for NXX are [2-9] for the first digit and [0-9] for both the second and third digits.\u003C/li\u003E\u003C/ul\u003E","example":919859,"in":"query","name":"npaNxx","required":false,"schema":{"type":"integer"}},{"description":"\u003Cp\u003EThe 7-digit prefix associated with the TN.\u003C/p\u003E\u003Cul\u003E\u003Cli\u003EAllowed number ranges for NPA are [2-9] for the first digit and [0-9] for both the second and third digits.\u003C/li\u003E\u003Cli\u003EAllowed number ranges for NXXX are [2-9] for the first digit and [0-9] the rest of the (X) digits.\u003C/li\u003E\u003C/ul\u003E","in":"query","name":"npaNxxx","required":false,"schema":{"type":"integer"}},{"description":"A Rate Center search filter - all returned TNs will be in the entered Rate Center.  Typically this is a 3 or 5 digit value.","example":435,"in":"query","name":"lata","required":false,"schema":{"type":"integer"}},{"description":"A State search filter - all returned TNs will be in the entered State.  This is a 2-character State or Province abbreviation.","example":"TX","in":"query","name":"state","required":false,"schema":{"type":"string"}},{"description":"A Rate Center search filter - all returned TNs will be in the entered Rate Center.  This \u0060ratecenter\u0060 must be combined with a \u0060state\u0060 in the query.  If State is not included in the query then the query will fail.","example":"PLANO","in":"query","name":"ratecenter","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/phoneNumberListResponse"},"example":{"totalCount":59,"links":{"first":"https://api.bandwidth.com/api/v2/accounts/12345/inserviceNumbers?page=1\u0026size=15","next":"https://api.bandwidth.com/api/v2/accounts/12345/inserviceNumbers?page=%2B18043814905\u0026size=15"},"phoneNumbers":[18043024183,18042121778,18042146066,18043814903,18043814905]}},"application/xml":{"examples":{"example":{"description":"example","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTNs\u003E\n   \u003CTotalCount\u003E59\u003C/TotalCount\u003E\n   \u003CLinks\u003E\n      \u003Cfirst\u003E( a link goes here )\u003C/first\u003E\n      \u003Cnext\u003E( a link goes here )\u003C/next\u003E\n   \u003C/Links\u003E\n   \u003CTelephoneNumbers\u003E\n      \u003CCount\u003E15\u003C/Count\u003E\n      \u003CTelephoneNumber\u003E\u002B18043024183\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B18042121778\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B18042146066\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B18043814903\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B18043814905\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B18043814864\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B18043326094\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B18042121771\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B18043024182\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B18043814900\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B18047672642\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B18043024368\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B18042147950\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B18043169931\u003C/TelephoneNumber\u003E\n      \u003CTelephoneNumber\u003E\u002B18043325302\u003C/TelephoneNumber\u003E\n   \u003C/TelephoneNumbers\u003E\n\u003C/TNs\u003E"}},"schema":{"$ref":"#/components/schemas/accountTelephoneNumbersHistoryResponse"}}},"description":"OK"},"204":{"content":{"application/xml":{}},"description":"No Content"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INVALID_REQUEST","message":"Bad request","description":"The request parameters are invalid."}}},"description":"Bad Request"},"401":{"description":"Unauthorized"},"404":{"content":{"application/xml":{}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INTERNAL_ERROR","message":"Internal server error","description":"An unexpected error occurred."}}},"description":"Internal Server Error"}},"summary":"List in-service phone numbers","tags":["My Numbers"]}},"/accounts/{accountId}/inserviceNumbers/totals":{"get":{"description":"Returns the total number of in-service numbers for the given account.","operationId":"ReadInserviceTnsCount","parameters":[{"$ref":"#/components/parameters/AccountIdPathParam"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/phoneNumberCountResponse"},"example":{"count":62}},"application/xml":{"examples":{"example":{"description":"example","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CQuantity\u003E\n\t    \u003CCount\u003E62\u003C/Count\u003E\n\u003C/Quantity\u003E"}},"schema":{"$ref":"#/components/schemas/telephoneNumberTotalsHistory"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INVALID_REQUEST","message":"Bad request","description":"The request parameters are invalid."}}},"description":"Bad Request"},"401":{"description":"Unauthorized"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"NOT_FOUND","message":"Resource not found","description":"The requested resource was not found."}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INTERNAL_ERROR","message":"Internal server error","description":"An unexpected error occurred."}}},"description":"Internal Server Error"}},"summary":"Get in-service phone number count","tags":["My Numbers"]}},"/accounts/{accountId}/inserviceNumbers/{tn}":{"get":{"description":"Check if a given phone number is in service. Returns a 200 OK with no body if the number is in-service on the account, and a 404 Not Found if the number is not in-service on the account.","operationId":"ReadInserviceTn","parameters":[{"$ref":"#/components/parameters/AccountIdPathParam"},{"description":"The telephone number to check","example":18043024183,"in":"path","name":"tn","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"}},"summary":"Get in-service phone number","tags":["My Numbers"]}},"/accounts/{accountId}/discnumbers":{"get":{"description":"Retrieves a list of disconnected numbers associated with the account. There are optional search parameters to limit the discNumbers payload","operationId":"GetDisconnectedTns","parameters":[{"$ref":"#/components/parameters/AccountIdPathParam"},{"$ref":"#/components/parameters/pageQueryParam"},{"$ref":"#/components/parameters/sizeQueryParam"},{"$ref":"#/components/parameters/startDateQueryParam"},{"$ref":"#/components/parameters/endDateQueryParam"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/phoneNumberListResponse"},"example":{"totalCount":2,"phoneNumbers":[14158714245,14352154439]}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTNs\u003E\n  \u003CTotalCount\u003E2\u003C/TotalCount\u003E\n  \u003CTelephoneNumbers\u003E\n    \u003CCount\u003E2\u003C/Count\u003E\n    \u003CTelephoneNumber\u003E\u002B14158714245\u003C/TelephoneNumber\u003E\n    \u003CTelephoneNumber\u003E\u002B14352154439\u003C/TelephoneNumber\u003E\n  \u003C/TelephoneNumbers\u003E\n\u003C/TNs\u003E"}},"schema":{"$ref":"#/components/schemas/tNs"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INVALID_REQUEST","message":"Bad request","description":"The request parameters are invalid."}}},"description":"Bad Request"},"401":{"description":"Unauthorized"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"NOT_FOUND","message":"Resource not found","description":"The requested resource was not found."}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INTERNAL_ERROR","message":"Internal server error","description":"An unexpected error occurred."}}},"description":"Internal Server Error"}},"summary":"List disconnected phone numbers","tags":["My Numbers"]}},"/accounts/{accountId}/discnumbers/totals":{"get":{"description":"Retrieves a total number of disconnects.","operationId":"GetTotalNumberDisconnects","parameters":[{"$ref":"#/components/parameters/AccountIdPathParam"},{"$ref":"#/components/parameters/startDateQueryParam"},{"$ref":"#/components/parameters/endDateQueryParam"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/phoneNumberCountResponse"},"example":{"count":4}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CQuantity\u003E\n  \u003CCount\u003E4\u003C/Count\u003E\n\u003C/Quantity\u003E"}},"schema":{"$ref":"#/components/schemas/quantity"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INVALID_REQUEST","message":"Bad request","description":"The request parameters are invalid."}}},"description":"Bad Request"},"401":{"description":"Unauthorized"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"NOT_FOUND","message":"Resource not found","description":"The requested resource was not found."}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INTERNAL_ERROR","message":"Internal server error","description":"An unexpected error occurred."}}},"description":"Internal Server Error"}},"summary":"Get disconnected phone number count","tags":["My Numbers"]}},"/accounts/{accountId}/sites/{siteId}/inserviceNumbers":{"get":{"description":"Retrieves all the telephone numbers currently in-service for the given Site.\n\nIn this table are presented capabilities that are not universally available. The following request query parameters are only allowed for numbers from specific region/country:\n| Number Region | Request Query Parameter |\n|:--------------|:------------------------|\n|NANP|city|\n|NANP|tier|\n|NANP|npaNxx|\n|NANP|npaNxxx|\n|NANP|lata|\n|NANP|state|\n|NANP|ratecenter|\n\nWhen the  query parameters listed in the table above are passed, only in service North American Numbering Plan phone numbers are returned.","operationId":"RetrieveSiteInserviceNumbers","parameters":[{"$ref":"#/components/parameters/AccountIdPathParam"},{"$ref":"#/components/parameters/SiteIdPathParam"},{"$ref":"#/components/parameters/pageQueryParam"},{"$ref":"#/components/parameters/sizeQueryParam"},{"$ref":"#/components/parameters/startDateQueryParam"},{"$ref":"#/components/parameters/endDateQueryParam"},{"$ref":"#/components/parameters/countryCodeA3QueryParam"},{"$ref":"#/components/parameters/phoneNumberTypeQueryParam"},{"$ref":"#/components/parameters/areaCodeQueryParam"},{"$ref":"#/components/parameters/cityQueryParam"},{"$ref":"#/components/parameters/tierQueryParam"},{"description":"\u003Cp\u003EThe 6-digit prefix associated with the TN.\u003C/p\u003E\u003Cul\u003E\u003Cli\u003EAllowed number ranges for NPA are [2-9] for the first digit and [0-9] for both the second and third digits.\u003C/li\u003E\u003Cli\u003EAllowed number ranges for NXX are [2-9] for the first digit and [0-9] for both the second and third digits.\u003C/li\u003E\u003C/ul\u003E","example":919859,"in":"query","name":"npaNxx","required":false,"schema":{"type":"integer"}},{"description":"\u003Cp\u003EThe 7-digit prefix associated with the TN.\u003C/p\u003E\u003Cul\u003E\u003Cli\u003EAllowed number ranges for NPA are [2-9] for the first digit and [0-9] for both the second and third digits.\u003C/li\u003E\u003Cli\u003EAllowed number ranges for NXXX are [2-9] for the first digit and [0-9] the rest of the (X) digits.\u003C/li\u003E\u003C/ul\u003E","in":"query","name":"npaNxxx","required":false,"schema":{"type":"integer"}},{"description":"A Rate Center search filter - all returned TNs will be in the entered Rate Center.  Typically this is a 3 or 5 digit value.","example":435,"in":"query","name":"lata","required":false,"schema":{"type":"integer"}},{"description":"A Rate Center search filter - all returned TNs will be in the entered Rate Center.  This \u0060ratecenter\u0060 must be combined with a \u0060state\u0060 in the query.  If State is not included in the query then the query will fail.","example":"PLANO","in":"query","name":"rateCenter","required":false,"schema":{"type":"string"}},{"description":"A State search filter - all returned TNs will be in the entered State.  This is a 2-character State or Province abbreviation.","example":"TX","in":"query","name":"state","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/phoneNumberListResponse"},"example":{"totalCount":54,"links":{"first":"https://api.bandwidth.com/api/v2/accounts/12345/sites/407/inserviceNumbers?page=1\u0026size=3","next":"https://api.bandwidth.com/api/v2/accounts/12345/sites/407/inserviceNumbers?page=%2B14352161523\u0026size=3"},"phoneNumbers":[14352154855,14352154870,14352161523]}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTNs\u003E\n   \u003CTotalCount\u003E54\u003C/TotalCount\u003E\n   \u003CLinks\u003E\n      \u003Cfirst\u003E\n         \u003C!-- SNIP --\u003E\n      \u003C/first\u003E\n      \u003Cnext\u003E\n         \u003C!-- SNIP --\u003E\n      \u003C/next\u003E\n   \u003C/Links\u003E\n   \u003CTelephoneNumbers\u003E\n      \u003CCount\u003E3\u003C/Count\u003E\n      \u003CTelephoneNumber\u003E\u002B14352154855\u003C/TelephoneNumber\u003E\n      \u003C!-- SNIP --\u003E\n      \u003CTelephoneNumber\u003E\u002B14352161523\u003C/TelephoneNumber\u003E\n   \u003C/TelephoneNumbers\u003E\n\u003C/TNs\u003E"}},"schema":{"$ref":"#/components/schemas/accountTelephoneNumbersHistoryResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INVALID_REQUEST","message":"Bad request","description":"The request parameters are invalid."}}},"description":"Bad Request"},"401":{"description":"Unauthorized"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"NOT_FOUND","message":"Resource not found","description":"The requested resource was not found."}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INTERNAL_ERROR","message":"Internal server error","description":"An unexpected error occurred."}}},"description":"Internal Server Error"}},"summary":"List sub-account in-service phone numbers","tags":["My Numbers"]}},"/accounts/{accountId}/sites/{siteId}/totaltns":{"get":{"description":"Retrieves Site telephone numbers total count","operationId":"RetrieveSiteTnsCount","parameters":[{"$ref":"#/components/parameters/AccountIdPathParam"},{"description":"ID of the Site to retrieve count of TNs","example":407,"in":"path","name":"siteId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/subAccountPhoneNumberCountResponse"},"example":{"totalCount":26}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSiteTNsResponse\u003E\n   \u003CSiteTNs\u003E\n      \u003CTotalCount\u003E26\u003C/TotalCount\u003E\n   \u003C/SiteTNs\u003E\n\u003C/SiteTNsResponse\u003E"}},"schema":{"$ref":"#/components/schemas/siteTNsResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INVALID_REQUEST","message":"Bad request","description":"The request parameters are invalid."}}},"description":"Bad Request"},"401":{"description":"Unauthorized"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"NOT_FOUND","message":"Resource not found","description":"The requested resource was not found."}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INTERNAL_ERROR","message":"Internal server error","description":"An unexpected error occurred."}}},"description":"Internal Server Error"}},"summary":"Get sub-account phone number count","tags":["My Numbers"]}},"/accounts/{accountId}/sites/{siteId}/sippeers/{sippeerId}/tns":{"get":{"description":"Retrieve information about a Telephone number or set of Telephone numbers","operationId":"ReadSipPeerTns","parameters":[{"$ref":"#/components/parameters/AccountIdPathParam"},{"$ref":"#/components/parameters/SiteIdPathParam"},{"$ref":"#/components/parameters/SipPeerTnsPageQueryParam"},{"$ref":"#/components/parameters/SipPeerTnsSizeQueryParam"},{"description":"ID of the Sip Peer to retrieve TNs information","example":500017,"in":"path","name":"sippeerId","required":true,"schema":{"type":"string"}},{"description":"If the value is false SipPeerTelephoneNumber will contain FullNumber tags only. This makes processing faster","example":false,"in":"query","name":"includeAttributes","required":false,"schema":{"default":true,"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/locationPhoneNumbersResponse"},"example":{"links":{"first":"https://api.bandwidth.com/api/v2/accounts/12345/sites/407/sippeers/500017/tns?page=1\u0026size=3","next":"https://api.bandwidth.com/api/v2/accounts/12345/sites/407/sippeers/500017/tns?page=%2B12053161118\u0026size=3"},"phoneNumbers":[{"phoneNumber":12052160148,"callingNameDisplay":true,"phoneNumberAttributes":["Protected","External","Imported"],"messagingSettings":{"smsEnabled":true}},{"phoneNumber":12053161118,"callingNameDisplay":false,"messagingSettings":{"smsEnabled":true}},{"phoneNumber":12053160118,"callForward":12014563025,"callingNameDisplay":false}]}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipPeerTelephoneNumbersResponse\u003E\n   \u003CLinks\u003E\n      \u003Cfirst\u003E( a link goes here )\u003C/first\u003E\n      \u003Cnext\u003E( a link goes here )\u003C/next\u003E\n   \u003C/Links\u003E\n   \u003CSipPeerTelephoneNumbers\u003E\n      \u003CSipPeerTelephoneNumber\u003E\n         \u003CFullNumber\u003E\u002B12052160148\u003C/FullNumber\u003E\n         \u003CCallingNameDisplay\u003Etrue\u003C/CallingNameDisplay\u003E\n         \u003CTnAttributes\u003E\n            \u003CTnAttribute\u003EProtected\u003C/TnAttribute\u003E\n            \u003CTnAttribute\u003EExternal\u003C/TnAttribute\u003E\n            \u003CTnAttribute\u003EImported\u003C/TnAttribute\u003E\n         \u003C/TnAttributes\u003E\n         \u003CMessagingSettings\u003E\n            \u003CSmsEnabled\u003Etrue\u003C/SmsEnabled\u003E\n         \u003C/MessagingSettings\u003E\n      \u003C/SipPeerTelephoneNumber\u003E\n      \u003CSipPeerTelephoneNumber\u003E\n         \u003CFullNumber\u003E\u002B12053161118\u003C/FullNumber\u003E\n         \u003CCallingNameDisplay\u003Efalse\u003C/CallingNameDisplay\u003E\n         \u003CMessagingSettings\u003E\n            \u003CSmsEnabled\u003Etrue\u003C/SmsEnabled\u003E\n         \u003C/MessagingSettings\u003E\n      \u003C/SipPeerTelephoneNumber\u003E\n      \u003CSipPeerTelephoneNumber\u003E\n         \u003CFullNumber\u003E\u002B12053160118\u003C/FullNumber\u003E\n         \u003CCallForward\u003E\u002B12014563025\u003C/CallForward\u003E\n         \u003CCallingNameDisplay\u003Efalse\u003C/CallingNameDisplay\u003E\n      \u003C/SipPeerTelephoneNumber\u003E\n   \u003C/SipPeerTelephoneNumbers\u003E\n\u003C/SipPeerTelephoneNumbersResponse\u003E"}},"schema":{"$ref":"#/components/schemas/sipPeerTelephoneNumbersResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INVALID_REQUEST","message":"Bad request","description":"The request parameters are invalid."}}},"description":"Bad Request"},"401":{"description":"Unauthorized"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"NOT_FOUND","message":"Resource not found","description":"The requested resource was not found."}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INTERNAL_ERROR","message":"Internal server error","description":"An unexpected error occurred."}}},"description":"Internal Server Error"}},"summary":"List location phone numbers","tags":["My Numbers"]}},"/accounts/{accountId}/sites/{siteId}/sippeers/{sippeerId}/tns/{tn}":{"get":{"description":"Retrieve information about telephone number on Sip Peer.","operationId":"ReadSipPeerTn","parameters":[{"$ref":"#/components/parameters/AccountIdPathParam"},{"$ref":"#/components/parameters/SiteIdPathParam"},{"description":"ID of the Sip Peer to retrieve TN information","example":500017,"in":"path","name":"sippeerId","required":true,"schema":{"type":"string"}},{"description":"A E.164 Telephone Number","example":15209072451,"in":"path","name":"tn","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/locationPhoneNumberItem"},"example":{"phoneNumber":15209072451,"callForward":17042661720,"callingNameDisplay":true,"phoneNumberAttributes":["Protected","External","Imported"],"messagingSettings":{"smsEnabled":true}}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipPeerTelephoneNumberResponse\u003E\n    \u003CSipPeerTelephoneNumber\u003E\n        \u003CFullNumber\u003E\u002B15209072451\u003C/FullNumber\u003E\n        \u003CCallForward\u003E\u002B17042661720\u003C/CallForward\u003E\n        \u003CCallingNameDisplay\u003Etrue\u003C/CallingNameDisplay\u003E\n        \u003CTnAttributes\u003E\n            \u003CTnAttribute\u003EProtected\u003C/TnAttribute\u003E\n            \u003CTnAttribute\u003EExternal\u003C/TnAttribute\u003E\n            \u003CTnAttribute\u003EImported\u003C/TnAttribute\u003E\n        \u003C/TnAttributes\u003E\n        \u003CMessagingSettings\u003E\n            \u003CSmsEnabled\u003Etrue\u003C/SmsEnabled\u003E\n        \u003C/MessagingSettings\u003E\n    \u003C/SipPeerTelephoneNumber\u003E\n\u003C/SipPeerTelephoneNumberResponse\u003E"}},"schema":{"$ref":"#/components/schemas/sipPeerTelephoneNumberResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INVALID_REQUEST","message":"Bad request","description":"The request parameters are invalid."}}},"description":"Bad Request"},"401":{"description":"Unauthorized"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"NOT_FOUND","message":"Resource not found","description":"The requested resource was not found."}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INTERNAL_ERROR","message":"Internal server error","description":"An unexpected error occurred."}}},"description":"Internal Server Error"}},"summary":"Get location phone number","tags":["My Numbers"]}},"/accounts/{accountId}/sites/{siteId}/sippeers/{sippeerId}/totaltns":{"get":{"description":"Retrieve count of Telephone numbers for Sip Peer","operationId":"RetrieveSipPeerTnsCount","parameters":[{"$ref":"#/components/parameters/AccountIdPathParam"},{"$ref":"#/components/parameters/SiteIdPathParam"},{"description":"ID of the Sip Peer to retrieve TNs count","example":500017,"in":"path","name":"sippeerId","required":true,"schema":{"type":"string"}},{"description":"Telephone number feature","example":["DLDA"],"in":"query","name":"feature","required":false,"schema":{"items":{"enum":["LIDB","DLDA","DA"],"type":"string"},"type":"array"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/locationPhoneNumbersCountResponse"},"example":{"totalCount":10004,"cnamCount":4,"lidbCount":0,"dldaCount":9999,"daCount":0}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipPeerTelephoneNumbersCountResponse\u003E\n   \u003CSipPeerTelephoneNumbersCount\u003E\n      \u003CSipPeerTelephoneNumbersCount\u003E10004\u003C/SipPeerTelephoneNumbersCount\u003E\n      \u003CCnamTelephoneNumbersCount\u003E4\u003C/CnamTelephoneNumbersCount\u003E\n      \u003CLidbTelephoneNumbersCount\u003E0\u003C/LidbTelephoneNumbersCount\u003E\n      \u003CDldaTelephoneNumbersCount\u003E9999\u003C/DldaTelephoneNumbersCount\u003E\n      \u003CDaTelephoneNumbersCount\u003E0\u003C/DaTelephoneNumbersCount\u003E\n   \u003C/SipPeerTelephoneNumbersCount\u003E\n\u003C/SipPeerTelephoneNumbersCountResponse\u003E"}},"schema":{"$ref":"#/components/schemas/sipPeerTelephoneNumbersCountResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INVALID_REQUEST","message":"Bad request","description":"The request parameters are invalid."}}},"description":"Bad Request"},"401":{"description":"Unauthorized"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"NOT_FOUND","message":"Resource not found","description":"The requested resource was not found."}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INTERNAL_ERROR","message":"Internal server error","description":"An unexpected error occurred."}}},"description":"Internal Server Error"}},"summary":"Get location phone number count","tags":["My Numbers"]}},"/tns":{"get":{"description":"Retrieve information about one or more Telephone Numbers (TNs), where the TNs are chosen based on the search parameters provided in the API Call.\n\nIn this table are presented capabilities that are not universally available. The following request query parameters are only allowed for numbers from specific region/country:\n| Number Region | Request Query Parameter |\n|:--------------|:------------------------|\n|NANP|city|\n|NANP|tier|\n|NANP|npaNxx|\n|NANP|npaNxxx|\n|NANP|lata|\n|NANP|state|\n|NANP|ratecenter|\n\nWhen the  query parameters listed in the table above are passed, only in service North American Numbering Plan phone numbers are returned.","operationId":"ListTnsByGet","parameters":[{"$ref":"#/components/parameters/pageQueryParam"},{"$ref":"#/components/parameters/sizeQueryParam"},{"$ref":"#/components/parameters/countryCodeA3QueryParam"},{"$ref":"#/components/parameters/phoneNumberTypeQueryParam"},{"$ref":"#/components/parameters/areaCodeQueryParam"},{"$ref":"#/components/parameters/cityQueryParam"},{"$ref":"#/components/parameters/tierQueryParam"},{"description":"The internal account id assigned to the customer that \u0022owns\u0022 the TN.","example":5000125,"in":"query","name":"accountId","required":false,"schema":{"type":"integer"}},{"description":"A E.164 TN.","example":19199918388,"in":"query","name":"fullNumber","required":false,"schema":{"type":"string"}},{"description":"An IP address or subnet (CIDR format) associated with the TN. Filter for subnet applies by exact match.","example":"47.16.211.63 or 69.22.181.68/30","in":"query","name":"host","required":false,"schema":{"type":"string"}},{"description":"A service type value to filter the TNs returned in the payload.","example":"E911","in":"query","name":"service","required":false,"schema":{"enum":["E911","Voice","Hosted_E911"],"type":"string"}},{"description":"\u003Cp\u003EThe 6-digit prefix associated with the TN.\u003C/p\u003E\u003Cul\u003E\u003Cli\u003EAllowed number ranges for NPA are [2-9] for the first digit and [0-9] for both the second and third digits.\u003C/li\u003E\u003Cli\u003EAllowed number ranges for NXX are [2-9] for the first digit and [0-9] for both the second and third digits.\u003C/li\u003E\u003C/ul\u003E","example":919859,"in":"query","name":"npaNxx","required":false,"schema":{"type":"integer"}},{"description":"\u003Cp\u003EThe 7-digit prefix associated with the TN.\u003C/p\u003E\u003Cul\u003E\u003Cli\u003EAllowed number ranges for NPA are [2-9] for the first digit and [0-9] for both the second and third digits.\u003C/li\u003E\u003Cli\u003EAllowed number ranges for NXXX are [2-9] for the first digit and [0-9] the rest of the (X) digits.\u003C/li\u003E\u003C/ul\u003E","in":"query","name":"npaNxxx","required":false,"schema":{"type":"integer"}},{"description":"A Rate Center search filter - all returned TNs will be in the entered Rate Center.  Typically this is a 3 or 5 digit value.","example":435,"in":"query","name":"lata","required":false,"schema":{"type":"integer"}},{"description":"A Rate Center search filter - all returned TNs will be in the entered Rate Center.  This \u0060ratecenter\u0060 must be combined with a \u0060state\u0060 in the query.  If State is not included in the query then the query will fail.","example":"PLANO","in":"query","name":"rateCenter","required":false,"schema":{"type":"string"}},{"description":"A State search filter - all returned TNs will be in the entered State.  This is a 2-character State or Province abbreviation.","example":"TX","in":"query","name":"state","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"examples":{"Domestic and international phone numbers":{"value":{"links":{"first":"https://api.bandwidth.com:443/api/v2/tns?page=1\u0026size=2","next":"https://api.bandwidth.com:443/api/v2/tns?page=%2B390541605183\u0026size=2"},"phoneNumberCount":2,"phoneNumbers":[{"accountId":12346158,"country":"FRA","countryCodeA3":"FRA","isHostedVoice":false,"isOnNetVendor":true,"lastModified":"2020-03-03T15:30:07.000Z","phoneNumber":33140289561,"phoneNumberType":"GEOGRAPHIC","status":"Inservice"},{"accountId":101,"city":"JERSEY CITY","countryCodeA3":"USA","isHostedVoice":false,"isOnNetVendor":true,"lastModified":"2019-01-02T20:00:42.000Z","lata":224,"phoneNumber":12018391002,"phoneNumberType":"GEOGRAPHIC","rateCenter":"JERSEYCITY","state":"NJ","status":"Inservice","tier":0,"vendorId":49,"vendorName":"Bandwidth CLEC"}]}},"Phone number with hosted E911":{"value":{"links":{"first":"https://localhost:8443/api/v2/tns?page=1\u0026size=2500\u0026fullNumber=2019721155"},"phoneNumberCount":1,"phoneNumbers":[{"accountId":12346186,"city":"RIDGEWOOD","countryCodeA3":"USA","features":[{"accountId":12346186,"address":{"addressType":"E911","city":"RALEIGH","houseNumber":3670613170,"houseSuffix":"","latitude":35.84836,"longitude":-75,"plusFour":5244,"stateCode":"NC","streetName":"MAIN CAMPUS","streetSuffix":"DR","zip":27606},"callerName":"EWBurM9hG4","featureType":"e911","lastE911OrderOutcome":"SUCCESS","locationAddress":false,"phoneNumber":12019721155,"status":"Success"}],"isHostedVoice":false,"isOnNetVendor":true,"lastModified":"2019-01-02T20:00:42.000Z","lata":224,"phoneNumber":12019721155,"phoneNumberType":"GEOGRAPHIC","rateCenter":"RIDGEWOOD","state":"NJ","status":"Inservice","tier":0,"vendorId":49,"vendorName":"Bandwidth CLEC"}]}}},"schema":{"$ref":"#/components/schemas/telephoneNumbersHistoryResponseJson"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTelephoneNumbersResponse\u003E\n    \u003CTelephoneNumberCount\u003E5\u003C/TelephoneNumberCount\u003E\n    \u003CLinks\u003E\n        \u003Cfirst\u003ELink=\u0026lt;https://api.bandwidth.com:443/v1.0/tns?account=9500012\u0026amp;page=1\u0026amp;size=500\u0026gt;;rel=\u0022first\u0022;\u003C/first\u003E\n        \u003Cnext\u003ELink=\u0026lt;https://api.bandwidth.com:443/v1.0/tns?account=9500012\u0026amp;page=\u002B12012082912\u0026amp;size=500\u0026gt;;rel=\u0022next\u0022;\u003C/next\u003E\n    \u003C/Links\u003E\n    \u003CTelephoneNumbers\u003E\n        \u003CTelephoneNumber\u003E\n            \u003CCity\u003ECARY\u003C/City\u003E\n            \u003CLata\u003E426\u003C/Lata\u003E\n            \u003CState\u003ENC\u003C/State\u003E\n            \u003CFullNumber\u003E\u002B19192381138\u003C/FullNumber\u003E\n            \u003CTier\u003E0\u003C/Tier\u003E\n            \u003CVendorId\u003E49\u003C/VendorId\u003E\n            \u003CVendorName\u003EBandwidth CLEC\u003C/VendorName\u003E\n          \u003CRateCenter\u003ECARY\u003C/RateCenter\u003E\n            \u003CStatus\u003EInservice\u003C/Status\u003E\n            \u003CAccountId\u003E9900008\u003C/AccountId\u003E\n            \u003CLastModified\u003E2013-12-05T05:58:27.000Z\u003C/LastModified\u003E\n            \u003CInServiceDate\u003E2013-12-05T05:58:27.000Z\u003C/InServiceDate\u003E\n        \u003C/TelephoneNumber\u003E\n        \u003CTelephoneNumber\u003E\n            \u003CCity\u003ECARY\u003C/City\u003E\n            \u003CLata\u003E426\u003C/Lata\u003E\n            \u003CState\u003ENC\u003C/State\u003E\n            \u003CFullNumber\u003E\u002B19192381139\u003C/FullNumber\u003E\n            \u003CTier\u003E0\u003C/Tier\u003E\n            \u003CVendorId\u003E49\u003C/VendorId\u003E\n            \u003CVendorName\u003EBandwidth CLEC\u003C/VendorName\u003E\n            \u003CRateCenter\u003ECARY\u003C/RateCenter\u003E\n            \u003CStatus\u003EInservice\u003C/Status\u003E\n            \u003CAccountId\u003E9900000\u003C/AccountId\u003E\n            \u003CLastModified\u003E2013-12-05T05:58:27.000Z\u003C/LastModified\u003E\n            \u003CInServiceDate\u003E2013-12-05T05:58:27.000Z\u003C/InServiceDate\u003E\n        \u003C/TelephoneNumber\u003E\n        \u003CTelephoneNumber\u003E\n            \u003CCity\u003ECARY\u003C/City\u003E\n            \u003CLata\u003E426\u003C/Lata\u003E\n            \u003CState\u003ENC\u003C/State\u003E\n            \u003CFullNumber\u003E\u002B19192381141\u003C/FullNumber\u003E\n            \u003CTier\u003E0\u003C/Tier\u003E\n            \u003CVendorId\u003E49\u003C/VendorId\u003E\n            \u003CVendorName\u003EBandwidth CLEC\u003C/VendorName\u003E\n            \u003CRateCenter\u003ECARY\u003C/RateCenter\u003E\n            \u003CStatus\u003EInservice\u003C/Status\u003E\n            \u003CAccountId\u003E9900000\u003C/AccountId\u003E\n            \u003CLastModified\u003E2013-12-05T05:58:27.000Z\u003C/LastModified\u003E\n            \u003CInServiceDate\u003E2013-12-05T05:58:27.000Z\u003C/InServiceDate\u003E\n        \u003C/TelephoneNumber\u003E\n        \u003CTelephoneNumber\u003E\n            \u003CCity\u003ECARY\u003C/City\u003E\n            \u003CLata\u003E426\u003C/Lata\u003E\n            \u003CState\u003ENC\u003C/State\u003E\n            \u003CFullNumber\u003E\u002B19192381142\u003C/FullNumber\u003E\n            \u003CTier\u003E0\u003C/Tier\u003E\n            \u003CVendorId\u003E49\u003C/VendorId\u003E\n            \u003CVendorName\u003EBandwidth CLEC\u003C/VendorName\u003E\n            \u003CRateCenter\u003ECARY\u003C/RateCenter\u003E\n            \u003CStatus\u003EInservice\u003C/Status\u003E\n            \u003CAccountId\u003E9900000\u003C/AccountId\u003E\n            \u003CLastModified\u003E2013-12-05T05:58:27.000Z\u003C/LastModified\u003E\n            \u003CInServiceDate\u003E2013-12-05T05:58:27.000Z\u003C/InServiceDate\u003E\n        \u003C/TelephoneNumber\u003E\n        \u003CTelephoneNumber\u003E\n            \u003CCity\u003ECARY\u003C/City\u003E\n            \u003CLata\u003E426\u003C/Lata\u003E\n            \u003CState\u003ENC\u003C/State\u003E\n            \u003CFullNumber\u003E\u002B19192381144\u003C/FullNumber\u003E\n            \u003CTier\u003E0\u003C/Tier\u003E\n            \u003CVendorId\u003E49\u003C/VendorId\u003E\n            \u003CVendorName\u003EBandwidth CLEC\u003C/VendorName\u003E\n            \u003CRateCenter\u003ECARY\u003C/RateCenter\u003E\n            \u003CStatus\u003EAging\u003C/Status\u003E\n            \u003CAccountId\u003E753\u003C/AccountId\u003E\n            \u003CLastModified\u003E2013-12-05T05:58:27.000Z\u003C/LastModified\u003E\n            \u003CInServiceDate\u003E2013-12-05T05:58:27.000Z\u003C/InServiceDate\u003E\n        \u003C/TelephoneNumber\u003E\n    \u003C/TelephoneNumbers\u003E\n\u003C/TelephoneNumbersResponse\u003E"}},"schema":{"$ref":"#/components/schemas/telephoneNumbersHistoryResponse"}}},"description":"The descriptive payload for the TNs query provides information about the TN(s) that were found in the Query. Links to assist in pagination are also provided."},"400":{"content":{"application/json":{"examples":{"InvalidNpaNxxQueryParamExample":{"value":{"description":"The NPA_NXX \u0027876345\u0027 is invalid","errorCode":15511}}},"schema":{"$ref":"#/components/schemas/telephoneNumbersErrorResponseJson"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTelephoneNumbersResponse\u003E\n    \u003CResponseStatus\u003E\n        \u003CErrorCode\u003E15511\u003C/ErrorCode\u003E\n        \u003CDescription\u003EThe NPA_NXX \u00279192384\u0027 is invalid\u003C/Description\u003E\n    \u003C/ResponseStatus\u003E\n\u003C/TelephoneNumbersResponse\u003E"}},"schema":{"$ref":"#/components/schemas/telephoneNumbersErrorResponse"}}},"description":"Bad Request"}},"summary":"List phone numbers","tags":["My Numbers"]},"post":{"description":"Retrieve information about one or more Telephone Numbers (TNs), where the TNs are specified in POST body.\n\nIn this table are presented capabilities that are not universally available. The following request query parameters are only allowed for numbers from specific region/country:\n| Number Region | Request Query Parameter |\n|:--------------|:------------------------|\n|NANP|city|\n|NANP|tier|\n|NANP|npaNxx|\n|NANP|npaNxxx|\n|NANP|lata|\n|NANP|state|\n|NANP|ratecenter|\n\nWhen the  query parameters listed in the table above are passed, only in service North American Numbering Plan phone numbers are returned.","operationId":"ListTnsByPost","parameters":[{"description":"A service type value to filter the TNs returned in the payload.","example":"Voice","in":"query","name":"service","required":false,"schema":{"enum":["Voice","Hosted_Voice","Messaging","Hosted_Messaging","E911","Hosted_E911"],"type":"string"}}],"requestBody":{"content":{"application/json":{"example":{"phoneNumbers":[13172000285,13172000207,13172000000,13172000100,13172110285,13172100285,199999999999,111111111111]},"schema":{"$ref":"#/components/schemas/tnsPostJson"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTnList\u003E\n    \u003CTn\u003E\u002B13172000285\u003C/Tn\u003E\n    \u003CTn\u003E\u002B13172000207\u003C/Tn\u003E\n    \u003CTn\u003E\u002B13172000000\u003C/Tn\u003E\n    \u003CTn\u003E\u002B13172000100\u003C/Tn\u003E\n    \u003CTn\u003E\u002B13172110285\u003C/Tn\u003E\n    \u003CTn\u003E\u002B13172100285\u003C/Tn\u003E\n    \u003CTn\u003E\u002B199999999999\u003C/Tn\u003E\n    \u003CTn\u003E\u002B111111111111\u003C/Tn\u003E\n\u003C/TnList\u003E"}},"schema":{"$ref":"#/components/schemas/tnListRequest"}}}},"responses":{"200":{"content":{"application/json":{"example":{"errors":[{"code":15608,"description":"Input contains invalid Telephone Numbers","phoneNumbers":[111111111111,199999999999]},{"code":15610,"description":"Telephone Numbers cannot be found on accounts","phoneNumbers":[13172110285,13172100285]}],"links":{"first":"https://api.bandwidth.com/api/tns"},"phoneNumberCount":5,"phoneNumbers":[{"accountId":753,"city":"INDIANAPOLIS","countryCodeA3":"USA","isHostedVoice":false,"lastModified":"2016-11-16T19:34:22Z","lata":336,"phoneNumber":13172000000,"phoneNumberType":"GEOGRAPHIC","rateCenter":"INDIANAPLS","state":"IN","status":"Available","tier":0,"vendorId":49,"vendorName":"Bandwidth CLEC"},{"accountId":14,"city":"INDIANAPOLIS","countryCodeA3":"USA","isHostedVoice":false,"lastModified":"2016-11-16T19:34:22Z","lata":336,"phoneNumber":13172000500,"phoneNumberType":"GEOGRAPHIC","rateCenter":"INDIANAPLS","state":"IN","status":"Aging","tier":0,"vendorId":49,"vendorName":"Bandwidth CLEC"},{"accountId":753,"city":"INDIANAPOLIS","countryCodeA3":"USA","isHostedVoice":false,"lastModified":"2016-11-16T19:34:22Z","lata":336,"phoneNumber":13172000100,"phoneNumberType":"GEOGRAPHIC","rateCenter":"INDIANAPLS","state":"IN","status":"Available","tier":0,"vendorId":49,"vendorName":"Bandwidth CLEC"},{"accountId":753,"city":"INDIANAPOLIS","countryCodeA3":"USA","isHostedVoice":false,"lastModified":"2016-11-16T19:34:22Z","lata":336,"phoneNumber":13172000207,"phoneNumberType":"GEOGRAPHIC","rateCenter":"INDIANAPLS","state":"IN","status":"Available","tier":0,"vendorId":49,"vendorName":"Bandwidth CLEC"},{"accountId":753,"city":"INDIANAPOLIS","countryCodeA3":"USA","isHostedVoice":false,"lastModified":"2016-11-16T19:34:22Z","lata":336,"phoneNumber":13172000285,"phoneNumberType":"GEOGRAPHIC","rateCenter":"INDIANAPLS","state":"IN","status":"Available","tier":0,"vendorId":49,"vendorName":"Bandwidth CLEC"}]},"schema":{"$ref":"#/components/schemas/telephoneNumbersHistoryResponseJson"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTelephoneNumbersResponse\u003E\n    \u003CTelephoneNumberCount\u003E4\u003C/TelephoneNumberCount\u003E\n    \u003CLinks\u003E\n        \u003Cfirst\u003Ehttps://api.bandwidth.com/api/tns\u003C/first\u003E\n    \u003C/Links\u003E\n    \u003CTelephoneNumbers\u003E\n        \u003CTelephoneNumber\u003E\n            \u003CCity\u003EINDIANAPOLIS\u003C/City\u003E\n            \u003CLata\u003E336\u003C/Lata\u003E\n            \u003CState\u003EIN\u003C/State\u003E\n            \u003CFullNumber\u003E\u002B13172000000\u003C/FullNumber\u003E\n            \u003CTier\u003E0\u003C/Tier\u003E\n            \u003CVendorId\u003E49\u003C/VendorId\u003E\n            \u003CVendorName\u003EBandwidth CLEC\u003C/VendorName\u003E\n            \u003CRateCenter\u003EINDIANAPLS\u003C/RateCenter\u003E\n            \u003CStatus\u003EAvailable\u003C/Status\u003E\n            \u003CAccountId\u003E753\u003C/AccountId\u003E\n            \u003CLastModified\u003E2016-11-16T19:34:22.000Z\u003C/LastModified\u003E\n        \u003C/TelephoneNumber\u003E\n        \u003CTelephoneNumber\u003E\n            \u003CCity\u003EINDIANAPOLIS\u003C/City\u003E\n            \u003CLata\u003E336\u003C/Lata\u003E\n            \u003CState\u003EIN\u003C/State\u003E\n            \u003CFullNumber\u003E\u002B13172000500\u003C/FullNumber\u003E\n            \u003CTier\u003E0\u003C/Tier\u003E\n            \u003CVendorId\u003E49\u003C/VendorId\u003E\n            \u003CVendorName\u003EBandwidth CLEC\u003C/VendorName\u003E\n            \u003CRateCenter\u003EINDIANAPLS\u003C/RateCenter\u003E\n            \u003CStatus\u003EAging\u003C/Status\u003E\n            \u003CAccountId\u003E14\u003C/AccountId\u003E\n            \u003CLastModified\u003E2016-11-16T19:34:22.000Z\u003C/LastModified\u003E\n        \u003C/TelephoneNumber\u003E\n        \u003CTelephoneNumber\u003E\n            \u003CCity\u003EINDIANAPOLIS\u003C/City\u003E\n            \u003CLata\u003E336\u003C/Lata\u003E\n            \u003CState\u003EIN\u003C/State\u003E\n            \u003CFullNumber\u003E\u002B13172000100\u003C/FullNumber\u003E\n            \u003CTier\u003E0\u003C/Tier\u003E\n            \u003CVendorId\u003E49\u003C/VendorId\u003E\n            \u003CVendorName\u003EBandwidth CLEC\u003C/VendorName\u003E\n            \u003CRateCenter\u003EINDIANAPLS\u003C/RateCenter\u003E\n            \u003CStatus\u003EAvailable\u003C/Status\u003E\n            \u003CAccountId\u003E753\u003C/AccountId\u003E\n            \u003CLastModified\u003E2016-11-16T19:34:22.000Z\u003C/LastModified\u003E\n        \u003C/TelephoneNumber\u003E\n        \u003CTelephoneNumber\u003E\n            \u003CCity\u003EINDIANAPOLIS\u003C/City\u003E\n            \u003CLata\u003E336\u003C/Lata\u003E\n            \u003CState\u003EIN\u003C/State\u003E\n            \u003CFullNumber\u003E\u002B13172000207\u003C/FullNumber\u003E\n            \u003CTier\u003E0\u003C/Tier\u003E\n            \u003CVendorId\u003E49\u003C/VendorId\u003E\n            \u003CVendorName\u003EBandwidth CLEC\u003C/VendorName\u003E\n            \u003CRateCenter\u003EINDIANAPLS\u003C/RateCenter\u003E\n            \u003CStatus\u003EAvailable\u003C/Status\u003E\n            \u003CAccountId\u003E753\u003C/AccountId\u003E\n            \u003CLastModified\u003E2016-11-16T19:34:22.000Z\u003C/LastModified\u003E\n        \u003C/TelephoneNumber\u003E\n        \u003CTelephoneNumber\u003E\n            \u003CCity\u003EINDIANAPOLIS\u003C/City\u003E\n            \u003CLata\u003E336\u003C/Lata\u003E\n            \u003CState\u003EIN\u003C/State\u003E\n            \u003CFullNumber\u003E\u002B13172000285\u003C/FullNumber\u003E\n            \u003CTier\u003E0\u003C/Tier\u003E\n            \u003CVendorId\u003E49\u003C/VendorId\u003E\n            \u003CVendorName\u003EBandwidth CLEC\u003C/VendorName\u003E\n            \u003CRateCenter\u003EINDIANAPLS\u003C/RateCenter\u003E\n            \u003CStatus\u003EAvailable\u003C/Status\u003E\n            \u003CAccountId\u003E753\u003C/AccountId\u003E\n            \u003CLastModified\u003E2016-11-16T19:34:22.000Z\u003C/LastModified\u003E\n        \u003C/TelephoneNumber\u003E\n    \u003C/TelephoneNumbers\u003E\n    \u003CErrorList\u003E\n        \u003CError\u003E\n            \u003CCode\u003E15608\u003C/Code\u003E\n            \u003CDescription\u003EInput contains invalid Telephone Numbers\u003C/Description\u003E\n            \u003CTelephoneNumbers\u003E\n                \u003CTelephoneNumber\u003E\u002B111111111111\u003C/TelephoneNumber\u003E\n                \u003CTelephoneNumber\u003E\u002B199999999999\u003C/TelephoneNumber\u003E\n            \u003C/TelephoneNumbers\u003E\n        \u003C/Error\u003E\n        \u003CError\u003E\n            \u003CCode\u003E15610\u003C/Code\u003E\n            \u003CDescription\u003ETelephone Numbers cannot be found on accounts\u003C/Description\u003E\n            \u003CTelephoneNumbers\u003E\n                \u003CTelephoneNumber\u003E\u002B13172110285\u003C/TelephoneNumber\u003E\n                \u003CTelephoneNumber\u003E\u002B13172100285\u003C/TelephoneNumber\u003E\n            \u003C/TelephoneNumbers\u003E\n        \u003C/Error\u003E\n    \u003C/ErrorList\u003E\n\u003C/TelephoneNumbersResponse\u003E"}},"schema":{"$ref":"#/components/schemas/telephoneNumbersHistoryResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"example":{"responseStatus":{"description":"The count of Telephone numbers in POST body exceeds the maximum size of 20","errorCode":15607}},"schema":{"$ref":"#/components/schemas/telephoneNumbersErrorResponseJson"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTelephoneNumbersResponse\u003E\n    \u003CResponseStatus\u003E\n        \u003CErrorCode\u003E15607\u003C/ErrorCode\u003E\n        \u003CDescription\u003EThe count of Telephone numbers in POST body exceeds the maximum size of 2500\u003C/Description\u003E\n    \u003C/ResponseStatus\u003E\n\u003C/TelephoneNumbersResponse\u003E"}},"schema":{"$ref":"#/components/schemas/telephoneNumbersErrorResponse"}}},"description":"Bad Request"}},"summary":"List phone numbers","tags":["My Numbers"]}},"/tns/{tn}":{"get":{"description":"Retrieves the telephone number\u0027s information.","operationId":"RetrieveTn","parameters":[{"description":"","example":19199918388,"in":"path","name":"tn","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/phoneNumberStatusResponse"},"example":{"phoneNumber":12012035013,"status":"Inservice","lastModifiedDate":"2014-03-25T12:55:11Z","orderCreateDate":"2014-03-25T12:55:11.810Z","orderId":"cf79d3c3-21b7-4db7-9867-273a1867f934","orderType":"NEW_NUMBER_ORDER","inServiceDate":"2014-03-25T12:55:11.810Z","subAccountId":2409,"accountId":8000273}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTelephoneNumberResponse\u003E\n  \u003CTelephoneNumber\u003E\u002B12012035013\u003C/TelephoneNumber\u003E\n  \u003CStatus\u003EInservice\u003C/Status\u003E\n  \u003CLastModifiedDate\u003E2014-03-25 12:55:11.0\u003C/LastModifiedDate\u003E\n  \u003COrderCreateDate\u003E2014-03-25T12:55:11.810Z\u003C/OrderCreateDate\u003E\n  \u003COrderId\u003Ecf79d3c3-21b7-4db7-9867-273a1867f934\u003C/OrderId\u003E\n  \u003COrderType\u003ENEW_NUMBER_ORDER\u003C/OrderType\u003E\n  \u003CInServiceDate\u003E2014-03-25T12:55:11.810Z\u003C/InServiceDate\u003E\n  \u003CSiteId\u003E2409\u003C/SiteId\u003E\n  \u003CAccountId\u003E8000273\u003C/AccountId\u003E\n\u003C/TelephoneNumberResponse\u003E"}},"schema":{"$ref":"#/components/schemas/telephoneNumberStatusShortWrapper"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INVALID_REQUEST","message":"Bad request","description":"The request parameters are invalid."}}},"description":"Bad Request"},"401":{"description":"Unauthorized"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"NOT_FOUND","message":"Resource not found","description":"The requested resource was not found."}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INTERNAL_ERROR","message":"Internal server error","description":"An unexpected error occurred."}}},"description":"Internal Server Error"}},"summary":"Get phone number","tags":["My Numbers"]}},"/tns/{tn}/availableNnRoutes":{"get":{"description":"Retrieves information about available NnRoutes for the phone number.","operationId":"RetrieveRouteForThatTn","parameters":[{"description":"","example":19199918388,"in":"path","name":"tn","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/availableNnRoutesResponse"},"example":{"nnRoutes":[{"nnid":101601,"name":"USA Mobility"},{"nnid":102787,"name":"Globe Wireless - Bandwidth.com - SVR"}]}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CAvailableNnRoutes\u003E\n  \u003CNNRoute\u003E\n    \u003CNnid\u003E101601\u003C/Nnid\u003E\n    \u003CName\u003EUSA Mobility\u003C/Name\u003E\n  \u003C/NNRoute\u003E\n  \u003CNNRoute\u003E\n    \u003CNnid\u003E102787\u003C/Nnid\u003E\n    \u003CName\u003EGlobe Wireless - Bandwidth.com - SVR\u003C/Name\u003E\n  \u003C/NNRoute\u003E\n\u003C/AvailableNnRoutes\u003E"}},"schema":{"$ref":"#/components/schemas/telephoneNumberAvailableNnRoutesResponse"}}},"description":"OK"},"400":{"content":{"application/xml":{"examples":{"example":{"description":"example","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CAvailableNnRoutes\u003E\n  \u003CResponseStatus\u003E\n    \u003CErrorCode\u003E12512\u003C/ErrorCode\u003E\n    \u003CDescription\u003ETelephone number \u0027123456789\u0027 is not valid\u003C/Description\u003E\n  \u003C/ResponseStatus\u003E\n\u003C/AvailableNnRoutes\u003E"}},"schema":{"$ref":"#/components/schemas/telephoneNumberAvailableNnRoutesErrorResponse"}}},"description":"Bad Request"},"401":{"description":"Unauthorized"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"NOT_FOUND","message":"Resource not found","description":"The requested resource was not found."}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INTERNAL_ERROR","message":"Internal server error","description":"An unexpected error occurred."}}},"description":"Internal Server Error"}},"summary":"List NN routes for phone number","tags":["My Numbers"]}},"/tns/{tn}/e911":{"get":{"description":"Retrieves the e911 information associated with that telephone number","operationId":"RetrieveTnE911Info","parameters":[{"description":"A 10 Digit TN","example":19199918388,"in":"path","name":"tn","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tnE911Response"},"example":{"address":{"name":"Test address","houseNumber":900,"streetName":"MAIN CAMPUS DR","city":"RALEIGH","stateCode":"NC","zip":27606,"plusFour":5214},"emergencyNotificationGroup":{"identifier":"63865500-0904-46b1-9b4f-7bd237a26363","description":"Building 5, 5th Floor."}}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTnE911AddressResponse\u003E\n   \u003CAddress\u003E\n      \u003CName\u003ETest address\u003C/Name\u003E\n      \u003CCity\u003ERALEIGH\u003C/City\u003E\n      \u003CHouseNumber\u003E900\u003C/HouseNumber\u003E\n      \u003CStateCode\u003ENC\u003C/StateCode\u003E\n      \u003CStreetName\u003EMAIN CAMPUS DR\u003C/StreetName\u003E\n      \u003CZip\u003E27606\u003C/Zip\u003E\n      \u003CPlusFour\u003E5214\u003C/PlusFour\u003E\n   \u003C/Address\u003E\n   \u003CEmergencyNotificationGroup\u003E\n      \u003CIdentifier\u003E63865500-0904-46b1-9b4f-7bd237a26363\u003C/Identifier\u003E\n      \u003CDescription\u003EBuilding 5, 5th Floor.\u003C/Description\u003E\n   \u003C/EmergencyNotificationGroup\u003E\n\u003C/TnE911AddressResponse\u003E"}},"schema":{"$ref":"#/components/schemas/tnE911AddressResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INVALID_REQUEST","message":"Bad request","description":"The request parameters are invalid."}}},"description":"Bad Request"},"401":{"description":"Unauthorized"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"NOT_FOUND","message":"Resource not found","description":"The requested resource was not found."}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INTERNAL_ERROR","message":"Internal server error","description":"An unexpected error occurred."}}},"description":"Internal Server Error"}},"summary":"Get E911 address for phone number","tags":["My Numbers"]}},"/tns/{tn}/lata":{"get":{"description":"Retrieves the lata associated with that telephone number.","operationId":"RetrieveLataForThatTn","parameters":[{"description":"","example":19199918388,"in":"path","name":"tn","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tnLataResponse"},"example":{"lata":224}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTelephoneNumberResponse\u003E\n  \u003CTelephoneNumberDetails\u003E\n    \u003CLata\u003E224\u003C/Lata\u003E\n  \u003C/TelephoneNumberDetails\u003E\n\u003C/TelephoneNumberResponse\u003E"}},"schema":{"$ref":"#/components/schemas/telephoneNumberLataResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INVALID_REQUEST","message":"Bad request","description":"The request parameters are invalid."}}},"description":"Bad Request"},"401":{"description":"Unauthorized"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"NOT_FOUND","message":"Resource not found","description":"The requested resource was not found."}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INTERNAL_ERROR","message":"Internal server error","description":"An unexpected error occurred."}}},"description":"Internal Server Error"}},"summary":"Get LATA for phone number","tags":["My Numbers"]}},"/tns/{tn}/lca":{"get":{"description":"Retrieves the LCAs associated with that telephone number.","operationId":"RetrieveLCAForThatTn","parameters":[{"description":"","example":19199918388,"in":"path","name":"tn","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tnLcaResponse"},"example":{"npaNxx":[201202,201203,201206,973930,973931,973955],"location":{"rateCenters":[{"state":"NJ","rateCenters":["CLIFFSIDE","DUMONT","UNION CITY","WESTWOOD"]}]}}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSearchResult\u003E\n  \u003CListofNPANXX\u003E\n    \u003CNPANXX\u003E201202\u003C/NPANXX\u003E\n    \u003CNPANXX\u003E201203\u003C/NPANXX\u003E\n    \u003CNPANXX\u003E201206\u003C/NPANXX\u003E\n    \u003C!-- SNIP --\u003E\n    \u003CNPANXX\u003E973930\u003C/NPANXX\u003E\n    \u003CNPANXX\u003E973931\u003C/NPANXX\u003E\n    \u003CNPANXX\u003E973955\u003C/NPANXX\u003E\n  \u003C/ListofNPANXX\u003E\n  \u003CLocation\u003E\n    \u003CRateCenters\u003E\n     \u003CState\u003ENJ\u003C/State\u003E\n      \u003CRCs\u003E\n       \u003CRC\u003ECLIFFSIDE\u003C/RC\u003E\n       \u003CRC\u003EDUMONT\u003C/RC\u003E\n       \u003C!-- SNIP --\u003E\n       \u003CRC\u003EUNION CITY\u003C/RC\u003E\n       \u003CRC\u003EWESTWOOD\u003C/RC\u003E\n     \u003C/RCs\u003E\n    \u003C/RateCenters\u003E\n  \u003C/Location\u003E\n\u003C/SearchResult\u003E"}},"schema":{"$ref":"#/components/schemas/npaNxxRcLcaSearchResult"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INVALID_REQUEST","message":"Bad request","description":"The request parameters are invalid."}}},"description":"Bad Request"},"401":{"description":"Unauthorized"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"NOT_FOUND","message":"Resource not found","description":"The requested resource was not found."}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INTERNAL_ERROR","message":"Internal server error","description":"An unexpected error occurred."}}},"description":"Internal Server Error"}},"summary":"Get LCA for phone number","tags":["My Numbers"]}},"/tns/{tn}/ratecenter":{"get":{"description":"Retrieves the rate centers associated with that telephone number.","operationId":"RetrieveRateCenterForThatTn","parameters":[{"description":"","example":19199918388,"in":"path","name":"tn","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tnRateCenterResponse"},"example":{"state":"NJ","rateCenter":"HACKENSACK"}},"application/xml":{"examples":{"example":{"description":"example","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTelephoneNumberResponse\u003E\n  \u003CTelephoneNumberDetails\u003E\n    \u003CState\u003ENJ\u003C/State\u003E\n    \u003CRateCenter\u003EHACKENSACK\u003C/RateCenter\u003E\n  \u003C/TelephoneNumberDetails\u003E\n\u003C/TelephoneNumberResponse\u003E"}},"schema":{"$ref":"#/components/schemas/telephoneNumberRateCenterResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INVALID_REQUEST","message":"Bad request","description":"The request parameters are invalid."}}},"description":"Bad Request"},"401":{"description":"Unauthorized"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"NOT_FOUND","message":"Resource not found","description":"The requested resource was not found."}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INTERNAL_ERROR","message":"Internal server error","description":"An unexpected error occurred."}}},"description":"Internal Server Error"}},"summary":"Get rate center for phone number","tags":["My Numbers"]}},"/tns/{tn}/sippeers":{"get":{"description":"Retrieves the sippeers associated with that telephone number.","operationId":"RetrieveSippeerForThatTn","parameters":[{"description":"","example":19199918388,"in":"path","name":"tn","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tnLocationResponse"},"example":{"locationId":305643,"locationName":"PeerOneSiteThree"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipPeer\u003E\n  \u003CId\u003E305643\u003C/Id\u003E\n  \u003CName\u003EPeerOneSiteThree\u003C/Name\u003E\n\u003C/SipPeer\u003E"}},"schema":{"$ref":"#/components/schemas/tnSipPeer"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INVALID_REQUEST","message":"Bad request","description":"The request parameters are invalid."}}},"description":"Bad Request"},"401":{"description":"Unauthorized"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"NOT_FOUND","message":"Resource not found","description":"The requested resource was not found."}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INTERNAL_ERROR","message":"Internal server error","description":"An unexpected error occurred."}}},"description":"Internal Server Error"}},"summary":"Get location for phone number","tags":["My Numbers"]}},"/tns/{tn}/sites":{"get":{"description":"Retrieves the sites associated with that telephone number","operationId":"RetrieveSiteForThatTn","parameters":[{"description":"","example":19199918388,"in":"path","name":"tn","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tnSubAccountResponse"},"example":{"subAccountId":2409,"subAccountName":"siteName"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSite\u003E\n    \u003CId\u003E2409\u003C/Id\u003E\n    \u003CName\u003EsiteName\u003C/Name\u003E\n  \u003C/Site\u003E"}},"schema":{"$ref":"#/components/schemas/tnSite"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INVALID_REQUEST","message":"Bad request","description":"The request parameters are invalid."}}},"description":"Bad Request"},"401":{"description":"Unauthorized"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"NOT_FOUND","message":"Resource not found","description":"The requested resource was not found."}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/myNumbersErrorResponse"},"example":{"code":"INTERNAL_ERROR","message":"Internal server error","description":"An unexpected error occurred."}}},"description":"Internal Server Error"}},"summary":"Get sub-account for phone number","tags":["My Numbers"]}},"/tns/{tn}/tndetails":{"get":{"description":"Retrieves detailed information about the phone number.\n\nIn this table are presented capabilities that are not universally available. The following response body attributes are only returned for numbers from specific region/country:\n| Number Region | Response Body Attributes |\n|:--------------|:------------------------|\n|NANP|LATA|\n|NANP|State|\n|NANP|RateCenter|\n|NANP|E911|\n\nThese parameters are only applicable and hence returned in response body for North American Numbering Plan phone numbers.","operationId":"RetrieveTnDetails","parameters":[{"description":"","example":19199918388,"in":"path","name":"tn","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"examples":{"Non-NANP details":{"value":{"accountId":12345678,"country":"FR","countryCodeA3":"FRA","inServiceDate":"2020-03-03T15:30:07.518Z","isOnNetVendor":true,"lastModified":"2020-03-03T15:30:07Z","location":{"isDefaultLocation":false,"locationId":500001,"locationName":"location01"},"phoneNumber":33140289562,"phoneNumberType":"GEOGRAPHIC","requirementsPackageId":"55f9f932-6136-48cf-a724-401ec8fe5ff2","serviceTypes":["Voice"],"status":"Inservice","subAccount":{"id":123,"name":"subAccount"},"vendorId":49,"vendorName":"Bandwidth CLEC"}},"Phone Number details with Hosted Voice, Hosted Messaging, and Hosted E911":{"description":"Phone Number details with Voice, Hosted messaging and Hosted E911 on different accounts","value":{"accountId":12346167,"city":"GUSTINE","countryCodeA3":"USA","hostedPhoneNumberDetails":[{"accountId":12346168,"location":{"isDefaultLocation":true,"locationId":500034,"locationName":"locatione0fDdHYzRb"},"messagingSettings":{"a2pState":"SYSTEM_DEFAULT","phoneNumberDetailsNnRoute":{"name":9417,"nnid":112233},"smsEnabled":true},"phoneNumberAttributes":["Hosted"],"serviceTypes":["Hosted Messaging"],"subAccount":{"id":495,"name":"subAccount_1KU9l"}},{"accountId":12346169,"features":[{"accountId":12346169,"address":{"addressType":"E911","city":"RALEIGH","houseNumber":6518,"houseSuffix":"","latitude":35.84836,"longitude":-75,"plusFour":5244,"stateCode":"NC","streetName":"MAIN CAMPUS","streetSuffix":"DR","zip":27606},"callerName":"ojjucTKANd","featureType":"e911","lastE911OrderOutcome":"SUCCESS","locationAddress":false,"status":"Success"}],"phoneNumberAttributes":["Hosted"],"serviceTypes":["Hosted E911"]}],"isOnNetVendor":true,"lastModified":"2021-02-10T11:22:57Z","lata":738,"location":{"isDefaultLocation":true,"locationId":500033,"locationName":"locationBxxygpCJrw"},"phoneNumber":12092151016,"phoneNumberAttributes":["Hosted"],"phoneNumberType":"GEOGRAPHIC","rateCenter":"GUSTINE","serviceTypes":["Voice"],"state":"CA","status":"Inservice","subAccount":{"id":494,"name":"subAccount_WDSZl"},"tier":0,"vendorId":49,"vendorName":"Bandwidth CLEC"}},"Phone Number details with Voice and OperatorId and OperatorCode":{"value":{"accountId":12346167,"city":"London","countryCodeA3":"FRA","hostedPhoneNumberDetails":[{"accountId":12346168,"location":{"isDefaultLocation":true,"locationId":500034,"locationName":"locatione0fDdHYzRb"},"messagingSettings":{"a2pState":"SYSTEM_DEFAULT","phoneNumberDetailsNnRoute":{"name":9417,"nnid":112233},"smsEnabled":true},"phoneNumberAttributes":["Hosted"],"serviceTypes":["Hosted Messaging"],"subAccount":{"id":495,"name":"subAccount_1KU9l"}},{"accountId":12346168,"location":{"isDefaultLocation":true,"locationId":500034,"locationName":"locatione0fDdHYzRb"},"phoneNumberAttributes":["Hosted"],"serviceTypes":["Hosted Voice"],"subAccount":{"id":495,"name":"subAccount_1KU9l"}},{"accountId":12346169,"features":[{"accountId":12346169,"address":{"addressType":"E911","city":"RALEIGH","houseNumber":6518,"houseSuffix":"","latitude":35.84836,"longitude":-75,"plusFour":5244,"stateCode":"NC","streetName":"MAIN CAMPUS","streetSuffix":"DR","zip":27606},"callerName":"ojjucTKANd","featureType":"e911","lastE911OrderOutcome":"SUCCESS","locationAddress":false,"phoneNumberAttributes":["Hosted"],"status":"Success"}],"serviceTypes":["Hosted E911"]}],"isHostedVoice":true,"isOnNetVendor":true,"lastModified":"2021-02-10T11:22:57Z","location":{"isDefaultLocation":true,"locationId":500033,"locationName":"locationBxxygpCJrw"},"operatorCode":"VOXB","operatorId":12345,"phoneNumber":33575210286,"phoneNumberAttributes":["Hosted"],"phoneNumberType":"GEOGRAPHIC","rateCenter":"GUSTINE","serviceTypes":["Voice"],"status":"Inservice","subAccount":{"id":494,"name":"subAccount_WDSZl"},"tier":0,"vendorId":49,"vendorName":"Bandwidth CLEC"}},"Shared Phone Number details":{"value":{"accountId":14,"city":"JERSEY CITY","countryCodeA3":"USA","features":[{"accountId":14,"address":{"city":"RALEIGH","country":"United States","emergencyNotificationGroup":{"description":"Building A","identifier":"625e3ad9-c95e-4148-b2f7-d47a8dbdd0d9"},"houseNumber":901,"plusFour":5244,"stateCode":"NC","streetName":"MAIN CAMPUS","streetSuffix":"DR","zip":27606},"callerName":"Test CallerName","featureType":"e911","locationAddress":false,"status":"Success"},{"featureType":"lidb","status":"Pending","subscriberInformation":"Fred","useType":"BUSINESS","visibility":"PUBLIC"},{"address":{"addressType":"Dlda","city":"New York","country":"United States","houseNumber":12,"stateCode":"NY","streetName":"ELM","zip":10007},"featureType":"dlda","listAddress":true,"listingName":{"firstName":"Joe","lastName":"Smith"},"listingType":"LISTED","status":"Success","subscriberType":"BUSINESS"}],"hostedPhoneNumberDetails":[{"accountId":12346160,"location":{"isDefaultLocation":true,"locationId":500026,"locationName":"locationemhlO"},"messagingSettings":{"a2pState":"OVERRIDDEN","campaignFullyProvisioned":true,"campaignId":"CVWGTGE","messageClass":"A","phoneNumberDetailsNnRoute":{"name":"7ae5LXMn","nnid":2183991},"smsEnabled":true},"phoneNumberAttributes":["Hosted"],"serviceTypes":["Hosted Messaging"],"subAccount":{"id":487,"name":"subAccount_Mw4FX"}}],"inServiceDate":"2014-07-30T11:29:37Z","isOnNetVendor":true,"lastModified":"2014-07-30T11:29:37Z","lata":224,"location":{"isDefaultLocation":true,"locationId":500014,"locationName":"a2750fad-3"},"phoneNumber":12018981023,"phoneNumberAttributes":["Hosted"],"phoneNumberType":"GEOGRAPHIC","rateCenter":"JERSEYCITY","serviceTypes":["Voice"],"state":"NJ","status":"Inservice","subAccount":{"id":479,"name":"subAccount_9b08f"},"tier":0,"vendorId":49,"vendorName":"Bandwidth CLEC"}},"Simple response":{"value":{"accountId":14,"city":"JERSEY CITY","countryCodeA3":"USA","features":[{"acountId":14,"address":{"addressType":"E911","city":"RALEIGH","houseNumber":901,"houseSuffix":"","plusFour":5244,"stateCode":"NC","streetName":"MAIN CAMPUS","streetSuffix":"DR","zip":27606},"callerName":"Test CallerName","featureType":"e911","locationAddress":false,"status":"Success"}],"inServiceDate":"2014-07-30T11:29:37Z","isOnNetVendor":true,"lastModified":"2014-07-30T11:29:37Z","lata":224,"location":{"isDefaultLocation":true,"locationId":500014,"locationName":"a2750fad-3"},"phoneNumber":12018981023,"phoneNumberType":"GEOGRAPHIC","rateCenter":"JERSEYCITY","serviceTypes":["Voice","Messaging"],"state":"NJ","status":"Inservice","subAccount":{"id":479,"name":"subAccount_9b08f"},"tier":0,"vendorId":49,"vendorName":"Bandwidth CLEC"}}},"schema":{"$ref":"#/components/schemas/telephoneNumberDetailHistoryResponseJson"}},"application/xml":{"examples":{"Non-NANP details":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTelephoneNumberResponse\u003E\n  \u003CTelephoneNumberDetails\u003E\n    \u003CFullNumber\u003E\u002B33140289562\u003C/FullNumber\u003E\n    \u003CCountry\u003EFR\u003C/Country\u003E\n    \u003CTnType\u003Egeographic\u003C/TnType\u003E\n    \u003CVendorId\u003E49\u003C/VendorId\u003E\n    \u003CVendorName\u003EBandwidth CLEC\u003C/VendorName\u003E\n    \u003COnNetVendor\u003Etrue\u003C/OnNetVendor\u003E\n    \u003CStatus\u003EInservice\u003C/Status\u003E\n    \u003CAccountId\u003E12345678\u003C/AccountId\u003E\n    \u003CSite\u003E\n      \u003CId\u003E123\u003C/Id\u003E\n      \u003CName\u003Esite\u003C/Name\u003E\n    \u003C/Site\u003E\n    \u003CSipPeer\u003E\n      \u003CPeerId\u003E500001\u003C/PeerId\u003E\n      \u003CPeerName\u003Esippeer\u003C/PeerName\u003E\n      \u003CIsDefaultPeer\u003Efalse\u003C/IsDefaultPeer\u003E\n    \u003C/SipPeer\u003E\n    \u003CServiceTypes\u003E\n      \u003CServiceType\u003EVoice\u003C/ServiceType\u003E\n    \u003C/ServiceTypes\u003E\n    \u003CLastModified\u003E2020-03-03T15:30:07.000Z\u003C/LastModified\u003E\n    \u003CInServiceDate\u003E2020-03-03T15:30:07.518Z\u003C/InServiceDate\u003E\n    \u003CRequirementsPackageId\u003E55f9f932-6136-48cf-a724-401ec8fe5ff2\u003C/RequirementsPackageId\u003E\n  \u003C/TelephoneNumberDetails\u003E\n\u003C/TelephoneNumberResponse\u003E"},"Shared TN details":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTelephoneNumberResponse\u003E\n  \u003CTelephoneNumberDetails\u003E\n    \u003CCity\u003EJERSEY CITY\u003C/City\u003E\n    \u003CLata\u003E224\u003C/Lata\u003E\n    \u003CState\u003ENJ\u003C/State\u003E\n    \u003CFullNumber\u003E\u002B12018981023\u003C/FullNumber\u003E\n    \u003CTier\u003E0\u003C/Tier\u003E\n    \u003CVendorId\u003E49\u003C/VendorId\u003E\n    \u003CVendorName\u003EBandwidth CLEC\u003C/VendorName\u003E\n    \u003CRateCenter\u003EJERSEYCITY\u003C/RateCenter\u003E\n    \u003CStatus\u003EInservice\u003C/Status\u003E\n    \u003CAccountId\u003E14\u003C/AccountId\u003E\n    \u003CSite\u003E\n      \u003CId\u003E479\u003C/Id\u003E\n      \u003CName\u003Esite_9b08f\u003C/Name\u003E\n    \u003C/Site\u003E\n    \u003CSipPeer\u003E\n      \u003CPeerId\u003E500014\u003C/PeerId\u003E\n      \u003CPeerName\u003Ea2750fad-3\u003C/PeerName\u003E\n    \u003C/SipPeer\u003E\n    \u003CServiceTypes\u003E\n      \u003CServiceType\u003EVoice\u003C/ServiceType\u003E\n    \u003C/ServiceTypes\u003E\n    \u003CLastModified\u003E2014-07-30T11:29:37.000Z\u003C/LastModified\u003E\n    \u003CInServiceDate\u003E2014-07-30T11:29:37.000Z\u003C/InServiceDate\u003E\n    \u003CFeatures\u003E\n      \u003CE911\u003E\n        \u003CAccountId\u003E14\u003C/AccountId\u003E\n        \u003CLastE911OrderOutcome\u003ESUCCESS\u003C/LastE911OrderOutcome\u003E\n        \u003CSipPeerAddress\u003Efalse\u003C/SipPeerAddress\u003E\n        \u003CCallerName\u003ETest CallerName\u003C/CallerName\u003E\n        \u003CAddress\u003E\n          \u003CHouseNumber\u003E901\u003C/HouseNumber\u003E\n          \u003CStreetName\u003EMAIN CAMPUS\u003C/StreetName\u003E\n          \u003CStreetSuffix\u003EDR\u003C/StreetSuffix\u003E\n          \u003CCity\u003ERALEIGH\u003C/City\u003E\n          \u003CStateCode\u003ENC\u003C/StateCode\u003E\n          \u003CZip\u003E27606\u003C/Zip\u003E\n          \u003CPlusFour\u003E5244\u003C/PlusFour\u003E\n          \u003CCountry\u003EUnited States\u003C/Country\u003E\n        \u003C/Address\u003E\n        \u003CEmergencyNotificationGroup\u003E\n          \u003CIdentifier\u003E625e3ad9-c95e-4148-b2f7-d47a8dbdd0d9\u003C/Identifier\u003E\n          \u003CDescription\u003EBuilding A\u003C/Description\u003E\n        \u003C/EmergencyNotificationGroup\u003E\n      \u003C/E911\u003E\n      \u003CLidb\u003E\n        \u003CStatus\u003EPending\u003C/Status\u003E\n        \u003CSubscriberInformation\u003EFred\u003C/SubscriberInformation\u003E\n        \u003CUseType\u003EBUSINESS\u003C/UseType\u003E\n        \u003CVisibility\u003EPUBLIC\u003C/Visibility\u003E\n      \u003C/Lidb\u003E\n      \u003CDlda\u003E\n        \u003CStatus\u003ESuccess\u003C/Status\u003E\n        \u003CSubscriberType\u003EBUSINESS\u003C/SubscriberType\u003E\n        \u003CListingType\u003ELISTED\u003C/ListingType\u003E\n        \u003CListingName\u003E\n          \u003CFirstName\u003EJoe\u003C/FirstName\u003E\n          \u003CLastName\u003ESmith\u003C/LastName\u003E\n        \u003C/ListingName\u003E\n        \u003CListAddress\u003Etrue\u003C/ListAddress\u003E\n        \u003CAddress\u003E\n        \u003CHouseNumber\u003E12\u003C/HouseNumber\u003E\n        \u003CStreetName\u003EELM\u003C/StreetName\u003E\n        \u003CCity\u003ENew York\u003C/City\u003E\n        \u003CStateCode\u003ENY\u003C/StateCode\u003E\n         \u003CZip\u003E10007\u003C/Zip\u003E\n        \u003CCountry\u003EUnited States\u003C/Country\u003E\n        \u003CAddressType\u003EDlda\u003C/AddressType\u003E\n        \u003C/Address\u003E\n      \u003C/Dlda\u003E\n    \u003C/Features\u003E\n    \u003CTnAttributes\u003E\n      \u003CTnAttribute\u003EHosted\u003C/TnAttribute\u003E\n    \u003C/TnAttributes\u003E\n    \u003CHostedTelephoneNumberDetails\u003E\n      \u003CHostedTelephoneNumberDetail\u003E\n        \u003CAccountId\u003E12346160\u003C/AccountId\u003E\n        \u003CSite\u003E\n          \u003CId\u003E487\u003C/Id\u003E\n          \u003CName\u003Esite_Mw4FX\u003C/Name\u003E\n        \u003C/Site\u003E\n        \u003CSipPeer\u003E\n          \u003CPeerId\u003E500026\u003C/PeerId\u003E\n          \u003CPeerName\u003EsippeeremhlO\u003C/PeerName\u003E\n          \u003CIsDefaultPeer\u003Etrue\u003C/IsDefaultPeer\u003E\n        \u003C/SipPeer\u003E\n        \u003CServiceTypes\u003E\n          \u003CServiceType\u003EHosted Messaging\u003C/ServiceType\u003E\n        \u003C/ServiceTypes\u003E\n        \u003CMessagingSettings\u003E\n          \u003CSmsEnabled\u003Etrue\u003C/SmsEnabled\u003E\n          \u003CCampaignId\u003ECVWGTGE\u003C/CampaignId\u003E\n          \u003CCampaignFullyProvisioned\u003Etrue\u003C/CampaignFullyProvisioned\u003E\n          \u003CMessageClass\u003EA\u003C/MessageClass\u003E\n          \u003CA2pState\u003Eoverridden\u003C/A2pState\u003E\n          \u003CAssignedNnRoute\u003E\n          \u003CNnid\u003E2183991\u003C/Nnid\u003E\n          \u003CName\u003E7ae5LXMn\u003C/Name\u003E\n          \u003C/AssignedNnRoute\u003E\n        \u003C/MessagingSettings\u003E\n        \u003CTnAttributes\u003E\n          \u003CTnAttribute\u003EHosted\u003C/TnAttribute\u003E\n        \u003C/TnAttributes\u003E\n     \u003C/HostedTelephoneNumberDetail\u003E\n    \u003C/HostedTelephoneNumberDetails\u003E\n  \u003C/TelephoneNumberDetails\u003E\u003C/TelephoneNumberResponse\u003E"},"Simple response":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTelephoneNumberResponse\u003E\n  \u003CTelephoneNumberDetails\u003E\n    \u003CCity\u003EJERSEY CITY\u003C/City\u003E\n    \u003CLata\u003E224\u003C/Lata\u003E\n    \u003CState\u003ENJ\u003C/State\u003E\n    \u003CFullNumber\u003E\u002B12018981023\u003C/FullNumber\u003E\n    \u003CTier\u003E0\u003C/Tier\u003E\n    \u003CVendorId\u003E49\u003C/VendorId\u003E\n    \u003CVendorName\u003EBandwidth CLEC\u003C/VendorName\u003E\n    \u003COnNetVendor\u003Etrue\u003C/OnNetVendor\u003E\n    \u003CRateCenter\u003EJERSEYCITY\u003C/RateCenter\u003E\n    \u003CStatus\u003EInservice\u003C/Status\u003E\n    \u003CAccountId\u003E14\u003C/AccountId\u003E\n    \u003CSite\u003E\n      \u003CId\u003E479\u003C/Id\u003E\n      \u003CName\u003Esite_9b08f\u003C/Name\u003E\n    \u003C/Site\u003E\n    \u003CSipPeer\u003E\n      \u003CPeerId\u003E500014\u003C/PeerId\u003E\n      \u003CPeerName\u003Ea2750fad-3\u003C/PeerName\u003E\n    \u003C/SipPeer\u003E\n    \u003CServiceTypes\u003E\n      \u003CServiceType\u003EVoice\u003C/ServiceType\u003E\n      \u003CServiceType\u003EMessaging\u003C/ServiceType\u003E\n    \u003C/ServiceTypes\u003E\n    \u003CLastModified\u003E2014-07-30T11:29:37.000Z\u003C/LastModified\u003E\n    \u003CInServiceDate\u003E2014-07-30T11:29:37.000Z\u003C/InServiceDate\u003E\n    \u003CFeatures\u003E\n      \u003CE911\u003E\n        \u003CAccountId\u003E14\u003C/AccountId\u003E\n        \u003CLastE911OrderOutcome\u003ESUCCESS\u003C/LastE911OrderOutcome\u003E\n        \u003CSipPeerAddress\u003Efalse\u003C/SipPeerAddress\u003E\n        \u003CCallerName\u003ETest CallerName\u003C/CallerName\u003E\n        \u003CAddress\u003E\n          \u003CHouseNumber\u003E901\u003C/HouseNumber\u003E\n          \u003CStreetName\u003EMAIN CAMPUS\u003C/StreetName\u003E\n          \u003CStreetSuffix\u003EDR\u003C/StreetSuffix\u003E\n          \u003CCity\u003ERALEIGH\u003C/City\u003E\n          \u003CStateCode\u003ENC\u003C/StateCode\u003E\n          \u003CZip\u003E27606\u003C/Zip\u003E\n          \u003CPlusFour\u003E5244\u003C/PlusFour\u003E\n          \u003CCountry\u003EUnited States\u003C/Country\u003E\n        \u003C/Address\u003E\n        \u003CEmergencyNotificationGroup\u003E\n          \u003CIdentifier\u003E625e3ad9-c95e-4148-b2f7-d47a8dbdd0d9\u003C/Identifier\u003E\n          \u003CDescription\u003EBuilding A\u003C/Description\u003E\n        \u003C/EmergencyNotificationGroup\u003E\n      \u003C/E911\u003E\n      \u003CLidb\u003E\n        \u003CStatus\u003EPending\u003C/Status\u003E\n        \u003CSubscriberInformation\u003EFred\u003C/SubscriberInformation\u003E\n        \u003CUseType\u003EBUSINESS\u003C/UseType\u003E\n        \u003CVisibility\u003EPUBLIC\u003C/Visibility\u003E\n      \u003C/Lidb\u003E\n      \u003CDlda\u003E\n        \u003CStatus\u003ESuccess\u003C/Status\u003E\n        \u003CSubscriberType\u003EBUSINESS\u003C/SubscriberType\u003E\n        \u003CListingType\u003ELISTED\u003C/ListingType\u003E\n        \u003CListingName\u003E\n          \u003CFirstName\u003EJoe\u003C/FirstName\u003E\n          \u003CLastName\u003ESmith\u003C/LastName\u003E\n        \u003C/ListingName\u003E\n        \u003CListAddress\u003Etrue\u003C/ListAddress\u003E\n        \u003CAddress\u003E\n          \u003CHouseNumber\u003E12\u003C/HouseNumber\u003E\n          \u003CStreetName\u003EELM\u003C/StreetName\u003E\n         \u003CCity\u003ENew York\u003C/City\u003E\n          \u003CStateCode\u003ENY\u003C/StateCode\u003E\n          \u003CZip\u003E10007\u003C/Zip\u003E\n          \u003CCountry\u003EUnited States\u003C/Country\u003E\n          \u003CAddressType\u003EDlda\u003C/AddressType\u003E\n        \u003C/Address\u003E\n      \u003C/Dlda\u003E\n    \u003C/Features\u003E\n    \u003COriginationRoutePlan\u003E\n      \u003CId\u003Ecfa6ef74-4944-47c2-b112-0cf4360b1fa5\u003C/Id\u003E\n      \u003CRoute\u003E\n        \u003CEndpoint\u003E6107622689\u003C/Endpoint\u003E\n        \u003CPriority\u003E1\u003C/Priority\u003E\n        \u003CWeight\u003E100\u003C/Weight\u003E\n        \u003CEndpointType\u003ETN\u003C/EndpointType\u003E\n      \u003C/Route\u003E\n      \u003CRoute\u003E\n        \u003CEndpoint\u003Esip:abcd@domain.com\u003C/Endpoint\u003E\n        \u003CPriority\u003E2\u003C/Priority\u003E\n        \u003CWeight\u003E100\u003C/Weight\u003E\n        \u003CEndpointType\u003ESIP\u003C/EndpointType\u003E\n      \u003C/Route\u003E\n      \u003CRoute\u003E\n        \u003CEndpoint\u003E7610762269\u003C/Endpoint\u003E\n        \u003CPriority\u003E3\u003C/Priority\u003E\n        \u003CWeight\u003E50\u003C/Weight\u003E\n        \u003CEndpointType\u003ETN\u003C/EndpointType\u003E\n      \u003C/Route\u003E\n      \u003CRoute\u003E\n        \u003CEndpoint\u003E192.0.2.0/24\u003C/Endpoint\u003E\n        \u003CPriority\u003E3\u003C/Priority\u003E\n        \u003CWeight\u003E50\u003C/Weight\u003E\n        \u003CEndpointType\u003EIpv4\u003C/EndpointType\u003E\n      \u003C/Route\u003E\n      \u003CRoute\u003E\n        \u003CEndpoint\u003Emyhost.bandwidth.example\u003C/Endpoint\u003E\n        \u003CPriority\u003E4\u003C/Priority\u003E\n        \u003CWeight\u003E100\u003C/Weight\u003E\n        \u003CEndpointType\u003EFQDN\u003C/EndpointType\u003E\n      \u003C/Route\u003E\n    \u003C/OriginationRoutePlan\u003E\n    \u003CMessagingSettings\u003E\n      \u003CSmsEnabled\u003Etrue\u003C/SmsEnabled\u003E\n      \u003CAssignedNNRoute\u003E\n      \u003CNnid\u003E101601\u003C/Nnid\u003E\n      \u003CName\u003EUSA Mobility\u003C/Name\u003E\n      \u003C/AssignedNNRoute\u003E\n    \u003C/MessagingSettings\u003E\n    \u003CTnAttributes\u003E\n      \u003CTnAttribute\u003EProtected\u003C/TnAttribute\u003E\n      \u003CTnAttribute\u003EExternal\u003C/TnAttribute\u003E\n    \u003C/TnAttributes\u003E\n  \u003C/TelephoneNumberDetails\u003E\n\u003C/TelephoneNumberResponse\u003E"},"Tn details with Voice":{"description":"Tn details with Voice, Hosted messaging and Hosted E911 on different accounts","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTelephoneNumberResponse\u003E\n  \u003CTelephoneNumberDetails\u003E\n    \u003CCity\u003EGUSTINE\u003C/City\u003E\n    \u003CLata\u003E738\u003C/Lata\u003E\n    \u003CState\u003ECA\u003C/State\u003E\n    \u003CFullNumber\u003E\u002B12092151016\u003C/FullNumber\u003E\n    \u003CTier\u003E0\u003C/Tier\u003E\n    \u003CVendorId\u003E49\u003C/VendorId\u003E\n    \u003CVendorName\u003EBandwidth CLEC\u003C/VendorName\u003E\n    \u003COnNetVendor\u003Etrue\u003C/OnNetVendor\u003E\n    \u003CRateCenter\u003EGUSTINE\u003C/RateCenter\u003E\n    \u003CStatus\u003EInservice\u003C/Status\u003E\n    \u003CAccountId\u003E12346167\u003C/AccountId\u003E\n    \u003CSite\u003E\n      \u003CId\u003E494\u003C/Id\u003E\n      \u003CName\u003Esite_WDSZl\u003C/Name\u003E\n    \u003C/Site\u003E\n    \u003CSipPeer\u003E\n      \u003CPeerId\u003E500033\u003C/PeerId\u003E\n      \u003CPeerName\u003EsippeerBxxygpCJrw\u003C/PeerName\u003E\n      \u003CIsDefaultPeer\u003Etrue\u003C/IsDefaultPeer\u003E\n    \u003C/SipPeer\u003E\n    \u003CServiceTypes\u003E\n      \u003CServiceType\u003EVoice\u003C/ServiceType\u003E\n    \u003C/ServiceTypes\u003E\n    \u003CLastModified\u003E2021-02-10T11:22:57.000Z\u003C/LastModified\u003E\n    \u003CFeatures/\u003E\n    \u003CTnAttributes\u003E\n       \u003CTnAttribute\u003EHosted\u003C/TnAttribute\u003E\n    \u003C/TnAttributes\u003E\n    \u003CHostedTelephoneNumberDetails\u003E\n      \u003CHostedTelephoneNumberDetail\u003E\n        \u003CAccountId\u003E12346168\u003C/AccountId\u003E\n        \u003CSite\u003E\n          \u003CId\u003E495\u003C/Id\u003E\n          \u003CName\u003Esite_1KU9l\u003C/Name\u003E\n        \u003C/Site\u003E\n        \u003CSipPeer\u003E\n          \u003CPeerId\u003E500034\u003C/PeerId\u003E\n          \u003CPeerName\u003Esippeere0fDdHYzRb\u003C/PeerName\u003E\n          \u003CIsDefaultPeer\u003Etrue\u003C/IsDefaultPeer\u003E\n        \u003C/SipPeer\u003E\n        \u003CServiceTypes\u003E\n          \u003CServiceType\u003EHosted Messaging\u003C/ServiceType\u003E\n        \u003C/ServiceTypes\u003E\n        \u003CMessagingSettings\u003E\n          \u003CSmsEnabled\u003Etrue\u003C/SmsEnabled\u003E\n          \u003CA2pState\u003Esystem_default\u003C/A2pState\u003E\n          \u003CAssignedNnRoute\u003E\n            \u003CNnid\u003E112233\u003C/Nnid\u003E\n            \u003CName\u003E9417\u003C/Name\u003E\n          \u003C/AssignedNnRoute\u003E\n        \u003C/MessagingSettings\u003E\n        \u003CTnAttributes\u003E\n          \u003CTnAttribute\u003EHosted\u003C/TnAttribute\u003E\n        \u003C/TnAttributes\u003E\n    \u003C/HostedTelephoneNumberDetail\u003E\n    \u003CHostedTelephoneNumberDetail\u003E\n      \u003CAccountId\u003E12346169\u003C/AccountId\u003E\n      \u003CServiceTypes\u003E\n        \u003CServiceType\u003EHosted E911\u003C/ServiceType\u003E\n      \u003C/ServiceTypes\u003E\n      \u003CFeatures\u003E\n        \u003CE911\u003E\n          \u003CStatus\u003ESuccess\u003C/Status\u003E\n          \u003CAccountId\u003E12346169\u003C/AccountId\u003E\n          \u003CLastE911OrderOutcome\u003ESUCCESS\u003C/LastE911OrderOutcome\u003E\n          \u003CSipPeerAddress\u003Efalse\u003C/SipPeerAddress\u003E\n          \u003CCallerName\u003EojjucTKANd\u003C/CallerName\u003E\n          \u003CAddress\u003E\n            \u003CHouseNumber\u003E6518\u003C/HouseNumber\u003E\n            \u003CHouseSuffix/\u003E\n            \u003CStreetName\u003EMAIN CAMPUS\u003C/StreetName\u003E\n            \u003CStreetSuffix\u003EDR\u003C/StreetSuffix\u003E\n            \u003CCity\u003ERALEIGH\u003C/City\u003E\n            \u003CStateCode\u003ENC\u003C/StateCode\u003E\n            \u003CZip\u003E27606\u003C/Zip\u003E\n            \u003CPlusFour\u003E5244\u003C/PlusFour\u003E\n            \u003CAddressType\u003EE911\u003C/AddressType\u003E\n            \u003CLatitude\u003E35.848359\u003C/Latitude\u003E\n            \u003CLongitude\u003E-75.000000\u003C/Longitude\u003E\n          \u003C/Address\u003E\n        \u003C/E911\u003E\n      \u003C/Features\u003E\n      \u003CTnAttributes\u003E\n        \u003CTnAttribute\u003EHosted\u003C/TnAttribute\u003E\n      \u003C/TnAttributes\u003E\n    \u003C/HostedTelephoneNumberDetail\u003E\n    \u003C/HostedTelephoneNumberDetails\u003E\n  \u003C/TelephoneNumberDetails\u003E\n\u003C/TelephoneNumberResponse\u003E"},"Tn details with Voice and OperatorId and OperatorCode":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTelephoneNumberResponse\u003E\n  \u003CTelephoneNumberDetails\u003E\n    \u003CCity\u003ELondon\u003C/City\u003E\n    \u003CFullNumber\u003E\u002B33575210286\u003C/FullNumber\u003E\n    \u003CCountryCodeA3\u003EFRA\u003C/CountryCodeA3\u003E\n    \u003CTier\u003E0\u003C/Tier\u003E\n    \u003CVendorId\u003E49\u003C/VendorId\u003E\n    \u003CVendorName\u003EBandwidth CLEC\u003C/VendorName\u003E\n    \u003COnNetVendor\u003Etrue\u003C/OnNetVendor\u003E\n    \u003CRateCenter\u003EGUSTINE\u003C/RateCenter\u003E\n    \u003CStatus\u003EInservice\u003C/Status\u003E\n    \u003CAccountId\u003E12346167\u003C/AccountId\u003E\n    \u003COperatorId\u003E1\u003C/OperatorId\u003E\n    \u003COperatorCode\u003EVOXB\u003C/OperatorCode\u003E\n    \u003CSite\u003E\n      \u003CId\u003E494\u003C/Id\u003E\n      \u003CName\u003Esite_WDSZl\u003C/Name\u003E\n    \u003C/Site\u003E\n    \u003CSipPeer\u003E\n      \u003CPeerId\u003E500033\u003C/PeerId\u003E\n      \u003CPeerName\u003EsippeerBxxygpCJrw\u003C/PeerName\u003E\n      \u003CIsDefaultPeer\u003Etrue\u003C/IsDefaultPeer\u003E\n    \u003C/SipPeer\u003E\n    \u003CServiceTypes\u003E\n      \u003CServiceType\u003EVoice\u003C/ServiceType\u003E\n    \u003C/ServiceTypes\u003E\n    \u003CIsHostedVoice\u003Etrue\u003C/IsHostedVoice\u003E\n    \u003CLastModified\u003E2021-02-10T11:22:57.000Z\u003C/LastModified\u003E\n    \u003CFeatures/\u003E\n    \u003CTnAttributes\u003E\n       \u003CTnAttribute\u003EHosted\u003C/TnAttribute\u003E\n    \u003C/TnAttributes\u003E\n    \u003CHostedTelephoneNumberDetails\u003E\n      \u003CHostedTelephoneNumberDetail\u003E\n        \u003CAccountId\u003E12346168\u003C/AccountId\u003E\n        \u003CSite\u003E\n          \u003CId\u003E495\u003C/Id\u003E\n          \u003CName\u003Esite_1KU9l\u003C/Name\u003E\n        \u003C/Site\u003E\n        \u003CSipPeer\u003E\n          \u003CPeerId\u003E500034\u003C/PeerId\u003E\n          \u003CPeerName\u003Esippeere0fDdHYzRb\u003C/PeerName\u003E\n          \u003CIsDefaultPeer\u003Etrue\u003C/IsDefaultPeer\u003E\n        \u003C/SipPeer\u003E\n        \u003CServiceTypes\u003E\n          \u003CServiceType\u003EHosted Messaging\u003C/ServiceType\u003E\n        \u003C/ServiceTypes\u003E\n        \u003CMessagingSettings\u003E\n          \u003CSmsEnabled\u003Etrue\u003C/SmsEnabled\u003E\n          \u003CA2pState\u003Esystem_default\u003C/A2pState\u003E\n          \u003CAssignedNnRoute\u003E\n            \u003CNnid\u003E112233\u003C/Nnid\u003E\n            \u003CName\u003E9417\u003C/Name\u003E\n          \u003C/AssignedNnRoute\u003E\n        \u003C/MessagingSettings\u003E\n        \u003CTnAttributes\u003E\n          \u003CTnAttribute\u003EHosted\u003C/TnAttribute\u003E\n        \u003C/TnAttributes\u003E\n      \u003C/HostedTelephoneNumberDetail\u003E\n      \u003CHostedTelephoneNumberDetail\u003E\n        \u003CAccountId\u003E12346168\u003C/AccountId\u003E\n        \u003CSite\u003E\n          \u003CId\u003E495\u003C/Id\u003E\n          \u003CName\u003Esite_1KU9l\u003C/Name\u003E\n        \u003C/Site\u003E\n        \u003CSipPeer\u003E\n          \u003CPeerId\u003E500034\u003C/PeerId\u003E\n          \u003CPeerName\u003Esippeere0fDdHYzRb\u003C/PeerName\u003E\n          \u003CIsDefaultPeer\u003Etrue\u003C/IsDefaultPeer\u003E\n        \u003C/SipPeer\u003E\n        \u003CServiceTypes\u003E\n          \u003CServiceType\u003EHosted Voice\u003C/ServiceType\u003E\n        \u003C/ServiceTypes\u003E\n        \u003CTnAttributes\u003E\n          \u003CTnAttribute\u003EHosted\u003C/TnAttribute\u003E\n        \u003C/TnAttributes\u003E\n      \u003C/HostedTelephoneNumberDetail\u003E\n      \u003CHostedTelephoneNumberDetail\u003E\n       \u003CAccountId\u003E12346169\u003C/AccountId\u003E\n       \u003CServiceTypes\u003E\n          \u003CServiceType\u003EHosted E911\u003C/ServiceType\u003E\n       \u003C/ServiceTypes\u003E\n       \u003CFeatures\u003E\n         \u003CE911\u003E\n          \u003CStatus\u003ESuccess\u003C/Status\u003E\n          \u003CAccountId\u003E12346169\u003C/AccountId\u003E\n          \u003CLastE911OrderOutcome\u003ESUCCESS\u003C/LastE911OrderOutcome\u003E\n          \u003CSipPeerAddress\u003Efalse\u003C/SipPeerAddress\u003E\n          \u003CCallerName\u003EojjucTKANd\u003C/CallerName\u003E\n          \u003CAddress\u003E\n            \u003CHouseNumber\u003E6518\u003C/HouseNumber\u003E\n            \u003CHouseSuffix/\u003E\n            \u003CStreetName\u003EMAIN CAMPUS\u003C/StreetName\u003E\n            \u003CStreetSuffix\u003EDR\u003C/StreetSuffix\u003E\n            \u003CCity\u003ERALEIGH\u003C/City\u003E\n            \u003CStateCode\u003ENC\u003C/StateCode\u003E\n            \u003CZip\u003E27606\u003C/Zip\u003E\n            \u003CPlusFour\u003E5244\u003C/PlusFour\u003E\n            \u003CAddressType\u003EE911\u003C/AddressType\u003E\n            \u003CLatitude\u003E35.848359\u003C/Latitude\u003E\n            \u003CLongitude\u003E-75.000000\u003C/Longitude\u003E\n          \u003C/Address\u003E\n        \u003C/E911\u003E\n       \u003C/Features\u003E\n       \u003CTnAttributes\u003E\n        \u003CTnAttribute\u003EHosted\u003C/TnAttribute\u003E\n       \u003C/TnAttributes\u003E\n      \u003C/HostedTelephoneNumberDetail\u003E\n    \u003C/HostedTelephoneNumberDetails\u003E\n  \u003C/TelephoneNumberDetails\u003E\n\u003C/TelephoneNumberResponse\u003E"}},"schema":{"$ref":"#/components/schemas/telephoneNumberDetailHistoryResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"example":{"description":"Telephone number \u0027123456789\u0027 is not valid","errorCode":12512},"schema":{"$ref":"#/components/schemas/telephoneNumbersErrorResponseJson"}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTelephoneNumberResponse\u003E\n \u003CResponseStatus\u003E\n \u003CErrorCode\u003E12512\u003C/ErrorCode\u003E\n \u003CDescription\u003ETelephone number \u0027123456789\u0027 is not valid\u003C/Description\u003E\n \u003C/ResponseStatus\u003E\n \u003C/TelephoneNumberResponse\u003E"}},"schema":{"$ref":"#/components/schemas/telephoneNumbersErrorResponse"}}},"description":"Bad Request"}},"summary":"Get phone number details","tags":["My Numbers"]}}},"components":{"schemas":{"siteTNsResponse":{"properties":{"SiteTNs":{"properties":{"TotalCount":{"type":"integer"}},"type":"object"}},"type":"object"},"telephoneNumbersHistoryResponse":{"properties":{"TelephoneNumbersResponse":{"properties":{"ErrorList":{"items":{"$ref":"#/components/schemas/telephoneNumberGroupError"},"type":"array"},"Links":{"$ref":"#/components/schemas/paginationLinks"},"TelephoneNumberCount":{"format":"int32","type":"integer"},"TelephoneNumbers":{"items":{"$ref":"#/components/schemas/telephoneNumberDetailHistoryPayload"},"type":"array"}},"type":"object"}},"type":"object"},"telephoneNumberDetailHistoryPayloadJson":{"properties":{"accountId":{"format":"int32","type":"integer"},"city":{"type":"string"},"country":{"type":"string"},"countryCodeA3":{"$ref":"#/components/schemas/countryCodeA3Json"},"features":{"items":{"$ref":"#/components/schemas/featureJson"},"type":"array"},"hostedPhoneNumberDetails":{"items":{"$ref":"#/components/schemas/hostedTelephoneNumberDetailHistoryJson"},"type":"array"},"hostedVoiceAccountId":{"type":"integer"},"isHostedVoice":{"type":"boolean"},"isOnNetVendor":{"type":"boolean"},"isTollFree":{"type":"boolean"},"lastModified":{"type":"string"},"lata":{"format":"int32","type":"integer"},"locatio
[...]
