{"openapi":"3.1.0","info":{"title":"Number Management","description":"Bandwidth\u0027s Number Management APIs","contact":{"name":"Bandwidth","url":"https://dev.bandwidth.com/apis/numbers-apis/number-management","email":"support@bandwidth.com"},"version":"1.0.0","termsOfService":"https://www.bandwidth.com/legal/terms-of-service/"},"servers":[{"url":"https://api.bandwidth.com/api/v2","description":"Production"}],"security":[{"Basic":[]},{"Bearer":[]}],"paths":{"/accounts/{accountId}/tags":{"get":{"summary":"Retrieve Phone Number Tags","description":"Retrieve tags and associated phone numbers. You can filter by phone number, tag name, or tag value. If you filter by phone number, only tags associated with the given phone numbers will be returned.","operationId":"getPhoneNumberTag","tags":["Phone Number Tagging"],"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/phoneNumbersQueryParam"},{"$ref":"#/components/parameters/tagNameQueryParam"},{"$ref":"#/components/parameters/tagValueQueryParam"},{"$ref":"#/components/parameters/pageSizeQueryParam"},{"$ref":"#/components/parameters/pageNumberQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/getPhoneNumberTags"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedErrorBasic"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"415":{"$ref":"#/components/responses/mediaTypeErrorJson"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}},"x-badges":[{"name":"Beta","color":"#076EA8"}]}},"/accounts/{accountId}/tags/{tagName}/{tagValue}":{"patch":{"summary":"Update Phone Number Tags","description":"Update the phone numbers associated with a tag. You can either move phone numbers to a specific tag or remove phone numbers from the tag. A MOVE operation will create a tag if it does not exist. If a phone number is already associated with a tag name, a MOVE operation will replace the tag value.","operationId":"updatePhoneNumberTags","tags":["Phone Number Tagging"],"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/tagNamePathParam"},{"$ref":"#/components/parameters/tagValuePathParam"}],"requestBody":{"$ref":"#/components/requestBodies/updatePhoneNumberTag"},"responses":{"200":{"$ref":"#/components/responses/updatePhoneNumberTagsResponse"},"400":{"$ref":"#/components/responses/updatePhoneNumberTagBadRequestError"},"401":{"$ref":"#/components/responses/unauthorizedErrorBasic"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/updatePhoneNumberTagNotFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"415":{"$ref":"#/components/responses/mediaTypeErrorJson"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}},"x-badges":[{"name":"Beta","color":"#076EA8"}]},"delete":{"summary":"Delete Phone Number Tag","description":"Delete a phone number tag and dissociate all phone numbers from that tag.","operationId":"deletePhoneNumberTag","tags":["Phone Number Tagging"],"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/tagNamePathParam"},{"$ref":"#/components/parameters/tagValuePathParam"}],"responses":{"204":{"description":"No Content"},"400":{"$ref":"#/components/responses/deleteTagBadRequestError"},"401":{"$ref":"#/components/responses/unauthorizedErrorBasic"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"415":{"$ref":"#/components/responses/mediaTypeErrorJson"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}},"x-badges":[{"name":"Beta","color":"#076EA8"}]}},"/accounts/{accountId}/moveTns":{"get":{"tags":["Move TNs"],"description":"Retrieves the moveTns orders for the given account ID. A maximum of 1,000 orders can be retrieved per request. If no date range or specific query parameter is provided, the order results will be limited to the last two years","summary":"List Move Telephone Numbers orders","operationId":"readMoveTnsOrders","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/statusQueryParam"},{"$ref":"#/components/parameters/telephoneNumberQueryParam"},{"$ref":"#/components/parameters/customerOrderIdQueryParam"},{"$ref":"#/components/parameters/createdDateFromQueryParam"},{"$ref":"#/components/parameters/createdDateToQueryParam"},{"$ref":"#/components/parameters/modifiedDateFromQueryParam"},{"$ref":"#/components/parameters/modifiedDateToQueryParam"},{"$ref":"#/components/parameters/pageSizeQueryParam"},{"$ref":"#/components/parameters/pageNumberQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/getMoveTnsResponse200"}}},"post":{"tags":["Move TNs"],"description":"Creates a MoveTnsOrder request to move numbers to the given site/sub-account ID and SIP peer/location ID as specified in the body. A successfully submitted order will have a status of \u0022RECEIVED\u0022.\nA successfully completed order will have a status of \u0022COMPLETE\u0022 if all of the telephone numbers were successfully moved and \u0022PARTIAL\u0022 if some of the telephone numbers were moved. A failed order will have a status of \u0022FAILED\u0022 and no telephone numbers would have been moved.\u003C/p\u003E\n\n\u003Cp\u003ENumbers can be moved to sub-accounts (or sites) and locations (or SIP peers) of a different account (if the user has access to both accounts and the proper roles). This can be done by specifying the SourceAccountId parameter. The user can also specify how to handle E911 service on the number (if it exists) using the optional e911ServiceAction parameter","summary":"Move Telephone Numbers","operationId":"createMoveTnsOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/createMoveTnsOrderRequestBody"},"responses":{"201":{"$ref":"#/components/responses/postMoveTnsResponse201"},"400":{"$ref":"#/components/responses/postMoveTnsResponse400"}}}},"/accounts/{accountId}/moveTns/{orderId}":{"get":{"tags":["Move TNs"],"description":"Retrieve information about a MoveTnsOrder with specified ID","summary":"Fetch Move Telephone Numbers order status","operationId":"readMoveTnsOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getMoveTnsOrderByOrderIdResponse200"},"404":{"$ref":"#/components/responses/getMoveTnsOrderByOrderIdResponse404"}}}},"/accounts/{accountId}/moveTns/{orderId}/history":{"get":{"tags":["Move TNs"],"description":"Retrieves the history of the specified MoveTnsOrder","summary":"Fetch Move Telephone Numbers order history","operationId":"readMoveTnsOrderHistory","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getMoveTnsOrderHistoryResponse200"},"404":{"$ref":"#/components/responses/getMoveTnsOrderByOrderIdResponse404"}}}},"/accounts/{accountId}/moveTnsChecker":{"post":{"tags":["Move TNs Checker"],"description":"This API provides a dry-run capability for MoveTn orders that enables users to obtain the validation information without actually executing the order.\n\n\u003Cp\u003EThis is a synchronous process. Instead of generating an order this will provide a response that includes validation information for the submitted MoveTn request. This will include numbers that can be successfully moved and numbers where there is some compatibility or validation issue.\u003C/p\u003E","summary":"Move Phone Numbers Checker","operationId":"moveTnsChecker","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/moveTnsCheckersRequestBody"},"responses":{"200":{"$ref":"#/components/responses/postMoveTnsCheckerResponse200"},"400":{"$ref":"#/components/responses/postMoveTnsCheckerResponse400"}}}},"/accounts/{accountId}/moveTns/bulk":{"post":{"description":"This endpoint creates a bulk MoveTNs order which will generate a number of child MoveTNs orders and track their\nprogress. The amount and details of the child orders will be determined based on the information provided in the\n\u0060orderDetails\u0060 element. Each item there should include a unique combination of details based on the desired\ndestination and configuration of the TNs after the move.","operationId":"createMoveTnsBulkOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/createMoveTnsBulkOrderRequest"},"responses":{"202":{"$ref":"#/components/responses/createMoveTnsBulkOrder202Response"},"400":{"$ref":"#/components/responses/createMoveTnsBulkOrder400Response"},"401":{"$ref":"#/components/responses/unauthorizedErrorBasic"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}},"summary":"Create Move TNs Bulk Order","tags":["Move TNs Bulk Orders"]}},"/accounts/{accountId}/moveTns/bulk/{orderId}":{"get":{"description":"This endpoint returns the state of the bulk order, along with summary information about the child\norders created from the bulk order submission. The response includes varying amounts of information based\non the status of the bulk order. The \u0060verbose\u0060 query param can be specified to include the original details\nwhich were supplied for the bulk move along with the child orders created for each set of details.","operationId":"getMoveTnsBulkOrderStatus","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"},{"$ref":"#/components/parameters/bulkOrderVerboseQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/getMoveTnsBulkOrderStatus200Response"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedErrorBasic"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}},"summary":"Get Move TNs Bulk Order Status","tags":["Move TNs Bulk Orders"]}},"/accounts/{accountId}/numberReputationManagement/groups":{"get":{"tags":["Number Reputation Management"],"description":"List groups for a specific account","operationId":"listGroups","summary":"List Groups","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getListOfGroups200Response"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedErrorBasic"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}},"post":{"tags":["Number Reputation Management"],"description":"Create a new group to which phone numbers can be assigned for Number Reputation Management.","operationId":"createGroup","summary":"Create Group","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/createGroupRequest"},"responses":{"201":{"$ref":"#/components/responses/createGroupResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedErrorBasic"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/numberReputationManagement/groups/{groupId}":{"get":{"tags":["Number Reputation Management"],"description":"Get group information for a specific account and group ID","operationId":"getGroup","summary":"Get Group","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/groupIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getGroup200Response"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedErrorBasic"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}},"patch":{"tags":["Number Reputation Management"],"description":"Update group attributes.","operationId":"updateGroup","summary":"Update Group","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/groupIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/groupPatchRequest"},"responses":{"200":{"$ref":"#/components/responses/patchNumberGroupResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedErrorBasic"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}},"delete":{"tags":["Number Reputation Management"],"description":"Deletes a group by its ID for the specified account.","operationId":"deleteGroup","summary":"Delete group by ID","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/groupIdPathParam"}],"responses":{"204":{"description":"No Content"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedErrorBasic"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/numberReputationManagement/phoneNumbers":{"get":{"tags":["Number Reputation Management"],"description":"Get phone number reputation details","operationId":"checkNumbersStatus","summary":"Get Phone Number Reputation Details","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/groupIdQueryParam"},{"$ref":"#/components/parameters/customerIdQueryParam"},{"$ref":"#/components/parameters/phoneNumberQueryParam"},{"$ref":"#/components/parameters/carriersReputationSummaryQueryParam"},{"$ref":"#/components/parameters/pageNumberQueryParam"},{"$ref":"#/components/parameters/pageSizeQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/getPhoneNumberReputationDetailsResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedErrorBasic"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/numberReputationManagement/phoneNumbers/bulk":{"post":{"tags":["Number Reputation Management"],"description":"Update the assignment of multiple numbers to number reputation groups. This allows you to add numbers to a group by ID, or remove up to 5000 numbers from any number of groups. If one or more numbers is unable to be updated, the valid numbers will still be updated and returned in the response.","operationId":"bulkPhoneNumberUpdate","summary":"Bulk Phone Number Update","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/bulkPhoneNumberUpdateRequestBody"},"responses":{"200":{"$ref":"#/components/responses/bulkPhoneNumberUpdate200Response"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedErrorBasic"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"409":{"$ref":"#/components/responses/conflictError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/numberReputationManagement/phoneNumbers/{phoneNumber}/history":{"get":{"tags":["Number Reputation Management"],"description":"Get historical reputation status data for a specific phone number managed by Number Reputation Management. Returns a list of historical status entries sorted in reverse chronological order by scan time.","operationId":"getPhoneNumberReputationHistory","summary":"Get Phone Number Reputation History","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/phoneNumberPathParam"},{"$ref":"#/components/parameters/scanTimeQueryParam"},{"$ref":"#/components/parameters/pageNumberQueryParam"},{"$ref":"#/components/parameters/pageSizeQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/getPhoneNumberReputationHistoryResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedErrorBasic"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/numberReputationManagement/phoneNumbers/stats":{"get":{"tags":["Number Reputation Management"],"description":"Get phone number reputation statistics","operationId":"getNumberStats","summary":"Get Phone Number Reputation Statistics","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/groupIdQueryParam"},{"$ref":"#/components/parameters/phoneNumberQueryParam"},{"$ref":"#/components/parameters/carriersReputationSummaryQueryParam"},{"$ref":"#/components/parameters/customerIdQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/statusStatsResponse"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedErrorBasic"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/numberReputationManagement/customers":{"get":{"tags":["Number Reputation Management"],"description":"Get a list of customers for the specified account.","operationId":"listCustomers","summary":"List Customers","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getListOfCustomers200Response"},"400":{"$ref":"#/components/responses/badRequestErrorCustomer"},"401":{"$ref":"#/components/responses/unauthorizedErrorBasicCustomer"},"403":{"$ref":"#/components/responses/forbiddenErrorCustomer"},"404":{"$ref":"#/components/responses/accountNotFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedErrorCustomer"},"409":{"$ref":"#/components/responses/conflictErrorCustomer"},"429":{"$ref":"#/components/responses/tooManyRequestsErrorCustomer"},"500":{"$ref":"#/components/responses/internalServerErrorCustomer"}}}},"/accounts/{accountId}/numberReputationManagement/customers/{customerId}":{"get":{"tags":["Number Reputation Management"],"description":"Get a specific customer for the specified account.","operationId":"getCustomer","summary":"Get Customer","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/customerIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getCustomer200Response"},"400":{"$ref":"#/components/responses/badRequestErrorCustomer"},"401":{"$ref":"#/components/responses/unauthorizedErrorBasicCustomer"},"403":{"$ref":"#/components/responses/forbiddenErrorCustomer"},"404":{"$ref":"#/components/responses/customerNotFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedErrorCustomer"},"409":{"$ref":"#/components/responses/conflictErrorCustomer"},"429":{"$ref":"#/components/responses/tooManyRequestsErrorCustomer"},"500":{"$ref":"#/components/responses/internalServerErrorCustomer"}}}},"/accounts/{accountId}/serviceActivationChecker":{"post":{"tags":["Service Activation"],"summary":"Checks service activation status for a list of phone numbers","description":"Accepts a list of phone numbers and returns the service activation status for each phone number. If service is not able to be activated, missing requirements will also be returned.","operationId":"serviceActivationCheck","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/serviceActivationChecker"},"responses":{"200":{"$ref":"#/components/responses/serviceActivationCheckerOk"},"400":{"$ref":"#/components/responses/serviceActivationCheckerBadRequest"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/serviceActivationOrders":{"get":{"tags":["Service Activation"],"summary":"Gets a list of service activation orders","description":"Gets a list of the service activation orders belonging to the specified account. Orders can be filtered by customer order ID (exact match or starts with). Results are paginated.","operationId":"serviceActivationOrderList","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/customerOrderIdQueryParamEqStartsWith"},{"$ref":"#/components/parameters/pageNumberQueryParam"},{"$ref":"#/components/parameters/pageSizeQueryParam"},{"$ref":"#/components/parameters/verboseParam"}],"responses":{"200":{"$ref":"#/components/responses/serviceActivationSearch"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}},"post":{"tags":["Service Activation"],"summary":"Creates a service activation order","description":"Creates a service activation order to activate service on a list of telephone numbers.","operationId":"serviceActivationOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/serviceActivationOrder"},"responses":{"201":{"$ref":"#/components/responses/serviceActivationOrderCreated"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}},"/accounts/{accountId}/serviceActivationOrders/{orderId}":{"get":{"tags":["Service Activation"],"summary":"Gets a service activation order","description":"Gets a service activation order with the specified orderId.","operationId":"serviceActivationOrderGet","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/serviceActivationOrderDetails"},"400":{"$ref":"#/components/responses/badRequestError"},"401":{"$ref":"#/components/responses/unauthorizedError"},"403":{"$ref":"#/components/responses/forbiddenError"},"404":{"$ref":"#/components/responses/notFoundError"},"405":{"$ref":"#/components/responses/methodNotAllowedError"},"429":{"$ref":"#/components/responses/tooManyRequestsError"},"500":{"$ref":"#/components/responses/internalServerError"}}}}},"components":{"securitySchemes":{"Basic":{"type":"http","scheme":"basic","description":"Basic authentication is a simple authentication scheme built into the HTTP protocol. To use it, send your HTTP requests with an Authorization header that contains the word Basic followed by a space and a base64-encoded string \u0060username:password\u0060. Example: \u0060Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0060"},"Bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Bearer authentication (also called token authentication) is an HTTP authentication scheme that involves security tokens called bearer tokens. The name \u201CBearer authentication\u201D can be understood as \u201Cgive access to the bearer of this token.\u201D The client must send this token in the Authorization header when making requests to protected resources.\n\nExample: \u0060Authorization: Bearer \u003Ctoken\u003E\u0060"}},"schemas":{"getPhoneNumbersTagsResponse":{"title":"List phone number tags and associated phone numbers","type":"object","properties":{"links":{"$ref":"#/components/schemas/links"},"data":{"type":"object","properties":{"totalCount":{"type":"number","description":"Total number of tags listed."},"tags":{"type":"array","items":{"type":"object","properties":{"tagName":{"$ref":"#/components/schemas/tagName"},"tagValue":{"$ref":"#/components/schemas/tagValue"},"phoneNumbers":{"$ref":"#/components/schemas/phoneNumbers"}}}}}},"errors":{"$ref":"#/components/schemas/errors"},"page":{"$ref":"#/components/schemas/page"}}},"updatePhoneNumberTagResponse":{"title":"Update phone number tag response","type":"object","properties":{"links":{"$ref":"#/components/schemas/links"},"data":{"type":"object","properties":{"tagName":{"$ref":"#/components/schemas/tagName"},"tagValue":{"$ref":"#/components/schemas/tagValue"},"phoneNumbers":{"$ref":"#/components/schemas/phoneNumbers"}}},"errors":{"$ref":"#/components/schemas/errors"}}},"updatePhoneNumberTagRequest":{"type":"object","properties":{"action":{"$ref":"#/components/schemas/phoneNumberTagActions"},"phoneNumbers":{"$ref":"#/components/schemas/phoneNumbers"}},"required":["action","phoneNumbers"]},"phoneNumberTagActions":{"type":"string","description":"The MOVE action moves phone numbers to a specific tag. The REMOVE action removes phone numbers from a specific tag.","enum":["MOVE","REMOVE"]},"tagName":{"type":"string","description":"Name of tag associated with a phone number.","example":"customerId"},"tagValue":{"type":"string","description":"Value of tag associated with a phone number.","example":"11111111-1111-1111-1111-111111111111"},"paginationLinks":{"type":"object","title":"Links","properties":{"first":{"type":"string"},"next":{"type":"string"},"previous":{"type":"string"},"last":{"type":"string"}}},"moveTnsCheckerResponse400Json":{"type":"object","properties":{"data":{"type":"object","nullable":true},"errors":{"type":"array","items":{"title":"error","properties":{"code":{"type":"integer"},"description":{"type":"string"}}}},"links":{"title":"Links","type":"array","items":{"type":"object"}}}},"moveTnsCheckerPayloadJson":{"title":"MoveTnsCheckerResponseJson","properties":{"links":{"title":"Links","type":"array","items":{"type":"object","properties":{"href":{"type":"string","description":"URI of the link","example":"/self/uri"},"rel":{"type":"string","description":"Specifies the relationship between this link and the resource.","example":"SelfResource"},"method":{"type":"string","description":"HTTP method to be used","example":"POST"}}}},"data":{"type":"object","properties":{"validPhoneNumbers":{"type":"array","minItems":0,"maxItems":5000,"items":{"type":"string","description":"E.164"}}}},"errors":{"title":"error","type":"array","items":{"type":"object","properties":{"code":{"type":"integer"},"description":{"type":"string"}}}}}},"moveTnsCheckerRequestJson":{"type":"object","title":"moveTnsCheckerRequestJson","required":["phoneNumbers","subAccountId","locationId"],"properties":{"subAccountId":{"$ref":"#/components/schemas/subAccountId"},"locationId":{"$ref":"#/components/schemas/locationId"},"phoneNumbers":{"$ref":"#/components/schemas/phoneNumbers"},"sourceAccountId":{"$ref":"#/components/schemas/sourceAccountId"},"messagingService":{"$ref":"#/components/schemas/messagingService"},"e911ServiceAction":{"$ref":"#/components/schemas/e911ServiceAction"},"voiceConfigurationPackageId":{"$ref":"#/components/schemas/voiceConfigurationPackageId"},"requirementsPackageId":{"$ref":"#/components/schemas/requirementsPackageId"},"bypassMessagingLossBlock":{"$ref":"#/components/schemas/bypassMessagingLossBlock"},"bypassMessagingCampaignBlock":{"$ref":"#/components/schemas/bypassMessagingCampaignBlock"}}},"subAccountId":{"type":"number","example":487,"description":"The ID of the sub-account to which the phone numbers will be moved."},"locationId":{"type":"number","example":538036,"description":"The ID of the location to which the phone numbers will be moved."},"phoneNumbers":{"type":"array","items":{"type":"string"},"minItems":1,"maxItems":5000,"description":"The list of phone numbers in E.164 format.","example":["\u002B19195551000","\u002B19195551001","\u002B19195551002"]},"e911ServiceAction":{"type":"string","description":"This parameter provides flexibility on handling the E911 service of a number when moving to a new account.\nThe default is to \u201CMOVE,\u201D but that may not be possible, resulting in an error where DELETE is required.\nFor example, if moving numbers to an account that uses PIDFLO for E911 then E911ServiceAction = DELETE\nis required, and the E911 service will need to be configured on the numbers after the move.","enum":["MOVE","DELETE"],"default":"MOVE"},"messagingService":{"type":"string","description":"The action to be taken on the messaging service when moving numbers. This field\nensures that the destination account has compatible messaging settings to support moving numbers. If the \nvalidation passes, the numbers are moved without altering their existing messaging settings. However, \nif the validation fails, the order will be rejected with an error messaging indicating incompatible settings.\n\nIf set to \u0060useDestinationSettings\u0060, this will apply the destination location\u0027s messaging settings to the number.\n\nIf set to \u0060useCurrentNumberSettings\u0060, this will validate and apply whether the destination location \ncan accept the numbers\u0027 existing messaging settings.","enum":["USE_DESTINATION_SETTINGS","USE_CURRENT_NUMBER_SETTINGS"],"default":"USE_DESTINATION_SETTINGS"},"voiceConfigurationPackageId":{"title":"Voice Configuration Package ID","type":"string","format":"uuid","example":"c7951e4f-6285-4b75-83e5-392558f59067","description":"The identifier of the voice configuration package containing the voice origination settings. Upon activation, \ntelephone numbers will be configured with the voice origination settings specified in the voice configuration\npackage. This is required if the numbers currently have voice service and are being moved to another account\nwhich has the voice configuration package feature."},"requirementsPackageId":{"title":"Requirements Package ID","type":"string","format":"uuid","example":"c7951e4f-6285-4b75-83e5-392558f59067","description":"The identifier of the requirements package containing the end user details for the telephone numbers. This\nis required if the numbers are being moved across accounts and if they are a part of a country and number type\nwhich has end user validation requirements. The provided requirements package must be approved and compatible\nwith the telephone numbers being moved."},"bypassMessagingLossBlock":{"type":"boolean","description":"A flag that determines whether to bypass the messaging loss block. \n\nIf set to **true**, no error will occur when moving a number with messaging to a location or account that does\nnot support messaging; messaging will simply be disabled in this case.\n\nIf set to **false**, an error will be triggered if such a move is attempted, preventing the move from processing.\n\nDefault value is false.","example":false},"bypassMessagingCampaignBlock":{"type":"boolean","description":"A flag that determines whether to bypass the messaging campaign block.\n\nIf set to **true** and the numbers are associated with a messaging campaign, the move TN request will succeed,\nbut the campaign will be removed from the numbers during the move.\n\nIf set to **false** and the numbers are associated with a messaging campaign, the move request will \nfail with an error.\n\nDefault value is false.","example":false},"sourceAccountId":{"type":"number","example":9902975,"description":"ID of source account, in the case of moving numbers across accounts."},"migrateCampaign":{"type":"boolean","default":false,"description":"Flag for cross-account moves denoting whether any campaigns associated with phone numbers from the order should\nalso be migrated to the new account. If set to \u0060true\u0060, all phone numbers from each involved campaign must be\nmoved in the same bulk order and the messaging settings of the source and destination accounts must be the same.\nIf set to \u0060false\u0060, the moved numbers will be removed from their current campaigns if they are moved to a new account."},"lastModifiedDate":{"type":"string","format":"date-time","example":"2026-02-02T17:16:54.081Z","description":"The date/time when the order was last modified."},"orderDate":{"type":"string","format":"date-time","example":"2026-02-02T17:16:53.458Z","description":"The date/time when the order was created."},"orderIds":{"description":"A list of order IDs for child orders generated from this group of phone number configurations. If there were more than 5000\nphone numbers for one grouping of bulk order details, multiple child orders will be created.","items":{"type":"string","format":"uuid"},"type":"array"},"orderId":{"type":"string","format":"uuid","description":"Unique identifier for the order that was created."},"userId":{"type":"string","description":"The ID of the user who created the order."},"bulkMoveTnsOrderStatus":{"type":"string","description":"Processing status of the bulk Move TNs order.\n\nRECEIVED - Order has been received without any synchronous errors and will be processed through further validation.\n\nPROCESSING - Order has passed validation and is being processed asynchronously. Some child orders may have completed, but at least one is in progress.\n\nFAILED - This implies that the order did not pass synchronous validation (Either number specific or non-number specific errors will be displayed).\n\nCOMPLETE - All child orders have been processed and the order is complete. Review the statuses of each child order for details on the outcome.","enum":["RECEIVED","PROCESSING","COMPLETE","FAILED"]},"childMoveTnsOrderStatus":{"type":"string","description":"Processing status of the child Move TNs order.\n\nRECEIVED - Order has been received without any synchronous errors and will be processed through further validation.\n\nPROCESSING - The order has passed initial validation and is now being processed. This child order will now go through further asynchronous validation.\n\nCOMPLETE - This implies that this child order has been successfully processed and all numbers have been moved with the desired configurations.\n\nFAILED - This implies that some asynchronous errors are associated with the child order. No numbers were moved within this specific child order.\n\nPARTIAL - This implies that some numbers were successfully moved while others encountered asynchronous errors within this specific child order.","enum":["RECEIVED","PROCESSING","COMPLETE","FAILED","PARTIAL"]},"bulkMoveTnsErrors":{"description":"Errors which arose on the bulk order during validation. Any phone numbers which encounter errors at this point will not\nbe moved and will remain on their current account and location.","items":{"properties":{"code":{"description":"Error code unique to the specific failure which occurred.","type":"string"},"description":{"description":"Error description.","type":"string"},"meta":{"properties":{"phoneNumbers":{"description":"List of phone numbers for which the error occurred.","items":{"type":"string"},"type":"array"}},"type":"object"}},"type":"object"},"type":"array"},"actionEnum":{"type":"string","description":"The action to take with the specified phone numbers.","enum":["ADD","REMOVE"],"example":"ADD"},"groupId":{"type":"number","description":"The ID of the group to which phone numbers are being added. Required for the \u0060ADD\u0060 action and ignored for the \u0060REMOVE\u0060 action.","example":123456},"bulkPhoneNumberUpdateRequest":{"type":"object","properties":{"action":{"$ref":"#/components/schemas/actionEnum"},"groupId":{"$ref":"#/components/schemas/groupId"},"phoneNumbers":{"$ref":"#/components/schemas/phoneNumbers"}},"required":["action","phoneNumbers"]},"bulkPhoneNumberUpdate200Response":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/bulkPhoneNumberUpdateResponseData"},"links":{"type":"array","items":{"$ref":"#/components/schemas/link"},"example":[]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}}},"required":["data","links","errors"]},"bulkPhoneNumberUpdateResponseData":{"type":"object","properties":{"action":{"$ref":"#/components/schemas/actionEnum","description":"The action that was taken on the phone numbers."},"groupId":{"$ref":"#/components/schemas/groupId","description":"The ID of the group to which numbers are being added. Returned only for the \u0060ADD\u0060 action."},"updatedPhoneNumbers":{"$ref":"#/components/schemas/phoneNumbers","description":"The list of phone numbers that were successfully updated by the request, in E.164 format."}}},"telephoneNumberGroupError":{"type":"object","title":"Error","properties":{"Code":{"type":"integer"},"Description":{"type":"string"},"TelephoneNumbers":{"type":"array","xml":{"wrapped":true},"items":{"type":"string","xml":{"name":"TelephoneNumber"}}}}},"moveTnsOrders":{"type":"object","properties":{"TotalCount":{"type":"integer"},"Links":{"$ref":"#/components/schemas/paginationLinks"},"MoveTnsOrderSummary":{"type":"array","items":{"$ref":"#/components/schemas/orderSummary"}}}},"moveTnsJsonOrders":{"type":"object","properties":{"totalCount":{"type":"integer"},"links":{"$ref":"#/components/schemas/paginationLinks"},"orders":{"type":"array","items":{"$ref":"#/components/schemas/moveTnsOrderSummaryJson"}}}},"orderSummary":{"type":"object","properties":{"AccountId":{"type":"integer"},"UserId":{"type":"string"},"OrderId":{"type":"string"},"LastModifiedDate":{"type":"string"},"CountOfTNs":{"type":"integer"},"LastModifiedNote":{"$ref":"#/components/schemas/note"},"SuppCount":{"type":"integer"},"OrderType":{"type":"string"},"CustomerOrderId":{"type":"string"},"OrderDate":{"type":"string"},"OrderStatus":{"type":"string"}}},"moveTnsOrderSummaryJson":{"type":"object","properties":{"accountId":{"type":"integer"},"sourceAccountId":{"type":"integer"},"userId":{"type":"string"},"orderId":{"type":"string"},"lastModifiedDate":{"type":"string"},"phoneNumberCount":{"type":"integer"},"orderType":{"type":"string"},"orderDate":{"type":"string"},"orderStatus":{"type":"string"}}},"moveTnsOrderJsonResponsePayload":{"title":"MoveTnsOrder","type":"object","properties":{"orderId":{"type":"string"},"accountId":{"type":"integer"},"lastModifiedDate":{"type":"string"},"createdByUser":{"type":"string"},"customerOrderId":{"type":"string"},"subAccountId":{"type":"integer"},"sourceAccountId":{"type":"integer"},"locationId":{"type":"integer"},"orderCreateDate":{"type":"string"},"phoneNumbers":{"type":"array","items":{"type":"string"}},"orderStatus":{"type":"string","enum":["RECEIVED","PROCESSING","PARTIAL","COMPLETE","FAILED"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/telephoneNumberGroupJsonError"}},"warnings":{"type":"array","items":{"$ref":"#/components/schemas/jsonWarning"}}}},"jsonWarning":{"type":"object","properties":{"phoneNumber":{"type":"string"},"type":{"type":"string","enum":["SMS","E911"]},"description":{"type":"string","description":"Details about the issue which may require user attention."}}},"moveTnsOrder":{"title":"MoveTnsOrder","type":"object","required":["TelephoneNumbers","SiteId","SipPeerId"],"properties":{"TelephoneNumbers":{"description":"List of telephone numbers to be moved. Maximum of 5,000 allowed per POST","type":"array","minItems":1,"maxItems":5000,"items":{"type":"object","properties":{"TelephoneNumber":{"description":"Ten digit phone number with no dots or dashes","type":"integer"}}}},"SiteId":{"description":"A site id to which telephone number will be moved","type":"integer"},"CustomerOrderId":{"pattern":"^[a-zA-Z0-9 -]{1,255}$","description":"Internal customer order id for tracking the order. Only alphanumeric values, dashes and spaces are allowed. Max length is 255 characters","type":"string"},"SipPeerId":{"description":"A sippeer id of provided site to which telephone number will be moved","type":"integer"},"SourceAccountId":{"description":"Id of source account, in the case of moving numbers across accounts","type":"integer"},"E911ServiceAction":{"description":"Only valid when moving to a different account using SourceAccountId. When set to move (default) the E911 service information (if applied to the number) will be moved with the number to the new account. When set to delete the E911 service will be removed from the number","type":"string","enum":["MOVE","DELETE"],"default":"MOVE"}}},"moveTnsOrderResponse":{"type":"object","properties":{"MoveTnsOrder":{"$ref":"#/components/schemas/moveTnsOrderPayload"}}},"moveTnsOrderRequest":{"type":"object","properties":{"MoveTnsOrder":{"$ref":"#/components/schemas/moveTnsOrder"}}},"moveTnsOrderPayload":{"title":"MoveTnsOrder","type":"object","properties":{"OrderId":{"type":"string"},"AccountId":{"type":"integer"},"LastModifiedDate":{"type":"string"},"CreatedByUser":{"type":"string"},"CustomerOrderId":{"type":"string"},"SiteId":{"type":"integer"},"SourceAccountId":{"type":"integer"},"SipPeerId":{"type":"integer"},"OrderCreateDate":{"type":"string"},"TelephoneNumbers":{"type":"array","xml":{"wrapped":true},"items":{"type":"string","xml":{"name":"TelephoneNumber"}}},"ProcessingStatus":{"type":"string","enum":["RECEIVED","PROCESSING","PARTIAL","COMPLETE","FAILED"]},"Errors":{"type":"array","xml":{"wrapped":true},"items":{"$ref":"#/components/schemas/telephoneNumberGroupError"}}}},"moveTnsOrderPayload404XmlResponse":{"type":"object","title":"error","properties":{"Code":{"type":"integer"},"Description":{"type":"string"}}},"moveTnsOrderPayload404JsonResponse":{"type":"object","title":"error","properties":{"code":{"type":"integer"},"description":{"type":"string"}}},"telephoneNumberGroupJsonError":{"type":"object","title":"Error","properties":{"code":{"type":"integer"},"description":{"type":"string"},"phoneNumbers":{"type":"array","items":{"type":"string"}}}},"note":{"type":"object","properties":{"Note":{"type":"object","properties":{"Id":{"description":"This is the Order Note identifier that is automatically generated by system.","type":"string"},"UserId":{"description":"The UserId is authenticated for access to the network via a username string.","type":"string"},"Description":{"description":"This is the Order Note description.","type":"string"},"LastDateModifier":{"description":"This is the date when Order Note was last modified.","type":"string"}}}}},"orderHistoryWrapper":{"type":"object","properties":{"OrderHistoryWrapper":{"type":"object","properties":{"OrderHistory":{"$ref":"#/components/schemas/orderHistory"}}}}},"orderHistory":{"type":"object","properties":{"OrderDate":{"description":"This is the date/time when the order history entry was created.","type":"string"},"Note":{"description":"This is the order note that accompanied the order history entry.","type":"string"},"Author":{"description":"This is the user that initiated the event that caused the order history to be updated.","type":"string"},"Difference":{"description":"SUPP changes difference.","type":"string"},"Status":{"description":"This is the state that the order was in when the order history event occurred.","type":"string"}}},"orderHistoryJson":{"type":"object","properties":{"orderHistory":{"type":"array","items":{"type":"object","properties":{"orderDate":{"description":"This is the date/time when the order history entry was created.","type":"string","format":"date-time"},"note":{"description":"This is the order note that accompanied the order history entry.","type":"string"},"author":{"description":"This is the user that initiated the event that caused the order history to be updated.","type":"string"},"status":{"$ref":"#/components/schemas/processingStatus"}}}}}},"moveTnsOrderJsonRequest":{"title":"moveTnsOrder","type":"object","required":["phoneNumbers","subAccountId","locationId"],"properties":{"phoneNumbers":{"description":"List of telephone numbers to be moved. Maximum of 5,000 allowed per POST","type":"array","minItems":1,"maxItems":5000,"items":{"type":"string"}},"subAccountId":{"description":"A subAccountId to which telephone number will be moved","type":"integer"},"customerOrderId":{"pattern":"^[a-zA-Z0-9 -]{1,255}$","description":"Internal customer order id for tracking the order. Only alphanumeric values, dashes and spaces are allowed. Max length is 255 characters","type":"string"},"locationId":{"description":"A locationId id of provided subAccount to which telephone number will be moved","type":"integer"},"sourceAccountId":{"description":"Id of source account, in the case of moving numbers across accounts","type":"integer"},"e911ServiceAction":{"description":"Only valid when moving to a different account using SourceAccountId. When set to move (default) the E911 service information (if applied to the number) will be moved with the number to the new account. When set to delete the E911 service will be removed from the number","type":"string","enum":["MOVE","DELETE"],"default":"MOVE"}}},"createMoveTnsBulkOrderRequest":{"properties":{"orderDetails":{"items":{"properties":{"subAccountId":{"$ref":"#/components/schemas/subAccountId"},"locationId":{"$ref":"#/components/schemas/locationId"},"phoneNumbers":{"allOf":[{"$ref":"#/components/schemas/phoneNumbers"},{"maxItems":20000}]},"sourceAccountId":{"$ref":"#/components/schemas/sourceAccountId"},"voiceConfigurationPackageId":{"$ref":"#/components/schemas/voiceConfigurationPackageId"},"requirementsPackageId":{"$ref":"#/components/schemas/requirementsPackageId"},"messagingService":{"$ref":"#/components/schemas/messagingService"},"e911ServiceAction":{"$ref":"#/components/schemas/e911ServiceAction"},"bypassMessagingLossBlock":{"$ref":"#/components/schemas/bypassMessagingLossBlock"},"bypassMessagingCampaignBlock":{"$ref":"#/components/schemas/bypassMessagingCampaignBlock"}},"required":["phoneNumbers","locationId","subAccountId"],"type":"object"},"type":"array"},"customerOrderId":{"$ref":"#/components/schemas/customerOrderId"},"migrateCampaign":{"$ref":"#/components/schemas/migrateCampaign"}},"required":["orderDetails"],"title":"Create Move TNs Bulk Order Request","type":"object"},"getMoveTnsBulkOrderStatusResponse":{"properties":{"data":{"properties":{"orderDetails":{"description":"This \u0060orderDetails\u0060 list is only returned in the response if the user includes the \u0060verbose=true\u0060 query parameter in the request.","items":{"properties":{"orderIds":{"$ref":"#/components/schemas/orderIds"},"subAccountId":{"$ref":"#/components/schemas/subAccountId"},"locationId":{"$ref":"#/components/schemas/locationId"},"sourceAccountId":{"$ref":"#/components/schemas/sourceAccountId"},"voiceConfigurationPackageId":{"$ref":"#/components/schemas/voiceConfigurationPackageId"},"requirementsPackageId":{"$ref":"#/components/schemas/requirementsPackageId"},"messagingService":{"$ref":"#/components/schemas/messagingService"},"e911ServiceAction":{"$ref":"#/components/schemas/e911ServiceAction"},"bypassMessagingLossBlock":{"$ref":"#/components/schemas/bypassMessagingLossBlock"},"bypassMessagingCampaignBlock":{"$ref":"#/components/schemas/bypassMessagingCampaignBlock"}},"type":"object"},"type":"array"},"childOrders":{"description":"This childOrders list is returned when at least one child order has been created from the original bulk order request.\nThe full details for each child order can be retrieved from the [Fetch MoveTNs Order Status API](#tag/Move-TNs/operation/readMoveTnsOrder).","items":{"properties":{"orderId":{"$ref":"#/components/schemas/orderId"},"orderStatus":{"$ref":"#/components/schemas/childMoveTnsOrderStatus"}},"type":"object"},"type":"array"},"migrateCampaign":{"$ref":"#/components/schemas/migrateCampaign"},"customerOrderId":{"$ref":"#/components/schemas/customerOrderId"},"errors":{"$ref":"#/components/schemas/bulkMoveTnsErrors"},"lastModifiedDate":{"$ref":"#/components/schemas/lastModifiedDate"},"orderDate":{"$ref":"#/components/schemas/orderDate"},"orderId":{"$ref":"#/components/schemas/orderId"},"orderStatus":{"$ref":"#/components/schemas/bulkMoveTnsOrderStatus"},"userId":{"$ref":"#/components/schemas/userId"}},"type":"object"},"errors":{"$ref":"#/components/schemas/errors"},"links":{"$ref":"#/components/schemas/links"}},"title":"Get Move Tns Bulk Order Status Response","type":"object"},"createMoveTnsBulkOrder202Response":{"properties":{"data":{"properties":{"customerOrderId":{"$ref":"#/components/schemas/customerOrderId"},"lastModifiedDate":{"$ref":"#/components/schemas/lastModifiedDate"},"orderDate":{"$ref":"#/components/schemas/orderDate"},"orderId":{"$ref":"#/components/schemas/orderId"},"orderStatus":{"$ref":"#/components/schemas/bulkMoveTnsOrderStatus"},"userId":{"$ref":"#/components/schemas/userId"}},"type":"object"},"errors":{"$ref":"#/components/schemas/bulkMoveTnsErrors"},"links":{"$ref":"#/components/schemas/links"}},"title":"Move TNs Bulk Order 202 Response","type":"object"},"createMoveTnsBulkOrder400Response":{"properties":{"data":{"example":null,"nullable":true,"type":"object"},"errors":{"$ref":"#/components/schemas/bulkMoveTnsErrors"},"links":{"$ref":"#/components/schemas/links"}},"title":"Create Move TNs Bulk Order 400 Response","type":"object"},"link":{"type":"object","properties":{"href":{"type":"string","description":"The URI of the link","example":"https://api.bandwidth.com/api/v2/accounts/6555555/numberReputationManagement"},"rel":{"type":"string","description":"Specifies the relationship between this and the resource","example":"self"},"method":{"type":"string","description":"The HTTP method to use when accessing the link","example":"GET"}}},"links":{"type":"array","items":{"$ref":"#/components/schemas/link"},"nullable":true,"description":"An array of links related to the resource","example":null},"errorCode":{"type":"integer","format":"int32","description":"An application-specific error code for services with extensive error scenarios to supplement \u0060description\u0060","minimum":4,"example":51130},"errorDescription":{"type":"string","description":"A human-readable explanation that SHOULD be specific to this occurrence of the problem","example":"There was an issue with a field in your request body"},"errorType":{"type":"string","description":"A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem","example":"REQUEST_ERROR"},"errorSource":{"type":"object","properties":{"parameter":{"type":"string","description":"A string indicating which URI query parameter caused the error","example":"someParameter"},"field":{"type":"string","description":"A string indicating which request body field caused the error","example":"someField"},"header":{"type":"string","description":"A string indicating which header field caused the error","example":"someHeader"},"reference":{"type":"string","description":"A string that references a resource ID or path to the resource (or non-existent resource) causing the error","example":"/some/reference"}}},"error":{"type":"object","properties":{"id":{"type":"string","description":"A unique identifier for this particular instance of this problem","example":"optional-error-id"},"type":{"$ref":"#/components/schemas/errorType"},"description":{"$ref":"#/components/schemas/errorDescription"},"code":{"$ref":"#/components/schemas/errorCode"},"meta":{"type":"object","description":"A meta object containing application-specific information or non-standard metadata about the error"},"source":{"$ref":"#/components/schemas/errorSource"}},"required":["code","description"]},"errors":{"nullable":true,"type":"array","items":{"$ref":"#/components/schemas/error"},"example":[]},"processingStatus":{"type":"string","description":"This is the state that the order was in when the order history event occurred.","enum":["RECEIVED","PROCESSING","PARTIAL","COMPLETE","FAILED"]},"page":{"type":"object","properties":{"pageNumber":{"type":"integer","description":"The current page number","example":1},"pageSize":{"type":"integer","description":"The number of items returned in the current page","example":50},"totalElements":{"type":"integer","description":"The total number of elements in all pages","example":100},"totalPages":{"type":"integer","description":"The total number of pages","example":2}},"required":["pageNumber","pageSize"]},"genericError":{"type":"object","properties":{"data":{"type":"object","nullable":true,"example":null},"links":{"$ref":"#/components/schemas/links"},"errors":{"$ref":"#/components/schemas/errors"}}},"genericErrorCustomer":{"type":"object","properties":{"data":{"type":"object","nullable":true,"example":null},"links":{"$ref":"#/components/schemas/links"},"errors":{"$ref":"#/components/schemas/genericErrorsCustomer"}}},"genericErrorsCustomer":{"type":"array","items":{"$ref":"#/components/schemas/customerError"},"example":[]},"customerError":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/errorType"},"description":{"$ref":"#/components/schemas/errorDescription"},"code":{"$ref":"#/components/schemas/errorCode"},"source":{"$ref":"#/components/schemas/errorSourceCustomer"}},"required":["code","description"]},"errorSourceCustomer":{"type":"object","properties":{"reference":{"type":"string","description":"A string that references a resource ID or path to the resource (or non-existent resource) causing the error","example":"/some/reference"}}},"scanTime":{"type":"string","format":"date-time","description":"The date and time when this reputation scan was performed","example":"2021-01-15T10:30:00Z"},"riskRatingEnum":{"type":"string","description":"The risk rating of the number.","example":"IN_REMEDIATION","enum":["REMEDIATION_DENIED","IN_REMEDIATION","CLEAN","FLAGGED","NOT_RATED"]},"unauthorizedErrorSignum":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time","example":"2025-05-31T18:03:53.273\u002B00:00"},"status":{"type":"integer","example":401,"description":"HTTP status code."},"error":{"type":"string","example":"Unauthorized","description":"Error message."},"path":{"type":"string","description":"The request path that caused the error.","example":"/api/v2/self-resource"}}},"carriersReputationSummaryEnum":{"type":"string","description":"A summary of the number\u0027s reputation based on its status with the three main carriers, AT\u0026T, Verizon, and T-Mobile. This will be set to \u0060FLAGGED\u0060 if the number is in a \u0060FLAGGED\u0060 status with at least one of those carriers.","example":"FLAGGED","enum":["STATUS_PENDING","FLAGGED","CLEAN"]},"groupIntentEnum":{"type":"string","title":"Group Intent","description":"The intent or purpose of the group. This indicates how the phone numbers in the group will be used.\n- GOVN: Government\n- SATE: Sales/Telemarketing\n- ACCS: Account Services\n- SURV: Survey\n- POLI: Political\n- FUND: Fundraising\n- DEBC: Debt Collection\n- APPR: Appointment Reminder\n- INFO: Information\n- CUSE: Customer Services\n- APPS: Appointment Setting\n- BILL: Billing\n- EMER: Emergency\n- ATTO: Attorney/Law\n- FSER: Financial Service\n- FRES: First Responder\n- HOSP: Health Care/Hospital\n- INSU: Insurance\n- PHAR: Pharmacy\n- REST: Real Estate\n- COLL: School/College\n- NPF: Non-Profit\n- MUL: Multi use line","enum":["GOVN","SATE","ACCS","SURV","POLI","FUND","DEBC","APPR","INFO","CUSE","APPS","BILL","EMER","ATTO","FSER","FRES","HOSP","INSU","PHAR","REST","COLL","NPF","MUL"],"example":"GOVN"},"groupBaseProperties":{"type":"object","title":"Group Base Properties","description":"Common properties for group request bodies.","properties":{"name":{"type":"string","description":"The name of the group.","example":"Group Name"},"description":{"type":"string","description":"The description of the group.","example":"Group Description"},"intent":{"$ref":"#/components/schemas/groupIntentEnum"}},"required":["name","description","intent"]},"groupData":{"type":"object","title":"Group Data","description":"Common properties for group response data objects.","properties":{"groupId":{"type":"number","description":"The ID of the group.","example":26},"groupName":{"type":"string","description":"The name of the group.","example":"Group Name"},"description":{"type":"string","description":"The description of the group.","example":"Group Description"},"intent":{"$ref":"#/components/schemas/groupIntentEnum"},"phoneNumberCount":{"type":"integer","description":"The number of phone numbers associated with the group.","example":2},"createdAt":{"type":"string","format":"date-time","description":"The date and time the group was created.","example":"2021-01-01T00:00:00Z"}},"required":["groupId","groupName","description","intent","phoneNumberCount","createdAt"]},"createGroupRequestEnterprise":{"title":"Create Group Request - Enterprise","allOf":[{"$ref":"#/components/schemas/groupBaseProperties"}]},"createGroupRequestReseller":{"title":"Create Group Request - Reseller","allOf":[{"$ref":"#/components/schemas/groupBaseProperties"},{"type":"object","properties":{"customerId":{"type":"integer","description":"The ID of the customer the group belongs to","example":42}},"required":["customerId"]}]},"groupPatchRequest":{"title":"Group update request","type":"object","properties":{"name":{"type":"string","description":"The name of the group","example":"Group Name"},"description":{"type":"string","description":"The description of the group","example":"Group Description"},"intent":{"$ref":"#/components/schemas/groupIntentEnum"}}},"phoneNumberReputationEnterpriseWeeklyCheckDetails":{"type":"object","properties":{"phoneNumber":{"type":"string","description":"The phone number","example":"\u002B18558647776"},"groupId":{"type":"number","description":"The ID of the group","example":26},"groupName":{"type":"string","description":"The name of the group","example":"Group Name"},"attRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"verizonRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"tmobileRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"carriersReputationSummary":{"$ref":"#/components/schemas/carriersReputationSummaryEnum"},"lastTest":{"type":"string","format":"date-time","description":"The date and time the number was last tested","example":"2021-01-01T00:00:00Z"},"lastFlagged":{"type":"string","format":"date-time","description":"The date and time the number was last flagged","example":"2021-01-01T00:00:00Z"}}},"phoneNumberReputationResellerWeeklyCheckDetails":{"type":"object","properties":{"phoneNumber":{"type":"string","description":"The phone number","example":"\u002B18558647776"},"groupId":{"type":"number","description":"The ID of the group","example":26},"groupName":{"type":"string","description":"The name of the group","example":"Group Name"},"customerId":{"type":"integer","description":"The ID of the customer the group belongs to","example":42},"customerName":{"type":"string","description":"The name of the customer the group belongs to","example":"Customer Name"},"attRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"verizonRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"tmobileRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"carriersReputationSummary":{"$ref":"#/components/schemas/carriersReputationSummaryEnum"},"lastTest":{"type":"string","format":"date-time","description":"The date and time the number was last tested","example":"2021-01-01T00:00:00Z"},"lastFlagged":{"type":"string","format":"date-time","description":"The date and time the number was last flagged","example":"2021-01-01T00:00:00Z"}}},"phoneNumberReputationEnterpriseDailyCheckDetails":{"type":"object","properties":{"phoneNumber":{"type":"string","description":"The phone number","example":"\u002B18558647776"},"groupId":{"type":"number","description":"The ID of the group","example":26},"groupName":{"type":"string","description":"The name of the group","example":"Group Name"},"attRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"verizonRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"tmobileRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"ftcRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"nomoroboRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"ihsRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"ttsRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"robokillerRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"youmailRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"fccRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"carriersReputationSummary":{"$ref":"#/components/schemas/carriersReputationSummaryEnum"},"lastTest":{"type":"string","format":"date-time","description":"The date and time the number was last tested","example":"2021-01-01T00:00:00Z"},"lastFlagged":{"type":"string","format":"date-time","description":"The date and time the number was last flagged","example":"2021-01-01T00:00:00Z"}}},"phoneNumberReputationResellerDailyCheckDetails":{"type":"object","properties":{"phoneNumber":{"type":"string","description":"The phone number","example":"\u002B18558647776"},"groupId":{"type":"number","description":"The ID of the group","example":26},"groupName":{"type":"string","description":"The name of the group","example":"Group Name"},"customerId":{"type":"integer","description":"The ID of the customer the group belongs to","example":42},"customerName":{"type":"string","description":"The name of the customer the group belongs to","example":"Customer Name"},"attRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"verizonRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"tmobileRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"ftcRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"nomoroboRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"ihsRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"ttsRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"robokillerRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"youmailRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"fccRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"carriersReputationSummary":{"$ref":"#/components/schemas/carriersReputationSummaryEnum"},"lastTest":{"type":"string","format":"date-time","description":"The date and time the number was last tested","example":"2021-01-01T00:00:00Z"},"lastFlagged":{"type":"string","format":"date-time","description":"The date and time the number was last flagged","example":"2021-01-01T00:00:00Z"}}},"phoneNumberReputationHistoryWeeklyCheckEntry":{"type":"object","properties":{"scanTime":{"$ref":"#/components/schemas/scanTime"},"attRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"verizonRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"tmobileRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"carriersReputationSummary":{"$ref":"#/components/schemas/carriersReputationSummaryEnum"}}},"phoneNumberReputationHistoryDailyCheckEntry":{"type":"object","properties":{"scanTime":{"$ref":"#/components/schemas/scanTime"},"attRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"verizonRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"tmobileRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"ftcRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"nomoroboRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"ihsRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"ttsRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"robokillerRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"youmailRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"fccRiskRating":{"$ref":"#/components/schemas/riskRatingEnum"},"carriersReputationSummary":{"$ref":"#/components/schemas/carriersReputationSummaryEnum"}}},"createGroupEnterprise201Response":{"title":"Create Group Response - Enterprise","type":"object","properties":{"data":{"$ref":"#/components/schemas/groupData"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"},"nullable":true,"example":null},"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}}},"required":["data","links","errors"]},"createGroupReseller201Response":{"title":"Create Group Response - Reseller","type":"object","properties":{"data":{"allOf":[{"$ref":"#/components/schemas/groupData"},{"type":"object","properties":{"customerId":{"type":"integer","description":"The ID of the customer the group belongs to","example":42}},"required":["customerId"]}]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"},"nullable":true,"example":null},"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}}},"required":["data","links","errors"]},"getGroupEnterprise200Response":{"title":"Get Group Response - Enterprise","type":"object","properties":{"data":{"$ref":"#/components/schemas/groupData"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"},"nullable":true,"example":null},"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}}},"required":["data","links","errors"]},"getGroupReseller200Response":{"title":"Get Group Response - Reseller","type":"object","properties":{"data":{"allOf":[{"$ref":"#/components/schemas/groupData"},{"type":"object","properties":{"customerId":{"type":"integer","description":"The ID of the customer the group belongs to","example":42},"customerName":{"type":"string","description":"The name of the customer the group belongs to","example":"Customer A"}},"required":["customerId","customerName"]}]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"},"nullable":true,"example":null},"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}}},"required":["data","links","errors"]},"getListOfGroupsEnterprise200Response":{"title":"Get Groups Response - Enterprise","type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/groupData"}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"},"nullable":true,"example":null},"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}}},"required":["data","links","errors"]},"getListOfGroupsReseller200Response":{"title":"Get Groups Response - Reseller","type":"object","properties":{"data":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/groupData"},{"type":"object","properties":{"customerId":{"type":"integer","description":"The ID of the customer the group belongs to","example":42},"customerName":{"type":"string","description":"The name of the customer the group belongs to","example":"Customer A"}},"required":["customerId","customerName"]}]}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"},"nullable":true,"example":null},"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}}},"required":["data","links","errors"]},"getListOfCustomers200Response":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"customerId":{"type":"integer","description":"The unique identifier of the customer.","example":42},"customerName":{"type":"string","description":"The name of the customer.","example":"Customer A"},"description":{"type":"string","description":"A description of the customer.","example":"This is a sample customer."},"numeracleEntityCode":{"type":"string","description":"The Numeracle entity code associated with the customer.","example":"NEC12345"},"createdAt":{"type":"string","format":"date-time","description":"The date and time when the customer was created.","example":"2024-01-01T12:00:00Z"},"updatedAt":{"type":"string","format":"date-time","description":"The date and time when the customer was last updated.","example":"2024-01-02T15:30:00Z"},"groupCount":{"type":"integer","description":"The number of groups associated with the customer.","example":5}}}},"links":{"type":"array","items":{"$ref":"#/components/schemas/link"},"example":[]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"},"nullable":true,"example":null}},"required":["data","links","errors"]},"getCustomer200Response":{"type":"object","properties":{"data":{"type":"object","properties":{"customerId":{"type":"integer","description":"The unique identifier of the customer.","example":42},"customerName":{"type":"string","description":"The name of the customer.","example":"Customer A"},"description":{"type":"string","description":"A description of the customer.","example":"This is a sample customer."},"numeracleEntityCode":{"type":"string","description":"The Numeracle entity code associated with the customer.","example":"NEC12345"},"createdAt":{"type":"string","format":"date-time","description":"The date and time when the customer was created.","example":"2024-01-01T12:00:00Z"},"updatedAt":{"type":"string","format":"date-time","description":"The date and time when the customer was last updated.","example":"2024-01-02T15:30:00Z"},"groupCount":{"type":"integer","description":"The number of groups associated with the customer.","example":5}}},"links":{"type":"array","items":{"$ref":"#/components/schemas/link"},"example":[]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"},"nullable":true,"example":null}},"required":["data","links","errors"]},"getPhoneNumberReputationDetailsEnterpriseWeeklyChecks200Response":{"title":"Get Phone Number Reputation Details (Weekly Checks) - Enterprise","type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/phoneNumberReputationEnterpriseWeeklyCheckDetails"}},"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}},"page":{"$ref":"#/components/schemas/page"}},"required":["data","links","errors","page"]},"getPhoneNumberReputationDetailsResellerWeeklyChecks200Response":{"title":"Get Phone Number Reputation Details (Weekly Checks) - Reseller","description":"OK","type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/phoneNumberReputationResellerWeeklyCheckDetails"}},"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}},"page":{"$ref":"#/components/schemas/page"}},"required":["data","links","errors","page"]},"getPhoneNumberReputationDetailsEnterpriseDailyChecks200Response":{"title":"Get Phone Number Reputation Details (Daily Checks) - Enterprise","description":"OK","type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/phoneNumberReputationEnterpriseDailyCheckDetails"}},"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}},"page":{"$ref":"#/components/schemas/page"}},"required":["data","links","errors","page"]},"getPhoneNumberReputationDetailsResellerDailyChecks200Response":{"title":"Get Phone Number Reputation Details (Daily Checks) - Reseller","description":"OK","type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/phoneNumberReputationResellerDailyCheckDetails"}},"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}},"page":{"$ref":"#/components/schemas/page"}},"required":["data","links","errors","page"]},"getPhoneNumberReputationHistoryWeeklyChecks200Response":{"title":"Get Phone Number Reputation History (Weekly Checks)","description":"OK","type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/phoneNumberReputationHistoryWeeklyCheckEntry"}},"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}},"page":{"$ref":"#/components/schemas/page"}},"required":["data","links","errors","page"]},"getPhoneNumberReputationHistoryDailyChecks200Response":{"title":"Get Phone Number Reputation History (Daily Checks)","description":"OK","type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/phoneNumberReputationHistoryDailyCheckEntry"}},"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}},"page":{"$ref":"#/components/schemas/page"}},"required":["data","links","errors","page"]},"serviceActivationCheckerRequest":{"description":"ServiceActivationCheckerRequest","type":"object","required":["phoneNumbers"],"properties":{"phoneNumbers":{"type":"array","items":{"type":"string"}}}},"serviceActivationOrderPhoneNumberObject":{"type":"array","items":{"type":"object","properties":{"phoneNumber":{"type":"string"},"services":{"type":"object","properties":{"voice":{"$ref":"#/components/schemas/serviceActivationCheckerVoiceServices"},"messaging":{"$ref":"#/components/schemas/serviceActivationCheckerServiceType"},"emergency":{"$ref":"#/components/schemas/serviceActivationCheckerServiceType"}}}},"required":["phoneNumber","services"]}},"serviceActivationCheckerResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"phoneNumbers":{"$ref":"#/components/schemas/serviceActivationOrderPhoneNumberObject"}},"required":["phoneNumbers"]},"errors":{"$ref":"#/components/schemas/errors"},"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}}},"required":["data","errors","links"]},"serviceActivationCheckerBadRequestResponse":{"description":"BadRequest","type":"object","properties":{"data":{"type":"object","nullable":true,"properties":{"phoneNumbers":{"$ref":"#/components/schemas/serviceActivationOrderPhoneNumberObject"}}},"errors":{"$ref":"#/components/schemas/errors"},"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}}}},"serviceActivationCheckerServiceType":{"type":"object","properties":{"status":{"$ref":"#/components/schemas/phoneNumberServiceStatus"},"reasons":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"description":{"type":"string"}}}}}},"serviceActivationCheckerVoiceServices":{"type":"object","properties":{"status":{"$ref":"#/components/schemas/phoneNumberServiceStatus"},"inbound":{"type":"object","properties":{"reasons":{"$ref":"#/components/schemas/reasons"},"status":{"$ref":"#/components/schemas/phoneNumberServiceStatus"}}},"outboundNational":{"type":"object","properties":{"reasons":{"$ref":"#/components/schemas/reasons"},"status":{"$ref":"#/components/schemas/phoneNumberServiceStatus"}}},"outboundInternational":{"type":"object","properties":{"reasons":{"$ref":"#/components/schemas/reasons"},"status":{"$ref":"#/components/schemas/phoneNumberServiceStatus"}}}}},"serviceActivationOrder":{"description":"ServiceActivationOrder","type":"object","required":["action","phoneNumbers","services"],"properties":{"customerOrderId":{"$ref":"#/components/schemas/customerOrderId"},"phoneNumbers":{"type":"array","items":{"type":"string"}},"services":{"$ref":"#/components/schemas/services"},"action":{"$ref":"#/components/schemas/serviceActivationActions"}}},"serviceActivationOrderResponse":{"description":"ServiceActivationOrder","type":"object","required":["data","errors","links"],"properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}},"data":{"type":"object","properties":{"customerOrderId":{"$ref":"#/components/schemas/customerOrderId"},"userId":{"type":"string"},"orderDate":{"type":"string","format":"date-time"},"lastModifiedDate":{"type":"string","format":"date-time"},"orderId":{"type":"string"},"orderStatus":{"type":"string"},"action":{"type":"string"},"completedPhoneNumbers":{"type":"array","items":{"type":"string"}},"failedPhoneNumbers":{"type":"array","items":{"type":"string"}},"partialPhoneNumbers":{"type":"array","items":{"type":"string"}},"missingRequirementsPhoneNumbers":{"type":"array","items":{"type":"string"}},"requestedPhoneNumbers":{"type":"array","items":{"type":"string"}},"services":{"$ref":"#/components/schemas/services"}},"required":["userId","orderDate","lastModifiedDate","orderId","orderStatus","requestedPhoneNumbers"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/serviceActivationOrderError"}}}},"serviceActivationOrderSearchResponse":{"description":"ServiceActivationOrderSearchResponse","type":"object","properties":{"data":{"type":"object","properties":{"serviceActivationOrders":{"type":"array","items":{"type":"object","properties":{"requestedPhoneNumbers":{"type":"array","items":{"type":"string"}},"services":{"$ref":"#/components/schemas/services"},"action":{"$ref":"#/components/schemas/serviceActivationActions"},"customerOrderId":{"$ref":"#/components/schemas/customerOrderId"},"orderId":{"type":"string"},"orderStatus":{"type":"string"},"orderDate":{"type":"string","format":"date-time"},"lastModifiedDate":{"type":"string","format":"date-time"},"userId":{"type":"string"}}}}}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}},"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}},"page":{"type":"object","properties":{"pageSize":{"type":"integer","description":"The number of items per page."},"totalElements":{"type":"integer","description":"The total number of elements across all pages."},"totalPages":{"type":"integer","description":"The total number of pages."},"pageNumber":{"type":"integer","description":"The current page number."}}}}},"serviceActivationOrderSearchResponseVerbose":{"description":"ServiceActivationOrderSearchResponse","type":"object","properties":{"data":{"type":"object","properties":{"serviceActivationOrders":{"type":"array","items":{"type":"object","properties":{"requestedPhoneNumbers":{"type":"array","items":{"type":"string"}},"services":{"$ref":"#/components/schemas/services"},"action":{"$ref":"#/components/schemas/serviceActivationActions"},"customerOrderId":{"$ref":"#/components/schemas/customerOrderId"},"orderId":{"type":"string"},"orderStatus":{"type":"string"},"orderDate":{"type":"string","format":"date-time"},"lastModifiedDate":{"type":"string","format":"date-time"},"userId":{"type":"string"},"completedPhoneNumbers":{"type":"array","items":{"type":"string"}},"failedPhoneNumbers":{"type":"array","items":{"type":"string"}},"partialPhoneNumbers":{"type":"array","items":{"type":"string"}},"missingRequirementsPhoneNumbers":{"type":"array","items":{"type":"string"}}}}}}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}},"links":{"type":"array","items":{"$ref":"#/components/schemas/link"}},"page":{"type":"object","properties":{"pageSize":{"type":"integer","description":"The number of items per page."},"totalElements":{"type":"integer","description":"The total number of elements across all pages."},"totalPages":{"type":"integer","description":"The total number of pages."},"pageNumber":{"type":"integer","description":"The current page number."}}}}},"phoneNumberServiceStatus":{"type":"string","enum":["IN_SERVICE","READY_TO_ACTIVATE","ACTIVATION_REQUIREMENTS_NOT_MET","ACCOUNT_NOT_CONFIGURED","NOT_SUPPORTED"]},"serviceActivationActions":{"type":"string","enum":["ACTIVATE","DEACTIVATE"]},"customerOrderId":{"description":"An optional customer-defined order identifier that is stored with the Bandwidth order. This value is opaque to Bandwidth.","type":"string","maxLength":255},"voiceActivationSubtypes":{"type":"string","enum":["ALL","INBOUND","OUTBOUND_NATIONAL","OUTBOUND_INTERNATIONAL"]},"messagingAndEmergencyActivationTypes":{"type":"string","enum":["ALL"]},"reasons":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"description":{"type":"string"}}}},"services":{"type":"object","properties":{"voice":{"type":"array","items":{"$ref":"#/components/schemas/voiceActivationSubtypes"}},"messaging":{"type":"array","items":{"$ref":"#/components/schemas/messagingAndEmergencyActivationTypes"}},"emergency":{"type":"array","items":{"$ref":"#/components/schemas/messagingAndEmergencyActivationTypes"}}},"description":"Service types on which to apply specific action"},"queryParamStringEqStartsWith":{"type":"object","properties":{"eq":{"type":"string"},"startsWith":{"type":"string"}}},"serviceActivationOrderError":{"title":"Error","type":"object","properties":{"code":{"$ref":"#/components/schemas/errorCode"},"description":{"$ref":"#/components/schemas/errorDescription"},"meta":{"type":"array","items":{"$ref":"#/components/schemas/metaObject"},"description":"A meta object containing application-specific information or non-standard metadata about the error"}},"required":["code","description"]},"metaObject":{"properties":{"phoneNumbers":{"type":"array","items":{"type":"string"}},"service":{"type":"string"},"serviceType":{"type":"string"}}},"queryParamStringEq":{"properties":{"eq":{"type":"string"}},"type":"object"}},"requestBodies":{"updatePhoneNumberTag":{"description":"Update a phone number tag.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/updatePhoneNumberTagRequest"},"examples":{"addPhoneNumbersRequestExample":{"$ref":"#/components/examples/patchAddPhoneNumberTagRequest"},"removePhoneNumbersRequestExample":{"$ref":"#/components/examples/patchRemovePhoneNumberTagRequest"}}}}},"createMoveTnsOrderRequestBody":{"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/moveTnsOrderRequest"},"examples":{"example":{"$ref":"#/components/examples/postMoveTnsOrderRequestXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/moveTnsOrderJsonRequest"},"examples":{"example":{"value":{"sourceAccountId":12346159,"subAccountId":487,"locationId":500076,"phoneNumbers":["\u002B18012141003"]}}}}}},"createMoveTnsBulkOrderRequest":{"content":{"application/json":{"examples":{"createMoveTnsBulkOrderRequestExample":{"$ref":"#/components/examples/createMoveTnsBulkOrderRequestExample"}},"schema":{"$ref":"#/components/schemas/createMoveTnsBulkOrderRequest"}}}},"bulkPhoneNumberUpdateRequestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/bulkPhoneNumberUpdateRequest"},"examples":{"bulkPhoneNumberAddRequestExample":{"$ref":"#/components/examples/bulkPhoneNumberAddRequestExample"},"bulkPhoneNumberRemoveRequestExample":{"$ref":"#/components/examples/bulkPhoneNumberRemoveRequestExample"}}}}},"moveTnsCheckersRequestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/moveTnsCheckerRequestJson"},"examples":{"example":{"$ref":"#/components/examples/moveTnsCheckerRequestJsonExample"}}}}},"createGroupRequest":{"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/createGroupRequestEnterprise"},{"$ref":"#/components/schemas/createGroupRequestReseller"}]},"examples":{"enterpriseUserExample":{"$ref":"#/components/examples/createGroupEnterpriseUserExample"},"resellerUserExample":{"$ref":"#/components/examples/createGroupResellerUserExample"}}}},"description":"The request body for creating a new group for both a enterprise and reseller user."},"groupPatchRequest":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/groupPatchRequest"},"examples":{"patchExample":{"$ref":"#/components/examples/groupPatchRequestExample"}}}},"description":"The request body for updating a group."},"serviceActivationChecker":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/serviceActivationCheckerRequest"},"examples":{"requestExample":{"$ref":"#/components/examples/serviceActivationCheckerRequestExample"}}}},"required":true},"serviceActivationOrder":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/serviceActivationOrder"},"examples":{"activateExample":{"$ref":"#/components/examples/serviceActivationOrderActivateExample"},"deactivateExample":{"$ref":"#/components/examples/serviceActivationOrderDeactivateExample"}}}},"required":true}},"responses":{"updatePhoneNumberTagsResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/updatePhoneNumberTagResponse"},"examples":{"updatePhoneNumberTagMoveExample":{"$ref":"#/components/examples/updatePhoneNumberTagMoveExample"},"updatePhoneNumberTagRemoveExample":{"$ref":"#/components/examples/updatePhoneNumberTagRemoveExample"}}}}},"getPhoneNumberTags":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/getPhoneNumbersTagsResponse"},"examples":{"getAllTagsExample":{"$ref":"#/components/examples/getAllTagsExample"},"filterByTagNameExample":{"$ref":"#/components/examples/filterByTagNameExample"},"filterByTagExample":{"$ref":"#/components/examples/filterByTagExample"},"filterByPhoneNumberExample":{"$ref":"#/components/examples/filterByPhoneNumberExample"}}}}},"getMoveTnsResponse200":{"description":"The descriptive payload for the moveTnsOrder query provides information about the orders found by the query, including the data associated with the order, the state of the order, a list of the successfully imported Telephone Numbers, and description of any encountered errors","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/moveTnsOrders"},"examples":{"example":{"$ref":"#/components/examples/getMoveTnsResponse200XmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/moveTnsJsonOrders"},"examples":{"example":{"value":{"totalCount":5,"links":{"first":"https://api.bandwidth.com/api/v2/accounts/12346160/moveTns?page=1\u0026size=2","next":"https://api.bandwidth.com/api/v2/accounts/12346160/moveTns?page=e0ad355f-9e0c-45a0-a8cb-9a98eae0661f\u0026size=2"},"orders":[{"accountId":12346160,"orderId":"4bf48140-59ba-45d0-8d52-661574781ab0","userId":"systemUser","lastModifiedDate":"2025-05-27T11:16:37.967Z","phoneNumberCount":1,"orderType":"move_tns","orderDate":"2025-05-27T11:16:37.648Z","orderStatus":"COMPLETE","sourceAccountId":12346159},{"accountId":12346160,"orderId":"c17efbb9-9cb6-4bd3-9326-566bad84cb09","userId":"systemUser","lastModifiedDate":"2025-05-27T04:07:59.327Z","phoneNumberCount":1,"orderType":"move_tns","orderDate":"2025-05-27T04:07:59.256Z","orderStatus":"FAILED","sourceAccountId":12346159}]}}}}}},"postMoveTnsResponse201":{"description":"The order has been created. An order ID will be specified in the payload and header","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/moveTnsOrderResponse"},"examples":{"example":{"$ref":"#/components/examples/postMoveTnsResponse201XmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/moveTnsOrderJsonResponsePayload"},"examples":{"example":{"value":{"orderId":"4bf48140-59ba-45d0-8d52-661574781ab0","accountId":9900012,"sourceAccountId":9900013,"lastModifiedDate":"2025-05-27T11:16:37.967Z","createdByUser":"systemUser","subAccountId":487,"orderCreateDate":"2025-05-27T11:16:37.648Z","phoneNumbers":["\u002B18012141003"],"orderStatus":"RECEIVED","errors":[],"warnings":[],"locationId":500026}}}}}},"postMoveTnsResponse400":{"description":"The order failed. One of the input parameters is invalid. The error text and an error code will be provided in the ErrorList element","content":{"application/xml":{"examples":{"example":{"$ref":"#/components/examples/postMoveTnsResponse400XmlExample"}}},"application/json":{"examples":{"example":{"value":{"errorCode":1003,"description":"subAccountId is required"}}}}}},"getMoveTnsOrderByOrderIdResponse200":{"description":"The information has been successfully retrieved and displayed in the payload","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/moveTnsOrderPayload"},"examples":{"example":{"$ref":"#/components/examples/getMoveTnsOrderResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/moveTnsOrderJsonResponsePayload"},"examples":{"moveTnsSuccess":{"value":{"orderId":"4bf48140-59ba-45d0-8d52-661574781ab0","accountId":9900012,"sourceAccountId":9900013,"lastModifiedDate":"2025-05-27T11:16:37.967Z","createdByUser":"systemUser","subAccountId":487,"orderCreateDate":"2025-05-27T11:16:37.648Z","phoneNumbers":["\u002B18012141003"],"orderStatus":"COMPLETE","errors":[],"warnings":[],"locationId":500026}},"moveTnsSuccessWithWarning":{"value":{"orderId":"d1f266c1-1819-4a82-ad77-399bb2e7c2a0","accountId":12346181,"lastModifiedDate":"2025-05-30T08:15:31.383Z","createdByUser":"systemUser","subAccountId":508,"orderCreateDate":"2025-05-30T08:15:30.883Z","phoneNumbers":["\u002B18012141002"],"orderStatus":"COMPLETE","sourceAccountId":12346159,"e911ServiceAction":"MOVE","errors":[],"warnings":[{"phoneNumber":"\u002B18012141002","description":"E911 provisioning failed."}],"locationId":500047}},"moveTnsFailure":{"value":{"orderId":"e2e5c8f4-70fa-4c4a-b69a-386abee8c1c4","accountId":12346160,"lastModifiedDate":"2025-05-29T11:33:44.644Z","createdByUser":"systemUser","subAccountId":487,"orderCreateDate":"2025-05-29T11:33:41.496Z","phoneNumbers":["\u002B18012141002"],"orderStatus":"FAILED","sourceAccountId":12346159,"errors":[{"code":5312,"description":"An order is already processing this TN.","phoneNumbers":["\u002B18012141002"]}],"warnings":[],"locationId":500026}}}}}},"getMoveTnsOrderByOrderIdResponse404":{"description":"Data not found for the requested orderId","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/moveTnsOrderPayload404XmlResponse"},"examples":{"example":{"$ref":"#/components/examples/moveTnsOrderPayload404XmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/moveTnsOrderPayload404JsonResponse"},"examples":{"example":{"value":{"code":404,"description":"Order with such id was not found."}}}}}},"postMoveTnsCheckerResponse200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/moveTnsCheckerPayloadJson"},"examples":{"example":{"$ref":"#/components/examples/moveTnsCheckerResponseJsonExample200"}}}}},"postMoveTnsCheckerResponse400":{"description":"The request failed. One of the input parameters is invalid. The error text and an error code will be provided in the ErrorList element","content":{"application/json":{"schema":{"$ref":"#/components/schemas/moveTnsCheckerResponse400Json"},"examples":{"example":{"$ref":"#/components/examples/moveTnsCheckerResponseJsonExample400"}}}}},"getMoveTnsOrderHistoryResponse200":{"description":"The history has been successfully retrieved and displayed in the payload","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/orderHistoryWrapper"},"examples":{"example":{"$ref":"#/components/examples/getMoveTnsOrderHistoryResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/orderHistoryJson"},"examples":{"example":{"$ref":"#/components/examples/getMoveTnsOrderHistoryResponseJsonExample"}}}}},"createMoveTnsBulkOrder202Response":{"content":{"application/json":{"examples":{"moveTnsBulkOrder202ResponseExample":{"$ref":"#/components/examples/createMoveTnsBulkOrder202ResponseExample"}},"schema":{"$ref":"#/components/schemas/createMoveTnsBulkOrder202Response"}}},"description":"Accepted"},"createMoveTnsBulkOrder400Response":{"content":{"application/json":{"examples":{"createMoveTnsBulkOrder400ResponseWithMetaExample":{"$ref":"#/components/examples/createMoveTnsBulkOrder400ResponseWithMetaExample"},"createMoveTnsBulkOrder400ResponseWithoutMetaExample":{"$ref":"#/components/examples/createMoveTnsBulkOrder400ResponseWithoutMetaExample"}},"schema":{"$ref":"#/components/schemas/createMoveTnsBulkOrder400Response"}}},"description":"Bad Request"},"bulkPhoneNumberUpdate200Response":{"description":"OK","content":{"application/json":{"examples":{"bulkPhoneNumberAddSuccessResponseExample":{"$ref":"#/components/examples/bulkPhoneNumberAddSuccessResponseExample"},"bulkPhoneNumberAddSuccessWithErrorsResponseExample":{"$ref":"#/components/examples/bulkPhoneNumberAddSuccessWithErrorsResponseExample"},"bulkPhoneNumberRemoveSuccessResponseExample":{"$ref":"#/components/examples/bulkPhoneNumberRemoveSuccessResponseExample"},"bulkPhoneNumberRemoveSuccessWithErrorsResponseExample":{"$ref":"#/components/examples/bulkPhoneNumberRemoveSuccessWithErrorsResponseExample"}},"schema":{"$ref":"#/components/schemas/bulkPhoneNumberUpdate200Response"}}}},"getMoveTnsBulkOrderStatus200Response":{"content":{"application/json":{"examples":{"getMoveTnsBulkOrderCompleteExample":{"$ref":"#/components/examples/getMoveTnsBulkOrderCompleteExample"},"getMoveTnsBulkOrderCompleteResponseExampleWithDetails":{"$ref":"#/components/examples/getMoveTnsBulkOrderCompleteResponseExampleWithDetails"},"getMoveTnsBulkOrderFailedResponseExample":{"$ref":"#/components/examples/getMoveTnsBulkOrderFailedResponseExample"},"getMoveTnsBulkOrderProcessingExample":{"$ref":"#/components/examples/getMoveTnsBulkOrderProcessingExample"},"getMoveTnsBulkOrderReceivedResponseExample":{"$ref":"#/components/examples/getMoveTnsBulkOrderReceivedResponseExample"}},"schema":{"$ref":"#/components/schemas/getMoveTnsBulkOrderStatusResponse"}}},"description":"OK"},"getListOfCustomers200Response":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/getListOfCustomers200Response"},"examples":{"example":{"$ref":"#/components/examples/getListOfCustomers200ResponseExample"}}}}},"getCustomer200Response":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/getCustomer200Response"},"examples":{"example":{"$ref":"#/components/examples/getCustomer200ResponseExample"}}}}},"badRequestError":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"badRequestErrorExample":{"$ref":"#/components/examples/badRequestErrorExample"}}}}},"updatePhoneNumberTagBadRequestError":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"invalidPhoneNumberBadRequestErrorExample":{"$ref":"#/components/examples/invalidPhoneNumberBadRequestErrorExample"},"invalidActionBadRequestErrorExample":{"$ref":"#/components/examples/invalidActionBadRequestErrorExample"}}}}},"deleteTagBadRequestError":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"tagNotFoundBadRequestErrorExample":{"$ref":"#/components/examples/tagNotFoundBadRequestErrorExample"}}}}},"badRequestErrorCustomer":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericErrorCustomer"},"examples":{"badRequestErrorExample":{"$ref":"#/components/examples/badRequestErrorExample"}}}}},"unauthorizedErrorBasic":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"unauthorizedErrorExample":{"$ref":"#/components/examples/unauthorizedErrorExample"}}}}},"unauthorizedErrorBasicCustomer":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericErrorCustomer"},"examples":{"unauthorizedErrorExample":{"$ref":"#/components/examples/unauthorizedErrorExample"}}}}},"unauthorizedError":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorSignum"}}}},"forbiddenError":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericErrorCustomer"},"examples":{"unknownAccountErrorExample":{"$ref":"#/components/examples/forbiddenErrorExample"}}}}},"customerNotFoundError":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericErrorCustomer"},"examples":{"customerNotFoundErrorExample":{"$ref":"#/components/examples/customerNotFoundErrorExample"}}}}},"methodNotAllowedError":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"unknownAccountErrorExample":{"$ref":"#/components/examples/methodNotAllowedErrorExample"}}}}},"mediaTypeErrorJson":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"jsonMediaTypeErrorExample":{"$ref":"#/components/examples/jsonMediaTypeErrorExample"}}}}},"conflictError":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"unknownAccountErrorExample":{"$ref":"#/components/examples/conflictErrorExample"}}}}},"tooManyRequestsError":{"description":"Too Many Requests Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"unknownAccountErrorExample":{"$ref":"#/components/examples/tooManyRequestsErrorExample"}}}}},"internalServerError":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericError"},"examples":{"unknownAccountErrorExample":{"$ref":"#/components/examples/internalServerErrorExample"}}}}},"forbiddenErrorCustomer":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericErrorCustomer"},"examples":{"unknownAccountErrorExample":{"$ref":"#/components/examples/forbiddenErrorExample"}}}}},"notFoundErrorCustomer":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/genericErrorCustomer"},"examples":{"unknownAccountErrorExample":{"$ref":"#/components/examples/notFoundErrorExample"}}}}},"methodNotAllowedErrorCustomer":{"description":"Method Not Allowed","content":{"application/jso
[...]
