{"openapi":"3.0.1","info":{"title":"Number Acquisition","description":"Bandwidth\u0027s Number Acquisition API\n\nThis API currently provides endpoints to order phone numbers via a New Number Order.","contact":{"name":"Bandwidth","url":"https://dev.bandwidth.com/apis/numbers-apis/number-acquisition/","email":"support@bandwidth.com"},"version":"1.0.0","termsOfService":"https://www.bandwidth.com/legal/terms-of-service/"},"servers":[{"url":"https://api.bandwidth.com/api/v2","description":"Production"}],"security":[{"Basic":[]},{"Bearer":[]}],"paths":{"/accounts/{accountId}/orders":{"get":{"description":"Retrieve order IDs and order details for previously attempted new phone number orders. A maximum of 1,000 orders can be retrieved per request. If no date range or specific query parameter (marked by \u003Cb class=\u0022required\u0022\u003E*\u003C/b\u003E below) is provided, the order results will be limited to the last two years.\n\u003Cp\u003EThis request will return a list of the orders that match the criteria imposed by the provided query parameters.  The orders list contains a detailed description of each order.  Notice that the first elements of the payload provide link information that can be used to page through a paginated list of orders.  Pagination can be controlled by use of the size and page query parameters.\u003C/p\u003E\n\u003Cp\u003EThis order returns a \u003Ccode\u003E204: No Content\u003C/code\u003E when the endpoint finds no results matching the parameters provided.\u003C/p\u003E","operationId":"listNewPhoneNumberOrders","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/requiredPageQueryParam"},{"$ref":"#/components/parameters/requiredSizeQueryParam"},{"$ref":"#/components/parameters/startDateQueryParam"},{"$ref":"#/components/parameters/endDateQueryParam"},{"$ref":"#/components/parameters/customerOrderIdQueryParam"},{"$ref":"#/components/parameters/newPhoneNumberOrderStatusQueryParam"},{"$ref":"#/components/parameters/userIdQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/listNewPhoneNumberOrders200Response"},"204":{"$ref":"#/components/responses/listNewPhoneNumberOrders204Response"},"400":{"$ref":"#/components/responses/listNewPhoneNumberOrders400Response"}},"summary":"List New Number Orders","tags":["New Number Orders"]},"post":{"description":"\u003Cspan\u003EA POST to the /orders resource is used to request that the system provide one or more phone number(s) for use by the account. The post creates a new number order record to preserve the request, as well as the response of the Bandwidth App API to the request.  A well-formed POST on the /orders resource will create an order record, and return an order ID string that can be used to uniquely identify the new number order request. \n\nCapabilities that are not universally available are defined in the table below. The following request schemas and parameters are only allowed for numbers from specific region/country:\n| Number Region | Request Object Type | Request Parameter |\n|:--------------|:------------------|------------------|\n|NANP|rateCenterSearchAndOrderType|-|\n|NANP|areaCodeSearchAndOrderType|-|\n|NANP|npaNxxSearchAndOrderType|-|\n|NANP|tollFreeWildCharSearchAndOrderType|-|\n|NANP|tollFreeVanitySearchAndOrderType|-|\n|NANP|lataSearchAndOrderType|-|\n|NANP|zipSearchAndOrderType|-|\n|NANP|citySearchAndOrderType|-|\n|NANP|stateSearchAndOrderType|-|\n|NANP|combinedSearchAndOrderType|-|\n|NANP|-|backOrderRequested|\n|NANP|-|closeOrder|\n|NANP|-|protected TnAttribute|\n|NANP|-|reservationIdList in ExistingTelephoneNumberOrderType schema|\n\n\u003Cp\u003EPlease visit \u003Ca href=\u0027/docs/numbers/guides/searchingForNumbers/\u0027\u003EGuides and Tutorials\u003C/a\u003E to learn more.\u003C/p\u003E","operationId":"createNewPhoneNumberOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/createNewPhoneNumberOrderRequest"},"responses":{"201":{"$ref":"#/components/responses/createNewPhoneNumberOrder201Response"},"400":{"$ref":"#/components/responses/createNewPhoneNumberOrder400Response"}},"summary":"Create New Number Orders","tags":["New Number Orders"]}},"/accounts/{accountId}/orders/totals":{"get":{"description":"Retrieves a total number of phone number orders.","operationId":"getTotalOrdersByStatus","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/statusQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/newNumberOrderTotalsResponse200"}},"summary":"Get New Number Order Phone Number Count Totals","tags":["New Number Orders"]}},"/accounts/{accountId}/orders/{orderId}":{"get":{"description":"Get all of the details associated with an identified order. \u003Cp\u003EPlease visit \u003Ca href=\u0027/docs/numbers/guides/searchingForNumbers/\u0027\u003EGuides and Tutorials\u003C/a\u003E to learn more.\u003C/p\u003E","operationId":"getNewPhoneNumberOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"},{"$ref":"#/components/parameters/newPhoneNumberOrderPhoneNumberDetailQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/retrieveNewPhoneNumberOrder200Response"},"404":{"$ref":"#/components/responses/retrieveNewPhoneNumberOrder404Response"}},"summary":"Get New Number Order Details","tags":["New Number Orders"]},"put":{"description":"For orders that support Backorder capabilities, new number orders may stay in backordered state while the order is filled. While in this state it is possible to update the modifiable fields in the record, as well as to request that backorder processing of the order be ended.\nThe fields that can be updated are...\n\n\u003Cul\u003E\n\u003Cli\u003EThe order name\u003C/li\u003E\n\u003Cli\u003EThe customer order ID\u003C/li\u003E\n\u003Cli\u003EThe backordered state.\u003C/li\u003E\n\u003C/ul\u003E\n\nSpecifying a \u0026lt;CloseOrder\u0026gt; element (XML) or \u0022closeOrder\u0022 key (JSON) with a value of true will cancel the backorder request, leaving the currently ordered numbers on the account.  No further numbers will be added to the account as a result of the order.","operationId":"updateNewPhoneNumberOrder","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/updateNewPhoneNumberOrderRequest"},"responses":{"200":{"$ref":"#/components/responses/updateNewPhoneNumberOrder200Response"},"400":{"$ref":"#/components/responses/updateNewPhoneNumberOrder400Response"},"404":{"$ref":"#/components/responses/updateNewPhoneNumberOrder404Response"}},"summary":"Update New Number Order","tags":["New Number Orders"]}},"/accounts/{accountId}/orders/{orderId}/areaCodes":{"get":{"description":"Retrieves the area codes of the phone numbers from the specified order.","operationId":"listOrderAreaCodes","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/newNumberOrderAreaCodesResponse200"}},"summary":"List New Number Order Area Codes [NANP]","tags":["New Number Orders"]}},"/accounts/{accountId}/orders/{orderId}/history":{"get":{"description":"Retrieve a full history of updates and changes associated with an order.","operationId":"getOrderHistory","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getNewNumberOrderHistoryResponse200"},"404":{"$ref":"#/components/responses/getNewNumberOrderHistoryResponse404"}},"summary":"Get New Number Order History","tags":["New Number Orders"]}},"/accounts/{accountId}/orders/{orderId}/notes":{"get":{"description":"Retrieve all notes associated with the order.\n\u003Cp\u003EThis order returns a \u003Ccode\u003E204: No Content\u003C/code\u003E when the endpoint finds no results matching the parameters provided.\u003C/p\u003E","operationId":"listOrderNotes","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/newNumberOrderNotesGetResponse200"},"204":{"$ref":"#/components/responses/newNumberOrderNotesGetResponse204"}},"summary":"List New Number Order Notes","tags":["New Number Orders"]},"post":{"description":"Add a note to an order. This causes a notification to be sent to Bandwidth Operations, so that they may assist as necessary. A note may be up to 500 characters in length.","operationId":"createOrderNote","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/postNewNumberOrderNotesRequest"},"responses":{"201":{"$ref":"#/components/responses/newNumberOrderNotesPostResponse201"},"400":{"$ref":"#/components/responses/newNumberOrderNotesPostResponse400"}},"summary":"Create New Number Order Note","tags":["New Number Orders"]}},"/accounts/{accountId}/orders/{orderId}/notes/{noteId}":{"put":{"description":"Update a specified note. Notes may only be updated, not deleted.","operationId":"updateOrderNote","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"},{"$ref":"#/components/parameters/noteIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/putNewNumberOrderNotesRequest"},"responses":{"200":{"$ref":"#/components/responses/putNewNumberOrderNotesResponse200"},"400":{"$ref":"#/components/responses/putNewNumberOrderNotesResponse400"}},"summary":"Update New Number Order Note","tags":["New Number Orders"]}},"/accounts/{accountId}/orders/{orderId}/npaNxx":{"get":{"description":"Retrieves the Npa-Nxx of the phone numbers from the specified order.","operationId":"listOrderNpaNxx","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getNewNumberOrderNpaNxxResponse200"}},"summary":"List New Number Order Npa-Nxx [NANP]","tags":["New Number Orders"]}},"/accounts/{accountId}/orders/{orderId}/tns":{"get":{"description":"Returns a list of phone numbers associated with the ID of a given new number order.","operationId":"listOrderTns","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getNewNumberOrderTnListResponse200"},"404":{"$ref":"#/components/responses/getNewNumberOrderTnListResponse404"}},"summary":"List Phone Numbers from a New Number Order","tags":["New Number Orders"]}},"/accounts/{accountId}/orders/{orderId}/totals":{"get":{"description":"Retrieves the total quantity of phone numbers from the specified new number order.","operationId":"getOrderTotals","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/orderIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getNewNumberOrderIdTotalsResponse200"}},"summary":"Get Quantity Of Phone Numbers In New Number Order","tags":["New Number Orders"]}},"/cities":{"get":{"description":"The /cities resource returns all the cities in the indicated state that are supported from a coverage perspective and, if requested, that contain orderable inventory. The values returned indicate the names of the cities and, if \u003Cb\u003Eavailable\u003C/b\u003E is specified, then returns the available inventory by city. Note that the mapping between rate center and city is not completely predictable because multiple cities can be served by a single rate center and it may take multiple rate centers to serve a city. The rate centers results are more predictable because they are defined strictly in telecommunication terms. The rate centers and cities API calls return information about the Bandwidth CLEC network, including coverage data, indicating both the extent of on-net and off-net coverage, as well as number availability, again from an on-net and off-net perspective. The rules are as follows: \u003Cul\u003E\u003Cli\u003EIf supported=true is specified, then the coverage or availability is reported for the Bandwidth CLEC only.\u003C/li\u003E\u003Cli\u003EIf supported is omitted or false, then the coverage or availability is reported for the combination of the Bandwidth CLEC and our partners.\u003C/li\u003E\u003Cli\u003EIf available=true is specified, then only rate centers in which we have available numbers are reported.\u003C/li\u003E\u003Cli\u003EIf available is omitted or false, then all rate centers within the scope defined by supported will be returned.\u003C/li\u003E\u003C/ul\u003EThese rules apply to both the /rateCenters and /cities API calls. \u003Ctable border=\u00221\u0022 cellpadding=\u00220\u0022 cellspacing=\u00220\u0022\u003E \u003Ctbody\u003E \u003Ctr\u003E \u003Ctd valign=\u0022top\u0022\u003E \u003C/td\u003E \u003Ctd valign=\u0022top\u0022\u003E Supported = true \u003C/td\u003E \u003Ctd valign=\u0022top\u0022\u003E Supported is missing \u003C/td\u003E \u003C/tr\u003E \u003Ctr\u003E \u003Ctd valign=\u0022top\u0022\u003E available = true \u003C/td\u003E \u003Ctd valign=\u0022top\u0022\u003E Available numbers within the Bandwidth CLEC network \u003C/td\u003E \u003Ctd valign=\u0022top\u0022\u003E Available numbers within the Bandwidth CLEC network combined with our partner networks \u003C/td\u003E \u003C/tr\u003E \u003Ctr\u003E \u003Ctd valign=\u0022top\u0022\u003E available is missing \u003C/td\u003E \u003Ctd valign=\u0022top\u0022\u003E Coverage in the Bandwidth CLEC \u003C/td\u003E \u003Ctd valign=\u0022top\u0022\u003E Coverage of the combined Bandwidth CLEC \u002B Partner networks \u003C/td\u003E \u003C/tr\u003E \u003C/tbody\u003E \u003C/table\u003E","operationId":"listCities","parameters":[{"$ref":"#/components/parameters/stateQueryParam"},{"$ref":"#/components/parameters/availableCityQueryParam"},{"$ref":"#/components/parameters/supportedQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/listCities200Response"},"400":{"$ref":"#/components/responses/listCities400Response"},"500":{"$ref":"#/components/responses/listCities500Response"}},"summary":"List Cities [NANP]","tags":["Coverage"]}},"/rateCenters":{"get":{"description":"The rateCenters resource returns all the rate centers in the indicated state that are supported from a coverage perspective and, if requested, that contain orderable inventory. The values returned indicate the names of the rate centers and, if the query parameter \u003Cb\u003Eavailable\u003C/b\u003E is specified, then returns the available inventory by rate center. The rate centers API call returns information about the Bandwidth CLEC network, including coverage data, indicating both the extent of on-net and off-net coverage, as well as number availability, again from an on-net and off-net perspective. The rules are as follows: \u003Cul\u003E\u003Cli\u003EIf supported=true is specified, then the coverage or availability is reported for the Bandwidth CLEC only.\u003C/li\u003E\u003Cli\u003EIf supported=true is omitted or false, then the coverage or availability is reported for the combination of the Bandwidth CLEC and our partners.\u003C/li\u003E\u003Cli\u003EIf available=true is specified, then only rate centers in which we have available numbers are reported.\u003C/li\u003E\u003Cli\u003EIf available is omitted or false, then all rate centers within the scope defined by supported will be returned.\u003C/li\u003E\u003C/ul\u003EThese rules apply to both the /rateCenters and /cities API calls. \u003Ctable border=\u00221\u0022 cellpadding=\u00220\u0022 cellspacing=\u00220\u0022\u003E \u003Ctbody\u003E \u003Ctr\u003E \u003Ctd valign=\u0022top\u0022\u003E \u003C/td\u003E \u003Ctd valign=\u0022top\u0022\u003E Supported = true \u003C/td\u003E \u003Ctd valign=\u0022top\u0022\u003E Supported is missing \u003C/td\u003E \u003C/tr\u003E \u003Ctr\u003E \u003Ctd valign=\u0022top\u0022\u003E available = true \u003C/td\u003E \u003Ctd valign=\u0022top\u0022\u003E Available numbers within the Bandwidth CLEC network \u003C/td\u003E \u003Ctd valign=\u0022top\u0022\u003E Available numbers within the Bandwidth CLEC network combined with our partner networks \u003C/td\u003E \u003C/tr\u003E \u003Ctr\u003E \u003Ctd valign=\u0022top\u0022\u003E available is missing \u003C/td\u003E \u003Ctd valign=\u0022top\u0022\u003E Coverage in the Bandwidth CLEC \u003C/td\u003E \u003Ctd valign=\u0022top\u0022\u003E Coverage of the combined Bandwidth CLEC \u002B Partner networks \u003C/td\u003E \u003C/tr\u003E \u003C/tbody\u003E \u003C/table\u003E","operationId":"listRateCenters","parameters":[{"$ref":"#/components/parameters/stateQueryParam"},{"$ref":"#/components/parameters/availableRateCenterQueryParam"},{"$ref":"#/components/parameters/supportedQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/listRateCenters200Response"},"400":{"$ref":"#/components/responses/listRateCenters400Response"},"500":{"$ref":"#/components/responses/listRateCenters500Response"}},"summary":"List Rate Centers","tags":["Coverage"]}},"/coveredRateCenters":{"get":{"description":"The Covered Rate Centers API returns information about the Bandwidth CLEC network, including coverage data. This indicates the extent of on-net and off-net coverage, as well as number availability.","operationId":"listCoveredRateCenters","parameters":[{"$ref":"#/components/parameters/pageQueryParam"},{"$ref":"#/components/parameters/sizeQueryParam"},{"$ref":"#/components/parameters/embedQueryParam"},{"$ref":"#/components/parameters/optionalStateQueryParam"},{"$ref":"#/components/parameters/abbreviationQueryParam"},{"$ref":"#/components/parameters/nameQueryParam"},{"$ref":"#/components/parameters/zipQueryParam"},{"$ref":"#/components/parameters/cityQueryParam"},{"$ref":"#/components/parameters/lataQueryParam"},{"$ref":"#/components/parameters/tierQueryParam"},{"$ref":"#/components/parameters/npaQueryParam"},{"$ref":"#/components/parameters/npaNxxQueryParam"},{"$ref":"#/components/parameters/npaNxxXQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/listCoveredRateCenters200Response"},"204":{"$ref":"#/components/responses/listCoveredRateCenters204Response"},"303":{"$ref":"#/components/responses/listCoveredRateCenters303Response"},"400":{"$ref":"#/components/responses/listCoveredRateCenters400Response"},"500":{"$ref":"#/components/responses/listCoveredRateCenters500Response"}},"summary":"List Covered Rate Centers","tags":["Coverage"]}},"/coveredRateCenters/{rateCenterId}":{"get":{"description":"Get information about a covered rate center by ID.","operationId":"getCoveredRateCenter","parameters":[{"$ref":"#/components/parameters/rateCenterIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getCoveredRateCenter200Response"},"404":{"$ref":"#/components/responses/getCoveredRateCenter404Response"}},"summary":"Get Covered Rate Center","tags":["Coverage"]}},"/accounts/{accountId}/availableNpaNxx":{"get":{"description":"Retrieves a list of available Npa-Nxx phone numbers.","operationId":"getAvailableNpaNxx","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/areaCodeQueryParam"},{"$ref":"#/components/parameters/optionalStateQueryParam"},{"$ref":"#/components/parameters/quantityQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/getAvailableNpaNxx200Response"},"400":{"$ref":"#/components/responses/getAvailableNpaNxx400Response"},"404":{"$ref":"#/components/responses/getAvailableNpaNxx404Response"}},"summary":"List Available NPA-NXX Phone Numbers [NANP]","tags":["Coverage"]}}},"components":{"parameters":{"accountIdPathParam":{"description":"User\u0027s account ID.","example":"1234567","in":"path","name":"accountId","required":true,"schema":{"type":"string"}},"requiredPageQueryParam":{"description":"An ID of the first element in a page.  This value will indicate the first value, not the page number, of the initial entry in the page being requested. The initial page is tagged with the ID \u00601\u0060 as a convention.","in":"query","name":"page","required":true,"schema":{"default":1,"example":1,"type":"integer"}},"startDateQueryParam":{"description":"The starting date of a search in yy-mm-dd format. startdate and enddate \u003Cstrong\u003Emust\u003C/strong\u003E be used as a pair.","in":"query","name":"startDate","required":false,"schema":{"example":"22-10-31","type":"string"}},"requiredSizeQueryParam":{"description":"The number of elements to retrieve","in":"query","name":"size","required":true,"schema":{"example":30,"type":"integer"}},"endDateQueryParam":{"description":"The ending date of a search in yy-mm-dd format. startdate and enddate \u003Cstrong\u003Emust\u003C/strong\u003E be used as a pair.","in":"query","name":"endDate","required":false,"schema":{"example":"23-10-31","type":"string"}},"customerOrderIdQueryParam":{"description":"The Customer Order ID is an ID assigned by the account owner to provide a reference number for the order.","example":"ABCCorp12345","in":"query","name":"customerOrderId","schema":{"type":"string"}},"newPhoneNumberOrderStatusQueryParam":{"description":"The status of the orders that should be in the returned set","example":"BACKORDERED","in":"query","name":"status","required":false,"schema":{"$ref":"#/components/schemas/visibleOrderStatusJson"}},"userIdQueryParam":{"description":"The userId that submitted the order","in":"query","name":"userId","schema":{"example":"testUser","type":"string"}},"orderIdPathParam":{"description":"ID of order to retrieve","example":"bf1305b8-8998-1111-2222-51ba3ce52d4e","in":"path","name":"orderId","required":true,"schema":{"type":"string"}},"newPhoneNumberOrderPhoneNumberDetailQueryParam":{"description":"if true, an extended payload describing details about the ordered phone numbers will be provided","example":true,"in":"query","name":"tndetail","required":false,"schema":{"default":false,"type":"boolean"}},"statusQueryParam":{"description":"The status of an order. Possible values are RECEIVED, COMPLETE, PARTIAL, BACKORDERED, FAILED, and PROCESSING.","in":"query","name":"status","schema":{"type":"string"}},"noteIdPathParam":{"description":"Note ID","example":"123","in":"path","name":"noteId","required":true,"schema":{"type":"string"}},"stateQueryParam":{"name":"state","description":"A 2 character state code.","in":"query","required":true,"schema":{"type":"string"},"example":"NC"},"availableCityQueryParam":{"name":"available","description":"If set to true, the payload includes the quantity of the available phone numbers in that city.","in":"query","required":false,"schema":{"type":"boolean"},"example":true},"supportedQueryParam":{"name":"supported","description":"If set to true, the payload will show rate centers that Bandwidth serves directly.","in":"query","required":false,"schema":{"type":"boolean"},"example":true},"availableRateCenterQueryParam":{"name":"available","description":"If set to true, the payload includes the quantity of the available phone numbers in that rate center.","in":"query","required":false,"schema":{"type":"boolean"},"example":true},"pageQueryParam":{"name":"page","description":"The starting value for a paginated response. The default is \u00271\u0027, indicating the first page of results.","in":"query","required":true,"schema":{"type":"number"},"example":1},"sizeQueryParam":{"name":"size","description":"The number of rate centers to include in a paginated result payload.","in":"query","required":true,"schema":{"type":"number"},"example":50},"embedQueryParam":{"name":"embed","description":"A set of fields to be included in the response. Lists of zip codes, cities, vendors, NpaNxxXs, and counts of available or limited available phone numbers are not included for each rate center by default. For example, if the payload should contain a list of the cities covered by the rate centers, then embed=cities would be included as a query parameter. A list of vendors is available only for admin users. No filter parameters are supported if LocalRateCenters is specified. In this case, only size, page, and any other embed parameters are supported.","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},"abbreviationQueryParam":{"name":"abbreviation","description":"A rate center\u0027s abbreviation.","in":"query","required":false,"schema":{"type":"string"},"example":"BARTLESVL"},"nameQueryParam":{"name":"name","description":"The name of a rate center.","in":"query","required":false,"schema":{"type":"string"},"example":"BARTLESVILLE"},"zipQueryParam":{"name":"zip","description":"A 5 digit ZIP code of the area covered by the rate center.","in":"query","required":false,"schema":{"type":"string"},"example":"74029"},"cityQueryParam":{"name":"city","description":"The name of a city covered by the rate center.","in":"query","required":false,"schema":{"type":"string"},"example":"DEWEY"},"lataQueryParam":{"name":"lata","description":"A 3 or 5 digit rate center\u0027s LATA.","in":"query","required":false,"schema":{"type":"number"},"example":538},"tierQueryParam":{"name":"tier","description":"The tier associated with covered rate center; a value from 0 to 5.","in":"query","required":false,"schema":{"type":"number"},"example":0},"npaQueryParam":{"name":"npa","description":"The 3 digit NPA or area code covered by the rate center.","in":"query","required":false,"schema":{"type":"number"},"example":918},"npaNxxQueryParam":{"name":"npaNxx","description":"The 6 digits NPA and NXX values covered by the rate center.","in":"query","required":false,"schema":{"type":"number"},"example":918886},"npaNxxXQueryParam":{"name":"npaNxxX","description":"The 7 digits of the NPA, NXX, and thousands-block values covered by the rate center.","in":"query","required":false,"schema":{"type":"number"},"example":9188862},"optionalStateQueryParam":{"name":"state","description":"A 2 character state code","in":"query","required":false,"schema":{"type":"string"},"example":"OK"},"rateCenterIdPathParam":{"name":"rateCenterId","in":"path","required":true,"schema":{"type":"string"}},"areaCodeQueryParam":{"name":"areaCode","description":"The allowed number ranges are [2-9] for the first digit and [0-9] for both the second and third digits.","in":"query","required":false,"schema":{"type":"string"},"example":"919"},"quantityQueryParam":{"name":"quantity","description":"Filters out any Npa-Nxx grouped phone numbers whose quantity falls short of the given quantity.","in":"query","required":false,"schema":{"type":"integer"},"example":150}},"requestBodies":{"createNewPhoneNumberOrderRequest":{"content":{"application/json":{"examples":{"combinedSearchAndOrderType (local vanity) [NANP]":{"$ref":"#/components/examples/createNewPhoneNumberOrderCombinedSearchAndOrderLocalVanityNanpJsonExample"},"combinedSearchAndOrderType (protected status) [NANP]":{"$ref":"#/components/examples/createNewPhoneNumberOrderCombinedSearchAndOrderProtectedStatusNanpJsonExample"},"combinedSearchAndOrderType [NANP]":{"$ref":"#/components/examples/createNewPhoneNumberOrderCombinedSearchAndOrderNanpJsonExample"},"existingPhoneNumberOrderType":{"$ref":"#/components/examples/createNewPhoneNumberOrderExistingPhoneNumberOrderTypeJsonExample"}},"schema":{"$ref":"#/components/schemas/createNewPhoneNumberOrderRequestSchemaJson"}},"application/xml":{"examples":{"AreaCodeSearchAndOrderType [NANP]":{"$ref":"#/components/examples/createNewPhoneNumberOrderAreaCodeSearchAndOrderNanpXmlExample"},"CitySearchAndOrderType [NANP]":{"$ref":"#/components/examples/createNewPhoneNumberOrderCitySearchAndOrderNanpXmlExample"},"CombinedSearchAndOrderType (local vanity) [NANP]":{"$ref":"#/components/examples/createNewPhoneNumberOrderCombinedSearchAndOrderLocalVanityNanpXmlExample"},"CombinedSearchAndOrderType (protected status) [NANP]":{"$ref":"#/components/examples/createNewPhoneNumberOrderCombinedSearchAndOrderProtectedStatusNanpXmlExample"},"CombinedSearchAndOrderType [NANP]":{"$ref":"#/components/examples/createNewPhoneNumberOrderCombinedSearchAndOrderNanpXmlExample"},"ExistingTelephoneNumberOrderType":{"$ref":"#/components/examples/createNewPhoneNumberOrderExistingTelephoneNumberOrderTypeXmlExample"},"General":{"$ref":"#/components/examples/createNewPhoneNumberOrderGeneralXmlExample"},"LATASearchAndOrderType [NANP]":{"$ref":"#/components/examples/createNewPhoneNumberOrderLataSearchAndOrderNanpXmlExample"},"NPANXXSearchAndOrderType [NANP]":{"$ref":"#/components/examples/createNewPhoneNumberOrderNpaNxxSearchAndOrderNanpXmlExample"},"RateCenterSearchAndOrderType [NANP]":{"$ref":"#/components/examples/createNewPhoneNumberOrderRateCenterSearchAndOrderNanpXmlExample"},"StateSearchAndOrderType [NANP]":{"$ref":"#/components/examples/createNewPhoneNumberOrderStateSearchAndOrderNanpXmlExample"},"TollFreeVanitySearchAndOrderType [NANP]":{"$ref":"#/components/examples/createNewPhoneNumberOrderTollFreeVanitySearchAndOrderNanpXmlExample"},"TollFreeWildCharSearchAndOrderType [NANP]":{"$ref":"#/components/examples/createNewPhoneNumberOrderTollFreeWildCharSearchAndOrderNanpXmlExample"},"ZIPSearchAndOrderType [NANP]":{"$ref":"#/components/examples/createNewPhoneNumberOrderZipSearchAndOrderNanpXmlExample"}},"schema":{"oneOf":[{"$ref":"#/components/schemas/existingTelephoneNumberOrder"},{"$ref":"#/components/schemas/rateCenterSearchAndOrderNanp"},{"$ref":"#/components/schemas/areaCodeSearchAndOrderNanp"},{"$ref":"#/components/schemas/npaNxxSearchAndOrderNanp"},{"$ref":"#/components/schemas/tollFreeWildCharSearchAndOrderNanp"},{"$ref":"#/components/schemas/tollFreeVanitySearchAndOrderNanp"},{"$ref":"#/components/schemas/lataSearchAndOrderNanp"},{"$ref":"#/components/schemas/zipSearchAndOrderNanp"},{"$ref":"#/components/schemas/citySearchAndOrderNanp"},{"$ref":"#/components/schemas/stateSearchAndOrderNanp"},{"$ref":"#/components/schemas/combinedSearchAndOrderNanp"}]}}}},"updateNewPhoneNumberOrderRequest":{"content":{"application/json":{"examples":{"example":{"$ref":"#/components/examples/updateNewPhoneNumberOrderJsonExample"}},"schema":{"$ref":"#/components/schemas/updateNewPhoneNumberOrderJson"}},"application/xml":{"examples":{"example":{"$ref":"#/components/examples/updateNewPhoneNumberOrderXmlExample"}},"schema":{"$ref":"#/components/schemas/orderUpdate"}}}},"postNewNumberOrderNotesRequest":{"content":{"application/xml":{"examples":{"example":{"$ref":"#/components/examples/postNewNumberOrderNotesRequestXmlExample"}},"schema":{"$ref":"#/components/schemas/note"}}}},"putNewNumberOrderNotesRequest":{"content":{"application/xml":{"examples":{"example":{"$ref":"#/components/examples/putNewNumberOrderNotesRequestXmlExample"}},"schema":{"$ref":"#/components/schemas/note"}}}}},"examples":{"createNewPhoneNumberOrderCombinedSearchAndOrderLocalVanityNanpJsonExample":{"description":"Specify areaCode and localVanity to order phone numbers matching a specific alphanumeric pattern between 4 and 7 characters long.\nLimitations: areaCode is required when searching for a local vanity number. No other parameter combinations are allowed here. This order type is unsupported with backOrderRequested=true.","value":{"backOrderRequested":false,"customerOrderId":"SJM00004","orderType":{"areaCode":"617","endsIn":false,"localVanity":"newcars","quantity":1,"type":"combinedSearchAndOrderType"},"subAccountId":743,"tags":[{"tagName":"customerId","tagValue":"11111111-1111-1111-1111-111111111111"}]}},"createNewPhoneNumberOrderCombinedSearchAndOrderProtectedStatusNanpJsonExample":{"description":"combinedSearchAndOrderType on a number in Protected status","value":{"backOrderRequested":false,"customerOrderId":"SJM00005","orderType":{"city":"RALEIGH","enableLCA":false,"npaNxx":"919439","quantity":1,"state":"NC","type":"combinedSearchAndOrderType"},"partialAllowed":false,"phoneNumberAttributes":["PROTECTED"],"subAccountId":743,"tags":[{"tagName":"customerId","tagValue":"11111111-1111-1111-1111-111111111111"}]}},"createNewPhoneNumberOrderCombinedSearchAndOrderNanpJsonExample":{"description":"Specify any combination of: areaCode, rateCenter, state, npaNxx, npaNxxX, lata, city, and zip, with the following limitations: areaCode, npaNxx and npaNxxX are mutually exclusive; LCA search is supported only for one of the following criteria: npaNxx, npaNxxX, rateCenter and state; if city or rateCenter is specified, then state is required.","value":{"backOrderRequested":false,"customerOrderId":"SJM00003","orderType":{"areaCode":"617","city":"RALEIGH","enableLCA":false,"lata":"224","quantity":1,"rateCenter":"RALEIGH","state":"NC","type":"combinedSearchAndOrderType","zip":"27606"},"partialAllowed":false,"subAccountId":743,"tags":[{"tagName":"customerId","tagValue":"11111111-1111-1111-1111-111111111111"}]}},"createNewPhoneNumberOrderExistingPhoneNumberOrderTypeJsonExample":{"description":"Order a set of phone numbers known to be available. Typically, when the numbers have been found and/or reserved using a separate availableNumbers search. If the numbers have previously been reserved, a reservation ID must be included for each number.","value":{"autoActivate":true,"customerOrderId":"SJM00002","orderType":{"phoneNumbers":["\u002B19193752369","\u002B19193752720"],"reservationIds":["a8e7d1f9-2c5a-4e3b-8f1c-5d9a7b3e1f02","b4f6c8a1-7e9d-4023-95b7-1a6c4d8e3f5a"],"type":"existingPhoneNumberOrderType"},"partialAllowed":false,"tags":[{"tagName":"customerId","tagValue":"11111111-1111-1111-1111-111111111111"}],"requirementsPackageId":"3fa85f64-5717-4562-b3fc-2c963f66afa6","subAccountId":873,"voiceConfigurationPackageId":"d21315af-9b5b-4b45-a6f4-9106cbfe87d1","voiceIntegrationIds":["5fa85f64-5717-4562-b3fc-2c963f66afa6","5fa85f64-5717-4562-b3fc-2c963f66afa7"]}},"createNewPhoneNumberOrderAreaCodeSearchAndOrderNanpXmlExample":{"description":"Allowed ranges ~ [2-9] for the first digit and [0, 9] for both the second and third digits.","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrder\u003E\n    \u003CCustomerOrderId\u003E123456789\u003C/CustomerOrderId\u003E\n    \u003CName\u003EArea Code Order\u003C/Name\u003E\n    \u003CBackOrderRequested\u003Efalse\u003C/BackOrderRequested\u003E\n    \u003CAreaCodeSearchAndOrderType\u003E\n        \u003CAreaCode\u003E435\u003C/AreaCode\u003E\n        \u003CQuantity\u003E1\u003C/Quantity\u003E\n    \u003C/AreaCodeSearchAndOrderType\u003E\n    \u003CPartialAllowed\u003Etrue\u003C/PartialAllowed\u003E\n    \u003CSiteId\u003E743\u003C/SiteId\u003E\n    \u003CVoiceConfigurationPackageId\u003Ed21315af-9b5b-4b45-a6f4-9106cbfe87d1\u003C/VoiceConfigurationPackageId\u003E\n    \u003CRequirementsPackageId\u003E3fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/RequirementsPackageId\u003E\n    \u003CVoiceIntegrationIds\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/VoiceIntegrationId\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa7\u003C/VoiceIntegrationId\u003E\n    \u003C/VoiceIntegrationIds\u003E\n    \u003CAutoActivate\u003Etrue\u003C/AutoActivate\u003E\n    \u003CTags\u003E\n      \u003CTag\u003E\n        \u003CTagName\u003EcustomerId\u003C/TagName\u003E\n        \u003CTagValue\u003E11111111-1111-1111-1111-111111111111\u003C/TagValue\u003E\n      \u003C/Tag\u003E\n    \u003C/Tags\u003E\n\u003C/Order\u003E"},"createNewPhoneNumberOrderCitySearchAndOrderNanpXmlExample":{"description":"Specify the City and State to be ordered from.","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrder\u003E\n    \u003CCustomerOrderId\u003E123456789\u003C/CustomerOrderId\u003E\n    \u003CName\u003EArea Code Order\u003C/Name\u003E\n    \u003CBackOrderRequested\u003Efalse\u003C/BackOrderRequested\u003E\n    \u003CCitySearchAndOrderType\u003E\n        \u003CQuantity\u003E1\u003C/Quantity\u003E\n        \u003CCity\u003ERALEIGH\u003C/City\u003E\n        \u003CState\u003ENC\u003C/State\u003E\n    \u003C/CitySearchAndOrderType\u003E\n    \u003CPartialAllowed\u003Etrue\u003C/PartialAllowed\u003E\n    \u003CSiteId\u003E743\u003C/SiteId\u003E\n    \u003CVoiceConfigurationPackageId\u003Ed21315af-9b5b-4b45-a6f4-9106cbfe87d1\u003C/VoiceConfigurationPackageId\u003E\n    \u003CRequirementsPackageId\u003E3fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/RequirementsPackageId\u003E\n    \u003CVoiceIntegrationIds\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/VoiceIntegrationId\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa7\u003C/VoiceIntegrationId\u003E\n    \u003C/VoiceIntegrationIds\u003E\n    \u003CAutoActivate\u003Etrue\u003C/AutoActivate\u003E\n    \u003CTags\u003E\n      \u003CTag\u003E\n        \u003CTagName\u003EcustomerId\u003C/TagName\u003E\n        \u003CTagValue\u003E11111111-1111-1111-1111-111111111111\u003C/TagValue\u003E\n      \u003C/Tag\u003E\n    \u003C/Tags\u003E\n\u003C/Order\u003E"},"createNewPhoneNumberOrderCombinedSearchAndOrderLocalVanityNanpXmlExample":{"description":"Specify AreaCode and LocalVanity to order phone numbers matching a specific alphanumeric pattern between 4 and 7 characters long.\nLimitations: AreaCode is always required. No parameter combinations are allowed here/ This order type is unsupported with BackOrderRequested=true.","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrder\u003E\n    \u003CCustomerOrderId\u003E123456789\u003C/CustomerOrderId\u003E\n    \u003CName\u003ELocal Vanity Order\u003C/Name\u003E\n    \u003CCombinedSearchAndOrderType\u003E\n        \u003CAreaCode\u003E617\u003C/AreaCode\u003E\n        \u003CLocalVanity\u003Enewcars\u003C/LocalVanity\u003E\n        \u003CQuantity\u003E1\u003C/Quantity\u003E\n        \u003CEndsIn\u003Efalse\u003C/EndsIn\u003E\n    \u003C/CombinedSearchAndOrderType\u003E\n    \u003CSiteId\u003E743\u003C/SiteId\u003E\n    \u003CVoiceConfigurationPackageId\u003Ed21315af-9b5b-4b45-a6f4-9106cbfe87d1\u003C/VoiceConfigurationPackageId\u003E\n    \u003CRequirementsPackageId\u003E3fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/RequirementsPackageId\u003E\n    \u003CVoiceIntegrationIds\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/VoiceIntegrationId\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa7\u003C/VoiceIntegrationId\u003E\n    \u003C/VoiceIntegrationIds\u003E\n    \u003CAutoActivate\u003Etrue\u003C/AutoActivate\u003E\n    \u003CTags\u003E\n      \u003CTag\u003E\n        \u003CTagName\u003EcustomerId\u003C/TagName\u003E\n        \u003CTagValue\u003E11111111-1111-1111-1111-111111111111\u003C/TagValue\u003E\n      \u003C/Tag\u003E\n    \u003C/Tags\u003E\n\u003C/Order\u003E"},"createNewPhoneNumberOrderCombinedSearchAndOrderProtectedStatusNanpXmlExample":{"description":"CombinedSearchAndOrderType with established Protected status","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrder\u003E\n    \u003CCustomerOrderId\u003E123456789\u003C/CustomerOrderId\u003E\n    \u003CName\u003EArea Code Order\u003C/Name\u003E\n    \u003CBackOrderRequested\u003Efalse\u003C/BackOrderRequested\u003E\n    \u003CCombinedSearchAndOrderType\u003E\n        \u003CNpaNxx\u003E919439\u003C/NpaNxx\u003E\n        \u003CCity\u003ERALEIGH\u003C/City\u003E\n        \u003CState\u003ENC\u003C/State\u003E\n        \u003CEnableLCA\u003Efalse\u003C/EnableLCA\u003E\n        \u003CQuantity\u003E1\u003C/Quantity\u003E\n    \u003C/CombinedSearchAndOrderType\u003E\n    \u003CTnAttributes\u003E\n            \u003CTnAttribute\u003EProtected\u003C/TnAttribute\u003E\n            \u003CTnAttribute\u003EExternal\u003C/TnAttribute\u003E\n            \u003CTnAttribute\u003EImported\u003C/TnAttribute\u003E\n    \u003C/TnAttributes\u003E\n    \u003CPartialAllowed\u003Etrue\u003C/PartialAllowed\u003E\n    \u003CSiteId\u003E743\u003C/SiteId\u003E\n    \u003CVoiceConfigurationPackageId\u003Ed21315af-9b5b-4b45-a6f4-9106cbfe87d1\u003C/VoiceConfigurationPackageId\u003E\n    \u003CRequirementsPackageId\u003E3fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/RequirementsPackageId\u003E\n    \u003CVoiceIntegrationIds\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/VoiceIntegrationId\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa7\u003C/VoiceIntegrationId\u003E\n    \u003C/VoiceIntegrationIds\u003E\n    \u003CAutoActivate\u003Etrue\u003C/AutoActivate\u003E\n    \u003CTags\u003E\n      \u003CTag\u003E\n        \u003CTagName\u003EcustomerId\u003C/TagName\u003E\n        \u003CTagValue\u003E11111111-1111-1111-1111-111111111111\u003C/TagValue\u003E\n      \u003C/Tag\u003E\n    \u003C/Tags\u003E\n\u003C/Order\u003E"},"createNewPhoneNumberOrderCombinedSearchAndOrderNanpXmlExample":{"description":"Specify the any combination of: AreaCode, RateCenter, State, NpaNxx, NpaNxxX, Lata, City, Zip. But with following limitations: AreaCode, NpaNxx and NpaNxxX are mutually exclusive, LCA search is supported only for one of the following criteria: NpaNxx, NpaNxxX, RateCenter and State. If City or RateCenter is specified, then State is required.","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrder\u003E\n    \u003CCustomerOrderId\u003E123456789\u003C/CustomerOrderId\u003E\n    \u003CName\u003EArea Code Order\u003C/Name\u003E\n    \u003CBackOrderRequested\u003Efalse\u003C/BackOrderRequested\u003E\n    \u003CCombinedSearchAndOrderType\u003E\n        \u003CQuantity\u003E1\u003C/Quantity\u003E\n        \u003CAreaCode\u003E617\u003C/AreaCode\u003E\n        \u003CRateCenter\u003ERALEIGH\u003C/RateCenter\u003E\n        \u003CState\u003ENC\u003C/State\u003E\n        \u003CNpaNxx\u003E919439\u003C/NpaNxx\u003E\n        \u003CNpaNxxX\u003E9194391\u003C/NpaNxxX\u003E\n        \u003CLata\u003E224\u003C/Lata\u003E\n        \u003CCity\u003ERALEIGH\u003C/City\u003E\n        \u003CZip\u003E27606\u003C/Zip\u003E\n        \u003CEnableLCA\u003Efalse\u003C/EnableLCA\u003E\n    \u003C/CombinedSearchAndOrderType\u003E\n    \u003CPartialAllowed\u003Etrue\u003C/PartialAllowed\u003E\n    \u003CSiteId\u003E743\u003C/SiteId\u003E\n    \u003CVoiceConfigurationPackageId\u003Ed21315af-9b5b-4b45-a6f4-9106cbfe87d1\u003C/VoiceConfigurationPackageId\u003E\n    \u003CRequirementsPackageId\u003E3fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/RequirementsPackageId\u003E\n    \u003CVoiceIntegrationIds\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/VoiceIntegrationId\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa7\u003C/VoiceIntegrationId\u003E\n    \u003C/VoiceIntegrationIds\u003E\n    \u003CAutoActivate\u003Etrue\u003C/AutoActivate\u003E\n    \u003CTags\u003E\n      \u003CTag\u003E\n        \u003CTagName\u003EcustomerId\u003C/TagName\u003E\n        \u003CTagValue\u003E11111111-1111-1111-1111-111111111111\u003C/TagValue\u003E\n      \u003C/Tag\u003E\n    \u003C/Tags\u003E\n\u003C/Order\u003E"},"createNewPhoneNumberOrderExistingTelephoneNumberOrderTypeXmlExample":{"description":"Order a set of phone numbers known to be available. This often results if the numbers have been found using a separate availableNumbers search. If the numbers have previously been reserved, a reservation ID must be included","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrder\u003E\n    \u003CCustomerOrderId\u003E123456789\u003C/CustomerOrderId\u003E\n    \u003CName\u003EExisting Number Order\u003C/Name\u003E\n    \u003CExistingTelephoneNumberOrderType\u003E\n        \u003CTelephoneNumberList\u003E\n            \u003CTelephoneNumber\u003E\u002B19193752369\u003C/TelephoneNumber\u003E\n            \u003CTelephoneNumber\u003E\u002B19193752720\u003C/TelephoneNumber\u003E\n            \u003CTelephoneNumber\u003E\u002B19193752648\u003C/TelephoneNumber\u003E\n        \u003C/TelephoneNumberList\u003E\n        \u003CReservationIdList\u003E\n            \u003CReservationId\u003E[GUID]\u003C/ReservationId\u003E\n            \u003CReservationId\u003E[GUID]\u003C/ReservationId\u003E\n        \u003C/ReservationIdList\u003E\n    \u003C/ExistingTelephoneNumberOrderType\u003E\n    \u003CSiteId\u003E743\u003C/SiteId\u003E\n    \u003CVoiceConfigurationPackageId\u003Ed21315af-9b5b-4b45-a6f4-9106cbfe87d1\u003C/VoiceConfigurationPackageId\u003E\n    \u003CRequirementsPackageId\u003E3fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/RequirementsPackageId\u003E\n    \u003CVoiceIntegrationIds\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/VoiceIntegrationId\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa7\u003C/VoiceIntegrationId\u003E\n    \u003C/VoiceIntegrationIds\u003E\n    \u003CAutoActivate\u003Etrue\u003C/AutoActivate\u003E\n    \u003CTags\u003E\n      \u003CTag\u003E\n        \u003CTagName\u003EcustomerId\u003C/TagName\u003E\n        \u003CTagValue\u003E11111111-1111-1111-1111-111111111111\u003C/TagValue\u003E\n      \u003C/Tag\u003E\n    \u003C/Tags\u003E\n\u003C/Order\u003E"},"createNewPhoneNumberOrderGeneralXmlExample":{"description":"The \u0027wrapper\u0027 Request Payload\u0027","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrder\u003E\n    \u003CCustomerOrderId\u003ESJM00001\u003C/CustomerOrderId\u003E\n    \u003C!--\n        There are various types of orders, all of which are submitted in the \u0027xxxOrderType\u0027\n        element of the Order Request payload. Replace\n        this comment to create a complete payload that includes the order type and the\n        common elements.\n        Take a look at the example payloads as well.\n    --\u003E\n    \u003CSiteId\u003E202\u003C/SiteId\u003E\n    \u003CPeerId\u003E518824\u003C/PeerId\u003E\n    \u003CVoiceConfigurationPackageId\u003Ed21315af-9b5b-4b45-a6f4-9106cbfe87d1\u003C/VoiceConfigurationPackageId\u003E\n    \u003CRequirementsPackageId\u003E3fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/RequirementsPackageId\u003E\n    \u003CVoiceIntegrationIds\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/VoiceIntegrationId\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa7\u003C/VoiceIntegrationId\u003E\n    \u003C/VoiceIntegrationIds\u003E\n    \u003CAutoActivate\u003Etrue\u003C/AutoActivate\u003E\n    \u003CTnAttributes/\u003E\n    \u003CTags\u003E\n      \u003CTag\u003E\n        \u003CTagName\u003EcustomerId\u003C/TagName\u003E\n        \u003CTagValue\u003E11111111-1111-1111-1111-111111111111\u003C/TagValue\u003E\n      \u003C/Tag\u003E\n    \u003C/Tags\u003E\n\u003C/Order\u003E"},"createNewPhoneNumberOrderLataSearchAndOrderNanpXmlExample":{"description":"Specify the LATA to order phone numbers from.","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrder\u003E\n    \u003CCustomerOrderId\u003E123456789\u003C/CustomerOrderId\u003E\n    \u003CName\u003EArea Code Order\u003C/Name\u003E\n    \u003CBackOrderRequested\u003Efalse\u003C/BackOrderRequested\u003E\n    \u003CLATASearchAndOrderType\u003E\n        \u003CQuantity\u003E1\u003C/Quantity\u003E\n        \u003CLata\u003E224\u003C/Lata\u003E\n    \u003C/LATASearchAndOrderType\u003E\n    \u003CPartialAllowed\u003Etrue\u003C/PartialAllowed\u003E\n    \u003CSiteId\u003E743\u003C/SiteId\u003E\n    \u003CVoiceConfigurationPackageId\u003Ed21315af-9b5b-4b45-a6f4-9106cbfe87d1\u003C/VoiceConfigurationPackageId\u003E\n    \u003CRequirementsPackageId\u003E3fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/RequirementsPackageId\u003E\n    \u003CVoiceIntegrationIds\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/VoiceIntegrationId\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa7\u003C/VoiceIntegrationId\u003E\n    \u003C/VoiceIntegrationIds\u003E\n    \u003CAutoActivate\u003Etrue\u003C/AutoActivate\u003E\n    \u003CTags\u003E\n      \u003CTag\u003E\n        \u003CTagName\u003EcustomerId\u003C/TagName\u003E\n        \u003CTagValue\u003E11111111-1111-1111-1111-111111111111\u003C/TagValue\u003E\n      \u003C/Tag\u003E\n    \u003C/Tags\u003E\n\u003C/Order\u003E"},"createNewPhoneNumberOrderNpaNxxSearchAndOrderNanpXmlExample":{"description":"Specify the NpaNxx combination to be ordered. Valid Npa values ~ [2-9] for the first digit, and [0-9] for both the second and third digits. Valid Nxx values ~ [2-9] for the first digit, and [0-9] for both the second and third digits. A similar approach is viable for NPANXXXX. The EnableLCA flag turns LCA search on or off.\n\nLimitations:\nThese order types are unsupported with BackOrderRequested=true","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrder\u003E\n    \u003CCustomerOrderId\u003E123456789\u003C/CustomerOrderId\u003E\n    \u003CName\u003EArea Code Order\u003C/Name\u003E\n    \u003CBackOrderRequested\u003Efalse\u003C/BackOrderRequested\u003E\n    \u003CNPANXXSearchAndOrderType\u003E\n        \u003CNpaNxx\u003E919439\u003C/NpaNxx\u003E\n        \u003CEnableTNDetail\u003Etrue\u003C/EnableTNDetail\u003E\n        \u003CEnableLCA\u003Efalse\u003C/EnableLCA\u003E\n        \u003CQuantity\u003E1\u003C/Quantity\u003E\n    \u003C/NPANXXSearchAndOrderType\u003E\n    \u003CPartialAllowed\u003Etrue\u003C/PartialAllowed\u003E\n    \u003CSiteId\u003E743\u003C/SiteId\u003E\n    \u003CVoiceConfigurationPackageId\u003Ed21315af-9b5b-4b45-a6f4-9106cbfe87d1\u003C/VoiceConfigurationPackageId\u003E\n    \u003CRequirementsPackageId\u003E3fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/RequirementsPackageId\u003E\n    \u003CVoiceIntegrationIds\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/VoiceIntegrationId\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa7\u003C/VoiceIntegrationId\u003E\n    \u003C/VoiceIntegrationIds\u003E\n    \u003CAutoActivate\u003Etrue\u003C/AutoActivate\u003E\n    \u003CTags\u003E\n      \u003CTag\u003E\n        \u003CTagName\u003EcustomerId\u003C/TagName\u003E\n        \u003CTagValue\u003E11111111-1111-1111-1111-111111111111\u003C/TagValue\u003E\n      \u003C/Tag\u003E\n    \u003C/Tags\u003E\n\u003C/Order\u003E"},"createNewPhoneNumberOrderRateCenterSearchAndOrderNanpXmlExample":{"description":"Specify the Rate Center and the State.","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrder\u003E\n    \u003CCustomerOrderId\u003E123456789\u003C/CustomerOrderId\u003E\n    \u003CName\u003EArea Code Order\u003C/Name\u003E\n    \u003CBackOrderRequested\u003Efalse\u003C/BackOrderRequested\u003E\n    \u003CRateCenterSearchAndOrderType\u003E\n        \u003CRateCenter\u003ERALEIGH\u003C/RateCenter\u003E\n        \u003CState\u003ENC\u003C/State\u003E\n        \u003CQuantity\u003E1\u003C/Quantity\u003E\n    \u003C/RateCenterSearchAndOrderType\u003E\n    \u003CPartialAllowed\u003Etrue\u003C/PartialAllowed\u003E\n    \u003CSiteId\u003E743\u003C/SiteId\u003E\n    \u003CVoiceConfigurationPackageId\u003Ed21315af-9b5b-4b45-a6f4-9106cbfe87d1\u003C/VoiceConfigurationPackageId\u003E\n    \u003CRequirementsPackageId\u003E3fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/RequirementsPackageId\u003E\n    \u003CVoiceIntegrationIds\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/VoiceIntegrationId\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa7\u003C/VoiceIntegrationId\u003E\n    \u003C/VoiceIntegrationIds\u003E\n    \u003CAutoActivate\u003Etrue\u003C/AutoActivate\u003E\n    \u003CTags\u003E\n      \u003CTag\u003E\n        \u003CTagName\u003EcustomerId\u003C/TagName\u003E\n        \u003CTagValue\u003E11111111-1111-1111-1111-111111111111\u003C/TagValue\u003E\n      \u003C/Tag\u003E\n    \u003C/Tags\u003E\n\u003C/Order\u003E"},"createNewPhoneNumberOrderStateSearchAndOrderNanpXmlExample":{"description":"Specify the State to be searched for phone numbers.","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrder\u003E\n    \u003CCustomerOrderId\u003E123456789\u003C/CustomerOrderId\u003E\n    \u003CName\u003EArea Code Order\u003C/Name\u003E\n    \u003CBackOrderRequested\u003Efalse\u003C/BackOrderRequested\u003E\n    \u003CStateSearchAndOrderType\u003E\n        \u003CQuantity\u003E1\u003C/Quantity\u003E\n        \u003CState\u003ENC\u003C/State\u003E\n    \u003C/StateSearchAndOrderType\u003E\n    \u003CPartialAllowed\u003Etrue\u003C/PartialAllowed\u003E\n    \u003CSiteId\u003E743\u003C/SiteId\u003E\n    \u003CVoiceConfigurationPackageId\u003Ed21315af-9b5b-4b45-a6f4-9106cbfe87d1\u003C/VoiceConfigurationPackageId\u003E\n    \u003CRequirementsPackageId\u003E3fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/RequirementsPackageId\u003E\n    \u003CVoiceIntegrationIds\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/VoiceIntegrationId\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa7\u003C/VoiceIntegrationId\u003E\n    \u003C/VoiceIntegrationIds\u003E\n    \u003CAutoActivate\u003Etrue\u003C/AutoActivate\u003E\n    \u003CTags\u003E\n      \u003CTag\u003E\n        \u003CTagName\u003EcustomerId\u003C/TagName\u003E\n        \u003CTagValue\u003E11111111-1111-1111-1111-111111111111\u003C/TagValue\u003E\n      \u003C/Tag\u003E\n    \u003C/Tags\u003E\n\u003C/Order\u003E"},"createNewPhoneNumberOrderTollFreeVanitySearchAndOrderNanpXmlExample":{"description":"Specify a Toll Free Vanity search, where the numbers ordered match a specific alphanumeric pattern between 4 and 7 characters long.","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrder\u003E\n    \u003CCustomerOrderId\u003E123456789\u003C/CustomerOrderId\u003E\n    \u003CName\u003EArea Code Order\u003C/Name\u003E\n    \u003CBackOrderRequested\u003Efalse\u003C/BackOrderRequested\u003E\n    \u003CTollFreeVanitySearchAndOrderType\u003E\n        \u003CQuantity\u003E1\u003C/Quantity\u003E\n        \u003CTollFreeVanity\u003Enewcars\u003C/TollFreeVanity\u003E\n    \u003C/TollFreeVanitySearchAndOrderType\u003E\n    \u003CPartialAllowed\u003Etrue\u003C/PartialAllowed\u003E\n    \u003CSiteId\u003E743\u003C/SiteId\u003E\n    \u003CVoiceConfigurationPackageId\u003Ed21315af-9b5b-4b45-a6f4-9106cbfe87d1\u003C/VoiceConfigurationPackageId\u003E\n    \u003CRequirementsPackageId\u003E3fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/RequirementsPackageId\u003E\n    \u003CVoiceIntegrationIds\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/VoiceIntegrationId\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa7\u003C/VoiceIntegrationId\u003E\n    \u003C/VoiceIntegrationIds\u003E\n    \u003CAutoActivate\u003Etrue\u003C/AutoActivate\u003E\n    \u003CTags\u003E\n      \u003CTag\u003E\n        \u003CTagName\u003EcustomerId\u003C/TagName\u003E\n        \u003CTagValue\u003E11111111-1111-1111-1111-111111111111\u003C/TagValue\u003E\n      \u003C/Tag\u003E\n    \u003C/Tags\u003E\n\u003C/Order\u003E"},"createNewPhoneNumberOrderTollFreeWildCharSearchAndOrderNanpXmlExample":{"description":"Specify the Toll Free wild card pattern. To be ordered, comprised of 3 digits beginning with \u00278\u0027. Examples are 8**, 87*, etc.","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrder\u003E\n    \u003CCustomerOrderId\u003E123456789\u003C/CustomerOrderId\u003E\n    \u003CName\u003EArea Code Order\u003C/Name\u003E\n    \u003CBackOrderRequested\u003Efalse\u003C/BackOrderRequested\u003E\n    \u003CTollFreeWildCharSearchAndOrderType\u003E\n        \u003CQuantity\u003E1\u003C/Quantity\u003E\n        \u003CTollFreeWildCardPattern\u003E8**\u003C/TollFreeWildCardPattern\u003E\n    \u003C/TollFreeWildCharSearchAndOrderType\u003E\n    \u003CPartialAllowed\u003Etrue\u003C/PartialAllowed\u003E\n    \u003CSiteId\u003E743\u003C/SiteId\u003E\n    \u003CVoiceConfigurationPackageId\u003Ed21315af-9b5b-4b45-a6f4-9106cbfe87d1\u003C/VoiceConfigurationPackageId\u003E\n    \u003CRequirementsPackageId\u003E3fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/RequirementsPackageId\u003E\n    \u003CVoiceIntegrationIds\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/VoiceIntegrationId\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa7\u003C/VoiceIntegrationId\u003E\n    \u003C/VoiceIntegrationIds\u003E\n    \u003CAutoActivate\u003Etrue\u003C/AutoActivate\u003E\n    \u003CTags\u003E\n      \u003CTag\u003E\n        \u003CTagName\u003EcustomerId\u003C/TagName\u003E\n        \u003CTagValue\u003E11111111-1111-1111-1111-111111111111\u003C/TagValue\u003E\n      \u003C/Tag\u003E\n    \u003C/Tags\u003E\n\u003C/Order\u003E"},"createNewPhoneNumberOrderZipSearchAndOrderNanpXmlExample":{"description":"Specify the Zip Code to be ordered from.","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrder\u003E\n    \u003CCustomerOrderId\u003E123456789\u003C/CustomerOrderId\u003E\n    \u003CName\u003EArea Code Order\u003C/Name\u003E\n    \u003CBackOrderRequested\u003Efalse\u003C/BackOrderRequested\u003E\n    \u003CZIPSearchAndOrderType\u003E\n        \u003CQuantity\u003E1\u003C/Quantity\u003E\n        \u003CZip\u003E27606\u003C/Zip\u003E\n    \u003C/ZIPSearchAndOrderType\u003E\n    \u003CPartialAllowed\u003Etrue\u003C/PartialAllowed\u003E\n    \u003CSiteId\u003E743\u003C/SiteId\u003E\n    \u003CVoiceConfigurationPackageId\u003Ed21315af-9b5b-4b45-a6f4-9106cbfe87d1\u003C/VoiceConfigurationPackageId\u003E\n    \u003CRequirementsPackageId\u003E3fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/RequirementsPackageId\u003E\n    \u003CVoiceIntegrationIds\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/VoiceIntegrationId\u003E\n      \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa7\u003C/VoiceIntegrationId\u003E\n    \u003C/VoiceIntegrationIds\u003E\n    \u003CAutoActivate\u003Etrue\u003C/AutoActivate\u003E\n    \u003CTags\u003E\n      \u003CTag\u003E\n        \u003CTagName\u003EcustomerId\u003C/TagName\u003E\n        \u003CTagValue\u003E11111111-1111-1111-1111-111111111111\u003C/TagValue\u003E\n      \u003C/Tag\u003E\n    \u003C/Tags\u003E\n\u003C/Order\u003E"},"updateNewPhoneNumberOrderJsonExample":{"description":"Request to update an existing New Number Order using Json","value":{"closeOrder":true,"customerOrderId":"123456789"}},"updateNewPhoneNumberOrderXmlExample":{"description":"Request to update an existing New Number Order using XML","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrder\u003E\n    \u003CName\u003EAvailable Phone Number order\u003C/Name\u003E    \n    \u003CCustomerOrderId\u003E123456789\u003C/CustomerOrderId\u003E\n\u003C!-- Only alphanumeric values, dashes and spaces are allowed. Max length is 40 characters. --\u003E\n    \u003CCloseOrder\u003Etrue\u003C/CloseOrder\u003E\n\u003C/Order\u003E"},"postNewNumberOrderNotesRequestXmlExample":{"description":"Request to add a note to a New Number Order using XML","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CNote\u003E\n    \u003CUserId\u003EuserId\u003C/UserId\u003E\n    \u003C!-- note the userId must match the logged-in user --\u003E\n    \u003CDescription\u003Enote text\u003C/Description\u003E\n\u003C/Note\u003E"},"putNewNumberOrderNotesRequestXmlExample":{"description":"Request to update a note on a New Number Order using XML","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CNote\u003E\n    \u003CUserId\u003EuserId\u003C/UserId\u003E\n    \u003CDescription\u003Enote text\u003C/Description\u003E\n\u003C/Note\u003E"},"listNewPhoneNumberOrders200ResponseJsonExample":{"description":"Ok response example for listing New Phone Number Orders using Json","value":{"links":{"first":"https://api.bandwidth.com/api/v2/accounts/12346165/orders?size=2\u0026page=1","next":"https://api.bandwidth.com/api/v2/accounts/12346165/orders?size=2\u0026page=021f0877-55b4-4605-ad8e-a38f531dd33e"},"orders":[{"accountId":12346165,"customerOrderId":"generatedByProto","lastModifiedDate":"2025-05-13T18:46:28.237Z","orderDate":"2025-05-13T18:46:26.989Z","orderId":"6f628cdc-cb4c-4e6f-a79d-e61236442cb7","orderStatus":"COMPLETE","voiceIntegrationIds":["5fa85f64-5717-4562-b3fc-2c963f66afa6","5fa85f64-5717-4562-b3fc-2c963f66afa7"],"bulkNumberSyncId":"d21315af-9b5b-4b45-a6f4-9106cbfe87d1","orderType":"new_number","phoneNumberCount":1,"phoneNumberDetails":{"cities":[{"city":"MANHATTAN","count":1}],"rateCenters":[{"count":1,"rateCenter":"NWYRCYZN01"}],"states":[{"count":1,"state":"NY"}],"tiers":[{"count":1,"tier":0}],"vendors":[{"count":1,"vendorId":49,"vendorName":"Bandwidth CLEC"}]},"summary":"1 number ordered in (212)","tags":[{"tagName":"customerId","tagValue":"11111111-1111-1111-1111-111111111111"}],"userId":"user1"},{"accountId":12346165,"customerOrderId":"testCustomerOrderId","lastModifiedDate":"2025-05-13T18:35:59.845Z","orderDate":"2025-05-13T18:35:58.337Z","orderId":"5e94e722-6624-48b0-a742-612603c2c781","orderStatus":"COMPLETE","voiceIntegrationIds":["5fa85f64-5717-4562-b3fc-2c963f66afa6","5fa85f64-5717-4562-b3fc-2c963f66afa7"],"bulkNumberSyncId":"d21315af-9b5b-4b45-a6f4-9106cbfe87d2","orderType":"new_number","phoneNumberCount":3,"phoneNumberDetails":{"cities":[{"city":"WASHINGTON","count":3}],"rateCenters":[{"count":3,"rateCenter":"WSHNGTNZN1"}],"states":[{"count":3,"state":"DC"}],"tiers":[{"count":3,"tier":0}],"vendors":[{"count":3,"vendorId":49,"vendorName":"Bandwidth CLEC"}]},"summary":"3 numbers ordered in (202)","tags":[{"tagName":"customerId","tagValue":"11111111-1111-1111-1111-111111111111"}],"userId":"user1"}],"totalCount":3}},"listNewPhoneNumberOrders200ResponseXmlExample":{"description":"Ok response example for listing New Phone Number Orders using XML","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CResponseSelectWrapper\u003E\n    \u003CListOrderIdUserIdDate\u003E\n        \u003CTotalCount\u003E122\u003C/TotalCount\u003E\n        \u003CLinks\u003E\n        \u003Cfirst\u003E\n            \u003C!-- Link=\u003Chttps://api.bandwidth.com 443/v1.0/accounts/9900012/orders?page=1\u0026size=3\u003E;rel=\u0022first\u0022; --\u003E\n        \u003C/first\u003E\n        \u003Cnext\u003E\n            \u003C!-- Link=\u003Chttps://api.bandwidth.com 443/v1.0/accounts/9900012/orders?page=cbdcfc94-81b1-4ce9-8b6d-f8d6b85381ba\u0026size=3\u003E;rel=\u0022next\u0022; --\u003E\n        \u003C/next\u003E\n        \u003C/Links\u003E\n        \u003COrderIdUserIdDate\u003E\n            \u003CCountOfTNs\u003E1\u003C/CountOfTNs\u003E\n            \u003ClastModifiedDate\u003E2013-12-20T06\u003C/lastModifiedDate\u003E\n            \u003COrderDate\u003E2013-12-20T06\u003C/OrderDate\u003E\n            \u003CorderId\u003Ec5d8d076-345c-45d7-87b3-803a35cca89b\u003C/orderId\u003E\n            \u003COrderStatus\u003ECOMPLETE\u003C/OrderStatus\u003E\n            \u003CVoiceIntegrationIds\u003E\n              \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/VoiceIntegrationId\u003E\n              \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa7\u003C/VoiceIntegrationId\u003E\n            \u003C/VoiceIntegrationIds\u003E\n            \u003CBulkNumberSyncId\u003Ed21315af-9b5b-4b45-a6f4-9106cbfe87d1\u003C/BulkNumberSyncId\u003E\n            \u003CTags\u003E\n              \u003CTag\u003E\n                \u003CTagName\u003EcustomerId\u003C/TagName\u003E\n                \u003CTagValue\u003E11111111-1111-1111-1111-111111111111\u003C/TagValue\u003E\n              \u003C/Tag\u003E\n            \u003C/Tags\u003E\n            \u003CTelephoneNumberDetails\u003E\n                \u003CStates\u003E\n                    \u003CStateWithCount\u003E\n                        \u003CState\u003EVA\u003C/State\u003E\n                        \u003CCount\u003E1\u003C/Count\u003E\n                    \u003C/StateWithCount\u003E\n                \u003C/States\u003E\n                \u003CRateCenters\u003E\n                    \u003CRateCenterWithCount\u003E\n                        \u003CCount\u003E1\u003C/Count\u003E\n                        \u003CRateCenter\u003ELADYSMITH\u003C/RateCenter\u003E\n                    \u003C/RateCenterWithCount\u003E\n                \u003C/RateCenters\u003E\n                \u003CCities\u003E\n                    \u003CCityWithCount\u003E\n                        \u003CCity\u003ELADYSMITH\u003C/City\u003E\n                        \u003CCount\u003E1\u003C/Count\u003E\n                    \u003C/CityWithCount\u003E\n                \u003C/Cities\u003E\n                \u003CTiers\u003E\n                    \u003CTierWithCount\u003E\n                        \u003CTier\u003E0\u003C/Tier\u003E\n                        \u003CCount\u003E1\u003C/Count\u003E\n                    \u003C/TierWithCount\u003E\n                \u003C/Tiers\u003E\n                \u003CVendors\u003E\n                    \u003CVendorWithCount\u003E\n                        \u003CVendorId\u003E49\u003C/VendorId\u003E\n                        \u003CVendorName\u003EBandwidth CLEC\u003C/VendorName\u003E\n                        \u003CCount\u003E1\u003C/Count\u003E\n                    \u003C/VendorWithCount\u003E\n                \u003C/Vendors\u003E\n            \u003C/TelephoneNumberDetails\u003E\n            \u003CuserId\u003Ebwc_user\u003C/userId\u003E\n        \u003C/OrderIdUserIdDate\u003E\n        \u003COrderIdUserIdDate\u003E\n            \u003CCountOfTNs\u003E0\u003C/CountOfTNs\u003E\n            \u003ClastModifiedDate\u003E2013-11-05T17\u003C/lastModifiedDate\u003E\n            \u003COrderDate\u003E2013-11-05T17\u003C/OrderDate\u003E\n            \u003CorderId\u003E27da9f39-81f3-44ed-80ce-05ddf2db612d\u003C/orderId\u003E\n            \u003COrderStatus\u003EFAILED\u003C/OrderStatus\u003E\n            \u003CuserId\u003Ewandedemo_user\u003C/userId\u003E\n        \u003C/OrderIdUserIdDate\u003E\n        \u003COrderIdUserIdDate\u003E\n            \u003CCountOfTNs\u003E1\u003C/CountOfTNs\u003E\n            \u003ClastModifiedDate\u003E2013-12-11T20\u003C/lastModifiedDate\u003E\n            \u003COrderDate\u003E2013-12-11T20\u003C/OrderDate\u003E\n            \u003CorderId\u003E2bab589e-2cda-453b-9999-8f35441d4a1a\u003C/orderId\u003E\n            \u003COrderStatus\u003ECOMPLETE\u003C/OrderStatus\u003E\n            \u003CVoiceIntegrationIds\u003E\n              \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/VoiceIntegrationId\u003E\n              \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa7\u003C/VoiceIntegrationId\u003E\n            \u003C/VoiceIntegrationIds\u003E\n            \u003CBulkNumberSyncId\u003Ed21315af-9b5b-4b45-a6f4-9106cbfe87d1\u003C/BulkNumberSyncId\u003E\n            \u003CTags\u003E\n              \u003CTag\u003E\n                \u003CTagName\u003EcustomerId\u003C/TagName\u003E\n                \u003CTagValue\u003E11111111-1111-1111-1111-111111111111\u003C/TagValue\u003E\n              \u003C/Tag\u003E\n            \u003C/Tags\u003E\n            \u003CTelephoneNumberDetails\u003E\n                \u003C!-- SNIP --\u003E\n            \u003C/TelephoneNumberDetails\u003E\n            \u003CuserId\u003Ebwc_user\u003C/userId\u003E\n        \u003C/OrderIdUserIdDate\u003E\n    \u003C/ListOrderIdUserIdDate\u003E\n\u003C/ResponseSelectWrapper\u003E"},"listNewPhoneNumberOrders400ResponseJsonExample":{"description":"Bad request response example for listing New Phone Number Orders using Json","value":{"code":400,"description":"Please verify that your PAGE search input parameter is correct."}},"listNewPhoneNumberOrders400ResponseXmlExample":{"description":"Bad request response example for listing New Phone Number Orders using XML","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CErrorResponse\u003E\n    \u003CCode\u003E400\u003C/Code\u003E\n    \u003CDescription\u003EPlease verify that your PAGE search input parameter is correct.\u003C/Description\u003E\n\u003C/ErrorResponse\u003E"},"createNewPhoneNumberOrder201ResponseCombinedSearchAndOrderTypeJsonExample":{"description":"Created response example for creating a New Phone Number Order using combinedSearchAndOrderType in Json","value":{"order":{"autoActivate":true,"backOrderRequested":false,"id":"d79121c4-e4af-4569-ae07-b7f51587c952","orderCreateDate":"2025-05-06T17:58:29.964Z","orderType":{"enableLCA":true,"quantity":3,"rateCenter":"JERSEYCITY","state":"NJ","type":"combinedSearchAndOrderType"},"partialAllowed":true,"subAccountId":491,"voiceIntegrationIds":["5fa85f64-5717-4562-b3fc-2c963f66afa6","5fa85f64-5717-4562-b3fc-2c963f66afa7"],"bulkNumberSyncId":"d21315af-9b5b-4b45-a6f4-9106cbfe87d1","tags":[{"tagName":"customerId","tagValue":"11111111-1111-1111-1111-111111111111"}]},"orderStatus":"RECEIVED"}},"createNewPhoneNumberOrder201ResponseExistingPhoneNumberOrderTypeJsonExample":{"description":"Created response example for creating a New Phone Number Order using existingPhoneNumberOrderType in Json","value":{"order":{"autoActivate":true,"backOrderRequested":false,"closeOrder":true,"id":"20b21632-4fac-4ccc-9477-520d416182da","orderCreateDate":"2025-05-06T15:52:18.546Z","orderType":{"phoneNumbers":["\u002B19894551000"],"reservationIds":["943dd7d4-8c84-49f4-8704-b17963438106"],"type":"existingPhoneNumberOrderType"},"partialAllowed":true,"subAccountId":490,"voiceIntegrationIds":["5fa85f64-5717-4562-b3fc-2c963f66afa6","5fa85f64-5717-4562-b3fc-2c963f66afa7"],"bulkNumberSyncId":"d21315af-9b5b-4b45-a6f4-9106cbfe87d1","tags":[{"tagName":"customerId","tagValue":"11111111-1111-1111-1111-111111111111"}]},"orderStatus":"RECEIVED"}},"createNewPhoneNumberOrder201ResponseXmlExample":{"description":"Created response example for creating a New Phone Number Order using XML","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrderResponse\u003E\n    \u003COrder\u003E\n        \u003CCustomerOrderId\u003E123456789\u003C/CustomerOrderId\u003E\n        \u003Cid\u003E34adcd9f-2c4a-4631-9dae-d1f318ed57bc\u003C/id\u003E\n        \u003CName\u003EZip Order\u003C/Name\u003E\n        \u003COrderCreateDate\u003E2014-07-11T17:13:57.788Z\u003C/OrderCreateDate\u003E\n        \u003CAutoActivate\u003Etrue\u003C/AutoActivate\u003E\n        \u003CBackOrderRequested\u003Efalse\u003C/BackOrderRequested\u003E\n        \u003CZIPSearchAndOrderType\u003E\n            \u003CQuantity\u003E1\u003C/Quantity\u003E\n            \u003CZip\u003E27606\u003C/Zip\u003E\n        \u003C/ZIPSearchAndOrderType\u003E\n        \u003CTnAttributes\u003E\n                \u003CTnAttribute\u003EProtected\u003C/TnAttribute\u003E\n                \u003CTnAttribute\u003EExternal\u003C/TnAttribute\u003E\n                \u003CTnAttribute\u003EImported\u003C/TnAttribute\u003E\n        \u003C/TnAttributes\u003E\n        \u003CPartialAllowed\u003Etrue\u003C/PartialAllowed\u003E\n        \u003CVoiceConfigurationPackageId\u003Ed21315af-9b5b-4b45-a6f4-9106cbfe87d1\u003C/VoiceConfigurationPackageId\u003E\n        \u003CRequirementsPackageId\u003E3fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/RequirementsPackageId\u003E\n        \u003CVoiceIntegrationIds\u003E\n          \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/VoiceIntegrationId\u003E\n          \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa7\u003C/VoiceIntegrationId\u003E\n        \u003C/VoiceIntegrationIds\u003E\n        \u003CBulkNumberSyncId\u003Ed21315af-9b5b-4b45-a6f4-9106cbfe87d1\u003C/BulkNumberSyncId\u003E\n        \u003CSiteId\u003E3013\u003C/SiteId\u003E\n        \u003CTags\u003E\n          \u003CTag\u003E\n            \u003CTagName\u003EcustomerId\u003C/TagName\u003E\n            \u003CTagValue\u003E11111111-1111-1111-1111-111111111111\u003C/TagValue\u003E\n          \u003C/Tag\u003E\n        \u003C/Tags\u003E\n    \u003C/Order\u003E\n\u003C/OrderResponse\u003E"},"createNewPhoneNumberOrder400ResponseJsonExample":{"description":"Bad request response example for creating a New Phone Number Order using Json","value":{"errors":[{"code":5016,"description":"The SiteId submitted is invalid."}],"order":{"autoActivate":true,"backOrderRequested":false,"orderCreateDate":"2025-05-06T17:57:47.268Z","orderType":{"enableLCA":true,"quantity":3,"rateCenter":"JERSEYCITY","state":"NJ","type":"combinedSearchAndOrderType"},"partialAllowed":true,"subAccountId":491},"orderStatus":"FAILED"}},"createNewPhoneNumberOrder400ResponseXmlExample":{"description":"Bad request response example for creating a New Phone Number Order using XML","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrderResponse\u003E\n    \u003CErrorList\u003E\n        \u003CError\u003E\n            \u003CCode\u003E5016\u003C/Code\u003E\n            \u003CDescription\u003EThe SiteId submitted is invalid.\u003C/Description\u003E\n        \u003C/Error\u003E\n    \u003C/ErrorList\u003E\n    \u003COrder\u003E\n        \u003CCustomerOrderId\u003E123456789\u003C/CustomerOrderId\u003E\n        \u003CName\u003EArea Code Order\u003C/Name\u003E\n        \u003COrderCreateDate\u003E2014-07-08T14:29:13.174Z\u003C/OrderCreateDate\u003E\n        \u003CAutoActivate\u003Etrue\u003C/AutoActivate\u003E\n        \u003CBackOrderRequested\u003Efalse\u003C/BackOrderRequested\u003E\n        \u003CAreaCodeSearchAndOrderType\u003E\n            \u003CAreaCode\u003E435\u003C/AreaCode\u003E\n            \u003CQuantity\u003E1\u003C/Quantity\u003E\n        \u003C/AreaCodeSearchAndOrderType\u003E\n        \u003CTnAttributes\u003E\n                \u003CTnAttribute\u003EProtected\u003C/TnAttribute\u003E\n                \u003CTnAttribute\u003EExternal\u003C/TnAttribute\u003E\n                \u003CTnAttribute\u003EImported\u003C/TnAttribute\u003E\n        \u003C/TnAttributes\u003E\n        \u003CPartialAllowed\u003Etrue\u003C/PartialAllowed\u003E\n        \u003CSiteId\u003E763\u003C/SiteId\u003E\n    \u003C/Order\u003E\n\u003C/OrderResponse\u003E"},"retrieveNewPhoneNumberOrder200ResponseCombinedSearchAndOrderSuccessfulJsonExample":{"description":"A combinedSearchAndOrderType that was successfully completed","value":{"completedPhoneNumbers":["2018391014","2018391015","2018391016"],"completedQuantity":3,"createdByUser":"systemUser","failedQuantity":0,"lastModifiedDate":"2025-05-06T18:00:13.411Z","order":{"autoActivate":true,"backOrderRequested":false,"customerOrderId":"testCustomerOrderId","locationId":500030,"name":"Test CombinedSearchAndOrder","orderCreateDate":"2025-05-06T18:00:12.912Z","orderType":{"enableLCA":true,"quantity":3,"rateCenter":"JERSEYCITY","state":"NJ","type":"combinedSearchAndOrderType"},"partialAllowed":true,"subAccountId":491,"voiceIntegrationIds":["5fa85f64-5717-4562-b3fc-2c963f66afa6","5fa85f64-5717-4562-b3fc-2c963f66afa7"],"bulkNumberSyncId":"d21315af-9b5b-4b45-a6f4-9106cbfe87d1","tags":[{"tagName":"customerId","tagValue":"11111111-1111-1111-1111-111111111111"}]},"orderCompleteDate":"2025-05-06T18:00:13.408Z","orderStatus":"COMPLETE","summary":"3 numbers ordered in (201)"}},"retrieveNewPhoneNumberOrder200ResponseCombinedSearchAndOrderUnsuccessfulJsonExample":{"description":"A combinedSearchAndOrderType that was unable to fulfill phone numbers that matched the request criteria","value":{"completedPhoneNumbers":[],"completedQuantity":0,"createdByUser":"systemUser","errors":[{"code":5017,"description":"Only a partial quantity of the total phone numbers ordered could be fulfilled"}],"failedQuantity":50,"lastModifiedDate":"2025-05-15T13:20:18.693Z","order":{"autoActivate":true,"backOrderRequested":false,"customerOrderId":"testCustomerOrderId","locationId":500034,"name":"Test CombinedSearchAndOrder","orderCreateDate":"2025-05-15T13:20:18.366Z","orderType":{"areaCode":"201","enableLCA":false,"localVanity":"101k","quantity":50,"type":"combinedSearchAndOrderType"},"partialAllowed":false,"subAccountId":495,"voiceIntegrationIds":["5fa85f64-5717-4562-b3fc-2c963f66afa6","5fa85f64-5717-4562-b3fc-2c963f66afa7"],"tags":[{"tagName":"customerId","tagValue":"11111111-1111-1111-1111-111111111111"}]},"orderCompleteDate":"2025-05-15T13:20:18.692Z","orderStatus":"FAILED","summary":"50 numbers requested"}},"retrieveNewPhoneNumberOrder200ResponseExistingPhoneNumberOrderSuccessfulJsonExample":{"value":{"completedPhoneNumbers":["9894551000"],"completedQuantity":1,"createdByUser":"systemUser","failedQuantity":0,"lastModifiedDate":"2025-05-06T15:52:19.038Z","order":{"autoActivate":true,"backOrderRequested":false,"closeOrder":true,"locationId":500029,"orderCreateDate":"2025-05-06T15:52:18.546Z","orderType":{"phoneNumbers":["\u002B19894551000"],"type":"existingPhoneNumberOrderType"},"partialAllowed":true,"subAccountId":490,"voiceIntegrationIds":["5fa85f64-5717-4562-b3fc-2c963f66afa6","5fa85f64-5717-4562-b3fc-2c963f66afa7"],"bulkNumberSyncId":"d21315af-9b5b-4b45-a6f4-9106cbfe87d1","tags":[{"tagName":"customerId","tagValue":"11111111-1111-1111-1111-111111111111"}]},"orderCompleteDate":"2025-05-06T15:52:19.038Z","orderStatus":"COMPLETE","summary":"1 number ordered in (989)"}},"retrieveNewPhoneNumberOrder200ResponseXmlExample":{"description":"Ok response example for retrieving a New Phone Number Order using XML","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrderResponse\u003E\n    \u003CCompletedQuantity\u003E1\u003C/CompletedQuantity\u003E\n    \u003CCreatedByUser\u003Ejbm\u003C/CreatedByUser\u003E\n    \u003CLastModifiedDate\u003E2014-01-06T19:09:44.027Z\u003C/LastModifiedDate\u003E\n    \u003COrderCompleteDate\u003E2014-01-06T19:09:44.041Z\u003C/OrderCompleteDate\u003E\n    \u003COrder\u003E\n        \u003CCustomerOrderId\u003E123456789\u003C/CustomerOrderId\u003E\n        \u003CName\u003EArea Code Order\u003C/Name\u003E\n        \u003COrderCreateDate\u003E2014-01-06T19:09:43.695Z\u003C/OrderCreateDate\u003E\n        \u003CPeerId\u003E303716\u003C/PeerId\u003E\n        \u003CBackOrderRequested\u003Efalse\u003C/BackOrderRequested\u003E\n        \u003CAreaCodeSearchAndOrderType\u003E\n            \u003CAreaCode\u003E804\u003C/AreaCode\u003E\n            \u003CQuantity\u003E1\u003C/Quantity\u003E\n        \u003C/AreaCodeSearchAndOrderType\u003E\n        \u003CTnAttributes\u003E\n                \u003CTnAttribute\u003EProtected\u003C/TnAttribute\u003E\n                \u003CTnAttribute\u003EExternal\u003C/TnAttribute\u003E\n                \u003CTnAttribute\u003EImported\u003C/TnAttribute\u003E\n        \u003C/TnAttributes\u003E\n        \u003CPartialAllowed\u003Etrue\u003C/PartialAllowed\u003E\n        \u003CSiteId\u003E743\u003C/SiteId\u003E\n        \u003CVoiceConfigurationPackageId\u003Ed21315af-9b5b-4b45-a6f4-9106cbfe87d1\u003C/VoiceConfigurationPackageId\u003E\n        \u003CRequirementsPackageId\u003E3fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/RequirementsPackageId\u003E\n        \u003CVoiceIntegrationIds\u003E\n          \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa6\u003C/VoiceIntegrationId\u003E\n          \u003CVoiceIntegrationId\u003E5fa85f64-5717-4562-b3fc-2c963f66afa7\u003C/VoiceIntegrationId\u003E\n        \u003C/VoiceIntegrationIds\u003E\n        \u003CBulkNumberSyncId\u003Ed21315af-9b5b-4b45-a6f4-9106cbfe87d1\u003C/BulkNumberSyncId\u003E\n        \u003CAutoActivate\u003Etrue\u003C/AutoActivate\u003E\n        \u003CTags\u003E\n          \u003CTag\u003E\n            \u003CTagName\u003EcustomerId\u003C/TagName\u003E\n            \u003CTagValue\u003E11111111-1111-1111-1111-111111111111\u003C/TagValue\u003E\n          \u003C/Tag\u003E\n        \u003C/Tags\u003E\n    \u003C/Order\u003E\n    \u003COrderStatus\u003ECOMPLETE\u003C/OrderStatus\u003E\n    \u003CCompletedNumbers\u003E\n        \u003CTelephoneNumber\u003E\n            \u003CFullNumber\u003E\u002B18042105666\u003C/FullNumber\u003E\n        \u003C/TelephoneNumber\u003E\n    \u003C/CompletedNumbers\u003E\n    \u003CServiceActivationOrderId\u003Eefc3d704-6dfa-4c9d-a43a-3f0e59d2c591\u003C/ServiceActivationOrderId\u003E\n    \u003CFailedQuantity\u003E0\u003C/FailedQuantity\u003E\n\u003C/OrderResponse\u003E"},"retrieveNewPhoneNumberOrder404ResponseJsonExample":{"description":"Not found response example for retrieving a New Phone Number Order using Json","value":{"code":404,"description":"Order with such id was not found."}},"retrieveNewPhoneNumberOrder404ResponseXmlExample":{"description":"Not found response example for retrieving a New Phone Number Order using XML","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CErrorResponse\u003E\n    \u003CirisStatus\u003E\n        \u003CCode\u003E404\u003C/Code\u003E\n        \u003CDescription\u003EOrder with such id was not found.\u003C/Description\u003E\n    \u003C/irisStatus\u003E\n\u003C/ErrorResponse\u003E"},"updateNewPhoneNumberOrder404ResponseJsonExample":{"description":"Not found response example for updating a New Phone Number Order using Json","value":{"errors":[{"code":5035,"description":"Order ID is invalid. Please check the order ID that you have submitted in your request is correct."}],"orderStatus":"FAILED"}},"updateNewPhoneNumberOrder404ResponseXmlExample":{"description":"Not found response example for updating a New Phone Number Order using XML","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrderResponse\u003E\n  \u003CErrorList\u003E\n    \u003CError\u003E\n      \u003CCode\u003E5035\u003C/Code\u003E\n      \u003CDescription\u003EOrder ID is invalid. Please check the order ID that you have submitted in your request is correct.\u003C/Description\u003E\n    \u003C/Error\u003E\n  \u003C/ErrorList\u003E\n  \u003COrderStatus\u003EFAILED\u003C/OrderStatus\u003E\n\u003C/OrderResponse\u003E"},"getNewNumberOrderHistoryResponse200XmlExample":{"description":"Ok response example for retrieving New Number Order History using XML","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003COrderHistoryWrapper\u003E\n    \u003COrderHistory\u003E\n        \u003COrderDate\u003E2014-05-20T14:21:43.937Z\u003C/OrderDate\u003E\n        \u003CNote\u003EOrder backordered - awaiting additional numbers\u003C/Note\u003E\n        \u003CAuthor\u003ESystem\u003C/Author\u003E\n        \u003CStatus\u003EBACKORDERED\u003C/Status\u003E\n    \u003C/OrderHistory\u003E\n    \u003COrderHistory\u003E\n        \u003COrderDate\u003E2014-05-20T14:24:43.428Z\u003C/OrderDate\u003E\n        \u003CNote\u003EOrder backordered - awaiting additional numbers\u003C/Note\u003E\n        \u003CAuthor\u003ESystem\u003C/Author\u003E\n        \u003CStatus\u003EBACKORDERED\u003C/Status\u003E\n        \u003CDifference\u003ECustomerOrderId : \u0022\u0022 --\u0026gt; hello\u003C/Difference\u003E\n    \u003C/OrderHistory\u003E\n\u003C/OrderHistoryWrapper\u003E"},"getNewNumberOrderHistoryResponse200JsonExample":{"description":"Ok response example for retrieving New Number Order History using Json","value":{"orderHistory":[{"orderDate":"2014-05-20T14:21:43.937Z","note":"Order backordered - awaiting additional numbers","author":"System","status":"BACKORDERED"},{"orderDate":"2014-05-20T14:24:43.428Z","note":"Order backordered - awaiting additional numbers","author":"System","status":"BACKORDERED"}]}},"getNewNumberOrderHistoryResponse404XmlExample":{"description":"Not found response example for retrieving New Number Order History using XML","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CErrorResponse\u003E\n    \u003CResponseStatus\u003E\n        \u003CDescription\u003EThe resource does not exist\u003C/Description\u003E\n    \u003C/ResponseStatus\u003E\n\u003C/ErrorResponse\u003E"},"getNewNumberOrderHistoryResponse404JsonExample":{"description":"Not found response example for retrieving New Number Order History using Json","value":{"description":"Not Found"}},"newNumberOrderTotalsResponse200XmlExample":{"description":"Ok response example for retrieving New Number Order Totals using XML","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CResponseSelectWrapper\u003E\n    \u003CListOrderIdUserIdDate\u003E\n        \u003CTotalCount\u003E122\u003C/TotalCount\u003E\n    \u003C/ListOrderIdUserIdDate\u003E\n\u003C/ResponseSelectWrapper\u003E"},"newNumberOrderAreaCodesResponse200XmlExample":{"description":"Ok response example for retrieving New Number Order Area Codes using XML","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTelephoneDetailsReports\u003E\n    \u003CTelephoneDetailsReport\u003E\n        \u003CAreaCode\u003E888\u003C/AreaCode\u003E\n        \u003CCount\u003E1\u003C/Count\u003E\n    \u003C/TelephoneDetailsReport\u003E\n\u003C/TelephoneDetailsReports\u003E"},"newNumberOrderNotesGetResponse200XmlExample":{"description":"Ok response example for retrieving New Number Order Notes using XML","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CNotes\u003E\n    \u003CNote\u003E\n        \u003CId\u003E87037\u003C/Id\u003E\n        \u003CUserId\u003Ejbm\u003C/UserId\u003E\n        \u003CDescription\u003EThis is a test note\u003C/Description\u003E\n        \u003CLastDateModifier\u003E2014-11-16T04:01:10.000Z\u003C/LastDateModifier\u003E\n    \u003C/Note\u003E\n    \u003CNote\u003E\n        \u003CId\u003E87039\u003C/Id\u003E\n        \u003CUserId\u003Esmckinnon\u003C/UserId\u003E\n        \u003CDescription\u003EThis is a second test note\u003C/Description\u003E\n        \u003CLastDateModifier\u003E2014-11-16T04:08:46.000Z\u003C/LastDateModifier\u003E\n    \u003C/Note\u003E\n\u003C/Notes\u003E"},"newNumberOrderNotesPostResponse400XmlExample":{"description":"Bad request response example for adding a note to a New Number Order using XML","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CNoteResponse\u003E\n    \u003CResponseStatus\u003E\n        \u003CErrorCode\u003E12501\u003C/ErrorCode\u003E\n        \u003CDescription\u003EUsername is required\u003C/Description\u003E\n    \u003C/ResponseStatus\u003E\n\u003C/NoteResponse\u003E"},"getNewNumberOrderTnListResponse200JsonExample":{"description":"Ok response example for retrieving New Number Order TN List using Json","value":{"count":5,"phoneNumbers":["\u002B14349335313","\u002B14349335314","\u002B14349335315","\u002B14349335316","\u002B14349335317"]}},"getNewNumberOrderTnListResponse200XmlExample":{"description":"Ok response example for retrieving New Number Order TN List using XML","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTelephoneNumbers\u003E\n  \u003CCount\u003E1\u003C/Count\u003E\n  \u003CTelephoneNumber\u003E\u002B18042105666\u003C/TelephoneNumber\u003E\n\u003C/TelephoneNumbers\u003E"},"getNewNumberOrderTnListResponse404JsonExample":{"description":"Not found response example for retrieving New Number Order TN List using Json","value":{"description":"Order ID does not correspond to a given account.","errorCode":404}},"getNewNumberOrderTnListResponse404XmlExample":{"description":"Not found response example for retrieving New Number Order TN List using XML","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CErrorResponse\u003E\n  \u003CirisStatus\u003E\n    \u003CErrorCode\u003E404\u003C/ErrorCode\u003E\n    \u003CDescription\u003EOrder ID does not correspond to a given account.\u003C/Description\u003E\n  \u003C/irisStatus\u003E\n\u003C/ErrorResponse\u003E"},"putNewNumberOrderNotesResponse400XmlExample":{"description":"Bad request response example for updating a note on a New Number Order using XML","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CNoteResponse\u003E\n    \u003CResponseStatus\u003E\n        \u003CErrorCode\u003E12501\u003C/ErrorCode\u003E\n        \u003CDescription\u003EUsername is required\u003C/Description\u003E\n    \u003C/ResponseStatus\u003E\n\u003C/NoteResponse\u003E"},"getNewNumberOrderNpaNxxResponse200XmlExample":{"description":"Ok response example for retrieving New Number Order NPA-NXXs using XML","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTelephoneDetailsReports\u003E\n    \u003CTelephoneDetailsReport\u003E\n        \u003CNPA-NXX\u003E888424\u003C/NPA-NXX\u003E\n        \u003CCount\u003E1\u003C/Count\u003E\n    \u003C/TelephoneDetailsReport\u003E\n\u003C/TelephoneDetailsReports\u003E"},"getNewNumberOrderIdTotalsResponse200XmlExample":{"description":"Ok response example for retrieving New Number Order ID Totals using XML","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTelephoneDetailsReports\u003E\n    \u003CTelephoneDetailsReport\u003E\n        \u003CCount\u003E1\u003C/Count\u003E\n    \u003C/TelephoneDetailsReport\u003E\n\u003C/TelephoneDetailsReports\u003E"},"listCities200ResponseJsonSimpleExample":{"value":{"resultCount":8,"cities":[{"rcAbbreviation":"DOUGLAS","name":"ADAMS"},{"rcAbbreviation":"FILLEY","name":"ADAMS"},{"rcAbbreviation":"AINSWORTH","name":"AINSWORTH"},{"rcAbbreviation":"LONG PINE","name":"AINSWORTH"},{"rcAbbreviation":"ODELL","name":"WYMORE"},{"rcAbbreviation":"BRADSHAW","name":"YORK"},{"rcAbbreviation":"YORK","name":"YORK"},{"rcAbbreviation":"WACO","name":"YORK"}]}},"listCities200ResponseJsonWithCountExample":{"value":{"resultCount":9,"cities":[{"rcAbbreviation":"FILLEY","availablePhoneNumberCount":266,"name":"ADAMS"},{"rcAbbreviation":"DOUGLAS","availablePhoneNumberCount":378,"name":"ADAMS"},{"rcAbbreviation":"WAKEFIELD","availablePhoneNumberCount":272,"name":"ALLEN"},{"rcAbbreviation":"ASHLAND","availablePhoneNumberCount":129,"name":"ASHLAND"},{"rcAbbreviation":"WEST POINT","availablePhoneNumberCount":85,"name":"WEST POINT"},{"rcAbbreviation":"OAKLAND","availablePhoneNumberCount":290,"name":"WEST POINT"},{"rcAbbreviation":"WESTERN","availablePhoneNumberCount":134,"name":"WESTERN"},{"rcAbbreviation":"WAYNE","availablePhoneNumberCount":434,"name":"WINSIDE"},{"rcAbbreviation":"BRADSHAW","availablePhoneNumberCount":274,"name":"YORK"}]}},"listCities200ResponseXmlSimpleExample":{"value":"\u003CCityResponse\u003E\n  \u003CResultCount\u003E8\u003C/ResultCount\u003E\n  \u003CCities\u003E\n    \u003CCity\u003E\n     \u003CRcAbbreviation\u003EDOUGLAS\u003C/RcAbbreviation\u003E\n     \u003CName\u003EADAMS\u003C/Name\u003E\n   \u003C/City\u003E\n    \u003CCity\u003E\n      \u003CRcAbbreviation\u003EFILLEY\u003C/RcAbbreviation\u003E\n      \u003CName\u003EADAMS\u003C/Name\u003E\n    \u003C/City\u003E\n    \u003CCity\u003E\n      \u003CRcAbbreviation\u003EAINSWORTH\u003C/RcAbbreviation\u003E\n      \u003CName\u003EAINSWORTH\u003C/Name\u003E\n    \u003C/City\u003E\n    \u003CCity\u003E\n      \u003CRcAbbreviation\u003ELONG PINE\u003C/RcAbbreviation\u003E\n      \u003CName\u003EAINSWORTH\u003C/Name\u003E\n    \u003C/City\u003E\n    \u003CCity\u003E\n      \u003CRcAbbreviation\u003EODELL\u003C/RcAbbreviation\u003E\n      \u003CName\u003EWYMORE\u003C/Name\u003E\n    \u003C/City\u003E\n    \u003CCity\u003E\n      \u003CRcAbbreviation\u003EBRADSHAW\u003C/RcAbbreviation\u003E\n      \u003CName\u003EYORK\u003C/Name\u003E\n    \u003C/City\u003E\n    \u003CCity\u003E\n      \u003CRcAbbreviation\u003EYORK\u003C/RcAbbreviation\u003E\n      \u003CName\u003EYORK\u003C/Name\u003E\n    \u003C/City\u003E\n    \u003CCity\u003E\n      \u003CRcAbbreviation\u003EWACO\u003C/RcAbbreviation\u003E\n      \u003CName\u003EYORK\u003C/Name\u003E\n    \u003C/City\u003E\n  \u003C/Cities\u003E\n\u003C/CityResponse\u003E"},"listCities200ResponseXmlWithCountExample":{"value":"\u003CCityResponse\u003E\n  \u003CResultCount\u003E9\u003C/ResultCount\u003E\n  \u003CCities\u003E\n   \u003CCity\u003E\n      \u003CRcAbbreviation\u003EFILLEY\u003C/RcAbbreviation\u003E\n      \u003CAvailableTelephoneNumberCount\u003E266\u003C/AvailableTelephoneNumberCount\u003E\n      \u003CName\u003EADAMS\u003C/Name\u003E\n    \u003C/City\u003E\n    \u003CCity\u003E\n      \u003CRcAbbreviation\u003EDOUGLAS\u003C/RcAbbreviation\u003E\n      \u003CAvailableTelephoneNumberCount\u003E378\u003C/AvailableTelephoneNumberCount\u003E\n      \u003CName\u003EADAMS\u003C/Name\u003E\n    \u003C/City\u003E\n    \u003CCity\u003E\n      \u003CRcAbbreviation\u003EWAKEFIELD\u003C/RcAbbreviation\u003E\n      \u003CAvailableTelephoneNumberCount\u003E272\u003C/AvailableTelephoneNumberCount\u003E\n      \u003CName\u003EALLEN\u003C/Name\u003E\n    \u003C/City\u003E\n    \u003CCity\u003E\n      \u003CRcAbbreviation\u003EASHLAND\u003C/RcAbbreviation\u003E\n      \u003CAvailableTelephoneNumberCount\u003E129\u003C/AvailableTelephoneNumberCount\u003E\n      \u003CName\u003EASHLAND\u003C/Name\u003E\n    \u003C/City\u003E\n    \u003CCity\u003E\n      \u003CRcAbbreviation\u003EWEST POINT\u003C/RcAbbreviation\u003E\n      \u003CAvailableTelephoneNumberCount\u003E85\u003C/AvailableTelephoneNumberCount\u003E\n      \u003CName\u003EWEST POINT\u003C/Name\u003E\n    \u003C/City\u003E\n    \u003CCity\u003E\n      \u003CRcAbbreviation\u003EOAKLAND\u003C/RcAbbreviation\u003E\n      \u003CAvailableTelephoneNumberCount\u003E290\u003C/AvailableTelephoneNumberCount\u003E\n      \u003CName\u003EWEST POINT\u003C/Name\u003E\n    \u003C/City\u003E\n    \u003CCity\u003E\n      \u003CRcAbbreviation\u003EWESTERN\u003C/RcAbbreviation\u003E\n      \u003CAvailableTelephoneNumberCount\u003E134\u003C/AvailableTelephoneNumberCount\u003E\n      \u003CName\u003EWESTERN\u003C/Name\u003E\n    \u003C/City\u003E\n    \u003CCity\u003E\n      \u003CRcAbbreviation\u003EWAYNE\u003C/RcAbbreviation\u003E\n      \u003CAvailableTelephoneNumberCount\u003E434\u003C/AvailableTelephoneNumberCount\u003E\n      \u003CName\u003EWINSIDE\u003C/Name\u003E\n    \u003C/City\u003E\n    \u003CCity\u003E\n      \u003CRcAbbreviation\u003EBRADSHAW\u003C/RcAbbreviation\u003E\n      \u003CAvailableTelephoneNumberCount\u003E274\u003C/AvailableTelephoneNumberCount\u003E\n      \u003CName\u003EYORK\u003C/Name\u003E\n    \u003C/City\u003E\n  \u003C/Cities\u003E\n\u003C/CityResponse\u003E"},"listCities400ResponseJsonExample":{"value":{"code":4006,"description":"The search criteria \u0027State\u0027 cannot be empty."}},"listCities400ResponseXmlExample":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CCityResponse\u003E\n    \u003CError\u003E\n        \u003CCode\u003E4006\u003C/Code\u003E\n        \u003CDescription\u003EThe search criteria \u0027State\u0027 cannot be empty.\u003C/Description\u003E\n    \u003C/Error\u003E\n    \u003CResultCount\u003E0\u003C/ResultCount\u003E\n\u003C/CityResponse\u003E"},"internalServerError500ResponseJsonExample":{"value":{"code":4009,"description":"Sorry, the search request could not be processed because a system error occurred; please retry your operation or contact inetwork support person."}},"listCities500ResponseXmlExample":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CCityResponse\u003E\n    \u003CError\u003E\n        \u003CCode\u003E4009\u003C/Code\u003E\n        \u003CDescription\u003ESorry, the search request could not be processed because a system error occurred; please retry your operation or contact inetwork support person.\u003C/Description\u003E\n    \u003C/Error\u003E\n    \u003CResultCount\u003E0\u003C/ResultCount\u003E\n\u003C/CityResponse\u003E"},"listRateCenters200ResponseJsonSimpleExample":{"value":{"resultCount":9,"rateCenters":[{"abbreviation":"ADAMS","name":"ADAMS"},{"abbreviation":"AINSWORTH","name":"AINSWORTH"},{"abbreviation":"ALBION","name":"ALBION"},{"abbreviation":"ALEXANDRIA","name":"ALEXANDRIA"},{"abbreviation":"WOOD RIVER","name":"WOOD RIVER"},{"abbreviation":"WYMORE","name":"WYMORE"},{"abbreviation":"WYFRYCSTHL","name":"WYNOT FORDYCE SAINT HELENA"},{"abbreviation":"YORK","name":"YORK"},{"abbreviation":"YUTAN","name":"YUTAN"}]}},"listRateCenters200ResponseJsonWithCountExample":{"value":{"resultCount":8,"rateCenters":[{"abbreviation":"ADAMS","availablePhoneNumberCount":108,"name":"ADAMS"},{"abbreviation":"ALEXANDRIA","availablePhoneNumberCount":230,"name":"ALEXANDRIA"},{"abbreviation":"ASHLAND","availablePhoneNumberCount":129,"name":"ASHLAND"},{"abbreviation":"WEST POINT","availablePhoneNumberCount":85,"name":"WEST POINT"},{"abbreviation":"WESTERN","availablePhoneNumberCount":134,"name":"WESTERN"},{"abbreviation":"WILBER","availablePhoneNumberCount":135,"name":"WILBER"},{"abbreviation":"WYMORE","availablePhoneNumberCount":132,"name":"WYMORE"},{"abbreviation":"YUTAN","availablePhoneNumberCount":588,"name":"YUTAN"}]}},"listRateCenters200ResponseXmlSimpleExample":{"value":"\u003CRateCenterResponse\u003E\n  \u003CResultCount\u003E9\u003C/ResultCount\u003E\n  \u003CRateCenters\u003E\n    \u003CRateCenter\u003E\n      \u003CAbbreviation\u003EADAMS\u003C/Abbreviation\u003E\n      \u003CName\u003EADAMS\u003C/Name\u003E\n    \u003C/RateCenter\u003E\n    \u003CRateCenter\u003E\n      \u003CAbbreviation\u003EAINSWORTH\u003C/Abbreviation\u003E\n      \u003CName\u003EAINSWORTH\u003C/Name\u003E\n    \u003C/RateCenter\u003E\n    \u003CRateCenter\u003E\n      \u003CAbbreviation\u003EALBION\u003C/Abbreviation\u003E\n      \u003CName\u003EALBION\u003C/Name\u003E\n    \u003C/RateCenter\u003E\n    \u003CRateCenter\u003E\n      \u003CAbbreviation\u003EALEXANDRIA\u003C/Abbreviation\u003E\n      \u003CName\u003EALEXANDRIA\u003C/Name\u003E\n    \u003C/RateCenter\u003E\n    \u003CRateCenter\u003E\n      \u003CAbbreviation\u003EWOOD RIVER\u003C/Abbreviation\u003E\n      \u003CName\u003EWOOD RIVER\u003C/Name\u003E\n    \u003C/RateCenter\u003E\n    \u003CRateCenter\u003E\n      \u003CAbbreviation\u003EWYMORE\u003C/Abbreviation\u003E\n      \u003CName\u003EWYMORE\u003C/Name\u003E\n    \u003C/RateCenter\u003E\n    \u003CRateCenter\u003E\n      \u003CAbbreviation\u003EWYFRYCSTHL\u003C/Abbreviation\u003E\n      \u003CName\u003EWYNOT FORDYCE SAINT HELENA\u003C/Name\u003E\n    \u003C/RateCenter\u003E\n    \u003CRateCenter\u003E\n      \u003CAbbreviation\u003EYORK\u003C/Abbreviation\u003E\n      \u003CName\u003EYORK\u003C/Name\u003E\n    \u003C/RateCenter\u003E\n    \u003CRateCenter\u003E\n      \u003CAbbreviation\u003EYUTAN\u003C/Abbreviation\u003E\n      \u003CName\u003EYUTAN\u003C/Name\u003E\n    \u003C/RateCenter\u003E\n  \u003C/RateCenters\u003E\n\u003C/RateCenterResponse\u003E"},"listRateCenters200ResponseXmlWithCountExample":{"value":"\u003CRateCenterResponse\u003E\n  \u003CResultCount\u003E8\u003C/ResultCount\u003E\n  \u003CRateCenters\u003E\n    \u003CRateCenter\u003E\n      \u003CAbbreviation\u003EADAMS\u003C/Abbreviation\u003E\n      \u003CAvailableTelephoneNumberCount\u003E108\u003C/AvailableTelephoneNumberCount\u003E\n      \u003CName\u003EADA
[...]
