{"openapi":"3.0.1","info":{"title":"Porting","description":"Bandwidth\u0027s Porting API\n\nThis API provides endpoints to manage port-in orders, including retrieving and updating activation status for telephone numbers being ported into the Bandwidth network.","contact":{"name":"Bandwidth","url":"https://dev.bandwidth.com/apis/numbers-apis/porting/portins/","email":"support@bandwidth.com"},"version":"2.0.0","termsOfService":"https://www.bandwidth.com/legal/terms-of-service/"},"servers":[{"url":"https://api.bandwidth.com/api/v2","description":"Production"}],"security":[{"Basic":[]},{"Bearer":[]}],"paths":{"/accounts/{accountId}/portins/{orderId}/activationStatus":{"get":{"tags":["Porting"],"operationId":"retrievePortinActivationStatus","summary":"Retrieve port-in order activation status","description":"Retrieve the status (activated or not activated) of TNs associated with the customer activated (triggered) order. \u003Cbr\u003E\u003Cbr\u003E\nAt this time all phone numbers associated with a PON will be activated at the same time.","parameters":[{"$ref":"#/components/parameters/AccountIdPathParam"},{"$ref":"#/components/parameters/OrderIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/activationStatusResponse200"},"400":{"$ref":"#/components/responses/activationStatusResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/activationStatusResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"5XX":{"$ref":"#/components/responses/errorResponse500"}}},"put":{"tags":["Porting"],"operationId":"updatePortinActivationStatus","summary":"Update port-in order activation status","description":"Sets the activation time for the port-in order.  \u003Cbr\u003E \u003Cbr\u003E\nThis API call is used to set the Activation time of the customer activated (triggered) port.\u003C/p\u003E\n\n\u003Cul\u003E\n\u003Cli\u003EIf the time is in the past all of the TNs in the port-in request will be activated \u0027immediately\u0027.\u003C/li\u003E\n\u003Cli\u003EFor automated on-net port-ins, if the time is within three days after the approved FoC date, the auto-activation time for the port will be set to that time.\u003C/li\u003E\n\u003Cli\u003EFor automated off-net port-ins, if the date matches the actual FOC date and the time is between 6:00 AM ET and 10:00 PM ET, the auto-activation time for the port will be set to that time.\u003C/li\u003E\n\u003C/ul\u003E\n","parameters":[{"$ref":"#/components/parameters/AccountIdPathParam"},{"$ref":"#/components/parameters/OrderIdPathParam"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/activationStatusJson"},"examples":{"example":{"value":{"autoActivationDate":"2014-08-30T18:30:00\u002B03:00"}}}},"application/xml":{"schema":{"$ref":"#/components/schemas/activationStatus"},"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CActivationStatus\u003E\n    \u003CAutoActivationDate\u003E2014-08-30T18:30:00\u002B03:00\u003C/AutoActivationDate\u003E\n\u003C/ActivationStatus\u003E"}}}}},"responses":{"200":{"$ref":"#/components/responses/activationStatusPutResponse200"},"400":{"$ref":"#/components/responses/activationStatusResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/activationStatusResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"5XX":{"$ref":"#/components/responses/errorResponse500"}}}}},"components":{"responses":{"activationStatusResponse200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/activationStatusJson"},"examples":{"example":{"value":{"autoActivationDate":"2014-08-29T18:30:00\u002B03:00","activatedPhoneNumbers":[16052609021],"notYetActivatedPhoneNumbers":[]}}}},"application/xml":{"schema":{"$ref":"#/components/schemas/activationStatusResponse"},"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CActivationStatusResponse\u003E\n    \u003CActivationStatus\u003E\n        \u003CAutoActivationDate\u003E2014-08-29T18:30:00\u002B03:00\u003C/AutoActivationDate\u003E\n        \u003CActivatedTelephoneNumbersList\u003E\n            \u003CTelephoneNumber\u003E\u002B16052609021\u003C/TelephoneNumber\u003E\n        \u003C/ActivatedTelephoneNumbersList\u003E\n        \u003CNotYetActivatedTelephoneNumbersList/\u003E\n    \u003C/ActivationStatus\u003E\n\u003C/ActivationStatusResponse\u003E"}}}}},"activationStatusPutResponse200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/activationStatusJson"},"examples":{"example":{"value":{"autoActivationDate":"2014-08-30T18:30:00\u002B03:00"}}}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CActivationStatusResponse\u003E\n    \u003CActivationStatus\u003E\n        \u003CAutoActivationDate\u003E2014-08-30T18:30:00\u002B03:00\u003C/AutoActivationDate\u003E\n    \u003C/ActivationStatus\u003E\n\u003C/ActivationStatusResponse\u003E"}}}}},"activationStatusResponse400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/activationStatusErrorResponseJson"},"examples":{"example":{"value":{"code":7342,"description":"On demand port-in activation not yet allowed."}}}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CActivationStatusResponse\u003E\n    \u003CResponseStatus\u003E\n        \u003CErrorCode\u003E7342\u003C/ErrorCode\u003E\n        \u003CDescription\u003EOn demand port-in activation not yet allowed.\u003C/Description\u003E\n    \u003C/ResponseStatus\u003E\n\u003C/ActivationStatusResponse\u003E"}}}}},"activationStatusResponse404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/activationStatusErrorResponseJson"},"examples":{"example":{"value":{"code":7348,"description":"The order is already complete"}}}},"application/xml":{"examples":{"example":{"value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CActivationStatusResponse\u003E\n    \u003CResponseStatus\u003E\n        \u003CErrorCode\u003E7348\u003C/ErrorCode\u003E\n        \u003CDescription\u003EThe order is already complete\u003C/Description\u003E\n    \u003C/ResponseStatus\u003E\n\u003C/ActivationStatusResponse\u003E"}}}}},"errorResponse401":{"description":"Unauthorized"},"errorResponse403":{"description":"Forbidden"},"errorResponse429":{"description":"Too Many Requests"},"errorResponse500":{"description":"Internal Server Error"}},"securitySchemes":{"Basic":{"type":"http","scheme":"basic","description":"Basic authentication is a simple authentication scheme built into the HTTP protocol. To use it, send your HTTP requests with an Authorization header that contains the word Basic followed by a space and a base64-encoded string \u0060username:password\u0060.\nExample: \u0060Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0060"},"Bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Bearer authentication (also called token authentication) is an HTTP authentication scheme that involves security \ntokens called bearer tokens. The name \u0022Bearer authentication\u0022 can be understood as \u0022give access to the bearer\nof this token.\u0022 The client must send this token in the \u0060Authorization\u0060 header when making requests to\nprotected resources.\n\n- Example: \u0060Authorization: Bearer \u003Ctoken\u003E\u0060\n\nWhere \u0060\u003Ctoken\u003E\u0060 should be replaced with the token string without angle brackets.\n\nFor more information, see the following guide: [Credentials](https://dev.bandwidth.com/docs/account/credentials/management)"}},"parameters":{"AccountIdPathParam":{"name":"accountId","description":"User\u0027s account ID.","in":"path","required":true,"schema":{"type":"string"},"example":1234567},"OrderIdPathParam":{"name":"orderId","description":"The port-in order ID.","in":"path","required":true,"schema":{"type":"string"},"example":"d28f4d00-4af1-4b03-b1d4-fc0a9e9ef6b3"}},"schemas":{"activationStatus":{"type":"object","properties":{"ActivationStatus":{"type":"object","properties":{"AutoActivationDate":{"description":"The date when auto activation is requested. It can be a date/time in the past, if immediate activation is desired.","type":"string","format":"date-time"},"ActivatedTelephoneNumbersList":{"description":"This is the list of TNs that have been activated for the port-in order.","type":"array","items":{"type":"string"}},"NotYetActivatedTelephoneNumbersList":{"description":"This is the list of TNs that have not yet been activated for the port-in order.","type":"array","items":{"type":"string"}}}}}},"activationStatusResponse":{"type":"object","properties":{"ActivationStatusResponse":{"$ref":"#/components/schemas/activationStatus"}}},"activationStatusJson":{"type":"object","properties":{"activatedPhoneNumbers":{"description":"List of phone numbers that have been activated for the port-in order.","type":"array","items":{"type":"string"}},"notYetActivatedPhoneNumbers":{"description":"List of phone numbers that have not yet been activated for the port-in order.","type":"array","items":{"type":"string"}},"autoActivationDate":{"description":"The date when auto activation is requested. RFC 3339 format.","type":"string","format":"date-time"}}},"activationStatusErrorResponseJson":{"type":"object","properties":{"code":{"type":"string","description":"Error code."},"description":{"type":"string","description":"Error description."}}}}},"tags":[{"name":"Porting","description":"Manage port-in orders and their activation status."}]}