{"openapi":"3.0.1","info":{"description":"Bandwidth\u0027s Product Settings API manages account-level product settings for Edge Management, Toll-Free, and UC Trunking.\nIt also covers the SIP trunking and voice provisioning resources that support those products, including hosts, realms, SIP credentials, and location (SIP peer) level origination and termination settings.","title":"Product Settings API","version":"1.0.0","contact":{"name":"Bandwidth Support","email":"support@bandwidth.com","url":"https://support.bandwidth.com"},"termsOfService":"https://www.bandwidth.com/legal/terms-of-use-bandwidthcom-web-sites/"},"servers":[{"url":"https://api.bandwidth.com/api/v2","description":"Production"}],"paths":{"/accounts/{accountId}/hosts":{"get":{"description":"Retrieve information about the hosts of account, as guided by optional search parameters.","operationId":"listHosts","summary":"List hosts on account","tags":["Account"],"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/hostQueryParam"},{"$ref":"#/components/parameters/hostTypeQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/hostsResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}}},"/accounts/{accountId}/products/edgemanagement/settings":{"get":{"description":"Retrieve settings that are provided as part of the Edge Management product: The SBC settings that are associated with the account and ProductSpecificAccessRestrictions.","operationId":"getAccountEdgemanagementProductSettings","summary":"Retrieve edgemanagement product settings","tags":["Account"],"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getEdgeManagementSettingsResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}}},"/accounts/{accountId}/products/tollfree/settings":{"get":{"description":"Retrieve existing tollfree settings on account.","operationId":"getAccountTollfreeProductSettings","summary":"Retrieve tollfree product settings","tags":["Account"],"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getTollFreeSettingsResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}}},"/accounts/{accountId}/products/uctrunking/features/hosted/settings":{"get":{"description":"Retrieve existing uctrunking hosted settings on account.","operationId":"getAccountUcTrunkingHostedFeatureSettings","summary":"Retrieve uctrunking product hosted feature settings","tags":["Account"],"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/ucTrunkingHostedSettingsResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/ucTrunkingHostedSettingsNotFoundErrorResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}},"post":{"description":"Creates a UC Trunking hosted (cloud) configuration.","operationId":"createAccountUcTrunkingHostedSettings","summary":"Add uctrunking product hosted feature settings","tags":["Account"],"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/ucTrunkingHostedSettingsRequest"},"responses":{"200":{"$ref":"#/components/responses/ucTrunkingHostedSettingsResponse"},"400":{"$ref":"#/components/responses/ucTrunkingHostedSettingsBadRequestErrorResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/ucTrunkingHostedSettingsNotFoundErrorResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}},"put":{"description":"Updates uctrunking hosted feature settings on account.","operationId":"updateAccountUcTrunkingHostedSettings","summary":"Update uctrunking product hosted feature settings","tags":["Account"],"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/ucTrunkingHostedSettingsRequest"},"responses":{"200":{"$ref":"#/components/responses/ucTrunkingHostedSettingsResponse"},"400":{"$ref":"#/components/responses/ucTrunkingHostedSettingsBadRequestErrorResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/ucTrunkingHostedSettingsNotFoundErrorResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}}},"/accounts/{accountId}/products/uctrunking/settings":{"get":{"description":"Retrieve existing uctrunking settings on account.","operationId":"getAccountUcTrunkingProductSettings","summary":"Retrieve uctrunking product settings","tags":["Account"],"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getUcTrunkingSettingsResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}}},"/accounts/{accountId}/realms":{"get":{"description":"Retrieve all Realms for the account","operationId":"listRealms","summary":"List Realms","tags":["SIP Registrar"],"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/realmFragmentQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/listRealmsResponse"},"400":{"$ref":"#/components/responses/listRealmsBadRequestErrorResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/listRealmsNotFoundErrorResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}},"post":{"description":"Create a Realm","operationId":"createRealm","summary":"Create Realm","tags":["SIP Registrar"],"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/createRealmRequest"},"responses":{"201":{"$ref":"#/components/responses/createRealm201Response"},"400":{"$ref":"#/components/responses/createRealmBadRequestErrorResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/createRealmServiceUnavailableErrorResponse"}}}},"/accounts/{accountId}/realms/{realm}":{"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/realmPathParam"}],"get":{"description":"Retrieve a Realm associated with the account","operationId":"getRealm","summary":"Retrieve Realm","tags":["SIP Registrar"],"responses":{"200":{"$ref":"#/components/responses/retrieveRealmResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/retrieveRealmNotFoundErrorResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/retrieveRealmServiceUnavailableErrorResponse"}}},"put":{"description":"Update a Realm","operationId":"replaceRealm","summary":"Update Realm","tags":["SIP Registrar"],"requestBody":{"$ref":"#/components/requestBodies/updateRealmRequest"},"responses":{"200":{"$ref":"#/components/responses/updateRealmResponse"},"400":{"$ref":"#/components/responses/updateRealmBadRequestErrorResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/updateRealmServiceUnavailableErrorResponse"}}},"delete":{"description":"Delete a Realm","operationId":"deleteRealm","summary":"Delete Realm","tags":["SIP Registrar"],"responses":{"202":{"$ref":"#/components/responses/deleteRealmAcceptedResponse"},"400":{"$ref":"#/components/responses/deleteRealmBadRequestErrorResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/deleteRealmNotFoundErrorResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/deleteRealmServiceUnavailableErrorResponse"}}}},"/accounts/{accountId}/sipcredentials":{"get":{"tags":["SIP Registrar"],"description":"Retrieve all SIP credentials for the account","summary":"Retrieve SIP Credentials","operationId":"listSipCredentials","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/sipCredentialsPageQueryParam"},{"$ref":"#/components/parameters/sipCredentialsSizeQueryParam"},{"$ref":"#/components/parameters/userNameFragmentQueryParam"},{"$ref":"#/components/parameters/domainFragmentQueryParam"},{"$ref":"#/components/parameters/applicationNameFragmentQueryParam"},{"$ref":"#/components/parameters/realmFragmentQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/listSipCredentialsResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/listSipCredentialsNotFoundResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}},"post":{"tags":["SIP Registrar"],"description":"Create SIP credentials and associate them with the account","summary":"Create SIP Credentials","operationId":"createSipCredentials","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/createSipCredentialsRequest"},"responses":{"201":{"$ref":"#/components/responses/createSipCredentials201Response"},"400":{"$ref":"#/components/responses/createSipCredentialsBadRequestResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/createSipCredentialsServiceUnavailableResponse"}}}},"/accounts/{accountId}/realms/{realmId}/sipcredentials":{"get":{"tags":["SIP Registrar"],"description":"Retrieve all SIP credentials for the account ID and realm ID specified","operationId":"listSipCredentialsOnRealm","summary":"List SIP Credentials On Realm","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/realmIdPathParam"},{"$ref":"#/components/parameters/afterCursorQueryParam"},{"$ref":"#/components/parameters/limitQueryParam"},{"$ref":"#/components/parameters/userNameFragmentQueryParam"},{"$ref":"#/components/parameters/applicationNameFragmentQueryParam"},{"$ref":"#/components/parameters/realmFragmentQueryParam"}],"responses":{"200":{"$ref":"#/components/responses/listSipCredentialsOnRealmResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/listSipCredentialsOnRealmNotFoundResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}},"post":{"tags":["SIP Registrar"],"description":"Create SIP credentials on the Realm","operationId":"createSipCredentialsOnRealm","summary":"Create SIP Credentials On Realm","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/realmIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/createSipCredentialsOnRealmRequest"},"responses":{"201":{"$ref":"#/components/responses/createSipCredentialsOnRealm201Response"},"400":{"$ref":"#/components/responses/createSipCredentialsOnRealmBadRequestResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/createSipCredentialsOnRealmServiceUnavailableResponse"}}}},"/accounts/{accountId}/realms/{realmId}/sipcredentials/{credentialId}":{"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"name":"realmId","description":"Realm\u0027s ID of SIP Credential","in":"path","required":true,"schema":{"type":"string"},"example":"22"},{"name":"credentialId","description":"ID of SIP Credential","in":"path","required":true,"schema":{"type":"string"},"example":"11"}],"get":{"tags":["SIP Registrar"],"description":"Retrieve a SIP credential for the account and realm specified by its assigned ID","operationId":"getSipCredentialOnRealm","summary":"Retrieve SIP Credential On Realm","responses":{"200":{"$ref":"#/components/responses/retrieveSipCredentialOnRealmResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/retrieveSipCredentialOnRealmNotFoundResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}},"put":{"tags":["SIP Registrar"],"description":"Update single SIP credential on the Realm","operationId":"updateSipCredentialOnRealm","summary":"Update SIP Credential On Realm","requestBody":{"$ref":"#/components/requestBodies/updateSipCredentialOnRealmRequest"},"responses":{"200":{"$ref":"#/components/responses/retrieveSipCredentialOnRealmResponse"},"400":{"$ref":"#/components/responses/updateSipCredentialOnRealmBadRequestResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/retrieveSipCredentialOnRealmNotFoundResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/sipCredentialOnRealmServiceUnavailableResponse"}}},"delete":{"tags":["SIP Registrar"],"description":"Delete SIP credential on the Realm","operationId":"deleteSipCredentialOnRealm","summary":"Delete SIP Credential On Realm","responses":{"200":{"description":"OK"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/retrieveSipCredentialOnRealmNotFoundResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/sipCredentialOnRealmServiceUnavailableResponse"}}}},"/accounts/{accountId}/sipcredentials/{compositeUserName}":{"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"name":"compositeUserName","description":"Is comprised of the \u0060UserName\u0060, and, if there is a \u0060Domain\u0060 part, an @ followed by the \u0060Domain\u0060","in":"path","required":true,"schema":{"type":"string"},"example":"\u0060user\u0060 or \u0060user@domain\u0060"}],"get":{"tags":["SIP Registrar"],"description":"Retrieve a SIP credential for the account by unique combination of user name and domain","operationId":"getSipCredential","summary":"Retrieve SIP Credential","responses":{"200":{"$ref":"#/components/responses/retrieveSipCredentialResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/retrieveSipCredentialNotFoundResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}},"put":{"tags":["SIP Registrar"],"description":"Update single SIP credential.\nIt is not possible to change the UserName or the Domain associated with the Hash Values. To do so requires deletion of one set of credentials and addition of a new set of credentials","operationId":"updateSipCredential","summary":"Update SIP Credential","requestBody":{"$ref":"#/components/requestBodies/updateSipCredentialRequest"},"responses":{"200":{"$ref":"#/components/responses/retrieveSipCredentialResponse"},"400":{"$ref":"#/components/responses/updateSipCredentialBadRequestResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/retrieveSipCredentialNotFoundResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/sipCredentialServiceUnavailableResponse"}}},"delete":{"tags":["SIP Registrar"],"description":"Delete SIP credential","operationId":"deleteSipCredential","summary":"Delete SIP Credential","responses":{"200":{"description":"OK"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/retrieveSipCredentialNotFoundResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/sipCredentialServiceUnavailableResponse"}}}},"/accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/products/origination/settings":{"get":{"tags":["Locations (SIP Peers)"],"description":"Retrieve Sip Peer Origination settings","summary":"Retrieve Origination Settings for a Location","operationId":"getLocationOriginationSettings","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"},{"$ref":"#/components/parameters/locationIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/retrieveOriginationSettingsResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}},"post":{"tags":["Locations (SIP Peers)"],"description":"Create Sip Peer Origination settings","summary":"Create Origination Settings for a Location","operationId":"createLocationOriginationSettings","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"},{"$ref":"#/components/parameters/locationIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/createOrUpdateOriginationSettingsRequest"},"responses":{"201":{"$ref":"#/components/responses/createOriginationSettingsResponse"},"400":{"$ref":"#/components/responses/originationSettingsBadRequestResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}},"put":{"tags":["Locations (SIP Peers)"],"description":"Update Sip Peer Origination settings\u003Cp\u003ENote: Changing the Voice Protocol from SIP to HTTP will remove Voice Hosts or Voice Host Groups and Termination Hosts, which are configured using API /accounts/{accountId}/sites/{siteId}/sippeers/{sippeerId}.\u003C/p\u003E","summary":"Update Origination Settings for a Location","operationId":"updateLocationOriginationSettings","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"},{"$ref":"#/components/parameters/locationIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/createOrUpdateOriginationSettingsRequest"},"responses":{"200":{"$ref":"#/components/responses/retrieveOriginationSettingsResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}}},"/accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/products/termination":{"get":{"tags":["Locations (SIP Peers)"],"description":"Retrieve SIP peer termination products including termination settings and termination hosts","summary":"Retrieve Termination Products for a Location","operationId":"getLocationTerminationProducts","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"},{"$ref":"#/components/parameters/locationIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getSipPeerTerminationProductsResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/sipPeerTerminationProductsInternalErrorResponse"}}}},"/accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/products/termination/hosts":{"get":{"tags":["Locations (SIP Peers)"],"description":"Retrieve all termination hosts (gateway IPs and subnets) for a Location","summary":"Retrieve Termination Hosts for a Location","operationId":"getLocationTerminationHosts","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"},{"$ref":"#/components/parameters/locationIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getSipPeerTerminationHostsResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/sipPeerTerminationHostsInternalErrorResponse"}}}},"/accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/products/termination/hosts/{gatewayId}":{"get":{"tags":["Locations (SIP Peers)"],"description":"Retrieve a single termination host (gateway IP or subnet) for a Location by ID","summary":"Retrieve a Termination Host for a Location","operationId":"getLocationTerminationHost","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"},{"$ref":"#/components/parameters/locationIdPathParam"},{"$ref":"#/components/parameters/gatewayIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getSipPeerTerminationHostResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/sipPeerTerminationHostNotFoundResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}}},"/accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/products/termination/hosts/{gatewayId}/settings":{"get":{"tags":["Locations (SIP Peers)"],"description":"Retrieve all settings (gateway attributes) for a termination host on a Location","summary":"Retrieve Termination Host Settings for a Location","operationId":"getLocationTerminationHostSettings","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"},{"$ref":"#/components/parameters/locationIdPathParam"},{"$ref":"#/components/parameters/gatewayIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getSipPeerTerminationHostSettingsResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/sipPeerTerminationHostSettingsNotFoundResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}}},"/accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/products/termination/hosts/{gatewayId}/settings/{attributeId}":{"get":{"tags":["Locations (SIP Peers)"],"description":"Retrieve a single setting (gateway attribute) for a termination host on a Location by ID","summary":"Retrieve a Termination Host Setting for a Location","operationId":"getLocationTerminationHostSetting","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"},{"$ref":"#/components/parameters/locationIdPathParam"},{"$ref":"#/components/parameters/gatewayIdPathParam"},{"$ref":"#/components/parameters/attributeIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getSipPeerTerminationHostSettingResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/sipPeerTerminationHostSettingNotFoundResponse"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}}},"/accounts/{accountId}/sites/{siteId}/sippeers/{sipPeerId}/products/termination/settings":{"get":{"tags":["Locations (SIP Peers)"],"description":"Retrieve termination settings for a Location","summary":"Retrieve Termination Settings for a Location","operationId":"getLocationTerminationSettings","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"},{"$ref":"#/components/parameters/locationIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getSipPeerTerminationSettingsResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}},"post":{"tags":["Locations (SIP Peers)"],"description":"Create termination settings for a Location","summary":"Create Termination Settings for a Location","operationId":"createLocationTerminationSettings","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"},{"$ref":"#/components/parameters/locationIdPathParam"}],"requestBody":{"required":true,"content":{"application/xml":{"schema":{"$ref":"numbers.yml#/components/schemas/SipPeerTerminationSettingsRequest"},"examples":{"httpVoiceProtocol":{"$ref":"#/components/examples/sipPeerTerminationSettingsHttpRequestXmlExample"},"sipVoiceProtocol":{"$ref":"#/components/examples/sipPeerTerminationSettingsSipRequestXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/sipPeerTerminationSettingsRequestJson"},"examples":{"httpVoiceProtocol":{"$ref":"#/components/examples/sipPeerTerminationSettingsHttpRequestJsonExample"},"sipVoiceProtocol":{"$ref":"#/components/examples/sipPeerTerminationSettingsSipRequestJsonExample"}}}}},"responses":{"201":{"$ref":"#/components/responses/createSipPeerTerminationSettingsResponse"},"400":{"$ref":"#/components/responses/sipPeerTerminationSettingsBadRequestResponse"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}},"put":{"tags":["Locations (SIP Peers)"],"description":"Update termination settings for a Location. Note: Changing the Voice Protocol from SIP to HTTP will remove Voice Hosts or Voice Host Groups and Termination Hosts.","summary":"Update Termination Settings for a Location","operationId":"updateLocationTerminationSettings","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/subAccountIdPathParam"},{"$ref":"#/components/parameters/locationIdPathParam"}],"requestBody":{"required":true,"content":{"application/xml":{"schema":{"$ref":"numbers.yml#/components/schemas/SipPeerTerminationSettingsRequest"},"examples":{"httpVoiceProtocol":{"$ref":"#/components/examples/sipPeerTerminationSettingsHttpRequestXmlExample"},"sipVoiceProtocol":{"$ref":"#/components/examples/sipPeerTerminationSettingsSipRequestXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/sipPeerTerminationSettingsRequestJson"},"examples":{"httpVoiceProtocol":{"$ref":"#/components/examples/sipPeerTerminationSettingsHttpRequestJsonExample"},"sipVoiceProtocol":{"$ref":"#/components/examples/sipPeerTerminationSettingsSipRequestJsonExample"}}}}},"responses":{"200":{"$ref":"#/components/responses/updateSipPeerTerminationSettingsResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"}}}}},"components":{"parameters":{"accountIdPathParam":{"description":"User\u0027s account ID.","example":"1234567","in":"path","name":"accountId","required":true,"schema":{"type":"string"}},"subAccountIdPathParam":{"name":"siteId","description":"Sub-Account ID","in":"path","required":true,"schema":{"type":"integer"},"example":407},"locationIdPathParam":{"name":"sipPeerId","description":"ID of the location","in":"path","required":true,"schema":{"type":"integer"},"example":500017},"gatewayIdPathParam":{"name":"gatewayId","description":"ID of the termination host (gateway)","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"example":23},"attributeIdPathParam":{"name":"attributeId","description":"ID of the gateway attribute (setting)","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"example":8},"hostQueryParam":{"description":"\u003Cp\u003EAn IP address or subnet (CIDR format) associated with the account. Filter for subnet applies by exact match.\u003C/p\u003E","example":"47.16.211.63 or 69.22.181.68/30","in":"query","name":"host","required":false,"schema":{"type":"string"}},"hostTypeQueryParam":{"description":"\u003Cp\u003EA status value to filter the hosts returned in the payload. Values that can be accepted include:\u003C/p\u003E\u003Cul\u003E\u003Cli\u003ESMS\u003C/li\u003E\u003Cli\u003ETERMINATION\u003C/li\u003E\u003Cli\u003EORIGINATION\u003C/li\u003E\u003C/ul\u003E","example":"TERMINATION","in":"query","name":"type","required":false,"schema":{"type":"string"}},"realmPathParam":{"description":"Name or ID of the realm","example":"22","in":"path","name":"realm","required":true,"schema":{"type":"string"}},"realmIdPathParam":{"description":"ID of the Realm","example":"22","in":"path","name":"realmId","required":true,"schema":{"type":"string"}},"realmFragmentQueryParam":{"description":"The realm fragment","example":"myrealm","in":"query","name":"realmFragment","required":false,"schema":{"type":"string","maxLength":64,"minLength":3}},"userNameFragmentQueryParam":{"description":"The user name fragment","example":"user32","in":"query","name":"userNameFragment","required":false,"schema":{"type":"string","maxLength":64,"minLength":3}},"domainFragmentQueryParam":{"description":"The domain fragment","example":"bw.","in":"query","name":"domainFragment","required":false,"schema":{"type":"string","maxLength":64,"minLength":3}},"applicationNameFragmentQueryParam":{"description":"The application name fragment","example":"myapp","in":"query","name":"applicationNameFragment","required":false,"schema":{"type":"string","maxLength":64,"minLength":3}},"sipCredentialsPageQueryParam":{"description":"An ID of the first element in a page.  This value will indicate the first value, not the count, of the initial entry in the page being requested. It can be an index of SIP credential or a combination of user name and domain in form {userName}@{domain}. The initial page is tagged with the ID \u00271\u0027","example":"3, user321@bw.com","in":"query","name":"page","required":false,"schema":{"type":"string","default":"1"}},"sipCredentialsSizeQueryParam":{"description":"The number of items to include in a page","example":5000,"in":"query","name":"size","required":false,"schema":{"type":"integer","default":500}},"afterCursorQueryParam":{"description":"An ID of the first element in a page. This value will indicate the first value, not the count, of the initial entry in the page being requested. It can be an index of SIP credential or a combination of user name and domain in form {userName}@{domain}. The initial page is tagged with the ID \u00271\u0027","example":"3","in":"query","name":"afterCursor","required":false,"schema":{"type":"string","default":"1"}},"limitQueryParam":{"description":"The number of items to include in a page","example":5000,"in":"query","name":"limit","required":false,"schema":{"type":"integer","default":500}}},"requestBodies":{"ucTrunkingHostedSettingsRequest":{"description":"UC Trunking hosted (cloud) settings request","required":true,"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ucTrunkingCloudSettingsPayload"},"examples":{"example":{"$ref":"#/components/examples/ucTrunkingHostedSettingsRequestXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/ucTrunkingCloudSettingsPayloadJson"},"examples":{"example":{"$ref":"#/components/examples/ucTrunkingHostedSettingsRequestJsonExample"}}}}},"createRealmRequest":{"description":"Realm Request","required":true,"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/realmCreateRequest"},"examples":{"example":{"$ref":"#/components/examples/createRealmRequestXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/realmCreateRequestJson"},"examples":{"example":{"$ref":"#/components/examples/createRealmRequestJsonExample"}}}}},"updateRealmRequest":{"description":"Realm Update Request","required":true,"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/realmUpdateRequest"},"examples":{"example":{"$ref":"#/components/examples/updateRealmRequestXmlExample"}}}}},"createSipCredentialsRequest":{"description":"SIP Credentials Request","required":true,"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/accountSipCredentialsRequest"},"examples":{"example":{"$ref":"#/components/examples/createSipCredentialsRequestXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/createSipCredentialsOnRealmRequestBodyJson"},"examples":{"example":{"$ref":"#/components/examples/createSipCredentialsRequestJsonExample"}}}}},"createSipCredentialsOnRealmRequest":{"description":"SIP Credentials Request","required":true,"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/accountSipCredentialsRequest"},"examples":{"example":{"$ref":"#/components/examples/createSipCredentialsOnRealmRequestXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/createSipCredentialsOnRealmRequestBodyJson"},"examples":{"example":{"$ref":"#/components/examples/createSipCredentialsOnRealmRequestJsonExample"}}}}},"updateSipCredentialOnRealmRequest":{"description":"SIP Credential Update Request","required":true,"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipCredentialUpdateRequestXml"},"examples":{"example":{"$ref":"#/components/examples/updateSipCredentialOnRealmRequestXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/updateSipCredentialOnRealmRequestJson"},"examples":{"example":{"$ref":"#/components/examples/updateSipCredentialOnRealmRequestJsonExample"}}}}},"updateSipCredentialRequest":{"description":"SIP Credential Update Request","required":true,"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipCredentialUpdateRequestXml"},"examples":{"example":{"$ref":"#/components/examples/updateSipCredentialRequestXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/updateSipCredentialRequestJson"},"examples":{"example":{"$ref":"#/components/examples/updateSipCredentialRequestJsonExample"}}}}},"createOrUpdateOriginationSettingsRequest":{"description":"Origination Settings Request","required":true,"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipPeerOriginationSettingsRequestXml"},"examples":{"HTTP Voice protocol":{"$ref":"#/components/examples/createOriginationSettingsHttpXmlExample"},"SIP Voice protocol":{"$ref":"#/components/examples/createOriginationSettingsSipXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/originationSettingsRequestJson"},"examples":{"HTTP Voice protocol":{"$ref":"#/components/examples/createOriginationSettingsHttpJsonExample"},"SIP Voice protocol":{"$ref":"#/components/examples/createOriginationSettingsSipJsonExample"}}}}}},"responses":{"errorResponse400":{"description":"Bad Request"},"errorResponse401":{"description":"Unauthorized"},"errorResponse403":{"description":"Forbidden"},"errorResponse404":{"description":"Not Found"},"errorResponse429":{"description":"Too Many Requests"},"errorResponse500":{"description":"Internal Server Error"},"hostsResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/siteHostsResponse"},"examples":{"hostsExample":{"$ref":"#/components/examples/hostsXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/subAccountHostsResponseJson"},"examples":{"hostsExample":{"$ref":"#/components/examples/hostsJsonExample"}}}}},"getEdgeManagementSettingsResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/edgeManagementSettingsResponse"},"examples":{"example":{"$ref":"#/components/examples/getEdgeManagementSettingsResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/edgeManagementSettingsResponseJson"},"examples":{"example":{"$ref":"#/components/examples/getEdgeManagementSettingsResponseJsonExample"}}}}},"getTollFreeSettingsResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/tollFreeSettingsResponse"},"examples":{"example":{"$ref":"#/components/examples/getTollFreeSettingsResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/tollFreeSettingsResponseJson"},"examples":{"example":{"$ref":"#/components/examples/getTollFreeSettingsResponseJsonExample"}}}}},"ucTrunkingHostedSettingsResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ucTrunkingCloudSettingsResponse"},"examples":{"example":{"$ref":"#/components/examples/ucTrunkingHostedSettingsResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/ucTrunkingCloudSettingsResponseJson"},"examples":{"example":{"$ref":"#/components/examples/ucTrunkingHostedSettingsResponseJsonExample"}}}}},"ucTrunkingHostedSettingsBadRequestErrorResponse":{"description":"Bad Request","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ucTrunkingCloudSettingsErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/ucTrunkingHostedSettingsBadRequestXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/ucTrunkingHostedSettingsBadRequestJsonExample"}}}}},"ucTrunkingHostedSettingsNotFoundErrorResponse":{"description":"Not Found","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ucTrunkingCloudSettingsErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/ucTrunkingHostedSettingsNotFoundXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/ucTrunkingHostedSettingsNotFoundJsonExample"}}}}},"getUcTrunkingSettingsResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ucTrunkingSettingsResponse"},"examples":{"example":{"$ref":"#/components/examples/getUcTrunkingSettingsResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/ucTrunkingSettingsResponseJson"},"examples":{"example":{"$ref":"#/components/examples/getUcTrunkingSettingsResponseJsonExample"}}}}},"listRealmsResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/realmsResponse"},"examples":{"example":{"$ref":"#/components/examples/listRealmsResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/realmsResponseJson"},"examples":{"example":{"$ref":"#/components/examples/listRealmsResponseJsonExample"}}}}},"listRealmsBadRequestErrorResponse":{"description":"Bad Request","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/realmsErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/listRealmsBadRequestErrorResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/listRealmsBadRequestErrorResponseJsonExample"}}}}},"listRealmsNotFoundErrorResponse":{"description":"Not Found","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/realmsErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/listRealmsNotFoundErrorResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/listRealmsNotFoundErrorResponseJsonExample"}}}}},"createRealm201Response":{"description":"Created","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/realmResponse"},"examples":{"example":{"$ref":"#/components/examples/createRealm201ResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/realmResponseJson"},"examples":{"example":{"$ref":"#/components/examples/createRealm201ResponseJsonExample"}}}}},"createRealmBadRequestErrorResponse":{"description":"Bad Request","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/realmErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/createRealmBadRequestErrorResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/createRealmBadRequestErrorResponseJsonExample"}}}}},"createRealmServiceUnavailableErrorResponse":{"description":"Service Unavailable","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/realmErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/createRealmServiceUnavailableErrorResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/createRealmServiceUnavailableErrorResponseJsonExample"}}}}},"retrieveRealmResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/realmResponse"},"examples":{"example":{"$ref":"#/components/examples/retrieveRealmResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/realmResponseJson"},"examples":{"example":{"$ref":"#/components/examples/retrieveRealmResponseJsonExample"}}}}},"retrieveRealmNotFoundErrorResponse":{"description":"Not Found","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/realmErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/retrieveRealmNotFoundErrorResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/retrieveRealmNotFoundErrorResponseJsonExample"}}}}},"retrieveRealmServiceUnavailableErrorResponse":{"description":"Service Unavailable","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/realmErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/retrieveRealmServiceUnavailableErrorResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/retrieveRealmServiceUnavailableErrorResponseJsonExample"}}}}},"deleteRealmAcceptedResponse":{"description":"Accepted"},"deleteRealmBadRequestErrorResponse":{"description":"Bad Request","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/realmErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/deleteRealmBadRequestErrorResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/deleteRealmBadRequestErrorResponseJsonExample"}}}}},"deleteRealmNotFoundErrorResponse":{"description":"Not Found","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/realmErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/deleteRealmNotFoundErrorResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/deleteRealmNotFoundErrorResponseJsonExample"}}}}},"deleteRealmServiceUnavailableErrorResponse":{"description":"Service Unavailable","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/realmErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/deleteRealmServiceUnavailableErrorResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/deleteRealmServiceUnavailableErrorResponseJsonExample"}}}}},"updateRealmResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/realmResponse"},"examples":{"example":{"$ref":"#/components/examples/updateRealmResponseXmlExample"}}}}},"updateRealmBadRequestErrorResponse":{"description":"Bad Request","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/realmErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/updateRealmBadRequestErrorResponseXmlExample"}}}}},"updateRealmServiceUnavailableErrorResponse":{"description":"Service Unavailable","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/realmErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/updateRealmServiceUnavailableErrorResponseXmlExample"}}}}},"listSipCredentialsResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/realmSipCredentialsResponseXml"},"examples":{"example":{"$ref":"#/components/examples/listSipCredentialsResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/listSipCredentialsOnRealmResponseJson"},"examples":{"example":{"$ref":"#/components/examples/listSipCredentialsResponseJsonExample"}}}}},"listSipCredentialsNotFoundResponse":{"description":"Not Found","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipCredentialErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/listSipCredentialsNotFoundResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/listSipCredentialsNotFoundResponseJsonExample"}}}}},"createSipCredentials201Response":{"description":"Created","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipCredentialsCreatedResponseXml"},"examples":{"example":{"$ref":"#/components/examples/createSipCredentials201ResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/createSipCredentialsOnRealmResponseJson"},"examples":{"example":{"$ref":"#/components/examples/createSipCredentials201ResponseJsonExample"}}}}},"createSipCredentialsBadRequestResponse":{"description":"Bad Request","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipCredentialsCreatedResponseXml"},"examples":{"example":{"$ref":"#/components/examples/createSipCredentialsBadRequestResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/createSipCredentialsBadRequestResponseJsonExample"}}}}},"createSipCredentialsServiceUnavailableResponse":{"description":"Service Unavailable","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipCredentialErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/createSipCredentialsServiceUnavailableResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/createSipCredentialsServiceUnavailableResponseJsonExample"}}}}},"listSipCredentialsOnRealmResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/realmSipCredentialsResponseXml"},"examples":{"example":{"$ref":"#/components/examples/listSipCredentialsOnRealmResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/listSipCredentialsOnRealmResponseJson"},"examples":{"example":{"$ref":"#/components/examples/listSipCredentialsOnRealmResponseJsonExample"}}}}},"listSipCredentialsOnRealmNotFoundResponse":{"description":"Not Found","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipCredentialErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/listSipCredentialsOnRealmNotFoundResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/listSipCredentialsOnRealmNotFoundResponseJsonExample"}}}}},"createSipCredentialsOnRealm201Response":{"description":"Created","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipCredentialsCreatedResponseXml"},"examples":{"example":{"$ref":"#/components/examples/createSipCredentialsOnRealm201ResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/createSipCredentialsOnRealmResponseJson"},"examples":{"example":{"$ref":"#/components/examples/createSipCredentialsOnRealm201ResponseJsonExample"}}}}},"createSipCredentialsOnRealmBadRequestResponse":{"description":"Bad Request","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipCredentialsCreatedResponseXml"},"examples":{"example":{"$ref":"#/components/examples/createSipCredentialsOnRealmBadRequestResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/createSipCredentialsOnRealmBadRequestResponseJsonExample"}}}}},"createSipCredentialsOnRealmServiceUnavailableResponse":{"description":"Service Unavailable","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipCredentialErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/createSipCredentialsOnRealmServiceUnavailableResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/createSipCredentialsOnRealmServiceUnavailableResponseJsonExample"}}}}},"retrieveSipCredentialOnRealmResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipCredentialResponseXml"},"examples":{"example":{"$ref":"#/components/examples/retrieveSipCredentialOnRealmResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/retrieveSipCredentialOnRealmResponseJson"},"examples":{"example":{"$ref":"#/components/examples/retrieveSipCredentialOnRealmResponseJsonExample"}}}}},"retrieveSipCredentialOnRealmNotFoundResponse":{"description":"Not Found","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipCredentialErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/retrieveSipCredentialOnRealmNotFoundResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/retrieveSipCredentialOnRealmNotFoundResponseJsonExample"}}}}},"updateSipCredentialOnRealmBadRequestResponse":{"description":"Bad Request","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipCredentialErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/updateSipCredentialOnRealmBadRequestResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/updateSipCredentialOnRealmBadRequestResponseJsonExample"}}}}},"sipCredentialOnRealmServiceUnavailableResponse":{"description":"Service Unavailable","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipCredentialErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/sipCredentialOnRealmServiceUnavailableResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/sipCredentialOnRealmServiceUnavailableResponseJsonExample"}}}}},"retrieveSipCredentialResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipCredentialResponseXml"},"examples":{"With separated UserName and Domain":{"$ref":"#/components/examples/retrieveSipCredentialResponseXmlExampleSeparated"},"With aggregated UserName and Domain":{"$ref":"#/components/examples/retrieveSipCredentialResponseXmlExampleAggregated"}}},"application/json":{"schema":{"$ref":"#/components/schemas/retrieveSipCredentialOnRealmResponseJson"},"examples":{"With separated UserName and Domain":{"$ref":"#/components/examples/retrieveSipCredentialResponseJsonExampleSeparated"},"With aggregated UserName and Domain":{"$ref":"#/components/examples/retrieveSipCredentialResponseJsonExampleAggregated"}}}}},"retrieveSipCredentialNotFoundResponse":{"description":"Not Found","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipCredentialErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/retrieveSipCredentialNotFoundResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/retrieveSipCredentialNotFoundResponseJsonExample"}}}}},"updateSipCredentialBadRequestResponse":{"description":"Bad Request","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipCredentialErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/updateSipCredentialBadRequestResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/updateSipCredentialBadRequestResponseJsonExample"}}}}},"sipCredentialServiceUnavailableResponse":{"description":"Service Unavailable","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipCredentialErrorResponseXmlWrapper"},"examples":{"example":{"$ref":"#/components/examples/sipCredentialServiceUnavailableResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/sipCredentialServiceUnavailableResponseJsonExample"}}}}},"retrieveOriginationSettingsResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipPeerOriginationSettingsResponseXml"},"examples":{"HTTP Voice protocol":{"$ref":"#/components/examples/retrieveOriginationSettingsHttpXmlExample"},"SIP Voice protocol":{"$ref":"#/components/examples/retrieveOriginationSettingsSipXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/originationSettingsResponseJson"},"examples":{"HTTP Voice protocol":{"$ref":"#/components/examples/retrieveOriginationSettingsHttpJsonExample"},"SIP Voice protocol":{"$ref":"#/components/examples/retrieveOriginationSettingsSipJsonExample"}}}}},"createOriginationSettingsResponse":{"description":"Created","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipPeerOriginationSettingsResponseXml"},"examples":{"example":{"$ref":"#/components/examples/createOriginationSettings201XmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/originationSettingsResponseJson"},"examples":{"example":{"$ref":"#/components/examples/createOriginationSettings201JsonExample"}}}}},"originationSettingsBadRequestResponse":{"description":"Bad Request","content":{"application/xml":{"schema":{"type":"object"},"examples":{"example":{"$ref":"#/components/examples/originationSettings400XmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/originationSettings400JsonExample"}}}}},"getSipPeerTerminationProductsResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/sipPeerTerminationProductsResponseXml"},"examples":{"example":{"$ref":"#/components/examples/getSipPeerTerminationProductsXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/sipPeerTerminationProductsResponseJson"},"examples":{"example":{"$ref":"#/components/examples/getSipPeerTerminationProductsJsonExample"}}}}},"sipPeerTerminationProductsInternalErrorResponse":{"description":"Internal Server Error","content":{"application/xml":{"schema":{"type":"object"},"examples":{"example":{"$ref":"#/components/examples/sipPeerTerminationProductsInternalErrorXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/sipPeerTerminationProductsInternalErrorJsonExample"}}}}},"getSipPeerTerminationHostsResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"numbers.yml#/components/schemas/SipPeerGatewayIpsResponse"},"examples":{"example":{"$ref":"#/components/examples/getSipPeerTerminationHostsXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/sipPeerGatewayIpsResponseJson"},"examples":{"example":{"$ref":"#/components/examples/getSipPeerTerminationHostsJsonExample"}}}}},"sipPeerTerminationHostsInternalErrorResponse":{"description":"Internal Server Error","content":{"application/xml":{"schema":{"type":"object"},"examples":{"example":{"$ref":"#/components/examples/sipPeerTerminationHostsInternalErrorXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/sipPeerTerminationHostsInternalErrorJsonExample"}}}}},"getSipPeerTerminationHostResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"numbers.yml#/components/schemas/SipPeerGatewayIpResponse"},"examples":{"example":{"$ref":"#/components/examples/getSipPeerTerminationHostXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/sipPeerGatewayIpResponseJson"},"examples":{"example":{"$ref":"#/components/examples/getSipPeerTerminationHostJsonExample"}}}}},"sipPeerTerminationHostNotFoundResponse":{"description":"Not Found","content":{"application/xml":{"schema":{"type":"object"},"examples":{"example":{"$ref":"#/components/examples/sipPeerTerminationHostNotFoundXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/sipPeerTerminationHostNotFoundJsonExample"}}}}},"getSipPeerTerminationHostSettingsResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"numbers.yml#/components/schemas/SipPeerGatewayAttributesResponse"},"examples":{"example":{"$ref":"#/components/examples/getSipPeerTerminationHostSettingsXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/sipPeerGatewayAttributesResponseJson"},"examples":{"example":{"$ref":"#/components/examples/getSipPeerTerminationHostSettingsJsonExample"}}}}},"sipPeerTerminationHostSettingsNotFoundResponse":{"description":"Not Found","content":{"application/xml":{"schema":{"type":"object"},"examples":{"example":{"$ref":"#/components/examples/sipPeerTerminationHostSettingsNotFoundXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/sipPeerTerminationHostSettingsNotFoundJsonExample"}}}}},"getSipPeerTerminationHostSettingResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"numbers.yml#/components/schemas/SipPeerGatewayAttributeResponse"},"examples":{"example":{"$ref":"#/components/examples/getSipPeerTerminationHostSettingXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/sipPeerGatewayAttributeResponseJson"},"examples":{"example":{"$ref":"#/components/examples/getSipPeerTerminationHostSettingJsonExample"}}}}},"sipPeerTerminationHostSettingNotFoundResponse":{"description":"Not Found","content":{"application/xml":{"schema":{"type":"object"},"examples":{"example":{"$ref":"#/components/examples/sipPeerTerminationHostSettingNotFoundXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/sipPeerTerminationHostSettingNotFoundJsonExample"}}}}},"getSipPeerTerminationSettingsResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"numbers.yml#/components/schemas/SipPeerTerminationSettingsResponse"},"examples":{"httpVoiceProtocol":{"$ref":"#/components/examples/sipPeerTerminationSettingsHttpResponseXmlExample"},"sipVoiceProtocol":{"$ref":"#/components/examples/sipPeerTerminationSettingsSipResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/sipPeerTerminationSettingsResponseJson"},"examples":{"httpVoiceProtocol":{"$ref":"#/components/examples/sipPeerTerminationSettingsHttpResponseJsonExample"},"sipVoiceProtocol":{"$ref":"#/components/examples/sipPeerTerminationSettingsSipResponseJsonExample"}}}}},"createSipPeerTerminationSettingsResponse":{"description":"Created","content":{"application/xml":{"schema":{"$ref":"numbers.yml#/components/schemas/SipPeerTerminationSettingsResponse"},"examples":{"example":{"$ref":"#/components/examples/sipPeerTerminationSettingsHttpResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/sipPeerTerminationSettingsResponseJson"},"examples":{"example":{"$ref":"#/components/examples/sipPeerTerminationSettingsHttpResponseJsonExample"}}}}},"sipPeerTerminationSettingsBadRequestResponse":{"description":"Bad Request","content":{"application/xml":{"schema":{"type":"object"},"examples":{"example":{"$ref":"#/components/examples/sipPeerTerminationSettingsBadRequestXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/errorResponseJson"},"examples":{"example":{"$ref":"#/components/examples/sipPeerTerminationSettingsBadRequestJsonExample"}}}}},"updateSipPeerTerminationSettingsResponse":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"numbers.yml#/components/schemas/SipPeerTerminationSettingsResponse"},"examples":{"httpVoiceProtocol":{"$ref":"#/components/examples/sipPeerTerminationSettingsHttpResponseXmlExample"},"sipVoiceProtocol":{"$ref":"#/components/examples/sipPeerTerminationSettingsSipResponseXmlExample"}}},"application/json":{"schema":{"$ref":"#/components/schemas/sipPeerTerminationSettingsResponseJson"},"examples":{"httpVoiceProtocol":{"$ref":"#/components/examples/sipPeerTerminationSettingsHttpResponseJsonExample"},"sipVoiceProtocol":{"$ref":"#/components/examples/sipPeerTerminationSettingsSipResponseJsonExample"}}}}}},"examples":{"hostsXmlExample":{"description":"A successful result that contains the response data in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSiteHostsResponse\u003E\n  \u003CSiteHosts\u003E\n    \u003CSiteHost\u003E\n      \u003CSiteId\u003E5\u003C/SiteId\u003E\n      \u003CSipPeerHosts\u003E\n        \u003CSipPeerHost\u003E\n          \u003CSipPeerId\u003E500146\u003C/SipPeerId\u003E\n          \u003CSmsHosts/\u003E\n          \u003CVoiceHosts\u003E\n            \u003CHost\u003E\n              \u003CHostName\u003E47.16.211.63\u003C/HostName\u003E\n            \u003C/Host\u003E\n          \u003C/VoiceHosts\u003E\n          \u003CTerminationHosts/\u003E\n        \u003C/SipPeerHost\u003E\n      \u003C/SipPeerHosts\u003E\n    \u003C/SiteHost\u003E\n  \u003C/SiteHosts\u003E\n\u003C/SiteHostsResponse\u003E"},"hostsJsonExample":{"description":"A successful result that contains the response data in JSON format","value":{"subAccountHosts":[{"subAccountId":5,"locationHosts":[{"locationId":500146,"smsHosts":{},"voiceHosts":{"hosts":[{"hostName":"47.16.211.63"}]},"terminationHosts":{}}]}]}},"getEdgeManagementSettingsResponseXmlExample":{"description":"A successful result that contains the response data in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n \u003CEdgeManagementSettings\u003E\n  \u003CSbcSettings\u003E\n    \u003CTrunkGroupId\u003ETrunkgroupidfortheaccounttraffic\u003C/TrunkGroupId\u003E\n    \u003CNodeGroupName\u003EEast Coast 01\u003C/NodeGroupName\u003E\n  \u003C/SbcSettings\u003E\n  \u003CProductSpecificAccessRestrictions\u003E\n    \u003CAccessRestriction\u003E\n      \u003CRestrictedProduct\u003ETermination\u003C/RestrictedProduct\u003E\n      \u003CRestrictedAccessTypes\u003E\n        \u003CRestrictedAccessType\u003EExampleType\u003C/RestrictedAccessType\u003E\n      \u003C/RestrictedAccessTypes\u003E\n    \u003C/AccessRestriction\u003E\n  \u003C/ProductSpecificAccessRestrictions\u003E\n\u003C/EdgeManagementSettings\u003E"},"getEdgeManagementSettingsResponseJsonExample":{"description":"A successful result that contains the response data in JSON format","value":{"edgeManagementSettings":{"sbcSettings":{"trunkGroupId":"Trunkgroupidfortheaccounttraffic","nodeGroupName":"East Coast 01"},"productSpecificAccessRestrictions":[{"restrictedProduct":"Termination","restrictedAccessTypes":["ExampleType"]}]}}},"getTollFreeSettingsResponseXmlExample":{"description":"A successful result that contains the response data in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CTollFreeSettingsResponse\u003E\n  \u003CDefaultRespOrgId\u003EJYT01\u003C/DefaultRespOrgId\u003E\n  \u003CTollFreeSettings\u003E\n    \u003CRespOrgException\u003Etrue\u003C/RespOrgException\u003E\n    \u003CRespOrgIdList\u003E\n      \u003CRespOrgId\u003ESFD01\u003C/RespOrgId\u003E\n    \u003C/RespOrgIdList\u003E\n    \u003CTollFreeTemplateAssignmentsSearch\u003Etrue\u003C/TollFreeTemplateAssignmentsSearch\u003E\n  \u003C/TollFreeSettings\u003E\n\u003C/TollFreeSettingsResponse\u003E"},"getTollFreeSettingsResponseJsonExample":{"description":"A successful result that contains the response data in JSON format","value":{"tollFreeSettings":{"respOrgException":true,"respOrgIds":["SFD01"],"tollFreeTemplateAssignmentsSearch":true},"targetBandwidthRespOrgId":"JYT01"}},"ucTrunkingHostedSettingsResponseXmlExample":{"description":"A successful result that contains the response data in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CUcTrunkingCloudSettingsResponse\u003E\n  \u003CUcTrunkingCloudSettings\u003E\n    \u003CBiDirectionalTrunks\u003E200\u003C/BiDirectionalTrunks\u003E\n  \u003C/UcTrunkingCloudSettings\u003E\n\u003C/UcTrunkingCloudSettingsResponse\u003E"},"ucTrunkingHostedSettingsResponseJsonExample":{"description":"A successful result that contains the response data in JSON format","value":{"ucTrunkingCloudSettings":{"biDirectionalTrunks":"200"}}},"ucTrunkingHostedSettingsRequestXmlExample":{"description":"An example request in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CUcTrunkingCloudSettings\u003E\n  \u003CBiDirectionalTrunks\u003E200\u003C/BiDirectionalTrunks\u003E\n\u003C/UcTrunkingCloudSettings\u003E"},"ucTrunkingHostedSettingsRequestJsonExample":{"description":"An example request in JSON format","value":{"biDirectionalTrunks":"200"}},"ucTrunkingHostedSettingsBadRequestXmlExample":{"description":"Bad Request","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CUcTrunkingCloudSettingsResponse\u003E\n  \u003CResponseStatus\u003E\n    \u003CErrorCode\u003E12609\u003C/ErrorCode\u003E\n    \u003CDescription\u003EThe supplied value of 201 is more than the allowed max value of 200\u003C/Description\u003E\n  \u003C/ResponseStatus\u003E\n\u003C/UcTrunkingCloudSettingsResponse\u003E"},"ucTrunkingHostedSettingsBadRequestJsonExample":{"description":"Bad Request","value":{"errorCode":12609,"description":"The supplied value of 201 is more than the allowed max value of 200"}},"ucTrunkingHostedSettingsNotFoundXmlExample":{"description":"Not Found","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CUcTrunkingCloudSettingsResponse\u003E\n  \u003CResponseStatus\u003E\n    \u003CErrorCode\u003E12034\u003C/ErrorCode\u003E\n    \u003CDescription\u003EUcTrunking product has not been configured\u003C/Description\u003E\n  \u003C/ResponseStatus\u003E\n\u003C/UcTrunkingCloudSettingsResponse\u003E"},"ucTrunkingHostedSettingsNotFoundJsonExample":{"description":"Not Found","value":{"errorCode":12034,"description":"UcTrunking product has not been configured"}},"getUcTrunkingSettingsResponseXmlExample":{"description":"A successful result that contains the response data in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CUcTrunkingSettingsResponse\u003E\n  \u003CUcTrunkingSettings\u003E\n    \u003CPartnerType\u003EAGENT\u003C/PartnerType\u003E\n    \u003CMaxUcTrunks\u003E40\u003C/MaxUcTrunks\u003E\n    \u003CBillingType\u003EDNIS\u003C/BillingType\u003E\n    \u003CCustomerTrafficAllowed\u003EALL\u003C/CustomerTrafficAllowed\u003E\n    \u003CUsageCategory\u003EUC500\u003C/UsageCategory\u003E\n    \u003CTrunkAllocationRules\u003E\n      \u003CTrunkAllocationRule\u003E\n        \u003CLowerBound\u003E1\u003C/LowerBound\u003E\n        \u003CRatio\u003E1\u003C/Ratio\u003E\n      \u003C/TrunkAllocationRule\u003E\n      \u003CTrunkAllocationRule\u003E\n        \u003CLowerBound\u003E10\u003C/LowerBound\u003E\n        \u003CRatio\u003E2\u003C/Ratio\u003E\n      \u003C/TrunkAllocationRule\u003E\n      \u003CTrunkAllocationRule\u003E\n        \u003CLowerBound\u003E15\u003C/LowerBound\u003E\n        \u003CRatio\u003E5\u003C/Ratio\u003E\n      \u003C/TrunkAllocationRule\u003E\n    \u003C/TrunkAllocationRules\u003E\n  \u003C/UcTrunkingSettings\u003E\n\u003C/UcTrunkingSettingsResponse\u003E"},"getUcTrunkingSettingsResponseJsonExample":{"description":"A successful result that contains the response data in JSON format","value":{"ucTrunkingSettings":{"partnerType":"AGENT","maxUcTrunks":40,"billingType":"DNIS","customerTrafficAllowed":"ALL","usageCategory":"UC500","trunkAllocationRules":[{"lowerBound":1,"ratio":1},{"lowerBound":10,"ratio":2},{"lowerBound":15,"ratio":5}]}}},"listRealmsResponseXmlExample":{"description":"A successful result that contains the list of Realms in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRealmsResponse\u003E\n   \u003CRealms\u003E\n      \u003CRealm\u003E\n         \u003CId\u003E22\u003C/Id\u003E\n         \u003CRealm\u003Emyrealm123.abc123.auth.bandwidth.com\u003C/Realm\u003E\n         \u003CDefault\u003Etrue\u003C/Default\u003E\n         \u003CDescription\u003ETest Realm 123\u003C/Description\u003E\n         \u003CSipCredentialCount\u003E3\u003C/SipCredentialCount\u003E\n         \u003CStatus\u003EACTIVE\u003C/Status\u003E\n         \u003CTrunkInfo\u003E\n            \u003CTrunkId\u003E66b4d27e68cc01462d6f0e6f\u003C/TrunkId\u003E\n            \u003CCapabilityPipeId\u003E33d864f7-37e9-46c3-aeb1-40702719ff5c\u003C/CapabilityPipeId\u003E\n         \u003C/TrunkInfo\u003E\n      \u003C/Realm\u003E\n      \u003CRealm\u003E\n         \u003CId\u003E31\u003C/Id\u003E\n         \u003CRealm\u003Emyrealm234.abc123.auth.bandwidth.com\u003C/Realm\u003E\n         \u003CDefault\u003Efalse\u003C/Default\u003E\n         \u003CDescription\u003ETest Realm 234\u003C/Description\u003E\n         \u003CSipCredentialCount\u003E6\u003C/SipCredentialCount\u003E\n         \u003CStatus\u003EACTIVE\u003C/Status\u003E\n         \u003CTrunkInfo\u003E\n            \u003CTrunkId\u003E66b4d27e68cc01462d6f0e6f\u003C/TrunkId\u003E\n            \u003CCapabilityPipeId\u003E33d864f7-37e9-46c3-aeb1-40702719ff5c\u003C/CapabilityPipeId\u003E\n         \u003C/TrunkInfo\u003E\n      \u003C/Realm\u003E\n   \u003C/Realms\u003E\n\u003C/RealmsResponse\u003E"},"listRealmsResponseJsonExample":{"description":"A successful result that contains the list of Realms in JSON format","value":{"realms":[{"id":22,"realm":"myrealm123.abc123.auth.bandwidth.com","default":true,"description":"Test Realm 123","sipCredentialCount":3,"status":"ACTIVE","trunkInfo":{"trunkId":"66b4d27e68cc01462d6f0e6f","capabilityPipeId":"33d864f7-37e9-46c3-aeb1-40702719ff5c"}},{"id":31,"realm":"myrealm234.abc123.auth.bandwidth.com","default":false,"description":"Test Realm 234","sipCredentialCount":6,"status":"ACTIVE","trunkInfo":{"trunkId":"66b4d27e68cc01462d6f0e6f","capabilityPipeId":"33d864f7-37e9-46c3-aeb1-40702719ff5c"}}]}},"createRealmRequestXmlExample":{"description":"An example Realm creation request in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRealm\u003E\n   \u003CRealm\u003Erealm123\u003C/Realm\u003E\n   \u003CDescription\u003EThis is realm #123\u003C/Description\u003E\n   \u003CDefault\u003Etrue\u003C/Default\u003E\n   \u003CTrunkInfo\u003E\n      \u003CTrunkId\u003E66b4d27e68cc01462d6f0e6f\u003C/TrunkId\u003E\n      \u003CCapabilityPipeId\u003E33d864f7-37e9-46c3-aeb1-40702719ff5c\u003C/CapabilityPipeId\u003E\n   \u003C/TrunkInfo\u003E\n\u003C/Realm\u003E"},"createRealmRequestJsonExample":{"description":"An example Realm creation request in JSON format","value":{"realm":"realm123","description":"This is realm","default":true,"trunkInfo":{"trunkId":"66b4d27e68cc01462d6f0e6f","capabilityPipeId":"33d864f7-37e9-46c3-aeb1-40702719ff5c"}}},"createRealm201ResponseXmlExample":{"description":"A successful Realm creation result in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRealmResponse\u003E\n   \u003CRealm\u003E\n      \u003CId\u003E22\u003C/Id\u003E\n      \u003CRealm\u003Erealm123.abc123.auth.bandwidth.com\u003C/Realm\u003E\n      \u003CDescription\u003EThis is realm #123\u003C/Description\u003E\n      \u003CDefault\u003Etrue\u003C/Default\u003E\n      \u003CSipCredentialCount\u003E0\u003C/SipCredentialCount\u003E\n      \u003CStatus\u003ECREATE_PENDING\u003C/Status\u003E\n      \u003CTrunkInfo\u003E\n         \u003CTrunkId\u003E66b4d27e68cc01462d6f0e6f\u003C/TrunkId\u003E\n         \u003CCapabilityPipeId\u003E33d864f7-37e9-46c3-aeb1-40702719ff5c\u003C/CapabilityPipeId\u003E\n      \u003C/TrunkInfo\u003E\n   \u003C/Realm\u003E\n\u003C/RealmResponse\u003E"},"createRealm201ResponseJsonExample":{"description":"A successful Realm creation result in JSON format","value":{"realm":{"id":22,"realm":"realm123.abc123.auth.bandwidth.com","description":"This is realm","default":true,"sipCredentialCount":0,"status":"CREATE_PENDING","trunkInfo":{"trunkId":"66b4d27e68cc01462d6f0e6f","capabilityPipeId":"33d864f7-37e9-46c3-aeb1-40702719ff5c"}}}},"listRealmsBadRequestErrorResponseXmlExample":{"description":"An example of a bad request response in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRealmsResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CErrorCode\u003E33011\u003C/ErrorCode\u003E\n      \u003CDescription\u003Erealmfragment should contain at least 3 characters.\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/RealmsResponse\u003E"},"listRealmsBadRequestErrorResponseJsonExample":{"description":"An example of a bad request response in JSON format","value":{"errorCode":33011,"description":"realmfragment should contain at least 3 characters."}},"listRealmsNotFoundErrorResponseXmlExample":{"description":"An example of a not found response in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRealmsResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CErrorCode\u003E4022\u003C/ErrorCode\u003E\n      \u003CDescription\u003EAccount \u00272\u0027 does not exist or is locked\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/RealmsResponse\u003E"},"listRealmsNotFoundErrorResponseJsonExample":{"description":"An example of a not found response in JSON format","value":{"errorCode":4022,"description":"Account \u00272\u0027 does not exist or is locked"}},"createRealmBadRequestErrorResponseXmlExample":{"description":"An example of a bad request response in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRealmResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CErrorCode\u003E33003\u003C/ErrorCode\u003E\n      \u003CDescription\u003ERealm \u0027realmmmmmmmmmmmmmmmmmmmmmmmmmmm\u0027 is too long (30 characters max)\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/RealmResponse\u003E"},"createRealmBadRequestErrorResponseJsonExample":{"description":"An example of a bad request response in JSON format","value":{"errorCode":33003,"description":"Realm \u0027realmmmmmmmmmmmmmmmmmmmmmmmmmmm\u0027 is too long (30 characters max)"}},"createRealmServiceUnavailableErrorResponseXmlExample":{"description":"An example of a service unavailable response in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n\u003CRealmResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CDescription\u003EService is Unavailable\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/RealmResponse\u003E"},"createRealmServiceUnavailableErrorResponseJsonExample":{"description":"An example of a service unavailable response in JSON format","value":{"description":"Service is Unavailable"}},"retrieveRealmResponseXmlExample":{"description":"A successful Realm retrieval result in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRealmResponse\u003E\n   \u003CRealm\u003E\n      \u003CId\u003E22\u003C/Id\u003E\n      \u003CRealm\u003Erealm123.abc123.auth.bandwidth.com\u003C/Realm\u003E\n      \u003CDescription\u003EThis is realm #123\u003C/Description\u003E\n      \u003CDefault\u003Efalse\u003C/Default\u003E\n      \u003CSipCredentialCount\u003E15\u003C/SipCredentialCount\u003E\n      \u003CStatus\u003EACTIVE\u003C/Status\u003E\n      \u003CTrunkInfo\u003E\n         \u003CTrunkId\u003E66b4d27e68cc01462d6f0e6f\u003C/TrunkId\u003E\n         \u003CCapabilityPipeId\u003E33d864f7-37e9-46c3-aeb1-40702719ff5c\u003C/CapabilityPipeId\u003E\n      \u003C/TrunkInfo\u003E\n   \u003C/Realm\u003E\n\u003C/RealmResponse\u003E"},"retrieveRealmResponseJsonExample":{"description":"A successful Realm retrieval result in JSON format","value":{"realm":{"id":22,"realm":"realm123.abc123.auth.bandwidth.com","description":"This is realm","default":false,"sipCredentialCount":15,"status":"ACTIVE","trunkInfo":{"trunkId":"66b4d27e68cc01462d6f0e6f","capabilityPipeId":"33d864f7-37e9-46c3-aeb1-40702719ff5c"}}}},"retrieveRealmNotFoundErrorResponseXmlExample":{"description":"An example of a not found response in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRealmResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CDescription\u003EThe resource does not exist\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/RealmResponse\u003E"},"retrieveRealmNotFoundErrorResponseJsonExample":{"description":"An example of a not found response in JSON format","value":{"description":"The resource does not exist"}},"retrieveRealmServiceUnavailableErrorResponseXmlExample":{"description":"An example of a service unavailable response in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n\u003CRealmResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CDescription\u003EService is Unavailable\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/RealmResponse\u003E"},"retrieveRealmServiceUnavailableErrorResponseJsonExample":{"description":"An example of a service unavailable response in JSON format","value":{"description":"Service is Unavailable"}},"deleteRealmBadRequestErrorResponseXmlExample":{"description":"An example of a bad request response in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRealmResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CErrorCode\u003E33006\u003C/ErrorCode\u003E\n      \u003CDescription\u003ECannot delete default Realm. Please assign a new Realm to be the default.\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/RealmResponse\u003E"},"deleteRealmBadRequestErrorResponseJsonExample":{"description":"An example of a bad request response in JSON format","value":{"errorCode":33006,"description":"Cannot delete default Realm. Please assign a new Realm to be the default."}},"deleteRealmNotFoundErrorResponseXmlExample":{"description":"An example of a not found response in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRealmResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CErrorCode\u003E33001\u003C/ErrorCode\u003E\n      \u003CDescription\u003ERealm \u0027realmxyz\u0027 was not found\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/RealmResponse\u003E"},"deleteRealmNotFoundErrorResponseJsonExample":{"description":"An example of a not found response in JSON format","value":{"errorCode":33001,"description":"Realm \u0027realmxyz\u0027 was not found"}},"deleteRealmServiceUnavailableErrorResponseXmlExample":{"description":"An example of a service unavailable response in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n\u003CRealmResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CDescription\u003EService is Unavailable\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/RealmResponse\u003E"},"deleteRealmServiceUnavailableErrorResponseJsonExample":{"description":"An example of a service unavailable response in JSON format","value":{"description":"Service is Unavailable"}},"updateRealmRequestXmlExample":{"description":"An example of an update Realm request in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRealm\u003E\n   \u003CDefault\u003Etrue\u003C/Default\u003E\n   \u003CDescription\u003EThis is realm has been updated.\u003C/Description\u003E\n   \u003CTrunkInfo\u003E\n      \u003CTrunkId\u003E66b4d27e68cc01462d6f0e6f\u003C/TrunkId\u003E\n      \u003CCapabilityPipeId\u003E33d864f7-37e9-46c3-aeb1-40702719ff5c\u003C/CapabilityPipeId\u003E\n   \u003C/TrunkInfo\u003E\n\u003C/Realm\u003E"},"updateRealmResponseXmlExample":{"description":"A successful Realm update result in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRealmResponse\u003E\n   \u003CRealm\u003E\n      \u003CId\u003E22\u003C/Id\u003E\n      \u003CRealm\u003Erealm123.abc123.auth.bandwidth.com\u003C/Realm\u003E\n      \u003CDefault\u003Etrue\u003C/Default\u003E\n      \u003CDescription\u003EThis is realm has been updated.\u003C/Description\u003E\n      \u003CSipCredentialCount\u003E0\u003C/SipCredentialCount\u003E\n      \u003CStatus\u003EACTIVE\u003C/Status\u003E\n      \u003CTrunkInfo\u003E\n         \u003CTrunkId\u003E66b4d27e68cc01462d6f0e6f\u003C/TrunkId\u003E\n         \u003CCapabilityPipeId\u003E33d864f7-37e9-46c3-aeb1-40702719ff5c\u003C/CapabilityPipeId\u003E\n      \u003C/TrunkInfo\u003E\n   \u003C/Realm\u003E\n\u003C/RealmResponse\u003E"},"updateRealmBadRequestErrorResponseXmlExample":{"description":"An example of a bad request response in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CRealmResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CErrorCode\u003E33005\u003C/ErrorCode\u003E\n      \u003CDescription\u003ECannot update Realm value. Instead, you must delete and recreate it.\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/RealmResponse\u003E"},"updateRealmServiceUnavailableErrorResponseXmlExample":{"description":"An example of a service unavailable response in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n\u003CRealmResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CDescription\u003EService is Unavailable\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/RealmResponse\u003E"},"listSipCredentialsResponseXmlExample":{"description":"A successful result that contains the list of SIP credentials in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipCredentialsResponse\u003E\n   \u003CLinks\u003E\n      \u003Cfirst\u003ELink=\u0026lt;http://api.bandwidth.com/iris/accounts/14/sipcredentials?size=500\u0026amp;page=1\u0026gt;;rel=\u0022first\u0022;\u003C/first\u003E\n   \u003C/Links\u003E\n   \u003CSipCredentials\u003E\n      \u003CSipCredential\u003E\n         \u003CId\u003E11\u003C/Id\u003E\n         \u003CRealmId\u003E3\u003C/RealmId\u003E\n         \u003CUserName\u003EJohn\u003C/UserName\u003E\n         \u003CDomain\u003Ebw.com\u003C/Domain\u003E\n         \u003CHash1\u003E1g32gadgs433dd4\u003C/Hash1\u003E\n         \u003CHash1b\u003E1g32gadgs433d24\u003C/Hash1b\u003E\n         \u003CRealm\u003Erealm1.abc123.auth.bandwidth.com\u003C/Realm\u003E\n         \u003CHttpVoiceV2AppId\u003E5ba6761d-36bd-4307-8f7b-a6f806c35abf\u003C/HttpVoiceV2AppId\u003E\n      \u003C/SipCredential\u003E\n      \u003CSipCredential\u003E\n         \u003CId\u003E45\u003C/Id\u003E\n         \u003CRealmId\u003E4\u003C/RealmId\u003E\n         \u003CUserName\u003EMathew@bw.com\u003C/UserName\u003E\n         \u003CHash1\u003E43543gggs43g324\u003C/Hash1\u003E\n         \u003CRealm\u003Erealm2.abc123.auth.bandwidth.com\u003C/Realm\u003E\n         \u003CHttpVoiceV2AppId\u003E7a1626ea-6a3e-11eb-9439-0242ac130002\u003C/HttpVoiceV2AppId\u003E\n      \u003C/SipCredential\u003E\n   \u003C/SipCredentials\u003E\n\u003C/SipCredentialsResponse\u003E"},"listSipCredentialsResponseJsonExample":{"description":"A successful result that contains the list of SIP credentials in JSON format","value":{"links":{"first":"https://api.bandwidth.com/iris/accounts/14/sipcredentials?size=500\u0026page=1"},"sipCredentials":[{"id":11,"realmId":3,"userName":"John","domain":"bw.com","hash1":"1g32gadgs433dd4","hash1b":"1g32gadgs433d24","realm":"realm1.abc123.auth.bandwidth.com","httpVoiceV2AppId":"5ba6761d-36bd-4307-8f7b-a6f806c35abf"},{"id":45,"realmId":4,"userName":"Mathew@bw.com","hash1":"43543gggs43g324","realm":"realm2.abc123.auth.bandwidth.com","httpVoiceV2AppId":"7a1626ea-6a3e-11eb-9439-0242ac130002"}]}},"listSipCredentialsNotFoundResponseXmlExample":{"description":"An example of a not found response in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipCredentialsResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CErrorCode\u003E23008\u003C/ErrorCode\u003E\n      \u003CDescription\u003EThere are no Sip credentials associated with the account with ID = 41\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/SipCredentialsResponse\u003E"},"listSipCredentialsNotFoundResponseJsonExample":{"description":"An example of a not found response in JSON format","value":{"errorCode":23008,"description":"There are no Sip credentials associated with the account with ID = 41"}},"createSipCredentialsRequestXmlExample":{"description":"An example SIP Credentials creation request in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipCredentials\u003E\n   \u003CSipCredential\u003E\n      \u003CUserName\u003EJohn\u003C/UserName\u003E\n      \u003CDomain\u003Ebw.com\u003C/Domain\u003E\n      \u003CHash1\u003E1g32gadgs433dd4\u003C/Hash1\u003E\n      \u003CHash1b\u003E1g32gadgs433d24\u003C/Hash1b\u003E\n      \u003CRealm\u003Erealm1.abc123.auth.bandwidth.com\u003C/Realm\u003E\n      \u003CHttpVoiceV2AppId\u003E5ba6761d-36bd-4307-8f7b-a6f806c35abf\u003C/HttpVoiceV2AppId\u003E\n   \u003C/SipCredential\u003E\n   \u003CSipCredential\u003E\n      \u003CUserName\u003EMathew@bw.com\u003C/UserName\u003E\n      \u003CHash1\u003E43543gggs43g324\u003C/Hash1\u003E\n      \u003CHash1b\u003E1g32gadgs433a34\u003C/Hash1b\u003E\n      \u003CRealm\u003Erealm2.abc123.auth.bandwidth.com\u003C/Realm\u003E\n      \u003CHttpVoiceV2AppId\u003E7a1626ea-6a3e-11eb-9439-0242ac130002\u003C/HttpVoiceV2AppId\u003E\n   \u003C/SipCredential\u003E\n\u003C/SipCredentials\u003E"},"createSipCredentialsRequestJsonExample":{"description":"An example SIP Credentials creation request in JSON format","value":{"sipCredentials":[{"userName":"John","domain":"bw.com","hash1":"1g32gadgs433dd4","hash1b":"1g32gadgs433d24","httpVoiceV2AppId":"5ba6761d-36bd-4307-8f7b-a6f806c35abf"},{"userName":"Mathew@bw.com","hash1":"43543gggs43g324","hash1b":"1g32gadgs433a34","httpVoiceV2AppId":"7a1626ea-6a3e-11eb-9439-0242ac130002"}]}},"createSipCredentials201ResponseXmlExample":{"description":"A successful SIP Credentials creation result in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipCredentialsResponse\u003E\n   \u003CErrors\u003E\n      \u003CError\u003E\n         \u003CErrorCode\u003E1003\u003C/ErrorCode\u003E\n         \u003CDescription\u003EUserName is required\u003C/Description\u003E\n         \u003CSipCredential\u003E\n            \u003CDomain\u003Ebw.com\u003C/Domain\u003E\n            \u003CHash1\u003E1g32gadgs433dd4\u003C/Hash1\u003E\n            \u003CHash1b\u003E1g32gadgs433d24\u003C/Hash1b\u003E\n            \u003CRealm\u003Erealm1.abc123.auth.bandwidth.com\u003C/Realm\u003E\n            \u003CHttpVoiceV2AppId\u003E5ba6761d-36bd-4307-8f7b-a6f806c35abf\u003C/HttpVoiceV2AppId\u003E\n         \u003C/SipCredential\u003E\n      \u003C/Error\u003E\n   \u003C/Errors\u003E\n   \u003CValidSipCredentials\u003E\n      \u003CSipCredential\u003E\n         \u003CId\u003E39\u003C/Id\u003E\n         \u003CRealmId\u003E4\u003C/RealmId\u003E\n         \u003CUserName\u003EBill\u003C/UserName\u003E\n         \u003CDomain\u003Ebw.com\u003C/Domain\u003E\n         \u003CHash1\u003E43543gggs43g324\u003C/Hash1\u003E\n         \u003CHash1b\u003E4562gadgs433454\u003C/Hash1b\u003E\n         \u003CRealm\u003Erealm2.abc123.auth.bandwidth.com\u003C/Realm\u003E\n         \u003CHttpVoiceV2AppId\u003E5ba6761d-36bd-4307-8f7b-a6f806c35abf\u003C/HttpVoiceV2AppId\u003E\n      \u003C/SipCredential\u003E\n      \u003CSipCredential\u003E\n         \u003CId\u003E940\u003C/Id\u003E\n         \u003CRealmId\u003E5\u003C/RealmId\u003E\n         \u003CUserName\u003EJane\u003C/UserName\u003E\n         \u003CDomain\u003Ebw.com\u003C/Domain\u003E\n         \u003CHash1\u003Eaf7b8bd23a2b65b\u003C/Hash1\u003E\n         \u003CHash1b\u003Eaf7b8bd23a2b65c\u003C/Hash1b\u003E\n         \u003CRealm\u003Erealm3.abc123.auth.bandwidth.com\u003C/Realm\u003E\n         \u003CHttpVoiceV2AppId\u003E7a1626ea-6a3e-11eb-9439-0242ac130002\u003C/HttpVoiceV2AppId\u003E\n      \u003C/SipCredential\u003E\n   \u003C/ValidSipCredentials\u003E\n\u003C/SipCredentialsResponse\u003E"},"createSipCredentials201ResponseJsonExample":{"description":"A successful SIP Credentials creation result in JSON format","value":{"errors":[{"errorCode":1003,"description":"UserName is required","sipCredential":{"domain":"bw.com","hash1":"1g32gadgs433dd4","hash1b":"1g32gadgs433d24","httpVoiceV2AppId":"5ba6761d-36bd-4307-8f7b-a6f806c35abf"}}],"validSipCredentials":[{"id":39,"realmId":4,"userName":"Bill","domain":"bw.com","hash1":"43543gggs43g324","hash1b":"4562gadgs433454","realm":"realm2.abc123.auth.bandwidth.com","httpVoiceV2AppId":"5ba6761d-36bd-4307-8f7b-a6f806c35abf"},{"id":940,"realmId":5,"userName":"Jane","domain":"bw.com","hash1":"af7b8bd23a2b65b","hash1b":"af7b8bd23a2b65c","realm":"realm3.abc123.auth.bandwidth.com","httpVoiceV2AppId":"7a1626ea-6a3e-11eb-9439-0242ac130002"}]}},"createSipCredentialsBadRequestResponseXmlExample":{"description":"An example of a bad request response in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipCredentialsResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CDescription\u003EPlease check your input parameters.\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n   \u003CErrors\u003E\n      \u003CError\u003E\n         \u003CErrorCode\u003E1003\u003C/ErrorCode\u003E\n         \u003CDescription\u003EUserName is required\u003C/Description\u003E\n         \u003CSipCredential\u003E\n            \u003CHash1\u003E1g32gadgs433dd4\u003C/Hash1\u003E\n            \u003CHash1b\u003E1g32gadgs433d24\u003C/Hash1b\u003E\n            \u003CHttpVoiceV2AppId\u003E5ba6761d-36bd-4307-8f7b-a6f806c35abf\u003C/HttpVoiceV2AppId\u003E\n         \u003C/SipCredential\u003E\n      \u003C/Error\u003E\n   \u003C/Errors\u003E\n\u003C/SipCredentialsResponse\u003E"},"createSipCredentialsBadRequestResponseJsonExample":{"description":"An example of a bad request response in JSON format","value":{"description":"Please check your input parameters.","errors":[{"errorCode":1003,"description":"UserName is required","sipCredential":{"hash1":"1g32gadgs433dd4","hash1b":"1g32gadgs433d24","httpVoiceV2AppId":"5ba6761d-36bd-4307-8f7b-a6f806c35abf"}}]}},"createSipCredentialsServiceUnavailableResponseXmlExample":{"description":"An example of a service unavailable response in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\u003CSipPeerResponse\u003E\n   \u003CResponseStatus\u003E\n      \u003CErrorCode\u003E13566\u003C/ErrorCode\u003E\n      \u003CDescription\u003EOur E911 service is unavaliable\u003C/Description\u003E\n   \u003C/ResponseStatus\u003E\n\u003C/SipPeerResponse\u003E"},"createSipCredentialsServiceUnavailableResponseJsonExample":{"description":"An example of a service unavailable response in JSON format","value":{"errorCode":13566,"description":"Our E911 service is unavaliable"}},"listSipCredentialsOnRealmResponseXmlExample":{"description":"A successful result that contains the list of SIP credentials in XML format","value":"\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\n\u003CSipCredentialsResponse\u003E\n   \u003CLinks\u003E\n      \u003Cfirst\u003ELink=\u0026lt;http://api.bandwidth.com/iris/accounts/14/realms/3/sipcredentials?size=500\u0026amp;page=1\u0026gt;;rel=\u0022first\u0022;\u003C/first\u003E\n   \u003C/Links\u003E\n   \u003CSipCredentials\u003E\n      \u003CSipCredential\u003E\n         \u003CId\u003E11\u003C/Id\u003E\n         \u003CRealmId\u003E3\u003C/RealmId\u003E\n         \u003CUserName\u003EJohn@bw.com\u003C/UserName\u003E\n         \u003CHash1\u003E1g32gadgs433dd4\u003C/Hash1\u003E\n         \u003CHash1b\u003E1g32gadgs433d24\u003C/Hash1b\u003E\n         \u003CRealm\u003Erealm1.abc123.auth.bandwidth.com\u003C/Realm\u003E\n         \u003CHttpVoiceV2AppId\u003E5ba6761d-36bd-4307-8f7b-a6f806c35abf\u003C/HttpVoiceV2AppId\u003E\n      \u003C/SipCredential\u003E\n      \u003CSipCredential\u003E\n         \u003CId\u003E45\u003C/Id\u003E\n         \u003CRealmId\u003E3\u003C/RealmId\u003E\n         \u003CUserName\u003EMathew@bw.com\u003C/UserName\u003E\n         \u003CHash1\u003E43543gggs43g324\u003C/Hash1\u003E\n         \u003CRealm\u003Erealm1.abc123.auth.bandwidth.com\u003C/Realm\u003E\n         \u003CHttpVoiceV2AppId\u003E7a1626ea-6a3e-11eb-9439-0242ac130002\u003C/HttpVoiceV2AppId\u003E\n      \u003C/SipCredential\u003E\n   \u003C/SipCredentials\u003E\n\u003C/SipCredentialsResponse\u003E"},"listSipCredentialsOnRealmResponseJsonExample":{"description":"A successful result that contains the list of SIP credentials in JSON format","value":{"links":{"first":"https://api.bandwidth.com/iris/accounts/14/realms/3/sipcredentials?size=500\u0026page=1"},"sipCredentials":[{"id":11,"realmId":3,"userName":"John@bw.com","hash1":"1g32gadgs433dd4","hash1b":"1g32gadgs433d24","realm":"realm1.abc123.auth.bandwidth.com","httpVoiceV2AppId":"5ba6761d-36bd-4307-8f7b-a6f806c35abf"},{"id":
[...]
