{"openapi":"3.1.0","info":{"title":"A2P Campaign Management (10DLC)","description":"*These APIs are available only to customers who have been onboarded for the 10DLC Registration Center. They are not widely available to all customers yet. If you are interested in joining the Beta for the 10DLC Registration Center, please reach out to your Bandwidth support contact. Otherwise, please continue to reference the existing [Campaign Management APIs](https://dev.bandwidth.com/apis/numbers-apis/numbers/v1/#tag/10DLC).*\n\nAPIs to register TCR brands and campaigns (or to import them if Bandwidth is not acting as a customers\u2019s CSP), as well as APIs to register phone numbers to those campaigns in order to send A2P messages in the North American market.\n\n#### Account Types\n\nThese APIs have different behavior for import vs. direct customer accounts. The behavior is always consistent for an account, but reflects where the content of campaign management resides: with Bandwidth, or with The Campaign Registry.\n\n#### Bandwidth identifiers\n\nSome Bandwidth APIs return a \u0060bandwidthId\u0060 for TCR resources that have a TCR identifier, such as \u0060campaignId\u0060 and \u0060brandId\u0060. Because Bandwidth\u2019s interaction with TCR is asynchronous, there are times when a resource exists in Bandwidth\u2019s systems before it exists in TCR\u2019s systems. In these situations we will return a \u0060bandwidthId\u0060 which can be substituted for a \u0060campaignId\u0060 or \u0060brandId\u0060 where these would be included in an URL to reference that resource. Once a TCR identifier is available and being returned, you can switch to that identifier (though the Bandwidth ID will continue to work as an alternative).\n\n#### Rate Limiting\n\nAPI consumers may use these APIs at the rate of 3 requests per second, with unused requests \u201Cbanked\u201D (at the rate of 3 requests per second) up to 12 requests, which can then be used to handle short periods of \u201Cbursty\u201D traffic. This rate applies across the use of all v2 A2P APIs, not per API. If this limit is exceeded, the APIs will return HTTP 429 (Too Many Requests).\n\nAthena 10DLC returns the following headers on API requests to manage rate-limiting by clients:\n\n- \u0060X-Rate-Limit-Limit\u0060 - the rate limit per second (currently 3)\n- \u0060X-Rate-Limit-Remaining\u0060 - the number of remaining requests in this second (will be less than 3)\n- \u0060X-Rate-Limit-Retry-After-Seconds\u0060 and \u0060Retry-After\u0060 - the time to wait before further requests can be made (currently one second)\n\nIn extraordinary circumstances, rate limits may need to change, so evaluating these headers is recommended.\n","contact":{"name":"Bandwidth Support","email":"support@bandwidth.com","url":"https://support.bandwidth.com"},"termsOfService":"https://www.bandwidth.com/legal/terms-of-use-bandwidthcom-web-sites/","version":"0.0.1"},"security":[{"Basic":[]},{"OAuth2":[]}],"servers":[{"url":"https://api.bandwidth.com/api/v2"}],"paths":{"/accounts/{accountId}/tendlc/phoneNumbers":{"get":{"tags":["10DLC"],"summary":"Get 10DLC phone numbers","operationId":"getTenDlcPhoneNumbers","description":"**All customers.** Get all 10DLC phone numbers that have been registered for 10DLC A2P traffic under this account, across all campaigns. This is a paginated API that can be sorted and filtered by a number of the fields in the 10DLC records. For example, it accepts a customer profile ID to filter to those numbers that have been assigned to that customer profile.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/registrationStatusParam"},{"$ref":"#/components/parameters/phoneNumberParam"},{"$ref":"#/components/parameters/campaignIdParam"},{"$ref":"#/components/parameters/customerProfileIdParam"},{"$ref":"#/components/parameters/createdDateParam"},{"$ref":"#/components/parameters/modifiedDateParam"}],"responses":{"200":{"$ref":"#/components/responses/registrationListResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"409":{"$ref":"#/components/responses/errorResponse409"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}}},"/accounts/{accountId}/tendlc/phoneNumbers/{phoneNumber}":{"get":{"tags":["10DLC"],"operationId":"getTenDlcPhoneNumber","summary":"Get 10DLC phone number details","description":"**All customers.** Get 10DLC phone number details, including information on the registration status of the number with the different mobile network operators.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/phoneNumberPathParam"}],"responses":{"200":{"$ref":"#/components/responses/registrationResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"409":{"$ref":"#/components/responses/errorResponse409"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}}},"/accounts/{accountId}/tendlc/phoneNumbers/{phoneNumber}/history":{"get":{"tags":["10DLC"],"operationId":"getTenDlcPhoneNumberHistory","summary":"Get 10DLC number provisioning history","description":"**All customers.** Get the audit history of this 10DLC number, within the scope of activity occurring for this account. This is a paginated API sorted in reverse chronological order by default, but this can be changed with the \u0060createdDate\u0060 query parameter.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/phoneNumberPathParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/createdDateParam"},{"$ref":"#/components/parameters/messageParam"},{"$ref":"#/components/parameters/userNameParam"}],"responses":{"200":{"$ref":"#/components/responses/historyListResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"409":{"$ref":"#/components/responses/errorResponse409"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}}},"/accounts/{accountId}/tendlc/brands":{"get":{"tags":["Brands"],"operationId":"getBrands","summary":"Get all brands for this account","description":"**All customers.** Get all brands that have been created for this account. This is a paginated API that can be sorted and filtered by a number of the fields in the brand record. For example, it accepts a customer profile ID to filter to the brand that has been assigned to that customer profile.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/customerProfileIdParam"},{"$ref":"#/components/parameters/bandwidthIdParam"},{"$ref":"#/components/parameters/brandIdParam"},{"$ref":"#/components/parameters/brandIdentityStatusParam"},{"$ref":"#/components/parameters/brandTypeParam"},{"$ref":"#/components/parameters/companyNameParam"},{"$ref":"#/components/parameters/displayNameParam"},{"$ref":"#/components/parameters/createdDateParam"},{"$ref":"#/components/parameters/modifiedDateParam"}],"responses":{"200":{"$ref":"#/components/responses/brandListResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}},"post":{"tags":["Brands"],"operationId":"createBrand","summary":"Create or refresh a brand","description":"**All customers.** Pass in the \u0060brandId\u0060 to refresh the information about an existing brand in Bandwidth\u0027s systems based on the records at TCR. This is useful if a state change occurs in the brand that has not been detected by Bandwidth. For direct customers, this refresh will include related records such as vettings, appeals, and their associated attachments.\n\n**Direct customers.** Create a new brand.\n\n**Required fields by entity type:**\n- \u0060PRIVATE_PROFIT\u0060: legal company name, country, EIN/Tax ID, address, vertical, contact details.\n- \u0060PUBLIC_PROFIT\u0060: all of the above, plus website URL, stock symbol, and stock exchange. The \u0060businessContactEmail\u0060 must be a direct individual address \u2014 common distribution addresses (e.g. sales@company.com) and personal or free email addresses are not accepted. Subject to Business Authentication (Auth\u002B) 2FA email verification \u2014 the business contact must complete verification within 30 days or the brand becomes \u0060UNVERIFIED\u0060.\n- \u0060NON_PROFIT\u0060: legal company name, country, EIN/Tax ID, address, vertical, contact details. Only US-based non-profits (or non-profits with a US EIN) are accepted; non-US non-profits must register as \u0060PRIVATE_PROFIT\u0060.\n- \u0060GOVERNMENT\u0060: legal company name, country, EIN/Tax ID, address, vertical, website, contact details. Only US government entities are accepted; non-US government entities must register as \u0060PRIVATE_PROFIT\u0060.\n- \u0060SOLE_PROPRIETOR\u0060: DBA/brand name, country (US or Canada only), full address, reference ID, first name, last name, email, and phone number. No EIN is required or accepted. Requires a separate contract with TCR; only available to CSPs that have been enabled by TCR for the Sole Proprietor use case. All \u0060SOLE_PROPRIETOR\u0060 brands must also pass an SMS one-time-password (OTP) verification before they are eligible for campaign registration.\n\n**Tax ID format rules:**\n- **US:** Nine-digit EIN. Legal company name and address must match IRS records exactly.\n- **Canada:** First 9 numeric digits of the Business Number (BN), or Corporation/Incorporation Number, or Registry ID. Name must match Corporations Canada records.\n- **International:** Numeric portion of the VAT ID, or primary corporation registration/Tax ID number.\n\n**Identity verification:**\nBrand registration triggers an asynchronous identity verification. The result is delivered via the \u0060BRAND_IDENTITY_STATUS_UPDATE\u0060 webhook event. Possible identity statuses:\n- \u0060VERIFIED\u0060: brand can create campaigns.\n- \u0060UNVERIFIED\u0060: identity could not be confirmed (most often due to a mismatch between legal company name and EIN). Campaigns cannot be created. Options: update and reverify (incurs a $4 fee), file an identity status appeal, or request external vetting.\n- \u0060REGISTERING\u0060: verification is still in progress; campaigns cannot be created.\n- \u0060VETTED_VERIFIED\u0060: brand completed additional external vetting; campaigns can be created. Not available to \u0060SOLE_PROPRIETOR\u0060 brands.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/createOrRefreshBrandRequest"},"responses":{"202":{"$ref":"#/components/responses/brandAcceptedResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}}},"/accounts/{accountId}/tendlc/brands/{brandId}":{"get":{"tags":["Brands"],"operationId":"getBrand","summary":"Get details about a brand","description":"**All customers.** Get details for this TCR brand. The actual details available to Bandwidth will differ substantially between import and direct customers. The \u0060customerProfileId\u0060 may also be passed instead of the \u0060brandId\u0060 to retrieve the brand details.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/brandIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/brandResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}},"put":{"tags":["Brands"],"operationId":"updateBrand","summary":"Update a brand","description":"**Direct customers.** Update the details of a brand, subject to restrictions. This is a full replacement \u2014 omitted optional fields will be set to null. The following fields **cannot be changed** if the brand has any active campaign or an active Standard, Enhanced, or Political vet:\n- \u0060companyName\u0060\n- \u0060entityType\u0060\n- \u0060ein\u0060\n- \u0060einIssuingCountry\u0060\n\nIf these fields are updated on a brand that has no active campaigns or active vets, the brand will be resubmitted for identity verification (incurring a **$4 fee**) and its identity status will reset to \u0060REGISTERING\u0060.\n\n**Additional field-level restrictions:**\n- \u0060brandRelationship\u0060 can only be updated once every **3 months**.\n- Updating \u0060mobilePhone\u0060 will change the brand\u0027s identity status to \u0060UNVERIFIED\u0060.\n- **PUBLIC_PROFIT brands:** Updating \u0060businessContactEmail\u0060 revokes the brand\u0027s Business Authentication (Auth\u002B) compliance. The brand must request a new \u0060AUTHPLUS\u0060 vet to regain compliance (requiring the business contact to complete a new 2FA email verification).\n\nIf the brand exists in Bandwidth\u0027s system but not in TCR, because we are still submitting the brand to TCR, this endpoint will return a 409 (Conflict). If the brand exists only in Bandwidth\u0027s system due to a failure (\u0060brandIdentityStatus\u0060 will be \u0060ERROR\u0060), we will attempt to create the brand in TCR with the applied changes.\n","requestBody":{"$ref":"#/components/requestBodies/updateDirectBrandRequest"},"parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/brandIdPathParam"}],"responses":{"202":{"$ref":"#/components/responses/brandAcceptedResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"409":{"$ref":"#/components/responses/errorResponse409"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}},"delete":{"tags":["Brands"],"operationId":"deleteBrand","summary":"Delete a brand from the account.","description":"Brands can be deleted once there are no active campaigns on the brand. **Deletion is permanent and cannot be reversed** \u2014 a deleted brand cannot be re-activated. All campaigns associated with the brand must be deactivated first. This will delete the brand in Bandwidth\u0027s systems, along with the associated customer profile.\n\n**Import customers.** The brand continues to exist in the customer\u0027s TCR account.\n\n**Direct customers.** The brand will also be deleted in TCR\u0027s system.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/brandIdPathParam"}],"responses":{"202":{"$ref":"#/components/responses/brandAcceptedResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}}},"/accounts/{accountId}/tendlc/brands/{brandId}/identity/reverify":{"post":{"tags":["Brands"],"operationId":"reverifyBrand","summary":"Reverify the brand\u0027s identity","description":"**Direct customers.** For brands that have not been able to move out of the \u0060UNVERIFIED\u0060 status, this endpoint can be called to ask TCR to re-evaluate the brand\u0027s identity. This is an asynchronous operation \u2014 check the brand history for status updates on the reverification request.\n\nEach reverification incurs a **$4 fee**. Before reverifying, ensure the brand\u0027s legal company name, EIN, and address are accurate and match official government records, as mismatches are the most common cause of \u0060UNVERIFIED\u0060 status.\n\nAlternatively, an identity status appeal (\u0060POST .../appeals\u0060) can be filed, or an external vetting can be requested to resolve \u0060UNVERIFIED\u0060 status.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/brandIdPathParam"}],"responses":{"204":{"$ref":"#/components/responses/noBodyResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}}},"/accounts/{accountId}/tendlc/brands/{brandId}/identity/resend2faEmail":{"post":{"tags":["Brands"],"operationId":"resend2faVerificationEmail","summary":"Resend the 2FA verification email to the business contact","description":"**Direct customers.** Resends a 2FA verification email for a brand that has not completed Business Authentication (Auth\u002B) or RCS verification. Used if a brand\u0027s business contact has lost their original 2FA email or if it has expired. This can only be triggered if the brand initiated the 2FA verification process within the last **30 days**. If multiple emails are sent to the same address, TCR rate-limits sending to **one every two hours**. This is an asynchronous operation \u2014 check the brand history for status updates on the 2FA email request.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/brandIdPathParam"}],"responses":{"204":{"$ref":"#/components/responses/noBodyResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"409":{"$ref":"#/components/responses/errorResponse409"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}}},"/accounts/{accountId}/tendlc/brands/{brandId}/vettings":{"get":{"tags":["Brands"],"operationId":"getBrandVettings","summary":"Get brand vettings","description":"**Direct customers.** Get a list of the external vettings that have been done for this brand.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/brandIdPathParam"},{"$ref":"#/components/parameters/bandwidthIdParam"},{"$ref":"#/components/parameters/vettingIdParam"}],"responses":{"200":{"$ref":"#/components/responses/vettingListResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"409":{"$ref":"#/components/responses/errorResponse409"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}},"post":{"tags":["Brands"],"operationId":"requestVetting","summary":"Request a new brand vetting","description":"**Direct customers.** Request a new external vetting for this brand. This is an asynchronous operation \u2014 check the brand history for status updates on the vetting request. Results may take up to **48 hours**.\n\n**Supported vetting provider and class combinations:**\n\n| Provider (\u0060evpId\u0060) | Class (\u0060vettingClass\u0060) | Eligible entity types | Notes |\n|---|---|---|---|\n| \u0060AEGIS\u0060 | \u0060STANDARD\u0060 | All except \u0060SOLE_PROPRIETOR\u0060 | Returns 0\u2013100 score; determines MNO throughput tier |\n| \u0060AEGIS\u0060 | \u0060ENHANCED\u0060 | All except \u0060SOLE_PROPRIETOR\u0060 | Manual review with detailed report |\n| \u0060AEGIS\u0060 | \u0060POLITICAL\u0060 | \u0060NON_PROFIT\u0060 only | Required for Political campaign use case; not available to brands that already have 501(c)(3/4/5/6) tax-exempt status |\n| \u0060AEGIS\u0060 | \u0060AUTHPLUS\u0060 | \u0060PUBLIC_PROFIT\u0060 only | Business Authentication (Auth\u002B) \u2014 2FA email verification; required for \u0060PUBLIC_PROFIT\u0060 brands to create campaigns; cannot be imported |\n| \u0060AEGIS\u0060 | \u0060RCS\u0060 | All except \u0060SOLE_PROPRIETOR\u0060 | RCS Business Messaging eligibility; automatically grants Business Authentication (Auth\u002B) compliance; cannot be imported |\n| \u0060WMC\u0060 | \u0060STANDARD\u0060 | \u0060PRIVATE_PROFIT\u0060, \u0060PUBLIC_PROFIT\u0060 | US brands only |\n| \u0060CV\u0060 | \u0060POLITICAL\u0060 | Any | Import only \u2014 use \u0060PUT .../vettings/{vettingId}\u0060 instead |\n\n**Eligibility restrictions:**\n- \u0060SOLE_PROPRIETOR\u0060 brands cannot request any external vetting.\n- \u0060PUBLIC_PROFIT\u0060 brands must have \u0060VERIFIED\u0060 or \u0060VETTED_VERIFIED\u0060 identity status to request Standard or Enhanced vets (\u0060AUTHPLUS\u0060 and \u0060RCS\u0060 are not tied to identity status).\n- \u0060NON_PROFIT\u0060 brands with verified 501(c)(3/4/5/6) tax-exempt status cannot request a \u0060POLITICAL\u0060 vet \u2014 they already have access to the Political use case.\n- TCR will reject a new vetting request if a prior vet for this brand is still in \u0060PENDING\u0060 or \u0060UNSCORE\u0060 status.\n\n**Political vet additional payload:** When requesting a \u0060POLITICAL\u0060 vet via Aegis, an \u0060additionalRequestPayload\u0060 object is required, containing fields including \u0060requestorFirstName\u0060, \u0060requestorLastName\u0060, \u0060locale\u0060, \u0060committeeId\u0060, \u0060electionDate\u0060, and \u0060pinPreference\u0060.\n\n**RCS vet cooldown:** After an \u0060RCS\u0060 vet completes, a new RCS vet cannot be requested for **30 days**.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/brandIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/requestVettingRequest"},"responses":{"202":{"$ref":"#/components/responses/vettingAcceptedResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}}},"/accounts/{accountId}/tendlc/brands/{brandId}/vettings/{vettingId}":{"put":{"tags":["Brands"],"operationId":"importVetting","summary":"Import an external brand vetting","description":"**Direct customers.** Import an existing external vetting for this brand. This is an asynchronous operation \u2014 check the brand history for status updates on the vetting import.\n\n**Import restrictions:**\n- \u0060AUTHPLUS\u0060 and \u0060RCS\u0060 vets cannot be imported \u2014 they must be requested directly via \u0060POST .../vettings\u0060.\n- Campaign Verify (\u0060CV\u0060) \u0060POLITICAL\u0060 vets are import-only; the token is obtained directly from Campaign Verify, then imported here.\n- \u0060PUBLIC_PROFIT\u0060 brands must have \u0060VERIFIED\u0060 or \u0060VETTED_VERIFIED\u0060 identity status to import a vet.\n- \u0060SOLE_PROPRIETOR\u0060 brands cannot import any external vetting.\n- \u0060NON_PROFIT\u0060 brands with verified 501(c)(3/4/5/6) tax-exempt status cannot import a \u0060POLITICAL\u0060 vet.\n\n**Aegis imports:** The \u0060vettingToken\u0060 (Aegis Verification Certificate) is required. During import, the brand\u0027s Legal Name and Entity Type must match the corresponding values in the Aegis report exactly.\n\n**Campaign Verify imports:** The \u0060vettingId\u0060 is the Campaign Verify authorization token. The brand must be a US-based \u0060NON_PROFIT\u0060 without 501(c) tax-exempt status, and the token must be unique per brand and CSP.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/brandIdPathParam"},{"$ref":"#/components/parameters/vettingIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/importVettingRequest"},"responses":{"202":{"$ref":"#/components/responses/vettingAcceptedResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}}},"/accounts/{accountId}/tendlc/campaigns":{"get":{"tags":["Campaigns"],"operationId":"getCampaigns","summary":"Get campaigns","description":"**All customers.** Get all campaigns that have been created for this account. This is a paginated API that can be sorted and filtered by a number of the fields in the campaign record. For example, it accepts a customer profile ID to filter to those campaigns that have been assigned to that customer profile.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/brandIdParam"},{"$ref":"#/components/parameters/campaignNameParam"},{"$ref":"#/components/parameters/customerProfileIdsParam"},{"$ref":"#/components/parameters/campaignIdParam"},{"$ref":"#/components/parameters/bandwidthIdParam"},{"$ref":"#/components/parameters/campaignStatusParam"},{"$ref":"#/components/parameters/createdDateParam"},{"$ref":"#/components/parameters/modifiedDateParam"},{"$ref":"#/components/parameters/vettingStatusParam"}],"responses":{"200":{"$ref":"#/components/responses/campaignListResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}},"post":{"tags":["Campaigns"],"operationId":"createCampaign","summary":"Create or import a new campaign","description":"**Import customers.** This endpoint is used to import a campaign if it does not yet exist in Bandwidth\u2019s system, or to refresh or revet the campaign if it already exists. Only the \u0060campaignId\u0060 field is required, and optionally the \u0060campaignName\u0060 field. If a campaign name is not provided, the campaign\u2019s ID will be used as the campaign\u2019s name. All of the rest of the campaign will be retrieved from TCR. The \u0060campaignName\u0060 is not stored in TCR\u2019s system.\n\nThe campaign will be associated to this account. A campaign cannot be imported into more than one account (though the brand it is associated to can span accounts). If necessary, the campaign\u2019s brand will be associated to this account (and it will be created if necessary). If the brand is created, it will be created with an accompanying customer profile to represent the brand (the profile can be edited after it is created).\n\nIf a campaign is changed outside of Bandwidth\u2019s systems, we will receive notification and update the campaign, however, it is safe to re-import manually at any time.\n\n**Direct customers.** Create a campaign in both Bandwidth\u2019s and TCR\u2019s systems, subject to constraints. To refresh or revet an existing direct campaign, provide **only** the \u0060campaignId\u0060 and optionally the \u0060campaignName\u0060 in the request body.\n\nIf a campaign is changed outside of Bandwidth\u2019s systems, we will receive notification and update the campaign, however, it is safe to re-import manually at any time.\n\n- The associated brand must have \u0060VERIFIED\u0060 or \u0060VETTED_VERIFIED\u0060 identity status.\n- Once a use case is selected, **it cannot be changed** on further updates.\n\n**Required fields:**\n- \u0060description\u0060: A clear and detailed explanation of the campaign\u2019s purpose, aligned with the declared use case.\n- \u0060messageFlow\u0060 (Call-to-Action): Describes how consumers opt into the campaign. Must clearly state the program name, message frequency, potential charges, the STOP keyword, and links to terms and conditions and privacy policies. All opt-in methods must be listed.\n- \u0060sampleMessages\u0060: At least **1 sample message** is required for most use cases; at least **2** are required for \u0060MARKETING\u0060, \u0060MIXED\u0060, \u0060AGENTS_FRANCHISES\u0060, \u0060CARRIER_EXEMPT\u0060, \u0060CHARITY\u0060, \u0060EMERGENCY\u0060, \u0060K12_EDUCATION\u0060, \u0060POLITICAL\u0060, \u0060PROXY\u0060, \u0060SOCIAL\u0060, \u0060SOLE_PROPRIETOR\u0060, \u0060SWEEPSTAKE\u0060, and \u0060TRIAL\u0060. Maximum **5** sample messages.\n- \u0060subscriberOptin\u0060: **Required for all use cases except Machine-to-Machine (M2M).** If an opt-in keyword is used, \u0060optinKeywords\u0060 and \u0060optinMessage\u0060 must also be provided.\n- \u0060subscriberOptout\u0060: **Required for all use cases except 2FA and M2M.** \u0060optoutKeywords\u0060 (such as STOP) and \u0060optoutMessage\u0060 are mandatory.\n- \u0060subscriberHelp\u0060, \u0060helpKeywords\u0060 (such as HELP), and \u0060helpMessage\u0060 are required for all use cases.\n- \u0060embeddedLink\u0060: Public URL shorteners (e.g., bit.ly, tinyurl.com) are **not accepted**.\n- \u0060numberPool\u0060: Set to \u0060true\u0060 if 50 or more numbers will be used; this triggers a different provisioning process at T-Mobile.\n\n**Use case restrictions by entity type:**\n\n| Use Case | Entity Type Restriction |\n|---|---|\n| \u0060CHARITY\u0060 | \u0060NON_PROFIT\u0060 with 501(c)(3) tax-exempt status only |\n| \u0060POLITICAL\u0060 | \u0060NON_PROFIT\u0060 entity type only |\n| \u0060SOLE_PROPRIETOR\u0060 | \u0060SOLE_PROPRIETOR\u0060 entity type only |\n| \u0060AGENTS_FRANCHISES\u0060, \u0060CARRIER_EXEMPT\u0060, \u0060SWEEPSTAKE\u0060, \u0060TRIAL\u0060 | All entity types except 501(c)(3) Non-Profits |\n| All other use cases | No entity type restriction |\n\n**Special use case access:** The following use cases are only available through prior arrangement with Bandwidth: \u0060USCAAS_LOW\u0060, \u0060USCAAS_HIGH\u0060, \u0060TRIAL\u0060.\n\n**Billing and renewal:**\n- All campaigns have a **minimum 3-month billing commitment** (except Political, which renews month-to-month immediately after registration).\n- Auto-renewal is **enabled by default**. If disabled, the campaign will be automatically deactivated at the end of the current billing cycle.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/createCampaignRequest"},"responses":{"202":{"$ref":"#/components/responses/campaignAcceptedResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"409":{"$ref":"#/components/responses/errorResponse409"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}}},"/accounts/{accountId}/tendlc/campaigns/{campaignId}":{"get":{"tags":["Campaigns"],"operationId":"getCampaign","summary":"Get details about a campaign","description":"**All customers.** Get details for this TCR campaign.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/campaignIdPathParam"}],"responses":{"200":{"$ref":"#/components/responses/campaignCustomerResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}},"put":{"tags":["Campaigns"],"operationId":"updateCampaign","summary":"Update a campaign","description":"**Import customers.** Import customers may submit a campaign to this endpoint to update the campaign name (if no \u0060campaignName\u0060 is provided, or it is set to null, the campaign\u2019s TCR ID will be used). All other fields can be left off as they will be ignored.\n\n**Direct customers.** Update the details for this campaign. This is a full replacement \u2014 omitted optional fields will be set to null. If the campaign exists in Bandwidth\u2019s system but not in TCR, because we are still submitting the campaign to TCR, this endpoint will return a 409 (Conflict). If the campaign exists only in Bandwidth\u2019s system due to a failure (\u0060status\u0060 will be \u0060ERROR\u0060), we will attempt to create the campaign in TCR with the applied changes. *Only the following fields can be changed after creation:*\n\n| Field | Description |\n|---|---|\n| \u0060resellerId\u0060 | The unique ID assigned to a reseller. If a resellerId is entered, it can only be changed to \u0060R000000\u0060 to indicate No Reseller. **Once set to \u0060R000000\u0060, it cannot be changed again, and it can only be changed once.** |\n| \u0060description\u0060 | A detailed description of the campaign\u2019s purpose. |\n| \u0060embeddedLink\u0060 | Specifies whether the campaign is using an embedded link of any kind. Note that public URL shorteners (e.g., bit.ly, tinyurl.com) are not accepted. |\n| \u0060embeddedPhone\u0060 | Specifies whether the campaign is using an embedded phone number other than the HELP information contact number. |\n| \u0060numberPool\u0060 | Indicates whether the campaign is using more than 50 phone numbers. Some network providers require this information, as it necessitates a different provisioning process. |\n| \u0060ageGated\u0060 | Specifies whether the campaign contains age-gated content. |\n| \u0060directLending\u0060 | Specifies whether the campaign will be used by a brand that provides direct lending. |\n| \u0060sample[1-5]\u0060 | Sample messages that are representative of messages sent as part of the campaign. |\n| \u0060messageFlow\u0060 | Describes how a subscriber would opt-in to the campaign. |\n| \u0060helpMessage\u0060 | Sample help message that would be sent to the subscriber. |\n| \u0060autoRenewal\u0060 | Indicates whether the campaign will automatically renew each billing period. |\n| \u0060optinKeywords\u0060 | A list of keywords a subscriber uses to opt-in to the campaign. |\n| \u0060optoutKeywords\u0060 | A list of keywords a subscriber uses to opt-out of the campaign. |\n| \u0060helpKeywords\u0060 | A list of keywords a subscriber can use to get help or more information from the campaign. |\n| \u0060optinMessage\u0060 | Sample of a message sent to the subscriber when they opt-in. |\n| \u0060optoutMessage\u0060 | Sample of a message sent to the subscriber when they opt-out. |\n| \u0060privacyPolicyLink\u0060 | A link to the campaign\u2019s privacy policy page. |\n| \u0060termsAndConditionsLink\u0060 | A link to the campaign\u2019s terms and conditions page. |\n| \u0060embeddedLinkSample\u0060 | If using an embedded link, a sample of the link that will be used in the campaign. Public URL shorteners are not accepted. |\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/campaignIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/updateCampaignRequest"},"responses":{"202":{"$ref":"#/components/responses/campaignAcceptedResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}},"post":{"tags":["Campaigns"],"operationId":"refreshCampaign","summary":"Refresh a campaign from TCR\u2019s system","description":"**All customers.** Refresh the information in Bandwidth\u2019s systems based on the records at TCR. This will not update the brand or 10DLC registrations associated with the campaign. This is useful if a state change occurs in the campaign that has not been detected by Bandwidth.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/campaignIdPathParam"}],"responses":{"204":{"$ref":"#/components/responses/noBodyResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"409":{"$ref":"#/components/responses/errorResponse409"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}},"delete":{"tags":["Campaigns"],"operationId":"deactivateCampaign","summary":"Deactivate a campaign","description":"Delete a campaign from Bandwidth\u0027s system, starting by deregistering any associated phone numbers on the campaign. If any phone number fails to deregister, we will not delete the campaign. \nReview the history of the campaign to see the status of the deactivation.\n\nThe campaign will be removed from Bandwidth\u2019s system. Any associated brand is left alone, even if this was the last campaign on that brand. The campaign remains in the TCR system.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/campaignIdPathParam"}],"responses":{"202":{"$ref":"#/components/responses/campaignAcceptedResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}}},"/accounts/{accountId}/tendlc/campaigns/{campaignId}/nudge":{"post":{"tags":["Campaigns"],"operationId":"nudgeCampaign","summary":"Nudge a campaign for re-evaluation","description":"**Direct customers.** Sends a notification to a CNP in the upstream connectivity chain to take action on a campaign that has been sitting idle in a review or rejected state for an extended period of time.\n\nThe \u0060nudgeIntent\u0060 field controls the type of notification sent:\n- \u0060REVIEW\u0060: Requests that the upstream CNP take action on a campaign that has not yet been reviewed.\n- \u0060APPEAL_REJECTION\u0060: Informs the upstream CNP that a previously rejected campaign has been resubmitted for review.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/campaignIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/nudgeCampaignRequest"},"responses":{"204":{"$ref":"#/components/responses/noBodyResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"409":{"$ref":"#/components/responses/errorResponse409"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}}},"/accounts/{accountId}/tendlc/campaigns/{campaignId}/phoneNumbers":{"get":{"tags":["10DLC"],"operationId":"getCampaignPhoneNumbers","summary":"Get 10DLC numbers on campaign","description":"**All customers.** Get all phone numbers associated with a campaign. This includes numbers that are correctly assigned and numbers that Bandwidth believes to be currently registered to the campaign in external systems due to provisioning errors.","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/campaignIdPathParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/phoneNumberParam"},{"$ref":"#/components/parameters/createdDateParam"},{"$ref":"#/components/parameters/modifiedDateParam"},{"$ref":"#/components/parameters/customerProfileIdParam"}],"responses":{"200":{"$ref":"#/components/responses/getCampaignPhoneNumbersResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}}},"/accounts/{accountId}/tendlc/campaigns/{campaignId}/history":{"get":{"tags":["Campaigns"],"operationId":"getCampaignHistory","summary":"Get campaign provisioning history","description":"**All customers.** Get the provisioning history for a campaign. This is a paginated API sorted in reverse chronological order, but this can be changed with the \u0060createdDate\u0060 query parameter.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/campaignIdPathParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/createdDateParam"},{"$ref":"#/components/parameters/messageParam"},{"$ref":"#/components/parameters/userNameParam"}],"responses":{"200":{"$ref":"#/components/responses/historyListResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}}},"/accounts/{accountId}/tendlc/brands/{brandId}/history":{"get":{"tags":["Brands"],"operationId":"getBrandHistory","summary":"Get brand provisioning history","description":"**All customers.** Get the provisioning history for a TCR brand. By default these records are sorted in reverse chronological order, but they can be sorted and filtered using the \u0060createdDate\u0060 query parameter. This is a paginated API.\n","parameters":[{"$ref":"#/components/parameters/accountIdPathParam"},{"$ref":"#/components/parameters/brandIdPathParam"},{"$ref":"#/components/parameters/brandIdParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/createdDateParam"},{"$ref":"#/components/parameters/messageParam"},{"$ref":"#/components/parameters/userNameParam"}],"responses":{"200":{"$ref":"#/components/responses/historyListResponse"},"400":{"$ref":"#/components/responses/errorResponse400"},"401":{"$ref":"#/components/responses/errorResponse401"},"403":{"$ref":"#/components/responses/errorResponse403"},"404":{"$ref":"#/components/responses/errorResponse404"},"405":{"$ref":"#/components/responses/errorResponse405"},"429":{"$ref":"#/components/responses/errorResponse429"},"500":{"$ref":"#/components/responses/errorResponse500"},"503":{"$ref":"#/components/responses/errorResponse503"}}}}},"components":{"securitySchemes":{"Basic":{"type":"http","scheme":"basic","description":"Basic authentication is a simple authentication scheme built into the HTTP protocol. To use it, send your  HTTP requests with an Authorization header that contains the word Basic followed by a space and a base64-encoded string \u0060username:password\u0060. Example: \u0060Authorization: Basic ZGVtbZpwQDU1dzByZA==\u0060."},"OAuth2":{"type":"oauth2","description":"OAuth 2.0 client credentials flow for Bandwidth 10DLC APIs.\n\nTo use it, obtain an access token from the token URL using\n\u0060grant_type=client_credentials\u0060 and include it as a Bearer token\nin the \u0060Authorization\u0060 header.\n\nExample:\n\n\u0060Authorization: Bearer \u003CACCESS_TOKEN\u003E\u0060","flows":{"clientCredentials":{"tokenUrl":"https://api.bandwidth.com/oauth2/token","scopes":{}}}}},"parameters":{"accountIdPathParam":{"name":"accountId","description":"User\u0027s account ID.","in":"path","required":true,"schema":{"type":"string","examples":[1234567]}},"displayNameParam":{"name":"displayName","in":"query","description":"Filtering and sorting parameter for \u0060displayName\u0060","style":"deepObject","explode":true,"required":false,"schema":{"title":"String query parameter","description":"Scheme for string query parameter","properties":{"contains":{"$ref":"#/components/schemas/displayName"},"sort":{"$ref":"#/components/schemas/sort"}},"examples":[{"contains":"Acme"},{"sort":"DESC"}]}},"companyNameParam":{"name":"companyName","in":"query","description":"Filtering and sorting parameter for \u0060companyName\u0060","style":"deepObject","explode":true,"required":false,"schema":{"title":"String query parameter","description":"Scheme for string query parameter","properties":{"contains":{"$ref":"#/components/schemas/companyName"},"sort":{"$ref":"#/components/schemas/sort"}},"examples":[{"contains":"Acme, Inc."},{"sort":"DESC"}]}},"brandTypeParam":{"name":"brandType","in":"query","description":"Filtering and sorting parameter for \u0060brandType\u0060","style":"deepObject","explode":true,"required":false,"schema":{"title":"String query parameter","description":"Scheme for string query parameter","properties":{"contains":{"$ref":"#/components/schemas/enumBrandType"},"sort":{"$ref":"#/components/schemas/sort"}},"examples":[{"contains":"NON_PROFIT"},{"sort":"DESC"}]}},"brandIdentityStatusParam":{"name":"brandIdentityStatus","in":"query","description":"Filtering and sorting parameter for \u0060brandIdentityStatus\u0060","style":"deepObject","explode":true,"required":false,"schema":{"title":"String query parameter","description":"Scheme for string query parameter","properties":{"contains":{"$ref":"#/components/schemas/enumBrandIdentityStatus"},"sort":{"$ref":"#/components/schemas/sort"}},"examples":[{"contains":"VERIFIED"},{"sort":"DESC"}]}},"brandIdParam":{"name":"brandId","in":"query","description":"Filtering and sorting parameter for \u0060brandId\u0060. This will be the TCR-assigned brand ID.","style":"deepObject","explode":true,"required":false,"schema":{"title":"String Query Parameter","description":"Scheme for string query parameter","properties":{"contains":{"type":"string"},"sort":{"$ref":"#/components/schemas/sort"}},"examples":[{"contains":"BABC"},{"sort":"DESC"}]}},"brandIdPathParam":{"name":"brandId","description":"This can be the TCR-assigned brand ID, the Bandwidth-assigned identifier for this brand, or the customer profile ID that is associated to the brand in the given account (the last two IDs can be used even before the brand is successfully submitted to TCR).","in":"path","required":true,"schema":{"type":"string","examples":["B5DG4HH"]}},"campaignIdParam":{"name":"campaignId","in":"query","description":"Filtering and sorting parameter for \u0060campaignId\u0060. This will be the TCR-assigned identifier for the campaign.","style":"deepObject","explode":true,"required":false,"schema":{"title":"String Query Parameter","description":"Scheme for string query parameter","properties":{"contains":{"type":"string"},"sort":{"$ref":"#/components/schemas/sort"}},"examples":[{"contains":"CAB"},{"sort":"DESC"}]}},"campaignIdPathParam":{"name":"campaignId","description":"This ID can be the TCR-assigned identifier for the campaign, or the internally generated identifier used by Bandwidth to track the campaign before it is submitted to TCR. The latter is returned when a campaign is created.","in":"path","required":true,"schema":{"type":"string","examples":["CABCDEF"]}},"bandwidthIdParam":{"name":"bandwidthId","in":"query","description":"Filtering parameter for \u0060bandwidthId\u0060, the internally generated identified used by Bandwidth.","style":"deepObject","explode":true,"required":false,"schema":{"title":"String query parameter","description":"Scheme for string query parameter","properties":{"contains":{"type":"string"}},"examples":[{"contains":"WEPTN2N2T5"}]}},"vettingIdParam":{"name":"vettingId","in":"query","description":"Filtering parameter for the external vetting provider\u0027s vetting identifier.","style":"deepObject","explode":true,"required":false,"schema":{"title":"String query parameter","description":"Scheme for string query parameter","properties":{"contains":{"type":"string"}},"examples":[{"contains":"VET123"}]}},"vettingIdPathParam":{"name":"vettingId","description":"The identifier of the vetting from the external vetting provider.","in":"path","required":true,"schema":{"type":"string","examples":["VET123"]}},"campaignNameParam":{"name":"campaignName","description":"Sorting and filtering parameter for \u0060campaignName\u0060.","in":"query","style":"deepObject","explode":true,"required":false,"schema":{"title":"String Query Parameter","description":"Scheme for string query parameter","properties":{"contains":{"type":"string"},"sort":{"$ref":"#/components/schemas/sort"}},"examples":[{"contains":"Acme, Inc."},{"sort":"DESC"}]}},"createdDateParam":{"name":"createdDate","in":"query","description":"Sorting and filtering parameter for \u0060createdDate\u0060.","style":"deepObject","explode":true,"required":false,"schema":{"title":"DateTime Query Parameter","description":"Scheme for date \u0026 time query parameter","properties":{"lt":{"type":"string","format":"date-time"},"gt":{"type":"string","format":"date-time"},"sort":{"$ref":"#/components/schemas/sort"}},"examples":[{"lt":"2024-01-24T00:00:00Z"},{"gt":"2024-01-24T23:59:59Z"},{"sort":"DESC"}]}},"customerProfileIdParam":{"name":"customerProfileId","in":"query","description":"Filtering parameter for \u0060customerProfileId\u0060.","style":"deepObject","explode":true,"required":false,"schema":{"title":"String Query Parameter","description":"Scheme for string query parameter","properties":{"contains":{"type":"string"}},"examples":[{"contains":"Xa39"}]}},"customerProfileIdsParam":{"name":"customerProfileIds","in":"query","description":"Filtering parameter for a list of \u0060customerProfileId\u0060. The API will return entities where the \u0060customerProfileId\u0060 matches any of the values in the list.","style":"deepObject","explode":true,"required":false,"schema":{"title":"String Query Parameter","description":"Scheme for string query parameter","properties":{"contains":{"type":"array","items":{"type":"string"}}},"examples":[{"contains":"[a,b,c]"}]}},"limitParam":{"name":"limit","in":"query","description":"Limit (page size) for pagination","required":false,"schema":{"type":"number","default":50,"maximum":250,"examples":[{"limit":10}]}},"messageParam":{"name":"message","in":"query","description":"Filtering and sorting parameter for \u0060message\u0060.","style":"deepObject","explode":true,"required":false,"schema":{"title":"String Query Parameter","description":"Scheme for string query parameter","properties":{"contains":{"type":"string"}},"examples":[{"contains":"created"}]}},"modifiedDateParam":{"description":"Sorting parameter for \u0060modifiedDate\u0060.","explode":true,"in":"query","name":"modifiedDate","required":false,"schema":{"description":"Scheme for date \u0026 time query parameter","examples":[{"gt":"2024-01-24T23:59:59Z"},{"lt":"2024-01-24T00:00:00Z"},{"sort":"DESC"}],"properties":{"gt":{"format":"date-time","type":"string"},"lt":{"format":"date-time","type":"string"},"sort":{"$ref":"#/components/schemas/sort"}},"title":"DateTime Query Parameter"},"style":"deepObject"},"offsetParam":{"name":"offset","in":"query","description":"Offset for pagination (from zero, the first returned record)","required":false,"schema":{"type":"number","default":0,"examples":[{"offset":25}]}},"phoneNumberParam":{"name":"phoneNumber","in":"query","description":"Filtering and sorting parameter for \u0060phoneNumber\u0060.","style":"deepObject","explode":true,"required":false,"schema":{"title":"String Query Parameter","description":"Schema for string query parameter","properties":{"contains":{"type":"string"},"sort":{"$ref":"#/components/schemas/sort"}},"examples":[{"contains":1206},{"sort":"DESC"}]}},"phoneNumberPathParam":{"name":"phoneNumber","description":"Phone number in full E.164 format","in":"path","required":true,"schema":{"type":"string","examples":[12056349312]}},"registrationStatusParam":{"name":"status","in":"query","description":"Filtering and sorting parameter for \u0060status\u0060.","style":"deepObject","explode":true,"required":false,"schema":{"title":"String Query Parameter","description":"Schema for string query parameter","properties":{"contains":{"$ref":"#/components/schemas/enumRegistrationStatus"},"sort":{"$ref":"#/components/schemas/sort"}},"examples":[{"contains":"Acme"},{"sort":"DESC"}]}},"campaignStatusParam":{"name":"status","in":"query","description":"Filtering and sorting parameter for \u0060status\u0060.","style":"deepObject","explode":true,"required":false,"schema":{"title":"String Query Parameter","description":"Schema for string query parameter","properties":{"eq":{"$ref":"#/components/schemas/enumCampaignStatus"},"sort":{"$ref":"#/components/schemas/sort"}},"examples":[{"eq":"REGISTERED"},{"sort":"DESC"}]}},"vettingStatusParam":{"name":"vettingStatus","in":"query","description":"Filtering and sorting parameter for \u0060vettingStatus\u0060.","style":"deepObject","explode":true,"required":false,"schema":{"title":"String Query Parameter","description":"Schema for string query parameter","properties":{"eq":{"$ref":"#/components/schemas/enumCampaignVettingStatus"},"sort":{"$ref":"#/components/schemas/sort"}},"examples":[{"eq":"REJECTED"},{"sort":"DESC"}]}},"userNameParam":{"name":"userName","in":"query","description":"Filtering and sorting parameter for \u0060userName\u0060.","style":"deepObject","explode":true,"required":false,"schema":{"title":"String Query Parameter","description":"Schema for string query parameter","properties":{"contains":{"type":"string"}},"examples":[{"contains":"jdoe"}]}}},"requestBodies":{"createOrRefreshBrandRequest":{"description":"Create a new brand or refresh an existing brand.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/createOrRefreshBrandRequest"},"examples":{"refreshBrand":{"summary":"Refresh an existing brand from TCR (all customers)","value":{"brandId":"B1DER2J"}},"privateProfitBrand":{"summary":"PRIVATE_PROFIT brand (direct customers)","value":{"customerProfileId":"3IIzIFnRRQBE3AMzPpMTNo","brandType":"PRIVATE_PROFIT","displayName":"Acme Corp","companyName":"Acme Corporation, Inc.","ein":"21-4573154","einIssuingCountryCodeA3":"USA","phone":18005551234,"email":"contact@acmecorp.com","street":"123 Main St","city":"Raleigh","state":"NC","postalCode":27601,"countryCodeA3":"USA","vertical":"TECHNOLOGY","firstName":"Jane","lastName":"Smith","mobilePhone":19195550123,"ipAddress":"192.0.2.1"}},"publicProfitBrand":{"summary":"PUBLIC_PROFIT brand (requires stockSymbol, stockExchange, website, businessContactEmail)","value":{"customerProfileId":"3IIzIFnRRQBE3AMzPpMTNo","brandType":"PUBLIC_PROFIT","displayName":"Acme Public","companyName":"Acme Public Holdings, Inc.","ein":"21-4573154","einIssuingCountryCodeA3":"USA","phone":18005551234,"email":"contact@acmepublic.com","street":"456 Wall St","city":"New York","state":"NY","postalCode":10005,"countryCodeA3":"USA","vertical":"FINANCIAL","stockSymbol":"ACME","stockExchange":"NYSE","website":"https://acmepublic.com","businessContactEmail":"ceo@acmepublic.com","firstName":"Jane","lastName":"Smith","mobilePhone":19195550123,"ipAddress":"192.0.2.1"}},"nonProfitBrand":{"summary":"NON_PROFIT brand (einIssuingCountryCodeA3 must be USA)","value":{"customerProfileId":"3IIzIFnRRQBE3AMzPpMTNo","brandType":"NON_PROFIT","displayName":"Acme Foundation","companyName":"Acme Foundation, Inc.","ein":"21-4573154","einIssuingCountryCodeA3":"USA","phone":18005551234,"email":"info@acmefoundation.org","street":"789 Charity Ln","city":"Durham","state":"NC","postalCode":27701,"countryCodeA3":"USA","vertical":"NGO"}},"governmentBrand":{"summary":"GOVERNMENT brand (einIssuingCountryCodeA3 must be USA)","value":{"customerProfileId":"3IIzIFnRRQBE3AMzPpMTNo","brandType":"GOVERNMENT","displayName":"Acme Government","companyName":"Acme Government Agency","ein":"56-1234567","einIssuingCountryCodeA3":"USA","phone":18005559876,"email":"notifications@acmegov.gov","street":"100 Government Plaza","city":"Raleigh","state":"NC","postalCode":27601,"countryCodeA3":"USA","vertical":"GOVERNMENT","website":"https://acmegov.gov"}}}}}},"updateDirectBrandRequest":{"description":"Update a brand for direct customers.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/updateDirectBrandRequest"},"examples":{"privateProfitBrand":{"summary":"PRIVATE_PROFIT brand","value":{"brandType":"PRIVATE_PROFIT","displayName":"Acme Corp","companyName":"Acme Corporation, Inc.","ein":"21-4573154","einIssuingCountryCodeA3":"USA","phone":18005551234,"email":"contact@acmecorp.com","street":"123 Main St","city":"Raleigh","state":"NC","postalCode":27601,"countryCodeA3":"USA","vertical":"TECHNOLOGY","firstName":"Jane","lastName":"Smith","mobilePhone":19195550123,"ipAddress":"192.0.2.1"}},"publicProfitBrand":{"summary":"PUBLIC_PROFIT brand (requires stockSymbol, stockExchange, website, businessContactEmail)","value":{"brandType":"PUBLIC_PROFIT","displayName":"Acme Public","companyName":"Acme Public Holdings, Inc.","ein":"21-4573154","einIssuingCountryCodeA3":"USA","phone":18005551234,"email":"contact@acmepublic.com","street":"456 Wall St","city":"New York","state":"NY","postalCode":10005,"countryCodeA3":"USA","vertical":"FINANCIAL","stockSymbol":"ACME","stockExchange":"NYSE","website":"https://acmepublic.com","businessContactEmail":"ceo@acmepublic.com","firstName":"Jane","lastName":"Smith","mobilePhone":19195550123,"ipAddress":"192.0.2.1"}},"nonProfitBrand":{"summary":"NON_PROFIT brand (einIssuingCountryCodeA3 must be USA)","value":{"brandType":"NON_PROFIT","displayName":"Acme Foundation","companyName":"Acme Foundation, Inc.","ein":"21-4573154","einIssuingCountryCodeA3":"USA","phone":18005551234,"email":"info@acmefoundation.org","street":"789 Charity Ln","city":"Durham","state":"NC","postalCode":27701,"countryCodeA3":"USA","vertical":"NGO"}},"governmentBrand":{"summary":"GOVERNMENT brand (einIssuingCountryCodeA3 must be USA)","value":{"brandType":"GOVERNMENT","displayName":"Acme Government","companyName":"Acme Government Agency","ein":"56-1234567","einIssuingCountryCodeA3":"USA","phone":18005559876,"email":"notifications@acmegov.gov","street":"100 Government Plaza","city":"Raleigh","state":"NC","postalCode":27601,"countryCodeA3":"USA","vertical":"GOVERNMENT","website":"https://acmegov.gov"}}}}}},"createCampaignRequest":{"description":"Create or import a campaign request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/createOrImportCampaignRequest"}}},"required":true},"updateCampaignRequest":{"description":"Campaign update request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/updateCampaignRequest"}}},"required":true},"nudgeCampaignRequest":{"content":{"application/json":{"schema":{"type":"object","required":["nudgeIntent"],"properties":{"nudgeIntent":{"$ref":"#/components/schemas/enumNudgeIntent"},"description":{"type":"string","maxLength":1024,"description":"A description of the reason for the nudge request."}}}}},"description":"A request to nudge a campaign for re-evaluation."},"requestVettingRequest":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/requestVettingBody"}}}},"importVettingRequest":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/importVettingBody"}}}}},"responses":{"brandAcceptedResponse":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/brandAcceptedResponseObject"}}},"description":"An accepted response containing the brand and Bandwidth IDs."},"vettingAcceptedResponse":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/vettingAcceptedResponseObject"}}},"description":"An accepted response containing the brand\u0027s TCR and Bandwidth IDs."},"vettingListResponse":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/vettingListResponse"}}},"description":"OK"},"brandResponse":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/brandResponse"}}},"description":"An individual TCR brand in the standard response envelope."},"brandListResponse":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/brandListResponse"}}},"description":"A paged list of TCR brands in the standard response envelope."},"campaignAcceptedResponse":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/campaignAcceptedResponseObject"}}},"description":"An accepted response containing the campaign and Bandwidth IDs."},"campaignCustomerResponse":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/campaignCustomerResponse"}}},"description":"An individual TCR campaign in the customer response envelope."},"campaignListResponse":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/campaignListResponse"}}},"description":"A paged list of TCR campaigns in the standard response envelope."},"getCampaignPhoneNumbersResponse":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/getCampaignPhoneNumbersResponse"}}},"description":"Get a paged response of phone numbers associated with a campaign."},"errorResponse400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorResponse400"}}},"description":"Bad request. Cannot process the request."},"errorResponse401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorResponse401"}}},"description":"Client is providing incorrect or invalid credentials."},"errorResponse403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorResponse403"}}},"description":"Client is not authorized for this action."},"errorResponse404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorResponse404"}}},"description":"Not found (either the endpoint, or the resource; the ID of the resource will be the description field of this response)."},"errorResponse405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorResponse405"}}},"description":"Method not allowed."},"errorResponse409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorResponse409"}}},"description":"Conflict. A resource has been changed or already exists."},"errorResponse429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorResponse429"}}},"description":"Too Many Requests.","headers":{"Retry-After":{"description":"How long to wait before retrying in seconds.","schema":{"type":"integer"}}}},"errorResponse500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorResponse500"}}},"description":"Internal Server Error."},"errorResponse503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorResponse503"}}},"description":"Service Unavailable Error."},"noBodyResponse":{"description":"Accepted with no body content returned. Status may be 202 (accepted), 204 (no content), or 429 (client is being rate-limited)."},"historyListResponse":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/historyListResponse"}}},"description":"A paged list of history records for this resource."},"registrationResponse":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/registrationResponse"}}},"description":"A 10DLC registration record."},"registrationListResponse":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/registrationListResponse"}}},"description":"A 10DLC registration record."}},"schemas":{"approval":{"description":"The status of registering a campaign with a carrier or external connectivity partner.","examples":[{"partnerId":"ATT","decision":"APRROVED","messageClass":"T","tpm":300,"mmsTpm":300},{"partnerId":"TMOBILE","decision":"APRROVED","brandTier":"UPPER_MID","brandDailyCap":40000}],"properties":{"partnerId":{"$ref":"#/components/schemas/enumPartnerId"},"decision":{"$ref":"#/components/schemas/enumApprovalDecision"},"reason":{"type":"string","maxLength":2048,"description":"If the campaign was declined, we expect to receive an explanation as to why the carrier rejected the campaign, and that will be provided here. If the reason is longer than 2,048 characters, it will be silently truncated."},"messageClass":{"description":"AT\u0026T message class qualified by brand for a desired use case.","type":"string","examples":["T"]},"tpm":{"description":"AT\u0026T SMS message segment throughput per minute, qualified by the brand for a desired use case.","type":"integer","examples":[2400]},"mmsTpm":{"description":"AT\u0026T MMS message segment throughput per minute, qualified by the brand for a desired use case.","type":"integer","examples":[50]},"brandTier":{"$ref":"#/components/schemas/enumTmobileBrandTier"},"brandDailyCap":{"description":"T-Mobile daily message quota, applying across campaigns and CSPs.","type":"integer","examples":[40000]}}},"getCampaignPhoneNumbersResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/registration"}},"page":{"$ref":"#/components/schemas/responsePage"},"errors":{"description":"The errors array will always be empty for successful responses.","type":"array","items":{"$ref":"#/components/schemas/errorEntry"},"examples":[[]]},"links":{"items":{"$ref":"#/components/schemas/responseLink"},"readOnly":true,"type":"array"}}},"brand":{"description":"The properties of a TCR brand.","required":["bandwidthId","customerProfileId","entityType","displayName","phone","country","countryCodeA3","brandRelationship"],"properties":{"brandId":{"description":"The TCR-generated identifier for this brand. The TCR and Bandwidth identifiers are interchangeable in the Bandwidth APIs and either can be used to retrieve information about the brand.","type":"string","examples":["B1DER2J"]},"bandwidthId":{"description":"The Bandwidth-generated identifier for this brand. The TCR and Bandwidth identifiers are interchangeable in the Bandwidth APIs and either can be used to retrieve information about the brand. The bandwidthId will be available on the brand before the TCR ID is available.","type":"string","examples":["WEPTN2N2T5"]},"accounts":{"description":"The accounts associated to this brand.","type":"array","items":{"$ref":"#/components/schemas/brandAccount"},"examples":[{"accountId":5001923,"customerProfileId":"3IIzIFnRRQBE3AMzPpMTNo"},{"accountId":5001925,"customerProfileId":"1D3FEV9bOfq6sWLSlRDebp"}]},"createdDate":{"format":"date-time","type":"string","description":"The time the brand was created in the TCR system.","examples":["2024-01-24T23:59:59Z"]},"modifiedDate":{"format":"date-time","type":"string","description":"The time the brand was last modified in the Bandwidth system.","examples":["2024-01-24T23:59:59Z"]},"imported":{"type":"boolean"},"brandIdentityStatus":{"$ref":"#/components/schemas/enumBrandIdentityStatus"},"authenticationStatus":{"$ref":"#/components/schemas/enumBusinessAuthenticationStatus"},"brandType":{"$ref":"#/components/schemas/enumBrandType"},"brandRelationship":{"$ref":"#/components/schemas/enumBrandRelationship"},"city":{"type":"string","maxLength":100,"examples":["New York"]},"companyName":{"description":"Legal Company Name. Not required for Sole Proprietor.","type":"string","maxLength":100,"examples":["Acme Amalgamated, Inc."]},"displayName":{"type":"string","maxLength":100,"examples":["Acme"]},"ein":{"description":"Government assigned corporate tax ID, EIN is 9-digits in U.S. Not required for Sole_Proprietor.","type":"string","maxLength":9,"examples":[214573154]},"einIssuingCountry":{"description":"ISO 2 character country code of the country that issued the EIN.","type":"string","minLength":2,"maxLength":2,"examples":["US"]},"einIssuingCountryCodeA3":{"description":"ISO 3 character country code of the country that issued the EIN.","type":"string","minLength":3,"maxLength":3,"examples":["USA"]},"email":{"description":"Valid email address of brand support contact.","type":"string","maxLength":100},"evpVettingScore":{"description":"External vetting provider\u0027s score for this brand.","type":"integer","format":"int32","examples":[200]},"governmentEntity":{"description":"Is this brand closely affiliated to a federal, state, local, or tribal government entity?","type":"boolean"},"phone":{"description":"Valid phone number in e.164 international format.","type":"string","examples":[18009999999]},"politicalCommitteeLocale":{"$ref":"#/components/schemas/enumPoliticalCommitteeLocale"},"postalCode":{"description":"Postal codes. Use 5 digit zipcode for United States.","type":"string","maxLength":5,"examples":[12345]},"country":{"description":"ISO 2 character country code.","type":"string","minLength":2,"maxLength":2,"examples":["US"]},"countryCodeA3":{"description":"ISO 3 character country code.","type":"string","minLength":3,"maxLength":3,"examples":["USA"]},"russell3000":{"description":"Is this a publicly-traded company in the Russell 3000 index?","type":"boolean"},"section527":{"description":"Is this company a tax-exempt organization organized under Section 527 of the U.S. Internal Revenue Code?","type":"boolean"},"state":{"description":"State name. Must be 2 letters code for United States.","type":"string","maxLength":2,"examples":["NC"]},"street":{"type":"string","maxLength":100,"examples":["123 Sesame St."]},"stockExchange":{"$ref":"#/components/schemas/enumStockExchangeSymbols"},"stockSymbol":{"type":"string","examples":["BANDW"]},"taxExemptStatus":{"type":"string","description":"Nonprofit organization tax-exempt status per section 501 of the US tax code. Example: \u201C501c3.\u201D Please refer to https://ballotpedia.org/IRS_code,_section_501 for more information.\n"},"website":{"type":"string","examples":["acme.com"]},"vertical":{"$ref":"#/components/schemas/enumVertical"},"businessContactEmail":{"description":"Valid business email address of brand. This is a *mandatory* field for PUBLIC_PROFIT brands. For other types, TCR will ignore this value. This *cannot* be group/support email ID, i.e. support@company.com","maxLength":100,"type":"string"},"businessContactEmailVerifiedDate":{"description":"Date when business email address was verified. This will be after TCR sends a 2FA email verification to the business email provided in businessContactEmail field. This will only be populated for PUBLIC_PROFIT brands after the verification is completed.","maxLength":100,"type":"string"}}},"brandAccount":{"description":"The accounts a brand is associated to.","required":["accountId","customerProfileId"],"properties":{"accountId":{"type":"string","examples":[5001923]},"customerProfileId":{"description":"The Bandwidth customer profile to associate to the brand.","type":"string","examples":["3IIzIFnRRQBE3AMzPpMTNo"]}}},"brandSummary":{"description":"The properties needed to create or update a TCR brand.","required":["bandwidthId","accounts","entityType","displayName","phone","country","brandRelationship"],"properties":{"brandId":{"description":"The TCR-generated identifier for this brand. The TCR and Bandwidth identifiers are interchangeable in the Bandwidth APIs and either can be used to retrieve information about the brand.","type":"string","examples":["B1DER2J"]},"bandwidthId":{"description":"The Bandwidth-generated identifier for this brand. The TCR and Bandwidth identifiers are interchangeable in the Bandwidth APIs and either can be used to retrieve information about the brand. The bandwidthId will be available on the brand before the TCR ID is available.","type":"string","examples":["WEPTN2N2T5"]},"accounts":{"items":{"$ref":"#/components/schemas/brandAccount"}},"brandType":{"$ref":"#/components/schemas/enumBrandType"},"brandIdentityStatus":{"$ref":"#/components/schemas/enumBrandIdentityStatus"},"authenticationStatus":{"$ref":"#/components/schemas/enumBusinessAuthenticationStatus"},"companyName":{"description":"Legal Company Name. Not required for Sole Proprietor.","type":"string","maxLength":100,"examples":["Acme Amalgamated, Inc."]},"displayName":{"type":"string","maxLength":100,"examples":["Acme"]},"website":{"type":"string","examples":["acme.com"]},"businessContactEmail":{"type":"string","maxLength":100,"examples":["businessemail@mail.com"]},"createdDate":{"description":"The time the brand was created in the TCR system.","format":"date-time","type":"string"},"modifiedDate":{"format":"date-time","description":"The time the brand was last modified in the Bandwidth system.","type":"string"}}},"brandResponse":{"description":"Response payload describing a brand.","type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/responseLink"},"readOnly":true},"data":{"type":"array","items":{"$ref":"#/components/schemas/brand"},"readOnly":true},"errors":{"description":"The errors array will always be empty for successful responses.","type":"array","items":{"$ref":"#/components/schemas/errorEntry"},"examples":[[]]}}},"brandListResponse":{"description":"A list of brands","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/responseLink"},"readOnly":true},"data":{"type":"array","items":{"$ref":"#/components/schemas/brandSummary"},"readOnly":true},"errors":{"description":"The errors array will always be empty for successful responses.","type":"array","items":{"$ref":"#/components/schemas/errorEntry"},"examples":[[]]},"page":{"$ref":"#/components/schemas/responsePage"}}},"campaignAcceptedResponseObject":{"description":"An accepted response containing the campaign and Bandwidth IDs.","type":"object","required":["links","data","errors"],"properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/responseLink"},"readOnly":true},"data":{"$ref":"#/components/schemas/campaignAcceptedObject","readOnly":true,"nullable":true},"errors":{"description":"The errors array will always be empty for successful responses.","type":"array","nullable":true,"items":{"$ref":"#/components/schemas/errorEntry"},"examples":[[]]}}},"campaignAcceptedObject":{"description":"The campaign and Bandwidth IDs. The campaignId is only present when the campaign has been registered with TCR (i.e. not present for newly created direct campaigns awaiting TCR registration).","properties":{"campaignId":{"description":"The TCR-generated identifier for the campaign. The TCR and Bandwidth identifiers are interchangeable in the Bandwidth APIs and either can be used to retrieve information about the campaign.","type":"string","nullable":true,"examples":["CA9D2FS"]},"bandwidthId":{"description":"The Bandwidth-generated identifier for this campaign. The TCR and Bandwidth identifiers are interchangeable in the Bandwidth APIs and either can be used to retrieve information about the campaign.","type":"string","examples":["WEPTN2N2T5"]}},"required":["bandwidthId"]},"campaignCustomerResponse":{"description":"Response payload describing a campaign.","type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/responseLink"},"readOnly":true,"examples":[{"href":"/accounts/5001923/tendlc/campaigns/2YekXSSvsbyC7cHWnbV2Qv","rel":"self","method":"GET"},{"href":"/accounts/5001923/tendlc/campaigns/2YekXSSvsbyC7cHWnbV2Qv","rel":"update","method":"PUT"},{"href":"/accounts/5001923/tendlc/campaigns/2YekXSSvsbyC7cHWnbV2Qv","rel":"delete","method":"DELETE"}]},"data":{"$ref":"#/components/schemas/campaign"},"errors":{"description":"The errors array will always be empty for successful responses.","type":"array","items":{"$ref":"#/components/schemas/errorEntry"},"examples":[[]]}}},"campaignListResponse":{"description":"A list of campaigns","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/responseLink"},"readOnly":true},"data":{"type":"array","items":{"$ref":"#/components/schemas/campaignSummary"},"readOnly":true},"errors":{"description":"The errors array will always be empty for successful responses.","type":"array","items":{"$ref":"#/components/schemas/errorEntry"},"examples":[[]]},"page":{"$ref":"#/components/schemas/responsePage"}}},"campaign":{"description":"The properties needed to create or update a TCR campaign.","properties":{"campaignId":{"description":"The TCR-generated identifier for campaign. The TCR and Bandwidth identifiers are interchangeable in the Bandwidth APIs and either can be used to retrieve information about the campaign.","type":"string","examples":["CA9D2FS"]},"bandwidthId":{"description":"The Bandwidth-generated identifier for this campaign. The TCR and Bandwidth identifiers are interchangeable in the Bandwidth APIs and either can be used to retrieve information about the campaign.","type":"string","examples":["WEPTN2N2T5"]},"cspId":{"type":"string","description":"The CSP ID of the campaign\u0027s CSP account with TCR. This field is only returned for import customers.","examples":["S3TXDL4"]},"customerProfileId":{"description":"The Bandwidth customer profile to associate to the brand.","type":"string","examples":["3IIzIFnRRQBE3AMzPpMTNo"]},"brandId":{"description":"The TCR-generated identifier for the brand associated to this brand.","type":"string","examples":["B1DER2J"]},"brandDisplayName":{"description":"The display name of the brand associated with this campaign.","type":"string","readOnly":true,"examples":["Acme, Inc."]},"campaignName":{"description":"A user-supplied name for this campaign. Because this name is not stored in TCR, imported campaigns will default to the campaign\u2019s TCR ID, though this is editable via the Bandwidth APIs.","type":"string","examples":["Acme, Inc."]},"imported":{"description":"Whether the campaign is imported from TCR","type":"boolean"},"status":{"$ref":"#/components/schemas/enumCampaignStatus"},"createdDate":{"format":"date-time","description":"The time the brand was created in the TCR system.","type":"string"},"modifiedDate":{"format":"date-time","description":"The time the brand was last modified in the Bandwidth system.","type":"string"},"accountId":{"type":"string","description":"The Bandwidth Account owning the campaign.","examples":[5001923]},"approvals":{"description":"The status of the campaign\u2019s acceptance by the external partners as well as the carriers. If a carrier suspends a campaign, this will also be reported here. The status of these approvals overall is reflected in the status of the campaign. For example, if any partner or carrier declines the campaign, the campaign\u2019s status will be \u0060DECLINED\u0060.","type":"array","items":{"$ref":"#/components/schemas/approval"}},"usecase":{"$ref":"#/components/schemas/enumCampaignUsecases"},"subUsecases":{"type":"array","items":{"$ref":"#/components/schemas/enumCampaignUsecases"}},"resellerId":{"description":"Alphanumeric identifier of the reseller that you want to associate with this campaign.","type":"string","examples":["R1D4SJK"]},"description":{"description":"Summary description of this campaign.","type":"string","minimum":40,"maximum":4096,"examples":["Effectively the name/label of the campaign"]},"embeddedLink":{"description":"Does message generated by the campaign include URL link in SMS?","default":false,"type":"boolean"},"embeddedPhone":{"description":"Does message generated by the campaign include phone number in SMS?","default":false,"type":"boolean"},"termsAndConditions":{"description":"Does campaign include terms and conditions?","default":false,"type":"boolean"},"numberPool":{"description":"Does campaign utilize pool of phone numbers?","default":false,"type":"boolean"},"ageGated":{"description":"Age gated content in campaign?","default":false,"type":"boolean"},"directLending":{"description":"Will the campaign include content related to direct lending or other loan arrangements?","default":false,"type":"boolean"},"subscriberOptIn":{"description":"Does campaign require subscriber to opt-in before SMS is sent to subscriber?","default":false,"type":"boolean"},"subscriberOptOut":{"description":"Does campaign support subscriber opt-out keyword(s)?","default":false,"type":"boolean"},"subscriberHelp":{"description":"Have you implemented a response to the HELP keyword informing customers of how they can contact the message sender?","default":false,"type":"boolean"},"sample1":{"description":"Message sample. Some campaign tiers require 1 or more message samples.","type":"string","minimum":20,"maximum":1024},"sample2":{"description":"Message sample. Some campaign tiers require 2 or more message samples. Required for some usecases.","type":"string","minimum":20,"maximum":1024},"sample3":{"description":"Message sample. Some campaign tiers require 3 or more message samples. Required for some usecases.","type":"string","minimum":20,"maximum":1024},"sample4":{"description":"Message sample. Some campaign tiers require 4 or more message samples. Required for some usecases.","type":"string","minimum":20,"maximum":1024},"sample5":{"description":"Message sample. Some campaign tiers require 5 or more message samples. Required for some usecases.","type":"string","minimum":20,"maximum":1024},"messageFlow":{"description":"Message flow description.","type":"string","minimum":40,"maximum":2048},"helpMessage":{"description":"Help message of the campaign.","type":"string","minimum":20,"maximum":1024},"autoRenewal":{"$ref":"#/components/schemas/autoRenewal"},"helpKeywords":{"description":"Help keywords of the campaign. TCR will default the value to HELP. Multiple keywords are comma separated without space.","type":"string","maximum":320},"optinMessage":{"description":"Opt-In message of the campaign.","type":"string","minimum":20,"maximum":1024},"optinKeywords":{"description":"Opt-In keywords of the campaign. Multiple keywords are comma separated without space.","type":"string","maximum":320},"optoutMessage":{"description":"Opt-Out message of the campaign.","type":"string","minimum":20,"maximum":1024},"optoutKeywords":{"description":"Opt-Out keywords of the campaign. TCR will default the value to STOP. Multiple keywords are comma separated without space.","type":"string","maximum":320},"privacyPolicyLink":{"description":"Privacy policy link of the campaign.","type":"string","maximum":255},"termsAndConditionsLink":{"description":"Terms and conditions link of the campaign.","type":"string","maximum":255},"embeddedLinkSample":{"description":"Sample of an embedded link in messages.","type":"string","maximum":255},"vettingStatus":{"$ref":"#/components/schemas/enumCampaignVettingStatus"}},"required":["brandId","usecase","description","sample1","messageFlow","helpMessage","optoutMessage"]},"importOrRefreshCampaignRequest":{"description":"The properties needed to create or update a TCR campaign.","properties":{"campaignId":{"description":"The TCR-generated identifier for campaign. The TCR and Bandwidth identifiers are interchangeable in the Bandwidth APIs and either can be used to retrieve information about the campaign.","type":"string","examples":["CA9D2FS"]},"campaignName":{"description":"A user-supplied name for this campaign. Because this name is not stored in TCR, imported campaigns will default to the campaign\u2019s TCR ID, though this is editable via the Bandwidth APIs.","type":"string","examples":["Acme, Inc."]}},"required":["campaignId"]},"createCampaignRequest":{"description":"Request body for creating a new campaign via the campaign builder. These fields correspond to the TCR campaign builder API.","properties":{"brandId":{"$ref":"#/components/schemas/tcrBrandId"},"campaignName":{"$ref":"#/components/schemas/campaignName"},"usecase":{"$ref":"#/components/schemas/enumCampaignUsecases"},"subUsecases":{"description":"Campaign sub-use cases. Must be of defined valid types. Low Volume Mixed and Carrier Exemptions use cases must have 1-5 sub use cases. Mixed use cases must have 2-5 sub use cases. Proxy, Social, Charity, and Political can have 0-5 sub use cases.","type":"array","items":{"$ref":"#/components/schemas/enumCampaignSubUsecases"}},"description":{"$ref":"#/components/schemas/description"},"embeddedLink":{"$ref":"#/components/schemas/embeddedLink"},"embeddedPhone":{"$ref":"#/components/schemas/embeddedPhone"},"termsAndConditions":{"$ref":"#/components/schemas/termsAndConditions"},"numberPool":{"$ref":"#/components/schemas/numberPool"},"ageGated":{"$ref":"#/components/schemas/ageGated"},"directLending":{"$ref":"#/components/schemas/directLending"},"subscriberOptin":{"$ref":"#/components/schemas/subscriberOptin"},"subscriberOptout":{"$ref":"#/components/schemas/subscriberOptout"},"subscriberHelp":{"$ref":"#/components/schemas/subscriberHelp"},"sample1":{"$ref":"#/components/schemas/sample1"},"sample2":{"$ref":"#/components/schemas/sample2"},"sample3":{"$ref":"#/components/schemas/sample3"},"sample4":{"$ref":"#/components/schemas/sample4"},"sample5":{"$ref":"#/components/schemas/sample5"},"messageFlow":{"$ref":"#/components/schemas/messageFlow"},"helpMessage":{"$ref":"#/components/schemas/helpMessage"},"autoRenewal":{"$ref":"#/components/schemas/autoRenewal"},"helpKeywords":{"$ref":"#/components/schemas/helpKeywords"},"optinMessage":{"$ref":"#/components/schemas/optinMessage"},"optinKeywords":{"$ref":"#/components/schemas/optinKeywords"},"optoutMessage":{"$ref":"#/components/schemas/optoutMessage"},"optoutKeywords":{"$ref":"#/components/schemas/optoutKeywords"},"privacyPolicyLink":{"$ref":"#/components/schemas/privacyPolicyLink"},"termsAndConditionsLink":{"$ref":"#/components/schemas/termsAndConditionsLink"},"embeddedLinkSample":{"$ref":"#/components/schemas/embeddedLinkSample"}},"required":["brandId","usecase","description","sample1","messageFlow","helpMessage","helpKeywords"]},"createOrImportCampaignRequest":{"description":"Request body for creating or importing a campaign. Import customers provide a campaign ID (and optionally a name). Direct customers provide the full campaign fields or a campaign ID (and optionally a name) to refresh or revet.","oneOf":[{"$ref":"#/components/schemas/importOrRefreshCampaignRequest"},{"$ref":"#/components/schemas/createCampaignRequest"}]},"campaignSummary":{"description":"A summary description of a campaign.","properties":{"campaignId":{"description":"The TCR-generated identifier for campaign. The TCR and Bandwidth identifiers are interchangeable in the Bandwidth APIs and either can be used to retrieve information about the campaign.","type":"string","examples":["CA9D2FS"]},"bandwidthId":{"description":"The Bandwidth-generated identifier for this campaign. The TCR and Bandwidth identifiers are interchangeable in the Bandwidth APIs and either can be used to retrieve information about the campaign.","type":"string","examples":["WEPTN2N2T5"]},"campaignName":{"description":"A user-supplied name for this campaign. Because this name is not stored in TCR, imported campaigns will default to the campaign\u2019s TCR ID, though this is editable via the Bandwidth APIs.","type":"string","examples":["Acme, Inc."]},"status":{"$ref":"#/components/schemas/enumCampaignStatus"},"customerProfileId":{"description":"Alphanumeric identifier of the customer profile to associate with this campaign","type":"string","examples":["1TcAThKNW0B0Nwh0XwpdQT"]},"brandId":{"description":"The TCR-generated identifier for this brand.","type":"string","examples":["B1DER2J"]},"brandDisplayName":{"description":"The display name of the brand associated with this campaign.","type":"string","readOnly":true,"examples":["Acme, Inc."]},"usecase":{"$ref":"#/components/schemas/enumCampaignUsecases"},"description":{"description":"Summary description of this campaign.","type":"string","minimum":40,"maximum":4096,"examples":["Effectively the name/label of the campaign"]},"numberPool":{"description":"Does campaign utilize pool of phone numbers?","default":false,"type":"boolean"},"createdDate":{"format":"date-time","description":"The time the brand was created in the TCR system.","type":"string","examples":["2024-09-24T21:52:03.876Z"]},"modifiedDate":{"format":"date-time","description":"The time the brand was last modified in the Bandwidth system.","type":"string","examples":["2024-09-25T21:52:03.876Z"]},"vettingStatus":{"$ref":"#/components/schemas/enumCampaignVettingStatus"}},"required":["brandId","usecase","description"]},"campaignName":{"description":"A user-supplied name for this campaign. Because this name is not stored in TCR, imported campaigns will default to the campaign\u0027s TCR ID, though this is editable via the Bandwidth APIs.","type":"string","examples":["Acme, Inc."]},"description":{"description":"Summary description of this campaign.","type":"string","minLength":40,"maxLength":4096,"examples":["Effectively the name/label of the campaign"]},"embeddedLink":{"description":"Does message generated by the campaign include URL link in SMS?","default":false,"type":"boolean"},"embeddedPhone":{"description":"Does message generated by the campaign include phone number in SMS?","default":false,"type":"boolean"},"termsAndConditions":{"description":"Does campaign include terms and conditions?","default":true,"type":"boolean"},"numberPool":{"description":"Does campaign utilize pool of phone numbers?","default":false,"type":"boolean"},"ageGated":{"description":"Age gated content in campaign?","default":false,"type":"boolean"},"directLending":{"description":"Will the campaign include content related to direct lending or other loan arrangements?","default":false,"type":"boolean"},"subscriberOptin":{"description":"Does campaign require subscriber to opt-in before SMS is sent to subscriber? Required for all use cases except for Machine to Machine. Must include optinMessage and optinKeywords when true.","default":false,"type":"boolean"},"subscriberOptout":{"description":"Does campaign support subscriber opt-out keyword(s)? Required for all use cases except for Machine to Machine and must include \u0027STOP\u0027. Must include optoutMessage and optoutKeywords when true.","default":false,"type":"boolean"},"subscriberHelp":{"description":"Have you implemented a response to the HELP keyword informing customers of how they can contact the message sender? Required for all use cases and must include \u0027HELP\u0027. Must include helpMessage and helpKeywords when true.","default":false,"type":"boolean"},"sample1":{"description":"Message sample. Sample message 1 is required for all use cases.","type":"string","minLength":20,"maxLength":1024},"sample2":{"description":"Message sample. Sample message 2 is required for \u0060MARKETING\u0060, \u0060MIXED\u0060, \u0060AGENTS_FRANCHISES\u0060, \u0060CARRIER_EXEMPT\u0060, \u0060CHARITY\u0060, \u0060EMERGENCY\u0060, \u0060K12_EDUCATION\u0060, \u0060POLITICAL\u0060, \u0060PROXY\u0060, \u0060SOCIAL\u0060, \u0060SOLE_PROPRIETOR\u0060, \u0060SWEEPSTAKE\u0060, and \u0060TRIAL\u0060 use cases.","type":"string","minLength":20,"maxLength":1024},"sample3":{"description":"Message sample.","type":"string","minLength":20,"maxLength":1024},"sample4":{"description":"Message sample.","type":"string","minLength":20,"maxLength":1024},"sample5":{"description":"Message sample.","type":"string","minLength":20,"maxLength":1024},"messageFlow":{"description":"Message flow description.","type":"string","minLength":40,"maxLength":4096},"helpMessage":{"description":"Help message of the campaign.","type":"string","minLength":20,"maxLength":1024},"autoRenewal":{"description":"Campaign subscription auto-renewal status. If true, the campaign will automatically renew at the end of the billing cycle.","type":"boolean","default":true},"helpKeywords":{"description":"Help keywords of the campaign. TCR will default the value to HELP. Multiple keywords are comma separated without space.","type":"string","maxLength":255,"example":"HELP,INFO"},"optinMessage":{"description":"Opt-In message of the campaign.","type":"string","minLength":20,"maxLength":1024},"optinKeywords":{"description":"Opt-In keywords of the campaign. Multiple keywords are comma separated without space.","type":"string","maxLength":255,"example":"YES,START"},"optoutMessage":{"description":"Opt-Out message of the campaign.","type":"string","minLength":20,"maxLength":1024},"optoutKeywords":{"description":"Opt-Out keywords of the campaign. TCR will default the value to STOP. Multiple keywords are comma separated without space.","type":"string","maxLength":255,"example":"STOP,END"},"privacyPolicyLink":{"description":"Privacy policy link of the campaign.","type":"string","maxLength":2048},"termsAndConditionsLink":{"description":"Terms and conditions link of the campaign.","type":"string","maxLength":2048},"embeddedLinkSample":{"description":"Sample of an embedded link in messages. Cannot use URL shortening services.","type":"string","maxLength":255},"createdDate":{"format":"date-time","description":"The time the entity was created in the TCR system.","type":"string"},"companyName":{"description":"Legal Company Name of the brand.","type":"string","maxLength":255,"examples":["Acme, Inc."]},"displayName":{"description":"Display name of the brand.","type":"string","maxLength":255,"examples":["Acme"]},"enumApprovalDecision":{"type":"string","description":"The approval status for a connectivity partner or carrier. **Note** that these values differ as they are communicated by TCR for connectivity partners or carriers. We are standardizing on the values expressed for the connectivity partners, plus suspended (only carriers can suspend a campaign).","enum":["APPROVED","PENDING","REJECTED","UNKNOWN","SUSPENDED"]},"enumBrandType":{"description":"Entity type behind the brand. This is the form of business establishment.","type":"string","enum":["PRIVATE_PROFIT","PUBLIC_PROFIT","NON_PROFIT","GOVERNMENT","SOLE_PROPRIETOR"]},"enumBusinessAuthenticationStatus":{"description":"The Business Authentication status of the brand. Applies to PUBLIC_PROFIT brands only; \u0060null\u0060 if not requested or not applicable.","type":"string","nullable":true,"example":"PENDING","enum":["PENDING","ACTIVE","FAILED","EXPIRED"]},"enumBrandIdentityStatus":{"description":"The identity status of the brand in TCR.","type":"string","enum":["REGISTERING","SELF_DECLARED","VERIFIED","VETTED_VERIFIED","UNVERIFIED","ERROR"]},"enumBrandRelationship":{"description":"Enum value describing the relationship with your Account.","type":"string","enum":["BASIC_ACCOUNT","SMALL_ACCOUNT","MEDIUM_ACCOUNT","LARGE_ACCOUNT","KEY_ACCOUNT"]},"enumCampaignStatus":{"type":"string","enum":["REGISTERING","REGISTERED","DECLINED","UNREGISTERING","EXPIRED","SUSPENDED","ERROR"]},"enumCampaignUsecases":{"description":"Campaign usecase. Must be of defined valid types","type":"string","enum":["2FA","ACCOUNT_NOTIFICATION","CARRIER_EXEMPT","CHARITY","CONVERSATIONAL","CUSTOMER_CARE","DELIVERY_NOTIFICATION","EMERGENCY","FRAUD_ALERT","HIGHER_EDUCATION","K12_EDUCATION","LOW_VOLUME","MARKETING","MIXED","POLITICAL","POLLING_VOTING","PUBLIC_SERVICE_ANNOUNCEMENT","SECURITY_ALERT","SOCIAL","SWEEPSTAKE","TRIAL","AGENTS_FRANCHISES","PROXY","UCAAS_HIGH","UCAAS_LOW","M2M"]},"enumCampaignSubUsecases":{"description":"Campaign sub-use cases. Must be of defined valid types. Low Volume Mixed and Carrier Exemptions use cases must have 1-5 sub use cases. Mixed use cases must have 2-5 sub use cases. Proxy, Social, Charity, and Political can have 0-5 sub use cases.","type":"string","enum":["2FA","ACCOUNT_NOTIFICATION","CUSTOMER_CARE","DELIVERY_NOTIFICATION","FRAUD_ALERT","HIGHER_EDUCATION","MARKETING","POLLING_VOTING","PUBLIC_SERVICE_ANNOUNCEMENT","SECURITY_ALERT"]},"enumCampaignVettingStatus":{"type":"string","description":"The overall vetting status of a campaign, based on \u0060BANDWIDTH_DCA\u0060, \u0060DCA2_ACCEPTED\u0060, \u0060DCA2_READY\u0060, and \u0060PROXY\u0060 partner IDs in the \u0060approvals\u0060 list.","enum":["APPROVED","PENDING","REJECTED","UNKNOWN","SUSPENDED"]},"enumNudg
[...]
