{"openapi":"3.1.0","info":{"title":"Toll-Free Verification","version":"1.0.0","contact":{"name":"Bandwidth","url":"https://support.bandwidth.com","email":"support@bandwidth.com"},"termsOfService":"https://www.bandwidth.com/legal/terms-of-use-bandwidthcom-web-sites/","description":"The API Specification for Toll-Free Verification Platform\n\n## Base URL\n\n\u0060https://api.bandwidth.com/api/v2\u0060"},"security":[{"Basic":[]},{"Oauth2":[]}],"servers":[{"url":"https://api.bandwidth.com/api/v2","description":"Production"}],"tags":[{"name":"Toll-Free Verification"}],"paths":{"/accounts/{accountId}/tollFreeVerification":{"post":{"tags":["Toll-Free Verification"],"summary":"Request Toll-Free Verification","description":"Submit a request for verification of a toll-free phone number.","operationId":"requestTollFreeVerification","parameters":[{"$ref":"#/components/parameters/accountId"}],"requestBody":{"$ref":"#/components/requestBodies/requestTollFreeVerificationRequest"},"responses":{"202":{"description":"Accepted"},"400":{"$ref":"#/components/responses/tfvPostBadRequestResponse"},"401":{"$ref":"#/components/responses/tfvUnauthorizedResponse"},"403":{"$ref":"#/components/responses/tfvForbiddenResponse"},"405":{"$ref":"#/components/responses/tfvNotAllowedResponse"},"429":{"$ref":"#/components/responses/tfvTooManyRequestsResponse"},"500":{"$ref":"#/components/responses/tfvServerErrorResponse"},"503":{"$ref":"#/components/responses/tfvServiceUnavailableResponse"}},"callbacks":{"tfVerificationStatus":{"$ref":"#/components/callbacks/tfVerificationStatus"}},"x-codeSamples":[{"lang":"cURL","source":"curl \u0027https://api.bandwidth.com/api/v2/accounts/9900000/tollFreeVerification\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Content-Type: application/json\u0027 \\\n  -H \u0027Accept: application/json\u0027 \\\n  --data-raw \u0027{\n    \u0022businessAddress\u0022: {\n      \u0022name\u0022: \u0022Bandwidth Inc.\u0022,\n      \u0022addr1\u0022: \u00222230 Bandmate Way\u0022,\n      \u0022city\u0022: \u0022Raleigh\u0022,\n      \u0022state\u0022: \u0022NC\u0022,\n      \u0022zip\u0022: \u002227606\u0022,\n      \u0022url\u0022: \u0022https://www.example.com/path/to/resource\u0022,\n      \u0022addr2\u0022: \u00222230 Bandmate Way\u0022\n    },\n    \u0022businessContact\u0022: {\n      \u0022firstName\u0022: \u0022John\u0022,\n      \u0022lastName\u0022: \u0022Doe\u0022,\n      \u0022email\u0022: \u0022foo@bar.com\u0022,\n      \u0022phoneNumber\u0022: \u0022\u002B19192654500\u0022\n    },\n    \u0022messageVolume\u0022: 10000,\n    \u0022phoneNumbers\u0022: [\n      \u0022\u002B18005555555\u0022\n    ],\n    \u0022useCase\u0022: \u00222FA\u0022,\n    \u0022useCaseSummary\u0022: \u0022Text summarizing the use case for the toll-free number\u0022,\n    \u0022productionMessageContent\u0022: \u0022Production message content\u0022,\n    \u0022optInWorkflow\u0022: {\n      \u0022description\u0022: \u0022Opt In Flow\u0022,\n      \u0022imageUrls\u0022: [\n        \u0022https://www.example.com/path/to/resource\u0022,\n        \u0022https://www.example.com/path/to/resource\u0022\n      ]\n    },\n    \u0022additionalInformation\u0022: \u0022Any additional information\u0022,\n    \u0022isvReseller\u0022: \u0022Test ISV\u0022,\n    \u0022privacyPolicyUrl\u0022: \u0022http://your-company.com/privacyPolicy\u0022,\n    \u0022termsAndConditionsUrl\u0022: \u0022http://your-company.com/termsAndConditions\u0022,\n    \u0022businessDba\u0022: \u0022Another Company Name Inc.\u0022\n  }\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class RequestTollFreeVerificationExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new TollFreeVerificationApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var verificationRequest = new VerificationRequest(); // VerificationRequest | Request for verification of a toll-free phone number.\n\n            try\n            {\n                // Request Toll-Free Verification\n                apiInstance.RequestTollFreeVerification(accountId, verificationRequest);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling TollFreeVerificationApi.RequestTollFreeVerification: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.TollFreeVerificationApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    TollFreeVerificationApi apiInstance = new TollFreeVerificationApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    VerificationRequest verificationRequest = new VerificationRequest(); // VerificationRequest | Request for verification of a toll-free phone number.\n    try {\n      apiInstance.requestTollFreeVerification(accountId, verificationRequest);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling TollFreeVerificationApi#requestTollFreeVerification\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.models.verification_request import VerificationRequest\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.TollFreeVerificationApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    verification_request = bandwidth.VerificationRequest() # VerificationRequest | Request for verification of a toll-free phone number.\n\n    try:\n        # Request Toll-Free Verification\n        api_instance.request_toll_free_verification(account_id, verification_request)\n    except Exception as e:\n        print(\u0022Exception when calling TollFreeVerificationApi-\u003Erequest_toll_free_verification: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::TollFreeVerificationApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\nverification_request = Bandwidth::VerificationRequest.new({business_address: Bandwidth::Address.new({name: \u0027Bandwidth Inc.\u0027, addr1: \u00272230 Bandmate Way\u0027, city: \u0027Raleigh\u0027, state: \u0027NC\u0027, zip: \u002727606\u0027, url: \u0027https://www.example.com/path/to/resource\u0027}), business_contact: Bandwidth::Contact.new({first_name: \u0027John\u0027, last_name: \u0027Doe\u0027, email: \u0027foo@bar.com\u0027, phone_number: \u0027\u002B19192654500\u0027}), message_volume: 10000, phone_numbers: [\u0027\u002B18005555555\u0027], use_case: \u00272FA\u0027, use_case_summary: \u0027Text summarizing the use case for the toll-free number\u0027, production_message_content: \u0027Production message content\u0027, opt_in_workflow: Bandwidth::OptInWorkflow.new({description: \u0027Opt In Flow\u0027, image_urls: [\u0027https://www.example.com/path/to/resource\u0027]})}) # VerificationRequest | Request for verification of a toll-free phone number.\n\nbegin\n  # Request Toll-Free Verification\n  api_instance.request_toll_free_verification(account_id, verification_request)\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling TollFreeVerificationApi-\u003Erequest_toll_free_verification: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    TollFreeVerificationApi,\n    Configuration,\n    VerificationRequest\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new TollFreeVerificationApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet verificationRequest: VerificationRequest; //Request for verification of a toll-free phone number.\n\nconst { status, data } = await apiInstance.requestTollFreeVerification(\n    accountId,\n    verificationRequest\n);\n"}]}},"/accounts/{accountId}/phoneNumbers/{phoneNumber}/tollFreeVerification":{"get":{"tags":["Toll-Free Verification"],"summary":"Get Toll-Free Verification Status","description":"Gets the verification status for a phone number that is provisioned to your account.\nSubmission information will be appended to the response if it is available.","operationId":"getTollFreeVerificationStatus","parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/tfPhoneNumberPathParam"}],"responses":{"200":{"$ref":"#/components/responses/getTollFreeVerificationStatusResponse"},"400":{"$ref":"#/components/responses/tfvBadRequestResponse"},"401":{"$ref":"#/components/responses/tfvUnauthorizedResponse"},"403":{"$ref":"#/components/responses/tfvForbiddenResponse"},"404":{"$ref":"#/components/responses/tfvNotFoundResponse"},"405":{"$ref":"#/components/responses/tfvNotAllowedResponse"},"429":{"$ref":"#/components/responses/tfvTooManyRequestsResponse"},"500":{"$ref":"#/components/responses/tfvServerErrorResponse"},"503":{"$ref":"#/components/responses/tfvServiceUnavailableResponse"}},"x-codeSamples":[{"lang":"cURL","source":"curl \u0027https://api.bandwidth.com/api/v2/accounts/9900000/phoneNumbers/\u002B18885555555/tollFreeVerification\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Accept: application/json\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class GetTollFreeVerificationStatusExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new TollFreeVerificationApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var phoneNumber = \u002B18885555555;  // string | Valid Toll-Free telephone number in E.164 format.\n\n            try\n            {\n                // Get Toll-Free Verification Status\n                TfvStatus result = apiInstance.GetTollFreeVerificationStatus(accountId, phoneNumber);\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling TollFreeVerificationApi.GetTollFreeVerificationStatus: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.TollFreeVerificationApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    TollFreeVerificationApi apiInstance = new TollFreeVerificationApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    String phoneNumber = \u0022\u002B18885555555\u0022; // String | Valid Toll-Free telephone number in E.164 format.\n    try {\n      TfvStatus result = apiInstance.getTollFreeVerificationStatus(accountId, phoneNumber);\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling TollFreeVerificationApi#getTollFreeVerificationStatus\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.models.tfv_status import TfvStatus\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.TollFreeVerificationApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    phone_number = \u0027\u002B18885555555\u0027 # str | Valid Toll-Free telephone number in E.164 format.\n\n    try:\n        # Get Toll-Free Verification Status\n        api_response = api_instance.get_toll_free_verification_status(account_id, phone_number)\n        print(\u0022The response of TollFreeVerificationApi-\u003Eget_toll_free_verification_status:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling TollFreeVerificationApi-\u003Eget_toll_free_verification_status: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::TollFreeVerificationApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\nphone_number = \u0027\u002B18885555555\u0027 # String | Valid Toll-Free telephone number in E.164 format.\n\nbegin\n  # Get Toll-Free Verification Status\n  result = api_instance.get_toll_free_verification_status(account_id, phone_number)\n  p result\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling TollFreeVerificationApi-\u003Eget_toll_free_verification_status: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    TollFreeVerificationApi,\n    Configuration\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new TollFreeVerificationApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet phoneNumber: string; //Valid Toll-Free telephone number in E.164 format. (default to undefined)\n\nconst { status, data } = await apiInstance.getTollFreeVerificationStatus(\n    accountId,\n    phoneNumber\n);\n"}]},"put":{"tags":["Toll-Free Verification"],"summary":"Update Toll-Free Verification Request","description":"Updates a toll-free verification request.\nSubmissions are only eligible for resubmission for 7 days within being processed and if resubmission is allowed (resubmitAllowed field is true).","operationId":"updateTollFreeVerificationRequest","parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/tfPhoneNumberPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/updateTollFreeVerificationRequestRequest"},"responses":{"202":{"$ref":"#/components/responses/verifyPutResponse"},"400":{"$ref":"#/components/responses/tfvPostBadRequestResponse"},"401":{"$ref":"#/components/responses/tfvUnauthorizedResponse"},"403":{"$ref":"#/components/responses/tfvForbiddenResponse"},"405":{"$ref":"#/components/responses/tfvNotAllowedResponse"},"429":{"$ref":"#/components/responses/tfvTooManyRequestsResponse"},"500":{"$ref":"#/components/responses/tfvServerErrorResponse"},"503":{"$ref":"#/components/responses/tfvServiceUnavailableResponse"}},"callbacks":{"tfVerificationStatus":{"$ref":"#/components/callbacks/tfVerificationStatus"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X PUT \u0027https://api.bandwidth.com/api/v2/accounts/9900000/phoneNumbers/\u002B18885555555/tollFreeVerification\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Content-Type: application/json\u0027 \\\n  -H \u0027Accept: application/json\u0027 \\\n  --data-raw \u0027{\n    \u0022submission\u0022: {\n      \u0022businessAddress\u0022: {\n        \u0022name\u0022: \u0022Bandwidth Inc.\u0022,\n        \u0022addr1\u0022: \u00222230 Bandmate Way\u0022,\n        \u0022city\u0022: \u0022Raleigh\u0022,\n        \u0022state\u0022: \u0022NC\u0022,\n        \u0022zip\u0022: \u002227606\u0022,\n        \u0022url\u0022: \u0022https://www.example.com/path/to/resource\u0022,\n        \u0022addr2\u0022: \u00222230 Bandmate Way\u0022\n      },\n      \u0022businessContact\u0022: {\n        \u0022firstName\u0022: \u0022John\u0022,\n        \u0022lastName\u0022: \u0022Doe\u0022,\n        \u0022email\u0022: \u0022foo@bar.com\u0022,\n        \u0022phoneNumber\u0022: \u0022\u002B19192654500\u0022\n      },\n      \u0022messageVolume\u0022: 10000,\n      \u0022useCase\u0022: \u00222FA\u0022,\n      \u0022useCaseSummary\u0022: \u0022Text summarizing the use case for the toll-free number\u0022,\n      \u0022productionMessageContent\u0022: \u0022Production message content\u0022,\n      \u0022optInWorkflow\u0022: {\n        \u0022description\u0022: \u0022Opt In Flow\u0022,\n        \u0022imageUrls\u0022: [\n          \u0022https://www.example.com/path/to/resource\u0022,\n          \u0022https://www.example.com/path/to/resource\u0022\n        ]\n      },\n      \u0022additionalInformation\u0022: \u0022Any additional information\u0022,\n      \u0022isvReseller\u0022: \u0022Test ISV\u0022,\n      \u0022privacyPolicyUrl\u0022: \u0022http://your-company.com/privacyPolicy\u0022,\n      \u0022termsAndConditionsUrl\u0022: \u0022http://your-company.com/termsAndConditions\u0022,\n      \u0022businessDba\u0022: \u0022Another Company Name Inc.\u0022\n    }\n  }\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class UpdateTollFreeVerificationRequestExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new TollFreeVerificationApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var phoneNumber = \u002B18885555555;  // string | Valid Toll-Free telephone number in E.164 format.\n            var tfvSubmissionWrapper = new TfvSubmissionWrapper(); // TfvSubmissionWrapper | Update a request for verification of a toll-free phone number.\n\n            try\n            {\n                // Update Toll-Free Verification Request\n                apiInstance.UpdateTollFreeVerificationRequest(accountId, phoneNumber, tfvSubmissionWrapper);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling TollFreeVerificationApi.UpdateTollFreeVerificationRequest: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.TollFreeVerificationApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    TollFreeVerificationApi apiInstance = new TollFreeVerificationApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    String phoneNumber = \u0022\u002B18885555555\u0022; // String | Valid Toll-Free telephone number in E.164 format.\n    TfvSubmissionWrapper tfvSubmissionWrapper = new TfvSubmissionWrapper(); // TfvSubmissionWrapper | Update a request for verification of a toll-free phone number.\n    try {\n      apiInstance.updateTollFreeVerificationRequest(accountId, phoneNumber, tfvSubmissionWrapper);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling TollFreeVerificationApi#updateTollFreeVerificationRequest\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.models.tfv_submission_wrapper import TfvSubmissionWrapper\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.TollFreeVerificationApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    phone_number = \u0027\u002B18885555555\u0027 # str | Valid Toll-Free telephone number in E.164 format.\n    tfv_submission_wrapper = bandwidth.TfvSubmissionWrapper() # TfvSubmissionWrapper | Update a request for verification of a toll-free phone number.\n\n    try:\n        # Update Toll-Free Verification Request\n        api_instance.update_toll_free_verification_request(account_id, phone_number, tfv_submission_wrapper)\n    except Exception as e:\n        print(\u0022Exception when calling TollFreeVerificationApi-\u003Eupdate_toll_free_verification_request: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::TollFreeVerificationApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\nphone_number = \u0027\u002B18885555555\u0027 # String | Valid Toll-Free telephone number in E.164 format.\ntfv_submission_wrapper = Bandwidth::TfvSubmissionWrapper.new # TfvSubmissionWrapper | Update a request for verification of a toll-free phone number.\n\nbegin\n  # Update Toll-Free Verification Request\n  api_instance.update_toll_free_verification_request(account_id, phone_number, tfv_submission_wrapper)\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling TollFreeVerificationApi-\u003Eupdate_toll_free_verification_request: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    TollFreeVerificationApi,\n    Configuration,\n    TfvSubmissionWrapper\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new TollFreeVerificationApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet phoneNumber: string; //Valid Toll-Free telephone number in E.164 format. (default to undefined)\nlet tfvSubmissionWrapper: TfvSubmissionWrapper; //Update a request for verification of a toll-free phone number.\n\nconst { status, data } = await apiInstance.updateTollFreeVerificationRequest(\n    accountId,\n    phoneNumber,\n    tfvSubmissionWrapper\n);\n"}]},"delete":{"description":"Delete a toll-free verification submission for a toll-free number.","operationId":"deleteVerificationRequest","parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/tfPhoneNumberPathParam"}],"responses":{"204":{"$ref":"#/components/responses/noContentResponse"},"400":{"$ref":"#/components/responses/tfvBadRequestResponse"},"401":{"$ref":"#/components/responses/tfvUnauthorizedResponse"},"403":{"$ref":"#/components/responses/tfvForbiddenResponse"},"404":{"$ref":"#/components/responses/tfvNotFoundResponse"},"405":{"$ref":"#/components/responses/tfvNotAllowedResponse"},"429":{"$ref":"#/components/responses/tfvTooManyRequestsResponse"},"500":{"$ref":"#/components/responses/tfvServerErrorResponse"},"503":{"$ref":"#/components/responses/tfvServiceUnavailableResponse"}},"summary":"Delete a Toll-Free Verification Submission","tags":["Toll-Free Verification"]}},"/accounts/{accountId}/tollFreeVerification/webhooks/subscriptions":{"get":{"tags":["Toll-Free Verification"],"summary":"List Webhook Subscriptions","description":"Lists all webhook subscriptions that are registered to receive status updates for the toll-free verification requests submitted under this account (password will not be returned through this API\nIf \u0060basicAuthentication\u0060 is defined, the \u0060password\u0060 property of that object will be null).","operationId":"listWebhookSubscriptions","parameters":[{"$ref":"#/components/parameters/accountId"}],"responses":{"200":{"$ref":"#/components/responses/listWebhookSubscriptionsResponse"},"400":{"$ref":"#/components/responses/tfvPostBadRequestResponse"},"401":{"$ref":"#/components/responses/tfvUnauthorizedResponse"},"403":{"$ref":"#/components/responses/tfvForbiddenResponse"},"405":{"$ref":"#/components/responses/tfvNotAllowedResponse"},"429":{"$ref":"#/components/responses/tfvTooManyRequestsResponse"},"500":{"$ref":"#/components/responses/tfvServerErrorResponse"},"503":{"$ref":"#/components/responses/tfvServiceUnavailableResponse"}},"x-codeSamples":[{"lang":"cURL","source":"curl \u0027https://api.bandwidth.com/api/v2/accounts/9900000/tollFreeVerification/webhooks/subscriptions\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Accept: application/json\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class ListWebhookSubscriptionsExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new TollFreeVerificationApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n\n            try\n            {\n                // List Webhook Subscriptions\n                WebhookSubscriptionsListBody result = apiInstance.ListWebhookSubscriptions(accountId);\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling TollFreeVerificationApi.ListWebhookSubscriptions: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.TollFreeVerificationApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    TollFreeVerificationApi apiInstance = new TollFreeVerificationApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    try {\n      WebhookSubscriptionsListBody result = apiInstance.listWebhookSubscriptions(accountId);\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling TollFreeVerificationApi#listWebhookSubscriptions\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.models.webhook_subscriptions_list_body import WebhookSubscriptionsListBody\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.TollFreeVerificationApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n\n    try:\n        # List Webhook Subscriptions\n        api_response = api_instance.list_webhook_subscriptions(account_id)\n        print(\u0022The response of TollFreeVerificationApi-\u003Elist_webhook_subscriptions:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling TollFreeVerificationApi-\u003Elist_webhook_subscriptions: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::TollFreeVerificationApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\n\nbegin\n  # List Webhook Subscriptions\n  result = api_instance.list_webhook_subscriptions(account_id)\n  p result\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling TollFreeVerificationApi-\u003Elist_webhook_subscriptions: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    TollFreeVerificationApi,\n    Configuration\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new TollFreeVerificationApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\n\nconst { status, data } = await apiInstance.listWebhookSubscriptions(\n    accountId\n);\n"}]},"post":{"tags":["Toll-Free Verification"],"summary":"Create Webhook Subscription","description":"Create a new webhook subscription (this webhook will be called for every update on every submission).\nIn addition to a \u0060callbackUrl\u0060, this subscription can provide optional HTTP basic authentication credentials (a username and a password).\nThe returned subscription object will contain an ID that can be used to modify or delete the subscription at a later time.","operationId":"createWebhookSubscription","parameters":[{"$ref":"#/components/parameters/accountId"}],"requestBody":{"$ref":"#/components/requestBodies/webhookSubscriptionRequest"},"responses":{"201":{"$ref":"#/components/responses/createWebhookSubscriptionResponse"},"400":{"$ref":"#/components/responses/tfvBadRequestResponse"},"401":{"$ref":"#/components/responses/tfvUnauthorizedResponse"},"403":{"$ref":"#/components/responses/tfvForbiddenResponse"},"404":{"$ref":"#/components/responses/tfvNotFoundResponse"},"405":{"$ref":"#/components/responses/tfvNotAllowedResponse"},"429":{"$ref":"#/components/responses/tfvTooManyRequestsResponse"},"500":{"$ref":"#/components/responses/tfvServerErrorResponse"},"503":{"$ref":"#/components/responses/tfvServiceUnavailableResponse"}},"x-codeSamples":[{"lang":"cURL","source":"curl \u0027https://api.bandwidth.com/api/v2/accounts/9900000/tollFreeVerification/webhooks/subscriptions\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Content-Type: application/json\u0027 \\\n  -H \u0027Accept: application/json\u0027 \\\n  -d \u0027{\n    \u0022callbackUrl\u0022: \u0022https://www.example.com/path/to/resource\u0022,\n    \u0022basicAuthentication\u0022: {\n      \u0022username\u0022: \u0022username\u0022,\n      \u0022password\u0022: \u0022password\u0022\n    },\n    \u0022sharedSecretKey\u0022: \u0022This is my $3cret\u0022\n  }\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class CreateWebhookSubscriptionExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new TollFreeVerificationApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var webhookSubscriptionRequestSchema = new WebhookSubscriptionRequestSchema(); // WebhookSubscriptionRequestSchema | Information about a webhook that Bandwidth should send upon the completion of event customer is trying to subscribe to.\n\n            try\n            {\n                // Create Webhook Subscription\n                WebhookSubscription result = apiInstance.CreateWebhookSubscription(accountId, webhookSubscriptionRequestSchema);\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling TollFreeVerificationApi.CreateWebhookSubscription: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.TollFreeVerificationApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    TollFreeVerificationApi apiInstance = new TollFreeVerificationApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    WebhookSubscriptionRequestSchema webhookSubscriptionRequestSchema = new WebhookSubscriptionRequestSchema(); // WebhookSubscriptionRequestSchema | Information about a webhook that Bandwidth should send upon the completion of event customer is trying to subscribe to.\n    try {\n      WebhookSubscription result = apiInstance.createWebhookSubscription(accountId, webhookSubscriptionRequestSchema);\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling TollFreeVerificationApi#createWebhookSubscription\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.models.webhook_subscription import WebhookSubscription\nfrom bandwidth.models.webhook_subscription_request_schema import WebhookSubscriptionRequestSchema\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.TollFreeVerificationApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    webhook_subscription_request_schema = bandwidth.WebhookSubscriptionRequestSchema() # WebhookSubscriptionRequestSchema | Information about a webhook that Bandwidth should send upon the completion of event customer is trying to subscribe to.\n\n    try:\n        # Create Webhook Subscription\n        api_response = api_instance.create_webhook_subscription(account_id, webhook_subscription_request_schema)\n        print(\u0022The response of TollFreeVerificationApi-\u003Ecreate_webhook_subscription:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling TollFreeVerificationApi-\u003Ecreate_webhook_subscription: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::TollFreeVerificationApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\nwebhook_subscription_request_schema = Bandwidth::WebhookSubscriptionRequestSchema.new({callback_url: \u0027https://www.example.com/path/to/resource\u0027}) # WebhookSubscriptionRequestSchema | Information about a webhook that Bandwidth should send upon the completion of event customer is trying to subscribe to.\n\nbegin\n  # Create Webhook Subscription\n  result = api_instance.create_webhook_subscription(account_id, webhook_subscription_request_schema)\n  p result\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling TollFreeVerificationApi-\u003Ecreate_webhook_subscription: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    TollFreeVerificationApi,\n    Configuration,\n    WebhookSubscriptionRequestSchema\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new TollFreeVerificationApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet webhookSubscriptionRequestSchema: WebhookSubscriptionRequestSchema; //Information about a webhook that Bandwidth should send upon the completion of event customer is trying to subscribe to.\n\nconst { status, data } = await apiInstance.createWebhookSubscription(\n    accountId,\n    webhookSubscriptionRequestSchema\n);\n"}]}},"/accounts/{accountId}/tollFreeVerification/webhooks/subscriptions/{id}":{"delete":{"tags":["Toll-Free Verification"],"summary":"Delete Webhook Subscription","description":"Delete a webhook subscription by ID.","operationId":"deleteWebhookSubscription","parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/webhookSubscriptionIdPathParam"}],"responses":{"204":{"$ref":"#/components/responses/noContentResponse"},"400":{"$ref":"#/components/responses/tfvBadRequestResponse"},"401":{"$ref":"#/components/responses/tfvUnauthorizedResponse"},"403":{"$ref":"#/components/responses/tfvForbiddenResponse"},"404":{"$ref":"#/components/responses/tfvNotFoundResponse"},"405":{"$ref":"#/components/responses/tfvNotAllowedResponse"},"429":{"$ref":"#/components/responses/tfvTooManyRequestsResponse"},"500":{"$ref":"#/components/responses/tfvServerErrorResponse"},"503":{"$ref":"#/components/responses/tfvServiceUnavailableResponse"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X DELETE \u0027https://api.bandwidth.com/api/v2/accounts/9900000/tollFreeVerification/webhooks/subscriptions/7bt57JcsVYJrN9K1OcV1Nu\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Accept: application/json\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class DeleteWebhookSubscriptionExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new TollFreeVerificationApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var id = 7bt57JcsVYJrN9K1OcV1Nu;  // string | Webhook subscription ID\n\n            try\n            {\n                // Delete Webhook Subscription\n                apiInstance.DeleteWebhookSubscription(accountId, id);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling TollFreeVerificationApi.DeleteWebhookSubscription: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.TollFreeVerificationApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    TollFreeVerificationApi apiInstance = new TollFreeVerificationApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    String id = \u00227bt57JcsVYJrN9K1OcV1Nu\u0022; // String | Webhook subscription ID\n    try {\n      apiInstance.deleteWebhookSubscription(accountId, id);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling TollFreeVerificationApi#deleteWebhookSubscription\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.TollFreeVerificationApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    id = \u00277bt57JcsVYJrN9K1OcV1Nu\u0027 # str | Webhook subscription ID\n\n    try:\n        # Delete Webhook Subscription\n        api_instance.delete_webhook_subscription(account_id, id)\n    except Exception as e:\n        print(\u0022Exception when calling TollFreeVerificationApi-\u003Edelete_webhook_subscription: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::TollFreeVerificationApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\nid = \u00277bt57JcsVYJrN9K1OcV1Nu\u0027 # String | Webhook subscription ID\n\nbegin\n  # Delete Webhook Subscription\n  api_instance.delete_webhook_subscription(account_id, id)\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling TollFreeVerificationApi-\u003Edelete_webhook_subscription: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    TollFreeVerificationApi,\n    Configuration\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new TollFreeVerificationApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet id: string; //Webhook subscription ID (default to undefined)\n\nconst { status, data } = await apiInstance.deleteWebhookSubscription(\n    accountId,\n    id\n);\n"}]},"put":{"tags":["Toll-Free Verification"],"summary":"Update Webhook Subscription","description":"Update an existing webhook subscription (\u0060callbackUrl\u0060 and \u0060basicAuthentication\u0060 can be updated).","operationId":"updateWebhookSubscription","parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/webhookSubscriptionIdPathParam"}],"requestBody":{"$ref":"#/components/requestBodies/webhookSubscriptionRequest"},"responses":{"200":{"$ref":"#/components/responses/updateWebhookSubscriptionResponse"},"400":{"$ref":"#/components/responses/tfvBadRequestResponse"},"401":{"$ref":"#/components/responses/tfvUnauthorizedResponse"},"403":{"$ref":"#/components/responses/tfvForbiddenResponse"},"404":{"$ref":"#/components/responses/tfvNotFoundResponse"},"405":{"$ref":"#/components/responses/tfvNotAllowedResponse"},"429":{"$ref":"#/components/responses/tfvTooManyRequestsResponse"},"500":{"$ref":"#/components/responses/tfvServerErrorResponse"},"503":{"$ref":"#/components/responses/tfvServiceUnavailableResponse"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X PUT \u0027https://api.bandwidth.com/api/v2/accounts/9900000/tollFreeVerification/webhooks/subscriptions/7bt57JcsVYJrN9K1OcV1Nu\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Content-Type: application/json\u0027 \\\n  -H \u0027Accept: application/json\u0027 \\\n  -d \u0027{\n    \u0022callbackUrl\u0022: \u0022https://www.example.com/path/to/resource\u0022,\n    \u0022basicAuthentication\u0022: {\n      \u0022username\u0022: \u0022username\u0022,\n      \u0022password\u0022: \u0022password\u0022\n    },\n    \u0022sharedSecretKey\u0022: \u0022This is my $3cret\u0022\n  }\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class UpdateWebhookSubscriptionExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new TollFreeVerificationApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var id = 7bt57JcsVYJrN9K1OcV1Nu;  // string | Webhook subscription ID\n            var webhookSubscriptionRequestSchema = new WebhookSubscriptionRequestSchema(); // WebhookSubscriptionRequestSchema | Information about a webhook that Bandwidth should send upon the completion of event customer is trying to subscribe to.\n\n            try\n            {\n                // Update Webhook Subscription\n                WebhookSubscription result = apiInstance.UpdateWebhookSubscription(accountId, id, webhookSubscriptionRequestSchema);\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling TollFreeVerificationApi.UpdateWebhookSubscription: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.TollFreeVerificationApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    TollFreeVerificationApi apiInstance = new TollFreeVerificationApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    String id = \u00227bt57JcsVYJrN9K1OcV1Nu\u0022; // String | Webhook subscription ID\n    WebhookSubscriptionRequestSchema webhookSubscriptionRequestSchema = new WebhookSubscriptionRequestSchema(); // WebhookSubscriptionRequestSchema | Information about a webhook that Bandwidth should send upon the completion of event customer is trying to subscribe to.\n    try {\n      WebhookSubscription result = apiInstance.updateWebhookSubscription(accountId, id, webhookSubscriptionRequestSchema);\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling TollFreeVerificationApi#updateWebhookSubscription\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.models.webhook_subscription import WebhookSubscription\nfrom bandwidth.models.webhook_subscription_request_schema import WebhookSubscriptionRequestSchema\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.TollFreeVerificationApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    id = \u00277bt57JcsVYJrN9K1OcV1Nu\u0027 # str | Webhook subscription ID\n    webhook_subscription_request_schema = bandwidth.WebhookSubscriptionRequestSchema() # WebhookSubscriptionRequestSchema | Information about a webhook that Bandwidth should send upon the completion of event customer is trying to subscribe to.\n\n    try:\n        # Update Webhook Subscription\n        api_response = api_instance.update_webhook_subscription(account_id, id, webhook_subscription_request_schema)\n        print(\u0022The response of TollFreeVerificationApi-\u003Eupdate_webhook_subscription:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling TollFreeVerificationApi-\u003Eupdate_webhook_subscription: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::TollFreeVerificationApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\nid = \u00277bt57JcsVYJrN9K1OcV1Nu\u0027 # String | Webhook subscription ID\nwebhook_subscription_request_schema = Bandwidth::WebhookSubscriptionRequestSchema.new({callback_url: \u0027https://www.example.com/path/to/resource\u0027}) # WebhookSubscriptionRequestSchema | Information about a webhook that Bandwidth should send upon the completion of event customer is trying to subscribe to.\n\nbegin\n  # Update Webhook Subscription\n  result = api_instance.update_webhook_subscription(account_id, id, webhook_subscription_request_schema)\n  p result\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling TollFreeVerificationApi-\u003Eupdate_webhook_subscription: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    TollFreeVerificationApi,\n    Configuration,\n    WebhookSubscriptionRequestSchema\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new TollFreeVerificationApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet id: string; //Webhook subscription ID (default to undefined)\nlet webhookSubscriptionRequestSchema: WebhookSubscriptionRequestSchema; //Information about a webhook that Bandwidth should send upon the completion of event customer is trying to subscribe to.\n\nconst { status, data } = await apiInstance.updateWebhookSubscription(\n    accountId,\n    id,\n    webhookSubscriptionRequestSchema\n);\n"}]}},"/tollFreeVerification/useCases":{"get":{"tags":["Toll-Free Verification"],"summary":"List Toll-Free Use Cases","description":"Lists valid toll-free use cases.","operationId":"listTollFreeUseCases","responses":{"200":{"$ref":"#/components/responses/listTollFreeUseCasesResponse"},"400":{"$ref":"#/components/responses/tfvBadRequestResponse"},"401":{"$ref":"#/components/responses/tfvUnauthorizedResponse"},"403":{"$ref":"#/components/responses/tfvForbiddenResponse"},"404":{"$ref":"#/components/responses/tfvNotFoundResponse"},"405":{"$ref":"#/components/responses/tfvNotAllowedResponse"},"429":{"$ref":"#/components/responses/tfvTooManyRequestsResponse"},"500":{"$ref":"#/components/responses/tfvServerErrorResponse"},"503":{"$ref":"#/components/responses/tfvServiceUnavailableResponse"}},"x-codeSamples":[{"lang":"cURL","source":"curl \u0027https://api.bandwidth.com/api/v2/tollFreeVerification/useCases\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Accept: application/json\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class ListTollFreeUseCasesExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new TollFreeVerificationApi(config);\n\n            try\n            {\n                // List Toll-Free Use Cases\n                List\u003Cstring\u003E result = apiInstance.ListTollFreeUseCases();\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling TollFreeVerificationApi.ListTollFreeUseCases: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.TollFreeVerificationApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    TollFreeVerificationApi apiInstance = new TollFreeVerificationApi(defaultClient);\n    try {\n      List\u003CString\u003E result = apiInstance.listTollFreeUseCases();\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling TollFreeVerificationApi#listTollFreeUseCases\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.TollFreeVerificationApi(api_client)\n\n    try:\n        # List Toll-Free Use Cases\n        api_response = api_instance.list_toll_free_use_cases()\n        print(\u0022The response of TollFreeVerificationApi-\u003Elist_toll_free_use_cases:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling TollFreeVerificationApi-\u003Elist_toll_free_use_cases: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::TollFreeVerificationApi.new\n\nbegin\n  # List Toll-Free Use Cases\n  result = api_instance.list_toll_free_use_cases\n  p result\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling TollFreeVerificationApi-\u003Elist_toll_free_use_cases: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    TollFreeVerificationApi,\n    Configuration\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new TollFreeVerificationApi(configuration);\n\nconst { status, data } = await apiInstance.listTollFreeUseCases();\n"}]}}},"components":{"parameters":{"accountId":{"in":"path","name":"accountId","required":true,"schema":{"type":"string"},"description":"Your Bandwidth Account ID.","example":9900000},"tfPhoneNumberPathParam":{"in":"path","name":"phoneNumber","required":true,"schema":{"$ref":"#/components/schemas/tfPhoneNumber"},"description":"Valid Toll-Free telephone number in E.164 format.","example":18885555555},"webhookSubscriptionIdPathParam":{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"Webhook subscription ID","example":"7bt57JcsVYJrN9K1OcV1Nu"}},"requestBodies":{"requestTollFreeVerificationRequest":{"description":"Request for verification of a toll-free phone number.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/verificationRequest"}}}},"updateTollFreeVerificationRequestRequest":{"description":"Update a request for verification of a toll-free phone number.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tfvSubmissionWrapper"}}}},"verificationWebhookRequest":{"description":"Verification callback status of a toll-free phone number.","required":true,"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/verificationWebhook"},{"$ref":"#/components/schemas/verificationDenialWebhook"},{"$ref":"#/components/schemas/failureWebhook"},{"$ref":"#/components/schemas/blockedWebhook"}]}}}},"webhookSubscriptionRequest":{"description":"Information about a webhook that Bandwidth should send upon the completion of event customer is trying to subscribe to.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/webhookSubscriptionRequestSchema"}}}}},"responses":{"getTollFreeVerificationStatusResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tfvStatus"}}}},"listWebhookSubscriptionsResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/webhookSubscriptionsListBody"}}}},"createWebhookSubscriptionResponse":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/webhookSubscription"}}}},"updateWebhookSubscriptionResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/webhookSubscription"}}}},"listTollFreeUseCasesResponse":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/useCases"}}}},"tfvBadRequestResponse":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tfvError"},"example":{"description":"Cannot process request.","type":"bad request"}}}},"noContentResponse":{"description":"No Content"},"tfvPostBadRequestResponse":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tfvError"},"example":{"description":"cannot process request.","errors":{"businessName":"Business name is required.","businessContactEmail":"Business contact email is not a valid email address.","optInWorkflowImageURLs":"Entries must be a valid array of objects."}}}}},"tfvUnauthorizedResponse":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tfvError"},"example":{"description":"Client is providing incorrect or invalid credentials.","type":"unauthorized"}}}},"tfvForbiddenResponse":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tfvError"},"example":{"description":"Client is not authorized for the action.","type":"forbidden"}}}},"tfvNotFoundResponse":{"description":"Cannot find the requested resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tfvError"},"example":{"description":"Cannot find the requested resource.","type":"Not Found"}}}},"tfvNotAllowedResponse":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tfvError"},"example":{"description":"Method is not allowed.","type":"Method Not Allowed"}}}},"tfvTooManyRequestsResponse":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tfvError"},"example":{"description":"Throttling error. Too many requests.","type":"Too Many Requests"}}}},"tfvServerErrorResponse":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tfvError"},"example":{"description":"Internal Server Error.","type":"Internal Server Error"}}}},"tfvServiceUnavailableResponse":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tfvError"},"example":{"description":"Service Unavailable Error.","type":"Service Unavailable"}}}},"verifyPutResponse":{"description":"Accepted"}},"schemas":{"accountId":{"type":"string","description":"User\u0027s account ID.","example":1234567},"tfPhoneNumber":{"type":"string","description":"Toll-free telephone number in E.164 format.","minLength":12,"maxLength":12,"nullable":false,"pattern":"^\\\u002B1(800|833|844|855|866|877|888)[2-9]\\d{6}$","example":18005555555},"tfvWebhookErrors":{"type":"array","description":"Details of the errors that were encountered when processing the request.","items":{"type":"string","example":"optInWorkflowImageURLs: Entries must be a valid array of objects."}},"tfvCallbackStatusEnum":{"type":"string","enum":["VERIFIED","UNVERIFIED"],"example":"VERIFIED"},"tfvUnverifiedStatus":{"type":"string","default":"UNVERIFIED","example":"UNVERIFIED"},"declineReasonDescription":{"type":"string","description":"Explanation for why a verification request was declined.","nullable":false,"example":"Invalid Information - Can\u0027t Validate URL - Website is not accessible / not available"},"denialStatusCode":{"description":"Reason code for denial.","type":"integer","example":511},"resubmitAllowed":{"description":"Whether a Toll-Free Verification request qualifies for resubmission via PUT.","example":true,"type":"boolean"},"blocked":{"description":"Whether a Toll-Free Verification is blocked. This attribute will only be defined when the number is blocked.","example":true,"type":"boolean"},"blockedReason":{"description":"The reason why the Toll-Free Verification is blocked. This attribute will only be defined when the number is blocked.","example":"Toll-free number was used to send spam messages","type":"string"},"privacyPolicyUrl":{"description":"The Toll-Free Verification request privacy policy URL.","maxLength":500,"example":"http://your-company.com/privacyPolicy","type":"string"},"termsAndConditionsUrl":{"description":"The Toll-Free Verification request terms and conditions policy URL.","maxLength":500,"example":"http://your-company.com/termsAndConditions","type":"string"},"businessDba":{"description":"The company \u0027Doing Business As\u0027.","maxLength":500,"example":"Another Company Name Inc.","type":"string"},"businessRegistrationNumber":{"type":"string","description":"Government-issued business identifying number.\n\n**Note: As of October 19th, 2026 this field will be required when \u0060businessEntityType\u0060 is _not_ \u0060SOLE_PROPRIETOR\u0060. If this field is provided, \u0060businessRegistrationType\u0060 and \u0060businessRegistrationIssuingCountry\u0060 are also required.**\n","nullable":true,"maxLength":500,"example":"12-3456789"},"businessRegistrationTypeEnum":{"type":"string","description":"The type of business registration number.\n\n**Note: As of October 19th, 2026 this field will be required when \u0060businessRegistrationNumber\u0060 is provided.**\n","enum":["EIN","CBN","NEQ","PROVINCIAL_NUMBER","CRN","VAT","ACN","ABN","BRN","SIREN","SIRET","NZBN","UST_IDNR","CIF","NIF","CNPJ","UID","OTHER"],"example":"EIN","nullable":true},"businessRegistrationIssuingCountry":{"type":"string","description":"The country issuing the business registration in ISO-3166-1 alpha-3 format. Alpha-2 format is accepted by the API, but alpha-3 is highly encouraged.\n\n**Note: As of October 19th, 2026 this field will be required when \u0060businessRegistrationNumber\u0060 is provided.**\n\n| Registration Type     | Supported Countries                |\n|----------------------|------------------------------------|\n| EIN                  | USA                                |\n| CBN                  | CAN                                |\n| NEQ                  | CAN                                |\n| PROVINCIAL_NUMBER    | CAN                                |\n| CRN                  | GBR, HKG                           |\n| VAT                  | GBR, IRL, BRA, NLD                 |\n| ACN                  | AUS                                |\n| ABN                  | AUS                                |\n| BRN                  | HKG                                |\n| SIREN                | FRA                                |\n| SIRET                | FRA                                |\n| NZBN                 | NZL                                |\n| UST_IDNR             | DEU                                |\n| CIF                  | ESP                                |\n| NIF                  | ESP                                |\n| CNPJ                 | BRA                                |\n| UID                  | CHE                                |\n| OTHER                | Must Provide Country Code          |","example":"USA","nullable":true},"businessEntityTypeEnum":{"type":"string","description":"The type of registered business.\n\n**Note: As of October 19th, 2026 submissions using a value other than \u0060SOLE_PROPRIETOR\u0060 must provide a value for \u0060businessRegistrationNumber\u0060, \u0060businessRegistrationType\u0060, and \u0060businessRegistrationIssuingCountry\u0060. \nSubmissions using \u0060SOLE_PROPRIETOR\u0060 must _omit_ \u0060businessRegistrationNumber\u0060, \u0060businessRegistrationType\u0060, and \u0060businessRegistrationIssuingCountry\u0060. Failure to adhere to these constraints will result in a 400 Bad Request rejection.**\n","enum":["SOLE_PROPRIETOR","PRIVATE_PROFIT","PUBLIC_PROFIT","NON_PROFIT","GOVERNMENT"],"example":"PRIVATE_PROFIT","nullable":false},"helpMessageResponse":{"type":"string","description":"A message that gets sent to users requesting help.","nullable":true,"maxLength":500,"example":"Please contact support for assistance."},"ageGatedContent":{"type":"boolean","description":"Indicates whether the content is age-gated.","example":false},"additionalDenialReason":{"properties":{"statusCode":{"$ref":"#/components/schemas/denialStatusCode"},"reason":{"$ref":"#/components/schemas/declineReasonDescription"},"resubmitAllowed":{"$ref":"#/components/schemas/resubmitAllowed"}},"required":["statusCode","reason","resubmitAllowed"],"type":"object"},"internalTicketNumber":{"type":"string","description":"Unique identifier (UUID) generated by Bandwidth to assist in tracking the verification status of a toll-free number - included in all webhook payloads.","example":"acde070d-8c4c-4f0d-9d8a-162843c10333"},"internalTicketNumberForWebhook":{"type":"string","description":"Unique identifier (UUID) generated by Bandwidth to assist in tracking the verification status of a toll-free number.","example":"acde070d-8c4c-4f0d-9d8a-162843c10333"},"businessContactPhoneNumber":{"description":"Contact telephone number","type":"string","minLength":1,"maxLength":500,"nullable":false,"example":19192654500},"verificationRequest":{"type":"object","required":["businessAddress","businessContact","messageVolume","phoneNumbers","useCase","useCaseSummary","productionMessageContent","optInWorkflow","businessEntityType"],"properties":{"businessAddress":{"$ref":"#/components/schemas/address"},"businessContact":{"$ref":"#/components/schemas/contact"},"messageVolume":{"type":"integer","description":"Estimated monthly volume of messages from the toll-free number.","minimum":10,"maximum":10000000,"example":10000},"phoneNumbers":{"type":"array","minItems":1,"maxItems":10,"items":{"$ref":"#/components/schemas/tfPhoneNumber"}},"useCase":{"$ref":"#/components/schemas/useCase"},"useCaseSummary":{"$ref":"#/components/schemas/useCaseSummary"},"productionMessageContent":{"$ref":"#/components/schemas/productionMessageContent"},"optInWorkflow":{"$ref":"#/components/schemas/optInWorkflow"},"additionalInformation":{"type":"string","description":"Any additional information.","minLength":0,"maxLength":500,"nullable":true,"example":"Any additional information"},"isvReseller":{"$ref":"#/components/schemas/isvReseller"},"privacyPolicyUrl":{"$ref":"#/components/schemas/privacyPolicyUrl"},"termsAndConditionsUrl":{"$ref":"#/components/schemas/termsAndConditionsUrl"},"businessDba":{"$ref":"#/components/schemas/businessDba"},"businessRegistrationNumber":{"$ref":"#/components/schemas/businessRegistrationNumber"},"businessRegistrationType":{"$ref":"#/components/schemas/businessRegistrationTypeEnum"},"businessRegistrationIssuingCountry":{"$ref":"#/components/schemas/businessRegistrationIssuingCountry"},"businessEntityType":{"$ref":"#/components/schemas/businessEntityTypeEnum"},"helpMessageResponse":{"$ref":"#/components/schemas/helpMessageResponse"},"ageGatedContent":{"$ref":"#/components/schemas/ageGatedContent"},"cvToken":{"$ref":"#/components/schemas/cvTokenNullable"}}},"verificationUpdateRequest":{"type":"object","required":["businessAddress","businessContact","messageVolume","useCase","useCaseSummary","productionMessageContent","optInWorkflow"],"properties":{"businessAddress":{"$ref":"#/components/schemas/address"},"businessContact":{"$ref":"#/components/schemas/contact"},"messageVolume":{"type":"integer","description":"Estimated monthly volume of messages from the toll-free number.","minimum":10,"maximum":10000000,"example":10000},"useCase":{"$ref":"#/components/schemas/useCase"},"useCaseSummary":{"$ref":"#/components/schemas/useCaseSummary"},"productionMessageContent":{"$ref":"#/components/schemas/productionMessageContent"},"optInWorkflow":{"$ref":"#/components/schemas/optInWorkflow"},"additionalInformation":{"$ref":"#/components/schemas/additionalInformation"},"isvReseller":{"$ref":"#/components/schemas/isvReseller"},"privacyPolicyUrl":{"$ref":"#/components/schemas/privacyPolicyUrl"},"termsAndConditionsUrl":{"$ref":"#/components/schemas/termsAndConditionsUrl"},"businessDba":{"$ref":"#/components/schemas/businessDba"},"businessRegistrationNumber":{"$ref":"#/components/schemas/businessRegistrationNumber"},"businessRegistrationType":{"$ref":"#/components/schemas/businessRegistrationTypeEnum"},"businessEntityType":{"$ref":"#/components/schemas/businessEntityTypeEnum"},"businessRegistrationIssuingCountry":{"$ref":"#/components/schemas/businessRegistrationIssuingCountry"},"helpMessageResponse":{"$ref":"#/components/schemas/helpMessageResponse"},"ageGatedContent":{"$ref":"#/components/schemas/ageGatedContent"},"cvToken":{"$ref":"#/components/schemas/cvTokenNullable"}}},"tfvBasicAuthentication":{"type":"object","properties":{"username":{"type":"string","maxLength":100,"example":"username"},"password":{"type":"string","maxLength":200,"example":"password"}},"required":["username","password"]},"webhookSubscriptionRequestSchema":{"type":"object","properties":{"basicAuthentication":{"$ref":"#/components/schemas/tfvBasicAuthentication"},"callbackUrl":{"$ref":"#/components/schemas/webhookUrl"},"sharedSecretKey":{"$ref":"#/components/schemas/sharedSecretKey"}},"required":["callbackUrl"]},"failureWebhook":{"type":"object","properties":{"accountId":{"$ref":"#/components/schemas/accountId"},"phoneNumber":{"$ref":"#/components/schemas/tfPhoneNumber"},"errorCode":{"type":"string","description":"An error code indicating what error was encountered. This code can be interpreted as an HTTP status code in regards to the error that was encountered.","example":400},"errorMessage":{"type":"string","description":"A description of the error that was encountered.","example":"cannot process request."},"errors":{"$ref":"#/components/schemas/tfvWebhookErrors"},"internalTicketNumber":{"$ref":"#/components/schemas/internalTicketNumberForWebhook"}}},"verificationDenialWebhook":{"type":"object","properties":{"accountId":{"$ref":"#/components/schemas/accountId"},"additionalDenialReasons":{"description":"An optional list of denial reasons in addition to declineReasonDescription when multiple reasons apply.","items":{"$ref":"#/components/schemas/additionalDenialReason"},"example":[{"statusCode":512,"reason":"Reason A","resubmitAllowed":true},{"statusCode":513,"reason":"Reason B","resubmitAllowed":true}],"type":"array"},"declineReasonDescription":{"$ref":"#/components/schemas/declineReasonDescription"},"denialStatusCode":{"$ref":"#/components/schemas/denialStatusCode"},"internalTicketNumber":{"$ref":"#/components/schemas/internalTicketNumberForWebhook"},"phoneNumber":{"$ref":"#/components/schemas/tfPhoneNumber"},"resubmitAllowed":{"$ref":"#/components/schemas/resubmitAllowed"},"status":{"$ref":"#/components/schemas/tfvUnverifiedStatus"},"blocked":{"$ref":"#/components/schemas/blocked"},"blockedReason":{"$ref":"#/components/schemas/blockedReason"}}},"verificationWebhook":{"type":"object","properties":{"accountId":{"$ref":"#/components/schemas/accountId"},"phoneNumber":{"$ref":"#/components/schemas/tfPhoneNumber"},"status":{"$ref":"#/components/schemas/tfvCallbackStatusEnum"},"internalTicketNumber":{"$ref":"#/components/schemas/internalTicketNumberForWebhook"}}},"blockedWebhook":{"type":"object","properties":{"accountId":{"$ref":"#/components/schemas/accountId"},"phoneNumber":{"$ref":"#/components/schemas/tfPhoneNumber"},"status":{"$ref":"#/components/schemas/tfvCallbackStatusEnum"},"internalTicketNumber":{"$ref":"#/components/schemas/internalTicketNumberForWebhook"},"blocked":{"$ref":"#/components/schemas/blocked"},"blockedReason":{"$ref":"#/components/schemas/blockedReason"}}},"tfvSubmissionWrapper":{"type":"object","properties":{"submission":{"$ref":"#/components/schemas/verificationUpdateRequest"}}},"address":{"type":"object","nullable":false,"required":["name","addr1","city","state","zip","url"],"properties":{"name":{"type":"string","description":"The name of the business using the toll-free number.","minLength":1,"maxLength":500,"nullable":false,"example":"Bandwidth Inc."},"addr1":{"type":"string","description":"The address of the business using the toll-free number.","minLength":1,"maxLength":500,"nullable":false,"example":"2230 Bandmate Way"},"addr2":{"type":"string","description":"The address of the business using the toll-free number.","minLength":0,"maxLength":500,"nullable":true,"example":"2230 Bandmate Way"},"city":{"type":"string","description":"The city of the business using the toll-free number.","minLength":1,"maxLength":500,"nullable":false,"example":"Raleigh"},"state":{"type":"string","description":"The state of the business using the toll-free number.","minLength":1,"maxLength":500,"nullable":false,"example":"NC"},"zip":{"type":"string","description":"The zip of the business using the toll-free number.","nullable":false,"example":27606,"pattern":"[- A-Za-z0-9]{0,500}"},"url":{"type":"string","format":"url","description":"The website of the business using the toll-free number.","minLength":1,"maxLength":500,"nullable":false,"example":"https://www.example.com/path/to/resource"}}},"additionalInformation":{"type":"string","description":"Any additional information.","minLength":0,"maxLength":500,"nullable":true,"example":"Any additional information"},"optInWorkflow":{"type":"object","nullable":false,"required":["description","imageUrls"],"properties":{"description":{"type":"string","minLength":1,"maxLength":500,"nullable":false,"example":"Opt In Flow"},"imageUrls":{"type":"array","items":{"type":"string","minLength":1,"maxLength":500,"nullable":false,"example":"https://www.example.com/path/to/resource","pattern":"^$|(https?:\\/\\/)?(www\\.)?[-a-zA-Z0-9@:%._\\\u002B~#=]{1,253}\\.[a-z]{2,6}\\b([-a-zA-Z0-9@:%_\\\u002B.~#()?\u0026//=]*)"}},"confirmationResponse":{"type":"string","minLength":0,"maxLength":500,"nullable":true,"example":"Thank you for opting in!"}}},"isvReseller":{"type":"string","description":"ISV name.","minLength":0,"maxLength":500,"nullable":true,"example":"Test ISV"},"contact":{"type":"object","nullable":false,"required":["firstName","lastName","email","phoneNumber"],"properties":{"firstName":{"type":"string","description":"The first name of the business contact using the toll-free number.","minLength":1,"maxLength":500,"nullable":false,"example":"John"},"lastName":{"type":"string","description":"The last name of the business contact using the toll-free number.","minLength":1,"maxLength":500,"nullable":false,"example":"Doe"},"email":{"$ref":"#/components/schemas/email"},"phoneNumber":{"$ref":"#/components/schemas/businessContactPhoneNumber"}}},"email":{"type":"string","format":"email","minLength":0,"maxLength":500,"nullable":false,"pattern":"^(?:[a-z0-9!#$%\u0026\u0027*\u002B/=?^_\u0060{|}~-]\u002B(?:\\.[a-z0-9!#$%\u0026\u0027*\u002B/=?^_\u0060{|}~-]\u002B)*|\u0022(?:[\\x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21\\x23-\\x5b\\x5d-\\x7f]|\\\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])*\u0022)@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)\u002B[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\\x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21-\\x5a\\x53-\\x7f]|\\\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])\u002B)\\])$","example":"foo@bar.com"},"useCases":{"type":"array","items":{"type":"string"},"example":["2FA","App Notifications","Appointments","Auctions","Auto Repair Services","Bank Transfers","Billing","Booking Confirmations","Business Updates","COVID-19 Alerts"]},"useCase":{"type":"string","description":"The category of the use case.","minLength":0,"maxLength":500,"example":"2FA"},"useCaseSummary":{"type":"string","description":"A general idea of the use case and customer.","minLength":0,"maxLength":500,"nullable":false,"example":"Text summarizing the use case for the toll-free number"},"productionMessageContent":{"type":"string","description":"Example of message content.","minLength":0,"maxLength":500,"nullable":false,"example":"Production message content"},"webhookSubscriptionsListBody":{"description":"A list of all webhook subscriptions registered for this account ID for this particular feature (unpaginated).","type":"object","required":["data"],"properties":{"links":{"$ref":"#/components/schemas/linksObject"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/webhookSubscriptionError"}},"data":{"items":{"$ref":"#/components/schemas/webhookSubscription"},"type":"array"}}},"linksObject":{"type":"object","properties":{"first":{"description":"The first (or only) page of results matching the query.","type":"string"},"next":{"description":"If more results exist than specified by \u0027size\u0027, this link returns the next page of \u0027size\u0027 results.","type":"string"},"previous":{"description":"If the results are more than one page, this link returns the previous page of \u0027size\u0027 results.","type":"string"},"last":{"description":"If more results exist than specified by \u0027size\u0027, this link return the last page of result.","type":"string"}}},"webhookSubscriptionError":{"type":"object","properties":{"code":{"type":"integer"},"description":{"type":"string"},"telephoneNumbers":{"type":"array","items":{"$ref":"#/components/schemas/telephoneNumber"}}}},"telephoneNumber":{"type":"object","properties":{"telephoneNumber":{"description":"Simple Telephone Number.","type":"string"}}},"webhookSubscriptionTypeEnum":{"type":"string","enum":["TOLLFREE_VERIFICATION_STATUS","MESSAGING_PORTOUT_APPROVAL_STATUS"],"example":"TOLLFREE_VERIFICATION_STATUS"},"webhookSubscription":{"description":"Information about a webhook that Bandwidth should send upon the completion of event customer has subscribed to.","type":"object","required":["callbackUrl"],"properties":{"id":{"type":"string","example":"7hICGStfAfeGxEq3N0lQwO"},"accountId":{"type":"string","example":1234567},"callbackUrl":{"$ref":"#/components/schemas/webhookUrl"},"type":{"$ref":"#/components/schemas/webhookSubscriptionTypeEnum"},"basicAuthentication":{"description":"Basic authentication credentials are not required, but if present, both username and password must be provided.","type":"object","required":["username","password"],"properties":{"username":{"type":"string","maxLength":100},"password":{"type":"string","maxLength":200}}},"createdDate":{"type":"string","format":"date-time","example":"2023-05-15T13:56:39.965Z"},"modifiedDate":{"type":"string","format":"date-time","example":"2023-05-15T13:56:39.965Z"}}},"webhookUrl":{"description":"Callback URL to receive status updates from Bandwidth. When a webhook subscription is registered with Bandwidth under a given account ID, it will be used to send status updates for all requests submitted under that account ID.","type":"string","format":"url","minLength":0,"maxLength":2000,"nullable":true,"example":"https://www.example.com/path/to/resource","pattern":"^$|(https?:\\/\\/)?(www\\.)?[-a-zA-Z0-9@:%._\\\u002B~#=]{1,253}\\.[a-z]{2,6}\\b([-a-zA-Z0-9@:%_\\\u002B.~#()?\u0026//=]*)"},"tfvError":{"description":"A generic error object.","properties":{"type":{"type":"string","example":"Error Type"},"description":{"type":"string","example":"Error Message"},"errors":{"type":"object","description":"Each key of this errors object refers to a field of the submitted object (using dot notation for nested objects), with the field being a key to an array of one or more errors for that field.","example":{"field":"error message"}}},"type":"object"},"tfvStatus":{"type":"object","properties":{"phoneNumber":{"$ref":"#/components/schemas/tfPhoneNumber"},"status":{"$ref":"#/components/schemas/tfvStatusEnum"},"internalTicketNumber":{"$ref":"#/components/schemas/internalTicketNumber"},"declineReasonDescription":{"$ref":"#/components/schemas/declineReasonDescription"},"resubmitAllowed":{"$ref":"#/components/schemas/resubmitAllowed"},"createdDateTime":{"type":"string","description":"Date and time the verification request was created.","format":"date-time","example":"2021-06-08T06:45:13.0Z"},"modifiedDateTime":{"type":"string","description":"Date and time the verification request was last modified.","format":"date-time","example":"2021-06-08T06:45:13.0Z"},"submission":{"$ref":"#/components/schemas/tfvSubmissionInfo"},"blocked":{"$ref":"#/components/schemas/blocked"},"blockedReason":{"$ref":"#/components/schemas/blockedReason"},"cvToken":{"$ref":"#/components/schemas/cvTokenNullable"}}},"tfvSubmissionInfo":{"type":"object","properties":{"businessAddress":{"$ref":"#/components/schemas/address"},"businessContact":{"$ref":"#/components/schemas/contact"},"messageVolume":{"type":"integer","description":"Estimated monthly volume of messages from the toll-free number.","minimum":10,"maximum":10000000,"example":10000},"useCase":{"$ref":"#/components/schemas/useCase"},"useCaseSummary":{"$ref":"#/components/schemas/useCaseSummary"},"productionMessageContent":{"$ref":"#/components/schemas/productionMessageContent"},"optInWorkflow":{"$ref":"#/components/schemas/optInWorkflow"},"additionalInformation":{"$ref":"#/components/schemas/additionalInformation"},"isvReseller":{"$ref":"#/components/schemas/isvReseller"},"privacyPolicyUrl":{"$ref":"#/components/schemas/privacyPolicyUrl"},"termsAndConditionsUrl":{"$ref":"#/components/schemas/termsAndConditionsUrl"},"businessDba":{"$ref":"#/components/schemas/businessDba"},"businessRegistrationNumber":{"$ref":"#/components/schemas/businessRegistrationNumber","description":"Government-issued business identifying number."},"businessRegistrationType":{"$ref":"#/components/schemas/businessRegistrationTypeEnum","description":"The type of business registration number."},"businessRegistrationIssuingCountry":{"$ref":"#/components/schemas/businessRegistrationIssuingCountry","description":"The country issuing the business registration in ISO-3166-1 alpha-3 format."},"businessEntityType":{"$ref":"#/components/schemas/businessEntityTypeEnum","description":"The type of registered business."}}},"tfvStatusEnum":{"type":"string","enum":["VERIFIED","UNVERIFIED","PENDING"],"example":"VERIFIED"},"sharedSecretKey":{"description":"An ASCII string submitted by the user as a shared secret key for generating an HMAC header for callbacks.","example":"This is my $3cret","maxLength":64,"minLength":16,"nullable":true,"pattern":"^[ -~]{16,64}$","type":"string"},"cvTokenNullable":{"type":"string","description":"The token provided by Campaign Verify to validate your political use case. Only required for 527 political organizations. If you are not a 527 political organization, this field should be omitted. Supplying an empty string will likely result in rejection.","minLength":0,"maxLength":500,"nullable":true,"example":"cv.user123|sess456|mno|tfree|read_write|X7yZ9aBcDeFgHiJkLmNoPqRsTuVwXyZ0123456789aBcDeFgHiJkLmNoPqRsTuVwXyZ0123456789aBcDeFgHiJkLmNoPqRsTuVwXyZ0123456789aBcDeFgHiJkLmNoPqRsTuVwXyZ0123456789aBcDeFgHiJkLmNoPqRsTuVwXyZ0123456789aBcDeFgHiJkLmNoPqRsTuVwXyZ0123456789aBcDeFgHiJkLmNoPqRsTuVwXyZ0123456789aBcDeFgHiJkLmNoPqRsTuVwXyZ0123456789aBcDeFgHiJkLmNoPqRsTuVwXyZ0123456789aBcDeFgHiJkLmNoPqRsTuVwXyZ0123456789aBcDeFgHiJkLmNoPqRsTuVwXyZ0123456789aBcDeFgHiJkLmNoPqRsTuVwXyZ0123456789aBcDeFgHiJkLmNoPqRsTuVw"}},"callbacks":{"tfVerificationStatus":{"your_url.com/webhookService":{"post":{"summary":"TFV status updates sent to customer\u0027s webhook URL.","description":"Unique webhook URL provided by customers to which Bandwidth sends a POST request to notify customer regarding TFV status updates.","operationId":"tfvRequest","parameters":[{"description":"64-character lowercase hexidecimal HMAC calculated with a shared secret key, the canonicalized request body, and SHA256. It is only included when a shared secret key is set through webhook subscription.","example":"ca7b9e9816c90d336f5dca529e733354b81535c7af027b81878ac98afb2dbaa2","in":"header","name":"x-bandwidth-signature-hmac-sha256","schema":{"type":"string"}}],"requestBody":{"$ref":"#/components/requestBodies/verificationWebhookRequest"},"responses":{"204":{"$ref":"#/components/responses/noContentResponse"},"400":{"$ref":"#/components/responses/tfvBadRequestResponse"},"401":{"$ref":"#/components/responses/tfvUnauthorizedResponse"},"403":{"$ref":"#/components/responses/tfvForbiddenResponse"},"404":{"$ref":"#/components/responses/tfvNotFoundResponse"},"405":{"$ref":"#/components/responses/tfvNotAllowedResponse"},"429":{"$ref":"#/components/responses/tfvTooManyRequestsResponse"},"500":{"$ref":"#/components/responses/tfvServerErrorResponse"},"503":{"$ref":"#/components/responses/tfvServiceUnavailableResponse"}}}}}},"securitySchemes":{"Basic":{"type":"http","scheme":"basic","description":"Basic authentication is a simple authentication scheme built into the HTTP protocol. To use it, send your HTTP requests with an \u0060Authorization\u0060 header that contains the word \u0060Basic\u0060 followed by a space and a Base64-encoded string \u0060username:password\u0060.\n\n- Example: \u0060Authorization: Basic ZGVtbZpwQDU1dzByZA==\u0060"},"OAuth2":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"https://api.bandwidth.com/api/v1/oauth2/token","scopes":{}}}}}}}