{"openapi":"3.0.3","info":{"title":"Voice","version":"4.1.0","contact":{"name":"Bandwidth","url":"https://support.bandwidth.com","email":"support@bandwidth.com"},"termsOfService":"https://www.bandwidth.com/legal/terms-of-use-bandwidthcom-web-sites/","description":"The API Specification for Bandwidth\u0027s Programmable Voice Platform\n\n## Base URL\n\n\u0060https://voice.bandwidth.com/api/v2\u0060"},"servers":[{"url":"https://voice.bandwidth.com/api/v2","description":"Production"}],"paths":{"/accounts/{accountId}/calls":{"post":{"tags":["Calls"],"summary":"Create Call","description":"Creates an outbound phone call.\n\nAll calls are initially queued. Your outbound calls will initiated at a specific dequeueing rate, enabling your application to \u0022fire and forget\u0022 when creating calls. Queued calls may not be modified until they are dequeued and placed, but may be removed from your queue on demand.\n\n\u003Cb\u003EPlease note:\u003C/b\u003E Calls submitted to your queue will be placed approximately in order, but exact ordering is not guaranteed.","operationId":"createCall","parameters":[{"$ref":"#/components/parameters/accountId"}],"requestBody":{"$ref":"#/components/requestBodies/createCallRequest"},"responses":{"201":{"$ref":"#/components/responses/createCallResponse"},"400":{"$ref":"#/components/responses/voiceBadRequestError"},"401":{"$ref":"#/components/responses/voiceUnauthorizedError"},"403":{"$ref":"#/components/responses/voiceForbiddenError"},"404":{"$ref":"#/components/responses/voiceNotFoundError"},"405":{"$ref":"#/components/responses/voiceNotAllowedError"},"415":{"$ref":"#/components/responses/voiceUnsupportedMediaTypeError"},"429":{"$ref":"#/components/responses/voiceTooManyRequestsError"},"500":{"$ref":"#/components/responses/voiceInternalServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl \u0027https://voice.bandwidth.com/api/v2/accounts/9900000/calls\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Content-Type: application/json\u0027 \\\n  -H \u0027Accept: application/json\u0027 \\\n  -d \u0027{\n    \u0022answerUrl\u0022: \u0022https://www.myCallbackServer.example/webhooks/answer\u0022,\n    \u0022applicationId\u0022: \u00221234-qwer-5679-tyui\u0022,\n    \u0022from\u0022: \u0022\u002B15555551212\u0022,\n    \u0022to\u0022: \u0022\u002B19195551234\u0022,\n    \u0022privacy\u0022: false,\n    \u0022displayName\u0022: \u0022John Doe\u0022,\n    \u0022uui\u0022: \u0022eyJhbGciOiJIUzI1NiJ9.WyJoaSJd.-znkjYyCkgz4djmHUPSXl9YrJ6Nix_XvmlwKGFh5ERM;encoding=jwt,aGVsbG8gd29ybGQ;encoding=base64\u0022,\n    \u0022answerMethod\u0022: \u0022POST\u0022,\n    \u0022username\u0022: \u0022mySecretUsername\u0022,\n    \u0022password\u0022: \u0022mySecretPassword1!\u0022,\n    \u0022answerFallbackUrl\u0022: \u0022https://www.myFallbackServer.example/webhooks/answer\u0022,\n    \u0022answerFallbackMethod\u0022: \u0022POST\u0022,\n    \u0022fallbackUsername\u0022: \u0022mySecretUsername\u0022,\n    \u0022fallbackPassword\u0022: \u0022mySecretPassword1!\u0022,\n    \u0022disconnectUrl\u0022: \u0022https://www.myCallbackServer.example/webhooks/disconnect\u0022,\n    \u0022disconnectMethod\u0022: \u0022POST\u0022,\n    \u0022callTimeout\u0022: 30,\n    \u0022callbackTimeout\u0022: 15,\n    \u0022machineDetection\u0022: {\n      \u0022mode\u0022: \u0022async\u0022,\n      \u0022detectionTimeout\u0022: 15,\n      \u0022silenceTimeout\u0022: 10,\n      \u0022speechThreshold\u0022: 10,\n      \u0022speechEndThreshold\u0022: 5,\n      \u0022machineSpeechEndThreshold\u0022: 5,\n      \u0022delayResult\u0022: false,\n      \u0022callbackUrl\u0022: \u0022https://myServer.example/bandwidth/webhooks/machineDetectionComplete\u0022,\n      \u0022callbackMethod\u0022: \u0022POST\u0022,\n      \u0022username\u0022: \u0022mySecretUsername\u0022,\n      \u0022password\u0022: \u0022mySecretPassword1!\u0022,\n      \u0022fallbackUrl\u0022: \u0022https://myFallbackServer.example/bandwidth/webhooks/machineDetectionComplete\u0022,\n      \u0022fallbackMethod\u0022: \u0022POST\u0022,\n      \u0022fallbackUsername\u0022: \u0022mySecretUsername\u0022,\n      \u0022fallbackPassword\u0022: \u0022mySecretPassword1!\u0022\n    },\n    \u0022priority\u0022: 5,\n    \u0022tag\u0022: \u0022arbitrary text here\u0022\n  }\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class CreateCallExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new CallsApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var createCall = new CreateCall(); // CreateCall | JSON object containing information to create an outbound call\n\n            try\n            {\n                // Create Call\n                CreateCallResponse result = apiInstance.CreateCall(accountId, createCall);\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling CallsApi.CreateCall: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.CallsApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    CallsApi apiInstance = new CallsApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    CreateCall createCall = new CreateCall(); // CreateCall | JSON object containing information to create an outbound call\n    try {\n      CreateCallResponse result = apiInstance.createCall(accountId, createCall);\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling CallsApi#createCall\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"PHP","source":"\u003C?php\n  \nrequire \u0022vendor/autoload.php\u0022;\n\napi-username = \u0022api-username\u0022;\napi-password = \u0022api-pasword\u0022;\n12345 = \u002212345\u0022;\n1234-qwer = \u00221234-qwer\u0022;\n\u002B15554443333 = \u0022\u002B15554443333\u0022;\n\u002B15553334444 = \u0022\u002B15553334444\u0022;\n$VOICE_CALLBACK_URL = \u0022https://sample.com\u0022;\n\n$config = new BandwidthLib\\Configuration(\n    array(\n        \u0027voiceBasicAuthUserName\u0027 =\u003E $BW_USERNAME,\n        \u0027voiceBasicAuthPassword\u0027 =\u003E $BW_PASSWORD,\n    )\n);\n$client = new BandwidthLib\\BandwidthClient($config);\n\n$voiceClient = $client-\u003EgetVoice()-\u003EgetClient();\n\n$body = new BandwidthLib\\Voice\\Models\\CreateCallRequest();\n$body-\u003Efrom = $BW_NUMBER;\n$body-\u003Eto = $USER_NUMBER;\n$body-\u003EanswerUrl = $VOICE_CALLBACK_URL;\n$body-\u003EapplicationId = $BW_VOICE_APPLICATION_ID;\n\ntry {\n    $response = $voiceClient-\u003EcreateCall($BW_ACCOUNT_ID, $body);\n    print_r($response-\u003EgetResult()-\u003EcallId);\n} catch (BandwidthLib\\APIException $e) {\n    print_r($e-\u003EgetResponseCode());\n} \n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.models.create_call import CreateCall\nfrom bandwidth.models.create_call_response import CreateCallResponse\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.CallsApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    create_call = bandwidth.CreateCall() # CreateCall | JSON object containing information to create an outbound call\n\n    try:\n        # Create Call\n        api_response = api_instance.create_call(account_id, create_call)\n        print(\u0022The response of CallsApi-\u003Ecreate_call:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling CallsApi-\u003Ecreate_call: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::CallsApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\ncreate_call = Bandwidth::CreateCall.new({to: \u0027\u002B19195551234\u0027, from: \u0027\u002B15555551212\u0027, application_id: \u00271234-qwer-5679-tyui\u0027, answer_url: \u0027https://www.myCallbackServer.example/webhooks/answer\u0027}) # CreateCall | JSON object containing information to create an outbound call\n\nbegin\n  # Create Call\n  result = api_instance.create_call(account_id, create_call)\n  p result\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling CallsApi-\u003Ecreate_call: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    CallsApi,\n    Configuration,\n    CreateCall\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new CallsApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet createCall: CreateCall; //JSON object containing information to create an outbound call\n\nconst { status, data } = await apiInstance.createCall(\n    accountId,\n    createCall\n);\n"}]},"get":{"tags":["Calls"],"summary":"Get Calls","description":"Returns a max of 10000 calls, sorted by \u0060createdTime\u0060 from oldest to newest.\n\n**NOTE:** If the number of calls in the account is bigger than \u0060pageSize\u0060, a \u0060Link\u0060 header (with format \u0060\u003C{url}\u003E; rel=\u0022next\u0022\u0060) will be returned in the response. The url can be used to retrieve the next page of call records.\nAlso, call information is kept for 7 days after the calls are hung up. If you attempt to retrieve information for a call that is older than 7 days, you will get an empty array [] in response.","operationId":"listCalls","parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/to"},{"$ref":"#/components/parameters/from"},{"$ref":"#/components/parameters/minStartTimeCalls"},{"$ref":"#/components/parameters/maxStartTimeCalls"},{"$ref":"#/components/parameters/disconnectCause"},{"$ref":"#/components/parameters/pageSizeCalls"},{"$ref":"#/components/parameters/pageToken"}],"responses":{"200":{"$ref":"#/components/responses/listCallsResponse"},"400":{"$ref":"#/components/responses/voiceBadRequestError"},"401":{"$ref":"#/components/responses/voiceUnauthorizedError"},"403":{"$ref":"#/components/responses/voiceForbiddenError"},"404":{"$ref":"#/components/responses/voiceNotFoundError"},"405":{"$ref":"#/components/responses/voiceNotAllowedError"},"415":{"$ref":"#/components/responses/voiceUnsupportedMediaTypeError"},"429":{"$ref":"#/components/responses/voiceTooManyRequestsError"},"500":{"$ref":"#/components/responses/voiceInternalServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl \u0027https://voice.bandwidth.com/api/v2/accounts/9900000/calls?to=%2b19195551234\u0026from=%2b19195554321\u0026minStartTime=2022-06-21T19%3A13%3A21Z\u0026maxStartTime=2022-06-21T19%3A13%3A21Z\u0026disconnectCause=hangup\u0026pageSize=500\u0026pageToken=eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Accept: application/json\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class ListCallsExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new CallsApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var to = %2b19195551234;  // string | Filter results by the \u0060to\u0060 field. (optional) \n            var from = %2b19195554321;  // string | Filter results by the \u0060from\u0060 field. (optional) \n            var minStartTime = 2022-06-21T19:13:21Z;  // string | Filter results to calls which have a \u0060startTime\u0060 after or including \u0060minStartTime\u0060 (in ISO8601 format). (optional) \n            var maxStartTime = 2022-06-21T19:13:21Z;  // string | Filter results to calls which have a \u0060startTime\u0060 before or including \u0060maxStartTime\u0060 (in ISO8601 format). (optional) \n            var disconnectCause = hangup;  // string | Filter results to calls with specified call Disconnect Cause. (optional) \n            var pageSize = 500;  // int? | Specifies the max number of calls that will be returned. (optional)  (default to 1000)\n            var pageToken = eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9;  // string | Not intended for explicit use. To use pagination, follow the links in the \u0060Link\u0060 header of the response, as indicated in the endpoint description. (optional) \n\n            try\n            {\n                // Get Calls\n                List\u003CCallState\u003E result = apiInstance.ListCalls(accountId, to, from, minStartTime, maxStartTime, disconnectCause, pageSize, pageToken);\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling CallsApi.ListCalls: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.CallsApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    CallsApi apiInstance = new CallsApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    String to = \u0022%2b19195551234\u0022; // String | Filter results by the \u0060to\u0060 field.\n    String from = \u0022%2b19195554321\u0022; // String | Filter results by the \u0060from\u0060 field.\n    String minStartTime = \u00222022-06-21T19:13:21Z\u0022; // String | Filter results to calls which have a \u0060startTime\u0060 after or including \u0060minStartTime\u0060 (in ISO8601 format).\n    String maxStartTime = \u00222022-06-21T19:13:21Z\u0022; // String | Filter results to calls which have a \u0060startTime\u0060 before or including \u0060maxStartTime\u0060 (in ISO8601 format).\n    String disconnectCause = \u0022hangup\u0022; // String | Filter results to calls with specified call Disconnect Cause.\n    Integer pageSize = 1000; // Integer | Specifies the max number of calls that will be returned.\n    String pageToken = \u0022eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9\u0022; // String | Not intended for explicit use. To use pagination, follow the links in the \u0060Link\u0060 header of the response, as indicated in the endpoint description.\n    try {\n      List\u003CCallState\u003E result = apiInstance.listCalls(accountId, to, from, minStartTime, maxStartTime, disconnectCause, pageSize, pageToken);\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling CallsApi#listCalls\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.models.call_state import CallState\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.CallsApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    to = \u0027%2b19195551234\u0027 # str | Filter results by the \u0060to\u0060 field. (optional)\n    var_from = \u0027%2b19195554321\u0027 # str | Filter results by the \u0060from\u0060 field. (optional)\n    min_start_time = \u00272022-06-21T19:13:21Z\u0027 # str | Filter results to calls which have a \u0060startTime\u0060 after or including \u0060minStartTime\u0060 (in ISO8601 format). (optional)\n    max_start_time = \u00272022-06-21T19:13:21Z\u0027 # str | Filter results to calls which have a \u0060startTime\u0060 before or including \u0060maxStartTime\u0060 (in ISO8601 format). (optional)\n    disconnect_cause = \u0027hangup\u0027 # str | Filter results to calls with specified call Disconnect Cause. (optional)\n    page_size = 1000 # int | Specifies the max number of calls that will be returned. (optional) (default to 1000)\n    page_token = \u0027eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9\u0027 # str | Not intended for explicit use. To use pagination, follow the links in the \u0060Link\u0060 header of the response, as indicated in the endpoint description. (optional)\n\n    try:\n        # Get Calls\n        api_response = api_instance.list_calls(account_id, to=to, var_from=var_from, min_start_time=min_start_time, max_start_time=max_start_time, disconnect_cause=disconnect_cause, page_size=page_size, page_token=page_token)\n        print(\u0022The response of CallsApi-\u003Elist_calls:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling CallsApi-\u003Elist_calls: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::CallsApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\nopts = {\n  to: \u0027%2b19195551234\u0027, # String | Filter results by the \u0060to\u0060 field.\n  from: \u0027%2b19195554321\u0027, # String | Filter results by the \u0060from\u0060 field.\n  min_start_time: \u00272022-06-21T19:13:21Z\u0027, # String | Filter results to calls which have a \u0060startTime\u0060 after or including \u0060minStartTime\u0060 (in ISO8601 format).\n  max_start_time: \u00272022-06-21T19:13:21Z\u0027, # String | Filter results to calls which have a \u0060startTime\u0060 before or including \u0060maxStartTime\u0060 (in ISO8601 format).\n  disconnect_cause: \u0027hangup\u0027, # String | Filter results to calls with specified call Disconnect Cause.\n  page_size: 500, # Integer | Specifies the max number of calls that will be returned.\n  page_token: \u0027eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9\u0027 # String | Not intended for explicit use. To use pagination, follow the links in the \u0060Link\u0060 header of the response, as indicated in the endpoint description.\n}\n\nbegin\n  # Get Calls\n  result = api_instance.list_calls(account_id, opts)\n  p result\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling CallsApi-\u003Elist_calls: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    CallsApi,\n    Configuration\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new CallsApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet to: string; //Filter results by the \u0060to\u0060 field. (optional) (default to undefined)\nlet from: string; //Filter results by the \u0060from\u0060 field. (optional) (default to undefined)\nlet minStartTime: string; //Filter results to calls which have a \u0060startTime\u0060 after or including \u0060minStartTime\u0060 (in ISO8601 format). (optional) (default to undefined)\nlet maxStartTime: string; //Filter results to calls which have a \u0060startTime\u0060 before or including \u0060maxStartTime\u0060 (in ISO8601 format). (optional) (default to undefined)\nlet disconnectCause: string; //Filter results to calls with specified call Disconnect Cause. (optional) (default to undefined)\nlet pageSize: number; //Specifies the max number of calls that will be returned. (optional) (default to 1000)\nlet pageToken: string; //Not intended for explicit use. To use pagination, follow the links in the \u0060Link\u0060 header of the response, as indicated in the endpoint description. (optional) (default to undefined)\n\nconst { status, data } = await apiInstance.listCalls(\n    accountId,\n    to,\n    from,\n    minStartTime,\n    maxStartTime,\n    disconnectCause,\n    pageSize,\n    pageToken\n);\n"}]}},"/accounts/{accountId}/calls/{callId}":{"get":{"tags":["Calls"],"summary":"Get Call State Information","description":"Retrieve the current state of a specific call. This information is near-realtime, so it may take a few minutes for your call to be accessible using this endpoint.\n\n**Note**: Call information is kept for 7 days after the calls are hung up. If you attempt to retrieve information for a call that is older than 7 days, you will get an HTTP 404 response.","operationId":"getCallState","parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/callId"}],"responses":{"200":{"$ref":"#/components/responses/getCallStateResponse"},"400":{"$ref":"#/components/responses/voiceBadRequestError"},"401":{"$ref":"#/components/responses/voiceUnauthorizedError"},"403":{"$ref":"#/components/responses/voiceForbiddenError"},"404":{"$ref":"#/components/responses/voiceNotFoundError"},"405":{"$ref":"#/components/responses/voiceNotAllowedError"},"415":{"$ref":"#/components/responses/voiceUnsupportedMediaTypeError"},"429":{"$ref":"#/components/responses/voiceTooManyRequestsError"},"500":{"$ref":"#/components/responses/voiceInternalServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl \u0027https://voice.bandwidth.com/api/v2/accounts/9900000/calls/c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Accept: application/json\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class GetCallStateExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new CallsApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var callId = c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85;  // string | Programmable Voice API Call ID.\n\n            try\n            {\n                // Get Call State Information\n                CallState result = apiInstance.GetCallState(accountId, callId);\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling CallsApi.GetCallState: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.CallsApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    CallsApi apiInstance = new CallsApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    String callId = \u0022c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85\u0022; // String | Programmable Voice API Call ID.\n    try {\n      CallState result = apiInstance.getCallState(accountId, callId);\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling CallsApi#getCallState\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"PHP","source":"\u003C?php\n\nrequire \u0022vendor/autoload.php\u0022;\n\napi-username = \u0022api-username\u0022;\napi-password = \u0022api-pasword\u0022;\n12345 = \u002212345\u0022;\n\n$config = new BandwidthLib\\Configuration(\n    array(\n        \u0027voiceBasicAuthUserName\u0027 =\u003E $BW_USERNAME,\n        \u0027voiceBasicAuthPassword\u0027 =\u003E $BW_PASSWORD,\n    )\n);\n$client = new BandwidthLib\\BandwidthClient($config);\n\n$voiceClient = $client-\u003EgetVoice()-\u003EgetClient();\n\n$callId = \u0022c-1234\u0022;\n\ntry {\n    $response = $voiceClient-\u003EgetCall($BW_ACCOUNT_ID, $callId);\n    print_r($response-\u003EgetResult()-\u003Estate);\n} catch (BandwidthLib\\APIException $e) {\n    print_r($e-\u003EgetResponseCode());\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.models.call_state import CallState\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.CallsApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    call_id = \u0027c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85\u0027 # str | Programmable Voice API Call ID.\n\n    try:\n        # Get Call State Information\n        api_response = api_instance.get_call_state(account_id, call_id)\n        print(\u0022The response of CallsApi-\u003Eget_call_state:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling CallsApi-\u003Eget_call_state: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::CallsApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\ncall_id = \u0027c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85\u0027 # String | Programmable Voice API Call ID.\n\nbegin\n  # Get Call State Information\n  result = api_instance.get_call_state(account_id, call_id)\n  p result\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling CallsApi-\u003Eget_call_state: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    CallsApi,\n    Configuration\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new CallsApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet callId: string; //Programmable Voice API Call ID. (default to undefined)\n\nconst { status, data } = await apiInstance.getCallState(\n    accountId,\n    callId\n);\n"}]},"post":{"tags":["Calls"],"summary":"Update Call","description":"Interrupts and redirects a call to a different URL that should return a BXML document.","operationId":"updateCall","parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/callId"}],"requestBody":{"$ref":"#/components/requestBodies/updateCallRequest"},"responses":{"200":{"$ref":"#/components/responses/updateCallResponse"},"400":{"$ref":"#/components/responses/voiceBadRequestError"},"401":{"$ref":"#/components/responses/voiceUnauthorizedError"},"403":{"$ref":"#/components/responses/voiceForbiddenError"},"404":{"$ref":"#/components/responses/voiceNotFoundError"},"405":{"$ref":"#/components/responses/voiceNotAllowedError"},"409":{"$ref":"#/components/responses/voiceConflictError"},"415":{"$ref":"#/components/responses/voiceUnsupportedMediaTypeError"},"429":{"$ref":"#/components/responses/voiceTooManyRequestsError"},"500":{"$ref":"#/components/responses/voiceInternalServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl \u0027https://voice.bandwidth.com/api/v2/accounts/9900000/calls/c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Content-Type: application/json\u0027 \\\n  -H \u0027Accept: application/json\u0027 \\\n  -d \u0027{\n    \u0022state\u0022: \u0022completed\u0022,\n    \u0022redirectUrl\u0022: \u0022https://myServer.example/bandwidth/webhooks/redirect\u0022,\n    \u0022redirectMethod\u0022: \u0022POST\u0022,\n    \u0022username\u0022: \u0022mySecretUsername\u0022,\n    \u0022password\u0022: \u0022mySecretPassword1!\u0022,\n    \u0022redirectFallbackUrl\u0022: \u0022https://myFallbackServer.example/bandwidth/webhooks/redirect\u0022,\n    \u0022redirectFallbackMethod\u0022: \u0022POST\u0022,\n    \u0022fallbackUsername\u0022: \u0022mySecretUsername\u0022,\n    \u0022fallbackPassword\u0022: \u0022mySecretPassword1!\u0022,\n    \u0022tag\u0022: \u0022My Custom Tag\u0022\n  }\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class UpdateCallExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new CallsApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var callId = c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85;  // string | Programmable Voice API Call ID.\n            var updateCall = new UpdateCall(); // UpdateCall | JSON object containing information to redirect an existing call to a new BXML document\n\n            try\n            {\n                // Update Call\n                apiInstance.UpdateCall(accountId, callId, updateCall);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling CallsApi.UpdateCall: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.CallsApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    CallsApi apiInstance = new CallsApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    String callId = \u0022c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85\u0022; // String | Programmable Voice API Call ID.\n    UpdateCall updateCall = new UpdateCall(); // UpdateCall | JSON object containing information to redirect an existing call to a new BXML document\n    try {\n      apiInstance.updateCall(accountId, callId, updateCall);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling CallsApi#updateCall\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"PHP","source":"\u003C?php\n\nrequire \u0022vendor/autoload.php\u0022;\n\napi-username = \u0022api-username\u0022;\napi-password = \u0022api-pasword\u0022;\n12345 = \u002212345\u0022;\n\n$config = new BandwidthLib\\Configuration(\n    array(\n        \u0027voiceBasicAuthUserName\u0027 =\u003E $BW_USERNAME,\n        \u0027voiceBasicAuthPassword\u0027 =\u003E $BW_PASSWORD,\n    )\n);\n$client = new BandwidthLib\\BandwidthClient($config);\n\n$voiceClient = $client-\u003EgetVoice()-\u003EgetClient();\n\n$callId = \u0022c-1234\u0022;\n\n$body = new BandwidthLib\\Voice\\Models\\ModifyCallRequest();\n$body-\u003EredirectUrl = \u0022http://www.myapp.com/new\u0022;\n$body-\u003Estate = \u0022active\u0022;\n\ntry {\n    $voiceClient-\u003EmodifyCall($BW_ACCOUNT_ID, $callId, $body);\n} catch (BandwidthLib\\APIException $e) {\n    print_r($e-\u003EgetResponseCode());\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.models.update_call import UpdateCall\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.CallsApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    call_id = \u0027c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85\u0027 # str | Programmable Voice API Call ID.\n    update_call = bandwidth.UpdateCall() # UpdateCall | JSON object containing information to redirect an existing call to a new BXML document\n\n    try:\n        # Update Call\n        api_instance.update_call(account_id, call_id, update_call)\n    except Exception as e:\n        print(\u0022Exception when calling CallsApi-\u003Eupdate_call: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::CallsApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\ncall_id = \u0027c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85\u0027 # String | Programmable Voice API Call ID.\nupdate_call = Bandwidth::UpdateCall.new # UpdateCall | JSON object containing information to redirect an existing call to a new BXML document\n\nbegin\n  # Update Call\n  api_instance.update_call(account_id, call_id, update_call)\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling CallsApi-\u003Eupdate_call: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    CallsApi,\n    Configuration,\n    UpdateCall\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new CallsApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet callId: string; //Programmable Voice API Call ID. (default to undefined)\nlet updateCall: UpdateCall; //JSON object containing information to redirect an existing call to a new BXML document\n\nconst { status, data } = await apiInstance.updateCall(\n    accountId,\n    callId,\n    updateCall\n);\n"}]}},"/accounts/{accountId}/calls/{callId}/bxml":{"put":{"tags":["Calls"],"summary":"Update Call BXML","description":"Interrupts and replaces an active call\u0027s BXML document.","operationId":"updateCallBxml","parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/callId"}],"requestBody":{"$ref":"#/components/requestBodies/updateCallBxmlRequest"},"responses":{"204":{"description":"Call BXML was successfully replaced."},"400":{"$ref":"#/components/responses/voiceBadRequestError"},"401":{"$ref":"#/components/responses/voiceUnauthorizedError"},"403":{"$ref":"#/components/responses/voiceForbiddenError"},"404":{"$ref":"#/components/responses/voiceNotFoundError"},"405":{"$ref":"#/components/responses/voiceNotAllowedError"},"409":{"$ref":"#/components/responses/voiceConflictError"},"415":{"$ref":"#/components/responses/voiceUnsupportedMediaTypeError"},"429":{"$ref":"#/components/responses/voiceTooManyRequestsError"},"500":{"$ref":"#/components/responses/voiceInternalServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X PUT \u0027https://voice.bandwidth.com/api/v2/accounts/9900000/calls/c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85/bxml\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Content-Type: application/xml\u0027 \\\n  -H \u0027Accept: application/json\u0027 \\\n  -d \u0027\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n  \u003Celement\u003E\u003C?xml version=\\\u00221.0\\\u0022 encoding=\\\u0022UTF-8\\\u0022?\u003E\n  \u003CBxml\u003E\n    \u003CSpeakSentence\u003EThis is a test sentence.\u003C/SpeakSentence\u003E\n  \u003C/Bxml\u003E\u003C/element\u003E\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class UpdateCallBxmlExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new CallsApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var callId = c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85;  // string | Programmable Voice API Call ID.\n            var body = \u003C?xml version=\\\u00221.0\\\u0022 encoding=\\\u0022UTF-8\\\u0022?\u003E\n\u003CBxml\u003E\n  \u003CSpeakSentence\u003EThis is a test sentence.\u003C/SpeakSentence\u003E\n\u003C/Bxml\u003E;  // string | \n\n            try\n            {\n                // Update Call BXML\n                apiInstance.UpdateCallBxml(accountId, callId, body);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling CallsApi.UpdateCallBxml: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.CallsApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    CallsApi apiInstance = new CallsApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    String callId = \u0022c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85\u0022; // String | Programmable Voice API Call ID.\n    String body = \u003C?xml version=\\\u00221.0\\\u0022 encoding=\\\u0022UTF-8\\\u0022?\u003E\n\u003CBxml\u003E\n  \u003CSpeakSentence\u003EThis is a test sentence.\u003C/SpeakSentence\u003E\n\u003C/Bxml\u003E; // String | \n    try {\n      apiInstance.updateCallBxml(accountId, callId, body);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling CallsApi#updateCallBxml\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.CallsApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    call_id = \u0027c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85\u0027 # str | Programmable Voice API Call ID.\n    body = \u003C?xml version=\\\u00221.0\\\u0022 encoding=\\\u0022UTF-8\\\u0022?\u003E\n\u003CBxml\u003E\n  \u003CSpeakSentence\u003EThis is a test sentence.\u003C/SpeakSentence\u003E\n\u003C/Bxml\u003E # str | \n\n    try:\n        # Update Call BXML\n        api_instance.update_call_bxml(account_id, call_id, body)\n    except Exception as e:\n        print(\u0022Exception when calling CallsApi-\u003Eupdate_call_bxml: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::CallsApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\ncall_id = \u0027c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85\u0027 # String | Programmable Voice API Call ID.\nbody = \u0027\u003C?xml version=\\\u00221.0\\\u0022 encoding=\\\u0022UTF-8\\\u0022?\u003E\n\u003CBxml\u003E\n  \u003CSpeakSentence\u003EThis is a test sentence.\u003C/SpeakSentence\u003E\n\u003C/Bxml\u003E\u0027 # String | \n\nbegin\n  # Update Call BXML\n  api_instance.update_call_bxml(account_id, call_id, body)\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling CallsApi-\u003Eupdate_call_bxml: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    CallsApi,\n    Configuration\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new CallsApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet callId: string; //Programmable Voice API Call ID. (default to undefined)\nlet body: string; //\n\nconst { status, data } = await apiInstance.updateCallBxml(\n    accountId,\n    callId,\n    body\n);\n"}]}},"/accounts/{accountId}/conferences":{"get":{"tags":["Conferences"],"summary":"Get Conferences","description":"Returns a max of 1000 conferences, sorted by \u0060createdTime\u0060 from oldest to newest.\n\n**NOTE:** If the number of conferences in the account is bigger than \u0060pageSize\u0060, a \u0060Link\u0060 header (with format \u0060\u003C{url}\u003E; rel=\u0022next\u0022\u0060) will be returned in the response. The url can be used to retrieve the next page of conference records.","operationId":"listConferences","parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/name"},{"$ref":"#/components/parameters/minCreatedTime"},{"$ref":"#/components/parameters/maxCreatedTime"},{"$ref":"#/components/parameters/pageSize"},{"$ref":"#/components/parameters/pageToken"}],"responses":{"200":{"$ref":"#/components/responses/listConferencesResponse"},"400":{"$ref":"#/components/responses/voiceBadRequestError"},"401":{"$ref":"#/components/responses/voiceUnauthorizedError"},"403":{"$ref":"#/components/responses/voiceForbiddenError"},"404":{"$ref":"#/components/responses/voiceNotFoundError"},"405":{"$ref":"#/components/responses/voiceNotAllowedError"},"415":{"$ref":"#/components/responses/voiceUnsupportedMediaTypeError"},"429":{"$ref":"#/components/responses/voiceTooManyRequestsError"},"500":{"$ref":"#/components/responses/voiceInternalServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl \u0027https://voice.bandwidth.com/api/v2/accounts/9900000/conferences?name=my-custom-name\u0026minCreatedTime=2022-06-21T19%3A13%3A21Z\u0026maxCreatedTime=2022-06-21T19%3A13%3A21Z\u0026pageSize=500\u0026pageToken=eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Accept: application/json\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class ListConferencesExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new ConferencesApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var name = my-custom-name;  // string | Filter results by the \u0060name\u0060 field. (optional) \n            var minCreatedTime = 2022-06-21T19:13:21Z;  // string | Filter results to conferences which have a \u0060createdTime\u0060 after or at \u0060minCreatedTime\u0060 (in ISO8601 format). (optional) \n            var maxCreatedTime = 2022-06-21T19:13:21Z;  // string | Filter results to conferences which have a \u0060createdTime\u0060 before or at \u0060maxCreatedTime\u0060 (in ISO8601 format). (optional) \n            var pageSize = 500;  // int? | Specifies the max number of conferences that will be returned. (optional)  (default to 1000)\n            var pageToken = eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9;  // string | Not intended for explicit use. To use pagination, follow the links in the \u0060Link\u0060 header of the response, as indicated in the endpoint description. (optional) \n\n            try\n            {\n                // Get Conferences\n                List\u003CConference\u003E result = apiInstance.ListConferences(accountId, name, minCreatedTime, maxCreatedTime, pageSize, pageToken);\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling ConferencesApi.ListConferences: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.ConferencesApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    ConferencesApi apiInstance = new ConferencesApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    String name = \u0022my-custom-name\u0022; // String | Filter results by the \u0060name\u0060 field.\n    String minCreatedTime = \u00222022-06-21T19:13:21Z\u0022; // String | Filter results to conferences which have a \u0060createdTime\u0060 after or at \u0060minCreatedTime\u0060 (in ISO8601 format).\n    String maxCreatedTime = \u00222022-06-21T19:13:21Z\u0022; // String | Filter results to conferences which have a \u0060createdTime\u0060 before or at \u0060maxCreatedTime\u0060 (in ISO8601 format).\n    Integer pageSize = 1000; // Integer | Specifies the max number of conferences that will be returned.\n    String pageToken = \u0022eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9\u0022; // String | Not intended for explicit use. To use pagination, follow the links in the \u0060Link\u0060 header of the response, as indicated in the endpoint description.\n    try {\n      List\u003CConference\u003E result = apiInstance.listConferences(accountId, name, minCreatedTime, maxCreatedTime, pageSize, pageToken);\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling ConferencesApi#listConferences\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"PHP","source":"\u003C?php\n\nrequire \u0022vendor/autoload.php\u0022;\n\napi-username = \u0022api-username\u0022;\napi-password = \u0022api-pasword\u0022;\n12345 = \u002212345\u0022;\n\n$config = new BandwidthLib\\Configuration(\n    array(\n        \u0027voiceBasicAuthUserName\u0027 =\u003E $BW_USERNAME,\n        \u0027voiceBasicAuthPassword\u0027 =\u003E $BW_PASSWORD,\n    )\n);\n$client = new BandwidthLib\\BandwidthClient($config);\n\n$voiceClient = $client-\u003EgetVoice()-\u003EgetClient();\n\ntry {\n    $response = $voiceClient-\u003EgetConferences($BW_ACCOUNT_ID);\n    if (count($response-\u003EgetResult()) \u003E 0) {\n        print_r($response-\u003EgetResult()[0]-\u003Eid);\n    }\n} catch (BandwidthLib\\APIException $e) {\n    print_r($e-\u003EgetResponseCode());\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.models.conference import Conference\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.ConferencesApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    name = \u0027my-custom-name\u0027 # str | Filter results by the \u0060name\u0060 field. (optional)\n    min_created_time = \u00272022-06-21T19:13:21Z\u0027 # str | Filter results to conferences which have a \u0060createdTime\u0060 after or at \u0060minCreatedTime\u0060 (in ISO8601 format). (optional)\n    max_created_time = \u00272022-06-21T19:13:21Z\u0027 # str | Filter results to conferences which have a \u0060createdTime\u0060 before or at \u0060maxCreatedTime\u0060 (in ISO8601 format). (optional)\n    page_size = 1000 # int | Specifies the max number of conferences that will be returned. (optional) (default to 1000)\n    page_token = \u0027eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9\u0027 # str | Not intended for explicit use. To use pagination, follow the links in the \u0060Link\u0060 header of the response, as indicated in the endpoint description. (optional)\n\n    try:\n        # Get Conferences\n        api_response = api_instance.list_conferences(account_id, name=name, min_created_time=min_created_time, max_created_time=max_created_time, page_size=page_size, page_token=page_token)\n        print(\u0022The response of ConferencesApi-\u003Elist_conferences:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling ConferencesApi-\u003Elist_conferences: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::ConferencesApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\nopts = {\n  name: \u0027my-custom-name\u0027, # String | Filter results by the \u0060name\u0060 field.\n  min_created_time: \u00272022-06-21T19:13:21Z\u0027, # String | Filter results to conferences which have a \u0060createdTime\u0060 after or at \u0060minCreatedTime\u0060 (in ISO8601 format).\n  max_created_time: \u00272022-06-21T19:13:21Z\u0027, # String | Filter results to conferences which have a \u0060createdTime\u0060 before or at \u0060maxCreatedTime\u0060 (in ISO8601 format).\n  page_size: 500, # Integer | Specifies the max number of conferences that will be returned.\n  page_token: \u0027eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9\u0027 # String | Not intended for explicit use. To use pagination, follow the links in the \u0060Link\u0060 header of the response, as indicated in the endpoint description.\n}\n\nbegin\n  # Get Conferences\n  result = api_instance.list_conferences(account_id, opts)\n  p result\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling ConferencesApi-\u003Elist_conferences: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    ConferencesApi,\n    Configuration\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new ConferencesApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet name: string; //Filter results by the \u0060name\u0060 field. (optional) (default to undefined)\nlet minCreatedTime: string; //Filter results to conferences which have a \u0060createdTime\u0060 after or at \u0060minCreatedTime\u0060 (in ISO8601 format). (optional) (default to undefined)\nlet maxCreatedTime: string; //Filter results to conferences which have a \u0060createdTime\u0060 before or at \u0060maxCreatedTime\u0060 (in ISO8601 format). (optional) (default to undefined)\nlet pageSize: number; //Specifies the max number of conferences that will be returned. (optional) (default to 1000)\nlet pageToken: string; //Not intended for explicit use. To use pagination, follow the links in the \u0060Link\u0060 header of the response, as indicated in the endpoint description. (optional) (default to undefined)\n\nconst { status, data } = await apiInstance.listConferences(\n    accountId,\n    name,\n    minCreatedTime,\n    maxCreatedTime,\n    pageSize,\n    pageToken\n);\n"}]}},"/accounts/{accountId}/conferences/{conferenceId}":{"get":{"tags":["Conferences"],"summary":"Get Conference Information","description":"Returns information about the specified conference.","operationId":"getConference","parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/conferenceId"}],"responses":{"200":{"$ref":"#/components/responses/getConferenceResponse"},"400":{"$ref":"#/components/responses/voiceBadRequestError"},"401":{"$ref":"#/components/responses/voiceUnauthorizedError"},"403":{"$ref":"#/components/responses/voiceForbiddenError"},"404":{"$ref":"#/components/responses/voiceNotFoundError"},"405":{"$ref":"#/components/responses/voiceNotAllowedError"},"415":{"$ref":"#/components/responses/voiceUnsupportedMediaTypeError"},"429":{"$ref":"#/components/responses/voiceTooManyRequestsError"},"500":{"$ref":"#/components/responses/voiceInternalServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl \u0027https://voice.bandwidth.com/api/v2/accounts/9900000/conferences/conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Accept: application/json\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class GetConferenceExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new ConferencesApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var conferenceId = conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9;  // string | Programmable Voice API Conference ID.\n\n            try\n            {\n                // Get Conference Information\n                Conference result = apiInstance.GetConference(accountId, conferenceId);\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling ConferencesApi.GetConference: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.ConferencesApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    ConferencesApi apiInstance = new ConferencesApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    String conferenceId = \u0022conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9\u0022; // String | Programmable Voice API Conference ID.\n    try {\n      Conference result = apiInstance.getConference(accountId, conferenceId);\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling ConferencesApi#getConference\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"PHP","source":"\u003C?php\n\nrequire \u0022vendor/autoload.php\u0022;\n\napi-username = \u0022api-username\u0022;\napi-password = \u0022api-pasword\u0022;\n12345 = \u002212345\u0022;\n\n$config = new BandwidthLib\\Configuration(\n    array(\n        \u0027voiceBasicAuthUserName\u0027 =\u003E $BW_USERNAME,\n        \u0027voiceBasicAuthPassword\u0027 =\u003E $BW_PASSWORD,\n    )\n);\n$client = new BandwidthLib\\BandwidthClient($config);\n\n$voiceClient = $client-\u003EgetVoice()-\u003EgetClient();\n\n$conferenceId = \u0022conf-1234\u0022;\n\ntry {\n    $response = $voiceClient-\u003EgetConference($BW_ACCOUNT_ID, $conferenceId);\n    print_r($response-\u003EgetResult()-\u003Ename);\n} catch (BandwidthLib\\APIException $e) {\n    print_r($e-\u003EgetResponseCode());\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.models.conference import Conference\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.ConferencesApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    conference_id = \u0027conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9\u0027 # str | Programmable Voice API Conference ID.\n\n    try:\n        # Get Conference Information\n        api_response = api_instance.get_conference(account_id, conference_id)\n        print(\u0022The response of ConferencesApi-\u003Eget_conference:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling ConferencesApi-\u003Eget_conference: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::ConferencesApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\nconference_id = \u0027conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9\u0027 # String | Programmable Voice API Conference ID.\n\nbegin\n  # Get Conference Information\n  result = api_instance.get_conference(account_id, conference_id)\n  p result\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling ConferencesApi-\u003Eget_conference: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    ConferencesApi,\n    Configuration\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new ConferencesApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet conferenceId: string; //Programmable Voice API Conference ID. (default to undefined)\n\nconst { status, data } = await apiInstance.getConference(\n    accountId,\n    conferenceId\n);\n"}]},"post":{"tags":["Conferences"],"summary":"Update Conference","description":"Update the conference state.","operationId":"updateConference","parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/conferenceId"}],"requestBody":{"$ref":"#/components/requestBodies/updateConferenceRequest"},"responses":{"204":{"description":"Conference was successfully modified."},"400":{"$ref":"#/components/responses/voiceBadRequestError"},"401":{"$ref":"#/components/responses/voiceUnauthorizedError"},"403":{"$ref":"#/components/responses/voiceForbiddenError"},"404":{"$ref":"#/components/responses/voiceNotFoundError"},"405":{"$ref":"#/components/responses/voiceNotAllowedError"},"415":{"$ref":"#/components/responses/voiceUnsupportedMediaTypeError"},"429":{"$ref":"#/components/responses/voiceTooManyRequestsError"},"500":{"$ref":"#/components/responses/voiceInternalServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl \u0027https://voice.bandwidth.com/api/v2/accounts/9900000/conferences/conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Content-Type: application/json\u0027 \\\n  -H \u0027Accept: application/json\u0027 \\\n  -d \u0027{\n    \u0022status\u0022: \u0022completed\u0022,\n    \u0022redirectUrl\u0022: \u0022https://myServer.example/bandwidth/webhooks/conferenceRedirect\u0022,\n    \u0022redirectMethod\u0022: \u0022POST\u0022,\n    \u0022username\u0022: \u0022mySecretUsername\u0022,\n    \u0022password\u0022: \u0022mySecretPassword1!\u0022,\n    \u0022redirectFallbackUrl\u0022: \u0022https://myFallbackServer.example/bandwidth/webhooks/conferenceRedirect\u0022,\n    \u0022redirectFallbackMethod\u0022: \u0022POST\u0022,\n    \u0022fallbackUsername\u0022: \u0022mySecretUsername\u0022,\n    \u0022fallbackPassword\u0022: \u0022mySecretPassword1!\u0022\n  }\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class UpdateConferenceExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new ConferencesApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var conferenceId = conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9;  // string | Programmable Voice API Conference ID.\n            var updateConference = new UpdateConference(); // UpdateConference | \n\n            try\n            {\n                // Update Conference\n                apiInstance.UpdateConference(accountId, conferenceId, updateConference);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling ConferencesApi.UpdateConference: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.ConferencesApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    ConferencesApi apiInstance = new ConferencesApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    String conferenceId = \u0022conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9\u0022; // String | Programmable Voice API Conference ID.\n    UpdateConference updateConference = new UpdateConference(); // UpdateConference | \n    try {\n      apiInstance.updateConference(accountId, conferenceId, updateConference);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling ConferencesApi#updateConference\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"PHP","source":"\u003C?php\n  \nrequire \u0022vendor/autoload.php\u0022;\n\napi-username = \u0022api-username\u0022;\napi-password = \u0022api-pasword\u0022;\n12345 = \u002212345\u0022;\n\n$config = new BandwidthLib\\Configuration(\n    array(\n        \u0027voiceBasicAuthUserName\u0027 =\u003E $BW_USERNAME,\n        \u0027voiceBasicAuthPassword\u0027 =\u003E $BW_PASSWORD,\n    )\n);\n$client = new BandwidthLib\\BandwidthClient($config);\n\n$voiceClient = $client-\u003EgetVoice()-\u003EgetClient();\n\n$conferenceId = \u0022conf-1234\u0022;\n\n$body = new BandwidthLib\\Voice\\Models\\ModifyConferenceRequest();\n$body-\u003Estate = \u0022active\u0022;\n\ntry {\n    $voiceClient-\u003EmodifyConference($BW_ACCOUNT_ID, $conferenceId, $body);\n} catch (BandwidthLib\\APIException $e) {\n    print_r($e-\u003EgetResponseCode());\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.models.update_conference import UpdateConference\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.ConferencesApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    conference_id = \u0027conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9\u0027 # str | Programmable Voice API Conference ID.\n    update_conference = bandwidth.UpdateConference() # UpdateConference | \n\n    try:\n        # Update Conference\n        api_instance.update_conference(account_id, conference_id, update_conference)\n    except Exception as e:\n        print(\u0022Exception when calling ConferencesApi-\u003Eupdate_conference: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::ConferencesApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\nconference_id = \u0027conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9\u0027 # String | Programmable Voice API Conference ID.\nupdate_conference = Bandwidth::UpdateConference.new # UpdateConference | \n\nbegin\n  # Update Conference\n  api_instance.update_conference(account_id, conference_id, update_conference)\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling ConferencesApi-\u003Eupdate_conference: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    ConferencesApi,\n    Configuration,\n    UpdateConference\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new ConferencesApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet conferenceId: string; //Programmable Voice API Conference ID. (default to undefined)\nlet updateConference: UpdateConference; //\n\nconst { status, data } = await apiInstance.updateConference(\n    accountId,\n    conferenceId,\n    updateConference\n);\n"}]}},"/accounts/{accountId}/conferences/{conferenceId}/bxml":{"put":{"tags":["Conferences"],"summary":"Update Conference BXML","description":"Update the conference BXML document.","operationId":"updateConferenceBxml","parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/conferenceId"}],"requestBody":{"$ref":"#/components/requestBodies/updateConferenceBxmlRequest"},"responses":{"204":{"description":"Conference successfully modified."},"400":{"$ref":"#/components/responses/voiceBadRequestError"},"401":{"$ref":"#/components/responses/voiceUnauthorizedError"},"403":{"$ref":"#/components/responses/voiceForbiddenError"},"404":{"$ref":"#/components/responses/voiceNotFoundError"},"405":{"$ref":"#/components/responses/voiceNotAllowedError"},"415":{"$ref":"#/components/responses/voiceUnsupportedMediaTypeError"},"429":{"$ref":"#/components/responses/voiceTooManyRequestsError"},"500":{"$ref":"#/components/responses/voiceInternalServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X PUT \u0027https://voice.bandwidth.com/api/v2/accounts/9900000/conferences/conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9/bxml\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Content-Type: application/xml\u0027 \\\n  -H \u0027Accept: application/json\u0027 \\\n  -d \u0027\u003Celement\u003E\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n  \u003CBxml\u003E\n      \u003CStopRecording/\u003E\n  \u003C/Bxml\u003E\u003C/element\u003E\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class UpdateConferenceBxmlExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new ConferencesApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var conferenceId = conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9;  // string | Programmable Voice API Conference ID.\n            var body = \u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n\u003CBxml\u003E\n    \u003CStopRecording/\u003E\n\u003C/Bxml\u003E;  // string | \n\n            try\n            {\n                // Update Conference BXML\n                apiInstance.UpdateConferenceBxml(accountId, conferenceId, body);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling ConferencesApi.UpdateConferenceBxml: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.ConferencesApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    ConferencesApi apiInstance = new ConferencesApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    String conferenceId = \u0022conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9\u0022; // String | Programmable Voice API Conference ID.\n    String body = \u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n\u003CBxml\u003E\n    \u003CStopRecording/\u003E\n\u003C/Bxml\u003E; // String | \n    try {\n      apiInstance.updateConferenceBxml(accountId, conferenceId, body);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling ConferencesApi#updateConferenceBxml\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.ConferencesApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    conference_id = \u0027conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9\u0027 # str | Programmable Voice API Conference ID.\n    body = \u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n\u003CBxml\u003E\n    \u003CStopRecording/\u003E\n\u003C/Bxml\u003E # str | \n\n    try:\n        # Update Conference BXML\n        api_instance.update_conference_bxml(account_id, conference_id, body)\n    except Exception as e:\n        print(\u0022Exception when calling ConferencesApi-\u003Eupdate_conference_bxml: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::ConferencesApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\nconference_id = \u0027conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9\u0027 # String | Programmable Voice API Conference ID.\nbody = \u0027\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n\u003CBxml\u003E\n    \u003CStopRecording/\u003E\n\u003C/Bxml\u003E\u0027 # String | \n\nbegin\n  # Update Conference BXML\n  api_instance.update_conference_bxml(account_id, conference_id, body)\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling ConferencesApi-\u003Eupdate_conference_bxml: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    ConferencesApi,\n    Configuration\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new ConferencesApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet conferenceId: string; //Programmable Voice API Conference ID. (default to undefined)\nlet body: string; //\n\nconst { status, data } = await apiInstance.updateConferenceBxml(\n    accountId,\n    conferenceId,\n    body\n);\n"}]}},"/accounts/{accountId}/conferences/{conferenceId}/members/{memberId}":{"get":{"tags":["Conferences"],"summary":"Get Conference Member","description":"Returns information about the specified conference member.","operationId":"getConferenceMember","parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/conferenceId"},{"$ref":"#/components/parameters/memberId"}],"responses":{"200":{"$ref":"#/components/responses/getConferenceMemberResponse"},"400":{"$ref":"#/components/responses/voiceBadRequestError"},"401":{"$ref":"#/components/responses/voiceUnauthorizedError"},"403":{"$ref":"#/components/responses/voiceForbiddenError"},"404":{"$ref":"#/components/responses/voiceNotFoundError"},"405":{"$ref":"#/components/responses/voiceNotAllowedError"},"415":{"$ref":"#/components/responses/voiceUnsupportedMediaTypeError"},"429":{"$ref":"#/components/responses/voiceTooManyRequestsError"},"500":{"$ref":"#/components/responses/voiceInternalServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl \u0027https://voice.bandwidth.com/api/v2/accounts/9900000/conferences/conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9/members/c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Accept: application/json\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class GetConferenceMemberExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new ConferencesApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var conferenceId = conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9;  // string | Programmable Voice API Conference ID.\n            var memberId = c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85;  // string | Programmable Voice API Conference Member ID.\n\n            try\n            {\n                // Get Conference Member\n                ConferenceMember result = apiInstance.GetConferenceMember(accountId, conferenceId, memberId);\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling ConferencesApi.GetConferenceMember: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.ConferencesApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    ConferencesApi apiInstance = new ConferencesApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    String conferenceId = \u0022conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9\u0022; // String | Programmable Voice API Conference ID.\n    String memberId = \u0022c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85\u0022; // String | Programmable Voice API Conference Member ID.\n    try {\n      ConferenceMember result = apiInstance.getConferenceMember(accountId, conferenceId, memberId);\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling ConferencesApi#getConferenceMember\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}\n"},{"lang":"PHP","source":"\u003C?php\n\nrequire \u0022vendor/autoload.php\u0022;\n\napi-username = \u0022api-username\u0022;\napi-password = \u0022api-pasword\u0022;\n12345 = \u002212345\u0022;\n\n$config = new BandwidthLib\\Configuration(\n    array(\n        \u0027voiceBasicAuthUserName\u0027 =\u003E $BW_USERNAME,\n        \u0027voiceBasicAuthPassword\u0027 =\u003E $BW_PASSWORD,\n    )\n);\n$client = new BandwidthLib\\BandwidthClient($config);\n\n$voiceClient = $client-\u003EgetVoice()-\u003EgetClient();\n\n$conferenceId = \u0022conf-1234\u0022;\n$memberId = \u0022m-1234\u0022;\n\ntry {\n    $response = $voiceClient-\u003EgetConferenceMember($BW_ACCOUNT_ID, $conferenceId, $memberId);\n    print_r($response-\u003EgetResult()-\u003EmemberUrl);\n} catch (BandwidthLib\\APIException $e) {\n    print_r($e-\u003EgetResponseCode());\n}\n"},{"lang":"Python","source":"import bandwidth\nfrom bandwidth.models.conference_member import ConferenceMember\nfrom bandwidth.rest import ApiException\nfrom pprint import pprint\n\n# Defining the host is optional and defaults to http://localhost\n# See configuration.py for a list of all supported configuration parameters.\nconfiguration = bandwidth.Configuration(\n    host = \u0022http://localhost\u0022\n)\n\n# The client must configure the authentication and authorization parameters\n# in accordance with the API server security policy.\n# Examples for each auth method are provided below, use the example that\n# satisfies your auth use case.\n\n# Configure HTTP basic authorization: Basic\nconfiguration = bandwidth.Configuration(\n    username = os.environ[\u0022USERNAME\u0022],\n    password = os.environ[\u0022PASSWORD\u0022]\n)\n\n# Enter a context with an instance of the API client\nwith bandwidth.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = bandwidth.ConferencesApi(api_client)\n    account_id = \u00279900000\u0027 # str | Your Bandwidth Account ID.\n    conference_id = \u0027conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9\u0027 # str | Programmable Voice API Conference ID.\n    member_id = \u0027c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85\u0027 # str | Programmable Voice API Conference Member ID.\n\n    try:\n        # Get Conference Member\n        api_response = api_instance.get_conference_member(account_id, conference_id, member_id)\n        print(\u0022The response of ConferencesApi-\u003Eget_conference_member:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling ConferencesApi-\u003Eget_conference_member: %s\\n\u0022 % e)\n"},{"lang":"Ruby","source":"require \u0027time\u0027\nrequire \u0027bandwidth-sdk\u0027\n# setup authorization\nBandwidth.configure do |config|\n  # Configure HTTP basic authorization: Basic\n  config.username = \u0027YOUR USERNAME\u0027\n  config.password = \u0027YOUR PASSWORD\u0027\nend\n\napi_instance = Bandwidth::ConferencesApi.new\naccount_id = \u00279900000\u0027 # String | Your Bandwidth Account ID.\nconference_id = \u0027conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9\u0027 # String | Programmable Voice API Conference ID.\nmember_id = \u0027c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85\u0027 # String | Programmable Voice API Conference Member ID.\n\nbegin\n  # Get Conference Member\n  result = api_instance.get_conference_member(account_id, conference_id, member_id)\n  p result\nrescue Bandwidth::ApiError =\u003E e\n  puts \u0022Error when calling ConferencesApi-\u003Eget_conference_member: #{e}\u0022\nend\n"},{"lang":"TypeScript","source":"import {\n    ConferencesApi,\n    Configuration\n} from \u0027bandwidth-sdk\u0027;\n\nconst configuration = new Configuration();\nconst apiInstance = new ConferencesApi(configuration);\n\nlet accountId: string; //Your Bandwidth Account ID. (default to undefined)\nlet conferenceId: string; //Programmable Voice API Conference ID. (default to undefined)\nlet memberId: string; //Programmable Voice API Conference Member ID. (default to undefined)\n\nconst { status, data } = await apiInstance.getConferenceMember(\n    accountId,\n    conferenceId,\n    memberId\n);\n"}]},"put":{"tags":["Conferences"],"summary":"Update Conference Member","description":"Updates settings for a particular conference member.","operationId":"updateConferenceMember","parameters":[{"$ref":"#/components/parameters/accountId"},{"$ref":"#/components/parameters/conferenceId"},{"$ref":"#/components/parameters/memberId"}],"requestBody":{"$ref":"#/components/requestBodies/updateConferenceMemberRequest"},"responses":{"204":{"description":"Conference member was successfully modified."},"400":{"$ref":"#/components/responses/voiceBadRequestError"},"401":{"$ref":"#/components/responses/voiceUnauthorizedError"},"403":{"$ref":"#/components/responses/voiceForbiddenError"},"404":{"$ref":"#/components/responses/voiceNotFoundError"},"405":{"$ref":"#/components/responses/voiceNotAllowedError"},"415":{"$ref":"#/components/responses/voiceUnsupportedMediaTypeError"},"429":{"$ref":"#/components/responses/voiceTooManyRequestsError"},"500":{"$ref":"#/components/responses/voiceInternalServerError"}},"x-codeSamples":[{"lang":"cURL","source":"curl -X PUT \u0027https://voice.bandwidth.com/api/v2/accounts/9900000/conferences/conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9/members/c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85\u0027 \\\n  -H \u0027Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=\u0027 \\\n  -H \u0027Content-Type: application/json\u0027 \\\n  -H \u0027Accept: application/json\u0027 \\\n  -d \u0027{\n    \u0022mute\u0022: false,\n    \u0022hold\u0022: false,\n    \u0022callIdsToCoach\u0022: [\n      \u0022c-25ac29a2-1331029c-2cb0-4a07-b215-b22865662d85\u0022\n    ]\n  }\u0027"},{"lang":"C#","source":"using System.Collections.Generic;\nusing System.Diagnostics;\nusing Bandwidth.Standard.Api;\nusing Bandwidth.Standard.Client;\nusing Bandwidth.Standard.Model;\n\nnamespace Example\n{\n    public class UpdateConferenceMemberExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \u0022http://localhost\u0022;\n            // Configure HTTP basic authorization: Basic\n            config.Username = \u0022YOUR_USERNAME\u0022;\n            config.Password = \u0022YOUR_PASSWORD\u0022;\n\n            var apiInstance = new ConferencesApi(config);\n            var accountId = 9900000;  // string | Your Bandwidth Account ID.\n            var conferenceId = conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9;  // string | Programmable Voice API Conference ID.\n            var memberId = c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85;  // string | Programmable Voice API Conference Member ID.\n            var updateConferenceMember = new UpdateConferenceMember(); // UpdateConferenceMember | \n\n            try\n            {\n                // Update Conference Member\n                apiInstance.UpdateConferenceMember(accountId, conferenceId, memberId, updateConferenceMember);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\u0022Exception when calling ConferencesApi.UpdateConferenceMember: \u0022 \u002B e.Message);\n                Debug.Print(\u0022Status Code: \u0022 \u002B e.ErrorCode);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}\n"},{"lang":"Java","source":"// Import classes:\nimport com.bandwidth.sdk.ApiClient;\nimport com.bandwidth.sdk.ApiException;\nimport com.bandwidth.sdk.Configuration;\nimport com.bandwidth.sdk.auth.*;\nimport com.bandwidth.sdk.models.*;\nimport com.bandwidth.sdk.api.ConferencesApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\u0022http://localhost\u0022);\n    \n    // Configure HTTP basic authorization: Basic\n    HttpBasicAuth Basic = (HttpBasicAuth) defaultClient.getAuthentication(\u0022Basic\u0022);\n    Basic.setUsername(\u0022YOUR USERNAME\u0022);\n    Basic.setPassword(\u0022YOUR PASSWORD\u0022);\n\n    ConferencesApi apiInstance = new ConferencesApi(defaultClient);\n    String accountId = \u00229900000\u0022; // String | Your Bandwidth Account ID.\n    String conferenceId = \u0022conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9\u0022; // String | Programmable Voice API Conference ID.\n    String memberId = \u0022c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85\u0022; // String | Programmable Voice API Conference Member ID.\n    UpdateConferenceMember updateConferenceMember = new UpdateConferenceMember(); // UpdateConferenceMember | \n    try {\n      apiInstance.updateConferenceMember(accountId, conferenceId, memberId, updateConferenceMember);\n    } catch (ApiException e) {\n      System.err.println(\u0022Exception when calling ConferencesApi#updateConferenceMember\u0022);\n      System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n      System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n      System.err.println(\u0022Response headers: \u0022 \u002B e.get
[...]
